[2019-08-13 16:39] vrubezhny commented on #1142
@JanKoehnlein Does it mean that we have wrong behaviour in Class Hierarchy and Type Hierarchy Dialogs then?

[2019-08-13 17:04] vince-fugnitto commented on #5938
Is it more a Gitpod issue? It can be filed here https://github.com/gitpod-io/gitpod

[2019-08-13 18:48] andyli commented on #5938
I thought you were the same group of people since Gitpod's [doc](https://www.gitpod.io/docs/vscode-extensions/#your-extension-doesnt-work-as-expected) point me to here. I will investigate a bit and see if theia alone works will with the Haxe extension or not.

[2019-08-13 19:39] westbury commented on #3590
@akosyakov It appears you are absolutely correct.  I replaced the symbolic links (browser-app, electron-app, and serverevent in nodemodules) with copies of the directories and it worked correctly, one symbol with all 11 contributions.

[2019-08-13 20:43] westbury commented on #3590
Setting the --preserve-symlinks arg to node fixes the problem.  In the launch configuration the env setting is NODE_PRESERVE_SYMLINKS, so change 'env' in the launch configuration in the frontend-backend-theia-extn example with:
[code]

[2019-08-13 20:46] timkpaine commented on #4269
I've "solved" it by modifying the above script, as well as any subprocesses (e.g. [here](https://github.com/theia-ide/theia/blob/cc51575a2c8660f13794ed9099ee14daaca982b9/packages/process/src/node/raw-process.ts#L102)) to include the `LD_PRELOAD`.

[2019-08-13 20:46] #4269 closed

[2019-08-13 22:14] #5781 closed

[2019-08-13 22:22] vince-fugnitto commented on #5938
Yes, many Gitpod developers are Theia developers :)
I just wanted to confirm if it's in fact a Gitpod or Theia issue since the description mentioned Gitpod. It is good practice to check if it initially it works within Theia.

[2019-08-13 22:37] vince-fugnitto commented on #5938
I ran the application using the `haxe` extension you reference and can see errors being reported in the console. My project contains a simple hello-world haxe program.

<div align='center'>

<img width="827" alt="Screen Shot 2019-08-13 at 6 32 47 PM" src="https://user-images.githubusercontent.com/40359487/62982172-645f8a00-bdf9-11e9-9969-758da398914d.png">

</div>

[2019-08-14 03:46] HighCommander4 commented on #5854
In #5941, I have implemented a proposed workaround for Microsoft/monaco-editor#1070 in Theia. I'm not sure if it's the right approach, and even if it is the patch isn't complete, but it does fix this issue as well, confirming that it's the same underlying cause.

[2019-08-14 06:43] akosyakov commented on #3590
@westbury good that we have a workaround, but so strange that it is required

From [docs](https://nodejs.org/api/cli.html#cli_preserve_symlinks):

It sounds to me that all symlinks should be resolved the real path and load the same file. It seems to work on all OS, except windows? Maybe we should open an issued for nodejs to clarify.

[2019-08-14 06:45] akosyakov commented on #5936
That how it looks in VS Code: https://code.visualstudio.com/docs/editor/versioncontrol#_initialize-a-repository

[2019-08-14 06:47] akosyakov commented on #5937
Should it be also added to the navigator context menu?

[2019-08-14 07:15] #5388 closed

[2019-08-14 07:51] tsmaeder commented on #5667
@tolusha how are you sure the code you think you're executing is even executing? Without some log output or such you might just not executing the command.
However, since we don't have steps to reproduce, I am closing this one. @tetchel feel free to reopen if this is still a problem for you.

[2019-08-14 07:57] #5294 closed

[2019-08-14 08:24] akosyakov opened #5942 "support `do not disturb` mode for notifications"
It is a follow-up of https://github.com/theia-ide/theia/pull/5830.

As a user, i want to suppress pop up of all notifications. Instead counter should be updated in the status bar as a reminder that there are some messages. Counter should not blink or something to avoid distracting as well.

In VS Code it is not possible, so it is a proposal to implement in Theia.

cc @AlexTugarev

[2019-08-14 08:31] westbury commented on #3590
Yes, it certainly seemed backwards to me.  I would expect the default to work and setting the 'preserve-symlinks' to make it fail.  I certainly think you are right to call this a workaround and not a fix.

[2019-08-14 09:46] #5917 closed

[2019-08-14 10:32] 502647092 opened #5943 "save file and auto format have error on console"
### Description
save file and auto format
have error on console
[code]

### Reproduction Steps

- Install VsCode Plugin `vscode:extension/EditorConfig.EditorConfig`
- Open file and edit
- Format it

**OS and Theia version:**
latest next version 2019-08-13
**Diagnostics:**

[2019-08-14 11:22] kittaakos commented on #5937
It should copy the platform-specific paths. This means, on Windows the result of the copy should be like these:

 - `Copy Path`: `C:\Users\kittaakos\dev\theia\examples\browser\src-gen\frontend\index.js`
 - `Copy Relative Path`: `examples\browser\src-gen\frontend\index.js`

Otherwise, Windows users cannot do much with the copied paths.

[2019-08-14 11:23] kittaakos commented on #5937
https://github.com/theia-ide/theia/issues/1344

[2019-08-14 11:47] vrubezhny opened #5944 "Plugin API: Theia IDE doesn't support 'telemetry` property of 'workspace/configuration'"
### Description
PHP Intelephense extension fails to start due to lack of support of workspace configuration by Theia which is required in following call examples (https://github.com/bmewburn/vscode-intelephense/blob/master/src/middleware.ts#L278):
[code]

### Reproduction Steps
Download PHP Intelephense extension v.1.1.5 (https://github.com/bmewburn/vscode-intelephense/releases) and save it to The

[2019-08-14 11:52] vrubezhny opened #5945 "Plugin API: Theia IDE doesn't support 'files` property of 'workspace/configuration'"
### Description
PHP Intelephense extension fails to start due to lack of support of workspace configuration by Theia which is required in following call examples (https://github.com/bmewburn/vscode-intelephense/blob/master/src/middleware.ts#L278):
[code]

### Reproduction Steps
Download PHP Intelephense extension v.1.1.4 (https://github.com/bmewburn/vscode-intelephense/releases) and save it to The

[2019-08-14 12:05] vince-fugnitto commented on #1142
@JanKoehnlein I believe that in general <kbd>ENTER</kbd> should expand/collapse nodes, and only if some other functionality is required (ex: 'explorer' with the rename) should the individual tree override the default behavior. In the case of 'class hierarchy' and 'type hierarchy' the <kbd>ENTER</kbd> was problematic and thus was updated to not expand/collapse nodes. In most cases <kbd>ENTER</kbd>

[2019-08-14 12:16] akosyakov commented on #5944
@vrubezhny Is not it a dup of https://github.com/theia-ide/theia/issues/5945? an error is identical, please close if so

[2019-08-14 12:18] JanKoehnlein commented on #1142
Our problem is that we want to mimic VSCode behavior as close as possible while VSCode behaves differently on different OSs. Keybindings seem to be particularly problematic, as it is even hard to detect the keyboard when running in the browser.

I'd vote for keeping it simple and just put the same default behavior for all OSs and runtime scenarios (electron and browser), e.g. as you describe it. I

[2019-08-14 12:18] #1142 closed

[2019-08-14 13:39] vince-fugnitto commented on #5885
Closed in #5885

[2019-08-14 13:42] vince-fugnitto commented on #5919
@kpge is there anything else left to do with this issue after #5885 ?

[2019-08-14 13:44] lmcbout opened #5946 "Useful commands not available from context menu"
### Description
Between Theia version 0.8.0 and 0.9.0, we lost some functionalities
#### Version 0.8.0
Explorer view and project are on two lines
- Able to see the path of the project in workspace (When hovering)
- Able to call the command "Compare with" from the context menu of the explorer view
- Able to call the command "Add Folder to workspace" from the context menu

#### Version 0.9.0
Explore

[2019-08-14 13:55] akosyakov commented on #5946
@lmcbout What about master state? Do you want to have 0.9.1 or just 0.10.0?

[2019-08-14 13:55] vince-fugnitto commented on #5946
@lmcbout we have aligned our behavior with VSCode and now support more complex views for the explorer (ability to add sub-views such as `npm scripts`). VSCode also does not show the project path when hovering over the title. The command `Add Folder to Workspace` is also present in the explorer, just not from the `root` node (empty area or quick-open command menu).

What do you think should be done

[2019-08-14 13:57] akosyakov commented on #5946
@vince-fugnitto view containers are not part of 0.9.0, they will be available only in 0.10.0

[2019-08-14 13:58] akosyakov commented on #5885
We need to register `workbench.files.action.refreshFilesExplore` in the plugin system which delegates to `navigator.refresh`.

[2019-08-14 14:37] lmcbout commented on #5946
@akosyakov @vince-fugnitto No need to create a 0.9.1,version 0.10.0 is fine
Where do we see the project path! the only place to see it was when hovering over the workspace, not the view. Also, when we add a root workspace, then the menu becomes available as before. The way to see the new view is on the context menu of the view, not the workspace bar . Since the two lines (Workspace + view) are gro

[2019-08-14 14:40] vince-fugnitto commented on #5946
When running `master` the about dialog displays `0.9.0`.
I believe @lmcbout tested the latest master.

[2019-08-14 14:40] vince-fugnitto commented on #5946
Where do we see the workspace path in VSCode?

[2019-08-14 14:42] lmcbout opened #5947 "Drag & Drop a file to root is not available"
### Description
Drag & Drop a file to the root folder is not possible with Theia version 0.9.0
We can Drag a file to any sub folder, but when Dragging to the root folder, there is no "DROP" section available.

### Reproduction Steps
![CopyToRootV090](https://user-images.githubusercontent.com/419051/63030138-d5498500-be7f-11e9-9af6-a4577749f787.gif)

**OS and Theia version:**
Theia 0.9.0
OS: Ubuntu

[2019-08-14 14:43] vince-fugnitto commented on #5947
@lmcbout would you like to take care of fixing it?

[2019-08-14 14:51] lmcbout commented on #5946
If VSCode does not show the workspace path, then Theia should not show it even if  it was showing before !
You mean that Theia should always be less than VSCode !

[2019-08-14 14:52] kpge commented on #5919
@vince-fugnitto it can be  closed,  and  I will open a new issue to show a warning message

[2019-08-14 14:52] #5919 closed

[2019-08-14 14:54] lmcbout commented on #5946
Yes, version 0.9.0 I am using is based on this morning commit

[2019-08-14 14:56] vince-fugnitto commented on #5946
I don't quite understand what you mean by we should be less than VSCode.
I'm just stating that we had recent developments to align our views https://github.com/theia-ide/theia/pull/5665 with that of VSCode and support plugins. This means that we are closer to VSCode, and of course things will change (and more is supported). If VSCode does not display the workspace path in a single-root workspace,

[2019-08-14 14:56] vince-fugnitto commented on #5946
This morning's commit is 0.10.0 not 0.9.0.

[2019-08-14 15:07] lmcbout commented on #5946
Whether we are in a single root or multi-root, Theia should show the workspace path. If VSCode is not showing it in a single root, it is  mistake.

[2019-08-14 15:10] vince-fugnitto commented on #5946
Then simply state that you think we should include the workspace path despite VSCode not currently displaying it. I don't think it's professional or necessary to write that you think I believe we should be or are less than VSCode.

[2019-08-14 15:17] akosyakov commented on #5947
@lmcbout please rename issues, 0.9.0 does not have such changes, master state is 0.10.0

[2019-08-14 15:33] akosyakov commented on #5946
@vince-fugnitto Cannot really grasp is here issues a part of issues with the title?

[2019-08-14 15:38] vince-fugnitto commented on #5946
@akosyakov from what I gather, @lmcbout would like to include the workspace path when hovering over the widget title. It'd be a lot easier to track the issues separately I think.

[2019-08-14 15:43] lmcbout commented on #5946
I think this issue could be resolved if we continue to use two separated lines , one for the view with it own context menu and one for the workspace with its own context menu. Then whether we use a single or multi-root workspace, we always get the appropriate functionality

[2019-08-14 15:51] vince-fugnitto commented on #5946
Can you clarify what you mean by `view` an `workspace` lines?
Do you mean have the `Explorer` title, and then lower keep the workspace root node in the tree?
If so, it defeats the purpose of the recent changes and alignment effort.

[2019-08-14 16:08] vince-fugnitto commented on #5946
@akosyakov I have a working poc which adds `titles` for sidebar panels, and in the case of the explorer I display the path. Is it acceptable?

<div align='center'>

![Aug-14-2019 12-06-13](https://user-images.githubusercontent.com/40359487/63037012-26f80c80-be8c-11e9-8580-14701157cf78.gif)

</div>

[2019-08-14 17:15] lmcbout commented on #5946
@vince-fugnitto  the POC just above seems to fix a portion of the issue, what about the commands in the context menu?  Also, do you have a DROP zone to drop files at the root level ( issue #5947 ) when you only have a single root !

[2019-08-14 17:19] vince-fugnitto commented on #5946
I never mentioned the POC fixing all issues, the POC only addresses the 'title'.
For the context menu, what do you believe should be included that cannot be performed by other means?

[2019-08-14 17:20] vince-fugnitto commented on #5946
I asked in #5947 if you'd like to handle the dnd.

[2019-08-14 17:35] lmcbout commented on #5946
The POC addresses the "title", I think we need to look for a global solution which will include the "title", the context menu" and the issue #5947
The context menu for the "Explorer " view will be useful, but I don't think it should include the context menu for the workspace under the same menu. (which is missing now)

You asked If I wanted to handle issue #5947 I think whoever will handle the iss

[2019-08-14 17:36] tetchel commented on #5667
It's still an issue. In one of my extension's WebViews I have a button which opens a particular file. If that file is missing in VS Code, the user gets an error. If it's missing in Theia, the button appears to not work even though it is executing the command.

[2019-08-14 17:45] vince-fugnitto commented on #5946
I updated the 'title' because it is present in VSCode so we can now support it.
All widgets present in the sidebar that display a 'header' will now have a title attribute.

I'm not sure where this context menu should be? I also don't know what items to include in it.
The view integration provides a context menu to show/hide integrations to the view.

Also, it will probably collide with this curren

[2019-08-14 19:38] vince-fugnitto commented on #827
Closed thanks to #5894

[2019-08-14 19:38] #827 closed

[2019-08-15 07:18] tolusha commented on #5667
@tetchel
Thank you. I've updated my test extension [1] and I am able to reproduce the bug.
Obviously VS Code try to create a new file [2] when it isn't found.

[1] https://github.com/tolusha/vscode-test-extensions/blob/master/open-some-file-0.0.1.vsix
[2] https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/contrib/files/browser/editors/textFileEditor.ts#L184

[2019-08-15 07:56] kpge commented on #5947
After we remove the root folder from explorer, there's no root folder node in single root workspace (multiple root workspace still have the root folder), so we can't drag a file to the root node.
In `theia@0.8.0`, drap a file in blank space is failed too, it's because that the blank space is not a folder node, but in Vscode  it points to the root folder node, so drap a file in blank space can move

[2019-08-15 09:48] akosyakov commented on #5947
Can we install listeners on widget node instead?

What are expectations in the multi-root scenario, nothing should be happened or we should add a folder as a workspace root?

[2019-08-15 09:48] akosyakov commented on #5946
The view integration provides a context menu to show/hide integrations to the view.

Could we add actions to `more` context menu of the title toolbar?

[2019-08-15 09:49] akosyakov commented on #5946
@vince-fugnitto Where can I see source code of a POC? Does it rely on caption of a part widget similarly to a title? If so we can do it.

[2019-08-15 09:54] akosyakov commented on #5947
@kpge feel free if you want to have a look into it

[2019-08-15 09:57] svenefftinge opened #5949 "[debug] callstack not expanded on breakpoint stop"
Starting a launch config with a breakpoint (nodejs) that hits, doesn't expand the call stack on the left. It should reveal the debug view and the call stack.

[2019-08-15 10:11] akosyakov commented on #5949
I think it should not happen always, as a user i would like to hide it have more space for the editor and debug console. So If i did it, it should not pop up again at least for the same session, so probably it should work only on the first stop.

[2019-08-15 10:12] akosyakov commented on #5949
@svenefftinge Actually, there is a preference `debug.openDebug` which allow to configure it: https://github.com/theia-ide/theia/blob/17bfcb2eee69acccade5106de050576f6c46206a/packages/debug/src/browser/debug-preferences.ts#L33-L37

Should we change a default to `openOnDebugBreak`?

[2019-08-15 10:18] vince-fugnitto commented on #5946
I added the PR here https://github.com/theia-ide/theia/pull/5948

[2019-08-15 10:27] #5468 closed

[2019-08-15 11:25] svenefftinge commented on #5949
`openOnSessionStart` seems to be good. My main surprise was that the container for the call stack didn't expand.

[2019-08-15 12:31] akosyakov commented on #5949
It should be opened by default. But then if a user hides it on purpose, it would be strange to show it automatically. One can use a keyboard to control the debug session and hover over variables to see values without seeing the call stack. Or one can collapse the call stack to get more space for variables and then step over to see how variables updated. If call stack gets auto expanded in such cas

[2019-08-15 12:37] svenefftinge commented on #5949
Turns out to be an initialization problem with view containers that is fixed on master already.

[2019-08-15 12:37] #5949 closed

[2019-08-15 12:50] akosyakov opened #5950 "layout migration from 2.0 to 3.0 version"
As soon as we release next version (0.10.0) all existing layouts will be discarded. We could prevent it by introducing the layout migration mechanism. It will detect that restored layout data of version 2.0 and migrate them to version 3.0 before inflating from them.

Should we consider doing it? cc @svenefftinge

[2019-08-15 12:54] akosyakov commented on #5946
@vince-fugnitto Is it clear what I mean under: https://github.com/theia-ide/theia/issues/5946#issuecomment-521585267

So like in SCM:
<img width="1552" alt="Screen Shot 2019-08-15 at 14 53 44" src="https://user-images.githubusercontent.com/3082655/63095823-84fc2100-bf6c-11e9-8787-e4add3d7dd00.png">

[2019-08-15 12:57] vince-fugnitto commented on #5946
Yes, I understood the `...` toolbar item displaying the `More` context-menu :)

[2019-08-15 13:00] vince-fugnitto commented on #5946
@akosyakov I'll extract the feature into it's own issue so we can track who's working on it and what items should be displayed in the menu.

[2019-08-15 13:06] vince-fugnitto opened #5951 "[explorer/navigator] implement 'More' toolbar item with context menu"
**Description**

Based on https://github.com/theia-ide/theia/issues/5946#issuecomment-521630400

Support _"More"_ toolbar item and context menu for the `explorer` widget which will contain helpful methods for the view (ex: `Add Folder to Workspace`)

A similar implementation is present in the `Git` explorer:

<img src="https://user-images.githubusercontent.com/3082655/63095823-84fc2100-bf6c-11e9-8

[2019-08-15 13:07] vince-fugnitto commented on #5946
Opened the issue #5951 to track it.

[2019-08-15 13:19] akosyakov commented on #5950
Discussed with @svenefftinge, we will do it to avoid breaking existing layouts.

[2019-08-15 13:22] akosyakov commented on #5951
It should display what it used to display in the context menu before introducing view containers.

[2019-08-15 14:07] akosyakov commented on #3712
should be fixed in https://github.com/theia-ide/theia/pull/4846

[2019-08-15 14:07] #3712 closed

[2019-08-15 14:21] vince-fugnitto commented on #5951
I started implementing the 'more' toolbar but I realized a lot of the commands will need to be updated / duplicated in order to support the feature. They mostly use a `UriAwareCommandHandler` and since there is no longer a root node present (with a URI) the toolbar is not visible until a selection is made in the widget. I will need to adjust or duplicate the commands to default to the root node if

[2019-08-15 15:02] marechal-p opened #5952 "upgrade dependencies"
### Description

`yarn audit` finally works on the main repository, and here's the output:

[code]

To be fair, this is not a huge issue in itself, for two reasons:

1. It is due to having a lock file, despite our version ranges targeting newer versions, the lock file prevent us from pulling updated packages.
2. Clients will most likely pull up-to-date packages.

Although this becomes an issue whe

[2019-08-15 15:12] vince-fugnitto commented on #5952
How many of the issues are from `production` and not `devDependencies`?

[2019-08-15 15:13] marechal-p commented on #5952
No idea, too many.

[2019-08-15 15:24] lmcbout commented on #5952
@marechal-p What about the 3 critical, did you have a look at those ?

[2019-08-15 15:54] marechal-p commented on #5952
Those were dev dependency related, still trying to bring the counters as close to 0.

[2019-08-16 01:05] kpge commented on #5947
I think nothing should be happened  in the multi-root scenario, because the root folder had been shown in the explorer

And I will have a look at it in the weekend :)

[2019-08-16 07:11] 502647092 commented on #4901
@akosyakov
i find all the tree view
rigit click will cause it move to top
![temp](https://user-images.githubusercontent.com/10203793/63149921-0c629680-c038-11e9-85d0-da8ee804198d.gif)

[2019-08-16 07:24] 502647092 opened #5956 "Git History open diff editor have error title"
### Description
![image](https://user-images.githubusercontent.com/10203793/63150585-c27ab000-c039-11e9-8757-509428c2025f.png)

### Reproduction Steps

- open git history
- open commit
- open diff editor

**OS and Theia version:**
git-commit: 9105c43ab

**Diagnostics:**

[2019-08-16 07:55] akosyakov commented on #5956
@502647092 I could not reproduce it from the master:
<img width="1552" alt="Screen Shot 2019-08-16 at 09 54 41" src="https://user-images.githubusercontent.com/3082655/63152360-ed4e0f80-c00b-11e9-84ef-7d604dba5834.png">

If you can write done more concrete scenario, like how do you open git history from which context, which commit and which file maybe it would help to reproduce.

[2019-08-16 07:57] akosyakov commented on #5956
@vince-fugnitto maybe we introduced it by https://github.com/theia-ide/theia/commit/9105c43ab0fc0b386adbf698f74356055772d9c4#diff-030d37e8ae5f19ecc3c08047f819e016R100 not sure

@502647092 is there a change that you can have a look into it?

[2019-08-16 07:59] akosyakov commented on #4901
ok, i will have a look, it seems to be super annoying UI glitch

btw is it a dup of https://github.com/theia-ide/theia/issues/1593?

[2019-08-16 08:02] 502647092 commented on #4901
not
#1593 is left click and scroll a little
this is right click and scroll to top

[2019-08-16 12:45] vince-fugnitto commented on #5956
Checking out master at e8a29ca5690548b1a7fa0a646274be2c3e9b0426, I can confirm that the issue is also present.

[2019-08-16 12:52] akosyakov commented on #5956
ok, someone has to figure out what is wrong, we also changed `NavigatableWidgetOpenHandler`, maybe it is the reason

I can have look earlier somewhere next week, if someone can before please do

[2019-08-16 12:58] vince-fugnitto commented on #5956
It has to do with the changes from https://github.com/theia-ide/theia/pull/5918.
Removing the call `normalizePath()` fixes the issue.

[2019-08-16 13:16] akosyakov commented on #5956
@a1994846931931 Would you have change to have a look at https://github.com/theia-ide/theia/issues/5956#issuecomment-522000190? It seems we missed some cases.

[2019-08-16 13:38] AlexTugarev commented on #5942
I think notifications could be even filtered by severity when it comes to show a toast, e.g. I'd still want to see errors.

[2019-08-16 13:42] AlexTugarev opened #5957 "Show progress in Search view"
As a follow-up of https://github.com/theia-ide/theia/pull/5830.

It would be quite useful to see a progress indicator for search tasks similar to git/scm.

[2019-08-16 13:45] AlexTugarev opened #5958 "Show progress in Quick Input Widget"
As a follow-up of https://github.com/theia-ide/theia/pull/5830.

It would be quite useful to see a progress indicator e.g. when loading items takes longer.

[2019-08-16 13:48] AlexTugarev opened #5959 "Show progress in Explorer"
As a follow-up of https://github.com/theia-ide/theia/pull/5830.

A progress indicator similar to git/scm could be useful.

[2019-08-16 13:55] AlexTugarev opened #5960 "Add keyboard navigation to Notifications"
As a follow-up of https://github.com/theia-ide/theia/pull/5830.

User should be able to tab into the list of notifications, select one (arrow up/down), and e.g. clear it (delete)

[2019-08-16 13:57] a1994846931931 commented on #5956
@akosyakov Sure, I'll take a look at it soon. Maybe tomorrow morning, since it's late at night here and I happen to be on a train.

[2019-08-16 15:26] akosyakov opened #5962 "show progress in editor for language operations"
While language server is starting and loading, the blueish progress bar should run in the editor area.

[2019-08-16 20:12] gorkem commented on #2896
I do not think there is anything else left to do on this one closing

[2019-08-16 20:12] #2896 closed

[2019-08-16 20:17] gorkem opened #5965 "Allow hosted plugin to load multiple plugins"
### Description
Implement a mechanism to select multiple plugins to be loaded to the hosted plugin instance. I this we can pass a json object that gives information about for more than one plugin to the loaded by the hosted instance.

[2019-08-17 01:13] yeweiasia commented on #5926
https://github.com/theia-ide/theia/pull/5963

[2019-08-17 01:55] yeweiasia opened #5967 "vscode java dependency plugin error when expand class node"
### Description

vscode java dependency plugin throw errors when expand class node in
javaDependencyExplorer

### Reproduction Steps

![javadependencyerror](https://user-images.githubusercontent.com/16164849/63205203-f6a2af00-c0d3-11e9-9b6c-101ce63268f7.gif)

**OS and Theia version:**
ubuntu 18.04
theia 0.9.0

**Diagnostics:**

backend log:
[code]
web browser console log:
<img width="1071" alt="Ca

[2019-08-17 02:07] 502647092 opened #5968 "[fs-watcher] not support soft link watch"
### Description
fs-watcher not support soft link watch

### Reproduction Steps
![temp](https://user-images.githubusercontent.com/10203793/63205430-ab3dd000-c0d6-11e9-8915-3bfe1cc4465e.gif)

**OS and Theia version:**
git-commit: 9105c43ab

**Diagnostics:**

[2019-08-17 02:32] yeweiasia opened #5969 "[debug console]selected line get lost after scrolling the window"
### Description
If multi line in debug console were selected and scroll the window, selected line will be unselected when they are become invisible.  so select long text form debug console become impossible after scrolling.

### Reproduction Steps
![debug_console_copy_paste](https://user-images.githubusercontent.com/16164849/63205613-9ca4e800-c0d9-11e9-88f1-2fca3640b2ed.gif)

**OS and Theia versio

[2019-08-17 02:44] yeweiasia commented on #5969
this bug also exist in latest version of vscode 1.37.1

[2019-08-17 03:03] yeweiasia opened #5970 "[debug console]copy selected item will cause console scroll to the top position"
### Description
copy selected item will cause console scroll to the top position

### Reproduction Steps
![debug_console_copy_scroll_to_top](https://user-images.githubusercontent.com/16164849/63205927-7766a880-c0de-11e9-8096-e9fb2b063451.gif)

**OS and Theia version:**
theia 0.9.0
ubuntu 18.04

**Diagnostics:**

[2019-08-17 04:57] a1994846931931 commented on #5956
The problem is caused by that empty path `''` will be normalized as `.` This is also the way how Node.JS path handle it. So it isn't a problem, until we call `URI.normalizePath()` on URI whose scheme is not `file`. A PR will come soon.

[2019-08-17 07:25] akosyakov commented on #5967
It's caused by https://github.com/theia-ide/theia/issues/4048

[2019-08-17 07:25] akosyakov commented on #4048
@vzhukovskii are you looking into it, if not please remove from assignments that other could grab it

[2019-08-17 07:31] akosyakov commented on #5968
Unfortunately nsfw reports an event only for one symlink, not all :( We've decided to resolve all symlinks to real paths: https://github.com/theia-ide/theia/issues/2566#issuecomment-477478224 It covers most of the cases. But obviously we cannot report for all symlinks, since we don't have such information. Also see https://github.com/Axosoft/nsfw/issues/30, implementing it via indexing all symlink

[2019-08-17 07:33] akosyakov commented on #5968
As an idea we could try to preserver an information whether the given file node is a symlink or not and to which realpath and refresh it as well when an event is reported. I remember trying something like that but it would fix an issue only for the navigator and design was quite impactful to apis.

[2019-08-17 07:39] #5956 closed

[2019-08-17 07:54] 502647092 commented on #5970
@akosyakov
maybe this problem same as tree view

[2019-08-17 08:09] akosyakov commented on #5970
@502647092 could be, generally scrolling in the debug console is quite broken right now :( see also https://github.com/theia-ide/theia/issues/5495 and https://github.com/theia-ide/theia/issues/5493

[2019-08-17 09:44] #1360 closed

[2019-08-17 09:44] #5415 closed

[2019-08-17 09:44] #5635 closed

[2019-08-17 17:06] elaihau commented on #5517
All tasks can be retrieved from the `task-service.ts`.

Configured tasks can be retrieved from `task-configurations.ts`, and detected tasks from `provided-task-configurations.ts`.

Take this compound task for example:
[code]
with all the task data in memory, I believe we are able to find `Client Build` task and `Server Build` task, and start them sequentially.

In current theia, we open a separate

[2019-08-17 19:02] elaihau opened #5974 "support "showOutput" flag in task config"
### Description

In VS Code there is a `showOutput` flag we can use to toggle if task output should show up in the terminal
https://stackoverflow.com/a/38723286

In Theia we should implement the same thing to achieve the same user experiences.

### Reproduction Steps

Run any task in Theia. The task output shows up in the terminal.

**OS and Theia version:**

Ubuntu 18.04. master branch as of Aug

[2019-08-18 04:54] elaihau commented on #5878
changes from both https://github.com/theia-ide/theia/pull/5975 and https://github.com/theia-ide/theia/pull/5915 are needed to fix this one.

[2019-08-18 06:44] #4504 closed

[2019-08-18 11:57] idoprz commented on #5517
task-service.ts and task-configurations.ts are both in the browser.
Looking at the code it seems that the correct place to run tasks are from task-server, which is in the node part.

Regarding the behavior you suggested, VSCode runs each dependent task on a new terminal.

[2019-08-18 13:07] akosyakov commented on #5902
To my surprise it caused issues only in browser code, in Node.js es5 classes seem to extend es6 classes without issues. I would leave it out from Monaco migration, could be done separately.

[2019-08-18 13:13] akosyakov commented on #4271
@evidolob I think you are almost nailed it! I can see only 3 files are loaded:
<img width="508" alt="Screen Shot 2019-08-18 at 15 11 10" src="https://user-images.githubusercontent.com/3082655/63224856-7d39b800-c1ca-11e9-8d7a-a0356f0212f5.png">

If these files are reused in main process, maybe we should move them to common.

It would be good to have https://github.com/theia-ide/theia/issues/5873 th

[2019-08-18 16:08] westbury commented on #5974
This is related to https://github.com/theia-ide/theia/pull/5597 .  That PR exposes output on the frontend but does not dictate where it goes, so it can go to, for example, a progress monitor, output channel, or a problem marker generator.  Remember that Theia is extendable whereas VS Code is not, so while a toggle may be appropriate for VS Code, the ability to rebind API is more useful for Theia e

[2019-08-18 16:19] westbury commented on #5959
See also PR https://github.com/theia-ide/theia/pull/5535.  That PR shows progress by an tree item and solves the problem of showing when individual items in a tree are 'in progress'.  We should make both available because in some cases the progress will apply to the workspace as a whole and if other cases progress will apply to a single item in the tree.

[2019-08-18 16:32] elaihau commented on #5517
yep, that's how things work in theia. we just resolve the task config in browser and pass it to the node part.

running each dependent task in a new terminal sounds good. sorry for the misleading comment.

[2019-08-19 02:47] 502647092 opened #5977 "theia how to realize compatibility vscode"
### Description
where is the vscode plugin entry point

### Reproduction Steps
**OS and Theia version:**
**Diagnostics:**

[2019-08-19 02:48] 502647092 commented on #5977
@akosyakov

[2019-08-19 08:32] 502647092 opened #5978 "[vscode][webview] support theming-webview-content"
### Description
webview need impl theming-webview-content
vscode doc
https://code.visualstudio.com/api/extension-guides/webview#theming-webview-content
we can add theme info to body

[code]

[code]

- [x] support theme #5981
- [ ] support CSS variables
[code]
- [ ] support Theme Color [Reference](https://code.visualstudio.com/api/references/theme-color)
- [ ] support font related variables

### Re

[2019-08-19 08:35] vzhukovskii commented on #4048
@akosyakov, I've removed assignment. In our task list this issue doesn't have high priority.

[2019-08-19 08:48] 502647092 commented on #5978
packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts#58
[code]

[2019-08-19 09:09] 502647092 opened #5979 "explorer tree view sometime cause cpu 100%"
### Description
![image](https://user-images.githubusercontent.com/10203793/63253120-d0cc0480-c2a3-11e9-802b-48672d2d1930.png)
![image](https://user-images.githubusercontent.com/10203793/63253180-ed683c80-c2a3-11e9-86f6-c80ea24d4d6f.png)

### Reproduction Steps
I don't know how to reproduce it
but it happened several times.

**OS and Theia version:**
**Diagnostics:**

[2019-08-19 09:56] 502647092 opened #5982 "[vscode] plugin schema vaild error"
### Description
theia report schema vaild error
[code]
[code]
### Reproduction Steps

- ext install humao.rest-client
- start example/brower
- look console

**OS and Theia version:**
**Diagnostics:**

[2019-08-19 10:15] 502647092 commented on #5982
is plugin problem not theia
https://json-schema.org/understanding-json-schema/reference/numeric.html?highlight=exclusiveminimum#range

[2019-08-19 10:23] 502647092 commented on #5982
but in draft4 this prop is currect
[code]

[2019-08-19 10:30] a1994846931931 opened #5983 "Implement interactive command-variable resolver"
### Description
In VSCode, it is possible to interactively ask for the program path by
1. Set `program` to `"${workspaceFolder}/${command:askProgramPath}"` in `launch.json`
2. Register `askProgramPath` command in plugin, for example
[code]

When debugging, an input box will be shown, and `${command:askProgramPath}` will be replaced by the user input.

Do we have a plan for implementing this featur

[2019-08-19 11:29] vince-fugnitto commented on #5979
@502647092 please try and find reproduction steps and also any console logs that may be reported.
Also, if present, list any plugins that may have been used so we get the entire or full picture.

[2019-08-19 12:23] #2887 closed

[2019-08-19 13:19] soerendomroes opened #5984 "Preferences are ignored on reload of browser tab"
### Description
The workspace preference for `workspace.preserveWindow` is set to `true`. If I run my Theia instance in socket mode and connect to `localhost:3000` the first time I correctly get the right value for the preference. Reloading the browser tab causes the preference to be not correctly read and returning `false` (the default value). The settings.json still displays the correct value `t

[2019-08-19 13:27] soerendomroes opened #5985 "User preference tab has focus while workspace preference have precedence"
### Description
If I have a workspace setting file in my workspace it has precedence over the user settings file.
However, if I open the preferences widget the user preferences tab is shown per default. If I try to change a setting that is also defined by the workspace settings I can change it in the widget, but the value does not update (since the workspace settings have precedence).
I suggest to

[2019-08-19 13:36] vince-fugnitto commented on #5985
@soerendomroes I believe when opening the `preferences` widget the following tab order is present:
- _user_ tab
- _workspace_ tab
- _folder_ tab (if multi-root is enabled)

The order remains constant and is aligned with the display present in VSCode.
Are you suggesting updating the order, or are you asking on how you can change the order?

[2019-08-19 13:41] soerendomroes commented on #5985
I suggest to update the order.

[2019-08-19 13:45] vince-fugnitto commented on #5985
If we are aligning with VSCode, the order should remain the same: `User`, `Workspace` and `Folder`.

[2019-08-19 13:50] vince-fugnitto commented on #5984
@soerendomroes

Do you mind providing a bit more information on what the behavior was?
It is highly possible that when logging the preference value from the `onStart` method present in the `GettingStartedWidget` the default value was logged until the preferences were ready which would later update to it's correct value.

During my own tests I have enabled/disabled the `preserveWindow` preference a

[2019-08-19 14:10] soerendomroes commented on #5984
You are right. The preferences are not ready and the default value is logged. If I log the value later it is correct.
Do you have any suggestion how I can wait until the preferences are ready?

[2019-08-19 14:17] #5984 closed

[2019-08-19 14:18] vince-fugnitto commented on #5984
I believe you can do something like:

[code]

[2019-08-19 16:29] AlexTugarev commented on #5979
@svenefftinge showed me today a quite intense update chain related to view containers.
@akosyakov could be related, but unfortunately I've no more infos to support this.

[2019-08-19 16:35] AlexTugarev opened #5987 "Search preview is missing trailing whitespaces"
try to search for `"something "` where the trailing space is matched as well,
e.g. `something something`.

currently, the preview including the highlighted search string will remove the trailing whitespace,
e.g. `somethingsomething`

this is a bit annoying when it comes to preview of replacements.

[2019-08-19 17:49] AlexTugarev commented on #5962
vscode shows progress in the `window` location (status bar) for starting LS'.

this tasks would you suggest to link with. I've seen once this indefinite progress bar in vscode at the top of editors; can't recall how to reproduce it 😞

[2019-08-19 17:53] AlexTugarev opened #5988 "Show progress in Debug view"
As a follow-up of https://github.com/theia-ide/theia/pull/5830.

It would be nice to see a progress indicator for debug actions similar to git/scm.

[2019-08-20 01:26] jtovar43 opened #5991 "Can't install NPM extensions"
### Description
When trying to install npm extensions via the terminal I get errors. The most common one is `Failed at the nsfw@1.2.5 install script.` I am trying to get Theia to support code completion and linting for Python but I can't find much support on how to do so. Is installing NPM extensions the correct way to do so?

[2019-08-20 06:25] alesanchezr opened #5992 "VS Plugin installed but not working"
### Description
I have added the follwing extension to gitpod and it does not seem to work:
https://github.com/alesanchezr/python-string-sql

### Reproduction Steps
You can install the extension from here:
https://github.com/alesanchezr/python-string-sql/blob/master/docs/python-string-sql-1.1.0.vsix

Create a python file like this:
[code]

The python string should be highlighted with SQL or HTML s

[2019-08-20 06:33] svenefftinge commented on #5992
Could be that it in Gitpod because we are still using the Theia Python extension rather than the one from VS Code. @AlexTugarev any ideas?

[2019-08-20 07:56] idoprz commented on #5517
The dependencies can create a DAG, which should be converted to a tree. Do you suggest I will read all tasks in the browser and create the tree by adding to TaskCustomization interface:
`dependentTasks: TaskCustomization[];`

[2019-08-20 08:30] tolusha opened #5993 "Error when try to start Theia with eclipse-cdt plugin"
### Description
Error when try to start Theia with eclipse-cdt plugin

### Reference issue
https://github.com/eclipse/che/issues/14290

### Reproduction Steps
1. Put extension [1] in the `plugin` folder.
2. Start Theia
3. Observe the error below

**OS and Theia version:**
Linux, Theia latest

**Diagnostics:**
Stack tracke
[code]

[1] https://github.com/che-incubator/che-cpptools/releases/download/

[2019-08-20 08:41] #5653 closed

[2019-08-20 09:24] akosyakov commented on #5992
@AlexTugarev please move an issue to Gitpod if it is so

[2019-08-20 09:25] akosyakov commented on #5991
@jtovar43 does it fail sporadically for you? Or it is consistent and with the same error? Maybe npm registry had troubles or your network connection?

[2019-08-20 09:33] akosyakov commented on #5962
it would be bug if it happens, but otherwise it is nice to see it while references are resolving

yes, it should be  `window` location. In VS Code editors cannot belong to different areas, only to main, so for them showing `window` progress always in main ares, makes sense. For us, I am not sure that it is going to work nicely. We could end up with multiple running progress bars in different ares,

[2019-08-20 09:36] akosyakov commented on #5979
I've marked it as `criticial` meaning that it would be good to reproduce and fix before next release if it's indeed related to view containers changes.

[2019-08-20 09:41] 502647092 commented on #5979
@akosyakov
if workspace file have circular reference will cause this problem?

[2019-08-20 09:44] akosyakov commented on #5983
@a1994846931931 I believe it was already implemented for launch configurations. Could you try with the latest master? See commits https://github.com/theia-ide/theia/pull/5835/commits/910dd8ead2d0dde900951e4503c0382e558d56b7 and https://github.com/theia-ide/theia/pull/5835/commits/2c97bc588c19de816350c51734675f5fdcfbe05d

[2019-08-20 09:45] akosyakov commented on #5983
although variable looks bogus, should not it be `command:cdt.debug.askProgramPath`?

[2019-08-20 09:49] akosyakov commented on #5979
@502647092 I don't know, if you can provide an example it would be good.

I'm more worried that it is a regression caused by view containers, what you describe will be a bug.

[2019-08-20 09:53] akosyakov commented on #5977
@502647092 i have not implemented Theia plugins, we usually do a VS Code extension with additional namespaces, like `sprotty`. When we use  `theia` namespace, it is troublesome for us to understand which API is implemented in VS Code as well or not.

You can have a look at https://www.theia-ide.org/doc/Authoring_Plugins.html
It says `theiaPlugin/backend`

Maybe someone else from @theia-ide/plugin-

[2019-08-20 09:57] akosyakov commented on #5982
@502647092 It can be timing issues, plugins schemas are loaded after preferences are parsed first time. It is probably not harmful, but certainly annoying.

[2019-08-20 10:13] AlexTugarev commented on #5962
don't get it. why it's a bug? in vscode there is a progress bar which belongs to the editor group.

<img width="760" alt="Screen Shot 2019-08-20 at 12 12 23" src="https://user-images.githubusercontent.com/914497/63338855-eee94180-c343-11e9-840a-1f01f2b2d90a.png">

[2019-08-20 10:17] AlexTugarev commented on #5962
that's not the case. there is a `window` location, but progress from an editor (and as mentioned, I don't understand yet what exactly triggers it) will go to it's group container.

[2019-08-20 10:30] a1994846931931 commented on #5983
@akosyakov Yes, it works if I change `command:askProgramPath` to `command:cdt.debug.askProgramPath`. But it seems that VSCode is able to map `command:askProgramPath` to `command:cdt.debug.askProgramPath` automatically. So I guess the real problem is that theia cannot do the command mapping? Not very sure about this. Please tell me if I am wrong.

[2019-08-20 10:55] 502647092 commented on #5979
![image](https://user-images.githubusercontent.com/10203793/63341327-8e75f680-c37b-11e9-9f1f-1930e9a0f4cb.png)
again cpu100%
i ctrl + click symbol to open a file
after file open window is freeze
i can't get snapshots
![image](https://user-images.githubusercontent.com/10203793/63341526-f88e9b80-c37b-11e9-8c49-242a98af76fd.png)

[2019-08-20 11:02] AlexTugarev commented on #5992
@akosyakov it looks like `injectionSelector` doesn't work, so this is a Theia issue.

https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#creating-a-basic-injection-grammar

[2019-08-20 12:25] #5987 closed

[2019-08-20 12:26] #4074 closed

[2019-08-20 12:46] #5957 closed

[2019-08-20 13:48] vince-fugnitto commented on #5946
Closing the issue as:
- displaying the workspace uri has been fixed https://github.com/theia-ide/theia/pull/5948
- additional workspace commands are being tracked separately with  #5951 (_more_ toolbar item)

[2019-08-20 13:48] #5946 closed

[2019-08-20 13:53] akosyakov commented on #5962
I meant if it runs indefinite

[2019-08-20 13:56] akosyakov commented on #5983
@a1994846931931 I see i did not it, if you can dig a bit in VS Code docs to find the contract for such shortcuts, it would be helpful. We need to fix then indeed.

[2019-08-20 13:57] akosyakov commented on #5979
@502647092 How big is a file? Could you share it? Could it be that textmate blows up the memory during tokenization.

[2019-08-20 14:20] #4897 closed

[2019-08-20 14:45] AlexTugarev commented on #5962
😞 and I meant an indeterminate progress bar. sorry for the confusion.

[2019-08-20 15:10] svenefftinge commented on #5936
We discussed to do the following:
 - register a command and toolbar (+) in git
 - fix the message to 'No repository found' (align rest with screenshot above)
 - make all other commands invisible when no repository found.

[2019-08-20 17:35] kittaakos opened #5995 "[status-bar] Layout issues for the notifications in the status bar"
This is for a downstream project with `0.10.0-next.d059f9ed`.

Theia:
![Screen Shot 2019-08-20 at 13 32 25](https://user-images.githubusercontent.com/1405703/63369966-2b6e6a80-c34f-11e9-81e3-e2db354393fb.jpg)
![Screen Shot 2019-08-20 at 13 32 38](https://user-images.githubusercontent.com/1405703/63369967-2b6e6a80-c34f-11e9-95c8-c6c38bcbbae3.jpg)

VS Code:
![Screen Shot 2019-08-20 at 13 34 29](http

[2019-08-20 17:35] 502647092 commented on #5979
@akosyakov
not
is a normal ts file
i think maybe is explorer ref target file cause this problem

[2019-08-20 18:47] vince-fugnitto opened #5996 "[git diff] adjust the alignment of the git diff widget header details"
### Description

The header for `git-diff-widget` displays oddly, it may possibly be the result of regression.
The `path` and `revision` details are misaligned.

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/63374967-ddf6fb00-c358-11e9-9a84-0a7c5c46acba.png)

</div>

**Reproduction Steps**
1. open a workspace (ex: `theia`)
2. right click the `packages` folder fr

[2019-08-21 00:41] elaihau commented on #5517
i have no issues with that :)

[2019-08-21 02:56] elaihau opened #5999 "repository does not always shows up in the git diff view in a multi root workspace"
### Description

The repository does not always shows up in the git diff view in a multi root workspace.

### Reproduction Steps

- Open a folder as the workspace
- Add one more folder to make a multi root workspace
- Right click one folder from the 2nd root -> Compare With ... -> Open the diff view
  - Name of the Repository shows up in the view
- Right click one folder from the 1st root -> Compa

[2019-08-21 03:09] kpge opened #6000 "[navigator] shaking effect while d&d in the navigator"
### Description
As a follow up to #5972
while drag&drop in navigator, the explorer will have shaking effect:
-![](https://user-images.githubusercontent.com/35068357/63208699-1359d980-c10a-11e9-8d41-c668105abcd2.gif)
### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-08-21 07:15] AlexTugarev commented on #5962
@akosyakov I found a use case: reference search when try to rename a symbol which totally makes sense as you want to see feedback and progress once you hit F2.

[2019-08-21 07:18] 502647092 commented on #5979
@akosyakov
I find some problem
maybe is too many file updates cause cpu 100%
reproduce way
- open theia workspace
- open terminal
- run `yarn watch`
- after watch complate to wait
- switch git branch
- the window will freeze

[2019-08-21 07:30] 502647092 commented on #5979
![image](https://user-images.githubusercontent.com/10203793/63411542-52e53600-c428-11e9-9c65-0710de6a3206.png)
[code]

[2019-08-21 07:32] Chakah commented on #4604
bump

[2019-08-21 07:40] akosyakov commented on #4604
Which project will you expect to be opened? Or it just should be a file without a workspace?

[2019-08-21 07:42] akosyakov commented on #4604
I'm not sure how to go about such feature requests. Maybe we should discuss them on the dev meeting as well? We should decide whether it something which has to be within the scope of IDE framework or it is a feature which should be implemented by a concrete product. cc @svenefftinge @marcdumais-work ?

[2019-08-21 07:44] akosyakov commented on #5979
`yarn watch` on theia project is generally killing cpu, since it starts tsc on each packages. In this case i am not sure that a browser and a machine at any use at all.

[2019-08-21 07:45] akosyakov commented on #5979
I've asked @svenefftinge and his issues was not related to performance and view containers.

[2019-08-21 07:47] akosyakov commented on #5962
@AlexTugarev I think we should just expose and integrate with Monaco progress service.

[2019-08-21 07:52] 502647092 commented on #5979
@akosyakov but sometime only normal coding
cpu will 100%
I can't find problem
But the problem has recently arisen
if I have time I will test recent versions

[2019-08-21 07:56] #5870 closed

[2019-08-21 08:18] Chakah commented on #4604
In our case we would like to open a file within the specific workspace.

So http://localhost:6789/theia/#/c:/Users/chakah/Workspace/toolbox/toolbox.theia-workspace opens the workspace configured in the theia-workspace file.

And http://localhost:6789/theia/#/c:/Users/chakah/Workspace/toolbox/toolbox.theia-workspace/testdir/testfile.md opens the same workspace and navigates to the testfile.

[2019-08-21 08:28] 502647092 commented on #5978
@akosyakov
theia theme ext is support vscode theme system?

[2019-08-21 08:38] 502647092 opened #6001 "[vscode] CodeLens not take effect"
### Description
open theia
the latest layout will restore
but CodeLens is not take effect
I need reopen file

### Reproduction Steps
![temp](https://user-images.githubusercontent.com/10203793/63416670-6ac1b780-c432-11e9-9f0e-b2546a61c7c0.gif)

- ext install humao.rest-client
- create a `test.http` file
[code]
- Click Send Request it's be OK
- Reload Theia
- Click Send Request nothing happed
- reop

[2019-08-21 08:48] akosyakov commented on #5978
@502647092 no, it is a big refactoring, we have vscode like theming on our list, but probably closer to December, an issue to track: https://github.com/theia-ide/theia/issues/4831

[2019-08-21 08:52] 502647092 commented on #5978
@akosyakov
ok
after theme support
I will complate webview other theme support

[2019-08-21 09:42] AlexTugarev commented on #5995
@kittaakos, please help me to reproduce it. I tried with `0.10.0-next.f46ebf4e` in a Theia app, but it looks good.

![Screen Shot 2019-08-21 at 10 33 39](https://user-images.githubusercontent.com/914497/63416557-e6eed780-c3ff-11e9-96e7-a2d3dc58215e.png)

I can't find anything I can adjust in the config of this status bar item, so basically don't understand what went wrong there.

[2019-08-21 09:55] zeigerpuppy commented on #4604
I agree, it would make sense to have workspace specified as well as the file to open within that workspace.

[2019-08-21 10:30] akosyakov commented on #4604
I wonder could we when do it similarly how VS Code handles cli options: https://code.visualstudio.com/docs/editor/command-line#_opening-files-and-folders

We will need to use another decimeter, not a whitespace, for example `;`.

i.e. `#c:/myProject;package.json:5:10;c:/myProject2;tsconfig.json` will create a new multi-root workspace with `c:/myProject` and `c:/myProject2` as workspace roots and o

[2019-08-21 10:55] 502647092 opened #6003 "[vscode][plugin] Hosted Plugin can't load plugin"
### Description

today I test a plugin
but plugin-dev can't load it
before last month it's ok

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**
https://github.com/theia-ide/theia/blob/f46ebf4e0b01c3fe58212ca8927537aff0ddb3a0/packages/plugin-dev/src/browser/hosted-plugin-controller.ts#L105-L107

[code]

[2019-08-21 11:35] dhananjayharel opened #6004 "Read the terminal text"
### Description

Need to read the text in the terminal

### Requirement
I am firing some command using terminal's send text api, then I need to read the output of that
command after complete but I havent found any method or API yet.

[2019-08-21 11:35] akosyakov commented on #6003
@502647092 Could you mention which plugin and maybe you have not obfuscated stack traces?

[2019-08-21 11:48] akosyakov commented on #6004
I don't think it is possible. One has to use tasks or processes to get an output. Terminal are just character streams, there is not such high-level concepts like a command or a task.

cc @theia-ide/task-extension correct me if i'm wrong, also suggest an alternative how to use a task or process extension for it

[2019-08-21 12:05] dhananjayharel commented on #6004
Thanks .. I think process extension will be the best option for my requirement but need some details on it, ie how to use it . very basic example  would also work.

[2019-08-21 13:08] vince-fugnitto opened #6005 "Include 'extensions.json' which describes recommended extensions for development"
**Description**

Include the file `.vscode/extensions.json` which described the list of recommended extensions for Theia development. When using VSCode as an IDE to develop Theia, developers will get notified of recommended extensions and will have the possibility to install them.

This is useful for new and existing collaborators to use the same set of tools and resources to help them in their de

[2019-08-21 13:09] kittaakos commented on #5995
Sure, I will try to provide some hints. Bear with me.

[2019-08-21 13:11] AlexTugarev commented on #5995
Thanks @kittaakos!

[2019-08-21 13:26] vinokurig opened #6007 "[plugin] Save tree nodes to cache and fetch the nodes if they were changed"
### Description

Currently the tree plugin API always requests tree nodes from the plugin side. We need to store the tree nodes in a cache once they were fetched and return only cached nodes. Cache must be updated by the plugin event. This will increase the tree performance.
### Reproduction Steps

1. clone and compile https://github.com/microsoft/vscode-extension-samples/tree/master/tree-view-sam

[2019-08-21 13:33] akosyakov commented on #6007
@vinokurig Do you experience perf issues somewhere to introduce optimization complexity? It would be good to justify it first.

[2019-08-21 14:28] akosyakov commented on #2819
@marechal-p I think it should work already if you use VS Code nodejs extensions. Could you close it if it is so?

[2019-08-21 14:31] vinokurig commented on #6007
It is actual for vscode [github-pull-request plugin](https://github.com/microsoft/vscode-pull-request-github). The plugin sends requests to GitHub on each pull-request node click, even if it was opened earlier, while in vscode the nodes are requested from cache.

[2019-08-21 14:44] vinokurig commented on #6007
This impacts on the tree commands as well:
In the vscode tree command is registered only when the tree node is fetched so they can refresh the commands map on the refresh tree request. In Theia tree nodes are always requested by the tree, so the commands map is refreshed on the children request to not to overload the commands map. See https://github.com/theia-ide/theia/pull/5961#issuecomment-52346

[2019-08-21 15:30] #5950 closed

[2019-08-21 15:39] vince-fugnitto opened #6010 "[multi-root] workspace roots not refreshed properly when removed"
**Description**

If a **multi-root** workspace's roots are removed, the roots are not properly refreshed.
For instance, with no roots present, one can still execute commands based on the last available root.

**Steps to Reproduce**
- open a workspace (ex: `theia/packages/core`)
- ensure that the preference `workspace.supportMultiRootWorkspace` is enabled
- add a new root using the command `Add Fol

[2019-08-21 16:06] akosyakov commented on #6004
@marechal-p maybe you can give a hint

[2019-08-21 18:44] gennad opened #6011 "When opening command palette by cmd+shift+p, the cursor is to the left of ">" sign"
### Description
When opening command palette by cmd+shift+p, the cursor is to the left of ">" sign.
It should be to the right.

### Reproduction Steps
git clone latest Theia.
Follow the instructions to run Theia in a browser.
Open localhost:3000 in Safari.
Press cmd + shift + p.
Observe that cursor is to the left of ">".

**OS and Theia version:**
Mac OS 10.14.6
Pulled from master, latest commit f

[2019-08-21 19:36] vince-fugnitto commented on #6011
That's very odd, I only notice the bug on Safari.

[2019-08-21 20:14] #6005 closed

[2019-08-21 20:15] #5996 closed

[2019-08-21 20:19] jtovar43 commented on #5991
Its usually consistent with that same error. I don't think it's an issue with the network.

[2019-08-21 23:46] kittaakos commented on #5995
It seems to be unrelated to the notification. I was just playing with https://github.com/TypeFox/theia-xtext-sprotty-example, and this is what I see on my status bar. I still do not know how to reproduce it.

![Screen Shot 2019-08-21 at 19 45 30](https://user-images.githubusercontent.com/1405703/63475800-64403980-c44c-11e9-815b-4ce387aa1eab.jpg)

[2019-08-21 23:55] elaihau commented on #5878
@RomanNikitenko could you please take a look at https://github.com/theia-ide/theia/pull/5975 since you created this issue ? Thank you !

[2019-08-22 01:12] 502647092 commented on #6003
[code]

[2019-08-22 01:50] 502647092 commented on #6003
I create a test plugin
follow https://www.theia-ide.org/doc/authoring_plugins
`src/theia-hello-world-plugin-backend-plugin.ts`
[code]
package.json
[code]
tsconfig.json
[code]
start instance
[code]

[2019-08-22 03:25] elaihau commented on #5999
I did some investigation.
Looks like the inconsistency is by design:
https://github.com/theia-ide/theia/blob/c1d367f30333113423689af9344a4c7e8e15579d/packages/git/src/browser/git-navigable-list-widget.tsx#L89

If the diff is not based on the active / selected git repo, the `Repository` row is rendered, otherwise the row does not show up.

Maybe we should close this one? @jbicker @akosyakov @vince-

[2019-08-22 03:39] xieyuanhuata opened #6012 "CompletionAdapter's cache cannot be cleaned up"
### Description
![release_id](https://user-images.githubusercontent.com/50982164/63483641-a52d6200-c4cf-11e9-9302-5922aa28cd39.PNG)

### Reproduction Steps
1、Block java and javadebug，eg: Delete dependency of java and javadebug at examples/brower/package.json
2、install vscode plugins：
redhat.java-0.47.0.vsix  -- https://marketplace.visualstudio.com/items?itemName=redhat.java
vscjava.vscode-java-deb

[2019-08-22 07:00] RomanNikitenko commented on #5878
@elaihau
I'm going to test the changes today, thank you!

[2019-08-22 07:03] AlexTugarev commented on #5995
Thanks @kittaakos for the update. I'll quickly check if there is something special about the app's extension, and how this can happen at all.

[2019-08-22 07:40] AlexTugarev commented on #5995
Nice catch! First I couldn't reproduce it (after going through the painful build & upgrade procedure,) but then trying out with different browsers I spotted this issue in Safari.

@kittaakos which browser is it for you?

![Screen Shot 2019-08-22 at 09 37 21](https://user-images.githubusercontent.com/914497/63495566-78258300-c4c0-11e9-9617-cb977d0f7553.png)

[2019-08-22 09:12] AlexTugarev commented on #5995
@kittaakos, I found the 🐛

this global `svg` style breaks status bar items and maybe more:

![Screen Shot 2019-08-22 at 11 04 04](https://user-images.githubusercontent.com/914497/63502260-7b733b80-c4cd-11e9-80a5-04b4c05c8547.png)

this is specific to the `theia-xtext-sprotty-example` which loads Sprotty style from here:
https://github.com/eclipse/sprotty-theia/blob/master/css/theia-sprotty.css

I'

[2019-08-22 09:19] AlexTugarev commented on #5995
@kittaakos as this turns out to be an issue for Sprotty, can we close this?

[2019-08-22 10:04] dhananjayharel commented on #6004
@marechal-p
For example: I want to add a menu option in the editor, on click of it should execute the command and read the output of that command.
I have seen the theia@process code files but I couldn't able to find any front end API/ method to call the backend process.

[2019-08-22 12:33] vinokurig opened #6015 "[vscode][plugin] Respect `when` condition for vscode plugins"
### Description

Some vscode extensions have `when` condition provided in hair `pacage.json` file, e.g. the vscode github-pull-request extension has such condition in the view contribution: https://github.com/microsoft/vscode-pull-request-github/blob/d91e778705cd5af0785c5a05184ebc550334b409/package.json#L182
Since https://github.com/theia-ide/theia/pull/5855 was applied the plugin view is unavaila

[2019-08-22 12:54] vince-fugnitto opened #6016 "[editor] preserve cursor (selection) in previously opened editor"
**Description**

The location of the cursor or selection is lost when an editor is closed.
As an enhancement, the location should be preserved so that users can easily navigate back to their previous context.

**Steps to Reproduce**
1. open a workspace in the application
1. open an editor, preferably a long file and navigate to the bottom
2. close the editor using the command `Close All Tabs`
3. r

[2019-08-22 13:12] vince-fugnitto opened #6017 "[task] add better handling for 'run selected text' command"
**Description**

The command `Task: Run Selected Text` is currently **enabled** and **visible** by default.
This leads to a poor user experience when no editor is opened (no selected text), as the command is still visible, enabled and does not do anything. Instead, the command should only be enabled if an editor is currently opened.

**Steps to Reproduce**
- open a workspace
- execute the command

[2019-08-22 14:05] akosyakov commented on #6004
You can also define your own backend service and use nodejs directly. It is not clear to me still when process extension should be used and when not. I know one case for cloud scenarios, that some processes should be run by a user operating system and some by other container for example. In this case I would say that process extension should be used for user processes and nodejs directly to run in

[2019-08-22 14:06] #5978 closed

[2019-08-22 14:52] fangnx opened #6019 "[navigator] add a preference to turn on/off the display of problem decorators"
### Description
As a user, I would like to have a preference option to turn on/off the display of problem decorators (error, warning diagnostic markers) on the navigator tree nodes. To be consistent with the existing `git.decorations.enabled`, the preference can be named `problem.decorations.tree.enabled`.

[2019-08-22 15:25] #1278 closed

[2019-08-22 15:49] vince-fugnitto opened #6020 "[decorator] support more complex decorators"
**Description**

We should support more complex types of decorators.
For instance, we should be able to create decorators which have all the following set:
- color
- shape
- label

This is especially useful to create decorators such as the following
(decorators with labels within them):

<div align='left'>

<img width="102" alt="Screen Shot 2019-08-22 at 11 47 48 AM" src="https://user-images.githu

[2019-08-22 16:07] #5995 closed

[2019-08-22 19:30] vince-fugnitto commented on #5809
@dhananjayharel were you able to address your issue?

[2019-08-23 00:17] elaihau commented on #5999
I am closing this one, and if there are objections please free feel to reopen.

[2019-08-23 00:17] #5999 closed

[2019-08-23 00:19] mouse484 opened #6022 "[VScode extension] Make language packs available"
### Description
Multilingualization is currently not available in Theia (Gitpod)
I tried to use the language pack (Japanese) provided as an extension of VScode, but it was not available
I think it is important to be able to use language packs

### Reproduction Steps
Installation of extension language pack (Japanese)

**OS and Theia version:**

**Diagnostics:**

[2019-08-23 03:27] #5926 closed

[2019-08-23 03:48] elaihau commented on #5013
@akosyakov could you please advise where to find a tutorial / document that describes how "tasks from a separate file" is supported in vs code? I am interested. Thank you !

[2019-08-23 06:00] svenefftinge opened #6023 "[debug] Doesn't always work"
I experienced this with the java debugger.
To reproduce:
1) open this repo with gitpod: https://gitpod.io/#https://github.com/svenefftinge/spring-petclinic
2) Launch the config.

It often works but from time to time it doesn't, which means it will not respond for half a minute and then come up with an error notification, telling you that the debug type java is not available.

[2019-08-23 06:02] akosyakov commented on #5013
@elaihau i don't think there is proper docs on it, we've learned by testing and analyzing VS Code repo. The heavy-lifting of mixing preferences from external file or from settings already done by a preference service. You only need to rewrite a task extension that it does not manage tasks.json file anymore, but use a preference service to read it, the same way how the debug extension was refactore

[2019-08-23 06:04] akosyakov commented on #5013
Bindings for launch in the debug extension: https://github.com/theia-ide/theia/blob/aff18c8f31661e18b22d05f71b56b4ed65975093/packages/debug/src/browser/preferences/launch-preferences.ts#L36-L40

How launch configuration are loaded in the debug extension: https://github.com/theia-ide/theia/blob/aff18c8f31661e18b22d05f71b56b4ed65975093/packages/debug/src/browser/debug-configuration-model.ts#L68

[2019-08-23 06:15] akosyakov commented on #6015
@vinokurig I believe it is already supported: https://github.com/theia-ide/theia/blob/5339bef84b447d457b15432f2b6a08368f95765f/packages/plugin-ext/src/main/browser/view/plugin-view-registry.ts#L112-L121

[2019-08-23 06:17] akosyakov commented on #6016
I was wondering generally, should not we preserve state for stateful widget between opening. We do it already for some views, maybe we should generalize it. @svenefftinge ?

[2019-08-23 06:21] #5827 closed

[2019-08-23 06:29] vinokurig commented on #6015
@akosyakov

It is, but it doesn't respect condition from the GitHub plugin: `"when": "!config.githubPullRequests.showInSCM && config.git.enabled"`
https://github.com/microsoft/vscode-pull-request-github/blob/d91e778705cd5af0785c5a05184ebc550334b409/package.json#L182
I'll rename the issue title

[2019-08-23 06:30] akosyakov opened #6024 "document how to profile plugin host process with devtools"
It seems that not everybody aware how to do it and using logging instead which is error-prone and does not guarantee that memory leaks are fixed.

It should go here: https://github.com/theia-ide/theia/blob/master/doc/Developing.md#debugging

[2019-08-23 06:31] akosyakov commented on #6024
Actually maybe we are better to have `Profiling` section. It seems our `Debugging` section is more focused on debugging from Theia and VS Code which does not allow profiling. Then we should also cover how to profile the main frontend process and the backend process, in addition to the plugin host process.

[2019-08-23 06:35] akosyakov commented on #6015
All preferences contributed by VS Code extensions should be already supported in `when` closure. These preferences are contributed by git and git pull request extensions, not by Theia. Are you sure that you have VS Code git extension installed?

[2019-08-23 07:25] akosyakov commented on #5744
@tetchel Can it be closed by https://github.com/theia-ide/theia/issues/5744? Could you verify please?

[2019-08-23 07:47] #5947 closed

[2019-08-23 07:47] #6000 closed

[2019-08-23 08:55] vinokurig opened #6025 "[vscode][plugin] Is command needed to be set to Composite tree node?"
### Description

According to vscode logic: command can be applied on all tree node types, but vscode doesn't expand the composite tree node on click, it expands only on the node triangle click.
According to Theia logic: command cannot be applied to composite tree node but the node expands on all node area click.
Is it expected to inherit vscode tree logic to Theia?
The behavior can be tested with

[2019-08-23 09:55] mohsinraees06 opened #6026 "How to increase traffic?"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-08-23 09:56] mohsinraees06 commented on #6026
[How to increase traffic ](https://www.youtube.com/watch?v=Xg4bEX7RYeE``)

[2019-08-23 10:12] vince-fugnitto commented on #6016
I think that'd be a great idea if possible :)

[2019-08-23 10:24] RomanNikitenko opened #6027 "'Run Selected Text' is not working for some case"
### Description
A new terminal is created for running selected text if you don't have active terminal at the moment,
but
creation of a new terminal is fail if you:
created a terminal manually -> closed the terminal -> try to run selected text

### Reproduction Steps
1. Create a new terminal
2. Use 'Run Selected Text' to run some command - you can see output for the command
3. Close the terminal
4.

[2019-08-23 10:33] #6026 closed

[2019-08-23 11:21] vinokurig commented on #6015
@akosyakov

yes, I can see contributed git preferences:
![screenshot-localhost-3030-2019 08 23-14-15-13](https://user-images.githubusercontent.com/7668752/63589114-f06b7180-c5b0-11e9-82df-6db6683c6aae.png)
But they are not registered in the `ContextKeyService`

[2019-08-23 11:25] akosyakov commented on #6015
Sound like bug, they should be resolved from here: https://github.com/theia-ide/theia/blob/566ebda6b9ede33984ff0d06044e889b2191c9d7/packages/monaco/src/browser/monaco-frontend-module.ts#L140-L151 You can try to debug it.

[2019-08-23 12:26] #5936 closed

[2019-08-23 13:15] soerendomroes opened #6028 "Font-awesome icons in statusbar with zoomlevel have too big bounding box"
### Description
If one adds an entry with text only an icon to the status bar with a zoomlevel that is not 100% the bounding box is way too big:
![Screenshot from 2019-08-23 15-06-13](https://user-images.githubusercontent.com/6419799/63594813-bfdb0600-c5b7-11e9-9d8b-bf4f1ddde448.png)
It should normally look like this:
![Screenshot from 2019-08-23 15-13-27](https://user-images.githubusercontent.com

[2019-08-23 13:19] akosyakov commented on #6028
@soerendomroes PRs are welcomed!

[2019-08-23 18:37] marechal-p commented on #6004
TBF I would really like to refactor the process extension a bit, and remove the spawning from inside the constructors, into factory functions. In a nutshell, the process extension normalizes how nodejs and node-pty processes behave and how to consume their output from different clients (using multi-reader ring-buffers for instance). Could not find the exact place where to look for, but either make

[2019-08-25 00:01] roselyn715 opened #6031 "Cashapp"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-08-25 01:03] #6031 closed

[2019-08-25 03:11] elaihau opened #6032 "emtpy `tasks.json` are not handled properly"
### Description

emtpy `tasks.json` are not handled properly

### Reproduction Steps

![Peek 2019-08-24 23-04](https://user-images.githubusercontent.com/37082801/63645035-dff7eb80-c6c3-11e9-95cd-3e84b80ed382.gif)

1. Open a workspace that has
  - at least one detected task
  - a `tasks.json` where at least one detected task is customized
2. Open the "Run task"
  - The customized detected tasks are

[2019-08-25 10:08] akosyakov opened #6034 "change to launch schema by plugin system are not always recognized"
It can be reproduced by:
- installing node and node2 vscode extensions;
- opening launch.json file, adding a new `node` launch configuration;
- and refreshing the page;
- expected that after the refresh `node` launch configuration is recognized as valid, but it does not happen always.

[2019-08-25 13:27] akosyakov opened #6036 "plugin system should prefer listed plugins instead of dependencies"
In order to reproduce:
- put a flutter and dart VS Code extensions as vsix files to plugins folder
- start Theia
- you will see that instead of deploying Dart from vsix file the plugin system download dart extension from the marketplace

cc @JPinkney @theia-ide/plugin-system

[2019-08-25 14:28] elaihau opened #6037 "how do we want to deal with Preference name collision"
### Description

In current Theia, if a preference contributed by plugins has the same name with one from an extension, an error is thrown.

### Reproduction Steps

1. Add `typescript-language-features` vscode extension to Theia as a plugin.
2. Start Theia example browser, and check the console.
What happens: an error shows up:
`ERROR Preference name collision detected in the schema for property:

[2019-08-25 14:30] akosyakov commented on #6037
They should not be used together, either native Theia extension should be used or a VS Code extension. It does not make sense to have both.

[2019-08-25 16:02] akosyakov opened #6039 "[vscode] implement `env.openExternal` api"
For example, It's required to install missing dart SDK for VS Code dart extension.

[2019-08-25 16:02] akosyakov commented on #4446
linking https://github.com/theia-ide/theia/issues/6039

[2019-08-25 16:04] akosyakov commented on #3999
You can track progress in this branch: https://github.com/theia-ide/theia/tree/ak/flutter_support

<img width="1552" alt="Screen Shot 2019-08-25 at 17 50 03" src="https://user-images.githubusercontent.com/3082655/63652631-a5915b80-c762-11e9-82e2-5174ae5ed88d.png">
<img width="1552" alt="Screen Shot 2019-08-25 at 17 46 34" src="https://user-images.githubusercontent.com/3082655/63652632-a5915b80-c76

[2019-08-25 18:24] HighCommander4 opened #6040 "Allow the user to customize theme colors via settings"
VSCode has a mechanism to allow the user to customize theme colors, using the [`editors.tokenColorCustomizations` setting](https://code.visualstudio.com/docs/getstarted/themes#_customizing-a-color-theme).

It would be nice if Theia supported something similar.

[2019-08-25 23:35] a7345678 opened #6041 "can not build extension"
### Description

exection this command yo theia-extension hello-world-extension
it report:
![image](https://user-images.githubusercontent.com/4329401/63657388-dd84b700-c7d3-11e9-9248-cd1ee1c52e96.png)

hello-world-extension: npm ERR!     /Users/ruancangchao/.npm/_logs/2019-08-25T23_30_14_454Z-debug.log
lerna ERR! execute callback with error
lerna ERR! Error: Command failed: npm run prepare
lerna E

[2019-08-26 01:51] vince-fugnitto commented on #6041
Duplicate of https://github.com/theia-ide/generator-theia-extension/issues/37
Please see the issue on the related repo for more information.

[2019-08-26 01:51] #6041 closed

[2019-08-26 02:04] loganto opened #6042 "confused. is Theia is a platform or IDE? can I use it directly for development?"
per **theia** website:

So my understanding is - theia is positioned a platform and not a ready-use ide...
So it'a  platform to use when building an IDE...

so then my question is - if I can't use it directly - did anyone already built a ready-use IDE based off theia? Could u recommend one?

[2019-08-26 05:03] gorkem commented on #6042
Take a look at Eclipse [Che,](https://github.com/eclipse/che) Che uses Theia as its IDE

[2019-08-26 05:15] akosyakov commented on #5481
How about using GitHub actions instead? https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/

[2019-08-26 05:19] akosyakov commented on #6042
Hi @loganto and thank you for the question!

In the first place, Theia is a platform to build IDEs.

Although, we distribute example docker images with vanilla Theia to use: https://github.com/theia-ide/theia-apps For js/ts development you can simply run:
[code]

We also going to have vanilla electron distributable at some point: https://github.com/theia-ide/theia/issues/5481 For now, unfortunatel

[2019-08-26 05:20] akosyakov commented on #6040
A dup of https://github.com/theia-ide/theia/issues/4831?

[2019-08-26 05:37] HighCommander4 commented on #6040
My understanding of #4831 is that it's about the capabilities of extensions.

Here, I'm talking about an end-user going to User Settings or Workspace Settings and customizing colors by adding some settings there.

[2019-08-26 07:16] #6036 closed

[2019-08-26 07:20] kittaakos commented on #5481
Does it support downloadable artifacts without creating a new release? Azure does.

Otherwise, I do not have any objections.

[2019-08-26 07:46] akosyakov commented on #3999
Missing commands:
- editor.action.triggerSuggest
- revealFileInOS
- vscode.executeCodeActionProvider
- vscode.openFolder
- workbench.action.showErrorsWarnings
- workbench.extensions.installExtension

[2019-08-26 07:48] AlexTugarev opened #6043 "Support determinate progress indicators"
Currently only indeterminate progress indicators are rendered at locations like SCM/GIT, Search, and Debug.

@westbury suggested to support rendering progress based on the known percentage in https://github.com/theia-ide/theia/pull/6009#issuecomment-524272442

While there are places like SCM were we expect to aggregate the process indication of concurrent tasks, which is hard to do with a determin

[2019-08-26 07:49] #5988 closed

[2019-08-26 08:19] akosyakov commented on #3999
Missing activation events:
- `onUri`

[2019-08-26 08:24] akosyakov commented on #3999
@DanTup Could you help me a bit? I'm trying to understand what are expectations around `onUri` activation event?

[2019-08-26 10:09] #5951 closed

[2019-08-26 10:09] #6010 closed

[2019-08-26 10:10] #6017 closed

[2019-08-26 10:34] #6019 closed

[2019-08-26 11:36] #6032 closed

[2019-08-26 11:41] #6037 closed

[2019-08-26 14:46] a1994846931931 opened #6046 "Workspace configuration that is registered by a VSCode plugin sometimes doesn't take effect"
### Description
Sometimes, VSCode plugin registered configurations doesn't work in workspace (user configuration does work, though). No error or warning is shown in the setting widget and everything seem to work nicely expect that the workspace configuration is actually ignored. It seems that these configuration is wrongly filtered.

### Reproduction Steps
This issue is kind of hard to reproduce.

[2019-08-26 16:12] DanTup commented on #3999
Sorry for the delay, I missed this one. The `onUri` activation is not actively used, so not a priority. It might also not make much sense in this context.

Essentially, VS Code allows extensions to publish URIs like `vscode://extension-identifier/some/path` and when the user clicks them, their browser will delegate to the locally-installed VS Code, which will then activate `extension-identifier` a

[2019-08-26 23:37] sr229 commented on #5481
GitHub is still in beta so we'll need to wait for their november GA to work.

[2019-08-27 01:53] 502647092 commented on #6003
![image](https://user-images.githubusercontent.com/10203793/63734819-578a6e00-c8b0-11e9-8601-928cb0f6deb7.png)
when I start Development Host
WebSocket will recover many packet id is 21 and every packet have 1~2M
@akosyakov Do you know what problem

[2019-08-27 06:21] akosyakov commented on #6003
@502647092 I'm not using hosted plugin sorry, i hope someone from @theia-ide/plugin-system can help

[2019-08-27 07:40] veredcon opened #6047 "Activation issue when vscodeintellicode and vscode-java by redhat installed together"
### Description
Seems like starting of version 0.8.0 of theia, activation of 2 extensions like vscodeintellicode and vscode-java do not work well together.  When opening a java file, vscode-java extension should be activated - but that does not happen when vscodeintellicode also installed.

### Reproduction Steps
1. I downloaded both extensions:
https://marketplace.visualstudio.com/items?itemName=

[2019-08-27 07:50] tsmaeder commented on #5993
@tolusha "latest" meaing the latest release version or master? Also, does the CDT plugin work with the 7.0.0 branch?

[2019-08-27 07:57] 502647092 opened #6048 "support symbolic link icon like vscode"
### Description
![image](https://user-images.githubusercontent.com/10203793/63752147-4c046a80-c8e3-11e9-9d95-592e79d0266f.png)

### Reproduction Steps
**OS and Theia version:**
**Diagnostics:**

[2019-08-27 08:33] 502647092 commented on #6003
maybe before theia not support activationEvents
and i not config this
after add this config ext is correct

[2019-08-27 08:33] #6003 closed

[2019-08-27 08:34] akosyakov commented on #6047
@veredcon Could you try against this PR: https://github.com/theia-ide/theia/pull/6044?

[2019-08-27 08:35] i053322 opened #6050 "quickpick didn't open with 1 item"
### Description
In the new version of theia  ( theiaide/theia-full:next ) when I open quickpick with one item it doesn't show the item.
It works with multi items.

### Reproduction Steps
I created vsix from github ( with 1 item)
https://github.com/i053322/quickpickexample
Load the VSIX and press F1 and choose Hello World

**OS and Theia version:**
master

**Diagnostics:**
I checked it on version 0

[2019-08-27 08:38] akosyakov commented on #6050
cc @JPinkney @vinokurig

[2019-08-27 11:08] tolusha commented on #5993
"latest" means master.
And they worked fine with 7.0.0 branch

[2019-08-27 15:29] akosyakov commented on #6050
@vince-fugnitto so it is not true? If it is not a regression then it is fine

For VS Code extensions APIs should work like in VS Code. In Theia core it can behave differently, maybe we need an option to align the plugin system behaviour with VS Code. We should look at all clients outside of the plugin system and see for them what we want. I won't surprise that it is different in VS Code as well fo

[2019-08-27 15:42] akosyakov commented on #6047
I suspect it should be addressed by https://github.com/theia-ide/theia/pull/6044/commits/b42bf5ca11b2104dfa2818a0a9bfb6ba7ef42c49 I will extract a PR for it tomorrow to verify.

[2019-08-28 00:23] DamianRivas opened #6052 "Opening Local Workspace from the Web"
### Description

I have a question about deploying our own Theia IDE. In the desktop environment it's fairly obvious how workspace management will work, but how is workspace management expected to work in the cloud? We are aware of Gitpod, but what other alternatives are there to running Theia in the cloud?

[2019-08-28 01:55] elaihau opened #6053 "vscode "grunt" extension does not work"
### Description
The grunt extension (from vscode) used to work in Theia. Now it does not work any more.

### Reproduction Steps

![Peek 2019-08-27 21-52](https://user-images.githubusercontent.com/37082801/63819957-622b1e80-c915-11e9-961f-2293eba186e9.gif)

- install vscode grunt extension in theia as a plugin
- open a project where grunt tasks are defined

expected: grunt tasks should be displayed

[2019-08-28 02:19] 502647092 opened #6054 "copy file error don't have notify"
### Description
copy file error don't have notify

### Reproduction Steps

- create a file `temp.txt`
- copy file in explorer
- delete `temp.txt`
- paste file in explorer
- have error in console and don't have notify

**OS and Theia version:**
**Diagnostics:**
[code]

[2019-08-28 03:16] #6053 closed, assigned to nobody

[2019-08-28 07:12] tom-shan opened #6055 "plugins are not loaded when theia is started without internet access"
### Description
All the vscode plugins can not be loaded when my host machine has no Internat access.

we have two local vscode extensions which we downloaded from vscode marketplace:
1 [vscjava.vscode-java-dependency](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency)
2 [redhat.java](https://marketplace.visualstudio.com/items?itemName=redhat.java)

It should be no

[2019-08-28 07:30] akosyakov commented on #6052
Generally, it is out of scope of Theia. Theia is a framework to implement IDEs. How it is deployed and used depends on environments.

As far as I know Gitpod is implemented based on Kubernetes infra of the Google Cloud Platform.
You are better to ask on the Gitpod community for details: https://spectrum.chat/gitpod

Soon, there is also going to be Gitpod Enterprise supporting self-hosting on the v

[2019-08-28 07:30] akosyakov commented on #6054
@502647092 Is your suggestion to report file errors as notifications?

[2019-08-28 07:34] akosyakov commented on #6055
It is a regression caused by auto pulling extension dependencies. We should handle it gracefully and does not fail the whole deployment if one VS Code extension cannot be downloaded. cc @JPinkney

@tom-shan I wonder how do you provide `redhat.java` then? If you don't do it then `vscjava.vscode-java-dependency` won't work properly either, no? Could you share a bit more info about settings.

[2019-08-28 07:34] akosyakov commented on #6055
@tom-shan Also If you can please help fixing it!

[2019-08-28 08:10] 502647092 commented on #6054
@akosyakov
yes i think we need notify user error
#4907 Similar problem

[2019-08-28 08:18] tom-shan commented on #6055
No, `vscjava.vscode-java-dependency` won't work properly.
I just download `vscjava.vscode-java-dependency` from vscode markeplace and copy it to `plugins` directory.

Sure, please have a review.

[2019-08-28 08:21] tom-shan commented on #6055
In my local repo, I just comment these [3 lines](https://github.com/theia-ide/theia/blob/85b75768f702656db4ee8ff6eaad303be8102643/packages/plugin-ext/src/main/node/plugin-deployer-impl.ts#L136-L138) and workaround this issue.

[2019-08-28 10:17] veredcon commented on #5249
@akosyakov do you have plans to support soon the preLaunchTask?

[2019-08-28 10:39] veredcon commented on #6047
@akosyakov I have tried against your suggested PR but unfortunately the issue reproduces. Again when having only vscode-java extension I have no issue but when adding vscodeintellicode clicking on java file does not activates java extension.

[2019-08-28 11:00] akosyakov commented on #6047
btw @veredcon are you aware that theiaide/theia-full includes native java extension and you should not use it together with VS Code java extension?

[2019-08-28 11:03] akosyakov commented on #6047
@veredcon Could you share java project against which you test and specify which file you are trying to open and what expect to use there?

[2019-08-28 11:14] akosyakov commented on #4174
it was fixed in https://github.com/theia-ide/theia/pull/5665

[2019-08-28 11:14] #4174 closed

[2019-08-28 11:31] akosyakov commented on #6050
@vince-fugnitto I see, actually it sounds strange now that on show we don't show for a single item, but changing it now we break other clients like git extension.

I wonder can we add a flag like `runIfSingle` which is `true` by default, but set to `false` for the plugin system call? Could you do it?

[2019-08-28 11:32] akosyakov commented on #5249
@veredcon I'm not aware that anyone is looking into it. You will be welcomed to do it.

[2019-08-28 12:19] #1591 closed

[2019-08-28 13:30] kittaakos commented on #1199
But we do not do this. I am reopening it.
Theia:

![Screen Shot 2019-08-28 at 15 28 39](https://user-images.githubusercontent.com/1405703/63859975-9f8cbc00-c9a8-11e9-991e-bf1c97f699e4.jpg)

----

By the way, it seems electron 4.x can do this. It is supported in VS Code `1.36.1` on Windows.

![Screen Shot 2019-08-28 at 15 06 41](https://user-images.githubusercontent.com/1405703/63858327-93532f80-c9

[2019-08-29 03:02] #5515 closed

[2019-08-29 03:16] akosyakov opened #6061 "plugin system should notify a user about loading and activation errors"
- if a plugin fails to load/activate there should be an error notification with details
- If a plugin dependency is missing then a plugin should not be activated, and there should be a notification about missing dependency with suggestion to install an extension
- if a plugin dependency fails to load/activate then a plugin activation/loading should fail as well

cc @JPinkney

[2019-08-29 03:16] elaihau commented on #4216
tasks contributed by npm, grunt, gulp, jake, typescript-language-features now work in theia.

could we close this issue if i am not missing anything ?
@akosyakov

[2019-08-29 05:37] akosyakov commented on #4216
@elaihau thank you!

[2019-08-29 05:37] #4216 closed

[2019-08-29 10:14] #6050 closed

[2019-08-29 11:29] #6055 closed

[2019-08-29 15:05] vince-fugnitto opened #6065 "[markers] add problem markers for failed tests"
**Description**

Inspired by a feature in WebStorm, I propose that support problem markers for tests failures.
Perhaps using our task system and customized `problemMatchers`, we can use the output of a task to create problem markers in the editor for the location of a test failure.

For example, the feature in WebStorm looks like the following:

<div align='center'>

![image](https://user-images.g

[2019-08-29 16:58] vince-fugnitto opened #6066 "[git] add completion for '.gitignore'"
**Description**

I propose to add completion for `.gitignore` files so that smart suggestions are displayed as a user types. Currently, there is no smart suggestion for the file and while it's not necessarily a problem, providing support for end-users editing a `.gitignore` file would allow the application to be more feature rich and provide a much better user experience.

_Example:_

| User Types

[2019-08-29 17:26] vince-fugnitto opened #6067 "[debug] add 'filter' toolbar item for the debug console"
**Description**

A useful feature to have is to be able to filter down the message types for the `debug console`.
This will allow users to quickly see information that they care about without the noise.

The feature should display the `MessageTypes` as toggles so that messages can be turned on/off.
https://github.com/theia-ide/theia/blob/2b90849901d25b9b8b0eaa013511c132909167e4/packages/core/src/c

[2019-08-30 00:53] elaihau commented on #6065
are you referring to tests written with frameworks such as mocha ?

if so, i think it would be possible.

also i am thinking there might be vscode extensions that do the job already. take [this one](https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-mocha-test-adapter) for example, from the `Test Explorer` we could easily tell which tests are failing, and it goes to the failed test's

[2019-08-30 04:27] akosyakov commented on #6065
I think Theia has all capabilities for it already, but it should be done by an external VS Code or Theia extension.

[2019-08-30 04:28] akosyakov commented on #6066
Have you looked is there already VS Code extension for it? We don't need to implement everything.

[2019-08-30 05:20] #4104 closed

[2019-08-30 07:56] #5279 closed

[2019-08-30 12:11] lmcbout commented on #5345
It is define per user, so let close it.

[2019-08-30 12:11] #5345 closed

[2019-08-30 12:18] vince-fugnitto commented on #6065
I'm always unsure about whether features should be implemented internally, by an external extension, or by a plugin but I agree with you both, if the feature already exists (is already implemented somehow), then we should simply use it.

[2019-08-30 12:18] #6065 closed

[2019-08-30 12:32] vince-fugnitto commented on #6066
I tried a plugin but it wasn't as feature rich as I had hoped (no suggestions or help typing).
I also noticed we don't have the following command from our `Git` extension and is present in VSCode where we can simply open a file and add it to out `.gitignore`:

https://github.com/microsoft/vscode/blob/5c40c5e9a5eb8f2b58f08c75be8cddf02c01290e/extensions/git/package.nls.json#L58

[2019-08-30 14:19] tom-shan opened #6072 "Fail to load the configuration contribution of vscode tomcat extension"
### Description

When loading the [vscode tomcat extension](https://marketplace.visualstudio.com/items?itemName=adashen.vscode-tomcat), theia fail to load the [configuration contribution](https://github.com/adashen/vscode-tomcat/blob/81bcec2c52875de61286b3dad91828eb30934831/package.json#L339-L355)

### Reproduction Steps

1 build theia
2 start theia browser example with tomcat plugin
3 open `File

[2019-08-30 18:05] vince-fugnitto opened #6075 "[scm] remove hover background on scm inline actions"
**Description**

Remove the hover background on the _scm_ inline actions so it's consistent with other
views (ex: `search-in-workspace`), and with VSCode.

The hover background gives off a bad UI especially on light themes.

**How to test:**
1. open a workspace under `git` source control (ex: 'theia')
2. update the color theme to the light theme (File > Settings > Change Color Theme)
3. perform so

[2019-08-31 08:16] offer8 commented on #6050
@vince-fugnitto will it be part of next theia v0.10.0 release ?

[2019-08-31 14:03] vince-fugnitto commented on #6050
@offer8 yes it's included in last Thursday's release of v0.10.0

[2019-08-31 15:33] gorkem opened #6079 "Remove references to VSCode from development flow"
We should not reference VSCode for developing Theia. Instead our development flow should reference the either of the example builds. Right now it looks like debugging Theia is only done with VSCode.

[2019-09-01 05:10] akosyakov commented on #6079
Do you mean only in docs? We cannot remove vscode settings files, since there are no Theia based desktop distributions yet for dogfooding. If there would be I am for completely switching to Theia settings and force contributors to use electron version instead on desktop. Hope we get there later this year.

For now, I can rephrase that one can develop with any Theia IDE or VS Code.

[2019-09-01 05:12] akosyakov commented on #6075
@vince-fugnitto do as you think it is better

[2019-09-01 10:25] veredcon commented on #6047
We do not use the native java extension of theia, we use only the VS Code java extension.
It happens in any java project...the steps I did to run it locally is cloning the project, checked out to your PR, yarn, added plugins folder that includes both extensions and ran theia from vscode (Launch Backend launch configuration).

[2019-09-02 00:11] gorkem commented on #6079
I meant on docs, especially the [development flow document](https://github.com/theia-ide/theia/blob/master/doc/Developing.md). It is OK for now if we have the settings files for both IDEs on the repos.

[2019-09-02 06:29] #6072 closed

[2019-09-02 06:35] amiramw commented on #5683
@ariel-bentu does it still reproduce for you? With [this ](https://github.com/amiramw/theia-vscode-gaps) vscode extension the event handler is called on create and update of .theia/settings.json.

[2019-09-02 07:46] akosyakov opened #6080 "[vscode] tree view nodes are never cleaned up"

[2019-09-02 07:51] akosyakov commented on #6080
Also event emitters are not disposed.

[2019-09-02 08:00] a1994846931931 commented on #6046
It seems that it only happens for the first time the configuration is read. So if you make some changes to the workspace configuration and the plugin has a preference changed listener, the re-read configuration would be valid.

PS. The preference system is just so complicated and very difficult to diagnose. And the fact that `plugin-ext` is impossible to debug (am I wrong?) even adds to the diffic

[2019-09-02 08:12] a1994846931931 commented on #6034
Could it be related to #6046, as both `launch.json` and `settings.json` files have something to do with `FolderPreferenceProvider`?

[2019-09-02 08:32] akosyakov commented on #6046
@a1994846931931 it is possible, see https://github.com/theia-ide/theia/issues/3251#issuecomment-468166533 let me know if you need a help to get it running

[2019-09-02 08:34] akosyakov commented on #6034
@a1994846931931 it should be fixed in https://github.com/theia-ide/theia/pull/6035 Could you review please? Also try #6046 against it?

[2019-09-02 08:35] akosyakov opened #6081 "document how to debug plugin host process"
- add a launch configuration based on: https://github.com/theia-ide/theia/issues/3251#issuecomment-468166533
- add doc section here:  https://github.com/theia-ide/theia/blob/master/doc/Developing.md#debugging

[2019-09-02 08:44] a1994846931931 commented on #6046
@akosyakov Sorry, I mean debugging source code under `packages/plugin-ext`, not a VSCode extension.

[2019-09-02 08:50] akosyakov commented on #6046
Which file? These source code runs in 3 different processes:
- main browser (use devtools)
- node backend (use Launch Backend configuration)
- and plugin host process, i.e. bootstrapping and communication code for VS Code extensions (from `plugin` folder) - https://github.com/theia-ide/theia/issues/3251#issuecomment-468166533 can be used to debug it

[2019-09-02 09:20] #6015 closed

[2019-09-02 09:59] svenefftinge opened #6082 "[vscode] toolbar icons are not updated acordingly"
### Description
For vscode maven extension there are two toolbar icons that should together immitate a toggle button. This is based on a when clause using the config.
See https://github.com/microsoft/vscode-maven/blob/19bde696fca4ec5acc06d68470a4e1d0ee515d70/package.json#L287

It works nicely in VS Code but in Theia I see both icons.

[2019-09-02 10:35] akosyakov opened #6083 "tabbar tree decorations hang UI with a lot of diagnostics"
See to reproduce: https://github.com/theia-ide/theia/pull/6044#issuecomment-525200150

<img width="1395" alt="Screen Shot 2019-09-02 at 15 37 08" src="https://user-images.githubusercontent.com/3082655/64108889-8a909e00-cd97-11e9-80cf-fa785ddacb26.png">

[2019-09-02 10:44] ariel-bentu commented on #5683
Hi,
I retested my code. When settings on User level - it works fine. when settings in settings.json  .theia (or .vscode) - it does not work, and changes are (1) don't trigger the event and (2) are not relected in `workspace.getConfiguration(...)` - I get the value that was read the first time before changes.

I noticed that I did not push into my github I mentioned above the latest code - so now I

[2019-09-02 11:07] akosyakov commented on #6083
@vince-fugnitto @fangnx I'm going to redesign API, since it is based right now on captions which cannot be unique. I'm not going to make it as a breaking change, it will be part of 0.10.1 bug fix.

[2019-09-02 11:46] akosyakov opened #6084 "getting problem stat hanging UI with a lot of diagnostics"
See to reproduce: https://github.com/theia-ide/theia/pull/6044#issuecomment-525200150

<img width="1395" alt="Screen Shot 2019-09-02 at 16 45 22" src="https://user-images.githubusercontent.com/3082655/64112545-2bd02200-cda1-11e9-9120-5710a5dd98f1.png">

[2019-09-02 12:21] a1994846931931 commented on #6034
OK

[2019-09-02 12:30] vinokurig commented on #5993
Now the Error is:
[code]
Witch is expected because there is no `eclipse-cdt.cdt-gdb-vscode` extension in the vscode marketplace.
If all necessary plugins are installed manually the extension should be successfully installed as well @tolusha Could you please check it  with the latest changes?

[2019-09-03 05:39] akosyakov commented on #5008
It would be cool to implement it to have a launch configuration in Theia which debugs the backend and plugin host process.

[2019-09-03 06:24] svenefftinge opened #6088 "Enable MultiRoot Workspaces"
### Description

I think it's time to switch the default for `workspace.supportMultiRootWorkspace` to true, as it seems to work fine now. We started out disabling it a couple of months ago because we expected it to have issues.

[2019-09-03 06:55] a1994846931931 commented on #6046
## Diagnostic Update:

For workspace configurations, they are provided by `.theia/settings.json` and, will be validated and filtered by a schema. The schema will be updated when a plugin is loaded, through a series of events.   However in some cases, the VSCode plugin requires reading of preferences as soon as it's activated, and the preferences are read before it's refreshed, some configurations

[2019-09-03 07:12] a1994846931931 commented on #6046
## Updated Reproduction Steps

1. Download and deploy this simple test plugin on theia
[test-configuration-contribution-0.0.1.zip](https://github.com/theia-ide/theia/files/3568189/test-configuration-contribution-0.0.1.zip)
2. Add configuration `"test.testConfiguration": "new configuration"` to workspace configuration (you may need to create `.theia/settings.json` by your own;
3. Refresh the browse

[2019-09-03 08:35] amiramw commented on #6061
- if a plugin activation throws exception should plugin host be tolerate and not fail all other plugins?
- if a plugin activation throws exception currently the exception is not logged anywhere. You must debug the host in order to find out what happened.
- if a plugin load/activation throws exception should it be reflected in the plugins view?

[2019-09-03 08:48] tolusha commented on #5993
I can't reproduce this issue anymore

[2019-09-03 08:48] #5993 closed

[2019-09-03 09:20] akosyakov opened #6091 "rangeOffset is always 0 for plugin document changes"
Reproducible with https://github.com/theia-ide/theia/pull/6044#issuecomment-527170357

[2019-09-03 09:24] akosyakov commented on #6061
no, a plugin cannot be activated if its dependencies are not activated

an error should be logged and a user should receive an error notification as well

It should be the same as in VS Code. Could you check what happens there? In anyway, for now error notifications would be enough to me.

[2019-09-03 09:43] akosyakov opened #6092 "[vscode] command arguments should not be passed via JSON-RPC"
It is not necessary and it breaks: https://github.com/theia-ide/theia/pull/6044#issuecomment-527170961

It should be fixed for all commands, namely, completions, code actions, code lenses, scm apply and status bar commands.

[2019-09-03 09:51] thegecko opened #6093 "[debug console] Copying all debug console text only copies text in view"
### Description
When copying all text in the debug console, only a partial copy is made to the clipboard.
It seems this is only copying the text in view.

### Reproduction Steps
Create a noddy program with lots of output, e.g.:

[code]

Debug this program and `select all` in the debug console output.

<img width="1696" alt="Screenshot 2019-09-03 at 10 47 47" src="https://user-images.githubusercont

[2019-09-03 09:59] akosyakov commented on #6093
Related https://github.com/theia-ide/theia/issues/3610

[2019-09-03 10:08] thegecko commented on #6093
Looks similar. We figured it's because of exposing a backend terminal.

[2019-09-03 10:15] vince-fugnitto commented on #6083
Thank you for taking care of it, and I'm fine with it being a breaking change.

[2019-09-03 12:14] akosyakov opened #6095 "[plugin] Failed to show text document for already opened document"
Reproducible with https://github.com/theia-ide/theia/pull/6044#issuecomment-527170961
[code]

Also `[object Object]` is not very informative.

[2019-09-03 12:23] amiramw commented on #6061
what about two plugins that are not dependent? Should the first failure prevent from the second to be activated?

[2019-09-03 12:24] thegecko commented on #5481
Actions use docker containers behind the scenes, so are Linux only.

This would mean we couldn't sign installers for Mac / Windows :(

[2019-09-03 13:07] amiramw commented on #5507
Do we have multi users support? Or are you worried about shared workspace support?

[2019-09-03 13:29] amiramw commented on #6061
VS Code does not reflect it in any way (only notification). I think we can do better but it is not high priority.

[2019-09-03 13:54] akosyakov commented on #6061
No, independent plugins should be activated independent. It is already a case I believe.

[2019-09-03 13:57] akosyakov commented on #5507
I'm concerned about shared workspaces. I think we can do a simple thing for now and load automatically. For unload there still should be a button to reload the page for now. Later when we support proper plugin unloading, we can do it automatically as well.

[2019-09-03 13:57] akosyakov commented on #5481
It was just a suggestion, I would be happy with anything working :)

[2019-09-03 15:50] lmcbout commented on #5425
This issue has been resolved with clangd r365204
See issue https://github.com/clangd/clangd/issues/75
Available with different release starting with Xenial (16.04) and newer versions

[2019-09-03 15:50] #5425 closed

[2019-09-03 16:00] thegecko commented on #5481
I get the hint :p

[2019-09-03 16:07] jonnyhork commented on #4605
Thanks for picking this up @akosyakov, the use of `onDidChangeVisibility` in some new features of our Salesforce VS Code extensions has prevented the plugins from working in Theia.

[2019-09-03 21:19] amiramw commented on #6061
In the case of exception thrown on activation method the plugin host crashes. See my PR.

[2019-09-04 02:46] a1994846931931 opened #6098 "User configuration is buggy"
### Description

#### Summary:
1. Change of user configuration doesn't take effect
2. Editor of the user configuration is buggy

#### 1. Change of user configuration doesn't take effect
Change Workspace Configuration (good - takes a while to take effect though):
![workspace-configuration-valid](https://user-images.githubusercontent.com/17487291/64221492-ac0c9980-ceff-11e9-9b3f-4846e929c78b.gif)

C

[2019-09-04 03:02] #6012 closed

[2019-09-04 03:03] #6024 closed

[2019-09-04 03:03] #6081 closed

[2019-09-04 03:03] #6079 closed

[2019-09-04 03:04] #4162 closed

[2019-09-04 03:37] akosyakov commented on #6098
@a1994846931931 workspace settings are overriding user settings, are you sure that workspace settings don't contain `editor.formatOnSave` when you edit user settings?

[2019-09-04 03:45] a1994846931931 commented on #6098
@akosyakov Do you mean in "Editor's Weird Behaviour"? Yes, it does. The workspace settings contain `editor.formatOnSave`, and it's set to `true`.

[2019-09-04 03:52] akosyakov commented on #6098
@a1994846931931 oh, sorry, i meant `editor.fontSize` and `Change User Configuration (buggy):`. It looks like an event is missing, we have a good coverage of tests for resolving preferences but not emitting change events.

[2019-09-04 05:06] akosyakov commented on #4605
@jonnyhork it was fixed in https://github.com/theia-ide/theia/pull/6044. You can try against this PR how well your extension work now. Please file and comment on existing issues if something missing. 🙏

[2019-09-04 06:16] a1994846931931 commented on #6098
@akosyakov No. As you can see in the gif, I've deleted `settings.json` before testing on user configuration.

[2019-09-04 07:50] AlexTugarev opened #6100 "Toolbar of Output View can't be selected"
If a Tab Bar contains many tabs, its Toolbar can't be selected.

# How to reproduce:
1. open Output View
2. open many Terminals
3. try to switch the source in the Output View and see you get the tab in background selected instead

![2019-09-04 09 41 27](https://user-images.githubusercontent.com/914497/64235729-3f8e9c00-cef9-11e9-978a-b119bb6c751f.gif)

[2019-09-04 08:00] tolusha opened #6101 "It is not possible to add Python debug configuration"
### Description

### Reference issue
https://github.com/eclipse/che/issues/14219

### Reproduction Steps
1. Put Python [1] extension in `plugins` folder
2. Open any python file to initialize the extension
3. Open `launch.json`, use completion to select `Python`
4. Nothing happens

[1] https://marketplace.visualstudio.com/items?itemName=ms-python.python

**Diagnostics:**
Investigation shows Theia s

[2019-09-04 08:24] corneliusludmann opened #6102 "Rerendering of toolbar icons to consider changes in the visibility/enabled when expressions e.g. after click"
### Description
There are 'when' expressions, that are evaluated in order to decide if a toolbar button should be visible resp. enabled or not (e.g. in VSCode plugins, [see example here](https://github.com/microsoft/vscode-maven/blob/19bde696fca4ec5acc06d68470a4e1d0ee515d70/package.json#L287)). The variables used in the when expressions could change at any time, especially after a click on an icon

[2019-09-04 08:24] AlexTugarev opened #6103 "Support `integratedTerminal` for debugging"
Take the Python VS Code extension for instance, it's not possible to use `integratedTerminal` for launch configs. Though the Terminal opens as expected, it's not getting anything sourced, thus no debugger is attached.

[2019-09-04 08:40] #6088 closed

[2019-09-04 09:02] #6034 closed

[2019-09-04 09:41] #6080 closed

[2019-09-04 09:41] #6039 closed

[2019-09-04 09:41] #6083 closed

[2019-09-04 09:41] #6084 closed

[2019-09-04 09:41] #6091 closed

[2019-09-04 09:41] #6092 closed

[2019-09-04 10:15] #6075 closed

[2019-09-04 10:45] marcdumais-work opened #6104 "[cpp] watch file compile_flags.txt for changes"
### Description
It's possible to pass flags to `clangd` through file `compile_flags.txt` in the repo root. ATM we do not watch that file, but probably should, and when we notice it changes (or is created), restart clangd so it can use it's latest content.

### Reproduction Steps
See test scenario in this spectrum discussion: https://spectrum.chat/theia/general/cpp-extension-with-clangd~1560869d-10

[2019-09-04 14:35] AlexTugarev opened #6106 "Preference schema validation issue (rust vscode extension)"
when the rust extension for vscode is installed you'll see this error:

[code]

reason: it's reading `['rust-client.channel'].type = ["string", null]` which should be `['rust-client.channel'].type = ["string", "null"]`.

because the resulting schema cannot be compiled, this breaks the update of the [`validateFunction`](https://github.com/theia-ide/theia/blob/master/packages/core/src/browser/prefer

[2019-09-04 14:48] AlexTugarev commented on #6106
cf. https://github.com/rust-lang/rls-vscode/pull/654

[2019-09-05 01:48] #5342 closed

[2019-09-05 04:04] akosyakov commented on #6106
@AlexTugarev please try with https://github.com/theia-ide/theia/pull/6090

[2019-09-05 06:17] AlexTugarev commented on #6106
@akosyakov the mentioned PR is proposing to not call `schemaProvider.validate` at all. this will effectively disable validation at at all, no? 😕

otoh, it won't actually solve the issue described ☝️ the `validateFunction` won't be updated once an invalid preference schema is added. I think the underlying issue is that adding the schema and validating are two independent steps.

[2019-09-05 06:19] akosyakov commented on #6106
What's the use of a scheme if don't do a validation anymore? I think doing warning check on a scheme is good to catch such issues, don't know why VS Code just swallow it and does not report back to VS Code extension developers. But rather than that we can move validation check to statically typed proxies in order to avoid breaking them and don't check anything in `PreferenceService` implementation

[2019-09-05 06:32] kittaakos opened #6107 "[multi-workspace] I cannot add a new folder to my workspace"
### Description

I do not know if it is a bug or I just do not know how this feature works, but I cannot add a new folder. I set the user scoped `workspace.supportMultiRootWorkspace` to `true`. My workspace `settings.json` does not have the `workspace.supportMultiRootWorkspace` preference configured. The `Add Folder to Workspace...` menu item is not available for me in the explorer.

### Reproduct

[2019-09-05 06:42] akosyakov commented on #6107
It is indeed working in VS Code through the context menu. As a workaround you should be able to use the quick command or `...` in the toolbar.

[2019-09-05 07:07] kittaakos opened #6108 "[multi-workspace][ls] Support `workspace/didChangeWorkspaceFolders`"
### Description

As an extension developer, I want my LS to be notified when a folder is added/removed to/from my Theia workspace. VS Code sends the `DidChangeWorkspaceFoldersParams` to the LS when the workspace has changed.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-09-05 08:14] 502647092 opened #6109 "false positive error tabbar icon"
### Description
![image](https://user-images.githubusercontent.com/10203793/64323901-f4a77e00-cff7-11e9-85f8-ebee2387610f.png)

### Reproduction Steps

- open a ts file
- type some error code
- fix error code
- save file

**OS and Theia version:**
**Diagnostics:**

[2019-09-05 08:17] akosyakov commented on #6109
@502647092 you can disable problem decorators with preferences if it is annoying.

[2019-09-05 08:18] akosyakov commented on #6108
Depends on https://github.com/theia-ide/theia/pull/5901

[2019-09-05 11:34] AlexTugarev opened #6111 "Debug adapters cannot be fetched"
cf. https://github.com/theia-ide/theia/pull/6110#issuecomment-528304473

builds are broken because debug adapter cannot be fetched.

`@theia/java-debug` and `@theia/debug-nodejs` are affected.
one option is to get rid of them at all and use the vscode extension instead.

[2019-09-05 12:17] akosyakov commented on #6111
What do we do with theia apps fetching va code extensions? Like go?

What downstream native debug extensions do? Like debugging for cpp?

[2019-09-05 12:21] svenefftinge commented on #6111
Can we solve those issues where they happen? Generally we should not rely on downloading extensions from the marketplace, so I'd say it's best for those downstream builds to have the required bits checked in or hosted elsewhere.
For this repository, however, it seems like we could get rid of that code alltogether.

[2019-09-05 12:23] akosyakov commented on #6111
For time being can we just exclude them from yarn workspaces?

[2019-09-05 12:23] svenefftinge commented on #6111
ok, will do

[2019-09-05 12:23] akosyakov commented on #6111
Ok, I’m fine with removing them.

[2019-09-05 12:27] akosyakov commented on #6111
I don’t think it is possible because our download script does not allow to set something like auth token for marketplace

[2019-09-05 12:44] vince-fugnitto commented on #6109
It used to work correctly, I suspect that the error is from the changes in https://github.com/theia-ide/theia/pull/6044/commits/67a04cba04454b3c77399a5483f2544e204b38af

There are a few problems, for instance:
- tabbars now display `information` severity decorators which seem noisy.
- tabbars display `information` severity decorators at a higher priority than `error` (when an editor has both error

[2019-09-05 13:03] vince-fugnitto opened #6114 "[scm|git] update commit textarea placeholder to include branch name"
**Description**

Update the git commit textarea placeholder to include the branch name.

Currently the following is displayed:

<img width="331" alt="Screen Shot 2019-09-05 at 8 54 13 AM" src="https://user-images.githubusercontent.com/40359487/64343736-120a2700-cfbb-11e9-9782-ce7a9a978707.png">

While the placeholder can be updated to display the following:

<img width="333" alt="Screen Shot 2019-

[2019-09-05 13:11] vince-fugnitto opened #6115 "Update VSCode Icons"
**Description**

The repository [vscode-icons](https://github.com/microsoft/vscode-icons) has recently been created where we can re-use the same icons present in VSCode. Is it something we'd like to align to? If we use the outdated icons it's quite possible we will get a mismatch in our own applications when using plugins (which bring the new icons in their views).

[2019-09-05 14:06] marcdumais-work commented on #6111
I think anyway that it's against the marketplace license/user agreement to use it from a non-Microsoft product.

When individual license permits I think we are allowed to make the extensions available from an alternate place, like a GH release. So we could for now add them to one of our repos and download from there. Maybe we can create a new repo, `theia-ide/vscode-extensions` or such for this?

[2019-09-05 14:21] akosyakov commented on #6111
GitHub is not the best place. They have limited access rate as well. Maybe on some free CDN.

Having our public registry will be the best.

[2019-09-05 14:28] akosyakov commented on #6109
@vince-fugnitto I believe you that it was by my changes, but it used to hang the browser too :) anyway we should a fix now, could you have a look? i can do it after migrating Monaco.

[2019-09-05 14:34] vince-fugnitto commented on #6109
@akosyakov not blaming you at all :) I know the original implementation was problematic and worse if it hangs the browser. I'll see if I can debug as to why when I get the chance.

[2019-09-05 14:52] marcdumais-work commented on #6111
True. If we add GH downloads pass a certain point, it will probably fail even with GH Token. But until we reach that point, it should be ok?

Could be ok but harder to manage access rights for everyone who might need to update the extensions there.

[2019-09-05 14:58] vince-fugnitto opened #6117 "[keymaps] adjust keybindings-widget column spacing on firefox"
**Description**

The spacing for the first column (actions) in the `keybindings-widget` is incorrect on _Firefox_ compared to _Chrome_ and _Safari_.

_Chrome:_

<div align='center'>

<img width="1792" alt="Screen Shot 2019-09-05 at 10 53 29 AM" src="https://user-images.githubusercontent.com/40359487/64353407-b3997480-cfcb-11e9-82bb-d4ffd29c85ad.png">

</div>

_Safari:_

<div align='center'>

<img

[2019-09-05 15:36] vince-fugnitto commented on #6107
For additional information, the command is not displayed in the context menu of the explorer when a multi-root workspace is present. In the presence of a single-root workspace, the command is visible in the context menu.

Also, if a root is selected, the command is also visible in the context menu.

[2019-09-05 16:06] akosyakov commented on #6111
ok, true, we pass GH token for rigrep everywhere, so probably everybody do the same already

[2019-09-05 16:58] JonasHelming opened #6118 "ESLint VS Code extension installation fails"
### Description
When installing the ESLint VS Code extension, "taskDefinitions=>properties" is undefined and scanner-theia fails with TypeError: Cannot convert undefined or null to object
### Reproduction Steps
Install ESLint VS Code plugin

**OS and Theia version:**
Linux and Master

Will provide a fix...

[2019-09-06 01:33] cosmoarunn opened #6121 "error while installing generator-theia-extension"
### Description
$ `npm install -g yo generator-theia-extension`
[code]

And the tail of this debug log,
`$ tail  /root/.npm/_logs/2019-09-06T01_24_57_543Z-debug.log`
[code]

I installed spawn-sync@2.0.0 and postinstall@0.5.1 but still no luck

### Reproduction Steps
 npm install -g yo generator-theia-extension

**OS and Theia version:**

**Diagnostics:**

[2019-09-06 05:06] akosyakov commented on #6115
New Monaco already using new VS Code icons, so probably it makes senes to align.

[2019-09-06 06:01] #5751 closed

[2019-09-06 06:39] svkr2k opened #6122 "Custom Debug adapter - debugging does not work if a file is already open"
### Description
Debugging does not start and source code line not highlighted if the file is already open in editor.

### Reproduction Steps
1. Create custom debug adapter and use it along with theia as described here: https://che.eclipse.org/how-to-add-support-for-a-new-debugger-for-che-theia-f459ea806ff

2. Add a file and add some content to it. Adding the file opens the file automatically in th

[2019-09-06 06:46] #6106 closed

[2019-09-06 07:31] svenefftinge opened #6124 "[textmate] Don't warn if same grammar gets configured multiple times"
Some extensions reuse a grammar for multiple languages. E.g. builtin-ini does that for 'ini' and 'properties'. As a result the grammarprovider is registered twice, which results in a warning.
We should not warn in the case that the same grammar is used (same location).

[2019-09-06 07:46] kittaakos commented on #6118
Closed via https://github.com/theia-ide/theia/pull/6119.

Please reopen if I needed.

[2019-09-06 07:46] #6118 closed

[2019-09-06 09:14] #6111 closed

[2019-09-06 12:35] elaihau commented on #5836
@akosyakov
could you please explain the reason that it is this one dependent on #5013 ?

please correct me if i am wrong:
i believe we can support the `input` section in `tasks.json` and variable substitution even if tasks are not accessible from the configuration / preference. Having it is just one more round of "resolving task configuration".

[2019-09-06 12:49] vince-fugnitto commented on #667
@akosyakov I think for something like this we should use the stub implementations (and default values) if the `preferences` extension is not included.

[2019-09-06 12:55] xieyuanhuata opened #6128 "The datas of Complete exists repeatedly"
### Description
![111](https://user-images.githubusercontent.com/50982164/64428749-192e5380-d0e7-11e9-96d5-4ffc6b283337.gif)
### Reproduction Steps
1、Generate a simple vscode plugin by the tools of yo，and then run 'vsce package'；
![112](https://user-images.githubusercontent.com/50982164/64429035-b7221e00-d0e7-11e9-99db-3f2fe6a01941.PNG)
![113](https://user-images.githubusercontent.com/50982164/644

[2019-09-06 12:56] vince-fugnitto opened #6129 "[core] building an application solely with `@theia/core` does not run"
**Description**

If one builds an application only with `@theia/core` the application does not successfully run.

**package.json**

[code]
**Error**

[code]

**Steps to Reproduce:**
1. create a folder, and add the `package.json` from above
2. run `yarn`
3. run `yarn theia build`
4. run `yarn theia start`
5. go to the browser and load the application (`localhost:3000`)
6. the error is displayed in

[2019-09-06 12:56] elaihau commented on #6107
i had the same issue: https://github.com/theia-ide/theia/issues/5020

[2019-09-06 13:28] #6124 closed

[2019-09-06 14:17] #6046 closed

[2019-09-06 14:21] akosyakov commented on #5836
@elaihau sorry i cannot remember already, probably I thought it would be easier to implement if tasks will be loaded through preferences, or did not want to implement it before refactoring loading via preferences to avoid double work

[2019-09-06 14:26] kittaakos commented on #6107
Duplicate of #5020.

[2019-09-06 14:26] #6107 closed

[2019-09-06 14:52] akosyakov commented on #667
@vince-fugnitto yes, I think it used to work like that, but got broken with all refactorings for last years )

[2019-09-06 14:54] akosyakov commented on #6128
And you did exclude native java extension?

[2019-09-06 15:32] elaihau commented on #5013
we had some discussions in the office.

since it is a good amount of work to do all the refactoring, would it be possible to keep the task extension as is, and simply make some modifications to the preference service, so that we can use the preference service as a proxy to access the task config ?

in this way, the task configs wouldn't be stored with prefs or launch configs, but would be accessib

[2019-09-06 15:37] svenefftinge opened #6133 "[scm] bad styling for commit message default text"
Dark theme currently looks like this:
<img width="367" alt="Screenshot 2019-09-06 at 17 34 30" src="https://user-images.githubusercontent.com/372735/64440825-fbec8b80-d0cc-11e9-8f2f-fe8bc749e6ac.png">

[2019-09-06 16:30] akosyakov commented on #5013
@elaihau probably, yes, it could be enough to register tasks as preference configuration, i don’t think any modifications to preference service is required, it should not be aware of tasks

It could be error prone though since task extension and vscode extensions read the same state from different sources, not necessary consistent at any given moment of time. And not memory efficient since we have

[2019-09-06 16:33] akosyakov commented on #5013
Also you have to implement supporting tasks from settings.json separately for the task extension. I think it is easier to delete code from the task extension reading from a file and rely for it on the preferences service.

[2019-09-06 20:06] elaihau commented on #5013
earlier today I also noticed that `tasks from settings.json` could be supported if preference is used to access task configs, however I am not sure how useful it would be:

1, defining tasks in `settings.json` is not (visibly) supported in vscode UI. also, key-in "tasks" the setting.json does not give me any hints of auto-completion. so I don't think it is a feature documented and exposed to the e

[2019-09-06 21:52] vince-fugnitto opened #6134 "[tasks] added registered 'ProblemMatchers' to the 'tasks.json' schema"
**Description**

Follow-up of #5877

As a user, I'd like the registered `ProblemMatchers` to be present in the `tasks.json` schema so I can benefit from auto-completion and assistance when editing the file manually.

<div align='center'>

<img width="958" alt="Screen Shot 2019-09-06 at 5 52 27 PM" src="https://user-images.githubusercontent.com/40359487/64462638-1cb5e080-d0cf-11e9-9548-a13bf16f8318

[2019-09-06 22:00] deepakdahal commented on #4471
@bdeleonardis1 just started looking into theia and came across this page. I am looking for a similar functionality. Basically be able to capture file modification/buttons clicked etc. Is there a plugin/extension out there that already does this? Any help would be much appreciated, thank you.

[2019-09-06 22:25] xieyuanhuata commented on #6128
@akosyakov
I will try it

[2019-09-07 03:27] akosyakov commented on #5013
What about handling different settings folders?  like reading from `.vscode` instead of `.theia`? There is `PreferenceConfiguration` which allow end products to change them. Would we reimplement it as well?

I don't think partial reimplementation of the preference logic in the task extension is the right direction. Otherwise whenever we will need to change the preference logic we will need to upda

[2019-09-07 13:08] ektek commented on #4263
I am interested in having a default layout on first startup. I see how my extension can get the layout details but am struggling to find where to load them. Any pointers would be much appreciated.

[2019-09-07 16:03] ektek commented on #3600
Thank you for opening this issue. Has there been any update on making it easy for extensions to set a favicon?

[2019-09-08 12:05] amiramw opened #6135 "VS Code extension - menu when - condition with expression with config doesn't work"
### Description

When runnign vscode extension that has menu with when expression, the condition with config is ignored.
It should be supproted according to this: https://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts

And it works fine in VS Code.

### Reproduction Steps

- Build vsix out of https://github.com/amiramw/vscode-config-when
- Load the vsix
- Disable setting e

[2019-09-08 20:53] Daniel-Dos opened #6136 "Folder Plugin not Working in Theia Build Local with Plugins of VS Code"
### Description
I have been using theia doing my own build.
and following this tutorial to use vs code plugin

https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions

It doesn't work when I add the plugins in the folder.

only work when I use this command when theia is running

"1Alternatively, you can use the command "Deploy plugin by id" from the command palette. When asked for a par

[2019-09-08 23:04] vince-fugnitto commented on #6136
For additional information, what VSCode extension did you use when testing?
Can you include the logs when running the application?

[2019-09-08 23:15] Daniel-Dos commented on #6136
here the folder with extensions that use .

![pluginList](https://user-images.githubusercontent.com/8139890/64495794-f16cf600-d274-11e9-8ed0-5293fa82f967.png)

and with Theia in start

![theia](https://user-images.githubusercontent.com/8139890/64495825-021d6c00-d275-11e9-83ae-39ac1523fec9.png)

now , if add any extension for example : vscode:extension/redhat.java

![new](https://user-images.github

[2019-09-08 23:17] vince-fugnitto commented on #6136
@Daniel-Dos
I tested it out myself and it works correctly:
I followed the following steps:
1. build Theia from sources
2. create a `plugin` directory at the root of the project
3. download a VSCode extension (`.vsix` file) - in my case the [`gitignore`](https://marketplace.visualstudio.com/items?itemName=codezombiech.gitignore) extension
4. start the application:

[code]

I see that the extension

[2019-09-08 23:18] vince-fugnitto commented on #6136
Where do you place your plugins?
From the logs I can see that they are not being loaded.

[2019-09-08 23:23] Daniel-Dos commented on #6136
I put the plugins in a plugin folder along with theia build files

![folder](https://user-images.githubusercontent.com/8139890/64495981-83c1c980-d276-11e9-9041-9940d7a6893f.png)

[2019-09-08 23:33] vince-fugnitto commented on #6136
I assume you're running on docker, and that you've built your own ide?
You haven't built the application from sources (the main repository) as described in the first step of the guide?

[2019-09-08 23:36] Daniel-Dos commented on #6136
'm not climbing the docker,

I built the IDE itself as per this documentation

https://www.theia-ide.org/docs/composing_applications

"Build your own IDE"

[2019-09-08 23:46] vince-fugnitto commented on #6136
I see, the [guide](https://user-images.githubusercontent.com/8139890/64495981-83c1c980-d276-11e9-9041-9940d7a6893f.png) you initially [mentioned](https://github.com/theia-ide/theia/issues/6136#issue-490805156) is mainly for testing purposes. The first step in the guide describes building the application from sources. This means cloning the `theia` repository and building it, not composing an appli

[2019-09-09 00:30] Daniel-Dos commented on #6136
hi @vince-fugnitto ,

now work .
thanks .

[2019-09-09 00:30] #6136 closed

[2019-09-09 01:36] elaihau commented on #5013
@akosyakov
i am fine with your proposal. please see below - i just want to make sure i am not misunderstanding it:

all clients that retrieve task configs from task-service and task-configurations need change, as the task service will no longer be the place where the task configs are fetched from.

all task related APIs in the plugin-ext need to be reviewed and adjusted.

[2019-09-09 03:57] akosyakov commented on #6135
@amiramw Could you please try against https://github.com/theia-ide/theia/pull/5901? We had the similar issue https://github.com/theia-ide/theia/issues/6102 and it seems to be resolved by #5901

[2019-09-09 04:50] akosyakov commented on #4263
@ektek You can implement https://github.com/theia-ide/theia/blob/e5c229cf12ceff663d8a00fb97ac161f0922d169/packages/core/src/browser/frontend-application.ts#L70 in custom extension, from there you access views and change their state.

[2019-09-09 05:11] akosyakov opened #6138 "quiet plugin unzipping"
It is very verbose right now:
[code]

We don't need to see the whole json object. It should b replaced by one liner, something like unzipping such id in the following folder.

[2019-09-09 06:44] amiramw commented on #6061
@akosyakov can this issue be closed?

[2019-09-09 07:02] akosyakov opened #6139 "don't show view container if views are not visible on startup"
To reproduce:
- install python extension
- open no python project
- there is an empty `test` view container because of contributed `python` view, although the view is not visible

Expected:
- `test` view container should become visible only when `python` view is visible

~~Also the caption `PYTHON` in the context menu in the capital case.~~ -> turned out to be configured like that in VS Code exten

[2019-09-09 07:04] akosyakov commented on #6061
yes, resolved by https://github.com/theia-ide/theia/pull/6097 thank you @amiramw

[2019-09-09 07:04] #6061 closed

[2019-09-09 07:13] akosyakov opened #6140 "focus `Open workspace` button in the navigator on activation"
<img width="1552" alt="Screen Shot 2019-09-09 at 12 10 53" src="https://user-images.githubusercontent.com/3082655/64510184-f70d1f00-d2fa-11e9-88e9-586787f91165.png">

Right now the root node is selected, which is not very useful. One even cannot use `tab` to give a focus to the button. Is it a button at all?

[2019-09-09 07:14] akosyakov commented on #6140
Also `...` -> `Auto Reveal` does not make sense in this context.

[2019-09-09 07:25] svenefftinge commented on #6133
Apparently only happens in

[2019-09-09 07:28] akosyakov commented on #5013
Not remove them, but change to use `PreferenceService` instead of `FileSystem`. You can have a look how the debug extension does it: https://github.com/theia-ide/theia/blob/fd8f83efd512fd68fb2cd7323cfa80c2561d7062/packages/debug/src/browser/debug-configuration-manager.ts#L83-L113

no, if you aim for the minimal change with perseverance of APIs as much as possible and only updating implementations

[2019-09-09 07:50] ektek commented on #4263
Thank you @akosyakov. One more related question, currently I see how to start an extension through a command. How would an extension automatically start on first load?

[2019-09-09 09:25] akosyakov commented on #4263
@ektek What extension do you mean? All native Theia extensions are loaded on startup.

[2019-09-09 09:57] akosyakov opened #6142 "some icons are too big in plugin trees"
See inline actions below:
<img width="1552" alt="Screen Shot 2019-09-09 at 13 44 28" src="https://user-images.githubusercontent.com/3082655/64521776-0b104b00-d312-11e9-92a8-0b20efa756ca.png">

For comparison in VS Code: https://code.visualstudio.com/assets/docs/python/testing/test-explorer-run-scoped-tests.png

[2019-09-09 10:17] vince-fugnitto commented on #6136
Great! I'm glad :)

[2019-09-09 11:07] akosyakov opened #6143 "typescript LS does not install language features with built-in vscode extension"
In order to reproduce:
- uninstall textmate grammar extension
- install https://registry.npmjs.org/@theia/vscode-builtin-typescript/-/vscode-builtin-typescript-0.2.1.tgz as vscode extension to contribute typescript grammar
- start app
- open a file
- language features are not supported

[2019-09-09 11:13] akosyakov commented on #6143
It has to be fixed in the upstream: monaco-languageclient.

I'm going to make a bug fix 0.9.1 release and then open a PR to test it in Theia.

[2019-09-09 11:15] vince-fugnitto opened #6144 "[tasks] support 'group' in tasks"
**Description**

Support the property `group` in tasks.

[code]

**Details**

- `build` group tasks are available through a new menu item, as well as a
command (`Run Build Task...`) - executing the command triggers a quick-open menu
    - if a **single** default `build` task is present, it will be automatically executed instead of triggering the quick-open

- `test` group tasks is available throug

[2019-09-09 11:53] akosyakov commented on #6143
It is the same for VS Code extensions: https://github.com/theia-ide/theia/blob/8896f7cfe5c4142ea6ec442d33f08b7e83b427b8/packages/plugin-ext/src/main/browser/languages-main.ts#L129-L133

[2019-09-09 12:42] #6139 closed

[2019-09-09 12:57] akosyakov commented on #5804
@kpge Could you try with https://github.com/theia-ide/theia/pull/6145 please?

[2019-09-09 13:16] vince-fugnitto opened #6146 "[core] optimize and improve decorations"
**Description**

Based on the https://github.com/theia-ide/theia/pull/6132#discussion_r322057929

The rendering of `decorations` throughout the application can be improved and optimized in order to reduce the total amount of renders required while consequently improving performance.
At the moment, decorations are quite costly as there are unecessary rendering present.

One such costly decoration a

[2019-09-09 14:02] lmcbout opened #6147 "Warning in the problem view does not show when an error is reported for the same JAVA file"
### Description
Warning in the problem view does not show when an error is reported for the same JAVA file.

### Reproduction Steps
- Open a JAVA project
- Open a java file : No problem (error or warnings)
-  insert the following: `Object myObject = null;`
--> you will see a warning in the Problem view: value not used
- In the same file, now insert some code at a different line:` int`
--> An error

[2019-09-09 14:41] #6109 closed

[2019-09-09 17:27] vince-fugnitto commented on #5522
@AndrienkoAleksandr  the command `Add Folder to Workspace...` has been added as part of the explorer's `More Actions...` toolbar menu. Is this sufficient?

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/64552607-96371400-d305-11e9-9dc5-e9a854f5e0d2.png)

</div>

[2019-09-10 04:37] #6143 closed

[2019-09-10 06:18] kpge commented on #5804
no，It still gives the same wrong suggestion.

[2019-09-10 07:21] xieyuanhuata commented on #6128
@akosyakov
it will also happen

[2019-09-10 09:32] tsmaeder opened #6151 "Make it possible to map XXX-Providers to Plugins"
In order to provide metrics related to language plugins, but also to implement tests for particular plugins, it would be helpful if registered providers could be mapped to a theia plugin. For example, we may want to test what VS Code-Java returns when we invoke code-assist at a particular place in a file. We could rely on VS Code-Java being the only extension installed in the system (aka we set up

[2019-09-10 09:33] tsmaeder commented on #6151
@JPinkney @akosyakov would be interested in hearing your opinions on this.

[2019-09-10 09:42] tsmaeder commented on #6147
@lmcbout are you saying this is happening for _all_ pairs of warnings and errors or just this one? It may well be that the compiler gives up on analysing the rest of the file in this particular instance.

[2019-09-10 09:44] akosyakov commented on #6151
@tsmaeder I will be fine with such changes.

[2019-09-10 09:44] tsmaeder commented on #6108
Just to make sure I understand this right: in the plugin API, this works, right?

[2019-09-10 09:46] akosyakov commented on #6108
@tsmaeder Yes, it is only about native LSP support. Although it probably affects https://github.com/theia-ide/theia/blob/a9a39db21ee8d37365da72c8127ec1abb78d5248/packages/plugin/src/theia-proposed.d.ts#L22-L36. Not sure whether it is used.

[2019-09-10 09:47] benoitf commented on #6151
could we use an interface so we won't break callers every time a new parameter is added (if we need to provide more than id/string)

[2019-09-10 09:56] tsmaeder commented on #6093
I think this is really a problem in the react list widget: "select all" should set the selection to all items and actions like "copy" should refer to the internal model, not the rendered text.
This works correctly in the editor. There is really no reason it should not in a virtualized list widget.
The said, not sure how this could be fixed.

[2019-09-10 13:02] AlexTugarev commented on #955
@vince-fugnitto thanks for checking!

[2019-09-10 13:02] #955 closed

[2019-09-10 13:05] JPinkney commented on #6151
Yeah, I like this idea. Assuming https://github.com/microsoft/vscode-languageserver-node/issues/517 gets resolved, we would be able to create metrics that show exactly which part of the language server is having the issue and then also display which extension the issue was coming from.

Without this, we would at best be able to show a metric for only the current configured language (e.g. Java, YAM

[2019-09-10 13:44] kittaakos opened #6153 "[keybinding][windows] Keybinding collisions"
### Description

There is a keybinding collision in Theia. Happens on Windows.

[code]

[code]

### Reproduction Steps

Start Theia on Windows.

**OS and Theia version:**
Windows a9a39db21
**Diagnostics:**

[2019-09-10 13:46] tsmaeder commented on #6151
I'm not sure if it's not better to "fail early" in this case: generally, the ext and main interfaces need to match exactly: since we don't have a protocol version, we cannot detect whether both sides are using a compatible version.

[2019-09-10 14:01] benoitf commented on #6151
well it can still fail, but we'll change less lines of code.

[2019-09-10 14:30] tsmaeder commented on #6151
But we won't notice that we have to update callers at compile time.

[2019-09-10 14:37] benoitf commented on #6151
even with strictNullChecks ?

[2019-09-10 14:47] tsmaeder commented on #6151
ok, I see what you want to do. I guess that might work.

[2019-09-10 14:48] akosyakov commented on #6151
We can introduce new things as optionals, so another side has to check first there they are present.

[2019-09-10 14:52] kittaakos opened #6154 "[proposal][question] Can we rename the Theia debug adapters when moving them out from the repository?"
### Description

We discussed during our weekly call, the debug adapters (or at least the Java one) should go into its own repository.

Question: Can we consolidate the name of the debug adapter extensions?
Currently, we have `@theia/debug-nodejs` and `@theia/java-debug`. It would be great to have either `@theia/debug-yourLanguage` or `@theia/yourLanguage-debug`.

### Reproduction Steps

**OS and

[2019-09-10 15:11] akosyakov commented on #6154
I thought we discussed to delete them and replace with VS Code extensions in example apps?

[2019-09-10 15:38] kittaakos commented on #6154
My understanding was different, but I am more than happy with the deletion. I guess we delete Java.

I am closing this.

[2019-09-10 15:38] #6154 closed

[2019-09-10 15:57] lmcbout commented on #6147
@tsmaeder This is a small maven HelloWorld project I took on the web
If I had a second warning, then both go away and are replaced by the error. When I remove the error, then I can see all warnings. I find it strange if the whole project is not analyse. If I add a warning in another file, it shows

[2019-09-10 16:23] 502647092 commented on #5916
@a1994846931931
you can temp fix this problem
`sed -i s/lineLimit:400}/lineLimit:4000}/g /home/theia/lib/bundle.js`

[2019-09-10 17:55] amiramw commented on #6135
yes. it is resolved by #5901

[2019-09-10 18:08] amiramw commented on #5025
@akosyakov do you plan to implement the proper solution here?
If not, what do you think about reflecting in the UI that plugins don't work anymore and refresh is required?

[2019-09-10 21:11] JPinkney commented on #6151
How would we go about associating a handle with a plugin id? From what I understand handles are created [here](https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/src/plugin/languages.ts#L175) but when you are actually registering the feature like [here](https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/src/plugin/languages.ts#L232) it doesn't know that it's registe

[2019-09-11 01:33] xieyuanhuata commented on #6114
Yes I do it

[2019-09-11 02:40] kpge commented on #6140
I think it's necessary to show the focus effect in navigator when the workspace is empty, because this can show user the navigator is focused, and press `tab` can select the button.
I will create a PR to fix other suggestion.

[2019-09-11 03:23] kpge opened #6157 "don't kown which item is selected when press tab in getting start page"
### Description
![tab](https://user-images.githubusercontent.com/35068357/64665672-f8b71e00-d485-11e9-84fb-9b5bbeea88a5.gif)
don't kown which item is selected when press tab in `getting started` page

### Reproduction Steps

1. open `Getting Started` widget from `help=>Getting Started`
2. press `tab` key to select a item in `Getting Started` page
3. press`enter` key and you will find that you don'

[2019-09-11 03:26] akosyakov commented on #6140
Tab does not seem to select the button.

[2019-09-11 03:30] akosyakov commented on #5025
@amiramw I've started to work on it yesterday.

[2019-09-11 03:39] #6138 closed

[2019-09-11 03:45] akosyakov commented on #6135
resolved by https://github.com/theia-ide/theia/pull/5901

[2019-09-11 03:45] #6135 closed

[2019-09-11 03:45] akosyakov commented on #6102
resolved by https://github.com/theia-ide/theia/pull/5901

[2019-09-11 03:45] #6102 closed

[2019-09-11 06:23] #4605 closed

[2019-09-11 07:11] akosyakov commented on #6151
@JPinkney We should be able to pass it from plugin-context: https://github.com/theia-ide/theia/blob/57be198635ced9325aaad0ada885b60e02154128/packages/plugin-ext/src/plugin/plugin-context.ts#L175 ?

[2019-09-11 08:05] akosyakov opened #6160 "[plug-in] AbstractMessageReader cannot be invoked without 'new'"
It's a follow up of switching to es6 for vscode-ws-jsonrpc. Somehow it was working in the Monaco PR, but does not work on master anymore. Looking into it.
[code]

Steps to reproduce:
- remove native node.js debug extension
- install vscode node and node2 debug extensions
- start Theia
- try to debug mocha tests

[2019-09-11 08:34] akosyakov commented on #5902
Many VS Code extensions are compiled against es5 if we recompile plugin host types to es6, they won't work. We should make sure that these classes remain es5 compatible.

[2019-09-11 08:46] #6140 closed

[2019-09-11 10:30] AlexTugarev opened #6163 "Activate TypeScript only if needed"
An initial `typescript.server.log` preference change events currently activates the TypeScript language contribution even if there is no TypeScript project in the workspace.

[2019-09-11 11:39] tsmaeder commented on #5944
yes, this is a duplicate: closing

[2019-09-11 11:39] #5944 closed

[2019-09-11 11:42] akosyakov commented on #4472
Monaco PR was merged. It should be possible to invalidate caches properly.
Look for `TODO` in https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/src/main/browser/languages-main.ts
In order to profile the plugin host process follow https://github.com/theia-ide/theia/blob/master/doc/Developing.md#profiling

[2019-09-11 12:05] #4179 closed

[2019-09-11 12:48] #6157 closed

[2019-09-11 13:03] svenefftinge commented on #3859
I think we should have a configurable limit at which the user gets asked before the file is actually opened. I.e. something like:

[2019-09-11 18:58] vince-fugnitto opened #6167 "[CI] prevent merging PRs that are failing CI"
**Description**

We should [prevent merging](https://help.github.com/en/articles/about-required-status-checks) PRs that are failing CI.
PRs should not be merged into `master` when they are breaking CI (ex: https://github.com/eclipse-theia/theia/pull/6155)

We can restrict merging PRs that fail:
- Travis (quite stable and verifies both Linux and macOS)
- AppVeyor (much more stable than in the past

[2019-09-11 19:13] sanakanchha commented on #1045
@johnwiseheart looking for something similar.. is there a doc I can look into? If you could add a readme to your repo, that would work as well, thanks.

[2019-09-11 19:31] JPinkney commented on #6151
Ha thanks! Yes it is working, for some reason I didn't see that line of code

[2019-09-12 01:13] 502647092 opened #6168 "direction key can't select suggest view"
### Description
after yesterday build
direction key can't select suggest view

before build
![temp](https://user-images.githubusercontent.com/10203793/64746248-7db13e80-d53d-11e9-8e58-9308d9ff00e9.gif)

after build
![temp](https://user-images.githubusercontent.com/10203793/64746297-96b9ef80-d53d-11e9-8bc6-bdfc9aaa3b61.gif)

@akosyakov

### Reproduction Steps

**OS and Theia version:**
**Diagnostic

[2019-09-12 02:07] akosyakov commented on #6167
I'm fine, if we can switch them off to merge something urgent.

[2019-09-12 02:28] akosyakov opened #6169 "update to use eclipse-theia insteaad of theia-ide"
Right now some links are broken like to travis CI page.

Except references to theia-apps.

[2019-09-12 02:32] akosyakov commented on #6168
@502647092 Could you provide a repo where i can reproduce it? It works in theia repo for me. Also browser version and OS?

[2019-09-12 03:44] akosyakov commented on #4114
It was resolved by https://github.com/eclipse-theia/theia/pull/5901/files#diff-292276635fa623039777fe10ae5fe4d5

[2019-09-12 03:44] #4114 closed

[2019-09-12 04:00] akosyakov commented on #5749
We should also revert https://github.com/eclipse-theia/theia/pull/6170 when we align with VS Code by reverting https://github.com/eclipse-theia/theia/commit/dd512441df7ef230f23134f726eb2e09e54de4dd.

[2019-09-12 04:13] #6160 closed

[2019-09-12 06:17] #6168 closed

[2019-09-12 07:48] vinayb21 opened #6171 "Hidden file in the file navigator not updating glob regex expression"
### Description
https://github.com/eclipse-theia/theia/blob/98f12a9fcc3a43c2b5d224e186f871e66a1e11b7/packages/filesystem/src/browser/filesystem-preferences.ts#L41-L46
When a new glob pattern is added to the above file, the value is not updated.

### Reproduction Steps
**Step 1:** Create a new file in your current workspace say 'hidden_file.txt'
**Step 2:** Add a new glob pattern: '**/hidden_file.t

[2019-09-12 11:43] dhananjayharel opened #6174 "File tree expanded event"
### Description
I want to capture the event of files tree expanded / minimized to do something on
that event in my extension.
Right now couldn't able to find it the code.

[2019-09-12 14:14] vince-fugnitto opened #6176 "[CI] enable Travis CI on Windows"
_**Description**_

Enable _Travis CI_ on [Windows](https://docs.travis-ci.com/user/reference/windows/).

_**Why**_

There are a few reasons why _Travis_ over _AppVeyor_ would be better:
- _Travis_ is easier to setup, manage and configure compared to _AppVeyor_
- _Travis_ supports concurrent builds while _AppVeyor_ does not
- Managing _AppVeyor_ through the foundation has been difficult
- _Travis_

[2019-09-12 14:28] MrMoronIV opened #6177 "Run in background"
On CentOS 7, I start the IDE using this command:
`yarn theia start /home/master --hostname 0.0.0.0 --port 8080 --ssl --cert /home/master/cert.pem --certkey /home/master/privkey.pem`

How would I make it so it runs in the background? I tried using pm2 but to no avail. PM2 would be the preferred way for me since I can then watch the output using its monitoring functionality.

[2019-09-12 15:06] MrMoronIV opened #6178 "Run as regular user"
On CentOS 7: I installed Theia using the root user and would like to allow other users to start a theia server as well, the main reason is that I want to limit the power of the user that runs the theia process, for example in the terminal, any advice on this?

For what I tried using a no-root is "yarn not found" in the $PATH variable, although it exists perfectly fine, `which yarn` gives nothing,

[2019-09-12 23:18] marcdumais-work opened #6181 "[Travis ci] we have 2 sets of Travis builds"
There are 2 Travis entries in the CI section of our PRs.
![image](https://user-images.githubusercontent.com/25749063/64827269-892e5500-d591-11e9-8b5f-c42488419ae0.png)

Looking at each one for a recently updated PR, I see one that has a build number reflecting that it's new (42 ATM)
![image](https://user-images.githubusercontent.com/25749063/64827336-d3afd180-d591-11e9-8458-fcfe060ce207.png)

and

[2019-09-13 03:35] svkr2k opened #6182 "Few documentation links doesnt seem to work"
### Description
Some theia documentation links are broken

### Reproduction Steps
The following link is broken:
https://theia-ide.github.io/theia/docs/next/modules/plugin.__theia_plugin_-1.html

not sure of it is because of repo move (https://github.com/eclipse-theia/theia/pull/6175)? I will be happy if this is fixed today... I badly need it during the weekend :-(
Thanks in advance for your help.

[2019-09-13 03:39] akosyakov opened #6183 "replace java and debug native with vscode extensions"
Motivated by https://github.com/eclipse-theia/theia/pull/6113#issuecomment-528782824

- theia-apps should be updated: https://github.com/theia-ide/theia-apps/issues/239
- java, java-debug, nodes-debug extensions should be removed and replaced by auto-downloading corresponding vscode extensions into `plugins` folder for testing purporses with example apps
- a record in CHANGELOG should be added to

[2019-09-13 10:23] marcdumais-work commented on #6182
Could you point-out where this link is defined?

[2019-09-13 10:26] #6176 closed

[2019-09-13 10:34] sr229 commented on #6178
I think folks at Red Hat got this to work, we just need to set the UID dynamically and in user mode so it works.

[2019-09-13 10:37] marcdumais-work commented on #6181
https://bugs.eclipse.org/bugs/show_bug.cgi?id=540398#c22

[2019-09-13 12:25] vince-fugnitto commented on #6182
I've opened a PR fixing the links on `theia-website`: https://github.com/theia-ide/theia-website/pull/57

[2019-09-13 12:39] marcdumais-work commented on #6181
I triggered the CI on one of my PRs and it lwe have only one Travis entry now: https://github.com/eclipse-theia/theia/pull/6180

[2019-09-13 12:39] #6181 closed

[2019-09-13 13:36] vince-fugnitto commented on #970
I believe we can use #5959 as a means to show progress for dnd events.

[2019-09-13 13:40] vince-fugnitto commented on #1980
@lmcbout can the issue be closed thanks to the fact we display the complete path when hovering over the tabbars, as well as the PR #5775 ?

[2019-09-13 13:47] vince-fugnitto commented on #1961
@lmcbout I will close the issue for the moment since the `extensions` view is deprecated.
I want to try and cleanup and only keep relevant issues for the moment I hope you understand :)

[2019-09-13 13:47] #1961 closed

[2019-09-13 14:32] vince-fugnitto commented on #674
@lmcbout
I have a working POC that disables the browser behavior when attempting to dnd from outside of the application. The browser will no longer replace the application with the content of the file you described in the issue, but it will also not open the file in the editor.

Should we simply disable the dnd which the browser handles poorly, or should we also attempt to open the file in an edit

[2019-09-13 14:33] JPinkney opened #6185 "VSCode-YAML only works if you install it before opening up a yaml file"
### Description

Currently if you open a yaml file before you install vscode-yaml then install vscode-yaml after that file is open for some reason none of the features work. There aren't any errors in console and re-opening the file doesn't register the features either.

I was able to reproduce this on latest version of os x and fedora 30.

### Reproduction Steps

Create a yaml file in a project a

[2019-09-13 14:39] vince-fugnitto commented on #674
For additional information, here is the comparison at the moment:

**Master**

<div align='center'>

![1](https://user-images.githubusercontent.com/40359487/64871154-a0615700-d612-11e9-8dfb-024f77cddf6a.gif)

</div>

**POC: Disable Default Browser Behavior**

<div align='center'>

![2](https://user-images.githubusercontent.com/40359487/64871196-b8d17180-d612-11e9-9cd1-7c5bc9216767.gif)

</div>

[2019-09-13 14:50] JPinkney opened #6186 "Duplicate language server results when installing a second language plugin"
### Description

When you have a java file and an xml file open in the workspace, then install `redhat.vscode-xml` followed by `redhat.java` there is duplicate results from the java language server. It also works in the inverse, if you have both java and an xml file open in the workspace then install `redhat.java` then  `redhat.vscode-xml` you'll get duplicates from the xml language server.

I'm n

[2019-09-13 14:57] #5780 closed

[2019-09-13 15:12] lmcbout commented on #1980
Yes, I am closing this issue since it was fixed by PR #5775

[2019-09-13 15:12] #1980 closed

[2019-09-13 15:20] lmcbout commented on #674
@vince-fugnitto  I think your POC is a very good improvement over what we currently have.  I think we should also open the file in a separate editor tab as well. VSCode is doing it, so why not Theia?

[2019-09-13 15:36] vince-fugnitto commented on #674
I'll try to see if I can implement it. It's true that VSCode has the functionality but it's also true that they do not run in the browser and will not have the odd behavior.

[2019-09-13 15:37] lmcbout commented on #970
If you use the using >TXT: commands from https://github.com/AlexTugarev/txt/raw/master/txt-0.0.1.vsix
from issue https://github.com/eclipse-theia/theia/pull/5830
You will notice that if you close the progress window, it still shows on the status bar, I think this is the only thing missing for this issue to be solved. The progress dialog is good also for the D&D

[2019-09-13 15:40] vince-fugnitto commented on #970
I thought that it can be handled generally as a progress in the `explorer`.
Any time you have a long process (ex: cloning a repo and populating the explorer, dnd into the explorer, copy and paste into the explorer). I'm not sure a statusbar entry is necessary.

Also, it can potentially be handled by https://github.com/eclipse-theia/theia/pull/5535.

Do we really need or want a statusbar item displ

[2019-09-13 15:51] #5213 closed

[2019-09-13 16:52] vince-fugnitto commented on #674
@lmcbout there seems to be limitations in obtaining the `path` for a file in a dnd event from the outside. Perhaps in this case we should simply handle the dnd more gracefully as a first iteration and think of attempting to open the file if possible in a future implementation.

I do think removing the default behavior of the browser is already an improvement over the current behavior.

[2019-09-13 17:58] caseyflynn-google opened #6187 "View + Side Panel Toolbar interactions"
The interactions between the Side Panel Widgets and the View Menu seem a little odd compared to other IDEs. Currently clicking a widget name in the view menu will remove it from the side panel instead of focusing the widget.

[2019-09-13 18:31] vince-fugnitto commented on #6187
@caseyflynn-google I agree it's not intuitive, what do you believe the behavior should be?

Perhaps we can do the following (using the `search-in-workspace` (siw) widget as an example):

| Use Case | Behavior |
|:---|:---|
| Clicking `View` > `Search` <br /> (when siw is **hidden**) | The `search-in-workspace` widget is revealed  |
| Clicking `View` > `Search` <br /> (when siw is **visible**) | Th

[2019-09-13 18:44] lmcbout commented on #674
Agree with you, may be push what you have now and open another issue about the opening the file in the Theia editor

[2019-09-13 18:55] vince-fugnitto commented on #674
Thanks! Opened the PR #6188

[2019-09-13 19:10] vince-fugnitto commented on #970
@lmcbout I tested `master` and I believe it is sufficient.
When performing a dnd, a notification is triggered where we can see the progress of the upload.
We also have the ability to **cancel** the upload:

<div align='center'>

![v](https://user-images.githubusercontent.com/40359487/64888229-6c992800-d638-11e9-8049-b27f9cc24822.gif)

</div>

In my example you can see I cancelled prematurely, and

[2019-09-13 19:16] vince-fugnitto commented on #2240
I confirmed that it is no longer an issue:
I tested the following:
1. dnd two files from the filesystem into the `explorer` - both files were added
2. dnd two files from the `explorer` into a different folder - both files were added

[2019-09-13 19:16] #2240 closed

[2019-09-13 19:17] vince-fugnitto commented on #2240
I believe it's fixed by https://github.com/eclipse-theia/theia/pull/5174

[2019-09-13 20:05] vince-fugnitto commented on #4835
The idea is to do something similar to the POCs for the same feature request in VSCode?

<div align='center'>

<img src='https://user-images.githubusercontent.com/44308390/58430241-2f4f6100-806e-11e9-9bc1-cc07b7ac7a4a.gif' />

</div>

[2019-09-14 11:21] AlexTugarev commented on #970
@akosyakov @lmcbout @vince-fugnitto isn't this issue resolved already with the current upload progress message?

if it'd be a goal to indicate that progress in the EXPLORER as well, it could be done for the mentioned #5959 and also with the improvement from #6043. please be aware that those indicators do not support cancellation. OTOH the current progress notification can be hidden with ESC key, s

[2019-09-14 13:20] vince-fugnitto commented on #970
Yes, I agree with you @AlexTugarev, the current upload progress message is sufficient (https://github.com/eclipse-theia/theia/issues/970#issuecomment-531356973). We have the ability to see a notification about a in-progess dnd, and also have the ability to cancel it. I believe this meets the requirements.

[2019-09-14 13:20] #970 closed

[2019-09-15 08:30] cosmoarunn opened #6189 "wss socket connection over apache not working (works good with http request)"
### Description

theia works well when used ipaddress like http://my.ip.add.ress:3000
Now, I set a proxy server https://sub.mydomain.tld  to http://my.ip.add.ress:3000 and things get wrong.

### Reproduction Steps
On the chrome console, i get this message
WebSocket connection to 'ws://ide.gsunitedtechnologies.com/services' failed: Error during WebSocket handshake: Unexpected response code: 404 v @

[2019-09-15 13:01] shahar-h opened #6190 "Created file/folder should be selected"
### Description
When creating a new file or folder, it is not selected in file tree.

### Reproduction Steps
- Create a new file or folder.
- The created file/folder is not selected in file tree. instead the current folder stays selected.

[2019-09-16 00:26] dannaf opened #6191 "Sample Dockerfile fails on Play-With-Docker (running Alpine Linux)"
### Description
A [sample Dockerfile](https://github.com/eclipse-theia/theia/blob/master/examples/browser/Dockerfile) for building Theia in a container does not work as-stated / out-of-the-box (using Play-With-Docker in the browser).

### Reproduction Steps
Following the commented instructions at the top of [this sample Dockerfile](https://github.com/eclipse-theia/theia/blob/master/examples/browse

[2019-09-16 01:31] akosyakov commented on #6191
@dannaf please have a look at docker images here: https://github.com/theia-ide/theia-apps i.e. docker full

@marcdumais-work are you aware of anyone using a Docker image in theia brorwser example? I've not tried it for years already. Maybe it is better to remove it.

[2019-09-16 01:32] akosyakov commented on #6190
@shahar-h feel free to have a look into it!

[2019-09-16 01:33] akosyakov commented on #6189
I don't think we do anything special with web sockets in Theia. You will need to have a look into your proxy configuration. Maybe @geropl can have an idea?

[2019-09-16 01:37] akosyakov commented on #4835
Yes, scm should be rewritten as the tree widget and support hierarchical representation.

[2019-09-16 01:43] akosyakov commented on #6187
Added to discuss on next dev meeting.

@vince-fugnitto as far as I understood that only the behavior of opening a view from the main menu bar should be changed, i.e. reveal and focus instead of toggling.

[2019-09-16 01:50] 502647092 opened #6192 "http file miss highlight and codelens not effect"
### Description
recent versions cause http file miss highlight and codelens not effect

### Reproduction Steps

- Install ext `vscode:extension/humao.rest-client`
- create simple http file
[code]

![temp](https://user-images.githubusercontent.com/10203793/64930908-4b6a4e80-d867-11e9-80f5-0d0c03de5518.gif)

- here are two problem
  - 1. http file miss highlight
  - 2. codelens not effect , but afte

[2019-09-16 01:52] vince-fugnitto commented on #6187
Yes, I believe so too. I just wanted to explicitly describe each use case for test purposes later :)

[2019-09-16 02:45] 502647092 opened #6193 "quick pick not support multi step"
### Description
![temp](https://user-images.githubusercontent.com/10203793/64931926-35ac5780-d86e-11e9-9e6e-94aac468aa7e.gif)

### Reproduction Steps

- install ext `vscode:extension/humao.rest-client`
- create http file `google.http`
[code]
- right click and select `Generate Code Snippet`
- select any language

**OS and Theia version:**

**Diagnostics:**

[2019-09-16 02:50] 502647092 commented on #6191
@dannaf maybe you need use alpine package `apk`
here have some example file
https://github.com/502647092/Dockerfile/blob/master/development/Dockerfile-alpine
https://github.com/502647092/Dockerfile/blob/master/theia-alpine/Dockerfile

[2019-09-16 03:29] BroKun commented on #5227
@vince-fugnitto This seems to have been resolved after #5931 and Monaco upgraded to 0.17.0.

[2019-09-16 06:49] mjshashank opened #6194 "Preview widget background is transparent causing isues with branding logo"
### Description

I added a branding extension similar to https://github.com/vince-fugnitto/theia-cpp-branding.

It works fine to the extent the logo is added to the empty panel.

But when I open the preview of a markdown file, the rendered output panel has a transparent background causing the logo to be visible and conflict with the rendered preview.

### Reproduction Steps
1. Add the above extens

[2019-09-16 07:45] kittaakos commented on #6193
Possible duplicate of https://github.com/eclipse-theia/theia/issues/2182?

[2019-09-16 07:50] 502647092 commented on #6193
@kittaakos not
maybe it’s what I said is not clear
emm
this plugin gen code have many step
step1 select language
step2 select code template
but after select language next quick pick is not show

my English is not very good, sorry.

[2019-09-16 07:54] kittaakos commented on #6193
OK. Thanks for the update, @502647092!

[2019-09-16 08:26] #3298 closed

[2019-09-16 08:51] vinokurig opened #6195 "Apply progress indicator for QuickInput/InputBox's view"
### Description

According to https://github.com/eclipse-theia/theia/pull/5187#issuecomment-518645593 it is needed to have a progress indicator in the QuickInput/InputBox's view like in vscode:
![ezgif-1-fae847d0321c](https://user-images.githubusercontent.com/7668752/64944819-e0754380-d877-11e9-8b10-370bafcfb03b.gif)

Could be tested against [vscode quick-input extension sample](https://github.com

[2019-09-16 10:55] svenefftinge commented on #3999
I think this has been resolved now.

[2019-09-16 10:55] #3999 closed

[2019-09-16 12:57] amiramw opened #6197 "VS Code menu contribution sorting not applied"
### Description

VS Code menu contribution can define sorting inside the group:
https://code.visualstudio.com/api/references/contribution-points#Sorting-inside-groups

When I define a menu contribution with sorting `@50` it shows last in group in VS Code but in theia it shows first.

https://github.com/amiramw/vscode-yeoman/blob/1b7437289e66710b467fbc792de258c29cbc6d91/package.json#L53

### Reprod

[2019-09-16 13:36] vince-fugnitto commented on #3891
This is no longer an issue :)

[2019-09-16 13:36] #3891 closed

[2019-09-16 13:45] vince-fugnitto commented on #5277
Duplication of #4367
The behavior is true for all widgets (main-panel, side-panel etc.)

[2019-09-16 13:45] #5277 closed

[2019-09-16 13:48] dhananjayharel commented on #5809
yes

[2019-09-16 13:48] #5809 closed

[2019-09-16 13:53] vince-fugnitto commented on #4637
@akosyakov I believe it's been addressed? I tested against the latest master 1808d78

![image](https://user-images.githubusercontent.com/40359487/64963723-bc116b00-d867-11e9-8f7c-520338701aa2.png)

[2019-09-16 14:12] vince-fugnitto commented on #5942
Would a preference be sufficient?
Something like being able to:
- hide all notifications - unless the user explicitly clicks the bell
- hide all infos
- hide all warnings
- never hide

[2019-09-16 16:50] dannaf commented on #6191
Thanks!  I'll try based on the docker full Dockerfiles, etc.

I think the in-browser example is nice to have, I would keep it and just update so that it works out-of-the-box.

[2019-09-17 01:10] akosyakov commented on #4637
@vince-fugnitto yes, thank you for the remainder!

[2019-09-17 01:10] #4637 closed

[2019-09-17 01:13] akosyakov commented on #6195
The progress API was implemented. It should be possible to improve the quick pick too now. Maybe @AlexTugarev can give a hint how to use the progress API.

[2019-09-17 01:14] akosyakov commented on #6193
@502647092 Is it about multi step support? I thought it was implemented already. cc @JPinkney @vinokurig

[2019-09-17 01:19] 502647092 commented on #6193
@akosyakov  yes
I update Reproduction Steps

[2019-09-17 05:40] BroKun commented on #5659
![opacity-search](https://user-images.githubusercontent.com/11978904/65013638-77143400-d94e-11e9-939c-ebd0e735da21.jpg)

When I looked at this problem, I found some strange places. For example, in this area on the map, we set a lot of opacity values, which is very confusing.

We added 'theia-mod-disabled' style very early, the value used here is 0.4, maybe we can set this value to a css variable,

[2019-09-17 05:53] #5519 closed

[2019-09-17 11:05] vince-fugnitto commented on #1258
I don't believe it is a problem since it is only present in main repo, is only for Theia developers and the workflow is defined in the [`quick start`](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#quick-start). If a developer builds the application using `yarn` from the main root of the application it builds the `browser` target. In order to build the `electron` target, the

[2019-09-17 11:05] #1258 closed

[2019-09-17 11:38] lmcbout commented on #4517
The middle mouse click inserts the clipboard when I click the preference title bar on Firefox, not Chrome after fixing issue #6198

[2019-09-17 12:00] tom-shan opened #6200 "`Add Configuration` of debug panel shows wrong suggestions when a new websocket is created"
### Description
After the websocket connection is recreated  for network problems, clicking `Add Configuration` of debug panel will only show some useless suggestions.
This problem appears frequently because of my bad network and is very annoying.

**right suggestions**
![image](https://user-images.githubusercontent.com/7686800/65037877-3a156500-d981-11e9-8fe5-12fd1ce4fcd7.png)

**wrong suggestion

[2019-09-17 12:24] svenefftinge opened #6201 "[git] `Pull From ...` operation doesn't allow to select branch"
### Description

When pulling from some remote repo using `pull from ...` the next quickselect asks for a branch. There are no proposals and I can neither type and use `master` or `upstream/master` although.

[2019-09-17 12:25] svenefftinge commented on #6201
If I pick the `origin` it seem to do nothing or at least it doesn't ask which branch.

[2019-09-17 13:30] acodercc opened #6202 "preference defined in a more specific scope"
### Description

packages/core-browser/src/preferences/preference-service.ts
preference defined in a more specific scope

why break, not continue?

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-09-17 13:47] dhananjayharel opened #6203 "could not able to build new theia extension"
Compiling my old theia extensions stopped working suddenly. even if I make new extension
using " yo theia-extension" command it still doesn't compile and gives following error:

browser-app: npm ERR!     /home/ubuntu/.npm/_logs/2019-09-17T13_40_52_989Z-debug.log
lerna ERR! execute callback with error
lerna ERR! Error: Command failed: npm run prepare
lerna ERR! Error: webpack exited with an unexpec

[2019-09-17 13:55] vince-fugnitto commented on #6203
@dhananjayharel I recently tested and it works correctly for me.
Can you provide the exact steps or perhaps the custom extension?
Also, which `node` version are you using?

[2019-09-17 14:16] vince-fugnitto commented on #6202
@acodercc I don't quite understand your issue/question, can you elaborate?

[2019-09-17 16:13] simark opened #6204 "cpp build task does not work"
### Description
I have this in my workspace preferences:

[code]

This generates a task in the task runner:

![bug](https://user-images.githubusercontent.com/1758287/65059625-55ae4a80-d944-11e9-9f72-e884f0ef0d6f.png)

First, notice the `undefined`, I don't think it's intended for it to be there.  Then, when I try to run it, nothing happens and I get this in the console:

[code]
I am at the followi

[2019-09-17 18:19] dhananjayharel commented on #6203
mkdir pluginDir
 cd pluginDir/
 yo theia-extension pluginDir

After that:
yarn prepare

My node version is 10.15.3

[2019-09-17 18:30] dhananjayharel commented on #6203
This is the full error message given below:
yarn run v1.15.2
$ lerna run prepare
lerna info version 2.4.0
my_plugin: > my_plugin@0.0.0 prepare /home/ubuntu/theia2/theia/my_plugin/my_plugin
my_plugin: > yarn run clean && yarn run build
my_plugin: warning package.json: No license field
my_plugin: $ rimraf lib
my_plugin: warning package.json: No license field
my_plugin: $ tsc
browser-app: > browser-a

[2019-09-17 18:53] vince-fugnitto commented on #6203
The issue is likely fixed by https://github.com/theia-ide/generator-theia-extension/pull/39, but no new version of the generator has yet to be published.

The issue comes from the fact that we cannot specify a default value when calling the generator. You can however call, `yo theia-extension` and follow the generator wizard.

[2019-09-17 19:04] vince-fugnitto commented on #6203
Here I'd do:
[code]

and not

[code]

[2019-09-18 01:10] akosyakov commented on #6187
PRs are welcomed!

[2019-09-18 01:11] akosyakov commented on #6200
@tom-shan Do you use VS Code extensions for node.js debugging?

[2019-09-18 01:33] vince-fugnitto commented on #1529
I've attempted to reproduce the issue but could not.

I ran the following launch config use case (`launch backend`), and the result of the `About` menu was in fact correct.

[2019-09-18 01:39] vince-fugnitto commented on #1465
I believe the following PR handled most occurrences https://github.com/eclipse-theia/theia/pull/3153
Is the issue still applicable/valid?

[2019-09-18 02:03] acodercc commented on #6202
![image](https://user-images.githubusercontent.com/8233657/65101735-8c936780-d9fb-11e9-9ffa-82dcafc0e53f.png)
packages/core-browser/src/preferences/preference-service.ts   line 190

[2019-09-18 02:16] akosyakov commented on #6202
@elaihau do you remember why?

[2019-09-18 02:18] svkr2k commented on #6182
Thank you very much !

[2019-09-18 02:37] tom-shan commented on #6200
No, I did not use any vscode extension.

[2019-09-18 03:06] akosyakov commented on #6200
It's a regression since restart skips now if a server is not running, but it does not play nicely with reconnection. I will do a PR promptly. cc @AlexTugarev

[2019-09-18 05:48] akosyakov commented on #6186
@JPinkney please try whether it is reproducible against https://github.com/eclipse-theia/theia/pull/6159 I found a bug that we spawn many plugin host processes for the same host and it was fixed there.

[2019-09-18 05:48] akosyakov commented on #6128
@xieyuanhuata please try whether it is reproducible against https://github.com/eclipse-theia/theia/pull/6159 I found a bug that we spawn many plugin host processes for the same host and it was fixed there.

[2019-09-18 08:08] #6200 closed

[2019-09-18 08:52] akosyakov opened #6206 "replace VS Code with vscode.env.appName (Theia) in UI"
Some VS Code extensions are not using `vscode.env.appName` to get the application name, but hardcode `VS Code` in the code. Usually, we can provide a PR for an extension, but we could also generally consider to replace `VS Code`, `Visual Studio Code` and so on with `vscode.env.appName` on the flight in user visible strings

Also we should make it possible to configure `vscode.env.appName` per an a

[2019-09-18 08:53] akosyakov commented on #6206
cc @svenefftinge @AlexTugarev @eclipse-theia/plugin-system

[2019-09-18 12:38] azatsarynnyy opened #6209 "Investigate the possibility of improving ClipboardService usage in FireFox"
### Description
This is the follow-up issue for the PR https://github.com/eclipse-theia/theia/pull/5994.

Currently, [ClipboardService](https://github.com/eclipse-theia/theia/blob/master/packages/core/src/browser/clipboard-service.ts) relies on [Async Clipboard API](https://developer.mozilla.org/en-US/docs/Web/API/Clipboard) for [browser impl](https://github.com/eclipse-theia/theia/blob/master/pac

[2019-09-18 13:11] lmcbout opened #6210 "Commands in context menu on initial startup don't work"
### Description
The context menu with "Open With" is not available on a fresh startup
On Theia initial startup , open the context menu for a file (.png or README.md or any files),
only "Open" option is available and the file does not open when selecting it.

If you just Left click on the file in explorer, it opens in a regular editor
After that the context menu is offering the "Open with" menu opt

[2019-09-18 13:17] dhananjayharel commented on #6203
I was able to build it... it was machine issue.. it doesn't have enough memory in my linux box.
created swap partition in it and now working fine.
thanks

[2019-09-18 13:22] vince-fugnitto commented on #6203
Thanks for getting back and providing the reason! :)

[2019-09-18 13:22] #6203 closed

[2019-09-18 13:24] dhananjayharel opened #6211 "safari support"
Editor is not working on Mac Safari browser.
I have created a docker machine having theia editor with my custom extensions.
When I see it on Mac's safari then pre-loader never goes away and when I see on console
I can see lot of errors.
the main error is:

Root error
"could not start contribution"

However this works very well on Windows Chrome and Firefox

[2019-09-18 13:34] vince-fugnitto commented on #6210
@lmcbout I believe it is related/duplicate of https://github.com/eclipse-theia/theia/issues/5100.
The `browser` and `electron` targets both suffer from the issue, as well as the main menu and context menus.

[2019-09-18 13:38] vince-fugnitto commented on #6211
@dhananjayharel does it work without your custom extensions?

[2019-09-18 13:42] JPinkney commented on #6186
@akosyakov Yeah that fixes it!

[2019-09-18 14:04] lmcbout commented on #6210
It is not a duplicate of issue #5100 since this one is on the web browser, but it seems related.

[2019-09-18 14:10] RomanNikitenko opened #6212 "Can not configure a task from Terminal => Run Task menu"
### Description
`Configure Task` action icon is not displayed for items of `Terminal` => `Run Task` menu.
So user doesn't have ability to configure a task from `Terminal` => `Run Task` menu

### Reproduction Steps
Go to `Terminal` => `Run Task` menu.

**Expected:**
Selected item contains `Configure Task` action icon (gear wheel)
![gear_wheel](https://user-images.githubusercontent.com/5676062/65155

[2019-09-18 14:31] vince-fugnitto commented on #6210
As I mentioned, it happens in both `browser` and `electron`.
The old issue mentions `electron` and that `browser` was un-tested but it still looks to be the same problem. ("I did not try it on Windows and Linux.")

[2019-09-18 17:18] dhananjayharel commented on #6211
No not working without extensions too.
This happens only for Safari 10.1 (Sierra OS) and below versions.
With and without my custom extensions.

However
11.2 (High Sierra) works !
12.1 (Mojave)  works !
with and without my extensions.

[2019-09-18 17:50] #5084 closed

[2019-09-18 22:01] fgreinacher opened #6215 "Remote plugins"
Hey 👋

is it currently supported to connect a Theia instance to one or more plugins running on remote hosts?

Use case: I want to provide some features in sidecar containers for better scalability and stricter isolation.

If there is no built-in mechanism could you give me a hint on a good place to hook into?

Thanks 🙏

[2019-09-18 22:44] vince-fugnitto commented on #6182
Closing since the links have been recently updated :) https://github.com/theia-ide/theia-website/pull/58

[2019-09-18 22:44] #6182 closed

[2019-09-18 23:14] vince-fugnitto commented on #3901
Sorry for getting back to you so late, sometimes some issues go under the radar unfortunately.
If it hasn't already been resolved you can take a look at past [discussions](https://github.com/theia-ide/theia-apps/issues/130) regarding supporting arm in the docker images. I'll close the issue as it is is not an issue part of the main framework but rather one of [`theia-apps`](https://github.com/thei

[2019-09-18 23:14] #3901 closed

[2019-09-18 23:36] elaihau commented on #6202
as explained in the comment (line 190 in your screenshot), the preference is defined in a more specific scope, so we don't accept the change.

Take editor.fontsize for example: if you make a change in the user preference (scope = 1) and the same preference is already defined in your workspaceRoot/.theia/setting.json (scope = 2), there is no need to accept the change, as whatever you changed in use

[2019-09-18 23:38] #2639 closed

[2019-09-19 01:55] akosyakov commented on #6211
@dhananjayharel feel free to investigate what is wrong and propose a PR. So far we were only testing with Chrome and Firefox.

[2019-09-19 01:57] akosyakov commented on #6215
@eclipse-theia/plugin-system Could someone help?

[2019-09-19 02:49] acodercc commented on #6202
i understand , thanks for your answer

[2019-09-19 02:49] #6202 closed

[2019-09-19 03:26] 502647092 opened #6216 "[terminal] add an option to prevent the terminal right click browser menu"
### Description
![image](https://user-images.githubusercontent.com/10203793/65209528-00e90c00-dacb-11e9-9ce7-66dfac0eb0af.png)

### Reproduction Steps

**OS and Theia version:**
**Diagnostics:**

[2019-09-19 05:02] akosyakov commented on #6216
Or we can add a terminal context menu and open it. If it is empty nothing should happen, but extenders can add menu items.

[2019-09-19 06:22] akosyakov commented on #3361
That's important to implement to lose sessions on each reconnect. It will be quite straightforward for native extensions. But for VS Code extensions the debug process is forked from the plugin host process, so it would be gone on the reconnect. We need to make sure instead that even debug session from VS Code extensions are forked from the Theia backend process. cc @tolusha for shared remove sessi

[2019-09-19 06:39] 502647092 opened #6217 "[vscode][webview] can't copy content from webview use Ctrl + C"
### Description

### Reproduction Steps

- ext install humao.rest-client
- create a `test.http` file
[code]
- Click Send Request
- select response at webview
- Copy use hotkey `Ctrl + C`
- nothing happend

**OS and Theia version:**

**Diagnostics:**

[2019-09-19 07:24] akosyakov opened #6218 "implement asWebviewUri api"
See changes in the sample weview vscode extension: https://github.com/microsoft/vscode-extension-samples/commit/708bc3090845be767c92b0fe53fe855a0fdca985

[2019-09-19 07:25] akosyakov commented on #6217
We should check it for Safari and Chrome.

[2019-09-19 07:55] benoitf commented on #6215
Hello @fgreinacher

FYI Eclipse Che which is provided on top of Eclipse Theia and Container ready is providing this feature.

So it means, each VS Code extension can run its own container and specific requirements.

https://www.eclipse.org/che/docs/che-7/using-a-visual-studio-code-extension-in-che/#choosing-the-sidecar-image_using-a-visual-studio-code-extension-in-che

[2019-09-19 09:10] akosyakov commented on #5648
After it done, we can try to preserve webviews on reconnection.

[2019-09-19 10:37] akosyakov commented on #4898
Plugin debug sessions will be closed for now on reconnection: https://github.com/eclipse-theia/theia/pull/6159

Track https://github.com/eclipse-theia/theia/issues/3361 and https://github.com/eclipse-theia/theia/issues/4590 for sharing and preserving sessions.

[2019-09-19 10:37] #4898 closed

[2019-09-19 12:33] #674 closed

[2019-09-19 12:34] #6194 closed

[2019-09-19 12:45] kittaakos commented on #4723
@akosyakov, was this solved with https://github.com/eclipse-theia/theia/pull/5901? If so, I am going to verify it.

[2019-09-19 12:47] kittaakos commented on #4085
@akosyakov, if this was closed why do we still have the patching code here:
https://github.com/eclipse-theia/theia/blob/24f77b359e20ff717dd54ade701abd6818a9a796/packages/languages/src/browser/language-client-factory.ts#L83-L104

Thanks!

[2019-09-19 13:41] vince-fugnitto commented on #6217
@akosyakov I tested both Chrome and Firefox.
Oddly enough Firefox worked correctly while Chrome could not copy the contents correctly.

[2019-09-19 13:44] vince-fugnitto commented on #6192
It works correctly initially, but once the application is reloaded it loses both the highlighting and codelens.

**Initially**

<div align='center'>

<img width="1358" alt="Screen Shot 2019-09-19 at 9 42 32 AM" src="https://user-images.githubusercontent.com/40359487/65249478-0f7ef580-dac2-11e9-8241-539cc164518d.png">

</div>

**After Reload**

<div align='center'>

<img width="1358" alt="Screen Sh

[2019-09-19 15:14] svenefftinge commented on #6215
Please note, that this approach breaks the assumption that all vscode extensions run in the same process and can exchange objects (see [VS Code API / extensions](https://vscode.readthedocs.io/en/stable/extensionAPI/vscode-api/#extensions))

[2019-09-19 17:02] tetchel commented on #5744
Indeed this is fixed in 0.10, thanks guys

[2019-09-19 17:02] #5744 closed

[2019-09-19 17:45] tetchel opened #6221 "QuickPick onDidChangeSelection event fires after onDidAccept"
### Description
The `window.showQuickPick` event callbacks seem to fire out of order for a quickpick where `canSelectMany = false`. It's possible it works as expected if multiple selections are allowed.

### Reproduction Steps
I'm using a quickpick with `canSelectMany = false`, and it's not quite behaving as expected. I had something like this:
[code]
but `selectedItems` was always `undefined`, af

[2019-09-19 17:48] tetchel commented on #5059
https://github.com/eclipse-theia/theia/issues/6221

[2019-09-19 18:31] fgreinacher commented on #6215
Thanks for the hints!

The Che approach sounds quite similar to what I’m looking for - is there some code to look at (Theia or Che)?

[2019-09-19 19:11] tetchel commented on #6221
Also a separate but possibly related issue is that neither onDidAccept nor onDidChangeSelection ever fires if the quickpick's `items` field is set after `qp.show()` is called. onDidHide and onDidChangeActiveItems still work as expected.

[2019-09-19 20:08] JPinkney commented on #6185
57be198635ced9325aaad0ada885b60e02154128 is the first commit where it doesn't work for the latest vscode-yaml version

[2019-09-20 01:34] akosyakov commented on #6221
cc @JPinkney @vinokurig

[2019-09-20 01:43] #5309 closed

[2019-09-20 01:44] akosyakov opened #6223 "upgrade to Monaco 0.18.1"
In order to solve scrolling issues on Firefox: https://github.com/eclipse-theia/theia/pull/5901#issuecomment-533146298

First we have to do: https://github.com/TypeFox/monaco-languageclient/issues/176

cc @danidoedel @marechal-p You are welcomed to look into it!

[2019-09-20 01:45] akosyakov commented on #6223
@svenefftinge or should I do it once more?

[2019-09-20 01:52] akosyakov commented on #4723
@kittaakos I've fixed in monaco-languageclient: https://github.com/TypeFox/monaco-languageclient/blame/b8f6f32429111f4d96f9581e63ecebc3cd104a7d/client/src/monaco-converter.ts#L405-L429

But we have to change [MonacoWorkspace.groupEdits[(https://github.com/eclipse-theia/theia/blob/bfe4bb577daa039008f6cb2e4deb4804cb53f61f/packages/monaco/src/browser/monaco-workspace.ts#L337) to respect `monaco.langu

[2019-09-20 01:57] akosyakov opened #6224 "remove runtime patch to vscode-languageclient preventing memory leaks"
Since we've migrated to latest vscode-languageclient, it should be possible to remove https://github.com/eclipse-theia/theia/blob/24f77b359e20ff717dd54ade701abd6818a9a796/packages/languages/src/browser/language-client-factory.ts#L83-L104

As part of a PR one has to verify that a language client is not leaking anything.

[2019-09-20 01:58] akosyakov commented on #4085
@kittaakos It was fixed by a workaround. Opened an issue to investigate whether it is possible to remove a patch: https://github.com/eclipse-theia/theia/issues/6224. We should generally check whether there is memory leaks with new vscode languageclient. I've overlooked it.

[2019-09-20 02:19] akosyakov commented on #6192
I see an error in console:

Could be a bug in vscode extension? We should be more tolerant though and does not ignore the whole schema, but only bogus attribute.

[2019-09-20 02:31] akosyakov commented on #6192
I also see:
[code]

Maybe caused by the new Monaco version or recent preferences refactoring.

[2019-09-20 06:02] kittaakos commented on #4723
Thanks for your feedback. Sure; I'll take care of it.

[2019-09-20 06:19] #5659 closed

[2019-09-20 06:58] #4590 closed

[2019-09-20 06:58] #5025 closed

[2019-09-20 06:58] #5829 closed

[2019-09-20 06:58] #6186 closed

[2019-09-20 07:31] akosyakov opened #6227 "[readme] travis shield should point to a new CI server"
It points to old: https://travis-ci.org/eclipse-theia/theia/builds
But should point to https://travis-ci.com/eclipse-theia/theia/builds

[2019-09-20 08:01] benoitf commented on #6215
@fgreinacher https://github.com/eclipse/che-theia ? (custom Eclipse Theia for Eclipse Che)

[2019-09-20 08:03] #407 closed

[2019-09-20 08:21] akosyakov opened #6228 "plugin system does not scale over JSON-RPC"
With many plugins, a lot of metadata gets send to the frontend and then back to the server (plugin host process) on each deployment. It happens in big chunks of plugins leading to massive ws messages which deprive all other ws channels from possibility to communicate.

Other ideas? cc @eclipse-theia/plugin-system @svenefftinge @AlexTugarev

In order to reproduce install about 50 vscode extensions:

[2019-09-20 08:53] akosyakov opened #6230 "spamming terminals deprive other ws channels"
We've noticed that opening theia repo in Gitpod is not always stable because of terminal spamming big messages trying to pull debug adapter for `@theia/java` extension. Yarn seems to keep updating the whole content of the shell with quite long messages. It has bad side effect that other channels don't have chance to send their messages.

Not sure how we can handle it, maybe reorder messages send i

[2019-09-20 08:59] akosyakov commented on #6228
We need to reproduce it locally first, maybe it is caused by https://github.com/eclipse-theia/theia/issues/6230

[2019-09-20 09:13] akosyakov commented on #6228
I was able to measure it in Gitpod with 54 extensions.
<img width="1487" alt="Screen Shot 2019-09-20 at 14 10 28" src="https://user-images.githubusercontent.com/3082655/65314844-81356d00-dbb0-11e9-8039-e82775c48989.png">

WS gets blocked for 24s, see 14:07:00 -> 14:07:24, to fetch metadata, after that second deployment happens blocking again for 24s, and the whole metadata are send to the plugin h

[2019-09-20 09:37] kittaakos opened #6231 "TypeError: Cannot read property 'widgets' of null"
### Description

[code]

### Reproduction Steps

Start Theia from the source.

**OS and Theia version:**
macOS, 657bda85a

**Diagnostics:**

[2019-09-20 09:44] akosyakov commented on #6228
We should think how to tackle activation events: since a plugin will be initialized one by one, it could happen that dependent tries to activate first and will fail. It was an issue before but with such change it will be very apparent. So activation of a plugin should also try to activate again dependent plugins.

[2019-09-20 11:08] tsmaeder commented on #6215
Maybe it would be possible to weigh in with the VS Code folks to restrict the form of API to something that can easily be called remotely. And yes, I know that many plugins still assume they're running on the same machine (I should know :man_facepalming:)

[2019-09-20 11:59] kittaakos opened #6234 "Make `MonacoEditorProvider#createMonacoEditorOptions` async"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-09-20 12:13] kittaakos opened #6235 "As an extension developer I want to disable the editor-tab markers for certain editors"
### Description

### Reproduction Steps

I can disable the validations in the editor by marking the editor model/options `readOnly: true` but I cannot disable the marker in the editor's tab. Can I?

**OS and Theia version:**

**Diagnostics:**

[2019-09-20 12:36] thegecko opened #6237 "[debug] Unstable behaviour with breakpoint context menu"
### Description

More often than not, the context menu in code files acts in an unpredictable manner when managing breakpoints.
It's also different depending whether the file is in preview mode or fully opened for editing.

Observations:

- Setting and removing breakpoints using the mouse works as expected

- When setting a breakpoint via the context menu, the breakpoint either doesn't appear (pre

[2019-09-20 12:43] kittaakos commented on #6235
`your-frontend-module.ts`:
[code]

`your-tab-bar-decorator.ts`:
[code]

[2019-09-20 12:43] #6235 closed

[2019-09-20 14:44] akosyakov commented on #6234
Why?

[2019-09-20 14:46] kittaakos commented on #6234
To be able to call async code from a subclass.

[2019-09-20 14:50] akosyakov commented on #6237
Is it the same in https://github.com/eclipse-theia/theia/pull/5774? Breakpoints were refactored there a bit.

[2019-09-20 14:53] thegecko commented on #6237
I'll check it out. Looking at that PR was next on my todo list actually :)

[2019-09-20 17:17] vince-fugnitto commented on #5712
@kittaakos
Comparing the behavior between Theia and VSCode I can see two major differences:
1. VSCode does not display `Deleted` markers
2. VSCode displays a generic marker (`circle`) for parents of the given resource

Is it an area we'd want to align, or do you see added value in displayed `Deleted` markers?

| Current | After (Align with VSCode) |
|:---:|:---:|
| <img width="449" alt="Screen Sho

[2019-09-21 04:09] akosyakov commented on #6228
I don't think sending one by one solve the issue, it moves the problem to another place: on the slow connection loading plugin will take very long time. 50 extension is around 5.5 mb of data, on the network as at EclipseCon it is around half an hour of waiting when many people try to pull it.

I suggest we do differently:
- (1) never send plugin metadata via web sockets
  - not even a change to bl

[2019-09-21 06:31] svenefftinge commented on #6228
Sounds good. Can we do this in smaller PRs. I.e. at least do the gzip thing first and separated?
the other changes might have more effect and take longer and I can imagine that zipping might already relief a lot of the pressure.

[2019-09-21 07:45] 1637410810 opened #6239 "yarn theia build"
yarn theia build

[2019-09-21 08:03] 1637410810 opened #6240 "yarn theia build"
Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory

[2019-09-21 08:28] #6239 closed

[2019-09-21 09:14] #6240 closed

[2019-09-21 13:28] akosyakov commented on #6228
It still will push unzipped metadata back from the frontend to the plugin host process blocking web socket or delaying plugin activation.

[2019-09-21 14:06] #6227 closed

[2019-09-21 18:05] thegecko commented on #6237
Unfortunately these issues are still apparent in #5774 :(

[2019-09-22 07:19] akosyakov commented on #6228
Another kind of very expensive messages are schema attributes for debug contributions:
<img width="1487" alt="Screen Shot 2019-09-22 at 12 16 03" src="https://user-images.githubusercontent.com/3082655/65383733-05176280-dd33-11e9-9599-4fd5193b5dba.png">

For some extensions is about 5Mb and blocks for 10s as you can see on the screenshot.

[2019-09-23 06:47] kittaakos commented on #5854
Closed via #5941.

[2019-09-23 06:47] #5854 closed

[2019-09-23 07:00] benoitf commented on #6228
as commented in the PR, metadata shouldn't be sent to the clients. All logic can be server-side, only orders need to be client-side (like adding a menu, a command, etc).
So changing the communication layer is not the way to go

[2019-09-23 07:22] kittaakos commented on #5712
I like to see if something was deleted, that's why we have the current behavior. But if the majority prefers adapting it to VS Code, I do not have any objections.

[2019-09-23 08:15] akosyakov commented on #6228
@benoitf the most heavy part of metadata are static contributions, how it can be registered without sending? We can remove raw package to avoid duplication. Not sure whether frontend plugins need it. Backend plugins can recover it from the disk.

[2019-09-23 09:07] benoitf commented on #6228
So yest, I think the model is too heavy now, at first it was a couple of metata like the displayname and something, and at some point there was the full package.json content, etc.

Do you have try first to have permessage-deflate enabled on websockets as well ?

More lazy loading could be done.
I could argue that we don't need to register 100 languages if you edit only 10 of them in your session
T

[2019-09-23 09:46] vinokurig opened #6245 "[quick open] Quick input validation handler fires on widget start"
### Description

Quick input validation handler begins to validate when the widget just started. If the validation is set up to show an error on empty string, the error will be shown right after the input is called without any text.
### Reproduction Steps

1. Clone and compile the [test plugin](https://github.com/vinokurig/Test.git)
2. Start the plugin as a Hosted Plugin
3. `F1` => `Hello World`

[2019-09-23 09:55] aaqaishtyaq opened #6246 "Unknown method $activateByEvent on actor PluginManagerExt"
### Description

Hey, I built a custom extension which uses `taskService` to run some tasks. But recently I'm getting this error while executing task through that extension.

**OS and Theia version:**
Theia `v0.10.0` running on Eclipse Che

**Diagnostics:**

[code]

[2019-09-23 10:09] #4908 closed

[2019-09-23 11:16] akosyakov commented on #6246
@aaqaishtyaq Could you share more details please in order to help us reproduce and fix the issue? If you can share your custom extension (or another sample) running against master state it would be the best.

[2019-09-23 11:36] akosyakov commented on #6228
So would it be fine to remove raw model from package.json? We can read it again in the plugin host, from the plugin web worker [vscode.Extension.packageJSON](https://github.com/microsoft/vscode/blob/fe5315badcaa9e326d5e5737a290ee7b299903c5/src/vs/vscode.d.ts#L4764) won't work anymore.

I will try. What is the issue with serving big content in compressed way outside of web socket? I agree though th

[2019-09-23 12:50] benoitf commented on #6228
about :

well I'm fine by not having package.json for webworkers or only if required on demand. 99% of cases are with server side plug-ins/VS Code extensions. For VS Code extensions, as you said we only need it on the server side, not from the browser side.

it's yet another custom providing layer and it's not fixing a root problem of avoiding to send tons of stuff.

well if there is no `.java` fi

[2019-09-23 13:13] akosyakov commented on #6228
ok, let's remove it for now and see whether anyone comes up with an issue? Since it's sync API, it would be a bit tricky. Maybe for frontend plugins we can define async version?