[2019-05-31 12:44] vince-fugnitto commented on #5325
Thanks for the error, it's already been reported :)
Dupplicate of #5308

[2019-05-31 12:44] #5325 closed

[2019-05-31 16:04] vilashProgrammr commented on #5308
Now its broken again while creating an theia extension ..
where should I add this
"resolutions": {
    "vscode-uri": "<=1.0.6"
  }

in browser-app/package.json
OR
myextension/package.json

[2019-05-31 17:13] dinvlad commented on #5308
in browser-app, since it's used by Theia itself

On Fri, May 31, 2019, 12:04 PM vilashProgrammr <notifications@github.com>
wrote:

[2019-05-31 17:15] #5159 closed

[2019-05-31 19:10] lmcbout opened #5328 "Error reported on the console after a task is completed and we re-select the terminal"
### Description
After executing a task which open a terminal and the task terminates, selecting another view in the bottom panel and back to the terminal, it generate the following error on the server console.

[code]

### Reproduction Steps
Open the browser with Theia as a workspace
Open the problem or output view in the bottom panel
Select Run Task -> npm: test browser
Wait the task finish (A po

[2019-05-31 20:59] vince-fugnitto opened #5329 "[tasks] create 'Teminate Task...' menu item"
**Description**

Add the **`Terminate Task...`** menu item which triggers the command to terminate running tasks. The goal of the menu item is to make the terminate task command more discoverable and also align with the same menu present in vscode.

[2019-05-31 21:05] vince-fugnitto opened #5330 "[tasks] add ability to restart running tasks"
**Description**

Add the ability to **restart** running tasks.
Especially useful for long running tasks which may need to be updated, instead of terminating a task and re-running it, the command to **restart** the task will be useful.

Required to implement the issue #5269

[2019-05-31 22:21] vince-fugnitto opened #5332 "[tasks] display message in terminal when executing a task"
**Description**

The current message-service indicating when a task has been started / stopped can become quite annoying especially when multiple tasks are executed. Instead, we should adopt a more elegant solution and align with vscode which displays task information directly in the terminal
when started / stopped.

<div align='center'>

<img width="817" alt="Screen Shot 2019-05-31 at 6 20 57 PM"

[2019-05-31 22:24] vince-fugnitto opened #5333 "[tasks | epic] implement tasks improvements"
### Description

This is a general tracker for **`Tasks`** usability improvements.

---

### Improvements

**`Task: Restart Running Task`** (#5330 )
- Add a new command and menu terminal menu item in order to restart a running task.

:+1:  **`Terminate Task...`** (#5331)
- Add the terminate task menu item to the terminal menu

**`Disallow running identical tasks`** (#5269)
- Disallow users from ru

[2019-06-01 03:14] akosyakov commented on #5279
cc @amiramw

[2019-06-01 03:23] akosyakov commented on #5321
@502647092 it is provided to Theia by tsserver coming with tsc. Which version of typescript do you use? Maybe `types` are not supported by it?

[2019-06-01 04:01] #4975 closed

[2019-06-01 04:01] #4978 closed

[2019-06-01 04:01] dhananjayharel commented on #5308
Tried this but no success.
Should I build the theia again with new version?

[2019-06-01 04:14] dinvlad commented on #5308
Yes, it needs to be rebuilt of course.

On Sat, Jun 1, 2019, 12:01 AM dhananjayharel <notifications@github.com>
wrote:

[2019-06-01 04:48] dhananjayharel commented on #5308
tried this just now but no luck.... :(
this is what im doing
1.  yo theia-extension xxxxx
2. gives error then add skipLibCheck:true in tsconfig
3. yarn prepare
4. cd browser-app
5. yarn run start
Giving URI error then again added

again added  "resolutions": {
    "vscode-uri": "<=1.0.6"
  },
in browser-app/package.json
then cd ..
yarn
yarn prepare
cd browsr-app
yarn run start
but still same issue

[2019-06-01 05:01] #5287 closed

[2019-06-01 05:24] dinvlad commented on #5308
Could you share a link to your package.json?
I’m asking because I’m not sure what `yarn prepare` script stands for in
your config. In mine, I just use `yarn && yarn theia build`.

On Sat, Jun 1, 2019 at 12:48 AM dhananjayharel <notifications@github.com>
wrote:

[2019-06-01 05:41] dhananjayharel commented on #5308
package.json of my browser-app

{
  "private": true,
  "name": "browser-app",
  "version": "0.0.0",
  "dependencies": {
    "@theia/core": "latest",
    "@theia/filesystem": "latest",
    "@theia/workspace": "latest",
    "@theia/preferences": "latest",
    "@theia/navigator": "latest",
    "@theia/process": "latest",
    "@theia/terminal": "latest",
    "@theia/editor": "latest",
    "@theia/lang

[2019-06-01 05:43] 502647092 commented on #5321
@akosyakov i use the latest typescript
the same porject in vscode is correct

[2019-06-01 05:53] akosyakov commented on #5321
ok, we have not tested against latest typescript for long time, will have a look at this issue after doing https://github.com/theia-ide/theia/issues/5260

[2019-06-01 18:15] amitgilad3 opened #5334 "Create custom filesystem"
I would like to implement my own filesystem - in my case i would like to create a in memory file system but im finding it hard to figure out how this is possible.
is there any documentation or could anybody give me a lead on where to start ??

[2019-06-01 21:06] ziatdinovmax commented on #5258
No luck, unfortunately. However, I can easily pull theia-full (please see below).

[code]

[2019-06-01 22:43] #5308 closed

[2019-06-01 23:51] marcdumais-work opened #5335 "[IP] [tests] Run libffmpeg verification "with the other tests during the yarn test cycle""
### Description
This is a follow-up to [#5112 - [electron] Do not test ffmpeg replacement](https://github.com/theia-ide/theia/pull/5112). We did not have time to follow-through with all review suggestions and wanted to have part of the patch in for `0.7.0`.

As well we received word from the Foundation about the terms of the exception we were granted to (indirectly) distribute `libffmpeg`. In shor

[2019-06-02 00:27] marcdumais-work commented on #5258
@ziatdinovmax I am able to pull the same image:
[code]

On what type of platform is your Debian OS running? e.g.: on physical hardware, in a VM, in a container /
cloud environment?

[2019-06-02 00:57] marcdumais-work commented on #5258
A couple of issues with the same docker error (not involving a Theia image):

https://github.com/rootless-containers/rootlesskit/issues/48 : root cause seems to be docker uid/guid  mis-configuration.
https://github.com/kubernetes/minikube/issues/946 : root cause: problems running docker inside LXD container.

[2019-06-02 01:21] ziatdinovmax commented on #5258
It's a container on ChromeOS, which is apparently the reason why it didn't work and that has nothing to do with Theia :)
Thanks for your time and thanks for the great product! (I'm using it a lot via Gitpod)

[2019-06-02 04:41] dhananjayharel commented on #5308
I dont know why it is still not working.
does it pull the latest code while building new theia extension ?

it seems that that the master-branch has merged the recent commits so I should get the updated code of theia editor but when I checked I can see the version of code where I cant see this "vscode URI compabilities.." fixes.

I am doing a new extension by typing the following command
yo theia-

[2019-06-02 05:43] akosyakov commented on #5308
@dhananjayharel you should use `next` for nightly builds, `latest` is last stable release

@marcdumais-work maybe we can do bug fix release for `latest`?

[2019-06-02 06:00] dhananjayharel commented on #5308
I am using yo theia-extension command and there is no package.json
where should i do it.

After building hello world plugin I see the package json file in extension folder but it was looking different than usual theia editor application's packag jason.
Did the changes there but no luck

[2019-06-02 06:02] akosyakov commented on #5258
@ziatdinovmax glad that you figure it out, please reopen if there is something else to resolve

[2019-06-02 06:02] #5258 closed

[2019-06-02 06:04] akosyakov commented on #5334
You have to implement a new extension which contributes custom [FileSystem](https://github.com/theia-ide/theia/blob/0b456192efdb13a23844d15ff5300a12a239297b/packages/filesystem/src/common/filesystem.ts#L24) and rebind it in the frontend module.

There is plenty of examples in the code. For general overviews see [here](https://www.theia-ide.org/doc/index.html)

[2019-06-02 06:04] #5334 closed

[2019-06-02 06:14] akosyakov commented on #5308
@dhananjayharel I'm not sure what you are trying to say. What change?

I've just generated an extension against next version and it works:
[code]

To see all generator options:
[code]

Generated `README.md` file explains how to work with the generated extension.

[2019-06-02 08:00] dhananjayharel commented on #5308
Thnks its working now!!!

[2019-06-02 16:05] marcdumais-work opened #5336 "[0.7.1] Upcoming bugfix release"
### Description
This is so people are aware and can (quickly) propose content. We have the following so far:
- commit: https://github.com/theia-ide/theia/pull/5322/commits/adccdd0cd7efd1ee07aa5b0568a3c6eb7213cbaf (issue: https://github.com/theia-ide/theia/issues/5308)

We will probably not wait very long before proceeding.

[2019-06-02 16:06] marcdumais-work commented on #5308
@akosyakov

yes, sounds good. Do you know of other fixes, since last release, we should consider for inclusion?

[2019-06-02 18:33] akosyakov commented on #5308
@marcdumais-work I don't think anything breaking was merged so far. Could we release the current master state?

[2019-06-02 18:34] akosyakov commented on #5336
including https://github.com/theia-ide/theia/commit/26492e7d6af261be800be6c91d43be39256d59f8 would be good as well

[2019-06-02 21:30] marcdumais-work opened #5337 "[preview] [MarkDown] Theia README preview broken in theia app built from npm"
### Description
The Markdown rendering is broken in `next`, when used from application built from packages. Not all `.md` files are affected. I noticed that our main `README.md` is affected.

This issue is not present in the browser example, containing the same extensions, but built from sources.

### Reproduction Steps
[code]

**OS and Theia version:**
ubuntu 16.04, version: most recent `next` as

[2019-06-02 23:10] marcdumais-work opened #5338 "[git] "Stopped/Started watching" git repo, on every change"
### Description
Every time a file is changed, I see a pair of traces in the backend log, saying that the git repo watching has stopped and right after, started again.

I do not know what this exactly means, but it sounds like it could be that the OS file watchers, watching a git repo, are being freed and re-allocated, again and again (hopefully not the case).

### Reproduction Steps
- build and st

[2019-06-03 00:07] marcdumais-work commented on #5336
@akosyakov can you triage https://github.com/theia-ide/theia/issues/5338; I wonder if it's only cosmetic or a real, must-fix issue that could/should be included as well.

[2019-06-03 05:29] akosyakov commented on #5338
If it is reproducible we have to fix it asap. Probably caused by scm or again (

[2019-06-03 05:45] akosyakov commented on #5306
@vinokurig When a widget is disposed it must to release all listeners, when a new widget is created it should update on attachment.

[2019-06-03 05:48] akosyakov commented on #5338
yes, i was able to reproduce @vinokurig Can you take care about it today? cc @evidolob

[2019-06-03 06:13] vinokurig commented on #5338
@akosyakov Yes, working on it

[2019-06-03 07:08] vinokurig commented on #5338
@akosyakov Are you sure that this bug is relates to the SCM PR? I've reverted it localy and I could reproduce the bug.

[2019-06-03 07:13] akosyakov commented on #5338
@vinokurig checking now against https://github.com/theia-ide/theia/commit/2a1c24973ed9833c54b5b2838f52b184f3343be2

[2019-06-03 07:18] vinokurig commented on #5338
I've prepared a PR about refactor Git module to SCM https://github.com/theia-ide/theia/pull/5339 that fixes this bug

[2019-06-03 07:25] AlexTugarev commented on #5337
They switched exports in the `markdown-it-anchor` library. cf. [commit](https://github.com/valeriangalliat/markdown-it-anchor/commit/e0bdda02c0e4f8d9725a2a552dffa4a3f432da96)

Besides that, I don't see any useful feature added. Going to create a PR to pin the version for now.

Also, that is a very nice example of how things can go south and we are not aware of it. If our `yarn.lock` would be updat

[2019-06-03 07:27] akosyakov commented on #5338
@vinokurig i cannot reproduce it with revision before SCM PR

checking

[2019-06-03 07:31] akosyakov commented on #5338
#5339 is too big and breaking? is there a way for small fix of this issue?

[2019-06-03 07:33] vinokurig commented on #5338
I'll try to extract a particular fix for it

[2019-06-03 08:28] RomanNikitenko opened #5342 "[plug-in][tasks] Add ability to fetch all tasks"
### Description
Add [tasks.fetchTasks()](https://github.com/microsoft/vscode/blob/5a4eab812bd485942061f71af39f3eabc52a1035/src/vs/vscode.d.ts#L5059) API to provide ability to get all tasks available in the systems

[2019-06-03 09:00] vinokurig commented on #5338
@akosyakov Looks like it is not possible to extract a particular fix. All the changes are needed. I am working on the comments  from the PR.

[2019-06-03 11:33] dhananjayharel commented on #3780
I am getting this error when I try to build docker image
here is my package.json file
{
    "private": true,
    "dependencies": {
        "typescript": "next",
        "@theia/typescript": "next",
        "@theia/navigator": "next",
        "@theia/terminal": "next",
        "@theia/outline-view": "next",
        "@theia/preferences": "next",
        "@theia/messages": "next",
        "@theia/git

[2019-06-03 12:38] lmcbout commented on #5333
Should we also have the "Show Running Task" as we can find in VSCode !

[2019-06-03 13:50] lmcbout opened #5345 "[Terminal] Remove the user prompt from the terminal title"
### Description
The title on the terminal is too long, we should reduce the text by removing the user prompt

### Reproduction Steps
![image](https://user-images.githubusercontent.com/419051/58806722-c70bfc80-85e4-11e9-8e9b-5984cbefeccc.png)

**OS and Theia version:**
Ubuntu 16.04
Theia 0.7.0

**Diagnostics:**

[2019-06-03 13:53] akosyakov commented on #5338
@marcdumais-work Can we do 7.0.1 without SCM fixes? I won't have time to review today and it will be breaking. And we do later 7.1.0 this week?

[2019-06-03 14:22] vince-fugnitto commented on #5345
@lmcbout I updated the title since it is more to do with the `terminal` and not the tasks themselves.

[2019-06-03 14:26] #5203 closed

[2019-06-03 14:34] #5315 closed

[2019-06-03 14:35] #5289 closed

[2019-06-03 14:35] #5132 closed

[2019-06-03 15:02] vince-fugnitto opened #5346 "[tasks] implement 'Show Running Tasks...' command"
**Description**

Implement the command and terminal menu item **`Show Running Tasks...`** which describes the list of all available running tasks, and upon selection sets the terminal focus to the running task.

[2019-06-03 15:38] pwFoo opened #5347 "Compare theia vs. code-server?"
How do theia compare / differ to https://github.com/cdr/code-server?

[2019-06-03 16:41] marcdumais-work commented on #5336
I created the `0.7.1` branch from the `0.6.0` release commit, and added the 2 commits/fixes above on top.

[2019-06-03 17:15] elaihau commented on #5342
I created https://github.com/theia-ide/theia/pull/5348 as a draft of the implementation.

[2019-06-03 17:51] marcdumais-work commented on #5336
I have built and published the `0.7.1` branch to a local NPM registry and build an application like the browser example, using the locally published packages. The app starts well, so it looks like the vscode-uri fix works. Not sure how to validate the other fix.

I have however issues with the git unit tests not passing (timeout). Will retry in case it's a fluke.

[2019-06-03 17:51] lmcbout opened #5349 "[terminal] Cursor not following the Horizontal scroll, it points to different position."
### Description
When scrolling to see each terminal, the horizontal scroll is not following the cursor, it goes faster and we loose the focus where  the cursor is compare to the scroll position

### Reproduction Steps
Create a few terminals, so the scroll is visible
Put your cursor on the first terminal over the horizontal scroll and move it to the right, you see the scroll is moving faster than t

[2019-06-03 18:06] marcdumais-work commented on #5336
[code]

[2019-06-03 18:09] marcdumais-work commented on #5336
This failure does not happen on master, as far as I know. Maybe I am missing a fix for it?

[2019-06-03 19:06] akosyakov commented on #5347
Theia is an extensible IDE Framework with cloud-first mindset not a patch to electron and VS Code source code to run it in a browser as code server. Theia does provide similar UX and compatible with VS Code extensions but relies on stable components and protocols like Monaco, LSP, DAP and vscode extension api. Besides it is vendor neutral and allow to build white labeled products like Gitpod or AR

[2019-06-03 23:08] #5337 closed

[2019-06-03 23:11] marcdumais-work commented on #5336
I tried on another machine and the git unit tests now pass.

I'll include 8516a5257f106f61eb73244d02a4799e48743b2e as well (https://github.com/theia-ide/theia/pull/5340)

[2019-06-03 23:25] marcdumais-work commented on #5336
`0.7.1` published

[2019-06-03 23:25] #5336 closed

[2019-06-04 03:43] AlbertXiao1994 opened #5350 "[bug] there is something wrong of autoClosingPairs"
### Description
There is something wrong of autoClosingPairs when exiting a character behind

Expected:
![1](https://user-images.githubusercontent.com/23646755/58849662-c85d2800-86bd-11e9-934d-62614f4438be.gif)

Geted:
![2](https://user-images.githubusercontent.com/23646755/58849666-cd21dc00-86bd-11e9-9cd5-37a2a3eee8cf.gif)

**Theia version:**
0.7.0

[2019-06-04 12:44] lmcbout commented on #5328
Another way to  test, you can use the packages/task/test-resources as a workspace. Modify the task-long-running, replace 300 by 5, so it is enough. Add a return statement at the end, The error will be reported when completed the task.
Another way, use the following in the tasks.json and put focus on another view in the bottom panel and come back, the error is created again.
--> It looks like when

[2019-06-04 14:01] elaihau opened #5352 "problem markers auto-created by tasks extension are not auto-removed after problems being fixed"
### Description

This is a follow-up issue for pull request https://github.com/theia-ide/theia/pull/5024.

With the patch of https://github.com/theia-ide/theia/pull/5024, users are able to define problem matchers and problem patterns to parse the task output, and have problem markers automatically created in the problems view.

However, those auto-created problem markers won't be auto-removed when

[2019-06-04 16:08] vince-fugnitto commented on #5328
I haven't been able to reproduce with either of the methods you provided, perhaps it has something to do with your environment ? Itd be good to confirm, maybe @elaihau you can try ?

[2019-06-04 16:12] JPinkney commented on #5113
So there's a few different things going wrong here:

First, the 'context' clause (it's called when in VSCode) doesn't exist in a VSCode extension which made registering a keybinding from a VSCode extension always throw warnings. See https://github.com/theia-ide/theia/pull/5326#discussion_r289839257

Next, ```root ERROR Unrecognized key '{' in 'ctrl+{' ``` is actually a valid error because that's n

[2019-06-04 17:51] thegecko commented on #2162
@kittaakos

[2019-06-04 18:59] dinvlad opened #5354 "editor.action.codeAction keybinding is not working"
### Description

Attempts to set an `editor.action.codeAction` shortcut fail.

### Reproduction Steps

(1st method) Type `editor.action.` in keybindings UI -  `codeAction` is not listed there, unlike others in the same category.

(2nd method) Create `keymaps.json`  - no effect:
[code]
(3rd method) Set the following in an extension config - no effect either:
[code]

**OS and Theia version:**
Theia:

[2019-06-05 06:00] 502647092 opened #5355 "maybe have a memory leak"
### Description
thread count
![image](https://user-images.githubusercontent.com/10203793/58933366-94573500-8799-11e9-8212-4330614222a8.png)
load avg
![image](https://user-images.githubusercontent.com/10203793/58933380-a20cba80-8799-11e9-81b9-9b4a2b4a2854.png)
after i close theia
![image](https://user-images.githubusercontent.com/10203793/58933532-1f382f80-879a-11e9-94b3-17c7efff6bbe.png)

### Repr

[2019-06-05 07:00] akosyakov commented on #5355
Could you enable debug level logging and check which ipc process is spawned so often? git or filesystem watching? Maybe the same as https://github.com/theia-ide/theia/issues/5338

[2019-06-05 11:50] kpge opened #5356 "[SCM] no password input box in the web UI when click 'pull'"
### Description
I had a private repository in github, and I had cloned it with HTTPS based authentication, but when i click 'pull' in the webui, the password input box shown on the backend console instead of fronted web ui, is there any way for user to input username and password on the web ui?

![image](https://user-images.githubusercontent.com/35068357/58953639-acdf4380-87c9-11e9-8027-b4e3cd0b40

[2019-06-05 13:01] vrubezhny commented on #5102
Having the command renamed from `debug.restart` to `workbench.action.debug.restart` in order to make it consistent with VSCode and running the following versions of VSCode extensions on theia:
*  redhat.java-0.44.0.vsix
* vscode-java-debug-0.16.0.vsix

I was able to reproduce the following error:
[code]
For some reasons in most cases HotCodeReplace was silently failing without any error indication

[2019-06-05 13:28] vince-fugnitto opened #5358 "[plugins] error thrown 'hosted plugin instance is not running'"
**Description**

An error is thrown whenever the frontend-application is closed, while the backend is still alive.

[code]

**Steps to Reproduce:**
1. Start the application (at the moment of testing, no plugins were present)
2. Open the frontend in a browser
3. Close the frontend
4. Notice the error thrown on the backend

**Additional Info**
- Master as of 92cfe9a
- OS Version: `MacOS 10.14`
- No

[2019-06-05 13:54] jeffmaury commented on #4446
This is also required for the OpenShift Connector from marketplace which uses the clipboard API

[2019-06-05 15:00] ShimonBenYair opened #5361 "throw new Error("error message"); doesn't show on Theia"
### Description

### Reproduction Steps
In my vscode extension when i run : throw new Error("error message");
An error is displayed on the screen with the error message.
But in Theia the error is not display.
Is there any api in Theia to throw execptions ?

[2019-06-05 15:35] #1100 closed

[2019-06-05 15:35] #5346 closed

[2019-06-05 15:46] vince-fugnitto commented on #5361
I'm sorry if I confused, but do you mean no error is thrown on Theia's backend?

[2019-06-05 16:01] benoitf commented on #5361
@ShimonBenYair I'm not sure as well to fully understand. Throw an error is like the same in any JavaScript world.

[2019-06-05 16:19] EricRabil commented on #3557
Great news! In iPadOS 13b1, arrow key functionality is fixed. Apple has given MobileSafari on the iPad a desktop-class browsing experience, and as such, there is full keyboard access. I am able to use my arrow keys in any Monaco-based editor now.

[2019-06-05 16:37] fangnx opened #5362 "[terminal] `vi` causes device status code printed out on terminal restart"
This is an investigation of the old issue #4029. After testing, I found out the garbage characters printed out were actually device status code emitted by Xterm.

In `xterm/src/InputHandler`:
[code]

To reproduce the issue:
1. open `vi` in Theia terminal, then exit
2. refresh the browser
3. as Theia restarts, the terminal restores and the device status code is printed out

[2019-06-05 17:08] vince-fugnitto opened #5363 "[scm] error cannot read property 'forEach' of undefined"
**Description**

There is an error thrown by the `scm` package:

[code]

**Steps to Reproduce:**
1. Start the application without a workspace.
2. Notice the error thrown on the backend.

[2019-06-05 18:03] hiredgunhouse commented on #5125
Would love to use Theia, but lack of Vim emulation is a deal breaker for me :/

[2019-06-05 18:56] benoitf commented on #5363
I noticed it as well  :+1:

[2019-06-05 20:22] fangnx opened #5368 "[settings] Keybinding search should ignore the key order"
In `Keyboard Shortcuts` UI, when we do a keybinding search, the results should include all combinations of keys. For example, searching `alt + shift` should be equivalent to searching `shift + alt`

In Theia:
![Screenshot from 2019-06-05 16-15-53](https://user-images.githubusercontent.com/25921074/58987347-4fd59480-87ad-11e9-93fe-8f782e310a5a.png)
![Screenshot from 2019-06-05 16-21-22](https://use

[2019-06-05 20:24] vince-fugnitto opened #5369 "[output] error each child should have a unique 'key' prop"
**Description**

The following error is thrown when opening the `output` view.
[code]

This message comes from React warning developers that each child in an iterator should have a [unique key prop](https://reactjs.org/docs/lists-and-keys.html#keys), and the reason is so that it can more easily which items have changed, are added, or are removed

**Steps to Reproduce:**
1. Open the application.
2.

[2019-06-05 23:09] #5363 closed

[2019-06-06 02:42] a1994846931931 commented on #5294
I have made some progress on this issue, and I want to show you two demos. The first one shows the ability to change encoding for the current editor. The other one shows the ability to set the default encoding from the configurations.

![encoding-support-demo-1](https://user-images.githubusercontent.com/17487291/59003177-8102a300-8847-11e9-87aa-c571e8d12d64.gif)

![encoding-support-demo-2](https:/

[2019-06-06 06:35] 502647092 opened #5372 "auto split terminal like vscode"
### Description
double click split line auto split
![temp](https://user-images.githubusercontent.com/10203793/59011756-3cd3ca80-8868-11e9-8620-dce35768b613.gif)

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-06-06 07:33] tom-shan commented on #3787
I found that vscode-ripgrep will download ripgrep package to /tmp/vscode-ripgrep-cache-1.2.4/, maybe we can add this directory to cache directories list in .travis.yml.

[2019-06-06 08:08] kittaakos commented on #5356
@kpge, it won't work. See [here](https://github.com/theia-ide/theia/issues/1037). We support HTTP based authentication in the [electron version only](https://github.com/theia-ide/theia/issues/3397).

[2019-06-06 08:53] svor commented on #5077
fixed by https://github.com/theia-ide/theia/pull/5343

[2019-06-06 08:53] #5077 closed

[2019-06-06 08:57] #5216 closed

[2019-06-06 08:58] #5215 closed

[2019-06-06 09:01] svenefftinge opened #5374 "[SCM] Commit message gets lost on no changes"
When I forgot to stage file changes and press commit, I no longer get an error message
but instead the commit message form gets cleared.

[2019-06-06 09:08] svenefftinge opened #5375 "[SCM] Signoff-message gets lost"
When writing a commit message, adding the sign-off and then hitting commit., the commit doesn'T include the sign-off part.

[2019-06-06 09:24] tom-shan commented on #3787
This is the PR: https://github.com/theia-ide/theia/pull/5373
I don't know why travis ci didn't create a new cache for PR 5373 ( https://travis-ci.org/theia-ide/theia/caches ), but I have tested the cache function of /tmp/vscode-ripgrep-cache-1.2.4 directory using my private repo.

[2019-06-06 09:27] ShalokShalom opened #5376 "Cannot open new file"
Once I clicked the Getting started tab away, was it impossible to open up a new file.

Docker, on Linux.

The option in the menu was greyed out and inaccessible.

[2019-06-06 09:58] kittaakos commented on #5376
@ShalokShalom, do you see any errors?

[2019-06-06 10:07] ShalokShalom commented on #5376
No, zero. It is just greyed out. There is also no shortcut I could use, yeah?

[2019-06-06 10:12] akosyakov commented on #5376
@ShalokShalom please make sure that you checked browser console and backend logs as well.

[2019-06-06 10:16] ShalokShalom commented on #5376
I have already uninstalled your software.

[2019-06-06 10:16] #5376 closed

[2019-06-06 11:33] kittaakos commented on #4530
We are almost 200 commits behind the origin. Is there a chance to switch back to the original `node-pty` dependency and contribute back whatever we have modified?

CC: @marcdumais-work @akosyakov

[2019-06-06 12:21] marcdumais-work commented on #4530
@kittaakos yes, that would be ideal - there is no technical reason not to do so. However we (at Ericsson) have been internally denied permission sign the Microsoft CLA, and without it we can't contribute to Microsoft open-source projects.

That being said, we can uplift our fork when we think it's worthwhile and/or periodically, so that our fork does not fall too far behind.

Can I ask if you know

[2019-06-06 12:23] svenefftinge commented on #5372
I don't quite understand the request. Isn't the splitting in Theia already similar resp. even better as you can freely put your terminals within the shell?

[2019-06-06 12:26] AlexTugarev commented on #5372
Have you tried this?

![2019-06-06 14 25 25](https://user-images.githubusercontent.com/914497/59032596-fb8eeb00-8866-11e9-92d8-e32fe01885da.gif)

[2019-06-06 12:27] kittaakos commented on #4530
Thanks for the explanation.

No, there isn't any specific reason. We are hitting some native build issues on Windows with VS19 installed on the environment for a downstream project, and I've just accidentally stumbled upon this issue.

I asked exactly because of this.

[2019-06-06 12:39] vince-fugnitto opened #5377 "[keybindings] display keys instead of string representation in the keybindings widget"
**Description**

An improvement to the `keybindings` widget is to display the actual keys instead of their string representation.

_Example:_ <kbd>cmd</kbd>+<kbd>A</kbd> would become

<div align='center'>

<img width="134" alt="Screen Shot 2019-06-06 at 8 30 30 AM" src="https://user-images.githubusercontent.com/40359487/59032936-70e1c800-8835-11e9-875a-11ca31d9bcd5.png">

</div>

_Other examples:_

[2019-06-06 12:41] mmorhun opened #5378 "Add support for user defined pictures in TreeView"
### Description

Theia plugins may add View Containers which may contain a user defined tree. Each node of the tree should be able to accept and display user defined image from plugin's resources.

[2019-06-06 13:01] 502647092 commented on #5372
Maybe I am not very clear. I mean, when the size of the two terminal windows is inconsistent, double-click the dividing line to automatically resize.

[2019-06-06 13:36] akosyakov commented on #5378
@mmorhun Is it something specific to theia plugins? or generally for vscode extension? Could you point out to corresponding docs if it is the later.

[2019-06-06 14:09] #5369 closed

[2019-06-06 14:14] #5102 closed

[2019-06-06 14:33] simark commented on #4530
Wow, there has been a lot of changes in node-pty recently!

[2019-06-06 15:06] marcdumais-work commented on #4530
Indeed - I was hoping that they may have fixed the issue for which we forked-over, but it's still open.

[2019-06-06 15:22] vince-fugnitto commented on #5368
@fangnx is it something you'd like to try? :)

[2019-06-06 15:47] fangnx commented on #5368
Yep I will do this this afternoon ;)
________________________________
From: Vincent Fugnitto <notifications@github.com>
Sent: Thursday, June 6, 2019 11:22 AM
To: theia-ide/theia
Cc: Naxin Fang; Mention
Subject: Re: [theia-ide/theia] [settings] keybinding search should ignore the key order (#5368)

@fangnx<https://protect2.fireeye.com/url?k=5ca138fe-00753198-5ca17865-8610d8a762ca-f92d88bb82a607fb&q

[2019-06-06 16:06] vince-fugnitto commented on #2998
Perhaps the correct implementation would be to set the `current` workspace whenever a new workspace is opened, and not when it is closed?

Imagine the following scenario:
1. workspace `a` is opened, it is therefore set as the `current` workspace in `recentworkspace.json`.
2. a new window is opened with workspace `b`, it is set as the `current` workspace.
3. workspace `a` is closed, `recentworkspac

[2019-06-06 17:04] kittaakos opened #5381 "[quality][preferences] Reduce the number of fired preference change events at app startup"
I started to look into the electron issue as described in https://github.com/theia-ide/theia/issues/5284.

My previous investigations took me to the [`fileSystemWatcher.watchFileChanges(uri)`](https://github.com/theia-ide/theia/issues/3413#issuecomment-491180604) call when setting the workspace root. This is **important**, I have experienced the startup time issue when a workspace was set. I have

[2019-06-06 17:12] kittaakos commented on #5358
Happens with the electron example too. Start the electron application and refresh the browser window:
[code]

[2019-06-06 17:34] #5292 closed

[2019-06-06 18:01] kittaakos opened #5382 "[electron][osx] Attempting to call a function in a renderer window that has been closed or released."
Happens when refreshing the electron browser window in dev mode. The original message is:
[code]

`55.bundle.js:526:27` leads to here:
https://github.com/theia-ide/theia/blob/0b1b8532f6f142e3d9746a5f4d644d0a39332cbe/packages/core/src/electron-browser/menu/electron-menu-contribution.ts#L93

I do not know if this causes any issues in "production" mode. It worth to investigate it.

[2019-06-06 18:21] VietHungPhan opened #5383 "Theia server is still up when electron window has been closed"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-06-06 18:41] VietHungPhan opened #5384 "Open workspace in brwoser, but no content is displayed or refreshed"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-06-06 18:50] vince-fugnitto commented on #5384
@VietHungPhan can you provide additional information? (ex: steps to reproduce)

[2019-06-06 19:14] VietHungPhan commented on #5384
Run/start electron, then open a workspace, then watching nothing is refreshed on the display.
BR,/Hung

    On Thursday, June 6, 2019, 2:50:51 p.m. GMT-4, Vincent Fugnitto <notifications@github.com> wrote:

@VietHungPhan can you provide additional information? (ex: steps to reproduce)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the

[2019-06-06 19:26] vince-fugnitto commented on #5384
@VietHungPhan can you confirm if the file widget is displayed on the right?

![Screen Shot 2019-06-06 at 3 23 08 PM (1)](https://user-images.githubusercontent.com/40359487/59060547-588e9f00-886f-11e9-9169-ba0b43ff2ff7.png)

After clicking it you should should see the file tree of the workspace.

<img width="448" alt="Screen Shot 2019-06-06 at 3 23 25 PM" src="https://user-images.githubusercontent.

[2019-06-06 20:01] kittaakos opened #5385 "[electron] Multiple electron menus/appIcons when starting the electron example"
### Description

I can see multiple application icons on my Dock on macOS when I start the electron example.

![Screen Shot 2019-06-06 at 21 53 53](https://user-images.githubusercontent.com/1405703/59062369-edac8a80-88a5-11e9-9994-8bf1be15c93f.jpg)

Each has a different application menu.
 1. The visible:
![Screen Shot 2019-06-06 at 21 56 54](https://user-images.githubusercontent.com/1405703/590624

[2019-06-06 20:14] VietHungPhan commented on #5384
I confirm  the file widget is displayed on the righ.
BR,/Hung

    On Thursday, June 6, 2019, 3:26:30 p.m. EDT, Vincent Fugnitto <notifications@github.com> wrote:

@VietHungPhan can you confirm if the file widget is displayed on the right?

After clicking it you should should see the file tree of the workspace.

By default, Theia does not open any widgets when its the first time opening a workspac

[2019-06-06 20:15] kittaakos commented on #5385
Each time I refresh the browser window, I have a new app icon on the Dock:
![Screen Shot 2019-06-06 at 22 14 44](https://user-images.githubusercontent.com/1405703/59063519-9360f900-88a8-11e9-8f95-fb76a4c5ec42.jpg)

[2019-06-06 21:03] kittaakos commented on #5381
No, it wasn't. See: https://github.com/theia-ide/theia/pull/5386

[2019-06-06 21:08] kittaakos commented on #5381
The 28k resolve call is more or less legit considering the fact we have 3,5k preference change values for the "extension" languages only. Still, we should try to make it a bit more relaxed.

[2019-06-06 22:45] vince-fugnitto commented on #5385
I get the same issue, I tried removing `plugin-dev` (the source of the `hosted-plugin-service`) from the example-electron application, and it had no effect. Moreover, I removed all plugin packages and it also had no effect so the root cause must be something else.

[2019-06-06 23:33] vince-fugnitto opened #5387 "[electron] scm extension is not included in the example-electron app"
I was wondering if there was a reason for not including the `@theia/scm` extension in the `example-electron` application.

[2019-06-07 00:59] vince-fugnitto opened #5388 "[quality] circular dependency in plugin-ext"
**Description**

There is a circular dependency present in the `plugin-ext` extension between the following files:
- `common/index.ts`
- `plugin/plugin-context.ts`
- `plugin/tree/tree-views.ts`

<div align='center'>

<img width="615" alt="Screen Shot 2019-06-06 at 8 41 17 PM" src="https://user-images.githubusercontent.com/40359487/59074900-d799cc80-889b-11e9-8248-cda4e83f380b.png">

</div>

[2019-06-07 06:03] benoitf commented on #5388
it could be nice to detect that at on build level (and throw error) so that travis can make the build failed

[2019-06-07 07:00] #5284 closed

[2019-06-07 07:08] kittaakos commented on #5388
We cannot do that, unfortunately. There are third party dependencies with cyclic modules.

https://github.com/theia-ide/theia/blob/eb61cba1ec8c9320a593b86df6220dfa660edc9a/dev-packages/application-manager/src/generator/webpack-generator.ts#L163

[2019-06-07 07:09] meysholdt opened #5389 "Theia should preserve env LD_LIBRARY_PATH when launching child processes"
Use Case: I want to package nodejs and glibc together with Theia. This requires me to set `LD_LIBRARY_PATH` to make nodejs use the right `*.so`s.

This works to launch Theia, but it does not work for the `nsfw-watcher` child processes that Theia launches.

Fix: The env `LD_LIBRARY_PATH` should be passed to the child processes.

Workaround: launch Theia with arg `--no-cluster` to prevent it from cr

[2019-06-07 07:11] akosyakov commented on #5381
It would be good to know what is the total time of 28k calls and whether it is a bottleneck relatively to the total startup time before proceeding.

[2019-06-07 07:11] kittaakos commented on #5383
Thanks for filing this issue, @VietHungPhan. I think this is the same as #5385.

As the other issue has a bit more details about the defect, I would like to close this one in favor of the other.

[2019-06-07 07:11] #5383 closed

[2019-06-07 07:12] akosyakov commented on #5389
I will be fine with passing all `process.env` to the file watcher process: https://github.com/theia-ide/theia/blob/eb61cba1ec8c9320a593b86df6220dfa660edc9a/packages/filesystem/src/node/filesystem-watcher-client.ts#L66-L73

[2019-06-07 07:13] akosyakov commented on #5388
It does not really break anything, nice to have.

[2019-06-07 07:14] akosyakov commented on #5387
It is included transitively via `@theia/git`. Go ahead and add it explicitly for the consistency of examples. Generally it is not necessary.

[2019-06-07 07:21] #4800 closed

[2019-06-07 07:43] Beetix opened #5390 "Generate layout script error"
### Description
Running the generate layout script from the core package gives an undefined symbol error

### Reproduction Steps
From Theia root directory
* `yarn`
* `cd packages/core`
* `yarn generate-layout`

**OS and Theia version: Arch Linux or Gitpod with Theia master (ab8f4a52)**

**Diagnostics:**
[code]

[2019-06-07 07:43] meysholdt commented on #5389
this snippet lists all node processes and checks if they have env `foo` set. May be helpful for debugging this issue:

[code]

[2019-06-07 07:45] benoitf commented on #5388
@kittaakos could we just ignore the library that is having cyclic and let `failOnError:true`

[2019-06-07 07:51] kittaakos commented on #5388
Some background and clarification, maybe it is not valid anymore, but back in 2017 that was the case.

We ignore everything which is under the `node_modules` so in theory third part libs should not cause a problem even if any of their modules have a cycle. But even Node.js has cycles, and it only occurs on Windows. I would say, it is unsafe to fail. But we can try. +1 for trying to reduce the cycl

[2019-06-07 08:18] akosyakov commented on #5390
cc @spoenemann

[2019-06-07 08:21] #5389 closed

[2019-06-07 08:33] AlexTugarev commented on #5390
@Beetix you need to run `yarn run rebuild:electron` after `yarn` first, then it works fine.

[2019-06-07 10:36] vince-fugnitto commented on #5385
@kittaakos
I tested and it looks like I can only reproduce the bug on macOS. I've tested on Linux (Ubuntu 16.04) and I did not see the fault. I have yet to test on Windows but I just wanted to update you.

[2019-06-07 11:31] kittaakos opened #5393 "[preferences] Unsupported VS Code preferences should not be logged as a warning"
### Description

Start the browser example. VS Code specific preferences are reported as a warning. They should not. The preferences are from `.vscode/settings.json`.

![Screen Shot 2019-06-07 at 11 22 07](https://user-images.githubusercontent.com/1405703/59101189-7ec44580-8928-11e9-8734-6d1ccddecdae.jpg)

**OS and Theia version:**
OS: All. 6a8af40c7

**Diagnostics:**

[2019-06-07 11:33] tolusha commented on #4472
@tsmaeder @akosyakov
VS Code uses `IHeapService` to collect such objects. So if there are no objections I will create a CQ and copy necessary code.

[1] https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/heap/node/heap.ts#L11

[2019-06-07 11:38] Beetix commented on #5390
Ok thank you, it worked.

[2019-06-07 11:38] #5390 closed

[2019-06-07 11:43] kittaakos opened #5395 "[ui/ux][quick-open] Better icon support for the dark theme"
Better support for the dark icons in the command palette. Do <kbd>Ctrl/Cmd</kbd>+<kbd>Shift</kbd>+<kbd>O</kbd> to open the symbols.

Expected (VS Code):

![Screen Shot 2019-06-07 at 13 33 45](https://user-images.githubusercontent.com/1405703/59101680-078fb100-892a-11e9-93bb-28a0a8411190.jpg)
![Screen Shot 2019-06-07 at 13 34 01](https://user-images.githubusercontent.com/1405703/59101681-078fb100-8

[2019-06-07 11:43] #4448 closed

[2019-06-07 11:45] kittaakos opened #5396 "[SCM] Commit message input flickers when losing/gaining the focus"
![screencast 2019-06-07 13-36-13](https://user-images.githubusercontent.com/1405703/59101778-5c332c00-892a-11e9-88df-2aad5ee69686.gif)

It should not.

[2019-06-07 11:51] vince-fugnitto commented on #5396
duplicate of #3544?

[2019-06-07 11:55] #5396 closed

[2019-06-07 11:59] vince-fugnitto commented on #1379
closing since the `@theia/extension-manager` is deprecated

[2019-06-07 11:59] #1379 closed

[2019-06-07 12:12] vince-fugnitto opened #5397 "[editor] reduce gutter space"
**Description**

The gutter space (left of line numbers) in Theia seems excessive, especially when attempting to set breakpoints. In comparison, the gutter space in vscode is more compact.

**_Theia_**

![Screenshot from 2019-06-07 08-08-05](https://user-images.githubusercontent.com/40359487/59103080-d8fae180-88fb-11e9-8275-c06d7efecc0b.png)

**_VSCode_**

![Screenshot from 2019-06-07 08-09-21](ht

[2019-06-07 13:25] #5393 closed

[2019-06-07 13:26] vince-fugnitto commented on #5384
Closing, the issue is the same as #830 and has been proposed as part of https://github.com/theia-ide/theia/pull/3942.

[2019-06-07 13:26] #5384 closed

[2019-06-07 14:32] vince-fugnitto commented on #4988
Closed thanks to #5148

[2019-06-07 14:32] #4988 closed

[2019-06-07 15:16] lmcbout commented on #5338
Thanks @kittaakos great improvement with issue #5284 , I notice that the watchers with electron  for the git repos start about 6 times, then if you wait about ~20-30 secondes, a timer error occurs and then  start/stop the git repo occurs in a loop. Was reproduce-able on a window environment this morning (~5-6 times in a row)

[2019-06-07 15:22] vince-fugnitto commented on #5338
I don't believe it has to do with `electron`, the following can also be seen in the `browser` app.

[2019-06-07 15:53] vince-fugnitto opened #5399 "[debug] debug widget breakpoint resizing error"
**Description**

There is an issue regarding the `debug-widget` when resizing the `breakpoint` panel.
The file number associated with the breakpoint is lost, and the file-name becomes hidden instead of the standard ellipsis (...) displayed.

<div align='center'>

![debug](https://user-images.githubusercontent.com/40359487/59116996-ce9c1000-891a-11e9-9d32-301b27f20c1d.gif)

</div>

In comparison, h

[2019-06-07 20:45] fangnx opened #5402 "[keybindings] hidden key icons on small browser window"
When the browser window becomes small, some key icons in `Keybindings` are automatically hidden/incomplete. From the user experience perspective, it would be better to prioritize hiding `Commands` on the right.

![theia-keybindings-resize](https://user-images.githubusercontent.com/25921074/59132349-fa32f080-8942-11e9-8edb-579817db7c45.gif)

[2019-06-08 02:40] qx-juilliard opened #5403 "Expose timeout option for showInformationMessage() in plugin API"
### Description

As I was reading the tutorial [here](https://www.theia-ide.org/doc/Authoring_Plugins.html) I realized that there is no option for defining [auto-dismissal](https://github.com/theia-ide/theia/pull/1491) of the toast message.

For example, for the `showInformationMessage` function as documented [here](https://theia-ide.github.io/theia/docs/next/modules/plugin.__theia_plugin_-1.windo

[2019-06-08 09:25] westbury commented on #3851
This has been resolved by https://github.com/theia-ide/theia/pull/4279 which included the work discussed here.

[2019-06-08 09:25] #3851 closed

[2019-06-08 12:16] kittaakos commented on #5383
@VietHungPhan, can you please try with https://github.com/theia-ide/theia/pull/5400?

[2019-06-09 01:24] 502647092 commented on #5355
@akosyakov
i reproduce this problem
When the Theia version is updated but the browser cache is not refreshed, many new IPC processes will be created in the back end.

[2019-06-09 01:24] #5355 closed

[2019-06-09 05:05] qx-juilliard opened #5404 "[SCM] Change repository icon in status bar not showing up on startup"
### Reproduction Steps

- open in incognito mode or clear all localStorage data before opening Theia
- the database icon in the status bar corresponding to `SCM: Change repository` command is not showing up (
![image](https://user-images.githubusercontent.com/29387772/59155278-a95eed00-8a53-11e9-9be5-25d3ae7e73c5.png))

- after initial startup, refreshing makes the icon appear, fixing the problem

[2019-06-09 05:11] qx-juilliard commented on #5404
Also in addition to having duplicate codes between @theia/git and @theia/scm, there seems to be two commands coexisting at the same time:

![image](https://user-images.githubusercontent.com/29387772/59155260-3d7c8480-8a53-11e9-96c0-8234fa6e99fe.png)

Are we in the process of shifting codes from git to scm extension?

[2019-06-09 13:19] akosyakov commented on #5404
@qx-juilliard we've already shifted, but it broke existing git support and did not deliver proper vscode git extension support. Working on redoing it, hopefully will release 0.7.2 next week.

[2019-06-09 14:14] akosyakov opened #5405 "[scm/git] keyboard navigation between changes is broken"

[2019-06-10 08:55] westbury commented on #3423
Closing this issue because the work has been done by @vinokurig

[2019-06-10 08:55] #3423 closed

[2019-06-10 09:20] AlbertXiao1994 opened #5406 "Info of parameterHintsWidget overflows"
### Description
![image](https://user-images.githubusercontent.com/23646755/59185608-804d7200-8ba3-11e9-8aef-49ca4ee0c65c.png)

**OS and Theia version:**
Theia v0.7.0

### Suggestion
now:
[code]

fix:
[code]

[2019-06-10 09:28] mmorhun commented on #5378
I meant support for images from resources in `iconPath` field of the tree node.

[2019-06-10 09:43] akosyakov opened #5407 "support scm/sourceControl menu contribution"
See https://code.visualstudio.com/api/extension-guides/scm-provider#menus

[2019-06-10 10:09] vince-fugnitto commented on #5406
@AlbertXiao1994 would you like to open a PR with your suggestion so we can review? :)

[2019-06-10 10:42] kittaakos opened #5408 "[electron][JSON] Try to reuse `node` from the `PATH` instead of `process.execPath` in electron"
This issue is a follow up of https://github.com/theia-ide/theia/pull/5324.

Currently, we always use the `process.execPath` to lunch the Node.js process for the TS-LS. When running in electron, it means, we use the bundled Node.js runtime instead of the one from the `PATH`.

For the sake of consistency, we should try to use the `node` command from the `PATH` and fall back to the `process.execPath`

[2019-06-10 13:34] #5385 closed

[2019-06-10 14:44] vince-fugnitto commented on #1978
Closing, duplicate and newer issue #2998

[2019-06-10 14:44] #1978 closed

[2019-06-10 15:10] vince-fugnitto commented on #5082
Fixed by #5087

[2019-06-10 15:10] #5082 closed

[2019-06-10 15:33] #3403 closed

[2019-06-10 17:08] #5406 closed

[2019-06-10 17:38] akosyakov commented on #5378
I remember implementing it already: https://github.com/theia-ide/theia/blob/214a90248e6b8c458622fd0fcd9d551b5c9d799f/packages/plugin-ext/src/plugin/tree/tree-views.ts#L229-L255

Are you sure that it does not work?

[2019-06-10 17:50] akosyakov commented on #4005
It's required fro scm as well to show status bar icons from git extension.

[2019-06-10 18:24] #5317 closed

[2019-06-10 18:35] akosyakov opened #5412 "support octicon in the quick pick items"
See https://github.com/theia-ide/theia/issues/4005#issuecomment-475247786

I cannot come up with a way to reuse Monaco quick palette for it. It could be we need to implement our own to have the control over it.

It's reproducible with checkout status bar item contributed by vscode git extension.

[2019-06-10 18:36] akosyakov commented on #4005
@vazexqi extracted #5412 for your issue

[2019-06-10 18:47] kittaakos commented on #5412
New icons were added to Octicon in VS Code: https://code.visualstudio.com/updates/v1_35#_updated-octicons

[2019-06-11 06:22] mmorhun commented on #5378
Sorry, my mistake.

[2019-06-11 06:22] #5378 closed

[2019-06-11 06:57] tolusha commented on #4472
`gc-signals` is a native dependency and can be used only at backend. So, I have to find another solution.

[2019-06-11 08:06] tsmaeder commented on #4472
@tolusha yes, that's why I suggested doing a weak map and purge thingy. The idea would be to have a map object->id and a set <id> and when stuff gets collected from the map, the ids will be in the <id> set, but not the map anymore and you can send "collected<id>" to the back end.

[2019-06-11 08:34] tolusha commented on #4472
@tsmaeder
at first glance it sounds doable, but `WeakMap` [1] doesn't have any `iterable` methods over values
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakMap#Methods

[2019-06-11 08:56] tsmaeder commented on #3409
@mmorhun is this something VS Code supports? If yes, can you reference some doc?

[2019-06-11 09:05] mmorhun commented on #3409
Yes, that's comes from VSCode. Docs are [here](https://code.visualstudio.com/docs/editor/debugging#_launchjson-attributes).

[2019-06-11 10:57] akosyakov opened #5413 "support search in scm view"
It is hard to find a file when there are a lot of resources. It would be good to rewrite SCM groups/resources with `TreeWidget` when it will bring multi selection support and search as well.

[2019-06-11 11:08] johnwiseheart opened #5414 "Not possible to re-mount if host element is unmounted"
### Description
I am running theia inside of another element by rebinding `FrontendApplication`.

As an example, instead of binding to the document `body`, I am binding to a `div` inside the body. as I wish for theia to live in a "tab" of a larger application, I wish to arbitrarily hide and re-open it, by unmounting and remounting its host element.

It would seem like unmounting theia from its hos

[2019-06-11 12:01] tolusha commented on #4472
@akosyakov @tsmaeder
I have several solutions:
1. Clean up entities once `workpace.onDidCloseTextDocument` event is fired.
2.  Clean up entities by timer

[2019-06-11 12:10] akosyakov opened #5415 "support markdown in notifications"
One can reproduce by publishing local branch to remove with VS Code git extension:
<img width="1298" alt="Screen Shot 2019-06-11 at 14 09 22" src="https://user-images.githubusercontent.com/3082655/59270756-97976880-8c52-11e9-9b74-cde77c5014d4.png">

[2019-06-11 12:10] akosyakov commented on #5415
cc @AlexTugarev

[2019-06-11 12:11] akosyakov commented on #5415
We probably also should replace `Code` with `Theia`? 😄

[2019-06-11 12:30] akosyakov commented on #5404
@qx-juilliard you have multiple repos right? For one repo we don't show it.

[2019-06-11 12:37] qx-juilliard commented on #5404
Yes, that's why reloading the webpage will correctly bring up the icon

[2019-06-11 12:49] akosyakov commented on #5404
@qx-juilliard though so 😄 just checking

[2019-06-11 13:25] akosyakov opened #5417 "align UI of git theia extension with VS Code"
A follow-up of https://github.com/theia-ide/theia/pull/5416.

from @kittaakos :

`+` use octions for status bar

We should decide whether we switch to vscode extension or will keep ours for more control. If the latter then this issue make sense.

[2019-06-11 15:42] ankkumar-progress opened #5418 "Error while using inbuilt git provided by dugite (USE_LOCAL_GIT:false)"
### Description
I am trying to use the dugite inbuilt git in theia by USE_LOCAL_GIT:false.
But due to some reson I am getting the below error:

`Git could not be found at the expected path: '/home/theia/node_modules/dugite/git/bin/git'. This might be a problem with how the application is packaged, so confirm this folder hasn't been removed when packaging`

I checked the git is present in that loca

[2019-06-11 16:39] fangnx opened #5419 "[keybindings] key chords are displayed incorrectly"
In the Keybinding widget, the key chords are not displayed correctly.

![Screenshot from 2019-06-11 12-37-50](https://user-images.githubusercontent.com/25921074/59290098-c4914e80-8c45-11e9-8d03-0d5db6ad122e.png)

[2019-06-11 16:40] #5368 closed

[2019-06-11 16:51] johnwiseheart opened #5420 "Dialogs should be injectable"
### Description

I am trying to integrate theia into an existing ecosystem of products that are all using a particular UI component library. I want to be able to theme all dialogs to use the components from the library, but this is not possible, because the AbstractDialog is not injectable, and many other dialogs are just instantiated rather than using dependency injection.

Would it be possible t

[2019-06-11 17:18] vince-fugnitto commented on #5420
@johnwiseheart if it means having a more flexible and extensible framework I'm all for it.

We are always happy to take PRs :smiley:, feel free to submit one!

[2019-06-11 18:15] svenefftinge commented on #5420
You cannot inject a super class, so this would mean refactor to composition, no?

[2019-06-11 18:20] johnwiseheart commented on #5420
Yeah this was my thought, probably worth some discussion about what the best way would be to do this. Certainly one way to do it would be to create some type of "DialogRenderer" that dialogs would call to render their content, but it felt a little dirty, and I wanted to make sure I was thinking about it in the right way, since I don't have a lot of knowledge of the existing paradigms within the th

[2019-06-11 18:23] johnwiseheart commented on #5420
I suppose another option would just be to make the components extending AbstractDialog injectable - that way, one could just completely replace the `SingleTextInputDialog` (for instance) with their own implementation. Might actually be a better option, since things like the dialog buttons are probably also going to become issues when trying to apply some type of broad UI change.

[2019-06-11 19:26] lmcbout opened #5423 "[problem view] Re-sizing the problem view puts the label on two lines"
### Description
When re-sizing the problem view with some "clang-tidy" warnings, the warnings get displayed on two line for the label "clang-tidy", but  the text just get shrink on one line with the "...", Since we use two lines, we should also wrap the text description.

### Reproduction Steps

![clang-tidyResize](https://user-images.githubusercontent.com/419051/59300371-08438280-8c5d-11e9-992e-6

[2019-06-12 00:10] vince-fugnitto commented on #5423
I previously noticed this error too with `clang-tidy` markers, it was the only time I was ever able to reproduce the issue.

[2019-06-12 06:23] Shadouw opened #5425 "[clang-tidy] clang-tidy displays multiple identical fix-me for the same problem marker"
### Description
In a very simple C++ program I try to sue clang-tidy
[code]

Unfortunately some tooltip contain the same text several times, e.g.:
![image](https://user-images.githubusercontent.com/13810962/59327798-ebee2700-8cea-11e9-9b33-4380510dd9ce.png)

Other tooltip windows show text only once or maybe twice.

### Reproduction Steps
In https://github.com/Shadouw/HelloGitPod use the "Open in

[2019-06-12 06:32] svenefftinge commented on #5420
With respect to API compatibility the second option sounds better to me.

[2019-06-12 06:55] kittaakos commented on #5418
@ankkumar-progress, due to licensing issues, we [do not ship the embedded Git with `dugite`](https://github.com/theia-ide/dugite/commit/9b7f5314f68e9897e42c7e15cfb5a56e4073d615). See: https://github.com/theia-ide/theia/issues/4209

It won't work, unfortunately. You will need `git` on the `PATH` to be able to use the Git/SCM extension in Theia.

[2019-06-12 07:42] tsmaeder commented on #4472
@tolusha that would work for code lenses, but what about links & tasks?

[2019-06-12 07:45] tsmaeder commented on #4472
True about WeakMap. How lame!

[2019-06-12 07:59] akosyakov commented on #5414
In the perfect world calling `ApplicationShell.start` should return `Disposable` object which can be used to unload everything. But it will be quiet a refactoring for all extensions. Having an issue can be good but we don't do it any time soon.

It sounds bogus. Did you manage to investigate why `Widget.detach` throws? I assume that you've already called `start` and the shell was successfully atta

[2019-06-12 08:17] akosyakov commented on #4472
It's probably too late, if new code lenses are created on each text change.

Do you mean to keep `WeakMap` in `languages-main` and check which elements were garbage collected by timer?

I wonder can't we just remove them after resolving? Does Monaco try to resolve resolved code lenses again? Could you check?

Also see https://github.com/microsoft/vscode/pull/75048. Seems soon (like in Autumn) ther

[2019-06-12 08:28] kittaakos opened #5427 "[macOS][keybinding] Use ⌘ instead of `Cmd` as the accelerator on macOS"
This is UI/UX only. Originally from here: https://github.com/theia-ide/theia/pull/5416#issuecomment-500880300

Update:
https://github.com/theia-ide/theia/blob/819ebfe103493ba87e2e5706eb6a54bc4364aecc/packages/core/src/browser/keybinding.ts#L336

Add:
https://github.com/theia-ide/theia/blob/819ebfe103493ba87e2e5706eb6a54bc4364aecc/packages/core/src/browser/keyboard/keys.ts#L454

[2019-06-12 08:45] sailingKieler opened #5428 "Git support should allow to stage changes by hunk or even line rather than by file only"
AFAICS the theia git support allows to stage entire files only. This can be a bit unfortunate in combination with the automatic removal of trailing white space/code formatting while preparing local fixes.

I would very much appreciate an ability to stage code parts by hunk or even by line in the UI, like e.g. EGit and SourceTree have. EGit even allows to modify the indexed content independently of

[2019-06-12 08:52] vparfonov commented on #4266
we wait on CQ https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19512

[2019-06-12 09:45] johnwiseheart commented on #5420
Awesome - still investigating some other issues from our side, but will make a PR for this if we decide to start investing more time. Cheers!

[2019-06-12 09:48] johnwiseheart commented on #5414
Agreed, but understand thats a pretty huge change and not worth prioritising over other things for the moment.

Haven't done a whole lot of investigation yet, will do some more today. Do you think just reattaching in this way will "just work"? I don't have a lot of phosphor knowledge, and so its unclear to me how the `Widget` getting attached/detached actually works.

[2019-06-12 09:50] akosyakov opened #5429 "[test] ditch sinon module"
Sinon library allows to mock JS objects. I see a lot of tests misusing it by mocking internals and relying on timing and execution order of internals. Such tests hard to maintain since they don't allow to change implementations easily. Instead of developers should rely on public APIs and don't make assumptions about internal flow. The issue with Sinon that it provides capabilities to mock such thi

[2019-06-12 10:06] tsmaeder commented on #4472
@akosyakov Yeah, the idea was to put them in a weak map and check periodically if they have been collected. Problem is that you can't enumerate a WeakMap, so I don't see how we can implement that algorithm. If we could get the "live" code actions from monaco, we could also compute the "collected" set periodically.

What about the code lenses that are never resolved?

Good to see that the MS folks

[2019-06-12 10:43] AlexTugarev commented on #5428
That's something to be included into the inline diff widget for dirty diffs:

<img width="605" alt="Screen Shot 2019-06-12 at 12 42 38" src="https://user-images.githubusercontent.com/914497/59345058-a09a3f80-8d0f-11e9-9e9d-e890862e5cc7.png">

[2019-06-12 11:31] akosyakov commented on #5428
@AlexTugarev so it should work with vscode git extension out of the box?

[2019-06-12 11:35] kittaakos commented on #5428
We have the API for it:
https://github.com/theia-ide/dugite-extra/blob/71f5073ea462a42a34a5251ec376042913c08f9e/src/command/apply.ts#L7

And we could reuse the patch formatter from GitHub Desktop: https://github.com/desktop/desktop/blob/d9a683c2b0c94ad79ec414ab8104d0d82b657900/app/src/lib/patch-formatter.ts

[2019-06-12 12:09] vrubezhny commented on #5213
As `monaco.d.ts` v.0.14.6 doesn't haveDeclarationProviderinterface exported. we cannot implement `$registerDeclarationProvider(handle: number, selector: SerializedDocumentFilter[]): void` in `LanguagesMainImpl`... Here we're blocked by `@typefox/monaco-editor-core` update which is planned by the end of July, see: https://spectrum.chat/theia/dev/update-monaco~d0b4d5a5-e688-4f0f-a54f-e2d2b24525ee

[2019-06-12 12:22] vince-fugnitto commented on #5425
The reason that there are multiple `clang-tidy` fix-me available for the same line is due to there being an overlap in clang-tidy regarding multiple different checks each providing the same fix. There is however a bug, since looking at the `problems-widget` only max 2 of the fix-me should actually be available not 4.

<br />

<div align='center'>

<img width="774" alt="Screen Shot 2019-06-12 at 8

[2019-06-12 12:46] AlexTugarev opened #5430 "[dirty-diff] Enable/disable based on current repository"
cf. https://github.com/theia-ide/theia/pull/5416#issuecomment-501253166

- when dirty diffs are shown in an editor
- switch to a different git repo
-> editor's dirty decorations should be removed (to align with navigator decorations)

[2019-06-12 12:48] svenefftinge opened #5431 "[terminal] link matcher doesn't work with rust / go cli output"
Rust and go use the following scheme:

relative/path:start:end:

which is not recognized.

Example for go:
[code]

Example for Rust:
[code]

[2019-06-12 14:03] akosyakov commented on #4472
We could keep set of keys identifying code lenses and check periodically whether WeakMap still contains such keys? If not delete a key and release a corresponding code lens in the plugin host.

[2019-06-12 14:05] akosyakov commented on #5414
If attachment/detachment is done properly via phorpshor APIs then everything should work. It basically flips the flag after attaching/detaching. I wonder why `isAttached` flag in the bogus state for you.

[2019-06-12 14:23] lmcbout commented on #5425
I 'll have a look

[2019-06-12 14:35] Shadouw commented on #5425
I agree, that `"cpp.clangTidyChecks": "*"` includes way too much tests, but nevertheless the linter should list hints only once.

[2019-06-12 14:40] vince-fugnitto commented on #5425
I believe they are in fact different fix-me because they come from different sources (just the same fix), but you are right that they are being duplicated, in this case there should be 2.

[2019-06-12 15:05] akosyakov opened #5435 "Request 'log' failed from scm amend"
see https://github.com/theia-ide/theia/pull/5416#issuecomment-500882428

from @kitakkos also

cc @westbury

[2019-06-12 15:30] kittaakos commented on #5418
@ankkumar-progress, I am not sure if it is possible with `0.3.14`, but with the latest API
 - You can create your extension that depends on `dugite`. Note, by default, it will download the executables on `postinstall`.
 - In your extension, you can rebind the default [`GitInit`](https://github.com/theia-ide/theia/blob/b7b8691c4ced43a40f4b96f758a3c215b2fca19a/packages/git/src/node/init/git-init.ts#

[2019-06-12 16:00] #5399 closed

[2019-06-12 18:06] #5423 closed

[2019-06-12 18:58] kittaakos opened #5437 "[git] Error when the git repository was wiped from the FS between two server sessions"
Found when testing #5416.

Wipe the git repository from the FS between two backend sessions. The reconnecting client will trigger a Git refresh (`status`?) and will cause the following error:

[code]

The frontend error:
[code]

The code ends up here (no idea what's wrong with the source maps):
[code]

[2019-06-12 19:58] fangnx opened #5438 "[settings] add "search settings" to the Preferences widget"
It would be helpful to have a "search settings" thing in the Preferences widget, since finding the right one among more than 100 items can be hard.

In VS Code:
![Screenshot from 2019-06-12 15-53-54](https://user-images.githubusercontent.com/25921074/59381949-9a658c80-8d2a-11e9-9bcb-04818d24994e.png)

[2019-06-12 20:14] fangnx opened #5439 "[keybindings] keybinding update does not take immediate effect"
Currently, updating keybindings in the Keyboard Shortcuts UI & JSON does not take effect immediately. It requires restarting Theia to make it work.

_Originally posted by @elaihau in https://github.com/theia-ide/theia/pull/5436#issuecomment-501413764_

[2019-06-12 20:39] vince-fugnitto commented on #5438
@fangnx there should be a major refactoring to align our `preferences` to that of vscode, and along with that a better search feature.

For now, all `tree` widgets in Theia have the ability to be filtered down by simply typing keys when the widget is active. The same is true for the preferences.

<div align='center'>

<img width="652" alt="Screen Shot 2019-06-12 at 4 38 32 PM" src="https://user-im

[2019-06-12 20:40] vince-fugnitto commented on #5439
Ahh, I'm sad since it used to work well :(

[2019-06-12 21:05] vince-fugnitto opened #5440 "[keybindings] add 'clear' keybindings-widget toolbar item"
**Description**

A useful feature to have, and consistent with the `search-in-workspace` widget, a toolbar item used to clear the keybindings search (ultimately resetting the view) should be implemented.

The item should:
- clear the search field
- be enabled when there currently is a search term
- be disabled when there is no search term

[2019-06-12 23:28] westbury commented on #5435
@kittaakos I tried the above steps in ak/scm_rework and I have not been able to get the error you saw in the log.  I will try more tomorrow.

I did however see the following.  I'll let you know what I find when I investigate tomorrow.

root ERROR Error occurred while synchronizing the status of the repository. file:///c%3A/Users/Nigel/workspace-theia/txr-java GitError: fatal: .git/index: index fil

[2019-06-13 03:55] a1994846931931 commented on #5294
”Save with encoding" command supported:

1. save with encoding (unchanged file)
![encoding-support-demo-3](https://user-images.githubusercontent.com/17487291/59331151-c2062600-8d25-11e9-9bc2-01f184edc6bc.gif)

2. save with encoding (dirty file)
![encoding-support-demo-4](https://user-images.githubusercontent.com/17487291/59331163-c92d3400-8d25-11e9-90f2-97fec05ab45d.gif)

[2019-06-13 04:46] #3544 closed

[2019-06-13 04:46] #5375 closed

[2019-06-13 04:46] #5404 closed

[2019-06-13 04:46] #5405 closed

[2019-06-13 04:46] #4005 closed

[2019-06-13 04:46] #4103 closed

[2019-06-13 04:46] #4171 closed

[2019-06-13 04:46] #5264 closed

[2019-06-13 04:46] #5268 closed

[2019-06-13 04:46] #5295 closed

[2019-06-13 04:46] #5306 closed

[2019-06-13 04:46] #5338 closed

[2019-06-13 04:46] #5374 closed

[2019-06-13 04:53] ankkumar-progress commented on #5418
Thanks @kittaakos
I will give a try

[2019-06-13 06:16] #5431 closed

[2019-06-13 07:29] akosyakov commented on #5439
Oh, it's bad. @vince-fugnitto @fangnx are you looking into it?

[2019-06-13 07:40] tsmaeder commented on #4472
That was my idea, too, but the problem is that the _keys_ are what is weakly referenced in the WeakMap. So in this case, the CodeAction objects. If something is not in the map, how do we know it was there before? We would have to keep a strong reference to it, which would keep it from being garbage collected.

[2019-06-13 09:10] akosyakov commented on #4472
Ah, sorry, i did not read `WeakMap` carefully, so code lenses should be a key. Maybe we can play with `provideCodeLenses` method itself, i.e. if it is called again for the same document then we dispose old
code lenses and provide new.

[2019-06-13 09:56] tsmaeder commented on #4472
Yes, I think that would work. At most, we would have one set of code lenses that are garbage, but not collected per open editor.

[2019-06-13 09:58] tsmaeder commented on #4472
The same workaround would work for linkProvider

[2019-06-13 10:09] tsmaeder commented on #4472
I think our implementation of the "taskProvider" API is wrong: https://code.visualstudio.com/api/references/vscode-api#TaskProvider says:

This would indicate that we should never call "resolveTask" on a task that is in the object cache in TaskProviderAdapter. So we can just remove the cache there and we're fine for this case.

[2019-06-13 10:09] tsmaeder commented on #4472
I believe with the above cases covered, we can proceed with this task.

[2019-06-13 11:41] lmcbout commented on #5328
After re basing With the latest commit (commit 741876b3ecba8a96) this morning, I noticed an issue that was fixed a week ago
"root ERROR Request getCwdURI failed with error: "

[2019-06-13 11:47] lmcbout commented on #5328
To reproduce
- Start a task, after completion, start again -> generate a second terminal
- Kill one of the two created terminal and start the task again
--> result: "root ERROR Request getCwdURI failed with error: "

[2019-06-13 12:09] JustinBobby007 opened #5444 "Execute some codes on save or save all"
Maybe it's not a issue, more need some guides.
I'm new to Theia ide and want to get the whole or just changed document content while user click save or save all. Someone can give some hints about how to implement, thank you.

BTW: Theia version is 0.7.1.

[2019-06-13 12:16] elaihau opened #5445 "Preference editor does not display "dirty" status properly"
### Description

Preference editor displays "dirty" status when not changes are made.

### Reproduction Steps
1. go to preference editor
2. make a editor.font change in user preference
3. make one more editor.font change in workspace preference
4. switch from `workspace` tab back to `user` tab in preference editor

what happens: preference editor shows "dirty" status
expected: "dirty" status shoul

[2019-06-13 12:40] elaihau opened #5446 "Not all changes to workspace preference take effect"
### Description

Changes to **some** preferences don't take effect.

### Reproduction Steps

1. open preference editor
2. update `git.decorations.colors` in the "User" tab of pref editor. At this point, changes take effect. Everything looks normal.
3. switch to the "Workspace" tab of pref editor. Update `git.decorations.colors`.

what happens: Changes in the "Workspace" tab don't take effect
expec

[2019-06-13 12:42] elaihau commented on #5446
Could it be related to the refactoring made to preferences? @akosyakov

[2019-06-13 12:51] elaihau commented on #5445
Also, switching tabs back and forth in the preference editor messes up the "dirty" status:

![Peek 2019-06-13 08-49](https://user-images.githubusercontent.com/37082801/59433865-5e790880-8db8-11e9-9ad7-013ab104d5e0.gif)

I believe it is closely related to the first bug reported in this theia issue.

[2019-06-13 12:57] vince-fugnitto opened #5447 "[keybindings] broken features in keybindings-widget"
**Description** :disappointed:

There are several broken features in the `keybindings-widget` which have been introduced:
- editing a `keybinding` is not reflected in the `keymaps.json` (unless app is reloaded)
- editing a `keybinding` does not update the `keybindings-widget` table (unless app is reloaded)
- reverting a custom `keybinding` is not reflected in the `keymaps.json` (unless app is relo

[2019-06-13 13:26] marcdumais-work opened #5448 "[0.7.2] Upcoming bugfix release"
### Description

A `0.7.2` bugfix release was [requested](https://spectrum.chat/theia/general/0-7-2-bug-fix-release~9fd413e2-d4d6-437f-9351-a51a6aa61c52).

[2019-06-13 13:28] marcdumais-work commented on #5448
[0.7.2](https://github.com/theia-ide/theia/tree/0.7.2) branch pushed

Anyone want to help validate this?

[2019-06-13 13:37] akosyakov commented on #5448
@marcdumais commits for Akosh should be also the part: https://github.com/theia-ide/theia/commit/db8c80783655a25629aace1e5d5dd5f544f086d3 and and https://github.com/theia-ide/theia/commit/69c9d5106e609a3538a9463924cd03c1a32f2a03

I can do some shallow testing

[2019-06-13 13:39] akosyakov commented on #5446
@elaihau yes, it can be, one has to debug though to see the root cause.

[2019-06-13 13:43] akosyakov commented on #5444
Do you write Theia or VS Code extension?

[2019-06-13 13:43] akosyakov commented on #5444
For Theia you can look at these events: https://github.com/theia-ide/theia/blob/741876b3ecba8a968ecf1200eb231639eb3b4074/packages/monaco/src/browser/monaco-workspace.ts#L66-L79

[2019-06-13 14:08] akosyakov opened #5449 "scm input field is never focused"
programmatic focusing on activation and via `ScmInput.focus` does not work

[2019-06-13 14:27] marcdumais-work commented on #5448
Thanks @akosyakov . I have added the 2 commits from Akos above and pushed the latest version of the branch. Building locally now - you can test as well.

[2019-06-13 14:28] akosyakov commented on #5448
thanks @marcdumais-work we found one more issue: https://github.com/theia-ide/theia/issues/5449 looking into it

[2019-06-13 14:35] 32leaves opened #5452 "[search-in-workspace] replace all should apply immediately without dirty state"
### Description
When I use the "Replace All" functionality in the search view I have to manually save each every file the search string was replaced in. In VS code, "replace all" immediately saves the changes.

### Reproduction Steps
1. Open the search view
2. Search for a string that is found in multiple files, with a replacement value set
3. Click "replace all", observe that the editors are open

[2019-06-13 14:47] #4666 closed

[2019-06-13 14:58] vince-fugnitto commented on #5452
@32leaves I'm not sure the behavior in vscode is correct, I'd expect if I have `auto-save` disabled, performing a `replace-all` should not save all the editors.

In Theia, performing a replace all with `auto-save` off, results in the files updating with a dirty state. At that point users can perform manual saves, or `save all`. If `auto-save` is enabled, then you have the same behavior you are exp

[2019-06-13 15:05] vince-fugnitto commented on #5452
@32leaves on further investigation, you might be right, what I find annoying now that I think of it, is that we open all editors after performing a `replace-all`. This is annoying and problematic especially for large workspaces.

[2019-06-13 15:09] lmcbout commented on #5448
I tried this v0.7.2 and did not find any new issues not reported, seems to work fine on ubuntu

[2019-06-13 15:23] vince-fugnitto opened #5454 "[search-in-workspace] 'replace-all' should not open the editors"
**Description**

The current `search-in-workspace` behavior is annoying after performing a `replace-all`.
Whenever performing a `replace-all`, we open each of the affected editors, which is annoying, and can prove to be quite problematic for large workspaces.

I attempted to perform a `replace-all` with over 100 files affected, and Theia attempts to open each of the files afterwards.

Instead, I b

[2019-06-13 15:29] 32leaves opened #5455 "Cannot stage merged changes"
### Description
During a rebase I had to merge changes. I cannot stage those changes using the SCM view (clicking the `+` button has no effect).

### Reproduction Steps
1. Rebase a branch so that changes need to be merged manually
2. Merge those changes
3. Try to stage those changes

**OS and Theia version:**
tested in gitpod.io

**Diagnostics:**
there is no error on the console

[2019-06-13 15:30] akosyakov commented on #5448
We've found one more git issue: https://github.com/theia-ide/theia/issues/5455 :(

[2019-06-13 15:42] akosyakov commented on #5455
In order to reproduce merge conflict: https://stackoverflow.com/questions/43702944/reproducing-git-merge-conflict-dd

[2019-06-13 15:45] #5419 closed

[2019-06-13 15:49] #5439 closed

[2019-06-13 15:49] #5447 closed

[2019-06-13 15:59] akosyakov opened #5457 "improve stage(all) git commands"
It is a follow-up of https://github.com/theia-ide/theia/pull/5456:
- It should prompt a user to confirm staging of files with merge conflicts.
- It should prompt a user to pick which version of a deleted file should be used.

Or we complete vscode SCM api and just use vscode git extension which does all of it already.

[2019-06-13 16:33] akosyakov opened #5458 "[vscode] complete scm API"
Somehow we have declared or even some implementation of vscode SCM api which is never used actually in Theia. It should be properly connected:
- [ ] `QuickDiffProvider.provideOriginalResource`
- [ ] `SourceControl.count`
- [ ] `SourceControl.commitTemplate`
- [ ] `SourceControlResourceGroup.hideWhenEmpty`
- [ ] `SourceControlResourceDecorations.strikeThrough`
- [ ] `SourceControlResourceDecoration

[2019-06-13 17:51] marcdumais-work commented on #5448
@akosyakov has a PR for this issue under review: https://github.com/theia-ide/theia/pull/5456 . So I'll wait for this before proceeding with `0.7.2`

[2019-06-13 18:32] lmcbout commented on #5425
After adding some traces, I found what Theia is receiving from clangd:

clangd return duplication of the diagnostics for each code type
In the example below, clang-tidy returns 2 quick fixes for "hicpp-uppercase-literal-suffix" and two quick fixes for "readability-uppercase-literal-suffix".  When opening the "Fixed it" context menu, I have 4 suggestions, i.e. 2 for each variable.
I should expect o

[2019-06-13 18:53] vince-fugnitto opened #5461 "[keybindings] remove link in keybindings-widget to open 'keymaps.json'"
**Description**

@fangnx nicely implemented the `Open Keyboard Shortcuts (JSON)` as a toolbar item so there is no reason anymore to have the link present in the keybindings-widget (toolbar and command are sufficient). VSCode has similarly implemented the same toolbar item and removed their link, so it'd be nice to align further.

<div align='center'>

![image](https://user-images.githubusercontent

[2019-06-13 20:17] kittaakos opened #5463 "[git] Error: Request 'resolveContent' failed when opening `"DD" conflict` from git view"
This happens when trying to open a non-existing file marked as a (git) conflicting from the git view.

 - Open an empty workspace.
 - Open a terminal, initialize a git repository and make a DD conflict by running this: https://stackoverflow.com/questions/43702944/reproducing-git-merge-conflict-dd

Open `main.txt` in the editor:

<img width="285" alt="Screen Shot 2019-06-13 at 22 10 23" src="https:

[2019-06-13 20:28] kittaakos commented on #5435
Please check your Git version, it should be >=2.11.

[2019-06-13 20:29] kittaakos commented on #5435
Steps to reproduce the issue:
 - Open an empty workspace.
 - Activate the Git view. The _No source control_ warning is correct and expected.
 - Open a terminal and run `git init`.

[code]

[2019-06-13 20:30] kittaakos commented on #5435
Related https://github.com/theia-ide/theia/pull/5451?

[2019-06-13 20:54] westbury commented on #5435
Almost certainly that is not the same problem.  The log output is different and the steps to reproduce are different, though they do both fail in the git log command.

[2019-06-14 01:33] HighCommander4 commented on #5425
Based on a brief investigation, I believe the problem is that clangd internally uses just the (message, range) pair of a diagnostic as a "key" for tracking diagnostics.

If you have two checkers which produce diagnostics with the same "key" and fixits for them, then clangd will associate both fixits with the same "key".

When clangd then receives a code action request containing two diagnostic wit

[2019-06-14 03:22] #5449 closed

[2019-06-14 03:29] JustinBobby007 commented on #5444
@akosyakov Thanks for your help, using onWillSaveTextDocument works! 2 more questions:
1. I have some confusion between 'open...' and 'open workspace...' items in 'File' menu, what's the difference? In frontend ui, both trigger open folders dialog, I don't know whether the backend implementation differs, could you explain a little bit.
2. If I wanna retrieve all file contents in a workspace, do yo

[2019-06-14 05:44] HighCommander4 commented on #5425
Filed a [clangd issue](https://github.com/clangd/clangd/issues/60) for this.

[2019-06-14 08:19] svenefftinge opened #5465 "[navigation-history] Includes bad 0,0 positions"
When navigating between editors using the navigation history I see 0,0 positions. Probably added by non-atomic editor open/reveal actions.

Reproduce:

1) open file a
2) go to declaration in file b
3) press CTRL+- and see how you end up on line 0 in file b (expected file a)

[2019-06-14 08:41] #5280 closed

[2019-06-14 08:48] svenefftinge commented on #5285
@tsmaeder given theia dev con is over, can this issue be closed?

[2019-06-14 08:49] AlexTugarev commented on #5285
Also, the README.md can be updated.

[2019-06-14 08:52] akosyakov commented on #5448
after more testing i believe #5455 always was the case , but it will be good to cherry-pick https://github.com/theia-ide/theia/commit/8b52995a53eeb74a73a4b3aae5c79f4f7f2f1660 and after that it should be good

i won't be around today, can test only on Monday, please pick someone else for testing if you think it is required.

[2019-06-14 10:53] westbury commented on #5435
It was 2.14.0.windows.2 on the machine I used.  I have now upgraded to 2.22.0.windows.1 and I have not seen the problem since.

Those steps give me a different error.  We are not coping well with an empty Git repository.  The log function in dugite-git.ts will always fail because there is no HEAD.  I suspect modifying that log function, to always return an empty array for empty repositories, will

[2019-06-14 11:11] kittaakos commented on #5435
What kind of errors did you get?

Yes.

[2019-06-14 11:20] #4734 closed

[2019-06-14 11:20] #5170 closed

[2019-06-14 11:30] marcdumais-work commented on #5448
Added. I pushed the updated `0.7.2` branch.

@vinokurig would you and/or colleagues who worked on the `scm` extension be able to help test this, before we release?

[2019-06-14 11:46] vince-fugnitto opened #5468 "[tasks] update 'configure tasks' command and menu"
**Description**

The command and menu item `Tasks: Configure Tasks...` does not display 'configured' tasks. Despite there being a **tasks.json** in the workspace, when triggering the command, no tasks are found. If however I attempt to run `Run Task...`, I can see a list of tasks with the **configure** icon.

**Steps To Reproduce**

1. open the workspace **test-resources** from `theia/packages/tas

[2019-06-14 11:50] westbury commented on #5435
root ERROR The command `git log HEAD -C -M -m -n 100 --name-status --date=unix --format=%x02%h%x01%aE%x01%aN%x01%aI%x01%ar%x01%s%x01%b%x01 -z -- .` exited with an unexpected code: 128. The caller should either handle this error, or expect that exit code.
root ERROR fatal: bad revision 'HEAD'

and also with -n 1 or -n 2 when it is called from ScmAmendComponent.

[2019-06-14 11:50] kittaakos commented on #5465
The `editor.enablePreview: true` preference further complicates this. The navigation is broken as we always open a new non-preview editor even if `editor.enablePreview` is `true`.

I try to fix both issues in one PR.

[2019-06-14 11:54] kittaakos commented on #5435
Ahh, I added the frontend error to this issue while you were referring to the backend one. Makes sense. :)

Do you have time to add the guard against the `git log` or I should do it?

[2019-06-14 12:00] westbury commented on #5435
I'm making the change.  Should have it ready today.

[2019-06-14 12:15] gloomuu opened #5470 "[vscode] maven extension for java does not work"
### Description

### Reproduction Steps
1. Install Vs Code Extension - Maven for Java by using "Deploy plugin by ID"
vscode:extension/vscjava.vscode-maven

2. From the log, the plugin is installed and we can see it in the Theia plugin list

3. The maven project does not show in the Theia view

**OS and Theia version:**
OS: Linux
Theia: v0.6.1

**Dignostics:**

[code]

[2019-06-14 12:16] #5285 closed

[2019-06-14 12:25] kittaakos commented on #3510
Duplicate of #1897.

[2019-06-14 12:26] kittaakos commented on #1897
Same as https://github.com/theia-ide/theia/issues/3510.

It happens when I close multiple editors with `alt+shift+w`

[2019-06-14 12:26] #3510 closed

[2019-06-14 12:31] kittaakos commented on #5465
This change causes the issue: https://github.com/theia-ide/theia/pull/4423

[2019-06-14 12:46] elaihau opened #5473 "Is having task model classes beneficial ?"
vsCode has one abstract class [CommonTask](https://github.com/microsoft/vscode/blob/1.35.1/src/vs/workbench/contrib/tasks/common/tasks.ts#L501), and 4 model classes (i.e., Custom, Contributed, Configuring, InMemory) that extend `CommonTask` for different types of Tasks, while in Theia, we defined 2 interfaces: `TaskConfiguration` and `ContributedTaskConfiguration`.

I am not sure if having model c

[2019-06-14 12:54] kittaakos commented on #5465
Also, #4423 did not handle the case when a file is opened from the navigator with a **single click**.
With a **single click** open, the selection is not set into the editor, hence the location will not be registered into the stack only **double click** does it. It works properly in VS Code.

[2019-06-14 13:08] kittaakos opened #5474 "[editor] Editor manager does not fire an event `onCurrentEditorChanged` when opening a file with single click"
From https://github.com/theia-ide/theia/issues/5465#issuecomment-502098217.
Open a file from the navigator with a **single click** the `currentEditor` does not change.

[2019-06-14 13:14] kittaakos commented on #5473
Just asking: do classes work correctly through the wire (JSON-RPC), they should.

[2019-06-14 13:23] lmcbout opened #5475 "Add Breadcrumb to Theia"
### Description
Add breadcrumb in Theia between the menubar and the editor. VScode already have it available

### Reproduction Steps
![breadcrumbTopEditor](https://user-images.githubusercontent.com/419051/59511978-b2055800-8e85-11e9-9666-f8c1a3e9a151.gif)

**OS and Theia version:**
Theia 0.7.0
UIbuntu 16.04

[2019-06-14 13:40] vinokurig opened #5476 "Empty 'CHANGES' resource group is present in the SCM"
### Description

Empty 'changes' resource group is present in the SCM
### Reproduction Steps

* Open a workspace with a git project
* Go to SCM
Wong: an empty `CHANGES` resource group is shown:
![screenshot-localhost-3000-2019 06 14-16-36-28](https://user-images.githubusercontent.com/7668752/59513020-9a989000-8ec2-11e9-85c2-b96a8cc3fe57.png)
Even if there are stage changes, an empty `CHANGES` reso

[2019-06-14 13:43] kittaakos commented on #5476
I have noticed this yesterday as well, created an issue and have changed my mind. It is the same in VS Code (Version 1.35.1 (1.35.1))

![Screen Shot 2019-06-14 at 15 41 06](https://user-images.githubusercontent.com/1405703/59513380-08d95480-8ebb-11e9-9fcd-244ccb64a8dd.jpg)
![Screen Shot 2019-06-14 at 15 41 31](https://user-images.githubusercontent.com/1405703/59513381-0971eb00-8ebb-11e9-8c69-97511

[2019-06-14 13:43] vince-fugnitto opened #5477 "[preferences] add 'create workspace settings.json' toolbar item"
**Description**

I propose we add a `create workspace settings.json` toolbar item to the preferences widget whenever there isn't a `settings.json` present in the workspace. After recent updates, there is no longer a way to initially generate the `settings.json` file in Theia, and this toolbar item solves that issue.

**Features**
1. the button should create the workspace `settings.json`.
2. it sho

[2019-06-14 13:45] vinokurig commented on #5448
As for now I've found a new issue: https://github.com/theia-ide/theia/issues/5476. Testing more.

[2019-06-14 13:46] vince-fugnitto commented on #3673
@kittaakos has the problem been fixed? I don't see the `settings.json` being created anymore, that's the reason I proposed the idea of #5477

[2019-06-14 13:47] vinokurig commented on #5476
Ok closing

[2019-06-14 13:47] #5476 closed

[2019-06-14 13:52] elaihau commented on #5473
Classes don't work correctly if they are passed from front end to backend.
However, the task type (i.e., contributed vs configured) is not important to the backend. The only thing that the backend needs is the data that can be run in the terminal or as a process.

[2019-06-14 13:57] kittaakos commented on #5473
If you want to replace the `TaskConfiguration` interface with a class, this won't work:
https://github.com/theia-ide/theia/blob/7b7721f39f97f3194b88688f5df21bd4860f5241/packages/task/src/common/task-protocol.ts#L74

[2019-06-14 13:58] kittaakos commented on #5475
Please make it configurable. So it will be possible to hide.

[2019-06-14 14:08] elaihau commented on #5473
`TaskConfiguration` doesn't have to be removed. Instead, it would serve as the interface for the frontend to pass data to the backend.

The Task model classes would only by used in FE, and we could define an abstract method in the base class like this

[code]
for its subclasses to decide which properties should be passed through the wire for task execution.

[2019-06-14 14:08] kittaakos commented on #3673
I do not know, but it is not an issue anymore. I cannot see the `Workspace` tab if open an empty workspace and select `File` > `Settings` > `Open Preferences`.

![Screen Shot 2019-06-14 at 16 02 40](https://user-images.githubusercontent.com/1405703/59514768-d9781700-8ebd-11e9-9787-6b0a717afc8e.jpg)

[2019-06-14 14:08] #3673 closed

[2019-06-14 14:16] svenefftinge commented on #4927
Cool, seems like you've found the issue already.
You can fix, test and create a PR from within gitpod easily (or setup a local environment of course).

[![Resolve in Gitpod](https://gitpod.io/button/solve-in-gitpod.svg)](http://gitpod.io/#https://github.com/theia-ide/theia/issues/4927)

[2019-06-14 15:48] thegecko commented on #2980
I've created a roadmap page in the wiki:

https://github.com/theia-ide/theia/wiki/Roadmap

What other major features should be considered for 1.0?

[2019-06-14 16:04] thegecko opened #5479 "Resources needed to run Theia"
Can we collect some data together on this issue around resource required to run Theia while still being usable.

This could come from real-world experience of live products and potentially form the basis of some user documentation system requirements.

Hosts of specific interest:

__Docker__

- CPU requirements
- Memory requirements
- Other (@marcdumais-work you mentioned file descriptors?)

__Des

[2019-06-14 16:07] vince-fugnitto commented on #5477
Closing the issue since the correct implementation would be to show the `Workspace` tab to the preferences-widget, and upon adding a new preference, the file would be created.

[2019-06-14 16:07] #5477 closed

[2019-06-14 16:09] thegecko opened #5481 "Set up CI system to create desktop installer of vanilla Theia"
Feature requirement to extend CI systems to build installers for the desktop flavour of Theia for:

- Windows
- MacOS
- Linux

In order to correctly sign these, they will need to be built on Windows, Mac and Linux machines accordingly.

Options for systems to include:

- Custom Jenkins setups (already proven at arm) available from the Eclipse foundation
- Hosted build service for each OS (e.g. App

[2019-06-14 16:48] #5440 closed

[2019-06-14 16:49] #5461 closed

[2019-06-14 17:05] fangnx opened #5482 "[quick-open] global commands should be sorted"
Global commands in `quick-open` should be sorted alphabetically, with the default `...` on the top.

In Theia:
![Screenshot from 2019-06-14 13-01-46](https://user-images.githubusercontent.com/25921074/59525700-f522f380-8ea4-11e9-8ea7-ef9ea2263f6e.png)

In VS Code:
![Screenshot from 2019-06-14 13-02-13](https://user-images.githubusercontent.com/25921074/59525679-ec322200-8ea4-11e9-9830-1f18c58a683e

[2019-06-14 17:14] marcdumais-work commented on #5479
Rather file watchers / [inotify](https://en.wikipedia.org/wiki/Inotify) (on Linux) usually have a very low default value.

[This](https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers#the-technical-details) seems like a decent guide to get started.

[2019-06-15 04:53] sr229 commented on #5481
@thegecko FWIW, Travis now has a Windows VM for you to use. You may also use Azure pipelines as well.

[2019-06-15 04:55] sr229 commented on #2980
I vote for static content optimizations be included as Theia can be really slow to get the bundles compared to `code-server` (which they GZIP content, which currently we lack atm, and this can pose problems in slow networks).

[2019-06-15 08:25] thegecko commented on #5481
Thanks. The Mac ci may be tricky

[2019-06-16 13:11] ariel-bentu opened #5486 "executeCommand prefers tree-view selected item over passed arguments"
### Description
When calling vscode.commands.executeCommand not by clicking an inline action, and not by right-clicking a tree-item context-menu, the command registry prefers the current selected item in a tree-view over the passed arguments.

This bug prevents the following important flows:
1) click-inline-action/select-ctx-menu on a tree-item -> invoke command A, which in turn invokes command B

[2019-06-16 13:41] I051950 commented on #4902
Although the mentioned task merged (see above), the 'gitlens' extension does not supported in last available theia version (0.8.0). Whether you plan to put a suitable priority to this issue ?
Thanks.

[2019-06-17 05:49] 502647092 opened #5487 "alt + w close editor should not close other ui"
### Description
in theia close window
![temp](https://user-images.githubusercontent.com/10203793/59581158-95c41e00-9106-11e9-8ca9-3920e960f976.gif)

in vscode close window
![temp](https://user-images.githubusercontent.com/10203793/59581188-af656580-9106-11e9-8675-d1688cee0750.gif)

### Reproduction Steps
look gif

**OS and Theia version:**
**Diagnostics:**

[2019-06-17 07:18] FrankMathers opened #5488 "Hosted Plugins on Windows not working"
### Description
Hosted Plugins on Windows not working

### Reproduction Steps
I use yoman to create a simple hello word plugin, when I run hosted plugin, the error "root ERROR Failed to load plugin metadata from" showed.

**OS and Theia version:**
Windows @theia/example-browser 0.7.0
**Diagnostics:**
Here is what I found: Packages->plugin-dev->src->node->hosted-plugins-manager.ts
line69  this.chec

[2019-06-17 07:25] a1994846931931 opened #5489 "Input gets into wrong editor"
### Description

It seems that the editor that is opened from "Find All Reference" is not regarded as the current editor and, hence, the input is wrongly directed into the former editor.

### Reproduction Steps

![editor-wrong](https://user-images.githubusercontent.com/17487291/59585841-f9a11380-9113-11e9-9700-47bf54c538f5.gif)

**OS and Theia version:**
OS: linux

**Diagnostics:**

[2019-06-17 07:29] benoitf commented on #5488
hello, it's not fixed by https://github.com/theia-ide/theia/pull/5274 ?

[2019-06-17 07:38] vinokurig commented on #5448
Other works well for me.

[2019-06-17 07:54] svenefftinge opened #5490 "[Java] Language server process is not dying after refresh"
try reload a theia frontend with an opened java editor multiple times.
See how the processes are leaking.

[2019-06-17 08:12] a1994846931931 commented on #5026
@akosyakov Yes, it works.

[2019-06-17 08:12] #5026 closed

[2019-06-17 08:42] akosyakov opened #5491 "debug console cannot handle huge amount of output"
Reproducible with debugging https://github.com/in28minutes/SpringBootForBeginners

[2019-06-17 08:59] FrankMathers commented on #5488
seems not, I just pulled the latest code, and run, the error is still there.

[2019-06-17 09:04] tom-shan commented on #5470
I think this issue may be caused by not implemeted apis like visible, onDidChangeVisibility, onDidChangeSelection and so on.

[2019-06-17 10:09] marcdumais-work commented on #5448
Thanks @vinokurig . I plan to go ahead with `0.7.2` release later today, afternoon time here in Montreal.

[2019-06-17 10:28] akosyakov opened #5493 "keyboard navigation does not work in debug console"

[2019-06-17 11:18] elaihau commented on #5473
What do you think ? @RomanNikitenko @akosyakov

[2019-06-17 12:01] svenefftinge opened #5495 "[Debug] Debug Console doesn't auto scroll"
Running a debug process with lots of output, the scrolling behavior is not reliable.

Repro:
 - clone https://github.com/in28minutes/SpringBootForBeginners
 - create launch java configuration
 - launch it and open the debug console
 - UI should not freeze and the output should be displayed

[2019-06-17 12:54] JustinBobby007 opened #5496 "Communication between frontend-backend via jsonrpc failed with error: "Request 'xxx' failed""
Theia version : 0.7.1

- Service interface definition:
[code]

- Backend modules:
[code]

- In frontend, bind and inject XXXService:
[code]

- then invoke method xxx
[code]

- but throw exception as follows:
  root INFO erroror: Error: Unhandled method xxx, Error: Request 'xxx' failed
    at Proxy.<anonymous> (http://127.0.0.1:3000/bundle.js:48252:33)
    at XXXContribution.push.../theia-vue-exten

[2019-06-17 13:33] akosyakov commented on #5496
and `XXXServiceImpl` has `xxx` method?

[2019-06-17 14:09] akosyakov commented on #4912
@ariel-bentu i'm closing it, please follow #5058 for view containers, i hope we get them in 0.9.0
the initial PR is here already: https://github.com/theia-ide/theia/pull/5392

[2019-06-17 14:09] #4912 closed

[2019-06-17 14:20] #5491 closed

[2019-06-17 14:35] fangnx opened #5500 "[monaco] missing "toggle minimap" command"
We should add the "Toggle Minimap" command to the top bar menu and the quick-open.

[2019-06-17 15:16] akosyakov commented on #4174
@ariel-bentu do you have sample vscode extension?

[2019-06-17 15:25] tetchel opened #5501 "A way to tell if my extension is running in Theia (not VS Code)"
Hi, is there a way to programmatically determine if my VS Code extension is running in Theia as opposed to in VS Code?

Currently I am checking an env var which is present in our Theia environment, but will not be present in _all_ Theia environments, so I'd like to know if I can improve this.

[2019-06-17 15:30] akosyakov commented on #5501
Maybe we can rely on [env.appName](https://github.com/microsoft/vscode/blob/0ad6f54ca20b18a2ed8ff409d37647ee93073617/src/vs/vscode.d.ts#L6003)? It should be `Theia` then.

[2019-06-17 15:33] akosyakov commented on #5473
@elaihau we don't need to structure code as VS Code, only align with their specifications. If you think it would be beneficial go for it. My only concern is to avoid doing big refactoring just to refactor. If there is no much benefits over existing approach i won't do it.

[2019-06-17 15:45] benoitf commented on #5501
yes env.appName is a good way to do checks.

BTW I'm curious why you may want to know in which environment you are

[2019-06-17 15:53] ariel-bentu commented on #4174
I will test it tonight and report back. No sample code to demo the issue
for now, bur real code :)

בתאריך יום ב׳, 17 ביוני 2019, 18:16, מאת Anton Kosyakov ‏<
notifications@github.com>:

[2019-06-17 16:00] benoitf commented on #5501
ok thanks @tetchel for the explanation.
you may create specific sub-issues for each VS Code API that is not working as you expect so they can be tackle first. The two issues you referenced are more global improvements and it's better to fix first what developers are using.

[2019-06-17 17:17] tetchel commented on #5501
I won't have a chance to create proper bugs for those two in the next little while, but basically they were:
1) If `window.createQuickPick` is used, the `onDidAccept` callback is never invoked
2) `window.createInputBox` is not a function

[2019-06-17 18:57] vince-fugnitto commented on #5438
Closing for now until the major refactoring to the `preferences` widget is made.

[2019-06-17 18:57] #5438 closed

[2019-06-17 19:21] fangnx opened #5502 "[keybindings] "edit" and "reset" icons not displayed properly"
Currently, the "edit" and "reset" icons would be replaced by `...` when the widget is resized, despite there is still enough space to display them properly. It should be fixed.

![theia-keybindings-3dots](https://user-images.githubusercontent.com/25921074/59630432-4b956980-9113-11e9-9a99-eb4ef4d79f9c.gif)

[2019-06-17 19:22] marcdumais-work commented on #5448
done - 0.7.2 published: https://github.com/theia-ide/theia/releases/tag/v0.7.2

[2019-06-17 19:22] #5448 closed

[2019-06-17 19:23] fangnx commented on #5502
I will have it fixed together with #5402.

[2019-06-18 01:13] JustinBobby007 commented on #5496
@akosyakov  Yes, like the following
[code]

[2019-06-18 02:10] yeweiasia commented on #5470
![image](https://user-images.githubusercontent.com/16164849/59648034-1ee35f80-91b0-11e9-81f0-9e995b7093ab.png)
https://che-incubator.github.io/vscode-theia-comparator/status.html
Is anyone working on these unimplemented objects related with treeview?

[2019-06-18 03:10] tom-shan commented on #4112
@jgbradley1 You should try to use drivelist 8.0.6 for this [commit](https://github.com/balena-io-modules/drivelist/commit/621b78febb8ca6b2c4ff8c11a7a1cccc6d7fd0e2) is published after 8.0.0.

[2019-06-18 06:14] ariel-bentu opened #5503 "web view which are using vscode-resource: or theia-resource: fail when theia is behind reverse proxy with path-based routing"
### Description
If theia is ran behind a reverse proxy, and there is a path that routes to Theia, calls to static resources by plugins or vscode-extensions, which use 'vscode-resource:' fail

### Reproduction Steps
setup theia behind a path-based router, and use a webview. example plugin: https://marketplace.visualstudio.com/items?itemName=mtxr.sqltools - use the command 'SQL Tools management Add

[2019-06-18 06:15] akosyakov commented on #5496
@JustinBobby007 Do you have an example somewhere? From code snippets it looks alright, maybe some details in the actual implementation.

[2019-06-18 06:19] akosyakov commented on #5470
It does not look like that. PRs are welcomed.

Related issue: https://github.com/theia-ide/theia/issues/4605

[2019-06-18 06:41] #2843 closed

[2019-06-18 06:55] tolusha opened #5504 "When debug session is stopped console is flooded with errors"
### Description

### Reproduction Steps

1. Start debug session
2. Stop debug session
3. A lot of stacktraces are observed in a console

**OS and Theia version:**
`Theia: 0.7.0`

**Assumption**
Events are send when session is disposed:
https://github.com/theia-ide/theia/blob/master/packages/debug/src/node/debug-adapter-session.ts#L53-L54

**Diagnostics:**

[code]

[2019-06-18 06:57] #4804 closed

[2019-06-18 07:07] akosyakov commented on #1017
@elaihau right now it is not possible to create tasks.json if there are not contributed tasks to configure

[2019-06-18 07:07] akosyakov opened #5505 "tasks.json does not allow comments"
tasks.json should be of json**c** language

cc @elaihau

[2019-06-18 07:39] BroKun opened #5506 "[terminal] 'terminal is not started'"
### Description
When I open the terminal, the console will report this error.

### Reproduction Steps
In my case, I started theia from the image, and there is no problem with the image running locally, but when I run it remotely, I get an error, which I think may be related to slower network interaction.

**Diagnostics:**
[code]
After the terminal is created by the WidgetManager, the trackTerminal

[2019-06-18 07:45] akosyakov commented on #5506
@BroKun can you have a look?

[2019-06-18 07:47] amiramw opened #5507 ""Undeploy" plugin"
### Description

After running Deploy plugin by id, there should be a way to remove it. Maybe command?
Deleting manually the temp unpacked folder seems to remove it but it doesn't affect the plugins view.

### Reproduction Steps

1. Press F1 and then run "Plugin: Deploy plugin by id".
1. Insert vscode:extension/hypnoes.hello.
1. Now there is no nice way to remove it.

[2019-06-18 07:53] BroKun commented on #5506
Yes , it is my pleasure to help.

[2019-06-18 07:53] BroKun commented on #5506
Yes , it is my pleasure to help.

[2019-06-18 08:17] akosyakov commented on #5507
What should happen for existing opened windows? Should an extension be auto unloaded for everybody? Or it should be functional till next reload?

cc @benoitf @svenefftinge

I would prefer if it is not loaded automatically, but a user can unload it by clicking a button on UI or reloading the window.

Another thing we should agree about terminology for a user. Extensions can be deployed and then loa

[2019-06-18 08:43] xieyuanhuata commented on #5490
yes
i have solve the bug:
https://github.com/theia-ide/theia/pull/5253

[2019-06-18 08:59] akosyakov commented on #5490
It is not related to plugins, but to java theia extension.

[2019-06-18 11:16] JustinBobby007 commented on #5496
@akosyakov Thanks for your time, and it's my mistake!
After several hours for comparing these codes with other examples which run without exception. Finally I found the difference in the ConnectionHandler bind:
Original code:
[code]
The second parameter 'targetFactory' in JsonRpcConnectionHandler should be defined like:
`() => context.container.get(HuaweiUxService)`

instead of
[code]

After modif

[2019-06-18 11:46] akosyakov commented on #5496
@JustinBobby007 glad you figured it out

[2019-06-18 11:46] #5496 closed

[2019-06-18 12:13] RomanNikitenko commented on #5473
@elaihau
About applying VS Code model for Theia it's difficult to assess for me at the moment.
But in general I'm +1 for refactoring if we can separate responsibility of entities and simplify code this way.

[2019-06-18 12:17] ira-gordin-sap commented on #5109
Hi, could you please share some estimation for this item?

[2019-06-18 12:33] JPinkney commented on #5109
Everything that can be done currently is in a PR (https://github.com/theia-ide/theia/pull/5187) that i'm fixing up today

[2019-06-18 12:36] magopian opened #5511 "Cmd+Shift+P on Firefox on MacOS opens a private navigation window instead of the command palette"
### Description
`Cmd+Shift+P` on Firefox on MacOS opens a private navigation window instead of the command palette. This keyboard shortcut is the very first one listed on https://www.gitpod.io/docs/52_Tips_and_Tricks/

### Reproduction Steps
Focus anywhere in the editor and press `Cmd+Shift+P` while in Firefox on MacOS, and it'll open a new Firefox private navigation window.
Pressing `F1` (keyboar

[2019-06-18 12:38] magopian commented on #5511
This is probably a duplicate of #1696. I guess the right fix here is to update the page on https://www.gitpod.io/docs/52_Tips_and_Tricks/#command-palette

[2019-06-18 12:42] vince-fugnitto commented on #5511
Yes @magopian it is a dupp of https://github.com/theia-ide/theia/issues/1696, but it does look like gitpod lists <kbd>F1</kbd> as the first keybinding.

[2019-06-18 12:49] magopian commented on #5511
As it's related to gitpod docs, I guess this should be closed here?

[2019-06-18 12:51] benoitf commented on #5511
duplicate of https://github.com/theia-ide/theia/issues/1696

[2019-06-18 12:51] #5511 closed

[2019-06-18 12:52] vince-fugnitto commented on #5511
@magopian sure I'll close it for you, please feel free to open an issue in [gitpod](https://github.com/gitpod-io/gitpod/issues) if you believe the docs should be improved :)

[2019-06-18 12:52] magopian commented on #5511
thanks @vince-fugnitto and @benoitf , opened in https://github.com/gitpod-io/website/issues/184

[2019-06-18 15:13] lmcbout opened #5513 "Search box in Explorer freeze after leaving the search area."
### Description

After editing the search box, click on the editor section, then try to modify the search pattern, It does not accept any characters until you select a file in the file explorer, then the search box goes away and you can initiate a new search after. May be a focus out event missing for the search box !

### Reproduction Steps
![SearchFreeze](https://user-images.githubusercontent.co

[2019-06-18 17:47] #5482 closed

[2019-06-18 19:21] sstone1 opened #5514 "Cannot set property exports of #<Module> which has only a getter"
### Description
I am trying to use an existing VSCode extension with Theia, but it fails when reloading the browser window with the following error:

[code]

### Reproduction Steps
Some node modules, such as `ansi-styles`, define the exports in an immutable manner: https://github.com/chalk/ansi-styles/blob/master/index.js#L159

This line:
https://github.com/theia-ide/theia/blob/master/packages/plu

[2019-06-19 01:50] 502647092 opened #5515 "[vscode] support editor/title context menus for web views"
### Description
preview toolbar also not support
VSCode
![image](https://user-images.githubusercontent.com/10203793/59731262-f9218d80-9277-11e9-8992-b9abdd8b72d4.png)
Theia
![image](https://user-images.githubusercontent.com/10203793/59731274-06d71300-9278-11e9-899f-16bd522aac79.png)

### Reproduction Steps
Download vscode plugin REST Client(humao.rest-client)
create a new http file
Send Request
lo

[2019-06-19 01:53] 502647092 commented on #5515
preview toolbar also not support
VSCode
![image](https://user-images.githubusercontent.com/10203793/59731262-f9218d80-9277-11e9-8992-b9abdd8b72d4.png)
Theia
![image](https://user-images.githubusercontent.com/10203793/59731274-06d71300-9278-11e9-899f-16bd522aac79.png)

[2019-06-19 02:04] elaihau opened #5516 "Align Theia task schema with vs code"
### Description

As per https://code.visualstudio.com/docs/editor/tasks#_custom-tasks and https://code.visualstudio.com/docs/editor/tasks-appendix vs code task schema is quite different from that in Theia:

[code]

We should align them for consistent user experience.

This issue was originally brought up by @akosyakov  in https://github.com/theia-ide/theia/pull/5024#issuecomment-502985636

### Rep

[2019-06-19 02:09] elaihau opened #5517 "Support compound tasks"
### Description
VS Code supports having tasks that are dependent on other tasks.

See https://code.visualstudio.com/docs/editor/tasks#_compound-tasks for details

[2019-06-19 02:24] yeweiasia commented on #5470
@akosyakov I will take a look.

[2019-06-19 07:23] akosyakov commented on #5515
These actions are contributed via `editor/title` contribution point for the webview: https://github.com/Huachao/vscode-restclient/blob/ea54abe5e5e54eccd002dbef7ff1693d48983f9d/package.json#L205-L236

The difference between Theia and VS Code is that everything visible in the main area is an editor for VS Code from the perspective of commands and contribution points. In Theia an editor is an textual

[2019-06-19 07:24] akosyakov commented on #5514
@sstone1 you are welcomed to have a look if it is critical for you.

[2019-06-19 07:41] 502647092 commented on #5487
@akosyakov
Can you solve this problem?

[2019-06-19 07:49] akosyakov opened #5518 "[vscode] webview does not have proper styles"
### Description
Theia
![image](https://user-images.githubusercontent.com/10203793/59731085-700a5680-9277-11e9-9900-62dec928678a.png)

VSCode
![image](https://user-images.githubusercontent.com/10203793/59731071-61bc3a80-9277-11e9-9168-75362d221dfe.png)

### Reproduction Steps
Download vscode plugin REST Client(humao.rest-client)
create a new http file
Send Request
look response

The response is the

[2019-06-19 08:13] #5486 closed

[2019-06-19 08:16] #5028 closed

[2019-06-19 08:29] akosyakov commented on #5487
In Theia we don't treat editors somehow special from other shell widgets, so it works by design as for now. We need to discuss whether we want to change it. Also in VS Code everything in main area is an editor, so it is probably take into account other widgets, like previews, webviews. We need to investigate first what is the proper behaviour.

[2019-06-19 09:05] akosyakov opened #5519 "[vscode] complete clipboard api"
See https://github.com/microsoft/vscode/blob/466c132f5b4362b3be485a1f7a624b3a7316ddb8/src/vs/vscode.d.ts#L5977-L5993

[2019-06-19 09:05] akosyakov commented on #4446
@jeffmaury to track clipboard api see this issue: https://github.com/theia-ide/theia/issues/5519

[2019-06-19 09:55] 32leaves commented on #5489
I also have this problem without the editor preview. It seems to appear whenever saving a file takes a long time (e.g. with some Go files). Then the input goes in the file that I previously edited and which is taking a long time to save.

[2019-06-19 10:28] akosyakov opened #5521 "[vscode] webview active state is bogus if iframe is focused"
The shell cannot detect that the webview widget is active then webview iframe is selected. The check should be based on `document.activeElement` to produce reliable results.

[2019-06-19 10:49] akosyakov commented on #5521
Not sure how approach is properly. It would be nice to fix in the shell, right now webviews with focused iframe are not highlighted as active, the same for the mini browser. It seems to be a generic shell issue.

[2019-06-19 10:49] akosyakov commented on #5521
Open an issue in phosphorjs https://github.com/phosphorjs/phosphor/issues/394 to learn their opinion.

[2019-06-19 11:17] AndrienkoAleksandr opened #5522 "Multiroot support command 'Add folder to workspace' should be in the main menu File"
### Description
When multiroot enabled We have  'Add folder to workspace'  command in the file navigator. **But it should in the menu File too**, like in the VSCode:
<img width="960" alt="AddFolderToWorkspaceVsCode" src="https://user-images.githubusercontent.com/6873095/59761183-c8a01a80-929c-11e9-9052-62dce82d7c2b.png">

[2019-06-19 12:21] #5505 closed

[2019-06-19 12:47] spoenemann opened #5524 "Some keybindings should be disabled on certain keyboard layouts"
Some keybindings cannot be mapped on certain keyboard layouts. Currently we fall back to the US keyboard bindings, but in some cases that leads to unwanted shadowing of keybindings (see #5398). We should disable such keybindings.

Example: In VS Code, the "Indent Line" keybinding is disabled on Linux with German keyboard. Currently we fall back to `ctrl`+`]`, which is displayed as `ctrl`+`+`.

[2019-06-19 14:05] vince-fugnitto commented on #5522
I know that in certain use cases the top-level menu item will not work properly, for example in the case of Electron. We are currently creating the menu items based on the preference `workspace.supportMultiRootWorkspace`, but this means that if a user enables/disables the preference, the Electron menu will not update (since we create the menu once).

I know it's a small enhancement (we already hav

[2019-06-19 15:35] akosyakov opened #5528 "[git] merge group should be the first one"
Right now, it is the last:
<img width="442" alt="Screen Shot 2019-06-19 at 17 34 39" src="https://user-images.githubusercontent.com/3082655/59779438-8c7ab300-92b8-11e9-9d6a-ce97271f84ef.png">

[2019-06-19 15:38] #5455 closed

[2019-06-19 15:49] akosyakov commented on #5521
The only reliable way to get whether iframe is focused, it actually listens for it inside iframe and then forwards events to the host window. After that we will need to have a custom shell focus tracker which is aware of these events as well. cc @svenefftinge @spoenemann

[2019-06-19 15:50] vince-fugnitto opened #5529 "[keybindings] display"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-06-19 15:50] vince-fugnitto opened #5530 "[keybindings] display 'when' column in keybindings widget"
**Description**

Currently, only the `context` column is being displayed in the keybindings-widget, but since plugins contribute `when` clause contexts, the view should support it.

@akosyakov I may be mistaken, but will our `context` become deprecated to support `when` contexts instead? #4108

[2019-06-19 15:57] #5529 closed

[2019-06-19 16:20] vince-fugnitto commented on #1640
The problem is even more visible now since we've set `auto-save` off by default #4777
I am constantly making new changes, undoing them, and the editor still has the dirty state (which is annoying as an end user).

[2019-06-19 17:04] vince-fugnitto commented on #5427
Consequently, is this the reason `meta` is displayed instead of `cmd` in the `keybindings-widget` on macOS?

<div align='left'>

<img width="366" alt="Screen Shot 2019-06-19 at 12 58 50 PM" src="https://user-images.githubusercontent.com/40359487/59785284-680be000-9292-11e9-9241-4985137cafa5.png">

</div>

[2019-06-19 18:48] lmcbout opened #5532 "[tasks] run clang-tidy as a task and generate problem markers"
**Description**

It would be nice to run `clang-tidy` as a task and generate problem markers to be visible in the `problems-view` and `editor`.

We need this to be merged first: [create problem markers from task output #5024s](https://github.com/theia-ide/theia/pull/5024)

[2019-06-19 19:10] elaihau commented on #5445
I am no longer able to reproduce this problem on the master branch. Could you please double check and confirm? @lmcbout

[2019-06-19 19:24] vince-fugnitto commented on #5532
Do you mean running clang-tidy as a `task`?
We already support having `clang-tidy` as a preference and it creates problem markers.

[2019-06-19 19:54] vince-fugnitto opened #5534 "[ui] octicons do not have the correct size in the statusbar"
**Description**

`octicon` icons present in the statusbar do not have the appropriate size as compared to other statusbar icons, it looks like the `octicons` are too large.

The `octicon` present in the screenshot is the last, the **tools** one.

<div align='left'>

<img width="445" alt="Screen Shot 2019-06-19 at 3 54 10 PM" src="https://user-images.githubusercontent.com/40359487/59795978-8251b800

[2019-06-20 01:35] vince-fugnitto commented on #693
Closing since the extension manager has been deprecated #4876

[2019-06-20 01:35] #693 closed

[2019-06-20 05:51] zerdos commented on #1896
still happens.

[2019-06-20 07:12] spoenemann commented on #5521
Seems unfeasible.

We could ignore the `blur` event?

[2019-06-20 10:03] genady-p opened #5537 "How to report security issues"
I have found 2 security issues: XSS and Path traversal with Theia plugins.
How the issues should be reported without being exposed to everyone else?

[2019-06-20 10:30] vince-fugnitto commented on #5537
@genady-p it's alright to open an issue about any security flaw or vulnerability you may have discovered, it has been done previously in the past https://github.com/theia-ide/theia/issues/4440, and PRs are always most certainly welcome. Would you like to share how you discovered the issue?

[2019-06-20 10:43] genady-p commented on #5537
My concern is that since I share exact request payload, the 0-day might be used by someone else to attack existing theia environments.

[2019-06-20 10:50] vince-fugnitto commented on #5537
@genady-p I understand your concerns, ideally we'd set up the `security` tab in github to discuss security flaws but if you'd like email is fine (you can email me directly) :)

I verified the XSS vulnerability and it comes from `typedoc` which pulls `jquery` with the flaw but this is a `devDependency` so no need to worry.

[2019-06-20 11:32] vince-fugnitto commented on #5429
I'm fine with removing `sinon` :)

[2019-06-20 11:41] vince-fugnitto commented on #5537
I'll close the issue for now, after performing an audit the issues are all present from `devDependencies`.
Offline discussions will be made in the meantime to fix any issues.

[2019-06-20 11:41] #5537 closed

[2019-06-20 11:47] #5226 closed

[2019-06-20 11:47] #5358 closed

[2019-06-20 12:08] kpge opened #5538 "[ui]the cursor of tabBar should not be pointer"
### Description
when I move mouse cursor on the tabBar but not on a icon in the bar , the cursor is still 'pointer', but it can not click.
I think it should be default instead
![image](https://user-images.githubusercontent.com/35068357/59847953-89ee8b00-9396-11e9-8d61-c4d7c5e6fb0c.png)

[2019-06-20 13:11] magopian commented on #5538
Oops sorry I meant to ping here before working on the PR and totally forgot... anyway, i've created a PR with a one-line change that seems to do the trick ;)

[2019-06-20 14:12] magopian commented on #5534
When is that icon displayed? Trying to reproduce locally ;)

[2019-06-20 14:19] vince-fugnitto commented on #5534
You can update any current icon from the statusbar to a `octicon` to test the bug.
For example, you can update the following `wrench` to [`tools`](https://octicons.github.com/icon/tools/), and test it by simply opening a `c++` file which will create the statusbar item.

https://github.com/theia-ide/theia/blob/711e3ce41f68a2a41423dcb50e537688578f9491/packages/cpp/src/browser/cpp-build-configuration

[2019-06-20 14:45] fangnx opened #5543 "[quick-open] should have a "show all opened terminals" quick-open command"
Similar to #2214, we should have a quick-open command (with a prefix `term`, identical to VS Code) to display all currently opened terminals.

[2019-06-20 14:52] #5538 closed

[2019-06-20 14:53] magopian commented on #5534
Well, i've investigated a bit, and it seems the fontawesome icons are rendered as 12 pixels high, while the octicons are rendered as 16 pixels high.

However, I've checked the left [publish changes icon](https://octicons.github.com/icon/cloud-upload/) and it's by chance only 12 pixels high (the full sprite is 16 pixels, but there's two empty pixels at the top and the bottom, as you can see if you

[2019-06-20 14:53] vince-fugnitto opened #5544 "[keybindings] align keybindings-widget with vscode"
**Description**

The `keybindings-widget` should be more aligned with vscode:
1. remove the `command` column which displays a keybinding's `id`.
2. rename `scope` to `source`.
3. display the `id` for commands without a `label`.
4. reorder the columns (actions, command, keybinding, source)
5. prioritize the display of commands with `keybindings` above those without.

[2019-06-20 15:02] vince-fugnitto commented on #5534
@magopian thank you for looking into it.

Theia is a framework and it's up to the developer to decide / override the icons for his application, but I assume when you state that we should choose icons that are similar in size I assume you mean within Theia.

VSCode uses `octicons` in the statusbar and we'd like to support them as well.

In general, I assume we should check what vscode does to rende

[2019-06-20 15:22] #5402 closed

[2019-06-20 15:52] magopian commented on #5534
@vince-fugnitto I agree with all of the above, and I understand that supporting `octicons` is the way
the project is going.

That being said, this very issue is, I believe, aggravated by the two specific icons we're talking about (the [tools](https://octicons.github.com/icon/tools/) and [cloud-upload](https://octicons.github.com/icon/cloud-upload/) ones) that are very different in size.

I guess t

[2019-06-20 15:57] vince-fugnitto commented on #5534
Thank you for looking into it, I'm excited to see what you come up with!

[2019-06-20 18:42] vince-fugnitto opened #5547 "[file-search] remove separator border when no recent results are found"
**Description**

When performing the `quick-file-search` (<kbd>ctrlcmd</kbd>+<kbd>p</kbd>) and no recent results are present, we still display the separator incorrectly. The separator should only be displayed if there **are** recent results.

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/59873209-7e389f80-9369-11e9-8d1e-e5c42f9f83c5.png)

</div>

[2019-06-20 19:25] lmcbout commented on #5544
If I compare with old values, there are some some command missing: i.e. "Unstage all" + other commands.
Second, what about the commands which don't have a name, they used to show. Another thing, those un-label command show in vscode , so we just lost them now in Theia !!!
It looks like we only see the command having a keybinding defined for them

[2019-06-20 19:45] vorburger opened #5549 "Reload HTML Preview (manually Refresh, or even better automatically)"
I gathered that there is no "JUnit Runner" (#3003), so I just `./gradlew --continuous test`.

Then I Open With > Preview the `build/reports/tests/test/index.html`. Then I fix a broken test.

Now I have to reload that `index.html` ... currently by closing and clicking to open again.

In an ideal world, it would be neat if there was a Reload icon button in that tab.

Or in a perfect world, if it wou

[2019-06-21 01:03] vince-fugnitto commented on #1341
Closing as the issue seems to be resolved based on current testing.

[2019-06-21 01:03] #1341 closed

[2019-06-21 01:19] vince-fugnitto commented on #1200
I'm closing as I believe the issue has been addressed, `key chords` are displayed correctly in the command-palette. Please re-open if this isn't the case :)

<div align='center'>

<img width="604" alt="Screen Shot 2019-06-20 at 9 17 12 PM" src="https://user-images.githubusercontent.com/40359487/59890902-1140fc00-93a1-11e9-9a80-dd42d19c1f25.png">

</div>

[2019-06-21 01:19] #1200 closed

[2019-06-21 01:24] vince-fugnitto commented on #1555
Closed as part of #2460

[2019-06-21 01:24] #1555 closed

[2019-06-21 03:02] 502647092 opened #5552 "improve user feedback of plugin deployment"
### Description
[code]

### Reproduction Steps
Press F1
Plugin: Deploy Plugin by Id
input vscode:extension/humao.rest-client
enter

**OS and Theia version:**
**Diagnostics:**

[2019-06-21 03:03] 502647092 commented on #5552
maybe we need display plugin deploy process and result

[2019-06-21 03:15] 502647092 commented on #5489
@akosyakov
![temp](https://user-images.githubusercontent.com/10203793/59894942-23f51880-9415-11e9-9453-872fb506153e.gif)
first input any content in editor
ant input something in other area like `search` `debug  console` `find command`
then press `Ctrl + Z` to Undo
the editor content will be undo

[2019-06-21 06:25] a1994846931931 commented on #5189
Solved.

[2019-06-21 06:25] #5189 closed

[2019-06-21 13:41] vince-fugnitto commented on #1637
Fixed in #5134 :)

[2019-06-21 13:41] #1637 closed

[2019-06-21 14:21] vince-fugnitto commented on #5502
Closed in #5526

[2019-06-21 14:21] #5502 closed

[2019-06-21 15:45] JPinkney opened #5559 "textEditor.commands.showReferences command fails after assigning keybinding"
### Description

When you run the textEditor.commands.showReferences command after assigning it a keybinding it fails with:
[code]

### Reproduction Steps

Opening the keybinding shortcuts widget, assign keybinding, open a typescript file and put it over something you would expect to work with show references.

Expected: showReferences is brought up

Result: The error listed above

[2019-06-21 17:19] vince-fugnitto opened #5560 "[preview] preview editor not focused correctly"
**Description**

Currently, when the `preview` editor is used to view an image, clicking within the editor does not set the focus to the entire editor which results in odd behaviors such as the inability to open the `quick-command-palette` to perform actions. Instead, like the preview for markdown, selecting within the editor should set the focus to the editor itself.

**Steps to Reproduce**

1. o

[2019-06-21 17:27] vince-fugnitto commented on #5560
Potentially related #4368

[2019-06-21 17:32] JillieBeanSim opened #5561 "Allow input from user during a task launch like VS Code"
### Description
When creating a task in tasks.json using the ${input:variable} as a shell argument to allow user to input an item that is saved in a variable doesn't work in theia as it does in VS Code.  The task at this time has to be hard-coded in the tasks.json

**OS and Theia version:**
Windows & MacOS
Theia 0.7.1

[2019-06-21 22:12] #5547 closed

[2019-06-21 22:16] #3886 closed

[2019-06-22 18:42] svenefftinge commented on #5549
Auto refreshing the preview is based on watched files and we exclude what's in .gitignore by default.

[2019-06-22 19:03] sauny opened #5562 "Offline plugin installer"
Would be good if we had the ability to download vscode plugins and install them in an offline environment.

[2019-06-22 21:22] abalter opened #5564 "Trouble building following theia-ide.org instructions"
I can reproducibly create a clean Ubuntu install, install nodejs, npm, and yarn, and then have the simple build process [here](https://www.theia-ide.org/doc/composing_applications) fail with gyp errors.

I know there are more experienced programmers out there who obviously get things to work. But I'm also pretty sure I'm not the only person who runs into these problems and wants to give up.

The w

[2019-06-22 21:44] vince-fugnitto commented on #5564
The prerequisites listed in the link you provided look outdated, so we will definitely need to update the documentation. Can you retry with the following [prerequisites](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#prerequisites), and let us know if it helps?
There you will also see some helpful Linux troubleshooting dependencies which may help solve your issues.

Also, it migh

[2019-06-22 21:55] marechal-p commented on #5564
Maybe add `@theia/core: next` to your dependencies. Clean everything before rebuilding.

`node-gyp` depending on Python 2 shouldn't be an issue.

Please follow these instructions for your build environment setup:
https://github.com/theia-ide/theia/blob/master/doc/Developing.md#prerequisites

You can also look at the Dockerfiles used in https://github.com/theia-ide/theia-apps to get ideas on how wh

[2019-06-22 21:57] marechal-p commented on #5564
Please not that https://www.theia-ide.org/doc/composing_applications is slightly outdated (I see mention of node 8 when we now develop against 10).

Documentation is a standing issue indeed.

[2019-06-22 22:12] sauny commented on #4903
Just tried to reproduce this and it seems to work fine for me...

[2019-06-22 22:32] abalter opened #5565 "Please improve your build system! Maybe switch from yarn?"
I can reproducibly create a clean Ubuntu install, install nodejs, npm, and yarn, and then have the simple build process [here](https://www.theia-ide.org/doc/composing_applications) fail with gyp errors.

I know there are more experienced programmers out there who obviously get things to work. But I'm also pretty sure I'm not the only person who runs into these problems and wants to give up.

The w

[2019-06-22 22:39] abalter commented on #5565
NOTE: I installed node, npm, and yarn with `sudo apt install ....`

[2019-06-22 22:41] abalter commented on #5565
NOTE 2: I created a Conda environment: `conda create -n node nodejs -y` and then did `npm install -g yarn`. I was able to successfully run the build.

[2019-06-22 22:54] marechal-p commented on #5565
Please avoid duplicates: https://github.com/theia-ide/theia/issues/5564

[2019-06-22 22:54] #5565 closed

[2019-06-22 22:54] abalter commented on #5564
I really don't want to be a jerk, but having such a fragile build system seems like the kind of thing that is not optimal for drawing in a larger community. Node is great. But the node build systems are not quite there yet.

[2019-06-22 22:57] marechal-p commented on #5564
So what, re-implementing everything in C++ will make the building easier?

It is not fragile, there are requirements for the build to succeed. It is not Theia specific.

Documentation could be improved, this might be one of the reason for your troubles.

[2019-06-22 22:57] abalter commented on #5564
@marechal-p --- indeed, the "prerequisites" link does seem to be updated. Thankyou.

[2019-06-22 23:02] abalter commented on #5564
@marechal-p Noooo please not C++ <screaming>. I've run into problems with many node-based applications I try to install with npm and yarn. It's not Theia at all. I had a hell of a time getting through an introductory electron tutorial just because of node-gyp errors. I don't know the answer. And, I may be the only person out there who has problems. But if I'm not, then I'm probably not the only pe

[2019-06-22 23:07] marechal-p commented on #5564
Most `node-gyp` errors Theia related happen because of `native-keymap` that depends on OS-dependent libraries (as mentioned in the prerequisite documentation). If you are missing the libraries, then it may fail with what looks like an obscure message, but if you look through it the reason is often stated.

That's it. You would have the same issues with a `make && make install`-like project: if you

[2019-06-23 11:26] 502647092 commented on #4903
@sauny
at latest version i can't close also

[2019-06-23 19:03] sauny commented on #5227
Have been looking into this and from what I can see the problem is within packages/monaco/src/browser/monaco-snippet-suggest-provider.ts.  I can intercept when the snippets are provided but I am having difficulty working out if it is within a comment block.  The only feasible way I can see to do this is to the class name of the div what is being written... any other ideas?

[2019-06-23 23:58] vince-fugnitto commented on #5227
@sauny I took a look at the hint you provided and saw that `provideCompletionItems` is the one that provides the snippets from the bug.

https://github.com/theia-ide/theia/blob/c8dc1398fe1c9427f2d28b3c16049eeab8f6cb80/packages/monaco/src/browser/monaco-snippet-suggest-provider.ts#L30

For test purposes updating the code to return `[]` fixed the bug. I'm not entirely sure what the method is used fo

[2019-06-23 23:59] vince-fugnitto commented on #5227
@sauny I wonder if we can detect when we have a `comment` and not provide the snippet help.

[2019-06-24 01:22] #5356 closed

[2019-06-24 14:16] kittaakos opened #5569 "[electron][menu] Add guard against `undefined` menu in the main menu factory"
The `menu` is not initialized in the constructor, only when `createMenuBar` is called. Downstream projects, can disable the menu creation, hence the `menu` field could remain unset. `undefined` menu is not handled in the `onPreferenceChanged` listener. Ensure type-safety.

[2019-06-24 14:45] #5569 closed

[2019-06-24 15:09] kittaakos commented on #5513
It was by design; the search box does not accept focus. You can continue the filtering by setting the focus back to the `Explorer`.

![screencast 2019-06-24 17-04-57](https://user-images.githubusercontent.com/1405703/60030101-ad6d4a80-96a2-11e9-8b8c-632612012c6c.gif)

By the way, it is the "same" in VS Code; you cannot edit the search box.

[2019-06-24 15:38] kittaakos opened #5571 "[travis][ci] Why do we run `yarn` after a successful deploy cycle?"
It seems, we run `yarn` and the entire build after deploying the Theia extensions to npmjs.org. See build: https://travis-ci.org/theia-ide/theia/jobs/549784007

Once we build for Linux and macOS, then for the deploy stage, we run the build again and deploy them. Once it is done, we run `yarn` once more.

Am I overlooking something or it is broken? Can someone please confirm? Thanks!

[code]

[2019-06-25 01:42] tom-shan commented on #5571
According to https://docs.travis-ci.com/user/job-lifecycle/#deploying-your-code
before_deploy is run before every deploy provider, and we have two deploy provider.

That really waste a lot of time.

[2019-06-25 02:00] tom-shan commented on #5571
https://github.com/travis-ci/travis-ci/issues/2570#issuecomment-171262181 we can follow this fix.

I also noted that there is a typo at this line https://github.com/theia-ide/theia/blob/master/.travis.yml#L144
the dash in **skip-cleanup** should be underscore

[2019-06-25 03:51] JustinBobby007 opened #5573 "Thoughts about multi-user support"
Theia is designed under a single user scenario, that is back-end should run in a sandboxed environment like docker. But setting up docker or k8s seems a little bit too heavy cause someone my use Theia only as code editor or generic platform to extend functions, so is it possible to run in multi-user scenarios under some conditions, supposing:

1. Front-end sources are packaged as html,js,css,etc,

[2019-06-25 06:54] #5534 closed

[2019-06-25 07:01] #1640 closed

[2019-06-25 07:23] #5571 closed

[2019-06-25 08:01] xinsuinizhuan opened #5574 "yarn error? how should i do?"
error D:\Eclipse\eclipse_theia\src_run\theia-master\node_modules\native-keymap: Command failed.
Exit code: 1
Command: node-gyp rebuild
Arguments:
Directory: D:\Eclipse\eclipse_theia\src_run\theia-master\node_modules\native-keymap
Output:
gyp info it worked if it ends with ok
gyp info using node-gyp@3.8.0
gyp info using node@12.4.0 | win32 | x64
gyp info spawn E:\Program Files\Python27\python.EXE
g

[2019-06-25 09:53] kittaakos commented on #5574
We do not yet support Node.js 12. See: https://github.com/theia-ide/theia/issues/5117

Please use a compatible Node.js version. For instance; `v10.15.3`. See: https://github.com/theia-ide/theia/blob/master/doc/Developing.md#prerequisites

Please close the task if it works with 10. Thank you!

[2019-06-25 09:58] kittaakos commented on #5573
The users can select different workspace roots so they won't conflict.

Can you please clarify a bit on this?

[2019-06-25 11:39] #5528 closed

[2019-06-25 15:18] eliasvasylenko commented on #526
Okay so state-sharing issues mean we can't just deploy a front-end module into a separate window and expect it to work. This is not a problem with a straightforward solution, so we probably need a different approach.

So let's say all our basic front-end modules will still deployed in the "main" window in the same context. In this case all the state is still in the same place, a view just needs to

[2019-06-25 17:07] tetchel opened #5578 "(VS Code Extensions) window.withProgress isCancellable is not respected"
### Description
`ProgressOptions.isCancellable` is not respected by Theia. The "Cancel" button is always present.

https://code.visualstudio.com/api/references/vscode-api#ProgressOptions

### Reproduction Steps
- call `window.withProgress` setting the `isCancellable` `ProgressOptions` to `false`.
[code]
In VS Code, the Cancel button is not shown if `cancellable: false` is given. In Theia, the Canc

[2019-06-25 20:40] fangnx opened #5580 "[navigator] some icons & names are not aligned"
As the screenshot shows, icons and labels of `package.json` and `README.md` are not aligned properly.

![image](https://user-images.githubusercontent.com/25921074/60131456-71e88400-9767-11e9-8e71-8e836f271124.png)

[2019-06-26 01:44] vince-fugnitto commented on #5580
I wonder if we should think about dropping our `file-icon.js` support for the vscode's icons.
https://marketplace.visualstudio.com/items?itemName=vscode-icons-team.vscode-icons

https://code.visualstudio.com/blogs/2016/09/08/icon-themes

It's not only our vertical spacing that is off but also our horizontal (notice the 'README' label is pushed more to the right than other files).

<div align='cent

[2019-06-26 02:33] monaka opened #5581 "The master branch was rolled back???"
### Description

It looks the master branch is rolled back to May 10, 2019.

### Reproduction Steps

See https://github.com/theia-ide/theia

**OS and Theia version:**

**Diagnostics:**

The screenshot on 2019-06-26 11:31:13 (JST)

![Screenshot 2019-06-26 at 11 31 13](https://user-images.githubusercontent.com/101795/60146836-11f4ea80-9806-11e9-86db-1d310cac56e4.png)

[2019-06-26 02:36] JustinBobby007 commented on #5573
@kittaakos More details:

Assuming multiple users are editing the same file, naming 'test.js' for example, the last one who save the edit may override others' modifications. Saying 'tolerable' means it's acceptable for one's business

The users indeed can select different workspace roots, but we should have ways to make sure they does.
One of the ways is doing validation, like , we have a table 't

[2019-06-26 02:42] monaka commented on #5581
I close this as it is my misunderstanding.

[2019-06-26 02:42] #5581 closed

[2019-06-26 06:05] xinsuinizhuan opened #5582 "yarn run with C++,but some error? how should i do?"
root ERROR C/C++: I[13:39:47.405] <-- initialize(0)
I[13:39:47.407] --> reply:initialize(0) 1 ms

root ERROR C/C++: I[13:39:47.423] <-- initialized
I[13:39:47.423] unhandled notification initialized

root ERROR C/C++: I[13:39:47.426] <-- workspace/didChangeConfiguration

root ERROR C/C++: I[13:39:47.431] <-- textDocument/didOpen

root ERROR C/C++: I[13:39:47.431] Failed to find compilation databas

[2019-06-26 06:33] xinsuinizhuan opened #5583 "How do I configure a c/ c ++ compilation environment?"
I want use theia to run C/C++ code，but i do not know to to configure compilation environment, is there some specification?

[2019-06-26 08:32] kittaakos commented on #5583
We have a README for the `@theia/cpp` extension: https://github.com/theia-ide/theia/tree/master/packages/cpp

[2019-06-26 08:47] kittaakos opened #5586 "[debug] Misleading error message when trying to debug JS without opening the file in editor"
Config:
[code]

Theia:
Start the debugging without an actual file opened in the editor:
[code]
![Screen Shot 2019-06-26 at 10 45 46](https://user-images.githubusercontent.com/1405703/60165459-9abc5800-97ff-11e9-9786-16c35066e7bf.jpg)

VS Code:
![Screen Shot 2019-06-26 at 10 44 25](https://user-images.githubusercontent.com/1405703/60165397-811b1080-97ff-11e9-9f40-93f221ccf30d.jpg)

[2019-06-26 10:28] xinsuinizhuan commented on #5583
i read the README but still puzzle! Is there exmaple?
1、how the compile_commands.json is:
    1>Have the build system of the C/C++ project generate a compile_commands.json file.
    2>Point Clangd to the build directory containing said compile_commands.json.
2、whether is to and below to the settings.json?
   {
    "cpp.buildConfigurations": [{
        "name": "Release",
        "directory": "/path

[2019-06-26 12:15] vince-fugnitto commented on #5583
@xinsuinizhuan you can perhaps try the following example, we should definitely look into improving the documentation present in the `cpp` readme.

https://github.com/theia-ide/theia/issues/4501#issuecomment-470633593

[2019-06-26 12:22] vince-fugnitto commented on #5582
I'll close this issue in favor for #5583

[2019-06-26 12:22] #5582 closed

[2019-06-26 13:08] vince-fugnitto commented on #5574
@xinsuinizhuan any update on if it currently works?

[2019-06-26 13:53] vince-fugnitto commented on #2943
I saw some issues with not being able to perform `undo/redo` operations for the `preferences-tree-widget` as well:

**Undo (normal use case)**: a user attempts to add a preference value and undo their change:

<div align='center'>

![a](https://user-images.githubusercontent.com/40359487/60185373-cd625280-97f7-11e9-9e29-18bb7fe878d8.gif)

</div>

**Undo (odd use case)**: with manual edits, perform

[2019-06-26 13:59] fangnx commented on #5580
Seems like the icons all have different width and length. Is it because we used icons from vs code but did not resize them?

[2019-06-26 14:00] vince-fugnitto commented on #5580
I think in general it's how the icons are, they have their own height and width which may differ and we give them all consistent font-sizes, so in the end the icons are not properly normalized to each other.

[2019-06-26 16:41] #4811 closed

[2019-06-26 16:41] #5446 closed

[2019-06-26 18:56] JPinkney commented on #5113
I've just re-checked this with https://github.com/theia-ide/theia/pull/5590 ontop of https://github.com/theia-ide/theia/pull/5326 and there are a few commands that still don't work:

Command ID | Reason for not working
-- | --
workbench.action.quickOpen | Command does not exist
workbench.action.showAllSymbols | Command does not exist
workbench.action.terminal.toggleTerminal | Command does not exis

[2019-06-26 19:24] #2214 closed

[2019-06-27 00:53] xinsuinizhuan commented on #5574
thank you! It works normal! I change the nodejs version,then it works normal!

[2019-06-27 00:57] xinsuinizhuan commented on #5583
But i have the requirement to make project user python and others language. what should i do? If have the example to set the language？

[2019-06-27 01:25] vince-fugnitto commented on #5574
Great ! I'll close the issue for you then 😊

[2019-06-27 01:25] #5574 closed

[2019-06-27 01:48] vince-fugnitto commented on #5583
I'm sorry but I don't quite understand your question, do you mind elaborating?

[2019-06-27 02:32] yunliang-ding opened #5593 "When I tried to write the CSS style, I lacked the smart advance prompt. The console reported the following error"
Dependency packages are latest

When I tried to write the CSS style, I lacked the smart advance prompt. The console reported the following error

Uncaught Error: Cannot read property 'InsertAsSnippet' of undefined
TypeError: Cannot read property 'InsertAsSnippet' of undefined
    at cssMode.js:7
    at Array.map (<anonymous>)
    at cssMode.js:7
    at Object.g [as _notify] (editor.main.js:141)

[2019-06-27 03:24] xinsuinizhuan commented on #5583
I am a newer, and this is my fisrt to user cheia, i don not konw how to generate a compile_commands.json,Could you show me a compile_commands.json file?
because i do not konw the compile_commands.json function, it is to show the clangd the path, or to show the src file? if the compile_commands.json is to show the src file，my project have multi file, how i do? below is my project and compile_comman

[2019-06-27 05:44] kittaakos commented on #5593
@yunliang-ding, what exactly did you do? Did this happen in a CSS editor?

[2019-06-27 06:51] yunliang-ding commented on #5593
Yes, in the Monaco editor, the grammar is CSS

[2019-06-27 07:40] kittaakos commented on #5593
Can you share your CSS file and the steps you did? I opened a couple of CSS files, did some editing but wasn't able to reproduce this defect.

[2019-06-27 08:30] yunliang-ding commented on #5593
package.json
{
  "private": true,
  "dependencies": {
    "typescript": "latest",
    "@theia/typescript": "latest",
    "@theia/navigator": "latest",
    "@theia/terminal": "latest",
    "@theia/outline-view": "latest",
    "@theia/preferences": "latest",
    "@theia/messages": "latest",
    "@theia/git": "latest",
    "@theia/file-search": "latest",
    "@theia/markers": "latest",
    "@theia/pr

[2019-06-27 12:04] vince-fugnitto commented on #5593
@yunliang-ding I tried your example `package.json` and got the same error when editing a css file :(

[2019-06-27 12:22] kittaakos commented on #5593
Must be some version mismatch issue. As a quick workaround, you can copy the [`yarn.lock` file from the Theia repository](https://github.com/theia-ide/theia/blob/69c9d5106e609a3538a9463924cd03c1a32f2a03/yarn.lock) into your application root, next to the `package.json` and run `yarn` again. It should work. I have tried it.

[2019-06-27 12:23] marcdumais-work opened #5596 "[CI] Recent failures related to ffmpeg test"
### Description

I think these are new CI failures. Maybe related to 33be284daa0775bb5d4aacf7731d2d48c635a12a

For example:
https://travis-ci.org/theia-ide/theia/jobs/550903314#L774
https://travis-ci.org/theia-ide/theia/jobs/551241748#L290

### Reproduction Steps
Submit new or updated PR, watch Travis CI's results. The issue may not happen all the time.

**OS and Theia version:**
Seems to happen i

[2019-06-27 12:23] marcdumais-work commented on #5596
@marechal-p Can you have a look?

[2019-06-27 13:43] marechal-p commented on #5596
Rebasing and deleting the cache worked in most cases.

I wonder why the cache keeps doing that. If it continues we may delete this log display.

[2019-06-27 13:45] #5362 closed

[2019-06-27 15:20] marechal-p commented on #5573
IIUC, the backend tries to have as little state as possible, and when state is needed, it is stored in some kind of session (1 per connected client).

The biggest issues are filesystem related I think, like you mentioned if two people edit the same files there may be concurrency issues. Some talked about collaborative editing, but no extension was published yet for it.

Aside from the filesystem I

[2019-06-27 17:47] dhananjayharel opened #5598 "Cant able to build the docker container with my custom extension"
### Description

I Cant able to build the docker container with my custom extension when I use
theia@next versions in my latest.package.json

I have created some custom extensions and I a was able to use it in the theia editor having latest version.
For using @theia/php extension I had to build the theia editor with "next" packages as a dependency.
When I include my extensions which are already pr

[2019-06-27 18:03] marechal-p opened #5599 "Public / Protected APIs"
Some things are exposed in `index.ts` files under `browser` / `electron` / `node` etc... But some others aren't (`WindowService`?).

I was thinking about the "Stable APIs" item on the tentative 1.0 roadmap: maybe it would be easier to consider as "public" anything exposed under these index files, and anything that a user accesses directly would be considered internal and may break without much not

[2019-06-27 18:04] marechal-p commented on #5599
cc @svenefftinge @thegecko @benoitf if you have any opinions?

[2019-06-27 18:10] thegecko commented on #5599
That's a neat approach. May be hard to implement/manage/enforce automatically.

[2019-06-27 18:29] marechal-p commented on #5599
Maybe it's for the best: it will make us think about what to expose, since we'll have to be careful about it. Having stuff private is a good default IMO, since it avoids us committing to not change it.

[2019-06-27 18:49] vince-fugnitto commented on #5583
@marechal-p perhaps you can offer some help?

[2019-06-27 19:40] marechal-p commented on #5583
The `compile_commands.json` file simply describes all the options/flags/defines in effect when compiling a given source file, so that clangd can properly parse it.

You can generate it using different tools, see:
https://clang.llvm.org/docs/JSONCompilationDatabase.html#supported-systems

Then from Theia, you can create "build configurations", which are more like "build descriptions" since it only

[2019-06-27 20:38] fangnx opened #5602 "[problems] show total number of problems on the widget tab"
There should be a small icon showing the total number of problems present. It can be displayed on the tab of the `problems` widget.

In VS Code:
![image](https://user-images.githubusercontent.com/25921074/60298860-6d53d500-98f9-11e9-86eb-eaecc2d797b5.png)

[2019-06-27 23:50] vince-fugnitto commented on #5602
I don't think it should be solely done for the `problems-widget` it should be more generic to all widgets like https://github.com/theia-ide/theia/issues/4782 (since widgets can be docked anywhere) Also, the `problems-widget` is actually one of the few widgets which would not really benefit from this enhancement since the number or errors and warnings are already displayed in the statusbar.

[2019-06-28 00:35] #5544 closed

[2019-06-28 02:13] xinsuinizhuan opened #5604 "IDE seek help?"
I have my own IDE that achieved by C++、python and plc，now i want to make it user theia, because theia could brower and destop, but i don't know how to do？ Make it a IDE、Extension or plugin-in？then how to embedded to theia？

[2019-06-28 02:21] xinsuinizhuan opened #5605 "how to run the project that under packages? eg mini-browser"

[2019-06-28 03:18] vince-fugnitto commented on #5605
I don't quite understand, do you mean how to build an individual package like `mini-browser`?
If you are running the example Theia application under `examples-browser` then you are already running the mini-browser.

[2019-06-28 03:21] vince-fugnitto commented on #5605
Also, I'm not sure if you know or not, but we have another forum where other users ask questions and get help :) https://spectrum.chat/theia?tab=posts

[2019-06-28 03:54] JustinBobby007 commented on #5573
I'm preparing to test Theia with multiple user visiting, so it's better to keep this issue open if there are some problems in the process I would post here.

[2019-06-28 04:23] yunliang-ding opened #5606 "Classpath is incomplete. Only syntax errors will be reported"
After I install @theia/java, when I open the .java file Classpath is incomplete. Only syntax errors will be reported

[2019-06-28 06:00] xinsuinizhuan commented on #5605
sorry，i make you puzzle. I only mean how to run theia with minibrower,like below?
<img width="1552" alt="53496061-865e8d80-3aa1-11e9-80bd-8f9dbe78f27d" src="https://user-images.githubusercontent.com/40679769/60320668-01cb3f80-99ad-11e9-8cf2-576c5d70d954.png">

[2019-06-28 07:25] kittaakos commented on #5605
tldr;
Use: HTTPS instead of HTTP.

Longer:
If you create an `iframe` and try the URL you provided
[code]

you will get the following error:
[code]

![Screen Shot 2019-06-28 at 09 23 37](https://user-images.githubusercontent.com/1405703/60324968-6e7f1380-9986-11e9-915f-1e624d019068.jpg)

I am closing this. Feel free to reopen.

[2019-06-28 07:25] #5605 closed

[2019-06-28 08:42] xinsuinizhuan opened #5607 "Whether support the customize IDE?"
I want development own IDE，but my IDE support GUI. plus I will :
1、add my own some menu to theia menu.
2、dock my own Graphic control components, based on a UI library like React or much better a UI framework like Antd to panel left.
3、compile them by click buttom （in theia menu）or command.
Whether theia support?

[2019-06-28 12:22] vince-fugnitto commented on #5607
Yes, all of that and more are supported :)

Please take a look at our extension-generator which easily creates a `hello-world` example, contributing a new top-level menu, and upon selection displays a message to end-users.

https://github.com/theia-ide/generator-theia-extension

There is also documentation on how to create a custom extension to Theia to provide the features you described, all of w

[2019-06-28 12:24] vince-fugnitto commented on #5606
This is a fairly good explanation of what's occurring, I assume you did the same and opened a single `.java` file in your workspace.

https://github.com/redhat-developer/vscode-java/issues/107#issuecomment-263294221

[2019-06-28 12:37] yunliang-ding commented on #5606
Thank you very much for your answer. I'm trying to modify it

[2019-06-28 12:45] vince-fugnitto commented on #5606
No problem! Please let me know if the issue can be closed :)

[2019-06-28 12:56] vince-fugnitto commented on #5604
Do you mind sharing the details of what your current IDE achieves and what features it brings?

Keep in mind that Theia supports its own extensions that are part of the main repository and main organization, supports custom extensions, and also supports VSCode extensions.

If you'd like to start by using standard Theia, adding the languages and packages you want, then any missing features you migh

[2019-06-28 14:44] fangnx commented on #5602
I agree it should be done in a more generic way.

[2019-06-28 14:46] vince-fugnitto commented on #5602
@fangnx can we close the issue in favor of #4782 ?

[2019-06-28 14:56] #5602 closed

[2019-06-28 16:27] vince-fugnitto commented on #5598
@dhananjayharel do you have the error logs for why your build fails with your custom extensions?

[2019-06-28 17:08] vince-fugnitto commented on #5560
Related to #5521

[2019-06-28 17:16] vince-fugnitto commented on #5298
The `Output: Clear Output` command already exists in the quick-commands menu, please re-open
the issue if this is not actually the case.

[2019-06-28 17:16] #5298 closed

[2019-06-28 17:18] vince-fugnitto commented on #5530
The `when` column is now shown in the `keybindings-widget`.
If a command does not have a `scope`, then the `when` value is used if available.

[2019-06-28 17:18] #5530 closed

[2019-06-28 17:21] vince-fugnitto commented on #5275
Closing as #5112 and #5210 are currently merged.
Please re-open if the issue persists.

[2019-06-28 17:21] #5275 closed

[2019-06-28 17:24] vince-fugnitto commented on #5500
The way it works in VSCode is to have a command which updates the `editor.minimap.enabled` preference value at the `User` level. This should be quite easy to do.

https://github.com/microsoft/vscode/blob/7bc29bf67c17608b11e23a8497c8f1de5a0922cf/src/vs/workbench/contrib/codeEditor/browser/toggleMinimap.ts#L26-L29

[2019-06-28 17:30] vince-fugnitto commented on #5444
The `Open Workspace` menu item in the `File` top-level menu is mainly used for multiple-root workspaces. It is used to select a `*.theia-workspace` or `*.code-workspace` file. When multi-root is
not enabled (preference  `"workspace.supportMultiRootWorkspace"`), the two items behave similarly.

The `WorkspaceService` can definitely be used to retrieve the workspace's root(s).
From there you can mos

[2019-06-28 18:17] vince-fugnitto opened #5609 "[search-in-workspace] search does not respect dirty changes"
**Description**

The `search-in-workspace` widget does not respect dirty changes.
If an editor `A` has dirty changes and the `search-in-workspace` is used to search such changes, no results are found from `A`.

<div align='center'>

![a (2)](https://user-images.githubusercontent.com/40359487/60362614-66879980-99af-11e9-82f3-ba412960d7ad.gif)

</div>

**How to Reproduce**
1. open an editor and make

[2019-06-28 18:24] vince-fugnitto opened #5610 "[search-in-workspace] disable 'replace all' when no results are found"
**Description**

The `Replace All` functionality should be disabled if there are currently no results.
This leads to an odd behavior and experience if a user attempts to perform `Replace All` when no results are found.

<div align='center'>

<img width="337" alt="Screen Shot 2019-06-28 at 2 20 18 PM" src="https://user-images.githubusercontent.com/40359487/60362909-1c52e800-99b0-11e9-85f5-0cce2e637

[2019-06-28 18:30] vince-fugnitto commented on #5610
This check is bogus, we should add an additional check to determine if there currently are results as well.

https://github.com/theia-ide/theia/blob/6cf540f83722192163089ae4cc5a064c769a3e25/packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx#L426

[2019-06-28 20:14] sauny commented on #5227
@vince-fugnitto I thought that, the comments get registered in the grammar-contribution files but I see nowhere where they get used.  If I can work out where theia decides to set the CSS for comments, I should be able to set something to say it is in comment mode... but I can't find a way to do it....

[2019-06-30 13:57] gpoudrel opened #5613 "Question: How have persistent open tabs state when reconnecting"
### Description
Question: How have persistent open tabs state in my workspace when reconnecting ?
I open tabs, files, etc in my current session.
Is there any way to make the current workspace state persistent ?

### Reproduction Steps
If I just close the Theia IDE tab, I open it again, ok I have all my files opened etc.
If I close the browser, empty cache, use private browsing etc, and I open Thei

[2019-06-30 16:06] vince-fugnitto commented on #5613
@gpoudrel Theia uses a browser's local storage for most of its persistent storage since it offers a quick and easy way to store the most essential elements of a workspace's state. If a more persistent storage is required it is definitely possible to use other forms of storage. For instance, the list of previously opened workspaces is stored under a user's home under `.theia/recentworkspaces.json`.

[2019-06-30 21:08] #5610 closed

[2019-06-30 21:43] marcdumais-work commented on #5596
PR: https://github.com/theia-ide/theia/pull/5601

[2019-06-30 21:44] marcdumais-work commented on #5596
Currently the build always fails if the cache is used, which is a bit annoying. Once #5601 is merged, all new PRs will not have this issue. Older PRs can rebase and be ok as well.

[2019-07-01 01:53] #5606 closed

[2019-07-01 06:38] akosyakov commented on #5613
If you are single user of your IDE then you can reimplement it to use the backend. Generally it does not work, since backend does not have information about user sessions. So saving a layout of one user could be used for another user.

[2019-07-01 06:43] akosyakov commented on #5560
I think we need iframe widget, which handles typical iframe issues and particularly can forward focus/blur events to the host window from iframe window. MiniBrowser and WebView should be reimplemented by using it.

[2019-07-01 06:44] akosyakov commented on #5521
I've tried it does not work, there is not `focus` event afterwards. I'm thinking to go with https://github.com/theia-ide/theia/issues/5560#issuecomment-507136771

[2019-07-01 06:48] akosyakov commented on #5598
Could you prove a github repo to reproduce?

[2019-07-01 06:51] akosyakov commented on #5604
Hope you've already seen docs: https://www.theia-ide.org/doc/Composing_Applications.html

Theia is an IDE framework, you will need to compose your IDE using existing Theia and VS Code extensions. It's recommended to use VS Code extensions for custom functionality. If you reach a limitations though like you want to rebrand an IDE or have an access to DOM then add some Theia extensions.

[2019-07-01 06:54] akosyakov commented on #5573
If you have a dirty editor then saving a file will override any changes on fs and propagate to all editors which are not dirty. Consequently If you don't have a dirty editor then an editor content will be overridden by any changes on fs.

[2019-07-01 07:01] akosyakov commented on #5599
APIs are not something which is marked like public/protected but abstractions which are commonly used and have well-defined stable interface. The work of analysing possible changes and deciding whether something is common and stable enough is not possible to automate.

Exposing such abstractions in the code via index file or not it is another question. Right now i'm regretting of having index file

[2019-07-01 07:01] dhananjayharel commented on #5598
Actually I was able to build theia editor in docker build process.
The issue was my extensions were created with "@theia/core:latest"  version.
and I was building the theia with "next" versions in dockerbuild process.
I have created the extension with "@theia/core": "next" version and everything is working fine.

thanks!

[2019-07-01 07:09] ShimonBenYair opened #5615 "'vscode.window.createInputBox()' is missing in Theia"
currently the only option to use Input Box in Theia is by 'vscode.window.showInputBox()'.
But in my code i need also the input box events which are only available to use via the 'createInputBox' API and not in 'showInputBox' API.
We will appreciate to know if this feature is planned to be released and when.

[2019-07-01 07:16] akosyakov commented on #5599
First in JS there is not real private everything is accessible via `obj['prop']`. Second we want to protected by default to be able to customize everything.

As a framework developers we commit to provide customizability and the same time do our best to keep backward compatible when it makes sense. I understand that it makes contribution hard since changes should be reviewed thoroughly, but then w

[2019-07-01 07:29] akosyakov commented on #5586
It seems that `file` variable resolver should prompt a user. We need to test it better though before implementing with VS Code. If it is so then debug extension should be able to hook somehow into resolution process.

[2019-07-01 07:42] akosyakov commented on #526
It is interesting feature and it is feasible but it is quite involving to implement. Consider just navigation between Monaco editors, you will need to provide custom editor service in another window which forwards navigation via the host window. I would expect that the generic infrastructure is implemented by a framework and use similar communication patterns and so on, but since it is quite a ref

[2019-07-01 07:47] akosyakov commented on #5562
It is already possible with https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/src/main/node/resolvers/plugin-local-dir-resolver.ts. Is not it?

[2019-07-01 07:50] akosyakov commented on #5549
Should not we always watch individual files and apply .gitignore only to dir folders? I don't see how watching a single file can affect performance.

[2019-07-01 07:54] akosyakov commented on #5429
It was pointed out at the dev meeting that we should define what is `good` test and look at it during PR review. Using `sinon` itself is not the reason for unstable tests.

I will document definition of `good` and `bad` tests with examples here: https://github.com/theia-ide/theia/blob/master/doc/Testing.md

[2019-07-01 08:24] akosyakov commented on #5598
@dhananjayharel thanks for getting back

[2019-07-01 08:24] #5598 closed

[2019-07-01 08:26] akosyakov commented on #5552
Right now there is no any user feedback about failed deployment. We should improve it.

[2019-07-01 12:56] akosyakov commented on #4199
- [ ] `onWebviewPanel` https://github.com/microsoft/vscode/blob/893bf4ea1f8c158125746c3fe959ef4e23883282/src/vs/workbench/api/browser/mainThreadWebview.ts#L72
- [ ] `onView` https://github.com/microsoft/vscode/blob/893bf4ea1f8c158125746c3fe959ef4e23883282/src/vs/workbench/browser/parts/views/customView.ts#L499
- [ ] `onDebug`, `onDebugAdapterProtocolTracker`, `onDebugResolve`, `onDebugInitialConfi

[2019-07-01 17:44] marechal-p commented on #5596
BTW, does that mean that travis's cache is ignoring some files?

[2019-07-01 18:05] marechal-p commented on #5599
I was speaking conceptually, to not advertise all injectable components as "you should expect everything to be backward compatible", just to give us a bit of wiggle room.

Sounds good, and with us slowly going toward 1.0, should we start discussing the few things we would break/refactor?

For instance I am not too happy with the way I implemented the VS Code task/shell execution compatibility dire

[2019-07-01 21:25] abalter opened #5618 "Advice/help for plugin ideas"
I have some plugins I'd like to build, but I'm kind of a hacky programmer who mostly does scientific programming. What might be a good place to go begging for some hand-holding? I'm thinking of something along the lines of:

Q: "I want to make a plugin that does X. Can you please point me to the hooks in the API I will need to access?"

A: "Sure, I'm so glad you asked! I love questions like this.

[2019-07-02 00:52] 502647092 commented on #5552
@akosyakov
I am in China
Here download vscode plugin very slow and some time failed
I think we can add download status in statusbar and support proxy download

[2019-07-02 02:21] 502647092 commented on #5489
@akosyakov
When can this problem be fixed?

[2019-07-02 05:32] akosyakov commented on #5552
Agreed, indicating progress will be good and reporting deployment errors. We could also use `requestretry` similar to how we download debug adapters that it attempts to download 5 times on network errors.

[2019-07-02 05:41] akosyakov commented on #5596
Ideally we should not touch node_modules folder, otherwise yarn won't be able to install properly. I afraid that it will cause issues for downstream projects as well if they run ffmpeg test and do node_modules folder caching. Will they need to disable yarn integrity checks as well?

[2019-07-02 05:47] akosyakov commented on #5489
https://github.com/theia-ide/theia/issues/5489#issuecomment-504273083 is it related, undo is based on last focused editor? I would say it is expected.

The issues is about moving focus from one editor to another editor, but changes are still applied to previously focused editor. I still struggle to reproduce it with editors only without editor previews and other widgets.

[2019-07-02 05:49] akosyakov commented on #5618
I don't think you can do it via plugin, you need Theia extension for widgets and DOM integration. We have an extension to build [custom consoles](https://github.com/theia-ide/theia/tree/master/packages/console) which is used in [debug extension](https://github.com/theia-ide/theia/tree/master/packages/debug) already. You can study these two qw the starting point to create your own custom console.

[2019-07-02 06:05] akosyakov commented on #5599
I thought for 1.0 we agreed to use VS Code extensions/Theia plugin APIs, but consider everything is a subject to change? Right now is more important to finish VS Code extensions support. After 1.0 we can stabilize and document some abstractions from Theia core.

We are fine to break if changes are justified. Will such refactoring beneficial to support VS Code extensions? If not right now it will c

[2019-07-02 06:15] #5562 closed

[2019-07-02 07:20] 502647092 commented on #5489
@akosyakov
yes
but I input at search widgets then is still undo latest editor
I think it should exec undo at latest input area(like search) not only editor

[2019-07-02 08:11] kpge opened #5620 "[scm] the order of icon in scm is different in Chrom and Firefox"
### Description
 the order of command icon in scm is different in Chrom and Firefox
![git action icon diff in firefox chrome](https://user-images.githubusercontent.com/35068357/60495518-87b7f500-9ce3-11e9-850b-7730ec0ba3dc.PNG)

### Reproduction Steps
* open instance in chrome and firefox
* open scm

**OS and Theia version:**
* OS: ubuntu18
* chrome: 75.0.3770.100
* firefox: 60.7.2esr
* theia :lat

[2019-07-02 08:56] akosyakov commented on #5620
@kpge Will you have chance to investigate the cause? PRs are welcomed if they don't involve big structural changes.

[2019-07-02 09:51] westbury commented on #5298
@vince-fugnitto you are correct.  I misunderstood how the quick-commands worked when I opened this ticket.  Thanks for closing it.

[2019-07-02 11:11] vince-fugnitto commented on #5620
It doesn't look like a problem for the `scm` widget but generally to all toolbar items.
It looks like chrome and firefox differ from the `priority` and will be reverses of each other.

For example, in the `search-in-workspace` widget:

**Firefox**
![image](https://user-images.githubusercontent.com/40359487/60508374-5c5be880-9c98-11e9-8fad-1dbfb82f0964.png)

**Chrome**
![image](https://user-images.

[2019-07-02 11:20] marcdumais-work commented on #5596
Hi @akosyakov

Agreed. OTOH we want the `libffmpeg` test to be run fresh each time, or often at least. Maybe an alternative to the current setup would be to have a separate build, e.g. run nightly, that does not use cache and would run the `libffmpeg` test "fresh" each time. WDYT?

I think downstream projects should be ok, if they do not meddle with their cache like we do. However then their CI ma

[2019-07-02 12:41] kpge commented on #5620
I think the problem is here :
![image](https://user-images.githubusercontent.com/35068357/60513199-29057200-9d09-11e9-9809-a9b2a91743cb.png)
### chrome get the item before `items` is sorted, but Firefox get the item after they are sorted
* Chrome:
![image](https://user-images.githubusercontent.com/35068357/60513155-0f642a80-9d09-11e9-9e9f-c76d59381ed0.png)
* Firefox:
![image](https://user-images.g

[2019-07-02 13:04] kittaakos commented on #5620
Isn’t the comparator function the strange? Assuming I have `left` and `right` with the following items:
[code]
[code]
When I compare them, them following branch will return with `1`:
[code]
Meaning that `left` is greater than `right`, hence it should come after `right`, but the `priority` is the other way and ignored.

[2019-07-02 13:05] marechal-p commented on #5596
That is if they happen to cache `@theia/electron`, since it will not re-download the ffmpeg library on post-install then. But this shouldn't be an issue, unless a new electron version is pulled which would require a new library to be pulled as well.

Shouldn't be a problem, the ffmpeg test only reads from disk, no write/delete. The issue in our repo was that because we cache deps, the library woul

[2019-07-02 13:12] kittaakos commented on #5620
Also, I have managed to "break it" on Chrome:
![Screen Shot 2019-07-02 at 15 11 25](https://user-images.githubusercontent.com/1405703/60515386-cf3a8300-9cdb-11e9-9b28-9c66a9792529.jpg)

[2019-07-02 13:19] kittaakos commented on #5481
+1

We have not had problems producing a `dmg` for macOS with Azure so far.

[2019-07-02 13:20] akosyakov commented on #5620
Could someone look at the comparator? It seems to be relatively easy fix. The logic should be following:
- items should be compare by groups first
- navigator group is special and always have the higher priority
- undefined group is navigator group as well
- if items have the same group then priority should be used for comparison within the group

It seems that the last point is not true for items

[2019-07-02 13:21] akosyakov commented on #5596
@marcdumais-work @marechal-p ok, if it is not common case and not enabled by default, let's stick with the current solution and see whether someone comes with the real issue later.

[2019-07-02 13:30] kittaakos commented on #5620
[code]
?

[2019-07-02 13:31] kittaakos commented on #5620
I will take care of it.

[2019-07-02 13:55] kittaakos opened #5623 "[quality] Use `jsdom-global` instead of our in-house `jdom`"
### Description
It does the same, we just need to add `--require jsdom-global/register` to the `mocha.opts.` and we can get rid of our custom code and rely on a library maintained by the community. Also, the tests will be cleaner without the `disableJSDOM`/`enableJSDOM` tricks.

[2019-07-02 14:13] thegecko commented on #5481
Have you tried signing the image (if we care about that)?

[2019-07-02 14:13] kittaakos commented on #5481
No.

[2019-07-02 14:19] kittaakos commented on #5623
We cannot use it as-is:
[code]

I am closing it.

[2019-07-02 14:19] #5623 closed

[2019-07-02 15:13] #5620 closed

[2019-07-02 17:03] vince-fugnitto commented on #5182
Closing as it's been transferred to https://github.com/theia-ide/generator-theia-extension/issues/36

[2019-07-02 17:03] #5182 closed

[2019-07-02 17:19] vince-fugnitto commented on #5020
@elaihau is the issue resolved? I wasn't able to reproduce the problem.

**Steps**:
1. open folder `A`
2. add folder `B` to workspace
3. save the workspace as `tmp-123`
4. remove folder `A` and `B` (no folders present in the workspace)
5. `Add Folder to Workspace` is still present and visible in the explorer's context menu

[2019-07-02 18:34] vince-fugnitto opened #5625 "[monaco] support multiple simultaneous quick-fixes"
**Description**

We should support `quick-fix` items that performs multiple quick-fixes simultaneously.
For instance, if I have multiple identical quick-fixes for a given file, there should be logic present
to perform the quick-fix for all violations in that file.

Given a file `A`, and `A` has multiple `is declared but its value is never read.` errors, there should be a quick-fix to `Remove all u

[2019-07-02 23:51] jgbradley1 commented on #4541
Quick update: I gave up on attempting nexe/pkg as a solution. Instead, starting with [this](https://github.com/bbc/speculate/wiki/Packaging-a-Node.js-project-as-an-RPM-for-CentOS-7) guide, I found a simple solution that has allowed me to package theia as a rpm. I can successfully `yum install` theia and make it executable from the command line like any other yum installed program (i.e. python).

C

[2019-07-03 01:07] sr229 commented on #5481
At this point we can have our CI migrated to Azure Pipelines since it supports MacOS, Windows and Linux already @thegecko @kittaakos

[2019-07-03 06:56] jgbradley1 commented on #4541
[Here](https://github.com/jgbradley1/theia-deb-build) is a proof of concept that demonstrates end-to-end how to create a Theia debian package.

[2019-07-03 07:22] akosyakov commented on #5625
I think it is supported, just ts version which we use does not provide such quick fixes. We have try to catch up with latest ts: https://github.com/theia-ide/theia/issues/5260

[2019-07-03 07:23] kittaakos commented on #3563
I have updated the agenda with this topic: https://github.com/theia-ide/theia/wiki/Dev-Meetings#agenda-2019-07-09

[2019-07-03 07:47] #4862 closed

[2019-07-03 08:31] #5514 closed

[2019-07-03 08:33] akosyakov opened #5626 "[plugin] Cannot read property 'subscriptions' of undefined"
I can reproduce it with https://github.com/sstone1/che-plugin-registry/releases/download/0.0.1/ibm-blockchain-platform-1.0.3.vsix
[code]

[2019-07-03 08:34] kpge opened #5627 "[ui]need title atribute in search result node"
### Description
when I want to kown which file in the search result, I should click it and preview it in the editor or expand the result area.
* Theia:
![search result](https://user-images.githubusercontent.com/35068357/60576556-3a558980-9db0-11e9-9b64-d23cbc0d669d.gif)
But in VsCode, I can get it just hover on the result, it's more convenient.
* vscode
![image](https://user-images.githubuserconte

[2019-07-03 09:11] akosyakov opened #5629 "quick palette not available in the maximized mode"
In order to reproduce:
- maximize the editor
- try to trigger the quick command palette (F1)

[2019-07-03 09:32] kpge commented on #5099
@YifengWong
How to reproduce it ?
Can you please show your plugin?

[2019-07-03 11:47] kittaakos opened #5630 "(Re-)Opening a currently opened workspace should be NOOP"
### Description

It should be a NOOP when I open a workspace that is already opened. At least, this is how it works from the `Open Recent Workspace...` command, and it makes sense.

![screencast 2019-07-03 13-36-02](https://user-images.githubusercontent.com/1405703/60588618-b394b280-9d97-11e9-952f-759449e132ab.gif)

Instead of the expected behavior, it opens the same workspace in a new tab:
![scre

[2019-07-03 13:09] kpge commented on #5629
I can not reprofuce it :(
![image](https://user-images.githubusercontent.com/35068357/60594067-b793f500-9dd6-11e9-9196-e10af03121eb.png)

[2019-07-03 13:22] vince-fugnitto commented on #5629
@akosyakov I can't reproduce it either, I see the command palette even when an editor is maximized.

[2019-07-03 13:43] lmcbout commented on #5629
I tried with Chrome  and Firefox browser and electron on Ubuntu 16.04, I cannot reproduce it either, the quick palette is always available

[2019-07-03 14:15] akosyakov commented on #5629
I can reproduce it in Gitpod prod, but not with vanilla Theia. Although Gitpod does not have any specific in this area, strange :(

[2019-07-03 17:31] vince-fugnitto commented on #5227
I don't quite understand what you mean about the CSS suggestion.

[2019-07-03 17:35] vince-fugnitto commented on #5136
Closed by #5134

[2019-07-03 17:35] #5136 closed

[2019-07-03 18:34] #5543 closed

[2019-07-03 19:04] vince-fugnitto commented on #5564
Closing as it's a duplicate of #5184

[2019-07-03 19:04] #5564 closed

[2019-07-03 19:12] raphaelsantos commented on #5123
I am running into the same issue.

It would be nice to update this page, as it suggests to install node 8 instead of 10:
https://www.theia-ide.org/doc/Authoring_Extensions.html

I get the error above with both node versions.

[2019-07-03 19:35] vince-fugnitto commented on #5445
I can no longer see the issue as of 150c15874ca14217061caa183349ff505410b015, we can open the issue again if it returns.

[2019-07-03 19:35] #5445 closed

[2019-07-03 19:39] vince-fugnitto commented on #4837
@AndrienkoAleksandr it is by design that most trees do not have the vertical scrollbar and that their values are visible when hovering with the use of tooltips. I'll close the issue for now.

The same is true for the `explorer`, `outline`, `search-in-workspace` widgets among others.

[2019-07-03 19:39] #4837 closed

[2019-07-03 19:51] vince-fugnitto commented on #3334
I'll close the issue for now, I believe `property ${name} is not allowed` is sufficiently descriptive for end-users to understand that the property they provided is not valid or supported. Moreover, based on previous discussions in the issue, there is no way to distinguish a valid preference from a now removed extension and preferences which were never valid.

[2019-07-03 19:51] #3334 closed

[2019-07-03 19:58] vince-fugnitto commented on #2103
@lmcbout is this still an issue?
We have commands for each language server so users can `restart` language servers if required.
Do you have any way to consistently reproduce the error?

[2019-07-03 20:36] vince-fugnitto commented on #3223
I tried today and it happens for other language as well.
I added a `catch` statement for the following method and it worked but I'm still trying to see what the correct fix would be.

https://github.com/theia-ide/theia/blob/150c15874ca14217061caa183349ff505410b015/packages/languages/src/browser/language-client-contribution.ts#L185-L187

[2019-07-04 06:35] blueken commented on #5593
I think It's monaco-css@2.5.0 caused css highlight failure

Here is my solution:

Step1:  downgrade monaco-css
yarn add monaco-css@2.2.0

Step2: build theia again
 yarn theia build

Step3: start theia
yarn theia start

Then you 'll see css highlight works  :P

try it  @yunliang-ding

[2019-07-04 06:59] amiramw opened #5634 "Add debug configuration for the first time is hard coded to use .theia folder"
### Description
when you add debug configuration for the first time it also ignores the preference (.vscode and .theia folders): https://github.com/theia-ide/theia/blob/af00d42b3d71b0d0b723cb970fefafb9c8500281/packages/debug/src/browser/debug-configuration-manager.ts#L255

### Reproduction Steps
1. Clean .vscode or .theia folder from the workspace if there is any
1. Override preference configurati

[2019-07-04 07:10] justin-z commented on #5573
Are there ways to tackle this behavior gracefully? if multiple users are editing the same file, this is weird, Whether propagating to all editors in frontend or just saving to fs in backend, maybe it's about concurrent editting, need diff/merge to resolve the conflicts, seems a little bit complicated.

[2019-07-04 07:48] kittaakos opened #5635 "[notification] As a user I want to dismiss the notifications with `Esc`."
### Description

So when I open a running workspace for instance in Gitpod, the following notifications great me:
![Screen Shot 2019-07-04 at 09 39 54](https://user-images.githubusercontent.com/1405703/60648294-f27e4300-9e3f-11e9-8d79-dd98d33d541a.jpg)

The notifications hide the _Command Palette_ so I want to dismiss them ASAP but instead of clicking on `Close`, `Close`, and `Close`, I want to ta

[2019-07-04 07:50] AlexTugarev commented on #1360
related: https://github.com/theia-ide/theia/issues/5635

[2019-07-04 08:08] kittaakos opened #5636 "[file-search] As a user I want exact matches to show up in file search"
### Description

I cannot see `os.ts` in the file search when I search for `os.ts` in the workspace.

### Reproduction Steps

 - Open a workspace on the Theia source.
 - <kbd>Ctrl/Cmd</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd>
 - Type: `os.ts`.
 - I cannot see `os.ts`.

Expected:
 - I can see `os.ts` among the items.

**OS and Theia version:**

**Diagnostics:**

[2019-07-04 08:09] blueken commented on #5573
I think there are 2 ways to fix out this problem

1. each user visit a new Container By k8s
2. If you only have one theia instance, you can create 2 branches using terminal extension

Either way, userA and userB dont edit same file in concurency way, but merge theirs changes by git

[2019-07-04 10:35] #5630 closed

[2019-07-04 11:19] akosyakov commented on #4199
Docs https://code.visualstudio.com/api/references/activation-events

[2019-07-04 11:41] vince-fugnitto commented on #5636
I did some testing and noticed that if we remove the limit we get much more consistent results, I believe we somehow never get to `os.ts` because we match more worse results and get to our limit.

https://github.com/theia-ide/theia/blob/20251eae573ae89f5cf3242131add17f0ef40956/packages/file-search/src/browser/quick-file-open.ts#L204-L210

Removing the limit gives me the following results:

<div al

[2019-07-04 11:43] vince-fugnitto commented on #5636
@kittaakos is the limit something we want to keep, else we will probably need to fix the file-search-service to return much better results initially.

[2019-07-04 12:51] akosyakov opened #5639 "plugin debug configuration providers registered for any debug type are not respected"
`resolveDebugConfigurations` logic never checks for `*` debug type in the plugin system

[2019-07-04 13:20] vince-fugnitto commented on #5328
@lmcbout are you sure the issue still exists?
I am unable to reproduce the error following your procedure.

[2019-07-04 13:25] lmcbout commented on #2103
@vince-fugnitto with the current code, being able to restart the JAVA LSP, this issue is not relevant anymore.
I cannot reproduce the error either., JAVA LSP is running and when resetting the browser, JAVA LSP restart.

[2019-07-04 13:25] #2103 closed

[2019-07-04 13:29] marechal-p commented on #5573
@blueken solution 1 is the recommended one, since it gives users an isolated environment. Solution 2, where you clone the same repository on different places of the same host and open a Theia instance for each, this can work too. But you then have to play around with starting each Theia instance with the right uid/gid to restrain the user from accessing things he shouldn't (mostly other's workspac

[2019-07-04 13:31] akosyakov opened #5640 "terminal recognize file uris as links"
URIs like `file:///workspace/theia/packages/core/src/common/uri.ts` are not clickable in the terminal

Not sure whether it is a bug or a feature request. cc @svenefftinge @AlexTugarev ?

[2019-07-04 13:38] akosyakov opened #5641 "toggleSkippingFile command from node-debug2 extension is broken"
To reproduce:
- remove debug-nodejs from the example browser application and rebuild it
- install https://marketplace.visualstudio.com/items?itemName=ms-vscode.node-debug
- install https://marketplace.visualstudio.com/items?itemName=ms-vscode.node-debug2
- debug node file, e.g. with `Run Mocha Test` configuration
- try to trigger `Toggle Skipping this File` in the stack trace
- it should work

[2019-07-04 13:46] zwhitchcox opened #5642 "[electron] ffmpeg tests fails on yarn install"
### Description
Running yarn install gives an error

### Reproduction Steps
`yarn`

**OS and Theia version:**
OS: Ubuntu 18.04
cloned version from master: 20251eae573ae89f5cf3242131add17f0ef40956
**Diagnostics:**
ives this error

I already have g++ and build-essential installed, but running yarn gives this error

[code]

Running  `sudo apt-get install g++ build-essential` gives

[code]

[2019-07-04 13:50] kittaakos commented on #5642
We [do not yet support Node.js 12+](https://github.com/theia-ide/theia/issues/5117), please use 10.x. For instance, 10.16.0.

I am closing this.

[2019-07-04 13:52] zwhitchcox commented on #5642
Ok, I just downgraded to 10.16.0, and I'm still getting this error

[code]

[2019-07-04 13:53] kittaakos commented on #5642
Hashes are equal, not replacing the ffmpeg library.
Error: 2 bad / 18 found

Can you please assist with this @marechal-p? Thank you!

[2019-07-04 14:04] kittaakos commented on #5642
@zwhitchcox, since you build it from the source, you can get rid of the electron ffmpg checks:
https://github.com/theia-ide/theia/blob/20251eae573ae89f5cf3242131add17f0ef40956/dev-packages/electron/package.json#L34

If you remove this from the `package.json` it should not check the codecs. Note, this is just a dirty workaround.

[2019-07-04 14:12] zwhitchcox commented on #5642
Ok, that got it to work!

[2019-07-04 14:42] federicobozzini opened #5644 "[process] On Linux, when Theia is closed from the UI, its process is not killed"
### Description

On Linux, when Theia is run from the terminal and the application gets closed by the user from the UI, the Theia process is kept alive. `Ctrl C` is needed to kill the process.

### Reproduction Steps

Try to compile and run Theia on desktop (on Linux) by using `yarn start` and then click on the `X` icon to close the program. The process in the Terminal is not killed.

**OS and The

[2019-07-04 14:54] akosyakov commented on #5644
Electron? in browser it does not make sense to kill the server.

[2019-07-04 14:57] federicobozzini commented on #5644
Yes exactly, with the electron version.

[2019-07-04 15:05] akosyakov commented on #5644
I've marked as a bug, but someone needs to verify whether it is a case. @kittaakos ?

[2019-07-04 17:08] elaihau commented on #5328
I still see it happen from my local env.

[2019-07-04 17:14] marechal-p commented on #5642
The ffmpeg replacement downloads a "clean" library version, then caches the download, and finally compares hashes to see if it needs to replace anything.

From the last logs you sent, it says it found something cached, and that it was identical to the library already installed. Then the test detects the codecs we don't want to distribute. This is not normal, but it is what we wanted to detect.

Ca

[2019-07-04 17:23] vince-fugnitto commented on #4029
Closed by #5364

[2019-07-04 17:23] #4029 closed

[2019-07-04 17:23] elaihau commented on #5020
@vince-fugnitto this problem persists. I tested again with the lastest changes on master.

[2019-07-04 23:50] vince-fugnitto commented on #4116
Closing thanks to #4070, it is possible to run the VSCode Go extension in Theia

[2019-07-04 23:50] #4116 closed

[2019-07-04 23:59] vince-fugnitto commented on #4094
As previously mentioned we are currently happy with our tree implementation and we have many products and external extensions currently using our API. Updating our `TreeWidget` throughout the framework would require significant effort (implementation, testing, adoption, etc) which we are not in the position at the moment to prioritize. If you happen to create a pull request proposing the idea we'd

[2019-07-04 23:59] #4094 closed

[2019-07-05 00:07] vince-fugnitto commented on #2965
@lmcbout I believe this issue can be closed?

I believe the implementation would be best suited to an external extension using some of the `preview`'s functionality and would not be present in the main repository since it's quite niche?

[2019-07-05 00:26] vince-fugnitto commented on #3999
@sr229 it'd be nice to see if the following VSCode extension works properly in Theia
https://marketplace.visualstudio.com/items?itemName=Dart-Code.dart-code

[2019-07-05 00:47] vince-fugnitto commented on #5020
I see the `preferences-widget` did the trick, I am able to reproduce it.

[2019-07-05 07:23] kittaakos commented on #5644
@federicobozzini, was it a bundled electron application or you have started the electron example from the terminal?

[2019-07-05 07:31] akosyakov commented on #5573
We wist to do it, but not this year. There are more pressing matters like complete support of vscode extensions and 1.0 release.

Isolated env per a user sounds good.

[2019-07-05 07:37] akosyakov commented on #5635
@AlexTugarev are you planning look into it next days? It seems that it can be implemented without aligning with VS Code for now as well? Maybe we better to annotate  `help wanted`?

[2019-07-05 07:39] akosyakov commented on #5634
One does not need to override anything to reproduce the issue, it should also work in the following case:
- make sure that `.theia` folder does not contain any settings
- create `.vscode` folder and settings file in it
- try to add a new launch configuration
- since there is only vscode settings, launch file should be created in `.vscode` folder

We have such logic already when we use `PreferenceS

[2019-07-05 08:29] AlexTugarev commented on #5635
I can introduce a `notificationFocus` context and bind `esc` for current notifications in the next days.

[2019-07-05 09:27] federicobozzini commented on #5644
The latter, the electron example run from the terminal.

[2019-07-05 09:30] kittaakos commented on #5644
Thanks for the update. We have to check whether the same happens with a bundled application too.

[2019-07-05 09:30] akosyakov commented on #5119
Does anyone know an example of VS Code extension making use of it?

[2019-07-05 09:39] akosyakov commented on #5119
git extension makes use of it https://github.com/microsoft/vscode/blob/master/extensions/git/src/protocolHandler.ts#L10

It seems to be used in VS Code only in 2 cases:
- on startup, i.e. `code someurl`
- in `open url` action with https://github.com/microsoft/vscode/blob/7bc29bf67c17608b11e23a8497c8f1de5a0922cf/src/vs/workbench/contrib/url/common/url.contribution.ts#L32

[2019-07-05 10:21] benoitf commented on #5119
I think it's useful for electron mode, but I don't know how to handle it correctly on browser mode.

[2019-07-05 10:47] akosyakov commented on #5119
Can you elaborate? I still cannot get my head around where it is used.

My plan is to add `Developer: Open URL` command, similarly to VS Code. But i wonder whether it is used somewhere else?

[2019-07-05 11:47] sr229 commented on #3999
@vince-fugnitto we do have a VSCode-compatible API AFAIK so let's see how that bodes well

[2019-07-05 11:53] akosyakov commented on #3999
@sr229 if you find issues, please dump your findings here. We will categorise and prioritise them.

[2019-07-05 12:02] akosyakov commented on #4199
For `onView` event  we need to integrate new view containers in the plugin system first, since it should be fired on expansion on the view. If we do it now we need to reimplement it later again.

[2019-07-05 12:03] #5175 closed

[2019-07-05 12:06] kittaakos commented on #5644
No; it works.

[code]

It's not the best for sure, but it works from the bundled application.

[2019-07-05 12:20] akosyakov opened #5647 "[webview] WebviewPanelSerializer are registered but never used"
`vscode.window.registerWebviewPanelSerializer` is not really implemented

[2019-07-05 12:23] benoitf commented on #5119
@akosyakov I was thinking that URI Handler are for the system

so let say I register foo: URI handler, if I enter in my browser foo://bar then it can be handled
but in Theia used in browser mode, system handler is managed on the server side so even if I enter in my browser foo:// it won't be intercepted.
IMHO It's really working only when remotee and client are on the same machine

[2019-07-05 12:46] vince-fugnitto commented on #5627
Closed by #5628

[2019-07-05 12:46] #5627 closed

[2019-07-05 12:51] vince-fugnitto commented on #5513
Closed in #5563

[2019-07-05 12:51] #5513 closed

[2019-07-05 12:59] vince-fugnitto commented on #5361
Closing the issue due to inactivity, please re-open if the issue persists.

[2019-07-05 12:59] #5361 closed

[2019-07-05 13:29] lmcbout commented on #2965
Ok, let close it

[2019-07-05 13:29] #2965 closed

[2019-07-05 13:39] akosyakov commented on #5058
It has to be completed to support `onView` activation event properly.

[2019-07-05 13:39] akosyakov commented on #5058
@kittaakos Would you mind if i finish integration in the plugin system?

[2019-07-05 14:08] arekzaluski commented on #5644
@kittaakos I confirm that it works correctly for bundled Theia on Linux. For some reason https://github.com/theia-ide/theia-apps/tree/master/theia-electron was failing to build for me so I quickly added electron-builder to master of theia and generated AppImage installer. Closing windows in AppImage is killing all Theia processes correclty. I confirm however that this issue exists in development.

[2019-07-05 14:09] kittaakos commented on #5058
Please, thank you!

[2019-07-05 14:13] kittaakos commented on #5644
I had memory issues as well. I had to `build` and `package` with:
[code]

I experienced the exact same behavior. Thank you for verifying it, @arekzaluski.

[2019-07-05 14:49] akosyakov opened #5648 "[webview] refactor to be integrated with WidgetManager"
Right now the shell is not aware of web views making it impossible to restore them.

[2019-07-05 14:50] akosyakov commented on #5647
It depends on https://github.com/theia-ide/theia/issues/5648 It is quite involving to refactor. I will leave it and implementation of `onWebview` activation event out for now.

[2019-07-05 14:52] akosyakov commented on #3896
Please close the issue next time when it is really done. `registerSerializer` and `unregisterSerializer` were not properly implemented, see https://github.com/theia-ide/theia/issues/5647

[2019-07-05 14:53] akosyakov commented on #5019
See also https://github.com/theia-ide/theia/pull/5645#issuecomment-508767566

[2019-07-05 15:12] #5639 closed

[2019-07-05 15:12] #5641 closed

[2019-07-05 15:16] akosyakov commented on #4199
I will stop working on it. `onView` and `onWebview` require substantial refactoring in the plugin system to integrate them properly with the shell. Regarding the rest of events i have not seen them in practice used a lot and will wait for some extension to come around.

[2019-07-05 17:57] vince-fugnitto opened #5650 "[git] add the ability to render the git-diff inline"
**Feature Request**

Support for inline git-diff editors.

---

**Description**

Since it's supported in **monaco**, I think it might be nice to be able to render our `git-diff-editors` inline instead.

This can be achieved either through a preference (persistent option) or simply through a toolbar item which re-renders the view inline.

---

**Proof of Concept**

The following proof-of-concept wa

[2019-07-05 18:01] vince-fugnitto commented on #5650
Closing as it's already present in our preferences!
I learn something new everyday 😄

[2019-07-05 18:01] #5650 closed

[2019-07-05 20:37] #5500 closed

[2019-07-06 08:12] JustinBobby007 commented on #5573
@blueken
If one needs support a complete environment including coding, building, debugging, packaging etc, then isolated environment is necessary and somewhat inevitable.
But in other cases like as code editor, it's more easy for users to set up by integrating theia than monaco itself as theia has provided many apis and language server support. From this point of view I think it's a scenario that