[2019-07-06 20:50] AndrienkoAleksandr opened #5652 "Focus shortcuts for all important Theia elements."
### Description
We need to have shortcuts to move focus for all important elements of Theia like in the VSCode or IDEA intellij:
![FocusFeature](https://user-images.githubusercontent.com/6873095/60760996-802c7f00-a048-11e9-8b1c-d7063f1c61d3.png)

**OS and Theia version:**
latest

[2019-07-07 08:40] BelidePruthvi opened #5653 "Theia DAP extension for ABL languague"
We are planning to build a DAP for ABL languague and add that extension to theia.
I couldn't find any documentation to add this extension to theia.
Could you provide us some documentation or give us an idea about how to do it?

[2019-07-07 11:21] BelidePruthvi opened #5655 "Issue with debugging java code in debug mode theia"
When I am debugging  the java code in theia with a yarn theia start, the debugger in working fine.

<img width="960" alt="yarnstart" src="https://user-images.githubusercontent.com/43725338/60767551-4bb3d400-a0d7-11e9-8179-f52603bce8fd.PNG">

but the same debugging isn't working when I start theia in debug mode ( yarn theia start --inspect)

<img width="960" alt="debugmode" src="https://user-images

[2019-07-08 03:19] kpge commented on #5653
If you want to use vscode extension, you can see this wiki:
[Testing VS Code Extensions](https://github.com/theia-ide/theia/wiki/Testing-VS-Code-Extensions)
* create plugins folder under Theia repo folder
* download an extension (vsix file) from VS Code Marketplace to plugins folder
* start Theia browser example

[2019-07-08 06:55] akosyakov commented on #5653
@BelidePruthvi Would https://marketplace.visualstudio.com/items?itemName=chriscamicas.openedge-abl work? You can try it as @kpge suggested.

If it does not then you can either develop own VS Code extension to share it between VS Code and Theia or just Theia plugin: https://www.theia-ide.org/doc/Authoring_Plugins.html

[2019-07-08 07:01] BroKun opened #5656 "[ui/ux][notification]Buttons are strange when displaying multiple lines of text"
### Description
Current
![20190708145250](https://user-images.githubusercontent.com/11978904/60789216-1ff52480-a191-11e9-8f78-2096d93a5d17.jpg)
Expected
![20190708145328](https://user-images.githubusercontent.com/11978904/60789224-284d5f80-a191-11e9-8d45-130427390699.jpg)

[2019-07-08 07:04] akosyakov commented on #5634
@amiramw maybe just for your use case we can replace hardcoded variable with the first path? then it should work for you? Could you make a PR?

[2019-07-08 07:25] vellengs commented on #5642
I got similar errors:

[code]

[2019-07-08 07:27] kittaakos commented on #5642
Thanks for reporting it, @vellengs. Did you try?

[2019-07-08 07:29] vellengs commented on #5642
Still trying that ...

[2019-07-08 07:34] BroKun opened #5659 "[ui/ux][icon] Unify the icon color settings for Menu and Toolbar"
### Description
Use the color property on Menu via .p-Menu-item .p-mode-disabled
Use the opacity property on TabBar-Toolbar via .p-TabBar-toolbar .item.enabled

I think the opacity setting is more friendly for color icons, I don't know if there are any other considerations.

[2019-07-08 07:40] #5506 closed

[2019-07-08 07:47] vellengs commented on #5642
@kittaakos It works.

[2019-07-08 08:28] akosyakov opened #5660 "Get rid of TerminalWidgetImpl"
It should be just `TerminalWidget`. If we want to abstract over different terminals, we should introduce `Terminal` interfaces and hide xterm behind it for `TerminalWidget`. We don't need another implementation of `TerminalWidget` itself.

[2019-07-08 09:08] akosyakov commented on #5659
Could you add screenshots to show how it is different now? PRs are welcomed as usual. I've nominated you as a Theia committer, as soon as it is done we can add you add as a collaborator that you can triage issues, be assigned to reviews and so on.

[2019-07-08 10:08] kittaakos opened #5662 "[shell] Expose `tracker` to the API"
### Description

Currently, the `tracker` is `private` on the `ApplicationShell`. When I try to customize the `track(widget: Widget): Promise<void>` API method, I cannot access the `tracker`.
Make it `protected`.

Workaround: cast `this` to `any` and access the `tracker`.

[2019-07-08 12:15] akosyakov commented on #5662
What is a use case? It was implementation details on the shell so far. One should use `shell.addWidget` or a widget should have `getTrackedWidgets` to add additional widgets.

[2019-07-08 12:17] kittaakos commented on #5662
Disable save, but keep the dirty state. So one cannot save/close the editor by clicking on the `X` as it is not there but it still shows the dirty state with the `O`.

[2019-07-08 12:42] rubenanapu opened #5663 "How to completely remove the Terminal?"
### Description

I use Theia on Docker and I want to hide that Terminal menu. I'm only interested in the Code Editor, not on the shell.

In theory, I could only remove "@theia/terminal" from [examples/browser/package.json](https://github.com/theia-ide/theia/blob/master/examples/browser/package.json#L54
), but that doesn't work.

**OS and Theia version:**
Theia 0.8.0
OS: Linux Ubuntu 18.04.2 LTS

[2019-07-08 13:19] akosyakov commented on #5663
Can you elaborate? Maybe another extension pull terminal transitively? Please run `yarn why @theia/terminal` and remove all extensions which pull it.

[2019-07-08 13:20] kittaakos commented on #5663
`@theia/debug` pulls it:

https://github.com/theia-ide/theia/blob/7fe439a30d53846a82d6b0c916de5a69b9da2c77/packages/debug/package.json#L16

[2019-07-08 13:53] BroKun commented on #5659
Thank you so much, it's my pleasure.

[2019-07-08 13:56] rubenanapu commented on #5345
To solve this you just need to modify the environment variable called PS1 on Linux.
You can do that on the .bashrc file.

[2019-07-08 13:57] BroKun commented on #5659
For colored icons, the use of color attribute settings on menu is invalid, but elsewhere we use opacity settings, so it works.
![20190708200121](https://user-images.githubusercontent.com/11978904/60816003-5354a500-a1cb-11e9-9990-2073ecd88076.jpg)
![20190708201305](https://user-images.githubusercontent.com/11978904/60816007-564f9580-a1cb-11e9-867d-cedd27b9f8f8.jpg)
![20190708213914](https://user-im

[2019-07-08 14:04] akosyakov commented on #3860
@tolusha can you check whether it is still a case? view container was refactored recently

[2019-07-08 15:08] vince-fugnitto opened #5664 "[statusbar] support hiding individual statusbar items"
**High Level**

Support `hiding`/`showing` statusbar items.

**Description**

I think it'd be useful as a user to be able to `hide`/`show` statusbar items.
With many extensions and plugins contributing statusbar items, the statusbar can become cluttered and important (or useful information for a given user)  and having the option to display items which the user cares about can be useful. This mean

[2019-07-08 17:21] sauny commented on #4731
@akosyakov Thought I would look at this as it has been around for a while.

I can't find a way of injecting a piece of text (to replicate the vscode way of working) into the open function here:
https://github.com/theia-ide/theia/blob/7fe439a30d53846a82d6b0c916de5a69b9da2c77/packages/editor/src/browser/editor-manager.ts#L104-L108

Any ideas?

[2019-07-08 18:15] tetchel opened #5666 "[vscode] TreeItem fails to render if it has a command tied to it"
#4975 seems to have regressed since #5556, on TreeItems which have their `command` field set.

[code]

You can see that I had to not set `command` on my TreeItems to work around this bug. https://github.com/eclipse/codewind-vscode/commit/92b56836ce9b37a1db4bc5c29bb792f1e9972677

It also appears to be intermittent with some treeitems, but happens every time with others - I could not figure out what

[2019-07-08 18:22] tetchel opened #5667 "[vscode] No error message if vscode.open command is invoked with resource that doesn't exist"
In VS Code, if you do `vscode.commands.executeCommand("vscode.open"` with a file that doesn't exist, you get an error message like the following:

![image](https://user-images.githubusercontent.com/8888438/60833225-c8a08580-a18b-11e9-8be6-59463c9a223e.png)

It would be nice if theia had the same behaviour.

[2019-07-08 18:26] tetchel commented on #5615
plus one. https://github.com/theia-ide/theia/issues/5501#issuecomment-502773205

[2019-07-08 18:27] lmcbout opened #5668 "Duplication of the terminal id"
### Description
Unable to select a terminal after reloading  Theia application. (Front-end-Backend).
After a reload, it is possible that the terminal.id is duplicated, so only the first created terminal is accessible from selection.
[code]

### Reproduction Steps
On way I found to generate the same terminal.id

Create/execute a task.
Create some new terminals.
Open the menu selection (CTRL + P), t

[2019-07-08 18:59] vince-fugnitto commented on #5668
The problem comes from the following line when executing tasks:

https://github.com/theia-ide/theia/blob/7fe439a30d53846a82d6b0c916de5a69b9da2c77/packages/task/src/browser/task-service.ts#L335

If we remove the line and let the `terminal` itself determine it's unique `id` everything works correctly.

[2019-07-08 20:10] fangnx opened #5670 "[outline] add a "collapse all" toolbar item to the Outline widget"
The `Outline` widget currently lacks a toolbar item that can collapse all tree nodes. It is quite useful when the file and the outline tree are huge.

It should be implemented in a similar way to the `collapse all` toolbar item in the `Problem` widget.

[2019-07-08 20:30] lmcbout opened #5671 "File in editor goes dirty after "replace all" and is not saveable after"
### Description
File not saved after using "replace all". It seems we save automatically after a "replace all", but after selecting the "Cancel" button, then try to "replace all" again and the opened file remains dirty, Add code in the file and try to save has no effect either. Cannot reproduce all the times, but very often.

### Reproduction Steps
![SaveAfterReplaceCancel](https://user-images.git

[2019-07-08 20:33] fangnx opened #5672 "[tree] indentation issue in expandable tree nodes"
The "expand" icon in the **expandable** tree nodes seems to have too much padding. It breaks the alignment with the **childless** tree nodes at the same level.

![image](https://user-images.githubusercontent.com/25921074/60840149-d4487800-a19c-11e9-94ab-e1d3a1ec7f99.png)

Since the icons are identical, the issue is most likely caused by the amount of padding (instead of the icon size issue).

[2019-07-08 20:43] lmcbout commented on #5668
@vince-fugnitto I think the issue is the same line, but it should be id: 'task-' + taskId and not 'terminal-" +...

[2019-07-08 21:20] tetchel opened #5673 "[vscode] window.showQuickPick canPickMany is not supported"
The `canPickMany` option of [QuickPickOptions](https://code.visualstudio.com/api/references/vscode-api#QuickPickOptions) appears to have no effect in Theia.

[2019-07-08 21:59] tetchel opened #5674 "[vscode] QuickPick.selectedItems is always undefined"
Here's some sample code for a basic QuickPick created using `window.createQuickPick`

[code]

In VS Code, when the user selects an item with click / enter, the onDidAccept callback is fired and I resolve with `qp.selectedItems`. But in Theia, this doesn't work because `selectedItems` is always `undefined`. There is no error message in the logs.

I can work around this because the callback for `onD

[2019-07-08 22:38] vince-fugnitto commented on #5668
@lmcbout are you taking care of fixing it?

[2019-07-08 23:14] tolusha commented on #3860
I can't reproduce this anymore.

[2019-07-08 23:14] #3860 closed

[2019-07-09 00:24] #4211 closed

[2019-07-09 00:28] elaihau commented on #604
does https://github.com/theia-ide/theia/pull/5024 resolve this issue? @marcdumais-work @lmcbout

[2019-07-09 00:29] elaihau commented on #1102
does #5024 resolve this issue? @marcdumais-work

[2019-07-09 02:19] #5003 closed

[2019-07-09 04:54] sauny commented on #5227
I meant the Monaco editor sets the css for a comment (it goes green). But I can't work out where that happens.

[2019-07-09 07:06] #5435 closed

[2019-07-09 07:17] akosyakov commented on #4731
I don't think that it is so easy. We probably need a new open handler which has a priority greater than `EditorManager`. It should check whether the given URI is a file URI and check its size. If it is greater than the certain threshold than it should hit and show the custom widget, i.e. `FileTooLargeWidget` and `FileTooLargeOpenHandler`. It should go to the filesystem extension then, since it doe

[2019-07-09 07:32] akosyakov commented on #5674
@tetchel Could you test whether it was addressed with this PR https://github.com/theia-ide/theia/pull/5187? please comment there

[2019-07-09 07:33] akosyakov commented on #5615
@tetchel @ShimonBenYair Could you test whether it was addressed with this PR https://github.com/theia-ide/theia/pull/5187? please comment there

[2019-07-09 07:40] kpge commented on #3959
@lmcbout @vinokurig  I find the same problem. And the name of the 'Amend' button is still not changed,  it will confuses  a new user. Usually，amend is `git commit --amend `.

[2019-07-09 08:45] #5656 closed

[2019-07-09 10:17] davemecha opened #5675 "Folding of blocks of round brackets (in TypeScript)"
### Description
I have services and components with member observables like this one.

[code]

My suggestion is to add the option for code folding for multi line round brackets as well. Esp. in function calls but there might be other useful situations such as angular typescript constructors with multiple injections like this:

[code]
### Reproduction Steps

1. Open a TypeScript file in Theia,
2. I

[2019-07-09 11:27] lmcbout commented on #604
Yes it does. Thanks @elaihau

[2019-07-09 11:27] #604 closed

[2019-07-09 12:56] soerendomroes opened #5676 "Theia electron/browser target have to be rebuild for both to work"
### Description
After building a theia application I can only start the browser version and not the electron version. If I use yarn run rebuild:electron, the electron version works, but not the browser version. This errors in the theia repository and my own theia IDE.
Is it intended to always rebuild for the specific target?

### Reproduction Steps
I check out the theia repository and run yarn in

[2019-07-09 13:16] vince-fugnitto commented on #5676
@soerendomroes is it necessary to build both the example application targets simultaneously?

The command `yarn rebuild:electron` rebuilds the native modules for Electron so that it works correctly while it does not make sense to do so for the `browser` target.

[2019-07-09 13:20] soerendomroes commented on #5676
@vince-fugnitto It is not necessary, but it would be nice. If I rebuild the electron target the browser target stops working and has to be rebuild. If this is intended please close this issue ;)

[2019-07-09 13:35] vince-fugnitto commented on #5676
Thank you @soerendomroes for the issue, as far as I know it's the intended behavior.
Please note that both the `example-browser` and `example-electron` applications present within the main repository are for test purposes only, they are included as an easy way for theia developers to test pull requests. This may not be the case for theia-based applications, but generally products are built for a s

[2019-07-09 13:35] vince-fugnitto commented on #5676
I hope this helps!

[2019-07-09 13:40] soerendomroes commented on #5676
Yes, I also use a different target for the bundled electron app and so forth, but for testing how the UI looks like in electron-app or specific browsers this was helpful.
Thank you for your answer.

[2019-07-09 13:41] #5676 closed

[2019-07-09 13:44] rubenanapu commented on #5663
I'm not using `@theia/debug` @kittaakos, but thanks for the answer.

@akosyakov, with `yarn why @theia/terminal` I found which package uses it. It's used by `@theia/task` that is inherited by `@theia/cpp`:

The thing is that I don't want to drop `@theia/cpp` support.

I'll dive deeper into `@theia/terminal` to see how to disable the browser directly there.

Thanks guys.

I'll let you know in case

[2019-07-09 14:02] rubenanapu commented on #5663
Guys, if I can't easily remove the `@theia/terminal` because I need `@theia/cpp`, does anybody know how to just hide the `Terminal` menu from the web browser?

[2019-07-09 14:45] akosyakov commented on #5663
You could try to create a custom extension which rebinds terminal contribution and makes it no-op.

[2019-07-09 15:22] tetchel commented on #5615
The function is certainly there; it looks like you have done a good job summarizing the features that are still missing so I'll wait for those to be resolved :)

[2019-07-09 15:30] sauny commented on #4731
Clear... whether I can do it or not remains to be seen... I will give it a go!

[2019-07-10 01:28] elaihau commented on #1102
I will close it for now. please reopen if you feel needed.

[2019-07-10 01:28] #1102 closed

[2019-07-10 03:37] elaihau opened #5679 "users shouldn't have the flexibility of customizing all properties of a detected task"
### Description

In theia, when customizing a detected task, users could potentially change any property of the task:

![Peek 2019-07-09 23-23](https://user-images.githubusercontent.com/37082801/60938279-6afe5d00-a2a1-11e9-8c3e-2a56342f93fa.gif)

In vscode, users are only allowed to customize 3 things:
[code]
![Peek 2019-07-09 23-27](https://user-images.githubusercontent.com/37082801/60938528-4f47

[2019-07-10 03:40] elaihau commented on #5679
@RomanNikitenko @azatsarynnyy
I noticed that most part of the task customization was implemented by Redhat developers. Is there any reason that you would like users to be able to customize all properties of a task?

[2019-07-10 07:08] akosyakov commented on #4386
Please see https://github.com/theia-ide/theia/pull/5665

It aims to bring state restoration of view containers and views.

It will also provide a command to open a view otherwise there is no a way to open a view container after closing it. Not sure about adding `View` menu, it will pollute it fast. We can add view containers though instead.

[2019-07-10 07:13] akosyakov opened #5680 "[navigator] upload from a link"
A use case:
- there is a link in Theia app pointing to a VS Code extension
- i won't to copy/paste it in or drag and drop the navigator to upload

Right now i have to download it locally and then upload.

[2019-07-10 08:12] akosyakov commented on #4548
See also https://github.com/theia-ide/theia/pull/5638#issuecomment-509958843

[2019-07-10 08:44] #5672 closed

[2019-07-10 09:10] JustinBobby007 opened #5681 "How to customize icons for a new file extension"
In project explorer, I created a new file with extension '.test' and wanna display a customized file icon in left side for it, is LabelProviderContribution the right way?  best to show me an example.

[2019-07-10 09:32] kittaakos opened #5682 "[performance] Possible performance drop"
We dropped performance somewhere again: `root WARN EditorNavigationContribution.onStart is slow, took: 1118.6450000386685 ms`
This used to be ~800 ms.

Related: #3413.

[2019-07-10 09:55] ariel-bentu opened #5683 "settings.json file addition/edit doee not effect actual settings and does not trigger changeEvent"
### Description
Using settings in a vscode-extention:

* If you add a settings.json file under .theia folder, does not fire the change event - after registering event: `vscode.workspace.onDidChangeConfiguration(...)`
* Also, trying to read the settings, using `let conf = workspace.getConfiguration(...)`, is not consistent in getting the changes (usually does not show the updates).

### Reproductio

[2019-07-10 09:58] kittaakos opened #5684 "[keyboard-layout] The keyboard layout is incorrectly detected"
### Description

I can see `root INFO Detected keyboard layout from pressed keys: British (Mac)` in the browser. It happens in FF only. I have one and only keyboard layout configured on the system, `EN_US`:

![Screen Shot 2019-07-10 at 11 54 52](https://user-images.githubusercontent.com/1405703/60960144-bb110a00-a309-11e9-8489-25d6794b5703.jpg)

Steps to reproduce:
 - Open any Theia PR/branch in G

[2019-07-10 12:24] datou0412 commented on #5663
`const menu = this.menuModelRegistry.getMenu(MAIN_MENU_BAR);`
 ` menu.removeNode('7_terminal'); // remove the whole submenu,  wont work`

 ` const menu = this.menuModelRegistry.getMenu(TerminalMenus.TERMINAL_NEW);`
`menu.removeNode(TerminalCommands.NEW.id); // remove one submenu child, it works`

Is this a bug? @akosyakov

[2019-07-10 12:31] datou0412 commented on #5663
rebind `TerminalFrontendContribution`, and rebind `TaskFrontendContribution` as well

extends the `registerMenus` method to noop
`registerMenus(): void {}`

as well as `registerCommands` , if u want to disabled the command

[2019-07-10 14:02] RomanNikitenko commented on #5679
@elaihau
Hello!
Thank you for the information!

Our tasks contain fields with info about command, working directory, container where a task will be executed and so on. It's really important for us to provide the flexibility of customizing a configuration!

On the other hand I understand that at the moment the customizing of detected tasks in Theia differs from VS Code behavior and an configuration

[2019-07-10 15:58] sauny commented on #4731
I have managed to create the OpenHandler but I have no idea on how to create the Widget and get it called... is there any documentation on this at all?

[2019-07-10 17:49] vince-fugnitto opened #5685 "[search-in-workspace] add the 'search.collapseResults' preference"
**Description**

I propose adding the preference `search.collapseResults` which controls the display of the search-in-workspace results tree.

The available values are the following:
- `auto`: expand all file nodes except those with more than 10 results (children)
- `alwaysCollapse`: always collapse all file nodes
- `alwaysExpand`: always expand all file nodes

This is useful when a search yields

[2019-07-10 18:34] #4113 closed

[2019-07-10 22:13] elaihau commented on #5679
To made myself clear, I want to define what "customize" means first.
Regardless of what VS Code / Theia UI displays, in my opinion, "Customize" a task means adding an object to `tasks.json` to **overwrite / override** what an existing task has.

With my definion of "customize" in mind, only **detected** tasks can be customized.
Although VS Code & Theia display the clickable "gear icons" on the rig

[2019-07-10 22:21] elaihau commented on #5679
Roman, if possible, could you please give me an example where users need to customize properties such as `task.options.cwd` or `task._id` in a detected task? I don't know much about `Che` so I might have missed a lot of use cases we should support.

[2019-07-11 00:59] vince-fugnitto commented on #4319
Closed by #4680

[2019-07-11 00:59] #4319 closed

[2019-07-11 01:24] vince-fugnitto commented on #1710
I believe it's been addressed by https://github.com/theia-ide/theia/pull/4012
Please re-open the issue @simark if it's not the case :)

[2019-07-11 01:24] #1710 closed

[2019-07-11 01:32] vince-fugnitto commented on #1420
@simark I believe it has been added, tested on 021cfc5
The following statusbar item enables users the ability to change the language status for the current file.

https://github.com/theia-ide/theia/blob/021cfc52d15e806a510d59c47b4fe4baba9410ae/packages/editor/src/browser/editor-contribution.ts#L101-L114

[2019-07-11 01:32] #1420 closed

[2019-07-11 06:13] Lakkanna opened #5689 "@theia/git install error in Node v12.2.0"
### Description
 Getting issues while installing **@theia/git**, node verison 12.2.0

### Reproduction Steps

![Screen Shot 2019-07-11 at 11 27 09 AM](https://user-images.githubusercontent.com/32791713/61025956-c2025000-a3cf-11e9-8a27-0ec4f3c17fde.png)

**OS and Theia version:**
 MacOS - High Sierrra
Theia: 0.8.0

**Diagnostics:**

![Screen Shot 2019-07-11 at 11 41 10 AM](https://user-images.githu

[2019-07-11 06:24] kittaakos commented on #5689
Thanks for logging it, @Lakkanna!
This is a duplicate of #5117.
Please reference the required Node.js version in the [prerequisites](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#prerequisites).

[2019-07-11 06:24] #5689 closed

[2019-07-11 06:29] Lakkanna opened #5690 "Error while installing @theia/electron, node v12.2.0 npm 6.9.0 macOS"
### Description
Having problem while installing @theia/electron

![Screen Shot 2019-07-11 at 11 53 46 AM](https://user-images.githubusercontent.com/32791713/61027183-2672de80-a3d3-11e9-8320-ad98cb6480bd.png)

**OS and Theia version:**
OS: mac high sierra 10.13.6
Theia: 0.8.0
NPM: 6.9.0

**Diagnostics:**
npm ERR! enoent ENOENT: no such file or directory, chmod '/Users/user1/hotelsoft/new-theia-setu

[2019-07-11 06:35] kittaakos commented on #5681
In your extension, you have to subclass the `WorkspaceUriLabelProviderContribution`:

[code]

Then you have to bind your label provider contribution in your frontend module:
[code]

I hope this helps. If so, please close the issue. Thank you!

[2019-07-11 06:40] kittaakos commented on #5690
What do you mean by installing `@theia/electron`? What are you trying to achieve?
Strange that you get an error from `npm`, we [use `yarn`](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#prerequisites).

 - Do you build Theia from the source? If yes, try to execute `git clean -ffxqd` and run `yarn` again.
 - Do you build your own application? If yes, please share your `package.js

[2019-07-11 06:41] kittaakos commented on #5690
If it is a Node.js version issue, [please switch to Node.js 10.x](https://github.com/theia-ide/theia/issues/5689).

[2019-07-11 06:57] Lakkanna commented on #5690
I'm creating own ide.
I want to use npm instead of yarn.
Node: v10.16.0(LTS)
npm: 6.9.0

[code]

[2019-07-11 07:02] kittaakos commented on #5690
You cannot. It won't work. The main reason we switched to `yarn` is to support workspaces.

And besides the workspace support, the [linking of binaries works differently](https://github.com/theia-ide/theia/issues/775). At least we used to have that issue with Node.js 8.x with the corresponding `npm` version.

[2019-07-11 07:34] kittaakos opened #5691 "[ui][hosted-plugin] Resizing the browser window does not always update the layout"
Start your hosted plug-in, resize the browser window:

![Screen Shot 2019-07-11 at 09 32 03](https://user-images.githubusercontent.com/1405703/61031004-f02b6400-a3be-11e9-9d93-fbbc96169c69.jpg)

Resizing the browser window again fixes the layout issue.
I could not reproduce it consistently.

[2019-07-11 08:20] JustinBobby007 commented on #5681
@kittaakos It works.

[2019-07-11 08:20] #5681 closed

[2019-07-11 08:32] kittaakos opened #5692 "[hosted-plugin] Hosted plug-in cannot be started after graceful termination"
- Start a hosted instance, I have used the [`webview-sample`](https://github.com/microsoft/vscode-extension-samples/tree/master/webview-sample).
 - Try to start it again, you cannot.

![screencast 2019-07-11 10-27-54](https://user-images.githubusercontent.com/1405703/61035277-2967d200-a3c7-11e9-9c93-3ca4fe7991ce.gif)

[2019-07-11 08:39] kittaakos opened #5693 "[hosted-plugin] Make the `Plugin folder` notification user friendly"
When I start a hosted instance on Windows, I can see the following as a notification.

![Screen Shot 2019-07-11 at 10 36 02](https://user-images.githubusercontent.com/1405703/61035658-dcd0c680-a3c7-11e9-8ea4-60a8a9e25138.jpg)

`file:///c%3A/` is not a thing I would like to see as a Windows user. It is alien.

TODO:
 - Use the path instead of the URI, _OR_
 - Decode the URI.

[2019-07-11 08:49] kittaakos opened #5694 "[hosted-plugin][webview] Error: Refused to apply inline style because it violates the following Content Security Policy"
Start the [`webview-sample`](https://github.com/microsoft/vscode-extension-samples/tree/master/webview-sample) as a hosted instance. If you do not know how to use a VS Code sample as a hosted instance, read [this wiki](https://github.com/theia-ide/theia/wiki/Testing-VS-Code-Extensions) page.

[code]

I do not know if we can do anything with this but since both running on `localhost`, hopefully the

[2019-07-11 09:34] akosyakov commented on #4731
@sauny Please have a look for examlpe at `EditorWidget`. You need a `WidgetFactory` create instances and then use `WidgetManager` to call a factory with some options. Your `OpenHandler` probably should inherit `NavigatableOpenHandler` that widgets play nicely with file renaming/deletion and get expanded in the navigator.

[2019-07-11 09:35] akosyakov commented on #5663
@datou0412 A new menu generated each time when you call `getMenu`. You need to call `unregister` to remove terminal menus from the registry at all

[2019-07-11 09:36] akosyakov commented on #5684
cc @spoenemann

[2019-07-11 09:37] akosyakov commented on #5683
We need to write more unit tests for events, similarly how we did it for reading/writing preferences.

[2019-07-11 13:07] vince-fugnitto commented on #2839
@JPinkney sorry I just came across this issue, you can follow the same idea as the `git.decorations.colors` preference which enables coloring in the explorer for different git states.

https://github.com/theia-ide/theia/blob/021cfc52d15e806a510d59c47b4fe4baba9410ae/packages/git/src/browser/git-decorator.ts#L116-L140

[2019-07-11 13:11] JPinkney commented on #2839
We don't need it anymore, it was needed back when we were working on https://github.com/eclipse/che-theia-java-plugin but it is cool to know this capability exists!

[2019-07-11 13:13] vince-fugnitto commented on #2839
Okay great!
I'll close the issue then :)

[2019-07-11 13:13] #2839 closed

[2019-07-11 13:13] kittaakos commented on #5690
I am closing this. Please reopen if required.

[2019-07-11 13:13] #5690 closed

[2019-07-11 14:31] marcdumais-work commented on #5642
closing this issue for now - reopen if needed

[2019-07-11 14:31] #5642 closed

[2019-07-11 14:47] akosyakov commented on #4045
closed by https://github.com/theia-ide/theia/pull/5126

[2019-07-11 14:47] #4045 closed

[2019-07-11 17:59] #1935 closed

[2019-07-11 19:01] vince-fugnitto opened #5697 "[cpp] support the 'WarningsAsErrors' clang-tidy flag as a preference"
**Description**

Add support for the `clang-tidy` **WarningsAsErrors** flag as a preference.
This will allow users to specify which type of checks they wish to promote to errors when `clang-tidy` is run through the IDE.

[2019-07-11 19:23] lmcbout opened #5698 "Searching file displays "No results found" while waiting the feed back from the search"
### Description
When performing a search file, between the time the user types something in the search text box and the answer to arrive, there is  a message being display: " No results found"
Why do we display this message?, why not just put "Searching", "Wait" or anything else but "No results found"

### Reproduction Steps

![SearchNoFoundMessage](https://user-images.githubusercontent.com/419051

[2019-07-11 23:29] vince-fugnitto commented on #5698
It looks like we render the `search-info` while waiting for the search to actually complete and at the time it displays the default for `0 results` which is `No Results Found.` until it re-updates when the search completes. I'm not sure it's a huge issue as we display `No Results Found` when there are no nodes in the tree and a search term is present.

[2019-07-12 00:39] vince-fugnitto commented on #5697
Investigating feature in `clangd` and if it is currently supported https://github.com/clangd/clangd/issues/87

[2019-07-12 01:11] #5444 closed

[2019-07-12 08:14] kittaakos commented on #5698
+1

But it's still a bug, isn't it?

[2019-07-12 12:15] vince-fugnitto commented on #5697
There are no plans from `clangd` to support any more `clang-tidy` flags as command line arguments when starting `clangd` so there is not much we can do to add a preference for `WarningsAsErrors` at this point.

I'll close the issue.

[2019-07-12 12:15] #5697 closed

[2019-07-12 14:40] #5634 closed

[2019-07-12 15:24] RomanNikitenko commented on #5679
@elaihau
thank you very much for the detailed response!

I think users don't have needs to customize `task._id` field and this is extra field for a configuration in `tasks.json` file.
About `task.options.cwd ` - it's possible to change a working directory for a `che` task, but we consider the possibility to move `che` tasks to `tasks.json` file, so I hope `detected` tasks can be aligned with VS Co

[2019-07-12 16:04] vince-fugnitto commented on #1360
@AlexTugarev do you still plan on working on the PR?

As a POC, I attempted to first move the notifications to the bottom-right, and then update the styling:

<div align='center'>

<img width="1340" alt="Screen Shot 2019-07-12 at 11 51 11 AM" src="https://user-images.githubusercontent.com/40359487/61142037-d1030400-a49c-11e9-8d27-43acaab1e429.png">

![Jul-12-2019 11-55-49](https://user-images.gith

[2019-07-12 16:20] #5685 closed

[2019-07-12 16:20] #5698 closed

[2019-07-12 16:43] AlexTugarev commented on #1360
Thanks @vince-fugnitto! I started working on this recently and going to push the WIP shortly. Happy to add you as reviewer.

[2019-07-12 16:48] vince-fugnitto commented on #1360
@AlexTugarev I'm excited to see what you come up with :)

[2019-07-12 17:01] vince-fugnitto commented on #5671
@lmcbout I have a few questions about this issue:
1. at the time of the issue, did you have `auto-save` on?
2. were you testing on `master`?

[2019-07-12 18:37] vince-fugnitto opened #5703 "[proposal] update our issue-templates"
**Description**

Based on the repo's [`community`](https://help.github.com/en/articles/about-issue-and-pull-request-templates) our `issue template` looks to be outdated (based on an older version).

Having an updated `issue template` and a good standing `community` page helps contributors to see if your project meets the recommended community standards to help people use and contribute to the proj

[2019-07-12 19:37] fangnx opened #5704 "[keybinding] broken "save as" command due to conflicting keybindings"
There is a keybinding conflict between `save as` and `toggle outline view` commands. On MacOS, the keybinding would trigger the latter.

I propose that we choose a different keybinding for `toggle outline view`, since VS code has the same keybinding exclusively for `save as`.

![image](https://user-images.githubusercontent.com/25921074/61153732-1eda3500-a4ba-11e9-9fba-1997fd48bc35.png)

[2019-07-12 20:01] vince-fugnitto commented on #4523
Closed by #5270

[2019-07-12 20:01] #4523 closed

[2019-07-13 02:07] vince-fugnitto commented on #2171
The `cut`, `copy` and `paste` options are present in the context menu of the editor as of #2633

<br />

We only register the keybinding for `copy` and `paste` if the target supports it.
For the browser, the `paste` action is not supported so we do not see the accelerator for it, however since the electron target does support it the accelerator is present.

<div align='center'>

<img width="261" a

[2019-07-13 02:37] vince-fugnitto commented on #2704
Sorry for the lack of response, unfortunately it happens occasionally when working in a large project.

We have been working tirelessly at improving our compatibility with vscode so it is highly likely that the vscode extension for `toml` is already supported. If you however encounter with running the vscode extension in Theia, feel free to open issues describing the bugs :)

[2019-07-13 02:37] #2704 closed

[2019-07-13 02:45] vince-fugnitto commented on #3026
The [prerequisites](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#prerequisites) for running the application on different operating systems has been
updated thanks to @marechal-p. Please re-open the issue if it is still incomplete :)

[2019-07-13 02:45] #3026 closed

[2019-07-13 03:12] 502647092 opened #5706 "Copy and Paste is Break by #5466"
### Description
@kittaakos @akosyakov
Copy Download Link Break `Ctrl + C` on edit by #5466
![temp](https://user-images.githubusercontent.com/10203793/61166375-e80a2a80-a55e-11e9-87aa-c8ea06d51b50.gif)

### Reproduction Steps
look gif

**OS and Theia version:**
latest next version

**Diagnostics:**

[2019-07-13 03:19] 502647092 opened #5707 "Direct Download Url Support"
### Description
@kittaakos  @akosyakov
before #5466 i have a script to auto sync theia workspace and server use direct download url
but after #5466 i can't do it
maybe can provide a permanent link for some file or dir

### Reproduction Steps
**OS and Theia version:**
**Diagnostics:**

[2019-07-13 13:28] akosyakov commented on #5706
@kittaakos Can you have a look at it or revert #5466?

[2019-07-13 13:30] akosyakov commented on #2171
There is a PR introducing core clipboard API with checking and granting privileges: https://github.com/theia-ide/theia/pull/5527 We should look into improving and landing it. In the scope of it we can look whether existing clipboard actions can be rewritten in the better way.

[2019-07-13 13:31] akosyakov commented on #5707
cc @kittaakos

[2019-07-13 18:23] elaihau commented on #5679
@RomanNikitenko
I tested this scenario in VS Code. If in tasks.json you have a config, and no detected task can be found for it, that config won't be displayed in the list of quick-open-task, and therefore, users won't get the chance to run it.

maybe what I can do is,
- making what "configure task" does in VS Code the **default** behavior of Theia, meanwhile,
- allowing the Theia user to override

[2019-07-13 23:29] vince-fugnitto commented on #2344
I believe this issue can be closed, output is displayed in electron when testing 60dcb33.
Please re-open the issue if it's not the case.

[2019-07-13 23:29] #2344 closed

[2019-07-13 23:40] vince-fugnitto commented on #2380
@akosyakov I tested the issue and was able to reproduce but I believe it's the expected behavior to also show the parent's changes correct? (I noticed VSCode behaves this way as well)
<div align='center'>

<img width="878" alt="Screen Shot 2019-07-13 at 7 36 01 PM" src="https://user-images.githubusercontent.com/40359487/61177529-dbf58b80-a5a5-11e9-9b14-cce02d832054.png">
<img width="878" alt="Scre

[2019-07-14 00:38] vince-fugnitto commented on #2790
I think the issue should be broken down by each feature since a lot of them are addressed already:
- [ ] filter/search toolbar item https://github.com/theia-ide/theia/issues/5135
- [x] expand / collapse all
- [x] copy & copy message
- [ ] ~Select All~ (not sure it really applies to the problems view)
- [ ] ~Show in Navigator~ (doesn't apply, selecting a problem marker will already open the editor

[2019-07-14 00:38] #2790 closed

[2019-07-14 04:00] MarkZ3 commented on #2380
I would expect it to show changes of the repo that contains my workspace root and not the parent git repo. Meaning that it should show the repo closest in terms of parent folder.
Another option would be to always show the furthest parent repo but then why would I not create a workspace root in that parent folder instead?
I think it's actually doing option #1 but it only kicks in after restart and

[2019-07-15 07:32] kittaakos commented on #5706
We can either [revert](https://github.com/theia-ide/theia/pull/5708) it or have it [fixed](https://github.com/theia-ide/theia/pull/5709,) but then we cannot revert the [download link issue](https://github.com/theia-ide/theia/issues/5707).

[2019-07-15 07:36] akosyakov commented on #5707
There is 1m timeout before a link is gone. If you script connect within 1m after triggering download, it should not it be enough?  Or you missing some additional APIs, i.e. to detect programmatically when download is prepared?

[2019-07-15 07:38] 502647092 commented on #5707
@akosyakov before pr i can use workspace path direct download like `/home/project/xxxx`
but now i should use ui ti copy download link like `xxxx/file/download?id=xxxxxx`

[2019-07-15 07:51] akosyakov commented on #5707
We could provide a http-endpoint to get a link, so that you don't need a UI. Would it work?

[2019-07-15 08:10] akosyakov commented on #4386
@olexii4 @evidolob Could you have a look at https://github.com/theia-ide/theia/pull/5665? It:
- allows to toggle view containers contributed by the plugin system, so a user can reopens them
- should preserve plugin tree view layout state between user sessions

The PR is not final, there will be more changes to remove unnecessary changes, but feedback from the user perspective is welcomed.

[2019-07-15 08:42] tsmaeder opened #5710 "Plugin restart missing from updateWorkspaceFolders"
The documentation on [updateWorkspaceFolders](https://code.visualstudio.com/api/references/vscode-api#workspace.workspaceFolders) says:

However, the code in packages/plugin-ext/src/main/browser/workspace-main.ts#$updateWorkspaceFolders() does not do that.

[2019-07-15 08:45] #5706 closed

[2019-07-15 08:50] 502647092 commented on #5707
@akosyakov ok

[2019-07-15 12:22] kpge opened #5711 "two ':' in the code of 'mask'"
### Description
I find two ':' in the [code](https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/src/main/browser/view/view-registry.ts) , is this a mistake?
![image](https://user-images.githubusercontent.com/35068357/61215619-fa8e8a80-a73d-11e9-819f-b4e867a90d6c.png)

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-07-15 12:57] kittaakos commented on #5707
You do not need UI. you have to do two separate requests instead. First, you get the download ID with an HTTP GET. This can be a [PUT if you want to download multiple files](https://github.com/theia-ide/theia/blob/6dd2579d01d61f093d258ad69978df0fc27aa184/packages/filesystem/src/browser/download/file-download-service.ts#L137-L139), then you perform another GET with the download ID.

[code]
Note, he

[2019-07-15 13:01] 502647092 commented on #5707
@kittaakos Thank you
That's enough

[2019-07-15 13:01] #5707 closed

[2019-07-15 13:01] kittaakos commented on #5711
@kpge, you can acquire a permanent link on GH: https://help.github.com/en/articles/creating-a-permanent-link-to-a-code-snippet
No need to printscreen and attach the source code anymore ;)

[2019-07-15 13:02] kittaakos commented on #5707
I did not check for archives, feel free to reopen if you could not fully restore your scripts. Thanks!

[2019-07-15 13:20] vince-fugnitto commented on #5711
@kpge it looks to be a mistake, would you like to take care of it?

https://github.com/theia-ide/theia/blob/6dd2579d01d61f093d258ad69978df0fc27aa184/packages/plugin-ext/src/main/browser/view/view-registry.ts#L57-L59

Based on other examples of `mask:`
https://github.com/theia-ide/theia/blob/6dd2579d01d61f093d258ad69978df0fc27aa184/packages/debug/src/browser/style/index.css#L159-L162

[2019-07-15 13:26] akosyakov commented on #5711
good catch, PRs are welcomed!

[2019-07-15 15:15] ankkumar-progress commented on #5653
@akosyakov  @kpge
I and @BelidePruthvi  work on the same team.
We can't use the  https://marketplace.visualstudio.com/items?itemName=chriscamicas.openedge-abl and have to stick to the second option (VS Code extension to share it between VS Code and Theia).

Question:

 To create a theia extension for ABL DAP, we need to have a vscode extension for ABL DAP ?
 I was looking into java-debug and node-

[2019-07-15 15:27] akosyakov commented on #5653
I was looking into java-debug and node-debug (thiea extension ), they are doing it in the above way.

You can also use Theia APIs to add debugger support, see how it is done in nodejs and java debug Theia extensions. But general recommendation is to use VS Code extensions. For instance nodejs and java debug extensions are going to be deprecated, as soon as we completely move to use VS Code extensi

[2019-07-15 15:32] RomanNikitenko commented on #5679
@elaihau

I tried to do something similar to described case [here](https://code.visualstudio.com/docs/editor/tasks#_custom-tasks).
So, I:
- opened theia project using VS Code
- copied [file](https://github.com/theia-ide/theia/blob/master/packages/task/test-resources/task-long-running) to the root of the project
- added the configuration to `tasks.json` file
[code]
- can see it as configured from `

[2019-07-15 17:14] lmcbout commented on #5671
@vince-fugnitto
Auto-save = off
Configuration: On master, I did not succeed to reproduce this issue yet
On branch: fangnx-fnx-fix-5454, was able to reproduce and at some point, I couldn't even close any file editor, couldn't save any editor either.

[2019-07-15 17:30] vince-fugnitto commented on #5671
@lmcbout  `replace-all` does not save automatically when `auto-save` is off in `master`.

I propose we close the issue. We should only open issues from `master`. It makes more sense that if the bug was found in the PR and is not reproducible on `master` that it should be part of the review and not as a new issue.

Can we close the issue?

[2019-07-15 18:40] #5532 closed

[2019-07-15 19:01] vince-fugnitto opened #5712 "[git | scm] deleting file gives workspace root 'Deleted' decoration"
**Description**

If a file under source-control is deleted, the workspace root gets a `Deleted` decoration.

**Steps to Reproduce**
1. Create a workspace folder (ex: `git-test`)
2. Create two files in the workspace (`a.ts` and `b.ts`)
3. Perform the command `git init` in the terminal for the workspace
4. Delete a file (ex: `a.ts`)
5. The `Deleted` decoration is added to the workspace root.

<div a

[2019-07-15 20:16] lmcbout opened #5713 "Failed to decode text for a CPP file"
### Description
When using the "File search" and some results are in a ".cpp" or in ".h" files,
select the search result to open a diff editor showing the file before replacing
( on the left side) while showing the modified file ( on the right side ).

When hovering on the left side, Git Lens sent info in the tooltip
When hovering on the right side, it generates the following error on the server c

[2019-07-15 20:26] lmcbout commented on #5671
@vince-fugnitto If we close this issue, then the following pr #5600
cannot be merged since the observation comes from that pr which is just about ready

[2019-07-15 20:33] vince-fugnitto commented on #5671
If the PR introduces the bug then it should not be merged.
I think this issue should be closed and the PR review should have this observation instead.

[2019-07-15 23:14] vince-fugnitto commented on #5713
@lmcbout it's not actually an error reported on the console, it's just the communication with `clangd` which informs us that it failed to **decode**.

[2019-07-15 23:14] vince-fugnitto commented on #5713
@lmcbout I updated the description of the issue so it's a little easier to follow.

[2019-07-15 23:23] vince-fugnitto opened #5714 "[git] inconsistent decorator size"
**Description**

There is inconsistent sizing between decorators present in the root workspace node and other nodes in the `explorer`.

<div align='center'>

<img width="514" alt="Screen Shot 2019-07-15 at 7 18 18 PM" src="https://user-images.githubusercontent.com/40359487/61255263-cdd67500-a735-11e9-988f-03b593e05712.png">

</div>

<br />

In the screenshot, you can notice that the `D` from the r

[2019-07-16 00:15] elaihau commented on #5679
@RomanNikitenko
Sorry for the confusion. Let me change a few words and put it this way:

I tested this scenario in VS Code. If in tasks.json you have a **customization config**, and no **detected task** can be found for it, that **customization config** won't be displayed in the list of quick-open-task, and therefore, users won't get the chance to run the **detected task** associated with.

[2019-07-16 00:31] vince-fugnitto opened #5716 "[ui/ux] inconsistency between 'no-markers' and 'no-outline' messages"
**Description**

There is an inconsistency between the `no-markers` and `no-outline` messages which are used to display when there are no information present in the view.

The `padding` values are inconsistent:

https://github.com/theia-ide/theia/blob/e830fbc2a32d62e3077e0179bfa2db5bb1f0b0c1/packages/markers/src/browser/style/index.css#L22-L24

https://github.com/theia-ide/theia/blob/e830fbc2a32d6

[2019-07-16 01:52] elaihau commented on #4919
shouldn't be hard. I will take care of it together with other changes.

[2019-07-16 04:29] elaihau opened #5719 ""configure task" should not add duplications to task.json"
### Description

Configuring the same task multiple time adds duplications to the tasks.json file

![Peek 2019-07-16 00-23](https://user-images.githubusercontent.com/37082801/61265882-5bc75580-a760-11e9-91f2-04367d3b4230.gif)

In VS code, if a detected task has been customized, the user won't be able to add a second customized config to tasks.json.

### Reproduction Steps

1. take `npm install` fo

[2019-07-16 06:36] akosyakov commented on #5716
We should use relative padding with `--theia-ui-padding` variable.

[2019-07-16 06:37] #5711 closed

[2019-07-16 07:00] akosyakov opened #5720 "inspecting registered commands/menus of running app"
It would be nice to be able to see info about commands behind menu items in the running app instead of searching the code base each time.

Maybe It can be integrated in dev tools somehow.

[2019-07-16 07:03] akosyakov commented on #4386
In #5665 there is also `Open View` command now to activate any contributed view. And `view` quick palette prefix.

[2019-07-16 07:03] kittaakos commented on #5712
Yes.
https://github.com/theia-ide/theia/blob/da653c2692ad65c865ca5ba96b865b270cc916ff/packages/git/src/browser/git-decorator.ts#L91

Do you have a better approach to show the deletions?

[2019-07-16 07:05] wonjooncho opened #5721 "How to communicate with the backend in Authoring Theia Extensions."
### Description
I am creating an extension with reference to [Authoring Theia Extensions](https://www.theia-ide.org/doc/Authoring_Extensions.html), [Json-Rpc](https://www.theia-ide.org/doc/Json_Rpc.html) and [Complete example in Json-Rpc Docs](https://github.com/theia-ide/theia/commit/99d191f19bd2a3e93098470ca1bb7b320ab344a1).
I added a menu and when I select that menu I want to call the backend u

[2019-07-16 07:10] kittaakos commented on #5721
Can you share your code?

[2019-07-16 07:24] RomanNikitenko commented on #5679
@elaihau
thank you for clarification!

So, if I understand correctly, alignment with VS Code behavior will have no influence on configured tasks.
We can add our configurations to a `task.json` file and the configurations will be delivered as it is from `tasks.json` file to our runner.
Right?

[2019-07-16 07:48] wonjooncho commented on #5721
@kittaakos Share the source code [here](https://github.com/wonjooncho/theia-backend).

[2019-07-16 08:10] kittaakos commented on #5721
Why the `WorkspaceServer`? What do you want to do? I thought you want to create a service that is implemented on the backend and be able to call this service from the frontend? Is this what you want to achieve?

[2019-07-16 08:47] wonjooncho commented on #5721
@kittaakos I use WorkspaceServer because I refer to other source codes like that @theia/core, and there is no other reason.
I just want to test server side code.

What I want to do is get the server side environment variables and pass them to the client(frontend).
And I want to do REST-API processing on the server site and pass the result to the client(frontend).

[2019-07-16 09:19] kpge opened #5722 "[webview] icon of webview should be change when it appears on the left or right"
### Description
I think the size of webview icon has two problems:
* the size of webview icon is setted to `11px` in the code, which is smaller than other icon's size(`15px`)
https://github.com/theia-ide/theia/blob/da653c2692ad65c865ca5ba96b865b270cc916ff/packages/plugin-ext/src/main/browser/webview/theme-rules-service.ts#L123-L131
* when move the webview widget to left panel or right panel, the s

[2019-07-16 09:23] kittaakos commented on #5721
OK. So if I got this correctly, it is not a must to use the `WorkspaceService`.

👍
I have created a PR with the changes of a simple RPC service example: https://github.com/wonjooncho/theia-backend/pull/1

![screencast 2019-07-16 11-07-17](https://user-images.githubusercontent.com/1405703/61282679-10db2b80-a7bc-11e9-9382-5b7fb557da9d.gif)

You will need a cutom `BackendApplicationContribution` for

[2019-07-16 09:23] #5721 closed

[2019-07-16 09:56] akosyakov commented on #5722
@kpge these icons are generated dynamically from plugin metadata, they cannot be defined in css. Generally you should be able to use css variables in dynamic rules as well.

[2019-07-16 11:07] wonjooncho commented on #5721
@kittaakos Thanks for your help.
It works.

[2019-07-16 11:34] kpge commented on #5722
@akosyakov I know icon path is defined in the metadata, so background-image can be generated dynamically, but the default variables can be defined in the css file. I will send a PR, and move the default definition to css file. If they can't be move, I will change it.

[2019-07-16 11:34] RomanNikitenko commented on #5719
It's strange...
I checked this case when I added 'Configure' action.
It looks like a regression...

[2019-07-16 12:14] RomanNikitenko commented on #5719
I'm tried to understand what could bring the regression and found that maybe [this PR](https://github.com/theia-ide/theia/pull/5024) changed the behavior.
WDYT?

So to check it, I did `git reset --hard 7fe439a30d53846a82d6b0c916de5a69b9da2c77` (commit **before** the changes from PR)
 It works well - after configuring the task is displayed as `configured` and it's impossible to add the same task tw

[2019-07-16 12:25] vince-fugnitto commented on #5712
Thank you @kittaakos, I was trying to understand the feature and how we can nicely display the decorations while attempting to keep the most information as possible. Based on the comment you provided, we only display the highest status (ex: `Deleted`) despite other statuses being present (ex: `Modified`).

Thank you for clarifying for me!

[2019-07-16 13:58] marcdumais-work commented on #3563
We have committed a probot config file on the theia-apps repo. Only need to install / enable the integration for this repo:

https://github.com/theia-ide/theia-apps/pull/201

Added an item on todays dev meeting agenda to discuss: https://github.com/theia-ide/theia/wiki/Dev-Meetings#agenda-2019-07-16

[2019-07-16 14:48] vince-fugnitto opened #5726 "[quick-open] fix font-awesome icon alignment"
**Description**

The `font-awesome` icons present in the quick-open menus are not aligned properly (not centered).

**Steps to Reproduce**

1. run the command `View: Show All Opened Terminals`.
2. notice the alignment of the **+** icon is off.

**Suggested Fix**

The following file and css should be updated:
https://github.com/theia-ide/theia/blob/da653c2692ad65c865ca5ba96b865b270cc916ff/packages/

[2019-07-16 16:47] fangnx commented on #5726
Not sure if they are related, but I notice the file icons in `quick-open` are also not vertically aligned.

![image](https://user-images.githubusercontent.com/25921074/61313033-9912fe00-a7c7-11e9-9f63-ace7b86693a2.png)

[2019-07-16 16:50] vince-fugnitto commented on #5726
@fangnx there is a PR fixing the `file-icons` already.
You can review it as well. https://github.com/theia-ide/theia/pull/5725

[2019-07-16 17:30] fangnx opened #5732 "[quick-open] grey line when scrolling down quick-open menu in dark theme"
In the **dark theme**, when scrolling down the quick-open menu, I notice there is a thick grey line appearing at the top position, which looks strange.

It is probably the same grey shadow line used in the **light theme**. But it should not be part of the quick-open menu UI in the dark theme.

![theia-quickopen-line](https://user-images.githubusercontent.com/25921074/61315124-150f4500-a7cc-11e9-86

[2019-07-16 18:06] vince-fugnitto commented on #5732
You will need to overwrite the following monaco css property
[code]

---

<div align='center'>

<img width="948" alt="Screen Shot 2019-07-16 at 2 06 08 PM" src="https://user-images.githubusercontent.com/40359487/61318379-efd20500-a7d2-11e9-852a-f29b809328e0.png">

</div>

[2019-07-16 18:10] vince-fugnitto commented on #5732
VSCode does have a divider but it is much more subtle, maybe we can align the look with them.
In my example, I removed the styling so no shadow was present anymore.

[2019-07-16 19:36] phaumer commented on #3857
This is essential for our audiences that edit very large program files and want to see different parts of a file next to each other. So more than two splits is also desired.

I assume that the editor manager would need to be extended to index different instances of the same file with some extended URI scheme (e.g. by adding a number).

[2019-07-16 19:57] #5303 closed

[2019-07-16 20:46] Vineg opened #5734 "${workspaceFolder} variable starts with slash on windows"
### Description
${workspaceFolder} starts with slash on windows system e.g. /c:/Users/Vineg/theia-workspace

### Reproduction Steps
Run browser example on windows OS, open any local workspace

windows 7, theia 0.8.0

**Diagnostics:**
![image](https://user-images.githubusercontent.com/1757455/61328010-d5277c80-a822-11e9-9455-2ed3080b7b57.png)

I debugged this issue a little and can see that workspa

[2019-07-16 21:01] akosyakov commented on #4199
`onView` is covered in https://github.com/theia-ide/theia/pull/5665

[2019-07-16 21:03] akosyakov commented on #5734
See https://github.com/theia-ide/theia/wiki/Coding-Guidelines#frontend-fs-path in order to fix.

[2019-07-16 21:48] vince-fugnitto opened #5735 "[quick-open] update monaco quick-open styling"
**Description**

The `background-color` of the monaco quick-open widget should be updated and aligned with that of vscode and other widgets. In order to accomplish this, the default styling should be added to the monaco [`index.css`](https://github.com/theia-ide/theia/blob/master/packages/monaco/src/browser/style/index.css) file.

**Why**

- to align with other widgets (side-panel widgets have the

[2019-07-17 00:44] elaihau commented on #5679
@RomanNikitenko exactly !

[2019-07-17 00:49] elaihau commented on #5719
Thank you for the diagnosis @RomanNikitenko , it is really helpful !

I will see what my commit breaks and fix it asap.

[2019-07-17 06:09] #4550 closed

[2019-07-17 07:46] yunliang-ding opened #5736 "Callback after the project has been loaded, how to get this hook"
Callback after the project has been loaded, how to get this hook

[2019-07-17 08:07] #5736 closed

[2019-07-17 11:38] kpge opened #5737 "[tasks]How to config tasks to show detected task"
### Description
@elaihau
I can not find detected tasks as the demo in #5024:
![image](https://user-images.githubusercontent.com/35068357/61371421-41f45280-a8c7-11e9-82f0-b3d22d72ca9b.png)
 What can I do to show the detected tasks?

### Reproduction Steps

**OS and Theia version:**
theia: 6021d795d61eafb214b234288f1568cae0cfa9f5
ubuntu: 18.04
chrome:  75.0.3770.100
**Diagnostics:**

[2019-07-17 12:12] #3950 closed

[2019-07-17 12:57] svor opened #5738 "[linux] New registered File Watcher doesn't work correctly"
### Description
I've created new FileSystemWatcher in the next way:
[code]
Where  `'**/*.*'` means that I want to catch all files.

The problem is that this file watcher, which should catch all created files, skips some events during cloning the project.

### Reproduction Steps
1. Download this plug-in which creates new file watcher to catch all created files:
[file-watcher.zip](https://github.com

[2019-07-17 15:25] jankeromnes opened #5739 "`File > Upload Files...` should always be enabled + always upload into workspace root"
### Description

I was recently confused to find the `File > Upload Files...` menu entry disabled (greyed out).

Only after messing around for a while did I notice that I had to select a _directory_ in the File Tree panel for the feature to be enabled. In my mind, the `File` menu should not be influenced by the state of the File Tree panel.

For example, in Cloud9, `File > Upload Files...` was alw

[2019-07-17 15:58] lmcbout opened #5740 "Replace all can freeze all editors."
### Description

When I launch "replace all", the front-end stop working, cannot save any editors until I reload the front-end. Happen on CPP project.  JAVA and TS project report an error on the dev tools, but keep working.

Using "Replace all" command with formatOnSave  set to true
Theia and VSCODE  have the "AutoSave = off"
I tested with CPP, JAVA and TS projects.

CPP project
-----------
Theia:

[2019-07-17 16:32] vince-fugnitto commented on #5740
I don't think it's useful to address this issue at the moment as #5600 is likely to address it anyways.
It be better to see if the issue still exists after #5600 is merged.

It is also likely a duplicate of https://github.com/theia-ide/theia/issues/5454.
Performing `replace-all` which affects 100 files for instance will slow down the frontend until it's unusable.

[2019-07-17 16:38] vince-fugnitto commented on #5726
Closed by https://github.com/theia-ide/theia/pull/5725

[2019-07-17 16:38] #5726 closed

[2019-07-17 17:27] lmcbout commented on #5740
@vince-fugnitto
Testing on master where the video were recorded. After issue #5454, this problem will become more visible .When I reviewed #5454 , this is how I started to investigate this issue. I reported #5671 because I though it was mainly dependent of it, but with a deeper investigation, it is already on master branch and also on the issue #5454. When "monaco.editor.formatOnSave" = true, if a

[2019-07-17 18:29] lmcbout commented on #5671
This issue can be closed. After deeper investigation, the save occurring after a replace all is not necessary related to issue #5454. Another issue with details  Issue #5740 is showing information why sometimes the editor freeze. It seems more related to "editor.formatOnSave" = true

[2019-07-17 18:29] #5671 closed

[2019-07-18 10:34] akosyakov commented on #5599
We could follow Node.js approach, from [here](https://github.com/nodejs/node/blob/master/COLLABORATOR_GUIDE.md#internal-vs-public-api):

We will search for abstractions, stabilize and document them. During a review there will be an item that contributors and reviewers should ensure that documented (pubilc) APIs are never broken. Other APIs still can be broken without version 2.0. Later we can auto

[2019-07-18 12:33] #5734 closed

[2019-07-18 13:18] kittaakos commented on #5738
Works for me.

Here are a few remarks on the steps you provided:
 - The plug-in is called `file-watcher`, not `file_watcher.theia`.
 - `node_modules` was missing so I had to build it first. I ran `yarn`.
 - To be able to build, I had to add `"skipLibCheck": true` to the `tsconfig.json`.
 - With one of the recent changes we made on the `master`, it is mandatory to add the `activationEvents` to the

[2019-07-18 13:46] svor commented on #5738
@kittaakos thanks, I'll double check it on my side

[2019-07-18 14:03] kittaakos opened #5743 "[plug-in][doc] Breaking behavior change in Theia plug-ins"
After checking https://github.com/theia-ide/theia/issues/5738 we realized that from now on, it is a must to add the following to the `package.json` of any Theia plug-ins:
[code]
Otherwise, it won't activate.

Instead of forcing clients to update their package.json content with the wildcard `activationEvents`, we could check if the `theiaPlugin` top level property exists in the `package.json` and i

[2019-07-18 14:07] akosyakov commented on #5743
@benoitf @evidolob please let us know whether it would be enough to add a record to the CHANGELOG or we should fix it before next release

[2019-07-18 14:12] tetchel opened #5744 "TreeItem on click commands don't work"
With #5661 in, `command`s no longer break the tree, but the commands do not work (they never execute, so I assume there is just no listener).

In VS Code, single-clicking a [tree item](https://code.visualstudio.com/api/references/vscode-api#TreeItem) runs the [`command`](https://code.visualstudio.com/api/references/vscode-api#Command) tied to it, eg opening a file in the Explorer view.
This can be

[2019-07-18 14:12] benoitf commented on #5743
The entry should be enough (or failing with how to fix the plug-in)
Adding the default activationEvent with wildcard may be good but for example VS Code documentation says that it's never defaulted to * and has to be explicit. So maybe better to be in sync with VS Code.

Regarding che, all our plug-ins have already been updated for that change.

[2019-07-18 14:26] #5693 closed

[2019-07-18 15:07] vince-fugnitto commented on #5744
@tetchel which command were you attempting to execute with the tree?

[2019-07-18 15:09] akosyakov commented on #5743
Ok, let's update the changelog then.

For VS Code extensions, we won't do it. It will be incorrect. I am asking only about Theia plugins.

[2019-07-18 15:10] tetchel commented on #5744
A custom one from my extension

[2019-07-18 15:10] marechal-p commented on #5599
What would the decorators do/ensure?

[2019-07-18 15:25] benoitf commented on #5743
yes I understood, I was just saying that it's better to align behavior between theia plug-in and VSCode extension

[2019-07-18 15:27] vince-fugnitto commented on #5744
We do have the command `Reveal in Explorer`
https://github.com/theia-ide/theia/blob/d4a15ad515666ead71556faf04c226d9157d3a33/packages/navigator/src/browser/navigator-contribution.ts#L38

[2019-07-18 15:59] tetchel commented on #5744
hmm, that is a different command ID than vs code (again, `revealInExplorer`), perhaps that should be a separate issue.

[2019-07-18 16:37] kittaakos commented on #5743
Thank you all for the clarification.

[2019-07-18 16:54] vince-fugnitto commented on #5744
I believe it will be, it's part of the https://github.com/theia-ide/theia/pull/5590 change :)

[2019-07-18 17:54] #5743 closed

[2019-07-18 18:54] #5716 closed

[2019-07-18 20:19] RomanNikitenko opened #5747 "Configuring of a task"
### Description
A task is not displayed in `configured tasks` section after configuring.
Is it correct behavior?

### Reproduction Steps
1.`Terminal` => `Run Task` menu, select `npm:build` and click `cog` icon (configure task action)
2. You can see that the configuration is copied to `tasks.json` file and you can edit it
3. Go again to `Terminal` => `Run Task` menu
4. You can see that the task sti

[2019-07-18 20:21] fangnx opened #5748 "[commands] add "reopen closed editor" command and keybinding"
Currently we have the keyboard shortcut `alt+w` to close the current tab in Theia. In VS Code, there is also a `reopen closed editor` command with keyboard shortcut `ctrl+shit+t`, which would open the last closed editor.

As a user, I would like to have such a command in Theia. Since `ctrl+shift+t` is in conflict with most browsers, maybe it can have `alt+shift+t` as the keybinding.

[2019-07-18 20:32] RomanNikitenko commented on #5064
The behavior was changed: after configuring of `detected` task, this one is not present in `configured tasks` section, so I can not reproduce the issue.
The issue can be closed, if the new behavior is correct.

I created the issue https://github.com/theia-ide/theia/issues/5747 to clarify and discuss the new behavior.
@elaihau

[2019-07-18 20:59] RomanNikitenko commented on #5067
The behavior was changed: after configuring of `detected` task, this one is not present in `configured tasks` section.

I created the issue https://github.com/theia-ide/theia/issues/5747 to clarify and discuss the new behavior.
@elaihau

[2019-07-19 04:00] 502647092 opened #5749 "[Terminal] SomeKey Can't Work"
### Description
latest version in terminal
Ctrl + C Can't Work on terminal

### Reproduction Steps
**OS and Theia version:**
**Diagnostics:**

[2019-07-19 04:03] 502647092 commented on #5749
test on gitpod.io browers example also can't work
@akosyakov

[2019-07-19 04:08] 502647092 commented on #5749
i add config to keymap.json fix this problem
[code]

[2019-07-19 06:17] datou0412 opened #5750 "support vscode icon theme"
see https://code.visualstudio.com/api/extension-guides/icon-theme

[2019-07-19 06:54] kittaakos opened #5751 "[enhancement][ui/ux] Align the header and input in the SIW and SCM views"
### Description

It is an enhancement. Not having this flickering when switching from one view to the other would be slick.

![siw-vs-scm-layout](https://user-images.githubusercontent.com/1405703/61515365-b8e23600-aa02-11e9-8497-3cade7f2bd39.gif)

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-07-19 07:11] madan commented on #4725
@kittaakos Apologies, I missed out on the notification. looks @ab00a already explained what I meant.
Sorry for not raising a descriptive issue.

[2019-07-19 07:28] akosyakov commented on #5750
a dup of https://github.com/theia-ide/theia/issues/4831?

[2019-07-19 07:33] akosyakov commented on #5749
It works for me. @kittaakos @vince-fugnitto Could you try as well?

[2019-07-19 07:33] akosyakov commented on #5749
@502647092 Which os and browser versions?

[2019-07-19 07:35] akosyakov commented on #5599
I meant to mark concepts as APIs with annotations and have a ts based tooling analyzing such code for breaking changes. Something like what we have with Eclipse PDE api tooling.

[2019-07-19 07:44] 502647092 commented on #5749
windows10 chrome 75.0

[2019-07-19 08:37] kittaakos opened #5752 "[file-dialog][enhancement] Confirm and close the file dialog with `Enter`"
### Description

I can close/discard with `Esc`.
Confirming and selecting the root with `Enter` would be useful.

[2019-07-19 08:45] svor commented on #5738
@kittaakos
It is still reproducible for me:
<details>
<summary>Output -> logs</summary>

[code]
</details>

Here is the video: https://youtu.be/dnAQY1-cyN4

My OS is **Fedora28 (5.0.9-100.fc28.x86_64)** .
I've tested this use case on another Linux machine and got the same result.  Also I tried it on Mac and I couldn't reproduce this problem, on Mac the watcher works as expected.

@kittaakos on whi

[2019-07-19 08:56] kittaakos commented on #5738
https://github.com/theia-ide/theia/issues/2566?

[2019-07-19 08:57] kittaakos commented on #5738
@svor, I have updated the title and labels, feel free to edit.

[2019-07-19 09:07] #5064 closed

[2019-07-19 09:12] #5067 closed

[2019-07-19 09:14] svor commented on #5738
I've just updated the description:
- added OS version
- updated `file-watcher` plugin by adding `activationEvents`

[2019-07-19 09:29] akosyakov opened #5753 "[plugin] custom highlighting is not applied immediately to opened files"
- clone https://github.com/zxh0/vscode-proto3/tree/master/example/protos/v3
- open ptoto file, it should not have coloring
- install https://marketplace.visualstudio.com/items?itemName=zxh404.vscode-proto3 extension
- expected that an opened file should get highlighted, but it is not

[2019-07-19 10:50] kittaakos commented on #5749
Works for me on Windows in Chrome:
[code]

![screencast 2019-07-19 12-45-10](https://user-images.githubusercontent.com/1405703/61530199-b512db80-aa23-11e9-8704-4d10ffb017d2.gif)

[2019-07-19 10:53] 502647092 commented on #5749
@kittaakos Not Copy
i want to close process

[2019-07-19 10:56] kittaakos commented on #5749
Well, yeah both cannot work. I can confirm, I could not SIGTERM the process from the terminal with `Ctrl` + `C` on Windows.

[2019-07-19 11:41] kittaakos opened #5755 "[git] Update the commit message validation logic"
### Description

We have to use different validation rule for the first line than for any other subsequent lines. See this in VS Code: https://github.com/microsoft/vscode/blob/ac3680d6498e4fa5d8f6792fe029983a30c6632a/extensions/git/src/repository.ts#L759-L780

In a nutshell;
 - the first line can contain 50 chars only: https://github.com/microsoft/vscode/blob/ac3680d6498e4fa5d8f6792fe029983a30c663

[2019-07-19 11:43] akosyakov opened #5756 "vscode emmet extension does not work anymore"
[code]

In order to reproduce, install it from https://registry.npmjs.org/@theia/vscode-builtin-emmet/-/vscode-builtin-emmet-0.2.1.tgz

[2019-07-19 12:01] akosyakov commented on #5756
Something wrong with `require` function it cannot find a module although it is there. @evidolob @benoitf maybe you can have an idea which change could cause it. Trying to debug it in the meantime.

[2019-07-19 12:08] benoitf commented on #5756
maybe unload of the cache https://github.com/theia-ide/theia/issues/5514 ?

[2019-07-19 12:22] vince-fugnitto opened #5757 "[editor-preview] double-clicking editor tab maximizes view instead of docking"
**Description**

In order to persist an `editor-preview` (dock the editor), the tab of the editor can be double-clicked similarly to vscode. However, after the change #4744 this is no longer the case since double-clicking any editor results in maximizing the view. Should the `editor-preview`'s behavior be updated in this case to first persist the tab (first double-click) and any subsequent double-

[2019-07-19 12:25] akosyakov commented on #5756
@benoitf thanks, checking

[2019-07-19 12:27] akosyakov commented on #5757
Can we handle it somehow with DOM mouse click events? i.e. editor-preview should stop even propagation if it pins an editor.

[2019-07-19 12:34] vince-fugnitto commented on #5757
It might be possible, if I have the time I can try it out :)

[2019-07-19 12:47] akosyakov commented on #5756
@benoitf Why do we need to mess around with internal details on require function? I wonder why it was introduced? Someone redeploys another version of the same extension?

[2019-07-19 12:56] akosyakov commented on #5756
yes, reverting #5514 helps

[2019-07-19 13:22] akosyakov commented on #5756
Unfortunately, i could not find any test cases in PR introduced cache clean up or reasoning of introducing it. @benoitf @evidolob please provide, we need to know how we can change it without breaking

[2019-07-19 13:22] shortwavedave opened #5758 "yarn watch doesn't work for extension development"
### Description
yarn watch for the browser-app hangs after some errors and the theia browser-app never runs on localhost.

If I don't use yarn watch, I can't seem to get the rebuild command and yarn start to update the browser code - nothing changes.

What is the best way to develop an extension? should I do it in the theia code tree instead?

### Reproduction Steps
[code]

**OS and Theia version:

[2019-07-19 13:34] vince-fugnitto commented on #5758
@shortwavedave did you previously start the application? (ex: `cd browser-app` and `yarn start`)
The `browser-app` is being watched for changes in your example but it requires the `browser-app` to be started.

Generally I do the following:
1. open a terminal to start the application (`cd browser-app` and `yarn start`)
2. open a new terminal to watch for changes to the `browser-app` (`cd browser-ap

[2019-07-19 13:38] benoitf commented on #5756
it's on che side inside containers, extensions are restarted in the same process (this is why there is a need of proper clean-up as in fact there are some memory leaks)
https://github.com/theia-ide/theia/pull/4931

[2019-07-19 13:45] shortwavedave commented on #5758
@vince-fugnitto Oh I see, thank you for the example. That appears to work, although the errors are still there. If the errors are not important, I'll close this thread.

[2019-07-19 13:45] #5758 closed

[2019-07-19 13:50] vince-fugnitto commented on #5758
The warnings are fine for the moment, thank you for the issue!

[2019-07-19 14:01] akosyakov commented on #5756
@benoitf the reason is this line: https://github.com/theia-ide/theia/blob/3587c237cacc638dc54ec19dc3eaa755c2e69fb5/packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts#L115

Is it really necessary? If we remove it would you be able to verify that there are no memory leaks? It would be good what other contributors can test with vanilla Theia.

Also code looks a bit strange. I've looked at npm mod

[2019-07-19 14:03] akosyakov commented on #5756
I could not find here https://github.com/nodejs/node/issues/8443 an advice to purge module exports.

[2019-07-19 15:06] akosyakov opened #5761 "refactor plugin system to use DI instead of new operators"
See for the motivation: https://github.com/theia-ide/theia/pull/5760#issuecomment-513264817

[2019-07-19 15:14] vince-fugnitto opened #5762 "[markers] support 'information' diagnostics"
**Description**

Add support for **`information`** diagnostics which can later be displayed in the `problems-view`.

Currently only the following `ProblemStat` are supported:
https://github.com/theia-ide/theia/blob/3587c237cacc638dc54ec19dc3eaa755c2e69fb5/packages/markers/src/browser/problem/problem-manager.ts#L24-L27

https://github.com/theia-ide/theia/blob/3587c237cacc638dc54ec19dc3eaa755c2e69fb

[2019-07-19 15:19] akosyakov commented on #5749
So it is not a regression?

[2019-07-19 15:37] kittaakos commented on #5749
Yeah, seems to be a bug.

I tried if disabling the copy in the terminal helps as quick workaround, but no.

https://github.com/theia-ide/theia/blob/3587c237cacc638dc54ec19dc3eaa755c2e69fb5/packages/terminal/src/browser/terminal-widget-impl.ts#L499-L500

![Screen Shot 2019-07-19 at 17 29 56](https://user-images.githubusercontent.com/1405703/61547140-19956100-aa4b-11e9-832e-850e85e6c955.jpg)

[code]

[2019-07-19 15:38] kittaakos commented on #5749
But my exception can be an unrelated issue.

[2019-07-19 16:13] 502647092 commented on #5749
maybe is context problem?
i add config can fix it

[2019-07-19 21:41] roflcoopter commented on #5749
Experiencing the same.
Before i could use Ctrl+C to close a `tail -f` and if text was highlighted in the terminal Ctrl+C would copy it.

Now Ctrl+C to terminate the command doesn't work, same setup. Windows 10 Chrome 75

[2019-07-21 13:07] hacke2 opened #5764 "[vscode] window.showQuickPick CancellationToken is incomplete"
### Description

The CancellationToken option of the showpick component of the vscode extension seems to be incomplete.

I see vscode will [hide quickopen widget](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/browser/parts/quickinput/quickInput.ts#L1238).

`
token.onCancellationRequested(() => {
  input.hide();
})
`

but theia is no such logic.

I see canPickMany is not supporte

[2019-07-22 00:59] elaihau commented on #1660
most features have been finished and merged. i believe this one can be closed.

[2019-07-22 00:59] #1660 closed

[2019-07-22 01:05] elaihau commented on #2960
@marechal-p could this one be closed?

[2019-07-22 05:52] hacke2 opened #5765 "[vscode] window.createQuickPick hide is incomplete"
### Description

See https://code.visualstudio.com/api/references/vscode-api#QuickPick. QuickPick Panel should hide UI when execute `hide` method. But theia only emit `onDidHide` event.

[2019-07-22 07:22] AndrienkoAleksandr commented on #5749
I think we should copy by Ctrl+C in case if terminal has selection

[xterm.js selection docs](https://xtermjs.org/docs/api/terminal/classes/terminal/#getselection)

 otherwise we shouldn't handle this hotkey at all.

[2019-07-22 07:41] kittaakos commented on #5749
https://github.com/theia-ide/theia/blob/3587c237cacc638dc54ec19dc3eaa755c2e69fb5/packages/terminal/src/browser/terminal-widget-impl.ts#L501

[2019-07-22 07:57] akosyakov commented on #5756
Unloading is not related, see https://github.com/theia-ide/theia/pull/5760#issuecomment-513683293

[2019-07-22 08:32] akosyakov opened #5767 "function breakpoints support"
Instead of placing breakpoints directly in source code, a debugger can support creating
breakpoints by specifying a function name. This is useful in situations where the source
code is not available but a function name is known.

A function breakpoint is created by pressing the + button in the breakpoints section of the
debug view header and entering the function name. Function breakpoints are sho

[2019-07-22 08:34] akosyakov opened #5768 "exception breakpoints support"
The DAP supports the notion of exception breakpoints which hit when exceptions are
thrown.

[2019-07-22 08:34] akosyakov opened #5769 "watch expression support"
We will add a watch expression view to the debug view that allows users to enter multiple
watch expressions and inspect their values.

[2019-07-22 09:00] kittaakos commented on #5749
I have switched back to da653c269, which is one commit before the #5326.

![Screen Shot 2019-07-22 at 10 22 31](https://user-images.githubusercontent.com/1405703/61619761-c819eb80-ac6f-11e9-8377-42192ea9fbec.jpg)

I can confirm, SIGTERM with `ctrl`+`c` works on Windows from the terminal:

![screencast 2019-07-22 10-58-28](https://user-images.githubusercontent.com/1405703/61619792-da942500-ac6f-11e

[2019-07-22 10:26] liatbor commented on #3689
Hi,
When are you planning to support this ?
Thanks!

[2019-07-22 10:53] datou0412 commented on #5750
oh yes, both color theme and icon theme

[2019-07-22 11:45] akosyakov commented on #3689
We are planning to migrate completely to use vscode java extension. Please try it with Theia: https://github.com/theia-ide/theia/wiki/Testing-VS-Code-Extensions

If you are missing some features please file them against vscode java extension: https://github.com/redhat-developer/vscode-java

[2019-07-22 12:45] vince-fugnitto opened #5773 "[vscode] unable to run extension sample (diagnostic-related-information-sample)"
**Description**

I am unable to run the extension sample from https://github.com/microsoft/vscode-extension-samples/tree/master/diagnostic-related-information-sample which provides diagnostics for test purposes. Originally I wanted to use the extension to test my PR for https://github.com/theia-ide/theia/pull/5763.

**How to test**

1. close the repository (https://github.com/microsoft/vscode-exte

[2019-07-22 12:50] #2960 closed

[2019-07-22 14:19] kittaakos commented on #5773
Works for me without a problem:

![Screen Shot 2019-07-22 at 16 18 30](https://user-images.githubusercontent.com/1405703/61639764-64f27e00-ac9c-11e9-8850-3141bebf5beb.jpg)

Checks this wiki page on running/testing VS Code extensions: https://github.com/theia-ide/theia/wiki/Testing-VS-Code-Extensions

[2019-07-22 14:22] vince-fugnitto commented on #5773
Thank you @kittaakos, I'll see the link you provided.

[2019-07-22 14:36] vince-fugnitto commented on #5773
Thank you @kittaakos :)

[2019-07-22 14:36] #5773 closed

[2019-07-22 15:14] marechal-p commented on #2960
More details: https://github.com/theia-ide/theia/commit/2b950102fbd058459ebe227b9e128e3637bc8ad2

[2019-07-22 16:52] vince-fugnitto commented on #5752
Is it more of an issue with the implementation of the `tree`? https://github.com/theia-ide/theia/issues/1142
Currently, <kbd>ENTER</kbd> simply expands a given node.

[2019-07-22 17:48] JPinkney commented on #5749
My only guess would be that somewhere in https://github.com/theia-ide/theia/blob/master/packages/core/src/browser/keybinding.ts#L557 its trying to apply ctrl+c for copy instead. I don't have a windows machine but I'll try to get one so I can find out whats causing the issue

[2019-07-23 01:42] JustinBobby007 commented on #2005
FileNavigatorContribution  can not be imported by other packages.
This works:
`app.shell.activateWidget(XXX_WIDGET_ID);`

[2019-07-23 02:09] jgbradley1 commented on #4541
The theia-apps repo now has a [debian packaging example](https://github.com/theia-ide/theia-apps/pull/199) and an [rpm packaging example](https://github.com/theia-ide/theia-apps/pull/198). Is there still a need for an nexe/pkg solution now?

In my opinion, this issue can be closed unless others are still interested.

[2019-07-23 05:48] 502647092 commented on #4902
@akosyakov
next version still unable to support gitlens
command vscode.executeDocumentSymbolProvider It seems that it hasn't been implement
[code]

[2019-07-23 06:02] akosyakov commented on #5749
Yes, it looks like there are 2 bindings matching and order before was different. A agree with https://github.com/theia-ide/theia/issues/5749#issuecomment-513287922 one this bindings should have more specific context or when closure to disambiguate.

@JPinkney we revert for now, please open a new PR

[2019-07-23 06:03] #5753 closed

[2019-07-23 06:23] akosyakov commented on #4902
@I051950 we still keep using our native git Theia extension, gitlens cannot work with it. One can though try to remove native and install vscode git extension since it is requirement for gitlens. Maybe it works.

[2019-07-23 06:29] akosyakov opened #5778 "Don't advise to run `yarn watch` in the root"
See for motivation: https://spectrum.chat/theia/dev/what-is-the-best-option-to-watch-for-changes~efc10195-0720-4765-b5c7-bc925c69e296

We should advise to work individual packages and one app. And provide an example of such workflow in docs.

[2019-07-23 06:44] #5756 closed

[2019-07-23 07:00] qx-juilliard commented on #5739
I made a working demo:

https://github.com/qx-juilliard/theia/commit/81e69f2216bc93d055c113438177bb9f36554b45

It handles file upload menu item with the following strategy:

- if current selection is undefined, then upload to workspace root folder
- if current selection is a regular file, then upload to its containing folder

[2019-07-23 07:55] akosyakov commented on #5739
@qx-juilliard please propose a PR if you want a review, you can make it a draft (or WIP) if you want to check the design first

[2019-07-23 07:59] qx-juilliard commented on #5739
will do!

[2019-07-23 08:17] #5276 closed

[2019-07-23 08:19] #5225 closed

[2019-07-23 08:19] #4687 closed

[2019-07-23 08:21] 502647092 commented on #4901
@akosyakov what caused the problem?
can we fix it ?

[2019-07-23 08:23] #4970 closed

[2019-07-23 08:24] #5089 closed

[2019-07-23 08:28] akosyakov commented on #5749
Reopen it since it should be taken into the consideration when someone reverts https://github.com/theia-ide/theia/commit/dd512441df7ef230f23134f726eb2e09e54de4dd

[2019-07-23 08:32] akosyakov commented on #4901
@502647092 i don't know, someone needs to investigate. The file navigator suppose to reveal selected file, somehow it reveals something else.

[2019-07-23 12:01] marcdumais-work opened #5780 "[Eclipse Foundation] Update CODE_OF_CONDUCT.md"
That file pre-dates the intention to join the Eclipse Foundation and should probably be updated.

Option 1: replace "enforcement" email address `info@typefox.io` with Eclipse Foundation equivalent: `codeofconduct@eclipse.org`

Option 2: replace content of current file with Eclipse Foundation ["Community Code of Conduct"](https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php)

[2019-07-23 12:04] marcdumais-work commented on #5780
I lean towards option 2. Opinions?

[2019-07-23 12:15] vince-fugnitto commented on #5780
I think option #2 is fine as well.

[2019-07-23 13:31] #5732 closed

[2019-07-23 13:31] #5735 closed

[2019-07-23 14:14] lperraud opened #5781 "Add configuration for number of scrollback line in terminal"
### Description
Being able to configure the number of scrollback line in the terminal is essential in some cases of verbose output.
The resulting configuration option would be similar to :[https://www.growingwiththeweb.com/2017/03/mastering-vscodes-terminal.html#increasing-the-buffer-size]
### Reproduction Steps
N/A

[2019-07-23 15:06] akosyakov opened #5784 "detect links in debug exception breakpoint widget"
It is a follow-up of https://github.com/theia-ide/theia/pull/5774

[2019-07-23 15:33] marechal-p commented on #5778
Speaking of which, should we get rid of `npx run <command> <package>` and rather use `yarn workspace <package> <command>` ?

It does the same thing, and is less confusing (`npm run` vs `npx run` where `run` is `theia-run`...)

[2019-07-23 15:46] marechal-p opened #5785 "[filesystem] Use a FileSystem component in the backend?"
As a general rule of thumb, anything with side effects should be injectable.

Filesystem APIs are one such thing. But in the [coding guidelines](https://github.com/theia-ide/theia/wiki/Coding-Guidelines#backend-fs), it is advised to rely on `fs-extra` or direct node-apis. But this makes it hard to test components that may use it.

For now I'm injecting the `FileSystem` component, even in the backe

[2019-07-23 17:09] GurpreetSran commented on #5250
If someone wants to reproduce it, here is the code with plugin included.

https://github.com/GurpreetSran/theia-python

I'm also getting some additional errors.

`root ERROR [hosted-plugin: 50687] (node:50798) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
root ERROR C

[2019-07-23 18:47] vince-fugnitto opened #5786 "[plug-in] improve the retrieval of icons in webviews"
**Description**

Originally discussed [here](https://github.com/theia-ide/theia/pull/5723#issuecomment-513209251)

Improve the retrieval of icons consumed by _**webviews**_.
The plug-in system should properly convert `iconPath` to `iconUrl` in order to get icons similarly to the tree-view icons.

  - **plugin host part**:
https://github.com/theia-ide/theia/blob/8c0d234e9c04d9ee37157dc6f66e31645d0d

[2019-07-23 18:47] #5722 closed

[2019-07-23 19:48] akosyakov commented on #5785
I don't think we want to abstract away from nodejs apis. Do you have an example of what you want to test? In most case I would just create testdata and test against fs. In other cases one can abstract fs specifically for some service like `PreferenceProvider` can be replaced for `PreferenceService`.

[2019-07-23 19:50] akosyakov commented on #5778
Does it support running the same task of all transitive dependencies? It looks more verbose btw, an idea behind `npx run` was to make it as short as possible.

[2019-07-23 21:11] marechal-p commented on #5778
If you mean like triggering scripts in arbitrary dependencies, then no it doesn't. If you are talking about workspaces within the current repo matching something like `**/meh/*`, then yes it does.

I would rather advocate using `yarn workspace` which is simple enough to understand and can be looked up online. Unlike `npx run` which comes from Theia and gets confused with `npm run` by new members t

[2019-07-23 21:20] akosyakov commented on #5778
I mean https://github.com/theia-ide/theia/blob/master/doc/Developing.md#watch-a-specific-package-and-its-local-upstream-dependencies. I don't think `yarn workspace` can do it properly.

The point is not to type `yarn lerna run --concurrency=1` each time on windows for example.

Whom are you talking about? Could you provide an issue that someone was confused?

[2019-07-23 22:27] marechal-p commented on #5778
TIL that lerna has a flag to do that, nice. And indeed `yarn workspace` doesn't handle this use case. Never had to do that before though, but if I do I'll know what to do :)

Mostly people I was helping ramping up face to face, some are not npm experts and I had to explain them that one was an npm command, while the other was a script/bin contributed by Theia. It took me a while to realize as well

[2019-07-24 02:30] elaihau commented on #5737
Sorry for the delaaaaaay, I haven't spent much time working recently.

To have detected tasks such as `npm xxx` displayed in the task quick-open, you will need to install VS Code extensions as Theia plugins. Take `npm install` for example, since it is detected by the `npm` extension, installing `npm` extension is needed.

Unfortunately at the this moment we don't have a tool or a script that autom

[2019-07-24 06:35] akosyakov commented on #5778
I usually don't use it for `watch`, but for `build` in order to avoid rebuilding everything. Actually yarn devs explicitly say that yarn is not replacement for lerna [here](https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/):

Maybe yarn 2 will take more of lerna responsibilities. I'm always for cutting our dependency tree.

Ok, agree that `npx run` and `npm run` can be confusing, althoug

[2019-07-24 06:47] kittaakos opened #5787 "[electron] Please provide a way to disable the electron IP checks"
### Description

The electron codec check fails for me on a daily bases for downstream projects. This usually happens on both macOS and Windows when I switch between development branches and run `yarn`.

[code]

Please give me a clear way to disable the codec check or fix it. As a workaround, I have to run `git clean -ffxqd` almost every time I switch a branch. Thank you!

### Reproduction Steps

[2019-07-24 10:39] renandecarlo commented on #446
My workaround was to get mouse cursor position when the user clicks on the menu, and then show it at the coordinates after recreating it with `Menu.buildFromTemplate()` or the `Menu()` object.
Basically like that:

[code]

... then rebuild it with `Menu.buildFromTemplate()` or new `Menu()`
... then reopen it at the coordinates we got:

[code]

It should work with Tray too.

[2019-07-24 12:06] akosyakov opened #5788 "identity of breakpoints are not preserved by plugins"
There are 2 issues:
- plugin system does not convert breakpoints to instances of proper classes but expose them to client as JSON objects
- plugin system does not preserve identify of breakpoints between changes, i.e. for the same breakpoint after a change there can be several instances, old instances which are preserved by client code and new instances which come as part of an event

Plugin syste

[2019-07-24 12:06] akosyakov commented on #5788
It will be covered in https://github.com/theia-ide/theia/pull/5774

[2019-07-24 15:01] akosyakov opened #5789 "[tree] inline node editing"
Right now we use dialogs to add and edit tree nodes. It would be better to allow inline editing.

Possible clients are the navigator and different debug views.

[2019-07-24 15:04] #5762 closed

[2019-07-24 16:19] vince-fugnitto opened #5790 "[plugin-ext] 'mini-browser' pulled implicitly"
**Description**

The `@theia/mini-browser` is pulled implicitly by the `@theia/plugin-ext` (_webviews_) which can cause problems when attempting to build an application that uses either the `@theia/plugin-ext` or `@theia/plugin-ext-vscode` without `@theia/mini-browser` as a dependency.

<div align='center'>

<img width="919" alt="Screen Shot 2019-07-24 at 12 18 17 PM" src="https://user-images.gith

[2019-07-24 19:08] vince-fugnitto opened #5792 "[quality] no implicit `@theia` dependencies"
**Description**

In the past, we attempted to address violations of the **`no-implicit-dependencies`** tslint rule in Theia which warned us against declaring implicit dependencies. The problem with `@theia` implicit dependencies is that certain applications can build products with a subset of available extensions which may cause them issues if those extensions themselves have `@theia` implicit dep

[2019-07-24 19:21] fangnx opened #5793 "[search-in-workspace] search result in-line icons are misaligned"
The toolbar items for search-in-workspace result seem to be misaligned. The `close` icon should be aligned with the `number` representing the number of matches. It seems a small CSS change can fix it.

Currently in Theia:
![image](https://user-images.githubusercontent.com/25921074/61821876-41f3d580-ae26-11e9-9c39-47569593c2b0.png)

In VS Code:
![image](https://user-images.githubusercontent.com/259

[2019-07-24 20:57] maxcordivani opened #5794 "Latex"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-07-24 21:01] marechal-p commented on #5785
That works, but sometimes it would be useful to prevent a component from writing to the filesystem at all.  I was looking at changing the few occurrences of the filesystem being used on the backend, but it made me wonder how I would go about testing it, but I guess one way to go about it would be to break down methods so that the core that needs to be tested doesn't have side effects, and only tes

[2019-07-24 21:01] #5785 closed

[2019-07-24 21:04] vince-fugnitto commented on #5794
@maxcordivani can you provide more information?

[2019-07-25 06:55] akosyakov commented on #5792
@vince-fugnitto i think first we should fix what you found, then have a look how many false-positive we have, maybe we can add them to exclude filters or disable check for some lines and then enable this rule as an error.

[2019-07-25 06:56] akosyakov commented on #5794
@maxcordivani Have you try to run any latex vscode extensions with Theia: https://marketplace.visualstudio.com/search?term=latex&target=VSCode&category=All%20categories&sortBy=Relevance

How to test VS Code extension: https://github.com/theia-ide/theia/wiki/Testing-VS-Code-Extensions

[2019-07-25 07:51] akosyakov opened #5796 "review how main electron process is forked"
We should make sure that whenever backend process is forked, it marks child process as no electron. Otherwise it opens a new electron window on desktop.

There are 2 clients not doing it:
- https://github.com/theia-ide/theia/blob/17f51ed20f055f516167526e7dab1773d15c6219/packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts#L190
- https://github.com/theia-ide/theia/blob/17f51ed20f055f5161675

[2019-07-25 07:52] akosyakov commented on #5796
It would be good to have `Process` section in the coding guidelines and document this.

[2019-07-25 08:15] kpge commented on #5737
Thanks for your reply

[2019-07-25 08:22] maxcordivani commented on #5794
I like LaTex. I try to compile a LaTex document in Theia.
Thanks for the info.

[2019-07-25 08:22] hacke2 opened #5797 "[quick-open] move Interface definition in common"
### Description
We should move `quick-open` to common as well to be able to call it from the backend. Like `packages/core/src/common/quick-pick-service.ts`

@akosyakov

[2019-07-25 09:02] apupier commented on #5007
for the X-Frame-options, some explanations here https://developer.mozilla.org/fr/docs/Web/HTTP/Headers/X-Frame-Options

I'm not sure who is providing the X-Frame-options.
A workaround would be to set X-Frame-Options: ALLOWALL but might not be very secure. Should be better with X-Frame-Options: ALLOW-FROM https://example.com/ but how to determine the url?

[2019-07-25 09:23] hacke2 commented on #5797
move `packages/core/src/browser/quick-open/quick-open-service.ts` to `packages/core/src/common/quick-open-service.ts`

[2019-07-25 10:24] vince-fugnitto commented on #1593
@jbicker I tried to look into the issue but could not find a proper solution, perhaps you'd know more.
Unfortunately the odd scroll behavior is one of the more annoying usability glitches in Theia :disappointed:

[2019-07-25 12:02] #5503 closed

[2019-07-25 12:05] akosyakov commented on #5797
- It should be done in backward-compatible manner, i.e. `quick-pick-service` file should steal exist in browser and reexport from common.
- It should be bound to the connection scope similar to the quick pick service that backend services in the connection scope could inject it.

Let's do it though later then we complete quick-pick, quick-input implementations for VS Code extensions. It is more im

[2019-07-25 12:37] akosyakov opened #5798 "vscode cpp extension should work without native extension"
See https://github.com/theia-ide/theia/pull/5795#issuecomment-515023234

@tolusha @marechal-p @simark Could someone have a look? It should be a matter of moving textmate grammars out of `@theia/cpp` extension. And testing https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools with example app without `@theia/cpp` installed.

[2019-07-25 12:41] tolusha commented on #5798
I will handle that.

[2019-07-25 12:45] akosyakov commented on #5007
@apupier Is it about webviews? We should actually make sure that each webview is opened from own origin, otherwise any plugin can access browser shared state for the same origin, like cookies, local storage and so on.

[2019-07-25 12:47] akosyakov commented on #1593
I think there is a race when we updated rows to render and a selected row, so sometimes it goes out of sync and something bogusly is selected. It is just a guess, someone has to verify.

[2019-07-25 12:52] marcdumais-work commented on #5798
Please see my comment on the other PR: https://github.com/theia-ide/theia/pull/5795#issuecomment-515029519

TL;DR:  As far as I understand, the license does not allow us to use the MS C/C++ extension in Theia.

[2019-07-25 12:54] apupier commented on #5007
yes, it is from a webview.

How are we doing that?

[2019-07-25 12:58] apupier commented on #5007
currently we are providing a localhost URL in the href attribute of the page used:

https://github.com/jboss-fuse/vscode-atlasmap/blob/a68b8150864cdce4040fe2be45823da3a88e82ad/src/atlasMapWebView.ts#L94

https://github.com/jboss-fuse/vscode-atlasmap/blob/a68b8150864cdce4040fe2be45823da3a88e82ad/src/extension.ts#L182

[2019-07-25 13:13] marechal-p commented on #5798
@marcdumais-work we aren't allowed to use the published extension from the VS Code Market Place outside of VS Code, but the [source code of the extension](https://github.com/microsoft/vscode-cpptools/blob/master/LICENSE.txt) is MIT (on github)

[2019-07-25 13:17] akosyakov commented on #5798
We don't need to include vscode cpp extension anyway, just move the grammar that clients who brave to take their chances with MS can consume it.

[2019-07-25 13:18] tolusha commented on #5798
@marechal-p
Does it mean we can build extension from sources and use it?

[2019-07-25 13:26] akosyakov commented on #5798
MIT seems to be applied only to typescript files: https://github.com/microsoft/vscode-cpptools/issues/2274#issuecomment-405349796 . If built vsix file contains non-open source bits, like tools, it cannot be used.

[2019-07-25 14:42] marechal-p opened #5800 "[cpp] Do not send all the cpp settings to clangd"
According to the following trace, we seem to send all Theia's C++ settings to clangd:

[code]

Am not yet sure if it is done this way for all language servers, but we should definitely not send this to clangd.

[2019-07-25 14:44] marechal-p commented on #5800
More information about `onConfigurationChanged`: https://microsoft.github.io/language-server-protocol/specification#workspace_didChangeConfiguration

IIUC, the expected configuration settings seem to be defined by the language server, it is not something we can guess for any LS.

[2019-07-25 14:50] #5790 closed

[2019-07-25 15:16] marcdumais-work commented on #5798
Interesting link, thanks @akosyakov .

_"The license under the extension folder isn't intended to be applied to the contents under the Extension folder on GitHub; instead, it's what gets packaged in the .vsix that gets shipped to end users (i.e. the __non-open source binaries__ and compiled javascript)"_

Do we know what those __non-open source binaries__ might be? e.g. closed source Debug Adapter

[2019-07-25 15:22] vince-fugnitto commented on #5792
The `@theia/` implicit dependencies are fixed as of #5791

The remaining violations are the following:

[code]

[2019-07-25 15:27] marcdumais-work commented on #5798
Seems to be at  least that. Looking inside the .vsix for Linux, there is a DebugAdapters folder that contains what looks like a .NET app, being run through Mono.

[2019-07-25 17:21] maxcordivani commented on #5794
LaTex in Theia just doesn't work. There is a simple guide to implementing LaTex in Theia.

[2019-07-25 17:24] vince-fugnitto commented on #5794
@maxcordivani what issues have you encountered when running [LaTeX Workshop](https://marketplace.visualstudio.com/items?itemName=James-Yu.latex-workshop&ssr=false) in Theia?

[2019-07-25 20:01] marechal-p opened #5801 "[cpp] Only one workspace folder is sent to clangd"
I wanted to send a trace, but it would add too much noise to this issue and not bring anything interesting. Basically I have a workspace containing 2 roots, and only the first one is sent in the initializeRequest sent to clangd (`workspaceFolders` field).

[2019-07-25 20:08] maxcordivani commented on #5794
LaTeX Workshop ok, but as in the image LaTex or Tex does not appear in "Select Language Mode".

![latex](https://user-images.githubusercontent.com/26182750/61905111-94b5b600-af28-11e9-8a12-10de5aafcbc9.png)

[2019-07-25 22:17] vince-fugnitto commented on #5794
@maxcordivani I ran the `LaTeX Workshop` extension in Theia and got the following results:

**LaTeX Syntax Highlighting**

<div align='center'>

<img width="1302" alt="Screen Shot 2019-07-25 at 6 08 19 PM" src="https://user-images.githubusercontent.com/40359487/61912408-0a5d5a00-af08-11e9-8cb1-504a82d16dfb.png">

</div>

**LaTeX Specific Commands**

<div align='center'>

<img width="1302" alt="Scr

[2019-07-25 22:43] maxcordivani commented on #5794
Great.  I can't add the LaTex extension to Theia.  How can I do.

[2019-07-26 00:09] vince-fugnitto commented on #5794
In order to use any VSCode extension in Theia you can follow the following guide https://github.com/theia-ide/theia/wiki/Testing-VS-Code-Extensions :)

The basic idea is to run Theia from sources, create a `plugins` folder under the main root and copy any VSCode extension under the folder as a `.vsix` file. You can download the `.vsix` file from the marketplace (https://marketplace.visualstudio.co

[2019-07-26 03:30] kpge opened #5804 "[debug]"add debug configuration" gives wrong suggestion in the first time"
### Description
the first time click 'Add Configuration' gives the wrong suggestion regardless the `launch.json` file is existed.
![image](https://user-images.githubusercontent.com/35068357/61923162-8fdb1b80-af95-11e9-8c2b-1d3b2eafcc02.png)

### Reproduction Steps
* close the `launch.json` file
* refresh the browser
* click `Add Configuration` in the debug widget

**OS and Theia version:**
theia:5

[2019-07-26 06:58] #5765 closed

[2019-07-26 07:02] akosyakov commented on #5804
in the example app? or you install some vscode extensions?

[2019-07-26 07:08] akosyakov commented on #5794
Not necessary from sources, you can also build a final app and run it with plugins option pointing to a folder containing your vscode extensions. You can then wrap it in the docker image for reusability.  See for example how vscode go extension is packaged in docker together with Theia: https://github.com/theia-ide/theia-apps/tree/master/theia-go-docker

[2019-07-26 07:11] akosyakov commented on #5792
Could you make a PR with these rule enabled and resolving outstanding issues? `vscode-jsonrpc`, `webdriverio`, `express`, `electron` and `native-keymap` can be excluded for sure, basically all deps from `@theia/electron` should be excluded and common deps from `core`

[2019-07-26 07:22] akosyakov commented on #5666
Please have a look at it after https://github.com/theia-ide/theia/pull/5665 gets merged, plugin trees were refactored to allow state restoration.

[2019-07-26 07:23] kpge commented on #5804
I start theia in example app

[2019-07-26 07:27] kpge commented on #5804
It looks like that json language server had not been ready when the command `editor.action.triggerSuggest` is executed

[2019-07-26 08:19] akosyakov commented on #5804
@kpge Do you want to investigate?

[2019-07-26 08:28] kpge commented on #5804
@akosyakov I don't find where the json language server start, is it it monaco editor core?

[2019-07-26 09:12] akosyakov commented on #5804
It should be started whenever a workspace has json file: https://github.com/theia-ide/theia/blob/2befdf4cbebbbddb9719e0b88a578fba13f61808/packages/json/src/browser/json-client-contribution.ts#L82-L87

Maybe it just takes time or there is a bug and globs are never match.

[2019-07-26 10:16] akosyakov opened #5805 "upload in cwd of terminal"
Sometimes i have a terminal opened for a folder which does not belong to a workspace, so there is no way to upload to this folder without switching a workspace. It would be nice just to be able to upload within it.

[2019-07-26 10:40] tolusha commented on #5798
I removed `@theia/cpp` extension and checked that it works fine with VS Code extension [1].
As well I checked that Theia works fine with [2] [3] [4] to replace [1].

[1] https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools
[2] https://github.com/eclipse-cdt/cdt-vscode
[3] https://github.com/eclipse-cdt/cdt-gdb-vscode
[4] https://marketplace.visualstudio.com/items?itemName=llvm-vs

[2019-07-26 10:40] #5798 closed

[2019-07-26 11:01] kpge commented on #5804
It won't be called until a json file is opened, I think there's a bug here.

[2019-07-26 12:19] #5797 closed

[2019-07-26 12:42] akosyakov commented on #5804
It should be fine, some language servers are started only when file is opened.

I've noticed that you don't have syntax coloring. It means that is not an issues with a language server, but a language itself. An editor is opened before the language is registered and auto detects a language as plain text.

We fixed something like that for the plugin system: https://github.com/theia-ide/theia/pull/57

[2019-07-26 14:09] akosyakov opened #5807 "Assertion failed (document already exists!)"
It is reproducible with eslint extension

[code]

[2019-07-26 14:19] marechal-p commented on #5798
Why did you want to extract the grammar?

[2019-07-26 14:25] vince-fugnitto commented on #5792
Added the PR #5808 :)

[2019-07-26 14:48] akosyakov commented on #5807
hm, i cannot reproduce it reliably, i will reopen if find reliably way

[2019-07-26 14:48] #5807 closed

[2019-07-26 15:04] akosyakov commented on #5798
@marechal-p because https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools does not require `@theia/cpp`, only language registration. It is the same for other languages, only cpp was not aligned.

[2019-07-26 15:41] marechal-p commented on #5798
Is it because the `ms-vscode.cpptools` extension does not provide grammars? Meaning that if we did not depend on `@theia/cpp`, we would have had language features (thanks to the vscode extension) but no coloration?

[2019-07-26 15:49] akosyakov commented on #5798
The issue is not with a grammar, but with a language itself. None of extensions listed [here](https://github.com/theia-ide/theia/issues/5798#issuecomment-515404427) register a language, so they just don't work. One could install `@theia/cpp`, but then end up with 2 language servers which is confusing.

[2019-07-26 16:22] maxcordivani commented on #5794
Thanks for the support. Very useful info.
LaTex works very well in Theia.

[2019-07-26 16:42] marechal-p commented on #5798
I assume you are talking about the monaco languages, it makes sense thanks!

[2019-07-26 20:13] marechal-p commented on #5805
So the feature would allow a user to drag and drop files over the terminal widget, and it would upload it inside the terminal's cwd? If so +1, it would be convenient :)

[2019-07-27 10:24] kittaakos commented on #5123
Was done in https://github.com/theia-ide/theia/commit/d89dccf65f226745bf746cfedd62da910177ff8e.

----

[code]

It seems to be a proxy issue: check [this thread](https://github.com/theia-ide/theia/issues/4144#issuecomment-456706105).

I am closing this, please reopen if required.

[2019-07-27 10:24] #5123 closed

[2019-07-27 12:38] akosyakov commented on #5805
yes, in addition to drag and drop, also the context menu item

[2019-07-28 01:37] kpge commented on #5804
The `registerTextmateLanguage` will be called when the workspace is loaded, and when the  json file is colored, it still shows the wrong suggestion.
![image](https://user-images.githubusercontent.com/35068357/62001090-9a72ed80-b11a-11e9-9a13-e16837ad7d20.png)

[2019-07-28 14:38] dhananjayharel opened #5809 "Open the outline view programmatically"
### Description
I want to open the outline of the editor programmatically using my own extension
I searched but didn't able to find the right API.
Any example code will help me ..

thanks

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-07-28 19:37] eduprovide commented on #5749
Visit my website for all educational related questions http://eduprovide.com

[2019-07-29 07:11] akosyakov commented on #5809
`OutlineViewContribution.openView` should work

[2019-07-29 10:29] vince-fugnitto commented on #5787
cc @marechal-p

[2019-07-29 12:19] maximsachs opened #5810 "Reverse Proxy HTTPS and Basic Authentication to Theia for use on iPadPro"
### Description
Hello,
Im trying to set up all my tools to be completely browser based for a mobile and secure office experience, while using a light device to interact with everything. In my case specifically I am using a iPadPro with iPadOs beta to make use of the extended browser capabilities.

So far I have got most things working, the last hang up unfortunately is the Theia-IDE. Theia is work

[2019-07-29 12:35] marechal-p commented on #5787
Is the trace you sent the actual error log, or are you able to post something more detailled? In the meantime, you can skip the replacement and checks by setting `THEIA_ELECTRON_SKIP_REPLACE_FFMPEG=1` before hand.

[2019-07-29 12:37] kittaakos commented on #5787
I can't. That was all I saw in the log.

Oh, I thought this is not available anymore. Thanks! 👍

[2019-07-29 12:37] #5787 closed

[2019-07-29 12:42] akosyakov commented on #5810
@marcdumais-work @geropl @32leaves @AlexTugarev maybe you have some insights?

I don't have enough exp with nginx to answer.

[2019-07-29 13:25] marechal-p commented on #5787
@kittaakos It is not much but a very simple log file is written during install in the `@theia/electron` package, do you see anything like this? If so, what's the content?

I would rather fix the problem at hand :)

[2019-07-29 13:57] akosyakov opened #5812 "[css] add a variable for magic 22px line-height"
There is many places where this magic number is used: https://github.com/theia-ide/theia/search?q=%2222px%22&unscoped_q=%2222px%22

It would be better to introduce a css variable for it.

[2019-07-29 14:00] #5792 closed

[2019-07-29 14:08] kittaakos commented on #5787
I do not have that state anymore. I will update and reopen the issue if it happens again.

[2019-07-29 14:32] maxcordivani commented on #5794
I would like to ask you a question:
in MacOs LaTeX works fine, but on Ubuntu I have a problem, LaTeX View (Widget) is empty. see image. where am I wrong?
Thanks again for the support.

![Annotazione 2019-07](https://user-images.githubusercontent.com/26182750/62056634-5ec14c00-b21e-11e9-9d98-2b3ab9b32739.jpg)

[2019-07-29 14:38] akosyakov commented on #5794
It sounds like a bug, could you file a new issue with steps to reproduce please.

[2019-07-29 14:53] AlexTugarev commented on #5415
BTW, it’s apparently limited to links only. I tested with other md features, which are not supported. It seems even new lines are removed intentionally.

[2019-07-29 15:21] maxcordivani commented on #5794
ok i open a new case. I hope to be clear.

[2019-07-29 16:20] maxcordivani opened #5813 "LaTeX-Ubuntu"
### Description
 on Ubuntu I have a problem, LaTeX View (Widget) is empty.

### Reproduction Steps

See image.
![Annotazione 2019-07-29](https://user-images.githubusercontent.com/26182750/62064522-53c1e800-b22d-11e9-9114-3a6ee6351ad3.jpg)

**OS and Theia version:**
OS VMware: ubuntu ubuntu 4.18.0-25-generic
Theia version: v0.9.0

**Diagnostics:**

[code]

thanks

[2019-07-29 22:13] kittaakos commented on #5813
[code]
This thread can help: https://github.com/marechal-p

[code]
See this section in the doc: https://github.com/theia-ide/theia/blob/master/doc/Developing.md#linux

Are there any errors in the browser's console?

[2019-07-30 06:36] akosyakov commented on #5813
@maxcordivani please fix inotify limit as @kittaakos suggested and try again

if it does not help then it is a bug

[2019-07-30 09:04] maxcordivani commented on #5813
I have seen and followed your instructions.
Now works. I attach picture.
![Annotazione 2019-07-30](https://user-images.githubusercontent.com/26182750/62115980-ab0d9a00-b2b9-11e9-97e7-1afde492fef6.jpg)

Thanks for the great support.

[2019-07-30 09:06] akosyakov commented on #5813
thanks for reporting back

[2019-07-30 09:06] #5813 closed

[2019-07-30 09:31] vinokurig opened #5814 "[quick-open] Apply dynamic quick pick items"
### Description

The quick-pick menu must support dynamic items. Need to implement quick-pick `onDidChangeValue` emitter to be able to handle the input value and dynamically update quick pick items according to the input value.
Can be tested against: https://github.com/microsoft/vscode-extension-samples/tree/master/quickinput-sample: _F1 => Quick Input Samples => quickOpen_

Depends on https://git

[2019-07-30 11:50] akosyakov opened #5815 "debug view state is not preserved if it is not visible between reloads"
It's a regression. It was fixed in https://github.com/theia-ide/theia/pull/5665 I will prepare a PR which includes the fix commit from #5665

[2019-07-30 11:58] vince-fugnitto commented on #5814
FYI, the link provided is broken https://github.com/Microsoft/vscode-extension-samples/tree/master/quickinput-samples

[2019-07-30 12:01] vinokurig commented on #5814
@vince-fugnitto Fixed the link

[2019-07-30 12:49] akosyakov commented on #5815
Also breakpoints are never recovered.

[2019-07-30 12:55] akosyakov commented on #5815
Actually debug views are never rendered properly on reload. It does not matter whether they were visible or not.

[2019-07-30 13:45] #5793 closed

[2019-07-30 14:59] AlexTugarev opened #5819 "[debug] Superfluous scrollbars"
in current master state it looks like this:

![2019-07-30 13 40 31](https://user-images.githubusercontent.com/914497/62140406-3a7f7100-b2eb-11e9-9f69-bde4d4729418.gif)

[2019-07-30 15:06] tsmaeder opened #5820 "WorkspaceService not Concurrency-Safe"
When invoking WorkspaceService.spliceRoots() multiple times concurrently (for example via the vs code api workspace.updateWorkspaceRoots(), there can be cases where we run into a "out of sync" condition on the workspace file. Splice roots will do something like:

[code]
it can happen that the both invocations read the file before any invocation writes the file. When the second invocation then trie

[2019-07-30 18:35] marechal-p commented on #5787
Turns out it was my hash computation that was bogus :grimacing:

Fix: https://github.com/theia-ide/theia/pull/5821

[2019-07-30 20:22] fangnx opened #5822 "[ui/ux] better expansion animation of side panels"
Currently, expanding the side panel does not seem to have a smooth animation. The glitch becomes much more visible in a large workspace (when the `explorer` has more content to render).

As a user, it would be very nice to see a smoother expansion animation ;).

![theia-expand-animation](https://user-images.githubusercontent.com/25921074/62162037-60a21280-b2e5-11e9-9771-50fe4c4ef08b.gif)

[2019-07-30 23:06] marechal-p commented on #5820
I "played" around with a naive decorator based API for this, as well as providing a generic operation queue implementation. See the following [commit](https://github.com/theia-ide/theia/commit/94b3cf92d48d40202deffc17d0942b018ef104c9#diff-1aad536c5dae637f9eb0dc358780d3aeR20-R43) for usage.

Not sure what it's worth, I was thinking that decorator based API are usually kind of sweet.

[2019-07-31 06:45] akosyakov commented on #5820
APIs should not be changed while fixing it. `WorkspaceService` is used a lot.

[2019-07-31 06:49] akosyakov opened #5823 "linux build is broken"
[code]

[2019-07-31 07:04] shortwavedave opened #5825 "@theia/task Doesn't run task, creates new terminal"
### Description
Terminal/Run task does not execute the example tasks in the tasks readme. In my zsh shell environment it opens new terminals. To verify it wasn't my environment, I spun up a vm in gcloud with a bash environment. Here are some gifs to demonstrate:

- On my zsh environment:

![theiaTaskIssue](https://user-images.githubusercontent.com/22798574/62189327-b9be8480-b37f-11e9-9b6f-2cc355c2

[2019-07-31 07:18] akosyakov commented on #5825
A new terminal for a task is expected. Although it should be reused for executing the same task again. It is known issue.

From your gifs it looks like taks is actually not properly executed, i.e. output is not there, correct?

[2019-07-31 07:23] shortwavedave commented on #5825
right, the output is not there. So I guess if I want to execute a python script programmatically I should just use the process extension.

[2019-07-31 07:24] akosyakov commented on #5825
It's a bug.

If you don't want to show output to the end user, yes. If you want then tasks should be handy.

[2019-07-31 07:29] #5823 closed

[2019-07-31 07:40] akosyakov opened #5826 "impossible to get the caret between the braces in breakpoints widget"
It's impossible to get the caret between the braces `)}`:

![2019-07-30 13 30 17](https://user-images.githubusercontent.com/914497/62125793-6809f180-b2ce-11e9-90fc-445bb36be7da.gif)

[2019-07-31 07:45] shortwavedave commented on #5825
FYI, this is the extension version from yarn.lock

[2019-07-31 07:49] mmorhun opened #5827 "Sometimes breakpoint moves into another line after some time"
### Reproduction Steps

This bug could be reproduced quite often, but not all the time.
A scenario how to reproduce:

1. Generate a simple backend plugin using `Yeoman wizard` command.
2. Set a breakpoint into default command handler
3. Run the plugin in debug mode (using hosted instance for example)
4. Wait until debugger connects and invoke command to hit the breakpoint
5. Go back to Che Theia
5

[2019-07-31 07:59] #5815 closed

[2019-07-31 08:04] akosyakov commented on #5827
I'm not sure whether it is a bug or bogus source maps. Moved breakpoints is not bug itself, since debugger receives breakpoints from a user, then try to apply them to running code and map them back to sources via source maps. If something is not matching it could be that debug adapter moves breakpoints bogusly.

[2019-07-31 08:24] tsmaeder commented on #5820
There's also a problem in that we're relying on the file watcher to call "updateRoots": when we have two "spliceRoots" calls in a row, the second may use the "_roots" variables before it has been updated.

[2019-07-31 08:35] tsmaeder commented on #5827
@mmorhun does the breakpoint move back to the original location when you stop debugging?

[2019-07-31 08:54] mmorhun commented on #5827
@tsmaeder yes, it moves back.

[2019-07-31 09:31] mmorhun commented on #5827
So, seems the problem is indeed in source maps.

[2019-07-31 09:43] akosyakov opened #5829 "ensure that no plugin can be loaded twice"
This code is not thread-safe: https://github.com/theia-ide/theia/blob/98bf44fbc831b2c64714315ebc1fbe5e6fdeb0a4/packages/plugin-ext/src/hosted/browser/hosted-plugin.ts#L159

Loading plugin should be filtered out as well, otherwise calling `loadPlugins` multiple times for the same plugin can cause race conditions.

[2019-07-31 11:14] AlexTugarev opened #5831 "[editor] Improve the "file has been changed" dialog"
![Screen Shot 2019-07-31 at 13 08 48](https://user-images.githubusercontent.com/914497/62207444-702c6480-b394-11e9-8bc6-a88db67060ac.png)

 - the title is too long
 - the buttons should be something `Replace` | `Keep` | `Cancel`

[2019-07-31 11:21] AlexTugarev commented on #5831
Thanks for the pointer @akosyakov!

Looking at what happened behind the scene, I think this also unveils a flaw with the integration of preferences in the plugin system. I get this message every time I'm switching the Python interpreter.

[2019-07-31 11:25] akosyakov commented on #5831
@AlexTugarev Can you file an issue for it with steps to reproduce?

[2019-07-31 11:36] ghuntley commented on #2433
I would love to have a way to toggle this by the menu. My specific use case is editing pull-requests via the GitPod chrome extension. Typically I use GitPod for minor touchups or authoring markdown documents. `Workspace Preferences` isn't a good workflow for me as each github pull-request typically spawns a throwaway instance.

[2019-07-31 12:15] akosyakov commented on #2433
@ghuntley You can configure it in user preferences when it will be applied always.

[2019-07-31 12:40] ghuntley commented on #2433
Good to know. Just of interest would you take a pull request that added this feature to the menu and a shortcut?

[2019-07-31 12:44] vince-fugnitto commented on #5825
I believe it's a duplicate of the following issue https://github.com/theia-ide/theia/issues/2961

It looks like the output of short lived tasks are not properly outputted since they complete before a terminal can be created and initialized.

[2019-07-31 12:44] akosyakov commented on #2433
Yes, why not? But then it will be applied only to the current editor, right? For next editor again a value from preferences will be used.

[2019-07-31 12:46] akosyakov commented on #5825
@vince-fugnitto some is going to look at it? i.e. @elaihau ? fixing such bugs is important for vscode support as well. Or should we mark it as `help wanted`?

[2019-07-31 12:52] vince-fugnitto commented on #5825
I can inform @elaihau about the bug and see if he wants to handle it. He's done some great improvements to the `tasks` system already.

[2019-08-01 03:30] #4919 closed

[2019-08-01 03:30] #5679 closed

[2019-08-01 03:30] #5719 closed

[2019-08-01 03:30] #5747 closed

[2019-08-01 08:07] akosyakov opened #5833 "Cannot read property 'maxResults' of undefined at SearchInWorkspaceWidget"
It started today, seems to be a regression by some recent changes:
[code]

@vince-fugnitto @fangnx Could you have a look?

[2019-08-01 09:34] kittaakos commented on #5833
It was logged already [here](https://github.com/theia-ide/theia/pull/5665#issuecomment-513770484) days ago.
I think they're the same.

[2019-08-01 10:11] vince-fugnitto commented on #5833
Yes I previously noticed it also when switching from `master` and the `view containers integration` branch. It was fixed when resetting the workbench layout so I didn't think more of it.

[2019-08-01 10:15] #5704 closed

[2019-08-01 10:37] akosyakov commented on #5833
I see i was trying to preserve old layout in this branch in the morning and was switching between master and this branch, so maybe it was caused the issue. Anyway i've give up on this approach, since was not able to make any meaningful progress and will just go with completely resetting layout.

[2019-08-01 10:37] #5833 closed

[2019-08-01 10:39] ManishAgrawal1410 commented on #4200
Hello @vinayb21 ,
Can you guide me to get autocomplete features for java/python language?
What I did: I just added "@theia/java":"next" and "@theia/python":"next" in my package.json. When I start a java project I get an error saying : "languages ERROR Error occurred while starting language contribution. /services/languages/java/:id. Error: The Java server launcher is not found".

[2019-08-01 10:55] vince-fugnitto commented on #2961
@elaihau is this something you'd like to take a look at?

[2019-08-01 15:14] akosyakov commented on #5013
I will try to take care about it. It is required to complete https://github.com/theia-ide/theia/issues/3434 for input variables in tasks: https://code.visualstudio.com/docs/editor/variables-reference#_input-variables

[2019-08-01 15:29] akosyakov commented on #5013
I will leave it out for now and open a follow-up issue. It is very involving and deserve a separate PR.

[2019-08-01 15:41] #5454 closed

[2019-08-01 15:42] akosyakov opened #5836 "support input variable substitution for tasks"
It's a follow-up of https://github.com/theia-ide/theia/issues/5835. It depends on https://github.com/theia-ide/theia/issues/5013.

cc @marcdumais-work @elaihau @vince-fugnitto

[2019-08-01 16:04] vince-fugnitto opened #5837 "[outline] decorate outline view with problem markers"
**Description**

The `outline` view should be decorated by the `problems-decorator` in order to view symbols that currently have markers.

The behavior can be controlled similarly to VSCode which also provide a preference to turn the feature on/off.

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/62308953-771aac00-b454-11e9-9a11-e6e60cab7c55.png)

</div>

[2019-08-02 02:57] kpge commented on #5737
@elaihau hi, elaihau, I've installed npm extension in theia , but I still can not find detected tasks, is my installed plugin right?
![image](https://user-images.githubusercontent.com/35068357/62341035-4ef28200-b514-11e9-92e3-ab674af1bd3a.png)

[2019-08-02 04:05] kpge commented on #5737
@elaihau I've found it , [npm](https://github.com/microsoft/vscode/tree/master/extensions/npm), thanks

[2019-08-02 04:06] #5737 closed

[2019-08-02 06:58] tom-shan commented on #5827
During the debug process and after a new breakpoint is added, all breakpoints in the same ts file will becomes normal.

[2019-08-02 07:04] kittaakos opened #5839 "[plugin] Error: Unknown actor WorkspaceMain"
I got these when I was verifying #5279.

Steps:
 - Follow the steps from [here](https://github.com/theia-ide/theia/issues/5279#issue-449133288). (In a nutshell, start a Java debug process with VS Code extensions)
 - Refresh your electron browser window.

[code]

[2019-08-02 07:13] kittaakos opened #5840 "[debug][java][windows][vs-code] Cannot start debug `spring-petclinic`"
Originally from here: https://github.com/theia-ide/theia/pull/5281#issuecomment-516741021

 - Removed `@theia/java` and `@theia/java-debug` from both the `browser` and `electron` `package.json` files.
 - Rebuilt the extensions without Theia Java.
 - Downloaded the two Java VS Code extensions.
[code]
 - Cloned https://github.com/spring-projects/spring-petclinic and opened it as my workspace.
[code]

[2019-08-02 07:25] akosyakov commented on #5827
It could be that runtime context changed in the meantime, you can also just try to deactivate/activate breakpoints. Could someone the same in VS Code? If it is different maybe there is a bug with timing. Or try to debug it with Theia.

[2019-08-02 08:56] kittaakos commented on #4401
It seems we can live with `dugite`. I am closing this, please reopen if required.

[2019-08-02 08:56] #4401 closed

[2019-08-02 10:43] svor opened #5841 "[language] WorkspaceEdit applier doesn't support ResourceFileEdit"
### Description

WorkspaceEdit interface has a structure:
[code]
But If some language operation provides `WorkspaceEdit` which contains  `ResourceFileEdit` elements - they will be skipped.

The problem is in [monaco-workspace.ts](https://github.com/theia-ide/theia/blob/master/packages/monaco/src/browser/monaco-workspace.ts#L333) where `WorkspaceEdit` element is parsed.

[2019-08-02 10:58] elaihau commented on #2961
@vince-fugnitto I don't have a clear picture of what could be done to fix this. Let's talk about it in detail next Monday (Aug 5) in office. would it work for you ?

[2019-08-02 12:18] vince-fugnitto commented on #2961
@elaihau yes that sounds fine, I believe even @marechal-p suggested he might work on it since I believe the bug resides in our processes.

[2019-08-02 12:51] tom-shan commented on #5827
There are a [similar issue](https://github.com/microsoft/vscode-node-debug2/issues/176) of vscode-node-debug2. So I try to upgrade the node-debug and node-debug2 in https://github.com/theia-ide/theia/blob/master/packages/debug-nodejs/package.json#L52-L53 to the newest version(1.35.3 and 1.33.0), then the similar issue in my repo seems to be fixed.

[2019-08-02 13:25] akosyakov commented on #5827
@tom-shan Could you make a PR?

[2019-08-02 13:28] stefanbschneider opened #5842 "Using Theia IDE with a shared Docker volume. No space left on device"
### Description

I have my own web app in a Docker container. To persist files generated with this I use a named Docker volume. I now want to edit these files with Thea IDE. My idea was to simply use the same Docker volume and share it between the two Docker containers.

When specifying the volume for Theia, I can see all the generated files in the IDE, but I cannot edit, remove, or create files.

[2019-08-02 13:32] akosyakov commented on #5842
I assume you checked already that you indeed have space. If it is so, then try: https://github.com/theia-ide/theia/blob/master/doc/Developing.md#linux

[2019-08-02 14:23] tom-shan commented on #5827
It's my pleasure.

[2019-08-02 14:30] vince-fugnitto opened #5843 "[quality] fix 'typedef' explicit return types"
**Description**

Fix [**`typedef`**](https://palantir.github.io/tslint/rules/typedef/) tslint errors present in the repository.
There are currently [**1092**](https://gist.github.com/vince-fugnitto/d539c03aa3f3524a4be84d8ad34e8e6e) failed checks as of master.
Updating to include `return types` is part of the [coding guidelines](https://github.com/theia-ide/theia/wiki/Coding-Guidelines#explicit-ret

[2019-08-02 15:44] stefanbschneider commented on #5842
Yes, on my PC still have plenty of space left (multiple 100GB). The space of the Docker volume itself isn't limited, is it?

How/where would I run this command? I tried running it inside the Theia container after starting it, but it doesn't work:

[code]

Would I execute the command inside the Theia container by logging in after starting it?

[2019-08-02 15:53] akosyakov commented on #5842
I think you should increase it on your host os.

[2019-08-02 16:10] stefanbschneider commented on #5842
Increase what? And how?

[2019-08-03 00:15] eiso commented on #5825
I have encountered the same issue.

To replicate:

[code]

Example output:

[code]

What is most interesting is that the process that gets started when a task is created, has a PID on my system of `+1` of the PID that is logged. So in this case `49171` is running as `/bin/bash -l`. The testscript path provided is never executed.

[2019-08-03 06:51] xieyuanhuata opened #5847 "After closing debugconsole, can not reopen debugconsole while running CodeLens"
step:
1、click the codelens link “Run”;
2、close the debugconsole；

plugins:
ms-python.python-2019.6.24221.vsix
ms-vscode.Go-0.11.4.vsix
redhat.java-0.47.0.vsix
shengchen.vscode-checkstyle-1.0.3.vsix
vscjava.vscode-java-debug-0.20.0.vsix
vscjava.vscode-java-dependency-0.5.1.vsix
vscjava.vscode-java-test-0.18.2.vsix
vscjava.vscode-maven-0.18.1.vsix

If I want to reopen debugcontole, I can only click

[2019-08-03 07:27] xieyuanhuata commented on #5847
![11](https://user-images.githubusercontent.com/50982164/62408966-18dffb80-b603-11e9-8635-9d684e13b10d.gif)

[2019-08-03 12:36] xieyuanhuata commented on #5847
![捕获](https://user-images.githubusercontent.com/50982164/62412000-61f97500-b62e-11e9-9608-78031f7051ff.PNG)

[2019-08-03 13:55] akosyakov commented on #5847
It can be configured in preferences as well as on launch configuration, see https://github.com/theia-ide/theia/blob/1f1fcd6ee1aadb80064898a823d7b13d779ddecb/packages/debug/src/browser/debug-preferences.ts#L38-L43

[2019-08-03 13:58] #1707 closed

[2019-08-03 13:58] #1781 closed

[2019-08-03 14:10] akosyakov commented on #5842
`increase your default inotify watches.` from https://github.com/theia-ide/theia/blob/master/doc/Developing.md#linux

`echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p` from https://github.com/theia-ide/theia/blob/master/doc/Developing.md#linux

[2019-08-03 14:11] akosyakov commented on #5058
It was addressed by https://github.com/theia-ide/theia/pull/5665

[2019-08-03 14:11] #5058 closed

[2019-08-03 14:14] akosyakov commented on #4386
I believe everything was addressed in #5665

[2019-08-03 14:14] #4386 closed

[2019-08-03 14:44] #5847 closed

[2019-08-05 01:14] 502647092 opened #5852 "latest next version can't save workspace status"
### Description
![temp](https://user-images.githubusercontent.com/10203793/62432274-66727a80-b761-11e9-96b7-d7350817d46c.gif)

### Reproduction Steps
see gif

**OS and Theia version:**
latest next version
**Diagnostics:**

[2019-08-05 01:18] tom-shan commented on #5840
I have a similar error in ubuntu, after the extra process of cleaning some data(~/.theia and /tmp/vscode-unpacked), the error disappeared and the debug session could be started successfully.

[2019-08-05 02:14] kpge opened #5853 "[pluginExt] npm scripts showed when config.npm.enableScriptExplorer is false after npm extension installed"
### Description
when I installed `npm` extension from vscode, ther npm scripts eabled in the explorer widget, no matter what the value of  `config.npm.enableScriptExplorer ` is .

![image](https://user-images.githubusercontent.com/35068357/62433647-e8fe3880-b767-11e9-9417-87e0f44dd36f.png)
but the view should be enabled when `config.npm.enableScriptExplorer` is true
![image](https://user-images.gi

[2019-08-05 05:16] akosyakov commented on #5852
@502647092 thank you for the reporting, could you please provide browser and backend logs? Is there any errors?

[2019-08-05 05:17] akosyakov commented on #5853
@kpge Would you like to investigate?

cc @elaihau

[2019-08-05 05:18] akosyakov commented on #5840
@tolusha Maybe you have an idea what is going on?

[2019-08-05 05:36] 502647092 commented on #5852
@akosyakov
[code]

[2019-08-05 05:38] akosyakov commented on #5852
@502647092 Is there anything else? This error is expected, it should then use default layout. I wonder why afterwards a new layout is not stored for you.

[2019-08-05 05:38] akosyakov commented on #5852
Also is it electron? which browser and os?

[2019-08-05 05:40] akosyakov commented on #5853
It is the view container issue. @AlexTugarev was mentioning that `when` closure is ignored. I will do a PR promptly.

[2019-08-05 05:41] 502647092 commented on #5852
Windows 10
Chrome 76.0.3809.87
after i delete old local storage theia:/:file:///home/project:layout and refresh
it is work

[2019-08-05 06:14] stefanbschneider commented on #5842
I'm running on Windows; this command won't work on my machine.

[2019-08-05 06:26] akosyakov commented on #5842
@stefanbschneider sorry, missed it

@kittaakos maybe you came across this error? or someone from @marcdumais-work team?

[2019-08-05 06:27] akosyakov commented on #5852
That's bad, that it does not work automatically :( I wonder why old layout is not discarded for you in first place.

[2019-08-05 08:07] jvikstrom opened #5854 "Theia is producing unexpected semantic highlightings for c++."
### Description
Theia's semantic highlighting client is producing unexpected colorings in certain cases after enabling it for the c++ client. (look at this PR [here](https://github.com/theia-ide/theia/pull/5850) for a reference on how to do it.

I've verified that clangd sends the correct source ranges for the test cases below.

### Reproduction Steps
* Enable semantic highlighting in the c++ clie

[2019-08-05 08:55] akosyakov commented on #2961
@vince-fugnitto yes, it would be good if someone looks into it, it makes tasks quite useless, if one does not see an output

[2019-08-05 09:14] DanTup commented on #3999
I work on the Dart/Flutter extensions for VS Code - I was just trying them out here to see how well they worked. I think the extensions may be failing to activate since the first thing I expect it to do is pop up and tell me it can't find a Dart SDK but it did not. We search `PATH` for an SDK at activation and if we can't find one we'll prompt the user to locate it manually - but this did not happ

[2019-08-05 10:46] 502647092 opened #5856 "can't copy multi file in explorer"
### Description
select multi file can't paste

### Reproduction Steps
select multi file
press `Ctrl + C`
select target folder
press `Ctrl + V`

**OS and Theia version:**
latest next version
Windows 10
Chrome 75

**Diagnostics:**
[code]

[2019-08-05 11:33] svenefftinge commented on #3999
Hey @dantup, I looked into it and the latest version doesn't work the code-dart extension uses new yet unsupported API (`ExtensionKind`).
I have setup the flutter_web repo using an older release that doesn't use that API:
https://github.com/svenefftinge/flutter_web

There are however many errors coming from the language server which seem wrong. Would be great if you can have a look and share any i

[2019-08-05 11:52] akosyakov commented on #5856
A dup of https://github.com/theia-ide/theia/issues/4872

[2019-08-05 11:52] #5856 closed

[2019-08-05 11:59] DanTup commented on #3999
I think many of the errors come from not having run `pub get` for each of the folders. It might be simpler to open only `examples/hell_world` rather than opening all of the flutter_web code itself (though I'm not if that's possible here without making a new repo?).

I was trying to get pub-get-on-pubspec-changes to work, but it didn't seem to run. I tried to run the **Dart: Capture Logs** command

[2019-08-05 12:13] marcdumais-work commented on #5842
Hi @stefanbschneider

I think none of us regularly use Windows, nevermind docker on Windows, so please bear with us...

Do you use [Windows shared drives](https://docs.docker.com/docker-for-windows/#shared-drives)? If so there are limitations, documented in the link.

As well, on Linux and in Linux containers, Theia uses `inotify` to watch files and folders in the workspace. This is a Linux kernel

[2019-08-05 12:18] akosyakov opened #5857 "don't share event loop between windows when possible"
from http://hassansin.github.io/shared-event-loop-among-same-origin-windows

As a consequence debugging in one window blocks all other windows for the same origin.

The obvious candidate is mini-browser. But we should review other places where we use `window.open` and pass `rel=noopener` when it makes sense, i.e. we did not need to communicate with an opened window.

[2019-08-05 12:26] tolusha commented on #5840
I was able to reproduce this issue once but after refreshing it is no longer there.

[2019-08-05 12:27] kittaakos commented on #5840
This did not work for me on Windows.

[2019-08-05 12:36] akosyakov opened #5858 "don't use tabIndex greater than 0"
It breaks the natural focus flow.

`ScmWidget` is using it. You can try to focus back and forward in scm view container with additional view installed, i.e. from vscode tree sample extension and see how focus does not follow elements.

We should also document it in the coding guidelines and find a way to enforce.

[2019-08-05 12:36] xieyuanhuata opened #5859 "The dialog responding to the esc/enter button is unfriendly"
1、In the case of operating a single text input dialog, when the mouse is not focused on the input box, press the enter key and the dialog to be closed；
2、If there are multiple layers of dialogs, each dialog can accept events from the esc button；

![11](https://user-images.githubusercontent.com/50982164/62465864-85edbf80-b7c2-11e9-95d5-b6eec00bb53e.gif)
![112](https://user-images.githubusercontent.

[2019-08-05 12:42] svenefftinge commented on #3999
I've changed the config so it opens on hello_world (see https://github.com/svenefftinge/flutter_web/blob/master/.gitpod.yml#L3)

We'll have a deeper look into the rough edges with your extension. And report our progress here. Thanks for trying!

[2019-08-05 13:51] elaihau opened #5861 "some plugins are not loaded in time"
### Description

Task providers are not registered on Theia startup. Take `npm` for example, the npm tasks are not loaded until `package.json` is opened.

![Peek 2019-08-05 09-45](https://user-images.githubusercontent.com/37082801/62469610-9b350080-b766-11e9-8be1-fdffdc03bbe8.gif)

### Reproduction Steps
See GIF

**OS and Theia version:**
Ubuntu 18.04. Chrome. Theia example-browser, master branch

[2019-08-05 13:57] #5843 closed

[2019-08-05 14:12] fiurthorn opened #5862 "Change Theia baseUrl"
### Description

How to change the Theia baseUrl from *http://localhost:3000/* to *http://localhost:3000/theia/*

[2019-08-05 14:17] akosyakov commented on #5861
Metadata should be loaded in advance, activation events only to run the extension code. Is it something what is contributed by code?

[2019-08-05 14:19] akosyakov commented on #5861
There is though one activation event which is not covered yet: https://github.com/microsoft/vscode/blob/051b669b61cd175cb06c8f4500498dbeef79114c/extensions/npm/package.json#L32

We should study maybe it should be activated before running any task.

[2019-08-05 14:31] akosyakov commented on #5862
Theia is based on express js web server. You will need to google whether it allows to change base url.

[2019-08-06 02:07] tom-shan opened #5863 "API rate limit problem of appveyor build"
### Description
https://ci.appveyor.com/project/kittaakos/theia/builds/26477407
https://ci.appveyor.com/project/kittaakos/theia/builds/26315393
There are two failed builds of appveyor CI in recent week.
Considering the low probability of this issue, we can assign a lower priority.

**OS and Theia version:**
Window

**Diagnostics:**
`
error C:\projects\theia\node_modules\vscode-ripgrep: Command fai

[2019-08-06 02:08] 502647092 commented on #5852
@akosyakov
https://github.com/theia-ide/theia/blob/cc51575a2c8660f13794ed9099ee14daaca982b9/packages/core/src/browser/shell/application-shell.ts#L563-L565
https://github.com/theia-ide/theia/blob/cc51575a2c8660f13794ed9099ee14daaca982b9/packages/core/src/browser/shell/application-shell.ts#L602-L604
meybe before save content need get layout but throw error cause version incompatible

[2019-08-06 02:15] tom-shan commented on #5863
Maybe we can use [cache](https://www.appveyor.com/docs/build-cache/) like in https://github.com/theia-ide/theia/pull/5373.

[2019-08-06 02:30] kpge commented on #5862
It's hard to change the base url in theia,  you should change all the router where `app.use / app.get ...` appears.
I think you can use proxy to set the base url, such as  Nginx

[2019-08-06 05:11] HighCommander4 commented on #5854
I checked and the arguments being passed by the semantic highlighting service to `TextEditor.deltaDecorations()` [here](https://github.com/theia-ide/theia/blob/cc51575a2c8660f13794ed9099ee14daaca982b9/packages/monaco/src/browser/monaco-semantic-highlighting-service.ts#L53) look correct to me. I think the bug is somewhere deeper.

It's possible we're running into [this bug / limitation](https://git

[2019-08-06 07:04] akosyakov commented on #5863
Is it only about PRs from for forks? We should `GITHUB_TOKEN` set for our ci for branches from theia repo.

Caching sounds good as well.

[2019-08-06 07:06] akosyakov commented on #5852
@502647092 When you reload next time a new layout should be generated with a new version, so there should not be version mismatch. For some reasons for you without resetting the layout, reload won't trigger serialization of a new layout.

[2019-08-06 07:35] akosyakov commented on #5861
@elaihau i will try to address it with a new activation event.

[2019-08-06 07:52] tom-shan commented on #5863
Probably, I didn't check every failed build.

[2019-08-06 07:53] tom-shan commented on #5863
Sorry, I checked failed builds in recent month and found that only two builds which I listed above are failed for `API rate limit` problem.
So I think this issues can be ignored now.

[2019-08-06 07:53] #5863 closed

[2019-08-06 08:03] svenefftinge commented on #3999
Also, related https://github.com/flutter/flutter/issues/32436

[2019-08-06 09:11] #4872 closed

[2019-08-06 09:19] kpge opened #5866 "[vscode] plugin's config should be always shown in preferences"
### Description
Originally discussed [here](https://github.com/theia-ide/theia/pull/5855)
The configuration of plugin is always shown in the settings dialog in vscode, but only displayed when the project is `npm` in theia.
vscode:
![image](https://user-images.githubusercontent.com/35068357/62526973-dd486a00-b86c-11e9-89e0-b9ac46e8669a.png)
theia:
![image](https://user-images.githubusercontent.com/

[2019-08-06 09:33] xieyuanhuata opened #5867 "[SingleTextInputDialog] SingleTextInputDialog should have an event that responds to the enter key only when the mouse is focused on the input box."
When I open a dialog and enter information in the input box, move the mouse to the blank and press Enter to complete the process and exit. However, usually only the mouse places focus on the input box in response to an input event.

![11](https://user-images.githubusercontent.com/50982164/62528984-56958c00-b870-11e9-84bd-6b63045a3e6e.gif)

[2019-08-06 09:34] kpge commented on #5866
it had been fixed in #5855
![image](https://user-images.githubusercontent.com/35068357/62529026-69a85c00-b870-11e9-9f51-1ad3f4c1a472.png)

[2019-08-06 09:35] #5866 closed

[2019-08-06 11:46] fiurthorn commented on #5862
Using a Proxy works great, thanks.

[2019-08-06 11:46] #5862 closed

[2019-08-06 12:05] akosyakov opened #5870 "keyboard shortcut for the task"
See https://code.visualstudio.com/docs/editor/tasks#_binding-keyboard-shortcuts-to-tasks

cc @elaihau @RomanNikitenko

[2019-08-06 15:06] akosyakov opened #5873 "tslint rule to enforce project organization"
All code should be aligned with: https://github.com/theia-ide/theia/wiki/Code-Organization. It is critical since avoiding it increases amount of code which should be loaded and bundled. But it is very tedious to check import each time and new contributors very often miss it.

Maybe there is configurable tslin rule to check such things. Or we can write one based on regex.

cc @vince-fugnitto @marcd

[2019-08-06 15:10] vince-fugnitto commented on #5873
I think it'd be good, I don't see however a rule that can accomplish it so it'd most likely need to be a custom rule.

[2019-08-06 15:11] akosyakov commented on #5873
vscode guys seems to have such rules: https://github.com/microsoft/vscode/blob/5cad6c4879e40eb6212ea6df8d8e024958566221/tslint.json#L38-L602

Maybe we can copy and use them. Again need a CQ 🙈

[2019-08-06 15:13] vince-fugnitto commented on #5873
I guess we will need a CQ then :see_no_evil:

[2019-08-06 15:19] jankeromnes opened #5874 "[editorconfig] `insert_final_newline` is not honored for .svg files"
### Description
When your `.editorconfig` file has `insert_final_newline: true`, it seems to be honored for some file types, but not for `.svg` files.

### Reproduction Steps
1. Open a project with such an `.editorconfig` in Theia, e.g. by opening https://gitpod.io/#https://github.com/simple-icons/simple-icons
2. Create a new file, e.g. with `gp open test.txt`
3. Enter some text on the last line,

[2019-08-06 15:24] akosyakov commented on #5873
@vince-fugnitto Do you think you can have a look into it? or you busy with something else?

[2019-08-06 15:39] jankeromnes commented on #5874
Oh, my mistake, that repository's `.editorconfig` actually overrides `insert_final_newline` for `.svg` files:

https://github.com/simple-icons/simple-icons/blob/7665782042ceaeb59bf4b5ca4bfd301f84f595b6/.editorconfig#L15-L16

So Theia is behaving as expected. Sorry for the noise!

[2019-08-06 15:39] #5874 closed

[2019-08-06 15:54] vince-fugnitto commented on #5873
I'd like to resolve my existing task PR first then I can take a look into it for you :)

[2019-08-06 17:38] vince-fugnitto opened #5875 "[question] should we publish the '@theia/ext-scripts' extension?"
**Description**

Extensions under dev-packages are all published except for `@theia/ext-scripts`.
Should `@theia/ext-scripts` also be published to npm (was there a reason for not publishing)?

**Reasoning**

It would be useful for extension developers to have as part of their `devDependencies` so they can benefit from useful Theia-specific development scripts. Currently if one wants to use the scr

[2019-08-06 20:57] fangnx opened #5876 "[outline-view] align outline tree expand/collapse behaviours with VS Code"
Currently, clicking on a outline-view tree node would:
1. Move the editor focus on the corresponding symbol
2. Expand/collapse the tree node
In many cases, a user click on the tree node to focus on the symbol. Toggling the tree expansion should be not done in the same action.

In Theia:
![theia-outline-behave](https://user-images.githubusercontent.com/25921074/62576442-e59fa580-b86a-11e9-8eb0-9f3c

[2019-08-07 04:29] sr229 commented on #3999
I'll try to get the Android SDK to make a VM in Docker build time, but I have no assurances it'll work.

[2019-08-07 06:47] akosyakov commented on #5875
I am not sure it can be used outside of theia repo context. It relies on project structure to reuse npm scripts. Plus it does not declare dependencies, but dev dependencies, which cannot be published. Extension developers are free to choose their own tools.

[2019-08-07 06:53] #5867 closed

[2019-08-07 06:57] #5853 closed

[2019-08-07 07:00] #5861 closed

[2019-08-07 08:13] #5109 closed

[2019-08-07 11:19] BroKun commented on #5227
I noticed this problem, it is caused by the configuration of monaco.
[code]
The value `True` means you will see suggestions anywhere.
We should not display suggestions by default in string and comment, just like vscode.

[2019-08-07 11:22] BroKun commented on #5229
The language configuration item `onEnterRules` will solve this problem.

[2019-08-07 11:22] akosyakov commented on #5227
@BroKun can you handle it please? Please could you also reference a corresponding default configuration in VS Code, just to check that it is so.

[2019-08-07 11:27] DanTup commented on #3999
@svenefftinge what's the best way to report issues when trying to use Dart/Flutter? Should I list them here, or open separate issues for each, or something else?

For ex., hit this one just now:

[code]

The objects are `vscode.TreeView` instances that we're calling `onDidChangeSelection` on.

[2019-08-07 11:32] BroKun commented on #5227
Yes, I am doing this.
And I found that there is another problem, we need to pass the object that can be rewritten to `monaco`, especially when updating the configuration, but now the `preferrenceService` provides read-only objects.
I will solve this problem first, but it is better if the `preferenceService` can support it. Maybe I should open another issue.

[2019-08-07 11:47] RomanNikitenko opened #5878 "Incorrect displaying of configured task after refreshing page"
### Description
`configured` task is displayed incorrectly in `Terminal` -> `Run Task` menu after refreshing page

### Reproduction Steps
1. Use npm extension
2. Configure some npm task
3. Refresh page
4. Go to `Terminal` -> `Run Task` menu
5. You can see
![configured_bug](https://user-images.githubusercontent.com/5676062/62620333-bef07600-b921-11e9-910d-9ffa7da7e733.png)

**OS and Theia version:*

[2019-08-07 12:15] vince-fugnitto commented on #5875
Thank you for clarifying for me on why it wouldn't make much sense to be published :)

[2019-08-07 12:15] #5875 closed

[2019-08-07 12:19] akosyakov commented on #5229
@BroKun Is it the same in VS Code? I thought our textmate grammar should be aligned with their? If it is the case maybe we should fix in the upstream first, otherwise then we can move to use VS Code completely this fix will be lost. If it is just outdated grammar then please make a PR to update it.

[2019-08-07 12:20] akosyakov commented on #5059
@vinokurig Could you please turn points into check boxes? and mark what was addressed?

[2019-08-07 12:23] akosyakov commented on #3999
Separate issues will be better. `fs` is a tree?

[2019-08-07 12:25] akosyakov commented on #5615
@tetchel #5187 was merged, could you check whether this issue was resolved please?

[2019-08-07 12:25] akosyakov commented on #5501
@tetchel Could it be closed? There are separate issues already?

[2019-08-07 12:31] DanTup commented on #3999
`ft` - the name has likely been munged by webpack, but the source is here:

https://github.com/Dart-Code/Dart-Code/blob/b8c0f6f138b31748822c0f4ff471ddfa277c7cfa/src/extension/extension.ts#L414

Let me know if you want a separate issue for that one, and I'll open new issues for anything else like this I find. Thanks!

[2019-08-07 12:39] DanTup opened #5880 ""Error: The given uri is not file uri: user_storage:settings.json""
I edited my user settings earlier, and now when I refresh the page, I see this error in the console:

![Screenshot 2019-08-07 at 1 39 18 pm](https://user-images.githubusercontent.com/1078012/62623452-c5c6bb00-b918-11e9-9939-cea140baee31.png)

[2019-08-07 12:42] DanTup opened #5881 "Multi-select quick picker does not allow multiple selection"
The VS Code quickpick API has a `canPickMany` property that allows multiple selections to be made, but that doesn't seem to work here - you just always get to pick one.

VS Code:

<img width="661" alt="Screenshot 2019-08-07 at 1 40 54 pm" src="https://user-images.githubusercontent.com/1078012/62623561-0fafa100-b919-11e9-8328-26706c5dfb5a.png">

Gitpod:

![Screenshot 2019-08-07 at 1 40 44 pm](https

[2019-08-07 12:45] DanTup commented on #3999
By the way - when I click Start -> Debug, nothing happens (even with a custom build with the treeview code commented out to avoid errors during activation). Is there any way to debug that (assuming it's expected to work)?

[2019-08-07 12:45] vince-fugnitto commented on #5878
I believe it's been fixed in master `d47d42e` as part of the PR https://github.com/theia-ide/theia/pull/5869

[2019-08-07 12:47] akosyakov commented on #5841
It will be addressed as part of Monaco migration.

[2019-08-07 15:34] BroKun commented on #5229
@akosyakov  The basic part is the same as vscode, but there are some extra features that are different from javascript/javascriptreact/typescript/typescriptreact and jsx-tag. We are missing this part.
Currently we have separate configurations for these languages, although some parts are the same.

[2019-08-07 15:39] tetchel commented on #5501
I'd still like to see `appName` set in the environment - Here's what I see in `process.env` now:

[code]

[2019-08-07 16:02] akosyakov commented on #5229
@BroKun do you have an idea how to bring missing parts? Could you have a look into it?

[2019-08-07 16:03] akosyakov commented on #5501
I thought you will use `vscode.env.appName`. Does it work?

[2019-08-07 16:05] tetchel commented on #5501
Oh, that totally worked. I didn't even know that API existed. Thanks!

[2019-08-07 16:05] #5501 closed

[2019-08-07 16:22] BroKun commented on #5229
Completing the configuration item should be fine, I will test it and give a PR.

[2019-08-07 16:29] tetchel commented on #5881
I think this is the same as my bug https://github.com/theia-ide/theia/issues/5673

[2019-08-07 16:34] tetchel opened #5882 "[vscode] ignoreFocusOut option is not respected for InputBox and QuickPick"
Whether showQuickPick or createQuickPick (or InputBox) is used, I see the same behaviour; it is as though this property is not set / set to `false`.

https://code.visualstudio.com/api/references/vscode-api#QuickPickOptions
https://code.visualstudio.com/api/references/vscode-api#InputBoxOptions

[2019-08-07 16:35] tetchel commented on #5615
Seems to be fixed, I noticed https://github.com/theia-ide/theia/issues/5882 while verifying.

[2019-08-07 16:54] DanTup commented on #5881
Oops, good spot - not sure how I didn't find that when searching (I forgot what the property was called until I was writing it up, so I probably searched badly!). I'll close this one - thanks!

[2019-08-07 16:54] #5881 closed

[2019-08-07 17:32] deepakdahal commented on #4534
@jankeromnes This page showed up on the search results and hope this is the right place for this question.
I am looking for a browser based real time code sharing where I myself can host it rather than using the already hosted platform. Is it possible with Theia?

Thank you.

[2019-08-08 01:33] tetchel opened #5885 "[navigator] add refresh command and toolbar item"
The theia new-folder detection does not appear to be perfect - see https://github.com/eclipse/codewind/issues/67. I'd like to be able to manually refresh the Explorer from my extension.

In VS Code, I see the command `workbench.files.action.refreshFilesExplorer`. I suppose there should be an equivalent command in Theia, but perhaps there isn't yet because there is no refresh button in the Explorer

[2019-08-08 06:59] akosyakov commented on #4534
@deepakdahal Yes, you can build your own solution in the sense that you can share the same backend with other users. Unfortunately, there is no Theia extension yet for live collaboration like VS Code Live Share or Atom teletype.

[2019-08-08 07:00] akosyakov commented on #5882
@vinokurig @JPinkney do you think you can have a look into it?

[2019-08-08 07:00] akosyakov commented on #5615
@tetchel thanks for checking, closing

[2019-08-08 07:00] #5615 closed

[2019-08-08 07:03] #5859 closed

[2019-08-08 08:30] azatsarynnyy opened #5887 "Command Palette isn't opened after closing a workspace"
### Description

Nothing happens when I'm trying to open Command Palette in Theia with no workspace is opened.

### Reproduction Steps

Make sure no workspace is opened and press `F1` to open Command Palette.

**OS and Theia version:**
Theia 0.9.0
Commit id 0953ba77fe0b9c90bd7c122355acedc177ea5d0b

**Diagnostics:**

In browser's dev console:
[code]

[2019-08-08 08:34] akosyakov commented on #5887
@azatsarynnyy I've just tried on master and `F1` works for me. Do you have anything special on your setup?

[2019-08-08 08:35] akosyakov commented on #5887
We've merged enhancements to the quick palette yesterday: https://github.com/theia-ide/theia/commit/d47d42ee069f33abcd6383f566e6cab1e48cd503 Could you try before this commit?

If it is reproducible, then it is critical regression and has to be tackled today/tomorrow or reverted.

[2019-08-08 09:07] azatsarynnyy commented on #5887
@akosyakov I've built Theia from the commit 62fe752218b0ad2b334454286313cb47d737c61f and everything works well.
So, most likely the problem has appeared after the https://github.com/theia-ide/theia/pull/4603

[2019-08-08 09:22] azatsarynnyy commented on #5887
@akosyakov it's weird that it works well on your side. I've also tried in Chrome incognito mode and in FF - the same error.

[2019-08-08 09:26] RomanNikitenko commented on #5887
I can reproduce the issue when I don't have opened project
![bug_f1](https://user-images.githubusercontent.com/5676062/62691600-af336900-b9d7-11e9-8f5c-ce271918ed87.png)

[2019-08-08 09:29] azatsarynnyy commented on #5887
yep, it's reproducible with closed workspace only. Thanks, @RomanNikitenko for checking this out!

[2019-08-08 09:30] tolusha commented on #5667
I've just installed the extension [1] for testing purpose in VS Code.
It doesn't show any error messages above. I guess that error message comes from another place.

[1] https://github.com/tolusha/vscode-test-extensions/blob/master/open-some-file-0.0.1.vsix

[2019-08-08 09:30] tolusha commented on #5667
@tetchel Could you tell what the exact usecase is?

[2019-08-08 09:31] azatsarynnyy commented on #5887
BTW after closing a workspace, one more error is reported
[code]

[2019-08-08 09:34] azatsarynnyy commented on #5887
the title/description has been updated with the details

[2019-08-08 09:40] RomanNikitenko commented on #5878
@vince-fugnitto
What extension did you use for testing?
I still can reproduce it using npm extension.

[2019-08-08 09:52] akosyakov commented on #5878
@vince-fugnitto #5869 only make sure that tasks are loaded, the issue seems to be not in the failed loading, but bogus representation

[2019-08-08 11:14] azatsarynnyy opened #5889 "Error is reported after closing a workspace"
### Description

After closing a workspace an error is thrown.

### Reproduction Steps

Close a workspace.

**OS and Theia version:**

**Diagnostics:**

[code]

[2019-08-08 11:17] azatsarynnyy commented on #5887
FYI, I filed the issue https://github.com/theia-ide/theia/issues/5889 related to another error reported on closing a workspace.

[2019-08-08 11:24] vince-fugnitto commented on #5889
Similarly to https://github.com/theia-ide/theia/issues/5833, can you verify if the error is still thrown after executing
the command `Reset Workbench Layout`?

[2019-08-08 12:03] azatsarynnyy commented on #5889
The issue is still reproducible after executing `Reset Workbench Layout` command.
Note, the error isn't thrown when in Chrome incognito mode.

[2019-08-08 12:08] tolusha commented on #5666
@tetchel Is this issue still reproducible since #5665 has been merged

[2019-08-08 12:15] vinokurig commented on #5814
Is fixed by https://github.com/theia-ide/theia/pull/5187

[2019-08-08 12:15] #5814 closed

[2019-08-08 12:16] akosyakov commented on #5517
@elaihau @RomanNikitenko if you can find a moment to write down how it can be done it would helpful. @idoprz would like to have a look into it

[2019-08-08 12:54] vince-fugnitto commented on #5889
Do you have any additional steps to reproduce the issue?
Simply closing a workspace I am unable to get the error :(

[2019-08-08 13:01] azatsarynnyy commented on #5889
yes, just closing a workspace
or opening page with Theia with no opened workspace

[2019-08-08 13:02] RomanNikitenko opened #5891 "Enter is not working in editor"
### Description
Enter is not working in editor

### Reproduction Steps
Open some file and try to use Enter button.

**OS and Theia version:**
Ubuntu 18.04. Chrome.
0953ba77fe0b9c90bd7c122355acedc177ea5d0b

[2019-08-08 13:07] vince-fugnitto commented on #5889
I tested on `master` 0953ba7 and I was unable to reproduce the problem by closing a workspace.
Do you get any other error logs?

[2019-08-08 13:12] azatsarynnyy commented on #5891
reproduced on my side, also

[2019-08-08 13:21] azatsarynnyy commented on #5889
Just the mentioned one, thrown three times.
![image](https://user-images.githubusercontent.com/1636395/62706555-75268f00-b9f8-11e9-9789-55ef6567c537.png)

[2019-08-08 13:23] vince-fugnitto commented on #5891
I believe it's caused during #5865

[2019-08-08 13:25] vince-fugnitto commented on #5889
I see, and you mentioned <kbd>F1</kbd> `Reset Workbench Layout` has no effect?

[2019-08-08 13:26] akosyakov commented on #5891
@vince-fugnitto Could you try before https://github.com/theia-ide/theia/commit/0953ba77fe0b9c90bd7c122355acedc177ea5d0b please to confirm?

[2019-08-08 13:27] azatsarynnyy commented on #5889
correct

[2019-08-08 13:28] akosyakov commented on #5891
@vince-fugnitto you are right, looking at `addKeyListener`: https://github.com/theia-ide/theia/blob/b40a8d54380524dd1a8b05992ebf540b68806e92/packages/core/src/browser/widgets/widget.ts#L206-L209

We should add return statements, i.e.
[code]

Could someone do a PR please?

[2019-08-08 13:28] akosyakov commented on #5891
Also here: https://github.com/theia-ide/theia/commit/f48398e7dbcc9af711089802ad58b6fb05c8b661

we should do `return false` after if

[2019-08-08 13:29] vince-fugnitto commented on #5891
Yes I tried earlier, both 0953ba7 and `HEAD~1` and the problem was in 0953ba7

[2019-08-08 13:37] akosyakov commented on #1118
We've decided no to go with any testing framework, but own against Theia APIs.

[2019-08-08 13:37] #1118 closed

[2019-08-08 13:38] akosyakov opened #5893 "ideas for integration tests"
Just drop your ideas here, please without comment per a user, if you can alway update it. I hope to work on a proper integration testing framework soon and cover typical regressions.

[2019-08-08 13:39] akosyakov commented on #5893
- open command palette test - https://github.com/theia-ide/theia/issues/5887
- editor typing test - https://github.com/theia-ide/theia/issues/5891

[2019-08-08 14:24] #5887 closed

[2019-08-08 14:25] #5891 closed

[2019-08-08 15:08] marechal-p commented on #5887
@akosyakov should we catch errors when executing contribution code?

This issue seems to have happened because somehow the `isVisible` method was throwing and stopped the whole contribution iteration.

[2019-08-08 15:23] vince-fugnitto commented on #5714
Closed in #5665

[2019-08-08 15:23] #5714 closed

[2019-08-08 15:25] #5670 closed

[2019-08-08 17:22] vince-fugnitto commented on #5878
I notice the bug if one configures the task and keeps the `tasks.json` opened (incorrect data is displayed). If one configures the task, closes the `tasks.json` and reloads the application it works correctly.

[2019-08-09 02:12] lsjphd opened #5896 "Is there a reason why the watchFileChanges method should be called continuously?"
In the Theia project, when the browser connects, an nsfw child process is created, and the root URI is attached to nsfw watcher through the watchFileChanges method.
After that, aren't all the files or directories in the workspace recursively detected? Why do I have to add URIs to nsfw via watchFileChanges every time I open the editor?

Is there a reason why you need to monitor additional subdirect

[2019-08-09 02:20] lsjphd opened #5897 "Is there any way to improve the performance of nsfw watcher?"
When I build a large project with theia, a lot of new files are created in the workspace. However, the bottleneck in the callback part that detects the file and informs the result of nsfw causes a slow reflection of the screen while awaiting the watcher response.

In nsfw-filesystem-watcher.ts I tried changing debounce to throttle and removing watcher awaits from the UI to improve usability slight

[2019-08-09 06:23] akosyakov commented on #5897
Could you provide a reproducible example please? It could be related to many things:
- size of a project
- performance of your machine
- OS

Last I've tested with opening my hard drive (around 250G of files) on Mac and i did not encounter issues. Maybe we have some performance regressions.

[2019-08-09 06:27] akosyakov commented on #5878
@RomanNikitenko @vince-fugnitto @elaihau We need to fix https://github.com/theia-ide/theia/issues/5013. The issue is that it will completely change how tasks are loaded from the file. You should consider whether it is worth to invest time into fixing bugs with current approach if it has to be discarded at the end with another. Maybe it would be better already implement loading tasks properly via p

[2019-08-09 06:30] akosyakov commented on #5896
Where does it happen? How can we reproduce it?

By default, Theia should watch only an entire workspace and opened files since they are not necessary belong to this workspace.

[2019-08-09 06:39] akosyakov opened #5898 "[commands] handle command handler errors"
Motivated by https://github.com/theia-ide/theia/issues/5887#issuecomment-519559758

If calling `isEnabled`, `isVisible` or `isToggled` on any command handlers throws it breaks the whole application. We should `try-catch` calls to them in `getActiveHandler`, `getToggledHandler` and `getVisibleHandler` correspondingly for each handler, log with `console.error` on an exception and continue with next

[2019-08-09 06:40] #5819 closed

[2019-08-09 07:10] a1994846931931 opened #5899 "Language server of VSCode's C/C++ plugin does not stop when theia exit"
### Description

VSCode's C/C++ plugin is working pretty well on theia now. But if one stops theia and then relaunch it, an error will be shown which says
[code]

and the plugin will not work at all. I can only have it work again either by removing `/tmp/vscode-unpacked/cpptools-linux.vsix` folder or by killing all the related plugin processes that run in the background even after theia is stopped

[2019-08-09 07:22] akosyakov commented on #5899
@a1994846931931 thanks for the reporting? Do you want to have a look at it?

[2019-08-09 07:53] a1994846931931 commented on #5899
Yes, sure. Don't know what I can do, but I'm working on it.

[2019-08-09 07:59] akosyakov commented on #5899
oh, me neither, it needs some debugging, but pretty sure that you will figure it out

[2019-08-09 08:18] akosyakov commented on #5495
I don't have time to have a look, feel free to grab.

[2019-08-09 08:18] akosyakov commented on #5493
I don't have time to have a look, feel free to grab.

[2019-08-09 08:32] akosyakov commented on #5885
It is up to grab. One can add a refresh command and toolbar item first, and then add `workbench.files.action.refreshFilesExplorer` command to the plugin system which delegates to the navigator command. It could be 2 separate PRs.

[2019-08-09 08:51] ghuntley commented on #2433
Hmmm, one approach would be to toggle the persisted value in the user preferences. I just checked Visual Studio Code's behavior as a reference and it does _not_ persist the value upon restarting the application. I think adding the menu item would suffice and _not_ persisting the value is the route to go.

[2019-08-09 08:55] vinokurig commented on #5882
@tetchel this should be fixed by https://github.com/theia-ide/theia/pull/5900, could you please test

[2019-08-09 09:41] stefanbschneider commented on #5842
Small update:

* The issue with ` no space left on device` was something specific to Docker Toolbox for Windows that I could resolve as described here: https://stackoverflow.com/q/31909979/2745116
* I still can't save file changes and get an error `theia-ide          | root ERROR Request setContent failed with error: EACCES: permission denied, open '/home/project/README.md' Error: EACCES: permissi

[2019-08-09 10:03] stefanbschneider commented on #5842
I now tried running without Docker volume but exactly how specified on your website on Ubuntu:

[code]

I fixed the error message regarding inotify as described above:

[code]

But I still cannot create or edit any files!

[code]

[2019-08-09 11:14] stefanbschneider commented on #5842
If I test running the same command, again on Ubuntu, but with `-v "$(pwd)"` instead of  -v "$(pwd):/home/project:cached", it works and I can create and save files. But I don't see the files of my computer in pwd and vice versa I don't see the newly created files by Theia either.

Could you elaborate what I need to consider when specifying the volume, when not using Docker volume?

[2019-08-09 11:21] akosyakov commented on #5842
Have you granted access inside docker to this folders, like here: https://github.com/theia-ide/theia-apps/blob/7e5031cf3602a3bd59c7bb441e8882e244c98caa/theia-docker/Dockerfile#L22

@marcdumais-work Maybe you can help? or @sr229

[2019-08-09 12:19] akosyakov opened #5902 "targeting es6 as a base (without transpiling to es5)"
Motivated by https://github.com/theia-ide/theia/pull/5901:

There is no issues with supporting es6 in browsers right now, but:
- there is an issue with `Object.keys` for Theia and inversifyjs. TS compiles it to be compatible with `es3` when a target is `es5`, not `es6`. So switching break its semantic. We can fix it though and propose PR for invesifyjs.
- `phosphorjs` transpiled to es5, with es6 c

[2019-08-09 12:20] sr229 commented on #5842
Toolbox isn't exactly a type of flexible machine. It runs a minimal Linux distro with Docker and that's about it. I'll check if this replicates on a Linux environment.

[2019-08-09 12:35] sr229 commented on #5842
Tested with [Google Cloud Shell](https://cloud.google.com/shell/) and [PWD Labs](https://labs.play-with-docker.com) and I was not able to reliably reproduce this. Docker for Windows is not exactly as full featured as its POSIX cousins so you'll need WSL2 as a workaround for now.

[2019-08-09 12:37] stefanbschneider commented on #5842
I'm not talking about Windows anymore at this point. My last to comments, with the access problem were referring to Ubuntu.

[2019-08-09 12:43] sr229 commented on #5842
My mistake, sorry 😅 . I can't reproduce that as well however during my tests with the following environments as well. They were able to access the files as intended. Not sure how did you end up with that, but I'm pretty certain that `:cached` is causing issues with your mount. I also believe your mount is owned by `root` which `theia` has no access to (which is a notorious permission issues with D

[2019-08-09 12:47] stefanbschneider commented on #5842
Inside Theia when started with `docker run -it --init -p 3000:3000 -v "$(pwd):/home/project" theiaide/theia:latest`:

[code]

[2019-08-09 12:58] sr229 commented on #5842
Thank you, I tried my take and this is what I have in my lab test

[code]
It's pretty evident `theia` can't really access the files even they have the proper permissions because they're owned by `root` but you have never granted `theia` to write on `root`'s folder, which you just bind-mounted.

[2019-08-09 13:06] sr229 commented on #5842
https://github.com/theia-ide/theia-apps/blob/7e5031cf3602a3bd59c7bb441e8882e244c98caa/theia-docker/Dockerfile#L22-L25

Keep in mind this lines right here are intended to help with mounts that are just empty or jut mounted from a local directory (which Docker has permission to write to anyways), Docker to Docker PV mounting is a different beast to most use cases of this line.

[2019-08-09 13:11] sr229 commented on #3198
While this is a good patch, keep in mind this is bad Docker practice to NOT use Users.

[2019-08-09 13:20] marcdumais-work commented on #5842
Hi @stefanbschneider ,

What's happening is that the volume is not mounted to `/home/project` in the container, and so what you create in that folder, from inside the container, will be only visible in the container. This is the same as not mentioning the `-v` switch at all.

The permission issues you have are expected, and a generic Docker issue when sharing files between a host and container usi

[2019-08-09 13:41] stefanbschneider commented on #5842
Hm. Lastly, I was just trying to run Theia - even without another Docker container using the same volume. But I can't create/edit files. Because locally I use a different user than `theia`?

If it works for files within the container, I'm thinking to simply build a Dockerfile that builds and then runs both Theia and my own applicaiton in a single Docker without any volume.

I thought this would be

[2019-08-09 13:53] akosyakov commented on #3198
@sr229 Won't you mind if i ping you on docker related issues?

[2019-08-09 14:14] marcdumais-work commented on #5842
Correct - the [uid/gid](https://geek-university.com/linux/uid-user-identifier-gid-group-identifier/) would not be aligned between your host user and container user (the label associated to the users do not matter - so having a `theia` user in both that have different ids would not help)

+1, that should work fine permission-wise.

[2019-08-09 14:37] marcdumais-work commented on #5842
I think by default the different stages share nothing; you would need to use [COPY](https://github.com/theia-ide/theia-apps/blob/master/theia-docker/Dockerfile#L29) to bring over stuff you need from the first stage into the second one. This works well when what you want to copy is all contained in a single folder, like a Theia app, but not so well when spread all over the place, like installed Deb

[2019-08-09 15:26] #5898 closed

[2019-08-09 15:47] uniibu commented on #5810
@maximsachs  Firstly, you cannot do `server_name https://theia.cryptobro.eu:41349;` https://nginx.org/en/docs/http/server_names.html. I'm not sure what is the `41349` port for? Non-standard https port?

Anyway, for the first part(http) it should simply be like this:

[code]

The above will redirect(301) all http connection to your site to https.
For the the 2nd part(https) it would be like this:

[2019-08-09 16:27] tetchel commented on #5882
I verified #5900 works for QuickPick, thanks for that.

But InputBox needs the same change, so please don't close this until we have both.

[2019-08-09 18:15] marechal-p opened #5908 "task: process output is not displayed in a terminal"
### Description

This is different from https://github.com/theia-ide/theia/issues/3791. In this case, we simply don't open a terminal when executing `process` tasks.

The only difference between `shell` and `process` tasks, as per VS Code, is the way arguments are processed and the program executed.

But both task types should display their output in the terminal.

There are very good chances that

[2019-08-10 10:34] sr229 commented on #3198
I don't mind, you can ping me for those issues.

[2019-08-10 18:26] Wicked7000 commented on #5870
I've got a start created for this but had a few questions regarding how we wanted this to work,
currently I'm using the VS code docs as a basis and have made the tasks in pretty much the exact same format as shown on the docs.

`
 {
        "keybinding": "ctrl+alt+/",
        "command": "workbench.action.tasks.runTask",
        "args": "[Task] list current dir"
    },
    {
        "keybinding": "

[2019-08-11 07:43] 502647092 opened #5914 "how to proxy container port use theia ext"
### Description
like gitpod.io proxy container inner port to out

### Reproduction Steps
**OS and Theia version:**
**Diagnostics:**

[2019-08-12 01:28] lsjphd commented on #5896
I didn't think that users could modify files not related to the workspace. Now I understand why watchers should be attached to each editor. Thank you

[2019-08-12 01:28] #5896 closed

[2019-08-12 06:17] akosyakov commented on #5914
@502647092 I think you are better to ask Gitpod community: https://github.com/gitpod-io/gitpod

cc @geropl @svenefftinge @32leaves

[2019-08-12 06:34] akosyakov commented on #5870
I suppose it should be generic functionality and work any command.

For rest questions, please use VS Code behaviour as a reference behaviour and align with it. It would be also good to share your findings with rest of committers via a comment.

Maybe @theia-ide/task-extension have answer already.

[2019-08-12 06:42] vinokurig commented on #5882
@tetchel It should already work with InputBox, I've tested it by modifying the input-box action in the vscode quick-input sample. Could you please try to insert `ignoreFocusOut: true,` after this line: https://github.com/microsoft/vscode-extension-samples/blob/5fb626a4e383c41b8878f94045cff987b92b6bca/quickinput-sample/src/basicInput.ts#L26

[2019-08-12 06:52] a1994846931931 opened #5916 "Syntax highlighting may break after a long line"
### Description

It seems that if a line is longer than 401 chars, contents starting from the 402nd char will be ignored, which may break the syntax highlighting.

JSON
![json-syntax](https://user-images.githubusercontent.com/17487291/62848850-d6f43b00-bd0f-11e9-9280-d546c0c51b25.gif)

C
![c-syntax](https://user-images.githubusercontent.com/17487291/62848902-0e62e780-bd10-11e9-8e23-76b8e04aed62.gi

[2019-08-12 07:14] a1994846931931 opened #5917 "Possible to open multiple editors for a file"
### Description

It's possible to open multiple editors for one file by clicking terminal links with different paths but all lead to the single file.

![duplicate-file-editor](https://user-images.githubusercontent.com/17487291/62849804-9e566080-bd13-11e9-8ad5-6d4898ae973b.gif)

### Reproduction Steps

**OS and Theia version:**
Ubuntu 18.04
Theia b23e3ccd53695df4c539a984655941456590367d

**Diagnost

[2019-08-12 07:48] akosyakov commented on #5917
@a1994846931931 Do you want to have a look? PRs are welcomed. I would try to debug `EditorManager.open` method and see why URIs is different from URI from the navigator. We have to normalize them to make the same.

[2019-08-12 07:49] akosyakov commented on #5916
It is intended, to avoid hanging a browser minified files with a very long single line.

[2019-08-12 07:50] akosyakov commented on #5916
Closing it as a dup of https://github.com/theia-ide/theia/issues/4765. There is a suggestion to make it configurable via a preference. PRs are welcomed.

[2019-08-12 07:50] #5916 closed

[2019-08-12 08:38] a1994846931931 commented on #5917
OK. I am trying to solve it in the `terminal-linkmatcher-files` level.

[2019-08-12 09:25] kpge opened #5919 "Can't refresh explorer when create a new file or delete a file in a complex project"
### Description
Can't refresh explorer when create a new file or delete a file in a complex project, but can refresh in a simple project.
in a complex project, such as theia :
![can not reresh itself](https://user-images.githubusercontent.com/35068357/62855604-4aed0e00-bd25-11e9-84be-dd0bf2016de4.gif)
but the `auto-refresh` works fine in a simple project:
![can reresh itself](https://user-images.g

[2019-08-12 09:35] akosyakov commented on #5919
Here seems to be 2 issues:
- a bug that the navigator is not auto-refreshed
- no ability to force refresh, see also https://github.com/theia-ide/theia/issues/5885

@kpge Help is welcomed. Would you like to have a look what is going wrong?

[2019-08-12 09:40] a1994846931931 commented on #5899
**Diagnostics Update:**
The problem is caused by that the language server is not correctly shut down, and it would relaunch 4 times when it's killed. The correct way to have it shut down is to call the plugin's "deactivate" function. But theia currently doesn't call the "deactivate" function when it exists.

[2019-08-12 11:15] kpge commented on #5919
ok, I will have a look at them.

[2019-08-12 11:16] westbury commented on #3590
Note that this issue occurs on Windows only.  On Linux one sees Symbol(LanguageServerContribution) once in the map, on Windows one sees it twice in the map (both using clean clones of the theia-xtext project).

[2019-08-12 11:17] elaihau commented on #5878
this might be related to an old problem: out `TaskConfiguration.equals()` is not reliable and capable enough to hanle all cases.

Yesterday I started working on a newer version the that function. give me some time testing my code. i will keep you posted.

[2019-08-12 13:17] kittaakos opened #5920 "As an extension developer I want to implement BackendApplicationContribution and CliContribution"
`BackendApplicationContribution#configure`:
[code]

`CliContribution#configure`:
[code]

Results in
[code]

I can work around this but for `1.0` it would be nice to have an API that does not complicates this.

[2019-08-12 14:28] akosyakov commented on #5076
Regarding https://github.com/theia-ide/theia/issues/5076#issuecomment-489894372 unfortunately this code belongs completely to the workbench layer of VS Code and pulls a lot of dependencies. We will have to implement our own UI for it. It is quite involving task.

[2019-08-12 15:25] tetchel commented on #5882
confirmed it does work. sorry, from the PR description i assumed it was quickinput only.

[2019-08-12 19:08] marechal-p commented on #4588
[code]
Should work with latest master, are you able to confirm?

[2019-08-12 19:39] vince-fugnitto opened #5921 "[core] better tabbar support for multi-root workspaces"
**Description**

The tabbar support for multi-root workspaces needs to be improved in order to more easily make the distinction of which root the file resides in. Currently, when hovering over editor tabbars, we display the relative root as an html `title`. This isn't enough in a multi-root workspace.

**Example**

| Roots |Filename 1 | Filename 2 | Expected | Actual |
|:---:|:---:|:---:|:---:|:--

[2019-08-12 20:58] westbury commented on #3590
This issue shows whenever debugging a downstream project on Windows.  For another example see this discussion: https://spectrum.chat/theia/general/unable-to-debug-backend-in-a-theia-extension~b91641ab-5c1a-41a7-a163-ee0b7dbaccbe

Debugging this example on Windows, exactly as cloned from https://github.com/cherxp/frontend-backend-theia-extn, and looking at the contribution map we see Symbol(Connect

[2019-08-12 21:27] westbury commented on #3590
And doing the exact same steps on Ubuntu I see just the one entry for ConnectionHandler with all 11 contributions:
![Screenshot from 2019-08-12 22-26-31](https://user-images.githubusercontent.com/87310/62899710-4e49bf00-bd50-11e9-86f6-9ce002a1c628.png)

[2019-08-12 23:18] vince-fugnitto opened #5922 "[plugin] fix 'ps-tree' hoisted plugin warning"
**Description**

Upon building the application, there is a warning regarding the `ps-tree` dependency:

[code]

There is a mismatch present between the `plugin-dev` and `plugin-ext` extensions:

https://github.com/theia-ide/theia/blob/11badc80598254e8c78a204b7b93c2368a300fe4/packages/plugin-dev/package.json#L16

https://github.com/theia-ide/theia/blob/11badc80598254e8c78a204b7b93c2368a300fe4/packa

[2019-08-13 01:38] kpge commented on #5919
this is duplicate with #239 and #938,
after I increased my default inotify watches, it is resloved:
`echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`
I think we should show a warning message in the browser to notify user to change the default config or click force refresh button.

[2019-08-13 05:51] akosyakov commented on #5920
I'm not sure how we can handle it without breaking.

[2019-08-13 05:53] #5882 closed

[2019-08-13 06:02] akosyakov commented on #3590
@westbury could you please run `yarn why @theia/core` on windows for this project and paste output here

[2019-08-13 06:07] akosyakov commented on #5919
@kpge if it is not invasive then it could be helpful. We have `Troubleshooting` section here which can be referenced as a link from the notification.

[2019-08-13 06:09] akosyakov commented on #5899
It seems to be called here: https://github.com/theia-ide/theia/blob/d9bb466013049e272666bdbe3aee60d74ecd30f3/packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts#L131

[2019-08-13 06:13] akosyakov commented on #5899
Could you try to revert https://github.com/theia-ide/theia/commit/797db759bcdde66c8bbabf2ab0b041bc7d887d30 and see whether it helps?

My assumption is that main process exits without terminating the plugin host process properly at all.

[2019-08-13 06:52] a1994846931931 commented on #5899
I added the line `this.hostedPluginProcess.terminatePluginServer();` back here,
https://github.com/theia-ide/theia/blob/797db759bcdde66c8bbabf2ab0b041bc7d887d30/packages/plugin-ext/src/hosted/node/hosted-plugin.ts#L90-L92

so that it becomes
[code]
but it doesn't work. It seems that function `terminatePluginServer` isn't called at all, when theia exists.

[2019-08-13 07:04] mmorhun opened #5925 "Status bar items should have length limit"
### Description
Now items in status bar don't have any limitation in length. If an item displays long line of text it will gone over right border and hide all the status bar items to the right of current one (left and right aligned ones, including `Toggle Bottom Panel` button).

On the screen below one left aligned item is gone as `Toggle Bottom Panel` does.
![java-ls](https://user-images.githubus

[2019-08-13 07:21] akosyakov commented on #5899
Usually we follow the pattern that a child process listen to whether parent process exists, if it does not then it exits as well, gracefully. We need to apply it for the plugin system as well. @theia-ide/plugin-system Is there any concerns?

[2019-08-13 07:22] akosyakov commented on #5925
@mmorhun How does it look like in VS Code btw?

[2019-08-13 07:52] yeweiasia opened #5926 "snippet suggestion does not replace the input string"
### Description
snippet suggestion does not replace the input string, just append snippet to it

### Reproduction Steps
![autocompletion1](https://user-images.githubusercontent.com/16164849/62924018-c57b6380-bde1-11e9-898c-d61e29714acf.gif)

**OS and Theia version:**
ubuntu 18.04
theia 0.9.0
chrome 76.0.3809.100

**Diagnostics:**

[2019-08-13 08:01] 502647092 opened #5927 "[vscode] vscode ext can't get file"
### Description
[code]

### Reproduction Steps

- Press F1
- Deploy Plugin By Id
- input `ext install ms-kubernetes-tools.vscode-kubernetes-tools`
- until install finish
- refresh theia

**OS and Theia version:**
latest next version

**Diagnostics:**

[2019-08-13 08:04] akosyakov commented on #5926
PRs are welcomed! The issue is somewhere here: https://github.com/theia-ide/theia/blob/master/packages/monaco/src/browser/monaco-snippet-suggest-provider.ts#L22

[2019-08-13 08:05] akosyakov commented on #5927
@502647092 Is it regression?

[2019-08-13 08:07] #3434 closed

[2019-08-13 08:28] 502647092 commented on #5927
i print error
maybe is path problem
[code]
[code]

[2019-08-13 08:31] yeweiasia commented on #5926
aha, I will take a look

[2019-08-13 08:40] mmorhun commented on #5925
Tried with the same extension. VS Code shows some part of message depending on free space. But does it smart: if there is a little - only main info is displayed. If we have more space some additional status is show (what specific component which is in progress now). But it's not like hide the tail.

[2019-08-13 08:43] jankeromnes opened #5928 "Prettier VS Code extension sometimes makes `Format Document` behave erratically"
### Description

When I install the Prettier VS Code extension in Theia (Gitpod), `Format Document` seems to start behaving erratically, sometimes deleting or repeating random sequences of characters.

Here is a screencast: https://youtu.be/VyrfhW9gQ4I

### Reproduction Steps
1. Open the shields.io repository in Gitpod: https://gitpod.io/#https://github.com/badges/shields
2. Open any `.js` file
3.

[2019-08-13 09:35] tsmaeder commented on #5899
@akosyakov the approach is OK for a local plugin host process, but in Che we run plugin host processes remotely. Maybe an approach detecting connection loss would work better accross both scenarios?

[2019-08-13 09:41] akosyakov commented on #3590
@westbury thanks, it looks good. It would be interesting to know how it happens that 2 different symbols are created for the symbol contributed from the same file. Would it be possible to put a breakpoint [here](https://github.com/theia-ide/theia/blob/2e2dd3f895b3af337f9c70e0d119e80d4ee33e61/packages/core/src/common/messaging/handler.ts#L19) and see why this file is loaded twice and not reused sec

[2019-08-13 09:51] tom-shan opened #5930 "Debug button remains opaque"
### Description
When the debug button is clicked, this button remains opaque and will be
transparent only after another click event occurred in the same page.
![debug-button](https://user-images.githubusercontent.com/7686800/62932001-eb106900-bdf1-11e9-8031-7e3532937808.gif)

### Reproduction Steps

1 start debug session, you can use [this node demo repo](https://github.com/microsoft/vscode-remote

[2019-08-13 09:56] akosyakov commented on #5930
PRs are welcomed.

@tom-shan maybe you can tweak styles a bit in the debug extension to fix it

[2019-08-13 09:58] akosyakov commented on #5899
@tsmaeder I thought you run Theia instance in each side container which spawns the plugin host process?

[2019-08-13 10:03] westbury commented on #3590
The breakpoint is hit just once:
![image](https://user-images.githubusercontent.com/87310/62933328-dd3ef180-bdb9-11e9-9c04-17c37b81256e.png)

[2019-08-13 10:18] westbury commented on #3590
I was wondering if anyone has a Mac they can try this on.  The reason I ask is that articles have mentioned the problems caused by a case-insensitive file system on the symbol cache, and the nodejs.org link above also mentioned this.  I don't know how the case insensitivity could explain what we are seeing but knowing if the problem occurs on the Mac might help hone in on the cause.

[2019-08-13 10:31] yeweiasia commented on #5926
https://github.com/theia-ide/theia/pull/5931

[2019-08-13 10:47] #5922 closed

[2019-08-13 10:48] #5921 closed

[2019-08-13 11:06] tsmaeder commented on #5899
We run a "partial" theia instance, but that just bumps the problem up to that theia instance: when does it go away? Btw: what does "stop Theia" mean in that instance? Killing the back end or closing a browser window?

[2019-08-13 11:20] #5927 closed

[2019-08-13 11:22] akosyakov commented on #5899
It means when Theia instances is terminated somehow. I think in your case it would be also useful to terminate the plugin host process gracefully if "partial" theia instance is gone.

[2019-08-13 11:54] Limorerez opened #5934 "open workspace dialog tree is missing the root name"
### Description
I've created an extension in which I subclass WorkspaceFrontendContribution and overwrote the implementation of **doOpenWorkspace**. The only change is that I transfer a different _rootStat_ parameter to **showOpenDialog**.  What I achieved is that each time a user presses the openWorkspace command, a dialog is opened with the specific folder at the root of the tree.
This worked fi

[2019-08-13 12:09] vince-fugnitto commented on #5934
@Limorerez do you notice any logs in the console?

[2019-08-13 12:39] Limorerez commented on #5934
@vince-fugnitto Nothing suspicious: only this:
[Report Only] Refused to apply inline style because it violates the following Content Security Policy directive: "style-src 'self'". Either the 'unsafe-inline' keyword, a hash ('sha256-F61EvOA9NwjZ9kdSTa3QEi8NXmQcexrgecdeMw6Hqik='), or a nonce ('nonce-...') is required to enable inline execution.

[2019-08-13 12:43] vince-fugnitto commented on #5934
@Limorerez I assume the extension itself is closed source? Else I'd gladly take a look at it for you.

[2019-08-13 13:02] vince-fugnitto commented on #5934
I used the code you provided and updated the repo's `doOpenWorkspace()` method and it
worked correctly.

For reference:

[code]

[2019-08-13 13:16] Limorerez commented on #5934
@vince-fugnitto Is it possible that I should not use / at the end of the folder path?
This is the only difference I can see between my code and yours:
const HOME_USER_PROJECT_FOLDER = '/home/evinfug/Desktop/aaa';
vs
const HOME_USER_PROJECT_FOLDER = "/home/user/projects/";

[2019-08-13 13:24] vince-fugnitto commented on #5934
I updated the code to have the path `/home/evinfug/Desktop/aaa/` and I get the behavior you mentioned, the trailing `/` looks to be the issue. There was probably recent developments that may have changed URIs.

[2019-08-13 13:25] Limorerez commented on #5934
Great..Thanks a lot!

[2019-08-13 13:27] vince-fugnitto commented on #5934
You're welcome :)

[2019-08-13 13:31] vince-fugnitto commented on #5934
@akosyakov should the issue be closed, or is there something on Theia's end that needs to be done?

[2019-08-13 13:32] #5934 closed

[2019-08-13 13:32] akosyakov commented on #5934
I wonder why the parent display name is empty. I will expect that for `/home/evinfug/Desktop/aaa/` , parent dir is `/home/evinfug/Desktop/aaa`, not an empty.

[2019-08-13 13:49] #5930 closed

[2019-08-13 13:49] Limorerez commented on #5934
I agree. This is a new behavior.

[2019-08-13 14:35] #5908 closed

[2019-08-13 14:53] svenefftinge opened #5936 "[SCM] Git init command"
In case the workspace isn't a git repository (or other SCM repository) there is a weird message in the SCM widget. The SCM provider's should be asked if they can init a workspace and in case they do show a button to the user.

Leaving all the abstraction stuff aside, there should be a button to init a git repository :)

[2019-08-13 14:57] vince-fugnitto commented on #1142
I believe this issue should be closed.
We have the same behavior as VSCode, tree nodes can be collapsed/expanded using <kbd>ENTER</kbd>

[2019-08-13 15:00] JanKoehnlein commented on #1142
Checking with VSCode again, in the explorer `RETURN` on a node triggers rename and doesn't expand.

[2019-08-13 15:14] vince-fugnitto commented on #1142
I tested against the latest `vscode` (I also don't have any custom keybindings):

<div align='center'>

![Peek 2019-08-13 11-11](https://user-images.githubusercontent.com/40359487/62953301-45420780-bdbb-11e9-9e13-798675a68af5.gif)

</div>

[2019-08-13 15:20] JanKoehnlein commented on #1142
Also latest VSCode, but on a MacBook, German keyboard. There is no additional ENTER key as on Windows, just RETURN: RETURN triggers rename.

[2019-08-13 15:35] vince-fugnitto commented on #1142
@JanKoehnlein I initially tested on Linux. I re-tested using Mac and I see that <kbd>ENTER</kbd> triggers a rename in the navigator. The fix then is thus likely to be OS-dependent.

[2019-08-13 15:45] fangnx opened #5937 "[core] add `Copy (Relative) Path` to the tab's context menu"
### Description
As a user, I would like to have `Copy Path` and `Copy Relative Path` options present in the tab's context menu. It exists in VS Code and it can be quite useful for programming/development in general.

[2019-08-13 15:53] andyli opened #5938 "Haxe language support extension not working"
### Description

The [Haxe language support extension](https://marketplace.visualstudio.com/items?itemName=nadako.vshaxe) should provide code completion, but it doesn't work in gitpod.

### Reproduction Steps

My test gitpod branch can be found at https://github.com/andyli/jQueryExternForHaxe/tree/gitpod

Press F1, and select "Haxe: Select Configuration". It should show 4 selection items, which ar