[2020-05-11 15:10] vartanbeno commented on #7790
I can confirm that long pressing emulates a right click on my iPad.

[2020-05-11 15:13] vartanbeno commented on #3557
I noticed two things:

1. The inability to dismiss context menus, which is tracked in #6322.
2. I can open up multiple context menus at once if I do multiple long presses.

[2020-05-11 15:18] jankeromnes commented on #3557
@vartanbeno Thank you for reporting these!

Which version of iOS are you using? I was also seeing these issues all the time, but since a recent iOS upgrade on my iPad (to iOS 13 I think), context menus are now always dismissed when I tap outside of them (thus I can't open multiple context menus).

On my Android Pixel phone, I also don't see these problems anymore, so maybe they're platform/browser

[2020-05-11 16:15] joazvsoares opened #7791 "files.associations is breaking PHP features and probably affecting other languages too"
### Bug Description:

During my tests I have found that when I add `file.associations` to the `settings.json` file, the PHP language features are gone and the syntax highlighting stops working, the association with other extensions (.inc) to the PHP language doesn't work too.

### Steps to Reproduce:

1. test using one of the following approaches:
    - [theia-php:latest](https://hub.docker.com/r/

[2020-05-11 16:30] vince-fugnitto commented on #7791
I attempted to reproduce the problem in this repo by including the extensions
(taken from theia-php):

[code]

I was unable to reproduce the problem, and adding associations to `php` also worked correctly:

[code]

I'll need to verify if the behavior in the image is also consistent.

[2020-05-11 16:41] vince-fugnitto commented on #7791
@joazvsoares I am unable to reproduce the issue on the docker image `theia-php` as well.

[2020-05-11 16:46] XenfoMC commented on #7790
Ok. Seems to work now.

[2020-05-11 16:47] joazvsoares commented on #7791
@vince-fugnitto it only stops working for me after I changed the preferences and reloaded the page, could you try that?

[2020-05-11 16:48] vince-fugnitto commented on #7791
I see now, I'll update the issue to be a bit clearer :)

[2020-05-11 16:51] joazvsoares commented on #7791
Sorry, I should have mentioned that step in the description! Thank you!

[2020-05-11 17:17] #7790 closed

[2020-05-11 19:51] akosyakov commented on #6322
btw we implemented dismissal of the previous context menu in Theia: https://github.com/eclipse-theia/theia/pull/7692

[2020-05-11 20:39] marcdumais-work commented on #7712
Update: the first two items above are ready. The VS Code Builtin extensions v1.44.2 were published to open-vsx.org last week and the example app in this repo is [now using them for the most part](https://github.com/eclipse-theia/theia/blob/master/package.json#L83-L147)

[2020-05-12 07:20] akosyakov commented on #7712
@marcdumais-work I wonder how we can routinise it?

[2020-05-12 07:21] akosyakov commented on #6322
I mean is it still the case or we can close it now?

[2020-05-12 07:55] akosyakov opened #7794 "scm input is not styled properly"
It is a recent regression. See for details: https://github.com/eclipse-theia/theia/pull/7769#issuecomment-627176542

[2020-05-12 08:11] #4902 closed

[2020-05-12 08:11] #5764 closed

[2020-05-12 08:11] #6920 closed

[2020-05-12 08:11] #6929 closed

[2020-05-12 08:11] #6948 closed

[2020-05-12 08:14] akosyakov opened #7795 "cursor jumps for editor decorations contributed by plugin system"
It's reproducible against GitLens extension, see https://github.com/eclipse-theia/theia/pull/6921#issuecomment-624681592

[2020-05-12 08:16] akosyakov opened #7796 "view toolbar does not reflect proper icon on click"
It's reproducible with GitLens VS Code extension: https://github.com/eclipse-theia/theia/pull/6921#issuecomment-624706475

But broken generally for the view container, we just don't have actions in this repo changing icons on click.

[2020-05-12 08:35] #7446 closed

[2020-05-12 09:34] davide-sergi opened #7797 "Theia Electron Application - Proxy settings"
I noticed that in vscode there are a number of predefined settings to act on (please refer to [this file](https://github.com/microsoft/vscode/blob/03a7223ee2a086bbcf028801da9370d5deff5093/src/vs/platform/request/common/request.ts#L76-L106) ), so it's possible to have something like that for theia.

### Feature Description:
In my mind, Theia should be able to get proxy configurations from its setti

[2020-05-12 12:23] lmcbout commented on #7712
Looking inside the package.json for the builtins, I see it requires node >12
- vscode-builtin-npm
      "@types/node": "^12.11.7"
- vscode-builtin-markdown-language-features
      "@types/node": "^12.11.7"

[2020-05-12 12:36] #7462 closed

[2020-05-12 12:36] westbury commented on #7794
This issue can be seen only when switching to another workspace that has not been previously opened.  Create a new folder and copy a project into it.  Then open the workspace to see the issue.  The problem does not occur if you open a workspace that has been opened before.

The problem is very transient.  If you type in the commit box, or open dev tools or do just about anything then the problem g

[2020-05-12 12:37] #7734 closed

[2020-05-12 12:48] akosyakov commented on #7693
I'm going to look into otherwise i have to change code copied from vscode extension host process and i don't want to deviate.

[2020-05-12 12:50] akosyakov commented on #7712
That seems to be only typings, does it break anything?

[2020-05-12 13:44] akosyakov opened #7800 "investigate integration tests log output against latest built-in"
There are some worrying messages although tests are not failing. We should make sure that tests fail and then fix them.

- [ ] TextEditor has been disposed
[code]
- [x] Invalid Completion Item -> must be single line and on the same line
[code]
- [x] TypeError: Converting circular structure to JSON
[code]
- [x] Failed to fetch children for 'references-view.tree' TypeError: Cannot destructure proper

[2020-05-12 15:01] azatsarynnyy opened #7802 "Impossible to run a task w/o a problem matcher specified"
### Bug Description:
It's impossible to run a task w/o a problem matcher specified.

### Steps to Reproduce:

1. Run any task w/o a problem marcher specified.
2. Theia should ask you what problem matcher to use.
3. Actually, the list of problem matcher is empty

![image](https://user-images.githubusercontent.com/1636395/81708867-31c2ea80-947a-11ea-93a5-edcb5f0c1dec.png)

### Additional Information

[2020-05-12 15:03] azatsarynnyy commented on #7802
It works before this PR https://github.com/eclipse-theia/theia/pull/6921 changes, on commit `3f28503e754bbb4fa6534612af3d1ed6da3ed66a`.
But it doesn't work after the mentioned PR, on commit `362e8f13e97a850387c103e8e7ee29d6e36b873e`.

cc/ @akosyakov

[2020-05-12 15:18] akosyakov commented on #7802
@azatsarynnyy i will look at it tomorrow morning

[2020-05-12 17:31] vince-fugnitto commented on #2698
I believe with the recent preferences-widget updates the bug is no longer an issue?

[2020-05-12 17:49] joazvsoares commented on #7791
Hi @akosyakov @vince-fugnitto
I can try to help on this one if I get some hints on what could be causing the issue, is there any guess?

[2020-05-12 19:18] lmcbout commented on #7712
I was just mentioning that the 2 Builtins not working are both referencing this version of @type/node

[2020-05-12 19:22] vince-fugnitto commented on #7712
@lmcbout I don't believe the `node` version for these extensions is the reason they are not working, you can see that there are missing APIs. Moreover, it looks like many of the extensions have this node `@types` version:

<img width="536" alt="Screen Shot 2020-05-12 at 3 22 05 PM" src="https://user-images.githubusercontent.com/40359487/81736313-5ca24400-9464-11ea-93df-1404b5af45b8.png">

[2020-05-12 21:13] bendavis78 commented on #2842
I noticed gitpod has a sharing feature. Is this proprietary, or is it using some functionality built within Theia? https://www.gitpod.io/docs/sharing-and-collaboration/

[2020-05-12 22:06] bendavis78 commented on #2842
@sunix was there any progress on this at GSoC?

[2020-05-13 07:29] #7693 closed

[2020-05-13 07:40] akosyakov commented on #7794
@westbury are you going to look into the fix or would it be fine if somebody else?

[2020-05-13 07:41] akosyakov commented on #2980
1.0 was released: https://dev.to/svenefftinge/theia-1-0-finally-a-good-browser-ide-3ok0

[2020-05-13 07:41] #2980 closed

[2020-05-13 07:42] #2698 closed

[2020-05-13 07:46] akosyakov commented on #7791
trying to investigate...

@vince-fugnitto btw why we don't have vscode-builtin-php by default in our example applications, we should have as much as possible, do you know whether we excluded something else?

[2020-05-13 07:49] akosyakov commented on #7802
that's even worse: try to change language or encoding of an editor, it just shows an empty quick pick.

[2020-05-13 08:18] akosyakov commented on #7802
@azatsarynnyy here is the fix: https://github.com/eclipse-theia/theia/pull/7804

[2020-05-13 08:43] akosyakov commented on #7791
I think it is caused by https://github.com/eclipse-theia/theia/issues/5017, i.e. on reload:
- an editor for `.gitignore` is opened as plain text first
- then languages are applied but they do nothing since `.gitingore` is not covered for php
- then associations are applied but they do nothing because of https://github.com/eclipse-theia/theia/issues/5017

I will send a PR. It is a bit tricky since

[2020-05-13 09:12] #7802 closed

[2020-05-13 09:16] akosyakov commented on #7349
VS Code extensions are allowed to use Node.js 12 API. It can become a problem if some will do.

[2020-05-13 12:45] azatsarynnyy commented on #7697
We'll work on it during May. Most likely, starting next week.

[2020-05-13 12:47] akosyakov commented on #7781
done?

[2020-05-13 13:34] lmcbout commented on #7781
Done, but I am looking at the errors reported on the console. Will raise new issues about it

[2020-05-13 13:34] #7781 closed

[2020-05-13 13:47] vince-fugnitto opened #7808 "debug: add support for 'showUser'"
#### Feature Description:

The message specification for the [**debug adapter protocol**](https://microsoft.github.io/debug-adapter-protocol/specification) has a property known as `showUser` which is used to display notifications to end-users in the event of an error from a request.

At the moment, the framework does not have handling for such a property nor does it display notifications to end-us

[2020-05-13 13:51] lmcbout opened #7809 "TypeError: i.workspace.onDidRenameFiles is not a function when using builtin version 1.44.2"
### Bug Description:
With the latest builtin version 1.44.2, I see the following error on the console.log when working with typescript file.
root ERROR [hosted-plugin: 1469] Promise rejection not handled in one second: TypeError: i.workspace.`onDidRenameFiles is not a function` , reason: TypeError: i.workspace.onDidRenameFiles is not a function
root ERROR [hosted-plugin: 1469] With stack trace: **

[2020-05-13 13:53] vince-fugnitto commented on #7809
The issue is already being tracked and worked on:
- issue: #7171
- pull-request: https://github.com/eclipse-theia/theia/pull/7718

[2020-05-13 13:53] #7809 closed

[2020-05-13 13:56] vince-fugnitto commented on #7245
Thank you for the issue!
Closing since we have a more up-to-date issue tracking the incompatibility: https://github.com/eclipse-theia/theia/issues/7779

[2020-05-13 13:56] #7245 closed

[2020-05-13 14:18] lmcbout opened #7810 "No Typescript suggestions for Typescript files when using builtin version 1.44.2"
### Bug Description:
With the latest builtin version 1.44.2, I see the following error on the console.log when working with typescript file:

[code]

### Steps to Reproduce:

1. Open a type script file
2. Type "this."
--> The auto-suggestion should show suggestions other than the data already in the file, no typescript suggestions and an error is reported on the console

### Additional Information

[2020-05-13 14:28] owlJaeger opened #7811 "windowState not saving anymore."
### Bug Description:
Due to #7787 the `windowState` is not saving anymore. I am sorry, I've noticed that before it was merged and reviewed my own code to mention it, but that review was only visible to me somehow and thus noone read it and it was merged. My alternative PR #7803 doesn't have that problem and also reverts #7787. It should get merged as client's lose `windowState` storing.

### Steps

[2020-05-13 15:19] dono1986 commented on #4541
I'm still interested in a pkg / nexe solution for windows. The idea is to be able to package theia to a distributable .exe file without having node.js to be installed. That way a domain specific IDE could be bundled with other software

[2020-05-13 15:25] lmcbout opened #7813 "TypeError: Cannot read property 'items' of undefined when selecting "Find All implementations""
### Bug Description:
Selecting in the context menu -> Find All implementations
generates the following error:

[code]

### Steps to Reproduce:

1. Open Theia, select a file (quick-view-service.ts)
2. From the context menu, select "Find All Implementations"
--> Observe on the console, the error is reported

### Additional Information

- Operating System: Ubuntu 18.04
- Theia Version: Latest
- Built

[2020-05-13 16:11] vince-fugnitto commented on #7813
@lmcbout the command still works correctly for me (it displays the implementations), is the same case for you?

1. open `quick-view-service.ts`
2. highlight `QuickOpenModel`
3. execute the command '**Find All Implementations**'

<div align='center'>

<img width="1088" alt="Screen Shot 2020-05-13 at 12 10 39 PM" src="https://user-images.githubusercontent.com/40359487/81837382-cbd67180-9512-11ea-88f

[2020-05-13 16:23] vince-fugnitto commented on #7778
I do not believe there is anything to do here, it should be up to the user to determine when to clean (and automatic cleans will likely result in more issues than it solves).

This is another reason not to do automatic cleans.

[2020-05-13 16:23] #7778 closed

[2020-05-13 16:47] westbury commented on #7794
@akosyakov sorry, I'm a bit busy at this moment.  I was hoping someone would immediately know what was going on.  I don't know where those style properties are coming from, nor who or what is making the height usually be there but occasionally not be there.  If someone else has time to look that would be great.

[2020-05-13 18:50] westbury commented on #7794
I had another quick look.  The height is being set in autosize package which is a dependency of react-autosize-textarea.  I found that adding a couple of lines to ensure an update does fix the problem.  See https://github.com/eclipse-theia/theia/tree/fix-commit-height .  However I do not understand why the update should be necessary.  Hopefully someone else will understand all this better.

[2020-05-13 18:59] vince-fugnitto commented on #7156
I did some quick tests to try and identify the issue and I noticed one anomaly when in electron.
I verified the behavior of the [cat-coding webview sample](https://github.com/vince-fugnitto/webview-example/releases/download/1.0.0/cat-coding-0.0.1.vsix) in both the browser and electron and noticed that the method `loadResource` is called on the browser but never electron:

https://github.com/eclips

[2020-05-13 19:43] lmcbout commented on #7813
@vince-fugnitto Yes, it display some information, but there is still the error log on the console. The priority to fix it is low since it returns some data

[2020-05-13 19:46] vince-fugnitto commented on #7813
It looks like it still works, I’m not sure when the error is reported it is likely only when there are no implementations available. The logging should not be harmful.

[2020-05-13 20:21] TravisEz13 commented on #7789
for me at step 5 I see this:
![image](https://user-images.githubusercontent.com/10873629/81861039-7acb7b00-951c-11ea-9c8a-fd231b14099c.png)
but it commits the addition of the file which is what I would expect.
and in the git tab, I still have the deletion of the file as a change, yet to be staged/commited.

[2020-05-13 22:20] RDIL commented on #7789
Alright so this is only in Theia

[2020-05-13 23:14] leo-lb commented on #7697
Cool! Thanks @azatsarynny - rust-analyzer support (requiring newer Monaco) will be awesome!!

[2020-05-14 06:40] akosyakov commented on #7813
Getting rid of such logging is good as well, plus sometimes it reveals some incompatibilities to support VS Code extensions, then it should be fixed.

[2020-05-14 06:42] akosyakov commented on #7156
There is a service worker that intercept requests from webview iframe and dispatch to the main window. Could you check that such service worker is running? If not why, if so then you can debug while it does not dispatch.

[2020-05-14 07:04] #5017 closed

[2020-05-14 07:04] #7791 closed

[2020-05-14 07:09] akosyakov commented on #7794
@westbury I will have a look at it.

[2020-05-14 08:05] davide-sergi commented on #6601
Also on my side. In hosted mode, the frontend plugin is displayed correctly in Plugins View panel but  it is not loaded correctly, so there is no contributions from it.
The difference is that I'm not able to find any error messages related inside logs.

[2020-05-14 08:35] katelynienaber opened #7815 "VSCode's TreeView.reveal() function does nothing in Theia"
### Bug Description: VSCode's TreeView.reveal() function does nothing in Theia (same function works in regular VSCode)

### Steps to Reproduce:
My custom VSCode tree looks like this, very simple:
[code]

I am trying to run this function:
[code]
If item = parentNode, then parentNode is expanded and selected properly.
If item = childNode, then nothing happens
If I expand parentNode by clicking on th

[2020-05-14 08:37] jeluard opened #7816 "GitLens support"
### Bug Description:

[GitLens](https://github.com/eamodio/vscode-gitlens) doesn't work with theia 1.1.0

### Steps to Reproduce:

1. Add GitLens as a theiaPlugins
2. Start theia

Some error messages are displayed and the extension can't be used:

[code]

[code]

### Additional Information

- Operating System: OSX
- Theia Version: 1.1.0

[2020-05-14 09:04] akosyakov commented on #7816
@jeluard Pleas try against latest master. The PR was landed only this week: https://github.com/eclipse-theia/theia/pull/6921 See `How to test` for configuration.

[2020-05-14 09:05] akosyakov commented on #7815
There was a bug which was fixed this week: https://github.com/eclipse-theia/theia/pull/6921/commits/2f06b86f9e4e9f53e7ab96f20b187338b74cf241 Pleas try the latest master.

[2020-05-14 09:37] katelynienaber commented on #7815
Thank youu!

[2020-05-14 09:37] #7815 closed

[2020-05-14 11:12] #6190 closed

[2020-05-14 12:05] sunix commented on #2842
hello yes, we will continue on this, this summer: so far, we have a Atom Teletype guest that is starting to work on VSCode.

[2020-05-14 12:10] #7768 closed

[2020-05-14 12:32] akosyakov commented on #7794
Also SCM input is not preserved between reloads.

[2020-05-14 13:34] jeluard commented on #7816
Nice! Thanks

[2020-05-14 13:34] #7816 closed

[2020-05-14 14:12] vince-fugnitto commented on #7156
Thank you for the pointers @akosyakov, through logging I actually do not see the service-worker running on electron, but it is on the browser. I'll try to investigate further why this is the case.

[2020-05-14 14:43] kittaakos opened #7819 "As an extension developer I want yarn to fail fast if the VS Code extensions cannot be downloaded"
### Bug Description:

Right now, https://open-vsx.org/ is down.

![Screen Shot 2020-05-14 at 16 38 10](https://user-images.githubusercontent.com/1405703/81947842-4f6e8c00-9601-11ea-9f4d-ba22193ca75d.jpg)

I want `yarn` to fail fast if the VS Code extension download phase has failed. Otherwise, I get a green build with a non-functional app.

Locally:
[code]

With GH Actions:
[code]

### Steps to Re

[2020-05-14 14:58] vince-fugnitto commented on #7819
@kittaakos at which point do you want the build to fail fast?

We require that `@theia/cli` is built before we are able to successfully run the `download:plugins` script (which is why it is called after the official `yarn` phase since it has no affect on the actual build of the application).

[2020-05-14 15:04] kittaakos commented on #7819
Sorry, I meant to fail ~fast~ at the end 😊More precisely, I want a non-zero exit code if something has not been downloaded. It must not be the default behavior, we did something similar with the dependency hosting check. It logs a warning by default.

I want to avoid one thing: having a green build without the VS Code extensions.

[2020-05-14 15:04] vince-fugnitto commented on #6022
Thank you for the issue, at the moment localization is still not yet supported.
Closing as it is a duplicate of https://github.com/eclipse-theia/theia/issues/5000.

[2020-05-14 15:04] #6022 closed

[2020-05-14 15:06] vince-fugnitto commented on #7819
Thank you for clarifying!

[2020-05-14 15:36] vince-fugnitto commented on #7156
I found the following electron limitation regarding **service-workers** and a corresponding vscode issue:
- https://github.com/electron/electron/issues/20248#issue-494325314
- https://github.com/microsoft/vscode/issues/83188#issue-511598573

It looks like electron does not support service workers created with a custom protocol.

[2020-05-14 17:44] akosyakov commented on #7156
I don’t think it applies to us, we don’t use any electron apis or custom protocols, only standard web apis and iframes. That’s what vs code want to have eventually.

[2020-05-14 17:45] akosyakov commented on #7156
Did you manage to debug it and see what is the root cause?

[2020-05-14 17:46] vince-fugnitto commented on #7156
@akosyakov no I wasn't able to successfully debug it and determine the root cause yet.

[2020-05-14 19:24] akosyakov commented on #7156
<img width="1306" alt="Screenshot 2020-05-14 at 21 22 55" src="https://user-images.githubusercontent.com/3082655/81976613-19450280-9629-11ea-8248-0bdb9641ec4f.png">

There are 2 issues:
- webview hostname placeholder is resolved without port in Electron
- our security token is not applied to subdomains of localhost

[2020-05-14 19:54] akosyakov commented on #7156
@svenefftinge @marcdumais-work @marechal-p I wonder how we should go about security token for iframes? Webview URL is dynamically generated to deploy it on own origin and isolate from the main window context, so it does not have access to cookies and so on.

[2020-05-14 21:22] marechal-p commented on #7156
@akosyakov write the security cookie in a way that they would be shared across subdomains?

[2020-05-14 22:04] amiramw opened #7825 "Icons not based on file extension when file name contain "config""
### Bug Description:
It seems that files with the text 'config' in their name gets special icon regardless of their suffix. For what it worth this does not happen on VS Code

### Steps to Reproduce:

Create two files in project:

1. gggconfig12.hdbvirtualtable
2. ggg12.hdbvirtualtable

Expection: Both should have the same icon
Actual: They have different icons in explorer.

In theia:
![image](http

[2020-05-14 23:53] vince-fugnitto commented on #7825
@amiramw it is not truly a fair comparison (between theia and vscode) since you are not comparing with the same file-icon theme in both instances. This is what is seen when using `seti` (the default icon theme for vscode):

| Theia (Default Theme) |  Theia (Seti Theme) |
|:---:|:---:|
| <img width="280" alt="Screen Shot 2020-05-14 at 7 44 56 PM" src="https://user-images.githubusercontent.com/40359

[2020-05-15 01:13] marcdumais-work commented on #7712
Yes, we should be. Not much missing to automatically package and publish nightly - still working on it.

There's also an incoming enhancement in open vsx to add a stable URL for the most recent `preview` release in addition to the one for the `stable` version, of any given extension. So if we are willing to accept (occasional?) breakage here for the example app, we can eventually use the `preview`

[2020-05-15 01:41] a1994846931931 commented on #4541
I am trying to package theia as binary with nbin. And some weird errors occured running the binary:

[code]

Notice how it said that it's `listening on http://0.0.0.0:8888` at first, and then said `Theia app listening on http://localhost:3000` while I was trying to run it on `http://0.0.0.0:8888`.

[code]
Does anyone have any guesses on what's going here?

[2020-05-15 05:03] akosyakov commented on #7156
Webviews are 3rd party remote content. I don’t think we want to let them to access this token.

[2020-05-15 06:36] akosyakov commented on #7825
So no fix? One has to use seti theme as default?

[2020-05-15 06:38] akosyakov commented on #7712
I will prefer to know about breakage.

[2020-05-15 06:40] #7794 closed

[2020-05-15 06:41] #7810 closed

[2020-05-15 06:42] akosyakov commented on #4541
Maybe cli arguments are not applied?

[2020-05-15 06:46] a1994846931931 commented on #4541
But it says `Theia app listening on http://0.0.0.0:8888` at first, which means it must have parsed the cli argument.

[2020-05-15 07:48] akosyakov commented on #7489
@kittaakos We upgraded to latest typescript and built-in extension. Could you still reproduce it?

[2020-05-15 07:49] akosyakov commented on #7342
Is it still actual? We upgraded to latest typescript and `registerSelectionRangeProvider` api was implemented last month?

[2020-05-15 07:50] #5260 closed

[2020-05-15 07:50] akosyakov commented on #5234
@vince-fugnitto still valid?

[2020-05-15 07:51] akosyakov commented on #4366
We don't use typescript-language-server anymore.

[2020-05-15 07:51] #4366 closed

[2020-05-15 07:51] akosyakov commented on #3455
we don't use typesctipt-language-server anymore

[2020-05-15 07:51] #3455 closed

[2020-05-15 07:51] akosyakov commented on #3223
We don't use typescipt-language-server anymore.

[2020-05-15 07:51] #3223 closed

[2020-05-15 07:52] akosyakov commented on #2988
@marechal-p still valid?

[2020-05-15 07:52] akosyakov commented on #2730
we don't use typescript-language-server anymore

[2020-05-15 07:52] #2730 closed

[2020-05-15 07:53] akosyakov commented on #2598
don't think it is relevant anymore, this part was changed a lot

[2020-05-15 07:53] #2598 closed

[2020-05-15 07:54] akosyakov commented on #2302
@MarkZ3 still the same?

[2020-05-15 07:56] akosyakov commented on #7489
It is still the same, so it seem to be relevant to textmate and monaco integrations, not to typescript.

[2020-05-15 07:57] akosyakov commented on #7486
I cannot reproduce it. We switched to latest typescript and built-in vscode extension.

[2020-05-15 08:04] akosyakov commented on #2636
I don't think we can do anything, all features are coming from VS Code typescript extension, not from our implementation as before.

[2020-05-15 08:04] #2636 closed

[2020-05-15 11:25] kittaakos commented on #7825
This. I confirm.

Once I had to introduce a custom `WorkspaceUriLabelProviderContribution` as a workaround in a downstream project, just because of the `config` part in the file name pulled in the config icon. I have not found a better fix at that time.

[2020-05-15 12:24] vince-fugnitto commented on #5234
I confirmed that the bug no longer happens (master 96e3c72) 🍾

[2020-05-15 12:24] #5234 closed

[2020-05-15 12:31] vince-fugnitto commented on #7825
I've been wondering if we should have a better default file-icon theme as **file-icons.js** is not actively maintained (last [release](https://github.com/websemantics/file-icons-js/releases) was over 3 years ago).

The alternative would be to fork the repo under `theiaide` and perform minor maintenance on it (such as customizing when the **config** icon is used), and perform releases to npm.

[2020-05-15 12:59] akosyakov commented on #7825
Do you have anything in mind?

[2020-05-15 13:13] vince-fugnitto commented on #7825
I could not find anything quickly to suit our needs, perhaps forking would be sufficient at the moment (and not require changes to the codebase).

[2020-05-15 13:39] marechal-p commented on #7156
WebViews are contributed by extensions, the same extensions that can access the full nodejs APIs. The token prevents parties that are not part of Theia from accessing the service (via DNS rebinding attacks or other means). But how is VS Code doing? Do they have such mechanism?

[2020-05-15 13:43] akosyakov commented on #7156
That's true. Could you try to configure a cookie that it works for localhost and its subdomains?

I don't know. Don't think that they have such mechanism. They use electrion APIs and custom protocols. We don't want to go this way because of single sourcing.

[2020-05-15 15:10] Foltik opened #7828 "Electron example never finishes loading"
### Bug Description:
I'm trying to run the electron example on my machine, but even from a clean clone and build it just gets stuck at a loading screen forever with no apparent errors anywhere:

![loading forever](https://i.imgur.com/YPefb3F.png)

### Steps to Reproduce:

From Developing.md:

[code]

### Additional Information

While the electron example gets stuck, the browser example works fine.

[2020-05-15 15:27] vince-fugnitto commented on #7828
@Foltik thank you for reporting the issue! I attempted to verify the bug and it works well for me.
I did a fresh clone (new directory) and attempted to build, and run the electron app and it works fine.

Are you perhaps missing some pre-requisite dependency listed [here](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites)?

[2020-05-15 15:57] Foltik commented on #7828
@vince-fugnitto They seem to all be satisfied. I have yarn v1.22.4, libx11, libxkbfile, git v2.26.2, and a working GCC toolchain v10.1.0 (native modules built fine). I tried downgrading directly to yarn v1.7.0 but the issue remains.

Do you know if there's any way I could debug why the interface isn't loading?

[2020-05-15 16:07] vince-fugnitto commented on #7828
You could follow the debugging guide on the 'developping' doc:
- [debugging example electron backend](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#debug-the-electron-examples-backend)
- [debugging example electron frontend](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#debug-the-electron-examples-frontend)

Note that I am trying on my macOS machine, I

[2020-05-15 16:12] azatsarynnyy commented on #7697
@leo-lb I wonder are you interested in some features of newer Monaco or more in Plugin APIs that we'll be able to implement after the upgrade?

[2020-05-15 17:26] marechal-p commented on #2988
Cannot reproduce anymore.

[2020-05-15 17:26] #2988 closed

[2020-05-15 17:42] Foltik commented on #7828
@vince-fugnitto Tried to debug both frontend and backend to no avail. Messing about with the developer tools in the frontend, it seems I can get it to load intermittently by refreshing the UI.

I took a short video showcasing the weird behavior, where I keep refreshing the UI, and it seemingly randomly either loads fine or doesn't load at all. Interestingly, it loads 100% of the time if I click "S

[2020-05-15 18:08] vince-fugnitto commented on #7828
I'm wondering you're in a weird state, before today were you able to successfully run the electron  example previously (before opening the issue)? I often like cleaning the electron cache and local-storage and I'm worried if it might be interfering with your startup. When the app is started, you can try running the command `Reset Workbench Layout` which should perform some cleanup.

---

Out of cu

[2020-05-15 18:23] MarkZ3 commented on #2302
It's good now, just tested with latest (bb43e9e). Not sure which commit fixed it.

[2020-05-15 18:23] #2302 closed

[2020-05-15 21:03] Foltik commented on #7828
@vince-fugnitto I was only ever able to run it on the browser. I tried removing the electron, yarn, and npm cache, deleting all app storage in dev tools, resetting workbench layout, updating my system, rebooting, but nothing. Tried it on my laptop and I'm able to successfully get it to run every time, so it has to be some weird state my system is in. Still no idea what would cause it to manifest i

[2020-05-16 10:52] a1994846931931 commented on #4541
Just figured out why - it's because Theia forks `ipc-bootstrap.js`.

[2020-05-18 07:19] hojas opened #7830 "does not support Chrome 58?"
### Bug Description:

Error on Chrome 58

### Steps to Reproduce:

On Chrome 58

![image](https://user-images.githubusercontent.com/4729039/82184885-ed709800-991a-11ea-89c5-18042b65ed84.png)

### Additional Information

- Operating System: windows 10, Chrome 58
- Theia Version: 1.0

[2020-05-18 08:16] kittaakos commented on #7830
It's possible that we do not support browser version from 2017 😊, did you try upgrading?

[2020-05-18 08:18] kittaakos commented on #7830
Can you open Theia in Gitpod with your Chrome? Here is the link: https://gitpod.io/#https://github.com/eclipse-theia/theia

[2020-05-18 08:36] hojas commented on #7830
My browser is from 2020, but many users of my application use old version of Chrome like 58. @kittaakos

[2020-05-18 08:51] kittaakos commented on #7830
You can verify it quickly: if you can open Theia in Gitpod with Chrome 58; it works.

[2020-05-18 09:22] hojas commented on #7830
It works, but my build version is not work. Which version of node should I use? Or maybe some VS Code extensions I added is not work in Chrome 58?

[2020-05-18 09:27] kittaakos commented on #7830
Nice.

Yeah, I have noticed, you have some customization... 👇

![82184885-ed709800-991a-11ea-89c5-18042b65ed84](https://user-images.githubusercontent.com/1405703/82196788-71665800-98fa-11ea-9e60-32b14cce6823.png)

You can find the Theia prerequisites [here](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites).

[2020-05-18 11:42] tsmaeder commented on #5749
I'm observing this problem now: I was able to verify that it still worked in commit 3f28503e754bbb4fa6534612af3d1ed6da3ed66a, but is broken in 362e8f13e97a850387c103e8e7ee29d6e36b873e

[2020-05-18 12:46] tsmaeder commented on #5749
Was able to trace this back to this commit: https://github.com/eclipse-theia/theia/commit/62c9a8361c772b4bfa33084fd62bef8eec158f08

[2020-05-18 13:25] hojas commented on #7830
I found that, my version is not work because I build it from theia-apps/theia-docker. @kittaakos

[2020-05-18 13:58] akosyakov commented on #5749
@tsmaeder I think it is a new regression. Could you file a new issue please with reproducible steps? I will have a look at it tomorrow.

[2020-05-18 14:17] akosyakov opened #7832 "support local echo for terminal"
When network latency is high terminals are very unresponsive.

There is xterm.js addon for local echo: https://github.com/wavesoft/local-echo
https://medium.com/swlh/local-echo-xterm-js-5210f062377e

We could give it a try, as well there is open sourced code for Cloud9: https://github.com/c9/core/blob/master/plugins/c9.ide.terminal/predict_echo.js which could be analyzed to implement a custom addo

[2020-05-18 18:31] RomanNikitenko opened #7833 "Can not terminate a process using Ctrl+C"
### Bug Description:
It was possible to terminate a task or some process in a terminal using `Ctrl+C`
But now it's not working

### Steps to Reproduce:

1. Open some project
2. Open a terminal and try to build it
3. Try to terminate the build process by `Ctrl+C`

Another case:
1. Add the configuration to `tasks.json` file
[code]
2. Run the configuration from `Terminal` ---> `Run Task` menu
3. Go t

[2020-05-18 19:23] kittaakos opened #7834 "[monaco] The find/replace widget has odd border color"
### Bug Description:

The find widget's border is not blue when it's focused. It is blue in VS Code:

VS Code:
<img width="548" alt="Screen Shot 2020-05-18 at 21 18 43" src="https://user-images.githubusercontent.com/1405703/82251294-37727180-994d-11ea-859c-3d5dd48ba936.png">

Theia:
<img width="485" alt="Screen Shot 2020-05-18 at 21 14 52" src="https://user-images.githubusercontent.com/1405703/822

[2020-05-18 20:39] leo-lb commented on #7697
@azatsarynnyy the latter - see: https://github.com/eclipse-theia/theia/issues/7608

[2020-05-19 02:20] 502647092 commented on #5749
@akosyakov recent version cause Tmux can't received prefix
`Ctrl + A => d`
![github](https://user-images.githubusercontent.com/10203793/82277415-5eb35800-99ba-11ea-8274-8f634fd3e0b5.gif)

[2020-05-19 06:24] tsmaeder opened #7836 "Ctrl-c (terminate) not working in Terminals"
### Bug Description:
When I run a task and type `<ctrl>-c` in the terminal, the task is not interrupted

### Steps to Reproduce:

1. Start any long running task
2. Click in the terminal window executing said task to give it focus
3. Type `<ctrl>-c?`
4. Observe: the task continues to execute

My expectation would be that the task be interrupted, like in a regular shell.

### Additional Information

[2020-05-19 06:24] tsmaeder commented on #7836
A bisection of commits was able to trace this back to this commit: 62c9a83

[2020-05-19 06:47] kittaakos commented on #7830
@hojas, have you found a fix for your issue?

[2020-05-19 06:50] akosyakov commented on #7833
@RomanNikitenko on Windows?

[2020-05-19 06:57] RomanNikitenko commented on #7833
@akosyakov
I faced with the problem on linux

[2020-05-19 07:05] kittaakos opened #7837 "I cannot build Theia; vscode-ripgrep download fails with HTTP 401"
### Bug Description:

See title.

### Steps to Reproduce:

[code]

Full log:
[code]

1.
2.
3.

### Additional Information

- Operating System:
- Theia Version:

[2020-05-19 07:18] akosyakov commented on #7833
@RomanNikitenko yes, makes sense `ctrl+c` is copy on mac as well

I will close it as a dup of https://github.com/eclipse-theia/theia/issues/7836

[2020-05-19 07:18] #7833 closed

[2020-05-19 07:21] akosyakov commented on #7836
So https://github.com/eclipse-theia/theia/commit/62c9a8361c772b4bfa33084fd62bef8eec158f08 makes sure that we don't mess with an order of registered keybindings, i.e. the logic should be a keybinding in the higher scope should have a priority and within a scope keybinding which registered later should have a priority. The code will just randomly put some keybinding with `context` property as the hi

[2020-05-19 07:22] kittaakos commented on #7837
I have wiped the yarn cache and it works now; must have been an issue with my dev env.

[2020-05-19 07:22] #7837 closed

[2020-05-19 07:40] tsmaeder commented on #7836
@akosyakov it's all greek to me 🤷, that's why I did not propose a fix.

[2020-05-19 07:55] kittaakos opened #7838 "[task] Task server tests are broken"
### Bug Description:

### Steps to Reproduce:

1. Clone the repo
2. `yarn`
3. `yarn test`

[code]

### Additional Information

- Operating System:
- Theia Version: bb43e9e

[2020-05-19 08:16] DanTup commented on #4446
My understanding is that `remoteName` is set when there is a remote extension host (eg. the extension host is on a different logical machine to the editors UI). For example `remoteName` comes through as `vsonline` for VS Codespaces in any standard session. I would've expected GitPod to always have this value set to something.

[2020-05-19 08:47] kittaakos commented on #7838
Hmm, the tests are green on Windows. Could this be a timing issue?
[code]

[2020-05-19 09:37] kittaakos opened #7840 "[TS] VS Code TS extension throws various errors"
### Bug Description:

I can see various errors when I run Theia and open `os.ts`:

[code]

It happened on macOS, but I had the same issue on Windows too.

### Steps to Reproduce:

1. Clone Theia (bb43e9e).
2. Open `theia` in the workspace.
3. Open `os.ts`.

### Additional Information

- Operating System:
- Theia Version:

[2020-05-19 09:47] akosyakov commented on #7840
They are tracked in https://github.com/eclipse-theia/theia/issues/7171 and https://github.com/eclipse-theia/theia/issues/7697

[2020-05-19 09:47] #7840 closed

[2020-05-19 09:48] kittaakos commented on #7171
It affects TS also (#7840), I am removing the `java` label.

[2020-05-19 10:06] studentIvan commented on #7573
Sorry for the spam, but this is the really useful extension. Hope someday theia can have it.

[2020-05-19 11:07] tsmaeder commented on #7828
Not sure it's related...but with current master, when I run the browser example, I have to hit "return" in the console where I start the back end for the UI to finish loading. This is on Windows, if it's relevant.

[2020-05-19 13:10] #7834 closed

[2020-05-19 13:24] lmcbout opened #7841 "Adjust the publishing documentation"
### Bug Description:
Update the publishing documentation by adding the release information on the eclipse site.

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Operating System: All
- Theia Version: Latest

[2020-05-19 13:58] vince-fugnitto commented on #7841
@lmcbout I think next time you can use a 'feature request' as this is not a bug.

[2020-05-19 14:03] vince-fugnitto commented on #7828
I'm not sure either, it is working for me on my end and I'm unable to successfully reproduce the issue.

That sounds great! We look forward to any contributions you'll have in the future 😄

[2020-05-19 15:39] vince-fugnitto opened #7844 "file-search: better handling of command when no workspace is present"
#### Bug Description:

There is an error thrown when attempting to execute `file-search` without any workspace opened.
There should be better handling for such a case:

<div align='center'>

<img width="1193" alt="Screen Shot 2020-05-19 at 11 36 16 AM" src="https://user-images.githubusercontent.com/40359487/82347202-5876a900-99c5-11ea-87c8-db958d93220c.png">

</div>

#### Steps to Reproduce:

1. o

[2020-05-19 17:19] marcdumais-work commented on #7836
Pretty much :) But I guesstimate that, given the context, another shortcut is currently "winning" the battle and overriding the `terminate` one we all know and love. Perhaps `copy`?

[2020-05-20 01:25] hojas commented on #7830
Yes, now works fine on Chrome 58. I use the package.json from official [document](https://theia-ide.org/docs/composing_applications/) not from theia-apps/theia-docker. Thanks so much!

[2020-05-20 05:57] dono1986 commented on #4541
@a1994846931931
Can you share your working configuration for a nbin package?

[2020-05-20 06:24] kittaakos commented on #7830
👍 Great, I am glad you've figured this out.

[2020-05-20 06:24] #7830 closed

[2020-05-20 06:34] datou0412 commented on #1327
Anyone working on this?

[2020-05-20 06:51] #7836 closed

[2020-05-20 06:52] akosyakov commented on #5749
resolved by https://github.com/eclipse-theia/theia/pull/7839

[2020-05-20 06:52] #5749 closed

[2020-05-20 07:23] akosyakov opened #7849 "replace usages of `Keybinding.context` with `Keybinding.when`"
`Command.context` is deprecated and should be remove in future releases

[2020-05-20 08:32] kittaakos commented on #7828
I experienced a very similar (same?) issue with the browser example on Windows yesterday. I had to refresh the browser multiple times.

Nice, let me try this.

[2020-05-20 09:05] akosyakov commented on #1327
@datou0412 yes, we are planning to work on it.

[2020-05-20 09:16] jankeromnes commented on #7542
Thanks @PTrottier for reporting this issue! @geropl and myself are also seeing it (in Firefox as well).

[2020-05-20 09:56] RomanNikitenko commented on #7697
@akosyakov
I'm ready to take this issue in progress, if you don't mind.

Please let me know if you have some things I should pay attention.
From my side I remember:
- [this place](https://github.com/eclipse-theia/theia/blob/eeaf506e65c934642233a1d45e05231339bc4b30/packages/console/src/browser/console-widget.ts#L116)
-  hotfix for IME support

I'll add these items to my TODO list when I have the co

[2020-05-20 10:06] kittaakos commented on #7849
Let's remove it once we have some sort of documentation about the transition. Thanks!

[2020-05-20 10:17] akosyakov commented on #7849
It should be the part of the task to update `CHANGELOG.md` explaining what should be used instead and how.

[2020-05-20 12:49] akosyakov commented on #7542
We intercept this keybinding and delegate to Monaco for evaluation which may to perfrom some editor action or delegate to `document.execCommand`. Such command should be executed in event-loop triggered by a user which is true for keydown event, but there some async code is involved. Chrome seems to be able to track down that async code origins from event-loop triggered by a user, but Firefox is no

[2020-05-20 13:07] bmicklea opened #7850 "Add a presenter mode to view options"
It would be great to have a presentation mode similar to IntelliJ's. Because the terminal and command panel are pretty key for Theia, I think we'd need to make sure that the terminal area can be quickly hidden/shown in presentation mode. We'd also want to make sure that the font size increase for the editor is done in the terminal as well:

### Requirements

- Assign a hotkey to get in/out of this

[2020-05-20 14:14] akosyakov commented on #7850
I wonder can it be implemented as a VS Code extension or has to be backed-in?

[2020-05-20 14:22] vince-fugnitto commented on #7850
There is a [vscode extension](https://marketplace.visualstudio.com/items?itemName=jspolancor.presentationmode) that supports a presentation mode but it relies on vscode's zen mode.

[2020-05-20 14:58] akosyakov commented on #7850
We have toggle maximized mode?

[2020-05-20 15:09] vince-fugnitto commented on #7850
Yes I know, should we register the zen commands to internally trigger the maximized mode?
The zen-mode and maximized do differ however.

[2020-05-20 15:10] bmicklea commented on #7850
Maximized mode is helpful but there are a few issues:
- Lack of dedicated hotkeys for zoom in means it's awkward to zoom in large enough to be seen by a large audience at an event
- Zoom only affects the editor font - for presentations you want it to enlarge the terminal font as well (perhaps even the project explorer)
- Can't show the terminal and code window simultaneously in maximized mode

My

[2020-05-20 15:17] vince-fugnitto commented on #7850
Your comment is not necessarily true:
1. you can have multiple views in maximized mode but they need to be present in the same panel (ex: main view)
2. you can use the zoom to change the font-size and overall size of components

Please see the example below (simultaneous views (editor and terminal) all zoomed):

<div align='center'>

<img width="1792" alt="Screen Shot 2020-05-20 at 11 16 13 AM" sr

[2020-05-20 15:20] bmicklea commented on #7850
Ah, I missed that @vince-fugnitto, thanks. That might be sufficient. In this case you'd need to use the browser zoom to enlarge everything?

[2020-05-20 15:22] akosyakov commented on #7850
That can be awkward, especially if you want to open new terminals. But you can preconfigure layout before demo it looks like we have already everything.

There are keybindings to toggle maximized mode and browser keybindings to zoom in/out.

[2020-05-20 15:25] vince-fugnitto commented on #7850
Yes I used the browser zoom.
On electron we have a `zoom` command which essentially performs the same action.

Yes, I was thinking as a pre-configured demo. It is also possible to drag + drop the parts you need during a demo and then perform the 'toggle maximized mode')

[2020-05-20 15:38] bmicklea commented on #7850
Thanks @vince-fugnitto and @akosyakov, I'm closing this as solved. If I have more feedback after using it for a bit I'll let you know but this should get me and others >80% of the way there.

[2020-05-20 15:38] #7850 closed

[2020-05-20 15:54] vzhukovskii opened #7853 "`TypeError: Converting circular structure to JSON` when call Focus on Files Explorer from plugin"
### Bug Description:
The following code sample:
[code]
produces the exception in console:
[code]

### Steps to Reproduce:

1. Clone sample plugin: [workbench-files-action-focusFilesExplorer](https://github.com/vzhukovskii/workbench-files-action-focusFilesExplorer)
2. Build and copy `eclipse_che_workbench_files_action_focusFilesExplorer.theia` to plugin's directory
3. Run Browser Example and call c

[2020-05-20 17:04] munchkindev opened #7856 "docker: errors after performing 'git init'"
### Bug Description:

Running `git init` with root user in the Theia Docker container causes it to crash after a Docker container restart.

### Steps to Reproduce:

1. Initialize Theia:latest Docker container by running the following docker-compose.yml file:
`sudo docker-compose -f eclipse-theia-compose.yml up -d`
[code]
2. Import an Express and Node.js app into `/home/project`
3. Run `sudo exec d

[2020-05-20 17:17] vince-fugnitto commented on #7856
I updated the issue so that others who wish to view the conversation do not need to scroll.
I'm not sure I understand the entire use-case, do you mind describing why you are performing the steps? ex (step 3, 6). If you are developing your own image should you not include the necessary packages beforehand?

[2020-05-20 17:21] munchkindev commented on #7856
@vince-fugnitto Thanks for replying. Theia is running behind a reverse proxy and is used as a development environment. The specific use-case for Git is synchronization with the Git Server. I did Step 6 because my Frontend was not loading up and throwing 404 for some JS files.

[2020-05-20 17:27] vince-fugnitto commented on #7856
@munchkindev no problem, are you using one of the images found under [theia-apps](https://github.com/theia-ide/theia-apps) as is as a development environment? (I assume `theia:latest`). Please note that these are example images (mainly for test and CI purposes).

[2020-05-20 17:29] munchkindev commented on #7856
I am using the https://hub.docker.com/r/theiaide/theia latest tag. Are those example images too? Where are the stable ones then?

[2020-05-20 17:42] vince-fugnitto commented on #7856
Yes these are the same images, and are mainly used as a reference or example for others to create their own custom docker images to suit their needs (I thought I should clarify that for you).
There aren't any 'official' or 'stable' images necessarily.

Perhaps @marcdumais-work can help with the specific issue however.

[2020-05-20 19:47] marcdumais-work commented on #7856
Hi @munchkindev ,

Sorry, but I think I would need an end-to-end reproducible example to be able to help. You provided some instructions but they are incomplete. e.g. step 1, how to you initialize the container? Step 2: which app? Import it where? etc...

Is your goal to pre-populate the default workspace (/home/project) with your own application(s)? I'm not sure why you need to run the container

[2020-05-20 22:20] kittaakos opened #7857 "`Calls: Show Call Hierarchy` command is incorrectly enabled, executing it throws an error"
### Bug Description:

`Calls: Show Call Hierarchy` command is visible from the _Command Palette_ when the active editor, which has the focus, is the `.gitignore` file. Accidentally executing the command throws the following:

[code]

 - The command should not be visible,
 - Converting circular structure to JSON should not happen.

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Op

[2020-05-21 02:06] 502647092 opened #7858 "[typescript][built-in] an error occurred while loading plugin"
### Bug Description:

[code]

[code]

- i try install 1.44.2 ts plugin still have error but it can run
[code]

### Steps to Reproduce:

1. install latest or 1.44.2 `typescript-language-features` built-in plugin

### Additional Information

- Operating System:
  - Server: CentOS7
  - Brower: Windows10
- Theia Version: 1.2.0-next.f97ec33e

[2020-05-21 02:29] HaoboGu opened #7859 "Is there any config to control the default behavior of "show more" in completion items?"
### Feature Description:
Hello, I am an extension developer. I am writing a completion extension for theia. I found that we I start a theia ide, the details/documents view of completion item will not be shown by default:
![image](https://user-images.githubusercontent.com/8640918/82516583-bf26ce80-9b4d-11ea-8da8-37c35735094d.png)

Is there any configuration I can change to show to full information

[2020-05-21 02:39] 502647092 opened #7860 "[git-scm] No repository found"
### Bug Description:

![image](https://user-images.githubusercontent.com/10203793/82516876-660b6a80-9b4e-11ea-82d0-43a05728dfa9.png)

- I manually add paths to local storage `theia:/:file:///home/project:theia-git-all-repositories`
- refresh ide Can fix it
![image](https://user-images.githubusercontent.com/10203793/82517193-34df6a00-9b4f-11ea-9297-e8968f52c312.png)
![image](https://user-images.git

[2020-05-21 03:06] vince-fugnitto commented on #7860
Duplicate of https://github.com/eclipse-theia/theia/issues/4107?
You can try using the `git` and `git-ui` builtin extensions and determining if the use-case is handled correctly (`@theia/git` will be deprecated in the near future).

[2020-05-21 03:07] #7859 closed

[2020-05-21 07:21] kittaakos commented on #7858
Related: https://github.com/eclipse-theia/theia/issues/7171
 - `TypeError: r.SemanticTokensLegend is not a constructor`
 - `TypeError: i.workspace.onDidRenameFiles is not a function`

[2020-05-21 09:13] 502647092 commented on #7860
@vince-fugnitto
![image](https://user-images.githubusercontent.com/10203793/82543542-4bed7e80-9b86-11ea-94c5-6cffeec1a34d.png)
also have this problem

[2020-05-21 10:35] 502647092 commented on #7858
`Error on activation of typescript-language-features Error: Could not find bundled tsserver.js`
maybe builtin plugin use bundled tsserver.js
but not in theia

[2020-05-21 11:05] MikeRosoft commented on #5037
But then we're back to square one: Theia (or Visual Studio Code) doesn't have first class support for adding custom panels. In theory, an extension could override the main display; but that would conflict with other extensions doing the same (as per @HenningCash).

[2020-05-21 11:58] davidwindell commented on #6896
This is getting really annoying, should we raise it on the eclipse/che repo instead?

[2020-05-21 12:36] vince-fugnitto commented on #6896
I'm sorry, the community has been busy with other priorities (marked by the 'help wanted' label)
If the issue is important to you please don't hesitate to open a pull-request to resolve it.

[2020-05-21 12:37] mridup opened #7865 "Opening ipynb notebook behind nginx reverse proxy"
Hi,
I am trying to run Theia behind a nginx reverse proxy.
It is a docker container along with a few other containers all running together as a group in Azure ACI. I have configured nginx to successfully connect with the theia container running behind the nginx proxy. However I am not able to run Jupyter notebook and encounter the following issue when the webview is launched within theia app.

![j

[2020-05-21 12:58] #7865 closed

[2020-05-21 14:11] davidwindell commented on #6896
Can you confirm if this is a Che or Theia issue?

[2020-05-21 14:24] vince-fugnitto commented on #6896
@davidwindell I see that in theia, if we search for a term that is in an ignored folder/file (ex: file under node_modules), performing a 'search-in-workspace' does not yield any results unless we explicitly set 'include ignored files' option (eye icon):

_Searching Without 'Include Ignored Files'_

<div align='center'>

<img width="1232" alt="Screen Shot 2020-05-21 at 10 23 09 AM" src="https://use

[2020-05-21 23:19] colin-grant-work commented on #7328
Could you clarify what you mean by 'for which plugins can trigger'? Do you mean a parameter than can be used by plugins when they trigger some action, or some indication of which plugins contribute preferences, or which plugins are affected by particular preferences? Or something else?

[2020-05-21 23:42] vince-fugnitto commented on #7328
Sure, the idea is that we should support passing a `query` argument to our `open preferences` command which will ultimately be used to pre-populate the search upon opening the preferences-view:

https://github.com/eclipse-theia/theia/blob/f97ec33eea89b9f5efae2860920bc3bd569c9477/packages/preferences/src/browser/preference-contribution.ts#L75-L77

From the plugin side, extensions are able to call t

[2020-05-22 00:51] nmorenor commented on #7576
So I was trying to get this to work. However I just got stuck at some error while running yarn, the code compiles (changes) but while building the electron/browser examples it just fails.

Here is the link of the change I'm trying:
https://github.com/Genuitec/theia/commit/777b9191b5deca2199eacda9245cb51223c6c174

And this is a bit of the error I get while trying to run yarn:

[code]

Any ideas or

[2020-05-22 00:56] nmorenor commented on #7576
The issue looks to be on how `WorkspaceMainImpl` is trying to use the `ISearchInWorkspaceService` if I comment the reference to that interface I get no errors. :|

[2020-05-22 10:29] munchkindev commented on #7856
@marcdumais-work thanks for replying. I expanded upon the vague details and updated the issue, I hope that will be of help.
Yes, my goal is to populate the default workspace with my own application, and I run the container with root priviledges to do npm install.

[2020-05-22 11:46] kittaakos commented on #7838
One of the tests fails on Gitpod (Linux) too:

[code]

[2020-05-22 17:12] #7811 closed

[2020-05-22 17:23] marcdumais-work commented on #7856
Hi @munchkindev

I am not familiar with docker-compose, so maybe I am missing something.

That seems strange - normally it's not required to use root to do that, but could be something specific to your application? In step 3, the `-u 0 ` parameter will I think give you a root shell in the container - so the project setup you do using that shell would most probably be owned by root. This I think wi

[2020-05-22 18:25] westbury commented on #7860
This is a regression caused by ecdb1517050fc4f13771edd8dbb6df94537a5150 .  With the typescript upgrade, the locator is no longer returning the repositories.  The repositories are being returned by findGitRepositories but then something weird is happening in git-locator-impl.doLocate

[2020-05-22 19:54] #7841 closed

[2020-05-22 21:13] davidwindell commented on #6896
Ah, that does seem to help! I apologise for not spotting the eye icon. It does feel odd that when you explicitly request a folder to include it still excludes it without manual action. I'll go ahead and close this issue now.

[2020-05-23 08:10] 502647092 commented on #7860
another problem if ide reconnect backend the git info will lose

[2020-05-23 11:43] westbury commented on #7860
@502647092 I have pushed a fix to branch fix-locate-repos.  Can you test with this branch to see if it fixes the issues?

[2020-05-25 01:39] ride4sun commented on #5481
I would love to try a more flexible layout than VSCODE but it is really not understandable that there is no action on this that an end-user can install this on the mayor three platforms like VSCODE. It seems like there is a big interest and momentum on this.

[2020-05-25 05:00] balajiv113 opened #7871 "Context menu issue on explorer tree while using keyboard"
### Bug Description:
Context menu for explorer tree is shown for non-selected node while using context key. Working fine while using mouse click

### Steps to Reproduce:

1. Run theia and open a folder
2. Select any directory, use right click for context menu (Can use rename to check whether context is shown for expected node)
3. Now repeat step-2 using keyboard context key,  notice that context m

[2020-05-25 06:52] #7860 closed

[2020-05-25 06:58] akosyakov commented on #7858
@marcdumais-work Could it be that typescript is not packaged anymore as a part of built-in vscode extension?

[2020-05-25 06:59] PEZ commented on #6589
I am about to switch to this for Calva (a Clojure extension for VS Code). Here's the PR: https://github.com/BetterThanTomorrow/calva/pull/654

It's a bit ironic, because the reason I started with it was to see if it would help Calva start working in Theia. Something that is partly do to Theia loosing track of the terminal used for hosting the orphaned Task I am currently using.

I elaborated some

[2020-05-25 07:08] kittaakos commented on #7858
It is. I have verified with `https://open-vsx.org/api/vscode/typescript-language-features/1.44.2/file/vscode.typescript-language-features-1.44.2.vsix`.

[code]

[2020-05-25 07:29] kittaakos commented on #7594
Also, let's make the logs not to include the process name and PID twice.

Currently, the logs look like this:
[code]

Let's aim for this:
[code]

[2020-05-25 08:27] balajiv113 commented on #7871
On analysing further, the issue not only occurs in explorer, but occurs in all components extending TreeWidget. Validated the issue in the following widgets,
- Source control
- Preferences
- Extension

**Note:** For UI without context menu, the current selected node is getting updated

[2020-05-25 10:41] jbicker opened #7873 "Git changes list does not get updated"
### Bug Description:
The list of git changes is not updated automatically. One has to do some action first in the git widget (such as expanding/collapsing the list or refreshing it...)
Note: this happens with non-active git widget only.
![theia-git-list-not-updated](https://user-images.githubusercontent.com/28291421/82805649-a3406700-9e84-11ea-98b0-51a3fb461b96.gif)

### Steps to Reproduce:

1. op

[2020-05-25 11:37] akosyakov opened #7874 "preference UI crashes"
[code]
[code]
It was reported in Gitpod staging env.

[2020-05-25 11:39] akosyakov commented on #7873
cc @westbury

[2020-05-25 11:57] akosyakov commented on #7874
I was able to reproduce it by using the same set of vscode extension as Gitpod does. One can do the same by:
- start Gitpod workspace
- modify `start` npm script in examples/browser/package.json to look up VS Code extensions from `/tmp/vscode-extensions`
- start Theia

[2020-05-25 12:24] akosyakov opened #7875 "preference UI is very slow"
### Steps to Reproduce:

1. start like in https://github.com/eclipse-theia/theia/issues/7874#issuecomment-633536413
2. try to use search
3. UI takes very long time to react

[2020-05-25 12:36] akosyakov opened #7877 "preference UI creates a new settings file instead of using vscode settings"
It's reproducible with https://github.com/gitpod-io/spring-petclinic repo

- open the preference UI for workspace
- and then click the toolbar action to reveal the file
- it creates a new file under `.theia` instead fo opening one under `.vscode`

The preference UI should use `PreferenceService.resolve` method to retrieve a proper config URI.

[2020-05-25 12:51] lmcbout opened #7878 "Report errors at the end of a build instead of puting it anywhere"
It would be nice if the command "yarn download:plugins" was reporting the errors at the end of the list. In this case, the end-user does not have to scroll to see if one plugin didn't download. The errors would be visible at the bottom, so easier to see when building in a small window.

### Feature Description:

[2020-05-25 12:52] svenefftinge commented on #7873
I cannot reproduce the behavior with current master.

[2020-05-25 12:52] chrisjj commented on #5481
Three months and still there is apparently no published build of vanilla
desktop Theia. I'm hoping that's because such a build isn't possible, since
that's probably more fixable than the alternative, being that leading
contributors  it not worth providing.

On Monday, 25 May 2020, ride4sun <notifications@github.com> wrote:

[2020-05-25 12:58] #7874 closed

[2020-05-25 13:04] chrisjj commented on #5481
Theia. I'm hoping that's because such a build isn't possible, since that's
probably more fixable than the alternative, being that leading contributors
it not worth providing.

Correction: that leading contributors consider it not worth providing.

On Monday, 25 May 2020, chrisjj <notifications@github.com> wrote:

[2020-05-25 13:04] svenefftinge commented on #7873
I can now. Will look into it.

[2020-05-25 13:12] akosyakov opened #7879 "set minimal react version as 16.8"
React hooks were only introduced in https://reactjs.org/blog/2019/02/06/react-v16.8.0.html but we make use them with early version in package.json. We should bump it to make sure that downstreams update their yarn.lock files.

[2020-05-25 13:14] nisarhassan12 commented on #7879
I would like to make a Pr for this.

[2020-05-25 13:34] svenefftinge commented on #5673
Still not supported. Java VS Code uses this for accessors.
<img width="988" alt="Screenshot 2020-05-25 at 15 30 36" src="https://user-images.githubusercontent.com/372735/82817361-2968a780-9e9d-11ea-9aee-73c8d0b9b312.png">

[2020-05-25 13:38] #7873 closed

[2020-05-25 14:08] marcdumais-work commented on #7858
Ok, I'll have a look.

[2020-05-25 14:12] marcdumais-work commented on #5481
@chrisjj This is open-source - PRs are welcome

[2020-05-25 14:27] balajiv113 commented on #7625
I would like to work on this issue.

[2020-05-25 14:35] kittaakos commented on #7838
@marechal-p, I did some further investigation, and as I [wrote](https://github.com/eclipse-theia/theia/pull/6836#issuecomment-633586546) on your PR, it seems it breaks the task tests.

 1. Checkout your PR and run the tests. They fail:
[code]

 2. Go back one in time and re-run the tests, they're green:
[code]

Can you please look into them?

[2020-05-25 14:46] chrisjj commented on #5481
You'd think so. Yet still this one hasn't appeared.

On Monday, 25 May 2020, Marc Dumais <notifications@github.com> wrote:

[2020-05-25 15:16] sr229 commented on #5481
@chrisjj Instead of complaining, why don't you take initiative and make the PR to support the builds? Desktop builds are possible but its something the team isn't yet willing to provide since there are more important issues to tackle for now (such as better extension support).

[2020-05-25 15:20] marcdumais-work commented on #7858
Hi,

A sanity check: using this repo's example application (builtins v1.44.2) I do not see the `tsserver` error:

```Error on activation of typescript-language-features Error: Could not find bundled tsserver.js```

And as far as I can tell, Typescript language support seems to work. What am I missing?

[2020-05-25 16:00] vince-fugnitto commented on #7858
I also verified the behavior and did not notice any errors related to missing **tsserver**.
I verified that language-features work correctly (ex: 'go to definition'), and that executing the command `TypeScript: Restart TS Server` works as well (the application correctly falls on it's feet).

[2020-05-25 16:12] munchkindev commented on #7856
@marcdumais-work Thank you once again for replying.
Docker-compose is only used for setting up multiple containers in a row and the same can be achieved with `docker run`.
The requirement of root rights must've some weird kind of bug because this is no longer the case and it works perfectly without root.
Sudo is required in my setup apparently. Yes I do run it as root in that case and I am well aw

[2020-05-25 17:23] marcdumais-work commented on #7858
@502647092 Which version of the built-in extensions did you first use, that had the issue with `tsserver`?

[2020-05-25 17:25] marcdumais-work commented on #7856
@munchkindev Thanks for the follow-up!  Closing this issue.

[2020-05-25 17:25] #7856 closed

[2020-05-25 19:14] kittaakos commented on #7838
OK, it seems like this problem is related to the default shell. I will look into it.

[2020-05-25 21:25] jgbradley1 commented on #4541
It would be interesting if someone came up with a way to package Theia as a python package. Making it pip installable would likely improve the adoption as well since docker is not available in many enterprise networks due to the requirement to run as root.

The best example of this that I can think of is [JupyterLab](https://github.com/jupyterlab/jupyterlab). That project has figured out how to wr

[2020-05-26 01:18] 502647092 commented on #7858
@marcdumais-work auto build builtin plugin at theia-ide/vscode-builtin-extensions
`Error on activation of typescript-language-features Error: Could not find bundled tsserver.js`

[2020-05-26 02:03] marcdumais-work commented on #7858
From [npm](https://www.npmjs.com/package/@theia/vscode-builtin-typescript-language-features)? Indeed there is a [little patch](https://github.com/theia-ide/vscode-builtin-extensions/blob/master/src/package-vsix.js#L56) missing in that version of the `typescript-language-features` built-in, that we add to the `vsix` version we publish on `open-vsx.org`, related to the bundled typescript. TL;DR: in

[2020-05-26 02:05] marcdumais-work commented on #7858
@502647092 So you can add this one extension at least in your app's `package.json`:
https://github.com/eclipse-theia/theia/blob/master/package.json#L140

[2020-05-26 02:10] marcdumais-work commented on #7858
Sorry - missed that part. Then you're probably using the `npm` packaging script, with the same result as if you'd pull from npm.

Do it like this instead, after checking-out the version you want of the `vscode` submodule: https://github.com/theia-ide/vscode-builtin-extensions/blob/master/.gitpod.yml#L12-L13

You can substitute `yarn package-vsix:next` for `yarn package-vsix:latest` if you want to

[2020-05-26 02:40] 502647092 commented on #7858
@marcdumais-work `1.44.2` it's ok

[2020-05-26 03:56] 502647092 commented on #7185
@marcdumais-work I test `redhat.java@0.62.0` it's work
but console have error `Uncaught (in promise) TypeError: i.CustomExecution is not a constructor`
when i click
![image](https://user-images.githubusercontent.com/10203793/82858936-ddbf0800-9f47-11ea-9a2f-d3a32d8b65e3.png)

[2020-05-26 04:10] 502647092 commented on #6217
@akosyakov @marcdumais-work
I test latest theia version `1.2.0-next.f7cecf20`
it's also can't copy from webview use `Ctrl + C`
and webview can't use right mouse key
![github](https://user-images.githubusercontent.com/10203793/82859618-d39e0900-9f49-11ea-8809-9b5d0a71346b.gif)

[2020-05-26 04:31] #7596 closed

[2020-05-26 06:25] akosyakov commented on #6217
I still cannot reproduce. Which browser, version, OS? Do you have any errors in browser or backend logs while trying to copy?

It is the same in VS Code. Not sure what we can do about it.

[2020-05-26 06:54] akosyakov opened #7887 "preference UI does not preserve selection while switching between scopes"
It seems to be completely rerendered and forget everything. Steps:
- select user scope
- select some element in TOC
- select workspace scope
- expected that UI is snappy and selection is preserved, instead UI takes long to rerender and selection is lost

[2020-05-26 06:56] akosyakov commented on #6589
@PEZ I don't think anyone is looking into it, right now. PRs are welcomed.

[2020-05-26 07:12] tsmaeder opened #7888 ""Delete Line" Keybinding does not work"
### Bug Description:
The default shortcut for "delete line" (ctrl-shift-k) does not work

### Steps to Reproduce:

1. Open any editor
2. Press shift-ctrl-k
3. Observe: nothing happens

### Additional Information
- Operating System: Windows 10, FF and chromium
- Theia Version: master

[2020-05-26 07:12] tsmaeder commented on #7888
I can rebind the command to another keybinding and it works, so it seem it's not the command that's broken.

[2020-05-26 07:39] kittaakos commented on #7888
I tried it on macOS to see whether itΩ is a Windows-only issue; it isn't. We incorrectly execute the `Run Last Task` command which fails, by the way:

[code]

[2020-05-26 08:18] akosyakov commented on #7888
The task extension depends on the monaco extension, so it registers keybindings afterwards. Since we aligned with VS Code for keybindings resolution, a keybinding registered later for the same scope has a higher priority now. The fix is to add a proper `when` closure or remove a keybinding in the task extension. I will do the former.

It was working before because we treated keybindings with `cont

[2020-05-26 08:53] tsmaeder commented on #7888
The keybinding for "run last task" shows up as "ctrlcmd+k", not "ctrl+k" in the keybindings UI. Not sure what the difference is.

[2020-05-26 09:15] akosyakov commented on #7888
I think it is correct, we detect your keyboard layout and then resolves the keybinding against it.

[2020-05-26 09:21] tsmaeder commented on #7888
Hmh...I don't see a "ctrlcmd" key on my keyboard. Is that like "Alt-Gr"?

[2020-05-26 09:46] akosyakov commented on #7888
It is `ctrl` on linux and windows, and `cmd` on mac.

[2020-05-26 11:33] akosyakov opened #7891 "the explorer view collapses spontaneously"
### Steps to Reproduce:

1. Open any file and focus file.
2. Rename this file in the navigator.
3. Observe that the navigator is closed after rename. If not do from step 1 to 3 again.

[2020-05-26 11:41] datou0412 opened #7892 "vscode.window.createTerminal is not fully implemented."
### Feature Description:
vscode plugin's `window.createTerminal` API support "Creates a Terminal where an extension controls its input and output" by the option [ExtensionTerminalOptions](https://code.visualstudio.com/api/references/vscode-api#ExtensionTerminalOptions)
which is not implemented in [theia.window.createTerminal](https://github.com/eclipse-theia/theia/blob/master/packages/plugin/src/t

[2020-05-26 11:48] akosyakov commented on #7891
that's a regression after: https://github.com/eclipse-theia/theia/pull/7707/commits/bb7462dc2121c66beaab3ebe896a887172c326ea#diff-c5498c2554d6b00897b6bed7b89dccd7R921

have not thought about such case 😬

[2020-05-26 12:20] akosyakov commented on #7892
@datou0412 Thank you for the issue. PRs are welcomed!

[2020-05-26 12:21] akosyakov commented on #7892
Is it related to https://github.com/eclipse-theia/theia/issues/6589?

[2020-05-26 12:52] #7891 closed

[2020-05-26 12:52] #7888 closed

[2020-05-26 13:21] lmcbout opened #7895 "Starting all plugins when closing the workspace looks strange"
### Bug Description:
When you close a workspace, we can observe on the console that we start all plugins.
Should we just activate the plugins when we open a workspace? It looks weird to see the traces about all started plugins when you close a workspace.

Note: comes from the discussion #7885

### Steps to Reproduce:

1. Start Theia with a workspace
2. Close the workspace, not Theia (File-> Close

[2020-05-26 13:34] akosyakov opened #7896 "alt+n triggers a new file while editor is focused"
Instead it should insert `~` only. It is not a regression.

[2020-05-26 13:36] akosyakov commented on #7895
That's expected: close workspace reloads the window, plugins are reloaded for a new window, a empty workspace needs plugins as well, since you still can open a file or a plugin can contribute an action to create a new project.

[2020-05-26 13:36] #7895 closed

[2020-05-26 15:08] #7171 closed

[2020-05-26 16:57] #7858 closed

[2020-05-26 17:15] peey opened #7898 "`_repr_latex_` doesn't get rendered in ipython notebooks"
I reported this bug to the extension (https://github.com/microsoft/vscode-python/issues/11958) but they confirmed that this behavior does not happen in VSCode. Thus, it must be some issue with Theia.

## Steps to cause the bug to occur

1. Open theia using the python image

`docker run -it --init -p 3000:3000 -v "$(pwd):/home/project:cached" theiaide/theia-python`

2. Start a python interactive se

[2020-05-26 18:00] RomanNikitenko opened #7899 "[monaco][quick-open] Using `fuzzySort: true` throws an error"
### Steps to Reproduce:

1.` F1` --> `Variable:List All`
2. You can see empty list and an error in browser console

**Actual behavior:**
![variables_actual](https://user-images.githubusercontent.com/5676062/82933546-be999800-9f92-11ea-955b-19130e9f6bc6.gif)

**Expected behavior:**
![variables_expected](https://user-images.githubusercontent.com/5676062/82933337-6c587700-9f92-11ea-87fd-19753f567935.

[2020-05-26 18:42] #7844 closed

[2020-05-26 18:42] #7878 closed

[2020-05-26 18:54] #7838 closed

[2020-05-26 21:57] marechal-p opened #7901 "electron: some icons don't always load correctly"
### Bug Description:

When running VS Code extensions in an Electron application, it seems like icons may not render correctly, see: https://github.com/eclipse-theia/theia/pull/7847#issuecomment-634273331

### Steps to Reproduce:

No idea.

### Additional Information

- Theia Version: 1.11

[2020-05-26 22:00] ride4sun commented on #5481
I am wondering if that is not done (better extension support) yet why even that big announcement for version 1.0. Maybe that was a bit premature. I thought Thea is a competition of VSCODE. The strength of VSCODE is multiplatform. The weakness of VSCODE is the non-flexible Layout and lousy multiple screen support. Big announcement but sorry - you can not try it out on your code. (Really)

Sorry, an

[2020-05-26 22:13] vince-fugnitto commented on #5481
@ride4sun based on your comment it looks like you might have misunderstood what Theia is.
Theia is in fact a framework or platform to build IDE-like applications and it is not an IDE in itself (like vscode). The project allows application-developers to build and customize their own IDE-like products while also providing the flexibility and extensibility which allow for a wide range of use-cases.

[2020-05-26 22:37] ride4sun commented on #5481
Sorry, but it sounded a good alternative to VSCODE to me when I was reading the announcements:

https://www.globenewswire.com/news-release/2020/03/31/2009010/0/en/The-Eclipse-Foundation-Releases-Eclipse-Theia-1-0-a-True-Open-Source-Alternative-to-Visual-Studio-Code.html

Quote:
```Theia is designed from the ground to run on both Desktop and Cloud... Eclipse Theia is designed to work as a native de

[2020-05-26 22:45] chrisjj commented on #5481
I've no idea how to make such a PR. Plus as I said, the fact that far more
able persons than I haven't done it suggests it is much more difficult that
you imply.

C

[2020-05-26 22:53] chrisjj commented on #5481
ride4sun, let's add:

The most significant differences between Eclipse Theia and VS Code are:

   - Theia's architecture is more modular and allows for significantly more
   customizations
   - Theia is designed from the ground to run on both Desktop and Cloud
   - Theia is developed under the community-driven and vendor-neutral
   governance of the Eclipse Foundation.

which at the moment should

[2020-05-26 23:05] vince-fugnitto commented on #5481
@ride4sun if you look at the quotes you referenced you'll see the following:

In the EclipseFoundation announcement you'll see:

It clearly illustrates that the project is a framework which can build IDE-like applications which in fact rival and is an open-source alternative to VS Code. The main target audience for the framework are application-developers who are in need of a framework to build th

[2020-05-26 23:07] ride4sun commented on #5481
I worked on many software projects myself and I have to admit that the installer is something nobody wants to work on.  I have the feeling that is the non-outspoken reason here.

That is really stupid because I really want to try the new layout engine and you guys should be eager to get a big install base to gain momentum and get feedback.

[2020-05-26 23:11] ride4sun commented on #5481
Let make it clear than....

```Theia 1.0, a true open source alternative to Microsoft’s popular Visual Studio Code```

This is **_NOT_** a Vscode alternative because it addresses a another use case.

[2020-05-26 23:20] vince-fugnitto commented on #5481
@ride4sun

@ride4sun it is being worked on :)
Providing end-users with installers is something the community wants to ensure is done right, and the necessary planning, background tasks, setting up the CI jobs and permissions.

It can be argued that it is an open-source alternative since vscode is not truly open-source, we are providing vscode extension support, we have worked on providing an open-

[2020-05-26 23:25] chrisjj commented on #5481
IDE-like applications ...

It would do... if it were not contradicted by e.g. "a True Open Source
Alternative to Visual Studio Code".

The fact Theia is a platform for building IDEs whereas VSCode is an IDE is
probably the most important entry that should be on Theia's "The most
significant differences between Eclipse Theia and VS Code are..."

None of which bears on the deficiency of an actual .e

[2020-05-26 23:26] ride4sun commented on #5481
I agree with that statement but that is quite a different statement than the press releases.

[code]

Can you share the community efforts where people working on the installer?

[2020-05-26 23:31] vince-fugnitto commented on #5481
The main community has discussed this feature and other features in the weekly [dev-meeting](https://github.com/eclipse-theia/theia/wiki/Dev-Meetings).

[2020-05-26 23:47] chrisjj commented on #5481
weekly dev-meeting
<https://github.com/eclipse-theia/theia/wiki/Dev-Meetings>.

Any sign of "actively working on"? As per your "the addition of desktop
installers for an example Theia application, is being actively worked on by
the main community".

On Wed, 27 May 2020 at 00:31, Vincent Fugnitto <notifications@github.com>
wrote:

[2020-05-26 23:53] vince-fugnitto commented on #5481
@chrisjj the issue has been discussed and planned by the main community, and one of the main contributing companies are currently working on implementing the feature. In the dev-meeting, the community has discussed on what the best approach would be to handle the automation of the installers, the CI setup (for different operating systems), and other important factors.

[2020-05-26 23:56] ride4sun commented on #5481
Is there a ETA?

[2020-05-27 00:06] vince-fugnitto commented on #5481
@ride4sun no, there is none as of today. We need to make sure that the automation of the installers are done correctly and with quality as ultimately end-users will be the ones to consume them. If you are pressed for time, building you own IDE is quite easy, we have many examples and you can start using it today. For example, if you require a desktop Theia IDE, you can take a look at the [theia-el

[2020-05-27 01:08] marcdumais-work commented on #5481
Locked except for committers. Pestering the project for one's pet feature is not productive.

As @vince-fugnitto said, Theia is a framework. It's targeted at `IDE Developers` that want an alternative to forking VS Code and/or something VS Code-like that also runs well in the Cloud. This project was never meant to host an IDE product based on Theia - there will be other Eclipse Foundation projects

[2020-05-27 01:55] nisarhassan12 commented on #6904
I would like to make a Pr for this.

[2020-05-27 02:11] datou0412 commented on #6589
this sample can be used to test [extension-terminal-sample](https://github.com/microsoft/vscode-extension-samples/tree/master/extension-terminal-sample)

[2020-05-27 05:12] 502647092 opened #7902 "input not at force editor"
### Bug Description:
![github](https://user-images.githubusercontent.com/10203793/82980021-05cb6b80-a01b-11ea-8247-23a723fd33a4.gif)

### Steps to Reproduce:

I don't know how to reproduce it
but It happened several times

### Additional Information

- Operating System: Windows10 Chrome 83.0.4103.61
- Theia Version: 1.2.0-next.f7cecf20

[2020-05-27 05:49] akosyakov commented on #7902
@502647092 Could you reproduce it with https://github.com/eclipse-theia/theia/commit/1bc44b3a29eab9f3d7f398dead06f3a7edb15b58? Your version does not seem to contain it.

[2020-05-27 05:50] akosyakov commented on #7901
It happens from Gitpod always.

[2020-05-27 05:51] akosyakov commented on #7899
@RomanNikitenko Do you take care about it?

[2020-05-27 07:28] RomanNikitenko commented on #7899
@akosyakov
Do you mean apply the workaround or more complex solution?

[2020-05-27 07:56] akosyakov commented on #7902
From reading the code I think i understand the issue now:
- We apply keystrokes either to focused monaco editor or last focused tracked by us. We have to do it since we don’t track inline (debug console) and embedded editors (editor in peek reference), but Monaco does. Plus it is the same what VS Code do.
- When we ask Monaco to focus something it expects that the editor is already revealed and fo

[2020-05-27 08:23] akosyakov commented on #7899
I hoped for the solution. If not I can have a look.

[2020-05-27 08:52] thegecko commented on #5481
Sure, as discussed in the [dev meeting](https://github.com/eclipse-theia/theia/wiki/Dev-Meetings) yesterday, the plan is to stand up a travis build system for the [theia apps](https://github.com/theia-ide/theia-apps) project.

For now we want to prove this will work so Initially we aren't going to worry about signing any installers and will also defer decisions around the channels to be released.

[2020-05-27 09:02] kittaakos opened #7905 "[git] Git-diff toolbar action is not visible for a changed resource unless I reopen the editor"
### Bug Description:

![screencast 2020-05-27 10-56-18](https://user-images.githubusercontent.com/1405703/82999415-3dc9b300-a009-11ea-8313-1268cc86d389.gif)

### Steps to Reproduce:

1. Open a file, change it. You cannot see the git diff decorator.
2. Reopen the editor, you can see.
3.

### Additional Information

- Operating System:
- Theia Version:

[2020-05-27 09:59] #7902 closed

[2020-05-27 10:00] akosyakov commented on #7133
@kittaakos Do you think it could be resolved by https://github.com/eclipse-theia/theia/pull/7903 too?

[2020-05-27 10:01] akosyakov commented on #6298
@lmcbout Could you check whether it is still the case?

[2020-05-27 11:24] RomanNikitenko commented on #7899
@akosyakov
I didn't find a good solution quickly and I don't see how to fix it before `Theia` release, that's why I created the issue.
So if you see a solution, please do it.

[2020-05-27 13:02] kittaakos opened #7909 "[monaco][debug] Inline variable values in source code"
Inline debugging an interesting and unique feature of IntelliJ IDEA. The inline debugger
displays the values of variables within the code, right next to the line where they were
used. Whenever the value of the variable changes, the inline debugger highlights it with a
different color. To check out the values, there’s no need to move to the Debug window or
hover over each variable one-by-one like w

[2020-05-27 13:30] lmcbout commented on #6298
@akosyakov I tried to reproduce the wrong editor focus with electron, Chrome and Firefox, could not reproduce, so It seems to be fixed

[2020-05-27 13:42] lmcbout opened #7910 "TypeError: r.SemanticTokensLegend is not a constructor"
### Bug Description:
I noticed this error when I first open a typescript file on the console.
"r.SemanticTokensLegend is not a constructor"

### Steps to Reproduce:

1. Star Theia in a workspace
2. Open any "*.ts" file    i.e. quick-input-service.ts
3. Look at the console, the error is reported

Logs:
root ERROR [hosted-plugin: 13119] Promise rejection not handled in one second: TypeError: r.Seman

[2020-05-27 13:49] kittaakos commented on #6298
I can confirm. I have noticed, opening multiple files in editor is slower a bit UX-wise, but this is OK. Opening was parallel previously, now we do not open the next editor unless the current is up, and the focus is set. How to try: select 20-30 files in the Explorer and DND into the main area; it works now.

[2020-05-27 13:53] akosyakov commented on #7910
duplicate of https://github.com/eclipse-theia/theia/issues/7840

[2020-05-27 13:53] #7910 closed

[2020-05-27 14:29] balajiv113 commented on #7896
Hi, i would like to work on this issue.

[2020-05-27 14:51] lmcbout commented on #4707
I get the same error when I try to rename a file which is in the preview state;
Open the file in preview mode, then select "Rename" from the context menu in the explorer view.
ERROR:
root ERROR Error: Reference widget is not in the layout.
    at DockLayout.../../node_modules/@phosphor/widgets/lib/docklayout.js.DockLayout.addWidget (http://localhost:3000/bundle.js:14840:19)
    at TheiaDockPanel..

[2020-05-27 14:57] akosyakov commented on #6298
Do you know where we have such logic?

[2020-05-27 15:02] kittaakos commented on #6298
It just feels slower. 👇

[2020-05-27 15:11] lmcbout commented on #6298
Tested with UBUNTU with an older version of Theia. Opening multiple files a the same time seems to be similar timewise at what was there before

[2020-05-27 15:12] marcdumais-work commented on #5481
Thanks Rob.

True, but we've been using Travis on this repo here, for our Windows CI,  since we moved to the Eclipse Foundation's org, and as far as I remember, we've had little issues caused by the service (windows-specific issues, e.g. related to the specificities of their file system, are another matter)

See here for the windows part of the [Travis config](https://github.com/eclipse-theia/thei

[2020-05-27 15:20] marcdumais-work commented on #7156
I believe this issue is fixed by a combination of the following merged PRs:
- https://github.com/eclipse-theia/theia/pull/7823
- https://github.com/eclipse-theia/theia/pull/7847

[2020-05-27 15:20] #7156 closed

[2020-05-27 15:25] kittaakos commented on #6298
Thanks for taking care of it and comparing the performances 👍 I am fine closing it, for sure, the error does not occur anymore when I open multiple files.

[2020-05-27 17:30] #6298 closed

[2020-05-27 19:32] lmcbout opened #7911 "Adjust the context menu for the output view according to the added plugins"
Following issue #7570 , I think it would be nice to adjust the context menu of the output view depending of the added plugins.

When I add a new plugins ( vscode-coverage-gutters-2.4.3.vsix) , I noticed that the context menu is modified in VSCode, but the context menu in Theia is not modified.

### Feature Description:

[2020-05-27 19:34] lmcbout opened #7912 "Add new menu item in the output view context menu"
#### Feature Description:

Following issue #7570 , I think it would be nice  to have in the context menu an entry: "Copy all" to copy all the data from that output channel or "Select all"

[2020-05-28 06:27] akosyakov commented on #7896
I am not sure how we should tackle it. What would better keybinding? cc @eclipse-theia/ecd-theia-committers

[2020-05-28 07:10] kittaakos commented on #7912
Probably we do not need both. You can select all with <kbd>Ctrl/⌘</kbd>+<kbd>A</kbd>, and copy with <kbd>Ctrl/⌘</kbd>+<kbd>C</kbd>. I do not see a reason having "Select All" as a menu item. Once you have triggered select all, you will copy, it's read-only. Let's not pollute the context menu just because we can add one more command. "Copy All" could be useful though.

[2020-05-28 09:36] akosyakov commented on #7542
FF issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1640883

[2020-05-28 10:19] azatsarynnyy commented on #7896
Sorry @akosyakov, I didn't get what the actual issue with Alt+N keybinding.
Is it about using the same keybinding for both browser and electron? Or something else?

[2020-05-28 10:40] akosyakov commented on #7896
Steps to reproduce:
- use Theia via the browser
- open a new file
- press `alt+n`
- expected that `~` is inserted and the new file dialog does not pop up

@azatsarynnyy is it better?

[2020-05-28 10:45] azatsarynnyy commented on #7896
why pressing alt+n should insert `~`?

[2020-05-28 10:55] akosyakov commented on #7896
Maybe it is related to germany layout on mac only 🤔

[2020-05-28 11:01] akosyakov commented on #7896
Most importantly here that the new file dialog does not pop up on any platform if an editor is focused and such keys expected to insert something.

[2020-05-28 11:03] kittaakos commented on #7896
Well, I had the same question yesterday and tried it locally with EN_US layout on macOS;  it really inserts a tilde but another one:
[code]
The first one is with <kbd>Shift</kbd>+<kbd>`</kbd>, the second is with <kbd>Alt</kbd>+<kbd>N</kbd>.

![screencast 2020-05-28 12-58-06](https://user-images.githubusercontent.com/1405703/83133608-6a51fd80-a0e3-11ea-84da-2dff0deeadf1.gif)

[2020-05-28 11:14] AlexTugarev commented on #7896
BTW: on mac with US layout `alt+n` inserts a superscript tilde, which when followed e.g. by an `n` allows to enter Enye (Ñ, ñ).

[2020-05-28 11:40] lmcbout commented on #7912
I don't think we  need both, only one of them is enough

[2020-05-28 11:50] spoenemann commented on #7896
Maybe change to `cmd+alt+n` on Mac?

[2020-05-28 11:59] akosyakov commented on #7896
@spoenemann sounds good if it does not affect other platforms.

[2020-05-28 12:02] azatsarynnyy commented on #7896
interesting...
for me, alt+n opens New File dialog
![Peek 2020-05-28 14-56](https://user-images.githubusercontent.com/1636395/83138488-89f12200-a0f3-11ea-9971-d27aba0b468f.gif)
Linux Fedora, Chrome, en_US

[2020-05-28 12:22] vzhukovskii commented on #7896
Have the same behavior as @azatsarynnyy has, but on the macOS under Chrome 81:

![tilda](https://user-images.githubusercontent.com/1968177/83140613-03d6da80-a0f7-11ea-96ce-97621ec34c11.gif)

[2020-05-28 13:02] akosyakov commented on #7896
https://github.com/eclipse-theia/theia/issues/7896#issuecomment-635291528 sounds good?

[2020-05-28 13:23] kittaakos opened #7915 "[debug][quick-pick] Cannot cancel "Attach by process ID""
### Bug Description:

Start the "Attach by process ID" launch config, try to cancel it by pressing `Esc` when the _Command Pallette_ is open. It results in an error.

![screencast 2020-05-28 15-18-09](https://user-images.githubusercontent.com/1405703/83146829-1cdf8b80-a0f7-11ea-91f5-b206ec58526b.gif)

[code]

### Steps to Reproduce:

1. Start the "Attach by process ID"
2. Change your mind and pres

[2020-05-28 13:26] tsmaeder opened #7916 "Global Tasks not considered in "Configure Tasks...""
# Bug Description:
When calling "configure tasks", there are a couple of differences with the behaviour in VS Code.
Here are some scenarios:

1. When I have a shell task called "foo" in my user-level tasks.json, "foo" will show in "configure tasks" and and selecting the task will open the user level tasks.json
2. When I open a single folder and have a shell task called "bar" in `<folder>/.vscode/t

[2020-05-28 13:28] kittaakos opened #7917 "[debug] Same debug/launch config can be started in parallel"
### Bug Description:

VS Code does not allow starting the "same" thing twice:

![Screen Shot 2020-05-28 at 15 25 02](https://user-images.githubusercontent.com/1405703/83147151-911a2f00-a0f7-11ea-8b8d-a995528a6831.jpg)

Theia allows launching the same module in parallel:

![Screen Shot 2020-05-28 at 15 26 29](https://user-images.githubusercontent.com/1405703/83147229-b0b15780-a0f7-11ea-99a7-82255cd

[2020-05-28 13:34] kittaakos opened #7918 "[debug] The debug view does not store the selected launch config."
### Bug Description:

As the title says, it always shows the first item in the list after a browser refresh: "Attach by process ID"

### Steps to Reproduce:

1. Select "Launch with Node.js" launch config,
2. Refresh the browser,
3. It is "Attach by process ID"

### Additional Information

- Operating System:
- Theia Version:

[2020-05-28 13:58] grasmash opened #7919 "Keyboard bindings for hotkeys do not work with Dvorak Qwerty CMD layout"
### Bug Description:

There is a corresponding bug for VSCode here: https://github.com/microsoft/vscode/issues/23964

It appears the new key-rebinding feature when changing keyboard layout does not detect the Dvorak - Cmd-QWERTY layout correctly.

### Steps to Reproduce:

- Set up Dvorak - QWERTY layout
- Use any keyboard binding
- Keybindings no longer revert to QWERTY layout as they should

###

[2020-05-28 15:15] vince-fugnitto commented on #7919
@grasmash you're correct we don't have support for `keyboard.dispatch` yet.

[2020-05-28 15:21] grasmash commented on #7919
Thanks for the quick response. Is this a difficult thing to add?

[2020-05-28 15:26] vince-fugnitto commented on #7919
I looked at the implementation from vscode and does not look too difficult, it's a preference to treat keybindings as either `code` or `keyCode`. If you'd like to add it please feel free to open a pull-request :)

These are the files I found:
- [dispatchConfig.ts](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/services/keybinding/common/dispatchConfig.ts)
- [keyboard.dispatch](ht

[2020-05-28 19:50] benjaminhdavis commented on #6730
Saw this issue popup again while trying to do something similar to  the [solargraph plugin](https://github.com/castwide/vscode-solargraph/blob/c0cc829e2e1876bf2dbeeaee020d2953117ce5fd/src/language-client.ts#L14). It appears that the command list available for execution of markdown is completely different than the command list of theia.

I was able to get my plugin to execute my command in vscode (

[2020-05-29 06:25] akosyakov commented on #6730
Could you try `[label](command:commandId)`?

[2020-05-29 08:33] kittaakos commented on #5481
@thegecko, you have some experience with creating and shipping a signed electron-based app. Can you please tell us how long does it roughly take to sign the _Arm Mbed Studio_ for macOS? Have you managed to pack with `asar`? Thank you!

Recently, I have managed to sign a dummy electron app with GH Actions so if Travis CI cannot do the Windows part, we can use GH Actions.

Unfortunately, I was hitti

[2020-05-29 08:55] datou0412 opened #7926 "do we need real emitters? we need to dispose them then"
do we need real emitters? we need to dispose them then

Maybe stub events with `Event.None` instead?

_Originally posted by @akosyakov in https://github.com/eclipse-theia/theia/pull/7925_

[2020-05-29 08:56] #7926 closed

[2020-05-29 10:02] kittaakos commented on #7918
We cannot use the `StatefulWidget` hooks out of the box for restoration as the launch configs are loaded asynchronously; when we're restoring the layout, the `DebugConfigurationManager` does not know any configs; it's not possible to set the `current`. I came up with this, it works, it is definitely better than nothing but I do not like this approach much. Other suggestions?

[code]

[2020-05-29 10:03] kittaakos commented on #7918
Or we need an event on the config manager (`ready` or something) and we do the restoration on that event.

[2020-05-29 10:47] thegecko commented on #5481
Builds are about 40 minutes in total for each platform

We don't use asar

I wasn't aware GH actions were available for Windows, I assumed they were all docker images

[2020-05-29 10:50] kittaakos commented on #5481
Does this 40 min include the singing against the Apple server?

[2020-05-29 10:53] thegecko commented on #5481
Yes, it includes macOS notarization

[2020-05-29 11:33] tsmaeder opened #7927 "Cannot configure problemMatcher for User-Level Task"
Configuring a problemMatcher for user-level task when running the task fails silently

### Steps to Reproduce:
1. Add the following task to the "user level" tasks.json
[code]
2. Run the task
3. When asked for the problemMatcher, select "never scan the output for this task".
4. Observe: nothing happens.

The expectation here is that an empty problemMatcher array is added to the task like so:
[code]

[2020-05-29 12:01] akosyakov commented on #7013
I think it should be:
`yarn theia start --plugins=../../plugins --plugins../../../another-plugins-folder`

without any separators

[2020-05-30 03:25] a1994846931931 commented on #7349
We should support Node.js 12.

[2020-05-30 08:59] a1994846931931 commented on #4541
@dono1986 I'm still working on it... But what I know so far is that if we want to make binary of theia with nbin, we should probably avoid using `fs-extra`. I don't know if the change is acceptable to @akosyakov ?

[2020-05-30 16:57] luca-schlecker commented on #7737
I have found the error that's causing this problem. While forking, ELECTRON_RUN_AS_NODE` is set to 1. This is a bug fixed in newer versions. More about that bug [here](https://github.com/electron/electron/pull/19742). I've manually tested it by removing that flag and execution works as expected 👍 To fix this, electron has to be upgraded to at least 7.2.X or the flag would have to be removed manual

[2020-05-31 06:36] katunin-ng opened #7930 "Admin control over extension pane in enterprise IDE editions"
Hi,

In Enterprise editions of Theia based IDEs usage for Open VSX registry extensions should be controlled by the tenant/account owners.
We propose to add an environment variable that each IDE can set base on they own logic/need.
The value of this variable will enable/disable the possibility to open the Extensions pane in the IDE.
By default, e.g. variable is not set, the pane can be opened.

Ple

[2020-05-31 10:38] RomanNikitenko opened #7931 "Align TaskScope with API object"
I think [TaskScope](https://github.com/eclipse-theia/theia/blob/2aa2fa1ab091ec36ef851c4e364b322301cddb40/packages/task/src/common/task-protocol.ts#L150) should be aligned with the corresponding object in [theia.d.ts](https://github.com/eclipse-theia/theia/blob/2aa2fa1ab091ec36ef851c4e364b322301cddb40/packages/plugin/src/theia.d.ts#L8637) and [VS Code](https://github.com/microsoft/vscode/blob/50f90

[2020-05-31 14:52] vince-fugnitto commented on #7930
Hi @katunin-ng, like any widget present in the framework, an application-developer can customize the opening of widgets and actually prevent opening some if it meets your needs. I’m not sure it’s necessary to include such an environment variable.

[2020-05-31 16:57] RomanNikitenko opened #7932 "Variables are not resolved for user level tasks"
### Bug Description:
I faced with the problem that some variables are not resolved when `tasks.json` file is open for `user level` tasks.
It can be really confused for user, because user usually uses `Configure Task` action (opens the corresponding `tasks.json` file) to edit a configuration and then run it/test it. So it's easy to face with the issue (`tasks.json` file is still open after editing)

[2020-05-31 17:29] RomanNikitenko opened #7933 "Apply Task Template at configure user level tasks"
For case if user prefers to configure first `user level` task and doesn't have `user level` tasks yet, he/she can use `Task: Open User Tasks` action.
At the moment this action just opens empty `tasks.json` file.

The behavior can be improved and aligned with similar case at workspace folder level by using `Task Template`.
It's used in `Theia` if user doesn't have `tasks.json` file on workspace fol

[2020-06-01 02:12] nklayman commented on #7828
I've gotten this on Manjaro Linux as well.

[2020-06-01 02:34] vince-fugnitto commented on #7828
@nklayman do you happen to have additional information which would be useful to troubleshoot the issue?

- steps to reproduce?
- have you installed the necessary prerequisites?
- do you see any error logs? (console, backend)

[2020-06-01 12:17] luca-schlecker commented on #7737
I have found the error that's causing this problem. While forking, ELECTRON_RUN_AS_NODE` is set to 1. While this flag is 1, electron won't start for me from a terminal.

[2020-06-01 14:13] colin-grant-work commented on #7887
I will have a look at this today. Work here may also contribute to #7746.

[2020-06-01 18:15] danieltomasku commented on #7899
I am also getting the same error when using the `QuickOpenService` with `fuzzySort: true`:
![image](https://user-images.githubusercontent.com/14880569/83440003-c2ea0900-a409-11ea-8509-416c70f8a4ea.png)

[2020-06-01 21:33] westbury commented on #7789
No, that is not as expected.  Deleting the file deletes it in the working tree.  It does not affect the index.  Seeing the deletion after one has committed is correct because the file was added in the commit.

The error is in fact that the file does not show at all after the deletion and before the commit.  It should show as added in the staged changes and deleted in the unstaged changes.  The pro

[2020-06-02 06:22] akosyakov commented on #7930
DI is a primary way to change the default behaviour via the Theia extension.

[2020-06-02 06:25] akosyakov commented on #4541
@a1994846931931 What's wrong with `fs-extra`?

[2020-06-02 06:34] a1994846931931 commented on #4541
Because `nbin` could only hack (override) the internal `fs` and if a `nbin` packaged binary needs to read from its internal filesystem, it must use the overridden 'fs`.

https://github.com/cdr/nbin/blob/42b249e5def2d8d71fb3bfd33ff5a8c59eb54a0c/src/patches/fs.ts#L30

[2020-06-02 07:11] tsmaeder commented on #7931
Could you clarify what you mean by "aligned"? What change do you propose?

[2020-06-02 07:24] Kreyren opened #7937 "Yaml file 'dockerfile.yml' is assigned with a wrong file icon"
![image](https://user-images.githubusercontent.com/11302521/83371254-408a2680-a3c2-11ea-8756-666b3e43ff19.png)

Transfer from https://github.com/gitpod-io/gitpod/issues/1570 as requested by @akosyakov

[2020-06-02 07:33] RomanNikitenko commented on #7931
I mean we have the difference for `Workspace` scope:

Theia object from task protocol:

[code]

Objects from `theia.d.ts` and `vscode.d.ts`

[code]

[2020-06-02 07:40] tsmaeder commented on #7931
Thx, didn't realize that.

[2020-06-02 07:43] kittaakos opened #7938 "[debug] Save the dirty editor when starting launch config"
### Bug Description:

Theia does not save the dirty editor before starting debugging on that resource. VS Code does.

### Steps to Reproduce:

1. Disable auto-save,
2. Modify a JS file, do not save it,
3. Start debugging. The editor remains dirty.

### Additional Information

- Operating System:
- Theia Version:

[2020-06-02 07:49] kittaakos opened #7939 "[debug] Undoing in editor when the debugger runs throws an error."
### Bug Description:

Undoing in a file during a debug session throws an error:
[code]

### Steps to Reproduce:

1. Have a valid JS file. Modify the module content to have a valid JS file with different content.
2. Start debugger. Hit a breakpoint in the module.
3. Do several undos.

### Additional Information

- Operating System:
- Theia Version:

[2020-06-02 07:52] kittaakos commented on #7937
Seems like the words `dockerfile` has greater precedence than the `.yml` extension. See [here](https://github.com/websemantics/file-icons-js/blob/9ceebffdefe63be331cb5d073b5761423655ac4c/index.js#L354).

I do not think there is much we can do without a dependency update/customization.
This issue is basically the same as https://github.com/eclipse-theia/theia/issues/7825.

[2020-06-02 07:55] kittaakos commented on #7937
@Kreyren, you can customize the `WorkspaceUriLabelProviderContribution` as a workaround.

I am going to close this issue and move your description to #7825. It's easier to track them together.

[2020-06-02 07:55] #7937 closed

[2020-06-02 07:55] kittaakos commented on #7825
@Kreyren wrote [here](https://github.com/eclipse-theia/theia/issues/7937#issue-628966170):

[2020-06-02 08:20] kittaakos commented on #7939
[code]

[code]

It's fine to do one, and revert the longer module to the initial one. The trick is that the breakpoint's line number exceeds the module content.

[2020-06-02 08:27] kittaakos opened #7940 "[debug] Cannot restore the console widget on app start"
### Bug Description:

### Steps to Reproduce:

1. Start a debugging session, so that you see the debug console,
2. Refresh the browser and check for the logs,
3. You can see `root WARN Couldn't restore widget state for debug-console. Error: TypeError: Cannot read property 'getControl' of undefined `.

`input` is not defined on `this` by the time we try to restore the layout:

https://github.com/ec

[2020-06-02 08:31] kittaakos opened #7941 "[debug] RangeError: Maximum call stack size exceeded from node-debug2 adapter"
### Bug Description:

I have noticed this error when I refreshed the frontend while an active debug session was running.

[code]

### Steps to Reproduce:

1. Start a debug session, hit a breakpoint
2. Refresh the frontend,
3. Check logs on the backend.

### Additional Information

- Operating System:
- Theia Version:

[2020-06-02 08:35] maxkoshel commented on #6601
@akosyakov

[2020-06-02 08:45] realsongcs commented on #5573
Hi guys, is this topic under developing? Has any progresses?
Thanks!

[2020-06-02 09:17] Kreyren commented on #7937
elaborate

[2020-06-02 09:26] kittaakos commented on #7937
Do you have your own Theia extension? You need one for the customization. Otherwise, you cannot do much about it.

[2020-06-02 09:36] akosyakov commented on #7941
It seems to come from the vscode extension, not our code?

[2020-06-02 09:38] akosyakov commented on #4541
@a1994846931931 Could you provide a list of such places?

[2020-06-02 09:44] Kreyren commented on #7937
I have this which i didn't have a timeframe to finish yet https://github.com/gitpod-io/autopod

Or what kind of extension do you mean.

[2020-06-02 09:47] kittaakos commented on #7937
A Theia extension: https://theia-ide.org/docs/authoring_extensions/

[2020-06-02 09:48] Kreyren commented on #7937
@kittaakos can you provide an abstract so that i know how to implement that

[2020-06-02 09:49] Kreyren commented on #7937
and is there something like bare minimum theia extension that i can just copy paste in gitpod to adapt this?

[2020-06-02 09:51] kittaakos commented on #7937
You could use the [`generator-theia-extension`](https://github.com/theia-ide/generator-theia-extension) to generate some boilerplate, but it won't work well as-is in Gitpod. I am not sure if there is a thing you can do now to have the desired icons.

[2020-06-02 09:52] Kreyren commented on #7937
stalling on the implementation then

[2020-06-02 11:04] westbury commented on #7789
Pull-request created https://github.com/theia-ide/dugite-extra/pull/36

[2020-06-02 11:42] munchkindev opened #7942 "Error: ENOSPC: System limit for number of file watchers reached"
### Bug Description:
The system limit for number of file watchers reached error appears when trying to host both frontend and backend on Theia using `ng serve` and `node index.js`. The backend and frontend run on ports 8080 and 4200. This is running inside of a docker container.

### Steps to Reproduce:

1. Setup your backend and frontend code on Theia.
2. Run `node index.js` on your backend
3. Ru

[2020-06-02 12:10] vince-fugnitto commented on #7942
@munchkindev the idea is to update the number of default `inotify` watchers on Linux as [documented here](https://github.com/eclipse-theia/theia/blob/bda9ff9d4cf15b28b5ffc2e984f11834adfc8f33/doc/Developing.md#linux).

For additional information please see:
- https://github.com/theia-ide/theia-apps/pull/238#issuecomment-532925010

[2020-06-02 12:38] munchkindev commented on #7942
@vince-fugnitto thank you for your quick response. How do I execute that properly? If I try to execute it I get an error saying that it's a read-only filesystem... Should I mendle with the docker-init somehow?

[2020-06-02 12:43] munchkindev commented on #7942
Or do I need to attach a volume with `sysctl.conf` in it?

[2020-06-02 12:48] vince-fugnitto commented on #7942
@munchkindev I believe you should update the system's default `inotify` value and not from docker, as docker likely does not expose the value to be updated (based on searching online). You are likely to find better documentation online on how to update the `inotify` value when using docker.

- https://github.com/moby/moby/issues/1044#issuecomment-273243860

[2020-06-02 13:36] #7942 closed

[2020-06-02 13:44] RomanNikitenko commented on #7697
@akosyakov
I see you published next version of `monaco-languageclient`.

Can I ask you publish 0.20 version of `@theia/monaco-editor-core` when you have a chance.

Then I can apply these versions for `Theia` and open a draft PR for testing and adaptation.

[2020-06-02 13:53] akosyakov commented on #7697
@RomanNikitenko Hi, I will do tomorrow morning.

[2020-06-03 06:46] #7927 closed

[2020-06-03 07:25] akosyakov commented on #7697
Published https://www.npmjs.com/package/@theia/monaco-editor-core/v/0.20.0 from https://github.com/theia-ide/vscode/commits/standalone/0.20.x

Recap for next time:
- clone https://github.com/theia-ide/vscode
- check out proper tag
[code]
- sync latest changes from upstream tag
[code]
- disable tree-shaking: https://github.com/theia-ide/vscode/commit/f0c7c1abfa7b34c390a497eb92c55ade039b4801
- updat

[2020-06-03 08:04] akosyakov commented on #7383
@tetchel Could you check against https://github.com/eclipse-theia/theia/pull/7570 please? The output view was completely reimplemented for better performance and user interactions.

[2020-06-03 08:07] akosyakov commented on #7616
@westbury no chance that you will work on it?

[2020-06-03 10:32] #7008 closed

[2020-06-03 10:32] #7347 closed

[2020-06-03 10:32] kittaakos commented on #2702
Closed via https://github.com/eclipse-theia/theia/pull/7570.

[2020-06-03 10:32] #2702 closed

[2020-06-03 10:33] kittaakos commented on #2385
It has been implemented via https://github.com/eclipse-theia/theia/pull/7570. The output is an editor now.

[2020-06-03 10:33] #2385 closed

[2020-06-03 10:42] kittaakos commented on #5481
Thank you, @thegecko. It was a very useful input. Does this mean you do not have the `"sign" : true` explicitly set in the config, you run the notarization only but not an explicit singing, right?

I propose not using channels (well, just the default, `latest`), but having a separate _insider_ build which gets an update each evening. VS Code uses this pattern, it works perfectly.

If anyone is won

[2020-06-03 10:50] vinokurig opened #7946 "[Plugin API] Apply workspace.registerResourceLabelFormatter function"
### Feature Description:
Apply `workspace.registerResourceLabelFormatter` plugin API function.
See: https://github.com/microsoft/vscode/blob/3b55119a98f460dae77830f802fa25ea44deff2e/src/vs/vscode.proposed.d.ts#L380
VsCode PR: https://github.com/microsoft/vscode/pull/66352

[2020-06-03 13:23] lmcbout opened #7947 "Icons missing on the editor tabbar when opening a file from the SCM view"
### Bug Description:
Using GIt-UI and GIT plugins version 1.39.1, there are some commands missing on the editor tabbar. The icons are not present as they are on VSCODE.

On the editor tab, the missings icons are when the file is open in a single editor
[code]
When  the editor is showing the diff editor, then other icons are added
[code]

### Steps to Reproduce:

1. Open the Source control View (Gi

[2020-06-03 13:24] akosyakov commented on #7947
Just to clarify VS Code was tested with git 1.39.1 extension as well? It could be that this extension is simply out-dated?

[2020-06-03 13:28] lmcbout commented on #7947
In Theia, git version 1.44.2 from ope-vsx registry does not work right now. On VSCode, this is a different version . This is why I mentioned the version I discovered this issue. When we will be able to upgrade , may be this issue might be gone !

[2020-06-03 13:30] vince-fugnitto commented on #7947
@lmcbout the icons you see in vscode come from `gitlens` not the builtin.
You can test in vscode by running the command `Reload with Extensions Disabled`:

<div align='center'>

![Screenshot from 2020-06-03 09-29-24](https://user-images.githubusercontent.com/40359487/83642472-df5a8280-a57c-11ea-92d9-47fe60122a97.png)

</div>

[2020-06-03 13:39] kittaakos opened #7948 "[git][scm] Duplicate Clear actions on the toolbar"
### Bug Description:

Happens in the browser and the electron env too:

![Screen Shot 2020-06-03 at 15 37 04](https://user-images.githubusercontent.com/1405703/83643436-4d6c6d00-a5b0-11ea-90ce-365d5dc9ff7e.jpg)
![Screen Shot 2020-06-03 at 15 37 11](https://user-images.githubusercontent.com/1405703/83643440-4e9d9a00-a5b0-11ea-90ac-8f2d1554fdff.jpg)

Also, they do not have a tooltip.

### Steps to R

[2020-06-03 13:39] kittaakos commented on #7948
I do not know why the actions have a different order.

[2020-06-03 13:51] lmcbout commented on #7947
Sorry, @vince-fugnitto found the icons comes from GITLens. Tested it and the icons are available.

[2020-06-03 13:51] #7947 closed

[2020-06-03 13:57] vince-fugnitto commented on #7948
I think the issue is that one of the toolbar items is incorrectly displayed in all views at the moment, for example, if you open the explorer:

<div align='center'>

![Screenshot from 2020-06-03 09-57-24](https://user-images.githubusercontent.com/40359487/83645574-a45a4e00-a580-11ea-9e1d-4dc2e9dee9d0.png)

</div>

[2020-06-03 13:59] vince-fugnitto commented on #7948
@kittaakos the issue seems to be related to the recent changes to the `output-view`:

https://github.com/eclipse-theia/theia/commit/60437227287773d7b4e032ce4b6e2568cbb87d65#diff-f039d25a52fcd004ad127516a0330b02R125-R128

[2020-06-03 14:31] vince-fugnitto commented on #7948
For the case of the ordering of the scm toolbar items, they aren't making use of `priority` so they are likely to be added in order that their registration completes:

https://github.com/eclipse-theia/theia/blob/60437227287773d7b4e032ce4b6e2568cbb87d65/packages/core/src/browser/shell/tab-bar-toolbar.tsx#L261-L264

[2020-06-03 14:48] #7948 closed

[2020-06-03 14:56] RDIL opened #7951 "[java] rouge text on the screen"
I have no idea how to reproduce this but here is what I do know:
* This was on a Gitpod workspace
* A Java file was opened
* I have never seen this before
* I am on a chromebook

![Screenshot 2020-06-03 at 10 57 58 AM](https://user-images.githubusercontent.com/34555510/83652922-2babbf80-a589-11ea-95f6-913d44913e68.png)

[2020-06-03 15:00] vince-fugnitto commented on #7951
@RDIL thank you for the issue, it seems to be a duplicate of https://github.com/eclipse-theia/theia/issues/7411 which provides reproduction steps.

[2020-06-03 15:00] #7951 closed

[2020-06-03 15:17] tetchel commented on #7383
It is fixed

[2020-06-03 15:17] #7383 closed

[2020-06-03 16:37] hanspoo opened #7952 "Syntax highlighting and validation for GraphQL schemas"
Support for grapqhl language like atom's language-graphql package

Syntax highlighting  and validation for GraphQL schemas.

[2020-06-03 17:55] #7952 closed

[2020-06-03 18:50] lmcbout opened #7953 "Using GIT plugin generates an error on the console"
### Bug Description:
Using open-vsx Git and Git-ui with Theia configuration, there seems to be an error logged on the console when I select a file in the SCM (Git) view

### Steps to Reproduce:

1. Use Git annd Git-UI version 1.39.1 from open-vsx registry
2. Remove from your package.json :  @theia/git"
3. Compile and open a workspace having some files modified  in your workspace
4. Open SCM view
5

[2020-06-03 20:15] caseyflynn-google opened #7954 "[security] XSS vulnerability in markdown preview"
### Bug Description: XSS vulnerability in markdown preview

The Markdown Preview can exploited to execute arbitrary code.

### Steps to Reproduce:

1. Create markdown file and append the following text: <style onload="alert(0)">
2. Save and close the file.
3. Right click the file and select Open With -> Preview
4. Observe the alert has fired.

The root cause of the vulnerability is the current usa

[2020-06-03 21:15] danieltomasku opened #7955 "[references] References view does not open"
### Bug Description:
Right-clicking on a function and selecting `Find All References` does not open the references view panel on the left.

![find-all-references](https://user-images.githubusercontent.com/14880569/83688402-f6b46280-a5b2-11ea-84dd-5e286791c923.gif)

It produces this error as well:
![image](https://user-images.githubusercontent.com/14880569/83688559-3c712b00-a5b3-11ea-8d18-88b3016d6

[2020-06-03 21:26] kenneth-marut-work opened #7956 "TaskConfiguration setter does not properly stringify TaskConfig"
### Bug Description:
When trying to write a task configuration using `TaskConfigurationManger`'s `.setTaskConfigurations()` method, invalid JSON is written when stringifying ENUM types for `presentation.reveal` and `presentation.panel`.

### Steps to Reproduce:
1. Create an extension that injects the `TaskConfigurationManager`
2. Build an object of type `TaskConfiguration` with some values (fill i

[2020-06-04 06:56] akosyakov commented on #7954
I would be fine with it. @marcdumais-work @eclipse-theia/ecd-theia-committers any concerns?

[2020-06-04 07:04] akosyakov commented on #7954
I think the ideal solution would be to run any remote HTML content as webviews: https://github.com/eclipse-theia/theia/issues/6562 And let them do whatever they want.

[2020-06-04 07:11] #7767 closed

[2020-06-04 07:11] a1994846931931 commented on #4541
@akosyakov That would include:
- packages/debug/src/node/vscode/vscode-debug-adapter-contribution.ts
- packages/plugin-ext/src/hosted/node/plugin-manifest-loader.ts
- packages/plugin-ext/src/hosted/node/plugin-reader.ts

And `packages/core/src/node/backend-application.ts` as well if one wants to package ssl files into the binary as well.

[2020-06-04 07:38] akosyakov commented on #4541
I will add it to the dev meeting? Do you think you can join to explain? One concern that we need a way to ensure that we don't break it with new changes.

[2020-06-04 07:52] a1994846931931 commented on #4541
@akosyakov I'd love to join in but, I may not be able to join in the meeting in office hours due to my company's network setting and I must be careful not to break the "safety red line". It's kind of tricky because all the work is done within the company's computer and I cannot show you how it works at home.

[2020-06-04 08:13] spoenemann commented on #7954
Here's another piece of code where this problem is relevant:

https://github.com/eclipse-theia/theia/blob/c80f3fecb632150243aa3044dda50ec2cda2d9fc/packages/vsx-registry/src/browser/vsx-extension.tsx#L385

[2020-06-04 08:23] Hanksha opened #7958 "Add order property to SubMenuOptions"
Currently it's not possible to manage the order of sub menus like menu actions via the `order` property. I'd like to add the `order` property to `SubMenuOptions` so it can be sorted with the menu actions.

[2020-06-04 08:31] Hanksha commented on #7958
I'll start working on it.

[2020-06-04 09:04] thegecko commented on #7954
I don't see any drawbacks, this would be great!

[2020-06-04 12:38] akosyakov commented on #7800
resolved in https://github.com/eclipse-theia/theia/pull/7957

[2020-06-04 12:38] #7800 closed

[2020-06-04 12:40] vince-fugnitto commented on #7958
Thank you for taking care of it!
Is it a duplicate of https://github.com/eclipse-theia/theia/issues/6768? I'm asking only so we can successfully close both issues (or keep one open so we can track it).

[2020-06-04 13:23] Hanksha commented on #7958
@vince-fugnitto yes it would fix that ticket as well, although I'm not entirely sure it will fix everything mentioned on that ticket (changing the order of existing sub menus).

[2020-06-04 13:25] vince-fugnitto commented on #7958
I don't think the idea is to update existing menu items, I think the idea is to support an optional `order` property which when defined will be used to sort menu items instead of by their id (segment of the menu path).

[2020-06-04 13:26] Hanksha commented on #7958
Ok you can close this issue as duplicate then.

[2020-06-04 13:27] vince-fugnitto commented on #7958
I'll close the older one since we had discussions here, and you've assigned it to yourself :)

[2020-06-04 13:28] vince-fugnitto commented on #6768
Closing in favor of https://github.com/eclipse-theia/theia/issues/7958

[2020-06-04 13:28] #6768 closed

[2020-06-04 13:28] Hanksha commented on #7958
Alright!

[2020-06-04 14:27] lmcbout opened #7961 "Open a new file in a diff editor from the GIT SCM does not open"
### Bug Description:
Selecting a new File in SCM GIT view (File with an "A" on the right side, not a "M" for Modified), it generates an error and the file does not open in the diff editor. If you select the same file but try to use the "Open File" instead, no error are generated. VScode open the file in the diff editor.

### Steps to Reproduce:

1. Open SCM view
2. Select a new File (One with a "A

[2020-06-04 14:39] westbury commented on #6915
I've now been able to test with vscode.git-1.39.1.vsix.  The scm/resourceFolder/context menu items show correctly when switching Source Control view to tree mode and right-clicking on a folder.  I'm therefore closing this.

[2020-06-04 14:39] #6915 closed

[2020-06-04 15:04] #7892 closed

[2020-06-04 15:13] #7853 closed

[2020-06-04 22:37] marcdumais-work commented on #7712
Update: we now have a GH workflow that publishes to https://open-vsx.org the solid revisions of the vscode builtins. Upon committing the PR, current latest, `1.45.1`, was published. It will try again nightly, skipping already published extensions of that version, until a new vscode version is out.

[2020-06-05 05:52] chrbayer opened #7970 "Add dart/flutter support to full image"
In the full image support for the dart language is missing. Please add it to the full image as well, so that is really containing support for all available languages.

[2020-06-05 07:13] akosyakov commented on #7970
Please report on https://github.com/theia-ide/theia-apps

[2020-06-05 07:21] chrbayer commented on #7970
Opened as suggested https://github.com/theia-ide/theia-apps/issues/368

[2020-06-05 07:28] #7970 closed

[2020-06-05 08:20] #7958 closed

[2020-06-05 08:25] akosyakov commented on #4541
@a1994846931931 I have not tried nbin. Does it use webpack under the hood to bundle the server code?

[2020-06-05 08:37] jbicker commented on #7954
This should be already solved here:
https://github.com/eclipse-theia/theia/blob/master/packages/vsx-registry/src/browser/vsx-extensions-model.ts#L208

[2020-06-05 09:04] jbicker commented on #7954
@caseyflynn-google I created a PR where I sanitize the md. However this does not contain any solutions regarding lint rules. Another PR for that is still welcome.

[2020-06-05 09:26] a1994846931931 commented on #4541
@akosyakov No, I think it's just appending buffers of the content of all the files one specifies along with the file's meta info (absolute path in the building machine, size, etc.) to a patched node binary:

https://github.com/cdr/nbin/blob/42b249e5def2d8d71fb3bfd33ff5a8c59eb54a0c/src/api/bundler.ts#L19

Then the patched node executable will index all the files or directories within itself, and tr

[2020-06-05 09:41] akosyakov commented on #4541
I think it would be beneficial to webpack the backend first and then use a tool to create binary from bundled content. It should be simple then and webpack allow to reduce the size of binary by obfuscating and minifying code. I think we don't need to worry about `fs-extra` then.

[2020-06-05 13:04] #7659 closed

[2020-06-05 13:15] lmcbout commented on #7961
In addition to the description, selecting an Untracked File in SCM GIT view (File with an "U" on the right side),  it generates an error. So it seems the only file we can open is the Modified files ("M") and the deleted files ("D")

[2020-06-05 14:24] dschafhauser opened #7973 "Environment variables are not retrieved properly on Windows"
### Bug Description:
Only environment variables which are entirely *lowercase* will be resolved properly by `EnvVariablesServerImpl`.

### Steps to Reproduce:
1. Set some environment variables like this:
[code]
2. Create small example extension:
[code]
3. Executing yields the following output:
[code]

### Possible fix

Lookup of variables on Windows is always lowercase: https://github.com/eclipse-

[2020-06-05 16:34] AP-Hunt commented on #2842
Do you have any time frames for when we could expect to see the first alpha releases of the stuff you're working on?

[2020-06-05 21:12] sunix commented on #2842
hey, @Rijul5 will give a weekly update during the Che community meeting: https://github.com/eclipse/che/wiki/Che-Dev-Meetings

[2020-06-06 10:37] AP-Hunt commented on #2842
Excellent, thanks!

[2020-06-06 13:37] thegecko commented on #5481
PR for a first pass of this here: https://github.com/theia-ide/theia-apps/pull/370

[2020-06-06 15:13] vince-fugnitto opened #7974 "bug: failure to build using 'next' packages"
#### Bug Description:

The application fails to build when using `next` packages (as also viewed from [theia-apps](https://travis-ci.org/github/theia-ide/theia-apps/builds/695292595)). When attempting to 'compose an application', the build results in the following failure:

[code]

#### Steps to Reproduce:

If one wants to reproduce, you can simply follow the steps provided in [composing applicati

[2020-06-07 12:19] thegecko commented on #7974
This is due to the `lib` folder missing on @next releases since https://github.com/eclipse-theia/theia/commit/d9a0973039c571d53dba1d6c18ec5759ef071403.

It doesn't look like that PR caused an issue, that's just when it started happening.
I've confirmed the `@theia/cli` and `@theia/core` packages (at least) are missing the `lib` folders since this version.

[2020-06-07 12:48] thegecko commented on #7974
Looking at the build job from then, I can't see how theia is even built before deploy, the step which does it [is skipped](https://travis-ci.com/github/eclipse-theia/theia/jobs/344016848#L447).

I assume therefore, we load it from cache somewhere/somehow. I'll stop my investigation here as I'm sure there are others with a better understanding of the CI setup :)

[2020-06-07 19:56] rytina commented on #6370
Hi, I am also a newcomer...how did you resolved the Error: Cannot find module '../lib/theia'
Getting the same error

[2020-06-08 06:33] akosyakov commented on #7974
It could be that something went wrong with npm/yarn during last publishing and next publishing will fix it.

[2020-06-08 07:09] thegecko commented on #7974
There has been a publish since then which didn't fix it :(

[2020-06-08 08:17] westbury commented on #7616
Yes, by next week.

[2020-06-08 09:04] kittaakos opened #7977 "[electron] As a user, I want to trigger `rename` with `Enter` from the navigator"
Currently, pressing `Enter` opens the file in the editor. As a user, I would prefer to trigger `rename` to have the same UX I got used to with VS Code.

### Feature Description:

[2020-06-08 09:16] kittaakos opened #7978 "[flaky api-test] `editor.action.peekDefinition` `within an editor` test suite fails from time to time"
### Bug Description:

This test fails from time to time on the  CI, restarting the CI will usually resolve this issue by running the tests on the same Git commit.

Related test from `examples/api-tests/src/typescript.spec.js`:
[code]

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Operating System:
- Theia Version:

[2020-06-08 09:25] nothingismagick commented on #4541
For [tauri-theia](https://github.com/tauri-apps/tauri-theia), we are currently using `pkg` - but are a little dissatisfied with the bundle size. IMHO 25MB for a binary bundle is still WAY too big.

Also there are a bunch of warnings when running `pkg`...
https://github.com/tauri-apps/tauri-theia/issues/2

[2020-06-08 09:44] kittaakos opened #7979 "[problems] Implement `Clear All` action for the Problems view."
It is possible to wipe all diagnostics for a particular resource, it would be great to implement the removal for all known resources. Something like `Clear All` would be useful.

![screencast 2020-06-08 11-43-17](https://user-images.githubusercontent.com/1405703/84016311-604ebb00-a97d-11ea-9cdf-959bd71d48b5.gif)

### Feature Description:

[2020-06-08 10:20] allaVolkov commented on #7185
Is implementation of CustomExecution planned?

[2020-06-08 10:48] jeluard opened #7980 "Exception while running CodeTour extension"
### Bug Description:

Following exception is fired when using the [CodeTour](https://github.com/vsls-contrib/codetour/) extension.

[code]

### Steps to Reproduce:

1. Install the [CodeTour](https://github.com/vsls-contrib/codetour/) extension
2. Execute `CodeTour: Record Tour` command

[2020-06-08 11:04] datou0412 commented on #1327
What's the plan? Our team is waiting for this feature and we are glad to offer some help

[2020-06-08 11:38] akosyakov commented on #7185
Contributions to issues marked as `help wanted` and without any assignments are welcomed. It means that nobody is working or planning to work on them right now.

[2020-06-08 12:33] vince-fugnitto commented on #7980
I'm not sure why  [CodeTour](https://github.com/vsls-contrib/codetour) does not declare explicit dependencies, but when I manually fixed the imports the extension seemed to work properly. Perhaps VS Code has some logic to fix such issues:

[code]

<div align='center'>

![Screenshot from 2020-06-08 08-32-08](https://user-images.githubusercontent.com/40359487/84030760-8fa3fe80-a962-11ea-91c3-4237bcd

[2020-06-08 12:45] jeluard commented on #7980
Nice!! I am following up with the CodeTour team.

[2020-06-08 13:08] kittaakos opened #7981 "[json] Replace the JSON language contribution with a VS Code extension"
- Remove the `JsonClientContribution` from Theia,
 - Make sure schemas can be contributed without the customized `'json/schemaAssociations'` call (`JsonClientContribution#updateSchemas`)

### Feature Description:

[2020-06-08 13:24] tsmaeder commented on #7496
Thinking about this (and my approach for a fix in https://github.com/eclipse-theia/theia/pull/7633) a bit more...
Obviously, we would fetch tasks from task providers as few times as possible. This is because fetching them has a non-negligible performance impact (which brought me to file this issue).
There are two aspects to this issue: first: at which points in time can the set of contributed task

[2020-06-08 13:31] tsmaeder commented on #7496
In principle, there are two ways to establish such a scope:
1. Cache invalidation
This is the approach used in my PoC PR: we keep an implicit scope somewhere and when we start a user action, we invalidate that cache. The advantage is that we don't have to pass the set of tasks around. The disadvantage is that we may miss a call site where we _should_ invalidate the cache so that we work with old t

[2020-06-08 13:37] nisarhassan12 commented on #6904
I'm not able to figure out what files to change or how to go about it. Would be nice if someone is to outline things to do in order to make it work :slightly_smiling_face: ?

[2020-06-08 13:42] vince-fugnitto commented on #6904
This should help to get started:

https://github.com/eclipse-theia/theia/blob/f8491b4e688562fcffdaada237fb442ff462ef85/packages/scm/src/browser/decorations/scm-navigator-decorator.ts#L64-L77

[2020-06-08 14:40] akosyakov commented on #7954
@caseyflynn-google Is anything else has to be done?

[2020-06-08 15:44] marcdumais-work commented on #7974
I just tried building a `next` theia app, that it built. I also confirm I see the `lib` folder for the `core` and `cli` extensions, so it looks like the publish is normal again? Can someone confirm?

[2020-06-08 15:44] vince-fugnitto commented on #7974
I'll restart the `cron` on `theia-apps` and hopefully it passes :)

[2020-06-08 16:06] marcdumais-work commented on #7974
I think we have at least one new problem, seemingly related to `ripgrep`:
[code]

It happens that a new version was released yesterday, and yet another new one today:
[code]

[2020-06-08 16:11] marcdumais-work commented on #7974
I assume the `yarn.lock` is currently insulating the main repo from the issue above, pinning `ripgrep` to an earlier version vs what we pull in `theia-apps`.

[2020-06-08 16:25] marcdumais-work commented on #7974
New issue opened on `vscode-ripgrep`: https://github.com/microsoft/vscode-ripgrep/issues/13

[2020-06-08 16:33] marcdumais-work commented on #7974
As a temporaty work-around, we could use a `resolutions` block that pins `vscode-ripgrep` to `1.5.8`.

[2020-06-08 17:28] marcdumais-work commented on #7974
Looks to be fixed in `vscode-ripgrep` `v1.6.1`

[2020-06-08 18:56] marcdumais-work commented on #7974
Closing this issue for now - I think we do not know exactly what caused it, but it seems gone. Please re-open if not.

[2020-06-08 18:56] #7974 closed

[2020-06-09 09:42] #7916 closed

[2020-06-09 17:02] gbodeen opened #7983 "Restore workspace open files across multiple instances"
### Bug Description:

Expected: When re-opening a workspace, the editor pane should display the same open files as were open last time the workspace was in use.

Actual: Instances of Theia after the first open the workspace but do not restore tabs. This error appears in the console:

![image](https://user-images.githubusercontent.com/20653241/84176469-09adb380-aa47-11ea-9bce-a94aba793710.png)

Thi

[2020-06-09 20:15] caseyflynn-google commented on #7954
Sorry for the delayed response, this looks great! I am digging into a few options for flagging usage of xss sinks via eslint rules. https://github.com/mozilla/eslint-plugin-no-unsanitized looks promising, but I will need to reach out to the owner to ensure they are willing to accept a contribution to enable running the rule over typescript: https://github.com/mozilla/eslint-plugin-no-unsanitized/i

[2020-06-10 06:51] akosyakov commented on #7983
The error is weird. We have a guard that if indexeddb is not available then we don't use it. It seems in your env there is indexeddb support but it throws internal errors. Could you dig what is causing internal errors?

[2020-06-10 06:52] akosyakov commented on #7954
@marcdumais-work ? fyi we will use it only as a dev dependency.

[2020-06-10 07:23] kittaakos commented on #7983
Maybe it's a generic issue with electron: https://github.com/electron/electron/issues/10792#issuecomment-336528812

[2020-06-10 08:55] kittaakos opened #7985 "`Toggle Word Wrap` behaves incorrectly"
### Bug Description:

Executing toggle word-wrap twice should result in the same word-wrap setting. It feels, there are "two different types"? of word-wrap.

![screencast 2020-06-10 10-48-21](https://user-images.githubusercontent.com/1405703/84247485-776de400-ab08-11ea-90aa-40ae0abe3fc0.gif)

### Steps to Reproduce:

See the screencast.

### Additional Information

- Operating System:
- Theia Vers

[2020-06-10 11:52] vince-fugnitto commented on #7985
@kittaakos I may have misunderstood the issue but the `toggle word wrap` command should toggle between the available word wrap options, namely:

https://github.com/eclipse-theia/theia/blob/57fcabfbbc81f01486fcab50aaf2e9b40b6ed9a5/packages/editor/src/browser/editor-preferences.ts#L1148-L1153

[2020-06-10 12:01] vince-fugnitto opened #7987 "html: builtin displays an error notification"
#### Bug Description:

Following #7972, the `vscode-builtin-html-language-features` displays an error notification when a `html` file is opened. Originally commented: https://github.com/eclipse-theia/theia/pull/7972#pullrequestreview-427467884

<div align='center'>

![Screenshot from 2020-06-10 07-57-38](https://user-images.githubusercontent.com/40359487/84265178-6d3feb80-aaf0-11ea-9b74-36e534fcd9

[2020-06-10 15:02] idoprz opened #7989 ""Refactor Preview" pane"
VSCode now support a new refactoring capability called refactor preview.
It enables viewing the WorkspaceEdit before applying the changes.

The red-hat Java language support extension already supports it.
![image](https://user-images.githubusercontent.com/13120146/84283985-53c88f00-ab44-11ea-8df6-f6a36c27c3d7.png)

[2020-06-10 20:12] JesterOrNot opened #7991 "Autoclose HTML tags"
VSCode has support for autoclosing HTML tags.

https://www.loom.com/share/9a9d5a66198f404b92e44d019d9be93b

This support should be mirrored in VSCode.

[2020-06-10 23:30] murphye commented on #3276
I faced this issue as well when trying to run Theia in Docker on Linux a solution and docs would be appreciated.

[2020-06-11 00:03] Ab11234 commented on #7402
[](url) by Chris cummings and jeff cummings and patty barrows copyrights

[2020-06-11 00:10] Ab11234 commented on #7402
[ ](url) all in my chrrome made by Chris Cummings and Jeff Cummings I have several copyrights in my chrome that i recorded its my xhusband using an xfinity wifi mac address 90:78:41:f8:f5:c5: ort 80 p0rt 80 and 1080 i dont know how to get him out of my internet access on my chrome

[2020-06-11 00:42] vince-fugnitto commented on #7991
@JesterOrNot please try with the following pull-request: https://github.com/eclipse-theia/theia/pull/7972

[2020-06-11 06:38] abdo944 commented on #6904
‭050 537 9256‬

[2020-06-11 07:43] tsmaeder commented on #7496
A first try was based on cache invalidation: https://github.com/eclipse-theia/theia/pull/7633

[2020-06-11 08:34] #3985 closed

[2020-06-11 09:00] tsmaeder commented on #7496
The second one it based on an explicit token.

[2020-06-11 12:25] vince-fugnitto commented on #7991
I've verified that the autoclosing of HTML tags works as of cb5bdbda505359945feef7797b2d8f6f8091dea4.
Please re-open if there are still issues.

[2020-06-11 12:25] #7991 closed

[2020-06-11 12:58] kittaakos commented on #7991
![auto-closing-tag](https://user-images.githubusercontent.com/1405703/84387895-fab83400-abf3-11ea-8d10-c540c6da4ca1.gif)

[2020-06-11 14:25] RDIL commented on #7411
Update: it seems this has the `monaco-alert` class, and I don't know any times when this is used in a way that would help, so maybe a `display: none;` would do?

[2020-06-11 14:51] kaustav-aarish opened #7999 "Python extension on Theia throws errors"
### Bug Description:
Python extension on Theia throws errors.

### Steps to Reproduce:

I have added built-in extensions for ms-python and python in my package.json file as follows:

![image](https://user-images.githubusercontent.com/65616588/84387905-9db88000-abeb-11ea-8bae-1d3e602328b3.png)

My yarn scripts are as follows:

![image](https://user-images.githubusercontent.com/65616588/84387949-ae6

[2020-06-11 17:31] peey commented on #7402
For people landing here via a search, actual instructions at https://dev.to/akosyakov/simple-typescript-setup-to-debug-mocha-tests-from-vs-code-571f work

This issue is about adding it to documentation

[2020-06-11 17:32] peey commented on #7402
The configuration here seems to work : https://github.com/akosyakov/ts-mocha-debugging/blob/b0b56ce858a86dbb1c99776b0915662dbb85b99c/.vscode/launch.json#L9

[2020-06-11 18:07] vince-fugnitto commented on #7625
Closed by #7882

[2020-06-11 18:07] #7625 closed

[2020-06-12 05:50] akosyakov commented on #7999
Duplicate of https://github.com/eclipse-theia/theia/issues/3186#issuecomment-610356821

[2020-06-12 05:50] #7999 closed

[2020-06-12 05:54] #7879 closed

[2020-06-12 13:07] kittaakos opened #8001 "[monaco] Open recent workspace command is broken if editor has the focus"
### Bug Description:

![screencast 2020-06-12 15-03-07](https://user-images.githubusercontent.com/1405703/84505704-7d0d2a80-acbe-11ea-8cf6-e919d7119fde.gif)

### Steps to Reproduce:

1. Close all editors and trigger Open recent workspace with `Ctrl/Cmd+Shift+R`, it works.
2. Open an editor, make sure the editor has the focus (the cursor blinks in the editor),
3. Open recent workspace with `Ctrl/Cm

[2020-06-12 23:37] axelchalon opened #8003 "[plug-in] TreeView layout proportions are very uneven"
### Bug Description:

By default, the proportions of extension-contributed treeviews are very uneven, some treeviews being disproportionately small, making it very impractical to use the extension. This differs from the default behaviour on VS Code.

### Steps to Reproduce:
Running for example the following extension on Theia vs VS Code
https://github.com/paritytech/vscode-substrate ([vsix](https:

[2020-06-13 10:24] akosyakov opened #8004 "scm tree is not always correct"
<img width="454" alt="Screenshot 2020-06-13 at 12 22 35" src="https://user-images.githubusercontent.com/3082655/84566361-af776000-ad70-11ea-8d2f-a0866afc052c.png">

`timeline-main.ts` and `timeline.ts` does not belong to vsx-registry extension

cc @westbury

One can reproduce it with https://github.com/eclipse-theia/theia/pull/7997 by amending all PR commits.

[2020-06-14 03:21] marcdumais-work commented on #2448
Retested - sync works and the outline view is restored. Closing.

![Peek 2020-06-13 23-20](https://user-images.githubusercontent.com/25749063/84583896-7ec51400-adcc-11ea-8bea-598d4a6276da.gif)

[2020-06-14 03:21] #2448 closed

[2020-06-14 09:29] akosyakov opened #8005 "[lint][performance] detect uncollected disposables"
Leaking disposables cat capture other objects and cause memory leaks, i.e. the common use case listeners leaking widget or react components. It would be good to have linting rule for such cases. One should consider that there can be use cases when it is not necessary, i.e. for services which are bound to the application lifetime.

[2020-06-14 16:11] elaihau commented on #7714
I find Theia does not have the right icon for the `expand-all` feature. @vince-fugnitto  could you please tell me where did we get all the existing icons (such as `refresh` and `collapse`) and if we will need to create CQs for it? Thank you !

[2020-06-14 23:58] elaihau commented on #6027
I can no longer reproduce this one. Could you please confirm @RomanNikitenko ? Thank you !

[2020-06-15 00:13] elaihau commented on #5889
is this still reproducible? @azatsarynnyy @vince-fugnitto I cannot, from my local environment.

[2020-06-15 07:40] RomanNikitenko commented on #6027
@elaihau
you are right - I can not reproduce the bug now.
Thank you!

[2020-06-15 07:40] #6027 closed

[2020-06-15 07:43] veredcon opened #8007 "[vscode] Java Test Runner extension doesn't activate and icons are not loaded"
### Bug Description:
VScode extension https://github.com/microsoft/vscode-java-test (0.22.3) is not activated in theia and icons are not loaded. It is stuck on activation.

### Steps to Reproduce:

1. Go to https://theia-ide.org/
2. Click on "Try in Git Pod"
3. Drag & Drop the vsix to the extensions area

You can see the new panel of the Java:Test is added but the task bar shows the status of acti

[2020-06-15 09:41] sombreroEnPuntas opened #8009 "[native-keymap node-gyp ubuntu] Failed to install dependencies on master branch"
### Bug Description:
Just checked-out current master and tried to install deps with `yarn`, but it fails.

### Already tried

- Different versions of node, npm & yarn
- nsfw resolution as suggested [here](https://github.com/eclipse-theia/theia/issues/7510#issuecomment-610398175)

### Steps to Reproduce:

1. Open a terminal console
2. Run `git clone https://github.com/eclipse-theia/theia && cd thei

[2020-06-15 10:01] akosyakov commented on #8007
We could stub uiKind with desktop till we allow to run VS Code extensions in the web. But we should have the issue for later.

[2020-06-15 10:49] sombreroEnPuntas commented on #8009
@akosyakov wow! fast response time :)

What extra info could I add to clarify?

[2020-06-15 11:14] kittaakos commented on #8009
@sombreroEnPuntas, please see the requirements here: https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites

`pkg-config` is missing on your env as I see. Please check and get back to us if it still does not work. Thanks!

[2020-06-15 12:28] vince-fugnitto commented on #5889
I am unable to reproduce the error, I'll close for now and we can re-open if it ever re-occurs.

[2020-06-15 12:28] #5889 closed

[2020-06-15 12:36] vince-fugnitto commented on #7714
@elaihau for the newer icons (like in vscode) we need can use `codicons`.
For example, the collapse-all would be:

[code]

<div align='center'>

![Screenshot from 2020-06-15 08-34-21](https://user-images.githubusercontent.com/40359487/84657958-1ae13f00-aee3-11ea-97f1-cc3be88da44d.png)

</div>

The issue is that we do not support toggling icons (collapse / expand) as of yet: https://github.com/ecli

[2020-06-15 13:03] azatsarynnyy commented on #5889
can't reproduce it anymore

[2020-06-15 13:45] vince-fugnitto opened #8011 "bug: support codicons in vscode extensions"
#### Bug Description:

It is possible for VS Code extensions to define [codicons](https://code.visualstudio.com/api/references/icons-in-labels#icons-in-labels) in their `package.json` which is unsupported in Theia. We should support such icons so that builtin and external extensions work correctly. The `vscode-builtin-npm` extension is one such extension that makes use of such icons: https://githu

[2020-06-15 14:03] kittaakos opened #8012 "[monaco][quick-open] Using `fuzzySort: true` throws an error"
### Bug Description:

I can see the following error when I use the `fuzzySort: true` properties for the quick open service:

[code]

Here is the code that produces the error:
[code]

`monaco.quickOpen` does not have `compareEntries` property.
![Screen Shot 2020-06-15 at 16 01 56](https://user-images.githubusercontent.com/1405703/84666671-ab3e7480-af21-11ea-82af-857003d94f6e.jpg)

### Steps to Repr

[2020-06-15 14:09] akosyakov commented on #8012
duplicate of https://github.com/eclipse-theia/theia/issues/7899

[2020-06-15 14:09] #8012 closed

[2020-06-15 14:11] akosyakov commented on #8011
duplicate of https://github.com/eclipse-theia/theia/issues/7634

[2020-06-15 14:11] #8011 closed

[2020-06-15 14:46] kittaakos commented on #5796
That's the default electron behavior: https://github.com/electron/electron/issues/6656#issue-168436634
When `process.fork` is called from electron, `ELECTRON_RUN_AS_NODE=1` is always set.

[2020-06-15 14:46] #5796 closed

[2020-06-15 17:13] vince-fugnitto opened #8016 "vscode: plugin system incorrectly registers 'open views'"
#### Bug Description:

The plugin system incorrectly registers 'open views' to the `open view` prefix quick-open menu.
Instead of registering the container (actual views), it registers the individual view entries which does not align with VS Code. For example, when adding the **Gitlens** extension, the entry is not available in the quick-open menu.

#### Steps to Reproduce:

1. add [gitlens](https

[2020-06-15 17:48] akosyakov commented on #8016
There is `when` context for such entries. Maybe there is none matching?

[2020-06-15 18:05] vince-fugnitto commented on #8016
Is it intended that the `when` clause would influence adding entries in the `open view`?
For example, the `open view` is better in vscode as it also categorizes items, and the bug I mentioned does not occur, the `Gitlens` entry is present.

[2020-06-15 18:57] sombreroEnPuntas commented on #8009
ahá, thanks a lot!
Followed the instructions and it works :tada:
A good'ol case of RTFM :)

**Note:**
I am a bit surprised tho: installing dependencies (`yarn` command) should not build the project...
Might be a matter of personal taste, but build step should be explicitly separated from install.

[2020-06-15 19:00] sombreroEnPuntas commented on #8009
Shall I open a suggestion or another issue for splitting install and build steps?
Can also contribute with a PR if that's an accepted proposal :scroll:

[2020-06-15 19:42] akosyakov commented on #8016
Yes, it is the same in VS Code. GitLens extension is adding multiple views with the same name to quick open view, but only one is visible according to `when` closure.

I am not sure that categorisation is relevant here or should be another issue. We should show `line history` view when it is shown in VS Code regardless of categorization.

[2020-06-15 19:44] akosyakov commented on #8009
Probably it is matter of the taste, but i don't want to change it.

[2020-06-15 19:44] #8009 closed

[2020-06-15 19:49] vince-fugnitto commented on #8016
@akosyakov the main issue I noticed is that view containers such as Gitlens are not added to the `open view` menu while in vscode they are. I also do not believe that view containers support `when` contexts. For individual parts yes however (which we have today).

[2020-06-15 21:18] thegecko opened #8018 "[plugin] module resolution needs to be fully qualified"
### Bug Description:

TypeScript modules can be exported from index files to make it easier for importing.

For example, [this file](https://github.com/eclipse-theia/theia/blob/master/packages/core/src/node/index.ts#L19) exports `file-uri` so that it can be imported like this:

[code]

However, plugins in the plugin system don't seem to resolve modules exported in this manner and have to be fully

[2020-06-15 21:48] tsiyona opened #8019 "debug: As a Debug Adapter developer, I would like to support Exception Breakpoints"
### Bug Description:
Theia does not enable Exception Breakpoints option in BREAKPOINTS view, although my debug adapter provides Theia with exceptionBreakpointFilters in the debugger capabilities returned in DAP 'initialize' response.

### Steps to Reproduce:

1. Set exceptionBreakpointFilters values in debug-adapter code as follows:

[code]
2. Build
3. Start debugging
Result: BREAKPOINTS view does

[2020-06-16 01:32] bobby-007 opened #8020 "Has this vulnerability CVE-2019-17636 been resolved in 1.x release?"
### Bug Description:
This vulnerability is reported, I want to know whether exist in 1.x release version.
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-17636

### Steps to Reproduce:

### Additional Information

- Operating System:
- Theia Version: 0.3.9~0.15.0

[2020-06-16 04:22] marechal-p commented on #8020
No it is not, see the following quote from the CVE:

[2020-06-16 04:22] #8020 closed

[2020-06-16 06:02] akosyakov commented on #8018
Ideally the plugin host process should not import anything from `@theia/*` packages to reduce its size. We import though a bit of things to avoid duplications like events, but the rest is not bundled. That '@theia/core/lib/node/file-uri' is working is just by luck. You should not use it.

[2020-06-16 06:03] akosyakov commented on #8019
`debug-adapter code` - Where do we get the debug adapter code? Please provide drop-in VS Code extension if you can.

[2020-06-16 08:39] jgaiao opened #8021 "Theia crashes on minifed files"
### Bug Description:
With the latest version of theia, you simply open a minified file and the tab hangs (and another I have an app that spawns theia tabs). Google Chrome shows the warning that it is not responding, and if I wait enough (about 5min or so) it eventually goes back to responding, but only unlil I type 1 character or anything in the file.

Might have something to do with the tokenizat

[2020-06-16 09:00] thegecko commented on #8018
Of course, I was using this as an example :)

Oh, so the issue I've outlined is only apparent when importing `@theia/core`?

I'd like to understand why so that this issue can be avoided for other packages, perhaps it should be documented?

[2020-06-16 09:34] akosyakov commented on #8018
Oh, you mean that if I install any npm package as a dependency which provides index.js file then it cannot be imported? That's definitely will be a bug.

I meant that it is not possible to access anything from `@theia/*` packages by default, since plugins are running in own isolated process and provides `theia` namespace as API.

[2020-06-16 09:37] akosyakov commented on #8021
I think max tokenization line length was increased from 400 to 20000 to align with VS Code: https://github.com/eclipse-theia/theia/blob/57fcabfbbc81f01486fcab50aaf2e9b40b6ed9a5/packages/editor/src/browser/editor-preferences.ts#L113

Maybe we should use 400 as default for browser version and 20000 for electron.

[2020-06-16 09:39] thegecko commented on #8018
I haven't tried, but can't se it will be any different. My example above only differs in the way things are exported.

Yeah, I would expect the same, independent classes and/or global functions and types should still work, though.

[2020-06-16 11:12] jgaiao commented on #8021
Sounds like a plan. Changed settings to 400 and works like a charm as before.

To note, with 20000 it hanged on both a PC with an intel i7 and 6Gb of RAM and another with intel i5 and 8Gb of RAM. Both with linux that is more memory efficient.

[2020-06-16 12:48] akosyakov commented on #8021
You need to increase memory limit of your browser to make use of it: https://stackoverflow.com/a/32671934/961588

[2020-06-16 12:51] svor opened #8022 "[python]Problems with starting ms-python VSCode extension"
### Bug Description:
I tried to use latest [Python extension for Visual Studio Code](https://github.com/microsoft/vscode-python). For this moment it's [2020.5.86806](https://github.com/microsoft/vscode-python/releases/tag/2020.5.86806).
But got some issues during the initialization and as a result latest python extension doesn't work with theia:

- [x] **Unsupported activation events**
depends on

[2020-06-16 13:31] kittaakos commented on #8022
Same as https://github.com/eclipse-theia/theia/issues/7999?

Here is the  WIP PR for the VS Code FS API: https://github.com/eclipse-theia/theia/pull/7908

[2020-06-16 14:07] kittaakos opened #8023 "[test][git][windows] Flaky git test on windows."
### Bug Description:

The Windows CI has failed for a completely unrelated [PR](https://github.com/eclipse-theia/theia/pull/8013):
[code]

Build: https://travis-ci.com/github/eclipse-theia/theia/jobs/349708817

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Operating System:
- Theia Version:

[2020-06-16 14:11] jgaiao commented on #8021
Nice tip, was not aware of that (even tho I change that limit on Node.js all the time). But It still hanged juicing up to 6144MB the limit on the 20000 line length.

running with:    google-chrome-stable --js-flags="--max_old_space_size=6144"

At least now that I know, will keep it at 400. Gladly it can be controlled in settings.

[2020-06-16 21:03] gabihodoroaga commented on #8021
This is happening also for Electron 9 on Mac. The application hangs completely the CPU is 100% and the only way to fix it is to close the application. I updated the  editor.maxTokenizationLineLength to be 400 and now work fine.

[2020-06-16 21:24] #7779 closed

[2020-06-17 06:29] akosyakov commented on #8021
Could someone send a PR please to set 400 by default always? 🙏

[2020-06-17 06:32] akosyakov commented on #8022
First issue is tracked in https://github.com/eclipse-theia/theia/issues/6636. Second issue is new. The last is being worked on in https://github.com/eclipse-theia/theia/pull/7908.

[2020-06-17 06:37] cbos commented on #6636
@akosyakov @vince-fugnitto
Any idea when this will be implemented in Theia, are the plans for that already?
Markdown and python plugin face issues now.
We faced the same issue as well with another custom plugin.

[2020-06-17 06:47] akosyakov commented on #6636
We have not planed anything yet. But this issue indeed become important. The current goal is to get proper VS Code fs API support and simplify integration of new Monaco editor. That's enough work till August, so maybe in Autumn.

[2020-06-17 07:03] DoroNahari commented on #6877
I checked this issue again.
When repeating the steps written above with git lens webview, Theia is loaded but the editor area is blank/ lost it's state. i didn't saw any error or warning in the browser console.
I checked with other random webviews and some have the same issue and some have no issue at all.

issue (git lens):
![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/2

[2020-06-17 07:52] kittaakos commented on #8023
The Git version has changed on Travis from `2.25.0.windows.1` to `2.27.0.windows.1`.

[2020-06-17 07:59] kittaakos commented on #8023
I had `2.24.1.windows.2` locally, the tests passed, then I installed `2.27.0.windows.1`, ran the tests, they still passed. I am not sure if this is related to the Git version.

[2020-06-17 09:01] jgaiao commented on #8021
Just sent a PR, needs reviewing

[2020-06-17 09:16] nisarhassan12 opened #8028 "Unable to use the newly installed theme from open-vsx"
### Bug Description:

I just tried installing https://open-vsx.org/extension/GitHub/github-vscode-theme in theia  I can see it in installed section but when I select `View` -> `Find Command` and type Color Theme and in the menu, I can't find github-vscode-theme see the below gif. Thanks

![Peek 2020-06-17 14-01](https://user-images.githubusercontent.com/46004116/84879010-144df580-b0a4-11ea-9188-df

[2020-06-17 10:13] kittaakos commented on #8023
It is, finally, I managed to reproduce it manually.

[2020-06-17 11:28] tsmaeder commented on #8007
@akosyakov doc says

Isn't this just electron->Desktop or browser->Web?

[2020-06-17 11:31] mikael-desharnais opened #8030 "Missing dependency for core package"
### Bug Description:
In the core package, the src/common/resource.ts file imports a class from vscode-languageserver-protocol but, vscode-languageserver-protocol does not belong to the dependencies. The problem shows only when some other package that provides this dependecy is provided

### How to solve
Simply add  "vscode-languageserver-protocol" : "^3.15.0-next.8" to the package.json

[2020-06-17 11:38] akosyakov commented on #8028
@nisarhassan12 can you reproduce it with Theia from sources?

[2020-06-17 11:57] tsmaeder commented on #8007
I'll whip up a PR, shouldn't take more than a couple of hours.

[2020-06-17 12:00] kittaakos opened #8031 "[monaco] As a user I want to print the content of the currently opened editor"
### Feature Description:
 - [ ] Should be possible to configure the page setup,
 - [ ] Should be possible to print the current editor.

[2020-06-17 12:00] mikael-desharnais opened #8032 "Binding to Abstract PreferenceProvider class"
### Bug Description:
In core package, the src/browser/frontend-application-bindings.ts binds as such
`
bind(PreferenceProvider).toSelf().inSingletonScope().whenTargetNamed(PreferenceScope.User);
bind(PreferenceProvider).toSelf().inSingletonScope().whenTargetNamed(PreferenceScope.Workspace);
bind(PreferenceProvider).toSelf().inSingletonScope().whenTargetNamed(PreferenceScope.Folder);
`
But Preferen

[2020-06-17 12:02] kittaakos commented on #8031
Maybe https://github.com/PeterWone/vsc-print can cover this.

[2020-06-17 12:35] vince-fugnitto commented on #8030
@mikael-desharnais would you like to prepare a pull-request? :)

[2020-06-17 12:39] vince-fugnitto commented on #8032
@mikael-desharnais thank you for the issue, I believe it is a duplicate of the following: https://github.com/eclipse-theia/theia/issues/667

[2020-06-17 12:41] vince-fugnitto commented on #8023
@kittaakos do we close the issue or do we keep it open to track fixing the actual test?

[2020-06-17 12:52] mikael-desharnais commented on #8030
Here it is : https://github.com/mikael-desharnais/theia/pull/1

[2020-06-17 12:53] vince-fugnitto commented on #8030
@mikael-desharnais you'll have to open the pull-request on the remote (this repository).

[2020-06-17 12:54] kittaakos commented on #8023
+1 for keeping it open; it won't hurt. What do you think, @vince-fugnitto?

[2020-06-17 12:59] mikael-desharnais commented on #8032
@vince-fugnitto Maybe it is a side issue of the given ticket but I'm not sure that solving one will solve both

[2020-06-17 13:01] vince-fugnitto commented on #8023
Sounds good to me :)

[2020-06-17 13:08] mikael-desharnais commented on #8030
Better now : https://github.com/eclipse-theia/theia/pull/8033

[2020-06-17 13:08] vince-fugnitto commented on #8032
@mikael-desharnais what exactly is the issue you described, is it not that the `preferences` extension should be installed explicitly? (since it defines the `PreferenceProvider`) If so, then the original issue discusses this problem in depth.

[2020-06-17 13:30] kittaakos opened #8035 "Clicking on any disabled tab-toolbar item throws an error."
### Bug Description:

### Steps to Reproduce:

1. Open a workspace
2. Open the Search view
3. Check that the _Clear Search Results_ is disabled. (It should be disabled)

![Screen Shot 2020-06-17 at 15 29 54](https://user-images.githubusercontent.com/1405703/84904280-69433900-b0af-11ea-96a6-b91029f6faf4.jpg)

4. Click on it. It throws an error.

[code]

### Additional Information

- Operating Syste

[2020-06-17 13:31] kittaakos commented on #8035
Ohh, clicking on any disabled toolbar item throws an error.

[2020-06-17 13:42] #7979 closed

[2020-06-17 13:46] mikael-desharnais commented on #8032
No the preferences extension has way to many other dependencies, I think the core package should be able to come independently so the PreferenceProvider should not bind an abstract class or should provide a mock provider.

[2020-06-17 13:51] vince-fugnitto commented on #8032
It initially worked that the `preferences` extension was not mandatory but there is an issue (the one I referenced) which states there is a regression. At the moment, the `preferences` are mandatory in order for any Theia-based application to work successfully.
- https://github.com/eclipse-theia/theia/issues/667#issuecomment-528886568

[2020-06-17 14:05] mikael-desharnais commented on #8032
Adding two lines to the code would render the preferences optional (just by implementing the get/set preferences methods).
At the moment, preferences being mandatory means that :
    "@theia/editor": "^1.2.0",
    "@theia/monaco": "^1.2.0",
    "@theia/workspace": "^1.2.0",
are also mandatory which in turn means that lots of other things are mandatory.

[2020-06-17 14:09] akosyakov commented on #8016
@vince-fugnitto VS Code groups view by shell areas, nothing about view containers

[2020-06-17 14:09] vince-fugnitto commented on #8035
I've noticed the error before, it occurs when clicking a disabled toolbar item.

[2020-06-17 14:11] vince-fugnitto commented on #8016
@akosyakov yes I know, I thought for now grouping this way for now would add some value but I dropped the changes.

[2020-06-17 14:14] akosyakov commented on #8035
We should not serialize random args here: https://github.com/eclipse-theia/theia/blob/master/packages/core/src/common/command.ts#L298 Just drop args.

[2020-06-17 14:15] vince-fugnitto commented on #8032
@mikael-desharnais I'm not arguing that it shouldn't be optional, I'm stating that the issue is a duplication of the one I proposed with additional info. It'd be better to comment directly there.

[2020-06-17 14:16] akosyakov commented on #8032
@mikael-desharnais Is there a reason why you cannot include `@theia/preferences`?

[2020-06-17 14:21] mikael-desharnais commented on #8032
@akosyakov
I'm looking for a minimal configuration (with the least packages) for our applications which should be part IDE and part non-IDE. With both applications that can be shipped separately

[2020-06-17 14:36] #8021 closed

[2020-06-17 14:37] kittaakos commented on #8035
Why don't we rebind `JSON.stringfy` with a lib that can handle cycles?

[2020-06-17 14:37] vince-fugnitto commented on #8021
Fixed by: #8027

[2020-06-17 14:40] kittaakos commented on #8035
It's not just about whether we drop the args or not, but why does the command handler run when it is disabled?

[2020-06-17 15:10] nisarhassan12 commented on #8028
Thanks @akosyakov from the :arrow_up: in https://github.com/eclipse-theia/theia/issues/8028#issue-640280570 I meant "Theia from sources" sorry that I have not clearly specified it.

Actually I didn't know what does "Theia from sources" Thanks to @jankeromnes who explained this to me :slightly_smiling_face:

[2020-06-18 00:42] elaihau commented on #7714
@vince-fugnitto Thank you for the explaination.

I played with your code snippet in Theia, and found the following:

- This is what the Theia `collapse-all` icon looks like

![Screenshot from 2020-06-17 20-21-40](https://user-images.githubusercontent.com/37082801/84964468-34001080-b0da-11ea-9703-4ce85b1cc7b2.png)

- With `iconClass: 'codicon codicon-collapse-all'` it looks like this

![Screenshot

[2020-06-18 00:59] vince-fugnitto commented on #7714
@elaihau the `codicons` come from monaco so the reason why some might not be included can be due to the version it references. I’ll do a bit of investigation to which version it references.

[2020-06-18 01:40] elaihau commented on #7714
Thanks. I made a poc of the icon toggling by taking advantage of the visibility:
![Peek 2020-06-17 21-38](https://user-images.githubusercontent.com/37082801/84967830-f81d7900-b0e2-11ea-804e-674ee828f158.gif)

looks like if we have the right icon we could make it work

[2020-06-18 06:32] akosyakov commented on #8035
I don't think it's meaningful to log widgets.

[2020-06-18 06:33] akosyakov commented on #8032
Do you need file based preferences both for IDE and not-IDE? If so, you can include `@theia/preferences` in both.

[2020-06-18 06:44] kittaakos commented on #8035
Sure, but it has a type or `any[]` and I want to see the details of the failed command in the logs.
Also, if we just drop the `args` from the log, it is still an error, we should not run the command when it is disabled.

[2020-06-18 06:49] akosyakov commented on #8035
I think command id is good enough. It is not first time when we see such exceptions i would prefer to remove it.

this, i agree, your PR looks good

[2020-06-18 06:53] kittaakos commented on #8035
OK.

Alright. Let's do that.

[2020-06-18 08:58] kittaakos opened #8041 "[proposal] Replace `fs-extra` with Node.js' `fs` and `utils.promisify`"
Motivation:
 - one has to pin the `fs-extra` version in the `resolutions` when bundling up the electron application. Otherwise, the `electron-builder` will pull in an inappropriate version of `fs-extra` to the final app causing a startup error. More info is [here](https://spectrum.chat/theia/general/our-theia-electron-builder-app-no-longer-starts~f5cf09a0-6d88-448b-8818-24ad0ec2ee7c).
 - since we

[2020-06-18 09:01] akosyakov commented on #8041
node-fileystem will be removed in https://github.com/eclipse-theia/theia/pull/7908 and new impl does not use `fs-extra`. I think it is fine to drop additional dep.

[2020-06-18 09:38] #8007 closed

[2020-06-18 11:05] akosyakov commented on #4199
`onFileSystem` is covered in https://github.com/eclipse-theia/theia/pull/7908

[2020-06-18 13:12] #8030 closed

[2020-06-18 13:22] salkin-naj commented on #7912
I am interested in working on this issue. Did I read your conversation correctly, you want a 'Copy All' option, but no 'Select All'?

[2020-06-18 13:24] kittaakos commented on #7912
Sounds great, go ahead!

Correct 👍

[2020-06-18 13:49] vince-fugnitto commented on #7714
It should work to have the following as the two icons during the toggle:

[code]

I noticed the list of icons when viewing the following file (ex: `bell-dot` is not present):
- `node_modules/@theia/example-browser/lib/vs/editor/editor.main.css`

[2020-06-18 14:08] RomanNikitenko opened #8047 "API object TaskPresentationOptions is not taken into account"
### Bug Description:
I created a sample plugin and provided a task with `presentationOptions` filed, please see:
<details>
<summary>Task Provider Example</summary>

theia.tasks.registerTaskProvider('customType', {
        provideTasks: () => {
            const tasks: theia.Task[] = []

            const testTask: theia.Task = {
                name: 'TEST TASK',
                definition: {

[2020-06-18 15:40] vince-fugnitto commented on #7987
`registerOnTypeRenameProvider` is currently a **proposed API**:
- https://github.com/microsoft/vscode/blob/cda677da090fa640646b676706ab2e8fe059580e/src/vs/vscode.proposed.d.ts#L1216-L1230

[2020-06-18 17:17] vince-fugnitto commented on #7714
Correct, I don't see it in the file I referenced either.

[2020-06-18 18:18] kaiyue0329 commented on #7464
@Anasshahidd21 and I are working on this issue. We will create a PR for it soon.

[2020-06-18 19:22] gbodeen commented on #7983
[Here](https://github.com/electron/electron/issues/10792#issuecomment-618193172) is a partial solution:

In a couple places there's code using session.defaultSession to return the default session object, which I presume can be replaced by session.fromPartition("persist:partitionName"). However, in my initial tests, the websocket connection gets refused, indicating I'm missing something.

[2020-06-18 20:18] elaihau commented on #7714
@vince-fugnitto

made it :)
we will need a CQ to copy a few lines of code from vs code.
does it worth the effort ? i mean, we could simply keep it on hold until migrating to the right version of monaco (if the icon comes from monaco)

![Peek 2020-06-18 16-16](https://user-images.githubusercontent.com/37082801/85067692-1933a780-b17f-11ea-8af4-4f2388a82469.gif)

[2020-06-18 21:01] vince-fugnitto commented on #7714
@elaihau its in the works :) #8010
I don’t think it’s urgent, it’s already a cool POC to see it is possible!

[2020-06-19 01:47] elaihau commented on #7714
OK I will leave the way that the icon is toggled here so someone in future could use it if s/he needs

`packages/search-in-workspace/src/browser/search-in-workspace-frontend-contribution.ts`
[code]

[2020-06-19 06:24] akosyakov commented on #7983
Could you test whether it is still the issue with Electron 9? Here is a PR which we hope to land next  month: https://github.com/eclipse-theia/theia/pull/7968

[2020-06-19 06:26] jankeromnes opened #8051 "VS Code extension "vsls-contrib.codetour" fails with "(intermediate value).flat is not a function""
### Bug Description:

https://github.com/open-vsx/publish-extensions/issues/52

### Steps to Reproduce:

1. Install CodeTour extension: https://github.com/vsls-contrib/codetour
2. Check browser console for above error

### Additional Information

- Operating System:
- Theia Version: Gitpod's Theia

[2020-06-19 06:27] akosyakov commented on #7987
But experience is bad, we should either try a version before or port the implementation. I am not sure whether it is possible, maybe a new version of Monaco is required, not even 0.20 but newer.

[2020-06-19 06:29] jankeromnes opened #8052 "Draw.io VS Code extension fails with "registerCustomEditorProvider is not a function""
### Bug Description:

https://github.com/open-vsx/publish-extensions/issues/51

### Steps to Reproduce:

1. Install the Draw.io VS Code extension: https://github.com/hediet/vscode-drawio
2. Check the browser console for above error

### Additional Information

- Operating System:
- Theia Version: Gitpod's Theia

[2020-06-19 07:22] a1994846931931 commented on #3521
I somehow cannot rebuild theia, even if I checkout all the changes in my workspace. `git clean -ffxqd` fixed the issue.

[2020-06-19 07:25] mikael-desharnais commented on #8032
Well, as described in the @theia/preferences package.json : https://github.com/eclipse-theia/theia/blob/master/packages/preferences/package.json, this module comes with no-small dependencies : editor,filesystem,monaco & workspace which in turn have their own dependencies
Anyway, I don't think that injecting an abstract class is the safe thing to do. If the @theia/preferences module is required, th

[2020-06-19 07:32] kittaakos commented on #3521
@a1994846931931, can you give me a commit hash. Let me try to reproduce it.

[2020-06-19 09:35] a1994846931931 commented on #3521
The commit ID is: c80f3fecb632150243aa3044dda50ec2cda2d9fc

But I really don't how to reproduce it. It may due to that I do some cleaning every time I build theia:

[code]

[2020-06-19 10:44] lal12 opened #8053 "download:plugins fails if "theiaPlugins" is not present in package.json"
### Bug Description:
download:plugins fails if "theiaPlugins" is not present in package.json

### Steps to Reproduce:
1. Follow guide on https://theia-ide.org/docs/composing_applications/
2. Remove "theiaPlugins" key from package.json
3. Run "theia download:plugins" or just "yarn"

### Additional Information

- Operating System: Ubuntu 20.04
- Theia Version: 1.2.0 and next

[2020-06-19 11:09] akosyakov commented on #8053
What would you expect? Docs says that you should have `theiaPlugins`.

[2020-06-19 11:11] akosyakov commented on #8051
btw @jankeromnes Does it depend on LiveShare extension? LiveShare is under MS proprietary licence.

[2020-06-19 11:12] akosyakov commented on #8052
A duplicate of https://github.com/eclipse-theia/theia/issues/6636

[2020-06-19 11:12] #8052 closed

[2020-06-19 11:15] kittaakos commented on #3521
I have tried the following, it worked:
[code]

[2020-06-19 11:36] #7282 closed

[2020-06-19 12:35] davemecha opened #8054 "Don't open an editor for large files & binary files by default"
### Feature Description:

When a file is single clicked in the tree, it is immediately opened in an editor. This is a real problem for large files like a large .tiff image or other binary content as well as for large log files. The IDE freezes and becomes unusable in many cases, while it tries to load a 20MB file.
This makes it difficult to rename a large file in the tree, because it gets opened o

[2020-06-19 12:37] jankeromnes commented on #8051
I couldn't find the word "live" in https://github.com/vsls-contrib/codetour/blob/master/package.json, so maybe it doesn't (although I don't remember exactly how dependencies work -- will let you know when tonight's [publish-extensions](https://github.com/open-vsx/publish-extensions) runs whether it complains about a missing dependency).

[2020-06-19 12:51] vince-fugnitto commented on #8053
@lal12 the `download:plugins` script should only be used if you are actually planning to download the plugins defined in the `package.json`. If this is not your intentions then you should not call it (and neither should your prepare script). There is no reason to call the script if this is not your goal.

[2020-06-19 12:53] vince-fugnitto commented on #8054
@davemecha thank you for the issue!
I'm closing the issue since it is a duplicate of https://github.com/eclipse-theia/theia/issues/3859, which has additional information and discussions.

[2020-06-19 12:53] #8054 closed

[2020-06-19 12:58] akosyakov commented on #3859
It should be easy to achieve after https://github.com/eclipse-theia/theia/pull/7908

[2020-06-19 13:01] akosyakov commented on #8051
ok, `vsls` in the name confuses me, but looking at the code it does not seem to make use of live share.

[2020-06-19 13:02] nisarhassan12 opened #8055 "Find & Replace is not fully functional for keyboard users."
### Bug Description:

In both Theia and VS Code pressing enter in the focused input(where the new value is entered in find and replace) does not replace the contents I have to manually click on the small icon next to the input. I was expecting it to work when the enter key is pressed.

![Peek 2020-06-19 17-22](https://user-images.githubusercontent.com/46004116/85134647-4a32db80-b256-11ea-9dfe-a8e7

[2020-06-19 13:04] nisarhassan12 commented on #8055
@akosyakov I would love to make a PR for this but don't know what files to change and so on. Would be nice if you can outline steps or mention what files to change and so on? Thanks

[2020-06-19 13:09] vince-fugnitto commented on #8055
@nisarhassan12 in vscode the search-in-workspace options are accessible when pressing <kbd>tab</kbd>, is this the type of implementation you want to go for? At the moment, when pressing <kbd>tab</kbd> we toggle between the available inputs and the search results but never the options.

<div align='center'>

![test](https://user-images.githubusercontent.com/40359487/85135727-8f322000-b20c-11ea-809c

[2020-06-19 13:22] nisarhassan12 commented on #8055
Thanks! @vince-fugnitto the VS Code implementation looks ok.

This issue is specifically about not being able to replace the contents when pressing the enter key.

Generally, it would be great if all parts of Theia are fully accessible and usable via a Keyboard without having to use a mouse (i.e Jumping to the different parts of the IDE using skip links and so on and having all the interactive thi

[2020-06-19 13:28] vince-fugnitto commented on #8055
The issue I see with <kbd>enter</kbd> is that it is reserved to search, and an action like `replace all` is actually uncommon as it will potentially modify multiple files (that is why we add the safeguard dialog to confirm the choices). The <kbd>enter</kbd> to replace all only works in vscode if the option is currently focused.

I agree, the accessibility should always be improved and work well :)

[2020-06-19 13:33] nisarhassan12 commented on #8055
So maybe when the new Value field is focused and the enter key is pressed take the keyboard focus to the confirmation prompt ?

or maybe make the icon focusable with Tab.

[2020-06-19 13:35] vince-fugnitto commented on #8055
I think in general a good usability improvement would be to make the different options (icons) be focusable with <kbd>tab</kbd>. It will not only fix the issue, but will also improve the functionality of the other icons as well (and is likely to be the simplest fix).

[2020-06-19 14:03] nisarhassan12 commented on #8055
I will make a PR for this.

[2020-06-19 14:08] davemecha commented on #3859
This happens all the time.

* When I want to add an unknown image type (like tif) to my repo and I select the file. => BAM, the diff editor opens.
* I want to rename an image => BAM, the editor opens
* I select a large log file in the tree => BAM, the editor opens.

Files that are larger than some (configurable) limit should not be opened directly or maybe on a double click.

[2020-06-19 15:21] lal12 commented on #8053
I would assume that you could have no object in there, if you are using a bunch of standard scripts. I would expect npm/yarn similar behavior, which also won't fail if no dependency property is specified.

However I also get your position. But in this case I think there should be a proper error message, currently there is just a TypeError.

[2020-06-19 15:23] lal12 commented on #8053
I would assume that you could have no object in there, if you are using a bunch of standard scripts maybe from another project. I expected a npm/yarn compatible behavior, which also won't fail if no dependency property is specified.

However I also get your position and think failing is an acceptable option. But in this case I think there should be a proper error message, currently there is just a

[2020-06-19 15:28] vince-fugnitto commented on #8053
It is a custom script, there is no real reason to call it if your intentions are not to download plugins.

I'll update the error message, but the use-case is incorrect unfortunately.

[2020-06-19 17:20] #8053 closed

[2020-06-19 19:01] vince-fugnitto opened #8059 "preference: add support for 'files.trimTrailingWhitespace'"
#### Feature Description:

The following preference should be included in the framework: `files.trimTrailingWhitespace`.
The preference is useful to control the automatic trimming of whitespace characters when saving a text document. At the moment, there is no automatic trimming present in the framework.

[code]

#### Additional Information

- [VS Code Implementation](https://github.com/microsoft/

[2020-06-19 19:27] vince-fugnitto opened #8060 "theming: support theming customizations through the preferences"
#### Feature Description:

The goal is to support customization of the **theme** through the preferences (`settings.json`).
With this ability, end-users can easily customize their application's theme (such as the editor), in order to meet their needs and taste.

For example, I use the following theming customizations in my own vscode app (user settings):

[code]

I'd like to see such customziation

[2020-06-20 02:02] xieyuanhuata opened #8062 "The first stackframe response is very slow during plugin debugging."
### Bug Description:
When I add a debugging breakpoint to the scaffolding build plug-in and use Debug Instance to debug the plug-in, the breakpoint cannot be accessed for a long time and CALL STACK is empty until 5 minutes later.
During the debugging, the following error information is displayed on the background for multiple times:
root ERROR [hosted-plugin: 14390] ApplicationInsights:Correlation

[2020-06-20 09:27] meysholdt opened #8064 "VS Code Extension hashicorp.terraform can't launch language server"
The VS Code Extension hashicorp.terraform can't start it's language server.

### Steps to Reproduce:

1. install the extension in theia
2. trigger command: "Terraform: activate language server"
3. find the following stack trace in the logs:

[code]

see [LanguageServerInstaller.checkCurrent](https://github.com/hashicorp/vscode-terraform/blob/7fd81ed6d40c93cfb9129515d58f2a0ac6216fa0/src/languageSer

[2020-06-20 10:08] rayncc opened #8065 "Install packages failed with only VS2019 installed"
### Bug Description:
Failed with errors below:
[code]

### Steps to Reproduce:
1.An PC with only vs2019 installed.
2.yarn

### Additional Information
Theia version: lastest master branch.

**Change the node-gyp version in 'dev-packages/electron' to 5.1.0 or above will work:**
[code]

[2020-06-20 13:50] vince-fugnitto commented on #8065
@rayncc thank you for the issue! Can you make sure you've installed the necessary [prerequisites](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites), namely the following should fix the issue:

[code]

I'm not sure which operating system you are using however as it is not described.

[2020-06-20 13:57] vince-fugnitto commented on #8064
@meysholdt looking at the repo's history and opened issues it looks like the extension itself has a lot of problems at the moment (language server crashes, extension failing to work), so maybe it is expected that it does not work correctly right now.

[2020-06-20 19:54] GalacticLion7 commented on #5347
Does Theia work better on iPadOS than code-server? If not, then they are effectively the same thing on iPadOS.

[2020-06-21 06:44] idantr opened #8067 "Extension with long text is not fully seen in view -> plugins and not tooltip"
### Bug Description:
Extension with long description - we do not see the full description of the plugin

### Steps to Reproduce:

1. run theia with env variable: THEIA_PLUGINS=local-dir:/<>/git/theia/plugins

screenshot:
![image](https://user-images.githubusercontent.com/10183179/85218500-bbcc7000-b3a3-11ea-8563-af012f525b99.png)

### Additional Information

- Operating System: WIN
- Theia Version

[2020-06-21 08:08] rayncc commented on #8065
I'm working on Windows platform, so...
I don't want to install vs2015, and here are what I've installed:
![image](https://user-images.githubusercontent.com/4017903/85219699-9148da00-b3d8-11ea-8d00-38fa56c6126a.png)

I think it's a bug of node-gyp 3.8.0, which is used by **dev-packages/electron**. See:
https://github.com/nodejs/node-gyp/issues/1663

I changed the node-gyp version and it worked. But

[2020-06-21 14:58] vince-fugnitto commented on #8067
@idantr would you like to prepare a pull-request to add the description as part of the tooltip?

[2020-06-22 02:37] vince-fugnitto commented on #8065
@rayncc there are windows specific [build instructions](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#building-on-windows). I’m not sure why you mentioned ‘Visual Studio’ but is not necessary in order to successfully build (for example I don’t have it installed nor do colleges which build on Windows).

[2020-06-22 03:10] xieyuanhuata commented on #8062
The result is that vscode-node-debug2 uses telemetry for message interaction when debugging TS code. When Telemetry is enabled, TypeScript reports information to the Microsoft ApplicationInsights service. Is there a switch to control the Telemetry function in theia?

https://code.visualstudio.com/docs/supporting/FAQ#_how-to-disable-telemetry-reporting

[2020-06-22 03:32] troy351 commented on #7977
I think VS CODE has the same behavior as OS’s native resource manager.
- Windows Explorer => `F2`
- macOS Finder => `Enter`

[2020-06-22 06:15] akosyakov commented on #8067
For VS Code extensions, you should use `Extensions` view, not `Plugins`.

[2020-06-22 06:16] akosyakov commented on #8067
I'm not sure that we should work on enhanching `Plugins` view. It is not used in practice.

[2020-06-22 07:42] azatsarynnyy commented on #8022
I've updated the description with the corresponding issues.
We (at Red Hat) are going to start working on `CustomEditor API` https://github.com/eclipse-theia/theia/issues/6636

[2020-06-22 07:48] azatsarynnyy commented on #3186
FYI:
Python extension [relies on `CustomEditor API`](https://github.com/microsoft/vscode-python/blob/e7136b1448d27e9a607ca0d8242d4272b48aabdb/src/client/datascience/interactive-ipynb/nativeEditorProvider.ts#L35) for rendering Jupyter Notebooks.
We (at Red Hat) are going to start working on https://github.com/eclipse-theia/theia/issues/6636

[2020-06-22 07:49] akosyakov opened #8068 "scm search should belong to the tree part"
Right now it is at the top of SCM view
<img width="335" alt="Screenshot 2020-06-22 at 09 47 01" src="https://user-images.githubusercontent.com/3082655/85262101-91df8000-b46d-11ea-96bb-50670cc521b0.png">

[2020-06-22 07:53] azatsarynnyy commented on #6636
Python extension [uses `CustomEditor API`](https://github.com/microsoft/vscode-python/blob/e7136b1448d27e9a607ca0d8242d4272b48aabdb/src/client/datascience/interactive-ipynb/nativeEditorProvider.ts#L35) for rendering Jupyter Notebooks.

Some related references:
- https://code.visualstudio.com/api/extension-guides/custom-editors
- https://github.com/microsoft/vscode/blob/cd3a3ea6faa9d83dae1b706cfe1a

[2020-06-22 09:38] rayncc commented on #8065
I also make apps with .net, so I need to install visual studio 2019. and vs2019 have already provided **build tools** that **node-gyp** needs.
 take a look at the error logs:
[code]
node-gyp tried to locate MSBuild.exe, but with vs2019, the correct path is:
[code]
this is fixed by node-gyp at version 5.1.0

[2020-06-22 12:41] vince-fugnitto commented on #8067
I asked a similar question in the past (https://github.com/eclipse-theia/theia/issues/7375), in my opinion it is confusing to have both `plugins` and the `extensions` view. My concern however is that those that do not explicitly depend on `@theia/vsx-registry` will not have a view (since nothing pulls `vsx-registry`), and/or they might not want access to a marketplace so in that case do they add t

[2020-06-22 13:20] akosyakov commented on #8067
I assume they are either have own view or don't want to have view at all. Leaking dev time view to end users not really good.

[2020-06-22 13:32] vince-fugnitto commented on #8067
I'm not sure what you meant by 'dev time view', but my idea was to either:
- remove the view completely from sources
- remove it from the plugin-system, but add it to `api-samples` as an example (and since some devs use it for testing purposes)

I do not think that applications should have both views by default (when pulling `vsx-registry`) since they overlap and one of them (plugins) has a limite

[2020-06-22 15:18] vince-fugnitto opened #8070 "vsx: support query types"
#### Feature Description:

The goal is to support different types of prefix query searches in the **extensions-view** which will help improve both usability and functionality.

For example:

| Prefix | Behavior |
|:---|:---|
| `@installed` | Displays all user-installed extensions which satisfy the search query |
| `@builtin` | Displays all builtin extensions which satisfy the search query |

<div

[2020-06-22 15:25] tetchel opened #8071 "Modal notification does not render newlines or have a max-width"
### Bug Description:
A modal dialog shown using
[code]

does not render newlines or have a max-width, which makes long messages stretch the dialog the width of the viewport, which looks weird.

### Steps to Reproduce:

Have a modal notification with a long message in it and newlines. In VS Code, the text is wrapped, and newlines are rendered.
![image](https://user-images.githubusercontent.com/8888

[2020-06-22 15:33] vince-fugnitto commented on #8071
@tetchel would you like to prepare a pull-request to address the issue?

[2020-06-22 21:26] colin-grant-work opened #8072 "`All Files` filter option throws error"
### Bug Description:

When a file dialog is open that includes a filter field, selecting `All Files` will throw an error in the console.

### Steps to Reproduce:

1. Start Theia on `master` in a browser.
1. Select File menu -> Open Workspace
2. At the bottom of the file picker, select one of the filter options
3. Then select the `All Files` filter option
4. Observe that an error about `.slice` of

[2020-06-23 06:43] xieyuanhuata commented on #8062
This problem greatly affects user experience and may cause user privacy leakage.

[2020-06-23 07:18] azatsarynnyy commented on #8022
this one should be fixed by https://github.com/eclipse-theia/theia/pull/8038

[2020-06-23 09:37] kittaakos commented on #8071
Known limitation: https://github.com/eclipse-theia/theia/issues/7283#issuecomment-595629453?

[2020-06-23 12:06] #8016 closed

[2020-06-23 12:42] thegecko commented on #8018
I have got to the bottom of this issue.
By importing from the [index.js in theia](https://github.com/eclipse-theia/theia/blob/master/packages/core/src/node/index.ts#L19) file it also includes [cli-manager](https://github.com/eclipse-theia/theia/blob/master/packages/core/src/node/cli.ts#L32) which is an injectable class and therefore pulls in `inversify` dependencies.

Inversify requires `reflect-m

[2020-06-23 12:42] vince-fugnitto commented on #8071
The limitation is only for notification messages (toasts) similarly to vscode.
For notifications which are present in a dialog window, the explicit newlines are respected:

<div align='left'>

![aaa](https://user-images.githubusercontent.com/40359487/85404501-03cace80-b52d-11ea-9bde-6a5bb4664f47.png)

</div>

The issue I believe is that we likely do not handle template literal newlines and we don'

[2020-06-23 12:43] #7887 closed

[2020-06-23 12:44] kittaakos commented on #8071
Yes, that was clear. `vscode.window.showWarningMessage` uses the notification messages.

[2020-06-23 12:46] vince-fugnitto commented on #8071
Unless we use `modal: true` as an option (then it is rendered as a modal and not a toast):

[code]

[2020-06-23 12:49] kittaakos commented on #8071
I see your point. Is it a missing feature? So when `modal` is `true`, we should open a `Dialog` instead of a notification popup?

[2020-06-23 12:52] vince-fugnitto commented on #8071
The custom dialog that I sent a screenshot of is the modal implementation that we currently have (we do not use the browser modal). The issue is that we probably do not support string literals with newlines (which is what the codewind extension uses), and we likely do not have any `max-width` to force wrapping of the textual content.

[2020-06-23 12:57] akosyakov commented on #8018
🙈 It would be good to have a linting rule which restricts dependencies between js modules. VS Code codebase has custom: https://github.com/microsoft/vscode/blob/master/.eslintrc.json#L90 We could adopt it. Additionally we discussed with Sven long time ago to get rid of all index files since they tend to pull everything.

[2020-06-23 13:06] vince-fugnitto opened #8077 "preferences: widget state not preserved when switching editors"
#### Bug Description:

Original https://github.com/eclipse-theia/theia/pull/7936

The **preferences-widget** state is not preserved when switching editors.
When switching editors, the preferences-widget is reset (back to the top of the tree) which reduces it's usability.

#### Steps to Reproduce:

1. open the preferences-widget and scroll down the tree (not at the top)
2. open a new editor or swit

[2020-06-23 13:16] colin-grant-work opened #8078 "Browser, Electron restore widgets differently on show"
### Bug Description:

A propos #8077, the behavior of the Preferences Widget, and perhaps React widgets more generally, is different in when Theia is run in the browser and when it is run in Electron. Here is an example of the `scrollTop` of the preferences-editor-widget during switch from that widget to another editor widget and back.

Here's the browser during a show-hide sequence:

![browser-hi

[2020-06-23 13:23] vince-fugnitto commented on #8078
@colin-grant-work I opened the following issue but I'll keep yours opened since it has additional information: https://github.com/eclipse-theia/theia/issues/8077 :)

[2020-06-23 13:24] vince-fugnitto commented on #8077
Closing in favor of #8078

[2020-06-23 13:24] #8077 closed

[2020-06-23 13:26] colin-grant-work commented on #8078
@vince-fugnitto, yes, sorry it took me a while to open the issue!

[2020-06-23 14:29] akosyakov commented on #8018
We catch the error without propagating to the activation: https://github.com/eclipse-theia/theia/blob/7877a55f1a5d47eb89c2be09625cb25722e5ea5b/packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts#L198-L200 so failure is never delivered to a user

[2020-06-23 16:45] #8004 closed

[2020-06-23 18:57] vince-fugnitto commented on #8072
I was able to reproduce :smiley:

[code]

[2020-06-23 18:59] colin-grant-work commented on #8072
Unusual to get a smiley face for an error 🐛 😸

[2020-06-23 20:16] gbodeen commented on #7983
I tested that PR branch this afternoon on RHEL 7.8.  The issue still exists in Electron 9.

Incidentally, as I do not have root access, I had to run that branch as `yarn && yarn start:electron --no-sandbox`.  Without the no-sandbox flag, the `yarn start:electron` command prints a [message](https://github.com/electron/electron/issues/17972#issuecomment-487369441):

[2020-06-23 22:22] thegecko commented on #8018
I don't see that catch block hit in this case.

[2020-06-24 07:01] kittaakos commented on #7983
I am also interested in this issue and will try to share my findings here.

[2020-06-24 08:10] kittaakos opened #8081 "[enhancement] As a downstream consumer, I want to reuse the preferences editor and feed it with custom YAML content and scheme"
### Feature Description:

The new preferences editor is just great; I want to reuse its functionality and UI. As the ID of the preferences-widget suggests, maybe it can  be converted into a more generic, settings widget:

https://github.com/eclipse-theia/theia/blob/3eb067829bd2cb04fe03e1f57adab0ba641d27fd/packages/preferences/src/browser/views/preference-widget.tsx#L30

Pipe dream:
 - I have a YAM

[2020-06-24 08:29] akosyakov commented on #8018
@thegecko this catch can be removed and `PluginManagerExtImpl.loadPlugin` should catch an exception and handle it. Probably we should reject the activation promise as well in this case as here: https://github.com/eclipse-theia/theia/blob/3eb067829bd2cb04fe03e1f57adab0ba641d27fd/packages/plugin-ext/src/plugin/plugin-manager.ts#L366-L373 Maybe the catch block should be moved to `PluginManagerExtImpl

[2020-06-24 14:03] #7909 closed

[2020-06-24 15:55] tsiyona commented on #8019
We upgraded to Theia 1.1.0 and it supports Exception Breakpoints.

[2020-06-24 17:32] vincentjocodes opened #8085 "Showing the Output Channel after Debug Console does not refocus"
Hello,

I'm working on an extension that should be compatible with both VSCode and Theia. I noticed a difference in behavior when using `debug.startDebugging` and then `OutputChannel.instance.show` functions. In VSCode, the `OutputChannel.instance.show` will override the panel that is revealed but in Theia the focus to the OutputChannel will not refocus. Is this working as intended or a bug in The

[2020-06-24 19:35] #8085 closed

[2020-06-24 20:04] #8072 closed

[2020-06-24 20:09] vince-fugnitto commented on #4702
Closing since the issue is no longer applicable with the updated UI.

[2020-06-24 20:09] #4702 closed

[2020-06-25 07:52] kittaakos opened #8088 "[preview] Duplicate tab-toolbar action for the preview editor"
### Bug Description:

### Steps to Reproduce:

1. Open a `*.md` file,
2. Check the tab-toolbar.

![Screen Shot 2020-06-25 at 09 51 48](https://user-images.githubusercontent.com/1405703/85679294-91dbbc00-b6c9-11ea-8c86-cb378e07bf7e.jpg)

### Additional Information

- Operating System:
- Theia Version:

[2020-06-25 08:10] kittaakos commented on #6923
Check if the windows are not GCd. We do not keep a ref to them. https://github.com/eclipse-theia/theia/pull/3556#issuecomment-440357911

[2020-06-25 11:20] kittaakos commented on #5382
https://github.com/electron/electron/issues/6247#issuecomment-364660609

[2020-06-25 11:21] kittaakos commented on #5382
Same as #6923.

[2020-06-25 11:21] #5382 closed

[2020-06-25 11:50] vince-fugnitto commented on #8088
@kittaakos I believe it is a duplicate of https://github.com/eclipse-theia/theia/issues/6984.
I wouldn’t say it is a bug as the builtin is contributing the extra toolbar item duplicating the functionality present. For downstream apps, they can choose to use the builtin or the theia extension.