[2020-08-30 23:26] vince-fugnitto commented on #8447
@HansUXdev thank you for the issue, it is however a duplicate of the following: https://github.com/eclipse-theia/theia/issues/8266

The custom editor API is not yet supported.

[2020-08-30 23:46] vince-fugnitto commented on #8447
@HansUXdev thank you for reporting the issue, however it is a duplicate as the issue is already being tracked (the custom editor api is not yet supported)
- dupplicate drawio issue: https://github.com/eclipse-theia/theia/issues/8266
- custom editor api issue: https://github.com/eclipse-theia/theia/issues/6636

[2020-08-30 23:46] #8447 closed

[2020-08-31 08:31] #8209 closed

[2020-08-31 08:33] tsmaeder commented on #8434
Just saying we should not hard-code this in places it can't be customized by framework adopters.

[2020-08-31 13:27] Livven commented on #5177
Seems like it's been fixed for us 👍

[2020-08-31 13:27] #5177 closed

[2020-09-01 08:56] anavarre opened #8450 "Visual indication when a file or directory is Git ignored"
In Theia, you don't know when a file or directory is Git ignored:

![theia](https://user-images.githubusercontent.com/293478/91829330-9b415180-ec41-11ea-9555-000e31827916.jpg)

In PhpStorm, you do:

![phpstorm](https://user-images.githubusercontent.com/293478/91829331-9bd9e800-ec41-11ea-90db-690a25d8316f.jpg)

The feature request is for Theia to indicate when a file or directory is Git ignored.

[2020-09-01 09:07] kittaakos commented on #8450
Duplicate of #1564

[2020-09-01 09:07] #8450 closed

[2020-09-01 09:20] anavarre commented on #1564
Just a note that it's supported with PhpStorm as well

![phpstorm](https://user-images.githubusercontent.com/293478/91832042-2708ad00-ec45-11ea-8f70-865cdd9a9672.jpg)

[2020-09-01 14:50] vince-fugnitto opened #8451 "plugin: 'findFiles' should search ignored files when exclude is 'null'"
### Bug Description:

Originally Reported: https://github.com/eclipse-theia/theia/discussions/8427.

The `findFiles` plugin API should search within ignored files when `exclude: null` according to vscode's documentation.
At the moment, searching with `null` yields no results when `exclude` is null (incompatibility with vscode).

<div align='left'>

![image](https://user-images.githubusercontent.co

[2020-09-01 15:05] azatsarynnyy opened #8453 "Automated GitHub Milestones for Pull Requests"
This is a follow-up issue for the topic raised on the Theia Dev meeting
https://github.com/eclipse-theia/theia/wiki/Dev-Meetings#minutes-2020-09-01

### Feature Description:
I'd like to propose:
- adding the [GitHub Milestones](https://github.com/eclipse-theia/theia/milestones) that would correspond to each Theia release
- adding automation for setting GitHub Milestones for a Pull Request once it'

[2020-09-01 17:54] anavarre commented on #8286
Ok @vince-fugnitto sorry for the delay. This wasn't easy to find the root cause! Turns out it seems related to https://github.com/editorconfig/editorconfig-vscode/issues/268 so we'll try and pursue this there.

[2020-09-01 17:54] #8286 closed

[2020-09-01 17:55] vince-fugnitto commented on #8286
No problem! Thank you for following up!

[2020-09-01 19:48] garyo commented on #4366
I'm getting this same error; I know this issue is closed but perhaps it could be reopened. I'm using emacs with lsp-mode. Once the server gets into this state I usually have to restart it.

[2020-09-01 21:42] quoctruong opened #8455 "Debugging Go application remotely not working when breakpoint is hit"
### Bug Description:
When debugging a Go application remotely, after the breakpoint is hit, I have no way to advance the breakpoint (see screenshot):
<img width="1678" alt="Screen Shot 2020-09-01 at 2 38 53 PM" src="https://user-images.githubusercontent.com/4371645/91908812-fa628e80-ec60-11ea-9847-08f3257c6dbe.png">

### Steps to Reproduce:

1. Setup remote debugging for a Go program ((link)[https

[2020-09-02 06:29] kittaakos commented on #4366
@garyo, can you please open a [new issue](https://github.com/eclipse-theia/theia/issues/new) referencing this one?

[2020-09-02 08:27] mfouesneau commented on #5583
I have also a hard time understanding how this all work. I have a working project and I'm trying to use Theia to continue its development. However, the editor gives me many "compilation error" (probably because some includes are not fully set properly)

The Makefile works fine but I cannot find where the equivalent is defined in the project.

I cannot find where the setup should happen and how to

[2020-09-02 11:31] yhersh opened #8459 "vscode plugin installation failure for `GitHub Pull Requests and Issues`"
### Bug Description:
trying to install the `GitHub Pull Requests and Issues:github.vscode-pull-request-github` results in an error Cannot activate the 'GitHub Pull Requests and Issues' extension because it depends on the 'vscode.git' extension, which is not installed.

### Steps to Reproduce:

1. go to IDE plugin search module
2. search for GitHub Pull Requests and Issues
3.click install
4. select

[2020-09-02 11:32] vince-fugnitto commented on #8459
@yhersh did you include the vscode git extension in your application which it requires?

[2020-09-02 11:38] vince-fugnitto commented on #5583
@mfouesneau it is difficult to help without a concrete project or example, but getting the environment to work is not specific to the Theia framework. Please note that we (as a community) have moved towards using the [`vscode-clangd`](https://open-vsx.org/extension/llvm-vs-code-extensions/vscode-clangd) extension for C/C++ language support.

[2020-09-02 11:52] yhersh commented on #8459
After adding the `vscode.git` plugin and reinstalling the `GitHub Pull Requests and Issues` I received a new error ```Activating extension GitHub Pull Requests and Issues failed: Cannot read property 'Web' of undefined.```

[2020-09-02 13:24] vince-fugnitto commented on #8459
I tried myself, and while the extension is activated (view is registered, commands, and preferences), there are some issues as well. I noted that the extension makes use of many proposed apis (un-finalized) and it's likely support for them are not yet completed in the framework:

<img width="1011" alt="Screen Shot 2020-09-02 at 9 22 34 AM" src="https://user-images.githubusercontent.com/40359487/91

[2020-09-02 13:54] tsmaeder opened #8460 "Snippets don't work when Plugin Host is not colocated with Back End"
In Che, we have come across this issue: https://github.com/eclipse/che/issues/16502. The problem we're running into is that we resolve the snippets contribution to a file uri here: https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts#L424

This is not a problem as long as the plugin host runs on the same machine as the theia back-end, but

[2020-09-02 15:05] garyo opened #8461 "[ts] ERROR TypeScript: UnhandledPromiseRejectionWarning: Error: geterr timeout"
I'm seeing the same issue as #4366 occasionally. I'm using emacs 28 nightly with lsp-mode, running tsserver. Typescript 3.8.3. I thought it was due to out-of-memory errors, which I was also seeing, but now that I'm passing the env var `NODE_OPTIONS="--max-old-space-size=8192"` the memory errors are gone, but these `geterr timeout` errors still happen from time to time. Once they happen, the server

[2020-09-02 18:16] yhersh commented on #8459
Does the internal code review plugin that you have is in active development? The current code review is great but missing some GitHub key features for big PR's. The most important in my opinion is a tree view and hierarchy of the files that were changed instead of the current flat-file changes.

Thanks for your help

@vince-fugnitto

[2020-09-03 07:11] akosyakov commented on #8461
Which version of Theia? How do you consume typescript ls? via built-in VS Code extensions?

[2020-09-03 07:12] akosyakov commented on #8459
You are probably referring to Gitpod Theia, not Theia framework?

[2020-09-03 07:24] akosyakov commented on #8460
Could you elaborate how is it going to work? In VS Code they have `vscode-remote` scheme but it is not for extensions, but look up any remote resources. URL with `vscode-remote` scheme should have an authority part with host and port that VS Code knows where to forward such request. On remote host there is a URI translator to translate incoming remote URIs to file URIs and outgoing file to remote

[2020-09-03 07:47] tomer-epstein opened #8463 "calling extension activate() by other extension doesn't work."
Description
calling extension.activate() method from another extension doesn't activate the extension.

Reproduction Steps
tested with those vscode extensions - https://github.com/tomer-epstein/vscode-extension-activate.git

1. Pack (create vsix) for https://github.com/tomer-epstein/vscode-extension-activate/tree/master/vscode-manager
2. Pack (create vsix) for https://github.com/tomer-epstein/vsco

[2020-09-03 07:48] tomer-epstein commented on #8463
Failed at --> https://github.com/tomer-epstein/vscode-extension-activate/blob/master/vscode-manager/src/extension.ts#L14

[2020-09-03 07:56] akosyakov commented on #8463
Hi, could you provide what do you mean by does not work and fail? Are there any logs on backend or in browser?

[2020-09-03 08:04] tsmaeder commented on #8460
I'm working on a PR for the snippets case which will land later today. We're already serving plugin resources here: https://github.com/eclipse-theia/theia/tree/master/packages/plugin-ext/src/hosted/node/plugin-reader.ts#L45.
The problem with the host/port approach is that remote plugin hosts may not be accessible from the browser: at least in Che, that's the case.

[2020-09-03 08:10] akosyakov commented on #8460
I thought we will use then fs provider for such scheme and downstream products should have a proper fs provider which can handle dispatching instead of having custom HTTP endpoints. Also such URIs should be absolute as we discovered before? And current endpoint does not handle them?

[2020-09-03 08:13] benoitf commented on #8460
using uri protocol or fs provider looks like an implementation details

[2020-09-03 08:19] tomer-epstein commented on #8463
logs shows no errors. the vscode-contribtor activate func is not being caled.

[2020-09-03 08:35] tsmaeder commented on #8460
@akosyakov you mean having a `PluginFileSystem`? That's certainly an option, but it would not replace the custom http endpoint, since we need publicly accessible url's for stuff like icons that the browser reads itself (not via websocket).

[2020-09-03 08:37] akosyakov commented on #8460
Ok, agree, we will need to support in different places.

[2020-09-03 08:52] tsmaeder commented on #8460
...thinking about where plugin-resource would be the appropriate resource scheme....

[2020-09-03 09:09] yhersh commented on #8459
Yes, Gitpod Theia.

[2020-09-03 09:21] akosyakov commented on #8459
@yhersh There is a PR to allow tree view for the diff mode: https://github.com/eclipse-theia/theia/pull/8084 For Gitpod, we also looking into running GH PR extension better.

[2020-09-03 09:25] yhersh commented on #8459
Awesome, that's really great, I will watch it, thanks for fast response.

[2020-09-03 14:45] vince-fugnitto opened #8467 "cq: 'eslint-plugin-deprecation' eslint plugin devDependency"
#### Description:

The repository is making use of the `eslint-plugin-deprecation` devDependency to help identify usage of deprecations in the source code (as warnings). The only potential problem is the dependency is `LGPL-3.0`, and in order to be absolutely certain the project can make use of it in the repo, a [CQ](http://dev.eclipse.org/ipzilla/show_bug.cgi?id=22573) was registered.

https://gi

[2020-09-03 14:57] tsmaeder commented on #8460
I've opened https://github.com/eclipse-theia/theia/pull/8468 as a basis for discussion on the way forward. It fixes the case of snippets for Che.

[2020-09-03 15:18] mfouesneau commented on #5583
I'm trying theia through gitpod.

My project is basically a set packages in an include directory.

/ main.cpp
/includes
       /library1
      /library2

It seems that (a) I cannot make use of a debugger. I tried using the configurations as in the documentation but they are ignored completely, (b) the editor does not recognize the libraries (includes etc) I provide.

[2020-09-03 15:49] vince-fugnitto commented on #5583
@mfouesneau the Theia repository does not contain C/C++ language and debugging extensions (this repository is used to develop the framework). If you require C/C++ features you will need to install the appropriate vscode extensions in your Theia-based application, similarly to out [`theia-cpp-docker`](https://github.com/theia-ide/theia-apps/blob/master/theia-cpp-docker/latest.package.json) example.

[2020-09-03 16:14] #4367 closed

[2020-09-03 16:34] quoctruong commented on #8455
Also I just notice that you can right clicked on the call stack to Continue (see image). Is this a bug in Theia?

![image](https://user-images.githubusercontent.com/4371645/92142251-66133b80-edc8-11ea-9dad-f0340c24f864.png)

[2020-09-03 16:50] vince-fugnitto opened #8469 "siw: discrepancy in the search results with 'include' pattern beginning with './'"
#### Bug Description:

There is a discrepancy between Theia and VS Code when using the same search options (search term & include pattern).
I'd expect the framework to successfully find results, similarly to vscode:

_Theia_:

<img width="1233" alt="Screen Shot 2020-09-03 at 12 45 28 PM" src="https://user-images.githubusercontent.com/40359487/92143496-5f45f200-ede3-11ea-9594-b21b8e49f288.png">

_V

[2020-09-04 09:52] kittaakos opened #8471 "[scm] root WARN Widget was activated, but did not accept focus after 2000ms: scm-view"
### Bug Description:

This happens when there is no repository in the workspace.
![Screen Shot 2020-09-04 at 11 51 46](https://user-images.githubusercontent.com/1405703/92226429-05a5fc00-eea5-11ea-96cf-670bdedc7b91.jpg)

[2020-09-04 12:19] ffevotte opened #8472 "Crash of the LanguageServer in the Julia VS code extension"
### Bug Description:

The Julia VS Code extension installs correctly within Theia. However, when using it, the LanguageServer frequently crashes, due to requests looking like:
[code]
instead of the expected
[code]

### Steps to Reproduce:

1. Run Theia from the theia-full docker image
2. install Julia inside the docker container
3. install the Julia VS code extension from the open VSX registry
4.

[2020-09-04 12:23] ffevotte commented on #8472
In case it would help reproduce the issue, here are the contents of a Dockerfile allowing to build an image in which Julia is installed alongside Theia:
[code]

I build and use it locally like so:
[code]

In such a docker image, the Julia VS code extension should install without any problem, and find the julia binary without any need for specific settings.

[2020-09-04 12:29] ffevotte commented on #8472
And here is an example of Julia source file in case it would help reproducing the issue:
[code]

[2020-09-04 12:33] vince-fugnitto commented on #8472
@ffevotte can you reproduce it outside of docker, and preferably on `master` with this repository?

[2020-09-04 15:33] kittaakos opened #8474 "LS restart causes possible memory leak"
### Bug Description:

When I restart the LS from a VS Code extension enough times (175), then I get this warning indicating a resource leak:
[code]

I see a lot from these errors too, maybe my sample is wrong:
[code]

### Steps to Reproduce:

1. Check out the [`on-did-change-configuration--leak`](https://github.com/eclipse-theia/theia/tree/on-did-change-configuration--leak) branch and start the ap

[2020-09-04 15:35] ffevotte commented on #8472
Yes, I've been able to reproduce this issue in a fresh system, building everything from the `master` branch

[2020-09-04 15:54] vince-fugnitto commented on #8472
Thank you for following up and confirming it's reproducible without the docker setup.

[2020-09-04 16:15] garyo commented on #8461
Hi! I'm using emacs 28 and lsp-mode (latest as of a few days ago) to consume the language server.
[code]

[2020-09-04 19:09] ffevotte commented on #8472
I don't think these crash issues with the VScode extension are related. The reason why I filed this issue with Theia is because this particular error does not happen with VS code. It looks like this problem happens because some sets of `Position` parameters are incorrectly serialized.

My understanding is that the serialization of LSP requests is not directly performed by the extension, but rather

[2020-09-04 19:10] pfitzseb commented on #8472
So the Julia extension defines an interface
[code]
which is then used via
[code]
e.g. [here](https://github.com/julia-vscode/julia-vscode/blob/d065993e13f1a0b8e52096fc8d837e2e8b443ab6/src/interactive/modules.ts#L51-L62).

Turns out that Theia serializes the `vscocde.Position` in that object as
[code]
instead of VSCode's
[code]
which is what our server expects. You could argue that we should define

[2020-09-06 14:37] allahyar commented on #3104
@akosyakov Is it possible to perform `FileSystem` related operations with REST? I mean is CRUD files.
I did not understand from the [documentation ](https://theia-ide.org/docs/json_rpc/)page how I should change the endpoint. You can provide more details.

[2020-09-07 06:15] shahar-h opened #8475 "[vscode] css code completion doesn't work - Cannot read property 'Deprecated' of undefined"
### Bug Description:
There are no completion results when working on css file.

### Steps to Reproduce:

1. Create an empty css file.
2. Hit ctrl + space.

There are no results:
![css-theia](https://user-images.githubusercontent.com/16555289/92353946-04b1dc00-f0ea-11ea-8a63-1626ed2447b9.png)

In addition the following error appears in browser console:
[code]

vscode:
![css-vscode](https://user-ima

[2020-09-07 06:37] akosyakov commented on #8461
Not sure what is have to do with Theia. We dropped support of typescript-language-server.

[2020-09-07 06:38] akosyakov commented on #8471
We should focus the widget node in such case.

[2020-09-07 08:11] tsmaeder commented on #8460
I've been experimenting with implementing a plugin file system as a well-known instance of of vscode.FileSystemProvider that resolves paths from "pluginresource" schemes relative to the plugin folder.
This works well on the plugin side. The problem now is this: on the browser side, we simply don't know where plugins are deployed. https://github.com/eclipse-theia/theia/blob/03dbe0d62c605fbf86987683

[2020-09-07 08:19] kittaakos commented on #8474
@akosyakov, what do you think, is this a quality issue or a bug? Being able to restart the LS and or reload a VS Code extension arbitrary times seems to be a valid requirement. Thanks!

[2020-09-07 09:08] zouyi100 commented on #8475
I think the file with preprocessor style language like scss, less has the same problem.

[2020-09-07 10:00] infoprogrammr opened #8477 "cant build theia while working on extension"
### Bug Description:
I am trying build an custom theia extension using "yo" generator.
While building I am getting the following errors:

[code]

### Steps to Reproduce:
 yo theia-extension extension_name

### Additional Information

**- Operating System:** Ubuntu
**- Yo vesrion:** 3.1.1
**-NodeJS:** 10.15.3
**-NPM:** 6.4.1

[2020-09-07 13:10] kittaakos commented on #8477
You have to remove the dead `@theia/languages` extension. See [here](https://community.theia-ide.org/t/render-html-inside-theia-application/988/16).

If it does not work, let us know. Otherwise, please close the issue. Thanks!

[2020-09-07 13:19] kittaakos commented on #8477
You have to use Node.js 12.

[2020-09-07 13:31] vince-fugnitto commented on #8477
@infoprogrammr please upgrade the extension generator, the recent version has been fixed to not include the deprecated extensions. In addition, please use `node 12` as mentioned.

[2020-09-07 13:31] #8477 closed

[2020-09-07 19:03] infoprogrammr commented on #8477
Thanks,
it's working now!

[2020-09-08 09:18] #7577 closed

[2020-09-08 10:05] vinokurig opened #8480 "Timeline panel improvements"
The Timeline plugin API was introduced in https://github.com/eclipse-theia/theia/pull/7997. Need to add some features to fit it with the timeline panel from vscode

### Feature Description:

- [ ] File name in the title:
![screenshot-github com-2020 09 08-12_47_53](https://user-images.githubusercontent.com/7668752/92461212-a9f3af80-f1d1-11ea-98a2-c6759dc9985b.png)
- [ ] Show the timestamp for each

[2020-09-08 15:10] tsmaeder commented on #6601
I've got a fix: stand by for PR.

[2020-09-08 19:39] joewiz commented on #6497
Agreed. As a longtime Mac user, I find it confusing that Theia-based apps lack a Preferences item inside the app menu. As an example of the correct behavior, see these cross-platform apps:

**Chrome**

**Discord**

**Atom**

**Slack**

[2020-09-08 22:09] #938 closed

[2020-09-09 06:47] kittaakos opened #8482 "[vscode][go] Error when saving a go module"
### Bug Description:

 - Install [`vscode-go`](https://open-vsx.org/extension/golang/Go),
 - make a syntax error,
 - save the editor.

[code]

`Check the console in dev tools to find errors when formatting.`

👆 this was all in devtools console.

### Additional Information

- Operating System:
- Theia Version:

[2020-09-09 06:49] kittaakos opened #8483 "[vscode][go][commands] Error when executing a command from a VS Code extension"
### Bug Description:

 - Install `vscode-go` extension,
 - Restart the Go LS.
 - Check the devtools console for the error.

![Screen Shot 2020-09-09 at 08 48 19](https://user-images.githubusercontent.com/1405703/92564315-402ee080-f279-11ea-9bfc-2ecd35b70b33.jpg)

[code]

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Operating System:
- Theia Version:

[2020-09-09 07:06] kittaakos opened #8484 "[vscode][go] Command failed: /path/to/go/bin/godef -t -i -f when hovering over with symbols with ctrl/cmd keys down"
### Bug Description:

### Steps to Reproduce:

 - Open a go project. (I used https://github.com/arduino/arduino-cli/),
 - Press `Ctrl/Cmd` down and hover over any symbol in a module (I used `main.go`),
 - See the errors in the console:

Server log:
[code]

[code]

I do not see any errors from VS Code when doing the same procedure.

### Additional Information

- Operating System:
- Theia Version:

[2020-09-09 08:51] vinokurig commented on #7661
Is fixed by https://github.com/eclipse-theia/theia/pull/8402

[2020-09-09 08:51] #7661 closed

[2020-09-10 11:33] vinokurig opened #8488 "Support 'onStartupFinished' plugin activation event"
Activation event in the [vscode GitHub Pull Request plugin](https://github.com/microsoft/vscode-pull-request-github) was changes from [Start up](https://code.visualstudio.com/api/references/activation-events#Start-up) (`*`) to [onStartupFinished](https://github.com/microsoft/vscode-pull-request-github): https://github.com/microsoft/vscode-pull-request-github/commit/5486d2eef42bbf8ef6e9c8361bf5c433

[2020-09-10 13:51] vinokurig opened #8492 "Apply CommentController plugin API"
This API is needed to be able to run the [vscode GitHub Pull Request](https://github.com/microsoft/vscode-pull-request-github) plugin.

### Feature Description:
https://code.visualstudio.com/api/references/vscode-api#CommentController

[2020-09-10 20:52] kaustav-aarish opened #8493 "Activating extension 'Remote - SSH' failed"
### Bug Description:

After importing [SSH-remote](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh) onto Theia, and yarn start on electron-app:

This is the error which pops up when I try to create a new ssh connection to a remote host:

[code]

### Steps to Reproduce:

These are the plugins that I used:

[code]

As you can probably tell, these are not conventional

[2020-09-10 21:47] vince-fugnitto commented on #8493
@kaustav-aarish thank you for the issue, the `workspace. registerRemoteAuthorityResolver` API is not yet finalized (`proposed`) and it is currently not yet implemented in the framework.

- [vscode workspace.registerRemoteAuthorityResolver proposed api](https://github.com/microsoft/vscode/blob/371f6306f9de7e704870e7d7263a96ebc5eb2c88/src/vs/vscode.proposed.d.ts#L265-L268)

[code]

Generally, extens

[2020-09-11 11:24] akosyakov commented on #8474
If it works in VS Code, but no in Theia then it is a bug.

[2020-09-11 13:45] slhultgren opened #8497 "@inject(FileSystem) will inject the type instead of the actual object"
I know that the FileSystem is deprecated, however it is currently broken since the bad thing is injected.

https://github.com/eclipse-theia/theia/blob/master/packages/filesystem/src/browser/filesystem-frontend-module.ts#L85

Shouldn't this return a new instance instead of just a class?

When running this code:
@inject(FileSystem) private fileSystem: FileSystem;
...
console.log("fs.exists: " + this

[2020-09-11 14:23] vince-fugnitto commented on #8497
cc @akosyakov

[2020-09-11 15:20] vnfedotov opened #8498 "Can't start Hosted Plugin instance on MacOS electron build"
### Bug Description:
It seems like some strange variation of #2868 and #6846

Workspace is set to plugin folder, no errors on 'Hosted Plugin: select path' command.
'Hosted Plugin: Start Instance' generates following output:

Same configuration runs fine in browser, Hosted Plugin starts without problems.

### Steps to Reproduce:

1. Generate Hello World example with theia-plugin-generator
2. Build

[2020-09-12 00:53] rayncc commented on #8428
That's correct.
change
[code]
to
[code]

will work.

[2020-09-12 01:33] rayncc commented on #2868
**To fix start hosted plugin error:**
In 'doRun' method of 'hosted-instance-manager.ts', modify the following code:
[code]
into
[code]

**To fix stop hosted plugin error:**
In 'terminate' method of 'hosted-instance-manager', modify the following code:
[code]
into
[code]

[2020-09-13 06:15] akosyakov commented on #8497
Good catch! Please send a PR.

[2020-09-13 07:03] amiramw opened #8500 "Npm script debug not working"
### Bug Description:

Node debug via npm script launcher doesn't work:
[code]
There is a console error `Uncaught (in promise) Error: the debug session connection is disposed`.

In vscode it works fine.

### Steps to Reproduce:

1. Clone https://github.com/amiramw/scripts
2. Optional: set breakpoint on index.js
3. In debug pane launch "Launch via NPM"

Expected: debugger stops on breakpoint and whe

[2020-09-13 07:26] danarad05 commented on #8067
@akosyakov @vince-fugnitto @idantr
Is solution for this issue agreed upon?

[2020-09-13 10:25] amiramw commented on #8318
@akosyakov we are interested in adopting git pane capabilities from vscode.
Do I understand correctly that this issue is the same?
We noticed their pane has sub menus, is this supported by theia?
Is [this](https://open-vsx.org/extension/vscode/git) the git builtin extension used in this scenario?
Does this task involve disabling existing git pane?

[2020-09-13 12:10] idantr commented on #8067
@danarad05 from the above discussion @akosyakov should decide if plugins view should be removed/displayed in a different way or not.

[2020-09-13 12:23] havogt commented on #8390
I tried to debug the issue, but didn't manage to find the problem. Somehow, the `onDidAccept` event of the QuickPick doesn't trigger.

At least, I found a workaround by adding the following keybinding
[code]

[2020-09-13 15:35] havogt commented on #8390
There are more problems with this plugin, e.g. deleting in normal mode doesn't work.

[2020-09-13 21:12] Pictor13 opened #8501 "Backspace key doesn't delete text, on Android"
### Bug Description:

With theia loaded in Gitpod as a browser tab, on Android, the `backspace` key doesn't work with virtual keyboards.

The bug doesn't occur if I use a physical keyboard connected to the micro-USB of the mobile device.

### Steps to Reproduce:

1. Open a workspace gitpod.io
2. Type something in the editor text/code area, using a virtual keyboard (app).
3. Press backspace to dele

[2020-09-13 22:25] vince-fugnitto commented on #8501
@Pictor13 thank you for the issue, it may be related to https://github.com/microsoft/monaco-editor/issues/48 (we use the monaco editor). It would be good to confirm the bug outside the framework using the monaco editor playground example: https://microsoft.github.io/monaco-editor/playground.html#creating-the-diffeditor-multi-line-example

[2020-09-14 11:16] amiramw commented on #8405
@vinokurig are you working on this issue any time soon or we can try?

[2020-09-14 14:06] #7273 closed

[2020-09-14 14:39] Pictor13 commented on #8501
It's a fallback of dependencies... 😓  (GitPod -> Theia -> Monaco? Not sure if there's VSCode in the middle of it too 😶)
Thanks for the information, though.

I tried in the linked playground, with Chrome on Android 7 and, yes, the behaviour is buggy even on the *monaco-editor*.

Looks that monaco not supporting mobile development is a blocker for every other project that derives from it.
That is we

[2020-09-14 14:52] vince-fugnitto commented on #8501
@Pictor13 I found some additional issues related to `android` and the `monaco-editor`:
- https://github.com/microsoft/monaco-editor/issues/563
- https://github.com/microsoft/monaco-editor/issues/1365
- https://github.com/microsoft/monaco-editor/issues/1538

Sure, I just wanted to confirm if it was in fact a bug in the framework or the `monaco editor` itself not properly supporting android devices.

[2020-09-14 14:56] leopoldwe commented on #8373
Can I be assigned this issue?

[2020-09-14 15:09] vinokurig commented on #8405
@amiramw I am working om it right now. I am going to open a PR this week

[2020-09-14 15:16] #8451 closed

[2020-09-14 15:50] vince-fugnitto commented on #8373
Sure, please feel free to submit a pull-request.

[2020-09-14 16:19] amiramw commented on #8405
@vinokurig That's great. Do you know if this the only gap in order to support builtin git?

[2020-09-14 17:05] #8363 closed

[2020-09-14 17:25] leopoldwe commented on #8373
So when I was testing this bug, I found that using "save as" saves the changes to the original file, then copies it over to the new file. This also seems like a bug. Should I fix this also, or is this bug unrelated?

[2020-09-14 17:32] vince-fugnitto commented on #8373
I confirmed it is a bug as well you're right :+1:
Please open a new issue to track the issue (if none already exists), you can then choose to fix it together or separately if you like.

[2020-09-14 17:39] leopoldwe opened #8504 ""Save as..." should not save changes to original file"
### Bug Description:
Currently "Save as..." will save any changes made to the original file to the original file, then copy it to the new file. This is contrary to how most programs handle it, where the changes made are only saved to the new file.

### Steps to Reproduce:

1. Open a file and make some changes
2. Execute "Save As..."

### Additional Information

- Operating System: macOS
- Theia Ve

[2020-09-14 19:04] #8378 closed

[2020-09-14 20:47] Pictor13 commented on #8501
Yes, I also found them looking around; thank you.

I close the ticket for now since is not properly a Theia problem but some behaviour from the dependency.

[2020-09-14 20:47] #8501 closed

[2020-09-15 06:56] #8122 closed

[2020-09-15 07:19] vinokurig commented on #8405
It is already possible to use the vscode git version 1.44.2. This is needed to use later versions.

[2020-09-15 08:44] liorfr commented on #7745
Also,

_Theia_:
The category in the leaf starts from the second category word when the category has more than one word
![image](https://user-images.githubusercontent.com/6076791/93187317-5bea2900-f748-11ea-963f-ca1e51a73f46.png)

_VS Code_:
VS Code Has the following after categories and subcategories
![image](https://user-images.githubusercontent.com/6076791/93187343-60aedd00-f748-11ea-9f61-9e102c

[2020-09-15 11:50] #8354 closed

[2020-09-15 14:19] TEFEdotCC commented on #4403
Please fix the problem, the solution of @frankgerhardt works for me too.

[2020-09-15 16:22] vince-fugnitto opened #8506 "explorer: activate error thrown without a workspace present"
#### Bug Description:

There is an error thrown when the `explorer` is activated without a workspace present:

[code]

#### Steps to Reproduce:

1. start the example application without a workspace present
2. click inside the explorer
3. the error should be thrown on the console

[2020-09-16 07:09] #8211 closed

[2020-09-16 12:28] danarad05 commented on #7989
@idoprz @akosyakov @amiramw @DoroNahari
Hi,

As I am new to Theia development, I would appreciate if you could go over my current plan for implementing the Refactor Preview functionality and see if it makes sense. Needless to say that any suggestions would be greatly appreciated.

Requirement:
1. Upon rename refactoring enable shift+enter to open refactoring preview pane on bottom.
2. Refactoring

[2020-09-16 13:21] idoprz commented on #7989
Hi Dan,
Refactor preview pane should not work only upon rename.
It should work when WorkspaceEditEntryMetadata has needsConfirmation set to true.
[See more info here](https://code.visualstudio.com/api/references/vscode-api#WorkspaceEditEntryMetadata)

[2020-09-16 13:31] #8471 closed

[2020-09-16 14:36] danarad05 commented on #7989
@idoprz

1) This is the functionality that displays the Refactor Preview pane when doing rename refactoring:
https://code.visualstudio.com/updates/v1_42#_workbench
I haven't found the Refactor Preview pane in regard to other types of refactoring. Could you point me to them?

2) From what I understand from [WorkspaceEditEntryMetadata](https://code.visualstudio.com/api/references/vscode-api#Workspac

[2020-09-16 14:54] kittaakos opened #8511 "Regression when opening an .MD file in editor: I can see two tabs for one editor"
See the screencast:

![screencast 2020-09-16 16-49-47](https://user-images.githubusercontent.com/1405703/93354309-24a97400-f83d-11ea-895f-76241cc4e6ef.gif)

- Theia Version: 993b7a8bc

[2020-09-16 14:56] kittaakos commented on #8511
It must be related to the editor preview, the extra tab has this CSS class: `p-TabBar-tab  theia-editor-preview-title-unpinned p-mod-closable`

[2020-09-16 15:05] idoprz commented on #7989
1. It can be invoked by extensions, using the needsConfirmation flag on the WorkspaceEditEntryMetadata object. So you will not see it documented in the VSCode user guide.
You can create new extension that uses WorkspaceEdit https://code.visualstudio.com/api/references/vscode-api#WorkspaceEdit. make sure to have the "needsConfirmation" flag in the WorkspaceEditEntryMetadata.
2. WorkspaceEdit is rel

[2020-09-16 17:11] vince-fugnitto commented on #8511
I also noticed the bug, it is one of the reasons I turned the `editor-preview` off.

[2020-09-16 18:56] amiramw commented on #8500
In order to debug npm scripts we should make https://github.com/microsoft/vscode-js-debug work in theia.
After https://github.com/eclipse-theia/theia/pull/8513 it seems to work.

@vince-fugnitto are there any gidelines how to upload https://github.com/microsoft/vscode-js-debug into vsx registry?

[2020-09-16 19:02] vince-fugnitto commented on #8500
I see, its using the new `preview` debugger for JS/TS 👍
I'm not sure if there are any guidelines, perhaps @marcdumais-work or @spoenemann  would know more?

The `vscode-js-debug` is similar to a builtin extension, and unfortunately we will need to build and publish it ourselves.
https://github.com/eclipse/openvsx/wiki/Publishing-Extensions.

[2020-09-17 04:52] amiramw commented on #8500
I've tried to build and publish vscode-js-debug but I don't have permissions to publish to ms-vscode namespace:

`❌  Insufficient access rights for publisher: ms-vscode`

Can someone help with that?

[2020-09-17 06:31] danarad05 commented on #7989
Thanks @idoprz

@akosyakov Awaiting also your input please. Thanks

[2020-09-17 07:05] spoenemann commented on #8500
You can create a PR at https://github.com/open-vsx/publish-extensions to publish the extension.

[2020-09-17 08:35] amiramw commented on #8500
@spoenemann in this repo the vsix is packaged and put under dist folder. Is this flow supported by the extension.json there?

[2020-09-17 11:55] amiramw commented on #8500
https://github.com/open-vsx/publish-extensions/pull/160

[2020-09-17 16:30] amiramw opened #8518 "vscode API completeness: startDebugging to respect DebugSessionOptions param"
### Bug Description:

vscode API `startDebugging` has optional parameter of type `DebugSessionOptions` which currently theia ignore:

https://github.com/microsoft/vscode/blob/master/src/vs/vscode.d.ts#L11512

It has several options like no debug, console mode, etc.

### Steps to Reproduce:

Call `startDebugging` from an extension and make sure all options in `DebugSessionOptions` are treated. Exam

[2020-09-17 21:07] kenneth-marut-work opened #8519 "Add "tasks" to .theia-workspace file"
### Feature Description:
Currently, a `.theia-workspace` configuration file can store preference settings scoped to that particular workspace, but does not have the ability to store workspace scoped "tasks" as [VSCode does](https://code.visualstudio.com/docs/editor/multi-root-workspaces#_workspace-task-configuration).
Are there plans to add support for workspace-scoped tasks?

[2020-09-17 21:52] vince-fugnitto commented on #8519
I believe we should support `tasks` in the workspace configuration file (multi-root).
At the moment, the only way to share tasks between folders (in a multi-root workspace) is to use `user scoped tasks`.

[2020-09-18 08:02] tom-shan opened #8522 "multi-session breakpoint highlighted lines disappear or jump around"
### Bug Description:
the breakpoint highlighted lines will disappear or jump around between difference debug sessions (it should be noted this issue won't come out for single session breakpoints). For example when debugging multi-process python code, when we only set a breakpoint in main process, but sometimes current breakpoint hightlighted line will disappear and jump to the subprocess debug bre

[2020-09-18 11:37] fgreinacher opened #8524 "Cannot open files when changing default encoding to utf8bom"
### Bug Description

No files can be opened after changing the default encoding in the settigns to "utf8bom".

### Steps to Reproduce:

![image](https://user-images.githubusercontent.com/1540469/93593286-1e89d380-f9b4-11ea-9fb7-9ec68df5ecbd.png)

### Additional Information

Local log files show the following error:

[code]

[2020-09-18 12:16] vince-fugnitto commented on #8522
@tom-shan I assume the same scenario works for you correctly in vscode?
I wanted to confirm if it was a bug with the framework or the python extension itself.

[2020-09-18 12:28] tom-shan commented on #8522
yes, I think so, it works much better in vscode, the current breakpoint highlighted line will not disappear.

[2020-09-18 12:35] tom-shan commented on #8522
Actually I have found some problems in theia about the manipulation of "thread" DAP event with "started" or "exited" reason.
In short, when theia receives the "thread" event which is generated by another debug session, theia will change to that session see https://github.com/eclipse-theia/theia/blob/master/packages/debug/src/browser/debug-session.tsx#L102-L108

[2020-09-18 12:55] vince-fugnitto commented on #8522
Here is vscode's [implementation](https://github.com/microsoft/vscode/blob/f48144748c23f50693e8d766e11f5d5f3f3aa21b/src/vs/workbench/contrib/debug/browser/debugSession.ts#L835-L856) of the `thread` DAP event for reference:

[code]

[2020-09-18 13:03] kittaakos commented on #8524
Thanks for logging, @fgreinacher. I am going to close this issue as it works in Theia. I've just tried it. Gitpod has to be updated to use a more decent version of Theia to support it.

Feel free to open a follow-up issue in Gitpod. Thank you!

If you have any concerns, please let me know, and I can reopen this.

[2020-09-18 13:03] #8524 closed

[2020-09-18 13:25] posix4e opened #8526 "Mount directories over browser with my desktop"
For things like passwords, for instance, ~/.kube wouldn't it be nice if it was stored on my desktop and just tunneled as needed back to my desktop rather than storing it on the backend?

[2020-09-18 13:35] fgreinacher opened #8527 "Theia Electron app extracts plugins multiple times"
### Bug Description

It seems like a Theia Electron app extracts plugins multiple times. This causes problems when starting a second Theia instance that is alreading using files from the extracted plugins directory (in our case a language server executable).

### Steps to Reproduce:

1. Build an Electron app based on Theia with some non-extracted plugins (`.vsix` files) added to it (via env var or

[2020-09-18 13:36] vince-fugnitto commented on #8526
@posix4e thank you for the discussion, in the future please respect the issue templates, and if you have questions direct them to https://github.com/eclipse-theia/theia/discussions. Please provide additional details in the issue, it is difficult to understand what you are referring to.

[2020-09-18 13:41] fgreinacher commented on #8524
Thanks @kittaakos! We're actually hitting this in our IDE based on Theia 1.14. Let's see whether 1.15 solves it. Will post an update here!

[2020-09-18 13:59] posix4e commented on #8526
Great will do!

[2020-09-18 13:59] #8526 closed

[2020-09-18 15:02] mohitsuman opened #8529 "Support `isWeb` Operating System context for theia"
### Feature Description:
Currently theia supports OS context for `isWin/Mac/Linux` . VSCode [context AP](https://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts)I has added `isWeb` context too which should be supported in Theia API.

[2020-09-18 15:05] mohitsuman commented on #8529
cc :  @azatsarynnyy @ericwill

[2020-09-18 15:17] azatsarynnyy commented on #8529
Thanks for the feature request @mohitsuman!

BTW, it should be as easy as just adding
[code]
to https://github.com/eclipse-theia/theia/blob/4739e26c36a87ee31ffba20e738eddafc86bd8ee/packages/core/src/browser/common-frontend-contribution.ts#L342-L344

[2020-09-18 15:37] azatsarynnyy commented on #8529
Another solution can be `env.UIKind` API.
It returns `UIKind.Desktop` or `UIKind.Web`

[2020-09-18 18:51] vince-fugnitto commented on #8425
Closed thanks to #8426 and #8505.

[2020-09-18 18:51] #8425 closed

[2020-09-19 00:25] ElGrecode opened #8531 "[feature request] Allow configuration of browser mount node for embedding within an app"
### Feature Description:
By default, the mounting of the application assumes a specific use case where it mounts to the body of the page, bootstrapped automatically when using the page. What I would like to do is embed theia browser within an application and control where and when it mounts.

I've seen issue #1045. It addresses the issue with a workaround and doesn't allow future maintainability b

[2020-09-19 20:04] H91011 opened #8533 "build process can't find some vscode-languageclient files."
I cant build theia desktop application.

here is my package.json

[code]
I add only this packages to package.json file :
[code]

here is the error output:
<details>
<summary>output</summary>
<br />

[code]
</details>

- Operating System: Ubuntu 18.04 LTS

[2020-09-19 20:47] vince-fugnitto commented on #8533
@H91011 you are currently using deprecated extensions as part of your application, mixing and matching different versions of `latest` dependencies. The `@theia/languages` extension is deprecated and should be removed for instance.

[2020-09-20 07:50] H91011 commented on #8533
I download project from  GettingStarted -> Package a desktop Theia application with Electronthis page -> https://github.com/theia-ide/yangster-electron so how we know which package is nor deprecated ?  I want to try desktop app but but I can't.

I wonder that who use this ide ?
May be eclipse develop this ide for some small user group ?

[2020-09-20 15:46] vince-fugnitto commented on #8533
The repository is quite old, ~3 years was the last commit (it was likely used as an example at one point but it is outdated).
If you are looking into providing your own application we have many examples, but you should choose extensions which satisfy your requirements and are not deprecated.

You can take a look at:
- https://github.com/theia-ide/theia-apps/tree/master/theia-electron
- https://git

[2020-09-20 15:46] #8533 closed

[2020-09-21 05:10] akosyakov commented on #8527
User plugins are persisted between server restarts. System plugins are installed each time (as it was before always). You can extract system plugins before starting the server, otherwise Theia extract them in the temporary location.

[2020-09-21 05:13] akosyakov commented on #411
There is no app, Theia is only a framework. Which product do you use? Example applications are not for production use.

[2020-09-21 05:14] akosyakov commented on #7989
How do you want to take it from VS Code?

[2020-09-21 05:16] akosyakov commented on #8067
You should bring unclear questions to the dev meeting where it would be decided by the community: https://github.com/eclipse-theia/theia/wiki/Dev-Meetings

[2020-09-21 06:44] zhaomenghuan opened #8534 "Error：Kill child process will case "kill ESRCH" when "Error in connection establishment: net::ERR_CONNECTION_REFUSED""
### Bug Description:

Two problems that can be reproduced stably.

- Error in connection establishment: net::ERR_CONNECTION_REFUSED
- Kill ESRCH

### Steps to Reproduce:

When I opened the Electron desktop application built on Theia, and did not operate for a period of time, when I opened DevTools, I could see the following error:
<img width="858" alt="屏幕快照 2020-09-21 下午2 09 09" src="https://user-

[2020-09-21 07:15] fgreinacher commented on #8527
Thanks! I assume user plugins need to installed through plugin manager? Or is there a way to predefine them?

Got it. Still I'm wondering why Theia extracts them to the temporary location _multiple times_. I'd assume that plugins are extracted to temp once and then reused from temp for subsequent runs.

[2020-09-21 08:11] mfouesneau commented on #5583
Here is my task.json, can you tell me why this ends with code 1 and no message error anywhere to be seen?

[code]

[2020-09-21 08:28] danarad05 commented on #7989
Hi @akosyakov
Cc: @idoprz @amiramw @DoroNahari

First, thanks for replying.

Second:
After more testing and digging in code, I would like to reconfirm my understanding of task boundaries and requirement:
1. After trying out @idoprz guidance with regard to usage of WorkspaceEditEntryMetadata.needsConfirmation - it seems to me that theia implementation in regard to renaming files is similar to vscod

[2020-09-21 09:21] datou0412 opened #8535 "Press compare changes codelens in a conflict file causes errors"
### Bug Description:
Press `Compare Changes` codelens in a conflict file will cause an `Unable to show comparison` error.

![Sep-21-2020 17-11-30](https://user-images.githubusercontent.com/5847142/93750249-c3fbac00-fc2d-11ea-9c03-cb70c5e875d6.gif)

### Steps to Reproduce:

1. Browser Example
2. Install the `vscode builtin merge-conflict extension`.
3. Open a conflict file and press the `Compare Ch

[2020-09-21 10:13] Leon0402 opened #8536 "Compatibility third party themes"
### Bug Description:

It seems like there is a change in theia, causing some themes to break? The editor is not colored correctly as you can see from the screenshots:

![image](https://user-images.githubusercontent.com/33933142/93755238-3c00ac80-fc03-11ea-988f-cd9bd1a61dd6.png)

![image](https://user-images.githubusercontent.com/33933142/93755340-65213d00-fc03-11ea-9fba-caa5d3c2956c.png)

As you c

[2020-09-21 12:08] idoprz commented on #7989
Hi Dan,
I have not tested all of the VSCode/Theia current behavior. On my use-case, we need this pane when we use the WorkspaceEdit API directly and not specifically from an editor.

[2020-09-21 12:09] mfouesneau commented on #5583
I made a minimalistic repo for example. I think I manage now to build a file and run it with debugger. However I do not know where to put the **include** information that would be also used in the editor (not just at compiler level)

https://github.com/mfouesneau/gitpod_cpp_template

Any idea?

[2020-09-21 12:12] datou0412 opened #8538 "Use vim in terminal and reload will output weird 2R in the terminal"
### Bug Description:
Use vim in the terminal will output weird `2R` in term after reload browser.
How many `2R` depends on how many times you open vim.
1->2R, 2->2R2R, 3->2R2R2R ...
![Sep-21-2020 20-10-38](https://user-images.githubusercontent.com/5847142/93764903-9111e200-fc46-11ea-9d7e-2311713ef910.gif)

### Steps to Reproduce:

1. Browser Example
2. Open a terminal
3. type `vim xxx` and quit vi

[2020-09-21 12:12] vince-fugnitto commented on #8534
@zhaomenghuan I believe you may have encountered the following issue: https://github.com/eclipse-theia/theia/issues/4249

[2020-09-21 18:19] DukeNgn commented on #8538
Hi @datou0412
A workaround for this issue would be adding `set t_u7=` to the top of your `vimrc` in the mean time. It works for me.
This bug might have something to do with xterm.

[2020-09-21 22:04] kenneth-marut-work opened #8541 "File explorer search/filter keyboard behavior is unexpected"
### Bug Description:
When using Theia's file explorer search functionality, there is some unexpected behavior when navigating the textbox via keyboard commands compared to VSCode's implementation. Some issues I have noticed when using the search functionality:

- Input field does not receive focus when typing query, but is still selectable and can be navigated with the mouse, this lets the user as

[2020-09-22 06:20] datou0412 commented on #8538
Thanks，it works well for me

[2020-09-22 06:21] #8538 closed

[2020-09-22 16:20] habibali95 commented on #6840
Hello @lxn179208, did you find a solution to this issue?

[2020-09-22 17:47] habibali95 opened #8545 "Uncaught (in promise) Error: Connection got disposed."
Im using k8s ingress to run theia, ive tried many version and i always get these errors, is there any reasons why could this happen?

root ERROR Uncaught Exception:  Error: Connection got disposed.
root ERROR Error: Connection got disposed.
    at Object.dispose (/home/theia/node_modules/vscode-jsonrpc/lib/main.js:904:25)
    at /home/theia/node_modules/vscode-ws-jsonrpc/lib/socket/connection.js:1

[2020-09-22 17:48] habibali95 commented on #8545
and the status goes offline for some time..

[2020-09-22 17:48] #8545 closed

[2020-09-22 21:21] DukeNgn opened #8547 "Command `Save All` does not format all dirty editors before saving"
### Bug Description:
+ When `formatOnSave` is enabled, the command `Save All` should format all dirty editors, not just the one in current view.

### Steps to Reproduce:
1. Turn on setting `formatOnSave` in settings
2. Make changes in more than 1 file in a workspace
3. `Save All` from command palette or from shortcut
+ **Expected behavior:**: All dirty editors are formatted and saved

In Theia:
![

[2020-09-22 21:49] DukeNgn opened #8548 "Command `Save All` should not format and save the code on non-dirty editors"
### Bug Description:
+ Running `Save All` should only format/save the files if it's dirty. The current behavior of `Save All` is formatting the file even when there's no new change.

### Steps to Reproduce:
1. Make the file in a wrong format (ie: wrong indentation, ...)
2. Save without formatting
3. Turn on setting `formatOnSave` in settings
4. Make sure there's no new change in the current file
5

[2020-09-22 23:58] rayncc commented on #8065
Tried and done. It's fixed. Thanks alot

[2020-09-22 23:58] #8065 closed

[2020-09-23 02:22] christinesu12 opened #8549 "blockchain-vscode-extension : Welcome page and tutorials do not render correctly"
IBM-Blockchain/blockchain-vscode-extension - Welcome page and tutorials do not render correctly

blockchain-vscode-extension : Welcome page and tutorials do not render correctly
![theia-blockchain-home](https://user-images.githubusercontent.com/50400404/93957068-0d5f0f00-fd86-11ea-9aad-e00cce609334.png)
![theia-blockchain-pre](https://user-images.githubusercontent.com/50400404/93957084-16e87700-fd

[2020-09-23 10:51] #8500 closed

[2020-09-23 12:32] vince-fugnitto commented on #8549
@christinesu12 thank you for the issue, in the future please respect the issue template and provide as much detail as possible so the project is able to better help you.

Do you mind updating the issue with the following?:
- link to the actual extension
- steps to reproduce the bug (`browser` or `electron` example application?)
- include any console logs in the issue (if the view fails to render,

[2020-09-23 12:44] fgreinacher opened #8550 ""workspaceContains" activation event does not work"
WIP

### Bug Description:

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Operating System:
- Theia Version:

[2020-09-23 13:38] vince-fugnitto commented on #8550
@fgreinacher thank you for reporting the issue! However, please provide additional information so the project can help further including a description of the bug, steps to reproduce it and additional information (namely the `theia` version tested with).

Please re-open the issue when additional information is added.

[2020-09-23 13:38] #8550 closed

[2020-09-23 15:16] fgreinacher commented on #8550
Sorry, I actually wanted to close this one for adding more information. I just needed an issue link for our internal tracking. Will add more details and reopen!

[2020-09-23 15:51] #8310 closed

[2020-09-23 15:51] #8475 closed

[2020-09-23 16:23] EstherPerelman opened #8552 "No indication for deprecated variables"
When providing code completion result with deprecated: true property there is no indication in the UI - deprecated value should appear with strike-through.
### Bug Description:

[lsp-sample plugin.zip](https://github.com/eclipse-theia/theia/files/5269510/lsp-sample.plugin.zip) contains the vsix file lsp-sample-1.0.0.vsix
### Steps to Reproduce:

1. Deploy vscode extension lsp-sample-1.0.0.vsix
2.

[2020-09-23 16:59] vince-fugnitto commented on #8552
Related VS Code [changes](https://github.com/microsoft/vscode/pull/78092/files).

[2020-09-24 01:57] christinesu12 commented on #8549
1.extension -
       https://github.com/IBM-Blockchain/blockchain-vscode-extension/releases/download/v2.0.0-beta.7/ibm-blockchain-platform-2.0.0-beta.7.vsix
       https://open-vsx.org/api/vscode/markdown-language-features/1.39.1/file/vscode.markdown-language-features-1.39.1.vsix
       https://github.com/IBM/vscode-ibmcloud-account/releases/download/v1.0.2/ibmcloud-account-1.0.2.vsix
2.browser
3.

[2020-09-24 04:11] akosyakov commented on #8549
I don't think it is a bug in Theia. I looks like the point 2 from a link referenced by @vince-fugnitto is not satisfied.

[2020-09-24 10:11] STDeslandes opened #8555 ""@types/node" dependency not aligned with Node V12 version"
### Bug Description:
The  "@types/node" dependency is not aligned with node version.
In fact I want to user worker_threads feature available in node V12 and import is not working due to this issue

### Steps to Reproduce:

1. add import { Worker } from 'worker_threads'; in any file of an extension
2. see that 'worker_threads' definition is not available

### Additional Information

- Operating Sys

[2020-09-24 12:35] #8497 closed

[2020-09-24 13:15] vince-fugnitto commented on #8555
Just to mention, the `typings` are only useful when developing for this repository.
The typings do not affect downstream applications or extensions.

[2020-09-24 13:28] STDeslandes commented on #8555
I m developing my extension in the "packages" folder.

[2020-09-24 13:30] vince-fugnitto commented on #8555
Will the extension be upstreamed as part of a pull-request for this repo?
If not, this should not be the approach when developing custom extensions for your application.

[2020-09-24 13:59] STDeslandes commented on #8555
I agree. I'm more testing possibilities and performances right now. But you are right.

[2020-09-24 14:05] DukeNgn opened #8557 "Support deprecated strikethrough directly in the editor"
### Feature Description:
Would be nice if Theia highlights deprecated calls with strikethrough in the editor

+ Similar to VSCode:
![strikethrough](https://user-images.githubusercontent.com/43587865/94155516-064f0400-fe4d-11ea-86cd-5edf4490d778.png)

[2020-09-24 16:13] vince-fugnitto commented on #8557
I believe it will require an update to **monaco v0.21.0** in order to make use of the `showDeprecated` flag:

https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.ieditoroptions.html#showdeprecated

[2020-09-24 19:58] #8444 closed

[2020-09-25 08:16] #6114 closed

[2020-09-25 12:23] federicobozzini opened #8562 "Some files are unexpectedly created when Theia (browser version, run on Linux) is accessed by a Windows machine if a slow frontend contribution is present"
### Bug Description:
When Theia (browser version) is run on Linux, if there is a frontend contribution with a long starting time and Theia is accessed by a Windows machine some files (`.theia/tasks.json`, `.theia/launch.json`, `.theia/settings.json`, `.vscode/tasks.json`, `.vscode/launch.json`, `.vscode/settings.json`) might be created.

### Steps to Reproduce:

1. Add a frontend application contr

[2020-09-25 13:43] vince-fugnitto commented on #8562
I think it's best to try and debug why the bug is happening for this particular use-case.
I think it's difficult for anyone in the community to properly reproduce the issue and it looks like you have the proper setup already to do so.

[2020-09-25 15:15] federicobozzini commented on #8562
It's actually pretty simple to reproduce.

Even just delaying [the step where the `configure` method is called for all frontend contributions](https://github.com/eclipse-theia/theia/blob/master/packages/core/src/browser/frontend-application.ts#L316) is enough to see it.

The simplest way would be to just use something like

[code]

before that step.

In any case if I can help you to reproduce it,

[2020-09-25 15:22] vince-fugnitto commented on #8562
The part I was referring to was more steps 2-3 (which is not possible for everyone in the community to reproduce):

[2020-09-25 15:28] federicobozzini commented on #8562
I see. Using docker on a Windows machine would work too.

[2020-09-26 07:16] maksimr opened #8565 "Autocomplete for workspace-variable in launch.json"
It would be nice to have autocomplete for defined [workspace-variables](https://github.com/eclipse-theia/theia/blob/8bf15dc1d9b186b11c1f954b4c51500e611d3072/packages/workspace/src/browser/workspace-variable-contribution.ts) when you edit launch.json

[code]

[2020-09-27 04:14] Adriankhl opened #8567 "Open workspace by typing path"
Motivation: I realized that the browser ide cannot recognize network drive in Windows, as mentioned here https://github.com/eclipse-theia/theia/issues/3174, which has been fixed in the electron version by this PR https://github.com/eclipse-theia/theia/issues/3173. However, I cannot see any fix for the browser version.

And actually, after some testing, theia can recognize network drive if there is

[2020-09-27 14:32] vince-fugnitto commented on #8567
@Adriankhl thank you for the discussion, where are you expecting to provide the input
(I assume directly in the `file-dialog`)?

Note that it is possible to start the application with a pre-defined workspace, and should be possible to change workspaces in the browser using the browser's address bar (I have never tried on Windows however with drive letters).

[code]

<div align='center'>

<img widt

[2020-09-28 05:58] Adriankhl commented on #8567
I believe so, it is the box opened by clicking `Open Workspace`

Thanks for the tips, this works well. After going to `http://localhost:3000/#/p:`, I can now view the subdirectory of it to open further workspace belonging to the network drive. I still believe it is better to allow users to input path in  `file-dialog` so the setup is more strict-forward

[2020-09-28 12:11] vince-fugnitto commented on #8567
Thank you for the clarification, I believe the issue can be simplified to express that we should enhance the `file-dialog` (both open, open workspace, etc.) in order to allow users the ability to open based on a provided path.

The issue is being tracked as: https://github.com/eclipse-theia/theia/issues/2815

[2020-09-28 14:14] #8375 closed

[2020-09-28 14:27] havogt commented on #8375
Thanks @DukeNgn!

[2020-09-28 14:35] #8547 closed

[2020-09-28 20:42] #8529 closed

[2020-09-29 08:32] #8488 closed

[2020-09-29 09:07] JonasHelming opened #8568 "Add documentation to LabelProvider and LabelProviderContribution"
A description of these two entities and their relationship would help users to understand the concept and to create respective label contributions.
I will create a PR.

[2020-09-29 14:38] nickboldt commented on #8022
When do we think this will be fixed? Looking for a Che milestone so we can map that to a CRW release. Ideally, Che-theia 7.20, if possible?

[2020-09-29 16:54] dmt0 opened #8571 "Can't build @theia/json extension"
### Bug Description:

Can't build Theia app with the JSON extension.

### Steps to Reproduce:

Here's my `package.json`

[code]

`yarn theia build` output:

[code]

Builds fine when `@theia/json` is removed.
Built fine a month or so ago when all packages were set to `"^1.0.0"`

### Additional Information

- Operating System: macOS
- Theia Version: latest - 1.6

[2020-09-29 16:56] EstherPerelman opened #8572 "Previous active tab flicker when navigating the top menu"
When focusing a tab inside the main panel and then - navigating between the tabs inside the top panel -
The focused tab inside the main panel flicker
### Bug Description:

### Steps to Reproduce:

1. Focus on a file
2. Click on any tab inside the top menu
3. Navigate between the menu tabs (by mouse/ keyboard)

This is how it looks:
![menu](https://user-images.githubusercontent.com/71729183/9458876

[2020-09-29 17:09] vince-fugnitto commented on #8571
@dmt0 the `@theia/json` extension is among other extensions which have been deprecated.

In order to use it you will need to downgrade your other extensions to a version which matches that last `latest` release of `@theia/json`.

[2020-09-29 17:09] #8571 closed

[2020-09-29 17:36] EstherPerelman commented on #7752
This issue happens also for sidebar-bottom-menu-widget (the settings menu on the bottom left),

@akosyakov @vince-fugnitto Can you advice me please What is the better solution:

1. Fix on the webview page -> listen to node focus (a focus listener already exists) -> dispatching 'mousedown' event (solves this issue also for the settings-menu on the bottom left).

2. Fix on browser-menu-plugin -> lis

[2020-09-30 08:39] amiramw commented on #7178
@esterw1109 will try to work on it

[2020-09-30 08:48] #7616 closed

[2020-09-30 12:27] tsmaeder commented on #3186
Notebooks with the version of the extension you mentioned (2020.5.xxx) do not work on Firefox: I get 404's, for example:
[code]
when doing "Python: Create New Blank Jupyter Notebook" The exact same thing works when doing it from Chromium.

[2020-09-30 12:52] vince-fugnitto commented on #7752
@EstherPerelman I did not have time to look at the issue myself, but the solution should fix the menu dismissal for all menus when focusing a webview (main-menu, context-menus of editors, widgets, sidepanels). For the first solution, how are you dismissing the menus (I don't believe that webviews should know or be responsible of explicitly closing menus).

[2020-09-30 13:00] azatsarynnyy commented on #3186
I've just checked it with the latest Python extension. Works well in Chrome:
![image](https://user-images.githubusercontent.com/1636395/94688151-dd8baa80-0335-11eb-9050-cb2de161e7de.png)

In Firefox, I got the same errors as @tsmaeder

[2020-09-30 13:05] veredcon opened #8574 "[vscode][showTextDocument] different behavior from vscode when showing sbs editors"
### Bug Description:
When programmatically opening a text editor on a newly created file, the editor opens  but an error message appears afterwards.
This only happens if the new editors opens side-by-side (second ViewColumn).
If I use the same column and replace the old editor - no error message appears.

File plugin-context, line 302
const textEditor = editors.getVisibleTextEditors().find(editor

[2020-09-30 13:24] EstherPerelman commented on #7752
@vince-fugnitto For the first solution - dispatching a 'mousedown' event solved it because 'phosphor' listening to 'mousedown' event and close the menu - all the other widgets dispatching 'mousedown' automatically on user click but on iframe click - we need to do it manually..

[2020-09-30 13:25] vince-fugnitto commented on #7752
@EstherPerelman thank you for clarifying, please feel free to submit a pull-request with these changes so we can review :+1:

[2020-09-30 16:09] azatsarynnyy commented on #8022
I updated the description with these two API already implemented:
- `UIKind` API - Cannot read property 'Web' of undefined
- `vscode.workspace.fs` API - No available file system provider for schema file

[2020-09-30 19:50] azatsarynnyy commented on #8022
About this one, I haven't seen it when I was trying the plugin here https://github.com/eclipse-theia/theia/issues/3186#issuecomment-701375009

[2020-10-01 18:38] vince-fugnitto opened #8577 "bug: regression caused by 'load plugin manifest' commit"
#### Bug Description:

There is a regression caused by the af68b7ce9046d447b0fd92e536c668bd9dae1fc1 commit on **electron.** (#8485)
The commit introduces a bug when language-features like `format document` no longer work.

The bad commit was identified by using `git bisect`.

#### Steps to Reproduce:

1. perform `git checkout af68b7ce9046d447b0fd92e536c668bd9dae1fc1`
2. perform a build: `yarn`
3.

[2020-10-02 09:48] DanTup commented on #7690
@akosyakov what's the status of this - were you waiting for me to test on staging? I tried on live today, but this doesn't seem to be working (`resolveDebugConfiguration` is called, but `resolveDebugConfigurationWithSubstitutedVariables` is not).

[2020-10-02 13:33] vince-fugnitto opened #8581 "scm: tree-search should highlight matched nodes"
### Bug Description:

The `tree-search` for `scm` should properly highlight matched nodes like in other areas (ex: `explorer`).
At the moment, nodes are not highlighted which is both confusing and inconsistent with the rest of the framework.

<div align='center'>

<img src='https://user-images.githubusercontent.com/40359487/94928636-fc9f4f00-0491-11eb-9140-b297da3fd7c0.png'  width='800px'/>

<img

[2020-10-02 13:50] marechal-p opened #8583 "plugin-ext: missing Buffer class in Electron worker when nodeIntegrationInWorker is disabled"
### Bug Description:

The code running in web workers depends on the `Buffer` class which is missing on Electron when `nodeIntegrationInWorker` is disabled. When running the browser, webpack apparently injects a polyfill making it available.

But enabling `nodeIntegrationInWorker` causes undesired side effects, breaking some features.

See https://github.com/eclipse-theia/theia/pull/8578
See https

[2020-10-02 18:22] #8577 closed

[2020-10-02 22:44] colin-grant-work opened #8585 "URIAwareCommand Handler Duplicates URI Arguments"
### Bug Description:

If a URI is passed to a command that uses a `URIAwareCommandHandler`, it will pass two copies of that URI to the handler function.

### Steps to Reproduce:

Create a `URIAwareCommandHandler` that takes two or more arguments, only the first of which should be a URI. Invoke that command with a URI as its first argument.

e.g.
[code]

Then invoke the second command from the comm

[2020-10-02 22:46] colin-grant-work commented on #8585
I will make a PR to fix it over the weekend or on Monday. If it seems appropriate, I'm happy to address the `todo` in [the URIAwareCommandHandler](https://github.com/eclipse-theia/theia/blob/57b4b671f621dc1c5c6eec7f8c6ab1fe0585e4a5/packages/core/src/common/uri-command-handler.ts) to create a separate class for multi-select cases.

[2020-10-04 01:08] gsmachado commented on #7185
Hey @ericwill

Some info:

I'm running theia 1.60, and tried to add [this extension here](https://open-vsx.org/extension/richardwillis/vscode-gradle).

However, I see this error when the extension starts:

[code]

Are you guys working on this? Anything I could do as a workaround to make it work?

[2020-10-04 11:13] DoroNahari opened #8587 "Progress notification which is not cancellable can be cancelled through the 'X' button"
### Bug Description:
Progress notification which is not cancellable can be cancelled through the 'X' button

### Steps to Reproduce:

Run [this](https://github.com/DoroNahari/withprogress.git) vscode extension and run the command `Show Notification Progress` which is not cancellable.
See that you can cancel the progress by clicking on the 'X' on the progress notification

### Additional Informatio

[2020-10-04 15:32] veredcon commented on #8574
Please review this PR: https://github.com/eclipse-theia/theia/pull/8588
I have checked it with the given simple extension vsix that uses this API.

[2020-10-04 19:28] amiramw commented on #8574
@veredcon does your vscode extension repo need to be with https://github.com/veredcon/vscodetests/pull/2 ?

[2020-10-04 20:59] Amandarg commented on #6408
Yeah, the enter key does not work for me. But shift + enter does on a mac.

[2020-10-05 05:57] veredcon commented on #8574
yes - the relevant code is in **fixpreview** branch only.
Of course can simply just take the attached vsix (vscode-ext-sample-0.0.5.vsix.zip) instead.

[2020-10-05 07:22] tsmaeder commented on #7185
@gsmachado no, it's not in the sprint plan. We're aware that this API is not implemented. It's a question of assigning resources.

[2020-10-05 12:52] kittaakos commented on #8534
I have noticed this issue several times already; for some reason, the backed process just terminates. When closing the electron app, we try to close the forked BE process, but it's not there anymore. This issue requires two fixes:
 - figuring out why the BE process terminates,
 - making sure to swallow the `ESRCH` errors when quitting the electron app here:
https://github.com/eclipse-theia/theia/b

[2020-10-05 13:23] #8552 closed

[2020-10-05 14:09] ericwill commented on #7185
Correct. @gsmachado if you propose a PR to theia, someone from our team can review it.

[2020-10-05 14:42] StevieD666 opened #8591 "Embedded languages lack IntelliSense"
### Bug Description:

Languages that support embedded languages in an extension, when editing a part of a file where the embedded language is, IntelliSense doesn't work.

### Steps to Reproduce:

1. Create a HTML file.
2. Add a SCRIPT tag.
3. Add some JavaScript code in the tag.
4. Initiate IntelliSense with Ctrl+Space, in VSCode the language Server is initiated and a list of attributes/functions

[2020-10-05 15:38] gsmachado commented on #7185
Alright! I would be interested to do it, but I'm not even sure what's the correct behavior of this `vscode.customExecutior` API, and where I can find the "reference implementation" of it.

I would appreciate any leads on this -- maybe I get inspired and get something done. 😄

[2020-10-05 16:23] marcdumais-work commented on #7185
Hi @gsmachado,

A few pointers - those around here that know more than me can correct or complete:

vscode API doc: https://code.visualstudio.com/api/references/vscode-api#CustomExecution

implementation:
https://github.com/microsoft/vscode/blob/master/src/vs/workbench/api/common/extHostTypes.ts#L1874
https://github.com/microsoft/vscode/blob/master/src/vs/workbench/api/common/extHostTask.ts#L480

[2020-10-06 10:04] StevieD666 commented on #8591
The reason the bug has been raised is we are developing a language of our own which can have multiple embedded languages. Using the embedded language feature seems by far the most sensible and works well in VSCode.

[2020-10-06 10:05] kittaakos opened #8594 "[debug][vscode] TypeError: e.forEach is not a function when running the Cortex-Debug VS Code extension"
### Bug Description:

### Steps to Reproduce:

1. Download https://github.com/Marus/cortex-debug.
2. Configure it.
3. Start a debug session.

[code]

### Additional Information

- Operating System:
- Theia Version:

[2020-10-06 10:20] DoroNahari commented on #4016
Hi @akosyakov,
Are you working on it? we can help

[2020-10-06 13:12] gsmachado commented on #7185
@marcdumais-work awesome answer. You know, being in the open-source space for some time, that's what I believe we need more: people willing to at least explain, with a reasonable level of detail, what needs to be done, where people can start with, etc. This kind of thing motivates people. 👍 😄

[2020-10-06 16:19] #7541 closed

[2020-10-06 20:06] marcdumais-work commented on #7185
@gsmachado I hope this is good to get you started. Please ask here if you have questions along the way.

[2020-10-07 03:45] akosyakov commented on #4016
Nope, it is free to grab. VS Code exposes a command for Node.js debug extension to start another instance of VS Code. We should implement such command and start another instance of Theia plus translate arguments.

[2020-10-07 05:14] akosyakov opened #8595 "consider using beforeunload event sparsely"
Using `unload` and `beforeunload` events is not recommended: https://developers.google.com/web/updates/2018/07/page-lifecycle-api#the-beforeunload-event In order to detect last page interaction one can use `pagehide` and `visibilitychange` events instead: https://developers.google.com/web/updates/2018/07/page-lifecycle-api#advice-hidden `beforeunload` event should be installed only when there is u

[2020-10-07 08:25] danarad05 commented on #5683
@ariel-bentu @amiramw @tsmaeder @DoroNahari

As far as I can tell, changes to settings files/preferences for User and Workspace work and are caught by vscode.workspace.onDidChangeConfiguration in Theia similarly to VSCODE.

These are the tests I ran and their results (also went over it with @DoroNahari), please verify @ariel-bentu if sufficient:

1. In VSCODE:
a) User preferences updates /user/Set

[2020-10-07 09:20] ariel-bentu commented on #5683
I opened this issue on Sep-2019. I suppose that by now, a year later this
works. So feel free to close.

בתאריך יום ד׳, 7 באוק׳ 2020 ב-11:25 מאת Dan Arad <notifications@github.com>:

[2020-10-07 11:26] akosyakov commented on #8595
Bad effects which it is causing: https://github.com/gitpod-io/gitpod/issues/1959

[2020-10-07 11:26] DoroNahari commented on #4016
@amiramw please assign @danarad05 to this issue.

[2020-10-07 11:27] akosyakov commented on #8595
In order to reproduce with Theia:
- do dirty changes
- stop the server
- try to reload the page
- see confirmation dialogs about which user cannot do anything

[2020-10-07 12:47] tortmayr opened #8599 "Add Documentation for FileService API"
The`FileService` and related concepts (like. `FileSystemProvider`) are not well documented. Augmenting the existing documentation would help users to better understand how to interact with and contribute to the `FileService`.
I will create a PR.

[2020-10-07 13:36] danarad05 commented on #5683
https://github.com/eclipse-theia/theia/issues/5683#issuecomment-704808089

@amiramw @DoroNahari Could you close issue as I do not have permissions.
Thanks

[2020-10-07 13:41] #5683 closed

[2020-10-07 15:18] Leon0402 opened #8601 "Extension Compatibility"
Hi,

I tried to install an extension with theia (https://open-vsx.org/extension/llvm-vs-code-extensions/vscode-clangd) and got the error: "The language client requires VS Code version ^1.46.0 but received version 1.44.0"

So it seems like this plugin is built against a specific version of Vs Code. Now I wondered how theia works with this? When will this version be bumped?

I use theia 1.6 as an el

[2020-10-07 15:22] Leon0402 opened #8602 "Show files ignored by git in a different color"
Could ignored files/folders get a different color in the file editor as seen in the screenshot?

![image](https://user-images.githubusercontent.com/33933142/95351354-6e77fe00-08c1-11eb-9011-2d023e01eefb.png)

The .vscode is in the gitignore file and therefore is written in a darker white

[2020-10-07 15:38] azatsarynnyy opened #8603 "Rename Debug main menu according to VS Code"
### Feature Description:
In VS Code, `Debug` menu has been renamed to `Run`
![image](https://user-images.githubusercontent.com/1636395/95353509-024ec780-08cc-11eb-8928-30d445be629e.png)

In Theia, we still have `Debug`
![image](https://user-images.githubusercontent.com/1636395/95353551-109ce380-08cc-11eb-84a2-d70e45c1a05b.png)

It should be renamed according to VS Code.

[2020-10-07 15:55] vince-fugnitto commented on #8602
@Leon0402 thank you for the issue, it's already being tracked as part of https://github.com/eclipse-theia/theia/issues/1564.

[2020-10-07 15:55] #8602 closed

[2020-10-07 15:55] #8601 closed

[2020-10-07 18:10] #8548 closed

[2020-10-08 03:29] dhairyanadapara commented on #8603
Hey @vince-fugnitto, I would love to help. From the description what I understood is the change is to update the menu name from `Debug` to `Go`.

[2020-10-08 06:53] azatsarynnyy commented on #8603
Hello @dhairyanadapara!
`Debug` menu has to be renamed to `Run`.

[2020-10-08 08:53] dhairyanadapara commented on #8603
@azatsarynnyy My bad :|. I got wrong mapping in both menu while writing the comment. Thanks  for correction. I will raise the PR once the changes are done. thanks :)

[2020-10-08 11:28] danarad05 commented on #4016
Hi @akosyakov @tsmaeder @amiramw @DoroNahari,

I need some assistance here. As far as I understand task I need to add another launch configuration to default launch configurations existing.
![image](https://user-images.githubusercontent.com/71069170/95452688-514f3800-0972-11eb-8bbd-d6a5a8e2b196.png)

After debugging, I found that list of default configurations are coming from vscode builtin plugin

[2020-10-08 12:42] amiramw commented on #8219
Closing as it does not reproduce anymore.

[2020-10-08 12:42] #8219 closed

[2020-10-08 12:57] #6506 closed

[2020-10-08 12:57] #8421 closed

[2020-10-08 12:57] #8430 closed

[2020-10-08 12:57] #8587 closed

[2020-10-08 13:46] amiramw commented on #4016
@danarad05 in vcsode there is a launch configuration type called `"extensionHost"`. I think it is coming from https://github.com/microsoft/vscode-node-debug2/blob/15dd85748034c0d8567532271535e58345fd5354/package.json#L84

Maybe try to look into this repo. vscode-node-debug2 is loaded in theia: https://github.com/eclipse-theia/theia/blob/master/package.json#L122

[2020-10-08 13:54] danarad05 commented on #4016
@amiramw Thanks, I'll check it but there is still same issue as in my question #2 above as vscode-node-debug2 plugin is also a microsoft vscode repo - https://github.com/microsoft/vscode-node-debug2.

[2020-10-09 06:19] alexyiangou commented on #8400
@kittaakos Hey there! I would like to try this if possible! 🙂 Can you assign this on me please?

[2020-10-09 06:47] kittaakos commented on #8400
Great!

It's yours, go ahead.

[2020-10-09 06:48] alexyiangou commented on #8400
Just a quick question.
Would you like the grouping to be like VSCode, I mean with secondary menus for each category?
Or would you like to keep your current design of seperating each category with a line?

[2020-10-09 06:51] kittaakos commented on #8400
I would do the same what VS Code does; group them by the Git command.

@akosyakov, @vince-fugnitto what do you think?

[2020-10-09 11:43] sdirix opened #8611 "Add Documentation for 'PreferenceService' and 'PreferenceProxy'"
Add API documentation to `PreferenceService` and related concepts (like `PreferenceProxy`). This will help developers to better understand how to interact with and use `PreferenceService` as well as `createPreferenceProxy`.

[2020-10-09 11:51] slhultgren commented on #5820
@akosyakov have you thought about this issue more?
As far as I can test your original PR https://github.com/eclipse-theia/theia/pull/5828 works for making the spliceRoot mutexed, however there was an additional issue with this code, because spliceRoots relied on the WorkspaceService._roots variable when modifying the roots (not reading from workspace file before modifying). The WorkspaceService._r

[2020-10-09 12:54] akosyakov commented on #5820
We should use Monaco model, it is thread safe already. As we did it for other settings.

[2020-10-09 12:55] akosyakov commented on #4016
You don't need to add any new configurations. They are already contributed by node 2 vscode built-in extension. You only need to implement a command which this extension is calling to start another instance of VS Code.

[2020-10-09 13:52] mcgordonite opened #8613 "Monaco hover content is squashed, needs more margin"
I have added the [vscode-clangd](https://marketplace.visualstudio.com/items?itemName=llvm-vs-code-extensions.vscode-clangd) plugin to the latest commit from master (https://github.com/eclipse-theia/theia/commit/fd7d9d2ff0a8c2909b7459865c06a0f447e1734f).

The content in the popover shown when mousing over a symbol in the source is squashed. Note the text overlapping the `<hr>`:
![theia-hover](https

[2020-10-09 16:07] colin-grant-work opened #8614 "Anonymous functions in constructors make extension more difficult (DebugSession)"
### Feature Description:

My particular interest at the moment is in the `DebugSession` class, but it is true more generally that if any anonymous function with a non-trivial implementation appears in a constructor, the whole constructor has to be rewritten if the class is extended and that listener is to be modified.

https://github.com/eclipse-theia/theia/blob/5eb6efa40129101b74a88a16e0c45e81545

[2020-10-09 16:24] akosyakov commented on #8614
For such cases adopters should open a PR and make it more customizable. But forcing on everybody to extract a function because someone maybe somtimes wants to customize it is not a good reason to hold off PRs.

[2020-10-09 16:36] colin-grant-work commented on #8614
I'm not advocating that any particular PR be held up, only that good practice that doesn't hurt anything upstream and makes life easier for downstream projects should be considered for inclusion in the coding guidelines in the future.

[2020-10-09 19:06] quoctruong opened #8615 "Multiple DisconnectRequests sent when attempting to disconnect the debug session."
### Bug Description:
See original issue in VSCode Go (https://github.com/golang/vscode-go/issues/766). It seems like `disconnectRequest` are getting sent twice when users click on the disconnect button (see the logs). It seems like the second duplicate `disconnectRequest` comes with the `terminateRequest`.

### Steps to Reproduce:
1. Clones a Go program (for example: https://github.com/GoogleCloud

[2020-10-09 21:08] vince-fugnitto commented on #8615
@quoctruong can the issue be reproduced in vscode as well?

[2020-10-11 05:41] akosyakov opened #8618 "application should restore ready state if window closing was canceled"
Right now it gets stuck in the closing_window state: https://github.com/eclipse-theia/theia/blob/master/packages/core/src/browser/frontend-application.ts#L187

We should have only listener for `beforeunload` not like now. Probably makes sense to refactor it in the context of https://github.com/eclipse-theia/theia/issues/8595

[2020-10-11 07:41] polinasok commented on #8615
I was unable to reproduce this with vscode. One click on disconnect results in one disconnectRequest. Secondary clicks appear to be ignored.

Also, please note that vscode does not issue a terminate request. It is not supported by the vscode-go debug adapter. (The logging comes from the dummy implementation in vscode-debugadapter-node.) According to [dap specification](https://microsoft.github.io/

[2020-10-11 13:00] amiramw commented on #4016
@akosyakov by command you mean theia cli option?
and then the below configuration will work with theia `execPath`?
https://github.com/microsoft/vscode-node-debug2/blob/master/package.json#L96-L100

[2020-10-12 14:06] akosyakov commented on #4016
I mean https://github.com/microsoft/vscode-node-debug2/blob/bcd333ef87642b817ac96d28fde7ab96fee3f6a9/src/nodeDebugAdapter.ts#L349

[2020-10-12 14:29] #8405 closed

[2020-10-12 15:20] vitaliy-guliy opened #8620 "Error when restoring editor area if webview is opened"
### Bug Description:
Editor area cannot be restored properly when it contains webview, and when there is no registered `vscode.WebviewPanelSerializer` for this webview.

The problem is because the method, which creates widgets, returns `undefined` for the webview.
In fact, the webview was created but immediately destroyed, because there is no appropriate `WebviewPanelSerializer`.
https://github.co

[2020-10-12 17:20] dhairyanadapara commented on #8603
https://github.com/eclipse-theia/theia/blob/e33708b77117a044f5f0a3fa97309c8b9fe3664f/packages/debug/src/browser/debug-frontend-application-contribution.ts#L494

@azatsarynnyy I found the change requied for updating the menu name. I changed the name to `Run` and ran `npm run start` but the change is not showing in the browser. Can you please help me with the problem?

[2020-10-12 19:00] azatsarynnyy commented on #8603
@dhairyanadapara have you rebuilt Theia with your changes with `yarn` command?
See https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#quick-start

[2020-10-12 20:17] amiramw commented on #8318
After https://github.com/eclipse-theia/theia/pull/8523, when running with git builtin version 1.50.0 the error is different:
![image](https://user-images.githubusercontent.com/9420921/95786824-feaeac80-0ce0-11eb-9f60-b3e4d0a063cb.png)

[2020-10-12 20:59] amiramw opened #8622 "Deploy plugin by id to have indication about the result"
### Feature Description:

Deploy plugin by id currently runs as a command with no indication about its result. Deploying could reuslt in error or success and the end user doesn't know anything about it.

It would be nice to have some indication in the UI about which plugins were installed and whether an entry has no resolver.

[2020-10-12 21:06] amiramw commented on #5507
@akosyakov i see that plugins installed with "deploy by id" command can now be uninstalled form the extension pane.
should we close this issue?

[2020-10-12 21:37] benoitf commented on #8318
Try 1.49.3

[2020-10-13 07:46] akosyakov commented on #5507
If it is enough for you then yes. It is fine with me.

[2020-10-13 08:02] #5507 closed

[2020-10-13 12:08] vince-fugnitto commented on #8622
Closing since it is a duplicate of:
- https://github.com/eclipse-theia/theia/issues/5552
- https://github.com/eclipse-theia/theia/issues/3632

[2020-10-13 12:08] #8622 closed

[2020-10-13 12:44] tsmaeder commented on #8620
I'm not convinced this is the right fix: if we don't have a WebviewPanelSerializer, shouldn't we just recreate the webview to it's default state? After all, there are webviews that simply do not have mutable state.

[2020-10-13 13:29] vinokurig opened #8623 "[Plugin API] Update the DecorationProvider API with vscode changes"
The `DecorationProvider` was moved to public API: https://github.com/microsoft/vscode/issues/54938
Need to apply changes from vscode to theia's plugin API: https://github.com/eclipse-theia/theia/blob/e7a01601db463efeab77f4580ed2f1a7682e08d7/packages/plugin/src/theia-proposed.d.ts#L249-L252

The decoration provider is used in the [latest (1.5.0) built-in vscode git plugin](https://open-vsx.org/api/

[2020-10-13 13:39] akosyakov commented on #8620
VS Code contract: webviews which don't have serialiser are not restorable.

[2020-10-13 14:09] tsmaeder commented on #8620
@akosyakov correct: https://code.visualstudio.com/api/extension-guides/webview#serialization

[2020-10-13 17:24] #8599 closed

[2020-10-13 17:50] sdirix opened #8624 "Add documentation for 'PreviewHandler'"
Add API documentation for `PreviewHandler` and potentially an extension guide. This will help developers to better understand how to implement a `PreviewHandler` to contribute their own previews.

[2020-10-14 07:12] HaoboGu opened #8627 "Asynchronously show completion items from different sources or extensions"
### Feature Description:
Currently, completion items from different sources/extension are shown in a synchronous way, which means the result won't be shown before the last completionProvider completes. There are a lot of great auto-complete extensions in the marketplace, some of them can be quite efficient, but the overall completion latency still depends on the slowest extension. If theia can asy

[2020-10-14 11:14] tekumara opened #8628 "Error: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined"
### Bug Description:

When a python test fails, the Python Test Log contains:
[code]

This looks like a theia issue.

### Steps to Reproduce:

1. Visit https://gitpod.io/#https://github.com/tekumara/typed-cookie
or
[code]

2. CMD+SHIFT+P `Python Discover Tests`. Enable and install pytest then run the tests.
3. The popup `There was an error in running the tests.` appears.
4. Open the Python Test Lo

[2020-10-14 14:31] #8585 closed

[2020-10-14 14:56] #8562 closed

[2020-10-14 15:13] vince-fugnitto opened #8632 "lint: update `ignorePatterns`"
#### Bug Description:

The `ignorePatterns` for `eslint` are incorrect and mean that our own `theia.d.ts` and `theia-proposed.d.ts` files for instance are never linted causing issues, and unnecessary changes during pull-request which then need to be fixed such as #8629.

https://github.com/eclipse-theia/theia/blob/7544095c9548c329c697577d97cd4177b3892480/configs/base.eslintrc.json#L21-L24

We shou

[2020-10-14 17:00] #8568 closed

[2020-10-15 06:06] zhaomenghuan commented on #8534
Is there any better solution to handle the failed "Error in connection establishment: net:ERR_CONNECTION_REFUSED" exception? When is the official plan to fix this problem? The application experience of this problem in the Electron environment is very affected.

[2020-10-15 06:52] kittaakos commented on #8534
For the record, this 👆 exception is causing the `Kill ESRCH` problem. You have to figure out why does the backend process crash and terminate on your side. Maybe, it's a generic Theia issue.

As for the `Kill ERSCH` error dialog, you can customize your electron application like this to ignore the `ESRCH`:

`your-electron-main-module.ts`:
[code]

`your-electron-main-application.ts`:
[code]

Or prov

[2020-10-15 07:41] kittaakos opened #8634 "[vscode] memfs sample does not work"
### Bug Description:

Install the [MemFS](https://marketplace.visualstudio.com/items?itemName=jrieken.vscode-memfs)  VS Code extension, initialize the mem workspace. You can see that Theia incorrectly mounts the FS root.

Theia:
![Screen Shot 2020-10-15 at 09 38 58](https://user-images.githubusercontent.com/1405703/96091996-8c012500-0eca-11eb-90ff-afcd7b836a8a.jpg)

VS Code:
![Screen Shot 2020-10-

[2020-10-15 10:18] NetaMolcho opened #8635 "activeColorTheme api is not supported by THEIA"
### Bug Description:

I try to check if the current theme is a light theme or dark theme and accordingly provide a suitable icon.

![image](https://user-images.githubusercontent.com/35297731/96105662-f45c0080-0ee2-11eb-8539-c93bfdbe8567.png)

This code works in vscode but is not supported by theia, return undefined.
Is there a way that activeColorTheme will also be supported by theia?

### Additio

[2020-10-15 10:21] JonasHelming opened #8636 "Add documentation for Keybinding, KeybindingContribution and KeybindingRegistry"
KeybindingContribution is expected to be used by extensions, KeybindingRegistry is a central service to interact with. So adopters would benefit from more documentation on these entities.
I will submit a contribution

[2020-10-15 11:26] #8453 closed

[2020-10-15 12:02] vince-fugnitto commented on #8635
@NetaMolcho feel free to open a pull-request to add the `activeColorTheme` API to the plugin-system so it is supported by the framework when consuming VS Code extensions. The `activeColorTheme` API was finalized [6 months ago](https://github.com/microsoft/vscode/commit/af44ead34cb412c0db254e4bc2d01f126cdb700a).

Internally, the new API would use `theming.ts` and/or `theming-service.ts` to provide

[2020-10-15 13:52] federicobozzini opened #8639 "[Debug] Add the possibility to know when the debug widget has been cleared"
### Feature Description:
When a debug session is terminated, the debug widget is cleared.

This operation [requires the debug widget to be visible](https://github.com/ARMmbed/theia/blob/master/packages/core/src/browser/tree/tree-widget.tsx#L384). This means that at the moment it's not possible to perform some operations (like switching to a different panel) when a debug session is terminated witho

[2020-10-15 14:50] azatsarynnyy opened #8640 "workspace.workspaceFolders API should return undefined when no folder is open"
### Bug Description:
[`workspace.workspaceFolders`](https://github.com/eclipse-theia/theia/blob/c4f324ada78e8074c401fa52a0a655bbb64de017/packages/plugin/src/theia.d.ts#L5041-L5047) Plugin API should return `undefined` when no folder is open. But it returns an empty array. It leads to the failure of some VS Code extensions that rely on `undefined` value.

### Steps to Reproduce:

1. Put [the test p

[2020-10-15 14:54] azatsarynnyy commented on #8640
An example of the issue in VS Code extension https://github.com/redhat-developer/vscode-quarkus/pull/310#discussion_r504146599

[2020-10-15 16:22] vince-fugnitto commented on #8639
@federicobozzini would it not be easiest to rely and listen to the debug events?

https://github.com/eclipse-theia/theia/blob/c4f324ada78e8074c401fa52a0a655bbb64de017/packages/debug/src/browser/debug-session-manager.ts#L87

https://github.com/eclipse-theia/theia/blob/c4f324ada78e8074c401fa52a0a655bbb64de017/packages/debug/src/browser/debug-session-manager.ts#L84

https://github.com/eclipse-theia/t

[2020-10-15 16:36] federicobozzini commented on #8639
Let's say that you want to change the active panel when the debug session is terminated.

Of course you could use the events you just linked. The problem is that the debug information shown during the debug session (threads, breakpoints, watched variables, ...) is not cleared if the debug widget is not visible because the active panel replaces it too soon. Those events are fired before the debug i

[2020-10-15 17:16] vince-fugnitto commented on #8639
If I understand correctly, the issue is that you want to change the active panel when a debug session is terminated, but this results in a race condition since you rely on the widget and not the debug events to determine when to switch panels? If its the case I'd argue not to rely on the debug-widget clearing but the actual debug session events I mentioned earlier.

Else, I'd argue that the `Debug

[2020-10-15 18:55] thegecko commented on #5481
Happy to announce we now have signed and notarized installers for MacOS.

This means the CI work for creating desktop installers is complete.

The latest installers for all platforms can be found here:

https://download.eclipse.org/theia/

[2020-10-15 18:55] #5481 closed

[2020-10-15 19:32] #8640 closed

[2020-10-16 09:02] cdietrich commented on #7974
this seems to happen again

[2020-10-16 09:03] cdietrich commented on #7974
[code]

[2020-10-16 09:06] federicobozzini commented on #8639
No this is not correct, sorry for the confusion. The race condition is exactly what I get if I try to use the debug events to switch the active panel. This happens because, in this case, both the active panel switch and the clearing of the debug widget happen as a result of the debug event getting fired. If the panel is switched before the debug widget is cleared, the clearing doesn't happen at al

[2020-10-16 09:32] cdietrich commented on #7974
seems to have selfrepaired

[2020-10-16 09:48] tortmayr opened #8643 "Add documentation for `WidgetManager`"
Add API documentation for `WidgetManager` and potentially an extension guide. This will help developers to better understand how to implement a `WidgetFactory`  to contribute their own widgets.

[2020-10-16 12:40] vince-fugnitto commented on #8639
Thank you for clarifying!
I believe whichever approach to resolve the problem would be fine, we can review properly during a pull-request.
It may be worthwhile to ask the original author of the `debug-view` what the best approach may be if we are still unsure.

[2020-10-16 15:06] vince-fugnitto commented on #8628
@tekumara can you confirm that the bug is present when using `master` from this repository?
In addition, to confirm it is not the the project's error, confirm the same use-case works properly in vscode.

[2020-10-16 17:28] pravynandas commented on #3276
Thanks @marcdumais for the link. What worked great is changing the group (from current user to group 'docker') of the workspace.

chgrp -R 1001 <workspace folder>

This works even if the docker is already up & running.

[2020-10-16 18:44] marcdumais-work commented on #5481
Awesome, thanks @thegecko

[2020-10-17 04:27] tekumara commented on #8628
Thanks @vince-fugnitto looks like this is fixed on master (commit 6bc8d7593).

[2020-10-17 04:27] #8628 closed

[2020-10-19 09:12] tekumara commented on #8384
Also experiencing this.
Seems to occur when the python vscode extension is loading.
`rm ~/.theia/plugin-storage/global-state.json` does not resolve the issue.

[2020-10-19 09:17] tekumara opened #8649 "TypeError: Cannot read property 'activeNotebookEditor' of undefined"
### Bug Description:

[code]

### Steps to Reproduce:

1. Install ms-python.python
2. Open a python file
3. Check logs

### Additional Information

- Operating System: macOS
- Theia Version: master fe4062e66

[2020-10-19 12:09] vince-fugnitto commented on #8649
@tekumara the `activeNotebookEditor` and corresponding APIs are [`proposed`](https://github.com/microsoft/vscode/blob/0ea7e1ca9425b3814c9d0a3c0aa719daad92a53a/src/vs/vscode.proposed.d.ts#L1886-L1893) (not yet finalized). If I understand correctly, only the **insiders** version is able to use proposed APIs and extensions only: https://code.visualstudio.com/api/advanced-topics/using-proposed-api.

F

[2020-10-19 13:24] JennyMet commented on #4935
I've the same issue when using vscode-docker 1.6.0 , I saw that this is issue have started more then a year ago, is there any progres? or any workaround that we can use?

[2020-10-19 17:58] #7519 closed

[2020-10-19 20:23] kittaakos opened #8652 "Unsupported activation events: onDebugDynamicConfigurations"
I found the log on the [CI](https://travis-ci.com/github/eclipse-theia/theia/jobs/402026005#L26887):
[code]

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Operating System:
- Theia Version:

[2020-10-20 05:54] azatsarynnyy commented on #8603
Hello @dhairyanadapara,
how thing are going with renaming the menu? Can you the results after rebuilding it with `yarn` command?
Do you need any help?

[2020-10-20 06:07] dhairyanadapara commented on #8603
Hey @azatsarynnyy, sorry for the delay. I tried with the `yarn` command but still the change is not shown. I'm using `wsl(ubuntu)` for development because in windows I'm getting some issue while running `yarn` for installing dependencies.  Do you think this issue is coming due to `wsl`?

[2020-10-20 06:15] dhairyanadapara commented on #8603
Can you please confirm that the change I suggested is correct?

Also, one other issue I found is that if there are any other server running on same port(3000) then the theia overrides the other server. It would be better to run the server on other port like(3001) if some service is already running on 3000

[2020-10-20 06:48] azatsarynnyy commented on #8603
I think it might be related to a browser's cache. Try to reload the page in incognito mode. Or clean-up the cache. If you're using Chrome, try Shift+F5.

[2020-10-20 06:49] azatsarynnyy commented on #8603
@dhairyanadapara 3000 is a default port. It can be specified through the command line arg, e.g. `yarn start -p 3001`

[2020-10-20 16:37] azatsarynnyy commented on #8603
@dhairyanadapara please, let me know if you still have your changes not visible in Theia.
I will provide a PR then.

[2020-10-20 16:39] dhairyanadapara commented on #8603
@azatsarynnyy I just tried followed the instructions you gave, but still no success. You can raise the PR. Thanks :)

[2020-10-20 16:53] bendavis78 commented on #8341
After navigating preferences some more, it looks like this is an issue in multiple places, and is an overall UX issue. It seems that the menu builds itself from sections and subsections that are defined in the settings, but many settings do not belong to sections.

The problem occurs when a single preference exists directly under a main category, but there are also sub-categories within that main

[2020-10-20 17:08] azatsarynnyy commented on #8603
No problem. BTW, you can pick another good first issue from https://github.com/eclipse-theia/theia/labels/good%20first%20issue :wink:

[2020-10-21 05:39] #8603 closed

[2020-10-21 06:55] christlee1989 opened #8654 "SelectAll/Copy/Paste Keyboard Shortcuts are not working within DevTools and native input and file dialogs"
### Bug Description:
Copy/Paste Keyboard Shortcuts are not working within DevTools

### Steps to Reproduce:

1.Open Devtools
2.try Cmd+C/Cmd+V  copy/paste anything in Devtools, Nothing happened

I can see that it executed the COPY command, but nothing todo
![image](https://user-images.githubusercontent.com/10151385/96683963-7057bc00-13ad-11eb-8f70-42b0f882536e.png)

### Additional Information

- O

[2020-10-21 09:27] RuiCovid opened #8656 "no node-gyp.js"
### Bug Description:
Installed:
node 12.14.1
yarn v1.7.0

but when in folder theia can't execute command yarn
got: cannot find module ..\theia\node_modules\electron-rebuild\node_modules\node-gyp\bin\node-gyp.js

### Steps to Reproduce:

1. install node 12.14.1
2. install v1.7.0
3. clone theia
4. in folder theia run "yarn"

### Additional Information

- Operating System: windows 10
- Theia Version:

[2020-10-21 12:08] vince-fugnitto commented on #8656
@RuiCovid please ensure that you have installed the proper prerequisites:
-  https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites

For Windows, there are specific build instructions after installing prerequisites:
-  https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#building-on-windows

[2020-10-21 12:10] vince-fugnitto commented on #8654
@christlee1989 I'm not sure I understand correctly, are you stating that keyboard shortcuts from the application are not working in chrome's devtools? "Copy/Paste Keyboard Shortcuts are not working within DevTools" seems to suggest this is what the issue is talking about.

[2020-10-21 20:41] caseyflynn-google opened #8658 "Navigator allows users to collapse workspace node"
### Bug Description: Navigator allows users collapsing the workspace node
Theia allows the default workspace node to be collapsed which seems odd, and may be unintentionally invoked by users.

### Steps to Reproduce:

1. Open the File Navigator view.
2. Ensure no file/directory is currently selected in the navigator (this may be accomplished by clicking the collapse all button)
3. Click an area in

[2020-10-21 21:58] vince-fugnitto commented on #8658
The following method seems to be the issue when there is no selection in the `explorer`:

https://github.com/eclipse-theia/theia/blob/60def5302c271db3cdb8212f2e1a18af814d9599/packages/core/src/browser/tree/tree-widget.tsx#L1107-L1114

[2020-10-22 02:23] christlee1989 commented on #8654
yes, as shown in the figure

![image](https://user-images.githubusercontent.com/10151385/96816662-473c3780-1450-11eb-9339-f1f79b03f432.png)

[2020-10-22 03:33] zhaomenghuan commented on #8534
When I hibernate my computer and turn it on again, the problem can be reproduced stably. I added the close and exit events of backendProcess to ElectronMainApplication, and found that the signal values are both SIGPIPE. Node.js Process ignores SIGPIPE errors by default, but it doesn't seem to take effect in the Electron environment. I tried adding the following code to BackendApplication, which se

[2020-10-22 08:53] tsmaeder opened #8662 "TaskProvider.provideTask() gets no CancellationToken"
### Bug Description:
When testing vscode-typescript-language-features 1.50.1, I noticed that we get an exception upon opening a workspace:
[code]

https://code.visualstudio.com/api/references/vscode-api#TaskProvider

### Steps to Reproduce:

1. Download v 1.50.1 from https://open-vsx.org/extension/vscode/typescript-language-features and replace the built-ins in your <theia>/plugins folder with tha

[2020-10-22 10:41] zhaomenghuan commented on #8186
Hello @kittaakos, is there any new progress on this question now? I temporarily circumvented it with the following configuration:
[code]

[2020-10-22 10:45] #8534 closed

[2020-10-22 10:47] kittaakos commented on #8186
No, there aren't any updates 😕 Feel free to help us; your most recent contribution was super valuable.

[2020-10-22 12:04] amiramw commented on #3053
what about if theia show some error message when websockets are blocked by proxy?

[2020-10-22 13:46] vince-fugnitto commented on #8654
@christlee1989 it is still not clear what the exact issue is, commands from `theia` should not work in `devTools`, and the standard copy & paste work well in `devTools`.

[2020-10-22 19:15] #8636 closed

[2020-10-22 20:20] #8611 closed

[2020-10-22 20:20] #8624 closed

[2020-10-23 05:21] zhaomenghuan commented on #8186
@kittaakos I tried to comment out the beforeunload event in the FrontendApplication class. At this time, if the modified file is not saved and clicked to exit, the front end will not be disconnected. I guess this problem is related to the code here.
[code]
In addition, clicking the yes button did not exit normally, and I feel that the logic is not right.

[2020-10-23 12:52] slhultgren commented on #3512
I ran into this issue as well using Theia 1.6.0 running on Linux. I get two events for the same change if the editor is open on the file that is modified.

If the editor is not open on the changed file, I only get the single event, so I suspect we have two watchers for the same file active while the editor is opened.

[2020-10-23 13:43] #8643 closed

[2020-10-23 15:57] sumeshkanayi commented on #4935
Same here .I tried the steps mentioned by @dinvlad ie:by changing the path returned to /data/theia (in my case theia is started from here) but ended up with keytar error .I confirmed that keytar is available locally though

[2020-10-25 08:57] ShimonBenYair opened #8666 "Can't format JAVA file programmatically in Theia"
### Bug Description:

Not able to execute the command of " Format Document" by code.

### Steps to Reproduce:

1.Execute the following code

[code]
I must mention that it works well on VSCODE.
But in Theia nothing happens and the JAVA document is not formatted ( when i manually click on "Format Document" it works well).
Is there another way to format document programmatically  in Theia ?

Operatin

[2020-10-26 07:43] ronabet commented on #7589
@akosyakov
I checked it and it didn`t solve the issue.

[2020-10-26 12:13] vince-fugnitto commented on #8666
@ShimonBenYair I see that the plugin API is in fact present for the command:

https://github.com/eclipse-theia/theia/blob/f205aa59f0b7ec5e34ac6be2683e7b12c299caec/packages/plugin-ext/src/plugin/known-commands.ts#L292

https://github.com/eclipse-theia/theia/blob/f205aa59f0b7ec5e34ac6be2683e7b12c299caec/packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts#L472-L480

I assume

[2020-10-26 12:28] ShimonBenYair commented on #8666
@vince-fugnitto

yes I am trying to do it from a vscode extension

[2020-10-26 12:36] vince-fugnitto commented on #8666
@ShimonBenYair in your example you mentioned Java, did you include Java language-extensions so you have the capability of formatting provided by the LSP?

[2020-10-26 12:40] ShimonBenYair commented on #8666
@vince-fugnitto

yes , and also added to settings.json :
   "[java]": {
     "editor.formatOnSave": false,
     "editor.defaultFormatter": "redhat.java"
   },

[2020-10-26 13:20] amiramw opened #8667 "Git clone from file explorer when no workspace"
### Feature Description:

Similar to vs code I would like to git clone a repo before opening any workspace.

Vscode:
![image](https://user-images.githubusercontent.com/9420921/97177128-abd3fb00-179e-11eb-9f28-dc9b7fc71697.png)

[2020-10-26 14:00] vince-fugnitto commented on #8666
@ShimonBenYair do you happen to have the extension available and packaged so it is easier to review?
The provided code does not work well for me in vscode either.

[2020-10-26 14:27] kittaakos commented on #8667
We should support the [`ViewsWelcomeExtensionPoint`](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/welcome/common/viewsWelcomeExtensionPoint.ts) properly, and not do another hack as we did for the `Open Workspace` and `Init Repository`.

[2020-10-26 14:28] vince-fugnitto commented on #8667
Some additional information regarding contributing [welcome content](https://code.visualstudio.com/api/extension-guides/tree-view#welcome-content). The clone repository welcome content is actually contributed through the builtin git extension and once the API is supported we can benefit from it's functionality.

[2020-10-26 15:01] amiramw commented on #8667
Is it contained in https://github.com/eclipse-theia/theia/issues/7178?

[2020-10-26 15:02] vince-fugnitto commented on #8667
I believe so yes :)

[2020-10-26 17:15] vnfedotov commented on #6460
Is there any chance of getting this fixed? It seems to affect workspaceContains activation event for plugins -- it doesn't fire in theia, while working fine in vscode. I've narrowed it down to workspace.findFiles that returns different results in theia, compared to vscode. It's a fairly basic C project with some build artifacts, file count is 361, so it's not even that big.

[2020-10-26 18:07] #8632 closed

[2020-10-26 19:19] vince-fugnitto commented on #8572
In addition, there is also flickering with contributed toolbar items which give a poor user-experience:

![webview](https://user-images.githubusercontent.com/40359487/97218084-92cb4a00-179e-11eb-8c62-a0716b1f6bc9.gif)

[2020-10-26 19:22] vince-fugnitto commented on #6460
@vnfedotov if you're interested, please feel free to provide a pull-request to address the issue.

[2020-10-26 19:58] kittaakos commented on #8656
It works with this:
[code]

[2020-10-26 19:58] #8656 closed

[2020-10-26 20:00] kittaakos commented on #8654
Where exactly do you have the issues with copy/paster, @christlee1989? Can you share a screencast that depicts the defect?

[2020-10-26 20:06] vnfedotov commented on #6460
@vince-fugnitto I'll look into it. Its FileSearchServiceImpl, is it?

[2020-10-26 21:34] #8658 closed

[2020-10-27 00:31] RuiCovid commented on #8656
Hi
Thank you very much for your information.
Nevertheless, I have the error in the print screen attached.
And a colleague (in CC) also have the exact same problem... in win10.

This itlingo-theia was built in Windows 10, uploaded to git-hub, but never
reinstalled in windows 10....

My colleague was able to install in Mac (I don't have one...)
And the person who created the itlingo-theia only insta

[2020-10-27 07:14] kittaakos commented on #8656
Windows; that's why so see `\\` as the path separator.

[2020-10-27 07:28] dimkr opened #8668 "Add a --daemon backend option"
I'm using Theia locally, through https://github.com/dimkr/codile.

Theia is started on login by https://github.com/dimkr/codile/blob/main/extra/usr/lib/systemd/user/codile.service, which runs https://github.com/dimkr/codile/blob/main/daemon.sh.

There is a problem: to be able to open the browser, systemd needs to know that Theia has started listening. systemctl start should wait until Theia starts

[2020-10-27 08:17] RuiCovid commented on #8656
With us it can't find CL.exe
Why?

A terça, 27/10/2020, 07:14, Akos Kitta <notifications@github.com> escreveu:

[2020-10-27 08:42] kittaakos commented on #8656
I do not know what you build and how, but if you can build and start Theia from the source, it's not a bug.

If you have integration issues, open a thread for further discussion or try https://community.theia-ide.org/.

[2020-10-27 08:53] RuiCovid commented on #8656
Did you instal any software before running this command?
If not, from a clean laptop we should be able to run it.

Yes, I understand it can be an integration issue. Thanks.

A terça, 27/10/2020, 08:43, Akos Kitta <notifications@github.com> escreveu:

[2020-10-27 12:25] vnfedotov opened #8669 "workspaceContains activation event doesn't fire if matched with .gitignore outside of the workspace"
### Bug Description:
For plugins activated by workspaceContains, event doesn't fire if matched file is present in .gitignore, even if .gitignore is not in the current workspace. This behavior is down to ripgrep, which by default ignores entries found in .gitignore and knows nothing about theia workspaces. This can be fixed by running ripgrep with '--no-ignore-vcs'.

### Steps to Reproduce:

1. Con

[2020-10-27 12:27] vnfedotov commented on #6460
@vince-fugnitto I think i've figured it out, but in my case it's a different issue related to ripgrep options, I've opened a new issue: #8669

[2020-10-27 13:30] Viromic opened #8670 "Hadolinth is not working"
Hadolinth is not working

[2020-10-27 14:05] vince-fugnitto commented on #8670
@Viromic please provide additional details and respect the issue template in the future so we can better help you.

[2020-10-27 14:51] #7752 closed

[2020-10-27 14:59] danarad05 commented on #8428
@tsmaeder @amiramw @DoroNahari

1. this issue is duplicate of https://github.com/eclipse-theia/theia/issues/5692
2. As I'm working on #4016 I would like to fix that also. Please assign it to me.

Thanks,
Dan

[2020-10-27 16:20] shahar-h opened #8673 "Problems loading reference 'vscode://schemas/settings/folder'"
### Bug Description:
The following warning appears for `settings.json` file in workspace:
`Problems loading reference 'vscode://schemas/settings/folder': Unable to load schema from 'vscode://schemas/settings/folder': A resource provider for 'vscode://schemas/settings/folder' is not registered.`

### Steps to Reproduce:

Create `settings.json` file under .`vscode` folder.

### Additional Informatio

[2020-10-27 16:30] vince-fugnitto commented on #8673
It is a duplicate issue of https://github.com/eclipse-theia/theia/issues/8349, which tracks supporting multiple schemas such as:

[code]

[2020-10-27 16:30] #8673 closed

[2020-10-27 18:28] vince-fugnitto commented on #8506
I'm unable to reproduce the issue any longer, I'll re-open if the issue ever resurfaces.

[2020-10-27 18:28] #8506 closed

[2020-10-27 22:23] vince-fugnitto commented on #7092
The issue is no longer valid as `@theia/java` has been deprecated for some time now: https://github.com/eclipse-theia/theia/pull/6933.

<img width="1002" alt="Screen Shot 2020-10-27 at 6 23 12 PM" src="https://user-images.githubusercontent.com/40359487/97368527-879d1a80-1881-11eb-846a-1d58bc5cf0c7.png">

[2020-10-27 22:23] #7092 closed

[2020-10-27 22:34] vince-fugnitto commented on #7019
Closing as emmet works well (version that is currently used in this repo's examples):

![emmet](https://user-images.githubusercontent.com/40359487/97369297-0ba3d200-1883-11eb-91b0-d4fd743a0694.gif)

[2020-10-27 22:34] #7019 closed

[2020-10-27 22:37] vince-fugnitto commented on #6954
@Kreyren were you able to confirm it is reproducible with vanilla theia (this repository's sources)?
If not, I believe the issue can be closed (since it has been opened for a while without any updates).

[2020-10-27 22:47] vince-fugnitto commented on #6727
The following issue now works correctly.

[2020-10-27 22:47] #6727 closed

[2020-10-28 09:00] amiramw commented on #6636
@azatsarynnyy is someone working on this item or we can take it?

[2020-10-28 10:23] tortmayr opened #8676 "Add documentation for `PreferenceContribution`"
Add API documentation for `PreferenceContribution` and potentially an extension guide. This will help developers to better understand how to provide custom preferences.

[2020-10-28 14:41] azatsarynnyy commented on #6636
@amiramw you can take it as we won't be able to look at it for the next 1-2 month

[2020-10-28 16:19] Viromic commented on #4935
Activating extension 'Docker' failed: Internal error: Could not find keytar module for reading and writing passwords is still not operational

[2020-10-28 16:55] vince-fugnitto commented on #7327
I believe I found the issue and as to why the `quick command palette` correctly displays the keybinding and menus do not.

---

Commands are added successfully to the `quick command palette` during the following logic (without any manipulation of the command `id`):

https://github.com/eclipse-theia/theia/blob/b3aa18fab016dd202e0d2a74ac829587b32fe06e/packages/plugin-ext/src/main/browser/menus/menus

[2020-10-28 17:13] vince-fugnitto commented on #5625
I verified and the `Delete all unused declarations` is now also supported.

![ts](https://user-images.githubusercontent.com/40359487/97471654-53783700-191f-11eb-8714-fa823cac6a05.gif)

[2020-10-28 17:13] #5625 closed

[2020-10-28 17:39] vince-fugnitto commented on #7654
Closed thanks to https://github.com/eclipse-theia/theia/pull/8609.

[2020-10-28 17:39] #7654 closed

[2020-10-28 17:39] vince-fugnitto commented on #7919
The workaround for `keyCode` is now merged (https://github.com/eclipse-theia/theia/pull/8609), if there are still issues please re-open the pull-request.

[2020-10-28 17:39] #7919 closed

[2020-10-28 18:49] vince-fugnitto opened #8681 "CI: stabilize 'api tests' on build"
#### Bug Description:

I've noticed for the past week or so (perhaps last week as well), that the build on Linux fails constantly for new pull-requests, and when merged to `master`. I often have to restart the build due to the intermittent failures, and it'd be good to investigate the issue and provide a more stable suite.

The errors look related to a timeout on tests present in the api test suit

[2020-10-29 08:47] christlee1989 commented on #8654
When I execute the CMD+C shortcut in devtool, the copy command of theia is triggered，and can’t paste copied content

[2020-10-29 09:25] kittaakos commented on #8654
Yes, I can confirm this. It isn't an enjoyable dev experience, especially when you have another (non-theia) Electron browser window opened; keybindings just does not work. For example, for logging in, you open a new browser window.

For the record, this is a dev thing only. It does not cause any core-Theia malfunction. Feel free providing a PR with the fix, @christlee1989  ;)

[2020-10-29 12:51] Pines-Cheng commented on #8142
The PR seems like still not merged.

[2020-10-29 13:39] EstherPerelman commented on #8667
@amiramw
For now the git.clone command in theia is enabled only if a workspace is opened
This is the code in git-contribution.ts:
    registry.registerCommand(GIT_COMMANDS.CLONE, {
            isEnabled: () => this.workspaceService.opened,
            execute: (url?: string, folder?: string, branch?: string) =>
                this.quickOpenService.clone(url, folder, branch)
        });
So support

[2020-10-29 13:45] vince-fugnitto commented on #8667
@EstherPerelman the `@theia/git` extension does not contribute any welcome views, the support should come when using the `builtin-git` and `builtin-git-ui` vscode extensions which replace `@theia/git`.

[2020-10-29 13:54] EstherPerelman commented on #8667
@vince-fugnitto  But in order to clone a repository we use the git.clone command

[2020-10-29 13:56] amiramw commented on #8667
It is also implemented in the git builtin extension.
You can see those extensions here: https://open-vsx.org/?search=git&category=&sortBy=relevance&sortOrder=desc

I'm not sure the lastest versions work in theia.

[2020-10-29 14:00] vince-fugnitto commented on #8667
@EstherPerelman the `git.clone` command you referenced comes from `@theia/git` which should not be used alongside the `builtin-git` and `builtin-git-ui` vscode extensions (which provides the 'welcome-view'), these extensions replace `@theia/git`.

The builtin defines it's own `git.clone` command with a different `when` clause which you can view through it's sources.

[2020-10-29 14:59] ronabet commented on #8407
@akosyakov
How can I restore undefined `themeId`?

[2020-10-29 16:16] sdirix opened #8685 "Add API documentation for 'BackendApplicationContribution'"
As it's one of the major entry points for extending the backend it would be nice to offer API documentation for `BackendApplicationContribution`.

[2020-10-29 16:22] sdirix opened #8687 "Add API documentation for 'MessageService'"
It would be nice to offer API documentation for `MessageService` and its related interfaces to assist developers.

[2020-10-29 18:18] marcdumais-work commented on #6636
Thanks @amiramw for picking-up this one - I hope we're able to include your merged PR in next month's release.

[2020-10-29 18:53] kenneth-marut-work opened #8689 "Switching preference scopes in Preference UI does not properly populate tree"
### Bug Description:
For preference contributions which explicitly are scoped to USER, switching scope tabs in the preferences UI does properly update the Preference Tree view which leads to odd behavior and misleading interactions.

### Steps to Reproduce:

1. Create a new PreferenceSchema with a single preference that is scoped to 'PreferenceScope.User', for example:
[code]
2. Build, and open pr

[2020-10-29 18:54] colin-grant-work commented on #8689
I believe that this bug is fixed by #8263

[2020-10-30 07:50] #7899 closed

[2020-10-30 12:40] #8670 closed

[2020-10-30 13:16] #8676 closed

[2020-10-30 13:17] kittaakos commented on #8407
@akosyakov, can you please add some context and requirement to this issue? Thanks!

[2020-10-30 13:20] kittaakos commented on #8432
Please update your repo that it does not have compiled code and the node_modules. Then I can look into your issue.

[2020-10-30 14:24] kittaakos commented on #3590
Closing. `@theia/languages` has been removed.

[2020-10-30 14:24] #3590 closed

[2020-10-30 14:26] kittaakos commented on #5211
The required Git version is documented here: https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites

[2020-10-30 14:26] #5211 closed

[2020-10-30 14:27] kittaakos commented on #5991
No. See the Python example: https://github.com/theia-ide/theia-apps/blob/0471d87fb1312982689490d6992cc6b32f167f3a/theia-python-docker/latest.package.json#L99

[2020-10-30 14:29] kittaakos commented on #6685
Closing. Please update this issue if the issue happens again, I was never able to reproduce it.

[2020-10-30 14:29] #6685 closed

[2020-10-30 14:30] #6917 closed

[2020-10-30 14:33] kittaakos commented on #7266
Here is the solution: https://github.com/gitpod-io/gitpod/issues/1846#issuecomment-692593645

[2020-10-30 14:33] #7266 closed

[2020-10-30 16:09] vince-fugnitto commented on #988
Closing as `@theia/java` is deprecated and removed.

[2020-10-30 16:09] #988 closed

[2020-10-30 21:27] #5609 closed

[2020-11-01 12:13] veredcon commented on #6047
I have verified this against theia 1.7.0 and the issue of activation does not reproduce anymore.
Closing this issue.

[2020-11-01 12:13] #6047 closed

[2020-11-02 08:02] ronabet opened #8691 "Support new vscode 'in' operator for 'when' clauses"
### Feature Description:
There is a new `in` operator for `when` clauses that vscode added. This new operator allows for a dynamic lookup of a context key's value within another context key's value. For example, if you wanted to add a context menu command to folders that contain a certain type of file (or something that can't be statically known), you can now use the `in` operator to achieve it.

[2020-11-02 08:30] kittaakos opened #8692 "The (editor's) dirty indicator is not visible when the widget is `closeable: false`"
### Bug Description:

The editor's dirty indicator (`•`) is not visible when the editor is dirty but the widget is `closeable: false`

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Operating System:
- Theia Version:

[2020-11-02 11:21] tortmayr opened #8694 "Add documentation for Task API"
Add API documentation for Task(contribution) & related components and potentially an extension guide.

[2020-11-02 11:29] tortmayr opened #8696 "Add/refine documentation for `TreeDecorator`"
Add API documentation for `TreeDecorator` and potentially an extension guide. This will help developers to better understand how to provide custom decorators.

[2020-11-02 12:47] akosyakov commented on #8407
It is incorrect to return dark theme if someone request light from this method. I cannot remember already exactly why I needed, probably in some downstream project needed to get info about theme but was given bogus result. We are also using this method internally, so should analyze consequences of receiving bogus results at such places as part of this issue.

[2020-11-02 14:05] #7608 closed

[2020-11-02 15:52] #8639 closed

[2020-11-03 08:16] kittaakos opened #8701 "Regression when setting the app name for electron"
### Bug Description:

We do not [set the app name](https://github.com/eclipse-theia/theia/pull/6726) anymore. It was:

https://github.com/eclipse-theia/theia/blob/0159cd5b6aa51c594498dad3185bcd6c528e22c2/dev-packages/application-manager/src/generator/frontend-generator.ts#L144-L146

We lost the feature with: https://github.com/eclipse-theia/theia/pull/7964

### Steps to Reproduce:

1.
2.
3.

### A

[2020-11-03 11:51] shahar-h opened #8702 "[Regression] Application Wizard Vs Code extension is broken on 1.7.0"
### Bug Description:
Application Wizard Vs Code extension is broken with on Theia 1.7.0.
The regression is caused by #8633. I'm working on a fix.

### Steps to Reproduce:

1. Download [application wizard vsix](https://marketplace.visualstudio.com/items?itemName=SAPOS.yeoman-ui) and deploy it in Theia.
2. Run `npm install -g generator-code`
3. Execute 'Yeoman UI Generators' command from command pal

[2020-11-03 12:09] RomanNikitenko opened #8703 "Align location field of ProgressOptions with VS Code"
At the moment it's possible to use [ProgressLocation](https://github.com/eclipse-theia/theia/blob/bdc9aa276cb55e5cf3dc8d7cb6e795ed8ffba998/packages/plugin/src/theia.d.ts#L4172-L4185) enum only as a location at which progress should show.
The goal is aligning [location field](https://github.com/eclipse-theia/theia/blob/bdc9aa276cb55e5cf3dc8d7cb6e795ed8ffba998/packages/plugin/src/theia.d.ts#L4154) t

[2020-11-03 20:14] koegel opened #8707 "Installers for all major operating systems"
To make Theia more approachable to new users, it would be great to have a pre-build version of Theia that can be installed with a nativ installer for all major operating systems (Windows, MacOS and Linux).
This effort has been driven by Rob Moran so far and he has already created installer packages for all operating systems. Thank you very much, @thegecko!
We see the following remaining points to

[2020-11-03 22:21] thegecko commented on #8707
Cc @marcdumais-work @brianking

[2020-11-04 10:39] amiramw commented on #8691
@danarad05 will look into it

[2020-11-04 12:14] brianking commented on #8707
I'm very excited about this. Let me know how we (the ECD Tools Working Group) can support.

[2020-11-04 12:25] kittaakos opened #8708 "Debug editor model initialization could fail when restoring the breakpoints between app sessions"
### Bug Description:

Let assume you have  the following source file opened in editor:
[code]

Put a breakpoint to like 3; you will see the new breakpoint item in the _Breakpoints_ view and the editor. Delete lines 1 and 2.
[code]

Restart the app. The debug editor model tries to restore the sate, and put the breakpoint back to line 3, but it does not exist anymore:

[code]

There are no breakpoin

[2020-11-04 13:37] #8702 closed

[2020-11-04 14:01] Jeeppler commented on #8707
I am very excited about this feature. I would really like to get my hands-on Eclipse Theia. Never, used it, but watched some talks at Eclipse Con mentioning Theia. An installer would make it easy for me to test it.

[2020-11-04 14:05] thegecko commented on #8707
@Jeeppler https://download.eclipse.org/theia/

[2020-11-04 15:25] kittaakos opened #8709 "As a Theia uswer I want to disable tab-bar badges via a preference"
Tab-bar badge is a cool feature 👍 but I would like to disable it via a preference. Currently, [it is not possible](https://github.com/eclipse-theia/theia/pull/8316#issuecomment-721791797) without custom code. I want to disable them selectively; keep it for Git/SCM and Debug, and let's say, diable it for the Explorer.

[2020-11-04 20:56] #8685 closed

[2020-11-04 21:07] koegel commented on #8707
Will do, thanks for offering your support!

[2020-11-04 22:57] vince-fugnitto commented on #8266
Closing in favor of the parent issue: #6636.

[2020-11-04 22:57] #8266 closed

[2020-11-04 23:51] Jeeppler commented on #8707
@thegecko thanks. I tried it. I really liked it, especially because it appears to be fast. One thing which took me a moment to understand is, that the Theia package does not come with basic syntax highlighting. I had to install the "*Basic Language (built-in)" packages. The `built-in` part confused me at the beginning, until I figured out those are build into VS Codium and not available in the The

[2020-11-05 11:49] koegel commented on #8707
Thanks for the feedback, this is good input for defining the default package!

[2020-11-05 12:27] danarad05 commented on #8691
Hi @vince-fugnitto , @akosyakov
Cc: @amiramw @DoroNahari

Seems like we need to update**@theia/monaco-editor-core** with latest changes in regard to support "in" in keybind "when" clause.
What I understand currently is that **@theia/monaco-editor-core** is npm package which references microsoft/vscode/.../standalone/0.20.x version. I see that there exists already a branch microsoft/vscode/.../stan

[2020-11-05 13:09] vince-fugnitto commented on #8691
@danarad05 I have never done it myself, but there is some documentation regarding the overall structure and migration steps necessary:
- https://github.com/eclipse-theia/theia/wiki/LSP-and-Monaco-integration

I believe it is still involving by looking at the last update: https://github.com/eclipse-theia/theia/pull/8010.

[2020-11-05 13:10] kittaakos commented on #8654
I have converted this issue into a bug: the SelectAll + Copy + Paste functionality does not work with the native dialogs either.

[2020-11-05 13:45] danarad05 commented on #8691
Thanks @vince-fugnitto , seems to me thought that https://github.com/eclipse-theia/theia/wiki/LSP-and-Monaco-integration is not current - @typefox/monaco-editor-core doesn't look like its maintained:
![image](https://user-images.githubusercontent.com/71069170/98248515-b8660980-1f7d-11eb-88bc-84a2aa9cf534.png)

I think that maybe we switched to working with @theia/monaco-editor-core instead of type

[2020-11-05 13:54] #8696 closed

[2020-11-05 14:27] vince-fugnitto commented on #1766
The bug has been resolved, likely since we switched to using `builtin` support for JS/TS.

[2020-11-05 14:27] #1766 closed

[2020-11-05 15:30] vince-fugnitto commented on #3102
I confirmed that the bug has been resolved, when an active editor is closed it triggers the event with `undefined`.
I confirmed with the following extension:
- https://github.com/vince-fugnitto/active-text-editor/releases/download/0.0.1/active-editor-0.0.1.vsix.

[2020-11-05 15:30] #3102 closed

[2020-11-05 15:38] DukeNgn commented on #2859
I verified this is fixed:

**Steps**:
+ Open a new workspace
+ Close the workspace
+ `File` -> `Open Recent Workspace`
+ A box displayed with the choice to the closed workspace
+ Clicking on it opens the old workspace correctly

**Additional information**:
+ OS: `Windows 10`
+ Theia version: `Master v1.7.0`

@vince-fugnitto Can you close this issue?

[2020-11-05 15:38] #2859 closed

[2020-11-05 15:44] vince-fugnitto commented on #7120
Closing due to inactivity.
We can re-open the issue once additional details are provided.

[2020-11-05 15:44] #7120 closed

[2020-11-05 15:50] vince-fugnitto opened #8712 "terminal: add support for opening external terminal windows"
#### Feature Description:

As an end-user, I'd like the possibility to open an external terminal through a new command and service similarly to vscode:

[code]

I believe the command would only make sense in an `electron` target.

#### Additional Details:

_Documentation_:
- https://code.visualstudio.com/docs/editor/integrated-terminal#:~:text=To%20open%20the%20terminal%3A,the%20View%20%3E%20Termi

[2020-11-05 15:50] vince-fugnitto commented on #8712
I believe @DukeNgn would like to pick up the issue when he has time.

[2020-11-05 16:01] vince-fugnitto commented on #8305
Since the `threads` part serves a purpose, users are used to it and it can be hidden can the issue be closed?

[2020-11-05 16:16] vince-fugnitto opened #8713 "quality: remove 'download-debug-adapters' script"
#### Feature Description:

The goal is to perform a cleanup and remove the `download-debug-adapters` script which is no longer being used.
It was previously used by `@theia/debug-nodejs` and `@theia/java-debug`:

https://github.com/eclipse-theia/theia/blob/44efdc41d2d6fc75dbc7008f415fc10b553ab5ab/packages/debug-nodejs/package.json#L38

https://github.com/eclipse-theia/theia/blob/44efdc41d2d6fc75db

[2020-11-05 16:55] sdirix opened #8714 "Add API documentation for 'MenuContribution'"
It would be nice to offer API documentation for `MenuContribution` and its related interfaces and classes to assist developers.

[2020-11-05 17:36] kittaakos commented on #8692
It's possible to customize it.

![screencast 2020-11-05 18-33-37](https://user-images.githubusercontent.com/1405703/98276048-b60fa980-1f95-11eb-8a28-7fbc234a47d8.gif)

[2020-11-05 17:36] #8692 closed

[2020-11-05 19:09] j-windsor opened #8716 "vscode.openIssueReporter command not supported"
### Feature Description:
VSCode opens a dialog to allow reporting an issue or feature request for a given extension. Several extensions already use this functionality, such as Docker and Azure extensions.

Can we bring this to Theia?

[2020-11-05 19:19] vince-fugnitto commented on #8716
@j-windsor do you have any additional information regarding `openIssueReporter`? I was unable to find any information regarding it in the [vscode api](https://code.visualstudio.com/api/references/vscode-api) or [builtin-commands](https://code.visualstudio.com/api/references/commands). I'm thinking it's an internal command to create issues for vscode?

[2020-11-05 19:53] azatsarynnyy opened #8718 "EditorConfig extension behavior differs from VS Code"
### Bug Description:
EditorConfig VS Code extension behavior differs from VS Code when auto-save is on and `trim_trailing_whitespace = true`.

### Steps to Reproduce:

1. Open any project that contains `.editorconfig` file with `trim_trailing_whitespace = true`.
E.g. https://github.com/spring-projects/spring-petclinic
2. Open PetClinicApplication.java file. Make sure that auto-save is on.
3. Set c

[2020-11-05 20:37] j-windsor commented on #8716
I just implemented it in my extension, inspired by the [docker extension](https://github.com/microsoft/vscode-docker/blob/master/src/commands/reportIssue.ts).

I also looked at the [vscode implementation](https://github.com/microsoft/vscode/blob/master/src/vs/code/electron-sandbox/issue/issueReporterMain.ts) to figure out what args it could take.

I did not find it documented anywhere (as with man

[2020-11-05 22:04] vince-fugnitto commented on #8716
If the issue is important for your custom use-case please feel free to provide a pull-request to implement it.

While the command is used to report issues directly in the extension (if selected in the dropdown), the overall functionality report issues directly in the custom IDE would need to be implemented first https://github.com/eclipse-theia/theia/issues/7664, and would need to be configurable

[2020-11-06 09:52] kittaakos opened #8722 "Theia runs save on app startup if `"editor.autoSave": "on"` is configured in the settings.json"
When I have the following `settings.json` in my workspace and the app starts, a save event will be fired from the editor commands:

`settings.json`:
[code]

https://github.com/eclipse-theia/theia/blob/d66074711a6e67136ba22dbf0792acf70a813bc8/packages/editor/src/browser/editor-command.ts#L171-L175

Theia incorrectly assumes there was a preference change, but there wasn't. Auto-save is enabled by de

[2020-11-06 09:55] kittaakos commented on #8722
This [PR](https://github.com/eclipse-theia/theia/pull/8163) causes the undesired side effect.

[2020-11-06 10:04] kittaakos commented on #8722
Nice, the default auto-save preference is `off`:

https://github.com/eclipse-theia/theia/blob/d66074711a6e67136ba22dbf0792acf70a813bc8/packages/editor/src/browser/editor-preferences.ts#L1246

But editor command ignores this and assumes auto-save if on when not set:

https://github.com/eclipse-theia/theia/blob/d66074711a6e67136ba22dbf0792acf70a813bc8/packages/editor/src/browser/editor-command.ts#L3

[2020-11-06 10:17] kittaakos commented on #8722
Here is a workaround for the time being:

`your-module.ts`:
[code]

`your-editor-commands.ts`:
[code]

[2020-11-06 10:37] kittaakos opened #8723 "Application shell's `save all` does not reject when save has failed"
I would expect a rejected promise when save has failed. It does not work.

1. Kill the backend process
2. Save
3. `ApplicationShell#saveAll` does not reject and never resolves.

### Additional Information

- Operating System:
- Theia Version:

[2020-11-06 10:50] devinea opened #8724 "Add VS Code API to contribute submenus"
# Feature Description:
VS Code recently added support to contribute sub menus in the context explorer as part of https://github.com/microsoft/vscode/issues/100172

Could this be ported to Theia?

Syntax
[code]
![image](https://user-images.githubusercontent.com/10102054/98357820-ab005c00-201d-11eb-952b-098709c31cc6.png)

Implementation https://github.com/microsoft/vscode/pull/102784
Some updates ht

[2020-11-06 12:00] #8432 closed

[2020-11-06 12:01] #8305 closed

[2020-11-06 14:22] #8687 closed

[2020-11-06 14:24] #8694 closed

[2020-11-06 14:27] #8714 closed

[2020-11-06 15:40] sdirix opened #8728 "Preview Widget doesn't render preview for empty documents"
### Bug Description:
Preview Widget doesn't render preview for empty documents

### Steps to Reproduce:

1. Implement a new `PreviewHandler` which renders content for empty documents
2. Open preview on empty document
3. The preview is empty although it should render the content mentioned above

I assume this was not noticed until now as the Markdown preview is empty anyway for empty documents.

##

[2020-11-06 16:06] vince-fugnitto opened #8730 "editor: support 'close on file delete' preference"
#### Feature Description:

The goal is to support the `close on file delete` preference similarly to vscode to control the behavior when an editor's underlying resource is `deleted` or `renamed`.

![image](https://user-images.githubusercontent.com/40359487/98396864-6def9600-202c-11eb-8737-2a7d8e9099a9.png)

https://github.com/eclipse-theia/theia/blob/632a67a5c60edb530f0f654c1d04f4b950afe897/packag

[2020-11-06 17:11] marcdumais-work commented on #8707
Hi @koegel ,

Thank you and ST Microelectronics for stepping-up and offering to take @thegecko 's nice work to the next level.

So we're on the same page, Theia is a platform/framework used to develop IDE applications. What Rob did is a nice multi-OS packaging for an example Theia application.

That being said, since there is currently no Eclipse Foundation project, dedicated to developing such a

[2020-11-06 17:13] marcdumais-work commented on #8707
@koegel would you like to visit us in our [dev-meeting](https://github.com/eclipse-theia/theia/wiki/Dev-Meetings) to talk about your plans regarding the packaged Theia example app? It could be this coming Tuesday or perhaps the next one.

[2020-11-06 17:35] vince-fugnitto commented on #8730
The goal should be to support the following preference, and adjust the logic:

![image](https://user-images.githubusercontent.com/40359487/98396864-6def9600-202c-11eb-8737-2a7d8e9099a9.png)

https://github.com/eclipse-theia/theia/blob/632a67a5c60edb530f0f654c1d04f4b950afe897/packages/filesystem/src/browser/filesystem-frontend-contribution.ts#L262-L284

https://github.com/eclipse-theia/theia/blob/6

[2020-11-06 17:45] brianking commented on #8707
We should consider making it an Eclipse project sooner rather than later.

[2020-11-06 20:51] vince-fugnitto commented on #8614
Closed by https://github.com/eclipse-theia/theia/pull/8616.

[2020-11-06 20:51] #8614 closed

[2020-11-06 22:15] koegel commented on #8707
Yes, I agree, this could be the starting point for project dedicated to build a Theia-based IDE application - maybe even in its own project at some point. For now I would like to focus on getting it out of the door and see where it goes :).

[2020-11-06 22:18] koegel commented on #8707
Yes, thank you for the invitation, I will join you on upcoming Tuesday. Looking forward to meeting you!

[2020-11-07 01:50] mauricioszabo commented on #7185
Well, while this API is not implemented, is there a work-around? A way for plug-in authors to implement a Task that's simply a callback, for example, even if I have to keep two code versions (one for vscode and one for Theia)

Otherwise, my plug-in will not work at all :(

[2020-11-07 17:13] kittaakos commented on #8595
I did a prototype, it's looking very promising, but it does not really work in electron. Although calling `addUnsavedChanges` on the `lifecycle` does prevent the electron window to reload/close, I could not customize the [underlying `beforeunload` listener](https://github.com/GoogleChromeLabs/page-lifecycle/blob/a32563d198a7e4f5c2338fe6a53a02fd5857992b/src/Lifecycle.mjs#L48-L51), so I was not able

[2020-11-07 17:13] kittaakos commented on #8186
Possible related: https://github.com/eclipse-theia/theia/issues/8595

[2020-11-07 17:31] kittaakos commented on #8186
@zhaomenghuan, could you please give it a try with [this](https://github.com/eclipse-theia/theia/pull/8732) change?

[2020-11-08 14:35] zhaomenghuan commented on #8186
@zhaomenghuan OK，I' will have a try and give you feedback.

[2020-11-09 14:29] #6804 closed

[2020-11-09 14:30] hallvard commented on #7980
There's still issues with the Code Tours extension. When recording a new tour, white vertical rules with a movable plus sign is supposed to appear, but it doesn't. Hence, you cannot add steps to a tour.

If you create the tour in VS Code and open it in gitpod/Theia, you can see the step markers, but the step itself is not inlined into the editor so the tour cannot be played or explored.

[2020-11-09 15:43] RomanNikitenko opened #8737 "Improve behavior for input variables"
`Theia` supports input variables, please see https://code.visualstudio.com/docs/editor/variables-reference#_input-variables

At the moment, on the step when the system shows an input box to get a string from the user,
the behavior is:  it's possible to click anywhere and the system accepts the default value.

![theia_input_variables](https://user-images.githubusercontent.com/5676062/98562599-ea93a

[2020-11-09 17:00] RomanNikitenko commented on #8737
Antoher difference with `VS Code`:
- pressing `Esc` button cancels execution of a task in `VS Code`
- the same action in `Theia` leads to acceptance of an empty value for a variable

[2020-11-09 18:55] vince-fugnitto commented on #7185
@mauricioszabo I do not believe there is a workaround at the moment, if the feature is important to your use-case you can always attempt to implement the API yourself and submit a pull-request. The following https://github.com/eclipse-theia/theia/issues/7185#issuecomment-703740249 describes the necessary changes in detail.

[2020-11-10 08:25] danarad05 commented on #8691
@akosyakov Please advise as we are not sure what is flow for updating 0.20x or should it be 0.21.x version? Are you supposed to fork [0.21x](https://github.com/microsoft/vscode/tree/standalone/0.21.x)?

[2020-11-10 08:40] RomanNikitenko commented on #8691
@danarad05
Some steps are described here https://github.com/eclipse-theia/theia/issues/7697#issuecomment-638011680

[2020-11-10 08:43] kittaakos opened #8738 "Mimic what VS Code can do with its superb ILifecycleService"
A new feature in 1.51.0: https://code.visualstudio.com/updates/v1_51#_prevent-accidental-close

API: https://github.com/microsoft/vscode/blob/master/src/vs/workbench/services/lifecycle/common/lifecycle.ts
Browser: https://github.com/microsoft/vscode/blob/master/src/vs/workbench/services/lifecycle/browser/lifecycleService.ts
Electron: https://github.com/microsoft/vscode/blob/master/src/vs/platform/

[2020-11-10 09:42] RomanNikitenko commented on #8691
The question was not to me - sorry - but I believe the answer is:
If required changes exist in 0.21.x of `Monaco` and doesn't exist in 0.20x (so they came in 0.21.x version) then the `Monaco` version should be updated to `0.21`: https://github.com/eclipse-theia/theia/issues/7697#issuecomment-638011680 + adaptation on `Theia` side, like https://github.com/eclipse-theia/theia/pull/8010

[2020-11-10 10:06] danarad05 commented on #8691
Thanks @RomanNikitenko , you are welcome to give your input.

Who will update @theia/monaco-editor-core version to 0.21x?

[2020-11-10 10:14] RomanNikitenko commented on #8691
I did previous two updates of `@theia/monaco-editor-core`: https://github.com/eclipse-theia/theia/pull/7149 and https://github.com/eclipse-theia/theia/pull/8010 with @akosyakov help.

Unfortunately I'm not sure I can provide the next update - it's not planned in our sprint plan.

@azatsarynnyy could you take a look ^^

[2020-11-10 10:25] azatsarynnyy commented on #8691
Hello @danarad05
as Eclipse Theia is a result of the community efforts - it can be anyone :slightly_smiling_face:
Last a couple of times it was @RomanNikitenko who took that responsibility.
Before that, it was @akosyakov

If you wish, you can contribute by doing the next upgrade of Monaco editor :wink:
I believe, @RomanNikitenko and @akosyakov can guide you. But keep in mind that it's very time-co

[2020-11-10 11:43] danarad05 commented on #8691
@RomanNikitenko @azatsarynnyy not sure it is planned for my sprint plan either.

@amiramw Please advise

[2020-11-10 14:02] DukeNgn opened #8739 "Dragging a file from explorer to main area doesn't work"
### Bug Description:
Dragging a file from file explorer to the main area doesn't reveal the editor and results in the following error:

[code]

The feature was supported since #1595 but now it's broken

### Steps to Reproduce:

1. Open a workspace
2. Try dragging a file to the main area

### Additional Information

- Operating System: MacOS
- Theia Version: Master v1.7.0

[2020-11-10 15:50] JLLeitschuh commented on #7954
Has this had a CVE assigned to it?

[2020-11-10 15:52] thegecko opened #8740 "Implementation of registerWebviewViewProvider VSCode API"
Hi, Arm are interested in implementing the `registerWebviewViewProvider` VSCode API in the medium-term as the status outlines this has yet to be done:

https://che-incubator.github.io/vscode-theia-comparator/status.html

Are there any efforts or plans in progress to do this already and if not, how should we go about implementing this?
Are there any templates for API implementation or similar APIs

[2020-11-10 16:05] #8635 closed

[2020-11-10 16:57] marechal-p commented on #8740
Hopefully this helps: https://github.com/eclipse-theia/theia/wiki/Theia-Plugin-Implementation

[2020-11-10 16:57] marechal-p commented on #8740
Nothing planned on Ericsson's side regarding the `registerWebviewViewProvider` VS Code API.

[2020-11-10 22:09] #7444 closed

[2020-11-10 23:01] #8681 closed

[2020-11-11 00:10] #8380 closed

[2020-11-11 08:41] akosyakov commented on #8740
Not from our side. There could be some overlap with https://github.com/eclipse-theia/theia/issues/6636 Since webviews, custom editors and views are using the same widget at the end. cc @amiramw

[2020-11-11 08:43] akosyakov commented on #8740
Are there any templates for API implementation or similar APIs we could follow?

For the extension host process is the best just copy code from VS Code since some extensions sometimes rely on internal APIs and deviation will break it. For the main side you have more flexibility but still looking at VS Code helps.

[2020-11-11 20:36] colin-grant-work commented on #8059
I'll take a crack at it.

[2020-11-11 22:35] ezzio-salas commented on #4403
This worked for me fixing my permissions issues.
Thanks **vrkansagara**

[2020-11-12 09:26] #8703 closed

[2020-11-12 09:38] NiklasRentzCAU opened #8743 "Allow notifications to have newlines"
### Feature Description:
As of [this commit](https://github.com/eclipse-theia/theia/commit/a7ec8088e475c0ce811e96fdc846172568cbfd84), notifications cannot be rendered using any form of newline supported by markdown. As all HTML tags, including `<br>` are removed (sensible for preventing any XSS attacks) and all `'\n'` are removed, no way of defining newlines in markdown can be used anymore. This b

[2020-11-12 13:07] vince-fugnitto commented on #8743
@NiklasRentzCAU

The main reason is to align with vscode, and have a consistent representation of `newlines` in standard notifications.
Please note that it is possible to use `modal` notifications to render `newlines` if needed: https://github.com/eclipse-theia/theia/pull/7500.

I do not believe the framework wants to deviate from vscode at this time and have an inconsistent behavior when displayi

[2020-11-12 16:33] marcdumais-work commented on #7226
I noticed that the MS `python` extension, made available on open-vsx, is quite a bit bigger vs the one made available in the MS Marketplace. Maybe the result was not correctly web-packed, causing bigger transfers between BE and FE, than necessary?

Playing around it the source repo, I managed to get a `.vsix` that looks to be the correct size. Perhaps this one would work better?

I added it to the

[2020-11-12 16:37] NiklasRentzCAU commented on #8743
Thank you, I just extended the implementation for my application to allow newlines again. Thank you for the insight!

[2020-11-12 18:01] vince-fugnitto commented on #3619
I believe this has been resolved thanks to #8744.

[2020-11-12 18:14] vince-fugnitto commented on #4563
Closing in favor of https://github.com/eclipse-theia/theia/issues/4468.

[2020-11-12 18:14] #4563 closed

[2020-11-12 18:15] vince-fugnitto commented on #4468
I am unable to reproduce the following issue, perhaps it has been fixed?

[2020-11-12 18:20] vince-fugnitto commented on #4497
The `WebdriverIO` pages are no longer part of the repository, nor used to test the frontend of the framework.
Instead, the framework uses [@theia/api-tests](https://github.com/eclipse-theia/theia/blob/master/doc/api-testing.md#api-integration-testing) to verify integration tests.

[2020-11-12 18:20] #4497 closed

[2020-11-12 18:20] vince-fugnitto commented on #4474
Closing since it is not related to framework.

[2020-11-12 18:20] #4474 closed

[2020-11-12 18:30] #3619 closed

[2020-11-12 18:38] vince-fugnitto commented on #7571
I'm unable to reproduce the issue any longer, are you @sh7dm?

[2020-11-12 19:03] vince-fugnitto commented on #3684
For some information, the framework supports syntax-highlighting and grammars from vscode extensions.
In order to customize syntax highlighting for a language, a vscode extension will need to be implemented using the [guide](https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide) and consumed from a custom application.

[2020-11-12 19:03] #3684 closed

[2020-11-12 19:08] DukeNgn commented on #4468
@vince-fugnitto I don't think it has been fixed

![image](https://user-images.githubusercontent.com/43587865/98984585-662e6680-24f0-11eb-9418-b3a029d443d0.png)

[2020-11-12 19:08] #6867 closed

[2020-11-12 19:19] vince-fugnitto commented on #4468
The issue is that `fuzzy` currently matches too easily:

[code]

[code]

[2020-11-12 20:31] vince-fugnitto opened #8747 "file-search: support whitespace queries"
#### Feature Description:

The goal is to support queries with _**whitespaces**_ when searching for files using the `quick file open`.
This will allow end-users to search more easily for specific files, for example the query `'readme core'`:

_Theia_

![image](https://user-images.githubusercontent.com/40359487/98992929-c37be500-24fb-11eb-9e19-34f6d82345d5.png)

_VS Code_

![file-search](https://us

[2020-11-13 13:50] kittaakos opened #8749 "'Error: connection is closed' when releasing the document's semantic tokens"
### Bug Description:

### Steps to Reproduce:

1. Start the browser app, open a TS file in editor.
2. Stop backend.
3. Start backend.
4. Frontend reconnects.
5. See the error:
[code]

### Additional Information

- Operating System:
- Theia Version:

[2020-11-13 14:16] bfitzpat opened #8750 "Support workbench.action.files.openFileFolder built-in command"
### Feature Description:

In addition to the many other command Ids you have supported for us to get Didact working on Theia, it turns out we also need `workbench.action.files.openFileFolder` to support opening a didact file from a didact file.

See https://github.com/redhat-developer/vscode-didact/issues/280

[2020-11-13 15:13] sh7dm commented on #7571
I'm unable to check it at the moment. Probably it's been already fixed.

[2020-11-13 15:19] akosyakov opened #8751 "support window.zoomLevel setting"
See https://code.visualstudio.com/docs/editor/accessibility#_persisted-zoom-level

Some users want to have it persisted. Instead of adjusting for each page.

[2020-11-13 15:50] #8728 closed

[2020-11-13 21:44] RomanNikitenko opened #8752 "vscode.Uri.joinPath is not a function"
### Bug Description:
I got the error in the browser console at using for `Theia` project `VS Code` test extension  with the following code:
[code]
The same extension works well for `VS Code`.

### Steps to Reproduce:

1. Clone https://github.com/RomanNikitenko/vscode-test-extension.git
2. Build the extension using yarn and copy it to `theia/plugins` folder.
3. Start `Theia` and open `Theia` projec

[2020-11-14 17:40] trayla commented on #5810
I can acknowledge this problem, too. Both iOS and Safari Browsers cannot show Theia with activated basic authentication in the reverse proxy. I am using a Kubernetes Ingress based on nginx.

[2020-11-15 01:42] buvoli opened #8754 "Python debugger exits with error in Theia 1.7.0"
In my previous build of Theia (1.4.0) I was able to use the python debugger with the the vscode-python extension. In Theia 1.7.0 the debugger fails with an error. This issue is reproducible using the official python docker container `theiaide/theia-python:latest`

The following error message appears in the debug console:
[code]

### Steps to Reproduce:

1. start Theia python container: `docker run

[2020-11-15 04:18] ashwanth1109 commented on #8318
@benoitf , I have a similar issue but with a different error message.

`Activating extension 'Git (built-in)' failed: Class extends value undefined is not a constructor or null`

I initially installed git `1.51.1` and faced this issue. So I tried downloading `1.49.3` and installing it, but faced the same issue

[2020-11-15 17:28] appmlk commented on #8754
the same as you 😫

[2020-11-15 17:53] vince-fugnitto commented on #8754
The following works correctly for me, when building this repository from sources:

<img width="1431" alt="Screen Shot 2020-11-15 at 12 50 00 PM" src="https://user-images.githubusercontent.com/40359487/99192490-27431f80-2741-11eb-80ce-e35c8d523288.png">

Here is my python debugging configuration:

[code]

Please note these images are not "official", they are used as examples for application develop

[2020-11-15 19:07] #5692 closed

[2020-11-15 19:07] #8428 closed

[2020-11-16 08:08] buvoli commented on #8754
Could you clarify what you mean by "building from this repository"? I just cloned the repository [https://github.com/theia-ide/theia-apps](https://github.com/theia-ide/theia-apps), cd into the directory `theia-python-docker` and built the image using `docker build . -t theiaide/theia-python:latest`. After I run the docker container and try to debug python, I still get the same error.

I also notic

[2020-11-16 09:25] benoitf commented on #8318
we're using `"vscode-git": "https://open-vsx.org/api/vscode/git/1.49.3/file/vscode.git-1.49.3.vsix"` in che-theia and git plug-in is activating fine

[2020-11-16 13:10] vince-fugnitto commented on #8754
@buvoli [this](https://github.com/eclipse-theia/theia) repository contains the sources for the **theia framework**, and I wanted to make sure that the use-case works correctly on `master` (as the https://github.com/eclipse-theia/theia/issues/8754#issuecomment-727609599 suggests). As mentioned, the [theia-apps](https://github.com/theia-ide/theia-apps) repository is a collection of docker images and

[2020-11-16 13:55] spoenemann opened #8755 "Problem matchers specified by task provider are not respected"
### Bug Description:
Task providers can specify one or more problem matchers when creating tasks. When such a task is run in VS Code, the respective problem matchers are applied. This currently does not happen in Theia. A quick picker is shown instead, asking the user to select a problem matcher from a list.

### Steps to Reproduce:

1. Download [task-problem-matcher-0.0.1.zip](https://github.com/

[2020-11-16 14:08] spoenemann commented on #8755
The source code of the task-problem-matcher example extension is here: https://github.com/spoenemann/task-problem-matcher-example

[2020-11-16 17:35] ashwanth1109 commented on #8318
Thanks for responding.
Hmm, I'm not sure why I was having this issue then. Anyway, I found a workaround to do my stuff without using the vscode-git api.

[2020-11-17 07:41] azatsarynnyy commented on #8740
We're not planning to work on it either, in the nearest future.
So, you can take it.

[2020-11-17 08:26] tal-sapan opened #8757 "Custom tree view menu items are not refreshed when context is changed"
### Bug Description:
I have a custom tree view and I am trying to implement a toggle button behavior in its menu.
I added 2 commands to the `view/title` menu of the my view. Each of the commands has a `when` clause that checks a context variable which I set with the `setContext` built-in command. When I click on the button (which triggers the commands) I change the context so that it will show the

[2020-11-17 10:20] #8620 closed

[2020-11-17 11:27] vitaliy-guliy commented on #6877
Should be working now.

[2020-11-17 11:27] #6877 closed

[2020-11-17 11:32] amiramw commented on #8740
cc @EstherPerelman who is working with me on #6636

[2020-11-17 13:15] hansbank commented on #6636
@amiramw , will your work also include the implementation of registerCustomEditorProvider ?

[2020-11-17 13:22] EstherPerelman commented on #6636
Yes, It will

[2020-11-19 08:52] djmaze commented on #8754
There is now a suitable issue: https://github.com/theia-ide/theia-apps/issues/441

[2020-11-19 12:19] CannyDuck opened #8763 "Error resolving 'vscode"
The build of theia fails with this error:
[code]
package.json
[code]

[2020-11-19 12:23] kittaakos commented on #8763
[`@theia/json`](https://www.npmjs.com/package/@theia/json) has been deprecated since `1.3.0` with `@theia/languages`. Please remove that dependency and use the appropriate VS Code extensions instead:

https://github.com/eclipse-theia/theia/blob/e2098321a66e96e72248b555ca32063127857a98/package.json#L111-L112

Closing as not a bug.

[2020-11-19 12:23] #8763 closed

[2020-11-19 12:25] kittaakos commented on #8763
@CannyDuck, if you have any follow-up issues, please feel free to ask. I'll try to assist you.

[2020-11-19 13:54] danarad05 commented on #8691
@RomanNikitenko
Hi Roman,
I might be able to go forward with creating the 0.21.x version. Are you available to support questions as they come up? I presume there is more to go through than explained in [link](https://github.com/eclipse-theia/theia/issues/7697#issuecomment-638011680) you provided - and so I want to know I have someone to reference - so I will waste as little time as possible.
Thank

[2020-11-19 15:17] vitaliy-guliy opened #8764 "[vscode] Cannot display hover when ES Lint extension is running"
### Bug Description:

At the moment, ES Lint 2.1.1 is included to default plugins and it works fine.
https://github.com/eclipse-theia/theia/blob/master/package.json#L153

Open VSX registry has ES Lint  2.1.8. After updating the link to the `.vsix` in `package.json` and use 2.1.8, the extension appears to be running. But the hover in the editor cannot be opened due to some errors (see console).

![

[2020-11-20 12:59] RomanNikitenko commented on #8691
@danarad05
Hello, Dan!
I can provide required steps and share my experience related to upgrade `Monaco` version.
At the same time as I mentioned above I did the previous updates with @akosyakov great help.
Anton expedited process on each step, his help especially important on the review step.
So I believe it would be really nice to gain Anton's support before planing the next upgrade.

[2020-11-20 18:22] vince-fugnitto commented on #8565
@maksimr I believe it is already supported, for example:

![auto2](https://user-images.githubusercontent.com/40359487/99835972-66071a00-2b33-11eb-9f4e-8bfa777d7660.gif)

[2020-11-20 18:25] vince-fugnitto commented on #8574
Fixed by: https://github.com/eclipse-theia/theia/pull/8588.

[2020-11-20 18:25] #8574 closed

[2020-11-20 18:26] vince-fugnitto commented on #8463
Fixed by: https://github.com/eclipse-theia/theia/pull/8542.

[2020-11-20 18:26] #8463 closed

[2020-11-20 18:29] vince-fugnitto commented on #8455
@quoctruong does the issue still exist, or was it an issue with the `vscode-go` extension?
- https://go-review.googlesource.com/c/vscode-go/+/254959

[2020-11-20 18:37] melaasar opened #8767 "Gradle Tasks extension does not work in Theia"
The (VSCode) "Gradle Tasks" extension can be searched and installed in Gitpod (Theia). However, unlike in VSCode, the side bar does not show up after the install. Trying to show it by selecting View -> Open View makes the side bar visible. However, you get an error when trying to click on the bar saying that it cannot contact the gradle server. All the views of the bar are also empty and they appe

[2020-11-20 18:46] maksimr commented on #8565
@vince-fugnitto hm... I have checked it doesn't work for me. I try to edit file `.theia/launch.json`
<img width="763" alt="image" src="https://user-images.githubusercontent.com/616193/99838195-c8830900-2b79-11eb-949f-cc061bb05753.png">

[Repository with this file](https://github.com/maksimr/playground)

[2020-11-20 18:57] vince-fugnitto commented on #8565
@maksimr please note that `gitpod` is a product based on the `theia` framework and may be using older versions of the framework's extensions, and/or may not include the necessary builtin extensions to support launch configurations.

I confirmed it worked from the `example-electron` example present in the framework's sources.

[2020-11-20 19:03] maksimr commented on #8565
@vince-fugnitto got it, thanks!

[2020-11-20 19:10] vince-fugnitto commented on #8767
@melaasar I verified your linked workspace and I see the following error:

[code]

The parent issue seems to be that ` vscode.CustomExecution` is not yet supported: https://github.com/eclipse-theia/theia/issues/7185

I do see the view, but the missing API looks like the main issue about tasks not being provided:

![image](https://user-images.githubusercontent.com/40359487/99840118-ee88b900-2b39-11

[2020-11-22 07:52] danarad05 commented on #8691
@RomanNikitenko Thanks for mentioning that - it's important to know that Anton's support is critical here.

@akosyakov - do you think you would be available for some support on the matter? - I do not know how much support is needed from your side - you and Roman know best.

Thanks
cc: @amiramw

[2020-11-22 08:38] danarad05 opened #8768 "Performance issue when displaying file in preview editor"
# Bug Description:

Opening the preview editor - from Search & Replace for instance - takes a long time.
Below I describe an example which takes exceeding long time (around 65 seconds for me) but any file you will open in preview editor takes time - in relation somewhat to size of file (or moreover its length of string content).

### Steps to Reproduce:

1. Search "getting-started"
2. Open "Replac

[2020-11-22 13:05] danarad05 opened #8769 "User keybindings are not propagated into vscode editor"
### Bug Description:
Setting User keyboard preferences in Theia is not propagated to vscode editor - there the default keybindings are used.

### Steps to Reproduce:

After PR [8589](https://github.com/eclipse-theia/theia/pull/8589) is merged:
a. Update Keyboard shortcuts for "acceptRenameInput"
b. click F2 to rename a function - rename input field is displayed with updated keyboard settings

** _

[2020-11-23 07:56] danarad05 commented on #8768
@akosyakov @vince-fugnitto
How would you suggest we solve this performance issue instead of my initial solution to add a `contents` prop to URI for containing file contents instead of concatenating it to URI querystring.
p.s. `percentDecode` function is in microsoft/vscode repo [here](https://github.com/microsoft/vscode/blob/f74e473238aca7b79c08be761d99a0232838ca4c/src/vs/base/common/uri.ts#L695)

[2020-11-23 08:00] danarad05 commented on #8769
fyi: @amiramw @vince-fugnitto @akosyakov

[2020-11-23 18:44] vince-fugnitto opened #8772 "ci: replace travis with github actions"
#### Bug Description:

Currently, there is no longer CI for `master` and `pull-requests` since we have exhausted our allocated credits (~1000 min) for **travis**. A potential replacement would be to migrate to **github actions** which is currently free for open-source projects. We also currently use workflows in this repository and others.

![image](https://user-images.githubusercontent.com/403594

[2020-11-23 20:26] vince-fugnitto opened #8774 "siw: add support for searchOnType and searchOnTypeDebouncePeriod"
### Feature Description:

The goal is to support the following preferences (`search.searchOnType` and `search.searchOnTypeDebouncePeriod`):

<div align='center'>

<img width="774" alt="Screen Shot 2020-11-23 at 3 22 32 PM" src="https://user-images.githubusercontent.com/40359487/100011457-c1d5db00-2d9f-11eb-8b85-b599cd56a3a8.png">

</div>

The preference controls whether automatic searching should

[2020-11-24 15:10] kittaakos commented on #8772
@marcdumais-work, can you please help us get the secrets for the GH Actions? Thanks!

[2020-11-24 15:44] kittaakos commented on #8772
As I see, we need one single secret for the GH Actions workflow: `NPM_AUTH_TOKEN`. I have access to this secret but I cannot edit the repository settings. Who can help to configure the secrets? Can we name someone on this issue? Thanks!

[2020-11-24 15:51] vince-fugnitto commented on #8772
@kittaakos I believe the only person who can update the repository settings would be the @eclipsewebmaster, perhaps @marcdumais-work can confirm?

[2020-11-24 16:01] marcdumais-work commented on #8772
Hi @kittaakos ,

I think @vince-fugnitto may be correct - the repo's settings available to me are almost nothing - some moderation options and such. Nothing about integrations at all. It the org level, I do not even see the settings link. Travis was awesome in its configurability - letting anyone with write access configure pretty much anything without org admin help.

The way forward is to open a

[2020-11-24 16:09] benoitf commented on #8772
Hello,
you don't need to ping webadmins for secrets
all committers can do it

Here an example on how I used it for QUAY.io credentials
https://github.com/benoitf/github-secrets-generator

[2020-11-24 16:12] benoitf commented on #8772
https://developer.github.com/v3/actions/secrets/#create-or-update-a-repository-secret
(you don't have a very nice UI without admin rights but you can still do it with REST :-)

[2020-11-24 16:13] marcdumais-work commented on #8772
Thanks @benoitf . It will be nice to have a UI eventually, but better a REST API than nothing.

[2020-11-24 23:56] bjornhansen opened #8777 "quick-open: multi-step input does not work well"
### Bug Description:
The [PostgreSQL](https://open-vsx.org/extension/ckolkman/vscode-postgres) plugin has a UI issue with the command palette. It wants a series of inputs put into the palette, but pressing "enter" causes the palette to disappear. Thus making it impossible to enter all the fields and connect a database.

### Steps to Reproduce:

1. Install the plugin from OpenVSX.
![Install](https:

[2020-11-25 10:35] kittaakos commented on #8772
For the record, the current Travis build does not work as we would expect. Here is the problematic part:
https://github.com/eclipse-theia/theia/blob/6ef08676314a2ceca93023ddd149579493ae7914/.travis.yml#L100-L103

We used to support the `THEIA_SKIP_NPM_PREPARE` env variable to skip the `prepare` npm script, do the dependency install, then make some magic with the Electron codecs before the `tsc` bu

[2020-11-25 12:59] kittaakos commented on #8772
I think we do not use `lerna.js` anymore, so we lost https://github.com/eclipse-theia/theia/pull/5239 too. Can someone else please double-check? I have the feeling nobody really knows what does our CI execute 😊

[2020-11-25 13:22] kittaakos commented on #8772
Looks like it's just me. Here is the caller:

https://github.com/eclipse-theia/theia/blob/6ef08676314a2ceca93023ddd149579493ae7914/dev-packages/ext-scripts/theia-run.js#L26

[2020-11-25 13:32] vince-fugnitto commented on #8777
@bjornhansen I believe it is the same issue as https://github.com/eclipse-theia/theia/issues/6193, it looks like there is a bug with multi-step input where <kbd>enter</kbd> accepts and closes the input rather than continuing (confirmed the bug using the [QuickInput Sample](https://github.com/microsoft/vscode-extension-samples/tree/master/quickinput-sample)).
- https://github.com/vince-fugnitto/qui

[2020-11-25 13:33] vince-fugnitto commented on #6193
Closing in favor of https://github.com/eclipse-theia/theia/issues/8777.

[2020-11-25 13:33] #6193 closed

[2020-11-25 13:47] vince-fugnitto commented on #8777
@bjornhansen I believe it is the same issue as https://github.com/eclipse-theia/theia/issues/6193.
I confirmed that the multi-step input works fine using the using the [QuickInput](https://github.com/microsoft/vscode-extension-samples/tree/master/quickinput-sample) [sample](https://github.com/vince-fugnitto/quick-open-samples/releases/download/1.0.0/quickinput-sample-0.0.1.vsix).

![quick-open](ht

[2020-11-25 13:50] kittaakos opened #8779 "`theia-run.js` manipulates the `process.argv` in an unsafe way"
### Bug Description:

As logged [here](https://github.com/eclipse-theia/theia/pull/8775#issuecomment-733714588), finding the proper index from `process.argv` is flawed, as it can return with an incorrect index and messes up argv passed to lerna.

Here is the broken logic:

https://github.com/eclipse-theia/theia/blob/6ef08676314a2ceca93023ddd149579493ae7914/dev-packages/ext-scripts/theia-run.js#L21

[2020-11-25 14:08] vince-fugnitto commented on #8565
Closing since the issue is confirmed to work on `master` (@DukeNgn also confirmed for me).
@maksimr if not already done so, you may want to open the issue directly on [gitpod](https://github.com/gitpod-io/gitpod/issues).

[2020-11-25 14:08] #8565 closed

[2020-11-25 14:41] kittaakos commented on #8779
These are the differences spotted on GH Actions:
macOS:
[code]

Linux:
[code]

Windows:
[code]

[2020-11-25 21:15] DoroNahari opened #8781 "Upgrade 'yargs' version ('y18n' security issue)"
### Bug Description:
y18n had a security issue that fixed in version 5.0.5.
Currently theia is using yargs 11.1.0 which is using y18n < 5.0.5.
yargs upgraded to the 5.0.5 y18n version in version 16.1.1.

can we try updating to yargs 16.1.1 ?

### Additional Information
https://github.com/yargs/yargs/issues/1790
https://github.com/yargs/yargs/commit/ae001f34c968e8f4cda2a832d85b114753f4dee0
- Theia

[2020-11-25 23:23] vince-fugnitto commented on #8781
@DoroNahari sounds good to me :) do you mind preparing a pull-request that updates the dependency, and it’s typings (including updating the source code if necessary)? During the review I’ll determine if the update in version still satisfies our license compatibility.

[2020-11-26 01:43] marcdumais-work commented on #8772
@marechal-p

What the status about that aspect? Have we preserved this check?

[2020-11-26 01:52] marcdumais-work commented on #8772
Nvm - found the answer on the [PR](https://github.com/eclipse-theia/theia/pull/8780#issuecomment-733854680) and it looks like we're fine. Nice job guys.

[2020-11-26 02:57] bjornhansen opened #8782 "Code folding state should persist when closing & opening files"
## Feature Description:
When I fold a code block in Theia, the state of the folded block doesn't persist after I close the file. This behavior isn't optimal, as I have to re-fold code blocks whenever a file is closed or opened. This also doesn't match the behavior of VSCode.

_Can the behavior of code folding be modified to match that of VSCode?_

### Behavior in VSCode (expected):

1. Open a file

[2020-11-26 03:09] zhaomenghuan commented on #6217
I use electron WebView tag in theia widget，can't copy content from webview use use ⌘ + C，same as paste.

[2020-11-26 14:14] #8755 closed

[2020-11-26 19:38] marechal-p commented on #8781
[code]

The `y18n` vulnerability is listed as affecting `5.0.0` to `5.0.4`, but as you can see we don't target any of that. But I wouldn't be against using a newer version of `yargs`, feel free to do it while opening CQs if/as required.

[2020-11-26 22:19] kittaakos commented on #8782
I have tried it with a random XML file from my workspace, it worked.

![screencast 2020-11-26 23-15-59](https://user-images.githubusercontent.com/1405703/100394560-d59e6d00-303d-11eb-9dd7-a1460b1b0ce7.gif)

I debug into the code, the folding range contribution is called correctly on restore state.

[2020-11-26 23:49] amiramw opened #8787 "mouse click outside file tree in explorer does not clear selection"
### Bug Description:

Mouse click outside file explorer tree does not clear selection. Mouse right click does clear selection. In vscode single click outside the tree clear selection.

### Steps to Reproduce:

1. select some folder on file explorer
2. click somewhere outside the files tree in file explorer
3. the folder is still selected

### Additional Information

- Operating System: debian
- Th

[2020-11-27 01:10] vince-fugnitto commented on #8782
@kittaakos the use-case you mentioned does work, but I believe the use-case of the author is preserving the folding state when a file is closed and re-opened, not when the app is reloaded:

**Use-Case 1** (_works_):
- open an editor and fold regions
- reload the app, the folding state **is** preserved

**Use-Case 2** (doesn't work while in vscode it does):
- open a file and fold regions
- close th

[2020-11-27 13:23] Tpuljak opened #8791 "Editor delta decorations not rendering"
### Bug Description:
Editor delta decorations are not rendering inside the editor but are rending on the minimap.

<img width="1170" alt="Screenshot 2020-11-27 at 14 20 36" src="https://user-images.githubusercontent.com/26512078/100453728-c1995080-30bb-11eb-9535-15dbe9f5001c.png">

[code]

As you can see on the right, the minimap selection added by the method is displayed in red, but the selection

[2020-11-27 13:52] vince-fugnitto commented on #8791
@Tpuljak can you reproduce the issue from [sources](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#quick-start)? The example you provided only has a subset of functionality (`@theia` extensions) and does not include plugins.

[2020-11-27 13:58] Tpuljak commented on #8791
I need the delta decorator functionality to work inside an extension. That is why I created such an example. I will try to reproduce it now by building the whole theia repo

[2020-11-27 14:04] vince-fugnitto commented on #8791
@Tpuljak you may want to look at the `dirty-diff` decoration example on how to also decorate the editor, not only the minimap:
- https://github.com/eclipse-theia/theia/blob/master/packages/scm/src/browser/dirty-diff/dirty-diff-decorator.ts

[2020-11-27 14:54] Tpuljak commented on #8791
It seems that the decorations are indeed working, I just assumed that there was a default style for them, I included the style and they render correctly.

[2020-11-27 14:54] #8791 closed

[2020-11-27 15:09] Nurkambay opened #8792 "Variables request contains filter object that should not be there (in VS Code filer is null)"
### Bug Description:
Hello, I am working on COBOL Debugger for Mainframe.
The issue is that Theia behavior is different from VS Code.

When VS Code does not contain a filter for variables request Thea has is:
[code]
The issue is that command contains { **"filter":"indexed","start":0** } that VS Code not contans.

### Steps to Reproduce:
<img width="1680" alt="Screenshot 2020-11-27 at 15 47 45" src

[2020-11-27 15:13] vince-fugnitto commented on #8787
@amiramw I updated the description and included a `gif` since I was a bit confused with the initial description.
I wanted to mention this only works for small workspaces (where empty space is present).

Are there additional reasons for implementing the feature besides aligning with vscode?

[2020-11-27 17:19] vince-fugnitto commented on #7813
I cannot reproduce the error on the console any longer, the `find all implementations` functionality still works correctly.

[2020-11-27 17:19] #7813 closed

[2020-11-27 19:12] bjornhansen commented on #8782
Yes, the second case is what I'm referring to.

[2020-11-28 11:30] Leon0402 commented on #8536
I found the following error. The theme uses css colors by name sometimes (afaik) instead of hexcodes. Could theia support them as well?

[code]

[2020-11-28 20:48] BalrajArpit opened #8793 "Programming C++ and Comiling it to .bin"
I want to compile C++ codes into .bin so that anyone could write, build and share binary fill to others to execute.

[2020-11-28 23:36] luigigubello opened #8794 "XSS in Debug Console [Theia v1.8.0]"
### Bug Description:

In the debug console there is no HTML escaping, so arbitrary Javascript code can be injected. I think the issue is `dangerouslySetInnerHTML` in [ansi-console-item.tsx](https://github.com/eclipse-theia/theia/blob/497452921c55fcda82e0ab50d79e4531fc1abf1b/packages/console/src/browser/ansi-console-item.tsx#L41) (L41)

![Schermata da 2020-11-29 00-10-44](https://user-images.github

[2020-11-28 23:48] luigigubello opened #8795 "Adding a security policy to the repo"
### Feature Description:

**Theia IDE Security Policy**

Theia IDE is a popular open-source project, but it misses a policy for reporting vulnerabilities. I think it would be important for people who want to report a critical issue in the right way. In addition, I suggest tracking critical bugs in the [Github security advisories](https://github.com/eclipse-theia/theia/security/advisories) section

[2020-11-29 05:20] #8793 closed

[2020-11-29 09:09] amiramw commented on #8787
@vince-fugnitto only that there is a menu command in theia "File" -> "New Folder".
After some node is selected in the tree it is impossible to use this menu command in order to create folder in the workspace root. Only by right clicking somewhere outside the tree.

[2020-11-30 05:15] perrinjerome opened #8799 "Verify integrity of downloaded plugins"
### Feature Description:

Since `theia download:plugins` command can download plugin from various sources on internet, it would be good to have an integrated way to specify the expected signatures and verify that the downloaded plugins match the signatures, so that we can make sure that download was not altered.

[2020-11-30 14:34] vince-fugnitto commented on #8787
Thank you for clarifying! Unfortunately, this approach would only fix the command for a subset of use-cases:
- small workspaces (so there is an empty area in the view)
- workspaces that are not expanded (so there is an empty area in the view)

Perhaps a more general solution would be better, such as having the ability in the `new folder` dialog to return to the root node if a selection is present

[2020-11-30 15:13] RDIL opened #8802 "Preferences page performs horribly with lots of items"
### Bug Description:
To be expected, the preferences page doesn't perform well with a lot of options, but come on, just using Gitpod, my browser feels like one of the sloths from the movie Zootopia.  If there is anything that can be done on Theia's end to reduce the render lag, that would be amazing.

### Steps to Reproduce:

1. Open preferences on Gitpod
2. See issue

### Additional Information

[2020-11-30 15:15] kittaakos commented on #8795
@marcdumais-work, can set up security policies in this repo? Does the Eclipse community have such a template that we can reuse as-is?

[2020-11-30 15:55] luigigubello commented on #8795
If you want, I can help to write a draft CVD policy for the Theia repo. At the moment, Eclipse Foundation has a [generic security policy](https://www.eclipse.org/security/policy.php), maybe we can adapt it to this repo. I suggest tracking Theia IDE security issues also using _Github security advisories_.

[2020-11-30 16:29] marechal-p commented on #8723
Regarding killing the backend process, shouldn't we close the Electron app as well? Without the backend, an Electron app cannot do much right?

[2020-11-30 16:44] vince-fugnitto commented on #8802
Closing as it is a duplicate of https://github.com/eclipse-theia/theia/issues/7875.

In the future please be professional when describing issues.

[2020-11-30 16:44] #8802 closed

[2020-11-30 16:47] kittaakos commented on #8723
I do not think suddenly closing the electron app is the correct way to handle critical errors. What do you have in mind? Please share your use-case. [Here](https://github.com/arduino/arduino-pro-ide/issues/380) is an example.

Context:
So the issue is the following; the spawned backend process can die due to whatever reason. The electron main is still alive. How should we react? I think keeping th

[2020-11-30 17:03] marechal-p commented on #8723
Not sure I see good reasons for the backend to die? If a user manually kills it, I'd consider this like killing the main process.

After trying killing VS Code's extension host to see what happens, they open a toast where you can click on a button to restart the process. While the extension host is not as critical as our backend, maybe that's something we can do as well indeed.

[2020-11-30 17:07] marcdumais-work commented on #8795
@luigigubello I guess it depends what you have in mind exactly. I agree that currently it's not easy for a visitor to this repo, to find what to do, in case they found a security vulnerability. If you can propose a PR that helps with that, great.

Theia is an Eclipse Foundation project, and they set the high-level security policy that we have to follow. So your draft should explicitly point-to and

[2020-11-30 17:14] RDIL commented on #8802
Alright sorry, just trying to make a joke

[2020-11-30 18:16] marechal-p opened #8804 "electron: killing backend process and then closing all windows shows error popup"
### Bug Description:

![image](https://user-images.githubusercontent.com/14182238/100647924-3368d880-330e-11eb-9f3d-908dcf341d49.png)

### Steps to Reproduce:

1. Build and run the electron example
2. Kill the backend process
3. Close all electron windows

### Additional Information

- Operating System: Windows 10
- Theia Version: 1.8.0

[2020-11-30 19:22] luigigubello commented on #8795
Eclipse Foundation's security policy seems to be good, but I'm not clear how security issues are tracked at the moment. I mean, in [the policy](https://www.eclipse.org/security/policy.php) I read:

I think this point is **really** important, Github security advisories don't have to replace the Eclipse Foundation bug tracking, but they can be a user-friendly mirror. So, my question is: how are secu

[2020-11-30 21:22] kittaakos commented on #8804
Thanks for the note. This was logged [here](https://github.com/eclipse-theia/theia/issues/8534#issuecomment-708940820). I have the patch on my branch but go for it if you want the fix sooner.

[2020-11-30 22:04] bjornhansen opened #8805 "Support variable substitution in settings.json"
### Feature Description:
In VSCode, you can pass environment variable values into the `settings.json` file. This is incredibly useful for cloud-based development environments.

For example, many plugins use `settings.json` to store data. If I have a SQL plugin, I don't want to have to enter a DB password every time I open a new workspace in Gitpod, especially if that password is already available

[2020-11-30 22:31] colin-grant-work opened #8808 "Problems with Restoration of Focus After Command Palette Closure"
### Bug Description:

I am using a [`sprotty-vscode`](https://github.com/eclipse/sprotty-vscode)-based plugin in a Theia application. Sprotty registers commands to run against an active diagram in a webview and has [code](https://github.com/eclipse/sprotty-vscode/blob/6f3693049585202f9f68d719529b45b7db67c997/sprotty-vscode-extension/src/sprotty-vscode-extension.ts#L80-L86) that checks for an activ

[2020-11-30 22:32] colin-grant-work commented on #8808
Posted as Sprotty issue [here](https://github.com/eclipse/sprotty-vscode/issues/31)

[2020-11-30 22:33] colin-grant-work commented on #8808
Likely related to but separate from [this issue](https://github.com/eclipse-theia/theia/issues/8100)

[2020-12-01 07:38] Kami-no opened #8810 "Activating extension 'Go' failed: Command "go.gopath" already has handler"
### Bug Description:

Unable to use extension "Go" with "theia-go"

### Steps to Reproduce:

1. run `theiaide/theia-go:next` or `theiaide/theia-go:latest` container
2. install `Go` extension
3. you have `Activating extension 'Go' failed: Command "go.gopath" already has handler`

### Additional Information

[code]

Built-in functionality for Golang has less features than "Go" extension. Is there a

[2020-12-01 08:15] kittaakos commented on #8810
Can you please log your request to the appropriate repo? Thanks! https://github.com/theia-ide/theia-apps/issues/new

[2020-12-01 08:40] Kami-no commented on #8810
Ok

[2020-12-01 08:40] #8810 closed

[2020-12-01 10:58] kittaakos commented on #4848
Yes.

[2020-12-01 10:58] #4848 closed

[2020-12-01 16:32] vince-fugnitto opened #8812 "api-test: failure on 'navigator' suite"
#### Bug Description:

The `navigator` `@theia/api-tests` suite is currently failing on recent builds:

[code]

#### Steps to reproduce:

The error is reproduced in recent builds (github actions), but locally the tests pass (using `npx run test @theia/example-browser`)

[2020-12-01 17:01] #8730 closed

[2020-12-01 18:17] vince-fugnitto commented on #8772
The only thing remaining to close the issue I believe would be to setup the `secrets` (subsequent issues can be used to track other features/improvements to the workflow). @benoitf @marcdumais-work who will take care of updating the `secrets` for the repository?

https://github.com/eclipse-theia/theia/blob/3bc2c2b9e48fcb0a6cba3a07bd121a8a16fa93fd/.github/workflows/build.yml#L60

https://github.com

[2020-12-01 18:19] kittaakos commented on #8772
`secrets.GITHUB_TOKEN` is available by default.

[2020-12-01 18:25] DukeNgn opened #8814 "CI: Add the ability to cancel previous jobs automatically"
### Bug Description:
Gh workflow is currently lacking a mechanism to cancel ongoing jobs when new jobs are queued. That might lead to the case of parallel workflows or race conditions.

Examples:
+ [PR gets updated](https://github.community/t/is-it-possible-to-cancel-previous-jobs-automatically-when-the-pull-request-is-updated/16779)
+ [Multiple push to master](https://github.community/t/prevent-p

[2020-12-01 23:58] jylenhof commented on #8064
This plugin is now managed by hashicorp, so it's working again with vscode.

But I do have quite the same message when trying it again :
Activating extension 'HashiCorp Terraform' failed: The "listener" argument must be of type function. Received an instance of Object

[2020-12-02 02:52] bendavis78 opened #8815 "Cannot register menu items asynchronously"
When creating a MenuContribution + CommandContribution, I am unable to use asynchronous logic inside the `registerCommands` and `registerMenus` functions. When you use async in either function, the menus are not registered properly (they simply don't appear).

You can reproduce this by starting from generator-theia-extension using the "widget" template. Update the `reigsterMenus` or `registerComma

[2020-12-02 08:17] tsmaeder commented on #7754
Maybe https://github.com/eclipse-theia/theia/pull/8180 could play a role in this?

[2020-12-02 08:44] tsmaeder commented on #5761
Couple of thoughts:

1. A part of the plugin system (ext services) runs in the plugin host process, not the back-end
2. We can add new plugin API namespaces at compile time by contributing a `ExtPluginApiProvider` from a back-end extension.
3. The back-end tells the plugin host webworker (front end plugin) and plugin host (back end plugin) which modules to load to implement the ext services for th

[2020-12-02 12:01] kittaakos commented on #8815
See here: https://community.theia-ide.org/t/menuactions-based-on-data-recieved-from-backend/1200/2

[2020-12-02 12:01] #8815 closed

[2020-12-02 16:40] Hanksha opened #8816 "Check icon overlaps the menu item icon when toggled"
### Bug Description:

For menu actions which use a command with a toggled state the check icon is overlapping the menu item icon when rendered.
See screenshot:

![image](https://user-images.githubusercontent.com/6960133/100901456-1e35aa80-34c4-11eb-8250-c79ed4773352.png)

I was expecting something like this:
![image](https://user-images.githubusercontent.com/6960133/100901891-a1ef9700-34c4-11eb-9b

[2020-12-02 17:22] vince-fugnitto commented on #8816
@Hanksha I don't believe we support having `icons` and `toggled` state simultaneously for menu items in the framework (I assume that is why you had to update `css` with `!important` rules). I'm not sure this is a bug as you mentioned and has to do with the `css`.

[2020-12-02 17:30] Hanksha commented on #8816
@vince-fugnitto No the `!important` rules were for something else because it's the first time I deal with a menu which has toggled items. I didn't know it was not supported, hence the bug. Is this something we could support or is that a limitation of phosphorjs menus?

[2020-12-02 17:35] vince-fugnitto commented on #8816
@Hanksha I was confused by the first screenshot, is this a theia-based application?

I have not investigated yet.

[2020-12-02 17:41] Hanksha commented on #8816
@vince-fugnitto Yes it is, I'm using the `ContextMenuRenderer` to render the context menu in my custom toolbar.

Alright, I'll look into it as well.

[2020-12-02 18:00] bendavis78 opened #8817 "Cannot register menu item asynchronously"
When creating a MenuContribution + CommandContribution, I am unable to use asynchronous logic inside the `registerCommands` and `registerMenus` functions. When you use async in either function, the menus are not registered properly (they simply don't appear).

You can reproduce this by starting from generator-theia-extension using the "widget" template. Update the `reigsterMenus` or `registerComma

[2020-12-02 18:17] vince-fugnitto commented on #8817
@bendavis78 duplicate of https://github.com/eclipse-theia/theia/issues/6259?

[2020-12-02 19:12] marcdumais-work commented on #8772
@vince-fugnitto  I'll take care of it - I have access to the npm account and can generate a new token and set it using @benoitf's suggested way.

[2020-12-02 19:26] bendavis78 commented on #8817
@vince-fugnitto yes, that possibly could be a duplicate. You can go ahead and mark this as duplicate and I will respond on that issue.

[2020-12-02 19:27] vince-fugnitto commented on #8817
Duplicate of  #6259.

[2020-12-02 19:27] #8817 closed

[2020-12-02 20:43] bendavis78 commented on #6259
@akosyakov Please see here for a reproduction of this issue:  https://github.com/bendavis78/theia-issue-6259.

In this example, the "Test Immediate" and "Test Async" menu items _shoud_ show under the Help menu, however, only the "Test Immediate" menu item shows.

[code]

[2020-12-02 22:18] marcdumais-work commented on #8772
I think I have succeeded at setting the npm token, but we can confirm by confirming if `next` versions get published now I guess?

[2020-12-02 22:21] marcdumais-work commented on #8772
I've restarted the latest [job](https://github.com/eclipse-theia/theia/runs/1489260533)

[2020-12-02 22:57] marcdumais-work commented on #8772
Despite the [failed status](https://github.com/eclipse-theia/theia/runs/1489332971#step:5:3357) I think it worked:

[code]

[2020-12-02 23:09] marcdumais-work commented on #8772
On Travis this type of glitch might have been handled by the retry. In short a small % of packages will take a little while to appear on npm, despite having been published successfully. In the case above it delayed enough for the check script to trip, but by the time I checked manually soon after, the package was visible on npm.

[2020-12-02 23:12] marcdumais-work commented on #8772
@vince-fugnitto Good enough to close this issue?

[2020-12-03 00:12] bkelley13 opened #8819 "customData for html not working"
The extensions that offer html customData aren't showing popup insight for those html tags.
### Bug Description:

### Steps to Reproduce:

1.  Build the vscode extension for custom-data-sample from their vscode examples.  (May need to update or remove publisher from package.json for this.)
2. Install vsix.
3.  restart workspace so that extension is reloaded (the customData extensions require reloa

[2020-12-03 02:09] #7819 closed

[2020-12-03 02:16] vince-fugnitto commented on #8819
@bkelley13 I updated the title, and provided some links so the issue can offer more information.
The [`custom data`](https://github.com/microsoft/vscode-custom-data) contribution is not yet supported in the framework.

[2020-12-03 02:17] vince-fugnitto commented on #8772
Thank you @kittaakos and @marechal-p for resolving the issue 👍

[2020-12-03 02:17] #8772 closed

[2020-12-03 03:19] bkelley13 commented on #8819
Looking forward to support for it, theia looks great so far, such support would make it greater.  Thanks.

[2020-12-03 16:24] tal-sapan opened #8822 "Task type in task definition from execution is not the original type"
### Bug Description:
When executing a task with a custom type (through a task provider, tasks.json or by creating a new `Task` instance and calling `tasks.executeTask`), the value of `task.definition.type` is different from the returned execution's `execution.task.definition.type`. For example, for a custom task that has a `ShellExecution`, the `type` becaomse `shell`. The original type is in the

[2020-12-04 07:11] RomanNikitenko commented on #8822
I faced with the similar problem related to task type https://github.com/eclipse-theia/theia/pull/8756#discussion_r528200644

[2020-12-04 09:22] engelhardtda opened #8825 "Suggestions within logpoints not working as expected"
### Bug Description:
Autocomplete suggestions within a log message when creating a logpoint have unexpected behavior.
- Suggestions are shown without the interpolated scope ( { } )
- When trying to add interpolation suggestions are only shown after 3 characters
- Trying to autocomplete a found suggestion with enter does add it to the already typed characters, e.g:
 {myVaria}-> auto completes to {m

[2020-12-04 13:30] vince-fugnitto commented on #8825
For anyone interested in implementing the feature, I found the following commit from `vscode` which looks to hook up completion items to the `debug widget` (ex: logpoint breakpoints):

- https://github.com/microsoft/vscode/pull/46540/commits/e65578ef34d6517ba8eb0a0561422d17135f2c5c

It should be enough to add the code to the `@theia/debug` extension (provided a [CQ](https://github.com/eclipse-thei

[2020-12-04 16:29] vince-fugnitto commented on #4608
The issue has been confirmed as resolved for both the `browser` and `electron` targets (confirmed using 763d3ba).

[2020-12-04 16:29] #4608 closed

[2020-12-07 08:44] gengjiawen opened #8828 "rust-analyzer compatibility issue"
### Describe the bug
Activating extension 'rust-analyzer' failed: The language client requires VS Code version ^1.51.0 but received version 1.44.0

### Steps to reproduce
Install latest https://github.com/rust-analyzer/rust-analyzer/releases

### Expected behavior
Works as expected

Original issue: https://github.com/gitpod-io/gitpod/issues/2438

[2020-12-07 09:18] akosyakov opened #8829 "scm view cannot be always serialised as a part of layout"
[code]

Not sure how to reproduce yet, but we see it is happing Gitpod logs.

[2020-12-07 13:35] #8774 closed

[2020-12-07 14:50] #8804 closed

[2020-12-07 16:40] RomanNikitenko opened #8830 "Support Global Launch Configuration"
### Feature Description:
VS Code supports adding `launch` configurations to user settings.

Please see more details here: https://code.visualstudio.com/docs/editor/debugging#_global-launch-configuration

[2020-12-08 04:56] zhaomenghuan commented on #8654
@kittaakos Hello，I also encountered this problem here，is there any solution to this problem?

[2020-12-08 12:56] benoitf commented on #5761
I would say that we should first bring DI and then iterate to not mix problems.

[2020-12-08 14:57] RomanNikitenko opened #8836 "Support Workspace Launch Configuration"
### Feature Description:
VS Code supports adding `launch` configurations to the workspace configuration file.

Please see more details here: https://code.visualstudio.com/docs/editor/multi-root-workspaces#_workspace-launch-configurations

[2020-12-09 15:13] deepak-jacob opened #8841 "Link from the output window does not work"
### Bug Description:

 Ctrl+ clicking the link mentioned in the output widow does no action. It does not take to the file location, for a vscode extension added to theia electron IDE
![ouput_bug](https://user-images.githubusercontent.com/34061970/101646892-6579e900-3a38-11eb-8d19-0b0a136192fa.png)

Getting error though the file exists and the same link works in vscode:

[code]

### Steps to Reprod

[2020-12-09 18:10] vince-fugnitto commented on #8841
@deepak-jacob thank you for reporting the issue, do you happen to have a reproducible extension that the community can verify and test with?

[2020-12-09 23:09] danieltomasku commented on #8186
Hi, sorry to open up a closed issue, however on `master` I'm still encountering the bug where confirming the exit does not work properly on Electron (it appears to working fine in the Browser version). When prompted with the "Are you sure you want to quit?" dialog, hitting "No" immediately closes the application. This is particularly worrisome because now it will exit the application without allow

[2020-12-10 05:18] vishaakm opened #8845 "Websocket getting blocked in https - THEIA_HOSTS"
### Bug Description:
- `THEIA_HOSTS`
  - A comma-separated list of hosts expected to resolve to the current application.
    - e.g: `theia.app.com,some.other.domain:3000`
  - The port number is important if your application is not hosted on either `80` or `443`.
  - If possible, you should set this environment variable:
    - When not set, Theia will allow any origin to access the WebSocket servic