[2020-04-08 12:11] vince-fugnitto commented on #7527
Great! Please let us know if you're having difficulties or are blocked in any way :)

[2020-04-08 12:47] tsmaeder opened #7529 "Theia Build fails due to non-existing node-debug Built-in Version"
To reproduce:

1. Remove everything from the `plugins` folder inside the theia source
2. run `yarn` in the root folder
3. Observe: the build fails when downloading built-in extensions:

[code]

It turns out the last line of the log is a lie ;-). In fact, our root package.json contains a reference to

`http://open-vsx.org/api/ms-vscode/node-debug/1.44.2/file/ms-vscode.node-debug-1.44.2.vsix`

This

[2020-04-08 12:54] vince-fugnitto commented on #7529
@tsmaeder the build does not fail, just that the script complains that the entry does not exist (better error reporting is definitely needed). The issue is a duplicate of https://github.com/eclipse-theia/theia/issues/7488 which is already tracking the fix and has previous discussions.

[2020-04-08 13:22] akosyakov commented on #7525
Strangely the same issue present in VS Code, try with the terminal for instance:
- if you use a find keybinding then it shows find widget in the terminal
- but if you use Edit -> Find it does nothing.

[2020-04-08 13:23] kittaakos commented on #7529
Correct.

#7501, isn't it?

Closing as a duplicate of #7501. Please reopen if required.

[2020-04-08 13:23] #7529 closed

[2020-04-08 13:32] akosyakov opened #7530 "show command category in the keybindings view"
Several extensions can contribute a command with the same label and keybinding. It is not possible to distinguish which contributed by which currently. Use `Find` for instance, in Theia they all appear just as `Find`.

In VS Code they will add `Category`:
<img width="1146" alt="Screenshot 2020-04-08 at 15 30 50" src="https://user-images.githubusercontent.com/3082655/78789970-29c0e800-79ae-11ea-8a7

[2020-04-08 13:38] #7521 closed

[2020-04-08 13:42] akosyakov commented on #7525
Actually before it was working like in VS Code: if you have an opened editor which is not focused, Find and Replace will still applied to this editor. It does not work only in the case if a widget, i.e. terminal has own command. I think we should align again with it.

[2020-04-08 13:54] kittaakos commented on #7525
I don't like the idea because then we have to handle monaco commands differently, one command (find, replace) would require an editor, it does not necessarily have to have the focus. Other commands, such as select all, undo would require a focused editor.

But please go ahead if you think it is better.

[2020-04-08 13:57] akosyakov commented on #7525
I afraid that it will be surprising to users, since it used to work like that in Theia for other commands except `undo`, `redo`, `select all` and work like that in VS Code.

[2020-04-08 14:02] kittaakos commented on #7525
But it threw an error.

[2020-04-08 14:03] lmcbout commented on #7525
Side effect of "Select All" for the "Problem" view. When using the cmd+a to selct all, it also select all line ranges in the open editor.
![SelectAll](https://user-images.githubusercontent.com/419051/78793299-33335b80-7980-11ea-9fa5-c33708d81330.gif)

[2020-04-08 14:04] akosyakov commented on #7525
yes, this thing we can fix by no-op core find/replace handlers which are always enabled, since we have reverse handlers Monaco and terminal extensions will win

[2020-04-08 14:07] akosyakov commented on #7525
@lmcbout please file a separate issue. The problems view should have `Select All` command similar to the debug console.

[2020-04-08 14:17] lmcbout opened #7531 "Select All in Problem view"
### Description

The Problems view should have Select All command similar to the debug console.
Current side-effect, it highlight the line range of the open editor right now

### Reproduction Steps

Open a workspace which has some problems reported in the "Problem" view
Open a file in the editor
Select the Problem view and "CTRL +a" to Select All
--> observe the line range in the editor, it is als

[2020-04-08 14:29] akosyakov commented on #7525
@kittaakos I'm trying to figure out where do we check when closures and preconditions of Monaco commands with the new approach. We used to do it via `MonacEditor.isActionSupported`. Do we completely ignore them now?

[2020-04-08 14:31] kittaakos commented on #7525
For the built-in Monaco commands, yes.

We use these for the enablement checks:
 - https://github.com/eclipse-theia/theia/blob/master/packages/monaco/src/browser/monaco-command.ts#L168
 - https://github.com/eclipse-theia/theia/blob/master/packages/monaco/src/browser/monaco-command.ts#L177

[2020-04-08 14:33] akosyakov commented on #7525
Why is it better? Don't we ignore internal Monaco logic, i.e. we call a command when Monaco does not expect it. Should not we evaluate them instead in `isEnabled` callback?

[2020-04-08 14:35] kittaakos commented on #7525
Otherwise, you never execute anything from VS Code's `coreCommand`.

[2020-04-08 14:37] akosyakov commented on #7525
You mean for `undo`, `redo`, `select all`? I thought Monaco does the same what our core command doing for such cases, i.e. `document.execCommand`? For other I don't think they are enabled always, it should depend on `when` closure as before.

[2020-04-08 14:51] vince-fugnitto commented on #7531
@lmcbout I'm not sure we should open an issue for every view, but rather we do it generally as commented already:
- https://github.com/eclipse-theia/theia/issues/7525#issuecomment-610861694
- https://github.com/eclipse-theia/theia/pull/7523#issuecomment-610966147

[2020-04-08 14:53] vince-fugnitto commented on #7531
I think the 'select all' in the problems-view should be a noop like in VS Code.
We can individually copy messages, but not select the entire widget and copy.

[2020-04-08 14:55] akosyakov commented on #7525
I wonder also why do we need `ElectronUndoHandler` and other handlers? If it is based on Chromium and calls at the end `document.execCommand`. VS Code does not seem to do it.

[2020-04-08 14:57] akosyakov commented on #7531
ok, then it can be resolved by https://github.com/eclipse-theia/theia/issues/7525#issuecomment-610861694

[2020-04-08 15:02] kittaakos opened #7533 "[languages][question] Please clarify `waitForOpenTextDocument` and VS code language registration"
### Description

Question: Do we support lazy language activation or not?

Let assume I have two language contributions:
 - Language A with the following document selector: `[a]`, and
 - Language B with the following document selector: `[b]`, and
 - I have one single file in the workspace: `foo.a`, and `foo.a` is opened in an editor.

I would have expected unless I open a file `*.b` in the workspa

[2020-04-08 15:15] vince-fugnitto commented on #7522
I'm wondering if we should enable the fuzzy option `enableSeparateSubstringMatching` but it might give us more results than expected. For example:

<div align='center'>

<img width="717" alt="Screen Shot 2020-04-08 at 11 14 49 AM" src="https://user-images.githubusercontent.com/40359487/78801072-2f0c3b80-798a-11ea-8d2a-f2add438ac50.png">

</div>

[2020-04-08 15:20] kittaakos commented on #7522
Interesting. We could align it with VS Code. But strangely, VS Code boosts a few items (marked as red) above longer matches (marked as green):

![Screen Shot 2020-04-08 at 17 17 17](https://user-images.githubusercontent.com/1405703/78801610-339e1780-79bd-11ea-991a-7d9652ca4330.jpg)

[2020-04-08 15:20] marcdumais-work commented on #7519
I am not sure about the `software platform` example above - it looks a bit dated and includes hardware. But the definition looks ok. Here's [another one](https://www.dictionary.com/browse/software-platform):

Is it not the case that both terms could fit for Theia, but that `framework` is more precise, since by the definition above, a `framework` is a kind of `platform`?

[2020-04-08 15:35] implausible commented on #7510
If it's within your power you might want to consider upgrading to Node 10.16.0 or higher.

[2020-04-08 15:45] lmcbout commented on #6507
@tsmaeder I tried to reproduce the issue I reported last november with the latest Theia 1.0. I could not. If ever I can reproduce it, I will raise a new issue with steps to reproduce.

[2020-04-08 15:55] #7443 closed

[2020-04-08 16:21] kittaakos commented on #7533
OK, I believe I have figured it out. So given a Theia language contribution, with the  `['ino']` document selector, my editor is open the language ID of the text model is the desired one, all good. Then comes the VS Code extension registration phase after the app startup; we register the languages one by one. When registering the VS Code built-in C++ extension, it overrides my model language becau

[2020-04-08 16:40] akosyakov commented on #7519
`framework` sounds good to me too

[2020-04-08 16:42] akosyakov commented on #7522
Don't we use fuzzy matching from Monaco? Maybe we should upgrade to latest Monaco again to align with current VS Code behaviour?

[2020-04-08 19:10] sh7dm commented on #7512
Same bug occurs when the attach request if declined

[2020-04-08 19:56] akosyakov commented on #6636
This API was finalised in VS Code: https://code.visualstudio.com/api/extension-guides/custom-editors

[2020-04-09 02:03] JesterOrNot opened #7537 "YAML Hover Bug"
### Description

![image](https://user-images.githubusercontent.com/50386709/78849964-8f779900-79db-11ea-8c0e-e15e1245f816.png)

YAML hovers provide incorrect description

### Reproduction Steps

Unkown

**Diagnostics:**

Chrome Console:

![image](https://user-images.githubusercontent.com/50386709/78850194-31978100-79dc-11ea-97f0-cf928c73845f.png)
![image](https://user-images.githubusercontent.com

[2020-04-09 05:11] sh7dm opened #7538 "Install .vsix extension from UI"
### Description
UI doesn't allow to install .vsix extensions, you have to stop server, copy vsix to plugins folder, start server again, no runtime install, which would be helpful

### Reproduction Steps
1. Open extensions view
2. Find out that you only have built-in extensions from Theia's directory and Open VSX, no way to install a .vsix extension without copying it to server.

**OS and Theia ver

[2020-04-09 06:55] ablochberger commented on #3276
When you add your UID to the docker run command, then it should work:
`docker run -u $UID -d -i -p 3003:3000 -v "$(pwd):/home/project:cached" theiaide/theia:latest`

[2020-04-09 06:57] akosyakov commented on #7537
We need reproducible tests for the vanilla Theia to work on it.

[2020-04-09 06:58] akosyakov commented on #7512
The are 2 modes of debugging: `launch` and `attach`. For `launch` mode the debug adapter is responsible to start a program on user behalf and terminate it. But for `attach` a user is responsible for it, i.e. when the session is ended it is expected that a user program is still running.

[2020-04-09 07:40] #7470 closed

[2020-04-09 10:27] #7533 closed

[2020-04-09 14:33] Anasshahidd21 commented on #7436
In order to sync the markers with the `activeEditor`. We will need to couple the `Editor` with `Markers`, imo. Is there any other way/suggestion for fixing this issue without coupling the two?

[2020-04-09 14:52] akosyakov commented on #7436
You can rely on `NavigatableWidget`. `EditorWidget` implements it.

[2020-04-09 14:52] akosyakov commented on #7436
@vince-fugnitto Are there any preferences to control it?

[2020-04-09 14:55] vince-fugnitto commented on #7436
Yes, it looks like the following preference in vscode controls it (`problems.autoReveal`):

<img width="497" alt="Screen Shot 2020-04-09 at 10 54 16 AM" src="https://user-images.githubusercontent.com/40359487/78908783-9ab8dc00-7a50-11ea-88c9-3bffceacadfb.png">

[2020-04-09 15:52] ronnyek opened #7540 "[Feature Request] Add permanent configurable toolbar"
### Description
VSCode engineers / governing team seem insistent on not having any form of toolbar, and regardless of how many issues were opened only to be closed, ignored, expired, etc. (like https://github.com/microsoft/vscode/issues/41309), but based on the number of people that have requested, its clearly something that would add value to at least some developers lives.

Feature could be some

[2020-04-09 16:57] vince-fugnitto commented on #7540
@ronnyek thank you for the issue!

I believe the proposal for the framework to include the possibility of creating a toolbar from which extensions can contribute to (similarly to the statusbar) would be a welcomed feature. Almost all major IDEs have such toolbars and updating the framework to include a configurable toolbar would be most welcome.

I believe that if the initial contribution is of qu

[2020-04-09 18:42] daiyam opened #7541 "[change] new foldingStrategy behaviour"
## Description

I would like to change how the folding ranges are provided.

### VSCode behaviour

The editor is using the folding ranges provided:
- by the folding range provider defined by the setting `editor.foldingStrategy` (`auto` or `indentation`)
- <ins>**and**</ins> by the folding range provider defined by an extension

### Expected behaviour

The editor is using the folding ranges provide

[2020-04-09 19:23] vince-fugnitto commented on #7541
@daiyam thank you for the issue!

A couple of discussion points:
- do you have the pull-request link to vscode from which you suggesting updating the folding strategy?  (I'd like to see/reference any discussions that might have been had with the proposal and why it was not accepted).
- what issue are you attempting to fix/enhance by introducing a different folding strategy?
- another possibility w

[2020-04-09 20:08] daiyam commented on #7541
@vince-fugnitto thx for the answer.

- the PR is microsoft/vscode#54200.
- I'm used to manually control how the code is folded which improve, for me, the code readability. It's come from [Emacs](https://www.emacswiki.org/emacs/FoldingMode).
- Can a theia extension change the default behaviour? I'm asking because in VSCode, it can't be done.

[2020-04-09 20:53] PTrottier opened #7542 "Cut/Copy/Paste Keyboard Shortcuts Work Intermittently"
### Description

Once in a while, particularly after loading Theia (in Gitpod for me), the keyboard shortcuts for Cut/Copy/Paste don't work. For instance, when cutting text, the text just stay highlighted.

### Reproduction Steps

1. Pick a file that can be opened with Theia's text editor
2. Select text
3. Press CTRL-X, CTRL-C, or CTRL-V

**OS and Theia version:**
Firefox 73.0 on macOS Catalina an

[2020-04-09 21:09] PTrottier opened #7543 "PDF Preview not Tillable on Main panel"
### Description

I like to have my PDFs beside a text editor in Theia but when I try to click the tab in the Main panel and move it a side on the Main panel, it's animation imply that it can't be moved there (no outlines and when dragging towards the side, it doesn't move as it does when it works).

Please note, with some trial and error, I am able to move it to the left panel (the sidebar) and it

[2020-04-09 21:54] vince-fugnitto commented on #7543
@PTrottier thank you for the issue, I'm not sure what your exact setup is (if you are using a plugin to render the pdf or only the default preview), but moving views around works correctly. Some more information such as a reproducible setup would greatly help:

<div align='center'>

![pdf2](https://user-images.githubusercontent.com/40359487/78944041-061f9f80-7a8b-11ea-9595-eabefa10735e.gif)

</div

[2020-04-10 00:20] JPinkney commented on #7537
Is this an issue with the schema for gitpod? Or an issue with the yaml language server? If it's an issue with the language server I can take a look if you have the schema available

[2020-04-10 02:01] owlJaeger commented on #6834
My testing resulted in finding out that the `seti.woff` font-file will not be loaded as a `@font-face` and thus the icons won't be shown. I've already found a workaround but I am looking for a permanent solution.

If someone really needs these icons to work in his electron app, one possible workaround is to add this to the `<head></head>` section of the `lib/index.html` file:
[code]

[2020-04-10 03:17] OwenMatsuda commented on #7250
@cjchristopher I ran into the same problem I think. When you look at the GET request, is it sending the get request to the expected url? For example `localhost:3000/index.js`? I ran into an issue where it would pass the path wrong and I had to add a rewrite rule in order to pass the correct URL.

Maybe try adding `rewrite ^/theia/(.*) /$1 break;` to your location block.

[2020-04-10 06:10] sh7dm commented on #7243
Vetur is also affected, v0.24.0 doesn't work without VS Code API v1.42.x

[2020-04-10 06:36] azappa commented on #6601
Even using another generator which is not the `hello-world` one still got the same error `Failed to start plugins for 'frontend' host Error: not supported`.

[2020-04-10 11:37] sh7dm commented on #4727
Off-topic: tested Firefox debugger with Theia, remote forwarding works just fine, so Chrome's one should be okay too.

[2020-04-10 12:00] JesterOrNot commented on #7537
@JPinkney [here](https://github.com/gitpod-io/gitpod-yml-schema/blob/master/gitpod-yml.schema.json) is the schema, I don't think thats the issue though, but feel free to take a look

[2020-04-10 21:23] echuber2 commented on #3724
Do you have an example of how to implement one of these command links? I'd also be interested to add a bash script that would let you open a file in the editor from the terminal.

[2020-04-10 22:35] JPinkney commented on #7537
I'm assuming you want the hover description to say `"Docker image to use for workspaces. Default is 'gitpod/workspace-full'"?`

If so it looks like the issue is that the schema from the schema store points to a schema that is incorrect: https://github.com/SchemaStore/schemastore/blob/003226ee24535dec1fde6ef00d5d76ea4651d202/src/api/json/catalog.json#L703.

I think the schema on the schema store sh

[2020-04-11 10:38] tavoda commented on #4050
After installing VSCode VIM plugin from https://marketplace.visualstudio.com/items?itemName=vscodevim.vim, I'm getting following error after pressing CTRL+F:

Is editorScroll still not implemented?

[2020-04-11 16:03] elaihau opened #7547 "task.presentation does not work properly for detected tasks"
### Description

`presentation` in taskConfig does not work properly for detected tasks that are not customized in `tasks.json`

### Reproduction Steps

1. define a detected task, e.g., npm run list
[code]
2. make sure `npm run list` is not customized in `tasks.json`
3. run `npm run list` as a detected task

What happened: the new terminal is created, however it is not revealed or focused
Expected

[2020-04-12 06:15] sh7dm opened #7550 "Warn about insecure context"
### Description
When running in insecure context, only this warning is shown when using copy/paste:
![image](https://user-images.githubusercontent.com/19504461/79061908-aea54d80-7c9d-11ea-96c7-4d7a75134c1e.png)
Probably it'll be better if a warning is displayed when the windows is opened.

### Reproduction Steps
1. Run browser example with `--hostname 0.0.0.0` option
2. Access it using your IP in

[2020-04-12 08:40] sh7dm opened #7551 "Unable to edit "When" field in keyboard shortcuts editor"
### Description
When trying to edit keyboard shortcuts from the UI I can't edit `When`. I can only do so after I create a custom keybinding and edit it in JSON.
In VS Code a context menu pops up when user right-clicks on a keybinding, like this:
![image](https://user-images.githubusercontent.com/19504461/79064572-af94aa00-7cb2-11ea-88ae-a7cbea6580c4.png)
2nd item from the and means `Change When ex

[2020-04-12 14:34] vince-fugnitto commented on #7550
The issue is not about running in an insecure context, it’s an issue regarding permissions and the if the commands are supported by the given browser: https://github.com/eclipse-theia/theia/issues/2171

We should re-use the new clipboard service API as mentioned in the original issue to attempt to support across the browser targets.

I don’t think the way forward is to warn users on app startup si

[2020-04-13 04:05] troy351 opened #7554 "load & save file via api"
### Description

I am trying to save code file into database rather than file on disk. i.e. save and load files via api.
To make it simple, There is a json which describe files, any ideas or suggestions about how to integrate with theia?
Or how to hijack all file manipulation?
[code]
### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-04-13 05:49] perrinjerome opened #7555 "GIT_EXEC_PATH is set in terminal's environment"
### Description

In the terminal from theia, `GIT_EXEC_PATH` environment variable seem to be set implicitly.

This can cause issues when trying to use another git version in this terminal.

I guess this is set by this code:

https://github.com/eclipse-theia/theia/blob/22eb3a28b78233963ac3f5a344336ac8829c7369/packages/git/src/node/init/git-init.ts#L75

### Reproduction Steps

 * Start theia with gi

[2020-04-13 07:51] amiramw opened #7556 "Browser console errors: Language for 'X' not found."
### Description

There are errors on browser console when theia starts:
![image](https://user-images.githubusercontent.com/9420921/79102478-7e2fe300-7d73-11ea-86a4-e3c52db154c2.png)

### Reproduction Steps
Start theia from master.

**OS and Theia version:**
windows/debian

**Diagnostics:**
N/A

[2020-04-13 09:19] nisarhassan12 opened #7557 "Scroll bar that appears when there are too many terminal tabs is hard to use due to its thickness"
### Description

The horizontal scroll bar that appears when there are too many terminal tabs is hard to use due to its thickness.

I'm on a Desktop PC and trying to scroll using a mouse.

Also, the scroll bar only appears when we hover near it It would be better if it's displayed by default without the need of hover

![image](https://user-images.githubusercontent.com/46004116/79108973-dc1ef380-7d

[2020-04-13 09:20] sh7dm opened #7558 "Disable extension"
### Description
Is there any way to disable extension?

### Reproduction Steps
I couldn't find any way to disable the extension without uninstalling it.

**OS and Theia version:**
OS: Ubuntu 19.10
Theia: `master`

**Diagnostics:**

[2020-04-13 10:16] maksimr opened #7559 "Warn about unknown target"
## Reproduction Steps

- Crate simple Theia project
- Add `”theia”: {“target”: “foo”}` to package.json

ER: Warn about unknown target “foo”
AR: No warning. Project build as for “browser”

[2020-04-13 12:29] vince-fugnitto commented on #7556
I understand that there are still missing APIs that have yet to be fully implemented (either missing at the moment/stubbed). The markdown errors are likely for embedded languages (when using triple backticks and a language identifier), in order to get the correct syntax highlighting.

[2020-04-13 12:32] vince-fugnitto commented on #7558
@sh7dm an extension can either be removed through:
- removing it from the `package.json` (won't work for extensions that depend on the extension you want to remove and are part of the application)
  - ex: remove B, but A which is included in your app requires B
- removing the extension's functionality by removing it through dependency injection in your custom extension

[2020-04-13 12:37] sh7dm commented on #7558
No, my extension isn't built-in. Probably that's a plugin (VS Code extension).

[2020-04-13 12:38] vince-fugnitto commented on #7559
The default prop is `browser` if no/incorrect value is provided.

https://github.com/eclipse-theia/theia/blob/cb3db2a1191b350bc46784d8e699e4f15a7647d8/dev-packages/application-package/src/application-props.ts#L45-L48

@maksimr would you like to take care of submitting a quick pull-request to warn about an unknown target?

[2020-04-13 12:39] vince-fugnitto commented on #7558
You're referring to VS Code plugins which you've added to the application?

[2020-04-13 12:42] sh7dm commented on #7558
@vince-fugnitto I mean ones installed from Open-VSX, they aren't from the Theia app itself, they were installed using Open-VSX:
![image](https://user-images.githubusercontent.com/19504461/79121145-476ec280-7d9d-11ea-9d17-b30e0b673337.png)

[2020-04-13 12:43] vince-fugnitto commented on #7558
At the moment, the only option is to uninstall the extension, you may open an issue in order to track the feature of **disabling** them instead.

[2020-04-13 12:45] sh7dm commented on #7558
I did so :). This is that issue. Could you please add related labels etc. ?

[2020-04-13 12:51] vince-fugnitto commented on #7558
I've updated the issue so it's clearer for others when they reference it.

[2020-04-13 14:29] vince-fugnitto commented on #7557
As far as I know we use `onHover` since it is the behavior present in VS Code.
I think that we can create a new preference like in the latest release of VS Code which handles the size of the scrollbar (we can apply it for all tabs in each area):

<img width="523" alt="Screen Shot 2020-04-13 at 10 28 15 AM" src="https://user-images.githubusercontent.com/40359487/79128504-a1599300-7d71-11ea-9147-3ff

[2020-04-13 14:38] vince-fugnitto commented on #7541
Theia is a framework for building IDE-like applications, while VS Code is a product so it is possible for application developers to customize their applications to suit their needs.

In the framework we attempt to make things highly customizable and extensible meaning that any feature or behavior present can in theory be overridden/extended. In the case of the folding regions, we might rely direct

[2020-04-13 14:50] marcdumais-work commented on #7462
@akosyakov This seems like an important issue. If confirmed fixed by #7506, should we do a `1.0.1` bugfix release ASAP that includes this commit?

[2020-04-13 16:00] #7527 closed

[2020-04-13 16:09] marcdumais-work commented on #3276
Thanks @ablochberger - that's actually really easy and kind-of works.

The only problem I see is that now some permissions inside the container no longer work as intended. For example the Theia app will attempt to create a folder in the user's home to save configs, but that breaks when the container runs as an unexpected user:
[code]
So some other little adjustments might be required

[2020-04-13 17:32] #7398 closed

[2020-04-13 18:28] vince-fugnitto opened #7561 "core: fix quick-command service"
**Description**

There are use-cases where the 'recently used' commands list is not properly separated with 'other commands'. This is due to the fact that the list bogusly displays commands which are not enabled properly.

**Steps to Reproduce**

1. start the application
2. execute the command `Clear Command History` using the quick-command palette <kbd>F1</kbd>.
3. execute the command `About` usi

[2020-04-13 18:42] #7530 closed

[2020-04-14 06:31] akosyakov commented on #7462
@marcdumais-work I don't think new Monaco was a part of `1.0.0`.

[2020-04-14 06:33] akosyakov commented on #7541
@vince-fugnitto Yes, it can be changed only in the upstream.

[2020-04-14 06:36] akosyakov commented on #7558
Duplicate of https://github.com/eclipse-theia/theia/issues/6528

VSX registry is just UI, we should implement proper enablement management in the plugin extension first.

[2020-04-14 06:37] akosyakov commented on #7555
@AlexTugarev @kittaakos maybe you can help here?

[2020-04-14 06:43] akosyakov commented on #7556
We have to test it against latest built-in extensions. It seems in which we use not all languages are present. If it is the same with them, then maybe we should have sensible guards to quiet them or report only once.

[2020-04-14 06:44] akosyakov commented on #7554
Theia editors don't work directly against files, but use `Resource` which are identified by URIs. You need to invent a new URI (via a special scheme for instance) and implement `ResourceProvider`.

[2020-04-14 06:47] akosyakov commented on #4050
@tavoda It should be, we receive directly from Monaco editor. Do you use master? It would be worth to file a separate issue.

[2020-04-14 06:49] akosyakov commented on #7537
@JesterOrNot Could you transfer this issue to Gitpod please?

[2020-04-14 06:53] akosyakov commented on #7243
@sh7dm Could you send a PR bumping up the version and check whether vetur works with it?

[2020-04-14 06:56] sh7dm commented on #7243
Of course :cowboy_hat_face: !

[2020-04-14 07:01] akosyakov commented on #7540
I am not sure about including it in the Theia framework. For instance, we embrace VS Code decisions by default. If they don't have such toolbar and no extension contributing anything to it. What should we include there?

End products can have a toolbar though. There can be a show-case product with custom extension showing how it could be done.

[2020-04-14 07:04] kittaakos commented on #7555
@perrinjerome, can you tell us what kind of issue are you trying to solve? Why do not you install Git `2.26.0` before starting the Theia backend?

I can see, you have already checked the implementation, did you see this message too? Can it be that this has caused an issue on your side?

https://github.com/eclipse-theia/theia/blob/22eb3a28b78233963ac3f5a344336ac8829c7369/packages/git/src/node/init/

[2020-04-14 07:07] sh7dm commented on #7243
@akosyakov that works, I'll submit a PR.

[2020-04-14 08:22] perrinjerome commented on #7555
My use case is very specific, I'm using theia as a development environment for a script which downloads a more recent version of git, compile and installs it in a "user folder" ( using `--prefix` to configure ) and then use this new git to clone a repository.

When I ran this script in theia's terminal I had this problem because this `GIT_EXEC_PATH` environment variable is set in the terminal.

If

[2020-04-14 09:05] ptrxyz commented on #7141
I was running Theia on Gitpod. So probably it was Linux ... no idea about the version though.

[2020-04-14 09:32] #7243 closed

[2020-04-14 12:01] jgaiao opened #7566 "Cross file editing bug"
### Description
While editing a tab (and the tab close button changes to the ball as expected), I go to another tab and start typing but doesn't enter in edit mode, so everything I type there reflects on the previous tab in edit mode.

### Reproduction Steps
Start writing on a file, and then go to another file and start writing on that one also without saving any. Doesn't always happen, but I woul

[2020-04-14 12:19] tavoda opened #7567 "vscode: implement 'editorScroll' command"
### Description
After pressing CTRL + F with VIM plugin I get:

### Reproduction Steps
- Build from master
- Download VSCODE VIM plugin from  https://marketplace.visualstudio.com/items?itemName=vscodevim.vim -> Download extension
- Place downloaded file to $THEIA/plugins/
- Start browser environment 'cd examples/browser; yarn run start'
- Open file and press CTRL + F

**OS version:**
Linux xxxx 5.

[2020-04-14 12:27] theQureshi opened #7568 "Getting error on start: internal/modules/cjs/loader.js:638 throw err;"
### Description
I am building an IDE on Theia for a month now and it's working completely fine until three days ago when my Theia application just wouldn't start. It builds normally, but it doesn't start.

`yarn start:browser` and `yarn start:electron` both are having issues.

![Screen Shot 2020-04-14 at 4 57 05 PM](https://user-images.githubusercontent.com/33487124/79224676-f5996b80-7e74-11ea-97a

[2020-04-14 12:31] vince-fugnitto commented on #7567
It looks like the [editorScroll](https://github.com/microsoft/vscode/blob/master/src/vs/editor/browser/controller/coreCommands.ts#L1100-L1169) implementation is still missing in order for the command to be properly discoverable and executable.

[2020-04-14 12:33] vince-fugnitto commented on #7568
@TheQureshi please see if the following changes solve your issue?
- https://github.com/eclipse-theia/theia/pull/7535

[2020-04-14 12:37] JesterOrNot commented on #7537
Done!

[2020-04-14 12:37] #7537 closed

[2020-04-14 12:40] kittaakos commented on #7568
@TheQureshi, please use `resolutions` as a temporary workaround in the `package.json` as suggested [here](https://github.com/eclipse-theia/theia/issues/7510#issuecomment-610398175):
[code]

Closing.

[2020-04-14 12:43] tavoda commented on #7567
I can help with implementation. Can you point me somewhere to source code where can I put it? I have no time to study whole project structure. TNX

[2020-04-14 12:48] TheQureshi commented on #7568
@vince-fugnitto tried but the issue is still there.

[2020-04-14 12:52] vince-fugnitto commented on #7568
When trying, did you also update the `yarn.lock`? If not, I suspect it's pinning an older version.

[2020-04-14 12:54] TheQureshi commented on #7568
@kittaakos this didn't help mate!

[2020-04-14 12:55] TheQureshi commented on #7568
Yes I updated `yarn.lock` and `packages/core/package.json` both files

[2020-04-14 12:56] kittaakos commented on #7568
Did you do this in your main `package.json`?

[2020-04-14 12:56] TheQureshi commented on #7568
Yes!

[2020-04-14 12:56] kittaakos commented on #7568
Do you have code to share?

[2020-04-14 12:59] TheQureshi commented on #7568
`package.json` file after applying fixed suggested [here](https://github.com/eclipse-theia/theia/issues/7568#issuecomment-613418873).
`{
  "private": true,
  "name": "@theia/monorepo",
  "version": "0.0.0",
  "engines": {
    "yarn": "1.0.x || >=1.2.1",
    "node": ">=10.11.0 <12"
  },
  "resolutions": {
    "**/**/nsfw": "1.2.7",
    "**/@types/node": "~10.3.6",
    "**/vscode-json-languageserver

[2020-04-14 13:02] vince-fugnitto commented on #7567
The changes look a bit involving but it looks like we can register a command in [editor-commands](https://github.com/eclipse-theia/theia/blob/master/packages/editor/src/browser/editor-command.ts) without a label (so it does not show up in the quick-command menu), and the plugin-system would delegate any call from any plugin to it, similarly to:

https://github.com/eclipse-theia/theia/blob/c3d6b9f7

[2020-04-14 13:04] vince-fugnitto commented on #7568
@TheQureshi please try a clean (`git clean -fdx`), and rebuild when applying the resolutions block?

[2020-04-14 13:08] tavoda commented on #7567
Because of MIT licence I can copy command from vscode repo and than register it in plugin-vscode-commands-contribution.ts, right?

[2020-04-14 13:11] vince-fugnitto commented on #7567
Yes, but it is likely it will need to be modified slightly to follow our internals.
The only thing is that we need to make sure that the code we are copying from is covered by a [CQ](https://github.com/eclipse-theia/theia/wiki/Registering-CQs), else we will need to register a new one. We can worry about that during the review.

[2020-04-14 13:20] kittaakos commented on #7568
What does your `"postinstall": "node scripts/post-install.js",` do?

[2020-04-14 13:23] marcdumais-work commented on #7462
Ah, right - that would be a big "bugfix" release. Nevermind

[2020-04-14 13:27] kittaakos commented on #7568
@TheQureshi, I cannot do much with the `package.json` you have attached. I still believe you have the same issue as described in #7510, but maybe I am wrong.

I am reopening for better visibility; maybe someone knows the fix.

[2020-04-14 13:29] vince-fugnitto commented on #7568
I believe it's the `package.json` from the root of the repo?
I think his issue mentioned he was unable to build the main repo from sources.

[2020-04-14 13:32] sh7dm opened #7571 "Breakpoints aren't updated while debugging view is inactive"
### Description
When I change (set, move, delete) a breakpoint when e.g. File Explorer is opened at side panel and then switch to debug view, I see no changes, but when I change any breakpoint again (e.g. create on arbitrary line and then remove) all of my previous changes are shown.

### Reproduction Steps

1. Open a workspace with no breakpoints at the moment
2. Move focus to File Explorer, SCM

[2020-04-14 13:36] akosyakov commented on #7567
We don't need to copy this code. It comes with Monaco and it was there already for 3 years. Something is wrong with how we reregister this command in our registry.

Please try against this PR: https://github.com/eclipse-theia/theia/pull/7539

[2020-04-14 13:38] akosyakov commented on #7566
@jgaiao Could you provide steps to reproduce for Theia repo? I'm struggling to get it.

[2020-04-14 13:40] akosyakov commented on #7568
Pinning nsfw should not be necessary, latest version 1.2.9 is good. Could you share the repo?

[2020-04-14 13:40] vince-fugnitto commented on #7571
@sh7dm would you like to try to provide a fix? 😄

[2020-04-14 13:40] #6315 closed

[2020-04-14 13:48] kittaakos commented on #7555
Thanks for writing down the details, @perrinjerome!

A few things:
 - `GIT_EXEC_PATH` (and `LOCAL_GIT_DIRECTORY` too) are internal things and used by a downstream dependency that we use to run Git commands. These commands are associated with the UI and not the terminal.
 - When you have terminal and you execute and Git commands, it does nothing with the `GIT_EXEC_PATH` env variable, but it uses th

[2020-04-14 14:03] sh7dm commented on #7571
I would like to try with no guarantee :smiley: . I haven't got a lot of time now, so it might take long.

[2020-04-14 14:12] thegecko commented on #7510
I think it would be sensible to keep the node version inline with the version used in the electron we support.

Currently, on Electron 4.x we have node 10.11.0.
Upgrading to Electron 5.x will push us to Node 12.0.0

[2020-04-14 14:28] #7561 closed

[2020-04-14 16:07] jgaiao commented on #7566
@akosyakov I always update/install and build Theia from Yarn. And I disabled the preview, always pinned editor. Oh, and it's mainly on PHP files, with the vscode-builtin-php installed.

Another piece of information is that, I built an "Instance Launcher" that spawns Theia IDE instances on specific folders inside a RAID mounted main folder. Meaning, on this setup, we are several users spawning seve

[2020-04-14 18:04] sh7dm opened #7573 "Bracket Pair Colorizer 2"
### Description
Bracket Pair Colorizer 2 (v0.0.9) extension doesn't activate and work.

### Reproduction Steps

1. Download Bracket Pair Colorizer 2 v0.0.9 from VS Marketplace as a VSIX file.
2. Unpack it into a newly created folder in `~/.theia/extensions` or prebuilt plugins folder
3. Start Theia

**OS and Theia version:**
OS: Ubuntu 19.10
Theia: `master`

**Diagnostics:**
When I open Theia I ge

[2020-04-14 19:28] sh7dm commented on #7512
Chrome Devtools extension doesn't do so. When I close Chrome, the session is stopped.

[2020-04-14 19:39] vince-fugnitto commented on #7573
@sh7dm for your own information, one cannot use the **VS Code Marketplace** directly outside of official Microsoft products as it violates their terms of use (and is subsequently illegal). We have created [open-vsx](https://open-vsx.org/) for that exact purpose, and if your extension is not provided, you can submit a request to include it (https://github.com/open-vsx/publish-extensions).

I suspec

[2020-04-14 19:42] sh7dm commented on #7573
I know, I used the manually-download VSIX, that should work. Do you think the issue is on extension side?

[2020-04-14 19:43] vince-fugnitto commented on #7573
I'm checking out their repo and attempting to build it myself.
I do see it is still a `beta`, and their last publish was a while ago.

[2020-04-14 19:46] #7547 closed

[2020-04-14 19:50] vince-fugnitto commented on #7573
This [method](https://github.com/CoenraadS/Bracket-Pair-Colorizer-2/blob/472658cd1a6dc059976e4a28c0224842082673e4/src/textMateLoader.ts#L110-L112) looks a bit fishy, the fact that it requires it but does not provide it itself makes me think that it is included in vscode by default:

[code]

[2020-04-14 19:53] sh7dm commented on #7573
Probably this issue should be transferred there, I see that it's caused by extension.

[2020-04-14 22:42] nmorenor opened #7575 "Support for VSCode Command workbench.action.revertAndCloseActiveEditor"
We have an extension and we are looking to be compatible with Theia IDE I see that there are already work in progress to support the vscode built-in commands at [4050](https://github.com/eclipse-theia/theia/issues/4050). Which will make the extension to work as if it were running on vscode.

We are using also the command `workbench.action.revertAndCloseActiveEditor`. I've just cloned the Theia rep

[2020-04-14 22:46] nmorenor opened #7576 "Support for `vscode.workspace.findTextInFiles` API"
We are working on a VSCode extension and we are looking to have it compatible with the Theia IDE. We have a search in workspace "feature" that works by using a non yet public vscode API. "vscode.workspace.findTextInFiles". Basically it allow you to search text in all your workspace files.

I have tested out of the master branch by dropping the *.visx file under the plugins directory.

[2020-04-14 23:23] vince-fugnitto commented on #7576
I believe that VS Code APIs are added to the framework when they are finalized and not still proposed since they are still under development/clarification. It looks like extensions which use proposed APIs are only capable of successfully running on their  [Insiders](https://code.visualstudio.com/api/advanced-topics/using-proposed-api#using-proposed-api) build.

The `vscode.workspace.findTextInFile

[2020-04-15 02:46] elaihau commented on #1103
this bug should have been fixed. @marcdumais-work could you please confirm? Thanks!

[2020-04-15 05:05] perrinjerome commented on #7555
Thanks for feedback. I tried to make a minimal reproduction running on gitpod:

https://gitpod.io/#https://github.com/perrinjerome/theia_repro_7555

this image uses git 2.26 and inside the workspace, there's a script which installs another git version, 2.24 and then uses it. Note that it's different from my original reproduction steps, I started with 2.24 and then installed 2.26 in the workspace,

[2020-04-15 05:57] sh7dm opened #7577 "Timeline API"
### Description

Support Timeline API (beta now).

### Reproduction Steps

VS Code Insiders has a proposed API for timelines. [this extension](https://github.com/JacksonKearl/vscode-solunar-timeline) can be used for testing .
Maybe this API can only be implemented when VS Code adds it into stable.

**OS and Theia version:**
Any

**Diagnostics:**

No

[2020-04-15 07:13] kittaakos commented on #7555
Ohh, I did not know you have issues with Git in Gitpod. @AlexTugarev, can you please help with this? Thank you!

[2020-04-15 07:13] akosyakov commented on #7577
We have to implement the widget first in `@theia/scm` after that connect it with VS Code APIs in `@theia/plugin-ext`.

[2020-04-15 07:17] akosyakov commented on #7555
@perrinjerome Could you open the issue in https://github.com/gitpod-io/gitpod instead? I am not sure that anything can be done in Theia about it. It seems to be related to how Theia is integrated in Gitpod.

[2020-04-15 07:21] akosyakov commented on #7575
Missing editor commands should be added here: https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts#L348

Referenced implementation in VS Code: https://github.com/microsoft/vscode/blob/3f0e5b4ab059cb6c05ecac091b652cfc50b9292f/src/vs/workbench/browser/parts/editor/editorActions.ts#L462

In Theia:
- to revert: `MonacoEditor.g

[2020-04-15 07:22] perrinjerome commented on #7555
Thank you, I don't have this issue as a user of gitpod. I noticed this with a theia installed locally, it also happens on theia-apps images and on gitpod, I used gitpod here to show a minimal reproduction.

[2020-04-15 07:25] akosyakov commented on #7573
It is the same issue with `keytar`. We should add such packages as dependencies to `@theia/plugin-ext-vscode`, hook into require to intercept requests to such modules and implement own look up.

[2020-04-15 07:27] akosyakov commented on #7566
@elaihau @lmcbout @kittaakos Do you know how to record a gif (or video) which shows pressed keys as well?

[2020-04-15 07:31] #7525 closed

[2020-04-15 08:04] kittaakos commented on #7566
I use [`keycastr`](https://github.com/keycastr/keycastr) on macOS, and for the recording, I tend to use [`monosnap`](https://monosnap.com/welcome).

[2020-04-15 08:11] talsenteam commented on #6844
FYI: If you trying to prevent direct access to theia, a simple IFrame solution will not be sufficient. Because the page does not know if it is loaded via IFrame or not. A (e.g.) JWT based request for the editor would be required.
So something like the following:
1. Front-end loads and receives JWT from server (protect unwanted access via LogIn)
2. Front-end requests theia editor using its JWT
3. T

[2020-04-15 08:37] TheQureshi commented on #7568
I am testing things out by just download the .zip from `eclipse-theia/theia` repo. So `git clean` doesn't apply to me. Or does it?

[2020-04-15 08:38] TheQureshi commented on #7568
I am not sure what that does. I just got my `package.json` from `eclipse-theia/theia` master repo.

[2020-04-15 08:41] TheQureshi commented on #7568
I went through the issue you mentioned and tried the solution suggested there. No luck.

Thanks 👍

[2020-04-15 08:55] kittaakos commented on #6707
We have a regression, I believe. `{ timeout: 1000 }` does not timeout after 1 sec.

[2020-04-15 08:56] kittaakos commented on #6707
@AlexTugarev, `info` should timeout too, right?

[2020-04-15 09:03] TheQureshi commented on #7568
Yes, this is from the root of the repo.

I didn't quite get it.

[2020-04-15 09:04] TheQureshi commented on #7568
@akosyakov I just downloaded .zip from `eclipse-theia/theia` master repo and didn't make any changes except for the changes suggested here.

[2020-04-15 09:17] akosyakov commented on #7567
I cannot reproduce it on master with #7539 merged. Can someone?

[2020-04-15 09:20] akosyakov commented on #4050
Let's keep this issue as a live document to track missed commands coverage. One can file individual issues as well, but please update the first comment of this issue.

[2020-04-15 09:24] jgaiao commented on #7566
Well, good news. With the help of a co-worker (one of the avid users of theia also) he was able to identify the exact steps o reproduce the bug on demand. They are as follows:

(all this with preview disabled, not sure with it turned on)

1. With no files opened, open one to edit and save it but don't close it.
2. Go to the explorer and click to open a second file, but don't focus this new file or

[2020-04-15 09:51] sh7dm opened #7579 "Emojis cause incorrect displaying of the terminal"
### Description
Emojis are displayed incorrectly.

### Reproduction Steps
1. Try to paste `😀` into GNOME Terminal and Theia's terminal:
GNOME:
![image](https://user-images.githubusercontent.com/19504461/79324054-abb59180-7f17-11ea-9553-24d7d7992244.png)
Theia:
![image](https://user-images.githubusercontent.com/19504461/79324071-b3753600-7f17-11ea-9f9f-6a3813fde969.png)

**OS and Theia version:**
O

[2020-04-15 10:02] sh7dm commented on #7573
@akosyakov `keytar` issue also causes the failure of Docker extension.

[2020-04-15 10:19] AlexTugarev commented on #6707
I'm checking...

[2020-04-15 10:46] ccssmnn opened #7580 "iPad Cursor Scrolling (iPadOS 13.4)"
### Description

I was using theia (Gitpod) on the iPad with the new cursor introduced in iPad OS 13.4 for a few days. I have to say that it works really really well. Only one thing is not working correctly: Scrolling.

### Reproduction Steps

- 2018 iPad Pro 12.9 inch
- iPadOS 13.4.1
- iOS Safari
- Magic Trackpad 2
- Theia version is todays Gitpod version.

Try scrolling in the editor or other sc

[2020-04-15 10:59] AlexTugarev commented on #7555
There isn't a Gitpod specific problem. As @perrinjerome pointed out, `GitInit` is patching the `process.env` to enable git integration in Theia, but then this is inherited to terminal processes as well. Actually, this ensures you are using the same tool.

Maybe we should unset `GIT_EXEC_PATH` for terminal processes. WDYT?

[2020-04-15 11:34] akosyakov commented on #7580
cc @jankeromnes

[2020-04-15 11:34] lmcbout commented on #7566
I work on Ubuntu
For recording, I used " peek  " and to see the keys pressed, I start another application in the terminal. Like
     1- peek
     2- key-mon --visible_click

[2020-04-15 11:35] akosyakov commented on #7573
I've added `keytar` to discuss on next dev meeting. It requires additional dependencies which is not always necessary (some product can have own implementation of persisting secrets) but requires additional tools to be installed.

[2020-04-15 11:46] kittaakos commented on #7555
Yes, we can. But I don't understand how `GIT_EXEC_PATH` would affect Git from the `$PATH`.

@perrinjerome, I have checked your `.sh` script once more:
 - Are you positive you build Git from the sources correctly,
 - `GIT_EXEC_PATH` is not the same as the Git from the `$PATH`. If you want to get `GIT_EXEC_PATH` you have to run Git from the `$PATH` with the `--exec-path` flag.

[2020-04-15 12:25] AlexTugarev commented on #6707
@kittaakos, I just tried, it worked for me. Could you provide an example to reproduce, please.

[2020-04-15 12:32] vince-fugnitto commented on #7579
I quickly verified on my side and it worked correctly:

<div align='center'>

<img width="833" alt="Screen Shot 2020-04-15 at 8 29 49 AM" src="https://user-images.githubusercontent.com/40359487/79337332-4c458a80-7ef3-11ea-85b8-fc322d855523.png">

</div>

_Additional Info_

I'm using [bash_it](https://github.com/Bash-it/bash-it) and I'm on macOS.

[2020-04-15 13:04] akosyakov opened #7581 "add integration tests for the scm extension"
SCM View has may features and variabilities which takes quite a lot of time to test manually each time.

It would be good to integration tests to test how different features can be used in different modes via the API or using keyboard.

How to write integration tests: https://github.com/eclipse-theia/theia/blob/master/doc/api-testing.md#writing-tests

[2020-04-15 13:08] akosyakov commented on #7579
So it is bash configuration issue, not something what can be addressed in Theia?

[2020-04-15 13:10] sh7dm commented on #7579
Maybe it's browser-specific.

[2020-04-15 13:15] kittaakos commented on #6707
I will. Thanks for checking!

[2020-04-15 13:18] marcdumais-work commented on #3983
Hi @Livven , You could try on top of this PR: https://github.com/eclipse-theia/theia/issues/6623

[2020-04-15 13:48] jankeromnes commented on #6574
Hmm, that's unfortunate. Note that this also breaks the R extension's terminals (see https://github.com/gitpod-io/gitpod/issues/1357).

I had a [very brief look](https://github.com/eclipse-theia/theia/search?q=shellPath&unscoped_q=shellPath), and it seems that `shellPath` is at least intended to be supported in Theia. But since it doesn't work for Ionide and R, we'll need to do some debugging and

[2020-04-15 13:55] akosyakov commented on #7566
@jgaiao I've tried but could not reproduce :( there was a fix to `Ctrl+F` today, maybe it is related. Could you try on latest master?

[2020-04-15 13:58] jgaiao commented on #7566
@akosyakov using yarn, will the "next" tag have that fix?

[2020-04-15 14:00] akosyakov commented on #6501
I think it is also better instead of using https://github.com/jupyterlab/lumino, since it will make it possible to integrate JLab widgets in our widget without version conflicts.

[2020-04-15 14:01] vince-fugnitto commented on #7568
If not already done so, can you make sure that you have the necessary prerequisites installed?
- https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites

[2020-04-15 14:12] akosyakov commented on #7566
@jgaiao It should

[2020-04-15 14:35] jgaiao commented on #7566
@akosyakov Well..... the cross editing seems fixed now, dam coincidence! I was even using the 1.1 already, must have been that fix...... But on that note, noticed it still spawned a "buggy search" half visible on the first file spawned (like it is visible on video also). Worth opening another issue or how is it done? And thanks

[2020-04-15 14:48] akosyakov commented on #7566
@jgaiao Yes, another issues sounds good. Please close this one if there are no issues with focus anymore.

[2020-04-15 14:52] marcdumais-work commented on #7070
This has been done: https://github.com/eclipse-theia/theia/pull/7458

[2020-04-15 14:52] #7070 closed

[2020-04-15 15:14] vince-fugnitto opened #7582 "keybindings: add context-menu to keyboard shortcuts"
**Description**

The **keyboard shortcuts** view should include a context-menu from which we can have additional commands (similarly to vscode). Such commands include:
- [ ] `Copy`: (adds the ability to copy the keybinding's JSON object):

[code]
- [ ] `Copy Command ID`: (copies the keybinding's command id)
- [ ] `Change Keybinding`: (triggers the update keybinding dialog)
- [ ] `Remove Keybinding

[2020-04-15 15:15] vince-fugnitto commented on #7551
Closing in favor of https://github.com/eclipse-theia/theia/issues/7582

[2020-04-15 15:15] #7551 closed

[2020-04-15 15:15] vince-fugnitto commented on #7582
cc @Anasshahidd21

[2020-04-15 15:23] #7566 closed

[2020-04-15 16:05] vince-fugnitto commented on #7543
Closing the issue at the moment.
Please re-open the issue if you are able to successfully reproduce it from sources/have additional information.

[2020-04-15 16:05] #7543 closed

[2020-04-15 16:09] vince-fugnitto commented on #7550
Closing the issue for the moment as I do not believe there is anything for the framework to do.
The message (regarding copy/paste) is not caused by an insecure context, nor do I believe the framework should impose warning messages to downstream applications regarding how applications are deployed.

Please re-open the issue if it's not the case.

[2020-04-15 16:09] #7550 closed

[2020-04-15 16:39] sh7dm commented on #7571
@vince-fugnitto I couldn't determine the cause of the problem, sorry.

[2020-04-15 17:09] owlJaeger commented on #7510
I've tried building again and now no workaround is needed to build it without errors. Seems to be fixed, closing this issue

[2020-04-15 17:09] #7510 closed

[2020-04-15 17:28] lmcbout opened #7584 "JAVA dependencies missing when using version 0.9.0 from open-vsx registry"
### Description

Using vscode-java-dependency-viewer.vsix version 0.9.0  (From https://open-vsx.org/api/vscjava/vscode-java-dependency/0.9.0/file/vscjava.vscode-java-dependency-0.9.0.vsix) does not show the icon anymore. Using an older version  (0.6.0) works fine. This is a regression.

### Reproduction Steps

- Use a JAVA project with latest Theia
- Install  vscode-java-dependency-viewer.vsix ver

[2020-04-15 17:43] vince-fugnitto commented on #7584
@lmcbout please update the referenced links, they are broken.

[2020-04-15 17:48] lmcbout commented on #7584
Link fixed, pointing to the folder

[2020-04-15 17:51] vince-fugnitto commented on #7584
The correct link would be: https://open-vsx.org/extension/vscjava/vscode-java-dependency

[2020-04-15 17:52] akosyakov opened #7585 "upgrade to nsfw@2.x"
It's a follow up of https://github.com/eclipse-theia/theia/issues/7510

It requires a newer Electron version: https://github.com/eclipse-theia/theia/issues/7510#issuecomment-613467047

[2020-04-15 18:15] lmcbout commented on #7584
Link updated to point to the specific plugin

[2020-04-15 18:21] marcdumais-work commented on #1103
Hi @elaihau ,

This is not what I had initially had in mind, but it's better than what we had before.

I think we can keep this issue, since it would still be nice to be able to restore the task terminal's content after frontend restart, when the task already had finished executing.

[2020-04-15 18:26] lmcbout opened #7586 "MAVEN from open-vsx-registry version 0.21.2 does not work for items found in the context menu"
### Description

Using vscode-maven version 0.21.2 ( https://open-vsx.org/api/vscjava/vscode-maven/0.21.2/file/vscjava.vscode-maven-0.21.2.vsix) generates error on the console while an older version (0.21.0) works well.

### Reproduction Steps

- Open a JAVA project with a pom.xml (used by maven)
- Install maven 0.21.2 and its dependencies
- From the maven view, open the context menu and select  "

[2020-04-15 18:30] tavoda opened #7587 "VSCODE VIM plugin not working"
### Description
After #7539 merge to master, VSCODE VIM plugin basic commands like 'hjkl' stop working. CTRL + F for 'PageDown' is working. When you press 'j', instead of moving down one line letter 'j' appear in text (it looks like always in insert mode &lt;ESC> is not working)

### Reproduction Steps
git clone https://github.com/eclipse-theia/theia.git
cd theia/
yarn
cd examples/browser/
cp ~/Do

[2020-04-15 20:27] lmcbout opened #7588 "Download plugins does not unzip the ...tar.gz"
### Description

Use MAVEN from github repository and the plugins does not get unpacked. It is a package.tar.gz

### Reproduction Steps

- Add in you package.json the following:
  "vscode-maven": "https://github.com/microsoft/vscode-maven/archive/v0.21.0.tar.gz"
Test 1:
yarn download:plugins
--> vscode-maven.tar.gz is downloaded but not unzip
Test 2:
- Open a JAVA project using maven
- The extensi

[2020-04-15 21:44] vince-fugnitto commented on #7588
@lmcbout looking at the result of the `yarn download:plugins` script, the unpacking does occur:

[code]

It does not work well since you should not be using a tar of the source code but rather a properly packaged **.vsix** when referencing plugins.

[2020-04-16 02:16] perrinjerome commented on #7555
I looked a bit more at all this, and it's really dugite which expect `GIT_EXEC_PATH` environment variable to be set for current process and there does not seem to be an easy way to tell it to only set `GIT_EXEC_PATH` to child git process it may spawn, so that idea with `GitEnvProvider` seems not really possible.

I was not clear in my explanations on this part I think. As you know, `git` command u

[2020-04-16 06:31] sh7dm opened #7589 "File search doesn't open files as preview"
### Description
When you click (1 time) on any search result, the file is opened in edit mode, not preview one.

### Reproduction Steps
1. `Ctrl` + `Shift` + `F`
2. Search for anything
3. Click on a result

**OS and Theia version:**
OS: Ubuntu 19.10
Theia: `master`

**Diagnostics:**

[2020-04-16 07:10] akosyakov commented on #7589
It should be easy to fix by passing `preview: true` in the opener options.

[2020-04-16 07:11] akosyakov commented on #7588
I think there is nothing can be done. Provided link does not point to correct vsix file.

[2020-04-16 07:11] #7588 closed

[2020-04-16 07:14] sh7dm commented on #7589
@akosyakov if so, please add `good first issue` or another beginner-friendly label to it.

[2020-04-16 07:22] tsmaeder commented on #7446
Actually not true: you need to have a contributed tasks, otherwise you can't run the task

[2020-04-16 07:24] tsmaeder commented on #7446
Other fun experiment: Contribute two tasks with the exact same values (origin, name, scope, type, ...) and VS Code will happily treat those two as different tasks. I think contributed tasks have identity.

[2020-04-16 08:16] akosyakov commented on #7589
I think this line should be changed: https://github.com/maksimr/theia/blob/eabdf8800811c56435c499b84792f360616e360c/packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx#L708

But please pay attention there is some `preview` flag. It could be worth to test different paths leading to this code with different `preview` value.

cc @vince-fugnitto @elaihau @marechal-p I r

[2020-04-16 08:26] akosyakov commented on #7555
I don't think it is a way. End users configured own shell and start Theia from it. It is expected that terminals started by Theia using the same shell configuration to have tools. Removing env variables will break everybody. I wonder could not end user configure env variables in the shell that `$PATH` and `$GIT_EXEC_PATH` are consistent?

[2020-04-16 10:13] sh7dm opened #7590 "Warn before closing a terminal"
### Description
Show a warning if user attempts to close a terminal which has running processes in it.

### Reproduction Steps
1. Run a command (e.g. `top`) in Theia terminal and any other one.
2. Close both terminals

**OS and Theia version:**
OS: Ubuntu 19.10
Theia: `master`

**Diagnostics:**

[2020-04-16 10:24] akosyakov commented on #7590
I am not sure whether it is possible. Terminals are stream based, we don't really know what a user is doing. We could have something like that for tasks.

cc @elaihau @RomanNikitenko @marechal-p ?

[2020-04-16 10:34] TheQureshi commented on #7568
@vince-fugnitto I just went through the prerequisites and I have double checked that I have installed everything required on my system.

However, it was mentioned that Node  `v10.15.3` is preferred so I downgraded from `10.22.1` using NVM.

Doing so had no effect on the error except one thing. The number changed from `638` to `584`. Previously, I was getting `internal/modules/cjs/loader.js:638 thr

[2020-04-16 12:29] vince-fugnitto commented on #7589
I thought such a behavior would not be possible without coupling `search-in-workspace` with `editor-preview` (if we want to have previewable editors which are updated upon new selections in the tree). I also think this behavior will not work if a application-developer does not explicitly depend on `editor-preview`.

[2020-04-16 12:32] sh7dm commented on #7589
@vince-fugnitto what's about dynamical detection of required services and using preview if it's available? Sorry if it's impossible, didn't dig into those parts of code.

[2020-04-16 12:35] lmcbout commented on #7588
@vince-fugnitto where can I get a maven.vsix version 0.21.0 which does not comes from microsoft marketplace, but from github. The version 0.21.2 from open-vsx has incompatibility for the context menu with Theia 1.0

[2020-04-16 12:35] davidhuawei opened #7591 "Is there any event fired on theia completely loaded ?"
### Description
Hi,
I'm trying to hide my custom menu item (extension) at theia load initialization process, and show the menu item only by trigger that fire on run time.

I tried different approaches:
1). Inject into my service the module 'MenuModelRegistry' and by run-time execute registerMenuAction(path, item), But I find out that if I'm not implementing 'MenuContribution' - 'registerMenus' met

[2020-04-16 12:36] sh7dm commented on #7577
@akosyakov it shouldn't be bound to scm, maybe another extension is required.

[2020-04-16 12:38] vince-fugnitto commented on #7588
If no version exists, then you should publish one yourself.
For example, we did so for [theia-ide/vscode-eslint](https://github.com/theia-ide/vscode-eslint) in the past.

[2020-04-16 12:41] vince-fugnitto commented on #7591
I believe you can take a look at the following example, the widget is opened when the application has reached a 'ready' state (completed loading and initialization) and no workspace is present. In your case you will likely only care about when the state is 'ready':

https://github.com/eclipse-theia/theia/blob/f69191825788bcd8054ab77831707960f0660a04/packages/getting-started/src/browser/getting-sta

[2020-04-16 12:57] davidhuawei commented on #7591
Yes, meanwhile I find the service - FrontendApplicationStateService and registered to 'onStateChanged' until I get 'ready' - I think it's the same - thank you !

[2020-04-16 12:57] #7591 closed

[2020-04-16 13:36] akosyakov commented on #7577
ok, something like `@theia/timeline` sounds good as well.

[2020-04-16 13:36] akosyakov commented on #7589
You don't need to add a dependency. If `editor-preview` is not installed then `preview` flag will be ignored.

[2020-04-16 13:40] sh7dm commented on #7577
Great! Not only SCMs can provide timeline data. I think this extension should provide both Theia internal API for extensions to connect to as well as VS Code compliant API for plugins, is this correct? Or only VS Code API will be enough?

[2020-04-16 13:48] #6507 closed

[2020-04-16 13:48] #7515 closed

[2020-04-16 14:18] akosyakov commented on #7577
`@theia/timeline` should provide API for extensions it is correct, wiring to VS Code API should be done `@theia/plugin-ext`. APIs should be aligned though.

[2020-04-16 14:32] marechal-p commented on #7590
I think a new internal method was added to test if a shell has a subprocess running (meaning the shell is in use). See https://github.com/eclipse-theia/theia/blob/master/packages/terminal/src/node/shell-terminal-server.ts#L66-L88

[2020-04-16 14:37] elaihau commented on #7590
+1

[2020-04-16 14:45] akosyakov commented on #7590
We should check though it does not break VS Code extensions. If they can close terminal programmatically then there should not be such dialogs. Maybe also make it configurable via preferences.

[2020-04-16 14:45] sh7dm commented on #7577
As I've seen from VS Code source, only APIs for Timelines are types and `workspace.registerTimelineProvider`.

[2020-04-16 14:52] sh7dm commented on #7590
@akosyakov right, it should work only when clicking `X` button manually, not by commands. Preference should be added as well, but its default must prevent closing.

[2020-04-16 14:58] akosyakov commented on #7588
Can you download it from the Open VSX Registry: https://open-vsx.org/api/vscjava/vscode-maven/0.21.2/file/vscjava.vscode-maven-0.21.2.vsix?

[2020-04-16 15:13] lmcbout commented on #7588
I can download it from https://open-vsx.org/api/vscjava/vscode-maven/0.21.2/file/vscjava.vscode-maven-0.21.2.vsix but it generates an error when I used the context menu "Install"
 Refer to issue #7586

[2020-04-16 18:35] #7559 closed

[2020-04-16 18:36] #7587 closed

[2020-04-16 18:37] akosyakov commented on #7587
Please reopen if you find anything else broken.

[2020-04-16 20:02] tavoda commented on #7587
It's working now :+1:, thanks for fast fix.

[2020-04-17 02:46] a1994846931931 commented on #5507
@akosyakov May I ask, apart from the menu entry, technically, if I want to expose a command to undeploy a plugin by its identifier, is there an easy way to do so? In other words, is there a counterpart of `PluginDeployerResolverContext.addPlugin` function?

[2020-04-17 06:37] akosyakov commented on #5507
https://github.com/eclipse-theia/theia/blob/73bd544d99a1f93159cc83cedd9769e627033811/packages/plugin-ext/src/common/plugin-protocol.ts#L763 should be used to deploy. See for instance how vsx-registry extension is unsung it

[2020-04-17 08:44] biaji commented on #3157
Same here.  This issue is still there:

vscode-ripgrep's lib/postinstall.js can not download target url "https://api.github.com/repos/microsoft/ripgrep-prebuilt/releases/tags/v11.0.1-2" if you behind a proxy.

[2020-04-17 08:54] akosyakov opened #7594 "batch plugging logging"
Currently we log for each plugin when it gets deployed, loaded, contributed, activated and so on. It is useful but too noisy. Usually such state changes happen for batch of plugins it would be better to create one string for the whole batch then.

[2020-04-17 10:05] akosyakov opened #7596 "`Git Push` creates an upstream branch but does not link it to local"
Initially reported by @csweichel in Gitpod:

[2020-04-17 11:23] akosyakov commented on #6357
We upgraded to latest monaco-languageclient. Please reopen if it is still the case.

[2020-04-17 11:23] #6357 closed

[2020-04-17 11:30] vzhukovskii commented on #6623
Implemented via https://github.com/eclipse-theia/theia/pull/7534

[2020-04-17 11:30] #6623 closed

[2020-04-17 13:13] corneliusludmann opened #7597 "[multi-root] Relative paths in multi-root setting are not resolved when opening a Terminal"
### Description
When you define a multi-root workspace with relative paths like `../../workspace/` the path is not resolved when you open a terminal. You can see it in the following screenshot in the menu as well as in the terminal view.

![image](https://user-images.githubusercontent.com/24960040/79570251-6335d980-80b9-11ea-846d-1b334b075b25.png)

### Reproduction Steps
- Start Theia
- Create a m

[2020-04-17 13:23] sh7dm commented on #7573
Might be related to #6407

[2020-04-17 14:53] #5332 closed

[2020-04-17 14:58] elaihau commented on #6713
Now we support `echo`, `reveal`, `focus`, `panel`, `showReuseMessage`, and `clear`. am i missing anything for this ticket ?
@vince-fugnitto @RomanNikitenko  @akosyakov

[2020-04-18 07:52] sh7dm commented on #6794
I'm currently working on this.

[2020-04-18 12:04] sh7dm opened #7606 "Add "Inspect TM scopes" command"
### Description
Add "Inspect TM scopes" for debugging themes and editor like in VS Code.

### Reproduction Steps
1. Open quick menu
2. Try to find `Inspect TM scopes` command

**OS and Theia version:**
OS: Ubuntu 19.10
Theia: `master`

**Diagnostics:**

[2020-04-18 12:35] sh7dm commented on #7577
@akosyakov Looks like existing History View is good for it, maybe with some changes.

[2020-04-18 14:17] vince-fugnitto commented on #7606
@sh7dm is the same as triggering the command `Developer: Inspect Tokens`?

<div align='center'>

<img width="1197" alt="Screen Shot 2020-04-18 at 10 16 32 AM" src="https://user-images.githubusercontent.com/40359487/79640108-b6f9fe80-815d-11ea-9743-4aa30483fff1.png">

</div>

[2020-04-18 14:18] sh7dm commented on #7606
It is. Sorry for spam.

[2020-04-18 14:23] vince-fugnitto commented on #7606
I don't think it's spam :) the command in vscode is named differently, it should help to align:

- **theia**: 'Developer: Inspect Tokens'
- **vscode**: 'Developer: Inspect Editor Tokens and Scope'

In addition, VS Code includes textmate scopes which we do not:

<div align='center'>

<img width="602" alt="Screen Shot 2020-04-18 at 10 22 18 AM" src="https://user-images.githubusercontent.com/40359487

[2020-04-18 14:26] sh7dm commented on #7606
Isn't the line on the bottom the TM scopes line?
![image](https://user-images.githubusercontent.com/19504461/79640320-a10a2f00-8199-11ea-9377-36abeb029dd2.png)
The missing in Theia thing is contrast ratio, that is really useful for theme developers.

[2020-04-18 14:34] vince-fugnitto commented on #7606
Ahh you're right, I thought we could improve the following however:
- the naming of the command
- the presentation in the overlay (granted that we have control over it), to better align with vscode
- adding the missing properties

[2020-04-18 18:04] koseduhemak opened #7607 "Add meta tag to allow fullscreen view on IPad"
### Description
Get ability to run theia web ide in fullscreen on iOS devices (no address bar).

### Reproduction Steps
On mobile devices, every inch counts. So it would be nice to have the ability to run theia in fullscreen mode. Easy solution would be adding following markup:
[code]

If the page containing theia is exported to home screen, the tag would allow to open it from the home screen in f

[2020-04-18 23:41] vince-fugnitto commented on #7607
@koseduhemak is it something you’d like to contribute? :)

[2020-04-19 03:53] leo-lb opened #7608 "Activating extension rust-analyzer failed: vscode.languages.registerDocumentSemanticTokensProvider is not a function."
### Description

The rust-analyzer extension requires functions that are not yet implemented by Theia

### Reproduction Steps

Download rust-analyzer.vsix from https://github.com/rust-analyzer/rust-analyzer/releases/tag/2020-04-13

Copy it to the plugins folder in theia's git tree

Also download the `rust-analyzer-linux` binary and name it `rust-analyzer` and make sure it's in Theia's server proce

[2020-04-19 14:07] sh7dm opened #7609 "Better welcome page"
### Description
1. Welcome page looks incomplete, at least for me. I think it should have multi-column design like VS Code has, with more space between items.
2. There isn't a placeholder on empty screen:
![image](https://user-images.githubusercontent.com/19504461/79689849-16403780-8260-11ea-80e2-42e4044bf010.png)
vs
![image](https://user-images.githubusercontent.com/19504461/79689855-21936300-826

[2020-04-19 16:13] vince-fugnitto commented on #7609
The current 'Getting Started' page is a template or default implementation, applications can extend it to provide their own styling, design, and items. If they want a multi-column display they can most certainly do so.

This is also possible for downstream applications, they can provide custom placeholder content when there are empty screens, see the following for [example](https://github.com/vinc

[2020-04-19 16:18] sh7dm commented on #7609
I know about that. Theia should provide better defaults while preserving the ability to change them.

[2020-04-19 16:29] vince-fugnitto commented on #7609
Is there something wrong with the defaults the framework provides?

[2020-04-19 16:31] sh7dm commented on #7609
Nothing really "wrong", but something can be improved. Theia Browser/Electron Example should be a useable IDE, it is a usable IDE.

[2020-04-19 16:35] vince-fugnitto commented on #7609
We should decide on what/why the defaults need to be improved, saying "something can be improved", and "it looks incomplete to me" are not helpful in making that decision.

I'm not sure what you're trying to say.

[2020-04-19 16:37] sh7dm commented on #7609
You're right. Let the users customize that.

[2020-04-19 16:37] #7609 closed

[2020-04-19 17:35] leo-lb commented on #6423
I can confirm this is an annoying issue

[2020-04-19 19:46] RomanNikitenko opened #7611 "Output for dedicated task is not displayed after restart"
### Reproduction Steps
1. Start a task with `dedicated` value of `presentation.panel`
2. Try to restart the task.

Please see a short video:

![restart_dedicated](https://user-images.githubusercontent.com/5676062/79698120-6a164500-828f-11ea-8313-c60a2778574f.gif)

**OS and Theia version:**
Fedora 31
Theia version: a187f0141015f3e00e0844bec10dd9c97414b7ec

**Diagnostics:**
[code]

[2020-04-19 20:12] RomanNikitenko opened #7612 "Keybinding collision between 'Toggle Plugins View' and 'Select All Occurrences'"
### Description
It's impossible to open `Plugins` view using keybindings when an editor is open.
I think the cause of the problem is keybinding collision between 'Toggle Plugins View' and 'Select All Occurrences'

### Reproduction Steps
1. Try to use `ctrl+shift+l` to open `Plugins` view when you don't have open editors: it works.
2. Open an editor and try to open `Plugins` view using the correspo

[2020-04-20 02:08] RDIL opened #7613 "Generate .editorconfig doesn't work"
### Description

`Generate editorconfig` from the context menu is saying:
[code]

can be repro'd by just trying to generate an editorconfig

**OS and Theia version:** on gitpod

**Diagnostics:**
Nothing in console.

[2020-04-20 06:19] akosyakov commented on #7608
That's a new API: `vscode.languages.registerDocumentSemanticTokensProvider`. I'm not sure whether our Monaco version supports it. If not we should migrate to latest Monaco first.

For time being please use version of rustlant which does not make use of this API.

[2020-04-20 06:22] akosyakov commented on #7613
Duplicate of https://github.com/eclipse-theia/theia/issues/7269

We are going to work on missing FS API soon. cc @marcdumais-work @svenefftinge

[2020-04-20 06:22] #7613 closed

[2020-04-20 06:23] akosyakov commented on #7612
Should we change keybinding for plugins?

[2020-04-20 06:24] akosyakov commented on #6423
What would be the better keybinding to toggle the outline on Linux?

[2020-04-20 06:24] akosyakov commented on #7607
cc @jankeromnes

[2020-04-20 06:25] akosyakov commented on #7606
This is coming from Monaco. I don't think we can change it.

[2020-04-20 06:26] akosyakov commented on #7577
@sh7dm Yes, it could be used as the basis. @westbury would it be fine?

[2020-04-20 06:29] sh7dm commented on #7577
TODO for converting History to Timeline (@ maintainers feel free to update):
- [ ] Add icons support
- [ ] Add VS Code compatible API
More actions me be required too.

[2020-04-20 08:34] akosyakov opened #7615 "typescript integration test is failing on CI"

[2020-04-20 08:43] kittaakos commented on #7579
It's shell specific. Before switching to `zsh` with Catalina, it worked. I think there is not much we can do.

![Screen Shot 2020-04-20 at 10 42 40](https://user-images.githubusercontent.com/1405703/79732303-c90da580-82f3-11ea-997d-59e8cd8cae62.jpg)

[2020-04-20 08:45] westbury opened #7616 "The Git diff editor should show the changed files as a tree"
### Description

https://github.com/eclipse-theia/theia/pull/7505 replaces the list in the Source Control view with a tree.  The same should be done for the Git diff editor.

### Reproduction Steps

Press the 'eye' icon on a commit in the History view to open the diff editor.

[2020-04-20 08:47] sh7dm commented on #7579
It looks like there isn't :(. Maybe it should be reported to Xterm.js, if they can't do anything report to Zsh.

[2020-04-20 08:48] sh7dm commented on #7579
@kittaakos do you use oh-my-zsh too? if so, it can be their issue.

[2020-04-20 08:49] sh7dm commented on #7579
In VS Code there isn't such issue.

[2020-04-20 08:50] akosyakov opened #7617 "editor.maxTokenizationLineLength is not used leading to bogus coloring"
Reproducible with https://github.com/opencaesar/vocabularies/blob/9b8c1ff9d07803420cebe03f44687a4da253373b/src/imce.jpl.nasa.gov/foundation/base.oml and https://github.com/opencaesar/oml-vscode

[2020-04-20 08:51] kittaakos commented on #7579
No, I don't.

[2020-04-20 09:22] leo-lb commented on #7608
@akosyakov Okay! Thanks.

Well rust-analyzer is still an experimental project and they always only support very latest VS Code and its APIs. Currently I am using the older RLS, but the IDE experience is much better with rust-analyzer even though it's experimental.

I will see if it's possible to use latest rust-analyzer with slightly older extension.

[2020-04-20 09:28] akosyakov opened #7619 "more command (`...`) in view containers does not work anymore"
It is a regression.

[2020-04-20 09:31] leo-lb commented on #6423
@akosyakov I think the main problem is that Chromium (for example) handles some shortcuts before the web page can. To solve this, you can make Theia installable as a Progressive Web App and then this shortcut story is much more similar to Electron but without Electron and all it's bloat and unportability (isnt trivial to patch for IBM POWER machines even though I've done it for some versions).

My

[2020-04-20 09:33] akosyakov commented on #7608
@leo-lb Try this one: https://github.com/rust-analyzer/rust-analyzer/releases/tag/2020-03-30

[2020-04-20 09:37] akosyakov commented on #7608
I've checked new APIs for semantic highlighting were exposed in Monaco 0.20: https://github.com/microsoft/monaco-editor/commit/fce1d2eed86e3b18ad98101d726faa007adb5981#diff-57466b60666bb1ad21692625580200e1R4872-R4881

We should migrate again. cc @marcdumais-work @svenefftinge @RomanNikitenko

[2020-04-20 09:39] akosyakov commented on #7579
@sh7dm you can give it a go to double check

[2020-04-20 09:41] akosyakov commented on #6423
That's another issue. But since you mentioned do you have a reference link confirming it. I had it before but never had time to double check whether PWA actually handles keybindings differently or could find any confirmation.

[2020-04-20 09:45] sh7dm commented on #7579
What can I check? Xterm.js?

[2020-04-20 09:46] akosyakov commented on #7615
ah, it is because open vsx registry was down and plugins were not installed

[2020-04-20 09:46] #7615 closed

[2020-04-20 09:49] leo-lb commented on #6423
@akosyakov Can't find any reference but I read it at several places over the web. I'll give it a few tests with Chromium and Epiphany (GNOME WebKit based browser) which both support installing PWA.

[2020-04-20 09:57] akosyakov commented on #7619
It is somehow related to how we construct context menu and commands.

[2020-04-20 10:00] akosyakov commented on #6423
We all wish, like `Ctrl+W`. And Chrome does support it for dedicated windows like pop ups. I wonder whether PWA counts like a pop up window, but there are other issues then 😬

[2020-04-20 10:00] akosyakov commented on #7579
Yes, I meant Xterm.js.

[2020-04-20 10:02] sh7dm commented on #7579
ok. will try in Codepen.

[2020-04-20 10:07] sh7dm commented on #7579
hmm, I found no way to connect it to zsh, but it's zsh-dependant.

[2020-04-20 10:58] leo-lb commented on #7608
@akosyakov it tells me that for some weird reason..

[code]

[2020-04-20 11:18] akosyakov opened #7621 "`references-view.tree` does not work anymore"
It's a regression. To reproduce use `Find All References` or `Find All Implementations`.

[2020-04-20 11:18] leo-lb commented on #7608
But it seems to work anyways, maybe it tries to register it twice.

[2020-04-20 11:19] akosyakov commented on #7608
ok, we will investigate later, thank you for reporting!

[2020-04-20 11:26] AlexandradelLago commented on #4575
Hello, so is not possible to run in IE right?

[2020-04-20 11:28] akosyakov commented on #4575
No it won't be possible. Theia is based on Monaco (VS Code editor) and they don't have plans to support IE. It's also aligned with MS strategy to get rid of IE in favour of Chromium-based Edge.

[2020-04-20 11:28] #4575 closed

[2020-04-20 11:41] AlexandradelLago commented on #4575
Hello again, would it be way can hook our code somewhere on a very early stage of application startup to identify that it is IE and redirect? bec it seems it just dont hit anything

[2020-04-20 12:28] akosyakov commented on #4575
There is a preload page which can be customized: https://github.com/eclipse-theia/theia/pull/4232

There also `initialize` and `configure` frontend app lifecycle callbacks: https://github.com/eclipse-theia/theia/blob/master/packages/core/src/browser/frontend-application.ts#L32-L43 the latter can delay the application activation.

[2020-04-20 12:52] vince-fugnitto commented on #7606
I wasn't sure, I thought that maybe we could do something custom like vscode did:
- [vscode/inspectTokens.ts](https://github.com/microsoft/vscode/blob/master/src/vs/editor/standalone/browser/inspectTokens/inspectTokens.ts)
- [vscode/inspectEditorTokens.ts](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/codeEditor/browser/inspectEditorTokens/inspectEditorTokens.ts)

[2020-04-20 13:32] akosyakov opened #7623 "Annoying text at the top of the editor"
Initially reported for Gitpod: https://github.com/gitpod-io/gitpod/issues/1406
Steps to reproduce: https://github.com/gitpod-io/gitpod/issues/1406#issuecomment-615315543

We need to figure what are these features about and then see whether we can make them work nicely or disable them.

[2020-04-20 13:36] akosyakov opened #7624 "download:plugins script does not fail"
Open VSX Registy was down from Friday, but yarn output looks like that:
[code]

[2020-04-20 14:20] akosyakov commented on #7621
We removed Monaco conversion by the mistake: https://github.com/eclipse-theia/theia/commit/f69191825788bcd8054ab77831707960f0660a04#diff-f64a29836bb4f06980438d7060ff1e5dL285-L286

I will send a PR. cc @JPinkney

[2020-04-20 14:28] lmcbout opened #7625 "Closing a terminal generates an errror on the console log."
### Description

Each time a user closes a terminal, an error is log on the console.

### Reproduction Steps

- Start Theia
- Open one or more terminal(s) ( From the menu or the short key)
- Close a terminal
--> An error is reported on the console

**OS and Theia version:**
Theia: latest ( commit 983644d7a483a34656afc69a33e44df7b0c5eabb )
OS: Ubuntu 18.04
Chrome , electron

**Diagnostics:**

root

[2020-04-20 15:19] lmcbout opened #7628 "Extension view: give priority to the plugin's version instead of the icon when resizing"
### Description

In the extension view, a priority should be given to always display the plugin's version. Currently, the priority is given to the icon.

### Reproduction Steps

- Open Theia
- Open The extension view
- Resize the view to allow minimal information being display on a line
--> When the width is minimal, we should at least see the plugin's version and portion of the plugin's name as a

[2020-04-20 15:27] #7504 closed

[2020-04-20 15:32] vince-fugnitto commented on #7628
Duplicate of https://github.com/eclipse-theia/theia/issues/7385

[2020-04-20 15:32] #7628 closed

[2020-04-20 17:30] #7619 closed

[2020-04-20 17:33] #7617 closed

[2020-04-20 18:45] marcdumais-work opened #7631 "[preferences][multi root] Potentially exagerated number of calls to getConfigUri()"
### Description

Originally reported in this comment: https://github.com/eclipse-theia/theia/pull/7105#issuecomment-616695766

14000 times seems excessive.

@akosyakov 's suggestion:

### Reproduction Steps

**OS and Theia version:**
App: browser example
OS: RHEL 7
Theia version: latest master

**Diagnostics:**

[2020-04-20 18:49] #7621 closed

[2020-04-20 18:54] lmcbout opened #7632 "terminal: add context-menu"
### Description

We should include a terminal context-menu to include the following items:
- **Copy**
- **Paste**
- **Select All**
- **Clear** (clears the terminal output)
- **Split Terminal**
- **New Terminal**
- **Kill Terminal** (close terminal)

**Additional Info**
- 7d56c34

[2020-04-20 19:13] colin-grant-work commented on #7631
I can add that OS was RHEL 7 running the browser example app.

[2020-04-20 19:39] vince-fugnitto commented on #7632
I updated the issue to include the items that should be present in the menu (based on the items present in vscode). I don't think there is anything preventing us from adding the menu, and I think its a nice improvement for end-users over the current functionality.

[2020-04-20 19:55] lmcbout commented on #7632
Thanks @vince-fugnitto for the completion.

[2020-04-20 20:38] VietHungPhan commented on #7632
We should have a new Teal-IDE 1.1.0 release.

[2020-04-20 23:44] melaasar commented on #7617
What do I need to do to get this fix? Do I need to rebuild the oml-vscode extension?

[2020-04-21 07:43] akosyakov commented on #7617
@melaasar Hi 👋 We limit tokenisation to max 400 characters by default since it can hang the browser for big files. But a user can change this default with `editor.maxTokenizationLineLength` preference. VS Code is using 20000 characters but they are running natively on desktop, so performance it is better.

[2020-04-21 10:25] leo-lb commented on #7608
@akosyakov hey, there's another issue with it:

[code]

It's when you use this for example:

![crop_quickfix_rust-analyzer_theia_bug](https://user-images.githubusercontent.com/44934014/79855325-1d378900-83cb-11ea-8398-c1bec25da162.png)

[2020-04-21 11:05] akosyakov opened #7634 "Support VS Code Standard Icons in Contributions"
It is reproducible with https://github.com/microsoft/vscode-java-test:
<img width="352" alt="Screenshot 2020-04-21 at 13 01 28" src="https://user-images.githubusercontent.com/3082655/79858839-51fa0f00-83d0-11ea-9587-1c595ecf18ef.png">

URLs like `hostedPlugin/vscjava_vscode_java_test/%24(refresh)`. It seems to be that it is not a path, but rather codicons.

[2020-04-21 11:29] akosyakov opened #7635 "investigate why typescript integration tests timesout sometimes"

[2020-04-21 11:39] leo-lb commented on #7608
@akosyakov Maybe it's due to this: https://github.com/rust-analyzer/rust-analyzer/issues/2833

[2020-04-21 13:55] gsmental opened #7637 "How to dowload, there is no link for download exe/msi"

[2020-04-21 14:00] vince-fugnitto commented on #7637
Please see the following discussion: https://github.com/eclipse-theia/theia/issues/5481

[2020-04-21 14:00] #7637 closed

[2020-04-21 14:35] akosyakov opened #7638 "improve issue templates"
It should have 3 entries:
- bug report
- feature request
- question (point to Discussions)

Something similar to https://github.com/microsoft/vscode/issues/new/choose

@marcdumais-work Can somebody from your team take care about it?

[2020-04-21 14:36] vince-fugnitto commented on #5703
Closing in favor of https://github.com/eclipse-theia/theia/issues/7638

[2020-04-21 14:36] #5703 closed

[2020-04-21 14:51] vince-fugnitto commented on #7638
I don't mind picking it up :)

[2020-04-21 21:27] koseduhemak commented on #7607
@vince-fugnitto would be a pleasure to contribute. Could you point me slightly in the right direction? This is a very huge project and I don‘t know where to look for the addition.
It is fine if you could tell me in which module I need to look. Is it within the editor (https://github.com/eclipse-theia/theia/tree/master/packages/editor) module, in the core module (https://github.com/eclipse-theia/th

[2020-04-21 21:36] vince-fugnitto commented on #7607
Sure, if you're looking to updating the `meta` tag then the change should be here:

https://github.com/eclipse-theia/theia/blob/9bc52ad1ecae902563847525e2dc8955474291f9/dev-packages/application-manager/src/generator/frontend-generator.ts#L62-L66

https://github.com/eclipse-theia/theia/blob/9bc52ad1ecae902563847525e2dc8955474291f9/packages/plugin-ext/src/hosted/browser/hosted-plugin.ts#L731-L742

A

[2020-04-21 21:55] marcdumais-work opened #7643 "[git] git submodule changes not handled gracefully"
### Description
In our git view, it looks like we do not correctly handle changes to a git submodule.

When using a git repo that has a submodule, if the submodule has been altered, e.g. checking-out a different commit, it will then show-up as a git difference in the containing git repo:
[code]

In Theia's git view, uncommitted changes are shown. Clicking on an entry opens it in a diff editor, sho

[2020-04-21 23:42] melaasar commented on #7617
Thanks.  I  went ahead and added a workspace setting file where I added a value of 800 to editor.maxTokenizationLineLength:
https://github.com/opencaesar/vocabularies/blob/master/.theia/settings.json

However, when I start a new workspace, and browse to https://github.com/opencaesar/vocabularies/blob/master/src/imce.jpl.nasa.gov/foundation/base.oml
I still see the issue at line 5 (not  colored pro

[2020-04-22 02:19] gsmental commented on #7637
there is nothing for end-user. :-(

[2020-04-22 02:20] vince-fugnitto commented on #7637
Theia is a framework, I’m not quite sure what you’d like to download.

[2020-04-22 08:00] talsenteam commented on #3823
Hi there,
Is there already an example for integration of theia into (e.g.) an angular project?
I tried this myself, but it unfortunately did not work. Building the application was kind of strange, when both the theia core module and angular modules are in the same package.json file.
If there in not yet a solution, I would be interested on working together (pair- / mob-programming) for a solution.

[2020-04-22 08:19] akosyakov commented on #3823
@talsenteam I don't think so. If you come up with something let us know we can have such project under https://github.com/theia-ide and add you as a collaborator there.

[2020-04-22 08:22] talsenteam commented on #3823
@akosyakov Ok. I'll try to prepare a (very simplistic) angular project and also some docker build + docker compose configuration for it, where we can start from. Ok?

[2020-04-22 08:24] akosyakov commented on #7617
@melaasar It was not deployed to Gitpod yet. It was only merged for Theia. Check out it tomorrow or on Friday maybe it will be there.

[2020-04-22 08:50] amiramw opened #7644 "API tests do not start on windows"
### Description

On windows the server starts but no tests are running so the process hung.

### Reproduction Steps

 yarn test:browser

**OS and Theia version:**
Windows / master

**Diagnostics:**
N/A

[2020-04-22 08:52] amiramw opened #7645 "document how to debug theia api test"
Add how to debug it in https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#debugging

[2020-04-22 08:53] akosyakov opened #7646 "[ci] enable API tests for windows and mac"

[2020-04-22 08:54] akosyakov commented on #7645
@amiramw Maybe you can do it if you are going to debug it anyway?

[2020-04-22 08:54] amiramw commented on #7645
ok

[2020-04-22 09:21] jankeromnes commented on #7607
That's a fantastic suggestion @koseduhemak, many thanks! 🙏

And this is also a great resource, thank you for sharing.

I notice that using`"display": "standalone"` in a `manifest.json` is listed as an alternative. I think that having a `manifest.json` will be an important next step toward making Theia a Progressive Web App (and then also having a Service Worker for better offline support), but we

[2020-04-22 10:05] cedric-r-mycelium opened #7647 "wakatime not initialised"
### Description
i have installe wakatime extensions for vscode on theia but it always on initializing and i have this notification error:
Activating extension Remote - WSL failed:
n.workspace.registerRemoteAuthorityResolvers is not a function.

### Reproduction Steps
Just install plugin on theia plugin directory
an load theia after set api key for wakatime i have the error.

**OS and Theia version

[2020-04-22 11:38] elaihau commented on #7631
i found a few things:

- most `getConfigUri()` are made from `FolderPreferenceProvider`, and every root folder in the workspace has 6 `FolderPreferenceProvider`s, i.e., 2 for `tasks.json`, 2 for `launch.json`, & 2 for `settings.json`.

- caching config uri is not an easy job, as the return value of `getConfigUri()` is dependent on the status of the file (i.e., `tasks.json`, `launch.json`, & `setti

[2020-04-22 12:06] akosyakov commented on #7631
We should investigate first whether it causes any bad side effects. If not there is nothing to be done. Particularly in each profiling sessions check whether it is the hottest call.

[2020-04-22 12:18] #7638 closed

[2020-04-22 12:26] akosyakov commented on #7647
I am not sure whether it makes sense for us to implement `registerRemoteAuthorityResolvers`. Maybe we just stub it? cc @benoitf ?

[2020-04-22 12:33] akosyakov commented on #7647
@cedric-r-mycelium Are you talking about this extension: https://github.com/wakatime/vscode-wakatime It does not seem to have any calls to `registerRemoteAuthorityResolvers`.

[2020-04-22 12:48] cedric-r-mycelium commented on #7647
I am so sorry for my mistake,  it's another plugins who made the first error.

But i have this error on screen log "root ERROR [hosted-plugin: 14648] [WakaTime][ERROR] Error: Command failed: /home/cedric.r/theia/plugins/wakatime.vscode-wakatime-4.0.0/wakatime-cli/wakatime-cli --today --plugin "vscode/1.44.0 vscode-wakatime/4.0.0"

but if i run this command myself no error reported.

[2020-04-22 13:33] #7624 closed

[2020-04-22 13:37] kittaakos commented on #7501
I  can still see the same error when running `yarn download:plugins`, plus it is not clear which has failed.
See output:
[code]

[2020-04-22 13:42] vince-fugnitto commented on #7501
@kittaakos the script output you referenced looks old, for example just looking at the first console.log (`--- downloading plugins ---`) which is not part of your output. I think `npx run build @theia/cli` is required first. For example, please take a look at my output from `master`:

[code]

[2020-04-22 13:48] kittaakos commented on #7501
Nice catch, let me check.

[2020-04-22 13:48] akosyakov commented on #7647
What do you do to reproduce it? I tried in Gitpod and seen something like `Error: could not read /home/gitpod/.wakatime.cfg`.  But it seems to be fine there are code in the extension which can lead to race on the activation. But I could not see your error.

[2020-04-22 13:49] kittaakos commented on #7501
Yes, you're right:
[code]

The failure is quite hidden, but it's there.

[2020-04-22 13:49] #7501 closed

[2020-04-22 13:57] vince-fugnitto commented on #7501
I can do a small follow-up to make it more visible, did you have something in mind?

[2020-04-22 13:58] marechal-p commented on #7501
Just make it red.

[2020-04-22 14:02] kittaakos commented on #7623
I assume it is the same as https://github.com/eclipse-theia/theia/issues/7411

Please reopen if I was wrong.

[2020-04-22 14:02] #7623 closed

[2020-04-22 14:06] akosyakov commented on #7411
See for steps to reproduce: https://github.com/eclipse-theia/theia/issues/7623

[2020-04-22 20:04] marcdumais-work commented on #7156
@akosyakov Any insights about this issue? Did you have the chance to investigate when you self-assigned? I see absolutely no errors anywhere, just a black view, as per the screenshot above.

[2020-04-22 21:24] Evanslooten opened #7651 "PHP Syntax Highlighting"
For some reason, I had to rebuild my containers this morning. Afterward, Theia is not doing any syntax highlighting for PHP files. When I run the container, in the console I see the following errors which I believe may be related.

I am using Laradock.

ide-theia_1            | root ERROR [6cfeae16-b080-4d31-9e8f-6d38b3936e81][vscode.markdown]: Language for 'meta.embedded.block.php' not found.
ide

[2020-04-22 21:48] vince-fugnitto commented on #7651
@Evanslooten without any additional information it is hard to help unfortunately. Do you mind sharing your application’s `package.json`?

[2020-04-22 23:21] phaumer opened #7652 "Debugger will not break when debugging VS Code extensions via `Hosted Plugin: Debug Instance`"
### Bug Description:

We need an ability to debug VS Code extensions that we want to run in Theia, for example, for Eclipse Che deployments as the APIs have differences in behavior we we often have to write specific code to support both.

In the current 1.0.0 release as well as master branch the Hosted Plugin debugging will not break on breakpoints anymore. I can still use a Theia 0.11.0 build to

[2020-04-23 01:11] Evanslooten commented on #7651
{
    "private": true,
    "theia": {
        "frontend": {
            "config": {
                "applicationName": "Theia JavaScript/TypeScript Example",
                "preferences": {
                    "files.enableTrash": false
                }
            }
        }
    },
    "dependencies": {
        "@theia/callhierarchy": "next",
        "@theia/debug": "next",
        "@theia/edi

[2020-04-23 01:16] vince-fugnitto commented on #7651
@Evanslooten it does not look like you've included `php` in the list of plugins (`theiaPlugins`) entry of your `package.json`. You can include [vscode-builtin-php](https://open-vsx.org/extension/vscode/php), it provides syntax highlighting for php files.

[2020-04-23 01:28] Evanslooten commented on #7651
This configuration is generated by Laradock, which hasn't changed. Up until today, the code highlighting was working, so I believe it may already be part of the build. Plus this error makes me think something from vscode is loading a php specific library.

`ide-theia_1 | root ERROR [6cfeae16-b080-4d31-9e8f-6d38b3936e81][vscode.markdown]: Language for 'meta.embedded.block.php' not found.`

[2020-04-23 01:43] vince-fugnitto commented on #7651
There is nothing present in the `package.json` that would contribute syntax highlighting, and since I am unsure about the history of the configuration I cannot tell for certain why it was working before. I suspect it used to use the deprecated `@theia/textmate-grammars` extension (which contributes syntax highlighting for a large number of languages).

The error is related to markdown files only,

[2020-04-23 01:46] vince-fugnitto commented on #7651
If this is the file you're referencing, then the base image is incorrect and used to include `@theia/texmate-grammars` but it no longer does (reason why php syntax highlighting was present and no longer is):
- https://github.com/laradock/laradock/blob/master/ide-theia/Dockerfile#L1

[2020-04-23 01:51] Evanslooten commented on #7651
OK thank you for the information. I will poke around and see what I can figure out.

[2020-04-23 01:56] vince-fugnitto commented on #7651
No problem! The [theia-php image](https://github.com/theia-ide/theia-apps/tree/master/theia-php-docker) might be a better candidate as a base image.

[2020-04-23 02:05] Evanslooten commented on #7651
Switching to that image corrected my issue. Thanks a bunch for your help!

[2020-04-23 02:05] #7651 closed

[2020-04-23 05:38] havogt opened #7653 "Use capslock as an additional modifier key"
### Feature Description:
I would like to use `capslock` as an additional modifier key.

In **vscode** I do this by making `capslock` an "additional hyper" (in the kde settings, I am on Linux). Then, I can bind `meta+<key>` to a command (so actually the windows key and capslock are then the same). This is my `xmodmap` output
[code]

Not sure if possible to do this in the browser (I am using theia v

[2020-04-23 06:30] akosyakov commented on #7156
@marcdumais-work Unfortunately not, we don't have capacity at TypeFox for it. I think someone who build Electron products should step up here. Important thing that we should not rely on Electron tech.

[2020-04-23 06:31] havogt opened #7654 "Remap capslock to esc"
### Bug Description:
If I remap `capslock` to `esc` in Linux, the remapping is ignored in theia (gitpod). It is still triggering a capslock event (verified by having a key sequence with capslock: I get `(Capslock) was pressed, waiting for more keys` in the status bar).

Note that this is also a problem in vscode, however there is a work-around by setting `"keyboard.dispatch": "keyCode"`, see https

[2020-04-23 07:11] svkr2k commented on #4816
Hello all,
Kindly confirm, is `@theia/textmate-grammars` enough for C/C++ syntax highlight and `@theia/cpp` is not needed anymore ?

[2020-04-23 09:07] akosyakov opened #7657 "avoid pop-up blockers"
Motivated by https://github.com/DanTup/gitpod-flutter-web/pull/2#issuecomment-618226563

The issue is that `env.openExternal` is not called by a user, but programmatically. In such case the browser blocks. We should consider to notify a user that he is going to be redirected to another page and call `window.open` again then on a user action.

[2020-04-23 10:02] akosyakov commented on #7657
@eclipse-theia/ecd-theia-committers  I wonder maybe someone knows how to detect that `window.open` will be blocked? if not, we can provide a reason for `WindowOpenHandler.open` calls, if a reason is manual for instance passed from the event loop then we won't prompt a configuration. If a reason is not manual then we will always prompt a user to prevent a blocker and provider better UI.

[2020-04-23 10:37] benoitf commented on #7657
https://stackoverflow.com/a/2917/4201908 ?

[2020-04-23 11:12] akosyakov commented on #7657
I will try, but I think it returns only if a pop-up blocker was shown and user noticed it. I want to avoid showing pop-up blocker completely.

[2020-04-23 11:18] tsmaeder commented on #7657
If what we're opening is something we control (and we could make it so that this is true), we could call the back end and notify the opening browser page that the open succeeded. If the open does not succeed in the allotted time, show the "configure your popup blocker".
By "replacing the popup blocker", you probably mean showing a message inside the original browser window if the popup blocker wou

[2020-04-23 11:24] akosyakov commented on #7657
Popup blockers are only enabled if an action is caused by code, if a user clicks on a link it won't be enabled. By replacing I meant that if we are not in a tick handling a trusted DOM event (i.e. initiated by a user), then we don't call `window.open` but show UI instead with a link.

[2020-04-23 11:25] tsmaeder opened #7659 "SCM View Should Allow Multi-Select"
One can only select single entries in the "Source Control" view. This is annoying when trying to stage multiple changes in git, for example.

To reproduce:

1. Make changes in multiple files in a git project in your workspace
2. Go to the "Source Control" view
3. Observe: you see the changed files under "Changes"
4. Shift-Click or Ctrl-Click multiple files in the view
5. Observe: as soon as you cl

[2020-04-23 11:56] tsmaeder commented on #7657
Ah...so that the user can ctrl-click the link if he wants a new window?

[2020-04-23 12:01] vince-fugnitto commented on #4816
@svkr2k the extension `@theia/textmate-grammars` has been deprecated, syntax-hihglighting for  C/C++ is contributed by the vscode builtin extension:

https://github.com/eclipse-theia/theia/blob/66dd2bc604d6221ae5bf66131a3e36f49f16de7c/package.json#L87

[2020-04-23 12:04] #7332 closed

[2020-04-23 12:04] #7491 closed

[2020-04-23 12:04] vince-fugnitto commented on #6834
Closed by #7583

[2020-04-23 12:04] #6834 closed

[2020-04-23 12:05] vince-fugnitto commented on #7040
Closed by #7583

[2020-04-23 12:05] #7040 closed

[2020-04-23 12:17] mikael-desharnais commented on #6501
Hi
this can be quite an issue at the moment.
Should we go on developing extensions that use the Phosphor lib & API ? or should we add a new library that would provide these features ?
Could you give us some hints on the solution that is the most likely to be followed ?
Regards,

[2020-04-23 12:18] akosyakov commented on #6501
@mikael-desharnais you can use phorpshor.js for now, even if we merge it we will keep API the same just change namespaces.

[2020-04-23 12:27] vince-fugnitto commented on #7659
@tsmaeder is it fine to close the original, the issue is a duplicate of https://github.com/eclipse-theia/theia/issues/1318

[2020-04-23 12:32] tsmaeder commented on #7659
🤷 I was looking for "scm" issues. I would suspect this is not git specific?

[2020-04-23 12:34] vince-fugnitto commented on #7659
I believe it is the same problem, the original was named git since we had no notion of `scm` before. I'll close the original in favor of this one as it is newer and more up to date :)

[2020-04-23 12:34] vince-fugnitto commented on #1318
Closing in favor of #7659.

[2020-04-23 12:34] #1318 closed

[2020-04-23 13:51] #7644 closed

[2020-04-23 13:52] akosyakov commented on #7635
fixed by https://github.com/eclipse-theia/theia/pull/7655

[2020-04-23 14:24] colin-grant-work commented on #7631
Anecdotally, I don't think it really slowed anything down until I tried logging it, and then it was almost certainly the logging that slowed things down, not the logic. But this may also be a chance for me to understand part of this system better. @elaihau , you mention the six providers for each folder; could you help me understand why the `launch.json` and `tasks.json` are counted as preference

[2020-04-23 15:24] vince-fugnitto commented on #7430
Please re-open the issue if you have additional information, closing due to inactivity.

[2020-04-23 15:24] #7430 closed

[2020-04-23 16:40] elaihau commented on #7631
I think we access data from `launch.json` and `tasks.json` from Preferences mostly due to the gpal of achieving vscode compatibility:
Please see https://github.com/eclipse-theia/theia/pull/4947, and https://github.com/eclipse-theia/theia/pull/6268

The reason that we have 6 providers per root folder is because, not only do we get data from `.theia` folder but also from `.vscode`. I believe the pur

[2020-04-23 20:19] colin-grant-work commented on #7631
@elaihau, thanks that's very helpful!

[2020-04-24 02:27] elaihau commented on #7631
@akosyakov
from the firefox's profiling tool I can see this function takes little time.

![Peek 2020-04-23 22-17](https://user-images.githubusercontent.com/37082801/80168363-a6f47b80-85b0-11ea-9630-fb34c1589e2e.gif)

[2020-04-24 02:39] elaihau commented on #7631
@akosyakov
As per the profiling tool in firefox, this function takes very little time.

![Peek 2020-04-23 22-35](https://user-images.githubusercontent.com/37082801/80169237-ea4fe980-85b2-11ea-92cc-289954d81239.gif)

From static analysis, I can see that this function is called every time a preference item is retrieved, updated, or initilized. It might have slowed down the startup a little, but I do

[2020-04-24 06:52] akosyakov commented on #7631
ok, let's move on then

Just think about React virtual DOM rendering i'm pretty sure that there are much many calls to our render method, we are not going to rewrite react because of it.

[2020-04-24 06:58] #7597 closed

[2020-04-24 08:57] vinokurig opened #7661 "[Plugin-Api] Apply authentication API"
Apply `authentication` VsCode Plugin API. Is needed for [vscode-github-pr-plugin](https://github.com/microsoft/vscode-pull-request-github) authentication.

### Feature Description:
VsCode implementation: https://github.com/microsoft/vscode/blob/ab42ffc44c709aded523b15399a070ae8c724824/src/vs/vscode.proposed.d.ts#L98-L131

[2020-04-24 09:30] zeigerpuppy commented on #4604
It would be important that this is also filesystem independent (I am running theia in a docker container over the web and it stores it's file tree from `/home/project`)

[2020-04-24 12:35] akosyakov commented on #7635
One TS test timed out again.

[2020-04-24 15:08] koseduhemak commented on #7607
Ok I will make a pull request this weekend with the new tag as a first start. If this works I will dig into the manifest thing :)

[2020-04-24 18:50] lmcbout opened #7664 "Have a button to report an issue buildin in Theia"
### Feature Description:
It would be nice to have under the Help menu a button to call github and create new issues directly. Similar as what is available for VSCode. So the end-user does not have to leave the Theia-IDE to report a new issue or new features.
See a screen shot of VSDCODE report issue page
![ReportIssuePage](https://user-images.githubusercontent.com/419051/80246609-aef8fd80-863a-11e

[2020-04-24 19:02] vince-fugnitto commented on #7664
@lmcbout I'm not sure it can be done in such a generic way that can be useful for end-users?
Would it not be better for applications to define their own way of handling issues?

[2020-04-24 19:06] lmcbout commented on #7664
I think it could done as in VSCode, i don't see why not. The user should have the possibility to report new bug/features, attach a screenshot or add a trace so the developper of Theia can have possibility of more data collected to reproduce a problem

[2020-04-24 19:07] vince-fugnitto commented on #7664
Again, it should be up to the application-developers to define their own workflow, and how they want to interact with users in the applications. I don't see a general way/purpose of including it directly in the framework or enforcing it to application-developers.

[2020-04-24 19:12] vince-fugnitto commented on #7664
@lmcbout maybe I am overthinking it, but I feel it's up to application developers to define their own standards when interacting with end-users and they would be the ones to implement this feature for their products. I don't see the value of it being directly included in the framework unless it is easily extensible. We must remember that vscode is a product while we are an open framework.

[2020-04-24 19:27] vince-fugnitto commented on #5333
Closing the epic as the items have been completed, and follow-up issues have already been opened which are taking care of any missing functionality.

[2020-04-24 19:27] #5333 closed

[2020-04-25 14:21] AnandChowdhary opened #7665 "Support for git.alwaysStageAndCommit preference"
Just like `git.alwaysSignOff`, a boolean setting `git.alwaysStageAndCommit` can make sure the default "check" icon in "Source control" uses "Stage and commit" instead of only "Commit". In VS Code, "Stage and commit" is default, not "Commit".

Right now, I have to click on the "More Actions" button, then "Stage all changes", and then "Commit"

[2020-04-25 14:21] AnandChowdhary opened #7666 "Support for git.alwaysStageAndCommit preference"
Just like `git.alwaysSignOff`, a boolean setting `git.alwaysStageAndCommit` can make sure the default "check" icon in "Source control" uses "Stage and commit" instead of only "Commit". In VS Code, "Stage and commit" is default, not "Commit".

Right now, I have to click on the "More Actions" button, then "Stage all changes", and then "Commit"

[2020-04-25 14:21] AnandChowdhary commented on #7666
Oops, duplicate of #7665

[2020-04-25 14:21] #7666 closed

[2020-04-25 14:32] vince-fugnitto commented on #7665
It should already be supported when using the builtin extensions instead of `@theia/git`. Namely [vscode-builtin-git](https://open-vsx.org/extension/vscode/git) and [vscode-builtin-git-ui](https://open-vsx.org/extension/vscode/git-ui).

[2020-04-25 15:18] AnandChowdhary commented on #7665
Thanks!

[2020-04-25 15:18] #7665 closed

[2020-04-25 19:26] marcdumais-work commented on #7664
+1 for a "report issue" or such menu entry as suggested by @vince-fugnitto .  When used we attempt to open the repo's issue tracker url, reading it from the standard [bugs](https://classic.yarnpkg.com/en/docs/package-json/#toc-bugs) entry in the product's `package.json`.

For the example application here we would only need to add that field in their `package.json` and point to the GH issue tracker

[2020-04-25 22:03] amiramw commented on #7635
I find also this one to fail sometime locally, not sure about CI:

root INFO   1) Find and Replace
       Replace in the active explorer with the current editor:
     Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves.
      at Test.Runnable._timeoutError (C:\Users\i066470\repos\theia\node_modules\mocha\mocha.js:5488:

[2020-04-26 06:45] DoroNahari commented on #7646
Tried to run on mac. one test failed:
![image](https://user-images.githubusercontent.com/24614792/80300112-80963200-87a2-11ea-9c4b-f72dfaa850c4.png)
@amiramw

[2020-04-26 08:54] DoroNahari opened #7668 "Theia is not working in Safari browser when is within an iframe"
Theia is not working in Safari when is within an iframe.
The problem is with [monaco-indexed-db line 23](https://github.com/eclipse-theia/theia/blame/master/packages/monaco/src/browser/monaco-indexed-db.ts#L23) which is not allowed by Safari.

### Steps to Reproduce:

1. Create an iframe with src=<your theia url>
2. Open the Iframe with Safari.
3. See that Theia is not stuck on loading.

Safari co

[2020-04-26 09:38] ShimonBenYair opened #7669 "SQLTools connection details disappears after refreshing the browser."
After adding a new connection (for example sqlite/hana) it is being saved in the settings.json and is displayed, but after refresh it disapprears.

### Steps to Reproduce:

1. Run theia locally : docker run -it -p 3000:3000 theiaide/theia:0.16.1
2. Open browser: http://localhost:3000/
3.  Download sqltools-0.21.6.vsix  from: https://github.com/mtxr/vscode-sqltools/releases
4. Drag sqltools-0.21.6.

[2020-04-27 06:22] akosyakov commented on #7668
I thought we have a check: https://github.com/eclipse-theia/theia/blob/bda9ff9d4cf15b28b5ffc2e984f11834adfc8f33/packages/monaco/src/browser/monaco-indexed-db.ts#L22

Does it somehow related to `idb` package which we use?

[2020-04-27 06:25] akosyakov commented on #7668
@DoroNahari Please see https://github.com/jakearchibald/idb/issues/156#issuecomment-580259451

[2020-04-27 06:26] akosyakov commented on #7646
@DoroNahari yes we will need to adjust keybinding expectations according to OS

[2020-04-27 06:28] akosyakov commented on #7669
@ShimonBenYair Could you please try against this branch: https://github.com/eclipse-theia/theia/pull/6921 There is one nasty bug with reading subsections in the plugin host process: https://github.com/eclipse-theia/theia/pull/6921/commits/5cd954375ae4a600d7db16c5a0ae2f137ef37d74 Maybe it helps, if not someone has to debug the extension and see what we do differently.

[2020-04-27 06:30] akosyakov commented on #7664
Maybe we can add it to the getting started extension to use in theia-apps? Generally it is specific to an end product and an issue should be always verified there first.

[2020-04-27 07:36] cedric-r-mycelium commented on #7647
I have found the problem, it's an error on copy of api key, thanks for your help !!!

[2020-04-27 07:55] akosyakov commented on #7647
@cedric-r-mycelium Just to confirm. Is there anything that can be done from our side or this issue can be closed?

[2020-04-27 07:59] akosyakov opened #7671 "There is no document for breakpointinput:vs.editor.ICodeEditor%3A1"
It seems we provide documents for inline editors like breakpoint expressions editor to the plugin host process. Not sure we should do it.

[code]

[2020-04-27 08:09] #7607 closed

[2020-04-27 08:13] cedric-r-mycelium commented on #7647
You can close this isssue all is ok for me

[2020-04-27 08:23] ShimonBenYair commented on #7669
@akosyakov

thanks , i have checked it with the branch you proposed but this issue still occurs

[2020-04-27 09:30] akosyakov commented on #7647
ok, please feel free to reopen

[2020-04-27 09:30] #7647 closed

[2020-04-27 11:37] akosyakov opened #7672 "[plugin] fetching tasks is slow for big multi-root workspaces"
`validateSchema` should be computed once and cached

but I am not sure that we need it at all, does VS Code validate task configs?

We removed such logic already for preferences, since it is slow and VS Code does not care about.

cc @elaihau @RomanNikitenko

[2020-04-27 11:38] akosyakov opened #7673 "register plugin contributions is slow in big workspaces"
We have some very big workspaces like multi-root with over 12 roots with many files plus terminals building it. UI gets completely unresponsive for 5s.

There are 2 reasons mostly:
- https://github.com/eclipse-theia/theia/issues/7672
- and preference reconciliation

I will look into preferences.

[2020-04-27 11:43] akosyakov commented on #7673
The profile snapshot for such workspace: https://drive.google.com/file/d/1O4d63MwfGI2gBYuc3mB8yA36WgFU36SX/view?usp=sharing

Unfortunately I cannot share repo itself.

I will try to come up with a reproducible steps for theia repo.

[2020-04-27 11:58] akosyakov commented on #7672
<img width="1692" alt="Screenshot 2020-04-27 at 13 57 00" src="https://user-images.githubusercontent.com/3082655/80369701-fd9ed580-888e-11ea-8195-365222b38992.png">

Actually performance seems to be super bad in multi-root workspace.

I created with the following workspace in Gitpod based on this repo (please adjust paths in your environments):
[code]

After that reload page and try to traverse th

[2020-04-27 12:13] akosyakov opened #7674 "TasksMainImpl.$fetchTasks is very slow"
Create a new multi root workspace with plugins folder, reload the page and try to traverse the navigator. UI freezes for very long time, see: https://github.com/eclipse-theia/theia/issues/7674

[2020-04-27 12:18] marcdumais-work commented on #7664
@theia/getting-started is used in the main repo's example application as well. Though we could leave the `bugs` field undefined in that app's `package.json` if we do not want it functional (yet?) for that app. @vince-fugnitto WDYT about this part?

Agreed. If the issue turns-out to be one with Theia framework, an app's creators can open it here on the behalf of their users.

[2020-04-27 12:22] akosyakov commented on #7674
It was node_modules, not plugins. I don't think it is realistic.

[2020-04-27 12:22] #7674 closed

[2020-04-27 12:26] vince-fugnitto commented on #7664
I was thinking that if we were to do something, it should simply be done in `@theia/api-samples` as an example for application developers to reference when creating their own solution based on their specific needs.

Is it something we want to be contributed directly by the framework, and if so, what should it display/do?

[2020-04-27 13:05] akosyakov commented on #7672
I was able to reproduce it with a bit of customizations JLab project:
- check out https://github.com/jupyterlab/jupyterlab
- create `.vscode/tasks.json` with the following content in the project root
[code]
- create a multi-root workspace from this JSON (replace `file:///workspace` with your absolute path) :
[code]
- start Theia and pass the path to the multi-root workspace
- try to navigate in th

[2020-04-27 13:06] akosyakov commented on #7673
I will wait with tuning preferences. The major issue is with the task extension: https://github.com/eclipse-theia/theia/issues/7672#issuecomment-619973272

[2020-04-27 13:17] lmcbout opened #7675 "builtin-node-debug return a status code 404 with the requested version"
### Bug Description:
Try to build the latest Theia this morning.
The following vscode builtin fails to download:
[code]
In package.json, the link is:
    "vscode-builtin-node-debug": "https://open-vsx.org/api/ms-vscode/node-debug/1.44.2/file/ms-vscode.node-debug-1.44.2.vsix",
 If I look at the open-vsx registry, I only see version 1.44.1, Does the latest version been removed !

### Steps to Reprod

[2020-04-27 13:19] vince-fugnitto commented on #7675
Duplicate of https://github.com/eclipse-theia/theia/issues/7488, the issue is already known.

[2020-04-27 13:19] #7675 closed

[2020-04-27 13:50] vince-fugnitto commented on #7488
When using the updated [vscode-node-debug](https://open-vsx.org/api/ms-vscode/node-debug/1.41.1/file/ms-vscode.node-debug-1.41.1.vsix) extension, the following error still occurs when trying to debug. It looks like the `dist` folder is missing in our packaged extension:

[code]

[2020-04-27 14:03] akosyakov commented on #7673
Eventually was able to reproduce it for preferences as well:
<img width="1689" alt="Screenshot 2020-04-27 at 16 02 13" src="https://user-images.githubusercontent.com/3082655/80380950-840fe300-88a0-11ea-85a7-f726b4206510.png">

Setup is the same as in https://github.com/eclipse-theia/theia/issues/7672#issuecomment-619973272 but one should also open README.md as an editor and for preview.

[2020-04-27 14:10] vince-fugnitto commented on #7488
Opened another upstream issue: https://github.com/open-vsx/publish-extensions/issues/28

[2020-04-27 15:02] akosyakov commented on #7672
`isTaskConfigValid` is handled in https://github.com/eclipse-theia/theia/pull/7676

[2020-04-27 15:22] #6839 closed

[2020-04-27 21:01] marechal-p opened #7678 "ci: failing on "editor.action.quickFix""
### Bug Description:

CI keeps failing because of some "editor.action.quickFix" test.

First commit with this issue: https://github.com/eclipse-theia/theia/commit/bea6be60159f87ff31b0d9553e18dccec3baf637

- https://travis-ci.com/github/eclipse-theia/theia/jobs/323881311#L10525
- https://travis-ci.com/github/eclipse-theia/theia/jobs/323710626#L15580

### Steps to Reproduce:

I don't know, running t

[2020-04-28 06:00] iamalexchip commented on #6755
Using `@theia/keymaps` I was able to overrride

- `ctrl + w`
- `ctrl + n`
- `ctrl + pageup`

[2020-04-28 06:06] iamalexchip commented on #6755
Using `@theia/keymaps` I was able to override the following when using chrome in fullscreen mode.
- `ctrl + w`
- `ctrl + n`
- `ctrl + o`
- `ctrl + pageup`
- `ctrl + pagedown`

[2020-04-28 06:28] akosyakov commented on #7678
Duplicate of https://github.com/eclipse-theia/theia/issues/7635

[2020-04-28 06:28] #7678 closed

[2020-04-28 06:39] akosyakov opened #7679 "allow to configure how to open the preview"
Right now we always open with split to right, but some users want to have it differently: https://spectrum.chat/theia/general/theia-chat~170dbeb6-4c13-4050-8c00-a095248fd8f0?m=MTU4NzgzODg5OTE4NA==

cc @AlexTugarev @svenefftinge

[2020-04-28 07:41] kesslerdev opened #7680 "[theming] file-icon incorrectly displays name icon with a dot in name"
### Bug Description:
The file-icon is incorrectly displayed for files with a dot in name.
For instance, the icon for the following file package.json is not properly displayed (with: https://marketplace.visualstudio.com/items?itemName=PKief.material-icon-theme)

_Theia_
![Sélection_035](https://user-images.githubusercontent.com/2135565/80460089-9f77fe00-8933-11ea-86ea-acec9ba6a0cb.png)

_VS Code_
!

[2020-04-28 07:44] akosyakov commented on #7680
Class name is constructed here: https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext/src/main/browser/plugin-icon-theme-service.ts#L463

[2020-04-28 08:09] akosyakov commented on #7672
@elaihau Do you know how to test whether we need to call `compareTasks` in `$fetchTasks`? I wonder do we need it at all or we simply should return all tasks? How did you validate VS Code extensions' expectations?

[2020-04-28 08:36] akosyakov commented on #7672
VS Code does not remove duplicate, it returns all tasks:
<img width="991" alt="Screenshot 2020-04-28 at 10 35 14" src="https://user-images.githubusercontent.com/3082655/80465831-000b3900-893c-11ea-86f4-d0eeca27891b.png">

I does not look like `$fetchTasks` is aligned with VS Code extensions' expectations

[2020-04-28 08:56] akosyakov opened #7681 "create tasks VS Code API compatibility tests"
`vscode.tasks.$fetchTasks` does not seem to return results aligned with VS Code extensions' expectations

See https://github.com/eclipse-theia/theia/issues/7672#issuecomment-620464015

We should create tests similarly how we did for launch configurations, see https://github.com/eclipse-theia/theia/blob/master/examples/api-tests/src/launch-preferences.spec.js

[2020-04-28 09:12] akosyakov commented on #7681
The problem does not even seem to be in the plugin system. I've removed filtering of duplicate task there to speed up tasks look up. But the task extension does not provide all tasks but remove some. I think we should reconsider all places where `compareTasks` is used. It does not seem to be correct how we define task identity, even all properties of tasks are equal they still should not be consid

[2020-04-28 10:21] najaarv opened #7682 "Persist widget state in all open browser tabs."
Hi, let's say I have two terminal widgets open in a theia workspace in one browser tab(Say Chrome).
I open another Chrome tab and I find that the terminal widgets are not there. I have a clean workspace. In my use case, I want both the terminal widgets to be open in all the chrome tabs I have open. What do I need to modify in the terminal-frontend-module file to make the widgets persist across tab

[2020-04-28 10:46] kittaakos commented on #7682
@najaarv, someone can correct me if I'm wrong, but the problem is that the layout persisted only before the document unloads:

https://github.com/eclipse-theia/theia/blob/498022dc88d929a10a1f973c831b4372a08a77b3/packages/core/src/browser/frontend-application.ts#L186-L190

So you open your first tab, open the terminals, and so on, and when you open the second tab with the same URL, your previous ta

[2020-04-28 11:05] najaarv commented on #7682
@kittaakos Thanks for pointing that out. Can I modify something on the widget level so that the widget does not have to wait until `beforeunload` event to save its state? Can you suggest any workaround? Btw yeah, the widget does implement `StatefulWidget` nterface and has `storeState` and `restoreState` methods. Thanks.

[2020-04-28 11:16] kittaakos commented on #7682
Do you have your own Theia extension? Can you add custom implementation and rebind it?

[2020-04-28 11:20] najaarv commented on #7682
Yes, I have my own Theia extension and I can add a custom implementation. Can you tell me what I need to change to make my use-case work?

[2020-04-28 11:30] kittaakos commented on #7682
Super 👍

I tried it locally, and it works for the terminal as you would expect.
[code]

I have not had a better idea now, I wanted to inject `ShellLayoutRestorer` to the `ApplicationShell`, but it resulted in a cycle.

So we are tracing the `active` widgets, and when there is a new, we save the layout. You can track the `current` widgets too. I hope this helps, if so, please close the issue 😊 Than

[2020-04-28 12:07] akosyakov commented on #7682
Is it a request to persist layout state when the window gets invisible, so if open another tab it loads such state? Ot it is just a question?

[2020-04-28 12:09] akosyakov commented on #7682
I would expect that one uses https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilitychange_event to implement it.

[2020-04-28 12:28] najaarv commented on #7682
@kittaakos Thanks very much. I'm yet to implement and fully test it, but thanks for the help. I really appreciate it.

@akosyakov, This is a request actually. and as I mentioned in my earlier comment, I feel this feature has to be implemented for the entire Application because users would prefer to have their workspaces consistent across all browser tabs they have open.

[2020-04-28 12:55] akosyakov commented on #7682
What is a use case to have the same window opened twice? It is not clear what consistent means, a user can open 2 windows for the same origin and change them differently, then they are inconsistent. The last one wins. We can do it a bit better to a new window by keeping them consistent all the time is not feasible, not sure whether it is actually desirable.

[2020-04-28 12:56] vinokurig opened #7683 "[Plugin-API] Apply timeline vscode plugin-API"
The latest version of the vscode git plugin requires the [timeline](https://github.com/microsoft/vscode/blob/2e4d797e51f8c105cdcbef99a609df9ad1f71c8c/src/vs/vscode.proposed.d.ts#L1823-L1975) plugin API: https://github.com/microsoft/vscode/blob/c583456c3b5f9dcccfc7850384e85a9a157effbe/extensions/git/src/timelineProvider.ts#L7

### Feature Description:
see https://github.com/microsoft/vscode/issues/

[2020-04-28 13:09] akosyakov commented on #7683
Duplicate of https://github.com/eclipse-theia/theia/issues/7577

[2020-04-28 13:09] #7683 closed

[2020-04-28 13:10] najaarv commented on #7682
I get your point, and it makes sense. Yeah, It would be better to give the user the latest widget state when he opens a new tab/window, and then he can build on it and the latest one wins. This feature would be a really nice one to have. You can close this issue if needed, or keep it open if you plan on working on it, thanks.

[2020-04-28 13:13] RomanNikitenko opened #7684 "User defined label for detected task is applied incorrectly"
### Steps to Reproduce:

1. Open `Theia` project
2. Configure `tsc:build` task
3. Configure `tsc:watch` task
4. Add a label for `tsc:build` task
5. Try to run `tsc:watch` task
You can see that a label of `build` task is applied for `watch` task.

![label_detected_typescript](https://user-images.githubusercontent.com/5676062/80491177-08c73380-896b-11ea-863f-cb80051a1cb9.gif)

### Additional Informa

[2020-04-28 13:38] akosyakov commented on #7682
@najaarv I don't mind to implement it, but i will need to justify it. If you can share why you want to work with 2 windows for the same project  in the same browser it would help.

For instance there is also such issue: https://github.com/eclipse-theia/theia/issues/526 Is it something among these lines as well?

[2020-04-28 13:42] #7606 closed

[2020-04-28 13:47] najaarv commented on #7682
Alright, here's a scenario on the top of my mind: Say, a user has several tabs open in his browser. He needs to continue working on his theia workspace but he cannot find the tab in which he has set up his workspace, or is rather lazy to find it amongst the cluster of tabs he has left open. So he opens a new browser window or a tab, types down the URL, and would expect to continue to work from whe

[2020-04-28 15:35] kenneth-marut-work opened #7685 "Preference change does not fire an onPreferencedChanged event"
### Bug Description:
While working on the new preferences-ui we came across a bug related to the preference-service that has been causing some strange and unpredictable behavior on the Electron version (and also appears on master with the original preferences UI). When setting a preference value for some items, most noticeably `Application Confirm Exit` in `User scope`, the preference service does

[2020-04-28 16:09] kittaakos opened #7686 "[feature-request][status-bar] Set the id on the status bar entry divs"
### Feature Description:

As an extension developer, I want full control over the status bar entries. In my use-case, I  do not want to have padding and margin between specific elements. Certain entries belong together in the UI, but they do different things:

Example:

![screencast 2020-04-28 17-59-05](https://user-images.githubusercontent.com/1405703/80509845-3c5d8a00-897a-11ea-92bd-10b4a9605703

[2020-04-28 16:57] vince-fugnitto opened #7687 "multi-root: incorrect statusbar color when in a multi-root workspace without roots"
#### Bug Description:

It is possible to be in a multi-root workspace without any roots, however, in such a case the statusbar is incorrectly colored (colored as if no workspace is present which is false).

<div align='center'>

<img width="1179" alt="Screen Shot 2020-04-28 at 12 51 44 PM" src="https://user-images.githubusercontent.com/40359487/80515011-4ddd6c80-894f-11ea-9336-425f8d69f52f.png">

[2020-04-28 18:31] vince-fugnitto commented on #6737
Closing due to inactivity, please feel free to re-open the issue if you still have additional questions.

[2020-04-28 18:31] #6737 closed

[2020-04-28 18:39] vince-fugnitto commented on #6500
I believe the issue is fixed, please re-open if its not the case.

[2020-04-28 18:39] #6500 closed

[2020-04-28 19:09] vince-fugnitto commented on #6178
Closing since I believe the question has been successfully answered and there has not been much activity lately. Please re-open the issue if the problem persists.

[2020-04-28 19:09] #6178 closed

[2020-04-28 19:11] vince-fugnitto commented on #6177
Closing due to inactivity, and the question is not specific to the framework.
Please re-open if the problem persists.

[2020-04-28 19:11] #6177 closed

[2020-04-28 19:13] sunix commented on #6423
hey could we disable shortcuts for outline? this not frequently used, and user would just click on the sidebar to toggle. WDYT?

[2020-04-28 19:15] vince-fugnitto commented on #6423
I don't think disabling a keybinding for a view would be a viable way forward, we should instead find a keybinding that can be used with the proper `when` context.

[2020-04-28 20:02] colin-grant-work commented on #7685
I also encountered the same behavior on an up-to-date MacOS build

[2020-04-29 01:42] elaihau commented on #7672
If we don't want to
- take care of identical tasks, or
- filter out the invalid task configs,
we probably can make `$fetchTasks()` a lot faster

I took a look at the `$fetchTasks()` function in `tasks-main.ts` and noticed that it does not take the cutomized detected tasks into consideration.
Say, you have `npm: build` defined in `package.json`, and customize it in `tasks.json` this way:
[code]

Th

[2020-04-29 06:48] sunix commented on #6423
I don't think any user would ever have to use a short-cut for a particular view. Maybe shortcuts for navigating from one view to another, toogle the editor fullscreen etc ... having a shortcut for all the specific view is definitely not a viable way forward.

Can you elaborate your meaning of "viable way forward" ?

[2020-04-29 07:13] akosyakov commented on #7672
I've simplified it in https://github.com/eclipse-theia/theia/pull/7676/commits/aba5392b106f2b66b1431b8b51d5d7bfa1282bd0 Could you have a look there? But it only to make it faster it does not make sure that it aligned with VS Code extensions' expectations.

Say, you have npm: build defined in package.json, and customize it in tasks.json this way:

I've opened https://github.com/eclipse-theia/theia/

[2020-04-29 07:25] akosyakov commented on #7685
We generally don't have good test coverage for preference events and don't test whether they are compatible with VS Code extensions' expectations.

[2020-04-29 07:35] akosyakov commented on #6423
@vince-fugnitto removing the outline keybinding sounds better than what is happening right now or at least till someone proposes another solution or shortcut. Not working format document kebinding is quite bad.

[2020-04-29 08:00] akosyakov commented on #6423
There are also already a way to open the outline with keyboard: F1 -> type Outline -> Enter

We could also consider to add a keybinding for `Open View...` instead, so one can open any view with keyboard.

[2020-04-29 08:38] a1994846931931 commented on #6713
@elaihau Hi, `reuse terminal widget` sounds fantastic and I'm really looking forward to the feature coming out. May I ask how's your progress?

[2020-04-29 08:46] a1994846931931 commented on #2961
Do you have any updates on this? I just encountered the same issue, which looks critical to me. I wonder if I could help 🤔...

[2020-04-29 09:00] DanTup opened #7690 "VS Code debuggers using resolveDebugConfigurationWithSubstitutedVariables do not launch"
I'm trying to track down an issue with debug sessions in the Dart VS Code extension not launching, and my suspicion is that it's due to us switching to using `resolveDebugConfigurationWithSubstitutedVariables` (see https://github.com/microsoft/vscode/issues/87450).

VS Code now calls `resolveDebugConfiguration` as it previously did, then it resolves any variables (for example `${file}`, `${workspa

[2020-04-29 09:14] akosyakov commented on #7690
True, we don't support this API yet. Relevant PR in VS Code: https://github.com/microsoft/vscode/commit/dba0076c9fba7b857e7b4de96f5f46f4c004a412 PRs are welcomed.

[2020-04-29 09:23] westbury commented on #7659
This should be easy once https://github.com/eclipse-theia/theia/pull/7505 is merged.  That PR re-writes the source control view to use tree-widget, so we can use the same selection code.  Also that PR adds support for an array of ScmResource in the context menu args (previously just a single ScmResource allowed), and downstream dugite API adjusted to accept multiples.  This was actually done to su

[2020-04-29 10:52] kittaakos commented on #7686
Use `className` instead. Here is an example of how one can adjust the styles for the status-bar entires:
[code]

[code]

[2020-04-29 10:52] #7686 closed

[2020-04-29 11:05] elaihau commented on #6713
@a1994846931931
As per your GIF, what you task did was `echo Hello`.

I guess the error you saw was due to https://github.com/eclipse-theia/theia/issues/2961

In your task config, could you please add a `sleep 1` before running `echo hello`, and check if it works ?

[2020-04-29 12:15] vince-fugnitto commented on #6423
@sunix

I disagree, views should be keyboard operable, just like in other major IDE products.
At least for those contributed by the framework itself, it should be possible to open views by keyboard shortcuts similarly to vscode.

I mean that removing a keyboard shortcut for a view does not look like the best solution, we are choosing to fix a problem of loss of functionality (inability to run the

[2020-04-29 12:16] vince-fugnitto commented on #6423
If it's the worse of the two then we can opt to removing the keybinding for now so users can have the ability to `format document`. It's true that we have the `open view...` command, but I also feel like the best solution would be to find a keyboard shortcut that works for both cases.

[2020-04-29 12:49] akosyakov commented on #6423
ok, could someone send a PR removing the keybinding for the outline on Linux for now?

[2020-04-29 12:54] DanTup opened #7691 "Clicking "Continue" in debugger doesn't return to Running state"
I'm debugging an issue when running Flutter apps - when I resume from a breakpoint, the debugger UI often immediately goes back to the "paused" state so it looks like it has hit the breakpoint a second time when it hasn't.

I recorded the DAP traffic when this happens, and noticed there are `stackTraceRequests` also being sent immediately after resuming:

[code]

I don't know whether the stackTrac

[2020-04-29 12:57] vince-fugnitto commented on #2961
@a1994846931931 there was some prerequisite work done to improve processes before the issue could be tackled, but it should be possible now. @marechal-p was the original author of the processes improvements, and has also shared his design idea for the issue https://github.com/eclipse-theia/theia/issues/2961#issuecomment-566217381 if you'd like to take a look. I don't believe he has the bandwidth a

[2020-04-29 13:10] DanTup commented on #7691
I tried rejecting the requests when the thread is not paused, and that seemed to stop the UI getting into the wrong state:

[code]

However, I think this would be better handled here (either don't send the requests, or don't make the debugger look paused just because it got a stack trace response if it hasn't otherwise been told it's paused).

(it's also strange that the second `stackTraceRequests

[2020-04-29 13:11] vince-fugnitto commented on #6423
Sure, I can take care of it.

[2020-04-29 13:45] akosyakov opened #7693 "upgrade to typescript 3.9"
`Promise.all` issues seems to be fixed: https://devblogs.microsoft.com/typescript/announcing-typescript-3-9-rc/#promise-improvements

So it should be possible. cc @marechal-p @tsmaeder I though you mentioned that you want to do it when you have time.

[2020-04-29 13:50] davide-sergi commented on #4213
@akosyakov hi, I still having problems using theia.Uri.fsPath on Windows.
For example when I try to create a folder, I got: UNKNOWN , unknown error, mkdir "\\file\to\path"
 (please not without 'c:')

I'm using fs node library in a backend plugin - running on electron theia app-  in order to interact with filesystem of host windows machine .

[2020-04-29 14:00] akosyakov commented on #4213
@davide-sergi Could you open a new issue please? with a bit of more context, i.e maybe vscode extension or theia plugin to reproduce?

[2020-04-29 14:23] akosyakov commented on #7635
@amiramw Could you file another issue? I have not seen it failing on Linux. I guess it is Windows related somehow.

[2020-04-29 14:30] colin-grant-work commented on #7685
I'm not certain of the provenance of all of the preferences tested - some may come from extensions - but this test was run with the Theia `example/electron` app on Friday's (24/4) `master` branch, and the the preference that's giving us the most trouble at the moment is `application.confirmExit`, which looks like it belongs to the set of core Theia preferences defined in this file: `packages/core/

[2020-04-29 18:18] akosyakov opened #7697 "upgrade to Monaco 0.20.0"
It's required to support semantic highlighting, for instance to run latest rust extension: https://github.com/eclipse-theia/theia/issues/7608

There are 2 ways:
- do it after https://github.com/eclipse-theia/theia/issues/7100 (hopefully we do it in next 2
months)
- do it as the previous Monaco migration, see TODOs and tests in https://github.com/eclipse-theia/theia/pull/7149
  - there is already a

[2020-04-29 19:23] marechal-p commented on #7693
Nope, still issues with our promises... But it seems fixable, I would have to look into it more.

[2020-04-29 19:26] #6423 closed

[2020-04-29 19:26] #7488 closed

[2020-04-29 19:26] #7687 closed

[2020-04-30 00:39] a1994846931931 commented on #6713
@elaihau
No, it doesn't work. It seems that the command `sleep 1` is not executed at all for it returns so quickly.
![reuse-task-2](https://user-images.githubusercontent.com/17487291/80660204-acc0f400-8abd-11ea-915a-95917e859777.gif)

Actually I've also encountered #2961 before, but they look different.

[2020-04-30 00:56] vince-fugnitto commented on #6713
@a1994846931931 do you mind sharing your `tasks.json`?
You might also want to check what a bash error code of [127 means](https://forum.linuxconfig.org/t/bash-127-error-return-code/943).

[2020-04-30 00:57] vince-fugnitto commented on #6713
@a1994846931931 do you mind sharing your `tasks.json`?
You might also want to check what a bash error code of [127 means](https://forum.linuxconfig.org/t/bash-127-error-return-code/943) as it might help you with your problem.

[2020-04-30 01:59] #6763 closed

[2020-04-30 02:07] elaihau commented on #6713
I tried running your task in my env and it worked:

![Screenshot from 2020-04-29 22-06-50](https://user-images.githubusercontent.com/37082801/80664855-e0702f80-8a65-11ea-8c66-d16086990f5e.png)

[2020-04-30 04:51] RomanNikitenko commented on #6713
@a1994846931931
I tried your configuration and it works well for me

![test_task](https://user-images.githubusercontent.com/5676062/80673030-dde9f600-8ab6-11ea-8a15-19c3530167f8.gif)

But it's interesting to know what's the problem...

[2020-04-30 07:15] #7672 closed

[2020-04-30 07:15] #7673 closed

[2020-04-30 08:05] #7635 closed

[2020-04-30 08:40] a1994846931931 commented on #6713
@vince-fugnitto @elaihau @RomanNikitenko Hi, I just found out that the issue has something to do with the shell I use - `zsh`. It worked fine after I shifted back to `bash`.

[2020-04-30 11:56] akosyakov commented on #1867
It was resolved.

[2020-04-30 11:56] #1867 closed

[2020-04-30 12:29] davide-sergi commented on #7226
@nicholasl00  one question: were you using theia as web or desktop application? because on my side, the notebook view is not totally showed in desktop case. I'm using your same vscode extension .

[2020-04-30 12:32] vince-fugnitto commented on #7226
@davide-sergi you might have encountered the following issue (error displaying webviews in electron): https://github.com/eclipse-theia/theia/issues/7156

[2020-04-30 12:45] nicholasl00 commented on #7226
@davide-sergi I'm using theia as a web application. hope that helps

[2020-04-30 13:20] akosyakov commented on #1315
@spoenemann It does not work on Mac as well. VS Code is using following keybindings:
- next
  - mac: ctrlcmd+alr+rightarrow
  - other: ctrlcmd+pagedown
- previous
  - mac: ctrlcmd+alr+leftarrow
  - other: ctrlcmd+pageup

Should we align?

[2020-04-30 13:29] davide-sergi commented on #7226
Thanks @nicholasl00  @vince-fugnitto for quick replies.

@vince-fugnitto this is a big problem for my purpose. I had mistakenly assumed that they both supported it. Developing for convenience only on the web version.
I need to find some kind of workaround. For any suggests, I'm here :)

[2020-04-30 13:30] akosyakov commented on #1315
It does not work in the browser as well :( I live as is for now. I think it is another issue.

[2020-04-30 14:52] fbouteruche opened #7706 "Tag v1.0.0 yarn download:plugins fails"
### Bug Description:

Following the described steps here https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md but with the source code from tag v1.0.0, yarn command fails due to error with vscode-builtin-extension

### Steps to Reproduce:

1. install the prerequisite on Amazon Linux 2
2. git checkout v1.0.0
3. yarn

you get the following errors during yarn download:plugins

vscode-

[2020-04-30 15:04] vince-fugnitto commented on #7706
@fbouteruche the build is in fact successful, there seems to be some errors with the `download:plugins` script which is fixed in the latest release.

[2020-04-30 15:20] fbouteruche commented on #7706
Indeed, I've ran yarn download:plugins and it is where it fails. Then, I've switched to master, run download:plugins and then I went back to the tag v1.0.0 and I was able to run browser examples.

[2020-04-30 15:20] vince-fugnitto commented on #7706
@fbouteruche when checking out **v1.1.0** I confirmed that it works correctly.

[2020-04-30 15:33] fbouteruche commented on #7706
I've just tested from a clean git clone and it works great with tag v1.1.0.

Thanks.

[2020-04-30 15:42] vince-fugnitto commented on #7706
Closing since the bug has been fixed in the latest release **v1.1.0**.

[2020-04-30 15:42] #7706 closed

[2020-04-30 15:53] colin-grant-work opened #7709 "Preference Values Persist When `settings.json` Deleted"
### Bug Description:

When a user deletes a `settings.json` file that contains values, those values are not cleared from the cache in the `PreferenceProvider` for that scope. If the user then modifies a preference in the scope of the deleted file, the old values are regenerated in the new `settings.json`.

### Steps to Reproduce:

(It is easier to reproduce with PR #7105 because the UI more clearl

[2020-04-30 18:04] RomanNikitenko commented on #7681
@akosyakov
I have scheduled issues for the nearest sprint, therefore, I can not promise to focus on it...

But for me, personally, the issue related to tasks and integration tests is interesting. Thus, we can start if we don't have a very short time for this issue.
wdyt?

[2020-04-30 18:11] RomanNikitenko commented on #7608
@akosyakov
I'm sorry, I missed your comment [here](https://github.com/eclipse-theia/theia/issues/7608#issuecomment-616431359).

Do you have the definite time-frame for the upgrade?
I'm not sure if I can help with upgrade Monaco this time - I have scheduled issues for the nearest sprint...

@scela @azatsarynnyy

[2020-04-30 18:44] lmcbout opened #7710 "Fix the check-publish.js"
### Bug Description:

The script `check-publish.js` fails with the following error:

[code]

### Steps to Reproduce:

1. execute the command:
[code]

### Additional Information

- Operating System: Ubuntu 18.04
- Theia Version: Latest

[2020-04-30 19:12] #7710 closed

[2020-04-30 23:10] westbury commented on #6915
It is not possible to support scm/resourceFolder/context unless there is a folder resource change UI element somewhere on which to put the context menu.  So this issue does require https://github.com/eclipse-theia/theia/pull/7505 .  As it happens, that PR does use scm/resourceFolder/context to get the menu for folders, so it does fix this issue.

However it would be nice to get https://open-vsx.or

[2020-05-01 06:55] akosyakov commented on #6915
I will try to look at https://github.com/eclipse-theia/theia/pull/6921 next week. I've tested it against 1.39.1.

[2020-05-01 06:58] akosyakov commented on #7608
@RomanNikitenko No, we don't. I am just brining attention that some stuff does not work without latest Monaco. Personally I'm preparing to work on https://github.com/eclipse-theia/theia/issues/7100 But I am not sure when it happens, so if in the meantime someone wants to make the upgrade old way it is fine.

[2020-05-01 07:10] akosyakov commented on #7681
@RomanNikitenko sounds good, i will start working on it slowly then too

Maybe fear was that I've introduced a regression in https://github.com/eclipse-theia/theia/pull/7676#issuecomment-621710162 and we should fix it properly. I don't want to revert the PR, because hanging UI for 5 sec is not the option as well. There should be a way which works correct and fast. And so far it looks like we don't

[2020-05-01 08:12] akosyakov opened #7712 "upgrade to latest VS Code built-in extensions"
Typescript now supports new syntax, like null coalescing and type imports. Extensions which we use cannot deal with it. I suggest we break it down to several steps:
- publish built-in extensions for April version of VS Code
- start using them in this repo
- some stuff won't work, collect issues
- fix issues

Maybe we should make it the standard practice after each VS Code release.

We could also s

[2020-05-01 08:13] akosyakov commented on #7712
We should also use latest stable tech supported by built-in extensions like https://github.com/eclipse-theia/theia/issues/7693 to see these issues earlier in this repo.

[2020-05-01 08:25] RomanNikitenko commented on #7681
I'm not sure that it was a regression, because after your changes it returns full list of tasks. We just need to check what vs code extensions expect (full list vs `detected` and `configured`).
I modified a little and packed your test plugin into `.vsix`, then tried to add to vs code and check vs code behavior. But there were some incompatibility errors, so I could not check it quickly and your PR

[2020-05-01 08:44] #4835 closed

[2020-05-01 08:55] westbury commented on #5413
This is mostly fixed by https://github.com/eclipse-theia/theia/pull/7505.  That PR added support for search.  It did not add support for multi-selection.  However multi-selection is specifically covered by https://github.com/eclipse-theia/theia/issues/7659 so I am closing this issue.

[2020-05-01 08:55] #5413 closed

[2020-05-01 09:06] westbury opened #7713 "Source Control view should have preference for default mode ('tree' or 'flat')"
Vs-code has a preference to control whether file changes in Source Control view show by default as 'tree' or 'flat' mode.  Theia should have the same. See https://github.com/eclipse-theia/theia/pull/7505#issuecomment-622280904

[2020-05-01 12:24] vince-fugnitto opened #7714 "search-in-workspace: update 'collapse' toolbar item to also 'expand'"
**Description**

The 'collapse all' toolbar item for the search-in-workspace widget should be updated to also support expanding nodes (when the tree has been collapsed) similarly to VS Code. The toolbar item should take care of toggling the expansion of the tree between collapsed/expanded.

In the following screenshots notice the last toolbar item (+/- based on the tree state):

_Collapsed_:

<img

[2020-05-01 13:35] kittaakos opened #7716 "[core][commands][quality] Ensure error reporting does not throw error"
### Bug Description:

This is a cosmetic issue. If I commit a programmer error, and I mess up something with my commands and their handlers, I want to see a clear error about the problem, this happens usually, but not always. I can hit an `Uncaught (in promise) TypeError: Converting circular structure to JSON` error.

[code]

Related code:
https://github.com/eclipse-theia/theia/blob/87677a2093d780

[2020-05-01 21:32] danidoedel opened #7720 "File icons in explorer are not aligned if file name is truncated"
### Bug Description:
If a file name gets truncated, the file icons are not aligned anymore (same for the file names in the problems view).

### Steps to Reproduce:

![f6970e43-b128-4f14-9b11-e76ae479504c](https://user-images.githubusercontent.com/10995998/80843170-e26ff500-8c03-11ea-88d8-1c9a6593c943.gif)

### Additional Information

- Operating System: Windows 10
- Theia Version: 1.0.0

[2020-05-01 22:36] colin-grant-work opened #7721 "Preference changes not registered when `settings.json` open in editor."
### Bug Description:

This bug is a follow up to ongoing work on #7105. When a preference file is open in the editor, changes in the GUI are written to the file, but the file is not saved. In VSCode, if the file is not dirty when a preference change is made in the GUI, the file is automatically saved.

### Steps to Reproduce:

1. Using the code from #7105,
2. Open the preferences GUI
3. Open the p

[2020-05-01 22:57] kenneth-marut-work opened #7722 "Electron ContextMenuRenderer does not use passed-in anchor values"
### Bug Description:
In #7105 we have refactored the context menu generation to use `ContextMenuRenderer`. However, in Electron, the context menu is not generated at the location provided using the `anchor` argument. On closer inspection, we noticed that https://github.com/eclipse-theia/theia/blob/cea62337848477b12b61ed7acf30634e12acc52d/packages/core/src/electron-browser/menu/electron-context-men

[2020-05-02 03:14] scheng123 commented on #2842
I dearly wish for this collab feature to be implemented. I'm currently using cloud9, which is already good but lacks maintaining (last commit was like years ago) and a bit too buggy.

I can't wait for this feature to be implemented. It gonna be big.
May the collaborators of this repo post their status?

[2020-05-02 07:00] akosyakov commented on #7722
Yeah it was like that before refactoring. I was wondering why. Do you mind to send a PR?

[2020-05-02 09:19] devkral opened #7723 "flatpak packaging"
It would be nice to have theia as a flatpak package

[2020-05-02 09:34] devkral commented on #7723
I think we can use this flatpak definition as base:
https://github.com/flathub/com.visualstudio.code.oss

[2020-05-02 12:38] GitMensch opened #7724 "vscode extension johnstoncode.svn-scm does not work"
While other .vsix I've tested in gitpod's theia work perfectly fine, it looks like https://github.com/JohnstonCode/svn-scm does not work correctly yet (you get the new button on the left but a bunch of "missing dependency" warnings and the UI controls of the plugin don't work).

[2020-05-02 13:59] kittaakos opened #7725 "[inversify] Cannot inject `named` contribution provider if it is declared in a namespace"
### Bug Description:

Injection breaks app startup if a contribution provider is declared under a namespace, something like this:
[code]

Error:
[code]

If I move the contribution provider outside of the namespace, it works:
[code]

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Operating System:
- Theia Version:

[2020-05-02 13:59] vince-fugnitto commented on #7723
Thank you for the issue, please see relevant discussions about providing a vanilla distribution here:
- https://github.com/eclipse-theia/theia/issues/5481

Please also note that discussions were previously had about including a flatpack example for application-developers to reference as part of `theia-apps`:

- https://github.com/theia-ide/theia-apps/issues/341

[2020-05-02 13:59] #7723 closed

[2020-05-02 14:02] vince-fugnitto commented on #7724
@GitMensch thank you for the issue, in the future please provide additional information so we can more accurately address the issue (ex: frontend logs, screenshots). Looking at the extension, it seems that there is a prerequisite to `svn`, is this included in your setup?

- https://github.com/JohnstonCode/svn-scm#prerequisites

[2020-05-02 14:19] GitMensch commented on #7724
I've used the plain theia "test on gitpod" which includes `svn`. Even if anyone with a gitpod login should be able to find it, it will likely be different soon and therefore still reasonable to add the requested info - how to get it after opening the workspace?

[2020-05-02 20:58] elaihau commented on #7672
@akosyakov
Sorry for the late response.
I believe we missed the part that avoids duplications.

I tried it in vscode with an extension.
If a detected task is configured in `tasks.json`, fetchTasks() in vscode returns one task.
In the current Theia, it returns both.

However, in vscode, same tasks, or tasks with same labels, can be contributed by different providers multiple times.

Do you want me

[2020-05-02 22:46] vince-fugnitto opened #7726 "bug: menu fails to render"
### Bug Description:

The application's main-menu fails to render due to an error with **momentjs**:

[code]

<div align='center'>

<img width="1157" alt="Screen Shot 2020-05-02 at 6 43 35 PM" src="https://user-images.githubusercontent.com/40359487/80893974-de47e400-8ca4-11ea-97b4-7586ee98a137.png">

</div>

The following error has been reported and reproduced in a number of ways:
- docker images

[2020-05-02 22:55] vince-fugnitto commented on #7726
We should have better handling in such situations (when a single menu item cannot be rendered), so we do not fail to create the entire menu.

[2020-05-03 02:18] #6256 closed

[2020-05-03 02:24] 502647092 commented on #7341
`@theia/json` now can work don't have resolutions

[2020-05-03 12:43] hx8563 opened #7728 "Setting default height for ViewContainerPart"
### Feature Description:
Is there a way to specify an initial height for every ViewContainerPart in ViewContainer instead of having all parts with same height?

[2020-05-03 14:34] vince-fugnitto commented on #7728
@hx8563 thank you for the issue, please post questions on [discussions](https://github.com/eclipse-theia/theia/discussions) in the future.
Are you looking to create a new `ViewContainerPart` or are you attempting to update existing containers?

[2020-05-03 14:34] #7728 closed

[2020-05-03 18:04] scheng123 commented on #7726
Also experiencing the same issue.
Reproduced with node version `v10.20.1`.
Followed all the steps with https://theia-ide.org/docs/composing_applications

[2020-05-03 18:36] scheng123 commented on #7726
@vince-fugnitto do you currently have a workaround available?

[2020-05-03 19:09] elaihau commented on #7446
@tsmaeder
You are right. Addressing tasks through "label", "source", "scope" makes Theia incompatible with vscode.
Could you please share a little more details of your experiment? My curiosity: did you contribute two identical tasks through the same vscode extension, or different vscode extensions? Thank you !

[2020-05-03 19:41] kittaakos commented on #7726
Based on the [PR](https://github.com/eclipse-theia/theia/pull/7727), you can try to force the desired version of `moment`. I have not tried it yet; does it work if you add this to your root `packages.json`?
[code]

[2020-05-03 19:59] scheng123 commented on #7726
It does work for me. We'll have to use this as a workaround until the maintainers fix the moment version.

(First time installing theia; I thought the broken UI was really the awesome ide everyone's happy about lamo)

[2020-05-04 04:22] zhengfc commented on #7726
It work for me too, ths

[2020-05-04 07:03] akosyakov commented on #7726
There are 2 things:
- guard such cases, i.e. the menu bar still should be there even if one command is missing
- fix a broken command

[2020-05-04 07:16] akosyakov commented on #7725
Is it because injectable declaration comes after inject? Does it work if you put namespace before?

[2020-05-04 07:21] kittaakos commented on #7725
You can't.

[2020-05-04 07:22] akosyakov commented on #7672
@elaihau It should be covered by doing https://github.com/eclipse-theia/theia/issues/7681. That we have broken tests if we miss something again.

[2020-05-04 07:32] akosyakov commented on #7724
These extension rely on `keytar`, `iconv-lite` and `jschardet` dependencies: https://github.com/JohnstonCode/svn-scm/blob/00769abd81a75cfec56954d4e486ac5db6ed123c/src/vscodeModules.ts#L9-L33

It is similar to https://github.com/eclipse-theia/theia/issues/6407

[2020-05-04 09:04] kittaakos opened #7731 "[theming][keybinding][ui/ux] Keybindings are hardly visible with the light theme"
### Bug Description:

It's pretty hard to see accelerator for the commands in the Command Palette with any light theme, such as the `Theia Light`:

![Screen Shot 2020-05-04 at 11 00 19](https://user-images.githubusercontent.com/1405703/80950734-b8caef80-8df6-11ea-92a2-141913260014.jpg)

### Steps to Reproduce:

1. Start Theia with the light theme, and open the Command Palette.
2.
3.

### Additiona

[2020-05-04 09:30] akosyakov commented on #7731
It's a recent regression :( We tested it last month while migrating to Monaco, was working.

[2020-05-04 09:32] akosyakov opened #7732 "Child node 'file-change-tree-root' does not belong to this 'file-change-tree-root' tree."
Not sure how to reproduce, but logs are filled now with such errors. It could be related to how and when the scm tree constructed and refreshed. Usually indicates a race condition.

cc @westbury

[2020-05-04 09:33] akosyakov commented on #7732
A tree usually should be implemented by providing `Tree.resolveChildren` function I could not find such for the scm tree. Maybe new nodes are created all the time?

[2020-05-04 09:35] westbury commented on #7732
I have the fix for this.  I'm in a meeting now but I'll put in the PR shortly.

[2020-05-04 09:57] ShimonBenYair commented on #7669
After invastigating the issue i have found the root cause and it is from the extension and not from Theia.

[2020-05-04 09:57] #7669 closed

[2020-05-04 10:24] tsmaeder commented on #7446
[prefs-explorer.zip](https://github.com/eclipse-theia/theia/files/4574035/prefs-explorer.zip)

Here's the test extension I'm using.

[2020-05-04 10:50] scheng123 commented on #7726
I don’t think it was a missing command, as it is just a broken dependency.

[2020-05-04 12:02] elaihau commented on #7446
Thank you Thomas ! This is really helpful !

[2020-05-04 12:40] vince-fugnitto commented on #7726
There is an issue where others have expressed similar breaking changes for **moment** and they performed the same rollback in version:
- https://github.com/moment/moment/issues/5507

[2020-05-04 12:41] akosyakov commented on #7726
@vinayb21 it is fine to pin it.

But I meant that the menu registration should not blow up the whole menu bar if one command failed to be registered.

[2020-05-04 12:42] vince-fugnitto commented on #7726
Yes I agree, there should be better handling in order to prevent such issues, especially since it breaks the entire main menu.

[2020-05-04 12:43] vince-fugnitto commented on #7726
Should we open a follow-up issue to be more robust when creating menus/commands and not fail if one is missing?

[2020-05-04 12:47] vince-fugnitto commented on #7731
@kittaakos I could not reproduce the issue from sources, is there something specific I should be doing/specific browser?

<div align='center'>

<img width="1173" alt="Screen Shot 2020-05-04 at 8 46 25 AM" src="https://user-images.githubusercontent.com/40359487/80967096-cb87f900-8de3-11ea-85ed-6ece0e0cef42.png">

<img width="1173" alt="Screen Shot 2020-05-04 at 8 46 31 AM" src="https://user-images.

[2020-05-04 12:49] akosyakov commented on #7726
@vince-fugnitto yes, thanks

[2020-05-04 12:53] kittaakos commented on #7731
I see.

For me, it happened for one of the downstream projects.

I do not think so, let me double-check it once more later today.

[2020-05-04 12:53] #7726 closed

[2020-05-04 13:00] akosyakov commented on #6930
for gitlens to work around run `yarn tsc` to skip bundling with webpack

[2020-05-04 13:02] vince-fugnitto opened #7733 "quality: make menus/commands more robust"
#### Feature Description:

We should make the creation of menus (main-menu, context-menus) more **robust** so that the rendering does not fail entirely when there are errors. The framework should be more robust in such cases and skip rendering these items (while logging errors to application-developers), so end-users do not end up with broken user-interfaces.

For example, due to a small dependenc

[2020-05-04 13:03] vince-fugnitto commented on #7726
#7733

[2020-05-04 13:06] akosyakov opened #7734 "the scm commit input is gone"
After working for a while, restarting the server and resetting the layout, the commit input is completely gone:
<img width="1017" alt="Screenshot 2020-05-04 at 15 05 04" src="https://user-images.githubusercontent.com/3082655/80968804-e032b400-8e18-11ea-8bea-759670a215ec.png">

Sorry, I don't have concrete steps :( but it did happen during testing and now happens in production.

cc @westbury

[2020-05-04 13:07] akosyakov commented on #7734
One can recover only by cleaning origin caches and reloading afterwards. There seem to be some state layout mismanaged.

[2020-05-04 14:51] #7713 closed

[2020-05-04 15:37] kenneth-marut-work commented on #7722
@akosyakov

Here is a PR that addresses the issue: #7735

[2020-05-04 15:52] scheng123 commented on #3600
For anyone that is desperate for a favicon, here's a little command you can run to add a favicon to your theia web ide:
[code]

[2020-05-04 17:11] scheng123 commented on #7733
IMO, if something breaks, then the underlying issue is more obvious then if something is error handled, leading to shorter time for tracking down critical issues (like what just happened with `moment`)

Please critique my statement if you think otherwise. I’m not experienced in developing big projects like these.

[2020-05-04 17:21] vince-fugnitto commented on #7733
@scheng123 reporting the error for application-developers would be just as useful imo, without the negative side-effect of breaking a major component of the framework (menus). The only reason the issue was **critical** was because of the breakage of the menu not the usage of `moment`. The framework should be robust enough to handle such cases and not attempt to register menu items for commands whi

[2020-05-04 17:31] scheng123 commented on #7165
cloud9 ide does this quite well, especially with HTML including another CSS file.

Even though it might break use cases, giving the user the option to enable/disable preview can easily let the user adjust to their specific needs (thus, targeting all kinds of development)

[2020-05-04 19:55] owlJaeger opened #7737 "npm-plugin can't execute tasks correctly on electron"
### Bug Description:
When trying to execute the `start`-script inside one of my projects, the `ShellTerminalServer` throws errors and the task doesn't execute how it should.
I've narrowed down the cause a bit. It has to do something with the backend-forking, happening when starting the electron version without `--no-cluster`. Using the `start:electron`-script of the theia monorepo will not use `ba

[2020-05-04 21:18] westbury commented on #7734
I have never seen this one.  Is there anything in console output, or clues from dev tools?

We might also see if https://github.com/eclipse-theia/theia/pull/7736 fixes this, as that does improve the storeState/restoreState.

[2020-05-05 08:20] shahar-h opened #7738 "npm scripts tree is empty when activated while explorer view is not visible"
### Bug Description:
When npm builtin extension is activated while explorer view is not visible , npm scripts tree stays empty.

### Steps to Reproduce:

1. Run theia and open the browser with some node project as workspace root - it should contain at least one script. npm scripts tree should appear with content.
2. Refresh browser and immediately open some other view (i.e. search view) before npm

[2020-05-05 08:39] slhultgren opened #7739 "cli: download:plugins does not support HTTP_PROXY environment variable"
The HTTP_PROXY environment variable is not respected when running download:plugins.

[2020-05-05 11:48] #7720 closed

[2020-05-05 12:02] vince-fugnitto commented on #7739
I believe @marechal-p had already prepared a commit to address such an issue: https://github.com/eclipse-theia/theia/compare/mp/proxy-download

[2020-05-05 12:08] slhultgren commented on #7739
@vince-fugnitto @marechal-p Ok, fine for me to merge that instead. Please note the lastError change in this pull request though, maybe it could be added to the pull request?

[2020-05-05 12:09] lmcbout commented on #7739
IT looks like one is looking at "Http**S**" proxy and the other is looking at "Http" proxy. WE should have a solution which take care of both typeof proxy

[2020-05-05 13:20] vince-fugnitto opened #7741 "preferences: provide input field validation"
#### Feature Description:

Following https://github.com/eclipse-theia/theia/pull/7105, we should provide validation for input fields directly in the user-interface. This will give end-users instant feedback that the value they provided are incorrect, or of incorrect type. At the moment it is possible to provide values which are unexpected without any visual feedback:

_Theia_:

<img width="628" al

[2020-05-05 13:23] vince-fugnitto opened #7742 "preferences: render 'markdownDescription' as markdown"
#### Prerequisite:

Following #7105

#### Feature Description:

It is possible to define a `markdownDescription` property for preferences in the schema, which is ultimately used as a description of the preference including the tooltip (when editing JSON), and in the user-interface. In the user-interface, the `markdownDescription` should be properly rendered as markdown similarly to VS Code:

_Thei

[2020-05-05 13:27] vince-fugnitto opened #7743 "preferences: improve search field"
#### Feature Description:

Following #7105, the search field can be improved to include the following items:
- a clear search (clears the search term and upon execution will update the user-interface)
- a search count (displays the number of results based on the search term)

Example:

<div align='center'>

<img width="972" alt="Screen Shot 2020-05-05 at 9 24 49 AM" src="https://user-images.github

[2020-05-05 13:36] vince-fugnitto opened #7744 "preferences: use custom context-menu for browser target"
#### Feature Description:

Following #7105, the context-menu from the preferences-widget incorrectly uses the native menu when in the browser. This is correct for electron, but in the browser we should use the custom context-menu like the rest of the application:

_Browser_:

<div align='center'>

<img width="390" alt="Screen Shot 2020-05-05 at 9 33 11 AM" src="https://user-images.githubuserconten

[2020-05-05 13:41] vince-fugnitto opened #7745 "preferences: improve category headers"
#### Feature Description:

Following #7105, we should improve category headers present in the view.
At the moment, subcategories are styled similarly to categories which makes their appearance confusing. For instance, take the preference `markdown.links.openLocation` for example:

_Theia_:

<img width="373" alt="Screen Shot 2020-05-05 at 9 37 57 AM" src="https://user-images.githubusercontent.com/4

[2020-05-05 13:51] vince-fugnitto opened #7746 "preferences: improve storing the state of the widget"
#### Feature Description:

Following #7105, we should improve storing the state of the widget which is helped when reloading the application and resuming development. We should be able to restore the state of the widget such as:
- the search term
- the current preference scope (ex: 'workspace')

_State_:

<div align='center'>

<img width="1175" alt="Screen Shot 2020-05-05 at 9 49 49 AM" src="https

[2020-05-05 14:05] marechal-p commented on #7739
Can you explain why this is required? The idea behind this variable is to know in which state we got out of the retry loop: if `lastError` is set during retry \#2 but works in \#3 your change will make the script fail.

[2020-05-05 14:10] marechal-p commented on #7739
Ok my bad I see the mistake: I did not realize that this statement was evaluated on the last iteration of the loop, this is bogus indeed.

[2020-05-05 14:29] azatsarynnyy commented on #7697
Hi @akosyakov
probably, we (at Red Hat) can work on it starting next week, by doing it as the [previous Monaco migration](https://github.com/eclipse-theia/theia/issues/6900).
I'll let you know here by Friday, May 8.

[2020-05-05 14:52] lmcbout opened #7748 "Command execution buttons not available in a JAVA project until we refresh the widget"
### Bug Description:
It looks like there is an event missing for gitlens when the editor needs a refresh after a font change. When I change the font, the "RUN" | "Debug" command are missing over the main class in a JAVA project until I refresh (Just use the scroll button) to refresh the widget.

### Steps to Reproduce:

1.Have JAVA dependencies available (JAVA pack + maven) in my configuration
2.

[2020-05-05 15:04] vince-fugnitto commented on #7748
@lmcbout do you mind updating the description, I don't see how it is related to [gitlens](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens).

[2020-05-05 15:10] vince-fugnitto commented on #7748
I could not reproduce the issue unfortunately.

[2020-05-05 15:31] lmcbout commented on #7748
@vince-fugnitto  I added steps to reproduce it, see above. (The buttons "Run" | "Debug" comes from the gitlens functionality: they are buttons showing over the editor allowing user to perform some commands.

[2020-05-05 17:37] DoroNahari opened #7751 "Blank square instead of plugins icons in sidebar when theia starts"
### Bug Description:
Blank square instead of plugins icons in sidebar when theia starts.

### Steps to Reproduce:

1. Deploy a vscode extension that have a side pane such as gitlen.
2. See that new pane added to the left pane
3. Refresh browser and see that for about 1 second there's blank square instead of the plugin icon.

screen recording of my local Theia:
![ezgif com-video-to-gif](https://use

[2020-05-05 17:54] DoroNahari opened #7752 "Menu not collapsed when clicking on webviews"
### Bug Description:
Menu not collapsed when clicking on webviews

### Steps to Reproduce:

1. Open some webview.
2. Click on the 'file' top menu item
3. Click somewhere on the webview and see the the menu is not collapsed.

screen recording from my local Theia:
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/24614792/81098769-831b2900-8f12-11ea-94dd-7461a743e072.gif)

###

[2020-05-05 18:02] vince-fugnitto commented on #7752
@DoroNahari is it something you'd like to work on?

[2020-05-05 19:05] #7739 closed

[2020-05-06 01:10] 502647092 opened #7753 "rename TypeScript file error when open mulit theia window"
### Bug Description:

![github](https://user-images.githubusercontent.com/10203793/81130116-29017e80-8f79-11ea-8b13-2f2d7daea293.gif)

### Steps to Reproduce:

1. open first theia
2. open second theia
3. rename ts file
4. auto check import but have error change

### Additional Information

- Operating System: Windows
- Theia Version: next

[2020-05-06 02:24] elaihau commented on #6713
If there are no objections I will close this ticket in a day.

[2020-05-06 05:08] alex-gilin commented on #7178
We've introduced viewsWelcome contributed point in some custom extensions... Can you prioritize this task?

[2020-05-06 07:16] akosyakov commented on #7178
@alex-gilin There is not really "you"? There are different adopters contributing to this project. For now i am not sure there anyone has capacity for it. I've added to next dev meeting to raise it, but one should point out some interesting VS Code extensions to justify it for concrete adopter. PRs are also welcomed. Usually one study VS Code implementation for a reference and then port it to Theia

[2020-05-06 07:17] akosyakov commented on #7178
Supporting this would be interesting for better initial git and debug views.

[2020-05-06 07:21] akosyakov commented on #7752
I guess it is related to how phosphor deals with iframes. Maybe it does not care at all.

[2020-05-06 07:56] #2234 closed

[2020-05-06 07:56] #5027 closed

[2020-05-06 07:56] #7170 closed

[2020-05-06 08:24] akosyakov opened #7754 "allow to consume only subset of VS Code functionality"
The plugin system has to depend on everything to provide support of VS Code APIs. It makes it very hard to customize Theia, since one cannot remove unnecessary packages as before, but had to use DI and rebind unnecessary contributions with stub implementations. This problems gets very acute if do https://github.com/eclipse-theia/theia/issues/7100. A particular case is https://github.com/eclipse-th

[2020-05-06 09:11] akosyakov commented on #7734
I can reproduce it by opening another folder on the disk which I've never opened before:
![commig](https://user-images.githubusercontent.com/3082655/81160316-35420780-8f8a-11ea-8251-c9dcc31afd40.gif)

I've tested against https://github.com/eclipse-theia/theia/pull/7736

@westbury Can you have a look at it please? If not please let us know, that's quite critical to resolve.

[2020-05-06 09:29] hx8563 opened #7755 "weight not work in ViewContiner"
### Bug Description:
The weight property in WidgetOptions is expected to setting a default height for each ViewContainerPart sub-view, but it doesn't works.
For example, the debugger view is suppose to display each sub-vew with different height, with the predefined weight:

But it seems like all sub-vew has been displayed as same height:
<img width="386" alt="屏幕快照 2020-05-06 下午3 54 07" src="https:

[2020-05-06 09:45] akosyakov commented on #7755
That's certainly a bug, `weight` is never used by the implemetation.

[2020-05-06 09:49] kittaakos commented on #7755
I have to disagree; I started to work on that, and it was.

[2020-05-06 10:01] akosyakov commented on #7755
ok, i meant now i cannot find usages in the implementation.

[2020-05-06 10:10] kittaakos opened #7758 "Running yarn can result in a JavaScript heap out of memory error when compiling plugin-ext"
### Bug Description:

Running `yarn` fails.

[code]

### Steps to Reproduce:

1. Run  `yarn`
2.
3.

Workaround: I've seen this error several times locally, so here is the trick, do a `git clean`. (I always run it as `-ffxqd`.) I hope this hint helps others until we find the cause and the fix.

### Additional Information

- Operating System:
- Theia Version:

[2020-05-06 10:47] cortopy opened #7759 "Counter in the git widget (same as vscode)"
In vscode, there's a counter of the number of files changed in the git repository

![image](https://user-images.githubusercontent.com/8725825/81168456-ee0a4580-8f8e-11ea-9916-9790194e478c.png)

I personally find this counter particularly useful in day-to-day coding

### Feature Description:

The git widget in the sidebar displays the number of files that have changed since last commit

[2020-05-06 11:07] kittaakos commented on #7759
Same as #4782.

[2020-05-06 11:07] #7759 closed

[2020-05-06 12:10] akosyakov commented on #7758
Should we enforce `export NODE_OPTIONS=--max_old_space_size=4096` via npm scripts?

[2020-05-06 12:12] akosyakov commented on #6985
resolved with https://github.com/eclipse-theia/theia/pull/7105

[2020-05-06 12:12] #6985 closed

[2020-05-06 12:48] vince-fugnitto commented on #2780
Closing as the bug is no longer reproducible with the new user-interface:
- #7105

[2020-05-06 12:48] #2780 closed

[2020-05-06 12:50] vince-fugnitto commented on #3177
Closing as the bug is no longer reproducible with the new preferences user-interface: #7105 🍾

[2020-05-06 12:50] #3177 closed

[2020-05-06 12:52] vince-fugnitto commented on #3337
I could not reproduce the issue, the behavior is from monaco so I don't believe it would be easy or worthwhile to modify. I also believe that with the new preferences user-interface the problem does exist anymore anyways. Please re-open the issue if the issue persists.

[2020-05-06 12:52] #3337 closed

[2020-05-06 12:56] vince-fugnitto commented on #7354
Closing in favor of https://github.com/eclipse-theia/theia/issues/7744, the issue is now outdated after the recent preferences-ui update, and in fact the opposite use-case needs to be handled now (creating a custom browser menu).

[2020-05-06 12:56] #7354 closed

[2020-05-06 12:57] vince-fugnitto commented on #7328
It should now be possible to support the feature as the new preferences user-interface has been merged and includes a search.

[2020-05-06 13:02] lmcbout opened #7760 "preferences: add preference count for each category and subcategory"
#### Feature Description:

We should include the number (count) of preferences for each category and subcategory in the preferences-tree similarly to vscode. The following occurs when performing a **search**.

For example:

<div align='left'>

<img width="150" alt="Screen Shot 2020-05-06 at 9 21 18 AM" src="https://user-images.githubusercontent.com/40359487/81181796-f6f11c00-8f7a-11ea-8029-45c453f

[2020-05-06 13:55] kittaakos commented on #7758
Or we can close this and use it as a ref if someone else has similar issues. This problem happens when I switch branches (this time I added a new remote too) and rebuilding Theia.

[2020-05-06 13:55] #7758 closed

[2020-05-06 16:08] vince-fugnitto commented on #7748
I am still unable to reproduce the error, even with the updated steps.

[2020-05-06 20:32] XenfoMC opened #7763 "Cannot scroll "Keyboard Shortcuts" section on touch device"
### Feature Description:
Add more mobile support please. Stuff like right click substitute and the ability to scroll in the keyboard shortcuts section.

[2020-05-06 21:13] #7732 closed

[2020-05-06 22:47] owlJaeger commented on #7737
Seems like it isn't only related to the
[code]
error-message. When using the integrated terminal instead of the `npm scripts`-tasklauncher, no error-message is thrown on executing `npm start`. Creating a Terminal will give this error-message though:
[code]

I can't really find the error with this... I've written an simple application with `@theia/node-pty` and forked that script from another file.

[2020-05-07 03:02] #6713 closed

[2020-05-07 03:04] elaihau commented on #7631
If there are no objections I am going to close this one in a day.

[2020-05-07 06:25] akosyakov commented on #7763
@jankeromnes Is it related to ipad too?

[2020-05-07 07:09] #7751 closed

[2020-05-07 08:38] kittaakos opened #7767 "[electron] Enable `cut/copy/paste` context menu on `input` and `textarea`"
Right-click on an  `input` or `textArea`, nothing happens.

Refs:
 - https://github.com/electron/electron/issues/4068
 - https://github.com/microsoft/vscode/issues/1578

### Feature Description:

[2020-05-07 09:12] westbury commented on #7734
Thanks for the info.  I can now reproduce it.

[2020-05-07 12:10] danidoedel opened #7768 "preferences: hide shadow if preferences are not scrolled"
### Feature Description:

The marked shadow already appears even if the preferences are not scrolled at all:

![image](https://user-images.githubusercontent.com/10995998/81292516-0603c700-906c-11ea-9f50-965749727a6f.png)

In VS Code the shadow doesn't appear in that case:

![image](https://user-images.githubusercontent.com/10995998/81292543-1320b600-906c-11ea-8a31-8d8a43b9f375.png)

I guess it wou

[2020-05-07 12:22] jankeromnes commented on #7763
@XenfoMC Sure! We're trying to continuously improve Theia on mobile and touch devices.

For the most part, it's already quite usable, e.g. I find myself using gitpod.io from a mobile device more and more often.

In many places in Theia, when you long-press, it does a right click. Where exactly are you missing a right-click?

Now this is a more specific bug report, thank you.

Indeed, when I go to

[2020-05-07 12:26] jankeromnes commented on #7763
Just tried on iPad, the larger screen makes the section more usable (you can read the cell content), however you also can't scroll, so you have to search for specific bindings to reach them.

[2020-05-07 12:49] lmcbout opened #7770 "Preference view have different focus when there is another view panel visible"
### Bug Description:
While testing issue #7764 , I noticed the focus on the left side of the preferences panel is different when there is a bottom view panel . The highlight of the preferences does not change from one section to the others, the highlight is just removed. When there is another view panel, the highlight of the preferences on the left side panel changes.

### Steps to Reproduce:

1.

[2020-05-07 13:09] amiramw commented on #6877
@akosyakov do you know if there is any work on that issue currently or we can take it?

[2020-05-07 13:13] vince-fugnitto opened #7771 "firefox: application fails to load"
#### Bug Description:

The application fails to load on **firefox**.
The loading screen is displayed, and there is an error on startup:

<div align='center'>

<img width="1328" alt="Screen Shot 2020-05-07 at 9 10 21 AM" src="https://user-images.githubusercontent.com/40359487/81298454-cb396900-9042-11ea-8de2-ae927c688cca.png">

</div>

It would be good for others to confirm that it is broken as wel

[2020-05-07 13:15] vince-fugnitto commented on #6877
I don't think anyone is working on the issue, we'd be happy for you to take it @amiramw.

[2020-05-07 13:35] vince-fugnitto commented on #7770
@lmcbout I don't understand the bug, I don't see any issue.

[2020-05-07 13:36] lmcbout commented on #7770
Another interesting thing, if you search for "curs", scroll slowly and between "Editor/Goto Location" and "Editor/Suggest", there is a dead zone where there is no highlight at all on the left side of the preferences

[2020-05-07 13:37] colin-grant-work commented on #7770
Thanks for identifying this issue. I'm not sure I'm able to discern the problem from the screencasts. It looks like in the bottom cast, there's a moment when neither `Editor` nor `Suggest`, is that what is problematic? In the top cast, the scrolling pauses at that moment, so the highlight never moves to `Suggest`. There should be a highlighted / selected element at all times during the scroll, so

[2020-05-07 13:38] kittaakos commented on #7771
Confirmed.

![Screen Shot 2020-05-07 at 15 37 44](https://user-images.githubusercontent.com/1405703/81300976-bbd51280-9078-11ea-8d59-a9f752be6292.jpg)

[2020-05-07 13:40] kittaakos commented on #7771
I have seen this before, not all the browsers(?) allow positive lookahead groups for regexp, it's an ES7 thing (I am just guessing, though). I have seen lookahead groups commit recently, not sure where.

[2020-05-07 13:42] lmcbout commented on #7770
Yes the issue is between  "Editor/Goto Location" and "Editor/Suggest"  Just use "curs" in the search field and you should see it more easily

[2020-05-07 13:43] kittaakos commented on #7771
[Here](https://stackoverflow.com/questions/59488172/firefox-regex-syntaxerror-invalid-regexp-group), FF and IE does not support groups, I remember I had the same issue a year ago.

[2020-05-07 13:45] vince-fugnitto commented on #7771
@kittaakos this is what I could find that was added recently (following #7105):

https://github.com/eclipse-theia/theia/blob/7cf845b389780846bf727f6ef914d97b6f16d368/packages/preferences/src/browser/util/preference-tree-generator.ts#L72

https://github.com/eclipse-theia/theia/blob/7cf845b389780846bf727f6ef914d97b6f16d368/packages/preferences/src/browser/util/preference-tree-generator.ts#L103

I'll

[2020-05-07 13:46] colin-grant-work commented on #7770
👍 , I will look into the logic that implements the select-on-scroll to see why there's a gap there.

[2020-05-07 13:53] vince-fugnitto commented on #7771
I confirmed that a commit before the problem was not there, we will need to update the regular expressions.

[2020-05-07 13:54] kittaakos opened #7772 "[quick-open] Quick open groups are ignored when filtering with with fuzzy label"
### Bug Description:

If I build an array of quick open items with groups (including borders and labels) and let monaco filter the items with `fuzzyMatchLabel: { enableSeparateSubstringMatching: true }`, then group items might get filtered out and breaks the group logic.

![screencast 2020-05-07 15-48-10](https://user-images.githubusercontent.com/1405703/81302423-a234ca80-907a-11ea-8ff0-fe282e98c3

[2020-05-07 14:04] #7722 closed

[2020-05-07 15:05] lmcbout commented on #7748
@vince-fugnitto Itest with the latest commit and it happens 100% each time
Tested with  Chrome on UBUNTU
Steps to Reproduce:
1.Have JAVA dependencies available :
     tested with only the two plugins:
        redhat.java-0.59.1.vsix
         vscode-java-test.vsix  version 0.22.0 (This is the plugins generating the "RUN" | "DEBUG"
2. git clone git@github.com:ryanluker/vscode-coverage-gutters.git (

[2020-05-07 15:10] akosyakov commented on #7771
@vince-fugnitto Do you take care about it?

[2020-05-07 15:10] akosyakov commented on #7771
I wonder is there some es linting for regex that we use only syntax supported by all browsers.

[2020-05-07 15:30] #7770 closed

[2020-05-07 15:47] vince-fugnitto commented on #7748
@lmcbout
A couple of things:

tested with only the two plugins:
redhat.java-0.59.1.vsix
vscode-java-test.vsix version 0.22.0 (This is the plugins generating the "RUN" | "DEBUG"

Where are you getting your extensions? You referenced specific versions without providing any links, can you either update the comment to provide the extension links or provide your complete `package.json`?

This step is u

[2020-05-07 15:53] lmcbout commented on #7748
VERSION LINK:
"vscode-java-redhat": "https://open-vsx.org/api/redhat/java/0.59.1/file/redhat.java-0.59.1.vsix",
"vscode-java-test": "https://github.com/microsoft/vscode-java-test/releases/download/0.22.0/vscjava.vscode-java-test-0.22.0.vsix",

Just create a clean new workspace, to make sure there is no other side-effect from any other files/plugins

[2020-05-07 16:16] vince-fugnitto commented on #7748
@lmcbout your example is incomplete, **codelens** are provided by [vscode-java-debug](https://open-vsx.org/extension/vscjava/vscode-java-debug).
Please see:
- https://code.visualstudio.com/docs/java/java-debugging#_codelens
- [vscode-java-debug code](https://github.com/microsoft/vscode-java-debug/blob/b7f76caee4020825b6bd4df5d65c7598be63f3e1/src/debugCodeLensProvider.ts#L14-L15)

[2020-05-07 17:31] lmcbout commented on #7748
The functionality might be provided by java-debug, but even if the plugin is not installed, thbe "RUN" button shows and this PR show it not being refesh properly when you change the font size

[2020-05-07 18:17] #7771 closed

[2020-05-07 20:04] colin-grant-work commented on #7744
@vince-fugnitto , could you give a little more information here? Late in the process, we switched from using Phosphor's `Menu` directly to using Theia's `ContextMenuRenderer` - is this related to that change?

[2020-05-07 22:04] vince-fugnitto commented on #7744
@colin-grant-work I'm sorry, I made the mistake of thinking the dropdown was a context-menu, the fact that dropdowns are native in the browser is an issue across the framework: https://github.com/eclipse-theia/theia/issues/4673

[2020-05-07 22:04] #7744 closed

[2020-05-08 13:55] XenfoMC commented on #7763
Ok. If you could improve that bug it would be helpfull.

[2020-05-08 14:35] colin-grant-work commented on #6723
To what extent has this been addressed by #7105?

[2020-05-08 14:36] #7760 closed

[2020-05-08 15:50] lmcbout opened #7778 "Download:plugins does not refresh the plugins folder with the latest version"
### Bug Description:
Script:  **yarn download:plugins**
If there is already a plugin with the same name but a different version, the script WILL NOT download the new version, it will keep the old one. You need to remove the old version to allow the download script to kick in and download the newest version.
It only check for the name and does not check for the version (or sha) of the plugin

### S

[2020-05-08 15:51] #7295 closed

[2020-05-08 15:53] azatsarynnyy commented on #7697
We need a couple of more days to finalize our plans for May. So, I will come back next week with more accurate dates.

[2020-05-08 18:44] lmcbout opened #7779 "NPM scripts not available with builtin version 1.44.2"
### Bug Description:
When you upgrade the npm builtin version from version 1.39.1 to version 1.44.2, you don't see any npm scripts available in the NPM view.

An **error** is reported:
**NPM Scripts: r.Task2 is not a constructor**

- With builtin 1.39.1 NPM View shows the scripts
- With builtin 1.44.2 NPM view is empty

### Steps to Reproduce:

1. Change the builtin package for npm in your package

[2020-05-08 18:53] lmcbout opened #7780 "Markdown Language Features (built-in) version 1.44.2 report an error in Theia"
### Bug Description:
When you upgrade the Markdown Language Features (built-in)   version from version 1.39.1 to version 1.44.2, opening a README.md file does not show

An **error** is reported:
**failed: n.window.registerCustomEditorProvider is not a function.**

### Steps to Reproduce:

1. Update package,json with
FROM
"vscode-builtin-markdown-language-features": "https://open-vsx.org/api/vscode

[2020-05-08 19:03] vince-fugnitto commented on #7778
@lmcbout it is not meant to update the version, it verifies the `key` (identifier) and if it is already present then it doesn't attempt to re-download the extensions.

[2020-05-08 19:04] vince-fugnitto commented on #7778
If you want fresh extensions then you should delete the extensions present, and re-download.

[2020-05-08 19:07] vince-fugnitto commented on #7780
@lmcbout the API has been recently marked as final and is not yet supported: https://github.com/eclipse-theia/theia/issues/6636

[2020-05-08 19:07] lmcbout opened #7781 "Upgrade the built-in to use version 1.44.2"
### Bug Description:
Upgrade Theia with a new version of the built-ins
The upgrade will use the version 1.44.2 from open-vsx registry with the **exception** of two built-ins

**"vscode-builtin-markdown-language-features"** which still use version 1.39.1 see issue #7780
**"vscode-builtin-npm"** which still use version 1.39.1 see issue #7779

### Steps to Reproduce:

1.clean your build: git clean -f

[2020-05-08 19:13] vince-fugnitto commented on #7778
Misclick.

[2020-05-08 19:49] lmcbout commented on #7778
As discuss during the scrum meeting, there are two choices:
1 - We add a clean plugins and then download the new plugins each time we build
  this will always make sure we use the right plugins that are defined in package.json
2- The user has the responsability to clean himself the plugins folder before compiling when there are new plugins

[2020-05-08 19:51] vince-fugnitto commented on #7778
@lmcbout I think it's the user's responsibility to clean. If they have manually included plugins in the `plugins` folder, the fact that we do an auto-clean before running the script will cause them to lose the plugins they've added and will force them to re-add them manually again.

[2020-05-09 02:02] #7631 closed

[2020-05-09 17:52] elaihau opened #7785 "Task continues to run even if users press `ESC`"
### Bug Description:

Run a task that uses an input variable with the type of  "promptString"
When input prompt shows up, press `ESC`.
While the "run task" should be cancelled, the task still starts.

### Steps to Reproduce:

1. Defined an input variable with the type of "promptString" in tasks.json
2. Add a task that uses the input variable defined in Step 1
3. Start the task added in Step 2.
4.

[2020-05-10 20:42] XenfoMC commented on #7763
Hey @jankeromnes, I've been trying to long press but it is not showing a UI. Any tips?

[2020-05-11 06:45] akosyakov commented on #7778
this will always make sure we use the right plugins that are defined in package.json

I frequently replace particular VS Code extension with counterpart from sources. It would break my flow.

[2020-05-11 06:46] akosyakov commented on #6723
@colin-grant-work true, thanks!

[2020-05-11 06:46] #6723 closed

[2020-05-11 09:18] akosyakov commented on #4385
The file navigator is not bound as a singleton, but the explorer factory: https://github.com/eclipse-theia/theia/blob/942f57eb30ea3b3f23d7d6c42e837dd7fb9176c5/packages/navigator/src/browser/navigator-frontend-module.ts#L49-L55

The factory makes sure that unique instance is created. You can provide own factory which creates a new instance of the navigator. Please watch about widget identity: https

[2020-05-11 09:38] akosyakov commented on #2961
I think we should reconsider the process lifecycle: clients which are responsible to create process, should be responsible to unregister it or it can be unregistered if the client is gone unexpectedly. The process should not unregister itself.

It resolves the issue since the task system will know when the task process should be released without relying on timing.

[2020-05-11 12:38] akosyakov commented on #7661
That's still a proposed API: https://github.com/microsoft/vscode/issues/88309

[2020-05-11 13:13] mikael-desharnais opened #7788 "ConsoleLogger : need a way to output objects to console"
### Feature Description:
As it is today, console.log (and other console methods) are overriden and allow only the output of basic types because a cast to string occurs before using the original console.log

It would be a good idea to provide an additional method (for example console.raw) that bypasses this logic to be able to display properly objects.

Current logic :
![image](https://user-images.

[2020-05-11 13:16] mikael-desharnais commented on #7788
I just realized that only the first parameter is cast to string so I could do console.log("",{ an : "object" }) and that would still work fine.
I can close this issue
Sorry

[2020-05-11 13:16] #7788 closed

[2020-05-11 14:18] RDIL opened #7789 "Git fails to register deletion of new staged files"
## Bug Description

I'm going to do my best to explain this confusing bug.

Say you are in a git repository.

If you add a file called `file.txt`, head to the git tab, and then *stage it*, it switches to the staged section as expected.

However, if you delete this file, it disappears from the staged section - again, as expected.

But once you do commit, you will see that one pending change which w

[2020-05-11 14:27] XenfoMC opened #7790 "Right Click on iPad"
### Bug Description:
No right click.

### Additional Information
I was told that if you hold on something it acts as a right click. If this is true it is not working and it is a bug. If it is false can you please let me know how to right click on mobile devices. Thanks.

- Operating System: Latest iPadOS
- Theia Version: Latest

[2020-05-11 14:46] vince-fugnitto commented on #7790
@XenfoMC as mentioned in the following issue, it looks like long press should work:
- https://github.com/eclipse-theia/theia/issues/6322

[2020-05-11 14:47] vince-fugnitto commented on #7789
@RDIL do you mind confirming the same behavior in vscode?
Eventually support for `@theia/git` will be dropped in favor of `vscode-builtin-git` and `vscode-builtin-git-ui`.

[2020-05-11 15:02] akosyakov commented on #7789
@vince-fugnitto In Gitpod `@theia/git` is used.

[2020-05-11 15:04] vince-fugnitto commented on #7789
Yes I know, just wanted to confirm if it also an issue in vscode and with the builtins.
My reasoning was if it is a bug only with `@theia/git` and that it is a small corner case that the bug is not a big priority.