[2020-02-03 12:27] #6550 closed

[2020-02-03 13:14] davidwindell commented on #6896
@Anasshahidd21 this seems to happen only in the vendor folder. I think the logic needs to be changed so that when explicitly searching "in folder", it ignores any ignore rules?

[2020-02-03 13:16] #7034 closed

[2020-02-03 13:17] #7035 closed

[2020-02-03 13:45] thegecko commented on #5481
We can sanitize the scripts and share them to use as a base line. Do we have a contact at eclipse to access their build system?

[2020-02-03 13:54] benoitf commented on #5481
opening a bugzilla to get CI instance at https://ci.eclipse.org/theia ?

[2020-02-03 14:11] akosyakov commented on #6896
probably if you search in ignored folder only

[2020-02-03 14:19] davidwindell commented on #6896
Yeah, I think that's what it's doing and that should be changed?

[2020-02-03 15:09] marechal-p opened #7056 "core: building minimal app fails"
### Description

When building an application using only `@theia/core`, webpack fails with:

[code]

Not really sure why core depends on `vscode-languageserver-protocol` directly, but either:
- add this package as a peer-dependency.
- add this package as a dependency.
- remove this dependency from core?

@akosyakov ?

### Reproduction Steps

[code]

**OS and Theia version:** Windows 10 - Theia 0.1

[2020-02-03 15:17] vince-fugnitto commented on #7056
@marechal-p duplicate of https://github.com/eclipse-theia/theia/issues/6129? Maybe report your findings there.

[2020-02-03 15:18] chrisjj commented on #7047
@tsmaeder "could you answer me this: can Theia be operated using only the keyboard?"

No. Since posting I've concluded there's no way to engage menus using keyboard, except for special cases such as the editor context menu.

[2020-02-03 15:19] chrisjj commented on #7047
Is there some design document establishing that keyboard-operability is intended?

[2020-02-03 15:24] marechal-p commented on #7056
I guess mine is more up to date? In your issue it seems to fail at runtime, mine doesn't even fully builds.

[2020-02-03 15:27] marechal-p commented on #7056
If I manually add the missing package, it builds but then the browser app fails with:

[code]

[2020-02-03 15:27] vince-fugnitto commented on #7056
I still think we should only have a single issue reporting the problem and it should contain updates?
(easier to track and continue previous discussions)

[2020-02-03 15:28] vince-fugnitto commented on #7056
I'll close the original in favor of this one.

[2020-02-03 15:28] vince-fugnitto commented on #6129
Closing in favor of #7056.

[2020-02-03 15:28] #6129 closed

[2020-02-03 15:31] vince-fugnitto commented on #7056
As mentioned in the original issue, the `preferences` error is related to https://github.com/eclipse-theia/theia/issues/667

[2020-02-03 16:04] chrisjj commented on #5481
Thanks all.

[2020-02-03 16:32] kittaakos opened #7057 "[preferences] The preferences widget does not store/restore its layout between sessions"
### Description

Each time I open the preferences widget, it has the same default layout.

### Reproduction Steps

 1. Open the preferences widget.
 2. Grab the vertical split between the tree view and the editor, adjust it.
 3. Close the preferences widget.
 4. Open the preferences widget. The preferences widget uses the default layout, instead of the one I have configured in _step 2_. It would b

[2020-02-03 16:34] marcdumais-work commented on #6823
@NitinKhandelwal1947 thanks for providing the solution that resolved this issue for you.

[2020-02-03 16:34] #6823 closed

[2020-02-03 16:38] marechal-p commented on #7047
@chrisjj I don't think there is such a written requirement about the platform. But this is a collaborative project, each contributor is free to satisfy any of his own requirements as long as it benefits everyone and goes along the overall framework's goals. Keyboard operability seems like a beneficial thing to support, but maybe no-one prioritized this yet. Again: PRs are welcome.

If you are talk

[2020-02-03 16:41] kittaakos opened #7058 "[preferences] Adding a default preference value messes up the formatting in the JSON file"
### Description

Adding a default value from the tree viewer messes up the formatting in the JSON editor.
See the screencast.

![screencast 2020-02-03 17-38-51](https://user-images.githubusercontent.com/1405703/73671978-5bff5200-46ac-11ea-87e3-b449f0b17fd4.gif)

### Reproduction Steps

Add a default preference value.

**OS and Theia version:**

**Diagnostics:**

[2020-02-03 16:42] overhead525 commented on #7030
I tried to reproduce this and it seems that you can already discard modals with `Esc`

1. Click `File`
2. Click `Open Workspace...`
3. Press `Esc`

Result: Modal Disappears Successfully

If I'm wrong, I'd be happy to implement the solution, but I currently don't see a problem.

[2020-02-03 16:43] kittaakos opened #7059 "[preferences] Undo/redo is broken for the preferences"
### Description

When I try to undo after #7058, it does not work.
[code]

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-02-03 16:43] vince-fugnitto commented on #7058
I thought it was fixed as part of https://github.com/eclipse-theia/theia/pull/6736 :(

[2020-02-03 16:46] kittaakos commented on #7030
No, I have quickly verified it again with 86704a9ca and it is OK. I must have been blind. Thanks for looking into it, @overhead525.

[2020-02-03 16:46] #7030 closed

[2020-02-03 16:47] marechal-p commented on #667
Hm, my take on this is that the current design tried to dance around core actually trying to consume some kind of preference to be configured, but it conflicted with the fact that the implementation for preferences lives in `@theia/preferences`.

Core already does a lot of things, but required things. Why not having the model for preferences defined in core itself? It would make sense to have some

[2020-02-03 16:55] marcdumais-work commented on #6678
This or something similar seems to be happening frequently:

https://travis-ci.com/eclipse-theia/theia/jobs/282959906#L3780-L3783
https://travis-ci.com/eclipse-theia/theia/jobs/282977830#L3782-L3785

In these cases, it seems that `scripts/check-publish.js` hangs, potentially waiting for a response from npmjs.com. After 10 mins of no output, travis kills the build.

[2020-02-03 16:56] thegecko commented on #5481
https://bugs.eclipse.org/bugs/show_bug.cgi?id=559794

[2020-02-03 17:04] akosyakov commented on #7056
Why do we need lsp-types in core? Maybe it should go to @theia/languages?

[2020-02-03 17:07] akosyakov commented on #7056
Also Range should be imported from vscode-languageserver-types, not protocol. That should be enough to fix.

[2020-02-03 17:07] kittaakos commented on #6678
I had a similar issue and the fix was this: https://travis-ci.community/t/timeout-after-build-finished-and-succeeded/1336
But the problem occurred on Windows, do not know if it fixes the issue on Linux.

[2020-02-03 19:13] JonasHelming commented on #7032
PR is merged...

[2020-02-03 19:13] #7032 closed

[2020-02-03 23:27] danieltomasku commented on #6985
@lucas-koehler @akosyakov  Sounds good. We'll work on cleaning it up internally, then we should be able to have a PR up by Friday.

[2020-02-04 00:36] garethwhittaker commented on #6847
I can take a look at implementing this enhancement and provide an update later in the week.

[2020-02-04 01:54] chrisjj commented on #7047
Thanks.

So, if one contributor did add full keyboard operability, the fact the overall framework's goals does not include keyboard operability allows that to be undermined by subsequent contributions of mouse-only features. Right?

Normally on a Windows program, Alt+F shows the File menu with selected commands ordered and grouped by function. On Theia, you get the same from a mouse click. But on

[2020-02-04 03:37] marechal-p commented on #7047
Like Anton said "ideally" navigation should be as convenient as possible, this would include keyboard shortcuts, maybe. If you are an expert in shortcuts-design and wish to bring Theia's standard up, then you can implement your solution, and also document a way for other contributors to follow in order to properly build on top of it. In order to enforce this even more, one would have to carefully

[2020-02-04 07:28] akosyakov commented on #6847
that sound quite bad, @vince-fugnitto did you notice it as well. Does it mean that for toggle menu items we don't show a proper state anymore in menus?

[2020-02-04 07:28] akosyakov commented on #6985
@danieltomasku You can open it anyway and ask for the community help to clean up certain aspects.

[2020-02-04 07:30] akosyakov commented on #6678
It would be helpful to investigate what is wrong with the script. It does not seem to be helpful recently.

[2020-02-04 07:35] akosyakov commented on #667
I thought we already have model there. I'm going to rewrite preference provider to use monaco models to respect dirty editors and fix race conditions with current programmatic update of preference values. It should not go to core.

[2020-02-04 07:39] akosyakov commented on #667
But I like an idea to avoid requiring installation of preference extension. I think you mentioned some default in memory implementation once?

[2020-02-04 07:43] akosyakov commented on #7047
Please file an issue with it without the rest of noise.

[2020-02-04 07:45] akosyakov commented on #7057
I will have a look at it as a part of rewriting preference providers with text models.

[2020-02-04 07:46] akosyakov commented on #6896
I meant currently one cannot search in ignored folder, but we could suppress ignore filter if we detect that a search is started in such folder.

[2020-02-04 07:56] benoitf opened #7062 "Unable to build with yarn v2 (berry)"
### Description
The build of Theia is throwing errors when using `yarn@berry`

### Reproduction Steps

[code]

[code]

**OS and Theia version:**
macOS Catalina / theia master branch

most errors are around peer dependencies

[2020-02-04 08:13] akosyakov commented on #7062
@benoitf Cool that you are trying it out! Could we open an issue for yarn? I think they are looking into fixing backward compatibility issues or can help with figuring out what we are doing wrong.

I'm also not sure about migrating to yarn v2 yet, i've seen a lot of pushback since it breaks many projects. I would prefer that it goes mainstream first. If there is a setup though which works with yar

[2020-02-04 08:20] benoitf commented on #7062
@akosyakov yes it was more like chicken and egg problem about using new tool and waiting that the tool is working without trying.

about the current errors it may be linked to https://github.com/yarnpkg/berry/issues/587 and missing some explicit dependencies

[2020-02-04 10:05] davidwindell commented on #6896
That would be awesome!

[2020-02-04 10:23] akosyakov opened #7063 "support alt+* keys to operate menus"
For example alt+f should open a file menu and so on. We should align as usual with VS Code by default. It should be doable for browser target as well (i've checked that google drive can do it)

[2020-02-04 10:30] akosyakov commented on #7047
https://github.com/eclipse-theia/theia/issues/7063 - opened for it, do you have something else concrete to propose?

@marechal-p I would be fine to add to our review checklist add a check to review for proper keyboard accessibility. Could you file a PR?

[2020-02-04 10:40] voicis commented on #6895
Hi @akosyakov,

I see that some commits have already been made and that is great. Do you also have some estimates when this issue could be fixed?

Thanks!

[2020-02-04 12:03] vince-fugnitto commented on #7048
Closing in favor of tracking the issue at #5481

[2020-02-04 12:03] #7048 closed

[2020-02-04 12:14] vince-fugnitto opened #7064 "ci: build failure on windows during `@theia/git` unit test"
**Description**

There is a recent Windows CI failure for one of the unit tests present in the `@theia/git` extension.

https://github.com/eclipse-theia/theia/blob/cc0da4e69f8141122496c119bb72f4df46584e76/packages/git/src/node/dugite-git.spec.ts#L76-L92

**Examples:**
- https://travis-ci.com/eclipse-theia/theia/jobs/283368405#L7439-L7457
- https://travis-ci.com/eclipse-theia/theia/jobs/283176162#L

[2020-02-04 12:24] westbury commented on #2868
The URI problem on Windows was fixed by https://github.com/eclipse-theia/theia/pull/6316.  There is still another problem when using Windows and Electron that is covered by issue https://github.com/eclipse-theia/theia/issues/6846.

[2020-02-04 13:03] veredcon opened #7065 "showTextDocument is not compatible to vscode and assumes non zero-based range"
### Description
showTextDocument is not compatible to vscode and assumes non zero-based range

### Reproduction Steps
See: https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext/src/main/browser/documents-main.ts#L225
it converts to zero-based although TextDocumentShowOptions has selection with type Range with zero-based positions.
it is not compatible with vscode.

See the options

[2020-02-04 13:11] akosyakov commented on #7065
Yes, it looks like it should be +1 instead, since we use 1-based positions internally.

[2020-02-04 13:12] akosyakov commented on #7065
@veredcon PRs are welcomed! Feel free to send a PR, please check our contribution docs, there are certain criterias.

[2020-02-04 13:18] vince-fugnitto commented on #7064
The tests seem to pass locally on a Windows machine, not sure as to why the tests are failing suddenly at the moment.

[2020-02-04 13:21] kittaakos commented on #7064
Related? https://github.com/eclipse-theia/theia/issues/933

[2020-02-04 13:22] vince-fugnitto commented on #7064
Yes, it looks like it is possibly related to #933

[2020-02-04 14:06] akosyakov commented on #6895
@akosyakov this or next week, unfortunately busy with other issues right now

https://github.com/eclipse-theia/theia/pull/7055 possibly fixing it as well too, maybe someone review it this week

[2020-02-04 14:22] RDIL opened #7066 "Syntax highlighting fails to process an esnext feature"
Failing to process https://www.npmjs.com/package/@babel/plugin-proposal-nullish-coalescing-operator

It thinks the second `?` is a syntax error

[2020-02-04 14:23] marechal-p commented on #7066
What does "processing" mean here?

[2020-02-04 14:29] tsmaeder commented on #7063
Note that Firefox _does_ open the browser menu when pressing `Alt`. Overriding that behaviour might not be desired.

[2020-02-04 14:40] RDIL commented on #7066
Syntax highlighting, sorry for not clarifying.

[2020-02-04 14:43] RDIL commented on #7066
You can reproduce by trying to paste ```js
let config = {}

let mystring = config.somestringvalue ?? "default"
[code]

[2020-02-04 14:52] marcdumais-work commented on #5481
Just a quick mention that Travis CI meets this requirement of supporting CI for our 3 platforms. Not sure about The Foundation's CI infrastructure - I guess they'll let us know in the bugzilla above.

[2020-02-04 14:57] vince-fugnitto commented on #7066
The [**nulish coalescing operators**](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#nullish-coalescing) (`??`) are supported as a of `3.7.0`.

One must install 3.7 and configure it as the default typescript version when using the application.
At the moment `3.6.3` is used:

![image](https://user-images.githubusercontent.com/40359487/73755863-b04e1480-4734-11ea-9998

[2020-02-04 14:57] RDIL commented on #7066
How would I change it?

[2020-02-04 15:17] akosyakov commented on #7063
Yes, we will need to have what is the sensitive behaviour for different operating system and browsers. Windows for example highlights a letter which should be used together with Alt in the menu name, but Mac does not do it by default. Such things should be considered as well.

[2020-02-04 15:20] akosyakov commented on #7066
@RDIL You can configure typescript version in your package.json and then select to use it instead of bundled one.

[2020-02-04 15:23] RDIL commented on #7066
Okay, thanks!

[2020-02-04 15:23] #7066 closed

[2020-02-04 15:26] kittaakos opened #7067 "Cannot create a new file if the preferences widget is opened."
### Description

`File: New File` (command or keybinding) has no effect if the preferences widget is opened.

### Reproduction Steps

 - Open an empty workspace,
 - Open the preferences widget,
 - Execute the `File: New File` from the command palette, or with <kbd>Ctrl/Cmd</kbd>+<kbd>N</kbd>.
 - Nothing happens, no erros either.

It is just a guess, but we do not fall back to the workspace root UR

[2020-02-04 15:46] vince-fugnitto opened #7069 "documentation: add adopter, getting-started, tutorial, test documentation"
**Description**

As part of **Theia v1.0.0**, we should add a set of minimal documentation describing the following:
- adopter documentation
- getting-started
- tutorials
- writing tests

[2020-02-04 15:50] vince-fugnitto opened #7070 "documentation: update readme and roadmap"
**Description**

As part of **Theia v1.0.0**, the [roadmap](https://github.com/eclipse-theia/theia/blob/master/README.md#roadmap) present in the `readme` should be updated to reflect the project's goals and future plans.

[2020-02-04 15:57] vince-fugnitto opened #7071 "api: mark stable apis with the '@API' annotation"
**Description**

As part of **Theia v1.0.0**, the code should be updated to mark stable apis with the `@API` annotation. This annotation will help developers recognize stable apis, and if ever updated a version update will be required.

[2020-02-04 16:11] vince-fugnitto opened #7072 "registry: register 'open-vsx.org' and host a marketplace"
**Description**

The issue tracks the feature required for **Theia v1.0.0**, which is mainly to:
- [x] register `open-vsx.org`
- [x] host a markeplace

The issue should be closed **manually** since it is a feature which is not part of the repo per se.

[2020-02-04 16:14] marechal-p commented on #667
I remember you once said that one shouldn't use `@theia/filesystem` from the backend but directly use node's API. If we are to move at least the fetching of user-scoped preferences into `@theia/core`, I wonder if we can make some json-rpc service that would do the fs stuff on behalf of the frontend. Looking up something in the user home should be basic enough for core to do?

This makes me think t

[2020-02-04 16:14] vince-fugnitto opened #7073 "builtins: prepare ci job or script to push builtins to the registry"
**Description**

The goal is to be able to push **builtins** to the registry easily either by:
- creating a CI job
- automating the process through a script

In the long term this will make it easier to automate the publishing of builtins to the registry where they can be easily consumed.

Note: ATM it looks like we would be manually building/testing/curing builtins.  So manual publishing aided by

[2020-02-04 16:17] marechal-p commented on #667
I don't fully understand the motivation behind it, but does that requires to explicitly depend on monaco packages? Sure would be an issue in core, maybe just bring the interfaces into our source code?

Didn't know about this issue, sounds good to me.

[2020-02-04 16:17] vince-fugnitto opened #7074 "Reach out to VS Code extension developers about publishing to registry"
**Description**

The goal is to reach out to VS Code extension developers and propose changes in the form of pull-requests which will allow them to easily publish their extensions to the new registry along with the already existing VS Code marketplace.

Once such pull-requests are created, they can be shared to other extensions for similar changes.

[2020-02-04 16:36] marechal-p commented on #7056
Updating the import statement would fix it indeed, but should this file be moved to languages?

Right now it is used by filesystem, it would make it dependent on languages.

[2020-02-04 16:52] lmcbout opened #7076 "[electron] Electron not showing the active editor in the window title as in VScode"
### Description

Theia electron version does not show the active editor in the window title as in VSCode

### Reproduction Steps

Open a file in Theia
--> observe the window title, it does not show the active file editor
Open the same workspace with VSCode
--> Observe, the window title is upsdated including the active file editor

**OS and Theia version:**
OS: Ubuntu 18.04
Theia : latest commit cc

[2020-02-04 17:01] vince-fugnitto commented on #7076
I don't believe it is possible at the moment, but perhaps after #4869 (at least for electron)
I believe it is also a small enhancement, for instance the `browser` target also does not update based on the active file.

[2020-02-04 17:08] vince-fugnitto commented on #6847
I believe I mentioned in person that the menu should be dismissed if the quick-open is triggered.
I believe it is a similar behavior present in VS Code and will limit the problems we might encounter.

[2020-02-04 18:14] lmcbout opened #7078 "preview: 'open preview' does not work for editor-previews"
### Description
 Preview view not showing data in electron

### Reproduction Steps

Open a README.md file in electron
Open The same README.md with the preview view in electron
--> The data is not showing in the preview view

Open the same README.md file from VSCode with the preview view
--> The data shows in the preview editor view

**OS and Theia version:**
OS: Ubuntu 18.04
Theia: latest commit c

[2020-02-04 18:17] akosyakov commented on #667
Yes, I'm thinking to add `TextModelService` stub implementation in the core, but real implementation still with be in monaco with monaco editor text models. But I don't see how interfaces will help, now core won't work without monaco extension.

It can work only if a user always using the same machine, the same browser and the same origin (schema+port+host). If something changes user preferences a

[2020-02-04 18:18] vince-fugnitto commented on #7078
Possibly a duplicate of https://github.com/eclipse-theia/theia/issues/3579?
Such commands are not present or work correctly for `editor-preview` editors.

[2020-02-04 18:21] akosyakov commented on #7056
let's keep it as is

[2020-02-04 18:29] marechal-p commented on #667
I'm sorry, but could you explain why preferences need this? In my mind, core would provide basic infrastructure for preferences to work and for extensions to build on top of it (new providers/scopes). Monaco-specific things would be contributed from somewhere else than core.

True, could still be interesting to have a preference scope for storing things at this level, but not an hard requirement.

[2020-02-04 19:48] marechal-p opened #7079 "eslint: bring back no-implicit-dependencies rule"
### Description

When I migrated the rules from tslint to eslint, I did not find a `no-implicit-dependency` rule that could be configured the same way we used to have it on tslint.

Current rules I found to prevent implicit dependencies:

- [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import/blob/HEAD/docs/rules/no-extraneous-dependencies.md#options) but the options don't allo

[2020-02-04 19:48] marechal-p commented on #7079
cc @vince-fugnitto

[2020-02-04 19:49] marechal-p commented on #7079
Worst case scenario we could try to implement our own rule within the repo.

[2020-02-04 20:23] marcdumais-work commented on #5352
Is this the behavior in VS Code? I thought that problem markers created by a task were only removed when the task is run again (and then they are potentially re-created by the latest task run, if they are still applicable).

[2020-02-04 23:31] westbury opened #7081 "Test View menu item just shows blank view"
### Description

The plugin-ext package contibutes a Test menu item in the View menu.  This does nothing except show a completely blank view.

On investigating one can get something to show in this view.  First one has to install a plugin that contributes a view to the 'test' group (or call registerView in plugin-view-registry).  Then one has to right-click on a small area somewhere in the top lef

[2020-02-05 00:53] chrisjj commented on #7047
I'll take that as a Yes. Thanks.

I don;t have faith that keyboard operability would be maintained by "document a way for other contributors to follow in order to properly build on top of it". It would need a solid policy.

I don't believe that's any substitute for menus. Hence that so many programs have menus and so few have command palettes - including major Theia IDEs such as Arm Mbed Studio.

[2020-02-05 01:36] chrisjj opened #7082 "Suggestion: adopt a policy that protects against further deterioration of keyboard operability"
Theia needs to be operable by keyboard if it is to meet objectives set out by Sven [here](https://www.eclipse.org/community/eclipse_newsletter/2020/january/3.php e.g. offer the best of the desktop IDE world and "minimize the onboarding time and learning curve for developers migrating to the new IDE". (Almost all other Windows IDEs are fully keyboard operable.)

Theia's keyboard operability is curr

[2020-02-05 01:36] chrisjj commented on #7047
I see you did so. Thanks.

[2020-02-05 01:37] chrisjj commented on #7047
See https://github.com/eclipse-theia/theia/issues/7082 .

[2020-02-05 01:45] vince-fugnitto commented on #7047
I fail to see the point here. The framework permits downstream applications for benefitting from both **menus** and the **command-palette** (popularized in vscode) in order to perform operations. The **command-palette** is not a replacement for menus but it is another manner in which commands (especially recently used ones) can be easily triggered.

The goal is to make menus more easily accessible

[2020-02-05 03:09] elaihau commented on #5352
@marcdumais-work

I would say the answer is "depends".

This is how vscode behaves regarding the "eslint problems" found by the problem matcher "$eslint-stylish". As you can see, I can double click the markers in the problems view to open the problematic line in the editor. And the problem marker gets removed after the editor is closed even if the problem is not fixed.

![Peek 2020-02-04 21-53](ht

[2020-02-05 05:52] akosyakov commented on #7081
It should appear only when some extension explicitly contributes a view to it and show it. Otherwise it is a bug. One has to check maybe it is python extensions is too eager.

[2020-02-05 05:58] akosyakov commented on #667
Currently we mutate preferences directly on the disk, if a user has a preference file opened with dirty changes we miss it. It is bogus, we should read from a dirty editor model and update it as well. It’s a first problem. Second that vscode extensions are sending many concurrent preference updates leading to different file stats and conflicts. With monaco models updates will be applied one after

[2020-02-05 05:59] akosyakov commented on #667
It will have the same issues as current implementation as race conditions. It is solvable but it does not worth it if no one really using it in such configuration.

[2020-02-05 06:02] akosyakov commented on #7076
It is not fix, we have quite different concept of what is active compare to VS Code.

[2020-02-05 09:38] Johannes-B-stock commented on #7040
It looks like we might have the same issue. In the DevTool it shows that instead of looking for the icons in the plugins folder, the extensionContext path leads to a asar-packed path which cant be resolved.
The path looks something like app.asar/lib/hostedPlugin/plugin-name/*

[2020-02-05 11:52] 502647092 opened #7083 "[webview] because it violates the following Content Security Policy directive: "script-src vscode-resource: 'nonce-JfIzlyXyDil0jxipMkkmeQ6CwO4wrl3B'"."
### Description

[code]

### Reproduction Steps

- install plugin `https://marketplace.visualstudio.com/items?itemName=mhutchie.git-graph`
- open git view

**OS and Theia version:**
Windows 10
Chrome 79.0.3945.117
Theia 0.16.0-next.b74b53ad

**Diagnostics:**

[code]

[2020-02-05 12:00] thegecko commented on #5481
Excellent, I just need a volunteer with travis foo :)

[2020-02-05 12:23] marcdumais-work commented on #5481
A few of us have played with Travis and can help.

When we talk about "vanilla Theia", do we mean the Electron Example application from the main repo, e.g. built and packaged nightly?

We have [this example electron app](https://github.com/theia-ide/theia-apps/tree/master/theia-electron) that can already generate native packages for our 3 platforms (manually for now, not included in repo's CI). Th

[2020-02-05 13:09] AlexTugarev opened #7084 "Plugin Host swallows `PREFIX_THEIA_SUFFIX` Env Vars"
If it's not doing any harm I propose to change the regex for filtering of Env Var to be passed on to the plugin host to mach for `^THEIA_` instead fo `THEIA_`, cf.

https://github.com/eclipse-theia/theia/blob/a0e1fd2c39d3d0b97b7eb2c71b14096609d0c230/packages/core/src/node/messaging/ipc-protocol.ts#L48

The use case is the debug console where we miss some of the Env Vars.

[2020-02-05 13:09] AlexTugarev commented on #7084
@akosyakov and @tolusha, what do you think about this?

[2020-02-05 13:26] arekzaluski commented on #5481
Yes. https://github.com/theia-ide/theia-apps/blob/master/theia-electron/electron-builder.yml is a really good start. After 1.0.0 it may be worth adding more improvements. For example:
- Enabling Asar (It will require few changes in Theia code. Quite important to reduce the disk size and installation time of Theia)
- Updating electron-builder version (There are few known issues in newer versions th

[2020-02-05 13:27] vince-fugnitto commented on #7083
@502647092 I believe you must set up secure webviews:
Taken from the changelog:

Security: vscode.previewHTML is removed, see https://code.visualstudio.com/updates/v1_33#_removing-the-vscodepreviewhtml-command
Security: Before all webviews were deployed on the same origin allowing them to break out and manipulate shared data as cookies, local storage or even start service workers for the main wind

[2020-02-05 13:28] vince-fugnitto commented on #7083
Also, I believe it is a duplicate of https://github.com/eclipse-theia/theia/issues/6749

[2020-02-05 13:37] chrisjj commented on #7047
I'd taken you to be suggesting otherwise in your answer to my

that being

Thanks for the clarification.

That statement would be useful if they were accessible at all using a keyboard, but since they are not,. I suggest "The goal is to make menus accessible by keyboard.

So do I. Just that I don't think that value is of any relevance to menus, except as a temporary workaround.

I brought up Arm M

[2020-02-05 14:11] vince-fugnitto commented on #7076
@lmcbout I've removed the `electron` label since the enhancement is not specific to electron (the browser target also does not display the active editor). As Anton mentioned, our concept of **active** is quite different and due to limitations it might not be easy to update the title.

I see the enhancement as a low-priority if we ever do decide to work on it.

[2020-02-05 14:28] marcdumais-work commented on #5481
There will be some preliminary tasks before we get to the CI/Travis aspect:
- for each of our supported platforms, chose which packaging(s) we want. Note: For Linux there are packagings that are distro-specific (e.g. .deb, .rpm) and one that's generic (AppImage).
- for each wanted packaging, ideally find a public registry where we can push the Theia app, once packaged. e.g. for Docker images, we u

[2020-02-05 14:43] lmcbout commented on #7076
Low enhancement priority is fine with me
Thanks

[2020-02-05 15:05] benoitf commented on #7084
I think it was the original intent/idea

[2020-02-05 15:24] #7064 closed

[2020-02-05 15:50] #7084 closed

[2020-02-05 16:01] vince-fugnitto commented on #7083
Closing since it is a duplicate of #6749, if it is not the case feel free to re-open the issue :)
As always, thank you for reporting problems!

[2020-02-05 16:01] #7083 closed

[2020-02-05 16:09] vince-fugnitto opened #7088 "document: add guide on how to perform license checks for vscode extensions"
**Description**

As an initial step of #6926, we should add documentation on how to perform **license checks** for **vscode extensions**. It is not sufficient that we strictly verify the license present for a vscode extension as the Eclipse Foundation requests that a more thorough investigation is necessary.

We must be sure to verify that the extension itself, along with any of it's dependencies

[2020-02-05 16:14] marcdumais-work commented on #7088
This could for example take the form of updating the [wiki page about CQs / IP checks](https://github.com/eclipse-theia/theia/wiki/Registering-CQs) so that we have one unified process that takes into account the runtime npm dependencies listed in the project's `yarn.lock` as well as the VS Code extensions (builtins, extra extensions used in example apps) that are not reflected in `yarn.lock`.

[2020-02-05 16:22] 502647092 commented on #7083
this problem is at Chrome not Eege
I can use webview at theia
![image](https://user-images.githubusercontent.com/10203793/73860488-9583b900-4876-11ea-8d4e-24583493c56f.png)
but can't use this plugin
![image](https://user-images.githubusercontent.com/10203793/73860529-a6342f00-4876-11ea-8aaa-e257f12ae516.png)
![image](https://user-images.githubusercontent.com/10203793/73860573-b2b88780-4876-11ea-8d

[2020-02-05 16:28] vince-fugnitto commented on #7083
Please see discussions about using secure webviews: https://code.visualstudio.com/api/extension-guides/webview#content-security-policy @akosyakov perhaps you have further information?

[2020-02-05 17:05] #6990 closed

[2020-02-05 17:05] #7010 closed

[2020-02-05 17:38] #6968 closed

[2020-02-05 17:39] vince-fugnitto commented on #7051
Closed by #7060.

[2020-02-05 17:39] #7051 closed

[2020-02-05 18:13] marcdumais-work commented on #5352
Thanks @elaihau

Looking into tangentially related VS Code issues (see below), I think that having task-generated problems automatically cleared from the IDE, after being fixed, can only practically happen for special cases (e.g. task that runs a watcher, that will react to code changes, recompile the file and send a fresh set of diagnostics to the IDE).

TL;DR I do not see a generic way for a tas

[2020-02-05 18:22] #7026 closed

[2020-02-05 19:00] tetchel opened #7090 "multiline InputBox prompts"
### Description
InputBox prompts can only be one line in length, then they get cut off with an ellipse. Multiline prompts are supported in VS Code and should be in Theia, too.

In Theia:
![image](https://user-images.githubusercontent.com/8888438/73873633-ef0cc900-481f-11ea-99b1-4dc593a4011b.png)

In VS Code:
![image](https://user-images.githubusercontent.com/8888438/73873644-f338e680-481f-11ea-8e7

[2020-02-05 19:45] vince-fugnitto commented on #7090
@tetchel thank you for the issue, is it something you'd like to work on? :)

[2020-02-05 21:31] havogt commented on #5968
I probably encountered this bug with a gitpod setup. I didn't want to enforce `.theia/settings.json` for the non-gitpod users, so I decided to put the `.theia` folder in a subdirectory and create a symlink on gitpod init. The effect is that in the debug view, the launch selector doesn't get updated if a new configuration is added to the launch.json file.
Here is an example setup to reproduce: http

[2020-02-06 00:53] justinang1 commented on #7026
Thank you for looking into this and fixing it @garethwhittaker !

[2020-02-06 01:35] nisarhassan12 commented on #7090
I would like to give it a try :slightly_smiling_face:

[2020-02-06 02:25] Hanksha commented on #6891
Got something working.
![Screen Shot 2020-02-06 at 10 24 58 AM](https://user-images.githubusercontent.com/6960133/73900509-fb9a2b80-48ca-11ea-8eb1-0881f87e41ac.png)

[2020-02-06 06:02] akosyakov commented on #7047
cc @thegecko @westbury just in case if you did not follow this discussion

[2020-02-06 06:09] akosyakov commented on #7082
@chrisjj thanks for all feedback, generally we test keyboard accessibility, i think menu support was really overlooked because most of rely on the command palette. We will fix it as the some point, or you can send a PR if it is super critical for you right now.

We could add check for keyboard accessibility explicitly in https://github.com/eclipse-theia/theia/blob/master/doc/pull-requests.md#revie

[2020-02-06 06:12] akosyakov commented on #7083
It could be that some vscode extension has not be rewritten to work remotely. Please file a new issue please that we don't continue discussion on the closed issue.

[2020-02-06 06:22] akosyakov commented on #7079
If we remove whitelisting how much duplication it causes, can we somehow catch duplicate versions?

[2020-02-06 08:47] thegecko commented on #7047
Thanks @akosyakov we are aware of this issue.

[2020-02-06 10:01] tsiyona opened #7092 "Failed to start Java language server: Message could not be parsed"
### Description

Hi, I am trying to add java language server extension to Theia version 0.11.0
Yet, it seems that the language server is not started/connected-to properly.
It looks like Theia is not recognizing the used language.

Can anyone help please?

### Reproduction Steps

I added in theia/examples/browser/package.json an entry for the Java lang server:
 "dependencies": {
 ...
 "@theia/java"

[2020-02-06 10:24] akosyakov commented on #7092
Please use vscode java extension, Theia extension is deprecated and will be removed next months.

[2020-02-06 10:52] tsiyona commented on #7092
redhat.java ?

[2020-02-06 11:11] akosyakov commented on #7092
@tsiyona yes, look at root package how plugins can be installed

[2020-02-06 11:11] akosyakov commented on #7092
Also this image can help: https://github.com/theia-ide/theia-apps/tree/master/theia-java-docker

[2020-02-06 13:23] chrisjj commented on #7082
I suggested specifically [keyboard operability](https://www.w3.org/TR/WCAG20/#operable), because I think keyboard _accessibility_ is probably out of reach for a project like Theia.

Sad to hear. As I said, I think Theia really does need a policy that protects against further deterioration.

[2020-02-06 13:32] marechal-p commented on #7079
We could use peer dependencies, it should mitigate with duplication.

[2020-02-06 14:03] tsiyona commented on #7092
Do you mean I should add to my top-most package.json the following (after "dependencies"):

  "theiaPluginsDir": "plugins",
  "theiaPlugins": {
    "vscode-java-redhat": "https://github.com/redhat-developer/vscode-java/releases/download/v0.54.2/redhat.java-0.54.2.vsix"
  },

[2020-02-06 14:21] vince-fugnitto commented on #7092
@tsiyona have you called the script `download:plugins`?

For example:
https://github.com/eclipse-theia/theia/blob/5034fbe0e64959722027df517f42ce5d443d0f9f/package.json#L45

[2020-02-06 15:35] akosyakov commented on #7079
But it will break the end product if a version does not match with core? I meant to check that we have exactly the same versions across the repo.

Actually @kittaakos built something like that https://github.com/eclipse-theia/theia/blob/d54c2f0d7307ef504e9c46e490f4ebd0ac06ef51/package.json#L48. So maybe we just check it more regularly or fail a build if there are different versions in some package

[2020-02-06 15:54] DoroNahari opened #7094 "No syntax highlights for any language"
### Description

No syntax highlights for any language.

### Reproduction Steps

Create any code file and write some code. no syntax highlights for it.

I run Theia localhost. on Gitpod it is working. I think this is since https://github.com/eclipse-theia/theia/pull/6883
**OS and Theia version:**

**Diagnostics:**

[2020-02-06 16:11] ishche opened #7095 "Debugging toolbar disabled after start of debug"
### Description

After a start of a debugging session, all buttons but restart are disabled.
In Theia 13 version it worked.

### Reproduction Steps

n/a. Debugging prerequisites are not publicly available.

**OS and Theia version:**
Theia  from the master branch (d54c2f0d7307ef504e9c46e490f4ebd0ac06ef51)

**Diagnostics:**
DAP log:
[code]

Theia logs:
[code]

[2020-02-06 16:25] vince-fugnitto commented on #7094
@DoroNahari can you please provide additional information, I've tested against `master` d54c2f0
and it works correctly for both the `browser` and `electron` example applications.

<img width="1155" alt="Screen Shot 2020-02-06 at 11 23 12 AM" src="https://user-images.githubusercontent.com/40359487/73956707-559eef00-48d3-11ea-9e03-567220fcd007.png">
<img width="1153" alt="Screen Shot 2020-02-06 at 1

[2020-02-06 16:33] akosyakov commented on #7095
@ishche is there a way to reproduce from sources?

[2020-02-06 17:03] GolemSky commented on #6974
5639afb

[2020-02-06 17:09] vince-fugnitto commented on #6974
@GolemSky do you mind elaborating?

[2020-02-06 19:35] JPinkney opened #7097 "Language features fail to activate when file is opened from a link in markdown"
### Description

On master if you open a file that has language features (yaml, java, etc) from a link in a markdown file the language features will not be activated.

### Reproduction Steps

If you have a markdown file such as:

[code]
with test.yaml and test.java inside of your workspace and vscode-yaml and vscode-java as your plugins, when you open the markdown preview and click on either of th

[2020-02-06 21:09] chrisjj commented on #7082
@akosyakov, why did you remove the proposal label?

[2020-02-06 21:36] garethwhittaker commented on #6847
Hi there,

I've now spent some time looking around the menu and command palette related code.
The command palette keybindings and action are defined in `QuickCommandFrontendContribution`.

[quick-command-contribution.ts](https://github.com/eclipse-theia/theia/blob/master/packages/core/src/browser/quick-open/quick-command-contribution.ts#L40-L43)
[code]

I'm not sure if modifying the action is actu

[2020-02-06 22:10] chrisjj opened #7099 "Undo can fail to restore previous text"
On Windows 7.

1 In a new file type `int bob`
2 Press Ctrl+Shift+LeftArrow, selecting `bob`
3 Type `jim`
4 Press Ctrl+Z to Undo

Expected: `int bob`
Observed: `int`

Workaround: at 2, instead press Press Shift+LeftArrow thrice.

[Same in VS Code](https://github.com/microsoft/vscode/issues/90168), FWIW.

Note: github's manky rendering has extended the code background region looking almost as if a s

[2020-02-06 22:34] vince-fugnitto commented on #7099
@chrisjj are you able to reproduce the issue on the [monaco-playground](https://microsoft.github.io/monaco-editor/playground.html)? If so, the issue is caused by the [monaco-editor](https://github.com/microsoft/monaco-editor) and an issue should be opened there (vscode created and uses the monaco editor as well).

[2020-02-06 22:40] chrisjj commented on #7099
Yes.

Meaning this issue should not be reported here?

[2020-02-06 22:43] vince-fugnitto commented on #7099
Correct, there's nothing that I know of to resolve the issue on our end (since it is the behavior originates from the `monaco-editor`). I believe the fix should exist in the upstream repo so that others can benefit from the same change including VS Code.

[2020-02-06 22:45] chrisjj commented on #7099
That requires a user experiencing an issue to determine what part of Theia's code was the cause, before reporting, right?

[2020-02-06 22:49] vince-fugnitto commented on #7099
I always welcome reports from devs and users :) After some investigation, we determined the root cause for the issue was and now best we can address it. At this time, I believe an issue should be opened on the [monaco-editor](https://github.com/microsoft/monaco-editor) repo so they are aware of the improvement and downstream projects such as ours and VS Code can benefit from it.

[2020-02-06 23:09] chrisjj commented on #7099
Yet this issue should not be reported here??

[2020-02-06 23:16] vince-fugnitto commented on #7099
It is fine that you initially opened the issue here, but after further investigation it looks like it is better suited at `monaco-editor` since it is an improvement to be made on their end. Opening an issue in `monaco-editor` so they are aware of the problem would be the best course of action.

[2020-02-06 23:29] chrisjj commented on #7099
OK, so I take it "Meaning this issue should not be reported here?" is answered Incorrect. Thanks.

[2020-02-06 23:34] vince-fugnitto commented on #7099
No problem, I must have misinterpreted the question to be "this issue should not be fixed here?".

[2020-02-06 23:38] vince-fugnitto commented on #7099
I manually `hid` the discussions so we can keep the issue on topic and focused.
Thank you for reporting the improvement @chrisjj, the next step as mentioned is to track it through an issue in `monaco-editor`.

[2020-02-07 00:13] chrisjj commented on #7099
If that is how a Theia dev chooses to address this, fine.

[2020-02-07 00:25] vince-fugnitto commented on #7099
Not sure what you meant by that, but I figured since you opened both an issue here and in VS Code you’d like to be the one to open it in the upstream repo of `monaco-editor`.

[2020-02-07 00:46] chrisjj commented on #7099
No, I wouldn't. I'm not  a user of monaco-edit and have no interest in following internal #includes.

[2020-02-07 00:58] vince-fugnitto commented on #7099
Suit yourself.
It looks like your original [issue](https://github.com/microsoft/vscode/issues/90168) is sufficient to track the issue according to the [issue template](https://github.com/microsoft/monaco-editor/blame/master/.github/ISSUE_TEMPLATE/bug_report.md#L10) in `monaco-editor`.

[2020-02-07 06:12] akosyakov commented on #7082
@chrisjj proposal means whether we should consider doing it at all. If there is not such label it means that one can work on it.

[2020-02-07 06:26] akosyakov commented on #7097
It works for me for both extensions. I've tested from sources with:
[test](packages/core/src/browser/index.ts)

[2020-02-07 08:31] akosyakov commented on #7038
I think we should back to the file icon which comes together with core, i.e. from `File Icons (Theia)`.

[2020-02-07 09:39] akosyakov opened #7100 "remove dependency to monaco-languageclient"
Right now it is quire hard to catch up with Monaco because we have to upgrade monaco-languageclient each time and make sure that translation between vscode api and lsp works in the browser context as well as vscode-languageclient (which actually written for Node.js).

Since we have possibility to run language servers as part of vscode extensions. I suggest that we simplify and get rid of monaco-la

[2020-02-07 10:09] akosyakov commented on #7100
Added to next dev meeting.

[2020-02-07 10:09] spoenemann commented on #7100
We should make sure we have a clear story for packaging VS Code extensions with Theia Electron apps first. AFAIK this has not been properly tested yet.

[2020-02-07 10:10] akosyakov commented on #7100
@spoenemann there is a PR for theia-apps already for it: https://github.com/theia-ide/theia-apps/pull/299

[2020-02-07 10:14] spoenemann commented on #7100
Just because it works with the example app by running `yarn start` does not mean it will automatically work after running `electron-builder`. That's what I mean by "not properly tested yet".

[2020-02-07 10:16] akosyakov commented on #7100
@spoenemann it should be a goal of https://github.com/theia-ide/theia-apps/pull/299 cc @marechal-p

[2020-02-07 10:34] chrisjj commented on #7082
Thanks. Note: that's not said on the description of the proposal label or any where else I could see.

[2020-02-07 14:41] AlexTugarev opened #7102 "Dirty editor ignores when file was changed in background"
1. Open the same file in two frontends
2. Modify in both frontends
3. Save in first frontend
4. Than save in second frontend
   Observer no alert is shown.

Expectation: there used to be a warning message which led you decide which state to chose IIRC.

I set a breakpoint in `MonacoEditorModel.sync` and saw that there is indeed an incoming call on a file change event, but nothing happen then.

Lik

[2020-02-07 14:41] AlexTugarev commented on #7102
cc. @akosyakov

[2020-02-07 15:46] kittaakos opened #7103 "As an extension developer I want unregister tab-bar toolbar contributions"
### Description

Similarly to the menu and the command registry, I want to unregister things in a downstream project.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-02-07 16:33] ishche commented on #7095
I find the problem. It was in our debug adapter. It never answers on "setExceptionBreakpoints" request so DebugSession.initialized was always false.
Sorry for disturbing.

[2020-02-07 16:33] #7095 closed

[2020-02-07 16:33] marechal-p commented on #7100
@spoenemann @akosyakov I only tested that plugins worked when bundled as an AppImage on Ubuntu. I would need help from people on other platforms to check if it works there too.

[2020-02-07 17:01] akosyakov opened #7104 "refactor recent commands to be pointers"
Currently recent commands keep actual commands, instead they just should be pointers, ids of commands. Otherwise when command is removed recent commands are still keeping the actual command.

[2020-02-07 18:19] marcdumais-work commented on #6985
@lucas-koehler @akosyakov  the PR, promised by @danieltomasku, has been created: https://github.com/eclipse-theia/theia/pull/7105 . Please have a look and give feedback.

[2020-02-07 20:00] marcdumais-work commented on #7100
@akosyakov I assume this proposal also impacts debug extensions the same way? Do Theia plugins already have the ability to run language extensions without our version of monaco-languageclient?

[2020-02-07 20:59] neocamel opened #7106 "Require password to access Theia in browser?"
### Description
Forgive me if I'm being dense or missing something obvious. I'm a bit of a noob.

I have Theia working correctly on my remote VPS, and once I start the process, I can access the Theia IDE by going to MY.VPS.IP.NUM:8181

But there's not login or anything required, and it's not an https connection. Does that mean that anyone who knows to visit MY.VPS.IP.NUM:8181 would have access to

[2020-02-07 21:54] vince-fugnitto commented on #7106
Taking you for taking an interest in the framework @neocamel :)

While I'm no expert on this matter, I can offer you some guidance.
Theia in fact does also support `https` (https://github.com/eclipse-theia/theia/pull/960).

The framework does not provide any authentication methods by default, and something
like a `login` system would need to implemented by the application which uses Theia.

You ca

[2020-02-08 03:28] akosyakov commented on #7100
@marcdumais-work debugging and plugin system don’t depend on monaco-languageclient if there is some code reuse we will move it to this repo. I don’t expect much.

[2020-02-08 13:28] kittaakos opened #7107 "Error when executing notification action from a vscode theme extension"
### Description

Steps to reproduce:
 - install the vscode material theme: https://github.com/material-theme/vsc-material-theme/releases/download/v30.0/vsc-material-theme-30.0.0.vsix
 - start the app,
 - sometimes, I can see a notification: _Materail Theme was updated. Check the release notes for more details_. (It would be great to know why it thinks there was an update; I am using the latest.)
<

[2020-02-08 13:57] kittaakos commented on #7107
It's from the extension, it tries to behave differently on the first start:
https://github.com/material-theme/vsc-material-theme/blob/88c079e7c2137a09fde677aab54823f72bd767ea/src/core/extension-manager.ts#L87

It tries to get a config file [from the extension folder](https://github.com/material-theme/vsc-material-theme/blob/88c079e7c2137a09fde677aab54823f72bd767ea/src/core/extension-manager.ts#L73

[2020-02-08 20:03] neocamel commented on #7106
Thanks for the info and the links. After reviewing the links you provided, it looks like using Nginx to set up a reverse proxy is probably the best solution. That said, I'm new to nginx and I'm not very strong with the work of dns and domains either. To think out loud, would the process be something like:

Nginx (once installed and configured) will watch for incoming connections to the server on a

[2020-02-08 21:51] squidwarddab1111 commented on #4252
@akosyakov do you mean implementing this through an extension?

 Override the CommandContribution in the contribution.ts and bind it in the frontend-module.ts?

[2020-02-09 06:27] akosyakov opened #7109 "plugin tree rows are bogusly rendered"
Some recent PR, broke plugin tree rendering, rows are not rendered inline anymore
<img width="1904" alt="Screenshot 2020-02-09 at 07 25 26" src="https://user-images.githubusercontent.com/3082655/74097556-7fdbf100-4b0d-11ea-9c27-f7b8c934fb47.png">

@vince-fugnitto Do you remember which PR? Could we revert it? It is quite bad now. I think it was about missing ellipses in some trees, but it broke mor

[2020-02-09 08:38] akosyakov commented on #4252
@squidwarddab1111 yes, your extension should provide a class implementing this interface and bind it in the extension frontend module

[2020-02-09 14:32] #7094 closed

[2020-02-09 15:56] vince-fugnitto commented on #7109
@akosyakov I haven’t tried but perhaps you meant this pull-request?

https://github.com/eclipse-theia/theia/pull/6939

[2020-02-09 16:52] akosyakov commented on #7109
yes, it looks like space is missing in `.theia-tree-view.theia-TreeNodeSegment`. 🙈

[2020-02-09 16:54] akosyakov commented on #6845
I had to fix tests yet, but could someone try please whether you can reproduce it with https://github.com/eclipse-theia/theia/pull/7110?

[2020-02-09 16:54] akosyakov commented on #6786
It should be fixed with https://github.com/eclipse-theia/theia/pull/7110. @vince-fugnitto could you try?

[2020-02-09 22:44] elaihau commented on #6713
I am currently working on `presentation.panel`, trying to reuse terminal widget(s) across tasks. This is most recent progress I made:

![Peek 2020-02-04 21-58](https://user-images.githubusercontent.com/37082801/74111585-d3792980-4b63-11ea-9200-d7ca1ef2b068.gif)

[2020-02-10 01:22] tom-shan opened #7111 "can't activate vscode python plugin when opening an ipynb file"
### Description
The vscode python plugin is not activated when an ipynb file is opened, so the notbook editor is not showing. Only when a python file is opened first and vscode python plugin is activated successfully, the ipynb file can be opened in notebook editor.

### Reproduction Steps

![image](https://user-images.githubusercontent.com/7686800/74114256-f6e3b900-4be3-11ea-823a-178cf3ba0ea2.png

[2020-02-10 01:28] vince-fugnitto commented on #7111
@tom-shan does the plugin activate correctly in vscode when first opening a `.ipynb` file?

[2020-02-10 01:46] tom-shan commented on #7111
yes, it activate correctly

[2020-02-10 08:08] kittaakos opened #7113 "Error: kill ESRCH when starting, restarting frontend app with the go and yaml VS Code LS extension"
### Description

I can see occasional `kill ERSCH` error when running (start/restart) Theia with the `go` and `yaml` VS Code LS extensions:

[code]

Error:
[code]

### Reproduction Steps

I do not have the exact steps for the issue, but it seems, we try to kill a process or process-group with a `PID` that does not exist.

**OS and Theia version:**

**Diagnostics:**

[2020-02-10 08:17] tom-shan opened #7114 "a breakpoint becomes inline after line copying"
### Description

![inline-breakpoint](https://user-images.githubusercontent.com/7686800/74131939-77280f80-4c20-11ea-8a5f-eec7ae76530a.gif)

### Reproduction Steps

**OS and Theia version:**
OS: centos 7
Theia: d5f32625017a6ea38bc2a6bcdd0060ec8a92ab9c

**Diagnostics:**

[2020-02-10 08:28] akosyakov commented on #7114
@tom-shan Do you have active debug session?

[2020-02-10 08:32] tom-shan commented on #7114
no active debug session

[2020-02-10 08:58] DoroNahari opened #7116 "Theia loading blink to black theme and back"
### Description

When on white theme and refreshing the browser the loading screen blinking from white to black and back to white again.

![loading-blinking](https://user-images.githubusercontent.com/24614792/74134954-14208380-4bf4-11ea-8170-1214dfa9f1c1.gif)
### Reproduction Steps

Run Theia on localhost. change to white theme and refresh the browser.

**OS and Theia version:**
master

[2020-02-10 10:27] akosyakov commented on #7116
Duplicate of https://github.com/eclipse-theia/theia/issues/6999 It requires some refactoring to fix it cleanly: https://github.com/eclipse-theia/theia/issues/6999#issuecomment-579711945

[2020-02-10 10:28] akosyakov commented on #6713
What does it mean? :)

[2020-02-10 10:32] tsiyona commented on #7092
For now, I downloaded an older version of redhat.java and put it manually undet the 'plugins' folder, and it works.

[2020-02-10 10:35] #7116 closed

[2020-02-10 12:16] vince-fugnitto commented on #7106
Unfortunately I don't think I can be of any more help @neocamel I don't have much knowledge regarding `nginx` :( Perhaps others will have more information, it might also be worthwhile to ask in the issues I previously linked.

[2020-02-10 12:20] vitaliy-guliy opened #7117 "Task terminal is not appeared for simple tasks"
### Description

Task terminal cannot be opened when task command runs very fast.

Video demonstrating the issue https://www.youtube.com/watch?v=KljOipWyVG4

### Reproduction Steps

Run Theia locally, create `.theia/tasks.json` with following content and run `List...` task.
[code]

**OS and Theia version:**
Latest linux mint

[2020-02-10 12:43] vince-fugnitto commented on #7117
Duplicate of #2961?

[2020-02-10 12:44] benoitf opened #7118 "Unable to build with Yarn v1.22.0"
### Description
Using the latest stable version of yarn (1.22 and not berry) I'm unable to build Theia.

### Reproduction Steps

Bump to yarn `with like (npm install -g yarn) or another way`

**OS and Theia version:**

**Diagnostics:**

### Error

[code]

https://github.com/yarnpkg/yarn/issues/7881

[2020-02-10 12:55] benoitf commented on #7118
error is parsing output of
[code]

with v1.22.0 we have something like
[code]

while with 1.22.0
[code]

using `yarn workspaces --json info` is fixing the issue

[2020-02-10 12:55] vitaliy-guliy commented on #7117
@vince-fugnitto it looks yes. Should we close it?

[2020-02-10 12:58] vince-fugnitto commented on #7117
I think so, we already have the original issue with some previous discussions.
Overall, it looks like the `process` extension needs further improvements in order to properly support the output of short lived tasks.

[2020-02-10 12:58] #7117 closed

[2020-02-10 13:29] vince-fugnitto commented on #7109
@Anasshahidd21 do you mind taking care of the regression?

[2020-02-10 13:38] svkr2k opened #7120 "Debugging : Hide unwanted portion that is shown while mouse-hover over a variable"
### Description
I'm using the debug adapter plugin as per instructions here: https://github.com/eclipse/theia-generator-plugin and was able to perform debug operations (start, step over, step into, stop etc.).
In the method MockDebugSession.evaluateRequest, the value of the variable is returned as a formatted string. This shows the value in the mouse-hover popup (that is shown when i mouse-hover o

[2020-02-10 13:41] vince-fugnitto commented on #7120
@svkr2k do you perhaps have a screenshot you can share?

[2020-02-10 15:17] elaihau commented on #6713
Sorry for the confusion. I should have said "**terminal** widget manager".
My idea is having a manager class to decide if a new terminal widget needs to be created. @akosyakov

[2020-02-10 18:19] vince-fugnitto opened #7122 "plugins: add flag to 'download:plugins' script"
**Description**

The main idea is to be able to call the `download:plugins` script with the ability to specify if the `.vsix` should be preserved or unpacked.

The flag `preserveVsix` will:
- unpack the `.vsix` if `preserveVsix` is set to **false** (**default**)
- preserve plugins as `.vsix` if `preserveVsix` is set to **true**

[2020-02-10 19:22] Anasshahidd21 commented on #7109
I made a change, which fixes the issue with the gitlens but the problem still remains with displaying ellipses, I am working on it until then if you want to merge it as it is assumed to be high priority, you can.

[2020-02-10 19:40] akosyakov commented on #6713
ok, so something like editor manager based on widget open handler?

[2020-02-11 00:05] solsu01 commented on #6330
@joazvsoares nope

[2020-02-11 01:23] justinang1 commented on #7106
Adding on, I think [this](https://www.digitalocean.com/community/tutorials/how-to-set-up-the-eclipse-theia-cloud-ide-platform-on-ubuntu-18-04) article would be very helpful. The general approach is to push the HTTPS and Authentication responsibilities onto Nginx, then run eclipse-theia behind Nginx.

You mentioned you are using CentOS, but I think the walkthrough should still work since you're usi

[2020-02-11 01:40] elaihau commented on #6713
@akosyakov thank you for sharing the insight with me.

yep, similar. but i guess at this point i don't have to extend `NavigatableWidgetOpenHandler` as i don't need as many features. Also, this "terminal widget manager" will be placed inside the "task" extension, as it would only be used by tasks.

[2020-02-11 02:19] neocamel commented on #7106
Actually, I have had zero success getting Docker to run, which is a royal pain as a lot of applications seem to rely on it. I'm still wrapping my head around what it actually does. And I'm running into a brick wall just trying to get "run hello-world" to do whatever it's supposed to do. I can't seem to get the docker deamon started? I'm googling pretty hard right now trying to figure it out but I'

[2020-02-11 03:22] justinang1 commented on #7106
While this is outside the scope of eclipse-theia, here are some links to get started:
- [Centos Hello World](https://www.digitalocean.com/community/tutorials/how-to-install-and-use-docker-on-centos-7)
- [What is a container](https://www.docker.com/resources/what-container)

Docker allows you to standardize your environment. This is useful when attempting to run the same programs on different hardw

[2020-02-11 09:11] kittaakos opened #7125 "ERROR TypeError: Cannot read property 'startLineNumber' of null when editing the preferences"
### Description

I see errors in the log when editing the user preferences file manually in the preference widget's editor:
[code]

The broken preferences file:
[code]

Note: auto-save was `on`.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-02-11 09:15] amiramw commented on #7122
Why are both options required? What are the tradeoffs between them?

[2020-02-11 09:31] kittaakos commented on #7113
Steps: https://github.com/eclipse-theia/theia/pull/7126

[2020-02-11 09:58] akosyakov commented on #6713
I thought just about `WidgetOpenHandler` to reuse implementation of `open` method.

We should name it differently then, `TerminalManager` should leave in the terminal extension. We actually already have it, it is called `TerminalService`.

[2020-02-11 10:00] akosyakov commented on #7106
We should do some Q&A wiki page on this topic, so many good articles already.

[2020-02-11 10:01] akosyakov commented on #7125
I think i fixed it in https://github.com/eclipse-theia/theia/pull/7110. Could you try? The issue was that vscode extensions can provide edits with range as null indicating that the full range should be covered. We did not respect it and passed null as range to Monaco.

[2020-02-11 10:03] akosyakov commented on #7122
If you unpack during the build time, startup time will be around 10x faster. But it is not possible currently for Electron, since one cannot write inside asar archives, so there unpacking happens at runtime. Eventually we will move away from it, see discussions here: https://github.com/eclipse-theia/theia/pull/7093#issuecomment-583820160

[2020-02-11 10:06] thegecko commented on #5481
I think this is the ideal candidate

IMO, getting the installers building and signing will be the hardest part here. The content and publish location doesn't necessarily block work in this area. I'm happy to share some (potentially redacted!) Jenkins scripts to support anyone trying this on Travis. Let me know where to put them.

After a lot of research and trial/error on our side, we recommend th

[2020-02-11 10:09] #7118 closed

[2020-02-11 10:18] kittaakos commented on #7125
Sure.

[2020-02-11 10:29] kittaakos commented on #7125
If I have `auto-save` `on`, I can see the following error in the browser console. I got this when editing the workspace preferences:
[code]

If I have `auto-save` `off`, I can see this when editing the user preferences:
[code]

Note: both the user and the workspace JSON was invalid.

[2020-02-11 11:21] akosyakov commented on #7125
@kittaakos do you use standard setup and only edit to introduce invalid json file?

[2020-02-11 11:36] RomanNikitenko commented on #7125
I can see similar errors at editing tasks.json file on each save.

![tasks_json_errors](https://user-images.githubusercontent.com/5676062/74233543-903dc880-4cd3-11ea-9040-09c68dc4fa5a.png)

[2020-02-11 11:45] svenefftinge opened #7127 "Implement vscode's FileSystem API"
https://code.visualstudio.com/api/references/vscode-api#FileSystem

A subset (`stat`) is used by the python extension.

To make it a smaller improvement, we could consider implementing it for `file` scheme in the host process.

[2020-02-11 11:53] kittaakos commented on #7125
I am not sure what you mean, @akosyakov. I verified the behavior with #7110 in Gitpod.

[2020-02-11 11:54] akosyakov commented on #7125
@kittaakos ok, i meant you did not add new VS Code extensions or something like that

[2020-02-11 12:05] kittaakos commented on #7125
Correct. No, I did not change anything.

[2020-02-11 12:51] vince-fugnitto opened #7129 "about: dialog does not display correctly when re-opened"
**Description**

The `About` dialog does not display correctly when re-opened (opened subsequent times).

_First:_

![image](https://user-images.githubusercontent.com/40359487/74238153-31605b00-4ca3-11ea-965f-31b5b5071235.png)

_Second:_

![image](https://user-images.githubusercontent.com/40359487/74238124-21487b80-4ca3-11ea-93db-0a32086fb2cc.png)

[2020-02-11 13:00] RomanNikitenko commented on #7129
I can not reproduce it when I close the dialog by `OK` button, but it's reproduced permanently when I close the dialog by `X`(close) action.

[2020-02-11 13:00] vince-fugnitto opened #7130 "about: enhancement to use application name in title"
**Description**

As an enhancement, we should use the `applicationName` in the title of the `About` dialog.

_Currently_:

![image](https://user-images.githubusercontent.com/40359487/74238274-75ebf680-4ca3-11ea-93f9-a7118a06394e.png)

_Enhancement_:

![image](https://user-images.githubusercontent.com/40359487/74238702-4db0c780-4ca4-11ea-9756-d3ddfca1f20a.png)

Using the following title:

[code]

*

[2020-02-11 13:04] #7122 closed

[2020-02-11 13:12] kittaakos commented on #7122
FYI: We do not support asar.

[2020-02-11 13:22] akosyakov opened #7131 "jsonrpc proxy should implement ownKeys"
I stumbled over cases when a proxy should be used a client to another proxy. In this case notifications and requests cannot be handled, since a proxy does not expose any here: https://github.com/eclipse-theia/theia/blob/1ca3ec37c079a6b316278cf292609653e57b8151/packages/core/src/common/messaging/proxy-factory.ts#L134-L140

[2020-02-11 14:16] akosyakov commented on #7125
@RomanNikitenko can you reproduce it against https://github.com/eclipse-theia/theia/pull/7110? Could you specify how do you edit? What do you enter and where?

[2020-02-11 14:18] veredcon opened #7132 "workbench.action.showAllSymbols VSCode commands is missing"
### Description
In VSCode the command workbench.action.showAllSymbols - opens list of all symbols in workspace.
It seems it was implemented in theia but was called differently?
The command id in theia is: languages.workspace.symbol.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-02-11 14:21] vince-fugnitto commented on #7132
Thank you for the issue @veredcon, I believe it is covered by the issue https://github.com/eclipse-theia/theia/issues/4569

[2020-02-11 14:21] #7132 closed

[2020-02-11 14:30] vince-fugnitto commented on #1717
Closed by #6883

[2020-02-11 14:30] #1717 closed

[2020-02-11 14:31] akosyakov commented on #7125
I cannot reproduce this issue.

It's expected in case if there are some save participants mutating documents directly, it is just logging to bring attention. It does not break saving control flow.

I cannot reproduce the original issue in #7110, so will mark it as fixed.

[2020-02-11 14:35] RomanNikitenko commented on #7125
@akosyakov
I just edit a label for a task, the error is happened when I press `ctrl+s` to save

![errors](https://user-images.githubusercontent.com/5676062/74245916-6f35a180-4cec-11ea-89bb-11cd308653ba.gif)

please give me 10 min to check it for the defined PR

[2020-02-11 14:40] vince-fugnitto commented on #1826
Please re-open the issue when you can with additional information.

[2020-02-11 14:40] #1826 closed

[2020-02-11 14:40] kittaakos opened #7133 "[shell] Active editor/widget tracking is broken sometimes"
### Description

I have experienced it sever times in the last few days, sometimes, the active widget is incorrect. I noticed it when tried to zoom in/out, did not work, or just write something to the editor. See the attached screencast. I am positive it is not related to the preferences widget. I experienced the same with code editors only (but could not create a screencast before).

![screencast

[2020-02-11 14:45] vince-fugnitto commented on #2048
As Marc mentioned it is likely an issue with running out of `inotify` watchers.
Since there has not been activity in the issue for a while I will assume that the issue has been resolved on your end. Please re-open the issue if it is not the case.

[2020-02-11 14:45] #2048 closed

[2020-02-11 14:48] marcdumais-work commented on #3956
Re-reading this thread, I see I forgot to post an update about `jschardet@1.6.0`: we obtained Eclipse Board approval for an exception to use this production dependency even though it's licensed under `LGPL`. So there is no legal reason not to use the builtin git extension.

[2020-02-11 14:53] RomanNikitenko commented on #7125
@akosyakov
Checked, I can not reproduce the issue for https://github.com/eclipse-theia/theia/pull/7110

[2020-02-11 14:57] jankeromnes commented on #7072
Update: `open-vsx.org` was registered by TypeFox. I've updated the issue description accordingly (added checkboxes; checked the relevant one).

[2020-02-11 15:38] akosyakov commented on #7100
It was discussed that we do it, but first Theia extensions which we maintain should be migrated to VS Code extensions, particularly cpp and yang extensions.

[2020-02-11 16:15] akosyakov commented on #7133
I can have a look if you know how to reproduce.

[2020-02-11 16:31] kittaakos commented on #7133
_"I will set up an example with Theia only in short."_ 👆

Thank you! I will name you here, once it is ready with an example.

[2020-02-11 16:45] marechal-p commented on #7079
Fixing this issue will also fix bundling issues for electron we are having on theia-apps.

@akosyakov I will do like you mentioned and make all implicit dependencies explicit, with a script to make sure the same range is used across the repo.

[2020-02-11 20:29] gbodeen opened #7137 "Down-arrow key should move cursor down in editor"
### Description
Two unexpected behaviors of the down-arrow key.

Within the main editor pane, the keyboard down-arrow key no longer moves the cursor down.  The up-arrow, left-arrow, and right-arrow keys still work as expected.

Within the file explorer widget, the up-arrow key moves up to the next item in the tree.  For a directory, the down-arrow key toggles a directory from expanded to collapsed

[2020-02-11 20:31] akosyakov commented on #7137
Can you reproduce it from sources in this repo?

[2020-02-11 22:22] gbodeen commented on #7137
Yes, if I open this repo as the workspace and look at, e.g., the base directory README.md, the problem occurs there.

I ran a git-bisect and the commit where this behavior was introduced is:
commit d5f4a867599156712f93c578bcf59d2efdf268a7
Date:   Tue Jan 14 04:37:20 2020 +0000
[keybinding] fix #6878: allow a user to change default keybindings

[2020-02-11 23:12] vince-fugnitto commented on #7137
@gbodeen I was unable to reproduce the problem regarding <kbd>down-arrow</kbd> when navigating the `README.md` as you mentioned, do you perhaps have additional information regarding if you've updated the default keybindings? (it will help in troubleshooting the issue)

It's easy to check if you open the `keymaps.json`:
1. in the `File` menu, select `Settings` > `Open Keyboard Shortcuts`
2. click t

[2020-02-11 23:41] gbodeen commented on #7137
Hi Vince, keymaps.json is an empty file. I tried editing it (via the UI) to the following:

[code]

Then shift+up moves the cursor down within the editor as expected.  We're using Red Hat Enterprise Linux Server release 7.7 (Maipo) accessed via Citrix Receiver, and I'd be inclined to think it's a Citrix issue, altering the "down" keybinding somehow, except that the problem did not occur prior to t

[2020-02-11 23:45] vince-fugnitto commented on #7137
Thank you for coming back with additional information, on my end I was unable to reproduce the same problem on both Gitpod and macOS.

[2020-02-12 00:12] gbodeen commented on #7137
`xev` gives the same "keysym 0xff54, Down" on both working and non-working systems, so that eliminates the possibility of Citrix Receiver intercepting/mutating the keystroke.

[2020-02-12 01:47] justinang1 commented on #7106
Would be willing to help with that.

[2020-02-12 08:55] kittaakos commented on #7137
FYI: I had a very similar experience: https://github.com/eclipse-theia/theia/issues/7133
I could not move the cursor in the editor. It happened a few times since the last Theia release. I was also unable to zoom in/out.

[2020-02-12 09:10] kittaakos opened #7138 "[preferences][enhancement] Provide a better error message when the user/workspace file is not a valid JSON"
### Description

### Reproduction Steps

 - Manually edit one of the `settings.json` file. Make it an invalid JSON.
 - Restart the frontend app.

User error:
![Screen Shot 2020-02-12 at 10 06 27](https://user-images.githubusercontent.com/1405703/74319740-b9b42e00-4d7f-11ea-8ee4-5cd214da5a59.jpg)

The user might not know what the `user_storage:settings.json` means.

Error in the browser console:
[c

[2020-02-12 09:41] tsmaeder commented on #7100
@akosyakov not that the cpp extension from microsoft has a problematic license: https://marketplace.visualstudio.com/items/ms-vscode.cpptools/license
You're only allowed to use it with VS products.

[2020-02-12 09:48] tsmaeder commented on #7100
There is a Eclipse CDT-based extensions, but can't find it on the marketplace, right now.

[2020-02-12 10:30] akosyakov commented on #7137
I could not move the cursor in the editor. It happened a few times since the last Theia release. I was also unable to zoom in/out.

I'm not sure that it is the same, in your case keybindings are applied to another editor. In this case some keybindings are applied and other not to the same focused editor. @gbodeen could you check whether you have several editors and then you move down it just happe

[2020-02-12 10:31] akosyakov commented on #7138
Again this error! Do you know what you did?

[2020-02-12 10:43] kittaakos commented on #7138
No, I don't 😕I was editing an invalid JSON.

[2020-02-12 10:50] akosyakov commented on #7100
@tsmaeder yes, i meant https://github.com/eclipse-theia/theia-cpp-extensions/tree/master/packages/cpp should become VS Code extension instead

[2020-02-12 10:51] akosyakov commented on #7100
We probably should start with a PR which prove that we can get rid of monaco-languageclient and only after that migrate to VS Code extensions. It would be bad to migrate everything and learn afterwards that we cannot drop it for some reasons.

[2020-02-12 11:01] ndoschek opened #7140 "JSON preferences do not support relative paths for schema associations"
### Description
In JSON preferences, the definition of `json.schemas : url` says it accepts a relative path to a schema in the current directory.
(https://github.com/eclipse-theia/theia/blob/master/packages/json/src/browser/json-preferences.ts)

When using a relative path the following error occurs:
`[json] Unable to load schema from '/.schemas/my-schema-definition.json': ENOENT: no such file or d

[2020-02-12 11:11] kittaakos commented on #7138
Got it! Use this `settings.json` as the `User` preference:
[code]

It will throw the error when the frontend starts. I guess I am a bit behind from the  `HEAD`. I am using `0.16.0-next.ba016ee1`. (ba016ee1)

[2020-02-12 11:18] Beetix opened #7141 "Python VS extension: debug fails when Debug console is already opened"
### Description
I found an issue when debugging in Theia v0.15.0 with Python VS extension. After version [2019.9.34911](https://github.com/microsoft/vscode-python/releases/tag/2019.9.34911) there is an error when starting a debug session with the "Python Debug Console" already open.

### Reproduction Steps
[Python VS extension](https://marketplace.visualstudio.com/items?itemName=ms-python.python)

[2020-02-12 13:29] marcdumais-work commented on #7100
I had in mind that I heard of such an extension. Looking for it, I think it's this one: https://github.com/eclipse-cdt/cdt-vscode

I do not think it was ever published. Looking at the code, it looks like work-in-progress.

[2020-02-12 14:21] #6786 closed

[2020-02-12 14:21] #6845 closed

[2020-02-12 14:21] #7111 closed

[2020-02-12 14:21] #7125 closed

[2020-02-12 14:27] akosyakov opened #7142 "rewrite KemapsService to use monaco models instead of resources"
It should fix race conditions and respect dirty editors, similarly how it was fixed for preferences.

[2020-02-12 14:29] akosyakov opened #7143 "keymap format is not compatible with VS Code format"
We should use VS Code format, otherwise it is not possible to copy them from VS Code. For instance https://code.visualstudio.com/Docs/editor/tasks#_binding-keyboard-shortcuts-to-tasks does nothing in Theia.

[2020-02-12 14:34] marcdumais-work commented on #7102
This issue seems a partial duplicate of https://github.com/eclipse-theia/theia/issues/7036. That issue has one additional aspect that could be an enhancement: when it's detected that there is a conflict, offer a way for the user to open both versions of the file in a diff editor to reconcile the conflicting changes.

[2020-02-12 14:59] akosyakov commented on #7102
@marcdumais-work true, i think we can keep it to add fix detection of conflicts and add integration tests. And #7036 to add diff editor

[2020-02-12 15:14] #7109 closed

[2020-02-12 15:31] tsmaeder commented on #7100
@marcdumais yeah, not the most active. Do we have volunteers to maintain a VS Code-CPP alternative? Problem is: VS Code users won't care about the license because it works for them.

[2020-02-12 15:45] vince-fugnitto commented on #7100
I think we (Ericsson) and ARM have been the main maintainers of the [theia-cpp-extensions](https://github.com/eclipse-theia/theia-cpp-extensions/graphs/contributors) repository (due to internal needs), and will likely be the ones to migrate the extension and help maintain it. The extension itself will be useful for anyone who requires C/C++ support in a Theia-based application (since they cannot d

[2020-02-12 16:10] vince-fugnitto opened #7145 "tree-view: update styling when the tree row content cannot be fully displayed"
**Description**

The styling of `tree-view` components (ex: 'npm scripts') should be updated so we are consistent with the rest of the application.

Namely, when a `tree-view` row's content cannot be fully displayed, the row should display **ellipsis** like other trees in the application. At the moment, the styling is inconsistent:

<img width="300" alt="Screen Shot 2020-02-12 at 11 05 02 AM" src=

[2020-02-12 17:21] vince-fugnitto commented on #6891
Closed by https://github.com/eclipse-theia/theia/pull/7091

[2020-02-12 17:21] #6891 closed

[2020-02-12 17:34] vince-fugnitto commented on #6759
Do you still require assistance?

[2020-02-12 19:33] neocamel commented on #7106
I'm down to contribute however I can to that discussion. I've needed to take a few steps back in my workflow arrangement, as I was advised that inMotion VPS does not allow Docker, which caused my server to crash. I'm going to move my development work to a Pi running CentOS and LAMP, which I'm trying to set up now. Hopefully I can get docker installed on the Pi, then can move forward with integrati

[2020-02-12 19:40] amiramw opened #7146 "Tree context menu doesn't set global selection if node was selected before"
### Description
When a node in file explorer is selected there is a difference in click event handling with regard to global selection.
On click - global selection is updated
On context menu - global selection is not updated (it would be updated if the node was not selected before).

This can cause inconsistency in context menu content.

### Reproduction Steps

#### On Debug

- Put a breakpoint on

[2020-02-12 20:49] osbre commented on #411
Example of authorization with cookies:

https://github.com/brilliant-code/theia-cookie-auth

[2020-02-12 21:55] gbodeen commented on #7137
Found it.

First, the problem went away if I commented out the `keydownListener.dispose()` line in the `suppressMonacoKeybindingListener` method that was introduced in the commit mentioned above.  This means Monaco's listener was working fine, but the fallback listener was having a keybinding problem on our machines.

In `packages/core/src/browser/keyboard/key.ts`, in the `toKey` function, the fir

[2020-02-13 08:22] akosyakov commented on #7137
@spoenemann do you see any consequences for checking `keyCode` first? As far as I remember It is [deprecated](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode) and that's why we check it only as a fall back. I'm not sure whether we can check whether we un on old OS to inverse the check.

[2020-02-13 08:24] akosyakov commented on #411
@osbre Does it work for web sockets as well?

[2020-02-13 08:39] SOWMITHRACHINNADURAI commented on #2959
I am trying to create the New text field using theia.For that i am trying to use 'SingleInputTextDialog' present in '@theia/core/src/browser/dialogs.ts' . But it does'nt work for me.Can you please provide some suggestion to work on it?

Thanks

[2020-02-13 08:40] tsmaeder commented on #7100
Added a topic to the next dev-meeting to discuss where and how vscode-cpp-alt should live.

[2020-02-13 08:45] benoitf commented on #7100
I think it was already discussed at the previous meeting

[2020-02-13 08:50] spoenemann commented on #7137
@gbodeen what does "we want" mean? How did you get to this conclusion?

Yes. We need to get the code of the pressed key that corresponds to a standard US keyboard in order for the keyboard layout service to work properly. `keyCode` does _not_ meet this requirement. For example, if I press `Y` on my German keyboard, `code === 'KeyZ'`, but `keyCode === 89`, which corresponds to `KeyY`.

[2020-02-13 09:47] tsmaeder commented on #7100
There is nothing in the minutes of the last two meetings 🤷‍♂

[2020-02-13 12:58] lmcbout opened #7148 "Active vertical bar not visible on the sidebar"
### Description
 The active blue vertical bar is almost not visible on the side bar

### Reproduction Steps

Open Theia with some some view vailable on the side-bar
-Select any view -> there is a tiny blue bar on the side of the icon almost not visible
- Click in the editor -> The blue bar switch to white , but now it is visible

**OS and Theia version:**
Theia: latest
OS: Ubuntu 18.04Select a fil

[2020-02-13 13:09] #7129 closed

[2020-02-13 13:12] vince-fugnitto commented on #2959
@SOWMITHRACHINNADURAI
What kind of problems are you experiencing? Are you trying to trigger the `SingleInputTextDialog`, or are you attempting to extend it and create a new type of dialog?

[2020-02-13 13:15] vince-fugnitto commented on #7100
I think internally we might verify if the [vscode-clangd](https://github.com/llvm-mirror/clang-tools-extra/tree/master/clangd/clients/clangd-vscode) might be a suitable replacement for the C/C++ language features as it already has a strong user-base, and is supported by LLVM.

Additional Information:
- [repo](https://github.com/llvm-mirror/clang-tools-extra/tree/master/clangd/clients/clangd-vscode

[2020-02-13 13:37] tsmaeder commented on #7100
My Cpp-wrangling days are  long over. My concern is how well it works for non-clang compilers.

[2020-02-13 14:17] vince-fugnitto commented on #7148
@lmcbout what do you believe should be done to address the issue?

[2020-02-13 14:39] akosyakov commented on #7054
That's probably related to save lifecycle issues: https://github.com/eclipse-theia/theia/pull/7139
for instance old file could be marked as dirty, so it does not get closed on delete

[2020-02-13 15:28] lmcbout commented on #7148
I might be wrong but we played with the icon size lately and may be we are putting the icon over the blue bar or we took away the space reserved fo the blue bar !
Also, with some plugins, I don't remember which one, but the plugin had no icon, we were just seeing the bar in the sidebar view which was also wrong for that plugin

[2020-02-13 15:31] vince-fugnitto commented on #7148
I tested `master` and the active (blue bar) is correctly displayed. Perhaps it is difficult to see in some cases, but the bar is definitely present. I'm just wondering what you think the fix would be since you opened the issue.

[2020-02-13 15:34] lmcbout commented on #7148
I alos tested on master and I see the blue bar is not visible when you navigate from one view to another view in the side bar

[2020-02-13 15:37] vince-fugnitto commented on #7148
@lmcbout

<div align='center'>

![master](https://user-images.githubusercontent.com/40359487/74450946-d9fdee80-4e4c-11ea-95ff-b4ffef45249e.gif)

</div>

[2020-02-13 15:46] #7130 closed

[2020-02-13 16:14] marcdumais-work commented on #7100
Our existing @theia/cpp also uses clangd, so I think it's a wash from that PoV.

From what I understand, clangd is supposed to work well with any ANSI C compiler, so long as a "compilation database" is provided.

There are tools specialised in generating this "database", e.g. cmake can generate it, else something like [bear](https://github.com/rizsotto/Bear) can intercept commands sent to the comp

[2020-02-13 22:47] gbodeen commented on #7137
I think this is a local IT problem for my team. Our key codes should follow the standards, but do not.

[2020-02-14 01:55] woaiwuchihan opened #7150 "ext-scripts: Not found"
When executed yarn,Give me a hint of the error。

Error: https://registry.npmjs.org/@theia%2fext-scripts: Not found

[2020-02-14 02:09] vince-fugnitto commented on #7150
@woaiwuchihan do you mind sharing additional information? The `@theia/ext-scripts` is not published on npm.

[2020-02-14 02:19] woaiwuchihan commented on #7150
in the theia-ide\my-app\node_modules\@theia\core，I want to execute yarn,and Download dependency package.But results of enforcement is https://registry.npmjs.org/@theia/ext-scripts: Not found

[2020-02-14 02:26] #7150 closed

[2020-02-14 02:28] woaiwuchihan opened #7151 "ext-scripts: Not found"
### Description
ext-scripts: Not found

### Reproduction Steps
in the theia-ide\my-app\node_modules@theia\core，I want to execute yarn,and Download dependency package.But results of enforcement is https://registry.npmjs.org/@theia/ext-scripts: Not found
**OS and Theia version:**
win7
**Diagnostics:**

[2020-02-14 07:54] spoenemann commented on #7137
What are the `code`s of your arrow keys?
You can check here: https://w3c.github.io/uievents/tools/key-event-viewer.html

[2020-02-14 08:06] akosyakov commented on #7151
ext-scripts is utility dev package just for this repo, it is never distributed, you cannot run scripts of installed packages, also why do you want it?

[2020-02-14 08:08] akosyakov commented on #7148
We could use another color for active tab in the side bar for Theia dark theme, it would help. But the width is the same.

[2020-02-14 08:11] woaiwuchihan commented on #7151
I change some typescript code,then want to build them.

[2020-02-14 08:39] akosyakov commented on #7151
It is not possible. Distributed typescript is not for changed, but for reading.

[2020-02-14 08:39] #7151 closed

[2020-02-14 09:16] woaiwuchihan commented on #7151
For example,I would like to change some menu text，Do I have to use DI?

[2020-02-14 10:15] westbury opened #7152 "Move 'last commit' and amend support so still there when using git vscode built-in"
### Description

We should move the git amend support into git-extra package and ensure it works with both @theia/git and the built-in.  The SCM-independent part of the amend support should be moved to scm-extra, with the SCM view having support for contributions to the bottom of the view.

This work follows on from https://github.com/eclipse-theia/theia/pull/6381

### Reproduction Steps

Remove @

[2020-02-14 11:17] osbre commented on #411
@akosyakov,

Just tried to connect websockets with Theia and this plugin.

In Browser console:
[code]

Response from Browser "Network" tab:

[code]

So, it looks likes auth doesn't work for websockets

[2020-02-14 11:25] vince-fugnitto commented on #7148
I think the same color as the monaco fuzzy highlighting color might be an appropriate choice?
It is quite bright and more visible as an active indicator:

![image](https://user-images.githubusercontent.com/40359487/74527014-b1303480-4ef2-11ea-8201-59eebbad65bd.png)

![image](https://user-images.githubusercontent.com/40359487/74527069-c9a04f00-4ef2-11ea-8f1b-90fe1613a2e7.png)

[2020-02-14 13:45] vince-fugnitto opened #7154 "json: markers reported on start for files not opened"
**Description**

When `theia` is used as a workspace, I noticed that `json` warnings are outputted (`.theia`), despite any of the files being opened. Is this the intended behavior? When verifying the same use case in VS Code, no warnings are present in the `problems` view:

![image](https://user-images.githubusercontent.com/40359487/74536284-c793bb80-4f05-11ea-9bb8-637caa910a31.png)

**Steps to Re

[2020-02-14 13:52] vince-fugnitto opened #7155 "problems: view should display folder name for a given file"
**Description**

The `problems-view` should display the folder name for a given file when it contains markers.
At the moment, no folder name is present which can lead to confusion whenever a file with the same name is present. I believe this might be a regression since I vaguely remember it having the folder name in past releases.

![image](https://user-images.githubusercontent.com/40359487/745369

[2020-02-14 13:59] akosyakov commented on #7148
@vince-fugnitto Would it be applied only for activity bar or also for editor tabs? Maybe you take care about it just make sure that it looks good in main and bottom areas and for light themes as well.

[2020-02-14 14:00] vince-fugnitto commented on #7148
I'm thinking it'd be nice to align for all **active** (main panel, side panels, bottom panel) and the same goes for editors.

[2020-02-14 14:12] lucas-phillips opened #7156 "Webview Doesn't exist in Electron Instance"
### Description
I'm getting a 404 error when opening a webview vscode extension in an Electron instance of Theia. This only happens in the Electron instance. When I open the webview in the browser, everything works just fine.

### Reproduction Steps
I downloaded the latest version of Theia. I then cloned this repo into the plugins folder: https://github.com/leocll/vscode-extension-webview-template

[2020-02-14 14:48] vince-fugnitto commented on #7156
I tried using the [vscode-extension-samples webview-sample](https://github.com/microsoft/vscode-extension-samples/tree/master/webview-sample) and it also did not work correctly in Electron. When testing it on the browser it worked correctly.

[2020-02-14 15:12] akosyakov commented on #7151
yes

[2020-02-14 15:27] akosyakov commented on #7154
@vince-fugnitto probably we store markers between sessions, do you think it is bad? misleading? or helpful since it shows you what is really wrong faster?

[2020-02-14 15:41] vince-fugnitto commented on #7154
I felt that, especially since they are warnings in this case, that displaying the markers on startup is a bit noisy. I noticed in VS Code this same behavior is not present, the markers are only visible when first opening the file and not on startup. I am surprised it'd store the markers between sessions, I made sure to start at a different port and also delete my local history. That is of course m

[2020-02-14 16:12] samos667 commented on #6189
He doesn't work for me..

[2020-02-14 16:18] gbodeen commented on #7137
The `event.code`s we saw for (left, up, right, down) arrows are (Convert, undefined, NonConvert, NumpadEnter).  A variety of other keys have missing or misdefined `code`s, in no particular pattern that we've noticed.  The `event.key` and `event.keyCode` values are all correct, however.

Google finds no other reports of that, which is why I think it's a local issue best fixed by IT for my team.  On

[2020-02-14 18:56] JesterOrNot opened #7158 "[Feature Request] Terminal overlapping workspace"
### Description
Original post: https://github.com/gitpod-io/gitpod/issues/1222
The request is for a popup terminal that would overlap the workspace sort of like this
![](https://user-images.githubusercontent.com/11302521/74558734-1c195400-4f63-11ea-9f41-1c2076642264.png)

[2020-02-14 19:52] vince-fugnitto commented on #7158
I'm not sure how useful such a feature would be, it is quite intrusive.
If one does not like the terminal at the bottom, they can always move it in the main area and be able to open many tabs (such as editors) and always go back to it. I'm not found of dialogs displaying in front of the application hiding information behind.

[2020-02-14 20:13] Kreyren commented on #7158
To elaborate this is how my workspace usually looks like
![image](https://user-images.githubusercontent.com/11302521/74563531-4e2fb380-4f6d-11ea-9df2-abbb77ba8769.png)

If i get the terminal at the bottom i can't see the problems that may require multiple files open even even if i could i need at least 15 lines of terminal to see all the issues so the current best placement is like this

![image](

[2020-02-14 22:15] vince-fugnitto commented on #7158
You can always split in the bottom panel as well. One side the `problems` and the other side the `terminal` itself.

<div align='center'>

<img width="1398" alt="Screen Shot 2020-02-14 at 5 13 30 PM" src="https://user-images.githubusercontent.com/40359487/74572634-6c85b700-4f4d-11ea-9d90-5e61103752ff.png">

</div>

The first time you dock the terminal to the side, it might mess up but only once.
Y

[2020-02-14 22:54] #6350 closed

[2020-02-14 23:47] chrisjj opened #7160 "Theia framework fails to supply Help with entries for the IDE's commands"
(Since the change of title has obfuscated the meaning of this post, I'm restoring the original.)

Hence that the Theia example IDE's Help has virtually no info on the commands.

**Update** (@vince-fugnitto)

The goal is to provide users with the ability to view all available registered commands present in the framework, alongside helpful descriptions of their functionality. Such a reference can th

[2020-02-15 00:21] Kreyren commented on #7158
@vince-fugnitto afaik suggested is what i am doing atm, but i was hoping to get terminal on demand since i don't neccesary need the terminal to be present at all time it gets quite distracting when it's not needed where my usually workflow outside of gitpod is to press `Ctrl+\``  type, see the result and close it again with `Ctrl+\`` or reading through it on demand or kept it open while debugging.

[2020-02-15 00:56] vince-fugnitto commented on #7158
I understand your scenario, just not sure it'd be worth the effort, at least for the framework itself.
If others are interested, they can always contribute their own extension that provides this exact functionality. The way I see it, the best approach would be to keep the terminal as is (bottom panel), and collapse the bottom panel whenever one wants to focus on other tabs (such as editors). This

[2020-02-15 00:58] vince-fugnitto commented on #7160
@chrisjj are you referring to a menu entry such as 'Help' > 'Keyboard Shortcuts Reference' in VS Code which links to the following [document](https://code.visualstudio.com/shortcuts/keyboard-shortcuts-macos.pdf)?

[2020-02-15 01:53] chrisjj commented on #7160
No. As documentation for an IDE's commands, that example is woefully incomplete.

Help > Reference declaring and describing the commands would do fine. Without something like that, there's no way the user can find out what commands are available and what they do.

[2020-02-15 02:12] vince-fugnitto commented on #7160
Thank you for clarifying. I believe it would be helpful to support `descriptions` for registered commands, so that users can not only get a more in depth description of an actual command, but also use such a parameter to generate documentation in an automated way.

At the moment, we (including vscode), try to be as clear as possible when naming commands so they are easy to understand (ex: `search:

[2020-02-15 14:15] garethwhittaker commented on #7145
Hi @vince-fugnitto.

I don't see this issue in Gitpod. I've taken a screenshot showing the ellipsis being applied.
Notably the spanner icon for npm scripts is also different.

<img src="https://user-images.githubusercontent.com/2885325/74589424-2556ff00-4ffd-11ea-8c3e-fc6affab449f.png" width="250">

[2020-02-15 15:13] vince-fugnitto commented on #7145
Hi @garethwhittaker, in your screenshot, are you displaying Gitpod itself or simply using Gitpod to open Theia? If it’s the former, it’s possible that Gitpod is using an older version of Theia that does not have this regression.

[2020-02-15 15:25] vince-fugnitto commented on #7145
@garethwhittaker I've verified again with `master`:

<img width="224" alt="Screen Shot 2020-02-15 at 10 23 25 AM" src="https://user-images.githubusercontent.com/40359487/74590537-49a2e380-4fdd-11ea-854f-bb1dcff4b78d.png">

The fix was initially present as part of #6939 but due to other issues it was reverted as part of #7124. #7124 fixed some problems with how other plugin views were displayed at

[2020-02-15 15:37] garethwhittaker commented on #7145
Yes you're right @vince-fugnitto. Whilst the issue doesn't appear in Gitpod, it does when using Gitpod to view latest Theia.

I can take a look at resolving this regression and provide an update in the next week.

[2020-02-15 15:39] vince-fugnitto commented on #7145
Sure! That'd be great, please keep #7124 in mind during your updates, other plugin views (such as gitlens) should be displayed correctly as well.

[2020-02-15 20:33] chrisjj commented on #7160
Indeed.

Plus there would need to be project-wide policy that makes these descriptions mandatory, preventing Help being eroded by addition of commands lacking descriptions.

I suggest this should be done before V1.0.0 release. It might be harder to gain project-wide acceptance later.

[2020-02-15 23:02] vince-fugnitto commented on #7160
A policy would not be necessary, making the description mandatory in the code would be enough. This is of course a breaking change that I don’t believe would be immediately worth the effort (it would force changes to downstream projects). If one cannot understand what a command does based on the label (in the command palette), they can explore what the command performs through experimentation. Thi

[2020-02-15 23:49] chrisjj commented on #7160
If that policy could take the form of build control that made description mandatory in the code, great.

Yes and yes, and hence that advantage of doing it before V1. The more sub-standard Theia apps there are, the greater the resistance to raising the standard. And this cascades - sub-standard projects attract more of the same and discourage developers with higher standards.

And then perhaps they

[2020-02-16 00:16] vince-fugnitto commented on #7160
As mentioned this will not be part of v1.0.0. There are other priorities for the project, and there are other ways that commands can be documented today without the use of breaking changes. I doubt this will discourage developers with higher standards (one can always extend the base command to enforce a mandatory `description`)

Documenting a list of available commands the IDE supports is an enhan

[2020-02-16 11:29] chrisjj commented on #7160
That wasn't mentioned.

The fact there is already more than one is no grounds for not adding another.

Evidently not good enough, since no-one is using them.

The only breaking change in requiring Help entries and providing them for core commands is to any custom commands added by IDEs, right?

In which case, that's fine, right? Since Theia is still in pre-V1 beta state,

Whereas procrastinating t

[2020-02-16 13:44] vince-fugnitto commented on #7160
As mentioned in this https://github.com/eclipse-theia/theia/issues/7160#issuecomment-586649445, "We already discussed the necessary items for the 1.0.0 release by all main maintainers and companies, and while it’d be nice to have documentation of available methods it is definitely not a priority."

The project, as I previously mentioned, has a list of priorities for v1. This means that nice-to-hav

[2020-02-16 15:06] chrisjj commented on #7099
@marechal-p , could you clarify? I know no meaning of _nominal_ under which this statement makes sense.

[2020-02-16 15:22] chrisjj commented on #7160
I saw that, thanks.  It does not mention "this will not be part of v1.0.0.".

You've sine stated "this will not be part of v1.0.0." and thanks for being open on that.

[2020-02-17 07:37] spoenemann commented on #7137
`key` gives you the actual character produced by the keystroke, including any pressed modifiers. In order to use that as a basis for keybindings, we would have to reverse-map the character to the key that was pressed. With `code` we directly get the pressed key.

[2020-02-17 07:41] spoenemann commented on #7137
I'll close this for now. Please Let us know if you can't fix it locally. In that case we could consider making the keyboard event processing better adaptable, e.g. by allowing to disable the usage of the `code` field.

[2020-02-17 07:41] #7137 closed

[2020-02-17 08:03] #7146 closed

[2020-02-17 09:59] Beetix opened #7164 "Port "Add Configuration..." to tasks"
### Description
Feature request as discussed with @akosyakov.

Port the behaviour of `Add Configuration...` to tasks. This means adding the possibility to add predefined tasks in an existing `tasks.json`. This feature also does not seem to be implemented in VS code.
Currently there is only the possibility to copy a whole template when using `Tasks: Configured tasks...` and `tasks.json` does not ex

[2020-02-17 10:16] nisarhassan12 opened #7165 "Live Preview: reflect changes without having to save again and again."
It would be nice if the Live Preview can reflect the changes made to HTML, CSS and JS files on the fly without having to save the file again and again.

There are extensions and CLI tools that reflect the changes once files are saved but they don't reflect the changes as they are made.

https://codepen.io does this quite well.

[2020-02-17 10:16] nisarhassan12 commented on #7165
Also if an HTML file links to a CSS file and you make changes to that, in order for them to be reflected in the preview only saving the CSS file does not work. You have to re-open the HTML file's preview after saving the CSS.

[2020-02-17 11:10] akosyakov commented on #7164
@RomanNikitenko @elaihau Maybe whether there is already something similar in Theia?

[2020-02-17 11:12] akosyakov commented on #7165
Do you mean that we should reflect dirty editor changes? What should happen while you are typing and thinking?

[2020-02-17 11:40] eine opened #7166 "termux.com"
Since there is no X11 server in [termux](https://termux.com/), theia seems to be a perfect fit to have a "local" full-featured IDE on Android. Actually, Codiad is listed now, which seems not to be activelly developed: https://wiki.termux.com/wiki/Text_Editors

Unfortunately, none of the options in https://github.com/eclipse-theia/theia#getting-started seems to fit this use case. Ideally, one might

[2020-02-17 12:28] kittaakos commented on #4488
The default workspace server uses a hard-coded `.theia` path too: https://github.com/eclipse-theia/theia/blob/1eaecd5cbf93468a74988ddcd347402fcbf14cbe/packages/workspace/src/node/default-workspace-server.ts#L165-L167

[2020-02-17 12:59] mmorhun commented on #4488
@kittaakos there is a PR which will handle that too: https://github.com/eclipse-theia/theia/pull/6650
I'm going to update it as soon as I regain write access into Theia repository.

[2020-02-17 13:01] akosyakov commented on #4488
@mmorhun if it is quite important change for 1.0, since we need Electron running vscode extensions properly. If it takes long please raise it that someone can add additional commits to finish it. You should also be able to open a new PR from your fork in the meantime as a workaround of missing write access.

[2020-02-17 13:33] mmorhun commented on #4488
@akosyakov I've pinged Eclipse Webmater, so I think in a day or so the issue should be resolved.

[2020-02-17 14:33] nisarhassan12 commented on #7165
Thanks! There can be a slight delay for the changes to be reflected(let say 800ms) like it is in Codepen.

[2020-02-17 14:36] vince-fugnitto commented on #7164
We prompt users to choose a pre-defined task if:
- a `tasks.json` does not exist
- a `tasks.json` exists but is empty

The proposal is to add a new menu entry/command which can be used to add **pre-defined** tasks in an **existing** `tasks.json` from what I understand. @Beetix is it something you'd want to look into?

[2020-02-17 14:52] akosyakov commented on #7166
https://github.com/eclipse-theia/theia#getting-started is for development
https://theia-ide.org/docs/composing_applications is for composing own app, but it is probably out-dated

[2020-02-17 15:05] eine commented on #7166
@akosyakov, precisely this issue is a request for a default `package.json` (such as the one in https://theia-ide.org/docs/composing_applications) to be added and/or documented somewhere in this repo or in https://github.com/theia-ide/theia-apps. Currently, AFAIK it is not possible to programmatically clone and start theia without using either docker, a hosted web service or Electron.

[2020-02-17 15:26] akosyakov commented on #7166
@eine How usually something is consumed by termux? Is there some special kind of packaging? Sorry i'm not familiar with it. But one could use docker for instance to package Theia for termux and publish somewhere, and the consume from there in termux. I don't think any of active committers will work on it.

[2020-02-17 15:32] svenefftinge opened #7167 "Snippets should support an array prefix"
[VS Code snippets](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_create-your-own-snippets) allow an array of prefix while theia [does not](https://github.com/eclipse-theia/theia/blob/master/packages/monaco/src/browser/monaco-snippet-suggest-provider.ts#L245)

[2020-02-17 15:35] eine commented on #7166
@akosyakov, let's forget about termux to make it easier for now.

I'm on a GNU/Linux (sub)system. I have git, nodejs, etc. installed in this environment. Now, I want to try Theia without docker, without a hosted service and without Electron. I want to run `yarn serve`, open my browser and use Theia from `localhost:8080`. Is this possible?

According to the docs, it seems that there is no such a "d

[2020-02-17 16:12] svenefftinge commented on #7165
The mini browser is pointing to a regular web-server and there are web-servers that know how to do hot-reload on file changes. The file preview (right top icon) for HTML does already update on document change. I know online playgrounds that are specifically built for small web projects come with such a preview environment, but Theia is targeting all kinds of development. So making assumptions abou

[2020-02-17 16:12] #7165 closed

[2020-02-17 16:15] akosyakov commented on #7166
@eine
- check out this repo
- run yarn to build everything from root
- cd examples/browser
- yarn build --mode=production

After that you can start an example app built in the production mode.

[2020-02-17 16:36] vince-fugnitto commented on #3825
Should be closeable with #6933, the `@theia/debug-nodejs` extension is soon to be deprecated.

[2020-02-17 16:52] vince-fugnitto commented on #5085
I guess the main idea is to support creating tabs like in a browser (shrink the available tabs so they are always present and there is no need to scroll). I can understand why some would want this feature (no need to scroll), but it also might be considered bad UX since tabs will not be easily distinguishable when there is a lot of files opened.

At the moment, the easiest approach to view all ope

[2020-02-17 17:37] varmanishant opened #7168 "Allow thickness of the bar cursor to be configured?"
Latest `xterm.js` supports configuring the thickness of bar cursor via https://github.com/xtermjs/xterm.js/pull/2590. Is there a task existing already to upgrade `xterm.js`? If not we could create a new one and add this feature after it is resolved?

[2020-02-17 17:38] vince-fugnitto commented on #6759
@HuangJunjia please re-open the issue if you're still experiencing problems :)

[2020-02-17 17:38] #6759 closed

[2020-02-17 17:46] vince-fugnitto commented on #7168
@varmanishant is it something you'd like to take care of?

[2020-02-17 18:42] varmanishant commented on #7168
@vince-fugnitto , Thanks for the response. I am trying to go through it - will let you know on my progress. As, I am new, I need to figure out a few things.

[2020-02-17 18:42] vince-fugnitto commented on #7168
No problem :) Don't hesitate to ask if you have any questions!

[2020-02-17 19:36] vince-fugnitto commented on #7040
@akosyakov @kittaakos do you happen to have an idea as to why the assets are not properly displayed in electron? I suspect it's the same reason that #6834 does not work properly.
I thought it might have to do with how we webpack the resources.

[2020-02-17 20:00] vince-fugnitto commented on #6896
I thought this was already the case (https://github.com/eclipse-theia/theia/issues/3917#issuecomment-450914317). If I search globally, the search will respect the `.gitignore`. If I narrow down the search to explicitly choose a directory to search from (`find in folder`), I do successfully get results from said folder.

_Search Globally_:

<img width="899" alt="Screen Shot 2020-02-17 at 2 58 06 PM

[2020-02-17 20:12] vince-fugnitto commented on #7168
Related https://github.com/eclipse-theia/theia/pull/7121

[2020-02-18 01:55] eine commented on #7166
@akosyakov, thanks a lot!

It seems that it is not possible to build Theia in termux. This is because termux's NodeJS version is too new. Package `nodejs-lts` is available, but `yarn` crashes with it. Anyway, it should be possible to build the examples/browser app in a different compatible environment, and then distribute the result as a termux package.

I could successfully clone this repo and ex

[2020-02-18 07:51] akosyakov commented on #7166
@eine Electron is not included for browser target if you follow https://theia-ide.org/docs/composing_applications Node.js is mandatory, Theia does not work without the backend.

[2020-02-18 07:53] akosyakov commented on #7040
@vince-fugnitto no, one has to debug why such paths are generated

[2020-02-18 08:00] eine commented on #7166
Then, I will close this issue, as it seems not possible to run Theia until more recent versions of Node.js are supported.

Is there any previous discussion about implementing the backend in a different language?

[2020-02-18 08:00] #7166 closed

[2020-02-18 08:12] justinang1 commented on #7114
Would like to look into this issue, but I'm unsure of which files to look into to get started. I'm thinking that this issue is probably caused by the editor window and the handler for the copy command, any pointers on which files these components would be under?

I also believe this issue might be related to #6910.

[2020-02-18 08:16] spoenemann commented on #6256
The same problem applies to all other input fields: Search view (search text), Git view (commit message) etc.

[2020-02-18 08:58] Livven commented on #7100
@tsmaeder

Seems like that only applies to the Marketplace distributed version, not to the [source code which is MIT](https://github.com/microsoft/vscode-cpptools/blob/master/LICENSE.txt)?

[2020-02-18 09:49] eli88p opened #7169 "Is it possible to add custom widget that extends ReactWidget in plugin?"
### Description
I tried to build UI in plugin it's possible to render tsx files in plugin?

Thanks in advance.

[2020-02-18 09:56] AlexTugarev opened #7170 "Missing keyboard focus when file opened via single click"
### Description
When opening a file with with a single click from the File Explorer widget, the opened editor widget doesn't have keyboard focus.

### Reproduction Steps

- *GIVEN* the editor preview is *NOT INSTALLED*
- open one editor properly (double click)
- then open a file with a single click
- press `ctrlcmd+f`
- reveal the first editor widget and see that the search widget is shown there

[2020-02-18 10:10] akosyakov commented on #7169
@eli88p No, plugins are isolated from the main window code. You can still use React with VS Code webviews.

What is your use case? Do you plan to build a custom product or do you want to provide a single VS Code extension and reuse between VS Code and Theia? Webviews are limited since they don't have access to the core application and treated as a remote content. If you want to tailor UI then you

[2020-02-18 10:11] tsmaeder commented on #7100
As I remember it's the runtime bits that are the problem, no the VS Code extension.

[2020-02-18 10:12] akosyakov commented on #7166
No there is no such plans.

[2020-02-18 10:14] akosyakov commented on #7166
You can investigate though why Theia does not compile with Node.js 13, if there is a patch which allow to build Theia with any version of >= 10 then it can be a solution.

[2020-02-18 10:27] akosyakov commented on #7054
It's partially addressed in #7139, now the editor gets properly renamed and old editor is closed. The issue though remains that for some reason Java LS ignores the dirty state after rename although it is properly propagated to the LS (checked with message tracing), so one sees an error that a file is not properly named, but after saving the error is gone.

[2020-02-18 10:53] eine commented on #7166
Note that I am not requesting it to be implemented, but asking whether it is feasible. It seems that frontend and backend are properly separated in the codebase, but the API between them is not explicitly documented. If this is the case, documenting the API should suffice for contributors to freely implement alternative backends. Precisely, I'm thinking about using golang, which is compiled to a s

[2020-02-18 11:13] eli88p commented on #7169
@akosyakov Thanks

[2020-02-18 11:16] akosyakov commented on #7114
Breakpoints are updated here: https://github.com/eclipse-theia/theia/blob/master/packages/debug/src/browser/editor/debug-editor-model.ts#L227

[2020-02-18 11:17] akosyakov commented on #3825
I don't think it is Theia issue, but network connection. Scripts already retries to download 5 times.

[2020-02-18 11:17] #3825 closed

[2020-02-18 12:25] akosyakov commented on #7166
fyi: They are not there by default, only if you include `@theia/electron`.

As you mentioned it is possible in the theory, APIs are not statically defined in typescript, look for `*-protocol.ts` files, there are also HTTP endpoints though. But it will really hard to maintain, unless you can derive go types from typescript definitions.

[2020-02-18 13:42] akosyakov opened #7171 "Implement stabilized workspace VS Code APIs"
Some events like `on(Did|Will)(Create|Delete|Rename)Files` were finalized and marked as stable in vscode.d.ts We should implement it to support latest version of typescript built-in extension. It should be quite straightforward after  https://github.com/eclipse-theia/theia/pull/7139 gets merged.

[2020-02-18 14:03] marcdumais-work commented on #7100
There is as well another license file under the `Extension` folder: https://github.com/microsoft/vscode-cpptools/blob/master/Extension/LICENSE.txt :

[code]

[2020-02-18 15:18] varmanishant commented on #7168
Thanks for adding this PR @vince-fugnitto . I just added my thoughts on the PR. Basically it is the same as what I did; however I commented out a block which seemed to fail ... I am going to re-check from scratch to familiarize with the build etc.

[2020-02-18 15:19] kittaakos opened #7172 "make sure the browser state is not shared between applications"
### Description

This is a follow-up of #6650. Currently,  the `theme`, `icon-theme` and the `theme.background` are globally set on the `window.localStorage`.

![Screen Shot 2020-02-18 at 16 13 07](https://user-images.githubusercontent.com/1405703/74749176-0a3cf700-526a-11ea-82aa-7902aaef7ba1.jpg)

We have to prefix it with the application name. (Or something we derive from the application's name.

[2020-02-18 15:32] akosyakov commented on #7172
@kittaakos Do you mean that 2 different electron apps share the exactly the same local storage?

[2020-02-18 15:38] akosyakov commented on #7172
@thegecko @westbury Maybe you know how one can configure user data folder for the concrete electron app?

[2020-02-18 15:38] kittaakos commented on #7172
Yes.

Also when testing/running any browser app from the localhost. So it's not electron specific.

[2020-02-18 15:59] akosyakov commented on #7172
https://github.com/electron/electron/issues/10831#issuecomment-337466983 says that local storage is different per the app. The application name is specified here: https://www.electronjs.org/docs/api/app#appname. As I read it it should be enough to specify a unique name for electron app in package.json to isolated browser user data for different electron apps.

Each browser has own user data folder

[2020-02-18 16:05] marechal-p commented on #7099
Current behavior doesn't look odd to me.

[2020-02-18 16:18] akosyakov commented on #7172
So, then i run electron with:
[code]
I get:
[code]

It is obviously bogus. The app name should not be Electron (some default placeholder). It seems that electron has some assumptions about how it should be started to pick up the app name correctly: https://github.com/electron/electron/issues/3391#issuecomment-155606143

I don't see how this issue have anything to do with browser target.

[2020-02-18 16:23] Beetix commented on #7164
@vince-fugnitto Yes, this is the idea. I can look into it (I don't guarantee how fast 😅).

[2020-02-18 16:24] vince-fugnitto commented on #7164
No problem :) It is definitely an enhancement but not critical so take the time you need!

[2020-02-18 16:28] akosyakov commented on #7172
Ok, now I've realised that it affects the browser target too. I don't think that the issue still can be resolved just by prefixing keys in local storage. Browser store more user data, except local storage, like cookies, indexed db, sessions and so on, everything will be shared. The easy will be to use the different port in this case? cc @svenefftinge

[2020-02-18 16:29] #7102 closed

[2020-02-18 17:28] Johannes-B-stock commented on #7040
We found a workaround. Apparently the pluginUrl needs to be an absolute path when running in Electron and a relative when running in the browser.
We fixed it by changing the function `toPluginUrl()` in plugin-ext/common/plugin-protocol.ts to return the absolute path `"file:///" + path.join(pck.packagePath, relativePath).replace(/\\/g, "/");` when the extension is running in Electron.

[2020-02-18 17:31] vince-fugnitto commented on #7040
Would you like to propose your changes in a pull-request? We can add a check to determine if the target is Electron and compute the path accordingly.

[2020-02-18 21:31] Luzifer opened #7173 "Plugin loading breaks when resistFingerprinting is enabled"
### Description
When Firefox is hardened against fingerprinting by enabling `privacy.resistFingerprinting` loading of plugins breaks with an error to the console. This for example breaks language-support-plugins.

### Reproduction Steps
- Fetch `theiaide/theia:next` docker image and start it (`:latest` shows same behavior)
- Get a recent Firefox
- Access `about:config` and enable `privacy.resistFi

[2020-02-18 21:32] chrisjj commented on #7099
Did you notice that Undo failed to undo the edit?

There's no whitespace in this edit. In case you were mislead by github's manky styling, I've added a source screenshot.

This edit is simply one word being overtyped by another.

[2020-02-18 22:27] garethwhittaker commented on #7167
I'll take a look at implementing this enhancement and provide an update in the next week.

[2020-02-18 23:30] q4z1 commented on #4725
You can setup node (nodebrew) & yarn with chromebrew in Dev-Mode.

Then you can build theia and run it: https://theia-ide.org/docs/composing_applications/

[2020-02-19 01:32] davidwindell commented on #6896
This doesn't work for me on the latest Eclipse Che, Theia@e1d08d00

[2020-02-19 05:20] akosyakov commented on #7173
I wonder what their recommendation to use instead of performance API in such case. As far as I know that the standardised API and expected to work in all browsers.

[2020-02-19 05:47] Luzifer commented on #7173
@akosyakov the API itself works. It just does not return performance data. While in `core` there is an iteration through the returned array which in that case would be an iteration over `Array[]` in this code the first element is just accessed.

Firefox does not return any elements when `resistFingerprinting` is enabled and therefore a length check is required in before accessing the `duration` of

[2020-02-19 07:37] kittaakos opened #7176 "Error: `Unknown actor YourServiceName` when refreshing the browser window"
### Description

Happened when verifying https://github.com/eclipse-theia/theia/pull/5167.
I can see a lot of `Unknown actor ServiceName` error in the console after refreshing the browser.

Steps to reproduce:
 - Build and start Theia from the source, open Theia in your workspace. I used this commit 00c1747c9.
 - Open `.node_modules/@theia/api-tests/src/browser-utils.spec.js` in an editor. Note, i

[2020-02-19 08:07] akosyakov commented on #7176
Unknwon actor is a dup of https://github.com/eclipse-theia/theia/issues/5839?

[2020-02-19 08:17] kittaakos commented on #7133
Here: https://github.com/eclipse-theia/theia/compare/GH-7133
Please open Theia with a Theia workspace.  (The workspace should contain at least 5 files with `.ts` in their path.)

[2020-02-19 08:34] akosyakov commented on #7172
Discussed with @svenefftinge:
- for browser it is not the issue. In production origins are defined by embedding product. For development one can configure different ports.
- for electron, we should fix how application are named, that not everything is stored under `/home/gitpod/.config/Electron`, but per a project.

Trying to prefix records in local storage, cookies, indexed db and so on is insecu

[2020-02-19 08:40] kittaakos commented on #7172
Very sad.

It's not an issue. Once you package it, it will have a different name.

[2020-02-19 08:40] #7172 closed

[2020-02-19 09:00] akosyakov commented on #7172
but it breaks if one start from sources?

[2020-02-19 10:29] akosyakov opened #7178 "[vscode] support viewsWelcome contribution point"
There is a new contribution point which allow to control welcome view for contributed views: https://github.com/microsoft/vscode/blob/cce81b98b9507b9f4baee1fcf4c9972e88d65a48/src/vs/workbench/contrib/welcome/common/viewsWelcomeExtensionPoint.ts

It's already used by latest version of vscode built-in git extension: https://github.com/microsoft/vscode/issues/61491#issuecomment-586945696

[2020-02-19 13:11] benoitf opened #7180 "[plugin] allow to customize plugin-host process"
### Description
For now `plugin-host` (process running the plug-ins) path is hardcoded
It would be nice to allow more customisation and be able to specify this process path by using inversify configuration.

For example we could use specify other processes

[2020-02-19 13:44] vseager commented on #6896
Doesn't work for me either!

[2020-02-19 13:54] thegecko commented on #7172
I seem to remember our tests showed this wasn't an issue for Electron as it automatically sets up local storage per application. The only times we've seen this problem is when bringing up the browser version of different Theia apps on localhost.

cc @mcgordonite

[2020-02-19 14:57] akosyakov opened #7183 "document saving hangs sometime"
I can reproduce it with go vscode extension sometimes. gopls does not seem to return on save and the whole save is pending. We should check why the plugin system does not timeout own save participants.
We don't want to introduce the global timeout to let participants to decide about it.

It would be good start to create VS Code extension which participate in `onWillSave` and never resolves to conf

[2020-02-19 15:49] mcgordonite commented on #7172
That's correct. Once the Electron app is packaged, `app.getName()` will return the correct product name, not `"Electron"`. Electron ensures that each app gets an isolated local storage, like browsers do for sites at different origins.

[2020-02-19 15:58] #7173 closed

[2020-02-19 18:53] gtritchie commented on #7047
An example of a SPA that does have a traditional main menu accessible via keyboard, look at Google Docs. You can use Ctrl+Alt+F to get to file menu, for example.

[2020-02-19 20:32] RomanNikitenko commented on #7176
Related to `unknown actor` issues:
- https://github.com/eclipse-theia/theia/issues/5019
- https://github.com/eclipse-theia/theia/issues/6677

[2020-02-20 07:59] akosyakov commented on #7047
@gtritchie true, i've mentioned it in https://github.com/eclipse-theia/theia/issues/7063. Active committers don't have capacity for it right now, we will have a look when we have. In the meantime anybody is welcomed to send a PR.

[2020-02-20 09:44] #6847 closed

[2020-02-20 09:53] akosyakov commented on #7176
Ok, looking into it. Initial errors are not related they are because of missing VS Code apis and too many configuration listeners from VS Code extensions. Unfortunately cannot reproduce following to given steps, but will try something else.

[2020-02-20 10:02] akosyakov commented on #7176
I can reproduce it with debugging Theia Browser Backend:
- change port to 3030 in launch configuration
- launch
- wait for massive log output from Theia
- reload the page

[2020-02-20 10:55] svor opened #7185 "support vscode.CustomExecution api"
### Description
To see that Java language server is initializing need to click on the task button:
![screenshot-localhost_3000-2020 02 (1)](https://user-images.githubusercontent.com/1271546/74926976-7856fa80-53df-11ea-88bb-d8f8cc6865f0.png)
But this button doesn't work:
[code]

### Reproduction Steps

1. Download vscode java plugin https://download.jboss.org/jbosstools/static/jdt.ls/stable/java-0.

[2020-02-20 11:23] akosyakov commented on #7176
I think it comes from here: https://github.com/eclipse-theia/theia/blob/1ca3ec37c079a6b316278cf292609653e57b8151/packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts#L96-L112

The frontend is already gone, but to shutdown the plugin host process we create a new RPC which does not have any frontend services, so all requests from the plugin host process cased by deactivation are failing. I w

[2020-02-20 11:31] akosyakov commented on #7176
I assume this code is to handle abrupt shutdown of a client, like a browser crashed. We should consider the page reload as a normal situation and make sure that frontend context is not gone while the plugin process is not shutdown completely. In abrupt situations I'm not sure whether we should try to be smart and deactivate plugins, since it is not possible already. Probably it would be better jus

[2020-02-20 12:44] akosyakov commented on #7185
I don't think we support `CustomExecution` VS Code api for tasks yet.

[2020-02-20 14:20] #7167 closed

[2020-02-20 14:55] federicobozzini opened #7186 "[git] git history panel might contain double entries for merge operations"
### Description

The git history panel might contain double entries for merge operations.

![merge-error](https://user-images.githubusercontent.com/8626576/74945199-38980f00-53ef-11ea-8b07-5712a02cc909.png)

### Reproduction Steps

- git clone [this project](https://github.com/ARMmbed/mbed-os-example-blinky)
- open its git history

**OS and Theia version:**

The bug appears on the master version.

[2020-02-20 14:58] federicobozzini commented on #7186
This issue seems to be caused by the fact that [the `-m` option is used when the `git log` command is run](https://github.com/eclipse-theia/theia/blob/master/packages/git/src/node/dugite-git.ts#L650).

I think it could be fixed by either using different options (depending on which result is expected) or by merging the double entries when the `git log` result is parsed. Any opinion?

[2020-02-20 15:21] #6691 closed

[2020-02-20 15:22] federicobozzini opened #7187 "[git] merge operation without modified files cannot be completed"
### Description

If a merge operation doesn't result in some file changes, it is not possible to commit. This makes impossible to complete the merge operation without using the terminal. The message shown to the user is `No changes added to commit`.

There is also no visual clue to the user to signal that there is an ongoing merge in this situation.

### Reproduction Steps

The simplest case is th

[2020-02-20 15:56] Anasshahidd21 opened #7189 "[tree-view]: update the styling of file-path when tree-row is selected"
### Description
When selecting a node in the search-in-workspace (`ctrl+shift+f`) or problems panel, the file-path is hidden when selected due to the dark colour. As far as I have diagnosed it is an issue only with the light themes and works fine with the default dark theme.

![Screenshot from 2020-02-20 10-50-00](https://user-images.githubusercontent.com/43870550/74953101-3920ad80-53cf-11ea-9130-

[2020-02-20 18:11] vibhormda opened #7190 "VS Code webview sample not running"
### Description
Running the vs code webview sample inside theia browser instance does not work as expected.

### Reproduction Steps
1). Build theia from latest sources from master branch.
[https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#quick-start](url)

2). Follow the link to test VS code sample extensions **without** building the vsix file.
[https://github.com/eclipse-theia

[2020-02-20 18:21] akosyakov commented on #7190
Which browser do you use? What is the hostname on which you deploy? Do you have any errors in browser console?

Webviews work only in the secure content, https or localhost, not over http. Firefox has a bug that it does not treat subdomains of localhost as secure, so by default only Chrome.

[2020-02-20 18:22] akosyakov commented on #7190
Fetching of resources is done by Theia via the service worker, not by browser, so a URL is fine.

[2020-02-20 19:03] vibhormda commented on #7190
I am using Chrome and theia is running over non-https mode.
The host is on a local CentOS box inside internal network. Will the self signed certificate be good to make webview work ?

[2020-02-20 20:24] akosyakov commented on #7190
@vibhormda i did not try, but stackoverflow says no: https://stackoverflow.com/questions/38728176/can-you-use-a-service-worker-with-a-self-signed-certificate see for a workaround in the answer

[2020-02-20 21:53] garethwhittaker commented on #5942
I'd be interested in picking this task up.
I assume a new preference will be a suitable way to specify which notification types to mute.

[2020-02-20 22:14] vince-fugnitto commented on #5942
@garethwhittaker sure!

I think we can aim to have a single preference (ex: `workbench.silentNotifications`) which would affect all types of notifications. I could not find a preference in VS Code however.

It might also be interesting for at some point to have an enhancement in the form of a new command which toggles the `silentNotifications` preference (allows users to turn on/off the setting in

[2020-02-21 09:56] #6108 closed

[2020-02-21 10:23] Johannes-B-stock commented on #7040
Will take care

[2020-02-21 16:12] vibhormda commented on #7190
@akosyakov  Thank You for the links. I was succesfully able to run the webview sample after your inputs.

### Here are the steps I am following to run theia on HTTPS mode -

export THEIA_WEBVIEW_EXTERNAL_ENDPOINT=my-theia-host
yarn run start --ssl --cert host.cert --certkey host.key --hostname 0.0.0.0 --port 443
start chrome : chrome.exe --user-data-dir=/tmp/foo --ignore-certificate-errors --unsaf

[2020-02-22 00:07] stuartpb commented on #5085
What'd be best would be to have the hybrid behavior seen in Firefox, where tabs shrink until they reach a certain size, *then* they start scrolling.

[2020-02-22 05:07] akosyakov commented on #7190
Webviews are designated to be treated as remote content which can access your browser states if you deployed as in https://github.com/eclipse-theia/theia/issues/7190#issuecomment-589721450 It is fine if you don't have any secrets, i.el cookies, access to filesystem.

By default, it is set to be secured with unique origins for each webview that they cannot break out via the main window. If someone

[2020-02-22 05:10] #5019 closed

[2020-02-22 05:10] #5839 closed

[2020-02-22 05:10] #6677 closed

[2020-02-22 05:10] #7113 closed

[2020-02-22 05:10] #7176 closed

[2020-02-22 09:30] #7180 closed

[2020-02-22 20:32] dannaf opened #7196 "regex search crashes tab on non-fixed-width lookbehind"
### Description
Theia's Editor search with regex feature breaks on variable-width lookbehind and crashes the browser tab with it

### Reproduction Steps
Create a file with the following string `def test_function(test='ing'):`

Bring up the search feature of the Editor (ctrl/cmd+f), and select the `Use Regular Expression` setting

Paste the following regex: `(?<=def .*?\([^=]*)=`

Observe the brows

[2020-02-23 01:48] frankgerhardt commented on #4403
Happy anniversary, this issue is one year old. I just ran `docker run -it --init -p 3000:3000 -v "$(pwd):/home/project:cached" theiaide/theia:next` and I could not even create a file in `/home/project/Untitled.txt` beause of a permission problem!?

[code]

[2020-02-24 09:55] Kreyren opened #7198 "vscode.languages.registerSelectionRangeProvider is not supported"
Transfer from https://github.com/gitpod-io/gitpod/issues/1200

INFO: The original issue expects datatype helper in rustlang.

### Description

This issue has been observed on gitpod

Rust analyzer (https://marketplace.visualstudio.com/items?itemName=matklad.rust-analyzer) requires vscode.languages.registerSelectionRangeProvider function to work on theia as mensioned in output:

[code]

Test reposi

[2020-02-24 10:27] akosyakov opened #7199 "[regression] description is not aligned properly in the plugin tree"
It should be aligned to the right.

Now it is:
<img width="385" alt="Screenshot 2020-02-24 at 11 26 24" src="https://user-images.githubusercontent.com/3082655/75145085-9894fb00-56f8-11ea-977c-7b47eded4cbc.png">

How it used to be:
<img width="396" alt="Screenshot 2020-02-24 at 11 27 16" src="https://user-images.githubusercontent.com/3082655/75145100-a0ed3600-56f8-11ea-9c15-f66ddaffd1fe.png">

@vin

[2020-02-24 10:33] #6565 closed

[2020-02-24 10:46] kittaakos opened #7200 "RecursivePartial is not array aware."
### Description

`RecursivePartial` does not respect arrays in nested props.
[code]

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-02-24 10:50] akosyakov commented on #7198
The same for the latest typescript extension

[2020-02-24 10:55] Kreyren commented on #7198
@akosyakov elaborate on help-wanted

[2020-02-24 11:11] akosyakov commented on #7198
@Kreyren It means that someone can pick this issues up and work on it. Basically we need to add new APIs in theia.d.ts aligned with vscode.d.ts and then implement them. One can have a look as other language APIs are implemented in Theia and implement similarly new one. For inspiration it's also fine look at VS Code codebase. It's usually better to have the implementation aligned in the plugin host

[2020-02-24 12:55] marcdumais-work opened #7203 "[documentation] add information regarding all available commands and their descriptions"
### Description
The goal is to provide users with the ability to view all available registered commands present in the framework, alongside helpful descriptions of their functionality. Such a reference can then be easily added as a menu entry under the Help menu for users to reference.

[2020-02-24 12:56] marcdumais-work commented on #7160
@chrisjj We, the project members, reserve the right to reword, prioritise and generally manage the issues in this repository, as we see fit.

I believe the title of this issue here is subjective and unnecessarily negative - any feature that Theia does not immediately have could be seen as a "failure" of some sort. @vince-fugnitto attempted to improve upon the original title but you reverted the ch

[2020-02-24 12:56] #7160 closed

[2020-02-24 12:57] akosyakov commented on #7203
Do you mean to have a widget which inspect `CommandRegistry` and show information about all registered commands by the current moment?

[2020-02-24 13:06] vince-fugnitto commented on #7203
I like the idea of having a widget describing all available commands and their descriptions if available. The original issue argued that we should provide documentation on commands (their description, their context) for end-users and then reference them in the `Help` menu. AFAIK, VS Code does not provide such documentation since commands are self-explanatory or they argue to use the `keybindings`

[2020-02-24 13:19] akosyakov commented on #7203
They have some docs to be fair: https://code.visualstudio.com/api/references/commands

The problem with commands that it is API, if we document something it should be stable, otherwise such documentation will rot fast. But i see the same issue with the widget, if it would be very easy to look up commands then users start using it in different places (like one can use them in webviews or markdown f

[2020-02-24 13:22] vince-fugnitto commented on #7203
I completely agree :+1:

[2020-02-24 15:03] vince-fugnitto opened #7204 "markers: update tooltip to display the full path of a resource"
**Description**

The `MarkerInfoNode` tooltip should be updated to display the full path of a given resource.
At the moment, only the relative path is displayed.

[2020-02-24 15:04] #7155 closed

[2020-02-24 15:11] Anasshahidd21 commented on #7170
![image](https://user-images.githubusercontent.com/43870550/75163786-cb85c180-56ed-11ea-87f4-db2f336a6c03.png)
I tried to test it by the steps you provided and the focus seems to be to the right tab.
@AlexTugarev can you verify if this issue is still in occurrence?

[2020-02-24 15:21] offer8 commented on #6565
@akosyakov can this one be part of v0.16.0 release?

[2020-02-24 16:09] JesterOrNot opened #7206 "Use the user's account Icon instead of a generic one"
### Description
Currently seemingly at random generic icons are used for git-history/head commit
![image](https://user-images.githubusercontent.com/50386709/75169086-94171500-56ed-11ea-8ea1-c892fc0b03a4.png)
![image](https://user-images.githubusercontent.com/50386709/75169203-c3c61d00-56ed-11ea-8623-bd4004532d11.png)

### Reproduction Steps
Look at git history in theia and see that some people hav

[2020-02-24 16:13] tom-shan commented on #7114
if column number is 1, will it be an inline breakpoint?

[2020-02-24 16:21] westbury commented on #7206
The icons come from gravatar.com.  If someone does not upload an image then a random image is used.  Most sites assign random images until someone uploads one, e.g. github does this (speaking as someone who has not uploaded a github image).

If you prefer a different service then you can rebind ScmAvatarService.

[2020-02-24 16:21] AlexTugarev commented on #7170
@Anasshahidd21 in your screenshot the `Untitled.txt` tab was clicked, thus the widget received keyboard focus. A single click from Explorer OTOH doesn't do this.

The difference is hard to tell from looking at the tabs though:

![Screen Shot 2020-02-24 at 17 14 02](https://user-images.githubusercontent.com/914497/75169694-491af300-5729-11ea-885d-29b6525b4b91.png)

![Screen Shot 2020-02-24 at 17 14

[2020-02-24 16:42] JesterOrNot commented on #7206
Thanks! Do we document this?

[2020-02-24 16:44] akosyakov commented on #7206
@JesterOrNot It should be already overridden in Gitpod. For Gitpod we are also going to get rid of current history view and reuse Gitlens instead.

[2020-02-24 16:44] #7206 closed

[2020-02-24 16:46] akosyakov commented on #7114
@tom-shan Could you send a PR please? let's try your approach

[2020-02-24 16:46] akosyakov commented on #7114
Maybe https://github.com/eclipse-theia/theia/issues/6910 is another issue which will be get fixed by such PR.

[2020-02-24 17:05] justinang1 commented on #7114
I was testing the same approach as @tom-shan. Breakpoints are initialized with column undefined but when copied, the column becomes 1. I was going to do more testing and create a PR by the end of today.

[2020-02-24 19:49] amiramw commented on #6565
it's in the master and 0.16.0 was not released yet so why not?

[2020-02-24 21:04] chrisjj commented on #7203
"This document lists a subset of Visual Studio Code commands that you might use with vscode.commands.executeCommand API."

That's not a list of user commands.

This documentation i.e. Command Help won't rot at all if it is gathered at the appropriate time i.e. after any addition, deletion or modification of the entry of any command.

That's not a problem of documentation. It is a problem of API in

[2020-02-24 21:06] chrisjj commented on #7203
VS Code seems rather a low bar. Theia aims to improve on VS Code, right?

[2020-02-24 21:08] chrisjj commented on #7203
The widget sounds good to me.

I don't understand this. The widget would make the document automatically as required. There's no manual document maintenance.

[2020-02-25 00:26] JesterOrNot opened #7210 "Show number of git changes in the sidebar"
### Description

Show number of git changes in the sidebar

Theia:
![image](https://user-images.githubusercontent.com/50386709/75203046-b8e1ab80-5732-11ea-9e9e-7a3f1654a547.png)

VSCode
![image](https://user-images.githubusercontent.com/50386709/75203137-f47c7580-5732-11ea-9367-db0a66603f78.png)

[2020-02-25 02:12] vince-fugnitto commented on #7210
Thank you for the issue @JesterOrNot :)
Closing as it is a duplicate of https://github.com/eclipse-theia/theia/issues/4782.

[2020-02-25 02:12] #7210 closed

[2020-02-25 09:03] ShimonBenYair opened #7212 "Missing command - 'SQLTools.getConnectionStatus'"
### Description

When running Theia locally, an error is shown in the console:

`root ERROR [hosted-plugin: 20233] Promise rejection not handled in one second: Error: Command with id 'SQLTools.getConnectionStatus' is not registered. , reason: Error: Command with id 'SQLTools.getConnectionStatus' is not registered.
With stack trace: Error: Command with id 'SQLTools.getConnectionStatus' is not regis

[2020-02-25 09:05] akosyakov commented on #7212
You need to have sql vscode extension installed and follow `How to test` steps from https://github.com/eclipse-theia/theia/pull/6803

[2020-02-25 09:15] ShimonBenYair opened #7213 "Editor tabs duplication for 'untitled' and 'file' schemes for the same path"
### Description
Duplicate editors for untitled and file schemes for the same path.
When the user calls the "showTextDocument" API (with "untitled" scheme and a non existing path ) a new tab is opened ( as expected).
The user can edit the file and click 'CTRL+s' to save the file ( and the file is saved --> also as expected).
But when the user then go to file-->open and navigate to the saved file an

[2020-02-25 10:11] #7200 closed

[2020-02-25 10:32] akosyakov commented on #7213
We have a logic to replace one editor with another when a file is moved: https://github.com/eclipse-theia/theia/blob/e5ab531832580186a75e6c6caa9ebbc674386fda/packages/filesystem/src/browser/filesystem-frontend-contribution.ts#L77 It cannot be directly to apply to move from untitled to file scheme, but maybe could be used as an inspiration. So instead of wrapping `FileResource` as for now on save o

[2020-02-25 10:45] akosyakov commented on #3450
The blue progress bar is available already. We are going to add loading spinner for any tree to align with VS Code UI.

![36672590-1e8e5cb0-1b00-11e8-99b8-74aa7b2d2645](https://user-images.githubusercontent.com/3082655/75240210-47523d80-57c4-11ea-87b4-5f491db7af4d.gif)

It will be shown on `Tree.resolveChildern` after some configurable delay. It could be disabled by setting delay to 0.

[2020-02-25 10:46] akosyakov commented on #7212
@ShimonBenYair already fixed? :)

[2020-02-25 12:23] westbury commented on #7187
I decided to check this out using the vscode Git builtin instead of the Theia Git extension.  Surprisingly it's an issue there too.  See https://github.com/Microsoft/vscode/issues/7989.  That's been open over three years.

We can fix this but only when using Theia Git extension.

[2020-02-25 13:03] kittaakos opened #7215 "tildifyPath should be part of the label provider (or one if its contribution) logic"
### Description

Tildifying a path helps users on POSIX to visualize the home folder relative path on the UI. This is a nice UX but the caller code is not so nice. We have to retrieve the home folder URI, map it to a Theia `Path` do the same with the context URI, then call `tildifyPath`.

Instead of repeating the same logic here and there in the FE (see screenshot):
![Screen Shot 2020-02-25 at 14

[2020-02-25 13:04] #7204 closed

[2020-02-25 15:19] ReinforceZwei commented on #3780
I got the same error when I added `@theia/java` as a dependence to the `package.json` file.
Remove `@theia/java` from `package.json` and rebuild theia, then everything fine.

This is the `package.json` file that is NOT working
[code]
Any solution?

[2020-02-25 15:47] akosyakov commented on #7215
Just pay attention that `LabelProvider` cannot be async they should be fast since they used in react rendering. Maybe we can prefetch and store homeUri.

[2020-02-25 16:17] marcdumais-work commented on #3780
@ReinforceZwei Let me try

[2020-02-25 16:44] marcdumais-work commented on #3780
@ReinforceZwei It worked for me, using your `package.json` above. Most likely there was a temporary npm glitch or `@theia/java` did not published correctly for one `next` and was fixed soon after.

[2020-02-25 16:44] marcdumais-work commented on #3780
@ReinforceZwei It worked for me, using your `package.json` above. Most likely there was a temporary npm glitch or `@theia/java` did not published correctly for one `next` and was fixed soon after.

[2020-02-25 22:08] ReinforceZwei commented on #3780
@marcdumais-work It seems to be my problem.
My last try was based on a built theia. I modified the `package.json` and ran the build command again.
Now I built a brand new theia with `@theia/java` in a new directory and it worked perfectly.
Anyway thanks for your help!

[2020-02-26 01:36] vrubezhny commented on #4472
@akosyakov, @tsmaeder  It looks like `dispose()` (https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext/src/main/browser/languages-main.ts#L382) is still never invoked for the  Document Link Provider. At least it is true for the links generated for `*.md`-file editor. Also I couldn't find any traces of links clean up in `theia/examples/browser/lib/vs/editor/editor.main.js`...

Is

[2020-02-26 05:37] akosyakov commented on #4472
How can I get such links?

[2020-02-26 05:49] akosyakov commented on #4472
For some reason, they expect `dispose` method to be on the provider not list of links. Could you check what VS Code does, i.e. how does it register and dispose link providers for the extension host process?

[2020-02-26 08:22] akosyakov commented on #7170
Editor preview should never receive a focus if opened on a single click. It is the point of preview that you can navigate through files in the explorer and preview another file.

[2020-02-26 09:31] kittaakos commented on #7196
VS Code has a guard against it:
![Screen Shot 2020-02-26 at 10 24 15](https://user-images.githubusercontent.com/1405703/75330948-3536d480-5882-11ea-8578-88ed5e7fc25e.jpg)

Here are some pointers from VS Code:
https://github.com/microsoft/vscode/blob/afcaaa613186832493bb1813dee048890a3c2a2f/src/vs/workbench/contrib/search/browser/searchWidget.ts#L469-L483

We have to validate the search term either

[2020-02-26 10:27] vrubezhny commented on #4472
I'm running my branch (rebased over Theia master) as a Browser Example - and I have defined that `dispode()` method so it calls according `LinkProviderAdapter''s `$releaseDocumentLinks()` method which should clean the cache.  Eclipse Theia is added to my workspace, so, when I open ` I see that:
- When I open `https://github.com/eclipse-theia/theia/blob/master/CODE_OF_CONDUCT.md` I see two Document

[2020-02-26 10:44] akosyakov opened #7218 "respect operating systems conventions where to store configuration and cache files"
Currently we store all files under user home and does not respect any conventions. It has 2 consequences:
- configuration synching does not work on OS level, like windows roaming
- secondary data, like logs, extensions, workspace storages are not treated as caches by OSs

It especially affects the electron target, for browser target usually embedding product has own means to share configurations a

[2020-02-26 10:49] #4488 closed

[2020-02-26 12:34] akosyakov commented on #4472
Links for markdown is not contributed by the plugin system. You should make sure that are links coming from the plugin host process, only then dispose will be called.

[2020-02-26 13:11] lxn179208 opened #7219 "How to play audio and video in the theia?"
### Description

I want to choose  playing audio and video when I right click a mp3/mp4 file.
How?

[2020-02-26 13:42] vrubezhny commented on #4472
Well then I should find another way yo get links,

But then, should we do anything to clear the links like those for markdown? It looks like they are really never get removed from the cache.

[2020-02-26 13:56] akosyakov commented on #4472
I've filed an issue for VS Code to check it. It looks like indeed links are leaking, but it should be fixed in the upstream first. We could try to hack around for the plugin host process, but all other links will leak anyway.

[2020-02-26 14:20] vince-fugnitto commented on #3947
Closed by https://github.com/eclipse-theia/theia/pull/5471

[2020-02-26 14:20] #3947 closed

[2020-02-26 14:30] vince-fugnitto commented on #7219
@lxn179208 you have two main options:
1. create a custom theia extension (provides more flexibility)
2. create a custom vscode extension (provided there are none already that handle your use-case) - (more limited than a option 1)

The idea would be to create an [`OpenHandler`](https://github.com/eclipse-theia/theia/blob/e945f2efc1b948f2f6f671f047995caac829682f/packages/core/src/browser/opener-serv

[2020-02-26 15:11] vince-fugnitto commented on #6946
I created a new wiki page [Consuming Builtin and External VS Code Extensions](https://github.com/eclipse-theia/theia/wiki/Consuming-Builtin-and-External-VS-Code-Extensions) to describe how to consume builtin and external VS Code extensions. Anyone is free to update/enhance the documentation.

cc @marcdumais-work

[2020-02-26 15:16] akosyakov opened #7220 "workspaceservice should allow custom folder name"
It's required to confirm VS Code APIs, currently we ignore custom names what breaks extensions like gitlens.

To reproduce:
- use https://github.com/eclipse-theia/theia/pull/6921
- try to open a specific repository as folder with Explore Repository from Revision command. The name of a folder is bogus.

[2020-02-26 16:09] DavyKoravand opened #7223 "Refactoring features?"
Hi,

I'm wondering if Theia will get some built-in refactoring features like many local IDEs have. For example, with IntelliJ you can extract Java code into a method with a single shortcut. Are features like these planned, or will they require a plugin?

[2020-02-26 16:19] akosyakov commented on #7223
Theia is running vscode-java: https://github.com/redhat-developer/vscode-java Any refactoring supported by this extension should work.

[2020-02-26 16:30] akosyakov commented on #7219
I am not sure it can be done with VS Code extensions, i.e. they don't have access to browser API to play sounds (maybe with webviews) and can we override right click on the file?

[2020-02-26 16:32] akosyakov commented on #7219
Not sure what you mean by right-click? From context menu?

[2020-02-26 16:32] akosyakov commented on #7219
Browser API to play sounds: https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API

[2020-02-26 16:39] akosyakov commented on #4472
I was fixed in the upstream today: https://github.com/microsoft/vscode/issues/91536#issuecomment-591478743 I think it is going to be part of Monaco Feb release. It is important for us not only for the plugin system but fro built-in providers as well.

[2020-02-26 16:45] ndoschek commented on #7140
Hi!
I took a look into this and have created a proposal to fix this issue (but did not open a PR yet).
(also see https://github.com/ndoschek/theia/tree/fix7140)

Anyhow, I came across a minor problem, namely the `jsonSchemaService` (vscode-json-languageservice) returns the following warning:
`Problems loading reference 'file:///test/my-schema-definition.json': Unable to load schema from '/test/my-

[2020-02-26 16:46] akosyakov commented on #7140
@ndoschek please open a PR, it would be easier to see and try changes

[2020-02-26 17:20] vrubezhny commented on #4472
@akosyakov  Thanks!

[2020-02-26 17:34] nicholasl00 opened #7226 "Images not loading in jupyter notebooks"
### Description
Images in jupyter notebooks are not loaded

### Reproduction Steps

In theia
![Screenshot from 2020-02-26 16-00-07](https://user-images.githubusercontent.com/35565271/75370308-cd51af80-58bc-11ea-94a2-b84c298d73fd.png)
![Screenshot from 2020-02-26 16-00-20](https://user-images.githubusercontent.com/35565271/75370348-d9d60800-58bc-11ea-8c71-a9220f0d6648.png)
In vscode
![Screenshot fr

[2020-02-26 18:17] vince-fugnitto commented on #7226
@nicholasl00 note, when attempting to open an image file, one should use the `Open With > Preview` so that the actual image is displayed instead of it's sources.

We have a pull-request which has unfortunately not been completed yet to set the `preview` as the highest handler of image files (https://github.com/eclipse-theia/theia/issues/5230) so that we align in behavior with VS Code.

[2020-02-26 19:27] marcdumais-work commented on #6946
Looks good enough to start, thanks @vince.

[2020-02-26 19:27] #6946 closed

[2020-02-27 01:34] marcdumais-work commented on #6947
PR: https://github.com/theia-ide/theia-website/pull/89

[2020-02-27 01:48] JesterOrNot opened #7228 "Render .markdown files in preview"
### Description
Allow live previews for `.markdown` file just like `.md` files

**OS and Theia version:**
Gitpod

`.markdown` file UI
![image](https://user-images.githubusercontent.com/50386709/75404666-d77da900-58d0-11ea-9ded-4e38910c8792.png)
Notice no preview button
`.md` file UI
![image](https://user-images.githubusercontent.com/50386709/75404701-f54b0e00-58d0-11ea-8883-18c08c1db1f6.png)

[2020-02-27 02:03] marcdumais-work commented on #7088
If time is tight for the milestone, this one could wait for a bit after.

[2020-02-27 02:11] marcdumais-work opened #7229 "[documentation] Update other extension's READMEs"
### Description
`@theia/getting-started` was done first as template:  https://github.com/eclipse-theia/theia/pull/7077 . The remaining extensions of the repo should be updated to be similar.

[2020-02-27 02:18] vince-fugnitto commented on #7229
Closing https://github.com/eclipse-theia/theia/issues/6518 in favor of tracking the feature here.

[2020-02-27 02:18] vince-fugnitto commented on #6518
Closing in favor of #7229

[2020-02-27 02:21] marcdumais-work commented on #7229
Ah, you already had an issue with nicer description :)  The milestone had only the issue about updating `getting-started` as example for the others, so I thought the overall one was missing. Feel free to re-open your issue and add it to the milestone and instead close this one here as duplicate.

[2020-02-27 02:29] vince-fugnitto commented on #6518
Reopened :)

[2020-02-27 02:29] vince-fugnitto commented on #7229
Closing in favor of #6518.

[2020-02-27 02:29] #7229 closed

[2020-02-27 02:41] vince-fugnitto commented on #7228
@JesterOrNot this issue looks more suitable for Gitpod itself.
Theia `master` does have **preview** support for `.markdown` files.

<div align='center'>

<img width="1772" alt="Screen Shot 2020-02-26 at 9 39 42 PM" src="https://user-images.githubusercontent.com/40359487/75407295-9c837180-58e0-11ea-8528-34e2a38d9a83.png">

</div>

[2020-02-27 03:18] #7223 closed

[2020-02-27 03:23] akosyakov commented on #7228
@vince-fugnitto with theia extension only?

[2020-02-27 03:26] vince-fugnitto commented on #7228
I haven’t tried with only the `@theia/preview` extension, by the looks of the tabbar toolbar icon it looks like the functionality comes from the builtin. Updating our own extension should be fairly trivial if Gitpod is using the Theia extension.

[2020-02-27 07:58] akosyakov commented on #7228
Right now VS Code extension allows only one preview at the time, that's limiting. They are working on allowing multiple then we can get rid of our extension completely.

[2020-02-27 08:04] #6910 closed

[2020-02-27 08:04] #7114 closed

[2020-02-27 08:45] i501378 opened #7231 "i18n.properties files cannot be viewed at command "Preview: Open URL""
### Description
We need to view the files by calling the command "Preview: Open URL"
General file types are OK, but i18n.properties files cannot be viewed now.

### Reproduction Steps
1) create or upload file "i18n.properties" into the root of workspace.

2) execute command "Preview: Open URL", and input the url as file:///workspace/theia/i18n.properties

3) it's not shown in the preview widget.

[2020-02-27 09:01] akosyakov commented on #5764
@hacke2 Could you check please whether https://github.com/eclipse-theia/theia/pull/6921 resolves the issue for you? I'm fixing and adding more tests there, but would be nice to know earlier whether i've overlooked something.

[2020-02-27 09:14] akosyakov commented on #7199
It would be good to fix, all plugin trees are affected now.

[2020-02-27 10:43] HuangJunjia opened #7232 "vscode webview input tag cannot enter anything"
### Description

vscode extension create a webview but input element cannot enter anything.

### Reproduction Steps

1. vscode extension create a webview
2. Enter characters in the input element

**OS and Theia version:**
![image](https://user-images.githubusercontent.com/19429582/75437081-a2d12680-5990-11ea-8b0b-5ffc031702c2.png)

**Diagnostics:**

![image](https://gitee.com/huangjunjia1995/pic/r

[2020-02-27 11:09] akosyakov commented on #7232
@HuangJunjia Could you try before this PR: https://github.com/eclipse-theia/theia/pull/7216?

cc @azatsarynnyy @vrubezhny @vince-fugnitto Could you check please? If it is the case we have to revert it before the release. cc @marcdumais-work

[2020-02-27 12:33] vince-fugnitto commented on #7232
I confirmed it is caused by #7216 and have provided a fix https://github.com/eclipse-theia/theia/pull/7233

[2020-02-27 12:35] vince-fugnitto commented on #1527
Verified the issue using #7227 and confirmed that the use case does fail the CI successfully ✅
Closing the issue for the moment, and will re-open if the problem ever re-occurs.

[2020-02-27 12:35] #1527 closed

[2020-02-27 12:37] vince-fugnitto commented on #7199
I could not identify which pull-request affected the plugin trees unfortunately.

[2020-02-27 13:21] #7232 closed

[2020-02-27 13:29] akosyakov commented on #7199
@vince-fugnitto ok, i will try to fix it later. Let's release without it. It does not look nice, but it does not break.

[2020-02-27 13:33] vzhukovskii opened #7235 "Correct handling the hotkeys in Web Views"
### Description
There is a situation, when developer opens a web view and place a focus on it. [main.js](https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext/src/main/browser/webview/pre/main.js) was copied from VS Code. And VS Code itself doesn't experience this problem. But when focus is placed in iframe and developer call browser hotkey (`CtrlCmd+P` or `CtrlCmd+O`) iframe prop

[2020-02-27 13:38] akosyakov commented on #7235
I cannot reproduce it on master (after reverting the fix). I use Gitlens Welcome screen:
- select an input to focus webview
- use f1 ->  command palette is opened
- I still can type in the input field

Does you VS Code extension install any keyboard handlers which prevent propagation? Code which you mention does not prevent propagation any events, so worst what could happen that event will be hand

[2020-02-27 13:38] akosyakov commented on #7235
Another cause maybe that webview creates another iframe, in this case we will never be notified about keyboard events inside such iframe. You will need to propagate such events from nested iframe to webview iframe.

[2020-02-27 13:58] #7228 closed

[2020-02-27 14:19] #7190 closed

[2020-02-27 14:19] #6849 closed

[2020-02-27 14:22] akosyakov commented on #6749
It seems to be fixed in latest Chromium based Edge: https://github.com/microsoft/vscode/issues/86399#issuecomment-572312243 Please reopen if it is still the case.

[2020-02-27 14:22] #6749 closed

[2020-02-27 14:32] vzhukovskii commented on #7235
That happens with the [coding-cat](https://github.com/microsoft/vscode-extension-samples/tree/master/webview-sample) sample. When you open webview and click anywhere inside, then, for example, try to call `Ctrl+P` hotkey. Then you'll get popup with search prompt and default print dialog.

[2020-02-27 14:57] akosyakov commented on #7235
I'm not sure. It is not easy to check we have quite a logic to detect properly keybindings for all possible combinations of keyboard event properties. We will need to replicate it inside webview: https://github.com/eclipse-theia/theia/blob/5f50a7d0cfe3aabf03de9505edcb2fffd49c4a99/packages/core/src/browser/keyboard/keys.ts#L180 Also where do we get an extensive list of such keybindings?

I wonder w

[2020-02-27 15:07] akosyakov commented on #7199
https://github.com/eclipse-theia/theia/commit/d7e4d54a286e9c989a4bcdde301833514305a5a0#diff-54e02e62e25266d75875fd54a1ca1c15R284 this line broke it

[2020-02-27 16:30] vince-fugnitto commented on #7231
@i501378 do you have an example project with a `i18n.properties` file so we can verify the issue? You mentioned that:

Was it ever the case that the file could be successfully previewed?

[2020-02-27 17:47] westbury commented on #3450
@akosyakov That looks like https://github.com/eclipse-theia/theia/pull/5535.  At the time I was holding off as other progress work was being done and I never got back to it.  Our use-case was slightly different, as we wanted the progress indicator to be active when certain context actions are unavailable on a tree node, eg a tree node representing a project that is being built.  If you have this i

[2020-02-27 18:16] vince-fugnitto commented on #3956
Closed by https://github.com/eclipse-theia/theia/pull/6933.
Please re-open if there are still items left to complete before we can officially close the issue.

[2020-02-27 18:16] #3956 closed

[2020-02-27 18:21] #7199 closed

[2020-02-27 19:26] marcdumais-work commented on #6947
PR merged.

[2020-02-27 19:27] #6947 closed

[2020-02-27 19:59] vince-fugnitto commented on #6183
Closed by #6933

[2020-02-27 19:59] #6183 closed

[2020-02-27 20:03] vince-fugnitto commented on #3689
Closing thanks to https://github.com/eclipse-theia/theia/pull/6933.

Java support should now be contributed by the various VS Code extensions (example found in the `theia-apps` [java image](https://github.com/theia-ide/theia-apps/blob/master/theia-java-docker/latest.package.json)). If there is still an issue with `organize imports` please feel free to file an issue at the VS Code extension: https:

[2020-02-27 20:03] #3689 closed

[2020-02-27 20:06] vince-fugnitto commented on #6339
Closing due to inactivity.
The example images found at [theia-apps](https://github.com/theia-ide/theia-apps) have been recently updated to make use of VS Code plugins. Please refer to them as examples for your own application. For instance, the [theia-docker](https://github.com/theia-ide/theia-apps/tree/b00d6282949ec6b5bb199fe7137484849123c6b0/theia-docker) is using an `alpine` image as a base.

[2020-02-27 20:06] #6339 closed

[2020-02-27 20:07] vince-fugnitto commented on #2555
Closing thanks to #6933.

[2020-02-27 20:07] #2555 closed

[2020-02-27 20:09] vince-fugnitto commented on #3790
Closing due to inactivity and #6933.
Issues regarding Python support should now be filed against the appropriate VS Code extension if the problem persists.

[2020-02-27 20:09] #3790 closed

[2020-02-28 01:38] tom-shan opened #7240 "Failed to load plugin dependencies from ... path Error: ENOTDIR: not a directory"
### Description
when a plugin file is an symbolic link, theia will failed to load this plugin
ERROR Failed to load plugin dependencies from ... path Error: ENOTDIR: not a directory

### Reproduction Steps

**OS and Theia version:**
OS: centos 7
Theia: c965552a41d7963a0f6f960b831f894a75de2713
**Diagnostics:**
https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext/src/main/node/plugi

[2020-02-28 04:29] akosyakov commented on #7231
It should be possible to preview local html files or pictures and so on

[2020-02-28 04:42] akosyakov commented on #3450
@westbury ok, thanks for reminding, i need quite urgent for the customer, so planing to work myself. I will have a look at your PR though.

[2020-02-28 11:52] marcdumais-work commented on #6906
This issue is about the `@theia/java` extension that was removed from the repo and is no longer supported. Closing.

[2020-02-28 11:52] #6906 closed

[2020-02-28 12:13] marcdumais-work commented on #7185
Version `0.54.2` of that extension is known to work well in Theia AFAIK. Could you try that version and report if you have the same issue?

https://github.com/redhat-developer/vscode-java/releases/download/v0.54.2/redhat.java-0.54.2.vsix

[2020-02-28 13:02] marcdumais-work commented on #2661
We no longer support `@theia/java` or have Java support in the example apps in this repo - closing.

[2020-02-28 13:02] #2661 closed

[2020-02-28 13:11] marcdumais-work commented on #1878
Since we no longer support `@theia/java` and instead advise to use `vscode-java`, I think we can close this issue. Please re-open if disagree.

[2020-02-28 13:11] #1878 closed

[2020-02-28 13:17] marcdumais-work commented on #851
Probably no longer applicable since we deprecated `@theia/java`. Please re-open if I am wrong.

[2020-02-28 13:17] #851 closed

[2020-02-28 13:30] vince-fugnitto commented on #2106
Closing the issue for the following reasons:
- the issue is quite outdated
- no procedure is available (based on the quote) to successfully reproduce the problem consistently
- the `@theia/java` extension has been replaced by `builtins` so this issue may no longer apply

[2020-02-28 13:30] #2106 closed

[2020-02-28 17:43] JesterOrNot opened #7243 "Elm Extension won't start because it requires VSCode 1.42"
### Description
Language server fails to start due to an outdated version of VSCode

### Reproduction Steps
![image](https://user-images.githubusercontent.com/50386709/75571622-2cc7d080-5a1f-11ea-9f26-e908be14e03b.png)
Open https://gitpod.io/#https://github.com/jesterornot/gitpod-elm/tree/bug
The relevant extension is https://marketplace.visualstudio.com/items?itemName=Elmtooling.elm-ls-vscode

**

[2020-02-28 19:57] vince-fugnitto commented on #7243
@JesterOrNot you can specify a `VSCODE_API_VERSION` when starting the application if you'd like, else I'd suggest using an older version of the `elm` extension. We are still working towards supporting newer versions of the API (and ultimately extensions). (related https://github.com/eclipse-theia/theia/issues/6804)

For the moment I think we can hold-off creating issues for each extension we encou

[2020-02-28 23:13] ViRb3 commented on #6390
Confirmed on Windows 10 with Firefox, makes working quite hard.

[2020-02-29 05:04] akosyakov commented on #7243
We should bump up VSCODE_API_VERSION. It's again `vscode-languageclient` defaults to 1.42. Any extension which is using this version regardless whether it actually uses unsupported by us features won't work.

[2020-02-29 05:13] akosyakov commented on #7243
Yes, just checked that they are using progress enhancements from new `vscode-languageclient`: https://github.com/elm-tooling/elm-language-client-vscode/commit/b6516fb2ed38d5b070e47c48c69600d601af3382#diff-bc3c0f2fe3aca9ddbe96347ffb00641e

It is already supported by us.

[2020-02-29 05:13] akosyakov commented on #7243
@JesterOrNot it can be bumped up here: https://github.com/eclipse-theia/theia/blob/764b74045fc1d8e1f4db2870e5517b5dd44693de/packages/plugin-ext-vscode/src/node/plugin-vscode-init.ts#L22

[2020-02-29 06:10] 502647092 opened #7244 "[vscode][builtin][plugin] plugin vscode-builtin-typescript-language-features r.languages.registerSelectionRangeProvider is not a function"
### Description

install builtin plugin next version have some error

### Reproduction Steps

install next version builtin plugin
- `@theia/vscode-builtin-typescript-language-features`

**OS and Theia version:**
Theia 0.17.0-next.c965552a

**Diagnostics:**
[code]

[2020-02-29 06:12] 502647092 opened #7245 "[vscode][builtin][plugin] vscode-builtin-npm r.Task2 is not a constructor"
### Description

install vscode-builtin-npm next version have some error

### Reproduction Steps

install next version builtin plugin
- `@theia/vscode-builtin-npm`

**OS and Theia version:**
Theia 0.17.0-next.c965552a

**Diagnostics:**

[code]

[2020-02-29 07:08] justinang1 commented on #7065
I see that type Range should be have startLineNumber and startColumn > 1, so should the range definition underneath just be:
                start: { line: selection.startLineNumber - 1, character: selection.startColumn + 1},
                end: { line: selection.endLineNumber - 1, character: selection.endColumn - 1 }
instead?

Also not too sure about how to debug/verify this, I see it's called i

[2020-02-29 08:02] akosyakov commented on #7065
@justinang1 You will need to create a VS Code extension fist reproducing the issue reliably. After that you can try to fix it.

[2020-02-29 08:03] akosyakov commented on #7244
duplicate of https://github.com/eclipse-theia/theia/issues/7198

[2020-02-29 08:03] #7244 closed

[2020-02-29 10:14] 502647092 opened #7246 "[vscode][typescript] root ERROR [hosted-plugin: 42] Invalid Completion Item -> must be single line and on the same line"
### Description

after remove `@theia/typescript` and use `@theia/vscode-builtin-typescript-language-features`
Ts in ide can't auto completion

### Reproduction Steps

- remove @theia/typescript
- add @theia/vscode-builtin-typescript-language-features@next

**OS and Theia version:**
0.17.0-next.c965552a

**Diagnostics:**
[code]

[2020-02-29 17:08] vince-fugnitto commented on #7246
@502647092 if you'd like to use the `vscode-builtin-typescript-language-features`, you should include it as a plugin and not directly as a dependency in your `dependencies` section of your application.

For example:
https://github.com/eclipse-theia/theia/blob/c965552a41d7963a0f6f960b831f894a75de2713/package.json#L80-L146

For additional information you can consult the [migration steps](https://git

[2020-02-29 21:49] JesterOrNot commented on #7243
On it!

[2020-03-01 00:06] tsiyona opened #7248 "Different versions of @theia/core are causing 'Cannot apply @injectable decorator multiple times' error"
### Description
I have created a sample Theia extension using 'yo theia-extension'.
When trying to start the server I get the error: 'Failed to start the frontend application',
where the root cause is: 'Error: Cannot apply @injectable decorator multiple times.',
reffering to @theia/core.

I checked @theia/core dependency and saw that some extensions require @theia/core version 0.15.0 and some 0.16

[2020-03-01 00:54] vince-fugnitto commented on #7248
@tsiyona thank you for the issue!

It is not possible to mix and match versions of an extension (two extensions cannot both use `@theia/core` at different versions or the following failure will occur. For the `generator-theia-extension` there is a fix ready (https://github.com/theia-ide/generator-theia-extension/pull/53) but it has yet to be approved and merged. In the meantime, you can update you

[2020-03-01 04:42] akosyakov commented on #7246
@vince-fugnitto It is about latest version of built-in typescript extension, not which one which we use on master.

[2020-03-01 04:48] akosyakov commented on #7248
oh, we should have merged it before the release 🙈 sorry I have not seen the PR

[2020-03-01 06:48] i501378 commented on #7231
[i18n.zip](https://github.com/eclipse-theia/theia/files/4271447/i18n.zip)

it supported on vscode with extension Unique Identifier: "auchenberg.vscode-browser-preview"

[2020-03-01 07:08] tsiyona commented on #7248
I did change the versions to "latest" manually before I opened the issue. I will wait for you fix. Thank you :)

[2020-03-01 07:44] akosyakov commented on #7231
@i501378 You can use `auchenberg.vscode-browser-preview` with Theia as well.

[2020-03-01 09:00] akosyakov commented on #6605
It would be good if someone breaks down this issue in actionable items, i.e. for each existing view we should decide which work can take a while and then we should wrap such work into progress to display for the corresponding view container.

[2020-03-01 11:46] loblab commented on #7248
Same issue here, running the sample generated by "yo theia-extension", following the [doc](https://theia-ide.org/docs/authoring_extensions), for Electron, on Windows.
My versions are all "latest" in the package.json.
Where can I modify the different versions of @theia/core? Thanks.

![image](https://user-images.githubusercontent.com/11693722/75625056-46227580-5bf5-11ea-950a-42f8c75687a2.png)

[2020-03-01 13:48] lxn179208 commented on #7219
@akosyakov Right click means "the menu shows when right click the file in the exporer tab".
I hava an idea, add a button jump to the new native tab of the browser.
![image](https://user-images.githubusercontent.com/811605/75626596-b0421700-5c03-11ea-93ac-f3e6132ce855.png)

[2020-03-01 18:35] vince-fugnitto commented on #7248
@loblab the issue occurs due to the fact that there are deprecated extensions included with the `generator` (https://github.com/eclipse-theia/theia/pull/6933 fixes the issue but has not been released as of yet). Since these extensions have been removed prior to v0.16.0 (latest), if you include them in your application they will actually be at 0.15.0 and thus pull different versions of `core`.

For

[2020-03-01 20:32] denisvasilik commented on #7141
I ran into the same issue and did some investigation. It is basically caused by the fact that an already existing terminal does not get the port for the debug session. In [doCreateTerminal ](https://github.com/eclipse-theia/theia/blob/137b87c53f766c5c8d3d01a6c50a677a8234f6cd/packages/debug/src/browser/debug-session.tsx#L392) a new terminal gets all the options as opposed to an already existing ter

[2020-03-02 02:32] cjchristopher opened #7250 "Set bind url"
### Description
I've looked just about everywhere I can think and can't find if there is an option for this.
Having following the install steps here: https://theia-ide.org/docs/composing_applications/
I am running Theia behind a reverse proxy (nginx), but alongside other apps. I would ideally like to access it at localhost/theia (as opposed to the root of localhost), but I can find no way to speci

[2020-03-02 03:56] loblab commented on #7248
@vince-fugnitto Thanks. It works.

[2020-03-02 08:37] akosyakov commented on #7141
I thought that env variables are inherited by processes. If not then it is a bug. cc @marechal-p

@tolusha @tsmaeder  Is it correct that `PTVSD_LAUNCHER_PORT` should be inherited by the plugin host process then by the debug adapter process and then by the program process?

[2020-03-02 08:40] akosyakov commented on #7250
@cjchristopher I am not sure whether anybody manages it. Express.js has middleware, maybe there is a way to specify the root path.

[2020-03-02 10:45] #3450 closed

[2020-03-02 10:45] #5959 closed

[2020-03-02 14:21] kittaakos opened #7251 "[quality] As a developer I want the build (tsc) to fail fast"
### Description

If I have any kind of compiler errors in `@theia/core` for instance, I want to see those errors only, not all the errors of the downstream extensions of `@theia/core` when I run `yarn`.

Example, I created a local branch and have changed a few things, wanted to see what APIs have changed for `electron@7.x`. When I build Theia (with `yarn`) I see the original error in the console a

[2020-03-02 14:55] akosyakov commented on #7251
Have you tried `npx run build @theia/core` to build only core, not the whole project together. I don't think we can change how tsc builds all packages as one project. It would be a feature request for typescript itself?

[2020-03-02 14:58] kittaakos commented on #7251
I wanted to build everything.

It used to work, didn't it?

[2020-03-02 14:58] #4472 closed

[2020-03-02 15:01] akosyakov commented on #7251
It was without build mode before each package was build as one package. We won't go back to it because it is much slower and CPU intensive. Maybe typescript can introduce some flag for build mode to fail faster.

[2020-03-02 15:12] marechal-p commented on #7141
@akosyakov env variables are inherited by sub-processes. The issue is that we reuse shells (like VS Code) to run commands sent by debug adapters via `runInTerminal` requests. This means that a single shell process is spawned, with some env vars, and then never gets updated. We just keep sending commands to it.

The following piece of code will fix this issue, since it encodes the new env into the

[2020-03-02 15:20] felipecrs opened #7252 "Theia should support `editor.defaultFormatter` key"
This setting aims to set a default formatter for a language (or every language).

Reference and use case:
https://github.com/prettier/prettier-vscode/blob/master/README.md#default-formatter

In this project: https://gitpod.io/#https://github.com/felipecassiors/ubuntu1804-4dev, I want to enforce the default formatter to prettier, however, the Ruby one comes on by default. To make Prettier work for

[2020-03-02 16:02] kittaakos commented on #7251
@akosyakov, do we use the `compile-references.js` to compile the repo content?

[2020-03-02 16:39] akosyakov commented on #7251
We use `tsc -b`: https://github.com/eclipse-theia/theia/blob/master/package.json#L51

`compile-references` establishes references between typescript packages that they can be compiled as one project in the build mode

for details: http://www.typescriptlang.org/docs/handbook/project-references.html#build-mode-for-typescript

[2020-03-02 16:56] lmcbout opened #7253 "Unable to open a new file or folder if the preference editor is opened"
### Description
Unable to open a new File or Folder in a workspace when the Preference editor is opened

### Reproduction Steps
Open a workspace
Open a java file
Open the preference editor
Try to open from the menu context: File -> New File  ==> DO NOT WORK
Try to open from the menu context: File -> New Folder  ==> DO NOT WORK

**OS and Theia version:**
OS: Ubuntu 18.04
Theia: latest commit e48b9b

[2020-03-02 18:45] vince-fugnitto commented on #7253
Duplicate of https://github.com/eclipse-theia/theia/issues/7067

[2020-03-02 18:45] #7253 closed

[2020-03-02 18:56] vince-fugnitto commented on #7251
@kittaakos I just shortened the log so it's easier to read the comments of the issue 🙈

[2020-03-02 19:29] marechal-p commented on #7251
@kittaakos I noticed the same issue when doing `yarn` from the root. TBF I think it is something to discuss with the TypeScript team, because it looks odd to me as well.

[2020-03-02 20:46] kharazit opened #7255 "documentation: missing prerequisite causes build failure"
### Description

The process of installing theia is horrible. I have been working for hours to get a working install of the software to no avail. Earlier, I had a working docker image, but for some reason I didn't have a full terminal, nor access to the entire filesystem. I have never had so much trouble trying to install an IDE/editor in my life. It is unfortunately my only other option for a web

[2020-03-02 20:47] vince-fugnitto commented on #7255
@kharazit which steps were you explicitly following?

[2020-03-02 20:47] kharazit commented on #7255
https://theia-ide.org/docs/composing_applications

[2020-03-02 20:48] vince-fugnitto commented on #7255
@kharazit which step or at what point did it fail for you?

[2020-03-02 20:49] kharazit commented on #7255
The `$yarn` step

[2020-03-02 20:50] vince-fugnitto commented on #7255
I see you've updated the description so it's clearer thank you.
Have you satisfied the [prerequisites](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites)?

[2020-03-02 20:51] kharazit commented on #7255
Yes

[2020-03-02 20:54] vince-fugnitto commented on #7255
Please try (as described in https://github.com/eclipse-theia/theia/issues/2174):

[code]

[2020-03-02 21:02] kharazit commented on #7255
Okay. That seemed to work. I suppose it's pretty normal to assume people have that installed, haha.

However, I still feel the documentation could be improved. The documentation could be centralized into one location, common build errors, etc. Because I am clearly not the only struggling to figure out how to get this to work.

[2020-03-02 21:04] vince-fugnitto commented on #7255
I'll update the prerequisites docs :) glad it worked for you.
Thank you for your contribution, and sorry for the frustration. We are currently in the process of updating documentation so please bear with us. The main source of documentation is this repo itself, the website needs to be updated.

[2020-03-02 21:04] kharazit commented on #7255
Awesome. I will know where to look to point myself and others when we get stuck. I appreciate it!

[2020-03-02 21:05] #7255 closed

[2020-03-03 02:40] kharazit opened #7259 "yarn theia start doesn't recieve message to confirm"
### Description

I have a working build of theia on my machine, but I can't seem to get the webpage to load.

### Reproduction Steps

I am running theia on an Ubuntu 18.04 node via ssh.
 When I run `yarn theia start` I see the following:
[code]
Where it will stay like the above indefinitely. When I attempt to open that in my browser @IPADDRESS:3000, I get a "unable to connect" error in firefox wit

[2020-03-03 02:49] vince-fugnitto commented on #7259
@kharazit do you mind sharing your `package.json`?

[2020-03-03 03:00] kharazit commented on #7259
[code]

[2020-03-03 03:08] cjchristopher commented on #7250
Right. Seems related to https://github.com/eclipse-theia/theia/issues/6844 as well.

I'm digging around Theia and can't see an obvious place to set this for Express - could any contributor point me in the right direction?

[2020-03-03 03:12] vince-fugnitto commented on #7259
@kharazit is there a specific reason you're using that version of `@theia/git`?
I suspect that if you open your `devtools` you will notice an error similar to https://github.com/eclipse-theia/theia/issues/7248.

Generally, it is not possible to use different versions of Theia extensions as they will pull different transitive dependencies. For instance, you will pull two versions of `@theia/core` w

[2020-03-03 08:06] kittaakos commented on #7259
@kharazit, please use Node.js 10.x.

v8.17.0

From [Prerequisites](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites)

[2020-03-03 08:32] akosyakov commented on #7250
I've searched also right now and could not find anything. It seems that Express.js does not allow to change the base path vis the middleware. I wonder what would be the minimal change to allow alternative base path in Theia backend application.

[2020-03-03 08:33] akosyakov commented on #7250
Alternatively we state that it is not supported and one can use a proxy always.

[2020-03-03 08:54] akosyakov commented on #7170
Why do we still trying to fix it? What is the issue here? As I said the editor preview should not be focused while navigating through the explorer. It is by design.

[2020-03-03 09:09] akosyakov commented on #4784
resolved by https://github.com/eclipse-theia/theia/pull/7055

[2020-03-03 09:09] #4784 closed

[2020-03-03 09:42] akosyakov opened #7261 "simplify checking monaco typings"
Currently we expose internals of Monaco manually which is quite troublesome to check on each update, since we expose more and more Monaco APIs. I believe @RomanNikitenko can second it after doing https://github.com/eclipse-theia/theia/pull/7149.

Even if we do https://github.com/eclipse-theia/theia/issues/7100 and can start upgrading to latest Monaco immediately and have more tests, it would still

[2020-03-03 09:43] akosyakov commented on #7261
Maybe someone will have another idea.

[2020-03-03 10:08] akosyakov commented on #6659
Ok, so now I see it almost in any PR. The issue is reproducible when you have enough VS Code extensions installed. I think we should scale allowed amount of max listeners with amount of extensions. 30 listeners is not enough.

But first check whether leaks a real, if so we are better to open PRs for corresponding VS Code extensions as well. It seems for instance that vscode python extension does n

[2020-03-03 10:12] akosyakov commented on #6659
Checked that in Gitpod logs it is 2 of 3 most frequent errors in last 30 days.
<img width="1767" alt="Screenshot 2020-03-03 at 11 09 56" src="https://user-images.githubusercontent.com/3082655/75765360-ac1b1400-5d3f-11ea-9b2a-c1f587eda4df.png">
<img width="1761" alt="Screenshot 2020-03-03 at 11 10 05" src="https://user-images.githubusercontent.com/3082655/75765351-a8878d00-5d3f-11ea-8798-4b27148194

[2020-03-03 10:22] svenefftinge opened #7262 "Language Support broken"
Occasionally I see the language support dying including syntax coloring.
When that happens I see the error below in the console.

[code]

[2020-03-03 10:47] akosyakov opened #7263 "API tests does not fail when the initialisation block is broken"
From travis:
[code]

@westbury Could you have a look at `examples/api-tests/src/menus.spec.js`, it got broken by the scm-extra PR?

[2020-03-03 10:54] tom-shan opened #7264 "failed to update thread frames during python debugging"
### Description
When debugging python file, `Call Stack` will show the message of `Load More Stack Frames`.
it will show thread frames only after clicking this message.
![image](https://user-images.githubusercontent.com/7686800/75768643-b0ffb800-5d7f-11ea-835d-c758e4aef557.png)

### Reproduction Steps

1 download vscode python plugin
2 start theia
3 create a simple python file and add a breakpoint

[2020-03-03 11:00] tom-shan commented on #7264
I think we should put https://github.com/eclipse-theia/theia/commit/d1678ad8068d9a9bf9ed8b90d2a67f01c116e850#diff-bb75a296f1f7fdc09c2d755ef791d61cR229 in the branch of `if (thread.stoppedDetails && thread.stoppedDetails.allThreadsStopped)` accoring to it's commit message.

[2020-03-03 11:17] akosyakov commented on #7264
@marcdumais-work @marechal-p Could you have a look please? It seems to be caused by the recently merged PR or revert it.

[2020-03-03 12:11] svenefftinge commented on #7262
The error might be a follow up as all plugins seem to have been stopped and unloaded (according to the logs). But the extension-host should probably deal with such situation more gracefully.

[2020-03-03 12:40] Sandared opened #7266 "VSCode Extension Todo Tree does not work"
### Description
The extension (Todo Tree)[https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.todo-tree] does not work in Theia.

When I install it it complained about not being able to find vscode-ripgrep. I installed that too, but vscode-ripgrep then complained about not being able to execute some binaries.
I then tried to download ripgrep directly and made it executbale for everyone

[2020-03-03 13:26] vince-fugnitto commented on #7266
The extension worked correctly when updating the following **preference**:

[code]

<img width="486" alt="Screen Shot 2020-03-03 at 8 24 05 AM" src="https://user-images.githubusercontent.com/40359487/75779948-98b07e80-5d28-11ea-9924-49b098d78b07.png">
<img width="486" alt="Screen Shot 2020-03-03 at 8 24 13 AM" src="https://user-images.githubusercontent.com/40359487/75779949-99491500-5d28-11ea-83b7

[2020-03-03 13:27] akosyakov commented on #7266
@vince-fugnitto I wonder does it work out of box in VS Code or there it is also necessary to configure the preference? If some extensions have some assumptions about location of vscode-rigrep, maybe we could do something about it.

[2020-03-03 13:29] vince-fugnitto commented on #7266
This is what I could find for `vscode-ripgrep` in that particular extension:

https://github.com/Gruntfuggly/todo-tree/search?q=vscode-ripgrep&unscoped_q=vscode-ripgrep

[2020-03-03 14:05] marcdumais-work commented on #7264
Reproduced on master. Will now confirm if same happens or not before https://github.com/eclipse-theia/theia/commit/d1678ad8068d9a9bf9ed8b90d2a67f01c116e850

[2020-03-03 14:24] marcdumais-work commented on #7264
Confirmed - testing one commit before https://github.com/eclipse-theia/theia/commit/d1678ad8068d9a9bf9ed8b90d2a67f01c116e850, the call stack frames are displayed after stepping, without having to click on "load more stack frames".

I will talk with @marechal-p before reverting, but this looks like we will likely proceed doing this later today.

[2020-03-03 14:28] akosyakov commented on #7266
ok, i see it could be possible to make it work for Electron if we put under the same location in asar file, not sure for browser target

[2020-03-03 14:49] AlexTugarev commented on #7170
@akosyakov sorry for the confusion with the editor preview. 'should have recorded with a Theia without it.

It's independent of the editor preview. If you just do a single click in the tree, and then try to search in the then opened editor widget, it won't be possible.

[2020-03-03 15:42] kharazit commented on #7259
Okay I did the above as well as updated node:
[code]

[code]

However, when I run yarn theia build, I get:
[code]

And if I try `yarn theia start` I get:
[code]

[2020-03-03 15:47] kittaakos commented on #7259
Try to increase the heap size for the build. Set the `NODE_OPTIONS` env variable to `--max_old_space_size=4096`.

The build has failed, do not expect you can run. Let us know if the issue still persists after increasing the heap size.

[2020-03-03 16:04] kharazit commented on #7259
Yes I did so. Still failing.
[code]

[2020-03-03 16:13] kittaakos commented on #7259
I think you have to use `export` as you need to pass the variables not just to the current shell but all processes spawned by the shell. Please try:
[code]

[2020-03-03 16:16] tetchel commented on #5674
Yes, still a bug

[2020-03-03 16:17] kharazit commented on #7259
Also, it seems to repeat the above indefinitely. Printing out more and more stack traces with the same `FATAL ERROR`

[2020-03-03 16:21] kharazit commented on #7259
[code]
Also, it seemed the build worked this time, however the issue about the system still sitting there without opening up a browser still persists.
[code]

[2020-03-03 16:26] kittaakos commented on #7259
Nice, so you could  build it 💪

I am not sure if I understood it, but you have to open up the browser. 😊

If you open up `localhost:3000` in the browser, what do you see? Do you see the spinning animation only? What is in the browser's console? Do you see an error there? If so, please share it with us. Thanks!

[2020-03-03 16:29] kharazit commented on #7259
From original post:

it will stay like the above indefinitely. When I attempt to open that in my browser @IPAddress:3000, I get a "unable to connect" error in firefox with all proxy settings set to "off". What is strange is that at one point in time I do recall it working properly and I was able to interact with the web gui. However, when I came back and tried the command again it wouldn't work.

[2020-03-03 16:33] akosyakov commented on #7263
Test is fixed, but we should fix test scripts that ci fails when spec file cannot be loaded properly.

[2020-03-03 16:34] kittaakos commented on #7259
Oh, I see. I am not sure if I can help with the proxy settings. You can try to run the backend with `--hostname 0.0.0.0`. Or ask on the Theia chat: https://spectrum.chat/theia

[2020-03-03 16:36] kharazit commented on #7259
I am accessing through ssh. I think having it connect to localhost would be preferred so I can connect to `https://IPADDRESS:3000`

[2020-03-03 16:37] kittaakos commented on #7259
Yeah, it happens. Documentation gets outdated sooner than we expect: PRs are welcome ;)

[2020-03-03 16:38] kharazit commented on #7259
So is it working properly? I was able to connect through the above address earlier, but I had to do a rebuild because the terminal wasn't working properly. Now I'm stuck with no ide...

[2020-03-03 16:58] kittaakos commented on #7259
Did you set the `ssl`, `cert`,  and `certkey` flags?

[2020-03-03 17:09] kharazit commented on #7259
No. I have no idea what those are. How do I do that? Is it in the documentation?

[2020-03-03 17:10] varmanishant commented on #7168
Can someone let me know the exact way to develop a package say @theia/terminal?

I am doing `npx watch @theia/terminal` and modifying the code. When I see a change detected, I stop watching and do `yarn build` to reflect the changes. Is this correct or am I missing something? I always find a cache problem with the old files loading in the browser unless I I do run `yarn` which takes a lot of time.

[2020-03-03 17:18] vince-fugnitto commented on #7168
You can use the following approach to make changes, and update the application.
Let's say I am updating `@theia/terminal` in the repository like you mentioned:

**Build Approach**
1. make changes to `@theia/terminal`
2. build my changes:
[code]

**Watch Approach**
1. given that the repo is built
2. watch the `@theia/terminal` ext
[code]
3. watch the `@theia/example-browser` ext
[code]
4. start the

[2020-03-03 17:23] vince-fugnitto commented on #7259
https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#run-the-browser-example-with-ssl

Additional Info
- [pull-request](https://github.com/eclipse-theia/theia/pull/960)

[2020-03-03 17:34] kharazit commented on #7259
No experience with ssl at all, what is cert, how do I generate cert key? Do I already have certkey, if so, where is it?

[2020-03-03 17:41] kittaakos commented on #7259
I cannot follow you.

Please share what you have, so one can look into it maybe.

[2020-03-03 17:42] vince-fugnitto commented on #7259
The question is not necessarily theia specific, so you might find better documentation regarding ssl, cert, certkey from additional sources for your given operating system. For example, I've used the following document (openSSL) in the past for my own https tests: https://www.digitalocean.com/community/tutorials/openssl-essentials-working-with-ssl-certificates-private-keys-and-csrs.

[2020-03-03 17:53] kharazit commented on #7259
Okay. Here is the whole rundown of my experience trying to install your software:

First, I tried installing from source, but I couldn't get it to work, so I deleted everything and I built from a docker image. That worked decently, (I could access the IDE) however the terminal didn't work properly (it wouldn't update the current path, so I couldn't tell where I was without a pwd, and I couldn't ac

[2020-03-03 18:09] vince-fugnitto commented on #7259
@kharazit to best help you we are trying to gather additional information.

Why didn't it work correctly for you?

We have example applications built using Docker if you require references/examples:
https://github.com/theia-ide/theia-apps

You mentioned attempting to run with `https` which requires the certificates so they were mentioned.

[2020-03-03 18:13] kharazit commented on #7259
I think I will just use VS code. I just installed it and it is working, thank you.

[2020-03-03 18:13] #7259 closed

[2020-03-03 22:25] cjchristopher commented on #7250
I did find some evidence that you can set the base path in Express, I just couldn't locate where in the Theia codebase I would add that call.

See: https://stackoverflow.com/questions/42902739/express-app-change-base-url and https://stackoverflow.com/a/5994334

[2020-03-04 02:39] Hanksha opened #7268 "Can close widget tab via context menu even if set as not closeable"
### Description
Setting `title.closable = false` on a widget doesn't prevent it from being closed via context menu.

### Reproduction Steps

1. Create a widget.
2. Set `title.closable = false` in constructor/init.
3. Right click on the tab.
4. The "Close" menu item shows, it should not.

[2020-03-04 04:56] varmanishant commented on #7168
Ah that explains it, thanks @vince-fugnitto. I was missing the `@theia/example-browser` part!

[2020-03-04 07:59] akosyakov commented on #7250
In Theia you will need to implement `BackendApplicationContribution` with the custom extension

[2020-03-04 10:35] akosyakov commented on #7264
@marcdumais-work Can we have a PR to revert https://github.com/eclipse-theia/theia/commit/d1678ad8068d9a9bf9ed8b90d2a67f01c116e850 please? It breaks products which use next version. A proper PR can be reintroduced later.

[2020-03-04 10:46] tsmaeder opened #7269 "Integrate VSCode API FileSystemProvider in FileSystem"
Currently, when we register a file system provider via the VS Code API, we only register a resource provider. This means that we cannot do many interesting things like listing directories or accessing raw byte content or deleting files for files provided by plugins.
I propose that we refactor file system support to be modeled on VS Code files system providers with the node file system just being t

[2020-03-04 10:46] tsmaeder commented on #7269
Possible dupe: https://github.com/eclipse-theia/theia/issues/7127 but I'm not sure what @akosyakov means there.

[2020-03-04 12:20] vince-fugnitto commented on #7268
@Hanksha the `closable` field is provided by the `@phosphor` API and is only actionable at the moment for `titles`.

[code]

Do you suggest we update the `isEnabled` of `CLOSE` commands to respect the property?
If so, I wonder the UX implications it might have. If a user opens a widget, that widget can no longer be closed successfully unless somehow programatically triggered.

If you'd like, you c