[2019-11-13 11:09] tsmaeder commented on #6529
@kittaakos @akosyakov I can confirm that building and running the electron example does not work for me on Windows 10 (this is what the issue title and description describe).  I do a git clone, yarn , yarn rebuild:electron and then yarn run start from the electron example. I provided a stack trace of my failure.

[2019-11-13 11:24] akosyakov commented on #6529
@tsmaeder understood, just wanted to point out that bundling from sources won't work anyway since @NitinKhandelwal1947 is trying it

[2019-11-13 11:25] akosyakov commented on #6529
@tsmaeder btw could you try again since https://github.com/eclipse-theia/theia/pull/6255 was merged and according to https://github.com/eclipse-theia/theia/issues/6529#issuecomment-552952506 it could help

[2019-11-13 12:07] DVLP commented on #2693
that's not what I meant. What I mean is running it locally like wcode or web-code for termux. The whole thing is running in the browser but it's operating on local files

[2019-11-13 12:45] tsmaeder commented on #6529
I pulled this morning, so should have the contents of the merged PR and removed everything from node_modules and examples/electron node-modules. That should cover the case, right @akosyakov ?
I had a bit of trouble setting up the build enviroment on windows, so I'm ready to believe it's my setup. Not sure how to check, though.

[2019-11-13 13:00] vince-fugnitto commented on #6544
@akosyakov do you propose we display the path directly in the file dialog?

[2019-11-13 13:05] #1017 closed

[2019-11-13 13:05] #6525 closed

[2019-11-13 13:33] akosyakov commented on #6544
Yes, there is space above the input field.

[2019-11-13 13:48] JesterOrNot commented on #2693
oh ok cool!

[2019-11-13 13:55] akosyakov commented on #2693
BTW all electron dependencies were removed, so now it should not be a blocker. I don't think committers are going to work. Community help is wanted.

[2019-11-13 13:58] joazvsoares commented on #6496
@akosyakov have you decided on the approach we should take for this issue? Maybe I can collaborate if you can provide some guidance on the implementation.

[2019-11-13 15:43] vince-fugnitto commented on #6542
The issue might have been present before, but it was made visible following the #6255.
I noticed that before the changes, the schema configs were working correctly, but now they are not. The PR #6255 simply updates the `yarn.lock` and dependencies to the versions that applications will likely pull when building their products and our `yarn.lock` was outdated.

[2019-11-13 15:43] vince-fugnitto commented on #6542
There is also an issue with the `preferences` schema.

[2019-11-13 16:13] sorekz commented on #6529
This might be related to https://github.com/nodejs/node-gyp/issues/1933
which will be fixed with the next electron-rebuild release

[2019-11-13 16:15] marechal-p commented on #6529
@sorekz this is precisely the error I see from this PR: https://github.com/eclipse-theia/theia/pull/6538#issuecomment-553103072

[2019-11-13 16:29] rv2e commented on #1733
Recently, we've started to use Theia in my company and we also noticed this issue. Do you have an idea when you'll work on a fix and what is the underlying problem?

[2019-11-13 16:31] 502647092 commented on #6540
@akosyakov not syntax coloring
before it was normal

[2019-11-13 16:51] vince-fugnitto commented on #6540
@502647092 I tested the latest `master` and it seems to work correctly:

<div align='center'>

<img width="1382" alt="Screen Shot 2019-11-13 at 11 50 57 AM" src="https://user-images.githubusercontent.com/40359487/68785272-ea16ef80-060b-11ea-9687-da16b355f1a3.png">

</div>

[2019-11-13 17:57] marechal-p commented on #1733
It has been a long time since I last encountered this bug. If it still happens, one would have to debug the terminal spawning and dig into how one xterm widget hooks itself to the remote terminals.

[2019-11-13 19:53] vince-fugnitto commented on #6542
I attempted to verify when the schema was broken and used `theia-apps` to do so (since it is not constrained by a `yarn.lock`)

I observed that:
- `theiaide/theia:0.10.0` (v0.10.0) worked correctly
- `theiaide/theia:0.11.0` (v0.11.0) had a regression

The major update as part of v0.11.0 looks to be the monaco update.
@akosyakov is there something we might have missed about the `yarn.lock` pinning

[2019-11-14 06:15] akosyakov commented on #6542
@vince-fugnitto I don't know, maybe related to LSP integration of JSON service.

[2019-11-14 08:45] AndrienkoAleksandr commented on #6209
Useful service for browser testing https://permission.site/

[2019-11-14 08:46] akosyakov commented on #6496
@joazvsoares I think everybody agree that having a group in the context menu will be nice. Let's do it first. I will investigate what should be done and write down here.

Adding a close button is not so clear, it makes sense for some widgets but not others, i.e. views.

[2019-11-14 11:58] ParOvBroadcom opened #6547 "DAP - Different behavior between VSC and Theia while updating a variable and its children-variables"
### Description
After changing the value of a variable that affects also the value of a child-variable, the VSC DAP updates everything correctly, while Theia DAP updates only the changed variable (not the child variable). Is there a way to trigger the child-variable to update forcibly?

### Reproduction Steps
Using the setVariable method to update a variable is updating everything except the child

[2019-11-14 12:04] vince-fugnitto commented on #6547
For additional information, there is the thread from [spectrum](https://spectrum.chat/theia/dev/dap-different-behavior-between-vsc-and-theia~5e6f2f94-508c-4f82-8f6f-cb937e9424a5).

There is mention of a fix:
 https://github.com/eclipse-theia/theia/blob/8147d0676d325d68fc408a344d1da0e2460ae0b4/packages/debug/src/browser/console/debug-console-items.tsx#L193
Which states that `undefined` should be se

[2019-11-14 12:39] lmcbout commented on #6467
Tested with the next version of Theia and the problem is solved
This issue will be fixed and merged in the next official release of Theia end of November
@vzhukovskii  Thanks,

[2019-11-14 12:39] #6467 closed

[2019-11-14 12:47] ShimonBenYair commented on #5517
@akosyakov  @elaihau
i am taking this issue and trying to implement it.
I will send a PR in few days

[2019-11-14 13:02] kittaakos opened #6548 "[navigator] Explorer is not updated after creating a new folder"
### Description

New folders are not visible in the `Explorer` after creation. I have to collapse and expand the parent of the new folders to see them.

![screencast 2019-11-14 13-56-45](https://user-images.githubusercontent.com/1405703/68859277-33883d00-06e7-11ea-889b-93652f450aed.gif)

### Reproduction Steps

 - Create a new folder. (It is not visible, it **should**.)
 - Collapse and expand the

[2019-11-14 13:14] kittaakos opened #6549 "[question][label-provider] Inconsistency between WS root and other URIs?"
### Description

Why does the label provider provide a full FS path when the input is the workspace URI and workspace relative paths when the URI argument points to any file inside the workspace. I found this inconsistency here: https://github.com/eclipse-theia/theia/pull/6545#issuecomment-553879350 It smells like a workaround for something.

### Reproduction Steps

**OS and Theia version:**

**Di

[2019-11-14 13:23] vzhukovskii commented on #6467
@lmcbout you're welcome

[2019-11-14 13:47] amiramw opened #6550 "[vscode][plugin] Indication when plugins/vscode are activated"
### Description

Some times plugins/vscode extensions take time to activate on theia startup or on other event.
Until it is activated the functionality is not available for the end user.
I believe that in VS Code there are messages showing the user that vscode extensions are now activated. (https://github.com/TypeFox/vscode/blob/9f3bb89b857a0ceb37ce1eee17a860a7b54ab62d/src/vs/workbench/contrib/ext

[2019-11-14 13:49] akosyakov commented on #6549
An idea was that:
- in multi-root workspaces the same file can belong to multiple roots, so we show the absolute path.
- If there is only one root, we show the relative path, since it is clear from the context.

If it is not like that then it is a bug.

[2019-11-14 13:50] akosyakov commented on #6550
So you mean run blueish progress bar in the plugin view while plugin is activating? Could you provide UI how VS Code does it?

[2019-11-14 13:51] akosyakov commented on #6548
Something wrong with fs watching probably :( One has to investigate.

[2019-11-14 13:53] akosyakov commented on #5517
@ShimonBenYair ok, please don't forget to follow [PR checklist](https://github.com/eclipse-theia/theia/blob/master/doc/pull-requests.md#review-checklist)

[2019-11-14 14:02] kittaakos commented on #6549
I wish I could change the multi-root workspace preference and verify it 😕 https://github.com/eclipse-theia/theia/issues/6349

[2019-11-14 14:08] akosyakov commented on #6550
Checked with VS Code, it is just a message in the status bar. Let's do it. PRs are welcomed!

[2019-11-14 14:19] vince-fugnitto commented on #6500
@marechal-p the issue still persist in `next` despite your changes.
Did you mean that you fixed the issue only for the main repository or globally for extenders and apps?

[2019-11-14 15:04] vince-fugnitto commented on #6549
Not the best, but I guess a possible workaround is to update the preference outside of Theia 😕

[2019-11-14 15:12] akosyakov opened #6551 "debug console does not show anything sometimes"
It can be reproduced with running browser example from sources.

[2019-11-14 15:16] akosyakov commented on #6551
[code]

It seems to be broken https://github.com/eclipse-theia/theia/pull/6255

[2019-11-14 15:36] marechal-p commented on #6551
Ah yes, this one is legit. I guess the upgraded typings are not in sync with the pulled dep. Will fix.

[2019-11-14 15:40] akosyakov commented on #6551
The issue is that ts produces different code now, before it was `anser_1.ansiToHtml`, not it is `anser_1.default.ansiToHtml`. The thing is that this module does not have the default export, so typing do look bogus.

[2019-11-14 16:01] vince-fugnitto commented on #6542
It looks like the `JSON` language server has problems when starting:
(when opening the output view with the JSON channel)

[code]

[2019-11-14 16:05] marechal-p commented on #6500
It should have fixed it for extenders too if master worked after pulling all the latest deps.

Mostly, some issue happened because of refactorings done on the `vscode-languageserver-types` and `vscode-languageserver-protocol`. MS people moved types around, so our code was requesting classes from the wrong places. I assumed by rewiring things correctly it would fix it downstream as well.

[2019-11-14 16:06] marechal-p commented on #6500
People should also stop using the resolutions as defined in the following comment: https://github.com/eclipse-theia/theia/issues/6500#issuecomment-550472662

Because our code looks in the updated places, if you force resolutions to the old packages, then you will have the same issue again, but the other way around this time.

[2019-11-14 16:23] akosyakov commented on #5007
@apupier please try with https://github.com/eclipse-theia/theia/pull/6465

[2019-11-14 16:36] #6551 closed

[2019-11-14 17:24] 502647092 commented on #6500
i remove resolutions and test it at master

[2019-11-14 20:29] BoykoAlex opened #6553 "Adopt LSP 3.15 `window/workDoneProgress` family of messages"
LSP is going to have support for showing an operation progress.
https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#workDoneProgress

Support for this message in the language client component is needed.

[2019-11-15 06:09] akosyakov commented on #6553
@AlexTugarev Should be straighforward to implement with new progress services API?

[2019-11-15 06:44] akosyakov commented on #6496
That's a bit tricky because of view containers, i.e. the navigator and scm, since they are hijacking the context menu rendering for tab bars already.

But if you are up to it there are 2 steps:
- Customize `SidePanelToolbar` to render `SHELL_TABBAR_CONTEXT_MENU` context menu for the title container: https://github.com/eclipse-theia/theia/blob/71c11c36171398975779c925bbc0ca3910189853/packages/core/

[2019-11-15 07:10] AlexTugarev commented on #6553
The protocol actual looks quite familiar ;-)
The payload is interesting, I'm curious to see it's integration in insiders.

[2019-11-15 07:28] kpge commented on #5804
@vince-fugnitto No, it still gives the wrong suggestion. Are you cloesed all the json file and refresh the page?
![image](https://user-images.githubusercontent.com/35068357/68924639-3ef96800-07bc-11ea-828d-ce8c1559d4d8.png)

[2019-11-15 08:03] BroKun commented on #6501
I totally agree with you that we are much better at events and DI than Phosphor. If we want to achieve a better experience than vscode, we need to make a lot of improvements, such as more flexible split-panel. The existing implementation of Phosphor may become a constraint.

[2019-11-15 10:14] akosyakov commented on #5007
@apupier Could you change an extension to use [asExternalUri](https://code.visualstudio.com/updates/v1_40#_vscodeenvasexternaluri) instead of localhost, otherwise it is hard to make it work remotely.

[2019-11-15 10:16] apupier commented on #5007
currently trying to setup an environment to use a non-published Che version.

need to investigate. i'm not familiar with this. Don't know what is the difference.

[2019-11-15 10:26] akosyakov commented on #5007
It makes sure that localhost request are reserved to a proper remote URI. If an extension is deployed on the remote machine. `localhost` although should work as well, trying to get there, a bit tricky since nested iframe is involved.

[2019-11-15 10:32] akosyakov commented on #5007
But does it work with local Theia already? It could be that Che needs customizations to resolve localhost properly depending how Theia is deployed there.

[2019-11-15 10:33] apupier commented on #5007
not noticed the way to launch Theia locally in the contributing guide

[2019-11-15 10:34] akosyakov commented on #5007
I meant following https://github.com/eclipse-theia/theia/wiki/Testing-VS-Code-Extensions but building Theia from https://github.com/eclipse-theia/theia/pull/6465

[2019-11-15 11:03] apupier commented on #5007
created https://github.com/jboss-fuse/vscode-atlasmap/pull/239 to use asExternalURI

[2019-11-15 11:11] akosyakov commented on #5007
thank you! will try it as well

[2019-11-15 11:23] #6544 closed

[2019-11-15 11:27] akosyakov commented on #5007
@apupier an extension cannot work on remote in the way how it configured now because of CSP violations:
[code]
Access to font at 'http://localhost:8586/OpenSans-Regular-webfont.woff2' from origin 'https://webview-3000-d6dcec72-ba2f-49e9-9f72-4ff0446f67ec.ws-eu01.gitpod.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
[code]

[2019-11-15 12:39] akosyakov commented on #5007
I'm trying the PR, but for some reasons the server does not start for me anymore. Do you know what could it be?

[2019-11-15 12:51] apupier commented on #5007
Do you mean the Webview is not opening? The webview is blank? the webview is giving a 404? You don't see any process for atlasmap when calling `ps -edf |grep java | grep atlasmap`?

When you stop everything, do you still have a process visible with `ps -edf |grep java | grep atlasmap`? If yes, can you try to kill it and relaunch.

[2019-11-15 13:43] apupier commented on #5007
Trying AtlasMap with the asExternalURI PR inside local Che theia based on you rPR branch.
The AtlasMap Ui is nto displayed.
There are 404 errors on the resources from the page:

[code]
the exact link is like that:
`http://2d5aedd4-d207-4239-bee4-4c04ef449db2.webview.localhost:3000/runtime.js`

effectively I cannot reach it if I enter the URl directly in the browser.
I can reach it through http://l

[2019-11-15 14:39] benoitf opened #6557 "QuickpickInput / canPickMany result"
### Description
When using `QuickPickInput`, if `canPickMany` flag is given
https://github.com/microsoft/vscode/blob/1876ce6361634423d0d5534b12dad1270c1373ff/src/vs/vscode.d.ts#L1630

It should always return an array as result

note: it does not provide multiple selection support, just comply with expected result.

### Reproduction Steps
Trying extension using `canPickMany` and expecting array res

[2019-11-15 15:03] vince-fugnitto commented on #6557
I believe it is not supported yet https://github.com/eclipse-theia/theia/issues/5673. Is it a duplicate?

[2019-11-15 15:07] benoitf commented on #6557
@vince-fugnitto it's not to support the display, just to make compliant the result that should be an array.
It's like avoiding crash

[2019-11-15 15:07] vince-fugnitto commented on #6557
Thanks I understand!

[2019-11-15 15:15] akosyakov commented on #5007
Yes, a result returned by `asExternalUri` cannot be fetched from where the extension is running, I've commented https://github.com/jboss-fuse/vscode-atlasmap/pull/239 how to use it properly.

Regarding running the server, i forgot to run `npm i` to download a jar file, it is fine now :)

[2019-11-15 18:08] 5sWind opened #6560 "Running a standalone frontend."
### Description

How to run a standalone frontend without theia backend.

### Reproduction Steps

**OS and Theia version:** 0.12

**Diagnostics:**

[2019-11-15 19:37] marechal-p commented on #6560
Why?

[2019-11-15 20:25] marechal-p commented on #6349
The first error from your log seems to come from https://github.com/eclipse-theia/theia/blob/a2d89c83245cdb894d35135f23d51139e374a447/packages/monaco/src/browser/monaco-editor-model.ts#L428. The model is already disposed when the `willSaveModel` event is fired?

[2019-11-16 03:06] 5sWind commented on #6560
Because the architectures like microservice or blockchain of applying theia, on most time they’re not necessarily required backend. The backend and frontend should be pluggable.

[2019-11-16 05:07] akosyakov commented on #6560
Theia is not designed to run without the backend. It relies on many JSON-RPC services, e.g. to provide languages or filesystem access. In theory, if you can reimplement them when it is possible, but it would be a lot of development and maintenance work.

[2019-11-16 06:07] akosyakov opened #6562 "extract webview extension"
Webview is an abstraction to load remote content in the safe way. https://github.com/eclipse-theia/theia/pull/6465 brings its support to the plugin system only. It is a proposal to extract it to own extension to reuse internally. There are many benefits beside security:
- links to localhost resolved centrally for the whole application by `ExternalUriService.resolve`
- good integration with the she

[2019-11-16 06:08] akosyakov commented on #5560
I think we should do https://github.com/eclipse-theia/theia/issues/6562 instead.

[2019-11-16 06:13] dhananjayharel opened #6563 "copy whole directory recursively"
### Description

Is there any way to copy directory recursively?
I am looking at the Filesystem API but I can see copy API for a single file.

**OS and Theia version:**

**Diagnostics:**

[2019-11-16 09:49] ghuntley commented on #4831
Can't wait for this to land - thank you @akosyakov.

[2019-11-16 18:36] ShimonBenYair commented on #6485
@elaihau   @RomanNikitenko

I can't build this project ( always get the error  :"spawn e2big")
can you please attach here the .vsix files as zip file ?

Thanks
Shimon

[2019-11-17 07:19] 5sWind commented on #6560
thx.

[2019-11-17 07:19] #6560 closed

[2019-11-17 10:54] TomHermanSAP opened #6565 ""window.showTextDocument" Does Not open Resources With "untitled" Scheme"
### Description
Using SQLTools extension **(0.21.3)**, https://marketplace.visualstudio.com/items?itemName=mtxr.sqltools.
When trying to connect to a db at the first time, SQLite dependency is installed.
The dependency can be installed automatically if using in User preferences:
[code]

Based on https://github.com/mtxr/vscode-sqltools/releases/tag/v0.21.2.

In vscode no error apears, yet in gitpro

[2019-11-18 03:49] elaihau commented on #6485
@ShimonBenYair
These are the ones I copied into the `theia/plugins` - you don't need to compile them.
[vs_extensions.zip](https://github.com/eclipse-theia/theia/files/3856718/vs_extensions.zip)

Could you please confirm if you can use them?

[2019-11-18 07:35] ShimonBenYair commented on #6485
sure, thanks lot

[2019-11-18 07:49] akosyakov commented on #6563
`FileSystem.copy(sourceUri, targetUri, { recursive: true })`?

[2019-11-18 07:52] ShimonBenYair commented on #6485
@elaihau

I can use them successfully.
Thanks a lot

[2019-11-18 09:43] tolusha opened #6567 "Support legacy problem matchers"
### Description
There is a task which comes from quarkus extension [1] and it is invalid due to the error regarding `problemMatcher`:

[code]

[code]

It seems Theia `problemMatcher` scheme is different from VS Code one [3]

[1] https://github.com/redhat-developer/vscode-quarkus
[2] https://github.com/eclipse-theia/theia/blame/master/packages/task/src/browser/task-schema-updater.ts#L215
[3] https:

[2019-11-18 10:22] tsmaeder commented on #6567
@tolusha what's the difference?

[2019-11-18 10:33] tolusha commented on #6567
[code]
vs
[code]

[2019-11-18 10:43] akosyakov commented on #5007
A workaround would be to set X-Frame-Options: ALLOWALL but might not be very secure. Should be better with X-Frame-Options: ALLOW-FROM https://example.com/ but how to determine the url?

Now, i understand the issue clearly. I think you should file an issue for atlasmap. I don't see how we can work it around in Theia.

[2019-11-18 11:35] mmorhun opened #6569 "Found text match in Search panel is not displayed at all if its length doesn't fit panel size"
### Description
When use full text search in `Search` panel, the result is disappeared if the text match cannot be fully displayed because of panel size. It appears again when resize the panel to the size when whole search phrase could be displayed.

### Reproduction Steps
1. Open a text file, select and copy a line.
2. Open `Search` panel (usually on left panel) and paste the copied line
3. Perfo

[2019-11-18 16:08] vince-fugnitto opened #6570 "[problems] support preference to control default severity level"
**Description**

Proposal to include a new preference to control the default **severity** of problem markers:

| Preference Value | Preference Description |
|:---|:---|
| `all` (default) | display all problem marker severities |
| `info` | display problem markers with severity `info` or higher |
| `warning` | display problem markers with severity `warning` or higher |
| `error` | display problem m

[2019-11-18 16:15] vince-fugnitto opened #6572 "problems: update problem marker sorting (severity, line, column number)"
**Description**

Based on the following https://github.com/eclipse-theia/theia/issues/6572#issuecomment-594960684, problem markers should be consistently sorted using the following guidelines:

1. markers for a given resource are first sorted by `severity`
2. if the `severity` are equal, sort by lowest line number
3. if the `severity` and `line number` are equal, sort by lowest column number
4. if

[2019-11-18 16:23] #6340 closed

[2019-11-18 16:54] vince-fugnitto opened #6573 "[question] potential clash for '.theia' when using multiple theia-based products"
**Description**

I believe there may be a potential issue with the configuration folder (`.theia`) when a user uses multiple different theia-based applications.

For instance:
- `A` - theia-based application
- `B` - theia-based application

They will both share the same `.theia` folder under the user's home, and will have conflicts between _preferences_, _recentWorkspaces_, ...

Should we not allo

[2019-11-18 19:14] vince-fugnitto commented on #6563
@dhananjayharel you can use what Anton said:

https://github.com/eclipse-theia/theia/blob/d84655dee2a315c577ac806cb3a4d0790e8effba/packages/filesystem/src/common/filesystem.ts#L79-L84

[2019-11-18 19:14] #6563 closed

[2019-11-18 19:26] vince-fugnitto commented on #5184
I believe the following issue can be closed, the documentation has been improved to specify the [prerequisite](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites) dependencies #5564 #5219.

[2019-11-18 19:26] #5184 closed

[2019-11-18 19:35] Krzysztof-Cieslak opened #6574 "VSCode Terminal API, custom shell executable"
### Description
In Ionide we're using VSCode's `window.createTerminal` API with `shellPath` to implement the REPL functionality. In VSCode this creates terminal window, that's instantly starting the executable which path is passed with `shellPath`.
This doesn't seems to work in GitPod - the argument seems to be ignored (?), the executable I want to start is not started, and GitPod creates normal t

[2019-11-18 19:44] akosyakov commented on #6523
@502647092 All built-in extensions are published nightly now under `next` tag.
[code]

You can follow the build job here: https://github.com/theia-ide/vscode-builtin-extensions/actions?query=workflow%3A%22Publish+Next%22

[2019-11-18 19:58] Krzysztof-Cieslak opened #6575 "VSCode extension, activity bar view - no icon"
### Description
Ionide adds a custom activity bar view. This works just fine, with small issue - the button in the activity bar has no icon.

How it looks like in Code:

<img width="117" alt="Screenshot 2019-11-18 at 11 55 13" src="https://user-images.githubusercontent.com/5427083/69085093-56259900-09fa-11ea-84ad-0bf1968aacf3.png">

How it looks like in GitPod:

<img width="194" alt="Screenshot 20

[2019-11-18 20:05] vince-fugnitto commented on #6575
@Krzysztof-Cieslak which browser are you using?
I tried your link (using Chrome):

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/69087625-c80adc00-0a14-11ea-9181-3f0628a66b7a.png)

</div>

[2019-11-18 20:24] Krzysztof-Cieslak commented on #6575
Hey, I haven't thought about that.

The problem is present on Safari, both Chrome and Firefox works fine.

[2019-11-19 02:45] 502647092 commented on #6523
@akosyakov ok thank you

[2019-11-19 05:27] lemmy opened #6578 "VSCode extension with HTML part broken"
### Description
The [TLA+ VSCode extension](https://github.com/alygin/vscode-tlaplus/releases/tag/v1.2.0) has rendering issues with Theia and Theia fails completely with the extension's HTML part.

Gitpod with hash ```f5d7d65f-bdab-4f57-994b-3ad1539792bb``` was created from this [TLA+ spec](https://github.com/lemmy/BlockingQueue).

### Reproduction Steps
![Peek 2019-11-18 21-10](https://user-image

[2019-11-19 07:30] akosyakov commented on #6578
Assume that it should be fixed by https://github.com/eclipse-theia/theia/pull/6465 Could you try please?

[2019-11-19 07:34] akosyakov commented on #6573
We should always use https://github.com/eclipse-theia/theia/tree/master/packages/userstorage extension to manipulate such data and get rid of `.theia` hardcoded value in the codebase. Products should customize this extension with own value.

[2019-11-19 07:35] akosyakov commented on #6570
Should not we have rather a filter in the problems view similar to VS Code?

[2019-11-19 07:36] akosyakov commented on #6572
Or just do it like that always?

[2019-11-19 08:22] akosyakov commented on #6578
with #6465:
<img width="1552" alt="Screen Shot 2019-11-19 at 09 17 31" src="https://user-images.githubusercontent.com/3082655/69128864-72ced900-0aad-11ea-9a8f-6ebf0831b724.png">

It does not look good because the extension is not designed to work remotely. It uses vscode-resource scheme csp sources: https://github.com/alygin/vscode-tlaplus/blob/f1fb18ef796181f42ab74b3fc53b2d976ba9edec/resources/ch

[2019-11-19 08:54] kittaakos opened #6579 "[shell] ShellLayoutRestorer's storeLayout method is sync while the implementation is async"
### Description

Explicitly calling https://github.com/eclipse-theia/theia/blob/d84655dee2a315c577ac806cb3a4d0790e8effba/packages/core/src/browser/shell/shell-layout-restorer.ts#L147 is not safe, as the concrete implementation is async:
https://github.com/eclipse-theia/theia/blob/d84655dee2a315c577ac806cb3a4d0790e8effba/packages/core/src/browser/shell/shell-layout-restorer.ts#L153

It is not guara

[2019-11-19 09:11] kittaakos commented on #6579
Sort of, but you cannot add `await`, the API is not `async`.

[2019-11-19 09:14] kittaakos commented on #6579
I do not think this is an `electron` specific issue. It happens in the browser too, we were lucky so far.

[2019-11-19 10:45] ParOvBroadcom opened #6580 "Variables View Loses Expansion State when Stepping"
### Description
When using the resume, step next or step in functions, the scope tree in the Variables view refreshes completely in Theia, this leads to a collapsed tree, while the tree in VSC remains to the previous state and leaves any expanded part as it is, by just refreshing whatever needs to. Is there a way to do the same in Theia?

### Reproduction Steps
Start a debug session using DAP thro

[2019-11-19 13:17] vince-fugnitto commented on #6570
I was hoping to have both eventually :)
With a filter, a user who does not care about `hints` would constantly need to re-filter so I thought a preference controlling the default minimum would be nice as well.

[2019-11-19 13:19] vince-fugnitto commented on #6572
You mean as in sort by `severity + line number + position` always?
I guess it's up to the team, but if we want to support the default behavior present in VS Code, I thought a preference might be nice so users can choose what they'd like.

[2019-11-19 13:21] akosyakov commented on #6572
They don't sort by severity?

[2019-11-19 13:33] vince-fugnitto commented on #6572
I might have been mistaken this entire time 🙈.
This is the behavior I see in Theia:

<div align='center'>

<img width="624" alt="Screen Shot 2019-11-19 at 8 30 43 AM" src="https://user-images.githubusercontent.com/40359487/69150607-08b33580-0aa7-11ea-860e-52a3918afd5c.png">

</div>

It looks like we sort by severity, but also by the source and error message.
The (line number + position) seems to b

[2019-11-19 13:44] akosyakov opened #6582 "plugin metrics breaks application start up in Firefox"
![Screen Shot 2019-11-19 at 14 42 50](https://user-images.githubusercontent.com/3082655/69151461-f7841c00-0ada-11ea-8b2b-3ae1dd4e7fd6.png)

cc @tsmaeder  @JPinkney

It seems FireFox cannot handle parsing some regex patterns. Maybe https://github.com/eclipse-theia/theia/blob/master/packages/plugin-metrics/src/browser/plugin-metrics-creator.ts#L29

[2019-11-19 13:55] tsmaeder opened #6583 ""Compressed Folders" in Navigator"
### Description
VS Code is in the process of adding support for "compressed folders" (see https://github.com/microsoft/vscode/issues/41627). This is a very useful feature, especially for languages with lots of empty dirs like Java.

[2019-11-19 13:56] tsmaeder commented on #6583
![image](https://user-images.githubusercontent.com/13163770/69152384-ad039f00-0adc-11ea-9ee5-eb13725d56f2.png)

[2019-11-19 14:00] tsmaeder commented on #6583
Screenshot kindly provided by @fbricon

[2019-11-19 14:14] vince-fugnitto commented on #6583
@tsmaeder duplicate of https://github.com/eclipse-theia/theia/issues/4783?

[2019-11-19 14:18] akosyakov commented on #6572
I actually not sure that Theia or VS Code does any sorting. It could be a responsibility of diagnostics owner. Were you able to find the code doing sorting?

[2019-11-19 14:52] tsmaeder commented on #6583
I guess, but I like "compressed folders" better as a title :-) I searched issues but did not find the issue you referenced.

[2019-11-19 14:54] vince-fugnitto commented on #6582
Lookbehind regexp are not supported in browsers besides `Chrome`.
The regexp will need to be updated.

[2019-11-19 14:57] vince-fugnitto commented on #6583
Updated the title on the original issue :)
I'll close this one to avoid duplication.

[2019-11-19 14:57] #6583 closed

[2019-11-19 15:00] vince-fugnitto commented on #6582
All non-chrome browsers likely do not start now (verified with Firefox and Safari).

[2019-11-19 15:19] tsmaeder commented on #6582
The regex in question is: `(?<=Request)(.*?)(?=failed)`. I don't think it contains anything that could not be rewritten without the negative lookahead.

[2019-11-19 15:24] vince-fugnitto commented on #6582
@tsmaeder would you like to provide a fix for it? I'm really not the best at regexp.
Also without tests, I'm not sure my implementation would be working correctly.

[2019-11-19 16:34] tsmaeder commented on #6582
I can have a look tomorrow, not time today.

[2019-11-19 17:27] vince-fugnitto commented on #6575
Thanks for getting back, oddly enough it worked in all three browsers for me:

<div align='center'>

<img width="1280" alt="Screen Shot 2019-11-19 at 12 25 47 PM" src="https://user-images.githubusercontent.com/40359487/69170272-d5cd6980-0ac7-11ea-96f6-5e9e93d52d9d.png">

<img width="1284" alt="Screen Shot 2019-11-19 at 12 26 08 PM" src="https://user-images.githubusercontent.com/40359487/69170273-d

[2019-11-19 17:49] vince-fugnitto commented on #6540
I verified again and it works correctly. I am able to install the plugin and whether I have an opened `.yml` file or not, the extension still works correctly and am able to get the highlighting :)

Please re-open the issue if the problem persists.

[2019-11-19 19:28] nickboldt opened #6584 "Circular dependencies detected when building @eclipse-che/theia-assembly"
When building che-theia from 7.3.2 branch, I get these in the log:

[code]

-- https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/CRW_CI/view/Pipelines/job/crw-theia_master/392/consoleText

I reported this in che-theia and was told this was an upstream theia issue.

See also https://github.com/eclipse/che/issues/14709

[2019-11-19 19:40] vince-fugnitto commented on #6584
I verified and there seems to be circular dependencies, not sure they are issues however:

<div align='center'>

<img width="1330" alt="Screen Shot 2019-11-19 at 2 39 24 PM" src="https://user-images.githubusercontent.com/40359487/69179996-804e8800-0ada-11ea-8d65-8780e316a6fd.png">

</div>

[2019-11-19 19:42] vince-fugnitto commented on #6584
The other circular (tree-widget) has been reported already https://github.com/eclipse-theia/theia/issues/4895

[2019-11-19 19:52] marechal-p commented on #4783
I like the idea, but I wonder about one use case. Say we have the followed compressed folders:

Would we be able to right-click only on the `domain` part of the compressed node, in order to create a new folder underneath it? Or a new file? I just want to make sure we still have some control on each directory.

[2019-11-19 19:56] vince-fugnitto commented on #4783
That exact scenario was previously discussed in the VS Code issue for the feature request.
I guess we'd have to try out `insiders` to see how VS Code handles it, and if its not to our liking think of a plan on how to tackle it. (perhaps double-clicking the compressed node expands it completely like we have today).

[2019-11-19 20:14] vince-fugnitto commented on #1564
I think it's a really nice feature to have (ignored folders/files are displayed differently - ex: `node_modules`):

| Theia | VS Code |
|:---:|:---:|
| <img width="332" alt="Screen Shot 2019-11-19 at 3 10 52 PM" src="https://user-images.githubusercontent.com/40359487/69182437-02d94680-0adf-11ea-8ada-d6ae1cba4460.png"> | <img width="461" alt="Screen Shot 2019-11-19 at 3 10 22 PM" src="https://user-

[2019-11-20 02:45] 502647092 commented on #6540
@vince-fugnitto I test at master now it work correctly

[2019-11-20 05:29] akosyakov commented on #6584
Not sure what to do about it. There is not a real issue, just annoying warnings, not a big reason to refactor working because of it. Last time there was not agreement to get rid of circular checks. Sometimes it apparently can check the issue. Although this sometime did not happen in last 2 years.

[2019-11-20 05:30] akosyakov commented on #1564
Have you tried vscode built-in git extension?

[2019-11-20 06:28] 502647092 commented on #6540
@vince-fugnitto
![image](https://user-images.githubusercontent.com/10203793/69214411-df2b0480-0ba1-11ea-92f8-4d2ad5af9dfd.png)
I don't know what happen
highlighting miss after I reload window

[2019-11-20 06:35] #6557 closed

[2019-11-20 07:39] alygin commented on #6578
@akosyakov, thanks for the clarification. You're right, the TLA+ extension still uses the old (pre-1.38) WebView API and has rather strict security policies. Here's the issue about upgrading: https://github.com/alygin/vscode-tlaplus/issues/111

Switching to the new API is an easy task, but unfortunately it still doesn't make the extension work in Theia. It looks like Theia doesn't provide this new

[2019-11-20 09:05] kittaakos opened #6586 "[ui/ux][tree] Help the tree indentation with vertical lines, mimic VS Code"
### Description

From time to time, it is hard to identify the indentation in the tree. We used to have a larger indentation, now we have a [small one](https://github.com/eclipse-theia/theia/commit/f59ecdebc4f65dddda302e37bf0cc99c6149fdda) to adjust Theia's styles to VS Code. Besides using small indentations, VS  Code also shows vertical lines in the tree which is cool. Let's do the same.

See the

[2019-11-20 09:06] akosyakov commented on #6578
@alygin not on master, PR to properly support WebViews is here: https://github.com/eclipse-theia/theia/pull/6465

[2019-11-20 09:11] akosyakov opened #6587 "use `close` not `exit` process event"
`exit` event does not mean that all output was delivered, `close` means it: https://nodejs.org/api/child_process.html#child_process_event_close

vscode-jsonrpc uses `close` (https://github.com/microsoft/vscode-languageserver-node/blob/dd78cba181136e057cfcc4bb7bc17c7c78877648/jsonrpc/src/messageWriter.ts#L84) so it does not cause issues for filesystem watching, but our raw processes can miss output

[2019-11-20 09:12] akosyakov commented on #6587
Maybe a reason for https://github.com/eclipse-theia/theia/issues/2961

[2019-11-20 09:46] akosyakov commented on #6587
I've reviewed all places. In most of cases listening to `exit` is harmless, since we don't do anything with stdout in `exit` event handler.

There are 2 places which look incorrect:
- sometimes we can exit too early, before all stdout content is processed: https://github.com/eclipse-theia/theia/blob/2bfbe4a4294d118607dde9bcfce96c5ed1a02e16/dev-packages/electron/scripts/post-install.js#L35
- and [r

[2019-11-20 10:04] alygin commented on #6578
Sure, here it is:
[vscode-tlaplus-1.2.1.vsix.zip](https://github.com/eclipse-theia/theia/files/3868553/vscode-tlaplus-1.2.1.vsix.zip)

[2019-11-20 10:07] RimShao opened #6588 "Theia yang diagram does not work"
Hi Jan, Sven,

Recently we found Theia yang diagram does not work, it just open one empty diagram window.

there is no relevant console log from chrome we could analyze.

And I try to exclude our own application yang-extension from package.json, it does not make any change to the diagram feature.

Is this a know issue or can you give some hint/clew how to proceed the analysis?

Thanks.
[package.js

[2019-11-20 10:15] akosyakov commented on #6588
cc @JanKoehnlein

[2019-11-20 10:37] #6401 closed

[2019-11-20 10:39] akosyakov commented on #6578
@alygin I've tried, it does not work for me, looking at the code, this part looks suspicious:
[code]

`asWebviewUri` returns an external URI to load local content, in remote content it is something like `http://webview-host/vscode-resource/file/...`. The point is that you cannot read filesystem with that and you should not. The extension is always running on the workspace machine and you can just

[2019-11-20 10:41] akosyakov commented on #6578
And if i replace reading html file from the disk, it works 🎉
<img width="1552" alt="Screen Shot 2019-11-20 at 11 40 40" src="https://user-images.githubusercontent.com/3082655/69232093-adf30a00-0b8a-11ea-9473-badf8b9517cc.png">

[2019-11-20 10:45] JonasHelming commented on #6401
There is now a setting git.alwaysSignOff. If you turn it to true, all commits, triggered via CTRL+ENTER or via the manu are always signed off.

[2019-11-20 10:50] ShimonBenYair commented on #5517
@elaihau  @akosyakov

I want the "dependsOn" array, to be of type : string (the tasks labels) and also of type TaskIdentifier (like in VSCode) :

 taskIdentifier: IJSONSchema = {
    type: 'object',
    additionalProperties: true,
    properties: {
        type: {
            type: 'string',
            description: 'The task identifier.'
        }
    }
};

But if the user will not write (in the

[2019-11-20 11:05] alygin commented on #6578
Yeah, I didn't notice that. Thanks!

[2019-11-20 11:15] AndrienkoAleksandr opened #6589 "Complete terminal(pseudoTerminal) api"
### Description
VSCode has new pseudo-terminal api https://github.com/microsoft/vscode/blob/master/src/vs/vscode.d.ts#L7518

We need implement it.

**OS and Theia version:**

**Diagnostics:**

[2019-11-20 11:18] akosyakov commented on #6589
Are there known VS Code samples, extensions to test again?

[2019-11-20 11:20] AndrienkoAleksandr commented on #6589
I will take a look.

[2019-11-20 11:27] alygin commented on #6578
@akosyakov, there's one problem left -- source file links are not displayed in the result view. Could you, please, click the "Full output" link and send me the contents of the output channel that will open? I'll try to figure out how to fix those links.

[2019-11-20 11:41] alygin commented on #6578
@akosyakov, sorry, never mind, I managed to obtain it myself with the old extension version.

[2019-11-20 11:52] DoroNahari commented on #3306
This issue can be closed now. #6521

[2019-11-20 12:07] alygin commented on #6578
@akosyakov, it looks like the problem is with css-styles. For instance, there's the table named Coverage on the panel. The Action column of this table contains links ("Init" and "Next" are links), yet they are displayed as simple text. Could you, please, check them? Is it really a style-related problem?

[2019-11-20 12:28] akosyakov commented on #6578
@alygin I will check it tomorrow!

[2019-11-20 12:36] mmorhun commented on #3306
@DoroNahari thanks for fixing it.

[2019-11-20 12:36] #3306 closed

[2019-11-20 12:47] lmcbout opened #6590 "Theia does not load with Firefox"
### Description
Theia does not load on Firefox. Tried to load Theia with the latest configuration and did not start the frontend. Tried with an older version of Theia (commit 05f2e07bb77637723e6720231342b9acce01a159 ) with the same Browser and it loads

### Reproduction Steps
Start backend Theia latest version
Start Theia frontend using Firefox
--> Frontend does not start
Start Frontend with Chrom

[2019-11-20 12:51] tsmaeder commented on #6590
Duplicate of https://github.com/eclipse-theia/theia/issues/6582

[2019-11-20 12:51] #6590 closed

[2019-11-20 13:07] #6569 closed

[2019-11-20 13:07] AndrienkoAleksandr commented on #6582
@akosyakov Sorry for delay, I am starting testing this pr.

[2019-11-20 13:08] #6191 closed

[2019-11-20 13:08] #6474 closed

[2019-11-20 13:15] tsmaeder commented on #6582
@AndrienkoAleksandr wrong issue maybe? Which PR?

[2019-11-20 13:16] AndrienkoAleksandr commented on #6582
Sorry, wrong issue.

[2019-11-20 13:25] vince-fugnitto commented on #6540
Do you mean just reloading the `browser` window?
I've tried reloading and it's working correctly, the `yaml` files still have their syntax highlighting.

[2019-11-20 13:26] vrubezhny commented on #5945
@bmewburn Hello, sorry for the late answer...

I tried to follow your proposal, but it wasn't helping. Every time I start PHP editor for the first time in Che7 workspace the extension starts working (shows tooltips, content assist, etc.), but after I close and reopen the same file or open some other PHP file in editor it complains on `empty`  configuration and refuses to work:
[code]
The extension

[2019-11-20 13:38] tsmaeder commented on #6582
I'm trying to test a fix, but I never get any failures if I test like described on https://github.com/eclipse-theia/theia/pull/6303

[2019-11-20 13:38] tsmaeder commented on #6582
@akosyakov @vince-fugnitto any ideas what I'm doing wrong?

[2019-11-20 13:50] vrubezhny commented on #5945
PS: Now I see how to get it working for any number of  PHP editors in Che7 : When I open a second (third, etc.) PHP file in editor PHP extension plugin refuses to work:

![errorOnSecondFileOpen](https://user-images.githubusercontent.com/620781/69243184-cf5ff000-0ba2-11ea-880b-77fe6f537669.png)

So, to make it work again a user should leave the workspace page, for example, by opening the workspaces

[2019-11-20 13:51] tsmaeder commented on #6582
Hmh...all of a sudden, it works. Ignore my pleas!

[2019-11-20 13:51] vince-fugnitto commented on #6582
@tsmaeder I did see this when testing the original PR:

[code]

I'm not sure this enough or what to look for.

[2019-11-20 14:06] tsmaeder commented on #6582
Simply using /Request(.*)failed/ will not work, because of eager matching. I think I'll just cut off the prefix/postfix.

[2019-11-20 14:55] vince-fugnitto commented on #6368
Is the idea only to filter out commands which are prefixed by `_`?

[2019-11-20 15:31] tolusha commented on #6542
Updating to LS 1.2.2 doesn't help

[2019-11-20 15:32] vince-fugnitto commented on #6167
I think it is no longer a viable option, it would require contacting the webmaster in order to merge PRs which need to be immediate. Am I correct @marcdumais-work ?

[2019-11-20 15:43] marechal-p commented on #6587
From my understanding, it was implied that stdio buffers wouldn't necessarily be empty when the process exits. Just like "raw" child processes using Node's API. Did you expect it to be different?

[2019-11-20 15:47] marechal-p commented on #6587
https://nodejs.org/docs/latest-v10.x/api/child_process.html#child_process_event_close looking at the documentation, it depends what people are looking after. I think it would make more sense to fire both `exit` and `close` events so that people can choose from, depending on their use case?

[2019-11-20 15:49] marechal-p commented on #6587
Also, the code you linked in VS Code seems to be related to streams. So far, I also thought we were supposed to hook onto a process stream `close` event ourselves.

[2019-11-20 15:52] akosyakov commented on #6587
What about terminal process implementation? There is apparently only `exit` event, it will trigger both `close` and `exit`?

I'm fine with adding a new event like in Node.js apis or using existing `process.stdout.on('close', ...)`. More important to me that:
- docs for `onExit` says that stdout still can produce data after this event
- figure out whether ProcessTask should be changed to fire task

[2019-11-20 16:16] Yashraj890 commented on #6529
Hello Team

I found one solution for this issue, just run the below command

npm install sqlite3 --build-from-source --runtime-electron --target-|YOUR ELECTRON VERSION| --dist-url=https://atom.io/download/electron

After running the above command, please run the - npm rebuild

Please let me know if anyone is able to resolve the issue with my solution.

Thanks

[2019-11-20 16:29] kittaakos commented on #6588
It seems to be a sprotty issue. I did the following with the attached `package.json` as no `scripts` were defined:
 - `yarn`,
 - `./node_modules/.bin/theia build`, and
 - `./node_modules/.bin/theia start`,

Then I opened [`augtest.yang`](https://github.com/theia-ide/yang-lsp/blob/master/yang-lsp/io.typefox.yang.ide/src/test/resources/good/augtest.yang) with `Open With` > `Yang Diagram` and I got t

[2019-11-20 17:22] vrubezhny commented on #5945
@bmewburn Honestly, I don't understand what's going on there... The pluging extension starts working if I add `console,info(...)` calls into `mergeResult()`method like this:
[code]
and rebuild the plugin.
That's it: the change proposed by you plus few `console.info(...)` calls fix the problem.

The `intelephense` log in this case stays almost the same but the following line disappears in this case

[2019-11-20 17:28] tetchel commented on #5059
Please implement the `busy` option!

[2019-11-20 17:32] vince-fugnitto opened #6592 "[core] css class 'noWrapInfo' is referenced in 'core' without being defined"
**Description**

The CSS class `noWrapInfo` is referenced in core, without actually having it's definition defined.
The classname is being defined in other extensions which causes problems when those extensions are not included in an application. The `noWrapInfo` is mainly used for the side-panel-toolbar.

https://github.com/eclipse-theia/theia/blob/2c6df9035b1570da709c5e722dbde739c037bc96/package

[2019-11-20 18:29] vince-fugnitto commented on #5227
I forgot to close, thank you!

[2019-11-20 18:29] #5227 closed

[2019-11-20 19:06] marechal-p commented on #5902
Apparently VS Code slightly transforms some classes to be compatible with es5 code while writing es6: https://github.com/microsoft/vscode/blob/15beb36ccf0d70bf26c8e308e17093902b71e927/src/vs/workbench/api/common/extHostTypes.ts#L18-L27

[2019-11-20 20:20] akosyakov commented on #5059
We have the progress service now, implemented by @AlexTugarev which can run blueish progress bar on any HTML Element. It should be feasible to implement, but someone has to step up.

[2019-11-20 20:22] akosyakov commented on #6368
Yes, it would be enough. But you can go through all command in keybindings view and see whether there is something else suspicious.

[2019-11-20 20:24] akosyakov commented on #6540
In Gitpod periodically I see that some editors don't get highlighted, like 4 typesctips editors and only one does not work. I don't get any errors and impossible to reproduce.

[2019-11-20 23:41] westbury opened #6596 "Label updates are not refreshed in mini browser props"
### Description

This is a follow-on issue from https://github.com/eclipse-theia/theia/pull/5884 as per @akosyakov's comment https://github.com/eclipse-theia/theia/pull/5884#pullrequestreview-305768039

Props of the mini browser are not updated if they are computed from the label provider. W probably should handle it here: https://github.com/westbury/theia/blob/59b4ad001e6f57cb823dab56a23cdb32a4c5

[2019-11-21 02:01] 502647092 commented on #6540
@vince-fugnitto I can't reopen this issue
![image](https://user-images.githubusercontent.com/10203793/69294091-d855cd80-0c45-11ea-845c-77cee14603af.png)

[2019-11-21 02:31] elaihau commented on #5517
The first thing I would try, is passing "taskIdentifier" (e.g., `{"type": "npm","label": "task1"}`) into `TaskDefinitionRegistry.getDefinition()`, to see what the function returns.

if the function returns `undefined`, the "taskIdentifier" does not have enough information. In this case I guess we should notify the user the error.

if the function returns something other than `undefined`, I would c

[2019-11-21 04:02] elaihau commented on #4758
could this one be closed as we merged https://github.com/eclipse-theia/theia/pull/6058 ?

[2019-11-21 04:12] elaihau commented on #6567
the current schema is

[code]

and therefore "an array of objects" is not supported.

I can added the support.

[2019-11-21 05:07] XVilka opened #6597 "Support UTF-8 for the LSP protocol"
See the lengthy discussion here: https://github.com/microsoft/language-server-protocol/issues/376

It seems that theia is one of a few that uses UTF-16 https://github.com/Avi-D-coder/lsp-range-unit-survey

Would be nice if it will have UTF-8 support as well, at least optionally.

[2019-11-21 06:52] tolusha commented on #6567
@elaihau
It will be nice!

[2019-11-21 08:00] alygin commented on #6578
@akosyakov, please, also have a look at those "M" symbols to the right of some of the error trace tree items. They have a [css-style](https://github.com/alygin/vscode-tlaplus/blob/45846bedf5dca23526b6b3e5d89427efc94cc1a1/resources/check-result-view.css#L169) with the color `var(--vscode-gitDecoration-modifiedResourceForeground)` (should be blue in the default color scheme), yet it's displayed as a

[2019-11-21 09:04] akosyakov commented on #6597
Theia is based on monaco-editor-core (VS Code editor) and monaco-languageclient. First there should be agreement to adopt it there. See also: https://github.com/TypeFox/monaco-languageclient/issues/188#issuecomment-556986838

[2019-11-21 09:08] akosyakov commented on #4758
yes, thank you for taking care!

[2019-11-21 09:08] #4758 closed

[2019-11-21 09:10] akosyakov commented on #5517
Please also make sure that all user facing JSON interfaces (i.e. used to parse data) are have the same shape as in VS Code. For it please don't guess, but read VS Code codebase.

[2019-11-21 09:12] akosyakov commented on #6578
@alygin missing `var(--vscode-gitDecoration-modifiedResourceForeground)` is expected, Theia does not come with built-in VS Code extension by default, and this color is contributed by git vscode extension. It should work with https://github.com/eclipse-theia/theia/pull/6475 though given that the give vscode extension is installed.

Anyway, thank you for spotting it!

[2019-11-21 09:52] alygin commented on #6578
Got it, thanks!

Then the only problem left is with link styles. It's strange that some links are displayed correctly ("Full output", "Hide/Show unmodified" ), and others aren't.

The only difference I see is that those links that are displayed correctly, have the "title" attribute.

[2019-11-21 09:55] tsmaeder commented on #6580
Changed the title to reflect the problem being described. Yeah, this behaviour is annoying.

[2019-11-21 10:17] tsmaeder commented on #6349
@kittaakos do you know if this is Windows-specific?

[2019-11-21 10:18] kittaakos commented on #6349
I did not see the error on macOS; let me try this quickly once more...

[2019-11-21 10:22] tsmaeder commented on #6349
Never mind, the error is in the browser, so it's relevant for Che anyway :-( I'm trying to understand if this is a critical bug. As I understand it, preference editing is generally broken for Windows users. Sounds bad to me.

[2019-11-21 10:25] tolusha commented on #6547
Merged https://github.com/eclipse-theia/theia/pull/6555

[2019-11-21 10:25] #6547 closed

[2019-11-21 10:46] ShimonBenYair commented on #5517
@elaihau @akosyakov

In addition, if i have a task in the "dependsOn" array that for example runs tomcat ( so it is running in the background and doesn't seems to have exit code ) , then what should be the behavior of the parent task ? (it will never start)

`{
    "tasks": [
      {
         "label": "task1",
         "type": "shell",
         "command": "echo something",
         "dependsOn": ["

[2019-11-21 12:44] kittaakos opened #6598 "[commands] As an extension developer I want to access all handlers for a command"
### Description

I can get the visible and the active handler for a command, but not all of the available handlers. Extend the `CommandRegistry` API.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-11-21 12:57] vince-fugnitto commented on #6582
Closed by #6591

[2019-11-21 12:57] #6582 closed

[2019-11-21 13:35] akosyakov commented on #6578
@alygin I've inspected these elements and they don't look like `a` tags, they are `td` elements:
<img width="1336" alt="Screen Shot 2019-11-21 at 14 33 07" src="https://user-images.githubusercontent.com/3082655/69342482-f46c6580-0c6b-11ea-912f-1b382cb340f7.png">

I'm not sure that it is Theia issue. We don't mutate HTML content, except rewriting old `vscode-resource` URLs to external URLs.

[2019-11-21 13:49] akosyakov commented on #6578
While debugging something strange happening here:
<img width="1336" alt="Screen Shot 2019-11-21 at 14 40 11" src="https://user-images.githubusercontent.com/3082655/69342957-e4a15100-0c6c-11ea-9878-3d52b0a1af86.png">

`item.range` is an object, but treated as an array

[2019-11-21 13:56] akosyakov commented on #6353
We should at least reuse https://github.com/microsoft/vscode/blob/2305f2187475d860f5f70c8d3bff548f6ce08929/src/vs/workbench/api/common/extHostTypes.ts#L334 and make sure that it is easy to catch up with it. I've just found another bug [Range.toJSON](https://github.com/microsoft/vscode/blob/2305f2187475d860f5f70c8d3bff548f6ce08929/src/vs/workbench/api/common/extHostTypes.ts#L362-L364) is missing an

[2019-11-21 14:07] akosyakov opened #6600 "[plugin] align plugin types with vscode ext types"
There are different mismatches, e.g. https://github.com/eclipse-theia/theia/issues/6578#issuecomment-557092619 or another case that identity of breakpoints is not preserved which should be fixed by https://github.com/eclipse-theia/theia/pull/5774.

We should align and ideally find a way to identify mismatches easier. One proposal is completely reuse the extension host process https://github.com/ec

[2019-11-21 14:54] alygin commented on #6578
@akosyakov, you've spotted it correctly, `appendCodeLinkChild()` won't add the `<a>` element if the last parameter is empty.

I guess, this issue can be closed. All the problems are either fixed or covered in other specialised issues. @lemmy?

[2019-11-21 14:58] #6368 closed

[2019-11-21 15:03] #6598 closed

[2019-11-21 15:39] lemmy commented on #6578
I don't know how to test the changes and thus are not qualified to comment.

[2019-11-21 15:43] tolusha commented on #6542
This is a configuration incompatibility between json-language-server (1) and vscode-languageserver (2)
(1) tries to create a TextDocuments service and does pass any parameters, but the latest version of (2) expect a configuration.

That's why we can see `Cannot read property 'create' of undefined` or `Cannot read property 'update' of undefined`

[2019-11-21 15:54] akosyakov commented on #6542
@tolusha So it is not something that we can fix in Theia, but need to upgrade vscode-languageserver? Can we do it only for `@theia/json` and if not can we pin to stable version of a language server?

[2019-11-21 15:56] mmorhun opened #6601 "Frontend plugins are broken"
### Description
Theia cannot start frontend plugins any more. Despite frontend plugins are displayed in `Plugins` panel they aren't loaded correctly, so there is no contributions from them.

### Reproduction Steps

1. Generate a hello world frontend plugin.
2. Start Theia with it (use `THEIA_PLUGINS` or `HOSTED_PLUGIN` environment variable)

**OS and Theia version:**
Fedora 31, Theia `7a77a3b36416

[2019-11-21 16:08] tolusha commented on #6542
we need a new version of json-language-server, but it hasn't been released yet

[2019-11-21 16:17] akosyakov commented on #6601
Access to metadata was removed for frontend plugin because of performance reasons.

From CHANGELOG.md:

[2019-11-21 16:18] akosyakov commented on #6601
Someone who look though to fetch these metadata lazily after we figure out that the plugin should be loaded in the web worker, in such way who uses VS Code extensions won't be affected by slow startup.

[2019-11-21 16:20] akosyakov commented on #6578
I will close the issue as soon as we merge https://github.com/eclipse-theia/theia/pull/6465 It won't be available in Gitpod immediately, some integration work is required, but hopefully soon.

[2019-11-21 19:26] #5418 closed

[2019-11-21 22:18] Suzamax commented on #3521
Can confirm.

After using the Electron example, rebuilding in browser version fails.

Steps to reproduce are the same but the `--cwd` part, not needed in UNIX OSes.

[code]

**Node v10, macOS Catalina 10.15.1**

[2019-11-22 02:46] 502647092 opened #6603 "[editor] chinese input method can't input when select content"
### Description

![temp](https://user-images.githubusercontent.com/10203793/69393440-1caf9f00-0d14-11ea-9502-f17727f52c13.gif)

select content and use input method will cause editor freeze
Maybe like #6459

### Reproduction Steps
look gif

**OS and Theia version:**
**Diagnostics:**

[2019-11-22 05:27] KrishnaChaitanya-Gopaluni opened #6604 "Support for "Remote - ssh" extension on gitpod"
### Description

Does theia on gitpod app supports "Remote - ssh" extension: https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh

Error message : Activating extension Remote SSH failed: n.env.onDidChangeLogLevel is not a function.

### Reproduction Steps

Tried installing "Remote-ssh" extension on Gitpod. The following error occurred as shown on the bottom right corner

[2019-11-22 06:12] akosyakov commented on #6604
This extensions is not open-sourced and have a license prohibiting using it with any other products except VS Code: https://marketplace.visualstudio.com/items/ms-vscode-remote.remote-ssh/license

cc @svenefftinge

[2019-11-22 06:14] akosyakov commented on #3521
@Suzamax and you have run `yarn run rebuild:browser` before running browser app again too?

[2019-11-22 07:03] KrishnaChaitanya-Gopaluni commented on #6604
Thanks.

[2019-11-22 07:03] #6604 closed

[2019-11-22 07:50] AlexTugarev commented on #6415
Hi @dannaf! Thanks for detailing this out. I just compared Python checks of the vscode extension running in VS Code and Theia, but couldn't see any difference.

You're mentioning the status bar progress for the linter, I couldn't see that in vscode, do you have an example how to reproduce it?

Also, I think the new language services are preferable to the old pyls/jedi, which can be activated by se

[2019-11-22 08:22] evidolob opened #6605 "Better visual feedback for panels"
### Description
When Theia works on slow internet connections, it some times hard to understand that Theai performs some background work(fetch files from server, communicate with plugins, etc.) when panels open(lake file tree).
Now we have some issues like:
#5959 or #6195

I propose to have progress indicator similar to git/scm for all panels (I think we can do it on shell level),
and make sure th

[2019-11-22 08:23] evidolob commented on #6605
cc @benoitf @slemeur @akosyakov

[2019-11-22 09:00] akosyakov commented on #6605
It makes sense from user perspective, but probably not for each panel, but for whole areas? E.g. if language services are fetching something, it would be enough to show a bar  at the top of whole main area, not for each editor. It is just too noisy. The same for side areas, the view container can have it at the top, but showing for each view would be too noisy again. I think it is the same in VS C

[2019-11-22 09:06] tolusha commented on #6542
@benoitf Is there a way to set explicit version of a transitive dependency?

[2019-11-22 09:51] NitinKhandelwal1947 commented on #6529
Thanks @marechal-p it worked for me.

[2019-11-22 09:58] jankeromnes opened #6606 "[keybinding] wrong keybinding for "Open Preferences" on Mac (Electron): should be Cmd+, not Ctrl+,"
On Mac OS (Electron), the keybinding for `Settings > Open Preferences` is <kbd>Ctrl</kbd> + <kbd>,</kbd>.

Instead, it should be <kbd>Cmd</kbd> + <kbd>,</kbd> because that seems to be the expected keybinding, and it's what VS Code uses for `Preferences > Settings`.

Notes:
- This probably won't work in browsers, because it conflicts with the browser preferences keybinding, so we'll likely need dif

[2019-11-22 10:04] svenefftinge commented on #6606
Could you also take care of the other 'non-native' keybindings, e.g. <kbd>Cmd</kbd> + <kbd>w</kbd>?
Also I think they should be registered in addition so we don't unnecessarily break electron users that already got familiar with our alternative bindings.

[2019-11-22 10:09] jankeromnes commented on #6606
Two excellent ideas, thanks! Will do.

[2019-11-22 10:10] akosyakov commented on #6542
@tolusha you can set it with `yarn resolutions`, but all adopters will need to do the same for now too

[2019-11-22 10:12] tolusha commented on #6542
https://github.com/eclipse-theia/theia/pull/6607

[2019-11-22 10:24] jankeromnes commented on #6606
The keybinding is currently hard-coded as <kbd>Ctrl</kbd> + <kbd>,</kbd>, regardless of build or OS:

https://github.com/eclipse-theia/theia/blob/2938cd0e72ac03056925c9de8c6d706a34e2dd27/packages/preferences/src/browser/preferences-contribution.ts#L63-L68

I'll take a look at Windows to see if this actually works (in browser and in Electron).

[2019-11-22 11:13] Suzamax commented on #3521
@akosyakov yes, but it was useless, "currently using browser" according to the output.

[2019-11-22 11:33] kittaakos commented on #3521
I had this issue several times; somehow there is an inconsistent state in the CLI. Can you try `git clean -ffxqd` (will delete all untracked files) and run `yarn && yarn rebuild:electron`. Does it help?

[2019-11-22 11:45] #5694 closed

[2019-11-22 11:45] #6218 closed

[2019-11-22 11:45] #6282 closed

[2019-11-22 11:45] #6296 closed

[2019-11-22 11:45] #6373 closed

[2019-11-22 11:45] #5032 closed

[2019-11-22 11:45] #5518 closed

[2019-11-22 11:45] #5786 closed

[2019-11-22 11:45] #6453 closed

[2019-11-22 11:45] #5647 closed

[2019-11-22 11:45] #5648 closed

[2019-11-22 11:45] #5521 closed

[2019-11-22 11:45] akosyakov commented on #6578
General support in Theia resolved by https://github.com/eclipse-theia/theia/pull/6465

[2019-11-22 11:45] #6578 closed

[2019-11-22 11:48] akosyakov commented on #5007
@apupier I've merged https://github.com/eclipse-theia/theia/pull/6465. Now accessing localhost resources should work in remote env. Although issue with `X-Frame-Options` i think you need to sort out with atlasmap.

I'm closing it now. Please reopen if you think something else could be done on our side.

[2019-11-22 12:08] vince-fugnitto commented on #1568
I believe this issue is now closeable?

[2019-11-22 12:13] vince-fugnitto commented on #1529
I've retried again and it still works correctly:
- first launch the backend through VS Code
- then launch the frontend through VS Code

The `About` menu does in fact show the correct content. I will close the issue as I don't believe there is a bug any longer, if the problem ever persists or through further testing we see that there is still in fact a bug, we can always re-open.

[2019-11-22 12:13] #1529 closed

[2019-11-22 13:13] vince-fugnitto commented on #1286
I wonder if the `widget` template from the `generator-theia-extension` is also a good example for users on how they can add a new view into the app. Perhaps documenting adding a view would be the next step.

[2019-11-22 13:14] vince-fugnitto commented on #1564
I have but I still did not get any different decorations in the explorer :(

[2019-11-22 13:37] vince-fugnitto commented on #2865
I believe this issue can be closed now with the tree view support (through plugins).
The referenced issue #716 is also closed (icons for vertical tabs).

Please re-open the issue if I am wrong :)

[2019-11-22 13:37] #2865 closed

[2019-11-22 13:41] vince-fugnitto commented on #2753
Another relevant issue https://github.com/eclipse-theia/theia/issues/2468.
Closing the previous issue in order not to have duplicates.

[2019-11-22 13:41] vince-fugnitto commented on #2468
Closing since it is also referenced #2753.

[2019-11-22 13:41] #2468 closed

[2019-11-22 13:59] vince-fugnitto commented on #5452
Fixed in #5600

[2019-11-22 13:59] #5452 closed

[2019-11-22 14:04] vince-fugnitto commented on #4457
@geropl I don't believe the issue was ever moved, either the author probably resolved the issue themselves or they have moved on. Should it be closed?

[2019-11-22 14:12] #1568 closed

[2019-11-22 14:41] vince-fugnitto commented on #5952
Is it closeable by #6255 ?

[2019-11-22 14:48] #5952 closed

[2019-11-22 21:46] marechal-p commented on #6606
Does replacing the `keybinding` field by `ctrlcmd+,` do the trick?

[2019-11-22 23:42] kdvolder opened #6609 "Is there a list of theia extensions somewhere along with brief explanation of what each does?"
Here's the crux of my problem... I'm just starting to explore putting together a Theia setup to use as a IDE.

I'm following the instructions to build something using a 'package.json' file:

https://theia-ide.org/docs/composing_applications

Where things are breaking down  for me is... I cannot seem to find out what kind of extensions I should/could add to this 'bare bones' setup to build an actua

[2019-11-22 23:57] kdvolder opened #6610 "Improve experience around editing workspace/user preferences"
Not sure if this is just a problem with my particular combination of theia extensions (it is a bit hard to decide what is needed really. See also: https://github.com/eclipse-theia/theia/issues/6609) or if its just a limitation of Theia's current implementation.

On the left we have a tree view and on the right a json file.

The basic idea of this is fine I think, but I would like to have better su

[2019-11-23 00:35] kdvolder opened #6611 "Installing a vscode extension **pack** is not working"
### Description

Installing a vscode 'extension pack' does not install the extensions in the pack

### Reproduction Steps

1. Create theia instance with this package.json

[code]

2. Use 'Plugin:  Deploy plugin by id' to install this: `vscode:extension/Pivotal.vscode-boot-dev-pack`

3. Observe that the dev pack is indeed installed, but nothing else is.

This is wrong, since the devpack contains se

[2019-11-23 00:41] kdvolder opened #6612 "Provide a easy way to uninstall a vscode extension after installing it via 'Deploy plugin by id'"
Since there is a command to install a vscode plugin by id... shouldn't there also be a similar command to uninstall it? Or maybe I should be able to do this via the 'Plugins' view? This doesn't seem to be the case. I can see installed plugins but found no way to remove them.

[2019-11-23 01:37] 502647092 commented on #6217
@akosyakov also can't use hot key copy
![temp](https://user-images.githubusercontent.com/10203793/69470893-e554f700-0dd4-11ea-9748-8d1901976658.gif)

[2019-11-23 01:44] 502647092 opened #6613 "input method cause create file or folder name error"
### Description

![temp](https://user-images.githubusercontent.com/10203793/69470978-b9864100-0dd5-11ea-9b2e-3284b70b339d.gif)

### Reproduction Steps

look gif

**OS and Theia version:**
Chrome
Windows
Theia latest version
**Diagnostics:**

[2019-11-23 01:46] vince-fugnitto commented on #6612
@kdvolder the issue has already been reported in other issues, please see their discussions:
https://github.com/eclipse-theia/theia/issues/6528 https://github.com/eclipse-theia/theia/issues/5507. Closing the issue since it is a duplicate.

[2019-11-23 01:46] #6612 closed

[2019-11-23 01:47] 502647092 commented on #6613
When I press Enter, it should be received by the input method instead of the dialog box.

[2019-11-23 01:54] vince-fugnitto commented on #6610
Searching in the preferences widget is supported, but it is like you describe at the moment, where you need to expand nodes to search. I think we should revisit https://github.com/eclipse-theia/theia/issues/2638.

This is already the case, please note the current bug https://github.com/eclipse-theia/theia/issues/6542

Can you elaborate what you mean?

The `settings.json` file is validated, it is l

[2019-11-23 02:03] vince-fugnitto commented on #6611
cc @eclipse-theia/plugin-system

[2019-11-23 02:17] vince-fugnitto commented on #6609
@kdvolder I'm happy to hear you starting to look into building your own IDE :)
I understand your concern about trying to discover extensions/plugins which you'd like to include.

We have some issues tracking improving the overall documentation of the project, as well as giving the most information to adopters and users about the available functionalities offered
(for example: https://github.com/ec

[2019-11-23 02:24] vince-fugnitto commented on #6609
I think a good place to start would be checking the `example-browser` and seeing what you'd wanna keep/remove :)

https://github.com/eclipse-theia/theia/blob/b9969ba4870288a994e2a24294e96af33760df87/examples/browser/package.json#L16-L63

[2019-11-23 19:41] akosyakov commented on #6217
after ci build success I will test again

Yes, npm.js had an incident on Friday, `next` version with new webviews support has not been published yet. Please reopen if you will be able to reproduce after the build is successful.

[2019-11-24 15:04] shahar-h opened #6615 "Limit opened file size"
### Description
Currently there is no limit to opened files size. as a result, when opening a huge file it could lead to out of memory issues.

### Reproduction Steps
* Create a file with 1GB random text data via terminal:
`openssl rand -base64 $((1024*1024*1024)) >> large.out`
* Open the file via file explorer.
* As a result, Theia main process reaches ~1.5GB memory, which could lead to out of me

[2019-11-24 16:15] vince-fugnitto commented on #6615
@shahar-h thank you for the issue!
At the moment, we already have an existing issue tracking the feature #4731. I will close this one as it's a duplicate.

[2019-11-24 16:15] #6615 closed

[2019-11-24 16:42] akosyakov commented on #3589
After implementing web views, I've learned that many websites are secured from embedding them in other websites with `X-Frame-Options` headers or `CSP` meta tags. There is no way to work it around.

We could consider to use the headless chrome instead of embedding others web-sites via iframe. It will run as a separate process (so no issues with security) and serve content to us. It's a way how the

[2019-11-25 01:25] elaihau commented on #5517
i am not sure. i would check what vs code does in this case.

at this moment, the property "background" is not supported in Theia. So i am a little skeptical on the feasiblity of running your `task1` and `task2` in parallell, because Theia does not know if `task2` is a background task.

I am working on the "background" property https://github.com/eclipse-theia/theia/issues/6534. If i find anything

[2019-11-25 05:45] NitinKhandelwal1947 opened #6617 "application log viewing in output tab"
### Description
I am running a script in theia which write its execution log in a log file. Is there anyway to view the content of the log file in Output tab. Is there anyway to customised Output tab to view user defined log file.

### Reproduction Steps
 I took ```eclipse-theia/theia``` code base and running a script in theia which write its execution log in a log file.

**OS and Theia version:**

[2019-11-25 05:50] 502647092 commented on #6217
@akosyakov
also can't copy use hot key
and webview menu can't open
but
![image](https://user-images.githubusercontent.com/10203793/69515638-2b9f8700-0f8a-11ea-8e33-1ebabe9ff896.png)
button works fine

[2019-11-25 06:20] akosyakov commented on #6611
We don't support `extensionPack` property yet. One has to improve this method: https://github.com/eclipse-theia/theia/blob/145f9137176497ec0a02a720d2b4697b76cf2547/packages/plugin-ext-vscode/src/node/scanner-vscode.ts#L51-L63

[2019-11-25 06:22] akosyakov commented on #6617
A custom extension can inject `OutputChannelManager`, create a new channel and write down content to it

[2019-11-25 06:52] ShimonBenYair commented on #5517
@elaihau

I see that in Theia there is already a support for the "background" property of the problemMatcher in the 'task' package :
https://github.com/eclipse-theia/theia/blob/master/packages/task/src/browser/task-problem-matcher-registry.ts#L143

But can i use it if the "isBackground" property is not supported yet in tasks in Theia ?

And what did you meant by "(It is your definition of "ended".

[2019-11-25 08:00] a1994846931931 opened #6618 "Integrated terminal cannot be reused"
### Description
Theia can now support integrated terminal, thanks to commit 0327a4d666ae2d5b8616e2603e672fb23ad7b0e3. But there remains a problem that the terminal cannot be reused (see the posted gif below).

### Reproduction Steps
1. Install python plugin (from VSCode marketplace)
2. Debug with the following configuration ( `console` should be `integratedTerminal` )
[code]
3. End the debug sessi

[2019-11-25 08:03] a1994846931931 commented on #5250
Solved by 0327a4d666ae2d5b8616e2603e672fb23ad7b0e3

But a problem remains: https://github.com/eclipse-theia/theia/issues/6618

[2019-11-25 08:11] akosyakov commented on #6217
I'm wonder what else could be different between yours and my setup.

[2019-11-25 08:30] akosyakov commented on #6217
I've tested again and it works. My setup:
- Chrome: Version 78.0.3904.108 (Official Build) (64-bit)
- Mac: High Sierra 10.13.5 (17F77)

[2019-11-25 08:33] akosyakov commented on #6618
@elaihau Would it be possible to refactor tasks that they preserve identity as in VS Code? It breaks in many places not only for debugging. Generally running the same task multiple times should NOT be allowed and the same terminal should be used. Right now it is most annoying mismatch.

[2019-11-25 09:51] NitinKhandelwal1947 commented on #6617
@akosyakov Thanks for your quick reply. Do you have any sample example for the same.

[2019-11-25 10:37] jankeromnes commented on #6606
This would almost do the trick, except:
- In Firefox, on Mac, `cmd+,` is intercepted by the browser (and opens the browser settings)
- Some Mac users may already be used to the non-standard `ctrl+,` shortcut, so it should probably still work (even if it's not the default)

[2019-11-25 10:52] #4901 closed

[2019-11-25 10:54] svenefftinge commented on #5970
Should be fixed with https://github.com/eclipse-theia/theia/pull/6621 (please reopen if not)

[2019-11-25 10:54] #5970 closed

[2019-11-25 10:56] westbury commented on #6617
This issue has been raised in https://github.com/eclipse-theia/theia/issues/4297 and  https://github.com/eclipse-theia/theia/pull/5039 is an attempt to address this .  This PR results in log content being sent to the output view.  It is configured to do so only for electron because the logs would be available to the server admin anyway in the browser version.

The PR has been rather forgotten, par

[2019-11-25 10:58] Ten0 commented on #2056
What's the current state of this issue?
Is there an ETA for the feature? What would be the next steps? Is it very hard?

[2019-11-25 11:00] kittaakos commented on #6617
Not really, but it would be better to use a connection-scoped injection instead of the current approach. (And I forgot to click on the button to show my comments.)

[2019-11-25 12:40] marcdumais-work commented on #6167
Yes, I think so.

[2019-11-25 12:40] elaihau commented on #6618
Let me take a look. Will get back to you later

[2019-11-25 12:47] tolusha opened #6623 "Implement SelectionRange and SelectionRangeProvider"
### Description
`css-language-features`, `html-language-features`, `json-language-features` builtin extensions failed due to unimplemented VS Code API.

https://github.com/Microsoft/vscode/blob/8795a9889db74563ddd43eb0a897a2384129a619/src/vs/vscode.d.ts#L3842
https://github.com/Microsoft/vscode/blob/8795a9889db74563ddd43eb0a897a2384129a619/src/vs/vscode.d.ts#L3863

[2019-11-25 13:46] jeluard commented on #6601
@akosyakov Can you detail what this implies for the `hello world frontend plugin` itself? What has to be done so that it can be loaded safely?

[2019-11-25 13:50] akosyakov commented on #6623
Right now html and css coming from monaco. It's backed in the generator: https://github.com/eclipse-theia/theia/blob/b8c5e18530b93c5a8b7a1890b68f5bcc202e5817/dev-packages/application-manager/src/generator/webpack-generator.ts#L56-L57

We should make it optional somehow. Otherwise there would be duplicate proposals from monaco and vs code built-in extensions.

[2019-11-25 13:57] marechal-p commented on #2056
I did realize a prototype, but we decided to not go forward with it at the moment. The main issue is security, loading remote content inside a browser window is not recommended when using electron's api + node integration. On the other hand, the electron frontend code doesn't work really well out of the box without electron + node apis, and some monkey patching needs to be made so that some compon

[2019-11-25 15:03] #6606 closed

[2019-11-25 15:32] akosyakov commented on #6542
Reopened since the original issue is not resolved.

[2019-11-25 15:52] DanTup opened #6626 "Quickpick doesn't work"
I'm trying to test the `asExternalUri` support using the instructions from @akosyakov at https://github.com/eclipse-theia/theia/pull/6465#issuecomment-556072510 (though I'm using the master branch since that PR is now merged).

When the Dart extension opens the device picker (either by trying to launch an app or clicking on the device label in the status bar) the selector appears but it's impossib

[2019-11-25 16:20] tolusha opened #6628 "@theia/vscode-builtin-debug-server-ready@0.2.1 does not work"
### Description
This extension is intended to open a browser window once output meets a specific pattern.
But it doesn't work and there are no any errors on console.

https://www.npmjs.com/package/@theia/vscode-builtin-debug-server-ready

[2019-11-25 18:29] kdvolder commented on #6610
I mean when you hover mouse over a property in the preferences json, it could show a description that goes with that property, to explain what it does. I think that kind of information exists since its show in the tree widget. I guess this is another example of something that supposed to work but currently doesn't because of #6542 ?

Thanks for all your responses. It seems perhaps most of this com

[2019-11-25 18:34] vince-fugnitto commented on #6610
@kdvolder hovering is in fact supported :)

<div align='left'>

<img width="405" alt="Screen Shot 2019-11-25 at 1 32 17 PM" src="https://user-images.githubusercontent.com/40359487/69567803-3bb66700-0f88-11ea-9c8d-1149216e217e.png">

</div>

The issue #6542 has been resolved so you can try the `example-browser` to see the full functionality again :)

[2019-11-25 18:58] vince-fugnitto commented on #6610
@kdvolder please let us know if you find further improvements to the `preferences` widget and experience, we are always happy to improve :) The easiest way is to open new issues (granted they are not already created) as they are easier to track.

[2019-11-25 19:01] vince-fugnitto commented on #6575
@Krzysztof-Cieslak do you still experience issues with the icon?

[2019-11-25 19:11] kdvolder commented on #6609
Great! Thanks, I'll refer to that then as my starting point from here on forward.

Indeed, but its rather hard to select what you want to include if you don't know what functionality is available to opt-in or opt-out of.

In short.... something similar to vscode :-)

But we want to have a focus on Java spring boot development, so we definitely want the Java support as well as some specific vscode

[2019-11-25 19:23] vince-fugnitto commented on #6609
Sure, the repository which contains the source code for all the Docker images is: https://github.com/theia-ide/theia-apps

[2019-11-25 19:25] akosyakov commented on #4901
@svenefftinge I still can reproduce it by trying to create a new file and then cancelling it with `escape`.

[2019-11-25 19:28] akosyakov commented on #6626
@DanTup Could I try it somehow?

[2019-11-25 20:59] kdvolder commented on #6610
I've tried the 'full' Theia docker image. I assume that is similar as the browser example?

Editing preference json file doesn't seem to give any completions (beyond just suggesting words it sees in the same file). Also hovers are not working for me either.

This is how I run theia:

[code]

Here's an example of me trying to get completions:

![preference-completions](https://user-images.githubuse

[2019-11-25 21:13] kdvolder commented on #6610
Built the browser example from source as per these instructions: https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#quick-start

And now the preference json editor is working properly. So the docker images are not equivalent?

[2019-11-25 22:33] vince-fugnitto commented on #6610
@kdvolder the docker images probably need a similar fix as was present in the main repository, I'll adjust them thank you!

[2019-11-26 00:37] kdvolder opened #6629 "Avoid duplicating java ls when installing vscode extensions that depend on Java language server"
### Description

When we install a vscode extension that depend on the vscode-java extension, it is easy to end up with basically duplicating the Java language server support in the resulting Theia instance. I.e. we get the functionality from `@theia/java` package. And we also get the vscode-java plugin installed.

Both of these provide Java language support that is identical (well, I'm not 100% s

[2019-11-26 02:02] elaihau commented on #6618
@a1994846931931
quick question: is the python plugin mentioned in this ticket
- the python extension in Theia, or
- the python extension from vsCode?

Thanks !

[2019-11-26 02:44] a1994846931931 commented on #6618
@elaihau
Hi, sorry I forgot to mention that it's VSCode's python extension.

[2019-11-26 03:07] vince-fugnitto commented on #6629
@kdvolder perhaps others can speak further on this but the idea was to deprecate and remove the `@theia/java` and `@theia/java-debug` extensions in favor of directly using VS Code extensions https://github.com/eclipse-theia/theia/issues/6183. In this way, the java language server, and debug capabilities would come from well tested and maintained extensions and more closely follow the VS Code exper

[2019-11-26 04:05] akosyakov commented on #6629
@kdvolder please remove Theia java extensions from your product, it you are using vscode extensions. We will remove them from example applications eventually as well.

[2019-11-26 05:48] NitinKhandelwal1947 commented on #6617
@westbury I have tried the approach mentioned  in https://github.com/eclipse-theia/theia/pull/5039
and modified all the files linked to this PR. But when i try to run ```yarn``` on root folder i am getting below error.

[code]
Note:- I took ```eclipse-theia/theia``` code base from master branch one month back.

[2019-11-26 10:08] DanTup commented on #6626
Sorry, I should've set something up :)

I tried forking and setting up a branch to more easily repro here, but it seems to stall when starting up:

https://github.com/DanTup/theia/tree/picker-test

![Screenshot 2019-11-26 at 10 07 59 am](https://user-images.githubusercontent.com/1078012/69620069-a58c4a80-1034-11ea-8cb1-56a5cda2911a.png)

It's been like that for quite a while (I tried refreshing th

[2019-11-26 10:19] tolusha opened #6630 "@theia/vscode-builtin-debug-auto-launch@0.2.1 does not work"
### Description
This extension is intended to start a debug session automatically once application is started from the integrated terminal and ` "debug.node.autoAttach": "on"`.
But it doesn't do that and the error is observed in the console.

https://www.npmjs.com/package/@theia/vscode-builtin-debug-auto-launch

[code]

[2019-11-26 11:04] DanTup commented on #6626
Ok, the Dart version didn't repro (I'm not sure what the difference is yet). But here's a Flutter one:

https://gitpod.io/#https://github.com/DanTup/theia/tree/picker-test

If you run that, then open the app on port 3000, open `my_flutter_test/lib/main.dart` and then click the "Web Server" label in the status bar, it'll show the device picker:

![Screenshot 2019-11-26 at 11 03 44 am](https://user-

[2019-11-26 11:09] DanTup commented on #6626
Oh ok, I know what's different - for Flutter we update the list after it's been shown (because some work is async, we may add new items to the list). We do this by re-assigning the `items` property:

https://github.com/Dart-Code/Dart-Code/blob/cf79ce75cd616e6cf9c43bd866d76c9ff6c6bea1/src/shared/vscode/device_manager.ts#L93-L123

This ability was added in VS Code in v1.26:

https://code.visualstudi

[2019-11-26 11:35] jankeromnes opened #6633 "[keybinding] Align Ctrl/Cmd+T and Ctrl/Cmd+O with VS Code"
So this is a bit tricky. Currently, here are the relevant keybindings used in VS Code:

- <kbd>Ctrl/Cmd</kbd> + <kbd>O</kbd>: `File` > `Open...`
- <kbd>Ctrl/Cmd</kbd> + <kbd>T</kbd>: `Go` > `Go to Symbol in Workspace...`
- ~~<kbd>Ctrl/Cmd</kbd> + <kbd>Shift</kbd> + <kbd>O</kbd>: `Go` > `Go to Symbol in File...`~~ (EDIT: this doesn't seem to exist in Theia)

But today, Theia uses this:

- <kbd>Ctrl

[2019-11-26 11:40] #6567 closed

[2019-11-26 12:11] #6618 closed

[2019-11-26 12:31] westbury commented on #6617
@NitinKhandelwal1947 I've rebased the PR to latest master, so it should work for you now.  The errors you saw were due to missing typedefs on the return values, which are now required in Theia.

[2019-11-26 12:41] vince-fugnitto commented on #6633
Please note that `File` > `Open...` is not disabled in browsers, at least on Linux it is available:

![image](https://user-images.githubusercontent.com/40359487/69634315-f2195b00-101f-11ea-99f6-1a672c20966f.png)

[2019-11-26 13:31] tolusha opened #6634 "@theia/vscode-builtin-extension-editing@0.2.1 does not work"
### Description
This extension brings schema validation for some files:
- *color-theme.json
- *icon-theme.json
- *language-configuration.json

https://www.npmjs.com/package/@theia/vscode-builtin-extension-editing

[code]

[2019-11-26 13:37] jankeromnes commented on #6633
Ah, indeed, thank you for catching that. I tested Gitpod's Theia as a reference, but it does have a few modifications that should be minded.

[2019-11-26 13:41] vinokurig commented on #4050
It would be great to have next commands that are needed for the [VsCode Emacs Keymap extension](https://marketplace.visualstudio.com/items?itemName=lfs.vscode-emacs-friendly):
- [ ] lineBreakInsert - Insert Enter
- [ ] workbench.action.openRecent - Open recent command
- [ ] workbench.action.splitEditorDown - Split editor horizontal
- [ ] workbench.action.splitEditorRight - Split editor vertical
-

[2019-11-26 14:53] benoitf commented on #5412
FYI now it's called codicons https://github.com/microsoft/vscode-codicons :-)
https://github.com/microsoft/vscode/pull/82729

[2019-11-26 15:21] akosyakov commented on #6634
jsonValidation contribution points is not implemented yet: https://github.com/eclipse-theia/theia/issues/3983

[2019-11-26 15:34] tolusha opened #6636 "[vscode] support CustomEditor API"
### Description

It can be tested with @theia/vscode-builtin-image-preview@latest.

Allows to preview images of such formats:

- `*.jpg`, `*.jpe`, `*.jpeg`
- `*.png`
- `*.bmp`
- `*.gif`
- `*.ico`
- `*.tga`
- `*.webp`

[code]

[2019-11-26 16:50] akosyakov commented on #6636
VS Code is working on new API: Webview Editor. But it is very raw, unstable and not completely implemented. I would prefer to wait till it is stabilized and complete, and only after align with it. Before it we have to find a version of extension which does not use `registerWebviewEditorProvider`

That sounds bogus, this activation event is already supported, we should list it to avoid premature ac

[2019-11-26 16:52] akosyakov commented on #4199
`onWebviewPanel` is covered in https://github.com/eclipse-theia/theia/pull/6465, but activation event is not listed as a supported, we should do it

[2019-11-26 17:03] akosyakov commented on #6636
Ah, this extension was added to prototype webview editors. So there is not version which we can use.

[2019-11-26 17:18] kdvolder commented on #6629
Thanks, seeing issue https://github.com/eclipse-theia/theia/issues/6183 and the comments here, tells me you are already moving in the direction of phasing out the `@theia/java` packages in favor of using equivalent vscode extensions. And we should do the same.

I think that answers my questions perfectly.

[2019-11-26 17:18] #6629 closed

[2019-11-26 18:12] vince-fugnitto opened #6637 "[question] why is '@theia/bunyan' part of the main repository"
**Description**

I have a question regarding the `@theia/bunyan` extension present in the main repository.
It looks like there are no extensions (part of the main repo) that depend or use the extension, and it is not included in the `example-browser` or `example-electron` applications. It also does not seem to be updated frequently. Is it a source for clean-up, or is there a reason it is present i

[2019-11-26 18:24] kdvolder opened #6638 "The 'see here for detailed documentation' is not leading to relevant docs"
### Description

Most of the packages under the packages directory in this repo contain a very skeletal readme that shows a text "See here for a detailed documentation." with a link that leads to `https://theia-ide.org/docs/`.

For example:

- https://github.com/eclipse-theia/theia/tree/master/packages/workspace

This link is not all that useful and just leads back to the a 'general' overview page

[2019-11-26 18:26] vince-fugnitto opened #6639 "[dependencies] 'editor-preview' needlessly pulls 'navigator'"
**Description**

The `@theia/editor-preview` extension needlessly pulls the `@theia/navigator` extension.
The dependency is declared but is unused throughout the extension. It is likely a leftover from https://github.com/eclipse-theia/theia/commit/00e7d9d65cdb155fc28095e5782f30764203bab0.

https://github.com/eclipse-theia/theia/blob/6f38e4f33d8fa672f585510935169791cc7b10c3/packages/editor-preview/

[2019-11-26 18:29] vince-fugnitto commented on #6638
@kdvolder you are correct, the documentation for each extension is in fact lacking at the moment.
It is definitely one of the reasons I proposed the following: https://github.com/eclipse-theia/theia/issues/6518

I think we can greatly improve the `README` for each extension, and it will be useful since they are displayed by default when browsing through `npm`. Just look at the `@theia/cpp` extensi

[2019-11-26 19:46] #6587 closed

[2019-11-26 20:33] kittaakos commented on #6633
Watch out, it is on macOS. On Windows and Linux, VS Code uses [keychords](https://github.com/microsoft/vscode/blob/a8158aee897bea1c1ec6545b55c4f7d0de57ed38/src/vs/workbench/contrib/files/browser/fileActions.contribution.ts#L49-L54). For instance,  <kbd>Ctrl</kbd>+<kbd>K</kbd>|<kbd>Ctrl</kbd>+<kbd>O</kbd> is for opening a folder. And there's no such thing as `File` > `Open...`.

Native file dialogs

[2019-11-27 00:01] RomanNikitenko opened #6640 "Custom tasks are not available for running"
### Description
Tasks with a custom type are not available for running despite the adding the corresponding task schema for them.

### Reproduction Steps
Please use my forked repo for testing, it contains:
- the [test extension](https://github.com/RomanNikitenko/theia/commit/1cc07cead52a5537bbc9826df36c75795426823b) which allows to add/remove schemes for custom types
- tasks with custom type for t

[2019-11-27 00:34] RomanNikitenko commented on #6640
@elaihau
Is it possible to get back the logic with checking is a configuration valid or not when we take the configured tasks?

At least we should validate configurations when task schema was updated, something like https://github.com/eclipse-theia/theia/compare/reorganizeTasks?expand=1

But from my point of view before [the changes](https://github.com/eclipse-theia/theia/pull/6616/files#diff-794c

[2019-11-27 00:45] vince-fugnitto opened #6641 "[file-search] searching does not work well in multi-root workspaces"
**Description**

The `file-search` (<kbd>ctrlcmd</kbd>+<kbd>p</kbd>) does not work accurately for multi-root workspaces as results from later roots (roots which are defined later in the `.workspace`) are hardly displayed.

The reason is due to the `limit` and fact that fuzzy matches are displayed before better results #5636, and thus later roots never get to be displayed. VS Code handles this case

[2019-11-27 02:24] elaihau commented on #6640
Thank you for pointing out the bug I introduced recently !

I totally agree with [your comments](https://github.com/eclipse-theia/theia/pull/6616/files#r350946933)

I also went through your code in the `reorganizeTasks` branch. Subscribing to `this.taskSchemaUpdater.onTaskSchemaChanged()` is very smart and i believe it fixes the problem. Could you please create a pull request at your convenience?

[2019-11-27 06:40] NitinKhandelwal1947 commented on #6617
@westbury Thanks it worked. But as per my requirements i want to view my application  log file content (which write in some location in my machine) in Output tab. Can you please help me . Which part of the code i need to change to accommodate this changes.

[2019-11-27 08:01] akosyakov commented on #6637
Initially we though to use it as a primary logger, but after gaining some experience with end products it becomes clear that using console by default is better. So it is kind of an additional implementation of logging. I'm not sure whether anyone is using it @eclipse-theia/ecd-theia-committers ? If not pulling it out of repo or removing would be fine to make our build faster.

[2019-11-27 08:37] thegecko commented on #6637
Happy to have it removed

[2019-11-27 08:52] thegecko opened #6645 "Remove explicit dependency on terminal"
### Description

There are many cases when the terminal functionality isn't required. It gives full access to the system being run in a web context and should be easily turned off. e.g. https://github.com/eclipse-theia/theia/issues/5663

The problem is, many extensions have a direct or indirect dependency on terminal (e.g. plugin-ext, debug, cpp), so taking any of these means the terminal function

[2019-11-27 09:10] tolusha opened #6646 "There is no auto-completion for @theia/vscode-builtin-markdown-language-features@0.2.1"
### Description
I've built Theia without `@theia/preview` package. Installed markdown-language-features extension [1]. Preview works, but auto-completion doesn't, and there are not any errors in console.
BTW, auto-completion doesn't works in markdown files even with `@theia/preview`.

[1] https://www.npmjs.com/package/@theia/vscode-builtin-markdown-language-features

[2019-11-27 09:57] jankeromnes commented on #6633
Indeed, good catch:

- VS Code on Windows:

![windows](https://user-images.githubusercontent.com/599268/69713325-a12f6280-1104-11ea-956c-445926daa15d.png)

- Theia (https://github.com/eclipse-theia/theia/pull/6635) on Windows:

![windows-theia](https://user-images.githubusercontent.com/599268/69713362-af7d7e80-1104-11ea-86c1-6bf4207a19f4.png)

[2019-11-27 11:07] westbury commented on #6637
Mbed Studio uses log4js, implemented in its own extension based on @theia/bunyan.  So it might be useful to keep in another repo somewhere as an example for those who want file logging.

[2019-11-27 12:06] marcdumais-work commented on #6637
Is your extension a standalone implementation based-on or inspired from `@theia/bunyan` or does it depend-on / extend it?

We can easily create a new project under `theia-ide/` and move it there, but it will be of limited long-term usefulness unless it's maintained/used. Is there interest from someone in taking ownership of this, maybe also adding an example application that uses it, CI, etc?

[2019-11-27 12:36] akosyakov commented on #6645
I was thinking along this lines:
- `@theia/terminal-api` extension which only defines no-op implementations with interfaces, i.e. like we do for `QuickPickService`.
- `@theia/terminal` is an implementation of `@theia/terminal-api`

Other extensions can depend only on `@theia/terminal-api`. `@theia/terminal` should be added to concrete product to get terminal actually to work if needed.  Some APIs

[2019-11-27 12:47] thegecko commented on #6645
We discussed that approach in the meeting (similar to a header file and concrete implementation split), but @svenefftinge wasn't keen.

[2019-11-27 13:01] vince-fugnitto commented on #6637
I think it might simply be inspired by, and that the suggestion was to have it as an example, but I'm not sure the effort in maintaining it is worthwhile. At the moment since it is not even used, we don't know if it is actually working correctly or not.

Perhaps if we just want it as an example of file based logging we can simply create a repo and name it as an `{name}-example`? There might not be

[2019-11-27 13:43] tsmaeder commented on #6534
The todo's here are:

1. The debugger should not wait for tasks that are marked "background"
2. Problem matchers should fire events when matching certain start/end patterns. The debugger (task watcher) needs to listen to those issues and act accordingly.

[2019-11-27 13:47] tsmaeder commented on #6534
The issue is that the debugger does not start the debug session, but first waits for the background task to finish. The debugger should listen for the "task finished" event (exact name will be different, see VS Code doc), and then start the debug session.

[2019-11-27 14:05] vince-fugnitto commented on #6646
@tolusha what type of autocompletion are you looking for in markdown files?
I tried VS Code (reloaded with external extensions disabled), and don't see any completion either.

[2019-11-27 14:32] westbury commented on #6637
Yes, I meant 'Inspired by'.  Sorry to be confusing.

[2019-11-27 14:32] marechal-p commented on #4217
Would the debug configuration edition assistance work with the vscode json extension? IIUC we explicitly register schemas against our `SchemaRegistry` component, would this be picked up by the vscode ext?

[2019-11-27 14:53] marechal-p commented on #6645
I am not so sure about no-ops, thinking about why debug depends on the terminals. In a perfect world it would be nice to be able to not include the terminals, at all, and have the debug adapter client in Theia report that `runInTerminal` reverse requests are not supported.

If we want to keep the package count minimal, maybe we can make each Theia package contribute multiple Inversify modules? (th

[2019-11-27 14:54] jankeromnes opened #6649 "Support reStructuredText (.rst)"
### Description

It would be nice to support syntax-coloring and previews for reStructuredText files like this:

<details>
<summary><code>README.rst</code></summary>

[code]

</details>

([Source](https://github.com/openai/gym/blob/52e66f38081548e38711f51d4439d8bcc136d19e/README.rst))

[2019-11-27 15:01] vince-fugnitto commented on #6649
I guess it is as simple as supporting and using the following?
https://marketplace.visualstudio.com/items?itemName=lextudio.restructuredtext

[2019-11-27 15:04] vince-fugnitto commented on #6649
I don't believe that it should be supported out-of-the-box for Theia, but rather contributed through a plugin like in VS Code.

[2019-11-27 16:00] marcdumais-work commented on #6637
I vote to remove it unless someone will put some effort to maintain it as a working example. We probably do not even know if it still works. If it's needed later, it will still exist in the project's git history.

[2019-11-27 16:02] vince-fugnitto commented on #6637
+1 I'll create a PR which removes it

[2019-11-27 16:57] vince-fugnitto opened #6652 "[scm] support 'undo last commit'"
**Description**

As a user, I'd like to be able to `undo last commit` similarly to VS Code.
At the moment, the option is not available from the context menu:

<img width="260" alt="Screen Shot 2019-11-27 at 11 56 19 AM" src="https://user-images.githubusercontent.com/40359487/69743742-f53e4500-110c-11ea-841d-ea73fc344bf1.png">

I noticed the PR https://github.com/eclipse-theia/theia/pull/1779 but I

[2019-11-27 17:20] theBuzzyCoder opened #6653 "'TextDocumentSaveReason' namespace is moved to vscode-languageserver-protocol"
### Description

Module '"../../../../vscode-languageserver-types/lib/umd/main"' has no exported member 'TextDocumentSaveReason'

Error in `node_modules/@theia/monaco/src/browser/monaco-editor-model.ts`

### Reproduction Steps

[code]

- Load http://localhost:3000
- In Menu > File > New File > Enter filename dialog > Give test.py as filename > Create
- Edit the file / add some content to the file

[2019-11-27 17:23] theBuzzyCoder commented on #6653
Found the missing namespace here:

File: `vscode-languageserver-protocol/lib/protocol.d.ts`
Line: 975

[code]

[2019-11-27 17:59] theBuzzyCoder commented on #6653
This project: https://github.com/eclipse-theia/theia/ is using `"version": "3.15.0-next.4"` of vscode-languageserver-types and extension is using "version": "3.15.0-next.9"

[2019-11-27 18:22] vince-fugnitto commented on #6653
@theBuzzyCoder thank you for looking into it!
It will likely be fixed after the release tomorrow. I verified using `next` packages of Theia and it worked as intended (just like this repository).

[2019-11-27 23:34] westbury commented on #6652
If I run with the native git package (@theia/git) then I see the same menu as you show above and I see the HEAD COMMIT section at the bottom with the 'Amend' button.

If I run with vscode built-in git extension ( https://registry.npmjs.org/@theia/vscode-builtin-git/-/vscode-builtin-git-0.2.1.tgz) then I see additional items in the menu such as Pull (Rebase), Sync, Checkout to..., Publish Branch, a

[2019-11-28 00:00] westbury commented on #6617
It really depends on the details.  If you can get the file contents at the frontend then you simply need to follow instructions in https://github.com/eclipse-theia/theia/issues/6617#issuecomment-558009490 .  For example, if the script in initiated by the frontend code and it knows when the script has completed then you could, for example, inject the filesystem
`
    @inject(FileSystem)
    protect

[2019-11-28 05:15] akosyakov commented on #6645
I don't think we want to go into picking modules. I would prefer to keep package.json as definition of what extension package is exposing and what application packages are consuming.

The point is not in stabbing, but separating definition from the implementation. Also It is not what I'm inventing. We have bundle, feature (bundle composition) and product (bundle+feature composition) definitions in

[2019-11-28 05:30] akosyakov commented on #6645
While reviewing PRs, I'm generally frustrated with how hard it to add new functionality and how  cross package functionality actually couple everything together.  😢

For example, let's say we notice that `@theia/terminal` pulls `@theia/editor` as a dependency and requested changes. What contributor can do?
-  Add another package `@theia/terminal-editor`? it does not scale because we then need all

[2019-11-28 05:49] akosyakov commented on #4217
We need to test and if not, we should make sure that it does.

[2019-11-28 05:54] akosyakov commented on #6518
My worry that it will be fragile. We need to decide what it stable and when create documentation around it. In this ways docs won't get outdated soon.

[2019-11-28 05:56] akosyakov commented on #6641
@vince-fugnitto Could you check what do you see in VS Code? They also have limits, would be interesting to know what they show.

[2019-11-28 07:13] tolusha commented on #6646
@vince-fugnitto
![image](https://user-images.githubusercontent.com/1640675/69784811-5888af80-11bf-11ea-9bb4-1587bdffba6d.png)

[2019-11-28 08:08] akosyakov commented on #6646
@tolusha Do you have both `@theia/vscode-builtin-markdown-language-features` and `@theia/vscode-builtin-markdown` without `@theia/textmate-grammars`? It could be that it is snippet which is not contributed by `markdown-language-features`.

[2019-11-28 08:54] kittaakos commented on #6652
No, it was removed on purpose.

[2019-11-28 10:27] kittaakos opened #6654 "[process] ERROR TypeError [ERR_INVALID_ARG_TYPE]: The "err" argument must be of type number. Received type undefined"
### Description

I have the changes from https://github.com/eclipse-theia/theia/pull/6595, I have a LS running in the electron-based application. The error happens when I close the app. See here: https://github.com/eclipse-theia/theia/pull/6595#discussion_r351699362

[code]

Can you please look into this @marechal-p?

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-11-28 11:11] akosyakov commented on #6654
@marechal-p Could you have a look please?

[2019-11-28 12:17] vince-fugnitto commented on #6518
I understand your concern regarding having the docs being fragile. I think we should at least attempt at a high level to better describe an extension's functionality more so than what we have today. I think it'll also help adopters and users better understand the features of an extension.

I understood that the API would be a separate step but I agree on the per package basis. I think determining

[2019-11-28 12:21] #6639 closed

[2019-11-28 13:23] marechal-p commented on #6654
The following 3 stack items make me think that this is not related to my change, since it comes from `ipc-connection-provider`, that uses bare child processes:

[code]

https://github.com/eclipse-theia/theia/blob/87df21b291883ad46dc00d53131fab109a6fbda5/packages/core/src/node/messaging/ipc-connection-provider.ts#L55

But I am looking into it.

[2019-11-28 13:50] marechal-p commented on #6654
Opened https://github.com/nodejs/node/issues/30702, might have to move it to Electron depending on the reason of the error.

[2019-11-28 14:33] marcdumais-work commented on #6654
@marechal-p were you able to determine if this issue is related to your recent PR (#6595)?

[2019-11-28 14:57] marechal-p commented on #6645
To keep with the `@theia/preferences` issue, filesystem is only used for widgets and views, but what I mean is that since preferences are a core concept (since we need to mention it in some way in `@theia/core`), it must mean that we should have a basic, maybe programmatic-only, preference infrastructure in core. Simply a registry. Then the `@theia/preferences` would contribute all the workspace/f

[2019-11-28 14:59] marechal-p commented on #6654
It seems to come from a place that uses bare child processes (the ones from Node directly), so think it is not related indeed. But maybe some side effect is at play? No clue.

[2019-11-28 15:19] vince-fugnitto commented on #6641
I honestly do not know their sorting algorithm, but they at least do display results from each root:

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/69817384-7d355500-11c8-11ea-9891-f8d72942e11f.png)

</div>

[2019-11-28 15:31] tolusha commented on #6646
@akosyakov
You are right! Thank you!

[2019-11-28 15:31] #6646 closed

[2019-11-28 16:02] ShimonBenYair commented on #6534
Hi @tsmaeder

I am working on it as part of the #5517
I will send a pull request on few days ...

[2019-11-28 16:45] akosyakov commented on #6645
Looking at how `@theia/terminal` is using `@theia/editor`: it would be enough to move `@theia/editor` to dev dependencies to import `Position` type, and rename `EDITOR_FONT_DEFAULTS` to  `FONT_DEFAULTS` and move to `@theia/core`. We already have notion of font css class names in core.

I think it would be more constructive if we look at real usages of `@theia/terminal` and see how we can handle th

[2019-11-28 16:49] akosyakov commented on #6518
High level description of responsibilities without mentioning particular APIs would be fine first step for me. But it is not really helpful when someone look for services and contribution points.

[2019-11-28 17:02] marechal-p commented on #6645
I was only taking the `@theia/terminal` extension as an example, but something more concrete and on topic: `@theia/debug` pulling the terminals.

In this case, it would map to what you said, if I make an application as

[code]

Then we may assume that someone doesn't want the terminals in his application. In this case, the generators shouldn't try to mount the `@theia/terminal` container modules i

[2019-11-28 17:11] akosyakov commented on #6645
Why would i want to download `@theia/terminal` at all if I want to exclude it?

[2019-11-28 17:18] akosyakov commented on #6645
For `@theia/debug`:
- move `@theia/terminal` to dev dependency
- use `@optional`:
[code]
- based on it tell the debug adapter whether terminal is supported:
[code]

No need for any drastic changes in how extensions are installed. `@theia/terminal` is not installed at all. Statically typed support whether terminal can be used or not. Proper configuration of the debug adapter.

[2019-11-28 17:59] akosyakov commented on #6645
I don't think we can remove `@theia/terminal` from `@theia/plugin-ext`. It is required to implement mandatory functionality in vscode.d.ts and theia.d.ts. The same for `@theia/task`. VS Code extensions won't work anymore. What is the reason to do it?

[2019-11-28 18:10] marechal-p commented on #6645
If having something as dev-dependency makes it so generators won't mount containers, then it is exactly what I was trying to get to, thanks for the trick.

For `@theia/plugin-ext`, the rationale is that @thegecko wants to contribute its own plugin extension namespace, not reusing the `theia` nor `vscode` one, but that logic is not standalone at the moment. Correct me if I am wrong.

[2019-11-28 18:55] thegecko commented on #6645
Correct, we have custom extension points and don't want to expose the terminal in our browser version

[2019-11-28 19:21] vince-fugnitto commented on #3857
cc @marcdumais-work

[2019-11-28 19:37] akosyakov commented on #6645
Generators is designed to follow how npm/yarn works. It collects modules transitively from production dependencies. Dev dependencies are not production. We want to stick with this: if someone knows how yarn install dependencies, he should be sure that transitive are installed and loaded. Plus it removes maintenance work to keep package.json up to date whenever some extensions adds another extensio

[2019-11-28 21:37] artalar commented on #4902
any updates? 👀

[2019-11-29 04:34] akosyakov commented on #4902
@artalar please give a try, support of many commands, APIs and even webviews was implemented

[2019-11-29 04:36] akosyakov commented on #3857
It should be feasible to implement by adding a counter in editor widget options. URI should not be changed.

[2019-11-29 07:28] kittaakos commented on #6654
Yeah, perhaps the issue was always there, and your changes have revealed it.

[2019-11-29 10:06] danidoedel opened #6659 "Error: Possible Emitter memory leak detected"
### Description
Not sure if that is the right place or too plugin specific, but I'll drop it here anyway.
Let me know if you need more information and I'll try to provide them.

**OS and Theia version:**
Chrome OS 79.0.3945.42
Che-Theia https://github.com/eclipse/che-theia/commit/4769b1a using Theia 84d8678

**Diagnostics:**

[code]

[2019-11-29 12:38] meysholdt opened #6660 "Indicate Symlinks in File Explorer"
The File Explorer currently displays symlinks that point to files or folders just like regular files. This can be confusing, because as a user it becomes easy to overlook that two files or folders are physically the same and thus changes to one change both.

It would be nice if the File Explorer would indicate that a file or folder is a symlink, for example by giving it a special icon.

[2019-11-29 13:09] #6592 closed

[2019-11-29 13:40] #6640 closed

[2019-11-29 13:43] akosyakov opened #6661 "[vscode] icons for editor decorators cannot be fetched"
The issue is that icons are provided as absolute fs paths: https://github.com/gitpod-io/gitpod/issues/958 It does not work in the browser context. We have to translate such paths to http URLs to make it work.

@DanTup Could you share how it can be tested?

[2019-11-29 14:13] akosyakov commented on #6660
We actually have issues with symlinks: https://github.com/eclipse-theia/theia/issues/5968

@eclipse-theia/ecd-theia-committers What do you think about disallowing traversing symlinks, since experience is bad, show them differently, and provide a command to reveal in the real path? For directories, for files they still can be opened.

[2019-11-29 14:57] akosyakov commented on #6659
@danidoedel Can you reproduce it with the vanilla Theia?

[2019-11-29 15:09] vince-fugnitto opened #6662 "[vscode] builtin git extensions fail to contribute toolbar items"
**Description**

When testing the builtin git extensions, I noticed that the toolbar items (when viewing a `diff editor` were not contributed correctly).

<div align='center'>

<img width="61" alt="Screen Shot 2019-11-29 at 10 03 24 AM" src="https://user-images.githubusercontent.com/40359487/69877372-05caf880-1290-11ea-96b9-53947edfcfbd.png">

</div>

The `ellipsis` do not contain a context menu,

[2019-11-29 15:11] akosyakov commented on #6661
@DanTup how do you create an icon path btw? Do you call any VS Code APIs for it?

[2019-11-29 15:18] DanTup commented on #6661
It's just a normal file URI:

[code]

`filePath` here is just an arbitrary file path. In Dart-Code's case it lives inside the extension globalStorage folder, though in VS Code it could literally be anywhere on disk.

There's a VS code sample for using decorations at https://github.com/Microsoft/vscode-extension-samples/tree/master/decorator-sample that you could use (and just add a `gutterIconPath

[2019-11-29 16:01] vince-fugnitto opened #6665 "[editor] support splitting context menu items for editors in the main area"
**Description**

I propose we add the following context-menu items to **editors** present in the **main area**, to allow users to quickly split editors:

- `split up`
- `split down`
- `split left`
- `split right`

In the future we can also assign keybindings to these actions.
For reference, they are supported in VS Code:

<img width="327" alt="Screen Shot 2019-11-29 at 10 59 48 AM" src="https://us

[2019-11-29 16:06] akosyakov commented on #6665
It is fine, but what you will show? Does it depend on https://github.com/eclipse-theia/theia/issues/3857?

[2019-11-29 16:08] vince-fugnitto commented on #6665
Yes I do think it depends on #3857, and I imagined it only for `editors` like in VS Code.

[2019-11-29 16:13] vince-fugnitto commented on #6665
@akosyakov I also had in mind to support moving editors through a context-menu and keybinding. Instead of having to drag & drop, it'd split and move the editor. Do you think it's a worthwhile feature to support? I believe versions of Jetbrains IDE have the same functionality.

[2019-11-29 18:50] akosyakov commented on #4168
Theia provides many ways to access the backend filesystem and other system resources, except the plugin system. Securing access to them should be done as part of bigger system, e.g. with system roles, isolated docker containers and so on.

[2019-11-29 18:50] #4168 closed

[2019-11-29 18:52] akosyakov commented on #6665
It would be fine with me, but you are better ask others. Generally being able to do everything with the keyboard is good. Maybe open another issue and ping other committers?

[2019-11-29 19:03] vince-fugnitto opened #6666 "[editor] add support to move editors in the main area through commands"
**Description**

Propose to introduce commands (context menu items & keybindings) in order to move **editors** present in the **main area**. This would help users to quickly split and move editors in the main area instead of having to drag and drop the editors to their locations.

The same feature is present in commercial versions of JetBrains products, and would be a nice to have for developers.

[2019-11-29 19:14] vince-fugnitto commented on #3956
I assume the following can be potentially removed in the future?:
- `@theia/java`
- `@theia/java-debug`
- `@theia/debug-nodejs`
- `@theia/typescript`?
- `@theia/tslint`
- `@theia/python`

[2019-11-30 10:24] soerendip opened #6667 "Missing installation instructions"
I am missing installation instructions here on GitHub or at least a link to it if it is available somewhere. And how to start the program.

[2019-11-30 14:58] vince-fugnitto commented on #6667
@soerendip if you are looking to build from sources with the necessary prerequisites the link is referenced in the `readme`: https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#quick-start.

If you are looking to build your own IDE you can reference the actual website and docs: https://theia-ide.org/

[2019-12-01 03:37] #6661 closed

[2019-12-01 10:52] I051950 opened #6669 "Debug configuration throws error when trying run configuration contains 'preLaunchTask' attribute"
### Description
Starting debugging - vscode.debug.startDebugging() – in 'Theia13' candidate doesn't support for 'preLaunchTask' configuration property (and throws warning), but it does support this configuration when it starting via the native debug view .
It is a regression from the previous version when that functionality didn't work in both cases but an exception is not thrown.

### Reproductio

[2019-12-01 14:43] elaihau commented on #5332
This requires the task code having access to the XTerm.

Given that Xterm is accessible from the `TerminalWidgetImpl`

https://github.com/eclipse-theia/theia/blob/c4b4d3995ba81a80e36cd62d290dce2b23c8fd82/packages/terminal/src/browser/terminal-widget-impl.ts#L236-L238

but not exposed by the interface

https://github.com/eclipse-theia/theia/blob/c4b4d3995ba81a80e36cd62d290dce2b23c8fd82/packages/ter

[2019-12-01 14:51] akosyakov opened #6670 "improve terminal links matching"
Currently links like `http://0.0.0.0:3000.` and `http://0.0.0.0:3000:` don't match. Basically even link for Theia cannot be opened.

[2019-12-01 18:05] vince-fugnitto commented on #5332
@elaihau I was able to do a POC by simply sending text to the terminal, I think it's enough? Did you mean it's difficult right now to do it for an existing terminal? (before it's created)

[2019-12-01 19:07] theBuzzyCoder commented on #6653
This is working as expected after `0.13.0` version. Hence closing this bug.

[2019-12-01 19:08] #6653 closed

[2019-12-02 02:25] elaihau commented on #5332
@vince-fugnitto I managed sending texts to the terminal. atm I am trying to figure out how to send text the terminal at the right timing.

I tried to use https://github.com/eclipse-theia/theia/blob/c4b4d3995ba81a80e36cd62d290dce2b23c8fd82/packages/task/src/common/task-watcher.ts#L37 and it didn't work at all. This must be a bug .

[2019-12-02 04:28] akosyakov commented on #6630
@tolusha You tested it with node-debug and node-debug2 VS Code extension installed, right?

[2019-12-02 04:29] akosyakov commented on #6628
It would be helpful if someone looks what is wrong.

[2019-12-02 04:42] akosyakov commented on #6491
@502647092 Any updates on what you are trying to install?

[2019-12-02 04:46] akosyakov commented on #6372
@dhananjayharel Could you try again please? support of webviews were landed, maybe the issue is resolved with it

[2019-12-02 04:46] akosyakov commented on #6367
Seems to work fine now.

[2019-12-02 04:46] #6367 closed

[2019-12-02 04:51] akosyakov commented on #6192
@502647092 @vince-fugnitto Is it still the issue?

[2019-12-02 04:54] akosyakov commented on #5354
@dinvlad Could you try again? It should have been fixed by @JPinkney PR to drop `monaco.` prefix.

[2019-12-02 04:56] akosyakov commented on #6082
Is it sill the issue?

[2019-12-02 05:02] akosyakov commented on #4446
`remoteName` and `uiKind` are missing. For the former we can stub with `undefined`, since we are not capable to run VS Code remote extensions yet. And for the latter with we could actually implement running VS Code extensions in the web worker or stub it with `UIKind.Desktop` for now.

[2019-12-02 05:03] akosyakov commented on #5470
@yeweiasia @gloomuu please check again, missing tree APIs were implemented already

[2019-12-02 05:05] akosyakov commented on #6001
@502647092 Is it still the issue?

[2019-12-02 05:06] akosyakov commented on #5967
@yeweiasia Could you check again please? The missing command was implemented already.

[2019-12-02 05:15] akosyakov commented on #5673
@tetchel Is it still the case?

[2019-12-02 05:16] akosyakov commented on #5674
@tetchel Is it still valid?

[2019-12-02 05:20] akosyakov commented on #5214
@tsmaeder wonder whether it was resolved by @JPinkney PR dropping `monaco.` prefix

[2019-12-02 05:23] akosyakov commented on #4959
For syntax highlighting we should upgrade to latest vscode-textmate package. There were some important fixes. PRs are welcomed!

[2019-12-02 05:24] akosyakov commented on #4961
@jbenguira Support for webviews landed last week. It should work now, but a command which you mentioned in the stack trace probably still missing.

[2019-12-02 05:26] akosyakov commented on #4905
@502647092 Can you still reproduce it?

[2019-12-02 05:29] akosyakov commented on #4587
@tom-shan Could you give a try again?

[2019-12-02 05:32] akosyakov commented on #4001
The command was implemented. Pleas reopen if it is still the issue.

[2019-12-02 05:32] #4001 closed

[2019-12-02 05:33] akosyakov commented on #3228
This API was implemented. Please reopen if it does not work as expected.

[2019-12-02 05:33] #3228 closed

[2019-12-02 05:35] akosyakov commented on #3344
I don't think it is related to VS Code extension support, but pure Theia plugins only.

@evidolob @azatsarynnyy Is it still relevant?

[2019-12-02 05:37] akosyakov commented on #6630
It maybe: https://github.com/eclipse-theia/theia/issues/3994 But i doubt it since we have activation events in place now and order of handling contributions is fixed. Probably https://github.com/eclipse-theia/theia/issues/3994 can be closed already.

[2019-12-02 05:38] akosyakov commented on #4247
It should be resolved by @JPinkney PR dropping `monaco.` prefix.

[2019-12-02 05:38] #4247 closed

[2019-12-02 05:39] akosyakov commented on #4213
@fiurthorn Could you give a try again? Many places have been fixed during this year.

[2019-12-02 05:41] akosyakov commented on #6662
It is a dub of https://github.com/eclipse-theia/theia/issues/5407 and https://github.com/eclipse-theia/theia/issues/4544

[2019-12-02 05:41] #6662 closed

[2019-12-02 05:43] akosyakov commented on #6565
It would be helpful if someone investigates what is missing.

[2019-12-02 05:49] akosyakov commented on #6372
It would be helpful if someone double check whether it is still the case and if yes investigate why it is happening.

[2019-12-02 05:50] akosyakov commented on #3186
@adrienrenaud @jgbradley1 We landed webviews support last week. Could you check whether you still have issues with VS Code python extension.

Generally it would be helpful if someone have a look what is going on there.

[2019-12-02 05:52] akosyakov commented on #6329
If would be helpful if someone tries to find out what is the root cause.

[2019-12-02 05:53] akosyakov commented on #6294
@jankeromnes Is it still the case? Rendering of trees were improved in October.

[2019-12-02 05:55] akosyakov commented on #6197
We should reverse sorting order? @amiramw Could you make a PR?

[2019-12-02 05:57] akosyakov commented on #5470
Or if anyone can double check and look for the root cause it would be helpful.

[2019-12-02 05:59] akosyakov commented on #5943
If someone can investigate why it is happening it would be helpful.

[2019-12-02 06:01] akosyakov commented on #4781
@toonvd Does it work nicely now?

[2019-12-02 06:02] akosyakov commented on #4261
If someone investigates what is the root cause it would be helpful.

[2019-12-02 06:02] akosyakov commented on #4905
Could someone help to double check it?

[2019-12-02 06:03] akosyakov commented on #4587
Could someone help to double check it?

[2019-12-02 06:05] akosyakov commented on #3994
The order of registering contributions was fixed and command execution awaits now activation of VS Code extensions. I don't think this issue is relevant anymore. Please reopen if it is not the case.

[2019-12-02 06:05] #3994 closed

[2019-12-02 07:20] fiurthorn commented on #4213
Great to hear that, but i do not have installed THEIA these days during many problems from update to update.
I thinks it's a nice project and I come when it is more stable.

[2019-12-02 07:20] #4213 closed

[2019-12-02 07:23] 502647092 commented on #4905
@akosyakov
![image](https://user-images.githubusercontent.com/10203793/69938185-98c99400-1517-11ea-9d93-391397774ff9.png)
but not have error on console

[2019-12-02 07:24] 502647092 commented on #5943
@akosyakov
![image](https://user-images.githubusercontent.com/10203793/69938287-d75f4e80-1517-11ea-841e-c11d0ab44b61.png)

[2019-12-02 07:27] 502647092 commented on #6001
@akosyakov It looks like it works fine after refresh

[2019-12-02 07:27] #6001 closed

[2019-12-02 07:28] 502647092 commented on #6192
@akosyakov not have

[2019-12-02 07:28] #6192 closed

[2019-12-02 07:30] 502647092 commented on #6491
@akosyakov
![image](https://user-images.githubusercontent.com/10203793/69938569-a3d0f400-1518-11ea-81c8-0310ea6af566.png)

[2019-12-02 07:31] fgreinacher commented on #6390
@akosyakov Can we somehow support in getting this resolved? Or alternatively is there any workaround (patch, extra config) that we can apply to our Theia bundle?

[2019-12-02 07:38] amiramw commented on #6565
@TomHermanSAP and me are investigating.

[2019-12-02 08:03] tolusha commented on #6669
@I051950
It will be very helpfull if we have some test extension to reproduce the issue.

[2019-12-02 08:16] tolusha commented on #3956
@vince-fugnitto
correct

[2019-12-02 08:16] akosyakov commented on #5943
Yes, it would be interesting what is the reason behind it

[2019-12-02 08:17] akosyakov commented on #6491
Where can one download such extension? VS online is not open sourced

[2019-12-02 08:18] akosyakov commented on #6390
Yes, someone should do what’s mentioned in my previous comment.

[2019-12-02 08:34] tolusha commented on #6630
@akosyakov
It works fine when node-debug & node-debug2 extensions are installed.

[2019-12-02 08:34] #6630 closed

[2019-12-02 08:54] tolusha commented on #6628
with node-debug and node-debug2 extensions installed I got a such error
[code]

[2019-12-02 08:59] toonvd commented on #4781
Hi @akosyakov

Apologies for the late reply, I can confirm that everything is working.

[2019-12-02 08:59] #4781 closed

[2019-12-02 09:06] tolusha opened #6672 "Error registering grammar configuration for @theia/vscode-builtin-php@0.2.1"
### Description
https://www.npmjs.com/package/@theia/vscode-builtin-php

Configuration:
[code]

Error:
[code]

[2019-12-02 12:49] kittaakos opened #6675 "[electron]: Generated code has errors"
### Description

Was introduce with this: https://github.com/eclipse-theia/theia/commit/35e5e782aca29aa715c93eba80af072a26f6bc05#diff-e6697ec7c0f7ddbbfd9e8365baacf132

https://github.com/eclipse-theia/theia/blob/c4b4d3995ba81a80e36cd62d290dce2b23c8fd82/dev-packages/application-manager/src/generator/frontend-generator.ts#L136

[code]

### Reproduction Steps

**OS and Theia version:**

**Diagnostics

[2019-12-02 12:58] #6637 closed

[2019-12-02 13:05] DanTup commented on #5673
This is certainly still the case in my testing today, there are no tickboxes when I run **Dart: Capture Logs**.

[2019-12-02 16:08] kittaakos opened #6676 "[electron] Cannot build `native-keymap` with electron 5.x"
### Description

I tried to use and build with electron 5.x. It failed. None of the `native-keymap` versions work:

[code]

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-12-02 16:21] vince-fugnitto opened #6677 "[vscode] hosted-plugin error thrown when closing frontend instance"
**Description**

An uncaught error is thrown when a Theia instance is closed with a plugin present (due to the output channel):

[code]

[code]

**How to test:**
1. start the application using a plugin (ex: `@theia/vscode-builtin-git`)
2. close the browser instance
3. notice the logs on the backend

[2019-12-02 18:01] kittaakos opened #6678 "[ci] Deploy step fails due to false negative check-publish script checks"
### Description

I saw broken CIs due to a failed publishing phase several times in the last couple of days. Here is a new one:
 - Travis: https://travis-ci.com/eclipse-theia/theia/jobs/262188686
 - From the [Travis console](https://travis-ci.com/eclipse-theia/theia/jobs/262188686#L2038):
[code]
 - npmjs.com: https://www.npmjs.com/package/@theia/core/v/0.14.0-next.b76f08e4

### Reproduction Steps

[2019-12-02 18:05] kittaakos commented on #6676
Same with 6.x.

[2019-12-02 19:51] vince-fugnitto commented on #6652
@westbury @kittaakos thanks for the clarification, I noticed the `undo last commit` button previously in the application and was wondering if it was removed on purpose (I have seen the command in the `builtin`).

[2019-12-02 19:51] #6652 closed

[2019-12-03 01:29] 502647092 commented on #6491
[ms_vsonline_vsonline.zip](https://github.com/eclipse-theia/theia/files/3914056/ms_vsonline_vsonline.zip)

[2019-12-03 04:52] akosyakov commented on #6677
A dup of https://github.com/eclipse-theia/theia/issues/5839?

[2019-12-03 07:54] I051950 commented on #6669
Actually an any extension can fit for that purpose - just try to run the following code :
const configuration = {
      "name": "Run node",
      "type": "node",
      "request": "launch",
      "projectName": "bookshop-srv",
      "preLaunchTask": "my task"
	};
**vscode.debug.startDebugging(undefined, configuration);**

Even it does not matter whether the task "my task" is defined properly or not

[2019-12-03 07:55] RomanNikitenko commented on #6677
Something similar to https://github.com/eclipse-theia/theia/issues/5019

[2019-12-03 12:31] vince-fugnitto commented on #6611
Ideally we'd likely need to support the entire `manifest`: https://code.visualstudio.com/api/references/extension-manifest

[2019-12-03 13:06] DanTup commented on #5857
I wish I'd found this earlier - I've been debugging this most of the morning 🙈 The issue is when we hit a breakpoint in the web app, it causes GitPod to lock up and everything hangs.

I tested adding `'noopener'` as the third argument to `window.open` here and it solved my issue:

https://github.com/eclipse-theia/theia/blob/aff11bec2a0424a63e506613d9e23f2e6bdd1d42/packages/core/src/browser/window/

[2019-12-03 13:13] akosyakov commented on #5857
@DanTup Could you send a PR please? Changing a return type is fine. I could not find any clients using the returned window object.

[2019-12-03 13:25] akosyakov commented on #6611
@vince-fugnitto for dependencies, not. Most of other attributes are handled already: https://github.com/akosyakov/theia/blob/dafd7ca0e988fcec958d3435f1b94df7bfeadf71/packages/plugin-ext/src/common/plugin-protocol.ts#L38-L57 Or will be used by the vsx registry extension, e.g. markdown. What is missing?

[2019-12-03 13:38] DanTup commented on #5857
@akosyakov I made a start, but I'm not getting very good errors in my IDE so I'm not sure if this is everything. I'm also not sure whether changing the `undefined`s to `void` throughout like this is desired?

https://github.com/DanTup/theia/commit/ce9c034393ead9f9c4369c5fd7a427e3a881b475

Does this seem reasonable?

[2019-12-03 14:12] vince-fugnitto commented on #6611
I just wanted to reference the docs in the issue :)
I tried my hand at adding the functionality to support extension packs.

[2019-12-03 14:41] akosyakov commented on #5857
`OpenerService` api should be changed, it is used to open anything, not only a window, e.g. editors, preview widgets and so on. In such cases a widget will be returned. But other places look fine to me.

[2019-12-03 14:46] DanTup commented on #5857
I presume there's a missing "not" there? I'll revert that then and use `undefined` instead of `void`.

Does it seem ok removing the error-throwing code in default-window-service since it'll always get an undefined return value now?

btw, I don't know if I can reliably test all of this locally.. I tested the `noopener` change on GitPod by just using the dev console to replace `window.open` with a w

[2019-12-03 16:48] marechal-p opened #6684 "debug: runInTerminal sends unescaped arguments to shell"
### Description

See https://github.com/eclipse-theia/theia/pull/6508#discussion_r353293561

The Theia code handling `runInTerminal` requests will try to send arguments to an interactive shell. This breaks down when escaping is needed. The issue seems to come from reusing actual shell processes instead of reusing terminal widgets.

[2019-12-03 17:01] vince-fugnitto commented on #2708
Is this closeable by https://github.com/eclipse-theia/theia/pull/6465?

[2019-12-03 17:08] jankeromnes opened #6685 "Theia leaves zombie processes behind"
### Description
When you run Theia, and then stop it, you'll notice that it leaves behind a bunch of "defunct" (or "zombie") processes:

[code]

### Reproduction Steps

1. Run `yarn start --hostname=0.0.0.0` inside `examples/browser/`, e.g. [in Gitpod](https://gitpod.io/#https://github.com/eclipse-theia/theia)
2. Stop Theia by hitting ^C
3. Notice a bunch of leftover "defunct" (or "zombie") proces

[2019-12-03 17:10] vince-fugnitto commented on #5470
The tree view is successfully added:

![image](https://user-images.githubusercontent.com/40359487/70072767-a2113a00-15c5-11ea-9150-8792da8c939d.png)

[2019-12-03 17:17] jankeromnes commented on #6685
I believe this may cause some left-over processes after Arduino Pro IDE is shutdown (at least in Ubuntu): https://github.com/arduino/arduino-pro-ide/issues/121

So I'll look into fixing this soon.

[2019-12-03 17:53] #5857 closed

[2019-12-03 19:59] vince-fugnitto commented on #5764
@hacke2 do you mind providing an extension to verify and test the bug?

[2019-12-04 04:25] #2708 closed

[2019-12-04 04:26] akosyakov commented on #5470
@vince-fugnitto thx

please reopen if there are still some issues related to this VS Code extension

[2019-12-04 04:26] #5470 closed

[2019-12-04 04:30] akosyakov commented on #6685
Strange that you have this error on Linux, it should stop child processes if the parent is gone. Windows though won't care. Usually, each child process should be informed with a parent PID, should monitor it and stop if the parent is gone.

[2019-12-04 04:31] akosyakov commented on #6685
@jankeromnes if processes are started by Arduino Pro IDE, not by the vanilla Theia, then this issue cannot be resolved in this repo.

[2019-12-04 04:31] akosyakov commented on #6684
@marechal-p please explain how to reproduce, i.e. share a concrete command or a setup

[2019-12-04 07:41] jankeromnes commented on #6685
@akosyakov in my understanding, child processes on Linux will stay around as zombies (i.e. they're stopped, but still listed in `ps` as "defunct") when the parent stops, but it didn't listen to its children's exit codes.

I think that to prevent zombies on Linux, you need to either listen to every child's exit code, or signal that you're not interested in child process exit codes (something with t

[2019-12-04 07:51] #6499 closed

[2019-12-04 09:37] kittaakos opened #6686 "Cannot build Theia due to a @theia/node-pty error"
### Description

In one of the downstream Theia projects, I wanted to bump up the Theia versions by deleting the `yarn.lock` file and running `yarn`. It failed. My `node`, `yarn`,  and `python` versions look good.
[code]

**Workaround**: copy the `yarn.lock` from the Theia repo and paste it into the downstream project. Run `yarn`.

Error from the console:
[code]

### Reproduction Steps

**OS and T

[2019-12-04 09:44] kittaakos commented on #6685
I could not reproduce it. I used my 16.04.2 Ubuntu. This is what I see _before starting_ the Arduino Pro IDE when _running_ and _after termination_.
[code]

I started the app with
[code]

And terminated with the `X` from the electron-based app.

[2019-12-04 09:48] jankeromnes commented on #6685
Thanks for trying to reproduce it. I haven't tried using the `X` button yet.

Also, note, you won't find zombie process entries like:

[code]

by using `ps aux | grep arduino`. Maybe try without the grep?

[2019-12-04 09:54] akosyakov commented on #6686
Is it the same as https://github.com/eclipse-theia/theia/issues/5168?

[2019-12-04 10:00] kittaakos commented on #6686
No idea, just looking the stack trace; no.

[2019-12-04 10:08] vinokurig commented on #4050
- [ ] editor.action.reindentselectedlines

Needed for the [VsCode Vim extension](https://marketplace.visualstudio.com/items?itemName=vscodevim.vim) see: https://github.com/eclipse-theia/theia/pull/6687

[2019-12-04 10:34] kittaakos opened #6688 "[tree] Child node 'path/to/my/file.ext' does not belong to this 'WorkspaceNodeId' tree"
### Description

I can see multiple `Child node 'path/to/my/file.ext' does not belong to this 'WorkspaceNodeId' tree` errors in the console after updating to `next@0.14.0-next.d5c81105` (d5c81105).

This seems to be a regression after https://github.com/eclipse-theia/theia/pull/6679. (CC: @akosyakov)

Related change:
https://github.com/eclipse-theia/theia/commit/5b45e1240590c1582c8bf6cfb3ee0fa5994

[2019-12-04 10:51] kittaakos commented on #6688
`this.nodes[root.id] !== root` is always `false`:
![Screen Shot 2019-12-04 at 11 47 31](https://user-images.githubusercontent.com/1405703/70136346-1ca48d00-168c-11ea-9f60-b02d1dbc77ef.jpg)

[2019-12-04 11:00] tom-shan commented on #4587
@akosyakov sorry for my late reply. I tested the vscode cpp plugin in latest theia and it can work now. so I think this issue can be closed.

[2019-12-04 11:10] akosyakov commented on #6688
@kittaakos Do you know how to reproduce it from sources? the issue is that we used to reset the tree with some old state, now we don't reset it, but report as an error that it has to be fixed by the developer.

I don't think we want to go back with resetting some old root.

[2019-12-04 11:10] akosyakov commented on #4587
@tom-shan thank you for following up!

[2019-12-04 11:10] #4587 closed

[2019-12-04 11:13] kittaakos commented on #6688
Not yet. If I put a breakpoint and stop for a second or two here:
https://github.com/eclipse-theia/theia/blob/d5c81105393a811de3097ff06bdf64ab98ef3d80/packages/navigator/src/browser/navigator-tree.ts#L75-L82

I do not see the error. Otherwise, it pops up twice per each app start.

[2019-12-04 11:20] akosyakov commented on #6688
Do you start the browser example from theia repo and a workspace is using this repo? I'm looking for a way to reproduce it. You can debug how many times `NavigatorMode.updateRoot` is called and from there.

Popping up twice also does not sound bad, before it could go in the infinite loop. Maybe we should just remove `console.error` and wait till someone reports the real functional issue. cc @svene

[2019-12-04 11:23] kittaakos commented on #6688
Correct, I don't.

I will take care of the investigation as it does not happen from the Theia source but from a downstream project. 😕

[2019-12-04 13:19] akosyakov commented on #6688
Ok, please check why it happens that the navigator replace twice for you on startup. It should not happen without explicit workspace changes from the user. Also check that your code does not keep references to navigator nodes and pass them to the navigator model after the navigator root is changed.

[2019-12-04 14:24] vince-fugnitto commented on #3982
Unfortunately, there are no plans in supporting and maintaining a language extension for the team (due to bandwith a priority). The long term goal is to replace existing language extensions with their VS Code counterparts (since they provide additional language features and will not need to be maintained directly by us). Therefore, the goal is to re-use the [`julia extension`](https://marketplace.

[2019-12-04 14:24] #3982 closed

[2019-12-04 14:29] vince-fugnitto commented on #4825
@mikestaub please re-open the issue if you still experience issues with the gltf extension.
Based on my previous investigation, the extension was successfully contributing commands and it's preferences.

[2019-12-04 14:29] #4825 closed

[2019-12-04 14:32] jbicker opened #6689 "Debug view has memory leaks"
### Description
When toggling the debug view the widgets created for the view itself and the inner view containers get created every time. However, the old stay in memory.

### Reproduction Steps
Toggle the debug view x times. Take a Heap Snapshot in Memory section in Developer Tools and filter for 'debug'. There will be x times the debug view corresponding widgets.

**OS and Theia version:**

**D

[2019-12-04 14:47] vince-fugnitto commented on #6575
@akosyakov I've rechecked and the bug only exists in Gitpod (when using Safari).
I've tried with vanilla Theia and the icon is always displayed properly.

[2019-12-04 14:57] kittaakos commented on #6688
Once the model initialization, the second time is the layout restorer.

I am not aware of any tree/tree-model customizations. It rather seems like a timing issue that I cannot reproduce in Theia. See the GIF, the roots are out of sync. I am still on this issue, as from time to time, the navigator is empty 😕
![screencast 2019-12-04 15-52-13](https://user-images.githubusercontent.com/1405703/7015302

[2019-12-04 15:14] vince-fugnitto commented on #6575
Opened the issue in Gitpod: https://github.com/gitpod-io/gitpod/issues/969

[2019-12-04 15:14] #6575 closed

[2019-12-04 15:22] tolusha commented on #6580
I can't reproduce. Is it os or browser specific issue?
![screencast-localhost_3000-2019 12 04-17_20_38](https://user-images.githubusercontent.com/1640675/70155269-9d7a7d80-16ba-11ea-840a-39007c04a965.gif)

[2019-12-04 15:29] marechal-p commented on #6684
Example: If I want to execute something like `["node", "-e", "console.log(1 + 2)"]` then the current code will just write `node -e console.log(1 + 2)`. If you try to run that in a unix shell it will fail.

[2019-12-04 15:30] kittaakos commented on #6688
This is not a Theia bug but was in my code. The missing return messed up the app state, and `'initialized_layout'` was resolved before the layout was restored.

Bad code:
[code]

Good code:
[code]

Sorry for the noise, with the fix, it works as expected.

[2019-12-04 15:30] #6688 closed

[2019-12-04 15:41] vince-fugnitto commented on #6667
@soerendip were you able to resolve your issue regarding the documentation?

[2019-12-04 19:47] marechal-p commented on #6684
After looking into how we can get processes to spawn, not going through a shell means that aliases or programs in the `PATH` variable won't work. So we are ought to escape commands indeed.

[2019-12-04 19:49] vince-fugnitto opened #6691 "[documentation] update code of conduct"
**Description**

Update the code of conduct to the new version adopted by the Eclipse Foundation:
https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php

**Additional Information**

Original https://github.com/eclipse-theia/theia/pull/6473#issuecomment-548736802

[2019-12-05 07:20] akosyakov commented on #6688
So then we keep this error message. It seems to be helpful :)

[2019-12-05 07:26] tolusha commented on #6580
@ParOvBroadcom Is it still actual?

[2019-12-05 07:28] kittaakos commented on #6688
It is 👍

[2019-12-05 08:11] amiramw commented on #6565
I think we found the gap.

This is a minimal code that reproduce it:

[code]

We tried it with hosted theia. The editor doesn't open and we get this error on theia:
[code]

On VS Code this code opens a new tab with unsaved document newnew.txt.

[2019-12-05 08:35] akosyakov opened #6693 "source map in production mode are broken"
To reproduce:
- switch to production mode in the browser example
- do clean build there, i.e. `yarn run clean && yarn run build`
- start the app
- try to debug

While stepping in the dev tool some lines are skipped or never hit, stack traces contain unrelated files and so on

[2019-12-05 08:42] akosyakov commented on #6580
It could be timing issue, we debounce with 400ms: https://github.com/eclipse-theia/theia/blob/dbe5b5aab829a0ac1ca81193089cf0e0ca1aa384/packages/debug/src/browser/view/debug-variables-source.ts#L41

@ParOvBroadcom Could you provide more concrete steps?

[2019-12-05 09:14] #6633 closed

[2019-12-05 09:38] akosyakov commented on #4835
It would be nice if the same is done to the git diff view, i.e. one should be able to switch between tree and flat modes and search files.

[2019-12-05 10:54] svenefftinge opened #6694 "[vscode][webview] allow-forms in webviews"
Some extensions use forms to capture user input, so we need to add `allow-forms` to the webview iframe.

[2019-12-05 12:31] #6694 closed

[2019-12-05 15:44] ParOvBroadcom commented on #6580
It doesn't work properly in either way (resume or step over)
First having a running session
![1](https://user-images.githubusercontent.com/54706061/70250059-9a949100-177d-11ea-8f05-e64fa877e13e.png)
Then expanding the local variables
![2](https://user-images.githubusercontent.com/54706061/70250067-9bc5be00-177d-11ea-9b52-54d9d442f3c6.png)
Clicking on Resume
![3](https://user-images.githubuserconte

[2019-12-05 15:48] lmcbout opened #6697 "[Enhancement] initial JAVA compilation being displayed in a terminal"
### Description
Testing Java and compiling with maven, I noticed in VSCode, they report the result of the JAVA compilation when opening the window. This is missing in Theia and I think it looks nice. The end-user knows the computer is compiling the JAVA project.
See the terminal view in the attached picture.

### Reproduction Steps
Install the VSCode JAVA extension pack
Open a maven java project w

[2019-12-05 17:42] vince-fugnitto commented on #6697
It'd be better to reference the bug when attempting to click the 'thumbsup' statusbar item (displays result of the build in the terminal):

[code]

[2019-12-05 19:02] #6611 closed

[2019-12-05 20:43] vince-fugnitto opened #6699 "[documentation] typo in 'diff-computer' from 'scm' extension"
**Description**

There is a minor typo in the following file:
https://github.com/eclipse-theia/theia/blob/b6daa53a74bdb261a6c17f49500e8437f0306bf5/packages/scm/src/browser/dirty-diff/diff-computer.ts#L113-L115

The word `comparision` should be `comparison`.

[2019-12-05 20:48] vince-fugnitto opened #6700 "[documentation] typos found in 'navigator' extension"
**Description**

There are typos in the `@theia/navigator` extension:

1. `Existant` should be `Existent`

https://github.com/eclipse-theia/theia/blob/b6daa53a74bdb261a6c17f49500e8437f0306bf5/packages/navigator/src/browser/navigator-diff.spec.ts#L71

2. `indiccating` should be `indicating`

https://github.com/eclipse-theia/theia/blob/b6daa53a74bdb261a6c17f49500e8437f0306bf5/packages/navigator/src/

[2019-12-05 20:58] vince-fugnitto opened #6701 "[documentation] typo found in 'filesystem' extension"
**Description**

There is a typo in the `@theia/filesystem` extension:

1. `besed` should be `based`:

https://github.com/eclipse-theia/theia/blob/b6daa53a74bdb261a6c17f49500e8437f0306bf5/packages/filesystem/src/common/filesystem.ts#L117-L120

[2019-12-06 05:53] monaka commented on #6603
Note: [your comment](https://github.com/eclipse-theia/theia/pull/6673#issuecomment-560985252) in #6673 by @502647092, the environment is:

* Windows10
* Chrome
* Chinese IME

[2019-12-06 05:56] monaka commented on #6603
@502647092 Could you open the developer tool in your browser running Theia.
I guess you'll find errors in the `console` tab.

[2019-12-06 06:18] mouse484 opened #6702 "Cannot input with Chrome Extension Google Input Tool"
### Description
Cannot input with [Chrome Extension Google Input Tool](https://chrome.google.com/webstore/detail/google-input-tools/mclkkofklkfljcocdinagocijmpgbhab).
Alphabet can be entered.
Japanese and Chinese etc are impossible

Found by discussion #6673

### Reproduction Steps

Install extension and enter in Japanese or Chinese

**OS and Theia version:**

**Diagnostics:**

[2019-12-06 06:45] monaka commented on #6702
I started to check this issue. Even though I have no source code for this extension, it looks the extension handle composition related events correctly. So the issue will be in inserting texts.

![Screenshot 2019-12-06 at 14 23 09](https://user-images.githubusercontent.com/101795/70301980-3afeba00-183f-11ea-82aa-867af2e51861.png)

[2019-12-06 06:53] monaka commented on #6702
And I found exceptions in the console of developer tools when I typed in the editor.
I suspect the root cause is there.
@mouse484 Are these exceptions reproduced on your environment?

<details>
<summary>logs</summary>
keys.ts:369 Uncaught Error: Cannot get key code from the keyboard event: [object Event].
    at Function.toKey (keys.ts:369)
    at Function.../../packages/core/lib/browser/keyboard/

[2019-12-06 07:00] mouse484 commented on #6702
Yes, I have the same error
<details>
[code]
</details>

[2019-12-06 07:04] mouse484 commented on #6702
It may be a bad way. Chrome extension source code can be easily browsed.

Just look for the extension folder in the directory where you installed Chrome

[2019-12-06 07:32] akosyakov commented on #6702
@mouse484 @monaka and it works fine with with the monaco playground?

[2019-12-06 07:34] #6459 closed

[2019-12-06 07:44] akosyakov commented on #6580
@ParOvBroadcom Is there a way to run your debug adapter or reproduce without it? It does not seem to happen with other.

[2019-12-06 07:51] mouse484 commented on #6702
don't work even on monaco play ground.

It's a monaco issue unlike other Theia IME issues

![image](https://user-images.githubusercontent.com/38714187/70305779-941f1b80-1848-11ea-8171-e78f91892808.png)

[2019-12-06 08:05] akosyakov commented on #1867
Hit it twice this week, very annoying to lose content :(

[2019-12-06 08:06] akosyakov commented on #6702
@mouse484 Please take it to the VS Code repo with a reproducible steps in the monaco playground.

[2019-12-06 09:11] kittaakos commented on #6686
Updating to `next` (b6daa53a) Theia worked without an issue today. I am closing it, please reopen if required.

[2019-12-06 09:11] #6686 closed

[2019-12-06 09:12] ParOvBroadcom commented on #6580
@akosyakov What do you mean without "it"? This happens in Theia, but not in VScode.

[2019-12-06 09:29] tolusha commented on #6580
We need a debugger to reproduce the issue,
It can't be reproduced neither with node nor java debug.

[2019-12-06 09:34] kittaakos opened #6704 "[question]: `onCloseRequest` will fire an `update-request` message before closing the view"
### Description

`onCloseRequest` will fire an `update-request` message (`onUpdateRequest`) before closing  the view. This will trigger a re-render.

Steps to reproduce:
 - Open the `Problems` view, for example, but you can select any other views,
 - Set breakpoint to `onColseRequest`,
 - Close the `Problems` view; you will hit the `onCloseRequest` breakpoint,
 - Now set another breakpoint to `onU

[2019-12-06 10:12] kittaakos opened #6705 "[git] `Error occurred while synchronizing the status of the repository` after deleting the repository from the workspace"
### Description

Error when manually wiping  the `.git` folder from my workspace.
[code]

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-12-06 10:33] kittaakos commented on #6704
A naive workaround:
[code]

[2019-12-06 10:46] ishche commented on #6580
I increase debounce and it makes things better.
@akosyakov seems you right about it. We have pretty big delays in communication to target.

@tolusha, unfortunately, we can't provide our debugger.

[2019-12-06 10:55] kittaakos opened #6706 "[releng][quality][macOS] Check hosting script must ignore `.DS_Store`"
### Description

Currently, it logs if you have opened `./node_modules/@theia` with Finder:
[code]

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-12-06 11:30] kittaakos opened #6707 "[notification] Warnings do not timeout"
### Description

Warnings do not timeout although I set it to `{ timeout: 3000 }`. Probably, same for `error`.

Steps to reproduce:
 - Open in Gitpod: http://gitpod.io/#https://github.com/eclipse-theia/theia/tree/GH-6707
 - Run the `Fires three warnings, each with 3000 ms timeout` command.
 - Notifications do not timeout.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-12-06 12:05] kittaakos commented on #6707
It seems to be an issue if there are no `actions`.

https://github.com/eclipse-theia/theia/blob/27745bf2483e10600978d9e7e4821a1a0ab3ac83/packages/messages/src/browser/notifications-manager.ts#L205-L207

![Screen Shot 2019-12-06 at 13 01 57](https://user-images.githubusercontent.com/1405703/70321928-fd8f3200-1828-11ea-9091-f6abb354c8a8.jpg)

[2019-12-06 12:08] AlexTugarev commented on #6707
@kittaakos, you are right!

`if (plainMessage.actions && !!plainMessage.actions.length) { return 0; }` was meant check for non-empty actions. it's a stupid mistake 😞

[2019-12-06 13:19] kittaakos commented on #6704
The workaround is not sufficient, as we run another update on the closing view; when altering the `active` view in the shell:
https://github.com/eclipse-theia/theia/blob/d9800b4feb6f716f96a93db3e7553c8249e09ad6/packages/core/src/browser/shell/application-shell.ts#L858

[2019-12-06 13:38] kittaakos commented on #6704
The real problem is that we re-create the view. If we close an opened view with `toggle` (`AbstractViewContribution#openView({ toggle: true })`), then the widget will be closed:
https://github.com/eclipse-theia/theia/blob/d9800b4feb6f716f96a93db3e7553c8249e09ad6/packages/core/src/browser/shell/view-contribution.ts#L100

and then recreated again by the time the promise resolves:
https://github.com/

[2019-12-06 13:39] vince-fugnitto opened #6709 "[preferences] PreferenceChanged event emitted multiple times for languages"
**Description**

When a preference is updated (ex: `editor.acceptSuggestionOnCommitCharacter`) through the [`set`](https://github.com/eclipse-theia/theia/blob/d9800b4feb6f716f96a93db3e7553c8249e09ad6/packages/core/src/browser/preferences/preference-service.ts#L75) method, multiple change events are emitted for every language. Is this the intended behavior? (it seems excessive)

This seems to only

[2019-12-06 13:41] kittaakos commented on #6704
I guess the problem is we try to solve too many things with a single `openView`  API method; such as closing the widget.

We need a close method, or break the `openView` API and allow resolving to `undefined`.

[2019-12-06 13:58] akosyakov commented on #6704
https://github.com/eclipse-theia/theia/issues/6704#issuecomment-562574713 is a bug for sure. It would nice to find a way to fix it without breaking all view contributions. We can try to move `this.widget` just after we create a parent widget.

[2019-12-06 14:27] lmcbout opened #6710 "[enhancement] display the number of 'enabled' plugins"
### Description
When you deal with list of plugins, It would be nice to know how many plugins are active or eventually recommended. Something similar to what is available in VSCode.

### Reproduction Steps
Open Theia plugins view with many plugins in it

**OS and Theia version:**
Ubuntu 16.04
Theia: latest

**Diagnostics:**
VSCode examle:

![VscodePluginNumber](https://user-images.githubuserconten

[2019-12-06 15:05] vince-fugnitto commented on #6710
@lmcbout just as an FYI, the widget's content will be replaced by the following: https://github.com/eclipse-theia/theia/pull/6655.

[2019-12-06 16:14] vince-fugnitto opened #6711 "[tree] display ellipsis when content cannot be displayed fully"
**Description**

I'm wondering if we should display `ellipsis` for when content in **trees** cannot be displayed fully.
This is currently not the case for the `explorer` but is true for other tree-based widgets.

| Currently | After |
|:---:|:---:|
| ![image](https://user-images.githubusercontent.com/40359487/70337633-7d150500-1819-11ea-9888-63e0ef0809a1.png)  | ![image](https://user-images.github

[2019-12-06 16:46] akosyakov commented on #6711
Could you check theming PR please? it could be fixed there already

[2019-12-06 16:49] akosyakov commented on #6709
Yes it is expected, otherwise language specific preferences won’t be applied to monaco. Preference configuration can define which preference is overridable. Do you experience any perf issues?

[2019-12-06 16:57] vince-fugnitto commented on #6709
It was initially brought up by internal customers, I believe they had a noticeable performance decrease (~2 seconds) each time it was updated through the user interface.

[2019-12-06 16:58] vince-fugnitto commented on #6711
I'll try after lunch :)

[2019-12-06 17:29] kittaakos commented on #4874
Depends on: https://github.com/eclipse-theia/theia/pull/6712

[2019-12-06 17:49] vince-fugnitto commented on #6711
I verified and it's still the case in https://github.com/eclipse-theia/theia/pull/6475

[2019-12-06 19:50] marechal-p commented on #4874
Is it not more because `electron-builder` didn't know what to bundle, since the dependencies for the Electron application were hoisted to the mono-repo root with all other dependencies?

So even if we tried to bundle the example app by pointing to the root `node_modules`, it would bundle dev and unrelated dependencies?

If so, is it better to have an `@theia/example-bundled` electron app which wou

[2019-12-06 20:27] elaihau opened #6713 "support "presentation" in task config"
### Description

The way Theia organizes the output of tasks could be controlled by adding the support of "presentation":

https://code.visualstudio.com/docs/editor/tasks#_output-behavior

### Reproduction Steps

- Open the `tasks.json` of the workspace, and add a task config.

Expected: Users can add the "presentation" object to the config to control the way that the output is presented.
Reality:

[2019-12-06 20:28] elaihau commented on #6713
This one covers the feature described in https://github.com/eclipse-theia/theia/issues/5332

[2019-12-07 08:37] kittaakos commented on #4874
I got tired of hacking and guessing and opened an upstream ticket: https://github.com/electron-userland/electron-builder/issues/4516

[2019-12-07 09:27] jankeromnes commented on #6685
New test:

1. Start Theia in Gitpod, in `example/browser/`, with `yarn start --hostname=0.0.0.0`
2. Use the started Theia (open workspace and a file)
3. Snapshot running processes e.g. with `ps aux -ejH > ps1`
4. Kill Theia with `^C`
5. Snapshot processes again e.g. with `ps aux -ejH > ps2`
6. Look at the differences between `ps1` and `ps2`

Here is what I get (I added a `*` in front of all the pr

[2019-12-07 15:33] jankeromnes commented on #6685
Even starting Electron Theia and closing it by pressing the `x` icon leaves a few zombies (marked with a `*`):

[code]

[2019-12-08 02:31] elaihau opened #6715 "Theia could possibly start wrong detected task in a multi root workspace"
### Description

This bug was found by @RomanNikitenko https://github.com/eclipse-theia/theia/pull/6668#issuecomment-562768249

Theia could possibly start the wrong task under the conditions described below:
- multi-root workspace
- detected tasks having the same name are contributed by different root folders

### Reproduction Steps

1) Prepare a multi root workspace. Make sure two or more root fo

[2019-12-08 02:32] #5269 closed

[2019-12-08 09:51] 502647092 commented on #6603
@monaka not have error in console

[2019-12-08 09:55] 502647092 commented on #6603
@monaka I test at monaco had this error too

[2019-12-08 10:02] 502647092 commented on #6603
I create issue at https://github.com/microsoft/monaco-editor/issues/1699

[2019-12-08 10:23] dannaf opened #6719 "--hostname fails, and provides no information"
### Description
Starting theia with some custom `--hostname` values fails, and provides no information about why.

### Reproduction Steps
`sudo docker run -it -p 3000:3000 -v "$(pwd)":/home/project:cached --entrypoint node theiaide/theia src-gen/backend/main.js /home/project --hostname=172.17.0.1`

Nothing prints, no message like the expected usual `root INFO Theia app listening on http://172.13.0

[2019-12-08 10:24] dannaf commented on #822
All points that I strongly agree with.

\____

**I don't think that it is fine to default to 0.0.0.0 in the Dockerfiles**.  It is just as dangerous.  (And, as noted, that is quite dangerous: a user accidentally exposing himself to nearly arbitrary code execution on his machine...)

Particularly, note that explicit configuration through the Dockerfile is not actually needed, as users can (and are e

[2019-12-08 10:25] dannaf commented on #6719
Also related: https://github.com/eclipse-theia/theia/issues/822

[2019-12-08 10:27] dannaf commented on #6719
Also related, errors should be informative: https://github.com/eclipse-theia/theia/issues/1992

[2019-12-08 10:28] dannaf commented on #826
I agree.

\________

Also ideally it could support specified IP ranges in CIDR notation.  For instance, `172.17.0.1/16` is the subnet for the default docker bridge network (eg for accessing the host from a container)

[2019-12-08 10:29] dannaf commented on #826
Related bug: not able to restrict hostname to even a single address from the docker bridge subnet.. https://github.com/eclipse-theia/theia/issues/6719

[2019-12-08 12:37] TomHermanSAP commented on #6565
Seems like "untitled" scheme does not have a resource resolver "ResourceResolver" (for example as File Resource has:
https://github.com/eclipse-theia/theia/blob/master/packages/filesystem/src/browser/file-resource.ts#L143

[2019-12-08 17:06] yyoncho opened #6720 "Javascript completion for react components does not display certain completion proposals"
### Description

The completion does not work for React component.

### Reproduction Steps
Setup:
[code]

Then the completion under React does not work unless you comment the import statement: here it is a gif demonstrating the behaviour.

![theia](https://user-images.githubusercontent.com/13259670/70392934-8d7dd900-19ed-11ea-83dc-118e467f9eb9.gif)

**OS and Theia version:**
`0.14.0-next` (or at l

[2019-12-08 20:30] svenefftinge opened #6721 "[debug] Cannot set/edit Breakpoint condition"
### Description
When I try to edit the condition of a breakpoint, nothing happens and the console prints:

[code]

[2019-12-09 05:53] akosyakov commented on #6709
Could it be reproduced openly? then we can take measurement and see what can be done about it.

[2019-12-09 06:17] akosyakov commented on #6720
Have you tried with VS Code built-in typescript extensions?

[2019-12-09 06:19] akosyakov commented on #6580
@ishche How much do you need to increase?

[2019-12-09 06:31] akosyakov commented on #6721
I see an error in the log as well, but breakpoint condition still gets updated for me.

[2019-12-09 06:36] yyoncho commented on #6720
It works in vscode. We found the issue in the typescript language server and @danielmatin will provide a PR.

[2019-12-09 10:16] azatsarynnyy commented on #3344
I guess it should be already fixed by https://github.com/eclipse-theia/theia/issues/3994

[2019-12-09 11:11] akosyakov commented on #6720
@yyoncho You can use VS Code extension for TypeScript with Theia. It gives you a better to support. It's a bit cumbersome to get for now. @marcdumais-work Do you think it is already possible to get proper vsix file from your PR: https://github.com/theia-ide/vscode-builtin-extensions/pull/15

We are going to drop support of Theia TypeScript extension soon.

[2019-12-09 11:43] vince-fugnitto commented on #6709
Is my small test enough? It creates a command which updates one such preference (`editor.acceptSuggestionOnCommitCharacter`). Should we try and find a more regular example?

[2019-12-09 11:59] akosyakov commented on #6711
it sounds fine, but please do after theming is landed. We had to change a lot of css styles and recheck the whole UI.

[2019-12-09 12:02] akosyakov commented on #6709
@vince-fugnitto U meant the test which will cause performance issues. If something is executed multiple times but fast then it is not the issue. React recreates VDOM multiple times sometimes on each mouse move (think about the navigator selection) but we are not going to rewrite it just because it seems to be excessive thing to do.

[2019-12-09 12:05] soerendip commented on #6493
I managed to start Theia with the docker container. But I would rather install it and run it without docker. There is no way to install and run Theia via `pip install` or `conda install`? I installed the theia package that is available on pip, but I am not sure whether this is the correct one. Apparently, there is no executable installed. The link that you provided only contains info about docker.

[2019-12-09 12:07] vince-fugnitto commented on #6493
@soerendip  I believe you've mistaken projects and are looking at https://github.com/theia-log/theia.
Are you trying to build and run your own IDE or are you trying to use https://github.com/theia-log/theia?

[2019-12-09 12:16] soerendip commented on #6493
I am trying to use a web-based ide called Theia. Not sure which one is which. I can run it with docker

    docker run -it --init -p 3000:3000 -v "$(pwd):/home/project:cached" theiaide/theia:next

[2019-12-09 12:18] vince-fugnitto commented on #6493
Yes that's correct, the Python tool is not this project.

You can find additional documentation on how to make your own IDE, or build this repository from sources:
- https://theia-ide.org/docs/composing_applications/
- https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#quick-start

[2019-12-09 13:10] vince-fugnitto commented on #915
I think we should properly handle the `eaccess` errors but also inform users that for whatever given reason, the application will not work as intended:
- cannot open files/folders
- cannot save contents

[2019-12-09 13:32] akosyakov commented on #6040
See VS Code docs for it: https://code.visualstudio.com/docs/getstarted/themes#_customizing-a-color-theme

User customized theme colors won't be a part of https://github.com/eclipse-theia/theia/pull/6475. We will tackle it separately to reduce complexity for now.

[2019-12-09 15:04] akosyakov opened #6723 "align preferences UI with VS Code"
As part of this task, setting editor colors should be aligned as well, see https://code.visualstudio.com/api/references/theme-color#settings-editor-colors

[2019-12-09 15:28] marcdumais-work commented on #6720
I just tried the React scenario above using the built-ins and it's not working well yet. I'll use this as a base to troubleshoot and report-back when I have made progress.

[2019-12-09 15:46] akosyakov commented on #1564
@vince-fugnitto Try built-in extension but with https://github.com/eclipse-theia/theia/pull/6475

[2019-12-09 15:57] vince-fugnitto commented on #1564
I tried #6475 along with `@theia/vscode-builtin-git` and unfortunately it was still not decorated :(

[2019-12-09 16:23] vince-fugnitto opened #6724 "[markdown] display message when a link cannot be accessed"
**Description**

Currently, if a user attempt to follow a link to an invalid resource (ex: doesn't exist), there is no feedback. The proposal is to handle the case more gracefully (not silently fail) and inform users that the resource does not exist or cannot be accessed.

I'm not sure if this issue will be resolved through the use of `builtins` in the near future.

[2019-12-09 17:59] slipdip123 opened #6725 "Theia stuck at loai"
### Description
When loading theia from the web inteface, it is stuck loading at the blue loading circle, but worked yesterday.
### Reproduction Steps
I am running theia as root (I know, I know, but it needs to access files at /nextcloudShare) and I am running from yarn at port 8080. Here is the script I use to start theia:

[code]

I am using pm2 to start it as startup, but even without theia is

[2019-12-09 18:01] vince-fugnitto commented on #6725
@slipdip123 can you share the frontend logs? (through the devtools console)

[2019-12-09 18:04] slipdip123 commented on #6725
Okay you are a genius im pretty sure my proxy is getting in the way, I am so sorry for wasting your time!
![image](https://user-images.githubusercontent.com/38812289/70460473-4f94b980-1aae-11ea-88e4-43c53cbe2c6f.png)
Im going to turn of my proxy, then edit it to allow port 8080 okay I am really sorry!

[2019-12-09 18:06] slipdip123 commented on #6725
Right okay I am so sorry! It is working without my proxy. Thank you so much!

[2019-12-09 18:06] vince-fugnitto commented on #6725
No, that's fine no worries :) I'm happy to see you're using the platform.

[2019-12-09 18:06] slipdip123 commented on #6725
Right I am so sorry! Thank you so much for the help, it was my proxy.

[2019-12-09 18:06] #6725 closed

[2019-12-09 19:36] vince-fugnitto opened #6727 "[markdown] relative links matching is unsupported"
**Description**

Relative link matching is not supported in `markdown` files.

For example, the following is not clickable (but is is from the `preview`):

[code]

**How to Test:**
1. open the `readme` from the main repository as an editor (not preview)
2. attempt to click `license` (it is unclickable):

![image](https://user-images.githubusercontent.com/40359487/70466492-421d0680-1a91-11ea-9b48-a

[2019-12-09 23:31] danielmartin commented on #6720
That'd be bad, because I think this is the best LSP extension for TypeScript right now. It uses `tsserver` directly (in contrast to https://github.com/sourcegraph/javascript-typescript-langserver), so it's behavior is pretty similar to what VSCode offers.

I've debugged this problem already. What I saw is that the language server is missing a call to `compilerOptionsForInferredProjects`. This is n

[2019-12-10 05:00] wupicheng opened #6728 "permission"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-12-10 08:40] akosyakov commented on #6720
It is still out there. We can make you a maintainer for this project or someone can fork it.

It is fixable, but someone has to test/review/land it and then upgrade Theia with the same process. You will need to find someone. cc @eclipse-theia/ecd-theia-committers

[2019-12-10 08:40] akosyakov commented on #6728
closing as the description is not informative

[2019-12-10 08:40] #6728 closed

[2019-12-10 09:54] datou0412 opened #6729 "Is there a list of supported vscode plugins?"
### Description

Since not all vscode plugins are supported, is there a list of the supported ones?

[2019-12-10 12:12] marcdumais-work commented on #6720
@akosyakov

I can now get Typescript to work nicely from the built-ins, but some manual intervention is required. Please see: https://github.com/theia-ide/vscode-builtin-extensions/pull/15#issuecomment-564004792

[2019-12-10 13:56] vince-fugnitto commented on #6729
@datou0412 I don't believe there is curated list of supported plugins at the moment, since it will take significant effort to test and track all available VS Code extensions. Instead, testing is performed on plugins which are marked to replace internal extensions, and also popular extensions. The idea is to test these extensions and ensure that APIs are successfully implemented, and when a plugin

[2019-12-10 14:37] vince-fugnitto opened #6730 "[markdown] builtin command not working correctly"
**Description**

Attempting to follow a link in a markdown file (<kbd>cmd</kbd>+click) does not work correctly.
The following error is displayed in the console:
[code]

The error was reproduced when using:
- `@theia/vscode-builtin-markdown`
- `@theia/vscode-buitlin-markdown-language-features`

---

**Update**

The following occurred when attempting to click relative links (not external).
Example:

[2019-12-10 15:40] nickboldt commented on #5945
@bmewburn @vrubezhny Just found this issue as we're in the process of making sure that all 3rdparty-built vsix files can be built by RH productization so we can include our own bits in product (because product security, woo).

Has anyone tried using the latest intelliphense 1.3.3 with Che 7.5 or newer? Figure if we can skip over 1.0.x, 1.1.x, and 1.2x and go directly to 1.3, that would make it eas

[2019-12-10 16:20] kittaakos opened #6731 "[notification] I want the notification promise to resolve when it timeouts"
### Description

The notification closes,
 - when a `timeout` was specified and not actions were provided and the notification closes without user interaction, or
 - when actions were provided, and the user dismisses it or performs one of the actions.

The notification promise resolves only in the latter case, I want the promise to resolve when it timeouts without interactions.

So I can write som

[2019-12-10 16:37] AlexTugarev commented on #6731
`timeout` in message options was used to hide the message from the beginning. that could  break clients.

in general, cancellable messages (like progress messages) would be a really nice idea, which was asked for already. cancellation after some timeout would do the trick. the only reason I didn't include that into the revision of the notification center was to not break API, because it required t

[2019-12-10 17:32] #6715 closed

[2019-12-10 17:38] tomenden opened #6732 "Is it possible to use theia without a backend? (Web-worker based language server)"
We're looking into building a cloud ide and considering theia, it looks amazing!
We currently use `monaco-editor` directly without a backend, with intellisense provided from a webWorker, and I was wondering whether it was possible to do this with theia (and perhaps introduce a backend at a later stage)
Monaco-typescript runs a typescript language server implementation in a webWorker. Is it possibl

[2019-12-10 17:43] vince-fugnitto commented on #6732
I believe the same type of question was previously asked and answered: https://github.com/eclipse-theia/theia/issues/6560#issuecomment-554605358

[2019-12-10 17:50] kittaakos commented on #6731
Nice! Thank you!

I agree.

Assuming it someone has already requested it in another issue, and you gave me a working solution, there's not much to do here. I am closing it.

[2019-12-10 17:50] #6731 closed

[2019-12-10 17:52] tomenden commented on #6732
You are right, thank you very much for the prompt reply! I really appreciate it :)

[2019-12-10 17:52] #6732 closed

[2019-12-10 18:36] kittaakos commented on #1768
Still happens with d5f0fcf9e:

I used the following changeset to log the FS events:
[code]

Output:
[code]

[2019-12-10 22:43] danidoedel commented on #5945
Sadly still the same errors in Che 7.5.0 for me.

[2019-12-10 22:57] bmewburn commented on #5945
In 1.3 I refactored some of that middleware code which doesn't seem to have done anything. I'll take another look.

[2019-12-10 23:16] vince-fugnitto commented on #1148
I've tested the following use case (using an example of my own since the original is unavailable), and found that the application now correctly handles normalization of paths.

Despite the different paths, only a single editor is opened 👍

[2019-12-10 23:16] #1148 closed

[2019-12-11 03:05] datou0412 commented on #6729
Since you have already worked on it, cloud you from now on mark the extension which can pass your tests?

Just something like a todo list

- [x] vue
- [x] Python
- [ ] Material Theme

[2019-12-11 06:53] akosyakov commented on #6729
Using One Drak Pro to test https://github.com/eclipse-theia/theia/pull/6722 😉Hopefully we land it this week to include in next release.

[2019-12-11 07:08] datou0412 commented on #6729
Excellent job

[2019-12-11 08:56] kittaakos opened #6733 "[windows] TypeError: uri.withoutFragment is not a function when starting Theia in debug mode"
### Description

This is what I get when I start Theia in debug mode on Windows:
[code]

I have added this to my launch config:
[code]
to my launch config to workaround eclipse-theia/theia#3590. And probably, the `uri.withoutFragment` error is related to the incorrect version of `vsodee-uri` at runtime: #6712.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-12-11 09:58] tolusha commented on #6580
@akosyakov
@ishche
I've submitted a draft PR to check if proposed solution make sense.
https://github.com/eclipse-theia/theia/pull/6734

[2019-12-11 11:28] akosyakov commented on #6733
I've tried to debug it once, it somehow related to restoring the outline view. It fails to restore URIs properly on the page reload.

[2019-12-11 11:50] akosyakov commented on #3956
We can also replace `@theia/merge-conflicts` with a VS Code counterpart after theming PR is in.

[2019-12-11 11:52] vince-fugnitto commented on #3956
I assume we can also replace our custom implementation of `@theia/editorconfig` with that of VS Code? https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

[2019-12-11 12:05] vince-fugnitto commented on #4335
@marechal-p closing since the issue has been previously registered and it is a duplicate:
https://github.com/eclipse-theia/theia/issues/3562 https://github.com/eclipse-theia/theia/issues/3587

[2019-12-11 12:05] #4335 closed

[2019-12-11 12:06] vince-fugnitto commented on #3562
Thank you for the contribution, closing in favor of tracking the issue from #3587.

[2019-12-11 12:06] #3562 closed

[2019-12-11 13:00] vince-fugnitto commented on #5804
Sorry for the late reply, I must have missed the notification.
I have retried recently and still cannot reproduce the issue. If you still experience the issue can you please provide the list of steps to reproduce and list of extensions included?

[2019-12-11 13:11] kittaakos commented on #6685
I tried the same on my Ubuntu 16.04.2 image.

Process tree before starting Theia:
<details><summary>ps1</summary>
<p>
[code]
</p>
</details>

Process tree after starting Theia:
<details><summary>ps2</summary>
<p>
[code]
</p>
</details>

Process tree after stoping Theia:
<details><summary>ps3</summary>
<p>
[code]
</p>
</details>

Diff before Theia starting and Theia running state:
[code]

Diff betw

[2019-12-11 13:35] jankeromnes commented on #6685
Thanks a lot for going through this effort @kittaakos!

In general, listing the processes before starting Theia is not useful (i.e. your `ps1`), and doing a full diff is also not helpful, because the lines probably all change anyway -- it's better to manually find the Theia processes in `ps2`, and check for their PIDs in `ps3` (or do the reverse, search for `defunct` processes in `ps3`, and see if

[2019-12-11 13:37] kittaakos commented on #6685
Why would be all change? Check the diff 👆

OK then.

[2019-12-11 14:59] nickboldt commented on #5945
Thanks @bmewburn !

BTW I hope no one you knew was on the cruise ship that was affected by the White Island eruption earlier this week in NZ. (I visited that volcano last month. Crazy seeing the videos of the destruction.)

[2019-12-12 02:28] pangedeshijie opened #6737 "When I open the linking,how to run a python script? I can not find run key"
### Description
  I am a newcomer for this progect，I want to know that if this is only a editor？if
 I want to run a Python script or java script，what shoud I do？

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-12-12 06:16] akosyakov commented on #6737
There is the debug view in which you can specify a launch configuration and run or debug a program. For example see here: https://medium.com/gitpod/debugging-node-js-applications-in-theia-76c94c76f0a1

[2019-12-12 06:38] pangedeshijie commented on #6737
thanks for your help！

[2019-12-12 06:43] datou0412 commented on #6729
So, can anybody answer my question, can you make a list of currently supported vscode extensions?

[2019-12-12 09:11] akosyakov commented on #6729
@datou0412 we are targeting to support all of them. If some does not work file an issue and we will have a look. There could be intermediate issues if an extension is using some proposed experimental API, but they will be resolved over time.

[2019-12-12 09:32] fGencturk commented on #3186
I have installed `vscode-python` extension to `theia`. When I first created a `.ipynb` file everything works perfectly. Then, even if I exit without saving the file, I cannot open it again. If I delete it and re-create a file with the same name, same error occurs. With a different name, I do not get any errors.

![theia](https://user-images.githubusercontent.com/34229194/70699986-0b3a3100-1cdb-11e

[2019-12-12 09:48] pangedeshijie commented on #6737
Hi,thanks a lot for your help,but I have not figured out how to do that. I find that there is a run key in gitpod when I set a python script,but if I run a docker order on my computer ,I can not find the run key.so as a newcomer ,I want to ask some questions:1.If The open-source Theia IDE Framework&nbsp; supports the python or java run?
2.If supported , if I need python extension like vscode?
3.In

[2019-12-12 09:48] fGencturk commented on #4956
@jgbradley1
I have installed vscode-python extension to theia. When I first created a .ipynb file everything works perfectly. Then, even if I exit without saving the file, I cannot open it again. If I delete it and re-create a file with the same name, same error occurs. With a different name, I do not get any errors.

I know `jupyter notebook support` is written as those that does NOT work in `the

[2019-12-12 10:02] fGencturk commented on #3186
vscode-python extension issue in `theia` https://github.com/eclipse-theia/theia/issues/4956#issuecomment-564931434

[2019-12-12 12:04] thegecko commented on #6645
So what's the consensus around moving this forward?

@svenefftinge do you have anything to add?

[2019-12-12 12:12] kittaakos opened #6739 "[LS] LanguageClientOptions.errorHandler#close is not called when the LS process terminates"
### Description

The [`errorHandler`](https://github.com/eclipse-theia/theia/blob/e3abddeb647980a4f1eb59c41abd15009a245ef0/packages/languages/src/browser/language-client-factory.ts#L60-L64) is not invoked when the LS process terminates on the backend. It can be a problem with my LS for sure, I am still investigating it. One note, when I refresh the browser windows, then I hit a breakpoint in the `

[2019-12-12 12:14] kittaakos commented on #6739
When I refresh the browser, `close` is called from the WebSocket channel's `onClosel`.

[2019-12-12 12:16] datou0412 opened #6740 "How to rebind FileSystemNode"
### Description
I want to customize `resolveContent` method, i tried this way but failed

#### `node-filesystem.ts`
[code]

#### `security-backend-module.ts`

[code]

![image](https://user-images.githubusercontent.com/5847142/70711251-0649a180-1d1c-11ea-8786-6ef34c5db63d.png)

[2019-12-12 12:27] kittaakos opened #6741 "[process][quality] Inappropriate IProcessExitEvent API"
### Description

The current API looks like this:
https://github.com/eclipse-theia/theia/blob/e3abddeb647980a4f1eb59c41abd15009a245ef0/packages/process/src/node/process.ts#L26-L30

The [documentation](https://nodejs.org/docs/latest-v11.x/api/child_process.html#child_process_event_exit) from Node.js clearly states:

This is mentioned as a line of comment in Theia: https://github.com/eclipse-theia/t

[2019-12-12 12:29] kittaakos commented on #6741
[code]

(we could replace `undefined` with `null`, if we want to expose `null` to our API, but [probably we don't](https://github.com/eclipse-theia/theia/wiki/Coding-Guidelines#null-and-undefined).)

[2019-12-12 12:38] kittaakos commented on #6739
So something like this is missing from the backend's language contribution after spawning the process here:
https://github.com/eclipse-theia/theia/blob/e3abddeb647980a4f1eb59c41abd15009a245ef0/packages/languages/src/node/language-server-contribution.ts#L109-L110

[code]

It seems to be a missing feature. Does this make any sense, @akosyakov? If so, I can take care of it.

[2019-12-12 12:45] kittaakos commented on #6740
You are on the right path, just use the following as your backend binding in the module:
[code]

I have just tried it and it works. If you still have issues, let us know. Otherwise, please close the issue. Thank you!

[2019-12-12 13:16] kittaakos commented on #6739
Same as https://github.com/eclipse-theia/theia/issues/6308?

[2019-12-12 13:23] vince-fugnitto commented on #6741
cc @marechal-p

[2019-12-12 13:35] datou0412 commented on #6740
Wont work for me!
Can you open any file after this rebinding?

I come to this error when open any file
![image](https://user-images.githubusercontent.com/5847142/70716354-321e5480-1d27-11ea-9f5c-09d9e6595903.png)

![image](https://user-images.githubusercontent.com/5847142/70716410-4cf0c900-1d27-11ea-829d-b63fbb9eed0f.png)

[2019-12-12 13:41] vince-fugnitto commented on #2259
@AlexTugarev I've tested recently and could not reproduce the issue anymore. Is it still a problem?

[2019-12-12 13:55] kittaakos commented on #6740
Yes, I could. Please share your backend module with the binding customization and your custom FS class. If you could push your code to a public repo, that would help.

[2019-12-12 14:06] #6699 closed

[2019-12-12 14:06] akosyakov opened #6743 "high contrast theming"
Review how VS Code applies high contrast colors https://code.visualstudio.com/api/references/theme-color#contrast-colors and apply them similarly in Theia.

We leave it out from the initial theming.

[2019-12-12 14:45] kittaakos commented on #6308
I did a  quick check and VS Code seamlessly restarts the TS LS if I explicitly `kill` the process:
[code]

Maybe that's all we have to do. No need to notifying the client about the issue. VS Code does not do it either.

[2019-12-12 14:56] kittaakos commented on #6685
Maybe this is related: https://github.com/nodejs/help/issues/1790
But I did not experience any orphan processes on Linux.

[2019-12-12 14:57] spoenemann commented on #6308
Currently the seamless restart of the LS is triggered by the client:

https://github.com/eclipse-theia/theia/blob/master/packages/languages/src/browser/language-client-contribution.ts#L162

That's why we need to make sure to notify the client about the closed connection.

[2019-12-12 15:34] #6701 closed

[2019-12-12 17:43] federicobozzini opened #6747 "[Filesystem] When a file tree node is cached, it's not possible to overwrite its name and icon"
### Description

When a file tree node is cached (especially after a move operation), it's not possible to overwrite its name and icon.

### Reproduction Steps

Reproducing the issue is not really straightforward.

My situation was a contribution for a new icon for files with some specific extension.

When a file with that extension is moved, the new icon might get lost and substituted by the defa

[2019-12-13 00:41] glingy commented on #2842
Any update on this? I'd love to see this as a part of this editor.

[2019-12-13 01:48] yeweiasia commented on #5967
the errors seems to be fixed ,but the function of jumping to the position works a bit weird.
![dependency_jump](https://user-images.githubusercontent.com/16164849/70763022-a390ee00-1d8d-11ea-953c-30b178eb38f8.gif)

[2019-12-13 04:47] datou0412 commented on #6740
I push my code to a public repo [https://github.com/datou0412/theia-test](https://github.com/datou0412/theia-test)

Follow the README to reproduce

[2019-12-13 06:15] #6729 closed

[2019-12-13 12:28] 502647092 opened #6749 "[webview] Refused to frame because it violates the following Content Security Policy"
### Description
Refused to frame 'https://theia.miaowoo.cc/webview/fake.html?id=fdc8cdf6-f249-41be-9966-e04140eac4d2' because it violates the following Content Security Policy directive: "default-src 'none'". Note that 'frame-src' was not explicitly set, so 'default-src' is used as a fallback.

### Reproduction Steps

- Press F1
- Deploy Plugin By Id
- ext install humao.rest-client
- create simple

[2019-12-13 13:29] akosyakov commented on #6749
Please describe how the issue can be reproduced from sources? I'm not sure that there is an issue right now.

[2019-12-13 13:53] #6700 closed

[2019-12-13 15:54] 502647092 commented on #6749
@akosyakov I update Reproduction Steps

[2019-12-13 16:39] vince-fugnitto commented on #6749
@502647092 I followed the steps you provided using `master` (4070136), and it worked correctly.
Is this the result you expect when selecting `send request`?

<div align='center'>

<img width="1461" alt="Screen Shot 2019-12-13 at 11 38 27 AM" src="https://user-images.githubusercontent.com/40359487/70816266-1bb2e000-1d9d-11ea-9cfe-ca5461e0a18f.png">

</div>

[2019-12-13 17:38] akosyakov commented on #6749
@502647092 Which browser do you use? I found a similar issue in VS Code, it seems to happen in Edge: https://github.com/microsoft/vscode/issues/86468

[2019-12-13 21:07] JPinkney commented on #6740
@kittaakos in your code snippet shouldn't FileSystem be FileSystemNode? like:
[code]

I wonder if that might be the issue

[2019-12-13 22:07] adrianoluengo opened #6753 "Platform.io extension unable to load upon restart"
### Description
When installing the Platform.io extension (by dragging and dropping the .vsix file in the extensions panel). Once the Platform.io core had finished installing a notification that reads as "PlatformIO IDE has been successfully installed! Please reload window" appears. When pressing "reload now", the window reloads but the extension itself doesn't load. The process ends up repeating

[2019-12-14 09:19] 502647092 commented on #6749
@akosyakov
Microsoft Edge
Version 80.0.355.1 dev (x64)

[2019-12-14 13:54] akosyakov commented on #6749
@502647092 try to use Chrome as a workaround :)

[2019-12-14 16:35] Kreyren opened #6754 "Shellcheck -x is not recognized"
Disclaimer: Submitting this here according to gitpod's instructions (https://www.gitpod.io/docs/vscode-extensions/#your-extension-doesnt-work-as-expected)

### Description
I'm using gitpod with shellcheck extension (https://marketplace.visualstudio.com/items?itemName=timonwong.shellcheck) where my repository (https://github.com/Kreyrock/Kreyrock) is using `source` directive (https://github.com/koa

[2019-12-16 07:32] akosyakov commented on #6645
I would be fine extracting something like `@theia/plugin-core`, which is a miminal subset of `@theia/plugin-ext` responsible for deployment, loading and activation of plugins. It won't contain any concrete features only contribution points to add such. @thegecko do you have something like that on your mind?

@svenefftinge I don't think it collides with an intention to reuse the extension host proc

[2019-12-16 08:34] rayakoren commented on #2961
Hi, I have encountered the same issue, when the process is quick I can't see the output in the terminal.
Before diving into Theia's code I wanted to know if someone is working to fix this issue? or knows if or when it will be fixed?

[2019-12-16 09:46] vinokurig opened #6755 "Support Ctrl+N, Ctrl+T, and Ctrl+W keybindings in chrome / firefox"
### Description

Find a way to override `Ctrl+N`, `Ctrl+T`, and `Ctrl+W` keybinding in chrome / firefox browsers.
### Reproduction Steps

1. Apply [VsCode Emacs Keymap extension](https://marketplace.visualstudio.com/items?itemName=lfs.vscode-emacs-friendly)
2. open some file and try to execute the keybindings.

**WRONG:** Binded browser actions are executed instead of registered actions.
**OS and

[2019-12-16 12:52] ShimonBenYair opened #6757 "Theia does not support tasks with no type or command"
Theia does not support tasks with no type or command.
In VSCode there are tasks that are used only as an aggregation  of other tasks.

`{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "Client Build",
      "command": "gulp",
      "args": ["build"],
      "options": {
        "cwd": "${workspaceRoot}/client"
      }
    },
    {
      "label": "Server Build",
      "command": "gulp",

[2019-12-16 13:21] offer8 commented on #6565
Do you know why the untitled file created by this method: "createUntitledResource"(https://github.com/eclipse-theia/theia/blob/e147cf39c7f484374b7ec0cd0d04958c3ef00bca/packages/plugin-ext/src/main/browser/editor/untitled-resource.ts#L49)
is read-only one?

[2019-12-16 14:21] akosyakov commented on #5825
@elaihau @RomanNikitenko  Was it resolved by https://github.com/eclipse-theia/theia/pull/6668?

[2019-12-16 14:57] elaihau commented on #5825
I think not.

@akosyakov
I believe this issue and #6668 are unrelated, as this one is caused by "the short running task finishes running before being attached to the terminal".

[2019-12-16 15:01] akosyakov commented on #5825
@elaihau ok, do you know anyone is looking into https://github.com/eclipse-theia/theia/issues/2961?

[2019-12-16 15:28] elaihau commented on #5825
It is not an easy change. From what I can remember Sven had a PR for it (not merged).
@marechal-p also looked at it but he had other priorities so didn't get the chance to invest much time on it.

[2019-12-16 19:51] marechal-p commented on #5825
It is somewhere in my backlog indeed, but while we are at it, I would appreciate input on what I was thinking about doing:

The core of the issue is that when a process exits/closes, we dispose everything related to it. This is an issue when the execution is fast enough that the frontend cannot request for output quick enough, since it is being discarded as fast as possible.

I was thinking about

[2019-12-16 19:56] marechal-p commented on #2961
It is somewhere in my backlog indeed, but while we are at it, I would appreciate input on what I was thinking about doing:

The core of the issue is that when a process exits/closes, we dispose everything related to it. This is an issue when the execution is fast enough that the frontend cannot request for output quick enough, since it is being discarded as fast as possible.

I was thinking about

[2019-12-16 20:19] thegecko commented on #6645
@akosyakov I'm more keen to implement the terminal plugin as an interface so it's implementation can be explicitly excluded from a build no matter what other packages rely on it.

[2019-12-16 22:12] gbodeen commented on #520
This problem was not present in Theia 0.12.0 but is now back in Theia 0.13.0.

[2019-12-16 22:13] gbodeen commented on #445
The issue has returned in Theia 0.13.0.

[2019-12-16 22:39] vince-fugnitto commented on #445
Can you please describe your issue and steps to reproduce?

[2019-12-17 02:49] datou0412 commented on #6740
wont work --

[2019-12-17 05:52] 502647092 opened #6758 "[json] JSON file can't format"
### Description
build `package.json` file
[code]

### Reproduction Steps

- create `package.json`
- run command
[code]
- run theia
[code]
- create json file
- input something and format

**OS and Theia version:**
**Diagnostics:**

[2019-12-17 06:55] HuangJunjia opened #6759 "how to package theia plugin?"
how can I package the plugin?

[2019-12-17 08:22] akosyakov commented on #6759
cc @eclipse-theia/plugin-system

[2019-12-17 08:58] NitinKhandelwal1947 opened #6760 "not able to add plugins in theia electron with electron-builder"
### Description
i am trying to add a sample plugins in theia electron which is bundle with electron-builder.
It throws below error when i start the application
[code]

### Reproduction Steps

added a sample plugins folder in root directory. Build the electron example with electron-builder.
Added an environment variable:
export THEIA_DEFAULT_PLUGINS=local-dir://absolute-path-to-plugins-folder

Then

[2019-12-17 11:19] kittaakos commented on #6740
I could reproduce. Thanks! Please compile against `es5`.

My changes:
[code]

I also had to wipe the `yarn.lock` and run `yarn` from scratch as it was failing with an NPM error, probably some proxy thing.
[code]

For more details on why we have to use `es5`, check these threads or ask on [Spectrum](https://spectrum.chat/theia):
 - https://github.com/eclipse-theia/theia/pull/6060
 - https://github.

[2019-12-17 11:19] #6740 closed

[2019-12-17 11:21] HuangJunjia commented on #6759
Hi:
This address is 404 now, can you send me a new one?

[cid:E13A32A7-E288-4D02-AF98-D41CEFA300FA]

2019年12月17日 16:22，Anton Kosyakov <notifications@github.com<mailto:notifications@github.com>> 写道：

cc @eclipse-theia/plugin-system<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Forgs%2Feclipse-theia%2Fteams%2Fplugin-system&data=02%7C01%7C%7C07df74e7917a48be260308d782c

[2019-12-17 11:23] kittaakos opened #6761 "[doc] Make sure extension developers compile against ES5"
### Description

Compiling against `es6` can cause strange behavior at runtime. See https://github.com/eclipse-theia/theia/issues/6740#issuecomment-566499353. If it is a known limitation, we need to "advertise" it better among the extension developers. It took me some time to figure out what was the problem.

Is it?
CC: @akosyakov

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:*

[2019-12-17 11:24] offer8 commented on #6565
Found it:
https://github.com/eclipse-theia/theia/blob/master/packages/monaco/src/browser/monaco-editor-model.ts#L199