[2019-03-20 15:06] benoitf commented on #4620
I should have said I was talking about filesystem space, not memory.

[2019-03-20 15:06] vzhukovskii commented on #4623
Wow! Didn't know about this approach. Big thanks!

[2019-03-20 15:07] vzhukovskii commented on #4623
Issue become not actual at this moment. Going to close it.

[2019-03-20 15:07] #4623 closed

[2019-03-20 15:20] akosyakov opened #4626 "[navigator] clean up the global selection properly"
Right now the check is bogus: https://github.com/theia-ide/theia/blob/master/packages/navigator/src/browser/navigator-widget.tsx#L88

[2019-03-20 15:24] tsmaeder commented on #4581
In a first step, let's add the preference key and find out whether there is more work that we need to do.

[2019-03-20 15:35] simark commented on #4501
Merging the compiling commands file should work, I believe, that would be a good way to "make things work" until clangd supports it natively. The time clangd takes to find entries in the JSON file will be dependent on the number of entries in that file. But the fact that this file comes from two other files that have been merged doesn't change anything.  In any case, I wouldn't be too worried abou

[2019-03-20 20:27] theBadT commented on #827
@akosyakov Hi, I'd like to have a look into the issue. Is there any more input available? like a scenario for reproduction?

[2019-03-21 05:34] 502647092 opened #4630 "java doc show error when not open source file"
### Description
Java Doc Show err
![image](https://user-images.githubusercontent.com/10203793/54734853-9a4b6a00-4bdd-11e9-8ef1-b2d2b3cd03b8.png)

if open the source file show Correct

![image](https://user-images.githubusercontent.com/10203793/54734897-d8488e00-4bdd-11e9-883e-df6e2cf53156.png)

### Reproduction Steps

**OS and Theia version:**
latest next version

**Diagnostics:**

[2019-03-21 06:02] akosyakov commented on #4630
@502647092 Could you provide an example project  and describe what you do?

[2019-03-21 06:12] akosyakov commented on #827
You can build an extension which injects menu and command registries and register a menu before a command.

[2019-03-21 06:39] akosyakov opened #4631 "make worker-ext optional"
For clients who uses only VS Code extensions it should not be necessary to bundle, load and run worker-ext code.

[2019-03-21 07:29] tsmaeder commented on #4512
@benoitf it makes no difference whether the other plugin runs in a different process or a different machine. You still need a way to marshal/unmarshal the call. How does VS Code handle this case?

[2019-03-21 07:36] tsmaeder commented on #2758
Today I have bigger concern that @theia/core has a direct dependency to electron.
https://github.com/theia-ide/theia/issues/2758
It also brings tons of unwanted files for host process.

[2019-03-21 07:37] tsmaeder commented on #4620
Please discuss #2758 on that issue, not here.

[2019-03-21 07:38] tsmaeder commented on #2758
Moved discussion from #4620 :

Today I have bigger concern that @theia/core has a direct dependency to electron.
#2758
It also brings tons of unwanted files for host process.
@akosyakov
Member
akosyakov commented 17 hours ago

    Today I have bigger concern that @theia/core has a direct dependency to electron.
    #2758

Agreed that it should be optional.

    It also brings tons of unwanted file

[2019-03-21 09:01] akosyakov opened #4633 "git diff widget does not have a title icon"
<img width="419" alt="Screen Shot 2019-03-21 at 09 59 57" src="https://user-images.githubusercontent.com/3082655/54741919-2a7ab680-4bc0-11e9-9cf2-0514a339548f.png">

[2019-03-21 10:16] #4633 closed

[2019-03-21 10:20] akosyakov opened #4635 "update Theia screenshot in README"
Should be in similar context, but with up-to-date UI

cc @vince-fugnitto i think you did it last time :)

[2019-03-21 10:21] akosyakov commented on #4635
on https://www.theia-ide.org/ the screenshot is also very dated

[2019-03-21 10:32] vince-fugnitto commented on #4635
would you like me to take another ? :)

[2019-03-21 10:39] akosyakov commented on #4635
yeah :)

[2019-03-21 10:43] akosyakov opened #4637 "Align vscode views contents with header file"
Follow-up of #4622

You can reproduce with https://github.com/akosyakov/vscode-trees (needs #4624):
[code]

How it looks now:
<img width="371" alt="Screen Shot 2019-03-21 at 11 38 54" src="https://user-images.githubusercontent.com/3082655/54747097-38373880-4bce-11e9-95ed-001deafcb03d.png">

How it looks in VS Code:
https://github.com/akosyakov/vscode-trees/blob/master/resources/package-explorer.pn

[2019-03-21 10:57] #4621 closed

[2019-03-21 11:05] vince-fugnitto opened #4638 "debug console does not have a title icon"
The `debug console` widget does not have a title **icon**.

<div align='center'>

![Screenshot from 2019-03-21 07-03-53](https://user-images.githubusercontent.com/40359487/54748308-a1578580-4ba7-11e9-8588-ea7f4362f55a.png)

</div>

[2019-03-21 11:44] vince-fugnitto opened #4639 "Missing caption for git-diff-widget"
The `git-diff` widget is missing a caption (tooltip).

This means that when hovering over the tab or icon representing the `git-widget` nothing is displayed like other widgets. For the sake of completeness and consistency, the `git-widget` should include a caption.

[2019-03-21 12:07] lmcbout commented on #3838
This issue still exist with Theia 0.4.0. Until I restart the client, the terminal is not usable and does not display the data already typed in the terminal.

[2019-03-21 12:20] vince-fugnitto opened #4641 "Add eclipse eca validation check"
I propose we add the [Eclipse ECA Validation](https://github.com/apps/eclipse-eca-validation) check to our main repo for pull requests. This will save a lot of manual time where we need to check if the author's ECA is completed and up to date. With Theia's growing popularity it will become more manageable to have the automated check :smile:

I added it to my Theia fork and tested the results:
- Co

[2019-03-21 12:49] vince-fugnitto opened #4642 "[git] git history has odd alignment and behaviour"
The `git-history` widget has odd alignment and behaviour when initialised and clicking on nodes.
I would expect better vertical spacing, and no odd movement when selecting items.

<div align='center'>

![git-history](https://user-images.githubusercontent.com/40359487/54752896-01552880-4bb6-11e9-8762-8d2364bb7130.gif)

</div>

[2019-03-21 12:51] akosyakov commented on #4638
Which icon would you use?

[2019-03-21 13:06] vince-fugnitto commented on #4638
I'm not quite sure, I can look into an appropriate icon, the only one I can think of at the moment is the same as the terminal

[2019-03-21 13:18] marcdumais-work commented on #4641
This would be nice. @vince-fugnitto it looks like we could remove the `DCO` check too, since the `ECA` one also checks that commits are signed?

[2019-03-21 13:21] marcdumais-work commented on #4641
BTW this change would be done by changing the GH repo config, not through a PR. (since not all repos in the `theia-ide` org are "eclipse" repos, we probably do not want this done at that level?)

[2019-03-21 13:22] vince-fugnitto commented on #4638
@akosyakov something similar to this if I can create or find an appropriate version.

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/54754827-dde0ac80-4bba-11e9-8704-0d8f07018eff.png)

</div>

[2019-03-21 13:29] marechal-p commented on #2758
Ah indeed: https://github.com/theia-ide/theia/blob/master/packages/core/package.json#L23

IIRC we delete the electron files from `node_modules` in some of the Docker images:
https://github.com/theia-ide/theia-apps/blame/master/theia-docker/Dockerfile#L15

But then how are we supposed to split out this electron dependency?

Split each extension contributing electron code into something like `@theia

[2019-03-21 13:33] vince-fugnitto commented on #4641
The tool specifies that it includes `validation of “Signed-off-by” footers in commit messages for non-committers`. Would that be enough for committers for example to verify they have "Signed Off by"? Else, I don't it think it does any harm to also include the `DCO`.

Yes exactly, its achieved by enabling the tool in the repository not through a PR. Perhaps solely including the check for the main r

[2019-03-21 13:34] jbicker opened #4643 "[Call Hierarchy] Name width should be fix."
Shrink behaviour in 'Call Hierarchy' List should be same as for instance in 'Search' List:
<img width="193" alt="Screen Shot 2019-03-21 at 14 24 57" src="https://user-images.githubusercontent.com/28291421/54755202-bb17bd80-4be5-11e9-8811-0745941ec3b6.png">
vs.
<img width="208" alt="Screen Shot 2019-03-21 at 14 27 44" src="https://user-images.githubusercontent.com/28291421/54755208-bce18100-4be5-11

[2019-03-21 13:38] jbicker opened #4644 "[Sidepanel] Title should not wrap"
Instead of wrapping titles they should be...
<img width="134" alt="Screen Shot 2019-03-21 at 14 35 26" src="https://user-images.githubusercontent.com/28291421/54755668-b7d10180-4be6-11e9-86cd-8a2af4fc360c.png">

...trimmed.
<img width="156" alt="Screen Shot 2019-03-21 at 14 37 06" src="https://user-images.githubusercontent.com/28291421/54755717-d800c080-4be6-11e9-9176-5e6cd8c4b59c.png">

[2019-03-21 13:59] akosyakov commented on #2758
No, it would be too much.

I've propose to make a dev dependency, so we can still APIs. IDE developers will need to declare Electron as runtime dependency in their package.json.

cc @thegecko @JanKoehnlein @spoenemann and anyone else who is building Electron right now :)

[2019-03-21 14:01] akosyakov commented on #4638
@vince-fugnitto right, we can just adjust existing VS Code icon:

<img width="35" alt="Screen Shot 2019-03-21 at 15 00 04" src="https://user-images.githubusercontent.com/3082655/54757218-0fbd3780-4bea-11e9-80c4-d957aef46e8b.png">

good idea Could you do it?

[2019-03-21 14:06] vince-fugnitto commented on #4638
do you have any idea where that icon is located? :see_no_evil:

[2019-03-21 14:14] vince-fugnitto commented on #4638
@akosyakov nevermind I found it ! https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/contrib/debug/browser/media/repl.svg

[2019-03-21 14:15] JanKoehnlein commented on #2758
Making Electron a dev-dependency sounds good to me.

Splitting packages also bears a high risk that both sides get out of sync. We already experience and fix a lot of bugs, especially when running Theia Electron on Windows. It seems like this already gets less love and testing than the browser version.

Single sourcing for Electron and the browser is still one of the killer features for many Theia

[2019-03-21 14:19] vazexqi commented on #4005
_Piggy backing onto this bug since it seems related, I can open a new one if you want_.

We are experimenting with using .vsix in Theia. We have noticed that icons (octicons) in labels are supported in VS Code per https://code.visualstudio.com/api/references/icons-in-labels

However, this currently doesn't work consistently in Theia. It works on the status bar in Theia but not in the quick pick. S

[2019-03-21 14:30] spoenemann commented on #2758
The actual problem is that we have separate source folders `browser`, `electron-browser`, `common` and `node`, but we build them all with the same settings.

Another possible approach could be to define different build settings for the source folders. For example, we could use the `import-blacklist` rule of tslint to ensure that electron and node APIs are not used in browser code.

[2019-03-21 14:54] #4639 closed

[2019-03-21 15:26] #4644 closed

[2019-03-21 15:29] marechal-p commented on #2758
@spoenemann I feel like this is a different issue, but I still like it! Didn't know about this option :)

[2019-03-21 15:35] vince-fugnitto opened #4647 "[ui/ux, beginners] css selector typo"
There is a typo found in `scrollbars.css` which means that the styling will not take effect for the element. `theia` is mispelled as `ttheia`.

https://github.com/theia-ide/theia/blob/7552e80b5dfb14d0fc4c6d14d771e7e1f6cdd31b/packages/core/src/browser/style/scrollbars.css#L71

[2019-03-21 15:56] jankeromnes opened #4648 "[Java] Clicking on Code Lense `▶ Run` doesn't open the Debug Console"
### Description

Clicking on the Code Lense `▶ Run` link doesn't automatically open the Debug Console.

### Reproduction Steps

1. Open [this Java file](https://github.com/Snailclimb/JavaGuide/blob/master/%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84%E4%B8%8E%E7%AE%97%E6%B3%95/source%20code/securityAlgorithm/src/main/java/com/snailclimb/ks/securityAlgorithm/RSADemo.java) in Theia (e.g. [via Gitpod](https:/

[2019-03-21 15:59] jankeromnes commented on #4648
A few helpful pointers from @akosyakov to debug this issue (thanks Anton!):

it should add a property to open debug console to a debug configuration

https://github.com/theia-ide/theia/blob/7552e80b5dfb14d0fc4c6d14d771e7e1f6cdd31b/packages/java-debug/src/browser/java-debug-frontend-contribution.ts#L196-L207

you can check how it is different from vscode java extension
i think there should be some

[2019-03-21 16:02] #4638 closed

[2019-03-21 16:04] akosyakov commented on #4005
yes, we should support it

[2019-03-21 16:13] akosyakov commented on #2758
We could also experiment with `postinstall` script of theia cli which will run `yarn install electron` if a target is `electron`. If it works nicely it would not break existing clients. If...

[2019-03-21 16:14] jankeromnes commented on #4648
So, it seems that if not specified by the project, Theia sets `internalConsoleOptions` to `neverOpen` by default:

https://github.com/theia-ide/theia/blob/7e8b91090338ae7a71cd30f5dbc0a25774cc72bd/packages/debug/src/common/debug-configuration.ts#L63-L64

However, VS Code uses `openOnFirstSessionStart` by default:

https://github.com/Microsoft/vscode/blob/eeaf5d876e20884b05932988be04a8089297d07e/src

[2019-03-21 16:16] akosyakov commented on #4648
@jankeromnes sounds good

[2019-03-21 16:18] jankeromnes commented on #4648
Erm, so Theia does have the correct default value in _two_ places:

https://github.com/theia-ide/theia/blob/7e8b91090338ae7a71cd30f5dbc0a25774cc72bd/packages/debug/src/node/vscode/vscode-debug-adapter-contribution.ts#L31-L35

https://github.com/theia-ide/theia/blob/7e8b91090338ae7a71cd30f5dbc0a25774cc72bd/packages/plugin-ext/src/hosted/node/scanners/scanner-theia.ts#L66-L70

But neither seems to b

[2019-03-21 16:27] #4622 closed

[2019-03-21 17:02] akosyakov opened #4651 "default configuration overrides are not applied"
reproduciable with go vscode extension: https://github.com/gitpod-io/gitpod/issues/405

[2019-03-21 17:20] marcdumais-work commented on #4641
@vince-fugnitto ok, so let's add the `ECA` check, for this repo only.  But we'll leave the `DCO` check in place too, for now.

[2019-03-21 17:29] marcdumais-work commented on #4641
Done. I posted on `spectrum` about it.

[2019-03-21 17:29] #4641 closed

[2019-03-21 18:21] jankeromnes commented on #4648
After doing some more digging, it seems that default configurations are provided by debug adapters, and the `java-debug-adapter-contribution`:

https://github.com/theia-ide/theia/blob/002093674328d4a1647dc262199244c6627a693d/packages/java-debug/src/node/java-debug-adapter-contribution.ts#L93-L120

doesn't seem to care about the default values in the schema attributes for debug type `java`:

https:

[2019-03-21 18:59] jankeromnes commented on #4648
So, anyone can start a Theia debug session by calling:

https://github.com/theia-ide/theia/blob/002093674328d4a1647dc262199244c6627a693d/packages/debug/src/browser/debug-session-manager.ts#L127-L131

You can currently call this with an incomplete `options.configuration` (as Java Code Lense does).

Then, I think `this.resolveConfiguration(options)` will call `PluginDebugService.resolveDebugConfigur

[2019-03-22 00:16] dmarhas commented on #1251
Thanks Anton! I am wondering if someone will be kind enough to provide a "Hello React" sample extension that shows a simple usage of an injected Theia service. That will be so wonderful and will also accelerate the reach and adaoption of this awsome IDE.

I tried to look at some of the React based widget code in the core package and I must say it looks good but it is a bit mystifying. If end users

[2019-03-22 01:10] kaviththiranga commented on #1251
@dmarhas We had previously created a react widget with a diagram editor which modifies the current opened file. We used several theia extension APIs to handle the interactions. Code can be found here https://github.com/ballerina-platform/ballerina-lang/blob/master/tool-plugins/theia/ballerina-extension/src/browser/ballerina-preview-widget.tsx.
However, we no longer maintain this and we are trying

[2019-03-22 04:07] jgbradley1 commented on #4088
Was a decision ever made on what module should be used for this functionality? The PR seems almost complete if the licensing issue can be resolved.

[2019-03-22 04:52] #4543 closed

[2019-03-22 05:17] akosyakov opened #4657 "mini browser does not have good title icon"
<img width="618" alt="Screen Shot 2019-03-22 at 06 16 16" src="https://user-images.githubusercontent.com/3082655/54802070-125f7180-4c6a-11e9-9049-a96f65bcaa52.png">

cc @jbicker @svenefftinge

[2019-03-22 05:22] akosyakov opened #4658 "fontawesome icon don't look nice as title icons"

[2019-03-22 06:15] akosyakov opened #4661 "content assist does not work in preferences widget"

[2019-03-22 07:12] #4648 closed

[2019-03-22 07:12] #4658 closed

[2019-03-22 07:13] #4657 closed

[2019-03-22 07:43] jankeromnes commented on #4088
If there exist a way to transform a `input.files` (a [FileList](https://developer.mozilla.org/en-US/docs/Web/API/FileList) from a `<input type="file" multiple>`), into a [DataTransferItemList](https://developer.mozilla.org/en-US/docs/Web/API/DataTransferItemList) to pass to `FileTreeModel.upload()`, then the pull request is almost finished in adding the menu entries.

However, just like the curren

[2019-03-22 07:46] akosyakov commented on #4088
`FileTreeModel.upload()` cannot handle big fils: https://github.com/theia-ide/theia/issues/969 It's a limitation of how we using web sockets. Need to fix it as well, but we can use `node-formidable` instead if it is better.

[2019-03-22 09:02] AlexTugarev commented on #4007
Chrome on Mac: same behavior

<img width="268" alt="Screen Shot 2019-03-22 at 10 01 43" src="https://user-images.githubusercontent.com/914497/54811710-92490400-4c89-11e9-89fd-3454426e8656.png">

[2019-03-22 09:34] jankeromnes commented on #4007
I agree, when you have many files open, that horizontal scroll bar is annoying (it takes so much space on Firefox Nightly no Mac).

Then again, I sometimes forget about some open files, because there is no other indicator that I have too many tabs open and they're overflowing.

VS Code also has just the horizontal scrollbar, but it's super thin on Mac so it's pretty easy to click on tab handles (a

[2019-03-22 09:51] benoitf opened #4664 "https://github.com/theia-ide/theia/pull/4600 has broken icon of webview"
### Description
There is now a white background behing the webview's icon tab after https://github.com/theia-ide/theia/pull/4600 changes

### Reproduction Steps
Use a webview with icon

**OS and Theia version:**

**Diagnostics:**

[2019-03-22 09:58] jbicker commented on #4664
Sorry, I don't know how to get a webview tab.
Could you please give a more detailed explanation how to reproduce it?

[2019-03-22 10:09] benoitf commented on #4664
sure, np

[2019-03-22 11:49] 32leaves opened #4665 "Terminal has a white border in Firefox on Mac"
### Description
<img width="1235" alt="Screenshot 2019-03-22 at 12 46 25" src="https://user-images.githubusercontent.com/3210701/54820797-9b919b00-4ca0-11e9-83b8-b4e13810662b.png">

The white border around the terminal probably is not intentional, and does not look nice.

### Reproduction Steps
Open Theia (e.g. a Gitpod) in Firefox on Mac.

**OS and Theia version:**
Theia next on OSX 10.14.2, Fire

[2019-03-22 12:09] vinokurig opened #4666 "[plug-in] Implement 'window.registerDecorationProvider' Plugin API method in theia-proposed.d.ts"
### Description

VsCode source: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.proposed.d.ts#L569-L571
### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-03-22 12:20] vinokurig commented on #4266
To have change decorations in the navigator and editor https://github.com/theia-ide/theia/issues/4666 is needed

[2019-03-22 12:32] akosyakov commented on #2204
@jbicker could you try to reproduce? I believe it was fixed by recent changes from @kittaakos

[2019-03-22 12:35] #4651 closed

[2019-03-22 12:35] #4564 closed

[2019-03-22 12:43] akosyakov opened #4668 "double click on widget title to bring it in full window mode"
I would like to do it sometimes, i.e. to see full terminal output. Probably in this case double clicking again should restore the original layout.

[2019-03-22 12:53] vince-fugnitto commented on #4665
dupp of #3472
@32leaves does the problem occur consistently for you?

[2019-03-22 12:59] jbicker commented on #2204
Looks good now. I'll close this.

[2019-03-22 12:59] #2204 closed

[2019-03-22 13:12] vince-fugnitto opened #4669 "[ui/ux] better tab alignment"
The tabbars alignment looks a little off in my opinion.
I noticed that:
1. there isn't uniform top and bottom padding so the tabs look off (more bottom padding).
2. there isn't adequate space between the tab icons and tab labels.
3. the tab icons are not aligned with the center of the tabs.
4. the styling overall can be greatly approved like vscode, since at the moment it is a little eyesore.

**t

[2019-03-22 14:24] benoitf commented on #4664
@jbicker I modified the cat coding webview example of vscode https://github.com/Microsoft/vscode-extension-samples/tree/master/webview-sample

I made a binary there
https://github.com/benoitf/webview-demo/releases/tag/0.0.1

let say `$THEIA_HOME` is where you cloned theia:

copy the vsix file to `THEIA_HOME/plugins' and then yarn run start from THEIA_HOME/examples/browser

Bring command palette an

[2019-03-22 14:28] benoitf commented on #4664
![cat](https://user-images.githubusercontent.com/436777/54829535-e8806c00-4cb6-11e9-8ed1-e3a844b012a3.gif)

[2019-03-22 14:38] svenefftinge commented on #4669
I adjusted the tabs in https://github.com/theia-ide/theia/pull/4670 please have a look

[2019-03-22 14:54] dmarhas commented on #1251
@kaviththiranga Thanks! I am sure this will be very helpful to the entire Theia community.

[2019-03-22 15:15] simark opened #4672 "Editorconfig properties not respected when anually changing file type"
### Description
When manually changing a file type, the editorconfig properties are not respected anymore.

### Reproduction Steps

1. Start with a brand new workspace
2. Put this in the `.editorconfig` file
[code]
3. Create the file `hello.i`.  You should see the correct whitespace setting, tabs and 8 columns:
![a](https://user-images.githubusercontent.com/1758287/54832633-ea383880-4c92-11e9-8c51

[2019-03-22 15:19] #4664 closed

[2019-03-22 15:19] geropl opened #4673 "Native UI elements in Firefox look strange"
### Description
Native scroll bar in the `Preview`:
![image](https://user-images.githubusercontent.com/32448529/54832965-7cedcd00-4cbd-11e9-997e-5bd811dc05ba.png)

Native dropdown in `Debug` view:
![dropdown](https://user-images.githubusercontent.com/32448529/54833239-fe455f80-4cbd-11e9-9aa9-384891920dc2.gif)

### Reproduction Steps
Open a Theia instance, for example on Gitpod: https://gitpod.io/#

[2019-03-22 16:06] simark commented on #4668
Eclipse does that, it's super useful.

[2019-03-22 18:42] #4308 closed

[2019-03-22 18:53] vince-fugnitto opened #4675 "[problems] implement problems view enhancements"
The `problems` view in theia isn't as feature rich as its vscode counterpart, and there are certainly improvements that can be made to make increase its usability.

**Features:**
- [ ] ~add the ability to search and filter problems~: https://github.com/eclipse-theia/theia/issues/5135
- [ ] add the ability to perform `fix it` (small lightbulb) directly from the problems view.
- [x] add toolbar item

[2019-03-22 23:21] jgbradley1 commented on #4088
Since this issue has been open for two months, using `FileTreeModel.upload()` seems like the path of least resistance in order for this feature to move forward.

Regarding the browser compatibility issue, a browser check could be performed in the code with a warning dialog box notifying the user if they're using an incompatible browser.

In the file upload window, the 60 MB cap should be mentioned

[2019-03-23 00:41] opiation commented on #4403
I am getting the same issues.  I run the following, as perscribed by the home page:

[code]

Docker logs reveal the following before even opening `localhost:3000`:

[code]

Inspecting the running processes reveals all processes are started by user `theia` (UID 1001)
[code]

[code]

Unfortunately, nothing in `/home` is owned by user `theia`.  `/home/node` and `/home/project` are owned by user `node

[2019-03-23 01:41] 502647092 commented on #4630
- Project Source https://github.com/502647092/MiaoScript

   - https://github.com/502647092/MiaoScript/blob/master/src/main/java/pw/yumc/MiaoScript/ScriptEngine.java
    - https://github.com/502647092/MiaoScript/blob/master/src/main/java/pw/yumc/MiaoScript/MiaoScriptEngine.java

[2019-03-23 08:58] akosyakov commented on #1251
@dmarhas unfortunately most of contributors are busy with own products based on Theia and there is no much time left for docs and examples :(

If you figure it out by now, you are very welcome to build and document example. Here is https://github.com/theia-ide/theia-website/issues/26 for docs.

[2019-03-23 08:58] akosyakov commented on #1251
Also you can have a look at https://github.com/TypeFox/theia-workshop, but it could be a bit dated.

[2019-03-23 09:15] akosyakov commented on #4403
@opiation I cannot reproduce it :( Do you see something suspicious here: https://github.com/theia-ide/theia-apps/blob/cddc5ea11e5438335098f58dbec5f7794e7c0d8b/theia-docker/Dockerfile#L20-L25 It should grant access rights to `/home/theia` and `/home/projct` for theia user.

[2019-03-23 14:45] vince-fugnitto commented on #4669
closed thanks to #4670

[2019-03-23 14:45] #4669 closed

[2019-03-23 15:58] vince-fugnitto opened #4678 "incorrect notification-count styling"
Due to the recent changes found in #4670, the tab height has been updated which is used by the `notification-count`. The resulting styling is the following:

<div align='center'>

<img width="751" alt="Screen Shot 2019-03-23 at 11 54 21 AM" src="https://user-images.githubusercontent.com/40359487/54868453-fbe91100-4d62-11e9-8dda-07a2fb5d0108.png">

</div>

[2019-03-23 16:47] arekzaluski commented on #4501
@simark @marechal-p I've tested a single `compile_commands.json` approach and it worked for me out of the box. No modifications in Theia code were necessary.
For tests I used 4 relatively big programs in a single workspace and I haven't noticed any drop in performance. Combined json database for 4 programs was around ~140 MB.

clangd version: official 8.0.0 release
platform: Mac OS

It will still

[2019-03-23 19:00] akosyakov commented on #3838
It's a bug in xterm: https://github.com/xtermjs/xterm.js/commit/69d3a4667f6d3ade4a89e71be066de0e69d82d16

It was fixed in 3.12.0. We need to upgrade xterm to pick it up.

[2019-03-23 21:18] theBadT commented on #4560
Within this particular file, I could find only a single flawed reject. Throughout the whole code base however, there were several. The scope of this is issue is limited to https://github.com/theia-ide/theia/blob/01a983076976a3c18f54ad507abaf2df174ccd43/packages/core/src/common/resource.ts#L115 or shall the rejects on a global scale be adapted?

[2019-03-24 08:36] #4647 closed

[2019-03-24 09:55] akosyakov commented on #4124
Stumble on the same with eslint and prettier extensions. They need 1.31.0, upgrading showed that nothing breaks since APIs which they used are covered. Why don't we bump it? There is no good reason to use version of eslint and prettier extensions for 1.27.2, if they work nicely with 1.31.0. cc @svenefftinge

[2019-03-24 11:11] jankeromnes commented on #3338
See also https://github.com/gitpod-io/gitpod/issues/408

[2019-03-24 12:43] theBadT opened #4683 "Test failing but still the build runs green"
### Description
As you can see from https://ci.appveyor.com/project/kittaakos/theia/builds/23307786#L1157
test is failing, but still the build runs green. The same issue occurs locally. Meaning, test fails -> overall result is green.
This causes uncertanity regarding the test execution. Should it fail intentionally?

### Reproduction Steps
yarn run test, with theia/core being the root folder

**OS

[2019-03-24 14:05] akosyakov opened #4685 "plugin status-bar items should be located to left relative to toggle bottom panel should item"
Reproducible with Prettier extension: https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode
<img width="135" alt="Screen Shot 2019-03-24 at 15 00 46" src="https://user-images.githubusercontent.com/3082655/54880553-ef89b480-4e45-11e9-8d4f-e8ffdc3a51cb.png">

[2019-03-24 14:07] akosyakov opened #4686 "plugin formatting providers are not applied"
Reproducible with Prettier extension (https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode) and repo (https://github.com/prettier/prettier)

[2019-03-24 19:15] svenefftinge commented on #4124
I agree we should support the latest released version. Ideally we'd go with a release schedule similar to vs code.

[2019-03-25 01:54] opiation commented on #4403
Apologies.  I had missed a detail which became apparent after retrying on a different machine.  I only encountered these errors when running the image as prescribed but with the docker daemon being user-namespaced.  I did not encounter these errors when I disabled the user-namespacing and retried with the exact same commands.

I suppose since the example instruction on your site does not mention u

[2019-03-25 04:05] jgbradley1 commented on #4088
If I understand the codebase correctly, it looks like the [backend server](https://github.com/theia-ide/theia/blob/8d151a6db3e74d573efff565f547a8581ed14eb0/packages/core/src/node/backend-application.ts) in an express server. If so, [express-formidable](https://www.npmjs.com/package/express-formidable) might be a better option to use.

[2019-03-25 04:54] 502647092 opened #4687 "golang def error"
### Description
![image](https://user-images.githubusercontent.com/10203793/54895920-d6900a80-4efc-11e9-9e10-6b45cc0c78b6.png)

### Reproduction Steps
[code]

Press down Ctrl and Click `NewEnvClient`

**OS and Theia version:**
latest next docker version
theiaide/theia-go:next

**Diagnostics:**

[2019-03-25 07:01] benoitf commented on #4124
hello, I wanted to update it this week before cutting down the release (was on my TODO list)

[2019-03-25 07:14] kittaakos commented on #4558
Closed via https://github.com/theia-ide/theia/pull/4682

[2019-03-25 07:14] #4558 closed

[2019-03-25 07:50] kittaakos commented on #4683
Where is the test failure?

[2019-03-25 09:22] tsmaeder commented on #4124
Yes, I think we'll need to track VS Code API. Currently, we're quite a bit behind in what we implement. We'd need to allocate some resources to catch up now and keep current in the future.

[2019-03-25 10:19] kittaakos opened #4689 "[quality][java][ls] Get rid of the duplicate `SemanticHighlightingInformation` from the Java extension"
The protocol extension is already defined in https://github.com/theia-ide/theia/blob/0b833d5cb747c6c72a45a1f00fd1097042aedb4b/packages/languages/src/browser/semantic-highlighting/semantic-highlighting-protocol.ts#L28.

For the record, the duplicate type definition does not cause any issue.

[2019-03-25 10:35] #4678 closed

[2019-03-25 10:49] 502647092 opened #4691 "tab icons not shown correctly"
### Description
![image](https://user-images.githubusercontent.com/10203793/54913760-70bc7680-4f2e-11e9-9757-e0ce8cb521fd.png)
![image](https://user-images.githubusercontent.com/10203793/54913789-8762cd80-4f2e-11e9-953c-37332d31e5a1.png)

### Reproduction Steps

**OS and Theia version:**
latest next docker version
theiaide/theia-full:next

**Diagnostics:**
maybe need remove margin-bottom on `.p-Ta

[2019-03-25 11:01] vince-fugnitto commented on #4691
the same also occurs for files without any extension.
![Screenshot from 2019-03-25 07-00-13](https://user-images.githubusercontent.com/40359487/54914666-d7f50f00-4ecb-11e9-99e0-cd4f8c3b8200.png)

[2019-03-25 11:05] vince-fugnitto commented on #4691
other errors occur when moving widgets into the `main-panel`.
there is no icon, and the spacing is off.

![Screenshot from 2019-03-25 07-03-47](https://user-images.githubusercontent.com/40359487/54914839-4e920c80-4ecc-11e9-86d1-46c994c96110.png)

@svenefftinge they are a result of the changes introduced from #4670

[2019-03-25 11:12] vince-fugnitto opened #4692 "first tree node capitalized"
The first node is now capitalised in `tree` widgets. This change also affects the file dialog which seems odd and inconsistent with the os' dialog.

<div align='center'>

![Screenshot from 2019-03-25 07-09-38](https://user-images.githubusercontent.com/40359487/54915303-32429f80-4ecd-11e9-8cee-dd10eed6c64e.png)

</div>

[2019-03-25 11:36] akosyakov opened #4693 "get rid of references to extension-manager everywhere"
from examples, docs, images

[2019-03-25 12:45] kittaakos opened #4695 "[tree] Scrolling in any tree widget causes error"
Tons of this in the browser console:
[code]

From here:
https://github.com/theia-ide/theia/blob/74d71420197d3baf9db99c7f50c380643fd01c47/packages/core/src/browser/browser.ts#L137

I am using 74d71420 on OS X in Chrome.

[2019-03-25 12:46] kittaakos commented on #4695
Steps to reproduce: scroll in a tree widget.

[2019-03-25 12:55] akosyakov commented on #4695
It's polluting logs. It would be good to have a look in it.

[2019-03-25 13:01] #4692 closed

[2019-03-25 13:18] #4661 closed

[2019-03-25 13:20] #4695 closed

[2019-03-25 14:01] akosyakov opened #4697 "cannot close the window even if I did not press Ctrl or W"
Caused by https://github.com/theia-ide/theia/pull/4688

[2019-03-25 14:26] dmirc opened #4700 "next version crash: Error: Couldn't find any versions for "@theia/monaco" that matches "0.5.0-next.74d71420""
Description

Following your documentation and installation process is not working:
https://www.theia-ide.org/doc/Composing_Applications.html

Breaking at # yarn command

### Reproduction Steps

[code]

[code]

[code]

**OS and Theia version:**
AWS instance Centos 7 latest, Theia version latest i guess from the json file.

**Diagnostics:**

[root@ip-192-168-1-199 my-app]# cat /home/centos/my-app/ya

[2019-03-25 14:34] akosyakov commented on #4700
Please clean yarn.lock and try again. yarn had issues today to publish next versions, now it should be good.

[2019-03-25 14:40] vince-fugnitto opened #4701 "[toolbar] support complex toolbars"
With the nice addition of `toolbar` support in Theia, it will also be useful to support more complex components which can ultimately be used to create `filter` and `search` boxes for various widgets.

Such complex toolbars can be used in the following example use cases to name a few:
1. **Problems:** `filter` found in the `problems-view` (presently in vscode)'

<div align='left'>

![Screenshot fro

[2019-03-25 15:17] #4697 closed

[2019-03-25 15:25] lmcbout opened #4702 "[preferences] Moving the preferences editor makes the workspace tab view disappear"
### Description
Dragging the preferences editor to the bottom/right side panel and the workspace preference page disappear, only the user preference remains.

### Reproduction Steps
1- File -> Settings -> Open Preferences
2- Drag the Preferences editor to the bottom panel
==> the workspace tab from the preference is gone

**OS and Theia version:**
Tested on Ubuntu 16.04

**Diagnostics:**

![Prefer

[2019-03-25 17:05] akosyakov commented on #4088
They are limitations to implementation.

With stable APIs:
- only files can be uploaded
- only with simple name (not a relative path)

With webkit: one can also uploads directories, but exclusively, i.e one cannot select files then.

Would it be alright to have two commands `Upload Files...` (based on stable) and `Upload Folders...` (available only for webkit)?

cc @jankeromnes @jgbradley1

[2019-03-25 17:23] jankeromnes commented on #4088
That would work for me, thanks!

Or what about just implementing a `Upload Files...` menu entry and not `Upload Folders...`? The underlying feature is non-standard, I don't think I've ever needed it such a thing, and all the use cases I can think of can be worked around (e.g. selecting all files in a directory, or uploading an archive instead).

[2019-03-25 17:34] vince-fugnitto opened #4704 "[styling] inactive editors in sidepanels look off"
The styling of inactive editors in the sidepanels look strange.
I would not expect to find the background color under the icon.

![Screenshot from 2019-03-25 13-32-48](https://user-images.githubusercontent.com/40359487/54941237-b9f6d100-4f02-11e9-811b-df0ed8da8488.png)

[2019-03-25 18:57] dmirc commented on #4700
Hi,

Works, but there is a lot of warnings during yarn build, not sure if thats normal or you should fix it?
Anyway here is the output:

[code]

[2019-03-25 18:57] theBadT commented on #1668
@kittaakos Error is still present. This does not seem to be a Theia IDE specific error, but rather comming from the used typescript-language-server. I'll have a look into it

[2019-03-25 19:03] marcdumais-work commented on #4700
@dmirc this looks normal.

Thanks for confirming the build is now working for you.

[2019-03-25 19:34] lmcbout commented on #4579
Fixes with PR https://github.com/theia-ide/theia/pull/4580

[2019-03-25 19:34] #4579 closed

[2019-03-25 19:46] kittaakos opened #4706 "Error when closing opened editors with alt+shift+w"
I have opened a few files and closed them with the `alt+shift+w`.

[code]

[2019-03-25 19:50] kittaakos opened #4707 "Error: Reference widget is not in the layout when DNDing widgets in the shell"
I do not know how to reproduce it.

[code]

[2019-03-25 19:54] kittaakos opened #4708 "TypeError: Cannot read property 'addWidget' of null: cannot open editor widgets"
I do not know how this happened but I have the snapshot link:
[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io#snapshot/f4ab76db-4948-40ed-a084-b5c15577d417)

[code]

[2019-03-25 21:07] theBadT commented on #1668
any ideas on how to change the target of the language server to es2015?

[2019-03-25 21:22] theBadT commented on #2678
"Open with" is not visible at all? Even on a single selection?

[2019-03-25 22:17] jgbradley1 commented on #4088
In VS Code, there is a single `Open...` command that allows the user to select either a file or folder. Maybe that behavior should be imitated with the `Upload Files...` command. Allow a user to select files or folders, perform a check to determine what was chosen, which would determine which upload method is used (stable browser API vs webkit).

[2019-03-25 23:45] vince-fugnitto commented on #4691
solved with the following changes introduced in #4690

[2019-03-25 23:45] #4691 closed

[2019-03-26 04:24] beeman commented on #4541
I've started a [proof of concept](https://github.com/beeman/theia-as-a-binary) with the goal of getting this to work. There's a [post on Spectrum](https://spectrum.chat/theia/general/running-theia-as-a-binary~4371db64-61eb-418f-aecb-c049ce27d42e) where I will share my progress.

[2019-03-26 04:40] kaviththiranga opened #4711 "several workbench.action.xxxx VSCode commands are missing"
Ran [theia-vscodecov](https://github.com/theia-ide/theia-vscodecov) against Ballerina [VSCode extension code base ](https://github.com/ballerina-platform/ballerina-lang/tree/master/tool-plugins/vscode) and found below three missing commands.

- ```workbench.action.focusPreviousGroup```
- ```workbench.action.openGlobalSettings```
- ```workbench.action.reloadWindow```

[2019-03-26 06:14] jgbradley1 commented on #4088
Useing @jankeromnes changes, I have a very crude implementation [here](https://github.com/jgbradley1/theia) using formidable. You can try it it out with gitpod. It doesn't parse out the uploaded file correctly just yet.

I think the file upload option should use the native file picker dialog box. It feels more intuitive than trying to create and maintain a custom dialog box.

[2019-03-26 06:58] akosyakov commented on #4088
I will start with that, but folder hierarchy won't be preserved, i.e. all files will be uploaded with simple names, if there are duplicates the last one wins. One can workaround it by drag & drop in the navigator.

As I explained, It is not feasible in browser context because standard limitations: there is not allow to select files OR folders. VS Code uses native Electron APIs for it.

[2019-03-26 07:05] akosyakov commented on #4706
Seems like editoconfig does not release a reference to a disposed Monaco model.

[2019-03-26 07:06] #3674 closed

[2019-03-26 07:07] kittaakos commented on #4700
The problem seems to be resolved; I am closing it. Please reopen if required.

[2019-03-26 07:07] #4700 closed

[2019-03-26 07:30] #4560 closed

[2019-03-26 07:32] akosyakov opened #4712 "file icons are not centered in sidebars"
<img width="72" alt="Screen Shot 2019-03-26 at 08 18 45" src="https://user-images.githubusercontent.com/3082655/54978810-a3538700-4fa1-11e9-919a-cb1aef61cbaa.png">

[2019-03-26 07:32] #4704 closed

[2019-03-26 07:33] akosyakov commented on #4712
@vince-fugnitto if you can have a look 🙏

[2019-03-26 07:36] kittaakos commented on #4468
This is still an issue with 59451b80.

![Screen Shot 2019-03-26 at 08 35 45](https://user-images.githubusercontent.com/1405703/54978994-37bde980-4fa2-11e9-8a7b-e74a0441ed1e.jpg)

[2019-03-26 07:39] akosyakov commented on #1668
It should pick it up from tsconfig.js in the root.

[2019-03-26 08:21] akosyakov commented on #4563
@kittaakos is it  dup of https://github.com/theia-ide/theia/issues/4468?

[2019-03-26 08:21] akosyakov commented on #4468
https://github.com/theia-ide/theia/commit/59451b801e873ae2f62f383f3a0df543e52468c4 does not seem to be related?

[2019-03-26 08:36] kittaakos commented on #4563
I think so.

[2019-03-26 09:42] jeffmaury opened #4715 "vscode.window.showWorkspaceFolderPick invalid"
### Description

Tried to validate VSCode Project Initializer. The extension loads, command is added but when I execute the command, it uses the vscode.window.showWorkspaceFolderPick API to retrieve one local folder to extract to and there are several issues:
- if my workspace contains two folders `f1` and `f2`, then only `/home/project` is proposed
- when I select the only proposition, the extens

[2019-03-26 10:22] vince-fugnitto commented on #4712
sure I can take a look, I also noticed something off with the json icon.

[2019-03-26 10:23] #4643 closed

[2019-03-26 10:23] #4635 closed

[2019-03-26 10:29] akosyakov commented on #4581
I believe it was not fixed and an incomplete solution was merged on master, i.e. there is a confusing preference now which does not change anything. This preference should affect editors in order a PR to be merged. @tolusha Please revert if you are not going to submit the rest today and reopen with complete solution.

[2019-03-26 10:39] tolusha commented on #4581
@akosyakov
Sorry, I might misunderstood something.
What does `complete solution` means?

[2019-03-26 10:40] benoitf commented on #4581
AFAIK step1 is done as announced. Also it's great to see that php VS Code extension could run as well.
IMHO there is no clear definition of "incomplete" or "done". Master should allow multiple-steps work as long as it doesn't break features.

[2019-03-26 10:46] akosyakov opened #4716 "files.associations does not work"
[code]

An editor for `*.go` languages should prefer typescript language, it does not.

[2019-03-26 10:47] akosyakov commented on #4581
@tolusha https://github.com/theia-ide/theia/issues/4716

[2019-03-26 11:42] marcdumais-work opened #4718 "[IP] add missing licenses to a few package.json"
### Description

To help a bit the IP scan done by the Foundation, it would help to add license info in the following packages, even though they are not published on NPM. This way they will not be highlighted as not having a license:

├─ UNKNOWN
│  ├─ @theia/example-browser@0.4.0
│  ├─ @theia/example-electron@0.4.0
│  ├─ @theia/ext-scripts@0.4.0

[2019-03-26 11:46] vince-fugnitto opened #4719 "[preview] docking preview editors in sidepanels does not work"
**Description**
Attempting to dock `preview` editors in the side-panels does not work.
If you attempt to move a `preview` editor you will notice an unrecognised file-icon and there will
be no content in the editor. If you attempt to move the editor again in any other panel, the editor is lost and the only way to recover is to reload the application.

**Reproduction Steps**
1. open an editor as a `

[2019-03-26 11:48] akosyakov commented on #4719
@vince-fugnitto Could you have a look into as well? this restyling caused so much issues 🙈 We just need to use an underlying editor icons.

[2019-03-26 11:53] vince-fugnitto commented on #4719
@akosyakov sure I can try, not sure I'll be able to tackle everything before Friday however :disappointed:
I'm also not sure if it was introduced by the UI refresh or in master for a while, I'll take a look.

[2019-03-26 12:05] vince-fugnitto commented on #4719
@akosyakov what do you mean by the underlying editor icon? do you mean we have a single `editor` icon for all docked editors? I was also thinking we might wanna normalize the icons to the same color like the widget icons when docked.

[2019-03-26 12:09] vince-fugnitto commented on #4719
the issue has been in master for a while it seems :( docking preview-editors in the sidepanels does not work.

[2019-03-26 12:17] #4718 closed

[2019-03-26 12:45] akosyakov commented on #4719
I don't think it is super popular use case, no one will drag editors in side panels, so the easiest fix would work. The same about normalizing colors, i doubt users would see it.

[2019-03-26 12:46] akosyakov commented on #4719
i see, then no hurry, editor preview is quite buggy right now, i avoid including it in docker images and so on

[2019-03-26 12:48] tsmaeder commented on #4581
To quote myself (hehe):

So is there more to do, @tolusha?

[2019-03-26 12:49] vince-fugnitto commented on #4719
sounds good, I'll leave the issue for now and tackle it if ever I find some spare time :)

[2019-03-26 12:49] tsmaeder commented on #4581
I would argue that this is not really a regression, since the preference was never honored anyway, correct?

[2019-03-26 12:57] jgbradley1 commented on #4088
Okay @akosyakov I understand what you are saying now.

I agree.

[2019-03-26 14:07] #4545 closed

[2019-03-26 14:21] akosyakov commented on #4581
it is not a regression, true, just a new bug, before Theia does not provide this preference in UI anywhere, now it does, but does not support

[2019-03-26 14:33] kittaakos opened #4723 "[LS] Cannot use `CreateFile`, `RenameFile`, and `DeleteFile` inside a `WorkspaceEdit`"
Spec: https://microsoft.github.io/language-server-protocol/specification#version_3_13_0

Currently, we use `vscode-base-languageclient@4.4.0` in Theia which has the following logic to handle `workspace/applyEdit`:
[code]
Link: https://github.com/Microsoft/vscode-languageserver-node/blob/5f9c993ff38f5c369949aeb359b3e9b178172dbc/client/src/client.ts#L3019

VS. the `5.1.0` version:
[code]
Link: https

[2019-03-26 14:35] kittaakos commented on #4723
This issue should be resolved as part of #4085. See [here](https://github.com/theia-ide/theia/issues/4085#issuecomment-454817896).

[2019-03-26 14:42] madankumarj opened #4725 "Package Theia for chromebooks"
### Description
Feature Request : This would be a great development environment to run on  chromebook, Can we may be comeup with steps to package it for chromebook

### Reproduction Steps

**OS and Theia version:** Chrome Os

**Diagnostics:**

[2019-03-26 14:48] kittaakos commented on #4725
Perhaps it is clear to others but not to me; what do you mean?

[2019-03-26 15:26] kittaakos commented on #4723
Here is a workaround, if you want to patch your extension's `LanguageClientFactory`:
[code]

[2019-03-26 18:33] kittaakos commented on #4723
This is a bug too:
https://github.com/theia-ide/theia/blob/21d54a761f02c500677290d36af9f38a4d54578a/packages/monaco/src/browser/monaco-workspace.ts#L337

[2019-03-26 21:12] theBadT commented on #4683
Request fails failed with error: fails failed Error: fails failed\n    at TestServer.fails (C:\projects\theia\packages\core\lib\common\messaging\proxy-factory.spec.js:57:15)\n    at JsonRpcProxyFactory.<anonymous> (C:\projects\theia\packages\core\lib\common\messaging\proxy-factory.js:217:73)\n    at step (C:\projects\theia\packages\core\lib\common\messaging\proxy-factory.js:47:23)\n    at Object.n

[2019-03-26 23:38] nils-mosbach opened #4727 "[question] Is there a way to debug apps running in Chrome (like Vue)?"
VS Code allows debugging of running applications within Chrome which is quite handy. To get this running an entry with type `chrome` can be defined in the `launch.json` configuration.

This is basically the setting I used for vue (https://vuejs.org/v2/cookbook/debugging-in-vscode.html) in VS Code.
[code]
If I try to run this in Theia it just gives me a warning that chrome is unsupported.
![image](

[2019-03-27 03:03] 502647092 opened #4730 "Terminal Chinese Language Not Support"
### Description
![image](https://user-images.githubusercontent.com/10203793/55047284-2b5b8e80-507f-11e9-99dd-2dab8b651beb.png)

### Reproduction Steps
**OS and Theia version:**
latest next version

**Diagnostics:**

[2019-03-27 03:06] 502647092 opened #4731 "Prevent opening files that are too large"
### Description
when i click a tar.gz file on explorer
theia is crash
i think we need add warn when open large file

### Reproduction Steps
create a large file
click on explorer

**OS and Theia version:**
latest next version

**Diagnostics:**

[code]

[2019-03-27 03:14] akosyakov commented on #4727
Have you tried to install https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome? It should work for local Theia, for remote scenarios it could be tricky: https://stackoverflow.com/questions/6827310/chrome-remote-debugging-doesnt-work-with-ip

[2019-03-27 03:29] akosyakov commented on #4730
Could you try to reproduce with pure xtermjs? I am not sure that we can do anything about it in Theia. You can also try with  https://github.com/theia-ide/theia/pull/4680 PR, it brings latest xterm js.

[2019-03-27 04:40] akosyakov commented on #4731
Something like in VS Code would be nice:
<img width="1802" alt="Screen Shot 2019-03-27 at 05 40 09" src="https://user-images.githubusercontent.com/3082655/55050804-d9047880-5052-11e9-8ede-ae11a23f19b9.png">

[2019-03-27 06:47] #4181 closed

[2019-03-27 07:17] kittaakos commented on #4731
Related: https://github.com/theia-ide/theia/issues/1470?

[2019-03-27 08:25] akosyakov commented on #4731
no, #1470 is about replicating document buffers on the backend for quick access from LS and VS Code extensions for example

[2019-03-27 08:59] akosyakov opened #4732 "investigate how to use formidable to rewrite drag and drop upload in the navigator"
A follow-up of https://github.com/theia-ide/theia/pull/4717
Also should resolve https://github.com/theia-ide/theia/issues/969

[2019-03-27 09:02] akosyakov opened #4733 "hidden files downloaded bogusly"
In order to reproduce try to download `.gitignore` file, it will be downloaded like `gitignore`.

[2019-03-27 12:03] vince-fugnitto opened #4734 "[beginner] minor typo in 'workspace-service'"
There is a minor typo in the `workspace-service.ts`.
`utitledWorkspace` should be `untitledWorkspace`.

https://github.com/theia-ide/theia/blob/9043bc1d652419dfd79706cce042b670803b2892/packages/workspace/src/browser/workspace-service.ts#L344-L347

[2019-03-27 12:19] kittaakos commented on #4723
Upstream question: https://github.com/Microsoft/monaco-editor/issues/1396

[2019-03-27 13:03] vince-fugnitto opened #4735 "[beginner] rename 'Reveal in Files' to 'Reveal in Explorer'"
Since we now name our **Files** widget as the **Explorer**, I propose we rename the command label `Reveal in Files` to `Reveal in Explorer`.

https://github.com/theia-ide/theia/blob/8c9ecd805d10c2152e7ed8901204670441fc0629/packages/navigator/src/browser/navigator-contribution.ts#L156

[2019-03-27 13:09] akosyakov commented on #4216
I've just tried grunt extension with grunt init example and it does not detect tasks at all.

[2019-03-27 13:43] vince-fugnitto commented on #448
closed thanks to #4628 :+1:

[2019-03-27 13:43] #448 closed

[2019-03-27 13:54] tolusha commented on #4581
#### How VS Code resolves language
There is a single location [1] where all associations stored. They come either from language registry [2] or from `files.associations` configuration property [3]. Language resolving comes to mimetype guessing [4] using registered associations where `files.associations` are prioritized.

#### How Theia resolves language
Basically it works the same. Through [5] it

[2019-03-27 14:22] akosyakov commented on #4581
There should not be dependencies between editor and filesystem extensions. It could be a tricky part. I think you can go ahead and implement, and then we can refactor it a bit together during review to break a dependency if it appears.

[2019-03-27 15:20] tsmaeder commented on #4581
I'm not sure fixing this would introduce such a dependency. @tolusha could you explain how your fix would look? It's not obvious to me from looking at the references sources.

[2019-03-27 15:31] debovema commented on #3729
Hi

This would also fix https://github.com/electron/electron/issues/15194 which was [merged](https://github.com/electron/electron/pull/15878) in Electron but backported only to 3.x and 4.x versions.

@thegecko : do you have an ETA for this issue ?

[2019-03-27 15:41] akosyakov commented on #4668
tried to implement it with just adjusting css styles and asking the area to fit its children:
![fullscreen](https://user-images.githubusercontent.com/3082655/55090135-dcc5e880-50ae-11e9-9c2e-f2acd3f8cffd.gif)

It needs some styling but could work like that. The drawbacks: (1) you don't see menu and status bars and (2) it does not work for side-bars nicely. But maybe it is not a big issue.

[2019-03-27 15:52] jankeromnes commented on #4665
This is https://github.com/xtermjs/xterm.js/issues/1974

[2019-03-27 15:59] jankeromnes commented on #4665
@vince-fugnitto and yes, the problem occurs consistently (for me at least, in Firefox Nightly on Mac).

I can make it go away by resizing the terminal just right, but if the size changes again it comes back. Also, there are particular widths at which it gets worse, and a combination of top/left/bottom borders appear (that you usually can't get rid of unless you also change the width).

I've tracke

[2019-03-27 16:01] vince-fugnitto commented on #4665
@jankeromnes I was able to reproduce as well but could not find a proper fix for it unfortunately :disappointed:
 It's good you narrowed it down.

[2019-03-27 16:26] thegecko commented on #3729
@debovema what timescales are you working to? I'm happy to update the branch to get it working again and open a PR for discussion with the rest of the team.

My issue was getting the tests passing, would you be able to help with that?

[2019-03-27 16:28] elaihau opened #4737 "intellisense not provided by preference editor in multi root workspace"
### Description
Preference editor provides intellisense based on the pref schema when theia open a folder as the workspace. However the intellisense does not work after users add more folders to the workspace.

### Reproduction Steps

![Peek 2019-03-27 12-21](https://user-images.githubusercontent.com/37082801/55093658-33213000-508b-11e9-9394-07ffb3204929.gif)

**OS and Theia version:**

Ubuntu 16,

[2019-03-27 17:53] d3lm opened #4738 "[Feature] Pass event to CommandHandler"
### Description
I was looking into the new sidepanel toolbar and I wanted to register a toolbar item for one of my sidenav widgets that, on click, opens a context menu with more actions. This requires the click event's payload in order to extract the `target` which serves as an anchor point for the context menu. Before we had the sidepanel toolbar I created my own toolbar widget and was able to ac

[2019-03-27 17:57] nils-mosbach commented on #4727
Installing the debugging extension works and might be an option for attaching to a running chrome instance if debugging is set to port 9229.
[code]
`request` of type `launch` is not supported, but `attach` should do the trick.
[code]
As you expected the challange is that this only works if theia can reach `localhost:9229`. I guess this might not be the default case for most theia deployments.

---

[2019-03-27 21:04] apatrida commented on #4482
@akosyakov

Do you mean a custom extension wrapping the one contributing the views to prevent it from doing so.  Or another extension which changes the defaults that cause things to vanish from other unrelated extensions?

[2019-03-27 22:35] Avi-D-coder opened #4739 "What unicode unit does theia use in lsp ranges?"
Does this project use UTF-8, UTF-16, codepoint, or grapheme cluster indexes for lsp ranges?

If this project uses a unit other than UTF-16 could/would you ever conform to the protocol 3.0 and use UTF-16?

I am conducting a [survey](https://github.com/Avi-D-coder/lsp-range-unit-survey) to inform the debate over what unit ranges should use in the [Language Server Protocol](https://github.com/Microso

[2019-03-27 22:48] jonnyhork commented on #4716
Hey @akosyakov, I've been sort of following along with this issue but I was hoping you could clarify some thing for me. If I understand the current state, it seems that the `files.associations` setting was added by #4713 but it is not yet functional after #4721? I'm curious because don't see the `files.associations` option in setting at all when I spin up the lates version of Theia `0.5.0-next.904

[2019-03-28 03:03] jgbradley1 commented on #4524
I mentioned this in the spectrum chat when the trash folder issue was brought up. I've encountered problems associated with having this trash folder exist. If Theia is deployed in a secure cloud where linux permissions are enforced for different mounted directories, the fact that I can't define where the Trash folder should be located can be the root cause for many read/write permission errors.

T

[2019-03-28 05:00] akosyakov commented on #4716
It is tracked https://github.com/theia-ide/theia/issues/4581. @tolusha could you help to answer please

[2019-03-28 05:07] akosyakov commented on #4482
It depends on what you want to remove. Generally everything is wired via DI, so you can always unbind/rebind everything. There are some widgets which accept default props, for them it would be enough to rebind default props. If there are not props then you rebind the widget itself or its contribution to change the default behaviour. If you need more specific help please name from what you want to

[2019-03-28 05:17] akosyakov commented on #4739
We rely on VS Code LSP client and editor, so it is UTF-16 for position encoding.

[2019-03-28 05:27] akosyakov commented on #2566
@elaihau i would give it a try, at least it should improve a situation for real paths, won't report events for all symlinks to this path though :(

[2019-03-28 05:43] Avi-D-coder commented on #4739
@akosyakov thanks

[2019-03-28 05:43] #4739 closed

[2019-03-28 07:02] zixuemeng opened #4740 "[git history]Click one commit, its status is changed to 'expanded', but the changed files in this commit are not shown"
### Description

### Reproduction Steps

**OS and Theia version:**
OS: mac
Theia version: 0.4.0

**Diagnostics:**
<img width="916" alt="20190328143934" src="https://user-images.githubusercontent.com/7857086/55136650-f710cc80-5169-11e9-949f-bc54ef64b9bc.png">

[2019-03-28 07:05] benoitf opened #4741 "[UX] Creating multiple folders with / in the name"
### Description
Let say I need to create `src/main/java` folder, I need to create first `src` then `main` then `java` while typically on IDE I can enter directly `src/main/java` and all three folders are automatically created

In Theia it displays `Invalid name, try other`

### Reproduction Steps
Menu File / New Folder
enter `src/main/java`

**OS and Theia version:**
macOS / master

**Diagnostics:

[2019-03-28 07:13] #4685 closed

[2019-03-28 07:18] akosyakov commented on #2566
discussed with @svenefftinge that it is fine for now, we will wait till one opens a real issue for it

[2019-03-28 07:26] akosyakov commented on #4124
@benoitf Would be fine if we bump it to 1.32.3 today or you see that something else should be done except changing a version?

[2019-03-28 07:29] benoitf commented on #4124
@akosyakov it may be a bit scary as I didn't provide yet the PR but I'm taking it care of it today (before the cut of the release)

[2019-03-28 07:35] akosyakov commented on #4124
It's just we want to use it in our products which depend on next and now there is no way to change it. Maybe we could make it an env variable that products who like to live on the edge can bump up a version early.

[2019-03-28 08:42] debovema commented on #3729
I am mainly targeting a browser app but having an Electron app would be good on the long-term.

I will try to run the tests and see what's wrong.

[2019-03-28 09:01] akosyakov commented on #4668
You can play with that in this PR: https://github.com/theia-ide/theia/pull/4744

[2019-03-28 09:06] #4740 closed

[2019-03-28 09:46] tolusha commented on #4581
@tsmaeder
From my understanding we need entity to track `files.associations` changes and respectively update mimetype resolver [1]

[1] https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/mime.ts#L109

[2019-03-28 09:53] tolusha commented on #4716
@jonnyhork
As @akosyakov  mentioned an implementation is tracked in https://github.com/theia-ide/theia/issues/4581
My initial plan was to fix extension loading https://github.com/theia-ide/theia/pull/4721
For the time being I postponed the issue https://github.com/theia-ide/theia/issues/4581

[2019-03-28 10:05] tsmaeder commented on #4581
That points to VSCode. Where does this code live in Theia, @tolusha ?

[2019-03-28 10:15] akosyakov commented on #4581
It should be already be in Monaco. It would be nice introduce something like `MimeService` stub class in core extension, implement and rebind in Monaco extension, and use in filesystem extension.

[2019-03-28 10:16] d3lm opened #4746 "[Feature] Stop loading further plugins if any plugin fails to configure"
### Description
To give you a little bit of context, what we want is basically a "two-factor" authentication where we check the user's authentication status before we load Theia and then once Theia is loaded, we have another safety guard which makes sure that the tokens were successfully set and configure them in the DI system to make them available for other services. The second step happens in a

[2019-03-28 10:23] #4124 closed

[2019-03-28 11:56] perguth commented on #3796
I experience that bug too. When first opening Theia everything is fine. After a bit of work (tabbing between windows etc.) the bug appears. (ChromeOS, PixelBook, Page zoom: 100%, "Looks like" 1714 x 1143)

![image](https://user-images.githubusercontent.com/85259/55155799-9036e780-5158-11e9-9d8b-29087ccbdd1a.png)

[2019-03-28 12:08] apatrida commented on #4482
I want the workspace with only a custom navigator, a custom toolbar, editor, and compiler messages, and output.  All menus gone, the functionality would be via the toolbar or automated by another plugin.

[2019-03-28 13:08] vince-fugnitto opened #4749 "[multi-root] unable to properly open `*.code-workspace` files"
#### Description
Theia becomes unresponsive when attempting to open `*.code-workspace` files
(vscode workspace files). This is likely due to the way we resolve the paths. Hovering over the explorer items shows the following for example: `/home/vince/Desktop//home/vin/workspace/ls-interact/` (notice the incorrect **path** and **double //**).

#### Reproduction Steps
1. ensure the multi-root prefere

[2019-03-28 13:34] kittaakos commented on #4733
It does not matter whether it is hidden or not but the leading dot (`.`) causes the issue. We set the `download` on the `HTMLAnchorElement` here:
https://github.com/theia-ide/theia/blob/b1533e21c3c9b8baedec126fde43682c2bf07fd3/packages/filesystem/src/browser/download/file-download-service.ts#L93

but when Chrome starts downloading it, it removes the leading dot.

[2019-03-28 14:51] toonvd commented on #2830
Closing this since there is no official language server for Perl.
People looking at this issue could use Perl extensions from VSCode Marketplace

[2019-03-28 14:51] #2830 closed

[2019-03-28 14:52] #4105 closed

[2019-03-28 14:52] marcdumais-work commented on #1284
Fixed via #4128

[2019-03-28 14:52] #1284 closed

[2019-03-28 14:55] vzhukovskii opened #4752 "Maximum call stack size exceeded during call showOpenDialog from plug-in side"
### Description
Calling [$showOpenDialog](https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/src/main/browser/dialogs-main.ts#L66) causes error with message:
[code]
and stack trace:
[code]

The same code, but used in dedicate extension in theia doesn't cause such exception.

### Reproduction Steps
Use Kubernetes vscode plugin in theia and call `Add Configuration File` menu action.

[2019-03-28 14:59] vzhukovskii commented on #3882
For this moment in progress implementing two actions:

* Kubernetes: Add File
* Kubernetes: Delete File

Found dependent issue, which temporary blocks the development: https://github.com/theia-ide/theia/issues/4752

[2019-03-28 16:44] uniibu opened #4754 "[Filesystem] 500 Error when downloading files with non-ascii characters"
### Description
Theia does not allow downloading of files/folders that uses some non-ascii characters on their filenames/folder names.

### Reproduction Steps
- Create a new file and name it `Φtest.txt` (you can copy/paste that and use as the filename)
- Once created download the file, Right-click -> download. It will not do anything, and if you check your browser's console, you will see an error

[2019-03-28 17:04] jonnyhork commented on #4716
Ok thanks, I'll keep an eye on #4581.

Does this mean there is currently no plan to continue work on the implementation at the moment?
I'm asking just so I can have a better understanding of the timeline for custom file associations and plan accordingly.

[2019-03-28 17:25] uniibu commented on #4733
Even on Firefox, instead of removing the dot, it replicates the filename like `gitignore.gitignore` . Afaik, this is more of a limitation with Windows since it doesn't allow you to normally create files/folders that starts with dots, you'd have to use command line or power shell etc to be able to create one.

[2019-03-28 17:44] simark opened #4756 "[cpp] Replace . with -> when typed after a pointer"
Eclipse CDT has this nice feature where if you have a pointer, `struct potato *p;` and type `p.`, the dot will automatically be replaced with an arrow, to give `p->`.  We should investigate if it would be possible to implement this today with the existing LSP capabilities.

[2019-03-28 17:55] kittaakos commented on #4733
@uniibu, please confirm; does the download work on FF? See: https://github.com/theia-ide/theia/issues/4248

The leading dots are removed on macOS. However, I found something similar: https://apple.stackexchange.com/questions/295601/prevent-web-browser-renaming-downloaded-files-with-dot.

Maybe

 I think it is not a `@theia/filesystem` issue.

[2019-03-28 21:02] marechal-p opened #4757 "RPC calls don't properly transfer arrays"
### Description
It might be a long standing bug, just hit me again today: Sending arrays through our RPC infrastructure will transform arrays of values into the first value.

send([1, 2, 3, 4])
recv() == 1

### Reproduction Steps
Not really sure how to reproduce, anytime I had to write a backend service using a protocol expecting an array as argument, it would fail.

[2019-03-29 03:40] daisuke-yoshimoto commented on #3477
@akosyakov
This issue seems to be reproduced in the latest version (v0.5.0). In v0.4.0, it does not reproduce.

[2019-03-29 03:45] akosyakov commented on #4727
Chrome has API to allow apps run debuggers: https://developer.chrome.com/extensions/debugger as far as I know chrome debug adapter is running on the top of Chrome debug protocol, so it could be that one can connect them without any need for remote communications if you run Theia and Vue app in the same instance of Chrome. One has to investigate further.

[2019-03-29 05:04] HighCommander4 commented on #4756
Indeed, this is a nice feature.

I can think of a couple of ways to accomplish this within the current LSP protocol:

  * Don't replace the `.` with `->` as soon as it's typed, but offer completions as-if `->` had been typed, and when accepting a completion, replace the `.` with `->` as part of the completion. The protocol gives the server the flexibility to perform arbitrary text edits when accep

[2019-03-29 08:07] kittaakos commented on #4757
Same as #4310 and #4343.

[2019-03-29 08:07] #4757 closed

[2019-03-29 08:39] kittaakos commented on #4733
Sorry, I did not notice the download handler is in FS.

[2019-03-29 09:26] tsmaeder commented on #4716
We'll get back to it in our next sprint (starting week after next)

[2019-03-29 10:04] akosyakov opened #4758 "[vscode] tasks.executeTask is missing"
Required for rust lang extension to install tooling and run tests from code lenses.

GH repo: https://github.com/rust-lang/rls-vscode

[2019-03-29 10:11] #4088 closed

[2019-03-29 10:11] #2566 closed

[2019-03-29 11:08] akosyakov opened #4759 "Multiple status bar entries from rust vscode extension if tooling is not installed."
<img width="1786" alt="Screen Shot 2019-03-29 at 12 01 47" src="https://user-images.githubusercontent.com/3082655/55228768-46fb9c00-521b-11e9-964f-8076c8ecd5f9.png">

Extension: https://github.com/rust-lang/rls-vscode

[2019-03-29 12:11] #4516 closed

[2019-03-29 12:28] akosyakov commented on #4334
@thegecko are you working on it? I would like to implement it. It goes well together with https://github.com/theia-ide/theia/issues/4524

[2019-03-29 12:30] vince-fugnitto commented on #4758
Would you mind if I take a look into it  and learning @akosyakov?
I want to start contributing and helping out in the plugins area and @elaihau has already made significant efforts making our tasks compatible with vscode :)

[2019-03-29 12:51] akosyakov commented on #4758
sure, it would be nice if @elaihau opens a draft PR that progress is visible for others

[2019-03-29 12:59] elaihau commented on #4758
here it is: https://github.com/theia-ide/theia/pull/4761
i am currently on problem matchers, problem patterns, and task definition.

[2019-03-29 13:12] thegecko commented on #4334
Not at the moment, please feel free to pick this up.

[2019-03-29 15:44] uniibu commented on #4733
With my patch at PR https://github.com/theia-ide/theia/pull/4762 i can confirm that on firefox it does not remove the dot but instead, prefixes it with the same name. So `.gitignore` becomes `gitignore.gitignore`

[2019-03-29 15:50] vzhukovskii commented on #4752
During investigation, what was found:

sample code to reproduce the problem:
[code]

The problem reproduces only when configuration is passed:
[code]

But when this one is passed in dialog options:
[code]
issue disappear and dialog works as well.

Trying to find best solution to check, whether selected item in tree is non-leaf item.

[2019-03-29 15:52] vzhukovskii commented on #4752
Possible workaround at this moment is to set `canSelectFolders` to `undefined` if it doesn't need to be set.

[2019-03-29 15:55] jankeromnes commented on #4088
🎉 🎉 🎉 Many thanks @akosyakov!

[2019-03-31 01:30] 502647092 opened #4765 "textmate support config TokenizerOption lineLimit"
### Description
![image](https://user-images.githubusercontent.com/10203793/55283499-4be55a80-5397-11e9-8db7-78da3c7d256c.png)

### Reproduction Steps
- create a html file
[code]

**OS and Theia version:**
latest next version

**Diagnostics:**

[2019-03-31 09:47] theBadT commented on #2229
which button do I have to press, to get to that view? @kittaakos

[2019-03-31 11:38] theBadT commented on #2229
I can't see any tooltips coming up, at all

[2019-04-01 09:03] kittaakos commented on #4765
According to the default TextMate [tokenizer option](https://github.com/theia-ide/theia/blob/636533952fd4b42cfc834e346ec3402f0c5db343/packages/monaco/src/browser/textmate/textmate-tokenizer.ts#L56), the line limit is 400 characters. If one of the lines has exceeded this limit, the TextMate tokenizer in the subsequent lines will be broken.

[2019-04-01 09:04] kittaakos commented on #4725
@madankumarj, what do you mean by packaging.

[2019-04-01 09:14] tsmaeder commented on #3956
@akosyakov I'm not sure that "workaround" will work once the theia repo moves to the eclipse org. The examples will very likely consume the extensions from npm, which will require a CQ.

[2019-04-01 09:29] akosyakov commented on #3956
@tsmaeder it won't delay. These extensions are not used in this repo, theia-apps is not going to be moved under eclipse org. But I agree that we should file CQs for them (not for vscode-builtin-extensions, it does not contain them) to allow Eclipse products to use them.

[2019-04-01 09:58] svenefftinge opened #4767 "[terminal] IDE freezes with bad preference setting"
A setting of `"terminal.integrated.lineHeight": 0` causes the IDE to freeze on load.

[2019-04-01 10:07] akosyakov commented on #4767
@svenefftinge How critical is it? Should i have a look?

[2019-04-01 10:16] akosyakov opened #4768 "Run Task command and quick task palette should behave in the same way"
In VS Code they behave the same, in Theia they don't. For instance one cannot configure tasks from the quick task in Theia.

`Run Task` in VS Code:
<img width="638" alt="Screen Shot 2019-03-27 at 14 32 38" src="https://user-images.githubusercontent.com/3082655/55080122-d5e2aa00-509d-11e9-8843-effeaaaf9ac2.png">

Quick task in VS Code:
<img width="645" alt="Screen Shot 2019-03-27 at 14 32 55" src="

[2019-04-01 10:18] akosyakov opened #4769 "Support recently used tasks"
`Run Task` command and the quick task palette should support `Recently used tasks`, like in VS Code.

`Run Task` in VS Code:
<img width="638" alt="Screen Shot 2019-03-27 at 14 32 38" src="https://user-images.githubusercontent.com/3082655/55080122-d5e2aa00-509d-11e9-8843-effeaaaf9ac2.png">

Quick task in VS Code:
<img width="645" alt="Screen Shot 2019-03-27 at 14 32 55" src="https://user-images.git

[2019-04-01 10:23] akosyakov opened #4770 "Align quick task palette look with VS Code"
- Recently used, configured and detected tasks should be visually separated by a line.
- Quick task description should be aligned with VS Code. One should investigate how it works there. On the first glance it is only present if there are more than one root, otherwise it is obvious and only clutter the palette.
- Align configure action icon to right border. For some reasons there are more space fo

[2019-04-01 11:42] Leletir commented on #3771
@tolusha How did you manage to install the python debugger ?

[2019-04-01 11:46] tsmaeder commented on #3956
I know this is not first priority for the rest of the community, but I'm fear that we might have a problem with this in Che.
@akosyakov I don't quite understand the comment about "vscode-builtin-extensions". Don't we want to reuse those?

[2019-04-01 12:43] tolusha commented on #3771
@Leletir
yes, have you tried? https://marketplace.visualstudio.com/items?itemName=ms-python.python

[2019-04-01 12:57] akosyakov commented on #3956
`vscode-builtin-extensions` does not contain code, it uses VS Code as git submodule, pull it, rebuilds and publish to npm. Extension code still belong to VS Code repo, so i thought a CQ should be opened against VS Code. Maybe i'm wrong. I also will be completely fine if someone else opens a CQ.

[2019-04-01 12:57] Leletir commented on #3771
I'm using it on VS Code, so you've build Theia from source and added the `plugins` folder with this extension on it, isn't it ?

[2019-04-01 14:03] svenefftinge commented on #4767
Not super critical as it only happens in a very rare case. But when it happens its a show stopper. So we should look at it soon.

[2019-04-01 14:43] tsmaeder opened #4773 "Plugin User Preferences are ignored"
I tried to change the startup parameters for jdt.ls in the vscode-java plugin (installed via "deploy plugin by id") by setting the preference key ```java.jdt.ls.vmargs```. However, the java process would always use the default value for that preference.
Debugging in Chrome showed that the preference value from the user preferences is rejected, because the key ```java.jdt.ls.vmargs``` is not presen

[2019-04-01 14:53] tsmaeder commented on #4773
I noticed that "setSchema()" generates a preferences changed event, but the "newValue" that is propagated with this even is not the value from the user preferences, but the default value. The correct thing to do would be to report the value from the user preferences.

[2019-04-01 15:04] tsmaeder commented on #4773
The fact that the reported value is wrong would not really matter (the prefs in the plugin container are reinitialized with all prefs from the client side), except that parsing the user preferences throws away any keys that are not in the preference schema, and that the preferences are not invalidated and re-read when the schema changes.

[2019-04-01 19:33] marcdumais-work commented on #3956
@akosyakov @tsmaeder @benoitf
Maybe we can discuss this during tomorrow's dev meeting?

[2019-04-02 03:08] jgbradley1 commented on #3956
One small request as this is under development: imagine a scenario where Theia is run offline (no internet access). Consider adding a preference setting that allows users to connect to a private extension marketplace/gallery. Do not hardcode in Microsoft's marketplace. Otherwise Theia will only work online.

This would be useful for privately hosted instances of Theia inside company networks. Some

[2019-04-02 04:41] uniibu commented on #4767
I stupidly set this to test on my gitpod workspace and now I can't open any repo from github or any previous workspace on gitpod. So basically, i can't use gitpod anywhere lol. @svenefftinge or @akosyakov have any idea?

[2019-04-02 04:43] akosyakov opened #4775 "get rid of cluster module"
Since we don't use extension-manager, cluster module can be removed to simplify the process structure.

We should check though that we don't break forking of fs watching and git repository location discovery processes with this change.

[2019-04-02 04:52] akosyakov commented on #4767
@uniibu i will ask @svenefftinge to clean your user settings when he is around

[2019-04-02 04:52] uniibu commented on #4767
Ok, I was able to put back the `terminal.integrated.lineHeight` to 1 by manually editing the `settings.json` for a workspace/repo and opening that on gitpod, so it overrides the user settings.

[2019-04-02 05:11] akurinnoy commented on #4773
@tsmaeder this issue should be fixed by https://github.com/theia-ide/theia/pull/4743

[2019-04-02 05:19] akosyakov commented on #4482
@apatrida I think you will need to implement custom `ApplicationShell` to replace the menu bar with a custom toolbar. To provide custom navigator, you just don't use `@theia/navigator` and implement own. For problems and output you should add `@theia/markers` and `@theia/output` extensions.

[2019-04-02 05:20] akosyakov commented on #479
Related https://github.com/theia-ide/theia/issues/4482

[2019-04-02 06:14] DoroNahari commented on #4363
I Implement an extension like @benoitf referenced.
When running Hosted Plugin, Theia validate connectivity to the new tab's url
( https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/src/hosted/node/hosted-instance-manager.ts#L210 ).

In our landscape, user need to be authenticated and since the "ping" is in theia backend the authentication token is missing so the ping returns false

[2019-04-02 06:16] benoitf commented on #4363
some hooks can be added in theia to add some headers (auth) to the request

[2019-04-02 07:12] theBadT commented on #3161
#3096 has been merged. Anything else you're waiting for?

[2019-04-02 07:22] spoenemann commented on #479
Is there anything left to do here? Should we extract an interface from ApplicationShell?

[2019-04-02 07:31] DoroNahari commented on #4337
Issue solved with latest plugin packager version. Thanks

[2019-04-02 07:31] #4337 closed

[2019-04-02 07:32] #4270 closed

[2019-04-02 07:39] svenefftinge opened #4776 "Turn autosave off by default"
We should align the default behavior of autosave being off with VS Code.

[2019-04-02 07:52] slemeur commented on #4776
why?

[2019-04-02 07:53] slemeur commented on #4776
VSCode is not running in the same environment than Theia.
As such, the behaviors and the experience provided to Theia must be adapted to the environment where it runs.
Defaulting the behaviors of Theia to replicate VSCode could lead in a non-optimal experience.

[2019-04-02 07:54] svenefftinge commented on #4776
It confuses people switching between Vs Code and Theia back and forth.

[2019-04-02 07:56] svenefftinge commented on #4776
Why is Theia not running in the same environment as VS Code? I think it can run anywhere where VS Code is used and even runs all its extensions which are built with the VS Code behavior in mind. Some extension don't work so nicely with autosave turned on.

[2019-04-02 07:57] akosyakov commented on #4776
You can override default settings for your app after this PR is merged: https://github.com/theia-ide/theia/pull/4766/files#diff-163ff56fd2fd53d36d314074510353c0

[2019-04-02 08:11] akosyakov commented on #479
It is hard right now, one has to understand `ApplicationShell` and remove stuff. Having an interface probably would help.

[2019-04-02 08:16] slemeur commented on #4776
Theia is running in the browser and when you are coding from your browser, the experience is different than when you are coding on an electron application.
Theia can be used as an editor in a cloud environment - meaning it is used remotely, there can also be connectivity or network issues.

I'm not saying you should not change the default behavior, but I wanted to pointed out that we should not co

[2019-04-02 08:18] spoenemann commented on #479
But that would mean we need to inject a Symbol instead of the class, so it's possibly a breaking change? Do you think it's worth the effort?

[2019-04-02 08:22] akosyakov commented on #4776
Theia is running in Electron on Desktop.

[2019-04-02 08:24] jbicker commented on #3161
Hi, sorry. No there is actually nothing I am waiting for anymore regarding this issue.

[2019-04-02 08:33] svenefftinge commented on #4776
As Anton pointed out, Theia is not browser, only.
But even if it were I don't understand why applications running in browsers should use auto-save and others don't (or vice versa). If I am offline, saving doesn't work no matter it's triggered automatically or not. And there is no problem with keeping dirty editor state in you browser until you can reconnect again.

For Theia, the general approach

[2019-04-02 08:42] akosyakov commented on #4687
@502647092 I cannot reproduce it on master step.

Could you explain how do you create a project? I've added `main.go` file in $GOPATH and then did `go get` to pull `api/types` and `client` dependencies. After that navigation works. Could it be that you are missing dependencies? Or you project is not in $GOPATH?

[2019-04-02 08:48] #4334 closed

[2019-04-02 08:48] #4524 closed

[2019-04-02 09:10] akosyakov commented on #3161
@theBadT Do you want to look into it? @jbicker would it be fine with you?

[2019-04-02 09:48] ensorrow commented on #4707
I can easily reproduce this error when trying to go to the definition of some snippets.

[2019-04-02 11:06] #3778 closed

[2019-04-02 11:07] #3059 closed

[2019-04-02 11:08] 502647092 opened #4779 "debug-nodeejs build error"
### Description
[code]

### Reproduction Steps
**OS and Theia version:**
latest next

[2019-04-02 11:09] 502647092 commented on #4779
![image](https://user-images.githubusercontent.com/10203793/55398338-dafe9800-557a-11e9-9844-e55bd370c691.png)
emm....

[2019-04-02 11:09] #4779 closed

[2019-04-02 11:55] #4741 closed

[2019-04-02 12:17] nils-mosbach commented on #4776
I find the autosaving feature quite handy, but while playing around at some projects, this also leads to compile errors. e.g. if maven automatically hot deploys code changes while typing. I guess the same goes for running node in debugging mode.

[2019-04-02 12:29] vince-fugnitto commented on #4741
@benoitf I'm wondering, would it be useful in your case to also be able to flatten the Explorer. I know that Java projects often have very long package names such as (`com.domain.package.task`).

 Instead of displaying the following in the Explorer:

[code]

We can optimize the display to:
[code]

In essence, if we find that there are a single child node in a directory which itself is a directory

[2019-04-02 12:35] #4776 closed

[2019-04-02 12:38] kittaakos opened #4780 "[ui/ux] Predefined font colors are hardly visible with the bright theme"
`--theia-ui-font-color3` does not play well with the `--theia-border-colorX` when the bright theme is the active one.

![Screen Shot 2019-04-02 at 14 00 45](https://user-images.githubusercontent.com/1405703/55402902-d9ba7480-5554-11e9-9147-6935899802b7.jpg)

[2019-04-02 12:39] toonvd opened #4781 "Vscode HTTPie extension compatibility"
### Description
The extension does not open the terminal when send request is clicked.
This is probably due to vscode.window.createTerminal not working.

https://github.com/wk-j/vscode-httpie/blob/d5a729d7c2f5b330bc419d5d7a30e74c41bcdf54/src/executor.ts#L4

### Reproduction Steps
- Install the extension:
   https://marketplace.visualstudio.com/items?itemName=wk-j.vscode-httpie#overview
- Create a

[2019-04-02 12:41] akosyakov commented on #3477
@daisuke-yoshimoto Could you give a hint how to reproduce on master?

[2019-04-02 12:42] benoitf commented on #4741
@vince-fugnitto yes that's also a nice improvement like it's done on github explorer as well
to flatten view when there is only one folder in child.

I like that ❤️

[2019-04-02 12:44] benoitf commented on #4741
@vince-fugnitto about your issue on entry in the middle, new Folder or new Package could contain a pre-populate content

[2019-04-02 12:54] kittaakos opened #4782 "[ui/ux][enhancement] As a user I would like to see the number of Git changes on the side-bar's icon"
Just as VS Code does. It shows a notification badge with the number of changes.

VS Code:
![Screen Shot 2019-04-02 at 14 47 35](https://user-images.githubusercontent.com/1405703/55403508-4aae5c00-5556-11e9-8af4-3bf78ebaee4d.jpg)

Theia:
![Screen Shot 2019-04-02 at 14 53 43](https://user-images.githubusercontent.com/1405703/55403901-2606b400-5557-11e9-9a6b-5a225cbf360f.jpg)

Perhaps the notificatio

[2019-04-02 12:55] benoitf commented on #4781
cc @AndrienkoAleksandr

[2019-04-02 12:57] jbicker commented on #3161
Absolutely.

[2019-04-02 13:05] vince-fugnitto opened #4783 "[explorer] flatten/compress folders in the explorer tree when possible"
One enhancement to the current `Explorer` is to be able to flatten the tree when possible (whenever a parent directory contains a single child directory).

Such an improvement will allow for numerous benefits and improve the display of large workspaces. One such example is a large Java project with long package names.

In essence, the following tree:

[code]

can be optimized to the following:

[c

[2019-04-02 13:05] vince-fugnitto commented on #4741
I added a separate issue highlighting the proposal https://github.com/theia-ide/theia/issues/4783 :smiley:

[2019-04-02 13:16] vince-fugnitto opened #4784 "[proposal] add 'References' widget"
I propose we implement and introduce the `References` widget in Theia.

![Screenshot from 2019-04-02 09-12-11](https://user-images.githubusercontent.com/40359487/55405183-7cf49500-5527-11e9-845b-b3371d021aaf.png)

The widget (triggered by the `Find All References` command) offers a more persistent option as compared to the `Peek References` command. It opens the search results in a designated widg

[2019-04-02 13:20] daisuke-yoshimoto commented on #3477
@akosyakov I'm sorry that I didn't have enough information. I will provide a project to reproduce.

[2019-04-02 13:25] vince-fugnitto commented on #4782
@kittaakos would you also expect the notification badge when not in the sidebar?
 (example: git was in the bottom panel)

[2019-04-02 13:32] kittaakos commented on #4782
When it is feasible, sure, why not? If the badges are supported for the horizontal tabs too, we should use them. That's why I added the screenshot from Eclipse.

[2019-04-02 13:38] akosyakov commented on #4784
We should use vscode extension: https://github.com/Microsoft/vscode-references-view

[2019-04-02 13:39] marcdumais-work opened #4786 "[dev-meeting] scheduled 1h later during "daylight saving" time"
ATM our dev meeting is [scheduled](https://github.com/theia-ide/theia/wiki/Dev-Meetings#purpose) "every Tuesday at 3 PM UTC". Now that both Europe and America have switched to DST, the meeting is 1h later vs before, local time.

I am personally ok with this time, but I think it may be a little late for some of our European contributors.

WDYT?

[2019-04-02 13:42] vince-fugnitto commented on #4784
Oh great! It looks like its the official extension and is shipped with vscode, it'd be great to try it in Theia :)

[2019-04-02 13:45] akosyakov commented on #4784
But there are many missing things yet to run it:
[code]

Someone has to look into them. Complete `TreeView` interface would be the easiest to start.

[2019-04-02 13:50] akosyakov commented on #4786
Today it is too late for me and @svenefftinge . Would 2 PM UTC work next week or it is too early for you?

[2019-04-02 13:58] marcdumais-work commented on #4786
Yes, the usual time seems fine with most, so we can switch to 2PM UTC starting next week.

[2019-04-02 14:41] toonvd commented on #4767
It also crashed when I accidentally set my font size to 1. So I think it is a general issue.

[2019-04-02 14:44] uniibu commented on #4767
I think its best to set a minimum hard limit for these settings to avoid crashing.

[2019-04-02 14:57] jgroom33 commented on #3053
I'm seeing this behavior while using an nginx forwarding setup also.  Currently, the forwarding is only configured to forward http traffic.  This worked with previous versions of theia, but not with the latest.
It seems the operation of theia is to use http (port 3000) + wss (port 443)
Is that correct?

[2019-04-02 15:55] vince-fugnitto opened #4789 "[electron] support macOS mojave dark mode"
Apple introduced a [system-wide dark mode](https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/dark-mode/) in Mojave (10.14) update.

It would be nice to able to support this new [theming](https://electronjs.org/docs/tutorial/mojave-dark-mode-guide) in Electron for users who like the Dark Mode.
This would mean enabling and supporting the dark mode for menus, applicati

[2019-04-02 16:09] benoitf commented on #4789
FYI when using Safari, web sites can also be compliant with dark mode. (10.14.4)

[2019-04-02 16:21] 502647092 commented on #4687
not in gopath
use gomodules

[2019-04-02 16:22] blastbeng commented on #4403
@opiation
I have the same exact error, i've seen you've talked abot user namespacing

How did you solve this error?

I have a folder owned by root user and trying to run theia as root on that folder, but getting permission denied when saving\creating\deleting new files

I've checked inside theia that it is running as theia user

[2019-04-02 16:23] 502647092 commented on #4765
how to config this prop

[2019-04-02 18:26] caseyflynn-google opened #4792 "[filesystem] XSS vulnerability on /files endpoint"
### Description

There is an XSS vulnerability that allows remote control execution on the /files endpoint of Theia.

### Reproduction Steps

Use the following payload to reproduce:

/files/?uri=%3Cscript%3E&uri=,alert(1)%3C/script%3E

[2019-04-02 18:54] marcdumais-work commented on #3956
Here's what I understand about the IP clearing (CQs or new proposed process) of the built-in VS Code extensions:
- ATM these extensions are not used in the main Theia repo.
- They will be crucial for any Theia-based application that wants to permit its users to use VS Code extensions
- if not "IP cleared" by us, any Eclipse project that wants to use them will need to do so, before being allowed to

[2019-04-02 18:59] toonvd opened #4794 "Copy pasting a file in the same directory"
### Description
Copy pasting a file in the same directory should either rename it (.1, .2) or ask for a new name before adding it. In the browser I get either "Please use the browser's paste command or shortcut." or nothing.

### Reproduction Steps
Copy paste

**OS and Theia version:**
Ubuntu v0.5.0

[2019-04-02 19:01] toonvd commented on #4794
I know the duplicate option exists, maybe it could be possible to trigger this action in this particular case?

[2019-04-02 19:09] vince-fugnitto commented on #4794
Yes, I just verified and calling the `duplicate` might be the way to go, it'll handle creating a unique URI (example: `a.py` to `a_copy.py`). That seems to align with how VSCode treats the copy pasting in the same directory.

[2019-04-02 19:12] vince-fugnitto commented on #4794
@toonvd  also, do you think the behavior of `duplicate` should be modified?

1. `a.py` to `a.1.py` (VSCode way)
2. `a.py` to `a_copy.py` (Theia way)

[2019-04-02 19:17] toonvd commented on #4794
It would be nice if we could align this, if you duplicate it multiple times it adds _2 anyways.
I could take a look at this on sunday. But need to familiarize myself with the core first.

[2019-04-02 20:08] vrubezhny opened #4796 "Add support for multiple scopes per a language"
### Description
For example PHP language can be used in its own files, like *.php as well as embedded into *.html code. In order to support it VSCode registers two different contexts for the same languages, see: https://github.com/Microsoft/vscode/blob/master/extensions/php/package.json#L32.
The same approach is required in Theia.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:*

[2019-04-02 20:31] vince-fugnitto commented on #4794
Sure, I can help you out if you ever have any questions

[2019-04-03 05:55] akosyakov commented on #4794
@toonvd Is it confusing somehow? The issue is that your browser does not support programmatic paster, so we cannot trigger it from the code. Only you can do it via browser menu -> paste.

[2019-04-03 06:00] akosyakov commented on #4796
@svenefftinge @kittaakos Is it possible at all? It could be an issue to reuse built-in vscode extensions.

[2019-04-03 06:13] akosyakov commented on #4767
@uniibu Could you take care about it? something like `Math.max(lineHeight, 1)` should do?

[2019-04-03 06:16] kittaakos commented on #1143
#4397.

[2019-04-03 06:16] #1143 closed

[2019-04-03 06:29] akosyakov commented on #4765
It does not look like it can be configured by a user only by a language contributor: https://github.com/theia-ide/theia/blob/5862b11c5809382e62ea9ea82e8ab03b14ad4a58/packages/monaco/src/browser/textmate/textmate-registry.ts#L21

We could introduce an option to override it per a language or file matching that a user can work it around.

[2019-04-03 06:48] akosyakov opened #4797 "[vscode] test and fix bogus param combinations to open dialogs"
Right now there seem to be missing cases for open dialogs when they are called from VS Code extensions. It would be good to set up a small VS Code extension contributing several commands with different options combinations, run it against Theia and VS Code side by side and fix missing cases and differences.

[2019-04-03 06:51] benoitf commented on #4797
hello, could you list your current missing case ?

[2019-04-03 06:53] benoitf commented on #4797
sorry, hit enter too soon. I wanted to bring source data in the notification. Is it part of your issue ?

[2019-04-03 06:57] akosyakov commented on #4797
My problem that there is no way to verify right no that there are no such cases. Looking at the code we don't have internal clients for some combinations and i doubt they work properly called from VS Code extensions. i.e. `no canSelectFolders` but allow multiple can leak actually folders.

[2019-04-03 07:01] #4599 closed

[2019-04-03 07:44] #4792 closed

[2019-04-03 07:56] toonvd commented on #4794
Hi @vince-fugnitto

The problem was I tested it via browser menu -> paste and it still did not have the desired effect. EG, copy paste of a file in the same folder should result in a duplicate like in VSCode. The "Please use the browser's paste command or shortcut." warning itself was clear enough for me.

[2019-04-03 08:13] akosyakov commented on #4794
ok, if you align it with VS Code it would be great

[2019-04-03 08:55] Progyan1997 commented on #3605
@akosyakov Should we have a separate extension/plugin alongside for broadcast? I am working on PoC, I can push changes if you guys are interested.

[2019-04-03 11:35] #4752 closed

[2019-04-03 11:48] marcdumais-work commented on #3956
Hi,

Sharon from the Foundation is suggesting that we give the new "self-scan" IP process for 3rd party dependencies a try with some "live" cases and then discuss it, in a meeting on Friday. I propose we use all the VS Code built-in extensions we publish from `theia-ide/vscode-builtin-extensions`, as a trial case.

Since I want to learn and document how to do this by ourselves and this may be a bi

[2019-04-03 13:00] akosyakov commented on #3956
Right now i don't have plans to republish them again. If only something is wrong with current.

Yes, but it won't happen till all built-in extensions running nicely, 1-2 months more.

[2019-04-03 13:09] marcdumais-work commented on #3956
@akosyakov ok, so then I will proceed with the individual `@theia/vscode-builtin-*` extensions that are currently published.

[2019-04-03 13:32] marcdumais-work commented on #4786
Since no one is objecting, I will modify the time on the dev-meeting wiki to 2PM UTC. We can switch back to 3PM in the fall.

[2019-04-03 13:32] #4786 closed

[2019-04-03 19:11] vince-fugnitto opened #4800 "[electron] unable to quit electron instance due to preference"
**Description**

Due to the `application.confirmExit` preference, Electron cannot be closed in the following scenarios:
1. If the preference has the value of `always`.
2. If the preference has the value of `ifRequired` with a dirty editor (unsaved changes).
3. If the preference has the value of `ifRequired` and an extension wishes to prevent exit.

**Reproduction Steps** (Simple Scenario)
1. Start

[2019-04-03 19:32] uniibu commented on #4767
We actually have `minimum` property for preferences, so setting this would suffice. Created PR #4801

[2019-04-03 19:37] marechal-p commented on #4800
See https://github.com/electron/electron/issues/2301#issuecomment-123736541

On electron, when `onbeforeunload` stops the unloading, it seems like it doesn't display dialog.
We have to implement that on our side.

[2019-04-03 23:22] ciampolo opened #4802 "[electron example] Add plugin support"
### Description
So I have placed the vscode chrome debug extension inside the theia git root folder/plugins. When I run the theia electron variant there isn't any plugin view at all and the extension isn't registered (electron theia says there is no "Chrome" debug type). I checked the stdout of the yarn run start command and the logs of the devtools, nothing about plugins or the chrome debugger. T

[2019-04-04 01:02] marcdumais-work commented on #4802
The plugin extensions are not currently part of the [Electron example application](https://github.com/theia-ide/theia/blob/master/examples/electron/package.json#L46). I do not know if it was just missed or if it's because there's an issue.

Untested patch where they are added [here](https://github.com/marcdumais-work/theia/commit/a399231e1924679b7b68f90edfc3e91a7d548380)

[2019-04-04 01:31] 502647092 opened #4803 "auto switch git repo when switch file in editor"
### Description
auto switch git repo when switch file in editor
or support multi git repo manager like vscode
![image](https://user-images.githubusercontent.com/10203793/55523559-76e3ed00-56bc-11e9-8a65-d2eaaeb7e589.png)

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-04-04 02:02] ciampolo commented on #4802
While the plugin extension is loaded correctly now it doesn't actually load the vscode extensions.

Your reverts https://github.com/theia-ide/theia/pull/3737 so it should work but apparently there is other code left to modify.

[2019-04-04 02:39] BoykoAlex commented on #2363
@akosyakov is there more detailed info about how get frontend preferences in LS start options `parameters` property? I took *cpp* package as example (the `args` parameter).
Here are all references in the code that I mirrored in my code:
Node side:
https://github.com/theia-ide/theia/blob/master/packages/cpp/src/node/cpp-contribution.ts#L22
https://github.com/theia-ide/theia/blob/master/packages/cpp

[2019-04-04 05:45] benoitf commented on #4802
FYI it was disable by https://github.com/theia-ide/theia/issues/3723

[2019-04-04 06:52] akosyakov commented on #2363
@BoykoAlex in the frontend side cpp preferences are converted into start parameters here: https://github.com/theia-ide/theia/blob/b1df8fc6df895b9a473911fe5d91320a8bc55d07/packages/cpp/src/browser/cpp-language-client-contribution.ts#L145-L152

[2019-04-04 07:03] akosyakov commented on #4802
Someone should fix #3651 and #2210 then we can enable it.

[2019-04-04 07:55] DoroNahari commented on #4363
On second check, probably the authentication is not our problem. It is because we have a url redirect and the ping doesn't follow it.
@benoitf I think the ping should support redirecting, such that it will return true to a status code 302 or even to a range from 200 to 400.
Do you agree?

[2019-04-04 07:58] benoitf commented on #4363
@DoroNahari if there is a redirect it should probably follow the redirect and return true if redirect link is 200 not return true from 200 to 400.
Let say it's redirected to a URL that is not yet ready, returning true would lead to inconsistent state as well

[2019-04-04 08:00] a1994846931931 opened #4804 "vscode-plugin: debug.registerDebugAdapterDescriptorFactory and debug.registerDebugAdapterTrackerFactory are not implemented."
### Description

When I tried to install this [plugin](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools), I got this error:

[code]

So I look into the source code, and found out that neither `debug.registerDebugAdapterDescriptorFactory` nor `debug.registerDebugAdapterTrackerFactory` is implemented by theia.

### Reproduction Steps

- Download cpptools-linux.vsix from https:/

[2019-04-04 08:04] benoitf commented on #4804
Thanks for the report. These methods are not yet implemented in Theia https://che-incubator.github.io/vscode-theia-comparator/status.html

[2019-04-04 08:23] vzhukovskii opened #4805 "Respect the type of click event during node selection in tree views on plugin side"
### Description
There is a problem, in concrete case it reproduces with Kubernetes Plugin.
When user opens Kubernetes Explorer and goes into specific nodes, for example to see configuration maps and select it with right click to call the context menu, the plugin side doesn't respect type of mouse click event and in any case call procedure to open selected node. This can be shown in rpc calls from

[2019-04-04 10:51] yeweiasia opened #4807 "gotodefinition command failed in editor preview mode"
### Description
when a file was opened in preview mode, if you want to jump to definition by press "ctrl + mouse_single_click" will fail with "Uncaught Error: Reference widget is not in the layout." exception in browser console.

### Reproduction Steps
step 1: open a file in preview mode
![step-1](https://user-images.githubusercontent.com/16164849/55550241-5478c080-570a-11e9-8de5-f622d6e78e0b.png)

[2019-04-04 12:28] vince-fugnitto opened #4808 "[electron] explorer does not update properly"
**Description**
When using Electron, the `Explorer` does not update correctly when adding
new files, folders or performing deletions.

**Reproduction Steps**

_Creation_:
1. Add a new **file** / **folder**.
2. Notice that the `Explorer` is not updated (new item is not added).
3. Collapse the tree from the root node (first item), and un-collapse it again.
4. Notice that the `Explorer` is now update

[2019-04-04 13:08] vince-fugnitto opened #4809 "[electron] overwriting saved file asks for two confirmations"
**Description**

In Electron, when performing a `Save` using the native `SaveDialog`, two confirmations are asked of the user (one native, and one from the browser). Since saving is handled by the native dialog, I'd expect not to see the browser confirmation and only the electron one.

**Reproduction Steps**
1. Perform a `Save Workspace As...` and save with a name and to a directory of your choice

[2019-04-04 14:36] akosyakov commented on #4459
I can reproduce it with https://marketplace.visualstudio.com/items?itemName=hoovercj.vscode-power-mode wanted to have some fun :)

[2019-04-04 15:30] vince-fugnitto opened #4811 "[workspace] misleading `isMultiRootWorkspaceOpened` implementation"
The following implementation for the method `isMultiRootWorkspaceOpened()` is misleading.
https://github.com/theia-ide/theia/blob/a27cbd0bfcc03ccc36044e51c6bd341d7f5eb93a/packages/workspace/src/browser/workspace-service.ts#L267-L269

The method checks whether there is a workspace opened and that the preference is on.
This is a false positive and does not accurately describe if a multi-root workspa

[2019-04-04 15:56] vince-fugnitto opened #4812 "[filesystem] handle copy with equal source and target destinations"
When performing a `filesystem` `copy` where the `source` and `target` destinations are the same, an error is thrown by [`fs-extra`](https://github.com/jprichardson/node-fs-extra/issues/657), even when the `overwrite` flag is set to true.

Since copying **files** or **folders** to itself does not make sense, an additional check should be made to ensure the paths are different and skip the copy alto

[2019-04-04 16:52] elaihau commented on #4811
you are right. `isMultiRootWorkspaceOpened` does not return what its name indicates. it should be renamed into something like `isMultiRootWorkspaceEnabled`.

[2019-04-04 17:40] BoykoAlex commented on #2363
@akosyakov thank you very much! Working now!-)

[2019-04-04 19:25] lmcbout opened #4814 "Load built-in vscode plugins to Theia: grunt, gulp, jake"
### Description
Capability to load built-in vscode plugins to Theia
Looking at grunt, gulp and jake

### Reproduction Steps
Put the jake, grunt and gulp vscode built-in plugins into the theia/plugins folder
unzip/untar the test project attached
npm install  // to build the node_modules
Start theia and load the test project into the browser
Note:
1- Load the test program (Note, just to test that we

[2019-04-05 03:14] sidazhang opened #4816 "Support CPP syntax highlighting by default"
### Description
Currently theia does not support CPP syntax highlighting out of the box.

Is it possible to support CPP syntax highlighting. I am not referring to CPP language server. A simple CPP file syntax highlight is sufficient out of the box

[2019-04-05 03:28] 113xiaoji opened #4817 "Emergency! Python Extension active failed in eclipse/che-theia:0.5.0 version,but in 0.4.0 master is ok"
### Description
1.the theia images is eclipse/che-theia:0.5.0, i put the python extension ms-python.python-2019.3.6352.vsix at /default-theia-plugins/ folder and build new theia image.
2. I create a new che workspace based on eclipse/che-theia:0.5.0 with python extension
3. it shows
![image](https://user-images.githubusercontent.com/31875988/55601564-10320280-5794-11e9-867a-4040065a0c5a.png)
![ima

[2019-04-05 04:04] jgbradley1 commented on #4363
This is an issue outside of Theia's scope. An nginx configuration running outside of the docker container is one solution I would suggest looking into.

[2019-04-05 06:07] akosyakov commented on #4817
@113xiaoji che images supported by Che team, i don't think we can help here. I could try to transfer an image Che repo for visibility.

[2019-04-05 06:09] akosyakov commented on #4817
@113xiaoji https://github.com/eclipse/che/issues/13072

[2019-04-05 06:09] #4817 closed

[2019-04-05 06:10] akosyakov commented on #4816
We can move  https://github.com/theia-ide/theia/blob/master/packages/cpp/src/browser/cpp-grammar-contribution.ts to textmage-grammar extension. PRs are welcomed.

@simark @marechal-p @thegecko hope it is fine with you

[2019-04-05 06:11] 113xiaoji commented on #4817
thank you

[2019-04-05 06:13] akosyakov commented on #4811
We can keep though `isMultiRootWorkspaceOpened` with a workspace file stat check, but should still add a breaking change note in CHANGELOG, since semantics is changed.

[2019-04-05 06:14] #4767 closed

[2019-04-05 06:57] kittaakos opened #4818 "[gitpod] The Gitpod init script should not change my working directory"
Instead of

https://github.com/theia-ide/theia/blob/9fdc224a681913454c1d8828d247880a5505678b/.gitpod.yml#L5

[code]

Why? Because as a user when I do <kbd>Ctrl</kbd>+<kbd>C</kbd> in the terminal, I expect to be at the repository root.

Edit: added why.

[2019-04-05 07:03] kittaakos opened #4819 "[editor] Saving the editor content does not always work"
I see this when I try to save the editor. After a few <kbd>Cmd</kbd>+<kbd>S</kbd> attepts, I **can** eventually save the editor content :

[code]

[2019-04-05 09:10] mmorhun opened #4821 "Impossible to start/debug Hosted Instance"
### Description
There is no way to select plug-in folder via select folder dialog. The only way is to cancel the dialog.

### Reproduction Steps
1. Execute `Hosted Plugin: Start Instance` command
2. Try to select a folder

**Expected:** When press `Open` the dialog should return selected folder
**Actual:** When `Open` button is pressed it just switches directory to the select. No way to complete d

[2019-04-05 09:32] thegecko commented on #4816
No concerns.

@arekzaluski ?

[2019-04-05 09:49] akosyakov commented on #4819
@kittaakos Do you know how to reproduce on master with theia repo? I could have a look if it is easy to reproduce.

[2019-04-05 09:53] invincibleJai opened #4822 "[Plug-in]Does theia support OutputCahnnel VSCode API"
### Description
I was exploring VSCode extension support in theia and was unable to figure out if VSCode output channel API it supports?

https://code.visualstudio.com/api/references/vscode-api#OutputChannel

[code]

[2019-04-05 10:16] akosyakov commented on #4822
It does: https://che-incubator.github.io/vscode-theia-comparator/status.html

You can analyze your extensions for missing APIs with https://github.com/theia-ide/theia-vscodecov

[2019-04-05 10:16] #4822 closed

[2019-04-05 10:34] invincibleJai commented on #4822
@akosyakov thanks for pointing, it's helpful.

[2019-04-05 11:05] soerendomroes commented on #2394
I think this is resolved.

[2019-04-05 11:05] #2394 closed

[2019-04-05 11:32] vince-fugnitto commented on #4816
@akosyakov one thing, I'm wondering if it might be wise that the `@theia/languages` extension explicitly depend on the `@theia/textmate-grammars` extension.

This would mean that any language extension such as `@theia/cpp` would not need to depend on `@theia/textmate-grammars` itself and can benefit from the textmate support. At the moment only the **browser** and **electron** example applications

[2019-04-05 12:44] vzhukovskii commented on #4821
See the last comment: https://github.com/theia-ide/theia/pull/4763

As a workaround, you can add property `canSelectFolders: true` into dialog options, when `Hosted Plugin: Start Instance` command executes.

[2019-04-05 12:51] akosyakov opened #4823 "[vscode] drag and drop of webviews does not work properly"
For me it cannot drop everywhere. It seems to be some bogus event handling.

[2019-04-05 13:03] marcdumais-work commented on #3956
Update: I am meeting with Sharon later today. I found nothing suspicious, license-wise, with the content of the various build-in VS Code extensions we publish. I will share what I did with Sharon and see what she thinks.

[2019-04-05 13:08] vzhukovskii commented on #4797
@akosyakov I think, that [here](https://github.com/theia-ide/theia/blob/bc95c38fd3b7f1a9057849e3751e10e9e4d5be30/packages/filesystem/src/browser/file-dialog/file-dialog.ts#L266) check condition should be improved to verify whether property `canSelectFolders` is not undefined. Because user can omit this property and value `!undefined` will be `true`.

[2019-04-05 13:18] vrubezhny commented on #4582
Yet another CQ is opened for the issue: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19509

[2019-04-05 13:34] akosyakov commented on #4797
@vzhukovskii ok, but we really need tests, not fixing it blindly, another possible dialog issue: https://github.com/theia-ide/theia/pull/4820#issuecomment-480236514

[2019-04-05 13:35] akosyakov commented on #3956
@marcdumais-work i doubt there is anything suspicious, MS cares a lot of not relying on external dependencies and be compatible with MIT already

[2019-04-05 13:37] akosyakov commented on #4816
We won't to get rid of `@theia/textmate-grammars` eventually, and use vscode built-in extensions for textmate grammars. I don't want to couple it with other extensions because of it.

[2019-04-05 14:19] kittaakos commented on #4819
It happened when I was verifying #4771 in Gitpod. I have edited the event spec file.

[2019-04-05 16:03] beeman commented on #3242
We've been seeing this error frequently when running a customized version of Theia in a Docker container. The issue seems to have been fixed by increasing the number of `fs.inotify.max_user_watches` on the host that runs the containers.

Something like this:

[code]

[2019-04-05 16:52] marcdumais-work commented on #3956
I just had the meeting with Sharon and Wayne. We did not have time to talk specifically about this case (IP clearing for built-in VS Code extensions), but according to general discussions, this case goes a bit outside what we can handle on our own, at this time, since the suggested analysis tool will not work in this case.

So I'll do the following; I'll open one CQ for all extensions and provide

[2019-04-06 01:29] mikestaub opened #4825 "gltf-vscode extension not working"
### Description
I followed these instructions. The extension is loaded but there are no commands added to the palette. No errors either. https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions

### Reproduction Steps
Download this extension to the plugins folder. Then run the browser example:
https://marketplace.visualstudio.com/items?itemName=cesium.gltf-vscode

**OS and Theia version:

[2019-04-06 16:23] yeweiasia commented on #3712
@AlexTugarev https://github.com/theia-ide/theia/pull/4806 Can this PR solve you problem?

[2019-04-07 06:29] 502647092 opened #4829 "Project configuration is not up-to-date with pom.xml, requires an update."
### Description
![image](https://user-images.githubusercontent.com/10203793/55679636-84f66f80-5941-11e9-8dac-251e7a6ce0b5.png)

### Reproduction Steps

**OS and Theia version:**

latest theia docker version

**Diagnostics:**

[2019-04-07 08:44] DoroNahari commented on #4363
After further investigation, the situation is that we have an external endpoint which is protected so either of the following 2 options could help:

1. Ability to ping local host and open the external url in a new tab.
1. Ability to pass auth header for the ping request.

Is it possible to contribute one these customization points to hosted-plugin flow.

[2019-04-08 04:25] akosyakov commented on #4829
It seems that vscode-java extension provides a command to retrigger update of project configurations. Theia extension should do the same.

@502647092 Have you tried to use vscode-java extension instead?

[2019-04-08 04:45] akosyakov commented on #3712
@AlexTugarev could you remind me what was the issue? I've filed it but cannot recall now. I guess it is indeed the same as https://github.com/theia-ide/theia/issues/4807.

[2019-04-08 05:15] akosyakov opened #4831 "support vscode theming"
See https://code.visualstudio.com/api/extension-capabilities/theming

[2019-04-08 06:34] akosyakov opened #4832 "[gitpod] enable Electron support"

[2019-04-08 07:17] akosyakov opened #4833 "jsx syntax not working for JavaScript React lang"
To reproduce: https://github.com/gitpod-io/gitpod/issues/314#issuecomment-464924248

[2019-04-08 07:17] AlexTugarev commented on #3712
Try to select multiple file in the explorer holding `command` key down. Currently it will preview-open those file, which is not the expected behavior.

[2019-04-08 07:21] akosyakov opened #4835 "[scm] show changes as a tree"
For big PRs i would like to see changes grouped by folders to understand the scope of PR easier and review one folder after another. It could be an optional mode to the SCM view.

[2019-04-08 08:02] #4459 closed

[2019-04-08 09:27] yeweiasia commented on #3712
press ctrl key to select multiple file cause the problem as well.

[2019-04-08 09:42] #4807 closed

[2019-04-08 10:04] AndrienkoAleksandr opened #4837 "Preferences preview editor without vertical scroll bar."
### Description
Preferences editor without vertical scroll bar.

### Reproduction Steps
1. Open: File -> Settings -> Open Preferences
2. Open some preferences with long definition and make preferences editor shorter.
Actual result: preferences editor display content without vertical scrollbar.
Expected result: preferences editor should have vertical scrollbar.

**OS and Theia version:**
Kubuntu 18

[2019-04-08 11:51] #4821 closed

[2019-04-08 12:09] akosyakov commented on #3712
@yeweiasia Could you have a look into it?

[2019-04-08 12:26] marcdumais-work commented on #3956
CQ created: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19512

[2019-04-08 12:50] federicobozzini opened #4838 "[Filesystem] When a file gets overwritten, there is no event saying the file has been updated"
### Description
[When a file is updated, an event with type `FileChangeType.UPDATED` is fired](https://github.com/theia-ide/theia/blob/master/packages/filesystem/src/node/nsfw-watcher/nsfw-filesystem-watcher.ts#L176), but [when a file gets overwritten (for instance by a `mv` operation) what gets fired is only an event with type `FileChangeType.ADDED`](https://github.com/theia-ide/theia/blob/master

[2019-04-08 13:14] akosyakov commented on #4838
It's strange DELETED + ADDED should be translated to UPDATED: https://github.com/theia-ide/theia/blob/master/packages/filesystem/src/node/file-change-collection.ts#L29

We are using [nsfw](https://github.com/Axosoft/nsfw) for fs watching, buffer and translate events from it. It would be interesting to record all raw nsfw events on `mv` action. It could be a bug in nsfw or in our translation.

[2019-04-08 13:37] federicobozzini commented on #4838
I did some quick investigation with nsfw, and what seems to be happening is that when a file is overwritten you only get a `nsfw.actions.RENAMED` event. This event gets translated by Theia in a deletion on the old URI and a creation on the new URI (the overwritten file), hence there is no deletion of the new URI and the rules you linked are not used.

[2019-04-08 14:23] #4812 closed

[2019-04-08 14:31] thegecko opened #4840 "[node] Remove deprecated uses of Buffer()"
### Description
With the introduction of node 10 in #4750 warnings now exist around the use of `Buffer()`.

These instances need to be replaced with their equivalents as outlined here:
https://nodesource.com/blog/understanding-the-buffer-deprecation-in-node-js-10/

### Reproduction Steps
Build Theia

[2019-04-08 14:32] #2009 closed

[2019-04-08 14:47] #4689 closed

[2019-04-08 15:27] kittaakos commented on #4832
What do you mean, @akosyakov?

[2019-04-08 15:29] kittaakos commented on #4818
It was fixed with https://github.com/theia-ide/theia/pull/4750/.

[2019-04-08 15:29] #4818 closed

[2019-04-08 16:20] #4339 closed

[2019-04-08 17:13] marcdumais-work commented on #3956
Update: the CQ is `license_certified`!

So we're good-to-go, w-r to built-in VS Code extensions based on VS Code v1.30.1.

[2019-04-08 18:13] akosyakov commented on #4832
https://medium.com/gitpod/developing-native-ui-applications-in-gitpod-15af2967c24e to test Electron version in Gitpod as well

[2019-04-08 18:15] akosyakov commented on #4838
if URIs are different, then it works as expected. `UPDATED` means that content changed of one URI, with move one URI gets removed and another added.

[2019-04-09 06:41] #4576 closed

[2019-04-09 09:07] kittaakos opened #4844 "[preview] Error at application start-up"
[code]

The problem is with `_this.currentEditorPreview.` in the `EditorPreviewManager`.

[code]

I can see this too.
![Screen Shot 2019-04-09 at 11 04 36](https://user-images.githubusercontent.com/1405703/55787761-45ea2a80-5ab7-11e9-9572-c3212942c109.jpg)

My workspace was under `~/dev/vm` it was not a Git repository, the folder contained a few > 2GB `.iso` files. I was using the HEAD of the `mas

[2019-04-09 09:55] westbury commented on #4297
We have code to do this and I was wondering which bits to push to Theia core.  I have a few questions:

We use log4js.  I considered using Bunyan but I had problems getting it to work on Windows with Node 10.  See, for example, https://github.com/trentm/node-bunyan/issues/571.  So, would you be interested in a PR for a log4js replacement for the Bunyan extension?  Note that  Bunyan has been inacti

[2019-04-09 10:31] #3257 closed

[2019-04-09 10:50] kittaakos commented on #4297
I do not have objections against it, especially, if it does not work on Windows. Can you please create a follow-up GH issue to discuss it? It should be possible to configure to [logging into a file](https://github.com/theia-ide/theia/issues/3305) too.

Exactly this, but the DI should be done in connection scope and only for electron. Maybe the `electron`-based default logger should send the log me

[2019-04-09 11:09] #4248 closed

[2019-04-09 11:09] #4754 closed

[2019-04-09 11:27] akosyakov commented on #4297
We can also add a new repo for this extension. Ideally we will remove all extensions from this repo which does not support plugin system at the end.

[2019-04-09 11:40] kittaakos commented on #4297
That would make sense. By default, if you start a bundled electron application from the application icon (both Windows and macOS) you cannot see anything from the backend log, so the end-users have a hard time to share any errors or the stack traces.

[2019-04-09 11:49] akosyakov commented on #4832
Good enough for testing 😄

<img width="1725" alt="Screen Shot 2019-04-09 at 13 48 34" src="https://user-images.githubusercontent.com/3082655/55798052-480bb380-5ace-11e9-9638-1e96a7f0cf8c.png">

[2019-04-09 11:51] westbury commented on #4297
Surely this would be solved by logging to file.  We currently log to files using our log4js extension, and we have UI to help the users attach the logs to e-mail.  Are you sure that the right way to make it easy for users to forward diagnostic info such as logs is to go through the output view?

[2019-04-09 11:56] kittaakos commented on #4297
Well, it would be better than nothing. Right now, users have no chance to see the errors at all without starting the electron application from a shell.

Can you recommend a better approach; please share with us. At this point, almost any solution is better than the current one: nothing.

[2019-04-09 12:11] akosyakov commented on #4297
VS Code does the same for logging, so let's do it for Electron. For browser though backend logs should not leak to the user, they are for administrators.

[2019-04-09 15:03] yeweiasia commented on #3712
@akosyakov I'v create a new PR

[2019-04-09 18:28] PavelSosin commented on #4590
There are lot of noise around Websocket connectivity between Debugger client and application deployed to Cloud infrastructure. The cause may be not in application or debugger but in intermediate infrastructure layers like Load balancers, proxies, etc. Since debugging scenario involves long periods of inactivity every layer may break connection due to own timeout settings. For example, Microsoft ju

[2019-04-09 21:36] caseyflynn-google commented on #3796
Confirmed this is an issue with ChromeOS when scaling the screen resolution. It looks like Monaco recently exposed API to remeasure character widths which should be invoked when the devicePixelRatio changes: https://github.com/Microsoft/vscode/commit/d8bc1fa0ff04ec74bbfac8431699765b18f2d41e @akosyakov  could you provide some information on how I would go about patching this into Theia?

[2019-04-10 03:19] yeweiasia commented on #4837
this may caused by the tree widget, the file-tree widget has the same problem.

[2019-04-10 04:33] akosyakov commented on #3796
@caseyflynn-google We cannot update Monaco yet, it is long chain of dependencies :( We are using https://github.com/Microsoft/vscode/tree/standalone/0.14.x now. If `CSSBasedConfiguration.clearCahce` is there, you can expose it monaco extension as we expose other APIs and trigger when necessary.

[2019-04-10 04:37] akosyakov commented on #4837
@yeweiasia something else you would like to have a look at? :D

[2019-04-10 06:07] yeweiasia commented on #4837
@akosyakov yeah, do you have someting to recommand?

[2019-04-10 06:35] kittaakos opened #4848 "[ui/ux] It should be possible to avoid the `Reload site?, Changes you made may not be saved.` when refreshing the browser"
### Description

As of ce2f145017ff6bca715cddb96f876366eb1a4b22, whenever I refresh the browser with <kbd>Ctrl/⌘</kbd>+<kbd>R</kbd>, the application raises a native dialog and warns me: `Reload site?`. This was introduced to avoid accidental application closing with <kbd>Ctrl/⌘</kbd>+<kbd>W</kbd> but could be very annoying during the development.

Let's make this dialog configurable so that Theia

[2019-04-10 06:42] akosyakov commented on #4837
@yeweiasia checking again, it's actually by design that vertical scrollbar is missing in the explorer.

I'm not sure that it is something worth looking into. We have plans completely rewrite the preference widget.

[2019-04-10 06:51] rayh commented on #3186
@svenefftinge any idea of what would be involved to port that plugin over?

[2019-04-10 07:41] akosyakov commented on #3186
@rayh python extension should work in Theia already, could you try: https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions

[2019-04-10 07:56] PavelSosin commented on #4590
To simulate brief Web socket disconnection and re-connection you don't need any plays with cables. Simply re-start pod using the following instruction [https://medium.com/devopslinks/how-to-restart-kubernetes-pod-7c702ca984c1](url) collect all possible logs and attach them to the message as soon as possible. Pod restart is very common scenario for applications under debugging.

[2019-04-10 08:03] kittaakos opened #4849 "[editor] Group unsaved editors in one dialog when prompting user to save them"
In VS Code, when I close multiple dirty editors, the dirty editors are grouped in one dialog:
![Screen Shot 2019-04-10 at 09 56 10](https://user-images.githubusercontent.com/1405703/55861747-55c94380-5b77-11e9-9648-860ef0d1dc35.jpg)

Theia asks for each editor:
![screencast 2019-04-10 09-57-07](https://user-images.githubusercontent.com/1405703/55861782-67125000-5b77-11e9-85e5-7d4ebaf8e559.gif)

Gr

[2019-04-10 08:09] westbury commented on #4297
Thanks for all your feedback.  That is very helpful.

[2019-04-10 08:51] tsmaeder opened #4850 "Handle plugins with no activate function"
Some VS Code extensions don't see to export and activate function, for example the [PHP debug](github.com/felixfbecker/vscode-php-debug/issues/346).
While this is correct (see https://code.visualstudio.com/api/references/activation-events#Start-up), we should probably still load those plugins, becuase VS Code does the same.
I see this as a safe change, since we can just assume an empty "activate"

[2019-04-10 09:57] kittaakos opened #4851 "[ui][git] `Discard All` action has layout issues when the Git widget is too narrow"
Same for `Unstage All` and `Stage All` commands:
![Screen Shot 2019-04-10 at 11 55 03](https://user-images.githubusercontent.com/1405703/55869936-cf692d80-5b87-11e9-991b-a49a6f4ed673.jpg)

[2019-04-10 10:14] amiramw opened #4852 "Theia docker does not stop on SIGTERM"
### Description
Theia does not stop on SIGTERM / kill command which is problematic on K8S environment as a pod containing theia takes long time to stop.

It seems that packages/core/src/node/backend-application.ts listens on SIGTERM but it is only one of several child processes.

### Reproduction Steps

1. `docker run -p 3000:3000 theiaide/theia:next`
2. `docker exec -it <id> bash`
3. `kill 1` doe

[2019-04-10 11:46] #4844 closed

[2019-04-10 12:11] apupier opened #4855 "Unsupported notification method: $/setTraceNotification message when installing Camel language VS Code extension"
### Description

there is several times this message Info in log:

[code]

### Reproduction Steps

docker run -it -p 3000:3000 -v "C:/Users/Aurelien Pupier/theiatmp:/home/project:cached" theiaide/theia-full:latest

use deploy plugin by id command:
vscode:extension/camel-tooling.vscode-apache-camel
vscode:extension/redhat.vscode-xml

create an xml file with content:
[code]

play with it... not noti

[2019-04-10 12:14] apupier opened #4856 ""Request completionItem/resolve failed." fro Camel VS Code extension"
### Description

there is this error logged when calling the completion on a Camel URI:
[code]

### Reproduction Steps
docker run -it -p 3000:3000 -v "C:/Users/Aurelien Pupier/theiatmp:/home/project:cached" theiaide/theia-full:latest

use deploy plugin by id command:
vscode:extension/camel-tooling.vscode-apache-camel
vscode:extension/redhat.vscode-xml

create an xml file with content:
[code]
place

[2019-04-10 12:19] apupier opened #4857 ""Error: Request 'updateContent' failed" in docker output when there is a validation error on a Camel file"
### Description
[code]

### Reproduction Steps
docker run -it -p 3000:3000 -v "C:/Users/Aurelien Pupier/theiatmp:/home/project:cached" theiaide/theia-full:latest

use deploy plugin by id command:
vscode:extension/camel-tooling.vscode-apache-camel
vscode:extension/redhat.vscode-xml

create an xml file with content:
[code]
change timer:timerName?delay=1000 by timer:timerName?delay=1000xx

observe st

[2019-04-10 12:29] #4833 closed

[2019-04-10 12:30] #4642 closed

[2019-04-10 13:24] akosyakov commented on #4759
`setStatusBarMessage` is implemented completely bogusly, it should reuse the same status bar and stack messages, not create a new element each time.

[2019-04-10 13:36] #4349 closed

[2019-04-10 13:42] vince-fugnitto commented on #4780
@kittaakos I'm just curious, what widget did you take a screenshot of?
I've tried with the `Call Hierarchy` and I don't see the UI problem.

[2019-04-10 13:47] akosyakov opened #4859 "[rust][vscode] no adapter found on completions"
[code]

[2019-04-10 13:52] kittaakos commented on #4780
It's from a custom widget. I usually work with the default dark theme, I used the "built-in" Theia colors, it looked nice with the dark Theme, and got this with the light :/

[2019-04-10 13:58] akosyakov opened #4860 "add rust textmate grammar"

[2019-04-10 14:04] akosyakov commented on #4199
For rust extension, it is necessary to fix it, otherwise it starts contributing UI elements regardless whether rust project opened or not.

[2019-04-10 14:17] vince-fugnitto commented on #4780
I see, did you provide your own css using the `--theia` variables, or was the coloring inherited?

[2019-04-10 14:21] kittaakos opened #4861 "[ci] Consider pinning the `python` version on Travis CI"
On April 16<sup>th</sup> 2019, the default Python version will change from `2.x` to `3.6` on Travis CI. We might have to pin the version. If we passed the date and the build is green, please close this issue.

The announcement: https://changelog.travis-ci.com/upcoming-python-default-version-update-96873

[2019-04-10 14:23] kittaakos commented on #4780
Nothing. I used the built-in ones only.

[2019-04-10 14:36] federicobozzini opened #4862 "[filesystem] File dialog seems to use wrong folder when opened"
### Description
[When a file dialog is opened, it's possible to pass a folder parameter](https://github.com/theia-ide/theia/blob/master/packages/filesystem/src/browser/file-dialog/file-dialog-service.ts#L44). What I would personally expect would be to see the file dialog getting opened in that folder, what instead happens is that [the parent of the folder parameter is used](https://github.com/thei

[2019-04-10 14:45] akosyakov commented on #4862
I think too that the dialog should open a given folder, not its parent. I think it is because of historical reasons. It was implemented for `Open` menu item there opening a parent is convenient, but then we should apply this logic only to `Open` client.

[2019-04-10 14:45] federicobozzini commented on #4838
I'm not sure it's clear what I meant.

Let me describe a few uses cases:

- when creating file `a.txt`
`nsfw.actions.CREATED[a.txt]` => `FileChangeType.ADDED[a.txt]` (correct, file)

- when editing file `a.txt`
`nsfw.actions.MODIFIED[a.txt]` => `FileChangeType.UDPATED[a.txt]` (correct)

- when moving file `b.txt` to 'a.txt', overwridding it's content
`nsfw.actions.RENAMED[b.txt, a.txt]` => `FileCh

[2019-04-10 14:46] vince-fugnitto commented on #4862
@federicobozzini apparently with our implementation we always go one level higher when opening the file dialog as seen here:

https://github.com/theia-ide/theia/blob/36eba77252634a6227ec5e98eaf3e08f67e08dd8/packages/filesystem/src/browser/file-dialog/file-dialog-service.ts#L77

This means that wether we pass a file or directory URI when calling the `file dialog`, we open with respect to the parent

[2019-04-10 14:47] federicobozzini commented on #4862
Fixing this would require breaking backward compatibility, are you OK with that?

[2019-04-10 14:56] vince-fugnitto commented on #4862
Maybe not, perhaps we can introduce a new optional parameter `OpenDialogOptions?` which can describe open options when calling the open dialog.

One such option can be where to open the dialog from (ex: folder, parent of folder, workspace root), and would default to our current implementation so that clients would not be broken by this change.

[2019-04-10 14:56] kittaakos opened #4864 "[dialog] `Select All` is broken with our modal dialogs"
Steps:
 - Select a file
 - Rename
 - Hit `ctrl/cmd+a` in the dialog, the editor content is selected instead.

Expected:
 - The content of the dialog is selected.

![screencast 2019-04-10 16-51-59](https://user-images.githubusercontent.com/1405703/55889435-5aaae900-5bb1-11e9-991b-494e77152c77.gif)

[2019-04-10 15:01] federicobozzini commented on #4862
@vince-fugnitto I think it would be quite unusual to have a folder parameter and at the same time an option to use a different folder like the workspace root, but ithat's certainly an option.

[2019-04-10 15:01] kittaakos opened #4865 "[electron][TS] The TS Theia extensions picks up and uses incorrect TS version"
For instance, open `preference-proxy.ts` and see the errors.
![Screen Shot 2019-04-10 at 16 57 18](https://user-images.githubusercontent.com/1405703/55889676-b70e0880-5bb1-11e9-82d0-4a879003349a.jpg)

It happened with the bundled Theia electron application, I do have TS in my workspace's `node_modules` folder, but I do not have it globally installed.

Note, my workspace root is `/Users/akos.kitta/

[2019-04-10 15:08] akosyakov commented on #4865
We don't distribute typescript as runtime dependency, since each app can bundle its own version. There should be a way to bundle one version during packaging then. I don't think there can be anything done in theia repo.

It would be also fixed as soon as we used typescript vscode extension.

[2019-04-10 15:08] vince-fugnitto commented on #4862
@federicobozzini I agree, I'm just worried about breaking clients who use the open-dialog-service and notice different results. I'm fine however on making it right, so if breaking is the way to go I'm all for it! 😄

I thought that with `OpenDialogOptions?` we can essentially support many more possibilities in the future.

@akosyakov what do you think? Would it be fine to break the compatibility li

[2019-04-10 15:11] akosyakov commented on #4862
I'm fine with breaking. But here i again come to this issue: https://github.com/theia-ide/theia/issues/4797 We should test and align it with VS Code. I wish someone already creates such extension.

[2019-04-10 15:11] vince-fugnitto opened #4866 "[editor-preview] select all does not work properly"
**Description**

Performing `Select All` ( <kbd>ctrlcmd</kbd>+<kbd>a</kbd> ) does not work properly on preview editors.
Instead of selecting the editor content, the editor line numbers are highlighted.

---

**Reproduction Steps**
1. Verify that the preference `editor.enablePreview` is enabled. (true)
2. Open an editor as a preview. (single click editor)
3. Perform `Select All` (notice only the li

[2019-04-10 15:13] akosyakov commented on #4838
It's clear. But i don't have an idea how we can reliably detect whether a.txt is ADDED or UPDATED. We don't know whether it existed before. I would say you should open an issue for nsfw as well.

[2019-04-10 15:14] kittaakos opened #4867 "[electron][user-settings] User setting are not available from the bundled electron application"
- Open Theia.
- Select a WS.
- Close Theia.
- Open it again (make sure the previous Theia is not running).
- No recent workspaces, nothing.

[2019-04-10 15:20] kittaakos commented on #4865
Then why do we have the [discovery logic](https://github.com/theia-ide/typescript-language-server/blob/6faea64ba5b0c748601197fa4db309e83b838fb0/server/src/lsp-server.ts#L88) in TS server?

I thought the problem is that the TS server is under `/Application/Theia.app/somewhere/nested/deep and the workspace with the `node_modules` is under a different roo foldert. Instead or `__dirname` we should sta

[2019-04-10 15:22] akosyakov commented on #4865
only for local dev

[2019-04-10 15:25] akosyakov commented on #4867
We really need to have downloadable Electron distribution for Theia with branding from @vince-fugnitto, which is built nightly. So community can download and test each day, the same was as it is done for docker images. It's really pity that we don't have it so far.

[2019-04-10 15:26] kittaakos commented on #4865
OK, it's completely broken. I am sure it used to work, and now you are telling me we cannot do anything in the Theia repo just wait for VS Code extensions.

For the record, the `typescript` dependency is among my dependencies, still, it does not work.

[code]

[code]

[2019-04-10 15:34] akosyakov commented on #4865
Theia does not rely on ts ls discovery logic, but has own: https://github.com/theia-ide/theia/blob/36eba77252634a6227ec5e98eaf3e08f67e08dd8/packages/typescript/src/node/typescript-version-service-impl.ts#L52

It was not changed though for long time. It uses require to find bundled typescript, so if `@theia/typescript` and `typescript` are in the same node_modules it should work.

[2019-04-10 15:36] akosyakov commented on #4865
I did not say that you have to wait for VS Code extensions. I said that it likely an issue in how dependencies are bundled for you app, not in Theia code.

[2019-04-10 15:43] #1401 closed

[2019-04-10 15:43] #3885 closed

[2019-04-10 15:43] #4079 closed

[2019-04-10 15:43] #4832 closed

[2019-04-10 15:44] vince-fugnitto commented on #4867
@akosyakov what branding were you expecting in the Electron distribution?
It's unfortunate that I had to put https://github.com/theia-ide/theia/pull/3980 on hold for the moment until I resolve its issues and had to handle other priorities.

[2019-04-10 15:46] federicobozzini commented on #4838
I don't think that nsfw should change its behaviour since it's just a wrapper around inotify (or similar tools) and inotify doesn't manage this case. I also think that a RENAME event in this case is more expressive and something that a developer may be expected to manage. Maybe splitting the RENAME event into the two events is the culprit here.

[2019-04-10 17:23] thegecko commented on #3729
Fixed

[2019-04-10 17:23] #3729 closed

[2019-04-10 17:29] marcdumais-work commented on #3956
Something new (*) has come-up that will make the built-in VS Code extensions not `license_certified` anymore, until resolved.

Sharon pointed-out a VS Code NPM dependency, that has a problematic license, found when investigating a previous CQ (for another project). It turns-out that this dependency is pulled by the built-in VS Code `git` extension and used in production (i.e. not just for tests an

[2019-04-10 18:09] thegecko commented on #3956
Is this shipped with VS Code? If so, what do they do?
Can we ask the maintainer for a different license?

[2019-04-10 19:21] marcdumais-work commented on #3956
Hi @thegecko

Yes, I think so, though I was not able to prove it conclusively when I quickly attempted using the VS Code installed on my machine. When I grep under where VS Code is installed on my machine (/usr/share/code), I do see it referenced from `.js` files.

Nothing special, as far as I can tell. There is no copyright issue as such with distributing LGPL content, as long as the license is r

[2019-04-11 04:51] akosyakov commented on #4838
We have to do it since LSP and vscode extensions don’t support renamed events. I can experiment with introducing renamed event in addition for Theia extensions. If they are reported reliably for all mv operations, it could work. Last time when I was implementing updating widgets based on file renaming it was not a case. Sometimes nsfw fails to deliver them at all or delivers add + remove events in

[2019-04-11 04:52] akosyakov commented on #4838
Seems to be an issue in vscode as well: https://github.com/Microsoft/vscode/issues/30240

[2019-04-11 05:42] akosyakov opened #4871 "native-keymap should be optional dep"
Motivated by https://github.com/theia-ide/theia-apps/issues/163

All next images are broken again 🙈

cc @spoenemann

[2019-04-11 05:46] akosyakov commented on #4857
@apupier And you don't get a dialog asking do you want to override the state on fs?

The error indicates that fs state is more up-to-date then an opened document. Maybe Docker does something to a file after we open in. Need more investigation.

[2019-04-11 05:48] akosyakov commented on #4856
Seems like an error from LS. Do you have any other errors in backend logs?

[2019-04-11 05:50] akosyakov commented on #4855
It seems to be the issue with Camel LS. It should ignore undocumented messages: https://github.com/Microsoft/vscode-languageserver-node/issues/170

[2019-04-11 06:00] akosyakov commented on #4852
We've got rid of cluster module yesterday. Now backend-application.ts runs in the main process, so it should. There are issues with next images right now, after they get sorted out, it would be nice if you try again.

Thanks for the reporting btw.

[2019-04-11 06:41] akosyakov commented on #2758
I will add `@theia/electron` package which should have all electron dependencies (electron, electron-store, native-keymaps). It will be used as a dev dependency for `@theia/core` and as a dependency for `@theia/cli`.

[2019-04-11 06:41] akosyakov commented on #4871
See https://github.com/theia-ide/theia/issues/2758#issuecomment-481986609

[2019-04-11 06:46] akosyakov opened #4872 "[navigator] copy-paste for multi selection does not work"

[2019-04-11 07:05] apupier commented on #4857
no, I noticed nothing in UI

[2019-04-11 07:13] apupier commented on #4855
ok it needs to be handled in vscode-languageclient, lsp4j or maybe easier to negociate for me inside the Camel Language Server.

Thanks for the explanation and the pointers.

I created  https://github.com/camel-tooling/camel-language-server/issues/226

[2019-04-11 07:13] #4855 closed

[2019-04-11 07:13] kittaakos commented on #4865
To sum up, it works, but it picks up the bundled TS (`3.4.3`) as opposed to the one from the `node_modules`: `3.1.3`.

The temporary workaround is to set the correct TS version manually:
![Screen Shot 2019-04-11 at 09 12 47](https://user-images.githubusercontent.com/1405703/55937742-0d268e80-5c3a-11e9-9bde-5629807f2b5b.jpg)

![Screen Shot 2019-04-11 at 09 12 55](https://user-images.githubuserconte

[2019-04-11 07:14] tsmaeder commented on #4856
Maybe a log message being written to stdout?

[2019-04-11 07:46] kittaakos opened #4874 "[electron] As a developer I want to build a bundled electron application from the source"
Currently, we have a kind of working solution outside of the repository: https://github.com/theia-ide/theia-apps/tree/master/theia-electron.

For historical reasons, we had to move the electron bundling outside of the repository, because the `electron-builder` could not follow symlinks. In other words, and it is an oversimplification, the `package.json` of the electron application wasn't next to t

[2019-04-11 07:56] apupier commented on #4856
it occurs only in Theia, not in VS Code neither in Eclipse Desktop. So would be strange to be a LS problem only.

in backend log, I have no error, only:

[code]

we have removed all logs to stdout several months ago in our codebase.

in the error it is indicated "message could not be parsed. But how to access to this message that can't be parsed?

[2019-04-11 08:05] akosyakov commented on #4775
fixed by #4826

[2019-04-11 08:05] #4775 closed

[2019-04-11 08:06] kittaakos opened #4875 "[electron] Adjust the customized `environment.electron#is` implementation"
We had to implement a customized [`electron#is`](https://github.com/theia-ide/theia/blob/7d37b1245ab15f91ffdcf8606ffe7b5efe02ba2f/dev-packages/application-package/src/environment.ts#L37) function to be able to recognize if any of the Theia backend workers were started from electron. See https://github.com/theia-ide/theia/issues/3254.

The cluster mode has [been removed](https://github.com/theia-id

[2019-04-11 09:11] #2758 closed

[2019-04-11 09:15] akosyakov opened #4877 "set up nightly builds of electron distribution"
That end users can download it and report issues if it does not work, similarly how we get to know about issues in docker images.

It would be good:
- to have it outside of this repo to show how end users can do the same
- to build for mac, linux and win
- include custom branding extension to show how to brand (cc @vince-fugnitto)

It can be done in [theia-apps](https://github.com/theia-ide/theia-

[2019-04-11 09:16] akosyakov commented on #4867
@vince-fugnitto i've opened a epic issue for electron builds: https://github.com/theia-ide/theia/issues/4877

[2019-04-11 09:19] thegecko commented on #4877
Nice idea. We use jenkins locally to do this so it can be built for windows, mac and Linux.

Different options are available based on the target platforms wanted. I assume Linux to start?

[2019-04-11 09:30] kittaakos commented on #4877
I do not like this, we won't be able to verify any electron related changes: #4874.

[2019-04-11 09:47] apupier commented on #4855
to ignore it, seems need to add an @JsonNotifcation with empty implementation:
https://github.com/eclipse/lsp4j/issues/22#issuecomment-266440509

[2019-04-11 09:50] spoenemann commented on #4877
Microsoft Azure can be used partly for free for open source projects, and it can build for Mac, Linux and Windows. That might be an option for the Electron app build.

[2019-04-11 10:01] akosyakov commented on #4877
It is the same now with docker images. I don't think delay in one day is too bad, we still have time till release (end of month) to fix/revert it.

End users have completely another setup it would be nice to replicate it.

[2019-04-11 10:38] vince-fugnitto commented on #4877
@akosyakov I've created a custom [C++ branding extension](https://github.com/vince-fugnitto/theia-cpp-branding) in the past, would it be enough to create a similar extension with Theia branding? It wouldn't necessarily be like https://github.com/theia-ide/theia/pull/3980 where it is customizable, it would just provide Theia branding for our own distributions.

[2019-04-11 10:38] akosyakov commented on #4871
It did not work. Electron deps has to be also removed from theia-cli: https://travis-ci.org/theia-ide/theia-apps/jobs/518657324#L538

[2019-04-11 11:27] tsmaeder commented on #3956
@marcdumais I have no special thoughts about the git extension (not my immediate responsiblity). I'll call attention to the issue in the appropriate che forums.

[2019-04-11 11:30] spoenemann opened #4879 "Add user interface to manually select a keyboard layout"
Follow-up of #4724: in case the user's keyboard layout could not be detected or the detection was wrong, the user should have an easy option to choose a layout from a list. This choice should be stored somewhere.

[2019-04-11 11:34] spoenemann opened #4880 "Don't hold all static keyboard layouts in memory"
Follow-up of #4724: Currently the browser module `browser-keyboard-layout-provider` loads all available static keyboard layouts. I expect the list of statically available layouts to grow, so at some point the memory footprint might become too large. We should improve this by holding only the active layout in memory. Furthermore, we should avoid to include all layouts in the bundle.js, so we might

[2019-04-11 11:43] apupier commented on #4855
I do not reproduce the $/setTraceNotification when trying to test VS Code extension with setting the .vsix in plugins folder as indicated here https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions

Should I configure something specific to have "trace notification" sent?
After reproducing, I would like to test that I fixed it correctly in Camel Language Server side before publishing a

[2019-04-11 11:51] apupier opened #4881 "root ERROR [hosted-plugin: 19576] Could not identify plugin for 'Theia' when testing VS Code extension"
### Description

there is an error in Theia log, seems no impact functionally.

### Reproduction Steps

- follow https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions
in plugins folder put the vsix of camel that you can download from https://marketplace.visualstudio.com/items?itemName=camel-tooling.vscode-apache-camel

**OS and Theia version:**

Windows 10
master

**Diagnostics:**
[co

[2019-04-11 12:35] #4871 closed

[2019-04-11 13:06] vince-fugnitto opened #4884 "[workspaces] support removing workspaces from 'recently opened workspaces'"
Currently, there is no way to easily remove `workspaces` from the `Open Recent Workspace...` quick-open menu. The only way to remove workspace items from the list, is to remove the `recentworkspace.json` completely from the user's home under `.theia`.

VSCode supports directly removing workspaces from the quick-open, and I suggest we do the same for end-users.

[2019-04-11 14:15] DoroNahari commented on #4363
@benoitf Any thoughts?

[2019-04-11 14:18] akosyakov opened #4886 "[electron] fetch native layout in main process"
From https://github.com/theia-ide/theia/pull/4885#pullrequestreview-225563555

Depends on https://github.com/theia-ide/theia/pull/4869 + https://github.com/theia-ide/theia/pull/4869#issuecomment-482133472

cc @spoenemann

[2019-04-11 16:51] kittaakos opened #4887 "[outline] Support the `deprecated` flag in the outline view"
`SymbolInformation.deprecated` and `DocumentSymbol.deprecated`

[2019-04-11 18:57] caseyflynn-google commented on #3796
It looks like there are actually two problems here. One is with Monaco cursor placement calculation, the other may be a CrOS rendering issue: https://bugs.chromium.org/p/chromium/issues/detail?id=949299&can=2&start=0&num=100&q=owner%3Ame&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&groupby=&sort=&hotlist_id= The Repro case on the ticket is for

[2019-04-12 04:05] akosyakov commented on #3796
@caseyflynn-google If we fix Monaco part would it help or without CrOS fixes it does not make sense? I wonder is there API to get notified about display resolution changes to clean Monaco cache?

[2019-04-12 05:03] #2210 closed

[2019-04-12 05:03] #3651 closed

[2019-04-12 05:03] #4802 closed

[2019-04-12 05:42] #4619 closed

[2019-04-12 06:27] vparfonov commented on #4342
will be fixed by https://github.com/theia-ide/theia/issues/3896

[2019-04-12 06:43] kittaakos opened #4889 "[debug] Provide better error handling for the `download-adapters.js` script"
Steps to reproduce:
 - Clone Theia.
 - `cd ./examples/electron`.
 - `yarn install --modules-folder ./dist_modules`, to install all the dependencies which are normally in the root `node_modules` folder.

Got this, no idea what went wrong:

[code]

[2019-04-12 06:48] zixuemeng opened #4891 "[keybinding] broken keybinding 'Open Preferences' on Window"
### Description
The keybinding for ''Open Preferences' no longer seems to work.

**OS and Theia version:**
OS: linux docker, browser on window
Theia: 0.5.0

[2019-04-12 07:33] adrienrenaud commented on #4546
`streetsidesoftware.code-spell-checker` seems to work fine for me with the browser example in  d380b17fee13d4c3042edd2884e58886d80528dd. Thanks

[2019-04-12 08:59] akosyakov commented on #4891
Did you use latest or next image?

[2019-04-12 09:12] adrienrenaud commented on #4881
Would you consider to outline the usage of `--plugins=local-dir:../../plugins` in the wiki https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions? Because I used to start theia with `yarn theia start` that do not trigger plugins discovery.

[2019-04-12 09:19] akosyakov commented on #4889
A dup of https://github.com/theia-ide/theia/issues/4149#issue-402244017?

We have error reporting in the place for this script. The issue is that yarn swallows stdout from post-install script. I was not able to find an option to force yarn showing it.

[2019-04-12 09:26] zixuemeng commented on #4891
'Open Preferences' works now.

[2019-04-12 09:26] #4891 closed

[2019-04-12 10:29] adrienrenaud commented on #3186
@akosyakov `vscode:extension/ms-python.python` works fine (debug, lint, refactor) for me on d380b17fee13d4c3042edd2884e58886d80528dd but I can't open the `Python interactive window`, neither from the command palette or on clicking on `Run Cell`. It might be related to using conda environment: see attached log.
![theia_jupyter](https://user-images.githubusercontent.com/6208157/56030914-4cc6a680-5d1

[2019-04-12 12:08] akosyakov commented on #4867
I've noticed that storage data are never stored by a workspace in the bundled app leading to different bogus situations:

<img width="766" alt="Screen Shot 2019-04-12 at 13 45 07" src="https://user-images.githubusercontent.com/3082655/56036059-27d93000-5d2c-11e9-81f5-920b3461a49f.png">

Could be related.

[2019-04-12 12:57] AlexTugarev opened #4894 "Terminal is leaking"
Open 4 Terminal widgets. Close them. Take a heap snapshot:

![Screen Shot 2019-04-12 at 14 46 56](https://user-images.githubusercontent.com/914497/56038512-7093e780-5d32-11e9-9c42-b93e79e2c80e.png)

Repeat with 3 more widgets (just in case)

![Screen Shot 2019-04-12 at 14 47 56](https://user-images.githubusercontent.com/914497/56038557-8f927980-5d32-11e9-9152-ba99d15494e4.png)

Then open 2 other t

[2019-04-12 13:02] vince-fugnitto opened #4895 "[quality] circular dependency between tree-widget and tree-widget-selection"
There is a circular dependency between the `tree-widget` and `tree-widget-selection`.

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/56039194-b4222d80-5d01-11e9-9a41-34e2e5ec4ac9.png)

</div>

[2019-04-12 13:05] #4805 closed

[2019-04-12 13:05] AlexTugarev commented on #4894
BTW this was the original hint to this issue:

[code]

[2019-04-12 13:06] #3882 closed

[2019-04-12 17:13] caseyflynn-google commented on #3796
I will confirm, but I think we can resolve all issues if we ensure all fonts are loaded before rendering Monaco (This will fix CrOS rendering two separate fonts) in addition we will need to call the API to invalidate the cache if/when the devicePixelRatio changes (if a user changes screen resolution, or drags Theia to another device on CrOS).

[2019-04-12 18:03] #4769 closed

[2019-04-12 19:46] kittaakos opened #4897 "[tab-bar][editor] Support tab details to disambiguate editor titles"
VS Code shows the relative path of a file if there are multiple editors with the same name.

VS Code:
<img width="850" alt="Screen Shot 2019-04-12 at 21 42 21" src="https://user-images.githubusercontent.com/1405703/56062192-ed8f8300-5d6b-11e9-85c9-f41143ab0dcd.png">

If there are more than one editor tabs with the same it shows the file's relative path next to the name. I find it useful.

[2019-04-14 03:02] daisuke-yoshimoto commented on #3477
@akosyakov
Sorry. It does not seem to be a problem with memory leaks. I could avoid it by setting the heap size below.
`ENV NODE_OPTIONS=$NODE_OPTIONS--max-old-space-size=2098`

[2019-04-14 05:05] adrienrenaud commented on #3186
Adding the conda path in `.theia/settings.json` (in my case `"python.condaPath": "/opt/anaconda3/bin/conda"`) fix some of the issues. I'm able to open the Python Interactive window: **Python: Show Python Interactive window** and matplotlib graphs are rendering.
![image](https://user-images.githubusercontent.com/6208157/56088513-dabba200-5e82-11e9-8ab5-d8e9d521d182.png).
But hitting **Run Cell** do

[2019-04-14 09:19] PavelSosin opened #4898 "Question - how Debug server should be deployed to kubernetes cluster ?"
### Description
Question: How application should be deployed to kubernetes cluster for debugging ? Single pod headless service and proxy afinity = cookies ? In such scenario any additional proxy will be redundant
### Reproduction Steps
See all tickets related to Theia debug session stability
Expected:
Debugging session stability regardless proxy and infra processing path of WebSocket protocol time

[2019-04-14 09:54] 502647092 opened #4899 "plugins jebbs.plantuml not support"
### Description
![image](https://user-images.githubusercontent.com/10203793/56090990-96a8bb80-5edb-11e9-88f8-ad9c14afd6a8.png)

### Reproduction Steps
download plugin and start theia
https://marketplace.visualstudio.com/items?itemName=jebbs.plantuml

**OS and Theia version:**
next version

**Diagnostics:**
[code]

[2019-04-14 10:52] 502647092 opened #4900 "download-debug-adapters not support vscode market download url"
### Description
can't use vscode market download url
https://marketplace.visualstudio.com/_apis/public/gallery/publishers/ms-vscode/vsextensions/Go/0.9.2/vspackage
must replace to
https://ms-vscode.gallery.vsassets.io/_apis/public/gallery/publisher/ms-vscode/extension/Go/0.9.2/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage

But I compared the downloaded files and found that the content wa

[2019-04-14 13:28] 502647092 commented on #4829
@akosyakov
i use vscode-java extension find this action thank you
![image](https://user-images.githubusercontent.com/10203793/56093506-3e35e600-5efc-11e9-9a72-b03f11deb301.png)

[2019-04-14 13:28] #4829 closed

[2019-04-14 13:50] 502647092 commented on #4730
@akosyakov
use alpine image Chinese is Correct maybe is fonts problem
![image](https://user-images.githubusercontent.com/10203793/56093777-290e8680-5eff-11e9-9822-c7fa3b00f0b4.png)

[2019-04-14 13:50] #4730 closed

[2019-04-14 13:57] 502647092 opened #4901 "tree view right-click causes it to move to the top"
### Description
Right-click causes the list to move to the top

### Reproduction Steps
right click any file then click on the blank area

**OS and Theia version:**
latest next version

**Diagnostics:**
![temp](https://user-images.githubusercontent.com/10203793/56093862-22344380-5f00-11e9-9a9b-a0e1feb02955.gif)

[2019-04-14 15:16] akosyakov commented on #4894
@AlexTugarev Can you reproduce with latest xtermjs? Which code retains ArrayBuffers? xtermjs?

[2019-04-14 15:23] akosyakov commented on #4898
@geropl maybe you can help here. In Gitpod i don't see any frozen sessions, server failures and so on.

[2019-04-14 16:00] akosyakov commented on #4895
It's kind of by design :) Not sure that this check is so useful.

[2019-04-14 16:04] akosyakov commented on #3477
@daisuke-yoshimoto avoid or postpone? You can start the backend in inspect mode and use chrome to measure heap growth. Just don't forget to collect garbage before taking the snapshot. If something is leaking you will see that more memory is accumulating after you do the same action and collect garbage over and over.

[2019-04-14 16:17] akosyakov commented on #4899
It's a bug in plugin-system, it seems we don't preserve the original command object somehow.

[2019-04-14 16:53] 502647092 opened #4902 "vscode plugin gitlens not support"
### Description
https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens
not support
![image](https://user-images.githubusercontent.com/10203793/56096283-ca560680-5f18-11e9-997e-32e19a4803c1.png)
![image](https://user-images.githubusercontent.com/10203793/56096296-fcffff00-5f18-11e9-9833-44a41d3c5b5b.png)

### Reproduction Steps
**OS and Theia version:**
**Diagnostics:**

[2019-04-14 16:57] 502647092 opened #4903 "alt+w doesn't close preview window"
### Description
![image](https://user-images.githubusercontent.com/10203793/56096331-5831f180-5f19-11e9-8c0b-9aed9a1cda99.png)

### Reproduction Steps
click file in explorer
press alt+w doesn't close preview window

**OS and Theia version:**
**Diagnostics:**

[2019-04-14 21:12] vince-fugnitto commented on #4895
I'm not sure, I couldn't find an easy way to break it, I first noticed it when building Theia and running, the circular dependency was logged.

[2019-04-14 21:50] capacman opened #4904 "packaging extension with electron"
I am trying to package my extension with electron-builder but when i try to run it it says:
Class constructor AbstractMessageReader cannot be invoked without 'new'
though i can run it from electron module directory with
yarn start
Am i doing something wrong? below are electron-builder.yml and package.json files

[electron-builder.zip](https://github.com/theia-ide/theia/files/3077909/electron-build

[2019-04-15 04:15] akosyakov commented on #4904
Do you mean packaging your app with electron? Packaging an individual extension does not make sense.

For packaging for the standalone app see https://github.com/theia-ide/theia-apps/tree/master/theia-electron

[2019-04-15 04:17] akosyakov commented on #4903
@502647092 electron right?

[2019-04-15 04:20] 502647092 commented on #4903
No
Chrome Browser
if i double click to open file
alt + w can close

[2019-04-15 04:28] #4759 closed

[2019-04-15 04:28] #4860 closed

[2019-04-15 04:37] 502647092 opened #4905 "vscode plugin shell-format not support"
### Description
https://marketplace.visualstudio.com/items?itemName=foxundermoon.shell-format
not support

![image](https://user-images.githubusercontent.com/10203793/56107841-176ac480-5f7b-11e9-8920-0fa8e33fd856.png)

![image](https://user-images.githubusercontent.com/10203793/56107788-d2df2900-5f7a-11e9-8c23-88e362cff743.png)

### Reproduction Steps
download plugin start theia
open Dockerfile an

[2019-04-15 04:47] akosyakov commented on #4902
@502647092 it relies on SCM support and there other missing APIs:
[code]

[2019-04-15 04:47] akosyakov commented on #4902
To track progress on SCM support: https://github.com/theia-ide/theia/pull/4279

[2019-04-15 05:07] 502647092 opened #4907 "delete file error not have notify"
### Description
![image](https://user-images.githubusercontent.com/10203793/56108575-2c495700-5f7f-11e9-9407-758f96a584f7.png)

### Reproduction Steps
create a file .user.ini
chattr +i .user.ini
delete in theia

**OS and Theia version:**

**Diagnostics:**
[code]

[2019-04-15 05:10] jgbradley1 commented on #4831
I was just reading about themes. From what I understand, if Theia wants to leverage existing VS code themes, then all of the variables referenced in the css files [here](https://github.com/theia-ide/theia/tree/master/packages/core/src/browser/style) will require refactoring. Namely, rename the variables and align them to their [VS Code equivalent](https://code.visualstudio.com/api/references/theme

[2019-04-15 05:12] akosyakov commented on #4831
Something like that, or we will need to have some kind of mapping if we don't want to break.

[2019-04-15 05:25] 502647092 opened #4908 "git Add Signed-off-by error if not set email and username"
### Description
![image](https://user-images.githubusercontent.com/10203793/56109071-8814df80-5f81-11e9-9edb-161e75e8e03d.png)

![image](https://user-images.githubusercontent.com/10203793/56109061-7df2e100-5f81-11e9-86eb-c501f007e817.png)

### Reproduction Steps
modify some file
on git page click Add Signed-off-by bottom

**OS and Theia version:**
**Diagnostics:**

[2019-04-15 06:18] benoitf commented on #4363
@DoroNahari I was on PTO last week

I would be in favor of option 2. In fact, before we had option 1 but we had an issue because for example in some K8S environment it is taking some time to make a route available (the external URL). So for example the local ping is immediate, then the user is redirected to a page saying that the route is not yet available so the UX is not good.

[2019-04-15 06:22] kittaakos commented on #4904
It is just a guess, but I would say, you have this error because incorrect versions are used in your bundled electron application. See [here](https://github.com/theia-ide/theia/pull/4896#issuecomment-482597019).

[2019-04-15 06:45] akosyakov commented on #4859
rust LS log errors:
[code]

[2019-04-15 06:45] akosyakov commented on #4856
It can be the same as in https://github.com/theia-ide/theia/issues/4859#issuecomment-483127532.

[2019-04-15 07:51] capacman commented on #4904
Hi Guys,
I meant packaging the standalone app. I will look at above links and try again. Thanks for quick response.

[2019-04-15 08:10] akosyakov opened #4909 "[vscode] support cancellation"
Monaco is optimized to cancel unnecessary requests as user enters new input. Plugin system does not respect it causing perf issues and bugs like https://github.com/theia-ide/theia/issues/4859.

[2019-04-15 08:11] akosyakov commented on #4859
Monaco get in the weird state because cancellation tokens are not respected and continue spamming with resolved requests.

[2019-04-15 08:17] 502647092 opened #4911 "save file is very slow"
### Description
![image](https://user-images.githubusercontent.com/10203793/56116998-bef6ef80-5f99-11e9-80d0-c4ac188cfdc0.png)

### Reproduction Steps
docker pull miaowoo/theia:alpine
create a file
Ctrl + s

**OS and Theia version:**
latest next theia version

**Diagnostics:**
package.json
[code]

[2019-04-15 08:36] ariel-bentu opened #4912 "Gaps in vscode-ext support: views, launchConfig"
### Description

Following are three topics in which Theia is not compatibale/ not fully working comparing to vscode in regards to vscode extensions:

#### Adding a View to Theia does not behave as in vscode, and some things don't work:
* Trying to add the view to one of the existing viewContainers (debug, explorer) do not work and the view does not show at all
* When adding a new viewContainer, a

[2019-04-15 08:49] okrits opened #4913 "Building Theia IDE Docker-Image within AWS EC2 instance: RUN yarn theia build Error"
Hello, I'm using the free tier t2.micro instance with 1 CPU and 1 GiB of memory and amount of volume storage in Elastic Block Store is 8 GiB.

[code]

Many thanks in advance!

[2019-04-15 08:52] benoitf commented on #4913
hello, probably not enough memory as process is killed ?

[2019-04-15 09:04] GDJason12 commented on #3796
Just change the zoom on the page.

[2019-04-15 09:07] GDJason12 commented on #3796
CTRL+Shift+-

[2019-04-15 09:18] akosyakov commented on #4912
Thanks for the detailed reporting!

[2019-04-15 09:21] capacman commented on #4904
I tried some different configs but could not package application. When i choose electronVersion 3.1.7 by looking examples from the link  @kittaakos gave,  i got some more traces like:
`root ERROR TypeError: Class constructor AbstractMessageReader cannot be invoked without 'new'
    at new WebSocketMessageReader (/home/capacman/programlama/typescript/workspace/jointreact/henkan-app-electron/dist/li

[2019-04-15 09:23] AlexTugarev commented on #4911
this happens quite often if auto-save is disabled. also, it's likely to be related to language support, at least I couldn't reproduce it with plain text, but with TypeScript, Python, etc.

[2019-04-15 10:01] #4856 closed

[2019-04-15 10:01] #4859 closed

[2019-04-15 10:25] 502647092 commented on #4911
I solved this problem by deleting the python plugin.

[2019-04-15 10:25] #4911 closed

[2019-04-15 10:31] PavelSosin commented on #4898
@3 issues that are relevant for us:

https://github.com/theia-ide/theia/issues/4591 - enhancement debugger
https://github.com/theia-ide/theia/issues/4590 - bug debugger vscode integration
https://github.com/theia-ide/theia/issues/4608 - for this one they haven’t responded at all

Please, take into account that WebSocket protocol is extremely allergic for communication errors and proxy bad-doing, S

[2019-04-15 10:51] okrits commented on #4913
Hello, I'm using the free tier t2.micro instance with 1 CPU and 1 GiB of memory. Amount of volume storage in Elastic Block Store is 8 GiB. That should be enough. Locally the docker image is round about 2 GB.

[2019-04-15 10:53] 502647092 opened #4915 "some vscode cause keymaps not effective"
### Description
![image](https://user-images.githubusercontent.com/10203793/56127345-83ffb680-5faf-11e9-8016-8c485eb628d2.png)

### Reproduction Steps

**OS and Theia version:**
docker image miaowoo/theia:alpine
latest next version and below package.json

**Diagnostics:**
package.json
[code]

[2019-04-15 11:04] 502647092 commented on #4915
i think maybe some plugin cause keymaps invalid
i try theiaide/theia-go:next keymaps is correct

[2019-04-15 11:57] kittaakos commented on #4789
For the bundled electron application, it is
[code]
in the `electron-builder.yml` configuration.

[2019-04-15 12:02] #4582 closed

[2019-04-15 12:41] 502647092 commented on #4915
I test all plugin
find https://marketplace.visualstudio.com/items?itemName=redhat.java cause keymaps invalid
@akosyakov

[2019-04-15 12:50] akosyakov commented on #4915
@502647092 thx for the analysis

[2019-04-15 13:01] marcdumais-work commented on #4913
Hi @okrits ,

Which image are you trying to build? Is it one from our [theiaide/theia-apps](https://github.com/theia-ide/theia-apps) repo?

I think @benoitf is right. While it may be possible to run a small Theia application in 1GB of RAM, this amount of memory may not be enough to build the same application.

You could try building it on a machine or instance that has more RAM and then run it on

[2019-04-15 13:03] vrubezhny commented on #4578
Closing the issue as vscode supported version is updated by resolving https://github.com/theia-ide/theia/issues/4124

[2019-04-15 13:03] #4578 closed

[2019-04-15 13:19] okrits commented on #4913
Yes it is theia-java-docker image from [theiaide/theia-apps](https://github.com/theia-ide/theia-apps) repository. Locally I have no problems to build the image. I'll try instance with more RAM.

Thank you @benoitf @marcdumais-work.

[2019-04-15 13:49] #4913 closed

[2019-04-15 17:03] vince-fugnitto opened #4919 "[tasks] unable to configure tasks when in a multi-root workspace"
**Description**
Unable to `configure` tasks when in a multi-root workspace.
[code]

**Reproduction Steps**
1. Open a multi-root workspace.
2. Perform the command `Run Task...` and attempt to configure a task (small cog icon).
3. Notice that nothing occurs, and an uncaught error is thrown.

[2019-04-15 17:24] jeffmaury commented on #4715
Managed to debug the returned object from `vscode.window.showWorkspaceFolderPick` and found that:

- `uri`, `name` and `index` are properties for the returned object with is compliant
- the `uri` property object has `path` and `scheme` but is missing `authority`, `query`, `fragment` and `fsPath`

[2019-04-15 17:27] benoitf commented on #4715
OK thanks @jeffmaury

[2019-04-15 21:18] jonnyhork commented on #4716
@tsmaeder Hi, I just wanted to check in about this issue. I see that file.associations was added to [this sprint](https://github.com/eclipse/che/issues/13074) but I am hoping you could speak to and estimated time for implementation. This would help me decide wether to use a workaround solution depending on the timeline. Thanks again for your help!

[2019-04-16 05:43] shenxs commented on #3546
Hi ，I just wandering how is that going or how could I implement it ,if I want that feature

[2019-04-16 06:44] AlexTugarev opened #4921 "Unqualified local storage key for the selected git repository"
<img width="373" alt="Screen Shot 2019-04-16 at 08 39 30" src="https://user-images.githubusercontent.com/914497/56187612-6d934280-6023-11e9-96cc-e9a113a4f0ed.png">

I think this may lead to issues when trying to open a second workspace location. Could this explain why the FE is switching between two states back and forth?

[2019-04-16 07:21] akosyakov commented on #3546
@shenxs feel free to grab it

[2019-04-16 08:44] #4865 closed

[2019-04-16 09:13] kittaakos opened #4923 "[quality] Move the upload service and its functionality to its own module"
`packages/filesystem/src/browser/download/file-download-service.ts` should be responsible for the download only, as its name suggests.

Move the upload functionality to its own module.

[2019-04-16 09:28] tolusha commented on #4716
@jonnyhork
I would suggest using workaround for now.

[2019-04-16 09:43] akosyakov commented on #4923
I would rather have files-service which represents `files` HTTP resources and provides HTTP operations on them, i.e. download, upload and so on.

[2019-04-16 10:19] DoroNahari opened #4924 "MDK vscode extension is not deployed properly"
### Description
MDK vscode extension is not deployed properly on theia.

### Reproduction Steps
I try to use MDK vscode extension on theia (latest\next)
https://marketplace.visualstudio.com/items?itemName=SAPSE.vsc-extension-mdk

On theia: run command: Deploy plugin by ID -> Insert the plugin id: vscode:extension/SAPSE.vsc-extension-mdk

I can see that the plugin is deployed but the plugin feature

[2019-04-16 10:22] #4768 closed

[2019-04-16 10:35] akosyakov commented on #4924
If you can provide a link to source code for this extension it would be nice. I could not find it on marketplace page. It would help with detailed analysis.

[2019-04-16 10:36] #4921 closed

[2019-04-16 11:27] kittaakos commented on #4923
I am OK with both; I would like to be able to locate the classes based on the container module name, if possible.

[2019-04-16 11:34] #4909 closed

[2019-04-16 11:35] #4693 closed

[2019-04-16 13:37] kittaakos opened #4925 "[debug] Use type definitions for `ps-list`."
I have stumbled upon this `TODO` in the source:

https://github.com/theia-ide/theia/blob/a388fc577b5a7694ab238678e1ff669487c520b4/packages/debug-nodejs/src/node/node-debug-adapter-contribution.ts#L18

It seems the [type definitions](https://github.com/sindresorhus/ps-list/pull/28) are available for `ps-list`.

Edit: fixed the npm package name.

[2019-04-16 14:23] lmcbout commented on #4814
Jake is using the old API to computeTask(). Because of that, I need to implement the deprecated Task constructor to handle Jake.
To support the vscode built-in plugin for JAKE , there is two ways:
1-   I need to implement the deprecated Task constructor to handle Jake.
2-  Jake vscode built-in plugin needs to be adjusted to handle the creation of task using the newest API

In the current solution,

[2019-04-16 14:33] akosyakov commented on #4814
If this API is still into https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts then we have to support it regardless whether it is deprecated or not. Just mark them as deprecated as well.

[2019-04-16 14:41] benoitf commented on #4814
it is still there so yes (BTW PR is doing that)

[2019-04-16 14:43] lmcbout commented on #4814
This is what I did, I put deprecated with the constructor (Same as in vscode)

[2019-04-16 16:15] #4770 closed

[2019-04-17 06:05] rayh opened #4927 "URL path escapes '@' symbol, which breaks the url"
### Description
I have theia running under JupterLab, the username in the url is an email address and contains an @, for example:

/users/rayh@example.com/theia

While I can load the page, the websocket url escapes the @ and therefore breaks the url and the websocket connection cannot be established.

In webpack:///./node_modules/vscode-uri/lib/esm/index.js - if I flip skipEncoding to true, the ur

[2019-04-17 06:59] ab00a commented on #4725
I think he means create an app that runs on Chromebooks and allows you to edit locally accessible files. In other words, not hosting it on a remote server, but actually running the server locally and using the local browser to do the file editing.

At the moment, on a Chromebook (without Linux apps support) real dev work needs to be done in the browser on a remote system - which is bad if you're o

[2019-04-17 08:13] RomanNikitenko opened #4928 "Contributed Task Configuration question"
### Description
My question is about [ContributedTaskConfiguration](https://github.com/theia-ide/theia/blob/3af6e36425ca8df744798e11f31876f4cfdff2b2/packages/task/src/common/task-protocol.ts#L38).

As far as I understand, fields `_source` and `_scope` are required to have ability [run task](https://github.com/theia-ide/theia/blob/3af6e36425ca8df744798e11f31876f4cfdff2b2/packages/task/src/browser/q

[2019-04-17 08:19] akosyakov commented on #4725
One can create standalone package.json and try to run it as a chromebook app. Code can go under https://github.com/theia-ide/theia-apps I don't think that active contributors will look into it any time soon, so help from the community is welcomed.

[2019-04-17 08:29] apupier opened #4929 "Diagnostic from a language server is overriding diagnostic from other Language servers contributing to the same file"
### Description

Diagnostic from a language server is overriding diagnostic from other Language servers contributing to the same file

### Reproduction Steps

docker run -it -p 3000:3000 -v "${pwd}:/home/project:cached" theiaide/theia-full:next

use command "deploy plugin by id" for xml and Camel:
vscode:extension/camel-tooling.vscode-apache-camel
vscode:extension/redhat.vscode-xml

create file ca

[2019-04-17 08:29] akosyakov opened #4930 "Fix Theia language extensions"
A lot of Theia language extension were broken by this commit: https://github.com/theia-ide/theia/commit/b8633c3fd5f08994c5d97b0e1d00e590b38c62d8

They should be fixed asap cc @simark @marcdumais-work

It's too late to revert a change it was landed as part of 0.5.0 ~or we need to make bug fix release 0.5.1~ (we cannot some extensions already adjusted).

Look for all usages https://github.com/search

[2019-04-17 09:08] ab00a commented on #4725
I will do some research on the best way to run a Node server in a background task when I have some time.

[2019-04-17 10:30] kamilkloch commented on #4261
I just tried to follow https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions to check Metals. (Metals configuration already contains entry "metals.javaHome": "/usr/lib/jvm/java-8-oracle").

I stumbled on the same issue while opening Theia in the browser: `Unable to find Java 8 home. To fix this problem, update the 'Java Home' setting to point to a Java 8 home directory`.

Clicking `Op

[2019-04-17 10:57] marcdumais-work commented on #4930
I think the breakage happened in this commit: [b174794752](https://github.com/theia-ide/theia/pull/3843/commits/b174794752bace9ce354b8995f59356dccc299aa).

@akosyakov IIUC the way forward is to propagate the new Process API to the broken extensions listed above?

@marechal-p Can you take care of this?

[2019-04-17 11:09] cell commented on #411
Hi. As the Issue is not closed I add my two cents. I think authentication should stay out of theia. As it's single user, I can't see why authentication would be needed.

For those wanting to have multiple instances of theia on the same host and have authentication, you'll need a reverse-proxy anyway otherwise each instance has to be mapped to a different port on the hosts.

Now the question is whi

[2019-04-17 12:06] amiramw commented on #4852
Seems to be fixed now. Thanks!

[2019-04-17 12:06] #4852 closed

[2019-04-17 12:10] akosyakov commented on #4930
@marcdumais-work yes, i don't see other way, reverting will break extensions who already migrated

[2019-04-17 13:19] vilashProgrammr commented on #686
this doesn't work in my case .
I have creates the task.json file in work-space still runtask doesn't show any tasks to run.

[2019-04-17 13:28] marcdumais-work commented on #686
Hi @vilashProgrammr ,

Look [here](https://github.com/theia-ide/theia/tree/master/packages/task) for more recent documentation about Tasks.

[2019-04-17 14:48] benoitf commented on #4924
@DoroNahari
deploying the vsix I have the menu entries
![image](https://user-images.githubusercontent.com/436777/56297170-247ce480-6130-11e9-8b22-60a94d3c8a30.png)
or preferences
![image](https://user-images.githubusercontent.com/436777/56297289-60b04500-6130-11e9-8535-a1e82340abb7.png)

I see in your log a trace about some modules not found that I haven't
[code]
I might suspect it is linked to a

[2019-04-17 15:05] benoitf commented on #4924
ok so from what I've found is that your extension is loading 'vscode-json-languageservice/lib/umd/services/JSONSchemaService.js'

    at Object.<anonymous> (/tmp/vscode-unpacked/SAPSE.vsc-extension-mdk-1.6.1.vsix/extension/node_modules/mdk-languageservice/lib/service/schema/SchemaService.js:10:25

[code]

but looking at the files:

[code]

the files don't have the same lowercase/uppercase so I wou

[2019-04-17 15:08] roflcoopter opened #4935 "VSCode Docker extensions does not work"
### Description
 The VSCode docker extension does not load in Theia.

### Reproduction Steps
1) Install https://marketplace.visualstudio.com/items?itemName=PeterJausovec.vscode-docker
2) Start Theia

**OS and Theia version:**
Ubuntu 18.04 - Theia nex 0.6.0

**Diagnostics:**
It fails with this error
`
root ERROR [hosted-plugin: 12451] (node:12451) UnhandledPromiseRejectionWarning: Error: Internal e

[2019-04-17 18:39] elaihau commented on #4928
Thank you for finding the bug and pointing out the root cause !

You are right. the `undefined` properties are removed when saved as json. Since `null` can be preserved, should we use `null` instead for those "global tasks" ? @RomanNikitenko @akosyakov

[2019-04-17 18:54] #4814 closed

[2019-04-17 20:22] #4715 closed

[2019-04-18 02:39] tetchel commented on #4935
VS Code shipping Keytar is not API - see https://github.com/Microsoft/vscode/issues/68738

[2019-04-18 02:41] tetchel commented on #4912
I would also like to see support for the `views` contribution point without requiring the plugin to also contribute a `viewContainer`.

[2019-04-18 03:12] BoykoAlex opened #4938 "[Java] Hyperlinks to source code in hovers don't work"
Regression. This used to work well before (a month ago)

Launch Theia with Java extension
Open a Java file in a Maven project for example
Hover on `java.util.List` occurrence in a Java file (or any other that has hover content with hyper links)
Scroll to the bottom of the hover where most of the time "See Also" links are located
Click on `Collection` or any other hyperlinks
Nothing happens.
You mi

[2019-04-18 04:48] roflcoopter commented on #4935
I see, do you have any idea how I can install it manually?

Tried putting it in my package.json which doesn't seem to work

[2019-04-18 05:16] akosyakov commented on #4928
@elaihau How about checking only presence of `_source` and mark `_scope` as optional?

[2019-04-18 07:06] kittaakos opened #4940 "Simplify the way we `require` the server module"
This seems to be a leftover from the clusters. There is no need to resolve the path of the server module first, and then require the server module from Theia's `main`. It is sufficient, to require the server module in the application's `main` and pass the server further to Theia's `main`.

https://github.com/theia-ide/theia/blob/3af6e36425ca8df744798e11f31876f4cfdff2b2/dev-packages/application-man

[2019-04-18 07:35] kittaakos opened #4942 "[json] Auto-closing quotes does not work in JSON files"
Theia TS/JS:
![screencast 2019-04-18 09-30-03](https://user-images.githubusercontent.com/1405703/56344253-41abc480-61bd-11e9-959f-01a2c34df69f.gif)

Theia JSON:
![screencast 2019-04-18 09-30-58](https://user-images.githubusercontent.com/1405703/56344247-3b1d4d00-61bd-11e9-97e7-fd057829c5ff.gif)

VS Code JSON:
![screencast 2019-04-18 09-31-57](https://user-images.githubusercontent.com/1405703/56344

[2019-04-18 08:00] apupier opened #4943 "Provide Camel stack for Che 7"
### Description

content:
- Camel plugin (requires https://github.com/eclipse/che-plugin-registry/issues/109 )
- XML plugin
- Java plugin
- same other configurations than what is available for a SpringBoot stack
- Sample project https://github.com/jboss-fuse/fuse-rest-http-booster

for reference see stack for Che 6 https://github.com/eclipse/che/blob/b8fa90c72b934030686cecc06c9366f44bc2f803/ide/ch

[2019-04-18 08:06] apupier commented on #4943
oups created in the wrong repository. Sorry :(

[2019-04-18 08:06] #4943 closed

[2019-04-18 08:27] kittaakos opened #4944 "Explicitly declare the `index.html` file as a static handler for `express`."
This seems to be required for #4541. Otherwise, the bundlers (`pkg` or `nexe`) have no idea that the `index.html` has to be included final executable.

Something like this should do the trick:
[code]

[2019-04-18 08:30] AndrienkoAleksandr opened #4945 "Add plugin validator"
### Description
It would be nice to add plugin validator to prevent setup plugins with invalid meta information. This validator could be done like library and we can reuse this validator in the plugin packager.

[2019-04-18 08:42] benoitf commented on #4899
https://github.com/theia-ide/theia/pull/4946 is solving the reported issue but there are other errors after with this extension

[2019-04-18 09:29] #4940 closed

[2019-04-18 09:29] #4944 closed

[2019-04-18 09:36] piec commented on #4403
It seems to work but it's not great because this will make the theia processes unable to write to `/home/theia`. And apparently it needs to in order to work properly
Example:
[code]
---
A quick solution would be to make /home/theia rwX to `o` at build and run with theia process with the host's user uid.

[2019-04-18 09:44] benoitf commented on #4899
It will require https://github.com/theia-ide/theia/pull/4743 as well

as workaround, you can define
[code]

in your preferences

and then you can export stuff
![plantuml](https://user-images.githubusercontent.com/436777/56352320-47aaa100-61cf-11e9-953d-88d99d838651.gif)

[2019-04-18 09:50] akosyakov commented on #4942
https://github.com/theia-ide/theia/blob/master/packages/json/src/browser/json-grammar-contribution.ts#L33 should be aligned with https://github.com/Microsoft/vscode/blob/master/extensions/json/language-configuration.json

[2019-04-18 11:15] #4861 closed

[2019-04-18 11:59] ariel-bentu commented on #4912
One addition, I plan to (try) fixing it and provide a pull request. If there's any other plan in this regards, please let me know.

I see in the code, that currently in theia, Icons are assumed to be from Font Awesome. In vs-code ext you can bring your own. I hope to be able to support that as well.

[2019-04-18 12:01] benoitf commented on #4912
thx @ariel-bentu
I would say it would be better to do small PR that fixes a specific issue than trying to solve everything in one PR.

[2019-04-18 13:15] vince-fugnitto opened #4949 "[workspace] incorrect file-icon when displaying 'recent workspaces'"
**Description**
The file-icons present in the 'recent workspaces' quick-open are incorrect for folders that begin with a `.` (example: `.theia`)

**Reproduction Steps**
1. Open a `.` folder as a workspace.
2. Trigger the `Open Recent Workspace` quick-open. Notice the icon is incorrect.

![Screen Shot 2019-04-18 at 9 14 36 AM](https://user-images.githubusercontent.com/40359487/56363520-6c484e00-61b

[2019-04-18 13:29] tetchel commented on #4935
Maybe someone from the Theia team can comment, but native modules are a difficult problem because they have to be compiled per-platform. https://github.com/Microsoft/vscode/issues/658

[2019-04-18 13:31] benoitf commented on #4781
Looking at the issue, there is a workaround if you select the whole text before clicking send request button
![httpie](https://user-images.githubusercontent.com/436777/56364533-0fb35600-61ef-11e9-9234-fb5bd01e7eb8.gif)

[2019-04-18 14:51] apupier commented on #4929
using another way to deploy, it is working:

` docker run -it --rm -p 3000:3000 -p 3030:3030  -v C:/git/theia/plugins:/plugins -e THEIA_PLUGINS=local-dir:///plugins theiaide/theia-full:next`

![image](https://user-images.githubusercontent.com/1105127/56369697-214e2b00-61fa-11e9-857c-7ca332e53a6d.png)

[2019-04-18 14:59] draco2003 commented on #4112
Mind sharing your dockerfile for Centos?

[2019-04-18 15:07] akosyakov commented on #4929
Could it be that there are several extensions using the same diagnostic collection id?

[2019-04-18 15:09] akosyakov commented on #4912
Should be addressed by https://github.com/theia-ide/theia/pull/4947 eventually

[2019-04-18 15:15] apupier opened #4952 "On Windows, the VS Code plugins in development might not deploy due to wrong version detected"
### Description

on Windows, the Theia version is seen instead for the vscode one

### Reproduction Steps

follow https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions

as vsix, you can use https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml

**OS and Theia version:**

Windows 10
Theia master

**Diagnostics:**

[code]

note: using docker run -it --rm -p 3000:3000 -p

[2019-04-18 15:22] akosyakov commented on #4938
Probably https://github.com/TypeFox/monaco-languageclient/issues/142

[2019-04-18 15:45] #4930 closed

[2019-04-18 16:03] benoitf commented on #4758
hello, is there new status ?

[2019-04-18 16:14] vince-fugnitto commented on #4758
I haven't been able to look at it this month, I believe @elaihau might take a look at it however, but you're more than welcome to work on it on your side if it's more urgent :)

[2019-04-18 17:30] #4949 closed

[2019-04-18 21:25] kittaakos opened #4955 "[quality] Verify the way we concat FS paths (`__dirname + module.js`)"
Based on #4954.

![Screen Shot 2019-04-18 at 22 46 19](https://user-images.githubusercontent.com/1405703/56392130-e1ef0100-6230-11e9-9e4a-7add2b7acbb7.jpg)

TODO:
 - [ ] Verify if related https://github.com/theia-ide/theia/issues/4213
 - [ ] Possible required for fully VS Code extension support in bundled exec #4541

[2019-04-18 21:28] kittaakos commented on #4541
Here is a POC without the debugging support: https://github.com/kittaakos/theia-nexe
I have briefly verified it with the TS-LS support on macOS and in Gitpod.

[2019-04-19 01:58] jgbradley1 commented on #4541
Just wanted to point that it looks like codercom encountered [similar](https://github.com/codercom/code-server/issues/224) issues trying to use nexe or pkg. They ended up developing their own nodejs binary compiler, [nbin](https://github.com/codercom/nbin), that looks like it is able to package everything up (including native modules).

[2019-04-19 06:08] jgbradley1 opened #4956 "VS Code Python extension"
Motivated by [this](https://github.com/theia-ide/theia-apps/pull/101) idea, this is a [first attempt](https://github.com/jgbradley1/theia-python3) to replace `@theia/python` with the VS Code [Python](https://marketplace.visualstudio.com/items?itemName=ms-python.python) extension. The main focus is on supporting Python 3.

This will also address [#2459](https://github.com/theia-ide/theia/issues/245

[2019-04-19 08:17] yeweiasia commented on #4956
vscode python plugin works well on my machine

[2019-04-19 08:29] vinokurig opened #4957 "[Plugin-API] Redundant 'CancellationToken' argument is present in each rpc-request"
### Description

On each rpc-request a new argument 'CancellationToken' is added to the arguments array:
https://github.com/theia-ide/theia/blob/2a2a6010329850e79b508b2133a62749d2d39e05/packages/plugin-ext/src/api/rpc-protocol.ts#L179-L181

It causes a wrong behavior of `VsCode Git Extention`. On executing some commands, the extension handles received arguments and 'CancellationToken' object influ

[2019-04-19 08:32] kittaakos commented on #4957
Possible the same as https://github.com/theia-ide/theia/issues/4310

[2019-04-19 08:38] #4850 closed

[2019-04-19 13:14] 502647092 commented on #4901
@akosyakov how to solve this problem

[2019-04-19 15:09] jgbradley1 commented on #4956
linting and Jupyter notebook support do not seem to work as expected. Linting doesn't show errors in the Problems window. After converting a Jupyter notebook to a new python file, there are problems starting up the interactive Jupyter console.

[2019-04-19 15:50] 502647092 opened #4959 "[vscode] plugin php-intellisense not support"
### Description
![image](https://user-images.githubusercontent.com/10203793/56431631-09ab9b00-62fd-11e9-8614-616f997f2d77.png)

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-04-19 16:03] benoitf commented on #4959
FYI in Eclipse Che we're working on supporting the other PHP extension https://marketplace.visualstudio.com/items?itemName=bmewburn.vscode-intelephense-client

which brings more stuff https://github.com/eclipse/che/issues/12796

[2019-04-19 16:05] benoitf commented on #4959
@502647092 are you expecting to use all these extensions in Theia or you're just doing some randoms checks on most popular extensions ?
Because I saw you're checking lot of VS Code extensions on top of Theia

[2019-04-19 16:14] 502647092 opened #4960 "how to switch language file"
### Description
i find /home/theia/lib/vs/editor/editor.main.nls.zh-cn.js file
how to use it

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-04-19 16:19] 502647092 commented on #4959
because Theia's extension has some problems
i try use vs-code extension replace it
like php java
If it can't be repaired in the near future
I can only both use theia extensions and vs-code extensions

[2019-04-19 16:45] 502647092 commented on #4899
@benoitf
![image](https://user-images.githubusercontent.com/10203793/56434041-9a867480-6305-11e9-8863-9365e8981278.png)
chinese language not support ?

[2019-04-19 16:52] 502647092 commented on #4899
![temp](https://user-images.githubusercontent.com/10203793/56434200-33b58b00-6306-11e9-8bdc-5190368dc71f.gif)
emm I don't know if you can understand it.
It means that when I start dragging the preview window, the mouse will enter the preview window and cannot be lowered.

[2019-04-19 19:58] akosyakov commented on #4957
ok, then we need to pass a boolean flag to indicate whether the cancellation token should be appended

[2019-04-20 13:46] akosyakov commented on #4945
Take in mind that VS Code is tolerant to devs mistakes. It will load plugin and filter out bogus metadata, broken main scripts and so on.

[2019-04-20 13:48] akosyakov commented on #4956
Linking https://github.com/theia-ide/theia/issues/3186#issuecomment-482524802

[2019-04-20 13:53] akosyakov commented on #4823
See https://github.com/theia-ide/theia/issues/4899#issuecomment-484955036 to reproduce.

[2019-04-21 07:59] jbenguira opened #4961 ""Browser Preview for VS Code" VSCode extension not working in Theia"
### Description
I noticed that the popular extension "Browser Preview for VS Code " was not working on theia
Issue: as soon as you start Theia after deploying the extension there is a lot of browser windows opening in a loop
This is what I have in the theia debug console: https://pastebin.com/dnVDkR17

### Reproduction Steps
1) Download the extension here: https://marketplace.visualstudio.com/item

[2019-04-21 14:12] AlbertXiao1994 opened #4962 "How to debug server of vscode extension"
### Description
I can debug client of vscode extension according to [#3251](https://github.com/theia-ide/theia/issues/3251). Howerver, it seems to not working for server of vscode extension.  My breakpoint cannot be entered.

**OS and Theia version:**
OS 10.14.2 @theia/example-browser 0.5.0

[2019-04-21 14:41] cekvenich opened #4963 "Python 2.x? Why not 3.x?"
I just came on this interesting project. Then I read the docs:
requires python --version point to a Python 2.x

So.. no support for Python 3.x?

[2019-04-21 17:01] jgbradley1 commented on #4963
You can install Python3 and use it from the terminal. In that sense, Python3 is supported. Some of the backend code uses Python2 but it won't effect you using Python3.

This issue is being worked on by several people in the community at the moment. Feel free to join and make any contributions you like.

https://github.com/theia-ide/theia/issues/4956

[2019-04-22 00:15] marechal-p commented on #4963
It is a build requirement, as Theia depends on some Node native extensions, a minimal build toolchain is required, in order to be able to run `node-gyp` which handles most of the build on install:
https://github.com/nodejs/node-gyp#on-unix

Then as @jgbradley1 said, the backend might depend on some way on `python` in your path pointing to Python 2.7 (pretty common on linux to have `python` referin

[2019-04-22 01:54] AlbertXiao1994 commented on #4962
The function supported by server of vscode extension seems to not working, such as the completion of vscode extension Vetur

[2019-04-22 02:49] 113xiaoji opened #4964 "Does theia support to use ssh to git pull code,If not there is an security problem"
### Description
There is an security  problem. Whether subsequent versions will support?

### Reproduction Steps
git clone ssh url
![image](https://user-images.githubusercontent.com/31875988/56480666-afbdf780-64ed-11e9-99cc-4fb25f54d3ae.png)

**OS and Theia version:**
theia 0.5.0

[2019-04-22 05:00] svenefftinge commented on #4964
Theia just runs standard git, so it does support it. But you need to install ssh on your system.

[2019-04-22 05:00] #4964 closed

[2019-04-22 07:37] cemulate commented on #3198
For anyone stumbling across this, I cloned the [theia-ide/theia-apps](https://github.com/theia-ide/theia-apps) and made the following changes to build a working image (basically just take out all this business about a second user):

[code]

The reason for this seems to be discussed [here](https://github.com/theia-ide/theia-apps/issues/34), but I don't really see the reason (admittedly, I am ignora