[2020-03-04 12:20] marcdumais-work commented on #7264
Yes, we'll either have a fix or revert that commit today.

[2020-03-04 12:26] akosyakov commented on #7269
@tsmaeder it is fine to close #7127.

Yes, we should do it. It has to be done diligently though, FileSystem is very commonly used API.

[2020-03-04 12:28] akosyakov commented on #7268
@vince-fugnitto I think it should not have any implications on widgets in this repo. By if the end product wants to add a widget which is never can be closed. It should be possible for them.

[2020-03-04 14:24] joazvsoares opened #7270 "Extend Theia Extensions to support onWillExecute and onDidExecute listeners"
### Description

Would be great to have an interface to hook into commands from Theia extensions (e.g. onWillExecute and onDidExecute)

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-03-04 14:39] vince-fugnitto opened #7271 "search-in-workspace: search should not be triggered for all keystrokes"
**Description**

Currently, when using the `search-in-workspace` widget, performing keystrokes such as:
- <kbd>Home</kbd>
- <kbd>End</kbd>
- <kbd>LeftArrow</kbd>
- <kbd>RightArrow</kbd>

Will trigger a new search (as displayed by the progress bar).
I'd expect that such keystrokes would not trigger a new search.

<div align='center'>

![a](https://user-images.githubusercontent.com/40359487/75890218

[2020-03-04 15:00] marcdumais-work commented on #7264
Indeed it was.

+1

[2020-03-04 15:10] vince-fugnitto opened #7273 "search-in-workspace: does not respect 'files.exclude'"
**Description**

The `search-in-workspace` search does not respect the `globs` presented in the `files.exlude` preference. The default preference consists of:

[code]

However, when searching, I can see results from the `.git` folder:

![image](https://user-images.githubusercontent.com/40359487/75892998-332fc100-5e00-11ea-8ce9-f36aaf8c3108.png)

Using the `Include Ignored Files` option has no effe

[2020-03-04 15:33] vince-fugnitto opened #7274 "task: create a container for terminals spawned by tasks"
**Description**

The **proposal** is to create a new container for terminals spawned by tasks similarly to how the _output_ view displays multiple channels in a dropdown. User triggered integrated terminals can still work like today.

After #7260, we can enhance terminals created by tasks to be located in a common location within a widget container. Since these terminals cannot be re-used by users

[2020-03-04 16:21] akosyakov commented on #7270
@joazvsoares I thought we are talking about Theia extensions?

[2020-03-04 16:22] marechal-p commented on #7264
From my investigation, it seems that for some reason, the `DebugStackFramesSource.getElement` function is not called on stop, when replicating the situation mentioned by this issue.

https://github.com/eclipse-theia/theia/blob/357b8e9d4413bc5c566a7d4b751bb381b8fe5db8/packages/debug/src/browser/view/debug-stack-frames-source.tsx#L44

I wasn't able to make sense of what doesn't happen/what would nee

[2020-03-04 16:23] akosyakov commented on #7274
cc @svenefftinge

[2020-03-04 16:24] akosyakov commented on #7274
I don't think we want it, it is nice that one can change layout of terminal for different tasks. Maybe a quick open instead to look up a terminal?

[2020-03-04 16:26] akosyakov commented on #7273
@vince-fugnitto Does it in VS Code?

[2020-03-04 16:31] vince-fugnitto commented on #7273
VS Code does respect the property but they have an additional preference to control the behavior, namely `search.exclude` which inherits values from `files.exclude`:

https://github.com/microsoft/vscode/blob/4c59cdd20dc90f9d6a9d4c2b11661f0a026672c1/src/vs/workbench/contrib/search/browser/search.contribution.ts#L649-L671

We should look to support such a preference as well.

[2020-03-04 16:34] vince-fugnitto commented on #7274
I was thinking users might appreciate to have a centralized locations for their `tasks`, and be able to view them easily without the clutter or noise of opening in different locations. Adding a `preference` to control this behavior (to have a container or not) might be too complex if we were to support both approaches.

I believe we do have the quick open to view terminals today.

[2020-03-04 16:56] vince-fugnitto opened #7275 "proposal: update scripts to not lint when building"
**Description**

As a developer, I'd like to be able to `build` the repository (and extensions) without the need to `lint`.
The linting process is quite long and is not necessary during the build. I'd like there to be a clear distinction between commands like `build`, `lint` and `test`. We'd need to update the `prepare` script to exclude the call to `lint`.

**Pros:**
- The initial build will be m

[2020-03-04 18:01] marcdumais-work commented on #7264
Thanks for the investigation @marechal-p - We'll revert the PR for now and do a bugfix release.

[2020-03-04 18:07] marcdumais-work commented on #7264
The original PR is reverted - we'll make sure this issue here is no longer present if we bring it back.

[2020-03-04 18:21] #7264 closed

[2020-03-04 18:46] akosyakov commented on #7274
Is not having 2 approaches add complexity from user and implementation perspectives?

Could it be used to filter terminals by task id or label?

[2020-03-04 18:47] akosyakov commented on #7273
ok, we should align it

[2020-03-04 19:36] vince-fugnitto commented on #7274
Right, I think it'd be too complex to support both the current approach and the containers.

Yes we definitely can:

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/75915932-6e90b680-5e25-11ea-8922-03880445ee4d.png)

</div>

[2020-03-04 21:04] #7240 closed

[2020-03-05 00:23] vince-fugnitto commented on #6572
I verified and VS Code performs the following sorting (as described by their test case):
1. they sort by resources by [file path](https://github.com/microsoft/vscode/blob/2431cd6a2d85b335296acba0230d431fe47b41cb/src/vs/workbench/contrib/markers/test/browser/markersModel.test.ts#L66-L83)
2. they sort by [severity, line and column number](https://github.com/microsoft/vscode/blob/2431cd6a2d85b335296a

[2020-03-05 08:05] vrkansagara commented on #4403
working for me.

[2020-03-05 08:11] eli88p opened #7279 "Question: It's possible to add custom panel to theia debug extension?"
Hello,
There is some way to add panel to @theia/debug widget (like in my image)

Thanks in advance.
![Capture](https://user-images.githubusercontent.com/11608934/75960887-989bb480-5ec9-11ea-8405-9e70427df037.PNG)

[2020-03-05 08:21] akosyakov commented on #7279
Yes, you should be able to grab debug view container and call `addWidget` on it via custom Theia extension.

[2020-03-05 12:55] perguth commented on #4403
Somebody may donate time or money for this? 🧡

[2020-03-05 12:58] spoenemann commented on #4502
Duplicate of #2234

[2020-03-05 12:58] #4502 closed

[2020-03-05 13:15] vince-fugnitto opened #7280 "terminal: fix terminal theming"
**Description**

**terminal** theming from VS Code theming extensions does not work properly.
For example, the [vscode-builtin-theme-tomorrow-night-blue](https://github.com/microsoft/vscode/blob/583dc037dc55d8e70fc2f4ab9ddbbd7691e5b483/extensions/theme-tomorrow-night-blue/themes/tomorrow-night-blue-theme.json#L42-L57) theme contributes colors to the terminal:

[code]

_Theia_

![image](https://use

[2020-03-05 13:36] vince-fugnitto commented on #7280
It looks like we have logic already to handle the foreground colors but they do not seem to be applied properly:

https://github.com/eclipse-theia/theia/blob/42b73d5a84f7335b722c7decad24d8069dfc3722/packages/terminal/src/browser/terminal-theme-service.ts#L25

[2020-03-05 13:37] RomanNikitenko commented on #6390
Tested on Ubuntu 18.04.1 LTS and Firefox 68.0.1 (64-bit) against https://github.com/eclipse-theia/theia/pull/7149
Looks like the issue will be fixed by upgrade of Monaco version:

![scroll](https://user-images.githubusercontent.com/5676062/75986651-25a93280-5ef7-11ea-8564-c14fc792f0f9.gif)

[2020-03-05 13:41] GKJCJG commented on #2417
Related, but not identical, is that even when the tooltip is not completely occluded by the focused window, part of the divider between the focused panes still appears on top of the tooltip. The screenshot below is from the Docker app run with recommended command viewed on Chrome 78.0.3904.87.

![bar-over-tooltip](https://user-images.githubusercontent.com/43424668/75933797-70b43e80-5e40-11ea-8afa-

[2020-03-05 13:51] vince-fugnitto commented on #7280
From the looks of it, we will need to convert colors from themes into valid `ansi` colors.

[2020-03-05 14:02] akosyakov commented on #7280
It should be already supported: https://github.com/eclipse-theia/theia/blob/357b8e9d4413bc5c566a7d4b751bb381b8fe5db8/packages/terminal/src/browser/terminal-theme-service.ts#L25

Maybe some regression.

[2020-03-05 14:12] corneliusludmann opened #7282 "[search-in-workspace] Search finds different substrings of search term"
### Description
When I type a search term in the search widget of Theia it starts the search on keystroke in the background. However, this leads to search result with different substrings of my current search term in the result list. E.g. I search for “ContainerMod” and the result list has results where “contai”, “contain”, and “container” are highlightend as search matches:

![image](https://user

[2020-03-05 14:15] vince-fugnitto commented on #7280
I thought it might have been caused by the xterm update (#7121) but it was not the case.
I verified with the commit c5569a44565dc073c9455df07d7da02e2106f723

[2020-03-05 14:39] vince-fugnitto commented on #7282
Might it be a symptom of https://github.com/eclipse-theia/theia/issues/889? (and potentially slow networks speeds)
I was unable to successfully reproduce it from sources.

[2020-03-05 14:46] corneliusludmann commented on #7282
Maybe it really has something to do with network latencies. When I start Theia in a local Docker container I'm **not** able to reproduce this as well. Started in the cloud (here Gitpod) I have this almost always. Although I don't notice any other limitations in terms of internet speed.

[2020-03-05 15:45] luigigubello opened #7283 "Javascript injection via notification messages"
### Description

In the notification messages there is no an HTML escaping, so Javascript code can run. I'm not sure, but I think the issue is in [packages/messages/src/browser/notification-component.tsx:76](https://github.com/eclipse-theia/theia/blob/1ca3ec37c079a6b316278cf292609653e57b8151/packages/messages/src/browser/notification-component.tsx#L76)

` <span dangerouslySetInnerHTML={{ __html: m

[2020-03-05 19:07] akosyakov commented on #7283
cc @AlexTugarev

[2020-03-05 19:11] akosyakov commented on #7283
Extensions already have access to all operating systems APIs. There is no need to inject JS in the notification center 😆

I think we should fix it anyway.

In order to be completely safe, we need to enable web security in electron and run remote content like mini browser as webviews, otherwise any loaded JS code can user Node.js API to access everything directly.

[2020-03-05 19:13] akosyakov commented on #7282
I'm pretty sure there is a race :) Someone just needs to read the code carefully a part where we trigger search on typing and process results, something is not cancelled and previous results override latest.

[2020-03-05 19:55] vince-fugnitto opened #7285 "sidepanel: support 'focused' widget decoration"
**Description**

The proposal is to enhance the visibility of focused widgets in the sidepanel by including a new type of decoration, used to distinguish the focused state. There have been previous efforts to enhance the accessibility of the active widget in the sidepanel (#7159), and I thought we could take it a step further and include a configurable (through preferences) option to display a foc

[2020-03-05 20:30] RDIL opened #7286 "Delay the opening of a project's readme"
### Description
I am using Theia with Gitpod, and right now it is programmed to open the readme with the workspace.
I am assuming this is hard-coded into Theia so I am opening an issue here.  The opening of the readme should be delayed a couple of seconds so Theia can finish loading, because right now, say you have a readme file with a ton of badges.  It will lag Theia's startup process because it

[2020-03-05 21:14] kanatohodets commented on #5125
I tested it out today, and the VSCode vim extension was working great! Awesome work!

Makes sense that there are perf issues given the design of the VSCode Vim plugin, but that's outside the scope of this issue.

[2020-03-05 21:14] #5125 closed

[2020-03-06 00:05] #5942 closed

[2020-03-06 01:32] RDIL commented on #7286
Okay.

[2020-03-06 07:00] spoenemann commented on #7283
While we're changing the way we render notifications, can we make sure that line breaks in the notification text are displayed as such? I already found myself "using" this exploit in the past by replacing `\n` with `<br/>` before submitting a notification message.

[2020-03-06 07:01] AlexTugarev commented on #7283
Will align with vscode for that matter.

[2020-03-06 07:20] akosyakov commented on #2660
I think we should align with the playground. Probably listen to on scroll event and close the context menu.

[2020-03-06 08:31] akosyakov commented on #6272
Could you verify it with latest Monaco PR: https://github.com/eclipse-theia/theia/pull/7149?

[2020-03-06 08:31] akosyakov commented on #2417
Could you verify it with latest Monaco PR: #7149?

[2020-03-06 09:09] Menci commented on #5854
I'm also working on adding custom semantic highlight on Monaco Editor. How did Theia add colors to the minimap?

[2020-03-06 09:53] kittaakos commented on #5854
I think it's not supported.

From [here](https://github.com/microsoft/monaco-editor/issues/1070#issuecomment-422831616):

[2020-03-06 10:14] #7268 closed

[2020-03-06 10:37] Menci commented on #5854
Yes, I see Theia is using `deltaDecorations` too. But Theia have minimap, isn't it?

[2020-03-06 11:33] vince-fugnitto opened #7287 "docs: incorrect generated doc for 'sample-uncloseable-view'"
**Description**

Following the pull-request #7278, the generated [API doc](https://eclipse-theia.github.io/theia/docs/next/index.html) now references `sample-unclosable-view` incorrectly.  Upon clicking the link a 404 error is displayed:

![image](https://user-images.githubusercontent.com/40359487/76080088-2cc25600-5f74-11ea-99d4-22b5e96ea242.png)

![image](https://user-images.githubusercontent.co

[2020-03-06 13:21] joazvsoares commented on #7270
@akosyakov Awesome! We can start with Theia extensions, that would be already helpful, we can add support for Plugins later

[2020-03-06 14:07] vrubezhny opened #7290 "Wrong icons appear on "References: Results" view of `vscode-references-view` plugin"
### Description

Folder Icons appear on "References: Results" view of `vscode-references-view` plugin instead of file icons based to file type:

In VS Code:

![](https://user-images.githubusercontent.com/3082655/75047094-8469b780-54c6-11ea-80de-141f1363595e.png)

In theia:

![](https://user-images.githubusercontent.com/3082655/75047102-8764a800-54c6-11ea-9877-d0818645ac52.png)

### Reproduction St

[2020-03-06 14:08] vrubezhny opened #7291 "Add a support for tree item highlights VS Code API:"
### Description

There is no support for tree item highlights VS Code API: https://github.com/vrubezhny/theia/blob/c9370d3de85b225419d7946938ac6d3ac5624a21/packages/plugin/src/theia-proposed.d.ts#L213 It would be good to file a new issue for this.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-03-06 14:43] uniibu commented on #7106
The easiest to configure if you simply want to lock the entire Theia giving access to only a few people, and your domain happens to be on Cloudflare, is to use Cloudflare Access. It lets you lock out the entire domain, subdomain or paths and you can set it up to only use specific users via email or even via Github login. It is free for the first 5 users. Again this works if you just for simply wan

[2020-03-06 16:53] GKJCJG commented on #2417
I have pulled the branch of PR #7149 and run the [Quickstart](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#quick-start) for the browser with that code, and both of the undesirable behaviors described here - total occlusion of hover tips from unfocused windows and line over hover tips that span the border - appear the same as before.

I'm still familiarizing myself with how

[2020-03-06 21:49] chadoh opened #7293 "All spaces are non-breaking"
### Description
I noticed that when I copy & pasted a note from GitPod's editor into Slack, the line breaks got all wonky. Looking into it, I noticed that Theia uses `&nbsp;` for all spaces! I have confirmed this in both `.md` and `.js` files. Here you can see a side-by-side of the Theia editor and the browser's inspector, showing the markup:

<img width="897" alt="Screen Shot 2020-03-06 at 16 42

[2020-03-06 23:59] vince-fugnitto commented on #7293
@chadoh thank you for the issue!

We use the [monaco-editor](https://microsoft.github.io/monaco-editor/index.html) and verifying on their [playground](https://microsoft.github.io/monaco-editor/playground.html) I see they use `&nbsp;` for spaces so it is not something we are doing specifically but it can definitely be something we improve when attempting to copy.

_Monaco Playground_:
<div align='c

[2020-03-07 05:33] akosyakov commented on #7293
It should be fixed either in Monaco (try latest PR) or Slack (they don’t seem to read clipboard content properly). I don’t think we put anything for clipboard management on top.

[2020-03-07 16:47] rymo commented on #3724
given I'm in a Theia-hosted terminal window in bash with all the expected environment variables set, is there a script one could fashion to get a signal to `windowService.openNewWindow` such that a file can be opened without the `echo` + ctrl+click trick?

[2020-03-08 15:09] akosyakov commented on #3724
@rymo There are so called command links of a format: `command:commandId?args_serialized_as_json`. You can try to use something like `command:vscode.openFolder?partToFolder` given that you have `@theia/plugin-ext-vscode` extension installed.

[2020-03-08 19:04] varmanishant commented on #7168
Refer: https://github.com/eclipse-theia/theia/pull/7284

[2020-03-08 20:50] JonasHelming opened #7295 "Theia plugin API theia.commands.registerCommand is incompatible with VSCode"
### Description
As stated [here](https://spectrum.chat/theia/general/theia-plugin-api-vs-vs-code-extension-api~b5ecc9ba-2f2c-4589-9800-1004ad87e1fd?m=MTU4MzQ4Mjc5MjE0Mw==), the Theia plugin API should be a strict super set of the VSCode extension API. theia.commands.registerCommand does only allow to register (CommandsDescription, handler), but not (commandID: string, handler) as VSCode does.

###

[2020-03-08 21:01] JonasHelming commented on #7295
proposed solution, see PR https://github.com/eclipse-theia/theia/pull/7296

[2020-03-09 08:03] akosyakov commented on #7295
@JonasHelming I wonder whether it is really important for you to use `@theia/plugin` namespace. I would just go with `vscode`. I've mentioned already in other threads that the current approach is troublesome: it is hard to know when `@theia/plugin` namespace is covered by `vscode` and then now. Even if we achieve the super set the problem will remain. Clean separation of namespaces would be better

[2020-03-09 08:52] benoitf commented on #7295
I was on PTO last week so I haven't commented but I think we said that idea was to use `@theia/plugin namespace` to use APIs that are not part of VS Code API. (so no superset)
So for example for register commands, it would done using VS Code API.

But let say if you want to register custom namespace then you'll just import it.
No need to do 'acquireApi'

for example
[code]

[2020-03-09 09:01] #7283 closed

[2020-03-09 09:21] akosyakov commented on #7295
How do you check at runtime whether `@theia/plugin` is not available for VS Code? `try - catch` for each statement?

[2020-03-09 09:24] akosyakov opened #7297 "comparing conflict markers does not work"
- Copy in any file:
[code]
- Press `Compare Changes` in code lenses.

It should open a diff editor, but fails with the error notification:
<img width="1904" alt="Screenshot 2020-03-09 at 10 18 56" src="https://user-images.githubusercontent.com/3082655/76199427-26d8a900-61f0-11ea-8d41-d5051ba0d061.png">

[2020-03-09 09:53] JonasHelming commented on #7295
@benoitf :
"I think we said that idea was to use @theia/plugin namespace to use APIs that are not part of VS Code API. (so no superset)"
Just to make sure that we are on the same page here:
I believe the Theia plugin API is currently a super set of VSCode (except this issue). So do you propose a change to this paradigm? I think [#6353 (comment](https://github.com/eclipse-theia/theia/issues/6353#is

[2020-03-09 09:57] Shashi0838 opened #7298 "How to disabled Hover tooltip of variables and functions? and Is there any way to override the data of it based on some cases?"
### Description
How to disabled Hover tooltip of variables and functions? and Is there any way to override the data of it based on some cases?

The tooltip also not aligned properly

Can anyone help me with this?

[2020-03-09 10:09] akosyakov commented on #7298
@Shashi0838 For which language?

[2020-03-09 10:12] akosyakov commented on #7298
Usually one will implement a language server contributing hover tooltip: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_hover If you want to change a behaviour of an existing language server, maybe it is better to ask there. As an alternative you could hook into the language contributions via Theia extensions for instance here https://github

[2020-03-09 10:13] akosyakov commented on #7295
@JonasHelming there are more differences, you can see them plugin-vscode-init.ts, i.e. theia.plugins vs vscode.extensions namespace.

[2020-03-09 10:16] benoitf commented on #7295
@JonasHelming yes it's a shift of paradigm.
But proposing almost the same API with a different namespace is not very well understood.
It was only nice at the beginning when starting to implement API.

[2020-03-09 10:46] JonasHelming commented on #7295
@akosyakov : Yes, found that, I believe my PR removes one of those differences. It is probably the one that most users will immediatly notice, as it breaks every simple "hello world" example.
I had a quick look at the otther adaptations, they do not look like incompatilities to me, though.

@benoitf : OK, thank you for the clarification, that makes a lot of sense! However, it that is decided, woul

[2020-03-09 11:38] akosyakov commented on #7295
It has to be discussed with @svenefftinge and @marcdumais-work. The initial idea, at least from our side, was to gain credibility by being compatible with VS Code extensions and we liked very much that RedHat team took this concern and aligned theia.d.ts with vscode.d.ts. We gain a lot by relying on any improvements done by VS Code team, and diverging will for sure harm it as well as Theia partici

[2020-03-09 14:07] kittaakos opened #7299 "[menu] Calling `dispose` on the result of a `registerSubmenu` call does not remove submenu"
### Description

### Reproduction Steps

`menu.spec.ts`:
[code]

**OS and Theia version:**

**Diagnostics:**

[2020-03-09 14:40] kittaakos opened #7300 "[menu] Cannot remove submenu with the current API"
### Description

### Reproduction Steps

There is no such API. Also, `findGroup` and `findSubMenu` silently creates a new menu node in an existing composite note. Feels like we are trying to make too much magic with one method. Same as [when opening](https://github.com/eclipse-theia/theia/issues/6704#issuecomment-562574713) a widget.

**OS and Theia version:**

**Diagnostics:**

[2020-03-09 14:46] kittaakos commented on #7300
Same as `getMenu`.

[2020-03-10 10:13] jankeromnes opened #7304 "[terminal] Pressing HOME no longer goes to beginning of line, but scrolls up"
### Description
There was an XtermJS upgrade recently, and I think that it broke the `HOME` shortcut in Theia's Terminal.

Here is a screencast showing the new problem: https://youtu.be/_auOJvi17Rs

### Reproduction Steps
1. Start typing some command into Theia's terminal
2. Press your `HOME` key (or corresponding key-stroke, e.g. `fn` + `LeftArrow` on a Macbook)

Expected: Cursor jumps to beginni

[2020-03-10 10:15] akosyakov commented on #7304
It's a regression after https://github.com/eclipse-theia/theia/pull/7121

[2020-03-10 10:21] AndrienkoAleksandr commented on #7304
I will take a look.

[2020-03-10 10:21] AndrienkoAleksandr commented on #7304
We should use `shift+Home' shortcut.

[2020-03-10 10:35] corneliusludmann commented on #7170
I can confirm this issue and want to bring up another problem with this behavior:

This happens when the `editor.enablePreview` is false or not installed at all. When you open a file with a single click the editor will be opened but does not get focus (in contrast to `editor.enablePreview=true` the file name in the tab is _not_ italic and the editor keeps open even when another file is selected).

[2020-03-10 11:07] akosyakov commented on #7170
I think it is in the right direction. There is another preference which controls when something should be opened with a focus something like `list.open` and then double or single. If there is no editor preview installed and this preference is double then nothing should happen.

[2020-03-10 11:09] i501378 commented on #7231
The i18n.properties cannot be fetched, that means any html using i18n.properties will not work as expected.
The issue may be reproduced by the below steps:
[test.zip](https://github.com/eclipse-theia/theia/files/4311901/test.zip)
upload the file and unzip it into the root of workspace.
execute command "Preview: Open URL", and input the "test/test.html" url
in the shown card, we will find the "TITL

[2020-03-10 11:15] lmcbout opened #7306 "Unable to select a pulldown menu if the last file opened is in preview mode"
### Description
Unable to select a pulldown menu if the last file opened is in preview mode

### Reproduction Steps
- Open a workspace
- Open a file with a single click (Preview mode)
- Try to select the menu: File-> New file
--> Try any menu item, they will not open until you double-click on a file to have it in regular editor, not in preview mode, then you will be able to select a menu item

**O

[2020-03-10 11:33] vince-fugnitto commented on #7306
Just to clarify, the bug happens for an `editor` opened as a `preview`.
The bug still occurs in `master` without `@theia/editor-preview` being included.

[2020-03-10 11:35] akosyakov commented on #7306
It sounds quite bad. Could it be cause by https://github.com/eclipse-theia/theia/pull/7276? @lmcbout @vince-fugnitto Could you check please?

[2020-03-10 11:36] akosyakov commented on #7231
cc @kittaakos maybe you know how to support other mime types

[2020-03-10 11:39] vince-fugnitto commented on #7306
I confirmed that prior to #7276 it worked correctly.

[2020-03-10 11:41] akosyakov commented on #7306
@vince-fugnitto Could you prepare a PR to revert it?

[2020-03-10 11:44] vince-fugnitto commented on #7306
I don't mind, but should we give @kittaakos some time to check if he can fix the regression first?

[2020-03-10 11:48] akosyakov commented on #7306
Ok, sounds good. I meant we can do it in parallel, if there is no a fix PR today/tomorrow we merge a revert PR for now.

[2020-03-10 11:52] vince-fugnitto commented on #7306
Tentative pull-request https://github.com/eclipse-theia/theia/pull/7307

[2020-03-10 11:56] lmcbout commented on #7306
I confirm as well , it works on the commit 842e717475697676c0f298e605b3674bea451ec9 which is the one just before

[2020-03-10 11:58] akosyakov commented on #7304
Resolved by https://github.com/eclipse-theia/theia/pull/7305

[2020-03-10 11:58] #7304 closed

[2020-03-10 12:00] #7306 closed

[2020-03-10 12:11] corneliusludmann commented on #7170
Yes, setting `workbench.list.openMode` to `doubleClick` actually works. Thanks for the hint.

However, still find the behavior of `workbench.list.openMode = singleClick` and `editor.enablePreview = false` (or not installed) odd. It's not really a preview (or even cannot be recognized as such) but leads to potentially unexpected behavior like the debug issue described above. It's something between

[2020-03-10 12:17] kittaakos commented on #6298
Steps to reproduce: https://github.com/eclipse-theia/theia/issues/7133#issuecomment-588092099

[2020-03-10 13:07] akosyakov commented on #7170
I've just checked VS Code when the editor preview is disabled and it behaves the same, not sure whether we want to do it differently and what would be implications.

[2020-03-10 14:32] vince-fugnitto commented on #5420
You can now use `ReactDialog`:

https://github.com/eclipse-theia/theia/blob/d0e00c5d07ec0c95a17da51a5b744934d7c4d1f8/packages/core/src/browser/dialogs/react-dialog.tsx#L24-L25

As an example, it is used in the `AboutDialog`:

https://github.com/eclipse-theia/theia/blob/d0e00c5d07ec0c95a17da51a5b744934d7c4d1f8/packages/core/src/browser/about-dialog.tsx#L32-L33

[2020-03-10 14:32] #5420 closed

[2020-03-10 14:34] vince-fugnitto commented on #4780
Is this still an issue with the theming pull-request being landed?

[2020-03-10 15:25] vince-fugnitto opened #7309 "multi-root: improve display of path for 'WorkspaceInputDialog'"
#### Description

Improve the display of the `path` for a multi-root workspace when executing the commands `New File` and `New Folder` (`WorkspaceInputDialog`).

In order to avoid confusion, the root name for the given `uri` should be displayed, for example:

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/76328289-85218c80-62c1-11ea-8553-fd22e3184f94.png)

</div>

[2020-03-10 15:41] akosyakov opened #7311 "stale progress reporting"
I've noticed that progress reporting in the explorer runs forever sometimes. During debugging of such cases I see that all progress tasks are properly cleaned up but progress is still rendered.

I think there is a race condition here: https://github.com/eclipse-theia/theia/blob/d0e00c5d07ec0c95a17da51a5b744934d7c4d1f8/packages/core/src/browser/progress-location-service.ts#L68-L76

If several progr

[2020-03-10 16:07] vince-fugnitto commented on #7311
I noticed it today for the `debug` view:

![debug](https://user-images.githubusercontent.com/40359487/76333150-98375b00-62c7-11ea-907d-aa0edfce0e65.gif)

[2020-03-10 16:14] jankeromnes commented on #7304
Thanks again for fixing this @AndrienkoAleksandr!

I confirm that it now works well, but I also noticed a few weird behaviors FYI:

- <kbd>Home</kbd> works as expected 🎉 ❤️
- <kbd>End</kbd> too
- <kbd>Shift</kbd>+<kbd>Home</kbd> scrolls to top of Terminal, so works as expected too
- <kbd>Shift</kbd>+<kbd>End</kbd> just adds the letter `F` for some reason (keybinding not actually implemented in The

[2020-03-10 16:14] jankeromnes commented on #7304
I also added two minor questions in https://github.com/eclipse-theia/theia/pull/7305#issuecomment-597054454, please take a look when you have time.

[2020-03-10 16:24] #7186 closed

[2020-03-10 16:56] vince-fugnitto commented on #6905
Closed by #7080

[2020-03-10 16:56] #6905 closed

[2020-03-10 17:46] Shashi0838 commented on #7298
C

[2020-03-10 17:48] Shashi0838 commented on #7298
I need to override the tooltip content while debugging. I'm using debug adapter which is also displaying one more tooltip. so either one of it I need to use. so any suggestion you can provide?

[2020-03-10 19:19] akosyakov commented on #7298
tooltip of what? there many titles in the debug view and in the editor hover and in the debug console

[2020-03-10 22:30] marechal-p opened #7312 "repo: rework dependency management"
Theia extensions are NPM packages. We develop the most important ones inside a yarn monorepo, where everything is under our control. We started relying on hoisting and implicit dependencies, which might work well in our controlled setup, but it becomes very fragile once taken outside of the monorepo.

Some issues (click to expand):

<details>
<summary>We try to not break APIs, but our version rang

[2020-03-10 22:30] marechal-p commented on #7312
@akosyakov @svenefftinge

[2020-03-11 05:54] akosyakov commented on #7312
It’s expected a product to explicitly upgrade for the major release and switching from 0.16 to 0.17 is a major according to the semver semantic, since next release a range will be 1.0.0 - 2.0.0.

Regarding everything else extensions resolution relies on yarn semantics of installing transitive dependencies. There are shortcomings with this but they are not crucial to break all downstream products.

[2020-03-11 05:54] #7312 closed

[2020-03-11 07:02] varmanishant commented on #7168
There is one more feature that needs to be added: Terminal themes are not reflecting even though there is a code to do that. Should we create a new ticket for that?

I can see that in [terminal-theme-service.ts](https://github.com/eclipse-theia/theia/blob/master/packages/terminal/src/browser/terminal-theme-service.ts#L180-L182) we are taking the substring from the 13th position and that doesn't ju

[2020-03-11 08:04] akosyakov commented on #7304
@jankeromnes it would be better to put weird behaviour in a new issue, closed issues are not actionable.

[2020-03-11 08:43] geropl opened #7315 "[ux] Keybindings: numpad 7/1 (HOME/END) not working as expected (German layout)"
### Description
When having the cursor in the middle of the line in a regular editor, the key 'numpad 7' (numpad disabled) should act like the `HOME` key and move the cursor to the beginning of that line. This does not work; instead the cursor seems to be untouched. The same goes for 'numpad 1' (`END`).

This (seems to have) appeared after https://github.com/eclipse-theia/theia/pull/6881 got merge

[2020-03-11 09:11] corneliusludmann commented on #7170
Actually I don't care if the editor gets the focus or not. I have no problem with the way it is in VSCode. For me, the real issue in Theia is that the debugger (or other functions that rely on what the currently opened file is) does not realize that a file was opened when you use a single click. From the users perspective, I see no difference in the editor view between a single or double clicked f

[2020-03-11 09:12] #7290 closed

[2020-03-11 09:38] AlexTugarev commented on #7170
That is not the same behavior. Even with `singleClick` open mode, one need to click into the opened editor widget, otherwise keybindings are consumed by the editor widget in background.

![2020-03-11 10 36 22](https://user-images.githubusercontent.com/914497/76402864-4dc7e400-6384-11ea-819d-6a05c2e32379.gif)

[2020-03-11 10:08] akosyakov commented on #7170
@AlexTugarev @corneliusludmann We could introduce a new reference something like a last revealed editor? We could then redefine a context to check first last focused editor and if it is missing then fallback to last revealed. I would assume that in case if a navigator is focused then (last) focused editor will be undefined, but last revealed will be updated as one navigates through rows?

[2020-03-11 10:26] akosyakov commented on #7170
Somehow It feels that defining a current widget as last focused is not enough for a specific kind. Similar discussion here: https://github.com/eclipse-theia/theia/pull/7260#discussion_r387411533

Should it be then always as following: it is either a last focused widget or a last revealed widget. It means that while there is an active widget of some kind then current should point to it, but as soon

[2020-03-11 11:35] AlexTugarev opened #7316 "[debug] cancellation of attach by PID leaves dangling promises"
While testing https://github.com/eclipse-theia/theia/pull/7314 I learned about a dangling promise, which causing a never ending progress. When you try to attach to a running process, but then dismiss the quick open menu with `esc`, the awaiter will never continue at https://github.com/eclipse-theia/theia/blob/1ca3ec37c079a6b316278cf292609653e57b8151/packages/debug/src/browser/debug-session-manager

[2020-03-11 11:42] akosyakov commented on #7316
I think it is caused by https://github.com/eclipse-theia/theia/issues/5764 and https://github.com/eclipse-theia/theia/issues/5764.

The fix is here in gitlens PR: https://github.com/eclipse-theia/theia/pull/6921/commits/9c7d06474136aa36dbb0866b9e1451b63c80121e

I will extract it to a separate PR then.

[2020-03-11 12:02] ishche opened #7317 "workbench.action.openSettings is missing"
VSCode workbench.action.openSettings command is missing in Theia

### Reproduction Steps
1. Call workbench.action.openSettings command

Expected:
The configuration editor is open.
Actual:
Nothing happened.
In log:
[code]

[2020-03-11 12:23] geropl commented on #7315
I did investigated a bit more: It seems the `KeyEvent`s `Numpad7 w/o Numlock` and `Numpad7 with Numlock` are distinguishable by two properties:
 - key: `Home` / `7`
 - keyCode: `36` / `103`
(cmp. attached files)

It seems that in in [`keys.ts:toKey`](https://github.com/eclipse-theia/theia/blob/1ca3ec37c079a6b316278cf292609653e57b8151/packages/core/src/browser/keyboard/keys.ts#L347) we're trying to

[2020-03-11 12:28] vince-fugnitto commented on #7168
I believe the following issue tracks the theming not working correctly for terminals:
#7280

[2020-03-11 12:37] akosyakov commented on #7315
@spoenemann probably you are the best to look at it

[2020-03-11 12:40] spoenemann commented on #7315
We cannot do this in general: https://github.com/eclipse-theia/theia/issues/7137#issuecomment-585617300

But I think it would be feasible to add an exception for numpad keys: If `code` starts with `Numpad`, then check `keyCode` first.

@geropl could you try whether that fixes your problem?

[2020-03-11 13:41] varmanishant commented on #7280
One problem that I noticed is, we need to lower case the first letter after ansi to make it compatible with `xterm.js`. For example, `ansiBlack` should be added as `black` and not `Black` when it is supplied to `xterm.js`. Does that make sense? But we need to see if that is applicable to loading them from VS Code plugins.

[2020-03-11 13:45] ShimiT commented on #3983
Any update on this?  `contributes.jsonValidation`

[2020-03-11 14:03] akosyakov commented on #3983
Not really, if someone sends a PR it would help.

[2020-03-11 14:30] geropl commented on #7315
Ah, that makes sense, thanks.

@spoenemann Yes, will give it a try.

[2020-03-11 14:32] Shashi0838 commented on #7298
its on the editor hover

[2020-03-11 15:26] vince-fugnitto opened #7318 "markers: improve marker info node sorting (resource)"
**Description**

At the moment, there is no sorting present for `MarkerInfoNodes` in the 'problems view'.
Resources are added to view based on when their respective files were opened (in the case of `.json`) rather than sorted based on the resource's URI.

For example, if I open the file `settings.json` before `b.json` from the same directory, `b.json` is incorrectly displayed as last:

<img width

[2020-03-11 15:51] akosyakov commented on #7298
Editor hover displays many things as well it is using the current debug session to evaluate the expression under the cursor and get `DebugVariable`. `DebugVariable` has `render` method where element title is set. You will need to look at how it is happening to figure where you can hook to intercept  variables instantiation to change their rendering.

[2020-03-11 15:51] vince-fugnitto opened #7319 "plugin-ext: update 'decompress'"
**Description**

The `decompress` dependency (part of `plugin-ext`) has a known [security vulnerability](https://www.npmjs.com/advisories/1217) which has been reported by the [security-audit](https://theia-ide.github.io/security-audit/).

The issue is that `decompress` is not well-maintained (3 years since the last release) and it is unlikely that the flaw will be resolved. We should instead opt f

[2020-03-11 15:54] vince-fugnitto commented on #7319
A suitable alternative might be [adm-zip](https://www.npmjs.com/package/adm-zip). @benoitf for the decompression (unzipping), are we to support different archive types? (ex: targz, zip,...). We will need to find an alternative that meets our requirements.

[2020-03-11 15:57] benoitf commented on #7319
I think we're decompressing with zip for `.theia`and `.vsix` but from npm registry, it's tarball/tgz

[2020-03-11 16:11] vince-fugnitto commented on #7319
Thank you, we should find a suitable alternative that handles them all.

[2020-03-11 16:16] spoenemann commented on #7315
We use `key` only to get the actual character that was typed.

[2020-03-11 18:28] akosyakov commented on #7319
@vince-fugnitto @marcdumais-work @spoenemann maybe it is time to publish next versions as preview extensions into our registry and drop npm support

[2020-03-11 23:33] RomanNikitenko opened #7323 "'Run Selected Text' is not working when a task is stopped"
### Description
'Run Selected Text' action is not working when current terminal widget is completed task widget.

### Reproduction Steps
1. Run any task
2. Stop the task
3. Select a command and use `Run Selected Text` action

![runSelected](https://user-images.githubusercontent.com/5676062/76473463-3549df00-6401-11ea-8a88-516a3d0a03d5.gif)

**OS and Theia version:**
Ubuntu 18.04.1
Theia: ced3f90a3

[2020-03-12 06:04] datou0412 commented on #6520
Its not about `.json` file,  `.js` or `.xml` file will reproduce this error, when `editor.formatOnSave` is true

[2020-03-12 07:41] akosyakov commented on #6520
Yes, we should rewrite it by removing calling a command and hooking deeper into Monaco to get actual edits.

[2020-03-12 07:54] akosyakov opened #7324 "plugins are not activated if a command is triggered via keybindings"
To reproduce:
- try to trigger reference search via keybindings

[2020-03-12 08:56] varmanishant commented on #7280
Here is a simple correction that cab be applied [here](https://github.com/eclipse-theia/theia/blob/924e6a2f201cb3609b48903118d55762369222e2/packages/terminal/src/browser/terminal-theme-service.ts#L180-L182):

+            const colorKey = id.substring(13);
+            const colorName = colorKey.charAt(0).toLowerCase() + colorKey.substring(1);

to make it load correctly.

[2020-03-12 11:58] #7280 closed

[2020-03-12 11:59] #7287 closed

[2020-03-12 12:02] akosyakov commented on #7316
No, it is something else. It looks like debugger can participate in the variable resolution: https://github.com/microsoft/vscode-node-debug/blob/501ceedca3b4e8aa1d0f62780558a0102dc8930a/package.json#L163-L165

So for us variable `PickProcess` never resolves to `extension.pickNodeProcess`

[2020-03-12 12:06] #6518 closed

[2020-03-12 12:11] vince-fugnitto commented on #6638
Closed by #7254

[2020-03-12 12:11] #6638 closed

[2020-03-12 12:12] vince-fugnitto commented on #6609
Closed by #7254

[2020-03-12 12:12] #6609 closed

[2020-03-12 12:13] vince-fugnitto commented on #6609
If there is additional feedback on the current implementation (after #7254), we should create concrete issues for improvement.

[2020-03-12 12:33] akosyakov commented on #7316
So it is combination of https://github.com/eclipse-theia/theia/issues/7316#issuecomment-597585425 and https://github.com/eclipse-theia/theia/issues/7316#issuecomment-598149095 what causing it.

[2020-03-12 13:14] vince-fugnitto opened #7327 "plugins: contributed menu items should correctly display keybindings"
**Description**

Follow-up of #7326, contributed (by plugins) menu items do not display keybindings successfully.
For example, the menu item `Find All References` does not correctly display it's keybinding <kbd>shift</kbd>+<kbd>alt</kbd>+<kbd>F12</kbd>.:

<br />

![image](https://user-images.githubusercontent.com/40359487/76525100-9f827400-6441-11ea-95d4-80412f222af7.png)

<br />

However, the `co

[2020-03-12 13:19] vince-fugnitto opened #7328 "preferences: the command 'open settings' should support a 'query'"
**Description**

The command to open the **preferences widget** should accept a `query` parameter for which plugins can trigger. This change will likely be acceptable once #7105 is completed (since it introduces a search).

**Additional Information**
- [original comment](https://github.com/eclipse-theia/theia/pull/7320#issuecomment-598174439)
- [preferences pull-request](https://github.com/eclipse

[2020-03-12 13:19] #7317 closed

[2020-03-12 17:26] kittaakos commented on #811
Resolved via https://github.com/eclipse-theia/theia/pull/7214.

[2020-03-12 17:26] #811 closed

[2020-03-12 20:54] raphaelsantos opened #7332 "VSCodeAPI 'showInformationMessage' do not support newlines. (\n)"
### Description

It should be possible for users to call `showInformationMessage` (VS Code API) with newlines included (`\n`). The following does not work for notification messages, but does work when passing [MessageOption](https://code.visualstudio.com/api/references/vscode-api#MessageOptions) `modal` as `true`.

### Reproduction Steps

1. create a simple vscode extension which calls `showInform

[2020-03-12 22:06] vince-fugnitto commented on #7332
@raphaelsantos are you certain it is supported in vscode?
I performed the following call in my extension, and the result was without newlines:

[code]

<img width="476" alt="Screen Shot 2020-03-12 at 6 04 15 PM" src="https://user-images.githubusercontent.com/40359487/76570555-f01ebf00-648b-11ea-9cf2-c8b5a4dd8447.png">

Also, looking at their source code and  past discussions, it looks like newline

[2020-03-12 23:19] TheDeadCode commented on #7019
Bump on this issue: Emmet still not working.

[2020-03-12 23:24] vince-fugnitto commented on #7019
@TheDeadCode pull-requests are always welcome, unfortunately no one has had the opportunity to resolve the issue.

[2020-03-12 23:41] vince-fugnitto commented on #7019
When attempting to trigger IntelliSense (<kbd>ctrl</kbd>+<kbd>space</kbd>), the following error is thrown:

[code]

`vscode-emmet-helper` is a dependency of the extension:
- https://github.com/microsoft/vscode/blob/2362584a626621a80ec4af3bea52d2f0513e9383/extensions/emmet/package.json#L456

[2020-03-12 23:46] vince-fugnitto commented on #7266
I guess the `emmet` has a similar issue:
- https://github.com/eclipse-theia/theia/issues/7019#issuecomment-598479317

[2020-03-13 01:57] Hanksha commented on #6256
I just encountered that as well, I can't use undo/redo in any input text or textarea I used.
The fix for me was to add this:
[code]

Although the documentation says `document.execCommand` might not work for every browser. Works well so far.

[2020-03-13 06:02] akosyakov commented on #7019
maybe it is packaging issue? I.e. we should run npm install for this package.

[2020-03-13 09:59] #7270 closed

[2020-03-13 09:59] #7324 closed

[2020-03-13 13:43] marcdumais-work commented on #7319
Does this refer to the fact that we initially published the VS Code builtins on npm? Are there other VS Code extensions published on npm that we know about? Anyway, will not npm/yarn take care of unzipping the archive downloaded from npm? Can we drop `tar` decompressing support for plugins and only support `zip`?

Note: `.vsix` look to be in `zip` format:
[code]

[2020-03-13 14:21] akosyakov commented on #7319
Yes, it is only about built-ins.

We don't use npm/yarn to download anything.

@spoenemann Is there a way to publish a new version to Open VSX Registry but not like latest? What we need is to have for exactly the same unique id to versions one latest for tested version and one next to nightly build.

[2020-03-13 14:32] vince-fugnitto commented on #7332
@raphaelsantos can you provide an example of a `showInformationMessage` extension which works in VS Code and not Theia?

[2020-03-13 14:49] cenkce opened #7334 "Failed to resolve modules"
### Description
I receive errors while yarn runs in the Theia's root with our ide extension. It's causing yarn.lock file created after `che:theia init` runs. When I delete the yarn.lock file, it successfully builds.

@theia/example-browser: Failed to resolve module: @primer/octicons-react
@theia/example-browser: Failed to resolve module: react-virtualized
@theia/example-electron: Failed to resolve

[2020-03-13 14:55] vince-fugnitto opened #7335 "references-view: reference is not highlighted in the tree"
**Description**

Triggering the `References View` (selecting a term and executing <kbd>shift</kbd>+<kbd>alt</kbd>+<kbd>F12</kbd>) does not successfully highlight the results in the tree. As a user I'd expect to see the referenced term being highlighted (ex: `ExtensionInfo`):

_Theia:_

<img width="509" alt="Screen Shot 2020-03-13 at 10 52 11 AM" src="https://user-images.githubusercontent.com/40359

[2020-03-13 14:57] akosyakov commented on #7334
@cenkce please ask Che related question on https://github.com/eclipse/che-theia

[2020-03-13 14:57] #7334 closed

[2020-03-13 14:58] akosyakov commented on #7335
A duplicate of https://github.com/eclipse-theia/theia/issues/7335

[2020-03-13 14:58] #7335 closed

[2020-03-13 14:58] vince-fugnitto commented on #7335
In addition, clicking a reference in the view does not successfully highlight the editor (something that works correctly in VS Code).

[2020-03-13 14:59] vince-fugnitto commented on #7335
Sorry @akosyakov, but you referenced the same issue.

[2020-03-13 15:02] kittaakos commented on #6428
We have to distinguish between Theia command and pure DOM command executions just like VS Code does:
https://github.com/microsoft/vscode/blob/f7118fd368dd088d66ed95527e5c16e9504c4081/src/vs/editor/browser/controller/coreCommands.ts#L1648-L1655

https://github.com/microsoft/vscode/blob/f7118fd368dd088d66ed95527e5c16e9504c4081/src/vs/editor/browser/controller/coreCommands.ts#L1607-L1611

We have to

[2020-03-13 15:12] kittaakos commented on #6428
VS Code makes differences whether the text has the focus in the active editor or not.

https://github.com/microsoft/vscode/blob/f7118fd368dd088d66ed95527e5c16e9504c4081/src/vs/editor/browser/controller/coreCommands.ts#L1602-L1603

We don't:
https://github.com/eclipse-theia/theia/blob/9457f8087bb421b7aa1c6cf124c6dfe57659df5f/packages/editor/src/browser/editor-keybinding-contexts.ts#L25-L28

[2020-03-13 16:35] vince-fugnitto opened #7336 "references-view: reloading the frontend does not update plugin correctly"
**Description**

I noticed the issue when testing the `references view`, if the browser is reloaded the view ends up in a weird state displaying results but without any actual data. In VS Code, triggering a reload will actually close the view (it is not persistent). This might be a potential issue with other plugins as well.

<div align='center'>

![ref](https://user-images.githubusercontent.com/4

[2020-03-13 19:09] akosyakov commented on #7335
It is worth a separate bug

[2020-03-13 19:14] vrubezhny commented on #7335
It looks like when clicking a reference the editor doesn't receives the focus.
If after clicking a reference on the tree make a click on editor area according highlighting appears immediately. So, imho, it's a editor activation/focusing problem

[2020-03-14 04:16] Shashi0838 opened #7337 "Pods are getting evicted!! After every new image i pushed to ECR and update the same in devregistry yaml files. Che core pods will fail"
### Description
I'm observing from past months. after every new build of che editor or che plugin images i upload.

Che, plugin registry etc mostly all pods will get evicted. and it won't settle back in one go there will be multiple pods will create and evicts.

I did set up in AWS EKS and Using ECR for images.

Here is the list of pods from che:
ubuntu@myserver:~$ kubectl get pods -n che
NAME

[2020-03-14 08:28] akosyakov commented on #7337
Please open Che issue for Che: https://github.com/eclipse/che-theia

[2020-03-14 08:28] #7337 closed

[2020-03-14 10:32] akosyakov commented on #6428
There is `strictEditorTextFocus` for only text focus.

[2020-03-14 16:41] kittaakos opened #7338 "[git][ui/ux] no border around the git commit message textarea when element has focus"
### Description

See title.

I used the electron example. I do not know whether it works in the browser on not.

![screencast 2020-03-14 17-40-03](https://user-images.githubusercontent.com/1405703/76686353-0313c980-661b-11ea-88bc-4d219e99aed3.gif)

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-03-15 06:06] 502647092 opened #7341 "json format need use @theia/json or @theia/vscode-builtin-json-language-feature?"
### Description

json format need use @theia/json or @theia/vscode-builtin-json-language-feature?
I can't format json file use @theia/json

### Reproduction Steps

[code]

**OS and Theia version:**
Microsoft Edge Dev 82.0.446.0
Theia 0.17.0-next.9457f808
Windows 10

**Diagnostics:**

[2020-03-15 06:42] kittaakos opened #7342 "[ts] TS Server error: Error: Debug Failure. Invalid cast."
### Description

I got this when I used the TS feature inside the electron-example started from the sources. I was editing the `electron-menu-contribution.ts` module:
[code]

I do not know whether it belongs here or not. If no, let me know and I'll move it.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-03-15 07:27] kittaakos commented on #7342
I can see another error too, maybe they're related:
[code]

[2020-03-15 15:47] eli88p commented on #5186
Hi @akosyakov i have question about this topic:

[2020-03-15 17:23] vince-fugnitto commented on #7341
@502647092 I believe you’ve already opened a similar issue https://github.com/eclipse-theia/theia/issues/6758. I think it’d be better to continue the discussion on the past issue.

[2020-03-16 01:57] vince-fugnitto commented on #7341
@502647092

To answer your question:
1. Formatting is supported by the `@theia/json` extension, and it works correctly from sources.
If it does not work, it is likely fixed with resolutions as you mentioned https://github.com/eclipse-theia/theia/issues/6758#issuecomment-568673007.
2. Formatting from the `vscode-builtin-json-language-features` builtin is not yet supported (there is compatibility st

[2020-03-16 07:43] eli88p opened #7345 "Question about develop singleton service for backend and fronted extension."
I tired to write singleton service for backend and fronted,
so i write it in node endpoint:

******** extension-backend-module.ts:
[code]
************ MyAddressService ---> it's DI Symbol end interface
************ MyAddressServiceImpl ---> it's implementation of MyAddressService interface

and in fronted endpoint i write:
******** extension-frontend-module.ts:
[code]

And i have exception when i

[2020-03-16 07:44] akosyakov commented on #7341
But we should start working on deprecating @theia/json and switching to VS Code counterpart.

[2020-03-16 07:46] akosyakov commented on #7345
at Proxy. (proxy-factory.ts:232)

Is there a full stack trace? Maybe `getIpAddress` method failed for some reasons on the backend?

[2020-03-16 07:52] eli88p commented on #7345
This if full stack trace

Uncaught (in promise) Error: Request 'getIpAddress' failed
    at Proxy.<anonymous> (proxy-factory.ts:232)
    at MyCustomWidget.<anonymous> (my-custom-widget.tsx:61)
    at Generator.next (<anonymous>)
    at my-custom-contribution.ts:25
    at new Promise (<anonymous>)
    at push.../../packages/my-extension/lib/browser/widgets/my-custom/my-custom-widget.js.__awaiter (m

[2020-03-16 07:59] akosyakov commented on #7345
@eli88p Is there a was to share reproducible repo on GitHub?

[2020-03-16 08:02] eli88p commented on #7345
not yet it's still in my local i will pushed and will share with you thanks for help

[2020-03-16 08:22] kittaakos opened #7346 "[SIW] The search should not run when `input` does not change"
### Description

We run the SIW each time the "selection"? changes in the SIW `input`. It's a bug.
![screencast 2020-03-16 09-19-37](https://user-images.githubusercontent.com/1405703/76736622-762a5680-6767-11ea-812a-bf1f39c84b2c.gif)

### Reproduction Steps

Write something into the SIW `input` change the cursor location, try to `Select All` (if you are not in electron).

**OS and Theia version:**

[2020-03-16 08:24] kittaakos opened #7347 "[output] Implement output scroll-lock"
### Description

It should be possible to lock a channel in the output view. If a channel is locked, incoming messages must not change the selected channel.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-03-16 08:29] akosyakov commented on #7347
Do you mean something like if don't scroll to the bottom when don't scroll? But if the last line is visible then scrol?

[2020-03-16 08:31] akosyakov commented on #7346
yes, it is a bug there is also a race because of it: https://github.com/eclipse-theia/theia/blob/9457f8087bb421b7aa1c6cf124c6dfe57659df5f/packages/core/src/browser/style/index.css#L58

[2020-03-16 08:31] akosyakov commented on #7346
We should debounce and use cancellation token.

[2020-03-16 08:44] kittaakos commented on #7346
Or we could not run the query when the input does not change. Can we do that instead of debouncing and cancellation?

[2020-03-16 08:53] akosyakov commented on #7346
true, we should not trigger search at all

[2020-03-16 09:17] akosyakov commented on #7346
What btw should happen if there are new files? Does search automatically adjust or one has to press enter to rerun. In this case disabling rerunning will break.

[2020-03-16 09:24] kittaakos commented on #7346
We have to do what VS Code does; it does not update the search results on new file creation. Which is what I would expect as a user.

[2020-03-16 11:44] eli88p commented on #7345
@akosyakov  maybe the it's happens because i use theia core version 0.11.0 ?

[2020-03-16 12:08] vince-fugnitto commented on #7346
I'll close the pre-existing issue in favor of this one since it has additional discussions:
- https://github.com/eclipse-theia/theia/issues/7271

[2020-03-16 12:09] akosyakov commented on #7346
But I see that VS Code runs search again if I press enter.

[2020-03-16 12:09] vince-fugnitto commented on #7271
Closing in favor od #7346

[2020-03-16 12:09] #7271 closed

[2020-03-16 12:44] kittaakos commented on #7346
I didn't say it does not re-run the query when you hit enter, I said:

I meant automatically.

[2020-03-16 12:46] vkuehn opened #7349 "Installation failed with LTS Node version12.16.1"
### Description

### Reproduction Steps
following the https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#quick-start guid fails with

error @theia/monorepo@0.0.0: The engine "node" is incompatible with this module. Expected version ">=10.11.0 <12". Got "12.16.1"

**OS and Theia version:**
OS is Ubuntu 18.04
Node Version is 12.16.1 (LTS)
Git cloned latest theia version

**Diagnost

[2020-03-16 12:49] akosyakov commented on #7349
Yaeh, an error says that it is not supported

[2020-03-16 14:59] vkuehn commented on #7349
ok will do in a docker Image, actually I would hope for a release soon for the latest Node JS version...No ?

[2020-03-16 15:12] akosyakov commented on #7349
We align with current Electron Node.js version as minimum till we don't upgrade to new Electron I don't think we will invest into supporting latest Node.js. Someone from the community could invest time and look how to include Node.js 12 in supported range without breaking the minimal version if it is critical for them.

[2020-03-16 16:41] #7338 closed

[2020-03-16 17:07] #6758 closed

[2020-03-16 17:14] 502647092 commented on #7341
`vscode-json-languageserver` is update
`@theia/json` work after I remove the following parameters
[code]

[2020-03-17 02:47] elaihau commented on #7323
I did some investigation, and found another intesting behavior in vs code: "Run Selected text" simply echos the selected text in the terminal where another task is running, instead of running the selected text as a command (See the attached GIF). Is it the correct behavior ?

In my opninion, the "selected text" should always be run in an interactive terminal, no exceptions. If there is a task runn

[2020-03-17 02:52] vince-fugnitto commented on #7323
I agree, I find it odd that vscode would use a busy terminal to display output of “run selected text”. In my opinion, the output would be lost in all the noise of a task which is currently under execution. I think we should opt for the simplest solution which is to look for an idle interactive terminal to run the text or create a terminal if none exist.

[2020-03-17 07:06] akosyakov opened #7353 "scm input border theming is broken"
One can reproduce with HC theme, but also with any theme which redefines `input.border`.

In VS Code:
<img width="642" alt="Screenshot 2020-03-16 at 16 01 04" src="https://user-images.githubusercontent.com/3082655/76830751-38403780-6826-11ea-9821-ad63287ced55.png">

In Theia:
<img width="494" alt="Screenshot 2020-03-16 at 16 01 09" src="https://user-images.githubusercontent.com/3082655/76830754-39

[2020-03-17 07:18] RomanNikitenko commented on #7323
Agree.
For `'Run Selected Text'` we should use:
- an idle terminal, if it exists
- create a terminal if it does not exist

[2020-03-17 08:29] i501378 commented on #7231
@kittaakos can you update?

[2020-03-17 09:07] kittaakos commented on #7231
Can you explain why do you want to preview a `*.properties` file in the `Preview`?

How often do you open such file in your favorite browser?

[2020-03-17 10:25] i501378 commented on #7231
Please see the use case below:

The issue may be reproduced by the below steps:
test.zip
upload the file and unzip it into the root of workspace.
execute command "Preview: Open URL", and input the "test/test.html" url
in the shown card, we will find the "TITLE" and "SUBTITLE" are not replaced by the related translation text.

[2020-03-17 10:28] kittaakos commented on #7231
@i501378, do you have your own Theia extension?

[2020-03-17 10:37] i501378 commented on #7231
yes, but i checked it without extensions

[2020-03-17 10:43] kittaakos commented on #7231
Super, for the time being, you can fix it on your side by customing the code you have mentioned 👇

PRs are welcome! Feel free to create one if you think this is a bug and should behave differently. Thanks!

[2020-03-17 12:28] kittaakos opened #7354 "[preferences][electron] use the native context menu in the pref widget"
### Description

It works in the `Explorer`:
![Screen Shot 2020-03-17 at 13 27 34](https://user-images.githubusercontent.com/1405703/76856243-288b1800-6853-11ea-8aa1-9b32e706dd36.jpg)

It does not in the pref widget:

![Screen Shot 2020-03-17 at 13 26 54](https://user-images.githubusercontent.com/1405703/76856232-21fca080-6853-11ea-924c-11ba6cf54fa4.jpg)

### Reproduction Steps

**OS and Theia ver

[2020-03-17 12:31] kittaakos commented on #7353
Same for SIW:

![screencast 2020-03-17 13-24-56](https://user-images.githubusercontent.com/1405703/76856376-6c7e1d00-6853-11ea-8305-48ea198bfe7a.gif)

[2020-03-17 12:32] kittaakos commented on #7353
Also, no borders around the dialog buttons:
![Screen Shot 2020-03-17 at 13 32 02](https://user-images.githubusercontent.com/1405703/76856515-bb2bb700-6853-11ea-9dec-6440d0c0820d.jpg)

[2020-03-17 12:33] kittaakos commented on #7353
This issue is the same as https://github.com/eclipse-theia/theia/issues/6743, isn't it?

[2020-03-17 12:39] akosyakov commented on #7353
It is not about HC. HC is only a way to reproduce. You can create a custom theme with another `input.border` color and it won't work.

#6743 about checking that HC works properly

[2020-03-17 12:43] kittaakos commented on #7353
I cannot see what files are selected in the explorer either.

![screencast 2020-03-17 13-40-52](https://user-images.githubusercontent.com/1405703/76857158-2b870800-6855-11ea-9cf0-77ba7c66e114.gif)

[2020-03-17 12:47] akosyakov commented on #7353
This one I think already about HC support :) Maybe file a new issue just to be sure that does not get lost while fixing this issue.

[2020-03-17 12:54] kittaakos commented on #6743
Some issues are also listed here: https://github.com/eclipse-theia/theia/issues/7353
 - selection in the `Explorer`,
 - border of the buttons in the dialogs,
 - tbd

[2020-03-17 15:39] chrisunl opened #7357 "Copy/Paste/Undo/Redo Keyboard Shortcuts are not working within WebViews"
### Description

Within Webviews in Theia, we have noticed that the following keyboard shortcuts are not working as expected:

CMD/Ctrl-C : the selection is not copied to the clipboard
CMD/Ctrl-V : the content of the clipboard is pasted, with what was copied from an external app
CMD/Ctrl-Z : Undo is NOT working in e.g. an input or textarea field.
CMD/Ctrl-Shift-Z : Redo is NOT working in e.g. an i

[2020-03-17 17:40] chrisunl commented on #7357
HI @akosyakov is there any more information that you need from me?

[2020-03-17 17:47] eli88p commented on #7345
I found the problem...
the problem was in tsconfig.json after remove es6 it's start to work

[code]
Thanks @akosyakov

[2020-03-17 21:20] kittaakos opened #7358 "[electron] Incomplete `process.versions` can cause native loading issues at the backend"
### Description

Inside a bundled electron application, we lose the `electron` and `chrome` properties from the `process.versions`. This can cause [module-loading issues](https://github.com/grpc/grpc-node/issues/1296#issuecomment-600283136) inside a bundled Theia application. For instance, one cannot require `grpc` at the Theia backend.

Originally from [here](https://github.com/grpc/grpc-node/iss

[2020-03-18 01:44] elaihau commented on #7323
would this solution work for you?
- "Run selected text" runs the selected string as a command in interactive terminals
- If no terminals are interactive, run it in a new interactive terminal. Please note, in the GIF below, the terminal that ran "long running task" wasn't an interactive terminal and therefore we created a new one.

![Peek 2020-03-17 21-41](https://user-images.githubusercontent.com/

[2020-03-18 07:52] akosyakov commented on #7323
What it a definition of the idle terminal If i don't know about tasks?

[2020-03-18 07:53] akosyakov commented on #7357
Hi, it is more that someone has to investigate the root cause.

[2020-03-18 07:54] #7345 closed

[2020-03-18 08:12] kittaakos commented on #6743
The context menu, in the browser example, is also broken:

![Screen Shot 2020-03-18 at 09 08 05](https://user-images.githubusercontent.com/1405703/76939349-81f95280-68f8-11ea-94f5-f25f7dde73eb.jpg)

[2020-03-18 08:14] kittaakos commented on #6743
[nitpick]: I think the border of the left side-bar is not aligned with the main menu bar:
![Screen Shot 2020-03-18 at 09 13 25](https://user-images.githubusercontent.com/1405703/76939552-def50880-68f8-11ea-9b5d-d23925f8ee1b.jpg)

[2020-03-18 08:21] #6223 closed

[2020-03-18 08:36] akosyakov commented on #5251
We switched to VS Code extension.

[2020-03-18 08:36] #5251 closed

[2020-03-18 08:37] akosyakov commented on #5408
@kittaakos Is it still valid? We don't have ts LS anymore.

[2020-03-18 08:38] akosyakov commented on #7198
Duplicate of https://github.com/eclipse-theia/theia/issues/6623

[2020-03-18 08:38] #7198 closed

[2020-03-18 08:53] kittaakos commented on #5408
Yes. 👇

[2020-03-18 09:08] spoenemann commented on #7319
package.json has a `preview` field, should we use that to mark next versions?

[2020-03-18 09:41] 502647092 commented on #6672
after I switch to builtin plugin
I got this warn
[code]

[2020-03-18 09:57] akosyakov commented on #5408
ok, we have to get rid of JSON then too :)

[2020-03-18 10:03] akosyakov commented on #7319
@spoenemann It sounds fine. I'm more concerned whether current registry api can provide a stable URI for latest and next versions? i.e. something like `open-vsx.org/api/ms-vscode/bat` for latest `open-vsx.org/api/ms-vscode/bat?preview` for next?

[2020-03-18 11:37] #7315 closed

[2020-03-18 11:47] liatbor opened #7360 "Drag & drop files into the file explorer depends on expand/collapse status"
Hi,

### Description
Drag & drop files into the file explorer depends on expand/collapse status of the folders. If the folders are expanded then some files are copied twice into the file explorer.

### Reproduction Steps
On your file system create a folder with some sub folders and files in each level. Expand all folders and drag all of the folders and files to the file explorer. You would be able

[2020-03-18 14:25] davemecha opened #7362 "Random keybinding conflicts on Chrome OS"
### Description

After some time working with a GitPod instance (with the chromebook on standby over night) the shortcut for toggle comments `Ctrl + /` stops working and the Chrome OS global help shortcut is triggered instead.

Even a refresh of the browser tab does not fix the issue. In most cases, I can workaround the issue by opening the same GitPod in a new tab by copying the URL and pasting i

[2020-03-18 14:28] akosyakov commented on #7362
@spoenemann Could it be related to keyboard auto detection?

[2020-03-18 14:42] spoenemann commented on #7362
@davemecha could you look into the browser console log when it happens the next time?

[2020-03-18 14:50] vince-fugnitto opened #7363 "theming: add guards to prevent overriding default monaco coloring"
**Motivation:**

https://github.com/eclipse-theia/theia/pull/7351#issuecomment-600658398

**Description**

There should be guards in place to prevent overriding **monaco** coloring.
Monaco defines it's own colors which are used across the application, and it is possible to override such colors which may cause theming issues. Guards should be put in place to prevent such overriding such as to disca

[2020-03-18 14:55] vince-fugnitto opened #7364 "theming: revisit uses of 'successBackground' color"
**Motivation**

https://github.com/eclipse-theia/theia/pull/7351#discussion_r394392282

**Description**

We should revisit the use of the `successBackground` across the application.
`successBackground` is a custom color which does not exist in vscode and may cause problems when attempting to change themes. If the color is not present in vscode, we can argue if it is really required in the applicat

[2020-03-18 15:06] akosyakov commented on #7362
@spoenemann There should be a command as well to explicitly set some keyboard layout right?

[2020-03-18 15:08] akosyakov commented on #7363
Maybe we can even do it generically and ignore overriding colors with error logging. One has to provide a custom theme if they want to have custom theming.

[2020-03-18 15:45] spoenemann commented on #7362
Right, it's "Choose Keyboard Layout" (find it via F1). You can try whether overriding the auto-detection with a manual selection resolves the problem.

[2020-03-18 18:24] elaihau commented on #7323
@akosyakov
as you know, "idle" is not a property of the terminal. so we have no idea if a terminal is idle.

that's why I proposed the solution of "only running selected text in an interactive terminal"

and we could use terminalWidget.hasRunningProcesses() to check if an interactive terminal is busy.

What do you think?

[2020-03-19 07:36] akosyakov commented on #7072
Is it done?

[2020-03-19 07:38] kittaakos opened #7365 "[electron][monaco] The context menu for code actions should be native"
### Description

![screencast 2020-03-18 17-18-07](https://user-images.githubusercontent.com/1405703/77042992-ef6eb700-69bc-11ea-9f2e-aede3821f0eb.gif)

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-03-19 07:47] jankeromnes commented on #7072
I think it is, as demonstrated by visiting https://open-vsx.org/

[2020-03-19 07:47] #7072 closed

[2020-03-19 08:12] akosyakov commented on #7323
Terminal which does not run any task also has a running process (shell). How is it related to terminal be  interactive? How do you define terminal interactive? That it can accept a user input? How could you check that a terminal process can accept a user input?

[2020-03-19 08:42] akosyakov commented on #7323
- I don't really think terminal can tell a user whether it is interactive or not. Whether script running in a terminal is interactive or not it is a property of a script, not a terminal process. And since terminals are only operating process streams it is abstracted away from concrete scripts. I would say it is responsibility of a terminal client to know whether something running in the terminal i

[2020-03-19 08:52] akosyakov commented on #7323
Or maybe we can introduce something like `TerminalType` with `System` and `User` kind, defaults to `User`. `System` kind means that a terminal was created by a product for some reasons and cannot be used to run random user scripts, e.g. for tasks. Then for this issue we will check whether a current terminal is User terminal and if not create a new User terminal. In both cases terminals  are intera

[2020-03-19 09:19] akosyakov opened #7366 "add vscode-sample-extensions as a git submodule"
We use this repo for testing very often: https://github.com/Microsoft/vscode-extension-samples

I was wondering whether we could add is a git submodule and load in example applications for testing?

@eclipse-theia/ecd-theia-committers ?

[2020-03-19 09:39] kittaakos commented on #7366
- What does the Eclipse Foundation tell about hosting MS's code?
 - Theia does not support Git submodules, so it is very strange that I open up Theia in Theia with git submodules but we do not support it.

Git submodule in VS Code:
![Screen Shot 2020-03-19 at 10 29 17](https://user-images.githubusercontent.com/1405703/77052902-ce629200-69cd-11ea-83cc-cfa040e0c608.jpg)

Git submodules In Theia:
![S

[2020-03-19 10:00] kittaakos commented on #7366
I think there is another drawback, please correct me if I am wrong, we have to clone with the `recursive` flag. Otherwise, the Git submodule folder will be empty, so your tests will fail.

[2020-03-19 10:08] #7231 closed

[2020-03-19 10:24] akosyakov opened #7367 "NotificationContentRenderer.renderMessage: content.replace is not a function"
[code]

Got it somehow while testing https://github.com/eclipse-theia/theia/pull/7149

@AlexTugarev I don't know how to reproduce it I was testing the tree view sample.

[2020-03-19 10:33] RomanNikitenko opened #7368 "Create editor context menu based on context"
### Description
At the moment editor context menu is created only once and reused for all editors.
As result we have the same context menu for different editors:
https://youtu.be/kmZeuxAfe_I

As improvement editor context menu should be created based on current context on each call.

### Reproduction Steps
Try to use editor context menu for different types of editors.
Pay attention on items and th

[2020-03-19 10:46] AlexTugarev commented on #7367
@akosyakov for me `"".replace` is a function

[2020-03-19 10:48] AlexTugarev commented on #7367
`quick-file-open.ts:308` -> `catch(error => this.messageService.error(error))`
that's not necessarily a string, is it?

[2020-03-19 11:24] spoenemann commented on #7366
Is this supported by Gitpod?

[2020-03-19 12:06] kittaakos commented on #7366
The `clone` part, yes. Showing the submodules, no. @spoenemann, why is it important whether it works from Gitpod or not?

[2020-03-19 12:24] spoenemann commented on #7366
Well, we do all our work on Theia with Gitpod, don't we?

[2020-03-19 13:11] vince-fugnitto opened #7369 "vsx: update display of an extension's readme"
**Motivation**

https://github.com/eclipse-theia/theia/pull/6655#pullrequestreview-376301904

**Description**

When viewing an extension's 'readme' (triggered from the extensions view), the readme should be displayed in the center similarly to vscode (padding on both ends).

_Theia_

<div align='center'>

<img width="1310" alt="Screen Shot 2020-03-19 at 9 05 29 AM" src="https://user-images.githubu

[2020-03-19 13:29] belloyang commented on #1331
Can someone please summarize what the solution is to solve that issue that cmd+q couldn't close electron app? I couldn't figure it out by looking through all the replies. Thanks a lot @kittaakos

[2020-03-19 13:43] kittaakos commented on #1331
@belloyang, these keybindings should close the electron app.

https://github.com/eclipse-theia/theia/blob/5fb75c73bea6fc54563c4b969551c3f3cd8c8d62/packages/core/src/electron-browser/menu/electron-menu-contribution.ts#L199

<kbd>⌘</kbd>+<kbd>Q</kbd> works on macOS only, natively.

[2020-03-19 13:47] kittaakos opened #7370 "[quality] Removed the obsolete Quit command"
### Description

It's unused. Left from here: https://github.com/eclipse-theia/theia/issues/1331#issue-298864179

https://github.com/eclipse-theia/theia/blob/5fb75c73bea6fc54563c4b969551c3f3cd8c8d62/packages/core/src/browser/common-frontend-contribution.ts#L210-L213

We had this for escaping some keybindings, but it did not work and is legacy now.

### Reproduction Steps

**OS and Theia version:**

[2020-03-19 13:56] eli88p commented on #7345
@akosyakov i have one more question for current topic...
it's possible insert EventEmitters to service like this?

[2020-03-19 14:21] wangshen-sap commented on #4214
seems reproduced in latest version, please check it@akosyakov

[2020-03-19 14:51] vince-fugnitto opened #7371 "vsx: update styling of extensions in the tree-view"
**Motivation**

https://github.com/eclipse-theia/theia/pull/6655#pullrequestreview-376301904

**Description**

The styling vsx registry extensions present in the tree-view should be updated similarly to vscode.
This includes:
- updating the extension name to be **bold**
- reviewing the amount of padding used

_Theia_

<img width="366" alt="Screen Shot 2020-03-19 at 10 50 44 AM" src="https://user-i

[2020-03-19 15:12] akosyakov commented on #7345
@eli88p No, but you can create a service around a server which installs a client and then dispatch notification as events, for instance like in `FileSystemWatcher`: https://github.com/eclipse-theia/theia/blob/00c1747c98aefe946d2f2c6b7db5b8e356183abf/packages/filesystem/src/browser/filesystem-watcher.ts#L166-L172

[2020-03-19 15:17] akosyakov commented on #7366
We made use of git submodules in https://github.com/theia-ide/vscode-builtin-extensions for vscode and it seems to work fine locally and in Gitpod

[2020-03-19 15:28] vince-fugnitto opened #7372 "vsx: typo found 'BUITLT_IN_ID'"
**Description**

There is a typo in the variable:

https://github.com/eclipse-theia/theia/blob/5fb75c73bea6fc54563c4b969551c3f3cd8c8d62/packages/vsx-registry/src/browser/vsx-extensions-widget.ts#L32

`BUITLT_IN_ID` should be `BUILT_IN_ID`

[2020-03-19 15:30] vince-fugnitto commented on #7372
The same is true for:

https://github.com/eclipse-theia/theia/blob/5fb75c73bea6fc54563c4b969551c3f3cd8c8d62/packages/vsx-registry/src/browser/vsx-extensions-source.ts#L24

[2020-03-19 15:50] akosyakov commented on #4214
@wangshen-sap Could you file a new issue with steps to reproduce please?

[2020-03-19 17:05] anir1ghosh commented on #7370
Hi! I can take this up, if no one else is working on this already.

[2020-03-19 17:17] kittaakos commented on #7370
@anir1ghosh, please go ahead. It's yours. Let us know if you need help.

[2020-03-19 17:29] marcdumais-work commented on #7366
That's a good question and I do not know the answer for certain. Technically I think this is not the same as copying that code into our repo (forking), but I think it is at least distributing it according to the Foundation, like we are deemed to distribute the repo's dev-dependencies (i.e. "forcing" theia repo users to fetch this for development, even if it's not present/used at runtime).

To be s

[2020-03-19 17:30] Livven commented on #3983
Is this issue still valid with the migration away from Theia-specific language extension to the VS Code ones? I believe this functionality would be provided by the default [`json-language-features`](https://github.com/microsoft/vscode/tree/master/extensions/json-language-features) VS Code extension (you can get a [prebuilt version here](https://github.com/theia-ide/vscode-builtin-extensions/releas

[2020-03-19 18:02] #7372 closed

[2020-03-19 18:07] vince-fugnitto opened #7375 "question: can the 'plugins view' be removed?"
**Description**

Since we now have the `extension` view as part of the vsx integration (#6655), is there a need to keep the `plugins` view? At the moment, it is possible to have both views in a given application.

If we are to remove the `plugins` view, I think it should be done before v1.0.0.

cc @eclipse-theia/core

[2020-03-19 19:07] akosyakov opened #7376 "rating is not rendered properly for an extensions when zero"
<img width="340" alt="Screenshot 2020-03-19 at 20 05 30" src="https://user-images.githubusercontent.com/3082655/77104927-152ba880-6a1d-11ea-8847-cbc0a41b0aa0.png">

It would be better that if zero than completely omitted.

[2020-03-19 19:08] akosyakov commented on #7376
Or maybe it is downloads. Either way it should be omitted.

[2020-03-20 02:11] wangshen-sap commented on #4214
the code like this

if (!outputPanel) {
				outputPanel = vscode.window.createOutputChannel("mck");
			}
			outputPanel.show();
			outputPanel.appendLine(message);
		}

mck output channel is not shown after calling this, you need select "mck" from dropdown list, then the "mck" outputchannel will show @akosyakov

[2020-03-20 02:24] wangshen-sap commented on #4214
the version should be 0.16.1

[2020-03-20 07:26] akosyakov commented on #4214
It would help if someone prepares a VS Code extension and verify https://github.com/eclipse-theia/theia/issues/4214#issuecomment-601496863

[2020-03-20 09:38] akosyakov opened #7381 "improve license detection for built-in extensions"
Currently we always try to look into `LICENSE` file, but there can be more locations including configurable.

Form @spoenemann:
- If a package.json has `SEE LICENSE IN ...`, then try there first
- after that try `LICENSE.md`, `LICENSE`, and `LICENCE.txt` in this order

[2020-03-20 10:49] #7370 closed

[2020-03-20 12:28] Coordinate36 commented on #6959
### Description

### Reproduction Steps

**OS and Theia version:**
OS: Centos7
Kernel: 3.10.0
Theia Version: 0.16.1

**Diagnostics:**
I don't know how to reproduce it. But it happens sometimes even when I am not using the web ide in the browser. I can see hundreds of processes related to theia/core/lib/node/messaging/ipc-bootstrap.js are running when the system load soars.

root        325  1.2  0

[2020-03-20 13:57] kittaakos opened #7382 "[theme] The hard-coded dark theme always shows up for a sec at app start-up"
### Description

If I select a custom color theme and I refresh the browser, I can see the hard-coded dark theme first, them my desired theme. This also happens when load the app.

Steps to reproduce:
 - Start Theia from the source (ae5591edb),
 - Select a theme other than the default dark if you have not done that yet,
 - Refresh the browser.

You can see the dark theme, then the HC in my case.

[2020-03-20 14:07] kittaakos commented on #7382
Here:
https://github.com/eclipse-theia/theia/blob/ae5591edb22b06f890b090e5c4eb36ddeed05122/packages/core/src/browser/theming.ts#L129

First I can see that the theme ID is `"Default High Contrast"`, then various contributions reset it to `"dark"` for a short time. I did not collect all contributions:

![Screen Shot 2020-03-20 at 15 04 08](https://user-images.githubusercontent.com/1405703/77171259-7

[2020-03-20 14:12] akosyakov commented on #7382
A duplicate of https://github.com/eclipse-theia/theia/issues/6999?

[2020-03-20 16:02] tetchel opened #7383 "outputChannel.show() no longer reveals output channel"
### Description
`outputChannel.show()` no longer works. I believe this is a regression (see Theia versions below).

The output channel is created, but the Output view is not opened, and the channel is not brought to the front of the Output view. This means that calling `show` on an existing output channel has no effect.

### Reproduction Steps

I've created a repository with a plugin (source and v

[2020-03-20 16:26] schumischumi opened #7384 "error /home/theia/node_modules/vscode-ripgrep: Command failed."
### Description
I try to install theia with python plugins behind a proxy (incl. ssl interception) on top of a custom docker image (ubuntu xenial).
the proxy is passed via --build-args to the ENVs HTTP_PROXY  and HTTPS_PROXY (both upper and lower case).
It would be easily possible to provide the package in our local repo but I dont know how to pass it to the install script
I get the error:
[code]

[2020-03-20 17:00] davemecha commented on #7362
Ok, I digged deeper into the problem when it occurred today and I think I found the root cause.

Sometimes I switch my keyboard layout to German. The problem seems to occur, when I have my keyboard layout switched to German while starting GitPod. When I switch the layout back to English after the IDE started, the shortcut is not working. So I can now easily work around this issue. :)

Maybe Theia

[2020-03-20 17:09] kaiyue0329 commented on #6743
In the Problems View, there is no border around the selected node.

In VS code,
![image](https://user-images.githubusercontent.com/23107734/77187786-62565b80-6aab-11ea-8c07-b137cdd2784d.png)

In Theia,
![image](https://user-images.githubusercontent.com/23107734/77188083-d264e180-6aab-11ea-8b0e-fc319683d29c.png)
(Arrow pointing to the selected node)

[2020-03-20 17:34] vince-fugnitto opened #7385 "vsx: prioritize the display of an extension's name when the view's width is limited"
**Description**

The framework should prioritize the display of the extension's `name` in the extension's view when the width is constrained. This will help users identify extensions more easily by hiding non-essential info, such as:
- hiding the icon
- hiding the download count
- hiding the rating

![icons](https://user-images.githubusercontent.com/40359487/77189858-a0a14a00-6aae-11ea-9e61-54cb69

[2020-03-20 17:34] vince-fugnitto commented on #7385
cc @kaiyue0329

[2020-03-20 18:23] akosyakov commented on #7384
I think it is an issue for vscode-rigrep: https://github.com/microsoft/vscode-ripgrep/issues/5

Not sure what we can do about it in Theia.

[2020-03-20 18:58] marechal-p opened #7387 "Move generators inside main repo"
### Description

Generators currently live in a separate repository: https://github.com/theia-ide/generator-theia-extension

Having the generators packages inside the main repo will make it easier to keep aligned with new framework features/APIs.

[2020-03-21 09:35] akosyakov commented on #7375
I don't think it has to be done before v1.0.0.

[2020-03-21 12:00] dxramax commented on #5880
any way to disable it until it's solved ?

[2020-03-21 12:47] sr229 commented on #2417
Observing similar behavior as well @akosyakov. I believe the PR didn't fix the bug.

[2020-03-21 12:52] kittaakos opened #7389 "[quick-open] Align the default quick open handler's placeholder with VS Code"
### Description

Align the default quick open handler's `placeholder` with VS Code. In Theia, the default quick open handler is the file-search.

VS code shows, the `?` has a special functionality, one can list the available quick open handlers. Let's support it.

Related code:
https://github.com/eclipse-theia/theia/blob/ae5591edb22b06f890b090e5c4eb36ddeed05122/packages/file-search/src/browser/qui

[2020-03-21 14:17] dhananjayharel opened #7390 "Theia Extension Cannot apply @injectable decorator multiple times."
### Description
I cannot create a new theia extension since today.
When I create a new helloworld extension by typing 'yo theia-extension xxxx'
it compiles but when I start the theia app and see the browser then the console shows following error
[code]

Here is the package.json in by browser-app

[code]

### Reproduction Steps

**OS and Theia version:**
Yarn version: 1.15.2
yo version: 2.0.6
Node

[2020-03-22 02:09] vince-fugnitto commented on #7390
@dhananjayharel the error occurs since `@theia/typescript` has been deprecated and it's `latest` version is thus behind all other extensions.

It is generally not possible to mix-match versions of theia extensions as they will each pull different versions of `@theia/core` for instance which cannot be resolved, causing the multi-injector issue.

Checking `npm` you can see that `@theia/typescript` l

[2020-03-22 02:09] #7390 closed

[2020-03-22 08:50] shahar-h commented on #3966
Closing this since vscode yaml extension is now used instead.

[2020-03-22 08:50] #3966 closed

[2020-03-22 21:28] elaihau commented on #6427
As [the example in vscode documentation](https://code.visualstudio.com/docs/editor/tasks#_modifying-an-existing-problem-matcher) shows, "applyTo" is also modifiable.

[2020-03-23 00:54] tom-shan opened #7393 "can't open tomcat configuration in theia when no workspace is opened"
### Description
Can't open tomcat configuration in theia when no workspace is opened.
In vscode, this config file can be opened.

### Reproduction Steps

1. start theia with [vscode tomcat plugin](https://marketplace.visualstudio.com/items?itemName=adashen.vscode-tomcat), and no workspace is opened.
2. download tomcat and decompress it
[code]
3. add a tomcat server(the directory path where apache-

[2020-03-23 07:23] akosyakov commented on #5880
Is it reproducible against https://github.com/eclipse-theia/theia/pull/7302?

[2020-03-23 07:58] akosyakov commented on #7323
`terminal.kind` will be introduced in https://github.com/eclipse-theia/theia/pull/7260. After it merged, this PR should be fixable by respecting only `user` terminals.

[2020-03-23 08:03] #7371 closed

[2020-03-23 09:08] schumischumi commented on #7384
thx for your reply.
It seams the fix (dependency to https-proxy-agent) isnt pushed because

source: [https://github.com/microsoft/vscode-ripgrep/pull/10](https://github.com/microsoft/vscode-ripgrep/pull/10)
so is it a postinstall error?

never the less:
Can I install this dependency somehow myself? Or can I change the path where the ripgrep package tries to download the source?

[2020-03-23 09:25] spoenemann commented on #7362
We're trying to use the [layoutchange](https://wicg.github.io/keyboard-map/#layoutchange-event) to detect layout changes, but I believe that event is not implemented in any browser (the spec is currently in "CG-DRAFT" mode). If you're using Chrome, reloading the browser page should help (Chrome supports parts of the keyboard-map spec). Otherwise please use the "Choose Keyboard Layout" command to s

[2020-03-23 10:54] westbury commented on #4835
We have a problem where a large number of files (in the thousands) appear in the changes and this locks up the application.  This is caused when stuff goes missing from .gitignore.  Switching to  tree would solve this, even if the model returned everything in a flat structure as we get react virtualized.

I have started looking into this.  The first step is to split tree-widget into a Widget and a

[2020-03-23 10:58] RomanNikitenko opened #7395 "Migrate to the latest typescript VS Code extension"
### Description
I faced with the problem that `CallHierarchy` is always disabled.
Looks like it should be fixed by using the latest typescript VS Code extension.

**OS and Theia version:**
Fedora 31
Theia ae5591edb22b06f890b090e5c4eb36ddeed05122

[2020-03-23 11:37] akosyakov commented on #4835
@westbury we were planning to work on it :( I don't think there is a need to refactors trees, but embed a tree widget inside the scm widget. It has be done already for view containers.

[2020-03-23 11:50] kittaakos commented on #6999
@akosyakov, is there a proposed workaround for this? It seems this is broken since we support VS Code themes.

[2020-03-23 12:13] westbury commented on #4835
@akosyakov That was the approach I looked at on Friday.  However I was concerned that will be a less flexible solution.  Presumably you are expecting the rendering of the stuff around the trees, such as the commit message box, to be done inside a widget.  It is going to be tricky to get the widget sizes to react correctly.  In the view containers and the debug view the nested widget layout does no

[2020-03-23 12:22] akosyakov commented on #4835
I'm pretty sure they do. It is not about the debug view, we use view containers everywhere now starting from the explore. The view container is using the panel layout which can properly dispatch resize events to child view container parts, each part then dispatch resize event to a concrete widget, each widget then implements `onResize` widget callback.

[2020-03-23 12:25] akosyakov commented on #6999
I don't think so.

[2020-03-23 12:30] kittaakos commented on #6999
Can you show in the code where do we forcefully reset `window.localStorage.getItem('theme')` to `'dark'`?

[2020-03-23 12:30] elaihau opened #7396 ""applyTo" property in taskConfig.problemMatcher doesn't work properly"
### Description

`applyTo` is a property that controls if a problem reported on a text document is applied only to open, closed or all documents. It is not working in Theia.

### Reproduction Steps

1. As the GIF shows, open a workspace and define a task that produces problem markers. In my workspace, I had

[code]
in the task config, and
[code]
in my package.json

2. Run the task. The lint warnin

[2020-03-23 12:37] vince-fugnitto opened #7397 "vsx: list of extensions and builtins should be sorted alphabetically"
**Description**

The list of 'extensions' and 'builtins' should be sorted alphabetically in the `extensions-view` (vsx). At the moment, there is no sorting present (likely that builtins are displayed based on their position in the `package.json` at the moment):

<img width="309" alt="Screen Shot 2020-03-23 at 8 34 30 AM" src="https://user-images.githubusercontent.com/40359487/77317432-8bf8c800-6ce

[2020-03-23 12:59] akosyakov commented on #6999
We update a theme from preferences: https://github.com/eclipse-theia/theia/blob/868061fd946b96da797a20928f0126c75d1869a9/packages/core/src/browser/common-frontend-contribution.ts#L297 but it happens too early before monaco themes are loaded, so it fall backs to dark and then later then monaco is loaded it looks at localstorage and resets to the proper theme.

[2020-03-23 13:53] vince-fugnitto opened #7398 "tasks: 'run last task' does not work for detected tasks"
**Description**

The command `run last task` does not work properly for **detected tasks**.
If a detected task is run and completes, attempting to 'run last task' does not work, nor does it give any feedback to end-users.

**Steps to Reproduce**
1. start the application using `packages/task/test-resources` as a workspace
2. create the file `package.json`
3. add the following in the `package.json`

[2020-03-23 14:00] akosyakov opened #7399 "expanded node does not ensure that node is refreshed"
I've noticed that `revealFile` in the navigator does not work always if there is a parallel refresh going on. It exists thinking that a node is expanded but there are no children, while in reality the `expanded` flag was set without refreshing children.

[2020-03-23 14:47] akosyakov opened #7402 "document how to debug unit tests via `Run Mocha Tests`"
It should go here: https://github.com/eclipse-theia/theia/blob/master/doc/Testing.md

[2020-03-23 14:57] #7399 closed

[2020-03-23 15:14] cdietrich opened #7403 "[ci] Publishing empty `next` packages"
### Description
the steps in the documentation do not work

### Reproduction Steps
create package.json
[code]
run
[code]

fails with

[code]
(tested on both mac and linux mint)

[2020-03-23 15:22] vince-fugnitto commented on #7403
@cdietrich which documentation are you referring to?

[2020-03-23 15:23] akosyakov commented on #7403
Maybe related to newer version of yarn?

[2020-03-23 15:24] cdietrich commented on #7403
https://theia-ide.org/docs/composing_applications/

[2020-03-23 15:26] cdietrich commented on #7403
[code]

[code]

[code]

[2020-03-23 16:06] vince-fugnitto commented on #7403
I verified and can reproduce the error, it is a problem when using `next` but not `latest`.
I'm wondering if we have a pretty serious regression.

[2020-03-23 16:15] marechal-p commented on #7403
The most recent `next` release is missing the `lib` folder for some reason. Most other `next` tags before that look ok.

[2020-03-23 19:41] marcdumais-work commented on #7403
It looks like a problem during the publishing phase of CI: https://travis-ci.com/github/eclipse-theia/theia/jobs/301333835#L504 :`

[code]
(HTTP 429: "The HTTP 429 Too Many Requests response status code indicates the user has sent too many requests in a given amount of time ("rate limiting").")

There is this early failure, apparently being denied access to the Electron checksum file on GitHub, th

[2020-03-23 19:45] marcdumais-work commented on #7403
Not sure if a recent change in our repo might be hammering GitHub more than previously, causing this issue or something else. The Travis executors are shared among many projects, so it would not necessarily be our project causing this, but it's happened twice now - earlier today and again with a more recent merge on master.

[2020-03-23 19:52] marcdumais-work commented on #7403
I cleared the Travis cache and restarted the publish of the lastest commit. It looks to be pass the failure point. I do not think npm will let us re-publish the same packages, but next commit we merge will hopefully work like normal.

[2020-03-23 20:36] marechal-p opened #7406 "electron: provide a customizable entry-point"
### Description

We currently have no way of customizing the behavior of the code running in Electron's main process. The idea would be to provide the same architecture as for backend/frontend with inversify bindings and contribution points.

[2020-03-23 20:39] marechal-p commented on #7406
@akosyakov you also mentioned using JSON-RPC via IPC, but I am having a hard time wrapping my head around this. If we want to use core's already existing infrastructure, everything is named `WebSocketXXX`, for providers, for channels, etc... I tried making an implementation using all this already, but it really felt odd. See [wip](https://github.com/eclipse-theia/theia/commit/ccab08354e379380599ea

[2020-03-23 21:11] elaihau opened #7407 "attaching the same task repeatedly should not open multiple terminals"
### Description

Same task can be attached over and over again, producing multiple terminal widgets.
Since we disallow running identical tasks in parallel (https://github.com/eclipse-theia/theia/issues/5269), we should not open more than one terminal widget when the same task is attached for a second time.

### Reproduction Steps

1. Open workspace, start a long running task
2. open a another tab

[2020-03-23 21:17] elaihau commented on #7407
I believe what we could do is setting focus to the terminal widget where that attached task is running.

[2020-03-24 00:16] elaihau opened #7408 "add integration tests for the termianl extension"
### Description

This issue was brought up by @akosyakov in https://github.com/eclipse-theia/theia/pull/7260#issuecomment-602440008

As of today there are very limited tests in the back-end of the terminal extension, and no tests at all in the front-end of the terminal extension.

More tests need to be added.

**OS and Theia version:**

All OSes
Theia version 9d59a4e0c51712cb260d29d98061dec0c5f588

[2020-03-24 00:55] elaihau commented on #7396
@akosyakov

To tell which files are opened which are not, the way that I can think of, is to iterate through all editor widgets to check the URI.

dumb question: is there an easier way to achieve this? Thank you !

[2020-03-24 01:55] #4191 closed

[2020-03-24 02:05] vince-fugnitto commented on #7385
**Additional Information**

- [vscode css classname (when narrow)](https://github.com/microsoft/vscode/blob/073a24de05773f2261f89172987002dc0ae2f1cd/src/vs/workbench/contrib/extensions/browser/media/extensionsViewlet.css#L232-L236): css rule to handle `narrow` view use-case
- [vscode layout (300px)](https://github.com/microsoft/vscode/blob/073a24de05773f2261f89172987002dc0ae2f1cd/src/vs/workbench/

[2020-03-24 07:10] #5250 closed

[2020-03-24 07:33] dxramax commented on #5880
I have reinstalled the OS, and the issue did not appear again, I could not be able to produce it again.

[2020-03-24 07:47] akosyakov commented on #7396
@elaihau First of all, documents are not editors. There can be multiple widgets for the same document, i.e. you can open a code editor and diff editor using the same documnet. You can access all open documents via [MonacoWorkspace.textDocuments](https://github.com/eclipse-theia/theia/blob/9d59a4e0c51712cb260d29d98061dec0c5f5884c/packages/monaco/src/browser/monaco-workspace.ts#L248-L250).  There is

[2020-03-24 07:52] akosyakov commented on #7406
You are right it should not be related to web socket. I mean to make use of [IPCConnectionProvider](https://github.com/eclipse-theia/theia/blob/master/packages/core/src/node/messaging/ipc-connection-provider.ts). We use it to communicate with child processed forked from the server process. Is there a reason that we cannot use it to communicate between the main and server processes?

[2020-03-24 09:00] dhananjayharel commented on #7390
Thanks.
I can compile the plugin after updating the [plugin generator](https://github.com/theia-ide/generator-theia-extension/pull/53)

[2020-03-24 10:00] akosyakov commented on #7403
@marcdumais-work It did not help. I've just tried to upgrade Gitpod and there is no lib folders at all.

[2020-03-24 10:18] svenefftinge opened #7411 "Weird text overlay in menu bar on content assist"
### Description
When I'm in a Java project and double pressing CMD+space for content assist and select something with a lot of JavaDoc (e.g. equals) I see the following:

<img width="1222" alt="Screenshot 2020-03-24 at 11 16 11" src="https://user-images.githubusercontent.com/372735/77414317-1a904680-6dc1-11ea-9a08-f94c695d3724.png">

[2020-03-24 11:43] akosyakov commented on #7403
please try again, it should be good now

[2020-03-24 11:43] #7403 closed

[2020-03-24 11:49] marcdumais-work commented on #7403
Confirmed.

[2020-03-24 11:58] a1994846931931 opened #7412 "Debug console content does not automatically update after it regain focus"
### Description

If I change focus to another terminal, and then start a debug session, the debug console will not automatically get updated, even after it's re-focused.

### Reproduction Steps

- open `Debug Console`
- change focus to another terminal
- start a debug session
- go back to the `Debug Console` and check the content
- do something to trigger an update event

or

![debug-console](http

[2020-03-24 12:40] JonasHelming commented on #7295
@svenefftinge @marcdumais-work any thoughts on this?
I think there are three main questions:
1. Do you want to get the current fix? I believe it is valuable, as it removes a confusing diff between the API right away
2. Do we stop advocating the usage of the Theia namespace and recommend using vscode (I am happy to contribute to that)
3. Do we mid term deprectae the theia namespace or at least chan

[2020-03-24 14:53] akosyakov commented on #7071
I'm not sure about `@api` annotation. In Theia is everything API Other projects, like Node.js, defined stability index, i.e api is either unstable, stable or deprecated. I think we can rather use `@stable` annotation.

[2020-03-24 15:24] kittaakos opened #7414 "Move fuzzy search from browser to common."
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-03-24 15:37] marechal-p commented on #7406
I had not seen this, does this IPCConnectionProvider handle channels (to reach different services?)

[2020-03-24 15:44] akosyakov commented on #7414
It would be good to put a couple words about motivation.

[2020-03-24 15:53] akosyakov commented on #7406
It creates JSON RPC connection over IPC that different sides can talk against it. Please have a look where it is used.

[2020-03-24 16:07] vince-fugnitto opened #7416 "vsx: update remaining builtins to use the new registry"
**Description**

Following #7413, we have the remaining `builtins` to update to use the new registry:
- node-debug
- node-debug2
- references-view

The reason these builtins could not be added as part of #7413 was due to the fact that the registry did not upload them. A pull-request was created on https://github.com/open-vsx/publish-extensions/pull/16 in order to add such extensions to the registr

[2020-03-24 16:12] #7414 closed

[2020-03-24 18:42] davidhuawei opened #7417 "Change debug-threads hierarchy"
Hi!

I'm adding new widget using WidgetManager to Debug section - similar to Threads, but my goal is to aggregate all threads under the same service they belongs to.

![node-users-threads](https://user-images.githubusercontent.com/58902648/77460335-97dfa980-6e09-11ea-80a2-e45ac9467a1b.jpg)

As you can see in the screenshot - I want to collapse all debug sessions
(users-nodejs:8080, users-nodejs:80

[2020-03-24 23:49] #6821 closed

[2020-03-25 04:53] akosyakov commented on #7417
Please be more concrete. You are trying to accomplish something complex. No one will be able give you step by step instruction. But we can advice on specific points.

[2020-03-25 07:15] cdietrich commented on #7403
works for me now, too

[2020-03-25 11:07] westbury commented on #4835
Yes, that is going to work.  I'm working on it today (Wednesday).

[2020-03-25 12:07] #7393 closed

[2020-03-25 13:44] #7067 closed

[2020-03-25 14:17] kittaakos opened #7419 "[monaco][quick-open] Clarification on QuickOpenItemOptions.labelHighlights"
### Description

I want to run my own fuzzy search with the quick open service. So I decided to **not**  set `fuzzyMatchLabel: true`. Instead, I get back matches from the search engine and I convert them to an array of `Highlight`.

I have multiple match regions:

![Screen Shot 2020-03-25 at 15 15 53](https://user-images.githubusercontent.com/1405703/77546443-2c9ae380-6eac-11ea-80d7-2ffc045eaf82.j

[2020-03-25 14:36] akosyakov commented on #7419
Monaco is 1-based.

I think you are right. It makes sense, like for other string apis, i.e end is not included.

[2020-03-25 14:39] akosyakov commented on #7419
Implementation: https://github.com/microsoft/vscode/blob/17d6b13a35344ba36a4aad6d7dbbc77359f137b3/src/vs/base/browser/ui/highlightedlabel/highlightedLabel.ts#L63

[2020-03-25 14:40] kittaakos commented on #7419
Thank you! 👍

[2020-03-25 14:40] #7419 closed

[2020-03-25 14:41] akosyakov commented on #7419
@kittaakos for the quick pick they seem to use 0-based though: https://github.com/microsoft/vscode/blob/17d6b13a35344ba36a4aad6d7dbbc77359f137b3/src/vs/base/browser/ui/highlightedlabel/highlightedLabel.ts#L60

[2020-03-25 14:52] kittaakos commented on #7419
I cam confirm it 😄

[2020-03-25 15:07] akosyakov commented on #5599
In Theia everything is API regardless to its visibility. We will use js-doc annotations like `@stable`, `@experimental` and  `@deprecated`. It will be done as part of https://github.com/eclipse-theia/theia/issues/7071

There would docs provided with explaining the meaning of each annotation, how it is related to Theia versioning, should be used and reviewed.

[2020-03-25 15:07] #5599 closed

[2020-03-25 15:34] akosyakov commented on #7419
I always wonder why someone came up with such idea to use 1-based column and line number, although underlying strings are always 0 based 🙈

[2020-03-25 16:11] jbicker opened #7420 "It should be possible to provide options to ReactWidget."
### Description
It is currently not possible to provide widget options to ReactWidget. This should be possible.

### Reproduction Steps
Extend ReactWidget and try to provide options to super class.
https://github.com/eclipse-theia/theia/blob/cc9453d3a01644f371e9e94134b93ff65e1e4112/packages/core/src/browser/widgets/react-widget.tsx#L29

[2020-03-25 18:03] akosyakov opened #7421 "ProgressBar as a react component"
Currently `ProgressBar` a widget which it makes it hard to attach to render as part of a react widget. It gets wiped out by react rendering on the node.

This issue suggest to add `ReactProgressBar` component.

cc @AlexTugarev @jbicker

[2020-03-25 18:15] akosyakov commented on #7420
The motivation here is ability to provide custom html node without dealing with embedded widgets, i.e. something like:
[code]

[2020-03-25 18:40] #7396 closed

[2020-03-25 19:12] vince-fugnitto opened #7423 "vsx: inconsistent font-family for the download count"
**Description**

The download count when viewing an extension's information uses an inconsistent `font-family` compared to the remainder of the application (serif).

For example, look at the value **142** for downloads:
<div align='center'>

<img width="779" alt="Screen Shot 2020-03-25 at 3 09 32 PM" src="https://user-images.githubusercontent.com/40359487/77576072-e729e680-6eaa-11ea-9bac-49588531e

[2020-03-26 00:21] marcdumais-work commented on #7295
Hi @JonasHelming ,

This one seems relatively simple to decide. If I understand correctly, the proposed change does not break backward compatibility and, at least until we officially decide where to go with the namespaces, it will likely be useful to plugin developers that are familiar with the VS Code API and might be annoyed by this small incompatibility, while almost everything else is identica

[2020-03-26 09:54] tsmaeder opened #7426 "Lazily Create Monaco Models in Resource Preference Providers"
For a while now, AbstractResourcePreferenceProvider has used monaco editor models to manage the contents of settings files. This creates a circular dependency, because the editor model waits for preferences to be ready and preferences can't be read before the editor model is created. While this seems to work, I think it would be better if we would apply the following changes:

1. Read the file con

[2020-03-26 09:57] akosyakov commented on #7426
We should check though that's proper documents settings are applied on preference save: https://github.com/eclipse-theia/theia/blob/f5433ece0a32211439fd4acac33200894de1f012/packages/preferences/src/browser/abstract-resource-preference-provider.ts#L131 Editor preferences are used to configure them for monaco models.

[2020-03-26 13:01] #7397 closed

[2020-03-26 14:00] eduardoaemunoz opened #7427 "Docker Use"
Hello!

Is it possible to run Docker CLI (for example, 'docker run hello-world') inside Gitpod?

If so, how?

Thank you in advance :)

[2020-03-26 14:03] akosyakov commented on #7427
moved to Gitpod: https://github.com/gitpod-io/gitpod/issues/1342

[2020-03-26 14:03] #7427 closed

[2020-03-26 14:11] tsmaeder commented on #7426
Yes, we would continue using models for all _changes_ to the preferences, be it programmatically or by an editor. A save of an unchanged file should be a no-op, though (IMO).

[2020-03-26 15:14] RomanNikitenko opened #7429 "Codicons are not rendered when filtering in quick pick"
### Description
We are getting `codicons` support within Monaco upgrade to 0.19.3: https://github.com/eclipse-theia/theia/pull/7149
`codicon`s are rendered correctly for the most use cases.

To face with the bug a few conditions should be met:
- quick pick
- filtering
- `codicon` variable contains filtering word

So you never face with the bug if you filter `branch` or `create` and a `codicon` is

[2020-03-26 17:25] elaihau commented on #5332
Finishing up this one requires the change in https://github.com/eclipse-theia/theia/pull/6836 to get merged.

[2020-03-26 17:33] vince-fugnitto commented on #6757
@ShimonBenYair do you still plan on working on the feature?
Mentioned in the original pull-request (https://github.com/eclipse-theia/theia/pull/6680#issuecomment-566056938), I believe you volunteered to work on it for last January, but I haven't heard an update.

[2020-03-26 18:56] #7420 closed

[2020-03-26 20:13] a-kanaan commented on #7141
can you elaborate more please what the steps are
thank you

[2020-03-26 23:36] marechal-p commented on #7141
@a-kanaan hm, not sure how to elaborate more, but here it is in other words:

When a debug adapter sends a `runInTerminal` request, Theia spawns a shell the first time, and then reuses said shell for next `runInTerminal` requests. This is what VS Code does as well.

In this case, it seems like some feature would require changing the environment variables between different `runInTerminal` calls. Is

[2020-03-27 06:11] dhananjayharel opened #7430 "cannot deploy helloworld plugin into running theia"
### Description

I have compiled the HelloWorld plugin from yo generator
now i am trying to deploy it on run time using
command: deploy-plugin:by id
where I am giving local path of .theia plugin
Getting the following errors
root ERROR Uncaught Exception: TypeError: Cannot read property 'forEach' of undefined

### Reproduction Steps

**OS and Theia version:**
Ubuntu docker
Latest theia
**Diagnostic

[2020-03-27 06:33] benoitf commented on #7430
hello @dhananjayharel , what is the theia version that you're using ?

[2020-03-27 08:38] kittaakos opened #7431 "[electron] Open the new window with different x, y coordinates than the previous one"
### Description

If the title is not descriptive enough, here is a screencast. I want to see both electron browser windows when I open a new one. Currently, the second, third is exactly on the top of the first window.

![screencast 2020-03-27 09-37-08](https://user-images.githubusercontent.com/1405703/77737628-a519b580-700e-11ea-9bdc-1020f863be82.gif)

### Reproduction Steps

**OS and Theia versio

[2020-03-27 11:21] #6900 closed

[2020-03-27 11:22] #5412 closed

[2020-03-27 13:27] kittaakos opened #7432 "[keymaps] Support keymaps for armv7l arch"
### Description

I am not sure if this deserves the `keymaps` label, but I got this error when I start my electron application on Pi3. Arch is `armv7l`, the target is `AppImage`.

Error:
[code]

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-03-27 13:36] kittaakos commented on #7432
It's most likely not a keymap issue, I am the idiot. The app was built on a 64 CI, and the Pi has 32bit arch:
[code]

[2020-03-27 13:39] #7376 closed

[2020-03-27 13:39] #7423 closed

[2020-03-27 13:47] marcdumais-work opened #7433 "[built-in extensions] current open-vsx.org URLs used are fragile; update them"
### Description
The [download URLs](https://github.com/eclipse-theia/theia/blob/57fcabfbbc81f01486fcab50aaf2e9b40b6ed9a5/package.json#L82-L146) we currently use to download extensions from `open-vsx.org` are only good so long as a new version of an extension has not been published.

We internally found an issue with the grammar that's part of `vscode.cpp v1.39.1`, that makes syntax highlight much

[2020-03-27 14:48] #4288 closed

[2020-03-27 14:48] #4875 closed

[2020-03-27 14:48] #7358 closed

[2020-03-27 14:57] vince-fugnitto opened #7434 "vsx: update extension information in the extension-editor"
**Description**

There are some key differences between our extension headers, and that of vscode, namely:
- ~we include a `globe` icon (not sure as to what the reason might be - perhaps global install?)~
- the alignment of items in the header are different than vscode (harder to read, inconsistent)
- ~we omit data, for example the `license` field (brackets has a license in [open-vsx](https://open

[2020-03-27 14:57] vince-fugnitto commented on #7434
@kaiyue0329 would you like to address the issue?

[2020-03-27 15:02] vince-fugnitto commented on #7434
The license bug might be related to:
- https://github.com/eclipse-theia/theia/issues/7381

[2020-03-27 15:17] vince-fugnitto commented on #7039
Fixed thanks to https://github.com/eclipse-theia/theia/pull/7149

[2020-03-27 15:17] #7039 closed

[2020-03-27 15:18] vince-fugnitto commented on #6390
Fixed thanks to https://github.com/eclipse-theia/theia/pull/7149

[2020-03-27 15:18] #6390 closed

[2020-03-27 15:19] RDIL commented on #6390
Thanks Vincent!

[2020-03-27 15:31] akosyakov commented on #7434
global means that namespace is not claimed and anyone can publish, please read tooltip on hover

[2020-03-27 15:32] akosyakov commented on #7434
Because of https://github.com/eclipse-theia/theia/issues/7381?

[2020-03-27 15:33] vince-fugnitto commented on #7434
I was wondering it it made sense for end-users to see this info?
I understand it is present in the `open-vsx`, but is it useful for end-users?

[2020-03-27 15:33] vince-fugnitto commented on #7434
Right, I mentioned it https://github.com/eclipse-theia/theia/issues/7434#issuecomment-605048757

[2020-03-27 16:09] vince-fugnitto opened #7436 "markers: better sync between editor and problems-view"
**Description**

At the moment, there is no sync between the active editor and the `problems-view` meaning that problems are not revealed in the tree based on the editor.

There are two main use-cases not handled:
- switching/opening an editor does not reveal it's markers in the problems-view
- if markers are collapsed in the problems-view, the active editor's node is not expanded

Both use-cases

[2020-03-27 17:23] vince-fugnitto commented on #7248
The generator has been updated to remove deprecated extensions causing the issue:
https://github.com/theia-ide/generator-theia-extension/commit/3594d1fa8dcd9ab76ccfcb902d97a64c0ef0b6bb

[2020-03-27 17:23] #7248 closed

[2020-03-27 17:41] elaihau opened #7438 "Refactor the task terminal opener option"
### Description

This issue was brought up by @akosyakov in https://github.com/eclipse-theia/theia/pull/7260#discussion_r396985825

As this code snippet shows

https://github.com/eclipse-theia/theia/blob/3cf2837ca278671d4f49c8d6c1d10bb02a87910a/packages/task/src/browser/task-service.ts#L998-L1008

The opener option for task terminals (and potentially all terminals in general) contains identity pro

[2020-03-27 17:56] akosyakov commented on #7434
Yes, it is important that one who instals was aware that an extension is not published by verified author but by some person on the internet.

[2020-03-27 17:59] vince-fugnitto commented on #7434
Thank you for clarifying for me :)

[2020-03-27 18:17] vince-fugnitto opened #7440 "electron: consider setting window 'backgroundColor'"
**Description**

The `backgroundColor` for **Electron** should be set so we get a more native feel, and we don't see inconsistent flashing when resizing the window.

https://github.com/electron/electron/blob/master/docs/api/browser-window.md#setting-backgroundcolor

Updating the `backgroundColor` dynamically might be difficult at the moment, but maybe we can have a proper initial value.

**Steps t

[2020-03-27 19:02] marechal-p commented on #7440
Can't this be fixed in CSS? Like by targeting `body` or `html` to set the `backgroundColor`?

[2020-03-27 19:05] #7416 closed

[2020-03-27 19:05] #7433 closed

[2020-03-27 19:17] marechal-p commented on #7440
After toying with that idea, it doesn't seem to work. Seems like we would have to use the Electron API from the Electron main process: https://www.electronjs.org/docs/api/browser-window#winsetbackgroundcolorbackgroundcolor

[2020-03-27 19:32] vince-fugnitto commented on #7440
The same piece of code in vscode to handle the `backgroundColor` based on the theme:
https://github.com/microsoft/vscode/blob/master/src/vs/code/electron-main/window.ts#L132

[2020-03-27 19:52] ChristieWittEclipse opened #7441 "Update Theia Logo in PMI"
I'm not sure if this is the correct place to put this request, so if it should go somewhere else, just let me know!

We're working on the ECD Tools website and noticed that the Theia logo has not been uploaded:
https://ecdtools.eclipse.org/#projects

Can you please update the logo in your PMI: https://projects.eclipse.org/projects/ecd.theia
I've attached the assets.
[theia-logos.zip](https://githu

[2020-03-27 22:09] vince-fugnitto commented on #7441
cc @marcdumais-work

[2020-03-27 23:14] marcdumais-work commented on #7441
Hi @ChristieWittEclipse ,

Done. However there may be a problem:: I see the logo when I am logged-in, but when I am not it's not visible.

Logged-in:
![image](https://user-images.githubusercontent.com/25749063/77807676-f3ef3b80-705e-11ea-9c7f-7b4da6365243.png)

and not:
![image](https://user-images.githubusercontent.com/25749063/77807725-12edcd80-705f-11ea-86d6-2dd37ad93e44.png)

Can you see the l

[2020-03-28 01:02] marcdumais-work commented on #7441
I see the logo now on the Theia project page but not on the ECD tools page. I do not have write access to that one. Is is maybe supposed to automatically pick project logos?

[2020-03-28 06:11] Anasshahidd21 opened #7443 "[DialogBox] : Improve display for remove folder from workspace"
### Description
Removing multiple workspaces roots currently displays this dialog box.
![current](https://user-images.githubusercontent.com/43870550/77816358-8cee7880-7098-11ea-9407-60729f646ba1.PNG)

The dialog box could be improved to be either like.
![rm](https://user-images.githubusercontent.com/43870550/77816373-ad1e3780-7098-11ea-9527-f167189df0fc.PNG)

Or

![rm-2](https://user-images.github

[2020-03-28 13:03] elaihau commented on #7438
I drop two breakpoints, one here
https://github.com/eclipse-theia/theia/blob/3cf2837ca278671d4f49c8d6c1d10bb02a87910a/packages/terminal/src/browser/terminal-widget-impl.ts#L89

and the other here
https://github.com/eclipse-theia/theia/blob/3cf2837ca278671d4f49c8d6c1d10bb02a87910a/packages/terminal/src/browser/terminal-widget-impl.ts#L315

I found every time I refreshed the browser, opener options

[2020-03-29 18:52] jpersonna commented on #7441
Hi Christie,

Can you please update the ECD Tools website with the THEIA logo provided by Marc?
If we need to do anything else from our end for this, please let us know.

Thanks a lot/Jean

[2020-03-30 05:51] akosyakov commented on #7440
We have some logic to preserve background color already for loading screen: https://github.com/eclipse-theia/theia/blob/743836ed2da69e16ea2583efa6ce9a505e204eb1/packages/core/src/browser/color-application-contribution.ts#L81-L94

Maybe it could be extended to use for electron window.

[2020-03-30 05:55] akosyakov commented on #7438
there is no such thing, opener options should not be never stored

There are 2 states are stored:
- factoryId + widget options which is widget identifier, it's used to recreate the widget
- StatefulWidget which is used to store/resource internal state of the widget

[2020-03-30 07:01] EmmanuelGrandin commented on #7384
Hi, I replied into the original issue thread

https://github.com/microsoft/vscode-ripgrep/pull/10#issuecomment-605818945

Emmanuel

[2020-03-30 07:31] akosyakov commented on #7261
There is also dev distribution for amd, maybe we could use tsc or TS compiler API to generate d.ts files from it. It would be then very close to our manual approach and less breaking when switching to esm.

[2020-03-30 09:21] idantr opened #7444 "Update yargs version - as current version is insecure"
### Description
theia 0.16.1 core is using dependency called yargs ^11.1.0 that in turn uses yargs-parser 9.0.2 that was reported as vulnerable.
https://github.com/eclipse-theia/theia/blob/f4ee12a0e618cea3b11db741ef7740ed99fd74b6/packages/core/package.json#L48

Scenario using the theia cli user can manipulate yargs parser to change runtime code.

### Reproduction Steps
vulnerability description:
h

[2020-03-30 12:06] tsmaeder opened #7445 "Preferences may be read/written in different config folders Paths at the same time"
When looking through the code in `folder-preferences-provider.ts` it looks to me as if we might end up with preferences mixed from different folders referenced by `getPaths()` in `PreferenceConfigurations`. Concretely, I think if we had a preference value set for key `A` in <workspace_root>/.theia/settings.json and another preference value for key `B` set in <workpace_root>/.vscode/settings.json,

[2020-03-30 12:07] tsmaeder commented on #7445
@akosyakov would be interested in your opinion on this one.

[2020-03-30 12:14] tsmaeder opened #7446 "Support User Level Tasks"
VS Code now supports defining tasks at the user level: https://code.visualstudio.com/updates/v1_42#_user-level-tasks

Since we're already using PreferenceConfigurations for reading tasks from source folders, it would be logical to extend the same approach to user-level configurations.

The problems here is that our current preference merging algorithm would override the task defined at user level,

[2020-03-30 12:21] tsmaeder commented on #1099
@marcdumais I filed Support User Level Tasks #7446. Shall we merge the issues?

[2020-03-30 12:29] lmcbout commented on #7443
Question:
 Can we select which folder(s) to remove or all of them will be removed  when selecting OK?
If we choose the following, we could indicate which one to delete ?

https://user-images.githubusercontent.com/43870550/77816373-ad1e3780-7098-11ea-9527-f167189df0fc.PNG

[2020-03-30 12:29] vince-fugnitto commented on #7445
cc @elaihau

[2020-03-30 12:42] tsmaeder opened #7447 "Settings.json Schema should not include "launch" and "tasks""
If I edit the file `<workspace_root>/.theia/settings.json` in Theia, the editor suggests to add a "tasks" setting value. However, if I follow the content assist and create a task in `settings.json`, the task does not show up when doing "Run Task".
Looking at the code, all requests for "tasks" preferences are redirected to the `<ws_root>/.theia/tasks.json` if such a file exists. If such a file does

[2020-03-30 12:48] tsmaeder commented on #5683
@ariel-bentu you comment is not clear to me: I did the following two things and both triggered a preference change for me:

1. Changed <workspace_root>/.theia/settings.json in a text editor and hit save
2. Changed <home_dir>/.theia/settings.json in a text editor and hit save.

Could you maybe post a screenshot of your workspace?

[2020-03-30 12:50] akosyakov commented on #7445
Preferences can be mixed from different configuration names, i.e. `settings`, `launch` and  `tasks`, but each segment can be loaded only from one configuration path, i.e. `.theia`, or `.vscode`. With `.theia` taking the precedence over `.vscode`.

From code it looks like that, first providers are grouped by configuration names, and then for each configuration name the first provider which can reso

[2020-03-30 13:01] tsmaeder commented on #7445
I haven't tried, but I think even mixing settings.json from .theia with tasks.json from .vscode is not correct.

[2020-03-30 13:11] ChristieWittEclipse commented on #7441
@marcdumais-work thank you for uploading that. I see the logo on this page when I'm not logged in: https://projects.eclipse.org/projects/ecd.theia

@jpersonna and @marcdumais-work – The ECD Tools website should pick up the project logo automatically and it isn't. I will troubleshoot this with @chrisguindon today.

[2020-03-30 13:14] chrisguindon commented on #7441
@ChristieWittEclipse The website will update the next time we push a change! I will force it now to rebuilt so that we can test!

[2020-03-30 13:17] chrisguindon commented on #7441
@marcdumais-work We have aggressive caching rules if you are not logged in! That's why you could see it when logged in but not when you logged out!

[2020-03-30 13:23] ChristieWittEclipse commented on #7441
The Theia logo is now updated on the ECD Tools website. Thank you so much!
![Screen Shot 2020-03-30 at 9 23 19 AM](https://user-images.githubusercontent.com/58480647/77917138-27e97d00-7268-11ea-8cbf-0f926506f358.png)

[2020-03-30 13:24] #7441 closed

[2020-03-30 13:32] akosyakov commented on #7445
We do it in this repo 😄 Usually it won't happen since creation is smart to figure out whether it should use `.theia` or `.vscode`, i.e. if `.vscode` present but `.theia` not, it won't create preference files in `.theia`. Nevertheless it was done for backward compatibility with VS Code preferences, so if you don't have some preference files under `.theia` but have under `.vscode` we fallback to the

[2020-03-30 13:50] vince-fugnitto commented on #7145
Closed by #7237

[2020-03-30 13:50] #7145 closed

[2020-03-30 13:59] lmcbout opened #7448 "java vscode extension is not published to vsx registry properly"
### Description
Propose to set the redhat JAVA version 0.54.2 in open-vsx registry

Testing Theia and JAVA available in vsx-registry (https://open-vsx.org/?)
The redhat JAVA version is 0.58.0 and is incompatible with version of Theia. When you install it, you get a popup dialog saying: " Activating extension Language Support for Java(TM) by Red Hat failed: Cannot read property 'join' of null.
bash

[2020-03-30 14:07] Anasshahidd21 commented on #7443
@lmcbout the current implementation removes only the folder which is selected from the workspace and only that folder-name is reflected in the dialog box. In the example above I have selected to remove three folders from the workspace. So having a selection at this point seems unnecessary imo.

[2020-03-30 14:18] akosyakov commented on #7447
How is it related to launch? It works in VS Code, why we should break backward compatibility with them?

[2020-03-30 14:38] vince-fugnitto commented on #7168
Closed by #7284

[2020-03-30 14:38] #7168 closed

[2020-03-30 14:59] lmcbout commented on #7443
@Anasshahidd21 Thanks for the explanation. FRom the picture above, I though you were proposing a list of folders you can remove, but there was no options to select which one to remove :+1:

[2020-03-30 15:40] #7056 closed

[2020-03-30 16:17] marcdumais-work commented on #7448
@spoenemann @jankeromnes This issue is about consuming the "Java by Red Hat" extension, from open-vsx.org, in Theia applications.

It happens that the latest version of that extension, built/deployed nightly in open-vsx,org, does not work well in Theia. In an ideal world, when I access the registry from the my Theia-based IDE app, I would be offered a version of an extension that's known to work i

[2020-03-30 17:05] vince-fugnitto commented on #6737
@pangedeshijie do you still require help?

[2020-03-30 17:28] veredcon opened #7451 "[showSaveDialog] different behavior from VSCode"
### Description
showSaveDialog API acts differently from VSCode in the following scenario:
In theia it basically does not allow to send URI that does not yet exist. If the API is called on a file URI that does not yet exist, the fallback would be according to this logic: https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext/src/main/browser/dialogs-main.ts#L45-L62 (workspace root

[2020-03-30 17:48] jankeromnes commented on #7448
I would say short-term, we can publish the older version to Open VSX, and remove the newer version for now.

Longer term, I think there should be a way to upload multiple versions to Open VSX, and for clients to download a specific version depending on their needs.

[2020-03-30 17:56] jankeromnes commented on #7448
@spoenemann Please remove `redhat.java` version 0.58.0 from https://open-vsx.org for the short-term fix outlines above (this will allow the publish-extensions CI to publish version 0.54.2).

Also, do you have any thoughts or suggestions on the proposed longer term solution?

[2020-03-30 18:31] akosyakov commented on #7448
@lmcbout @marcdumais-work Which project did you use to reproduce the issue?

[2020-03-30 18:53] lmcbout commented on #7448
@akosyakov  I uise a small application to test JAVA with different version of REDHAT JAVA and maven. Rename the file...tar.txt to ...tar, Just untar the following in a workspace, install from the open registry the JAVA version and with JAVA 058.0, no RUN | Debug
with JAVA 054.2 , open the file App.java, you will see the RUN | JAVA.

[my-app.tar.txt](https://github.com/eclipse-theia/theia/files/440

[2020-03-30 18:59] vince-fugnitto commented on #7451
@veredcon I'm confirmed your use case on both the browser and electron targets.
Is it something you want to take care of?

[2020-03-30 19:20] marcdumais-work commented on #7448
Though it would not cover all possible cases of incompatibility, could the registry use the client's reported version of supported `vscode engine`, proposing by default e.g. the latest version of an extension that does not exceed this value?

In the specific case of `redhat.java`, we have the following mapping:
[code]
Anecdotally, this extension stops working well in Theia from v0.55.0, which is t

[2020-03-31 06:31] akosyakov commented on #7448
@marcdumais-work I think it is a feature request for Theia, right now we only pull latest version, we don't verify whether its confirm to vscode api engine version. Could you file an issue please? We also don't support detecting outdated extensions and upgrading them.

[2020-03-31 06:51] akosyakov commented on #7447
I've reviewed VS Code docs and could not find anything from `tasks` in settings.json so it should be fine to remove.

But VS Code docs are explicit about `launch` configuration:

From https://code.visualstudio.com/docs/editor/debugging#_launch-configurations

[2020-03-31 07:05] spoenemann commented on #7448
That is already possible.

Can'we just fix the problems in Theia instead of deleting published extensions from the registry?

[2020-03-31 07:13] veredcon commented on #7451
Hi @vince-fugnitto , Thank you for your confirmation! I can try to take care of it. I will try to upload PR soon. Thanks!

[2020-03-31 07:18] RomanNikitenko opened #7457 "Improve Monaco upgrade process"
The issue is based on discussion with @akosyakov @azatsarynnyy @RomanNikitenko
The last upgrade Monaco PR: https://github.com/eclipse-theia/theia/pull/7149

### The main steps at upgrade Monaco version are the following:
- upgrade `monaco-languageclient`
- types' signatures alignment
- editor configurations alignment
- testing/fixing

### What we could improve:

- upgrade `monaco-languageclient`
W

[2020-03-31 07:29] akosyakov commented on #7261
Also thought today that we could have a look at how monaco.d.ts is generated in VS Code repo, maybe we can add a bit of changes there to generate typings for internal things from source code and packaging with our custom distribution, instead of deriving typings in this repo from bundled js code.

[2020-03-31 07:33] akosyakov commented on #7448
I agree with Miro that we cannot keep outdated versions in the registry, but should work on bug fixing in the plugin system.

[2020-03-31 07:35] RomanNikitenko commented on #7457
@akosyakov @azatsarynnyy
Please feel free to edit the description, add comments and so on if I missed something
thanks!

[2020-03-31 08:12] akosyakov commented on #7448
@lmcbout It works for me, code lens are disabled by default, you should enabled them in settings with  `"java.referencesCodeLens.enabled": true`.

How did you manage to get:
[code]

I cannot reproduce it. If you can provide a GitHub repo it would help.

[2020-03-31 08:33] akosyakov commented on #7448
Ok, i was able to reproduce it. The issue is not with Theia or VS Code java extension, but apparently with the publishing script:
<img width="862" alt="Screenshot 2020-03-31 at 10 32 10" src="https://user-images.githubusercontent.com/3082655/78004850-01484680-733b-11ea-9922-6dad4c69bccd.png">

(1) - is from VS Code Marketplace, this extension works
(2) - is from Open VSX Registry, this extension d

[2020-03-31 08:38] akosyakov commented on #7448
moved to https://github.com/open-vsx/publish-extensions/issues/18

[2020-03-31 08:38] #7448 closed

[2020-03-31 09:06] akosyakov commented on #7402
Also how:
- run a single test with it.only
- run subset of tests with `--grep` from cli

[2020-03-31 10:28] spoenemann commented on #7448
I would like to avoid doing this in general, but in this case we're going to delete the already published version from open-vsx.org

[2020-03-31 11:01] kittaakos opened #7459 "[siw] SIW should not return matches from `./git` folder."
### Description

When I open Theia with the `theia` workspace and I search for `aa`, I can see search results from the `.git/logs/refs` folder. It works as expected in VS Code.

Theia:

![Screen Shot 2020-03-31 at 12 51 59](https://user-images.githubusercontent.com/1405703/78019252-a40ac000-734f-11ea-8c36-5d5a3a991183.jpg)

The `options` looks as expected, and `includeIgnored` is `false`.

![Scree

[2020-03-31 11:06] kittaakos commented on #7459
Here is the VS Code ref to follow: https://github.com/microsoft/vscode/blob/f2a80a180e8b549b32cff4a712f2f434b3e85c1d/src/vs/workbench/services/search/node/ripgrepFileSearch.ts#L32-L82

[2020-03-31 11:50] vince-fugnitto commented on #7459
Duplicate of https://github.com/eclipse-theia/theia/issues/7273?

[2020-03-31 12:08] tsmaeder commented on #7447
I'm talking about the json schema we use for _editing_ settings.json. If you open settings.json in VS Code, content assist will _not_ suggest adding a "tasks" section in "settings.json".

[2020-03-31 12:10] #7459 closed

[2020-03-31 12:24] csweichel opened #7460 "Search behaves differently than it used to (and compared to VS code)"
### Description
When searching in an editor (Cmd+F) is used to be able to jump to the next search result by pressing `enter`. Now, when pressing enter the editor gets the focus with the cursor placed at the last found result.

### Reproduction Steps
1. Open an editor
2. Open the search box (Cmd+F) and search for a string that's present in the editor
3. Press enter

**OS and Theia version:**
latest

[2020-03-31 12:25] akosyakov commented on #7460
It seems to be a regression from latest Monaco migration. cc @RomanNikitenko

[2020-03-31 13:38] akosyakov opened #7462 "monaco editor hangs sometimes"
I don't know how to reproduce, happens sporadically, following stack trace in logs:
[code]

It seems to be related to debugging.

It seems to be a regression from latest Monaco migration. cc @RomanNikitenko

[2020-03-31 13:47] kittaakos opened #7463 "TypeError: s.updateExtensionsPath is not a function, d.extractAbbreviation is not a function"
### Description

I got this when I open the `theia-logo-white.svg` in a code editor and acquire the CA ( <kbd>Ctrl</kbd>+<kbd>Space</kbd>) in the editor. I know, it does not make any sense, but should not throw. It has happened with the electron example, I do not know whether it is a problem with the browser or not.

[code]

[code]

I also see the followings:
[code]

[code]

[code]

### Reproducti

[2020-03-31 14:06] veredcon commented on #7451
Hi, I uploaded PR for this: #7461 . thanks!

[2020-03-31 14:21] marcdumais-work commented on #7446
cc @elaihau : Liang, I think you've been involved in a lot of the development in this area. Coul you assist Thomas with related questions he may have?

[2020-03-31 14:31] marcdumais-work commented on #7448
Ok, will do. So IIUC the client can deal with this, with no additional support from Open VSX? Do we know if VS Code and their registry have a similar mechanism?

[2020-03-31 14:42] marcdumais-work opened #7464 "[vsx registry] client should take into account the extension's `engines.vscode` value"
### Description
ATM the VSX client in Theia always shows/fetches the latest version of an extension. Open VSX offers an API that permits being more picky about which version of an extension is shown and eventually fetched.

The client could take into account the version of "VS Code api engine" that Theia's plugin system supports and filter Open VSX extensions down to those that should be compatibl

[2020-03-31 14:43] marcdumais-work commented on #7448
https://github.com/eclipse-theia/theia/issues/7464

[2020-03-31 14:46] marcdumais-work commented on #7448
Yes, I agree.

Even more so if, as looks probable, Open VSX eventually adds supports clients other than Theia, like VSCodium.

[2020-03-31 15:01] tsmaeder commented on #1099
Closing in favor of https://github.com/eclipse-theia/theia/issues/7446

[2020-03-31 15:01] #1099 closed

[2020-03-31 15:22] tsmaeder commented on #7446
I did a little experiment with a VS Code extensions doing the following:

[code]
When I add a task to `~/AppData/Roaming/Code/User/tasks.json` and either have no folder open or I have no tasks.json in `<open folder>/.vscode`, I see the tasks from the user settings in the workspace configuration.
As soon as I configure a task into  `<open folder>/.vscode/tasks.json`, I no longer see the user-level

[2020-03-31 15:25] RomanNikitenko commented on #7460
@csweichel
I reproduced the issue, thank you for reporting!

[2020-03-31 15:32] tsmaeder commented on #7446
When I change the code to do

[code]
I get the tasks from the user preference back.

[2020-03-31 22:20] danidoedel commented on #7462
I had something similar today. It was really really slow while typing and also the code suggestions were hanging a lot. Happened after a longer session of coding. I didn‘t check for any logs though as I thought it might have been caused by my internet, but after reading this and having the migration in mind it could be related.
It was not related to debugging though.
I’ll try to get more infos if

[2020-04-01 07:20] sapirpol opened #7469 "Multiple errors from different schemas"
### Description
When opening a 'manifest.json' file in theia, there is a default validation which is coming from jsonSchemaStore schemas (was tested both locally and in gitpod).
I'm trying to load my schema for 'manifest.json' through code using json contribution file and I received both errors from my schema and from jsonSchemaStore.

[code]

For 'FileMatch' I was trying the following conventions

[2020-04-01 07:35] akosyakov commented on #7469
Do you know who is contributing default schema associations?

`registerSchema` won't override any preconfigured schema associations, it adds one additional.

How can I fix it?

The same logic applied to schema associations contributed programmatically and from preferences. You can try to debug: https://github.com/eclipse-theia/theia/blob/9481af8e21f3be4b2e6658854327d8fa2b390da3/packages/json/src/b

[2020-04-01 07:37] akosyakov commented on #7446
@tsmaeder thank you! It sounds like the change should be applied only to `task` extension?

[2020-04-01 08:08] tsmaeder commented on #7446
Yes, I believe so, but slightly disappointed at VS Code for the inconsistency ;-)

[2020-04-01 08:46] tomascechatbroadcomcom opened #7470 "DebugAdapterTracker-onDidSendMessage(): theia sends string, vscode sends object"
### Description
It seems that theia sends string to method onDidSendMessage() in DebugAdapterTracker comparing to vscode that sends object.

### Reproduction Steps
Debug onDidSendMessage() implementation of DebugAdapterTracker in theia and in vscode.

**OS and Theia version:**
OS: ubuntu wsl 18.04 in windows 10
Theia version: @theia/example-browser 0.16.0

**Diagnostics:**
Theia sends json string,

[2020-04-01 08:58] dhananjayharel opened #7471 "Increase the default height of the terminal programmatically"
### Description
Is there any way Or API to set the default height of the terminal at the time of open?
If I do it by simply increasing the height by JavaScript then the height of the terminal pane
increases but the actual terminal height was not increased inside it.

I saw the terminal API but did not see the option but I believe there is some code because
it restores the height in the browser whi

[2020-04-01 09:04] akosyakov opened #7472 "fix handling of workspace storage path"
Currently there are following issues:
- path is changed for any change to a workspace, i.e. a new workspace root is added
- path is patched on the fly

It can lead to data loss. A plugin should be sure that workspace storage path does not change for a workspace. If a workspace is changed we should rather restart plugins that they load data from proper workspace storage.

[2020-04-01 09:36] Quentincaron1999 opened #7473 "Why node 10, an old version and not node 12 ?"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-04-01 10:30] akosyakov commented on #7473
Duplicate of https://github.com/eclipse-theia/theia/issues/7349

[2020-04-01 10:30] #7473 closed

[2020-04-01 10:31] westbury commented on #4835
Work so far is available here https://github.com/westbury/theia/tree/scm-tree

It mostly works.  Work left includes fixing key bindings and saving of state (including view mode selection and expansion), and search.  It does not cover the git diff view.  I won't be able to get back to this until next week.  If anyone has ideas about the two icons (tree and flat) let me know, otherwise I can ask our

[2020-04-01 10:49] kittaakos opened #7474 "[core] Revisit core commands, such as Find, Replace, Select All, Undo, and `Redo`"
### Description

Core commands do not have an active handler when no editors are open.

[code]

The above error happens when you do `Ctr/Cmd+F` without an editor open. But you can try `Undo`, and `Redo` too by closing all editors and setting the focus to the SCM's `textArea` or SIW's `input`.

Related: https://github.com/eclipse-theia/theia/pull/7339#issuecomment-605918781

### Reproduction Steps

[2020-04-01 11:20] kittaakos opened #7475 "NPM SCRIPTS view contribution always visible after app start"
### Description

If I hide it and refresh the window, it always comes back. I used the electron example.

![screencast 2020-04-01 13-17-45](https://user-images.githubusercontent.com/1405703/78131524-81de7400-741b-11ea-82a4-28502d456b0d.gif)

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-04-01 12:00] akosyakov commented on #7462
I don't think it is a regression, nothing was changed in Theia or VS Code in these areas. Also still not clear how it could happen there is a guard preventing rendering breakpoints on breakpoint decorations changed. So probably `Maximum call stack size exceeded` is related to something else.

[2020-04-01 12:05] vince-fugnitto commented on #7475
Duplicate of https://github.com/eclipse-theia/theia/issues/7037?

[2020-04-01 12:33] #7475 closed

[2020-04-01 12:40] vince-fugnitto opened #7478 "CI: 'eca check' not working properly"
**Description**

The Eclipse Contributor Agreement ([ECA](https://github.com/apps/eclipse-eca-validation)) check is not working correctly during pull-requests.
I've noticed it missing recently:
- https://github.com/eclipse-theia/theia/pull/7477
- https://github.com/eclipse-theia/theia/pull/7476
- https://github.com/eclipse-theia/theia/pull/7468

@eclipsewebmaster has the integration been removed/m

[2020-04-01 13:44] tsmaeder opened #7480 "Unexpected Value in Preference Change Notification"
When a preference value is an object, the value in effect should be constructed by merging the objects from different preference scopes. So when I listen for preference changes on an object-valued preference, I would expect the the "newValue" of the preference change to be the new, merged object value. However, the "newValue" is whatever was passed to "setPreference()".

[2020-04-01 13:50] csweichel commented on #7462
The user-facing effect/symptoms of this issue was that the editor became very very slow to the point that it would hang/barely respond at all to e.g. scrolling. Also, I did not see line numbers on the left-hand side anymore.

[2020-04-01 13:50] tsmaeder commented on #7480
Here's a test to illustrate the issue.

[code]

The debugger shows that a change is notified with new Value being `{ first: 'zoz' }`

[2020-04-01 14:07] vince-fugnitto commented on #7480
I'm trying to understand, do you mean you expect a combination (merge) of the user and workspace preference value? I thought that the more precise scope (workspace in this case) would be the value which takes precedence and no merging happens.

[2020-04-01 14:13] tsmaeder commented on #7480
Not for object-valued preferences, see https://code.visualstudio.com/api/references/vscode-api#WorkspaceConfiguration

[2020-04-01 14:13] tsmaeder commented on #7480
@vince-fugnitto thx for adding the labels.

[2020-04-01 14:15] vince-fugnitto commented on #7480
I see, thank you for clarifying, merging can happen for preferences such as `files.exclude`.

[2020-04-01 15:40] vince-fugnitto opened #7482 "vsx: use 'git' and 'git-ui' builtin extensions"
**Description**

Now that we moved the `git-history` view into it's own extension #6381, can we update the examples present in the repo to use both `git` and `git-ui` builtins (while removing `@theia/git`)?

Moving towards the builtin support for Git will allow us to more easily test the extensions, and also allow us to identify compatibility issues more easily and quicker.

cc @westbury @thegecko

[2020-04-01 16:51] vince-fugnitto commented on #7478
It looks to be back, closing the issue for now:
- https://github.com/eclipse-theia/theia/pull/7477

[2020-04-01 16:51] #7478 closed

[2020-04-01 17:18] akosyakov commented on #7480
@tsmaeder Is it about vscode compatibility or only about PreferenceService?

I think we should add compatibility tests for change events as we did for other PreferenceService APIs:
- create a VS Code extension API tests and test under different conditions
- migrate such tests to Theia integration tests (or run VS Code extension API tests against Theia)

[2020-04-01 17:35] kittaakos opened #7483 "[monaco] Select all does not work in inline, embedded editors"
### Description

Originally from [here](https://github.com/eclipse-theia/theia/pull/7339#issuecomment-605918781):

![screencast 2020-03-30 12-23-35](https://user-images.githubusercontent.com/1405703/77902604-c1715880-7281-11ea-8f16-bf8fa9d01c36.gif)

screencast 2020-03-30 12-23-35

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-04-01 19:08] bsteinfeld opened #7484 "[core] Cannot render webviews when theia is behind a reverse-proxy"
### Description
The [getRestUrl](https://github.com/eclipse-theia/theia/blob/master/packages/core/src/browser/endpoint.ts#L38-L40) function reads the pathname from `window.location`.  This normally is fine, however this breaks webviews (`<uuid>.webview`) when theia is sitting behind a reverse-proxy that alters the path.

### Reproduction Steps

To reproduce the issue, you'll need to setup a revers

[2020-04-01 21:49] #6427 closed

[2020-04-02 06:42] akosyakov commented on #7484
Webviews are running fine in Gitpod behind reverse-proxy. Answered on Spectrum with differerent approaches how to tackle it.

[2020-04-02 06:42] #7484 closed

[2020-04-02 06:52] #6042 closed

[2020-04-02 06:55] akosyakov commented on #5481
Most frequent complain for last 2 days after Theia 1.0: https://dev.to/abuassar/comment/n7h0

I'm keeping saying that we target adopters not end users, but having installer won't harm.

[2020-04-02 07:03] akosyakov commented on #4835
@westbury We have octicons support from Monaco, you can use them. @RomanNikitenko Could you give a hint?

You can open a draft PR?

[2020-04-02 07:58] kittaakos opened #7486 "[TS] Uncaught Error: <semantic> TypeScript Server Error (3.6.3) Debug Failure. False expression."
### Description

I got this with the electron example. I do not know exactly how it has happened, I was undoing/redoing in the `os.ts` module from Theia.

[code]

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-04-02 08:58] akosyakov commented on #7486
We should upgrade to latest typescript built-in and also to latest typescript for Theia repo

[2020-04-02 09:24] tsmaeder commented on #7480
No, the workspace configuration API in VS Code does not report any old/new values. But _if_ we are reporting a new value in the changes from PreferenceService, I believe the "new" value should be consistent with the value we would get when asking for the value. It is not right now. It's just a matter of time until someone thinks: "I'll just use the new value" and introduces an error. Documentation

[2020-04-02 09:25] tsmaeder commented on #7480
I just report anything bogus I find while reading through the code :-)

[2020-04-02 11:39] RomanNikitenko commented on #4835
@akosyakov @westbury
About `codicons` https://code.visualstudio.com/api/references/icons-in-labels

I think it depends where it will be used.
For example:
- I tried just add `$(link)` to a label for `QuickOpenItem` -  It's rendered automatically
- to reuse VS Code icons for workspace symbols I applied [the corresponding style](https://github.com/eclipse-theia/theia/blob/master/packages/languages/s

[2020-04-02 11:40] hsheikhali commented on #5481
@akosyakov I agree with you wholeheartedly. But I believe you can still fish for adopters with installers. Even if it's a simple "hey check out Theia as a desktop app".

[2020-04-02 11:41] thegecko commented on #5481
I'm not going to have time to dedicate to this for the next Month or so at least I'm afraid.

[2020-04-02 11:53] akosyakov commented on #6115
After last Monaco upgrade we have codeicons in our css. So it should be a matter of going and changing css and then removing icon files. Please see for details on how to use codeicons: https://github.com/eclipse-theia/theia/issues/4835#issuecomment-607792884

We should also figure out how to deprecate old icons. They are probably used in end products.

[2020-04-02 12:12] bsteinfeld commented on #7484
@akosyakov I've responded in Spectrum - not sure how the approaches you mentioned will fix the issues I'm facing (they don't seem to address the modifications to the `pathname` that the reverse-proxy I'm using adds).

From the gifs above:

• Works (no reverse proxy): `<uuid>.webview.localhost:3000/#/home/project`
• Breaks (with reverse proxy that runs on port 8888): `<uuid>.webview.localhost:8888/

[2020-04-02 12:31] #7434 closed

[2020-04-02 12:32] chrisjj commented on #5481
Installer would be nice, but I'd settle for just a working .exe.

I gave up looking for an official example .exe and the best substitutes I found were Arm mbed and Arduino Theia-based IDE. Given how poor those bests are by the standards of desktop software, an official example IDE (assuming it is better) would avoid discouragement of potential adopters likewise diverted to those substitutes.

[2020-04-02 12:52] jankeromnes commented on #7448
@lmcbout A fixed `redhat.java` extension was recently pushed to Open VSX by RedHat: https://open-vsx.org/extension/redhat/java

Could you please try again with `0.59.0`?

[2020-04-02 12:56] alex-gilin opened #7487 "[git] 'Initialize Repository' available even no open workspace"
When IDE is opened and there is no open workspace, if you switch to the "Source Control" perspective and click on the "Initialize Repository" ( + ) icon nothing happens.

I'd expect either the button to be disabled or an message to be displayed informing the user that initializing a repository requires an open workspace.

BTW, in vscode -> scm view - nothing available exclude the options 'open fol

[2020-04-02 13:04] azatsarynnyy commented on #7457
@RomanNikitenko thank you for outlining the possible directions for improving Monaco upgrade process.

ATM working on these improvements is not in our short-term plans however, these are undoubtedly important directions that have to be considered before the next Monaco upgrade.
cc: @akosyakov ^^

[2020-04-02 13:19] kittaakos commented on #7487
Nice catch, it is an unhandled case. We check the widget and the selected repository but not the workspace status.

https://github.com/eclipse-theia/theia/blob/ce3987283c421e225a86edfcb8ca2719e52030fd/packages/git/src/browser/git-contribution.ts#L440-L444

[2020-04-02 13:20] kittaakos commented on #7487
`good first issue`: It has to be something like this:

[code]

[2020-04-02 13:23] sapirpol commented on #7469
The schemas are coming as default from json schema store.
After debugging I see that using `registerSchema` place my schema at the beginning of allConfigs array, and then it's url replaced with the one coming from json schema store.

Is there any other way I can use my schema?

[2020-04-02 13:25] vince-fugnitto opened #7488 "builtin: unable to successfully run mocha tests (debug)"
**Description**

I am unable to successfully run mocha tests in the application (debug).
It is possible that due to a [typo](https://github.com/open-vsx/publish-extensions/pull/16/files#diff-4769e2216318d746f15eec568beffb28R291), the wrong version (incompatible) was published in open-vsx, and means we cannot debug successfully.

Using the previous entries for `node-debug` (and `node-debug2`) works

[2020-04-02 13:29] vince-fugnitto commented on #7488
Opened an issue on VSX so we can track publishing the correct version of `node-debug`:
- https://github.com/open-vsx/publish-extensions/issues/19

[2020-04-02 13:49] marcdumais-work commented on #7448
Hi @jankeromnes ,

I just tried using the Theia electron example app from the main repo, using latest master. I installed the Java extension from the extensions view, pulling it from `open-vsx.org`:
![image](https://user-images.githubusercontent.com/25749063/78256986-45685200-74c7-11ea-912e-5d7c4c09ce49.png)

Upon opening a `.java` file I get error:
![image](https://user-images.githubusercontent.c

[2020-04-02 13:53] kittaakos commented on #7353
I am going to look into this and #6743.

[2020-04-02 13:55] akosyakov commented on #7448
@marcdumais-work it is missing workspace APIs we should work on it: https://github.com/eclipse-theia/theia/issues/7171

 I don't think there is an issue in the registry or in the extension.

[2020-04-02 13:59] marcdumais-work commented on #7448
I do not think this was implied in the original title of this issue that the problem was with the registry or the extension. Rather that for a user naively trying a Theia app and installing the java extension will not have a good outcome, hence the suggestion to publish a version that works with the current theia.

[2020-04-02 14:07] akosyakov commented on #7448
@marcdumais RedHat is going to claim own namespace: https://github.com/eclipse/open-vsx.org/issues/6 I think it would be too much to ask them to change their release process to publish another version for Theia. It should not be hard to fix missing APIs, we have them in Theia already.

[2020-04-02 14:09] akosyakov commented on #7488
@vince-fugnitto I don't see incompatibility issues from errors. Could you please check that again as with Java node extension is properly packaged by comparing with the same version from VS Code marketplace.

[2020-04-02 14:11] vince-fugnitto commented on #7488
Sure! I'll give it a try and report back my findings.

[2020-04-02 14:11] kittaakos opened #7489 "[TS] Syntax coloring differs from VS Code with the HC theme"
### Description

VS Code:
![Screen Shot 2020-04-02 at 16 09 25](https://user-images.githubusercontent.com/1405703/78259052-73b45480-74fc-11ea-8cf2-80dca1f4c596.jpg)

Theia:
![Screen Shot 2020-04-02 at 16 09 34](https://user-images.githubusercontent.com/1405703/78259038-6e570a00-74fc-11ea-9dd8-0143f589259d.jpg)

Also, switching between color themes could leave the editor without syntax coloring. Ev

[2020-04-02 14:14] kittaakos commented on #6743
Editor and Explorer decorators always white with the HC theme. I would expect red and yellowish colors.
![Screen Shot 2020-04-02 at 16 13 43](https://user-images.githubusercontent.com/1405703/78259439-01903f80-74fd-11ea-9afc-3148a4f3b3f8.jpg)

[2020-04-02 14:17] marcdumais-work commented on #7448
ok, seems reasonable in this case. But I expect this will be a recurring type of problem whenever new APIs will appear in the wild that we do not support yet. Until we have something like https://github.com/eclipse-theia/theia/issues/7464

[2020-04-02 14:18] kittaakos commented on #6743
Also: https://github.com/eclipse-theia/theia/issues/7489

[2020-04-02 14:18] hsheikhali commented on #5481
@chrisjj Agreed. @thegecko mentioned he didn't have time for this for the next month -- thing about open source is that someone else can pick up that project :)

[2020-04-02 15:13] vince-fugnitto commented on #6115
I tried to update an existing `font-awesome` icon into a `codicon` but it did not seem to work properly. I'm wondering if the icons are only available for monaco components (quick-open) at the moment, and some extra steps are required to use them across the application.

[2020-04-02 15:16] #6684 closed

[2020-04-02 15:19] vince-fugnitto commented on #7488
I was unable to get it working using the version directly from the vscode marketplace either (latest).

[2020-04-02 15:49] kittaakos commented on #6743
Support for hover. VS Code:
![screencast 2020-04-02 17-21-32](https://user-images.githubusercontent.com/1405703/78269368-c6483d80-7509-11ea-9ba1-cd9dfe5eee21.gif)

TODO: Revisit whether we want to support it for dialog buttons or not. VS Code does not have any dialogs but they do not support it in the Explorer:

![screencast 2020-04-02 17-47-00](https://user-images.githubusercontent.com/1405703/78

[2020-04-02 16:17] kittaakos commented on #6743
Difference between the editor error markers:
VS Code
![Screen Shot 2020-04-02 at 18 15 48](https://user-images.githubusercontent.com/1405703/78272707-2b9e2d80-750e-11ea-9c3a-20cc6aa40b6f.jpg)

Theia:
![Screen Shot 2020-04-02 at 18 15 57](https://user-images.githubusercontent.com/1405703/78272689-25a84c80-750e-11ea-97e6-96f67d250d71.jpg)

Maybe it is a TS issue.

[2020-04-03 01:17] elaihau opened #7490 "`TerminalWidget` and `TerminalService` interfaces can be removed"
### Description

This issue was brought up by @akosyakov in https://github.com/eclipse-theia/theia/pull/7452#discussion_r402110136

The `TerminalWidget` and `TerminalService` interfaces can be removed. We can use `TerminalWidgetImpl` to replace `TerminalWidget`, and the concrete class `TerminalFrontendContribution` to replace `TerminalService`.

**OS and Theia version:**

All OSes.
Theia version 5

[2020-04-03 01:57] Lzw2016 commented on #6022
I think it is important to be able to use language packs (Chinese (Simplified) )

[2020-04-03 02:01] sojohnnysaid commented on #3338
is there a way to format with prettier on save now? Was trying:
[code]
but not working

[2020-04-03 02:11] trueman1990 commented on #3157
Still have this issue. proxy is set correctly.

[2020-04-03 04:04] raphaelsantos commented on #7332
Hi @vince-fugnitto , I'm really sorry for taking all this time to answer.

Entering newline with `\n` actually works when using `showInformationMessage` with `MessageOptions` `{userModal:true}`.

[2020-04-03 04:19] raphaelsantos opened #7491 "VScodeAPI: MessageItem "isCloseAffordance" does not hide "close" button in Theia."
### Description
When using VSCodeAPI to display an information message through `showInformationMessage`, the developer can use pass a list of `MessageItem` object containing a `title` (the button label) and an optional boolean `isCloseAffordance`.

Closing the dialog without clicking on a button (like for example pressing ESC) will return the `MessageItem` which has `isCloseAffordance` set to true

[2020-04-03 05:51] thegecko commented on #7482
Makes sense,  I see no issue with that.

[2020-04-03 06:25] jankeromnes commented on #3338
@sojohnnysaid I think you may also want to install https://github.com/prettier/prettier-vscode in Theia, e.g. by downloading a `.vsix` file, and by drag-and-dropping it into Theia's extension panel on the left.

[2020-04-03 06:38] kittaakos commented on #7487
@umcconnell, it's yours. Go ahead, please. Let us know if you need assistance.

[2020-04-03 06:44] akosyakov commented on #7482
We are still using in Gitpod, hoped to switch from `@theia/git` after https://github.com/eclipse-theia/theia/pull/6921.

But I should be alright to move Theia git extension support to own repo and test this repo against built-in extensions. cc @svenefftinge

@vince-fugnitto Could you add it to discuss at next dev meeting?

[2020-04-03 06:46] akosyakov commented on #6115
It would mean though that icons won't work without Monaco extension :( We could start like that and if someone comes with the issue later, we will need to provide such css classes through the core then.

[2020-04-03 06:48] akosyakov commented on #7488
ok, thanks for checking, we need to fix support support of latest node debug in Theia (do we need another issue for it?), for now we can make sure that the proper version is published to the registry

[2020-04-03 06:50] akosyakov commented on #7489
It could be outdated built-in extension.

[2020-04-03 08:23] spoenemann opened #7493 "vscode-clangd extension does not work"
### Description
The vscode-clangd extension fails to activate with an exception.

Marketplace:
https://marketplace.visualstudio.com/items?itemName=llvm-vs-code-extensions.vscode-clangd

Source:
https://github.com/llvm/llvm-project/tree/master/clang-tools-extra/clangd/clients/clangd-vscode

Trace:
[code]

### Reproduction Steps

 * Add the extension as described [in the Wiki](https://github.com/ecl

[2020-04-03 08:36] akosyakov commented on #7493
Duplicate of https://github.com/eclipse-theia/theia/issues/6623

[2020-04-03 08:36] #7493 closed

[2020-04-03 09:18] codingchili opened #7494 "Failure to start in theia 1.0.0/dev - onDidCreateFiles is not a function in workspace"
Failure to load vscode-java plugin from https://github.com/redhat-developer/vscode-java after installation, see logs.

### Reproduction Steps
In Theia 1.0.0 or dev@5e45d2b8a,

1. Install the java extension (0.59) from RedHat using plugin manager.
2. Restart Theia and check the logs or get an alert in the workspace.

**OS and Theia version:** Ubuntu/Linux 18.04 + Theia 1.0.0.

**Diagnostics:**

[co

[2020-04-03 09:28] akosyakov commented on #7494
Duplicate of https://github.com/eclipse-theia/theia/issues/7171

[2020-04-03 09:28] #7494 closed

[2020-04-03 09:29] akosyakov commented on #7171
It is important to run latest version of Java extension.

[2020-04-03 09:33] akosyakov commented on #7462
It seems that breakpoints serialization goes in endless recursion while we try to send them to the plugin host process. The original error is a follow-up.

[2020-04-03 09:45] tsmaeder commented on #7446
A couple of experiments I ran:

1. When referencing a task in "depends on", the match is done via the "name" of the task. Setting the label property overrides the name, otherwise it seems to be what the detecting provider set as the name.
2. A task is considered a configuration of a detected task if it matches all of the properties of the detected task: example:
[code]

As long as I keep "type", "

[2020-04-03 10:18] RomanNikitenko commented on #7462
@akosyakov
Did you notice something common, some conditions/steps to reproduce it?
Did you have the same stack trace this time?

I'm going to test it tomorrow, so any info how to reproduce it would be helpful...
thanks in advance!

[2020-04-03 11:02] akosyakov commented on #7462
@RomanNikitenko I'm struggling to understand myself. I just see that logs are full of such errors on Gitpod staging environment and users complain about hanging UI.

@danidoedel But could it be that you had some breakpoints? Do you remember of what kind and how they were created? by you or provided by some VS Code extension?

[2020-04-03 11:34] akosyakov commented on #7462
I've noticed that there was a breaking change to URI inside Monaco: https://github.com/microsoft/vscode/pull/83060

But in rest of Theia we still use `vscode-uri@1.8.0` not 2.x which is aligned with a breaking change.

From logs it seems that an issue happens when we try to seralize/deserialize vscode URI. I suspect that for some Monaco URI (aligned with 2.x)  we create old VS Code URI via string

[2020-04-03 11:35] akosyakov commented on #7462
Switching to latest VS Code URI in Theia will be a good idea in anyway.

[2020-04-03 11:35] tsmaeder commented on #7446
Note: the document [here](https://code.visualstudio.com/docs/editor/tasks) seems to indicate that stuff in tasks.json can only ever by a "customization" of a contributed tasks, but that is not the case: you can create tasks of type "npm", for example that are _not_ considered customizations of a contributed task.
Our code currently seems to make that erroneous assumption.

[2020-04-03 11:36] akosyakov opened #7495 "switch to latest VS Code URI"
See for the motivation: https://github.com/eclipse-theia/theia/issues/7462#issuecomment-608384688

[2020-04-03 13:03] tsmaeder opened #7496 ""Run tasks" calls same Task Provider repeatedly."
### Description
I have written a VS Code extension that registers a task provider for type "foobar" and prints to the console when "provideTasks()" is called.
I have a workspace where I configure 5 tasks of type "npm" in <ws root>/.theia/tasks.json. When I now run the command "Run Task", the console output shows that "provideTasks" is called 6 times before the dialog for selecting the task to run

[2020-04-03 13:06] kittaakos commented on #7495
See: https://github.com/eclipse-theia/theia/pull/6712

[2020-04-03 13:06] tsmaeder commented on #7496
The culprit seems to be here:
https://github.com/eclipse-theia/theia/blob/751a3d7e7c8b23f6101ccf8f03ceefe11d0e33ed/packages/task/src/browser/task-configurations.ts#L146

`getTaskToCustomize()` in turn calls `getTasks()`, which unconditionally fetches tasks from providers. We should really always use cached contributed tasks on only refetch when some action explicitly asks for it.

[2020-04-03 13:06] kittaakos commented on #7495
I already did it once because it was failing in the bundled electron app.

[2020-04-03 14:22] ctron opened #7497 "Fail to find "Desktop" edition"
### Description

On the homepage of Theia is says:

Also:

However, I fail to find any download for a desktop version of Theia.

### Reproduction Steps

* Take a look at the homepage
* Or the documentation
* Or github

[2020-04-03 14:26] akosyakov commented on #7497
Please upvote here: https://github.com/eclipse-theia/theia/issues/5481

[2020-04-03 14:26] #7497 closed

[2020-04-03 14:27] akosyakov commented on #7496
cc @elaihau

[2020-04-03 14:28] akosyakov commented on #7495
Where did we get another vscode-uri? It should be declared only in core and never in any other extension?

[2020-04-03 14:45] vince-fugnitto commented on #7332
No problem, thanks for getting back!
I confirmed it works for the modal dialog, I'll update the issue description to reflect that.

[2020-04-03 14:46] RDIL opened #7498 "[Security] Preview allows HTML to manipulate DOM"
### Description
When I opened a generated Javadoc page in preview, it changed the actual window title to the Javadoc's HTML title!!

![Screenshot 2020-04-03 at 10 45 51 AM](https://user-images.githubusercontent.com/34555510/78373227-5208ab00-7598-11ea-8963-d2c5521b75b9.png)

### Reproduction Steps

Have an HTML page with the `<title>` tag.
Open it in preview.
See issue.

**OS and Theia version:**

[2020-04-03 14:48] akosyakov opened #7499 "better error reporting when a breakpoint cannot be set"
I can see following with debugging https://github.com/TypeFox/leeway project with go vscode extension:
<img width="1474" alt="Screenshot 2020-04-03 at 16 44 12" src="https://user-images.githubusercontent.com/3082655/78373216-990f9400-75ca-11ea-88b8-a2e6ed5367a3.png">

Bug there are better information on returned json response in `body.error`:
<img width="1559" alt="Screenshot 2020-04-03 at 16 44 0

[2020-04-03 14:49] akosyakov commented on #7498
It should be resolved by rewriting the mini browser with webview: https://github.com/eclipse-theia/theia/issues/6562

[2020-04-03 14:49] tsmaeder commented on #7446
@elaihau I was wondering why we allow multiple TaskDefinition object for the same task type. How would we have to different definitions for the "npm" task type? I

[2020-04-03 14:51] kittaakos commented on #7495
The new version of VS Code URI comes from `vscode-json-languageservice`.
Here is the issue for electron: https://github.com/kittaakos/test-electron-builder

[2020-04-03 16:50] vince-fugnitto commented on #6115
I think we can go ahead for now with these icons (since it is quite difficult not to use `monaco`), and if people experience issues we can somehow implement fallback icons: https://github.com/eclipse-theia/theia/issues/5009.

[2020-04-04 01:20] cosmoarunn commented on #6189
That's exactly the right solution. it works without issue. I did it with nginx directives, updated the code below.

[2020-04-04 01:22] cosmoarunn commented on #6189
@vanilla-thunder
The direct solutions is considering this as a websocket proxy. what you did seems to be working without issues. I tested with nginx as well.

For nginx,
[code]

[2020-04-04 01:22] #6189 closed

[2020-04-04 11:59] kittaakos opened #7501 "Uncaught Exception: Error: Not a valid zip file on `yarn theia download:plugins`"
### Description

I can see an error logged to the console. App starts, I do not see any issues. Maybe one of the extension archives is corrupted.

Steps to reproduce:
[code]

Error:
[code]

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-04-04 12:14] kittaakos commented on #7487
[code]

[2020-04-04 12:16] #7487 closed

[2020-04-04 12:28] kittaakos commented on #723
It's supported by trees and file-trees in general.

![screencast 2020-04-04 14-25-09](https://user-images.githubusercontent.com/1405703/78450651-717b0300-7680-11ea-9a6f-7d30c03eba4a.gif)

Please reopen if required.

[2020-04-04 12:28] #723 closed

[2020-04-04 13:40] ptrxyz commented on #7141
This is still not working out of the box.
Create an empty workspace, add a simple ".py" python file, try to debug using the default configuration "Python: Current file" which will create a launch.json [1] for you.
It won't work and exit with [2].

[1]:
[code]

[2]:
[code]

[2020-04-04 14:04] denisvasilik commented on #7141
It seems that the pull request shown above has not been merged yet.

[2020-04-04 15:22] vince-fugnitto commented on #7501
I believe it has to do with `node-debug`, it has been removed from `open-vsx` due to an incorrect version and has yet to be successfully published:

- https://github.com/open-vsx/publish-extensions/issues/19

Ideally the script should handle such cases better and report the actual name of the failed download.

[2020-04-04 15:51] #7407 closed

[2020-04-04 17:07] elaihau commented on #7408
@akosyakov could you please point me to a place where I can learn how **integration tests** are supposed to be written in Theia? Thank you !

[2020-04-04 18:05] elaihau commented on #7446
when i wrote that part of the code i followed the vscode design to achieve the compatibility.

Take `typescript-language-features` extension for example,  https://github.com/microsoft/vscode/blob/6fded8a497cd0142de3a1c607649a5423a091a25/extensions/typescript-language-features/package.json#L921
it contributes only one task definition, however, as you can see from the JSON, it has the flexibility of

[2020-04-04 18:05] akosyakov commented on #7408
https://github.com/eclipse-theia/theia/blob/master/doc/api-testing.md#writing-tests

[2020-04-04 21:45] Jamlee opened #7502 "[golang] golang can not go to definition"
### Description
go lang can not go to definition, GOPATH is use default ~/go.

![image](https://user-images.githubusercontent.com/5196641/78462020-c2324080-7700-11ea-9da1-ae7e91bf9daa.png)

### Reproduction Steps
[code]

go extension is added , `"@theia/go": "latest"`:
[code]

[2020-04-04 22:44] vince-fugnitto commented on #7502
@Jamlee the [@theia/go](https://www.npmjs.com/package/@theia/go) extension is quite old and not actively maintained. Instead, a better option would be to use the VS Code [go](https://open-vsx.org/extension/ms-vscode/Go) extension. The extension is currently being used in our [theia-go](https://github.com/theia-ide/theia-apps/blob/master/theia-go-docker/latest.package.json) image and can be used as

[2020-04-05 07:05] Jamlee commented on #7502
@vince-fugnitto got it. i would find example in theia-apps, if same type question,  😃 . by the way, a clear extension list is urgent need in my view.

[2020-04-05 07:05] #7502 closed

[2020-04-05 19:06] #7438 closed

[2020-04-06 06:36] akosyakov commented on #7501
@vince-fugnitto Are we going to publish the proper version?

[2020-04-06 07:33] tsmaeder commented on #7446
@elaihau I understand that the same extension can contribute more than one task definition, but can more than one task definition have the same _type_? Because the code in [TaskDefinitionRegistry](https://github.com/tsmaeder/theia/blob/bc11e2c5f342cb96fedc333bd42799d0f8bc800e/packages/task/src/browser/task-definition-registry.ts#L97) seems to indicate that there can be more than one tasks definiti

[2020-04-06 07:38] veredcon opened #7504 "Support colors for logs in OutputChannel"
### Description
Suggesting an enhancement for the logs in OutputChannel to display colors for different log levels.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-04-06 07:57] akosyakov commented on #7357
@chrisunl Could you test please against https://github.com/eclipse-theia/theia/pull/7481?

[2020-04-06 07:58] akosyakov commented on #7059
I cannot reproduce it against https://github.com/eclipse-theia/theia/pull/7481

cc @kittaakos

[2020-04-06 08:00] akosyakov commented on #6256
@spoenemann @502647092 @Hanksha Could you reproduce it against https://github.com/eclipse-theia/theia/pull/7481?

Please help with testing 🙏  You can test with Gitpod: https://gitpod.io#https://github.com/eclipse-theia/theia/pull/7481

[2020-04-06 08:01] akosyakov commented on #2943
@vince-fugnitto @elaihau Could you verify it against https://github.com/eclipse-theia/theia/pull/7481 please?

[2020-04-06 08:13] akosyakov commented on #1514
@kittaakos Can you reproduce it against https://github.com/eclipse-theia/theia/pull/7481?

[2020-04-06 08:25] spoenemann commented on #6256
Yes it seems the issue is fixed in that revision!

[2020-04-06 08:26] Hanksha commented on #6256
Looks like it's fixed, I'll try within my project as well once it's merged.

[2020-04-06 11:32] kittaakos opened #7507 "[CI] Windows CI is down on Travis"
### Description

### Reproduction Steps

I can see the following error for multiple PRs:
[code]

Affected PRs:
 - https://github.com/eclipse-theia/theia/pull/7506
 - https://github.com/eclipse-theia/theia/pull/7481

**OS and Theia version:**

**Diagnostics:**

[2020-04-06 11:40] kittaakos commented on #7507
Upstream ref: https://travis-ci.community/t/windows-node-js-cannot-install-node-js-10-x-via-nvs/8012

[2020-04-06 11:42] akosyakov commented on #7482
It depends on https://github.com/eclipse-theia/theia/issues/7152

[2020-04-06 11:49] elaihau commented on #7446
You are right @tsmaeder . In Theia, although our API looks compatible with vscode's, we don't actually have code to support having more than one task definitions per plugin. And it is definitely something we should improve :)

[2020-04-06 11:58] kittaakos commented on #7507
The nodes are back on Windows.

[2020-04-06 11:58] #7507 closed

[2020-04-06 12:16] tsmaeder commented on #7446
@elaihau not what I'm talking about: I am talking about more than one definition for the same _type_
There can be a many task definitions per plugin, but no two of those definitions can have the same value for "type", so the following should be rejected:

[code]

but the one below is correct:

[code]

[2020-04-06 12:18] #7323 closed

[2020-04-06 12:26] elaihau commented on #7446
ah, got it. we don't throw any errors if multiple task definitions having same names are defined under the same extension/plugin.

[2020-04-06 12:30] tsmaeder commented on #7446
I don't think VS Code does either, but didn't check real well...

[2020-04-06 12:34] tsmaeder commented on #7446
Well, just added a task definition of type "npm" into my test extension: VS Code indeed just seems to take the last definition it sees: no error is signalled.

[2020-04-06 13:15] vince-fugnitto commented on #2943
I was unable to reproduce the issue any longer on `master`.
It was possible to **undo/redo** changes made manually or through the preferences-tree.

[2020-04-06 13:18] akosyakov commented on #2943
ok, maybe was fixed by rewriting preference service against Monaco models instead of fs

[2020-04-06 13:18] #2943 closed

[2020-04-06 14:49] chrisunl commented on #7357
Hi, I'll take a look but it may have to wait till Thursday because of work commitments.

[2020-04-06 15:01] vince-fugnitto commented on #7501
There looks to have been an issue which you commented on (adding the comment for traceability):
- https://github.com/open-vsx/publish-extensions/issues/19#issuecomment-609592928
- https://github.com/open-vsx/publish-extensions/issues/20

[2020-04-06 17:51] marechal-p commented on #7141
@denisvasilik the PR was merged.

@ptrxyz What is your platform? And did you try building and running the example applications from the master branch? I trying to reproduced, I just found an issue with Windows, it seems like shells on Windows expect `\r` to "submit" commands while we currently send `\n`.

[2020-04-06 18:09] denisvasilik commented on #7141
@marechal-p and @ptrxyz You're right sorry for that. I used the tag v1.0.0 where the pull request has not been integrated.

[2020-04-06 19:37] paul-marechal opened #7509 "terminal: send `\r` to submit commands on Windows shells"
### Description

Follow-up of https://github.com/eclipse-theia/theia/pull/6836.

I originally did not understand why in some circumstances I had to send `\n` twice for commands to be evaluated, but I now realize it is because shells seems to expect `\r` instead.

### Reproduction Steps

See https://github.com/eclipse-theia/theia/issues/7141#issuecomment-609030444

**OS and Theia version:** Windows

[2020-04-06 19:42] Crystal-RainSlide commented on #5481
Typically, the core of Electron apps is an .asar file, if the compile environment is limited but with a local [Electron runtime](https://github.com/electron/electron/releases), one can just [produce the .asar file](https://www.electronjs.org/docs/tutorial/application-packaging), and [run it with the Electron runtime itself](https://www.electronjs.org/docs/tutorial/application-distribution).

If th

[2020-04-06 19:46] #6428 closed

[2020-04-06 19:46] #7460 closed

[2020-04-06 19:46] #7483 closed

[2020-04-06 19:46] #2756 closed

[2020-04-06 19:46] #7474 closed

[2020-04-07 01:45] owlJaeger opened #7510 "nsfw build error: 'ThreadSafeFunction': is not a member of 'Napi'"
### Description
Building the nsfw package throws node-gyp error.
Example: ('ThreadSafeFunction': is not a member of 'Napi')

### Reproduction Steps
1. Clone the theia-apps repository.
2. Cd into theia-cpp-electron.
3. Run `yarn`

**OS and Theia version:**
@theia/core: 1.0.0
Tested on:
Windows 10 version 2004 (Build 19041.vb_release.191206-1406)
Ubuntu 19.10

**Diagnostics:**
[log.txt](https://gith

[2020-04-07 02:48] vince-fugnitto commented on #7510
Thank you for the issue, I think it might be better to open the issue directly in [theia-apps](https://github.com/theia-ide/theia-apps). I haven’t verified myself (if it is reproducible from sources in the main repository) but you may want to take a look at the project’s prerequisites which may prove to be useful:
- https://github.com/theia-ide/theia-apps

[2020-04-07 04:16] #7495 closed

[2020-04-07 05:36] sh7dm opened #7511 "Some extensions descriptions are displayed wrong"
### Description
With some extensions, `%extension.description%` is displayed instead of description. Looks like they don't have descriptions in Open-VSX registry.

### Reproduction Steps
Search Open-VSX for Chrome Debugger using Theia browser example.

**OS and Theia version:**
Ubuntu 19.10, Theia 1.0.0

**Diagnostics:**

![image](https://user-images.githubusercontent.com/19504461/78633627-bf734f0

[2020-04-07 05:51] sh7dm opened #7512 "Firefox debugger stays in 'debug' state if debugged window is closed"
### Description
When I close debugged Firefox window, debugging session in Theia remains open until Theia reload.

### Reproduction Steps
1. Install Firefox Debugger extension, I did it from .vsix I had (v2.7.0)
2. Start debug using either launch or attach
3. Close debugged window
4. See that bottom pane is still orange and debug view shows there's a session running
If you stop session using butto

[2020-04-07 05:55] sh7dm commented on #7512
This may relate too: if I reload Theia without ending the debug session, debugged browser (lauch option) is still open, but debug session in Theia is closed. I think it should restore that session, or, at least, gracefully end it, not leaving processes running after user has left. Maybe this is another issue, ping me if it should be reported separately.

[2020-04-07 06:59] akosyakov commented on #4591
@amiramw Is it still the case? Can be closed?

[2020-04-07 07:00] akosyakov commented on #7512
Currently it is expected that the debug session should be terminated, but we should not leave orphan processes if they were started not by a user, but the debut adapter.

We have an issue to support shared debug sessions: https://github.com/eclipse-theia/theia/issues/3361 It would allow to preserve debug sessions between page reloads as well. Please upvote there for a feature request.

[2020-04-07 07:03] akosyakov commented on #7511
It was already resolved, but extensions has to be republished with the proper description: https://github.com/eclipse/openvsx/issues/19#issuecomment-609811125

[2020-04-07 07:03] #7511 closed

[2020-04-07 07:07] akosyakov commented on #7510
@vince-fugnitto please close and reopen there with a link

[2020-04-07 07:10] akosyakov commented on #7141
@marechal-p Would it be fine to assign this issue to you?

[2020-04-07 07:26] sh7dm commented on #7512
@akosyakov probably processes can be killed until #3361 is implemented. Then they'll be shared. What do you think about this idea?

[2020-04-07 07:31] akosyakov commented on #7512
@sh7dm We are already killing the entire process tree. I will need to debug to understand why this process cannot be killed.

Killing happens here: https://github.com/eclipse-theia/theia/blob/14531578a1eac6af55c6177ea857d39c38c9f09b/packages/plugin-ext/src/hosted/node/hosted-plugin-process.ts#L122 There are docs how to debug Theia if someone wants to investigate: https://github.com/eclipse-theia/t

[2020-04-07 07:56] akosyakov commented on #7357
@chrisunl ok, we merged the fix, please feel free to double test it when you have time and reopen the issue if it is still the case

[2020-04-07 07:56] #7357 closed

[2020-04-07 08:02] schumischumi commented on #7384
great thx!

[2020-04-07 08:02] #7384 closed

[2020-04-07 09:00] tsmaeder commented on #6507
@lmcbout that would be quite a different error than what this issue is about. Could you open a separate issue with steps to reproduce, please?

[2020-04-07 09:49] kittaakos commented on #7510
I can confirm this. I hit the same issue today in a downstream project after wiping the `yarn.lock` and re-running `yarn`.

[code]

@JanKoehnlein had the same issue today. So if anyone who is interested in a workaround; you should copy the `yarn.lock` from `eclipse-theia/theia` into your workspace root and run `yarn`. I do not have a better idea now, but it will come back for sure. Most likely, th

[2020-04-07 10:31] westbury commented on #7152
I plan on working on this after https://github.com/eclipse-theia/theia/pull/7505 .  That PR converts the parts of the Source Control view to widgets, so then this issue can be solved by allowing downstream packages to contribute widgets to the bottom of the Source Control view.

The uncertainty I have, however, is that we will have both the Git built-in and Theia's Dugite code both accessing the s

[2020-04-07 11:31] tsmaeder opened #7514 "Tasks dependency resolution does not work as in VS Code"
Configure some task, for example:
[code]
If you now execute the `Run Task...` command and choose the `npm: build` task, VS Code starts to execute the contributed task labeled `npm: clean`.

If I do the same in Theia, the `npm build` task is executed without starting the `npm: clean` task.

[2020-04-07 11:36] tsmaeder opened #7515 "Cannot run configured Task with Label"
1. Configure a `npm build` task with a label like so:

[code]
2. Execute the command `Run Task...`
3. Observe: you see a task labeled `npm: npmbuild`
4. Select that task to run.
5. Observe: you get an error:

`task ERROR Can't get task launch configuration for label: npmbuild`

When you remove the field `label` from the configuration above, you can execute the task under the name `npm: build`.

[2020-04-07 11:41] tsmaeder commented on #7514
Not sure this should have the 'vscode' label: unless I don't understand how to reference dependent tasks, this is not just the same as in VS Code, it's broken.

[2020-04-07 11:44] tsmaeder opened #7516 "vscode.tasks.executeTask(task) does not run dependencies"
I cannot really test this because of https://github.com/eclipse-theia/theia/issues/7514, but from my reading of the code, the VS Code API call 'executeTask` goes more or less directly to https://github.com/eclipse-theia/theia/blob/2ccfa67ca1800ef39c4281026f26eb809e2792c3/packages/task/src/browser/task-service.ts#L698

This code path does not seem to consider dependent tasks at all. VS Code does.

[2020-04-07 12:27] akosyakov commented on #3186
Issues which observed with the latest version (2020.3.71659) of Python extension:
- `vscode.workspace.fs.stat` is not implemented:
[code]
- `Python: Create Blank New Jupyter Notebook` command fails with an error in the webview:
[code]

[2020-04-07 12:59] akosyakov commented on #6636
Not urgent yet, but the python extension already has a mode in which it makes use of custom editors.

[2020-04-07 13:06] akosyakov commented on #7100
It depends on https://github.com/eclipse-theia/theia/issues/3985 as well as replacing Theia json extension with VS Code built-in.

[2020-04-07 13:49] benoitf commented on #7510
[code]

in package.json should fix the issue

[2020-04-07 13:57] vince-fugnitto commented on #7510
I confirmed it worked in a downstream project (fresh from the generator).

[2020-04-07 14:15] akosyakov commented on #4877
Closed in favour of https://github.com/eclipse-theia/theia/issues/5481

[2020-04-07 14:15] #4877 closed

[2020-04-07 14:23] akosyakov commented on #7510
cc @azatsarynnyy Maybe it has to do something with ARM's fix in nsfw? :)

[2020-04-07 14:30] benoitf commented on #7510
not sure issue is for @azatsarynnyy but more for @arekzaluski

[2020-04-07 14:37] sh7dm opened #7518 "Checkboxes for boolean config values"
### Description
It's not very comfortable to use dropdown when the value is boolean.

### Reproduction Steps
1. Open settings
2. Edit any boolean prop, like this:
![image](https://user-images.githubusercontent.com/19504461/78681767-d1c6aa80-78f5-11ea-9c5a-329272076f6c.png)
3. See a dropdown with 2 options:
![image](https://user-images.githubusercontent.com/19504461/78682091-3e41a980-78f6-11ea-8951

[2020-04-07 14:57] vince-fugnitto commented on #7518
@sh7dm please see the following pull-request which updates the preferences UI more closely to that of VS Code: #7105

Some screenshots (still a WIP):

<img width="873" alt="Screen Shot 2020-04-07 at 9 21 37 AM" src="https://user-images.githubusercontent.com/40359487/78684474-7fb66280-78be-11ea-8be4-17f044b35bea.png">

[2020-04-07 14:57] #7518 closed

[2020-04-07 15:14] vince-fugnitto commented on #7488
I tried with the updated version present in `open-vsx` and it still fails to work for me:
- https://open-vsx.org/extension/ms-vscode/node-debug

[2020-04-07 15:29] arekzaluski commented on #7510
@akosyakov @benoitf @vince-fugnitto  I don't think that this issue is caused by our change in nsfw (fixing the rename events on Windows). It is most likely due to the Napi refactor in release `1.2.8`. We will check it.

[2020-04-07 17:39] vince-fugnitto commented on #7462
Is the issue fixed by #7506?

[2020-04-07 17:41] akosyakov commented on #7462
I’m going to run new version in Gitpod next week and if it is fine now. I will close this issue.

[2020-04-07 18:51] vince-fugnitto opened #7519 "documentation: 'platform' or 'framework'"
**Description**

In the past, we have used the terms **platform** and **framework** interchangeably when describing Theia. I believe we should be consistent in order to avoid confusion and to more accurately describe the software. I also believe that **framework** would be the more accurate description (others can provide their opinions as well).

I have taken the liberty of updating the [website]

[2020-04-07 19:23] lmcbout opened #7520 "Context menu from any views are modified when the "Extension" view is available on the side-bar"
### Description

Context menu from any views are modified when the "Extension" view is available on the side-bar,
WE don't need to display the "Extension" view, any Views (Explorer, Debug...), select the context menu and there is two new menu items: "Installed" and "Built-in"
Those  menu items should only be available when we display the  "Extensions" view, not any other views.

### Reproduction S

[2020-04-07 20:03] azatsarynnyy commented on #7519
I'm for using **framework**, definitely.

[2020-04-07 22:00] amiramw commented on #4591
Seems that it is still the same.
If I stop and start my proxy in the middle of node debug session the session is lost.

[2020-04-08 06:32] kittaakos opened #7521 "As a user I want to copy the content of the current Output channel with `Ctrl/Cmd+A`"
### Description

When the Output channel is opened and is the active widget, I want to be able to copy the content (`Select All`) with the <kbd>Ctrl/Cmd</kbd>+<kbd>A</kbd> keybindings.

Inspired by: https://github.com/arduino/arduino-pro-ide/issues/37

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-04-08 06:40] akosyakov commented on #7521
@kittaakos Do you think it would be hard to replace output with Monaco editor as it is done in VS Code: https://github.com/eclipse-theia/theia/issues/2702#issuecomment-417661012

[2020-04-08 06:43] #6659 closed

[2020-04-08 08:08] akosyakov commented on #7106
It would be helpful If someone can sum it up as a website page here: https://github.com/theia-ide/theia-website

[2020-04-08 08:15] kittaakos opened #7522 "[quick-open] The fuzzy search should handle whitespace gracefully"
### Description

I want to be able to see and run the command `Toggle Minimap` if I type `tog mi`. It does not work now. I think we can call it a bug.

Theia:
`toggle mi` 👍
![Screen Shot 2020-04-08 at 10 11 14](https://user-images.githubusercontent.com/1405703/78760537-983b8100-7981-11ea-958c-e5f95148105b.jpg)

`tog mi` 👎
![Screen Shot 2020-04-08 at 10 11 22](https://user-images.githubusercontent.

[2020-04-08 08:30] sh7dm commented on #7470
@tomascechatbroadcomcom what did cause this issue and what was the fault? Could you please tell what extension failed and what errors were printed or any other wrong behaviour?

[2020-04-08 08:34] kittaakos opened #7524 "[electron] Add option to disable hardware acceleration"
### Description

Originally posted [here](https://github.com/arduino/arduino-pro-ide/issues/41#issue-509582667):

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-04-08 08:36] kittaakos commented on #7524
I would consider the request as a generic Theia issue. One has to investigate whether toggling this option requires an app restart or not.

[2020-04-08 08:48] akosyakov opened #7525 "ctrl+f defaults to the browser search"
### Description

### Reproduction Steps

- open SIW view
- press ctrl+f to retrigger search
- native browser search is shown
- search is not retriggered

**OS and Theia version:**

**Diagnostics:**

[2020-04-08 08:49] kittaakos commented on #7525
FYI: previously we throw an exception: https://github.com/eclipse-theia/theia/issues/7474

[2020-04-08 08:51] kittaakos commented on #7525
Related conversation: https://github.com/eclipse-theia/theia/pull/7481#issuecomment-609692711

[2020-04-08 08:54] kittaakos commented on #7525
Linked issue: https://github.com/eclipse-theia/theia/issues/7346

[2020-04-08 09:03] ishche commented on #7470
I've updated my sample extension: https://github.com/ishche/vscode-samples-extension/releases/tag/0.0.2 or https://marketplace.visualstudio.com/items?itemName=x0a.vscode-samples-extension

Steps to reproduce:
1. run command: "Example: Track DAP message"
2. Start any debug session
Expected: Info message with Type: object
Actual: Info message with Type: string

[2020-04-08 09:14] sh7dm commented on #7470
Thank you! Will test

[2020-04-08 09:32] akosyakov commented on #7525
@kittaakos you are right about #7346

I'm still not sure about falling back to the native search.

[2020-04-08 09:34] kittaakos commented on #7525
We have to re-introduce a NOOP `core.find` then.

[2020-04-08 09:42] akosyakov commented on #7525
What about `core.replace`? We used to prevent it as well.

[2020-04-08 09:47] kittaakos commented on #7525
Yes. Obviously, it belongs here.

"prevent" 😄 yes.

----

I think `Select All`, `Find`, and `Replace` should be generalized all over the application; the active widget should handle it if it can, otherwise we have to fall-back to the default NOOP. Most likely that's a bigger task.

[2020-04-08 11:37] sh7dm commented on #4727
If you can SSH to the server, debugger port can be forwarded (`ssh -R`) from client to server, then you can use `attach` command to debug. Definitely, WebSocket debug will be a great thing! Chrome Debugger API can be used by an extension which then exposes it to `window` context, and then Theia or its extensions can use it and forward to host.

[2020-04-08 11:41] azatsarynnyy commented on #6509
closed by https://github.com/eclipse-theia/theia/pull/6624

[2020-04-08 11:41] sh7dm opened #7527 "Recently used commands include ones triggered by mouse"
### Description
I expect commands triggered from UI or by keyboard not to be added to recent commands list, just as in VS Code. Theia does so. If this is expected, it'll be nice to have a setting for that.

### Reproduction Steps
A (Theia):
1. Click notifications bell
2. Press F1 and see that it was added to recent commands list
B (VS Code)
1. Click notifications bell
2. Press F1 and see that it w

[2020-04-08 11:49] Livven opened #7528 "[search-in-workspace] Workspace search does not work in Electron with asar packaging"
### Description

Workspace search does not work in Electron with asar packaging enabled because `rg` cannot be spawned. The following message is shown when launching the Electron executable via a console:

[code]

In the above path, `app.asar` should be replaced with `app.asar.unpacked`, as binaries cannot be in the asar file and have to be unpacked instead in order to be executable. However, the

[2020-04-08 11:54] akosyakov commented on #6509
This PR was not merged )

[2020-04-08 11:56] Livven commented on #7528
By the way I think a simple fix would be to unpack the full `vscode-ripgrep` folder, which should cause the correct path to be resolved. However that would require additional configuration from the user.

Considering that for example [electron-builder](https://www.electron.build/configuration/configuration#overridable-per-platform-options) can do smart detection of what needs to be unpacked it wou

[2020-04-08 12:05] azatsarynnyy commented on #6509
sorry, overlooked it )

[2020-04-08 12:06] vince-fugnitto commented on #7527
@sh7dm you're right, at the moment the framework makes no distinction on how a command was executed, meaning that it will register a recent command whenever a command is executed:
- through the quick-open command menu (vscode use-case)
- through manual selection by a user
- through it's keybinding value (if present)

Would you like to handle fixing the issue, meaning only registering commands in t

[2020-04-08 12:08] sh7dm commented on #7527
Would like to try myself on it!