[2019-02-14 16:16] AndrienkoAleksandr commented on #3724
@avelino I guess they used link matcher with some regexp and click handler https://github.com/xtermjs/xterm.js/blob/3.11.0/typings/xterm.d.ts#L512

[2019-02-14 18:25] kittaakos opened #4348 "[file-search] Prefer file name over path when boosting the search results"
Use case:
 - Search for `langu`.
 - I would like to see all TS modules starting with `langu` ranked higher than other files with matches in the path.

Theia (with Gitpod):
<img width="625" alt="screen shot 2019-02-14 at 19 13 52" src="https://user-images.githubusercontent.com/1405703/52807834-e4947500-308c-11e9-8b2b-d6446531967b.png">

VS Code:
<img width="648" alt="screen shot 2019-02-14 at 19 21

[2019-02-14 18:51] kittaakos commented on #3610
Why do we have `Select All` if the copy does not work 😄?  It is misleading.

![screencast 2019-02-14 19-44-20](https://user-images.githubusercontent.com/1405703/52809901-a3529400-3091-11e9-97f8-7ce97b78e5ce.gif)
![screencast 2019-02-14 19-45-32](https://user-images.githubusercontent.com/1405703/52809903-a3529400-3091-11e9-9a3f-110e17200be5.gif)

[2019-02-14 19:02] thegecko opened #4349 "[electron] Reloading the window or opening a new workspace crashes the app"
When running the example electron application after a clean build, reloading the window kills the application.
The same is observed if a workspace is open while preserving the window (preferences - `workspace.preserveWindow`: true).

Tested on latest master (14th Feb 2019) with MacOS.

[2019-02-14 19:16] thegecko commented on #4349
Typically this doesn't break during debugging, only when started with `yarn start`

[2019-02-14 19:32] thegecko commented on #4349
Confirmed this only happens when opening or reloading a workspace with a space in the path.

It's due to the url encode/decode which happens when [storing the workspace URI in window.location.hash](https://github.com/theia-ide/theia/blob/master/packages/workspace/src/browser/workspace-service.ts#L110)

[2019-02-15 00:13] duemaster opened #4351 "How does layout setting/restoration work in Theia?"
I would like to have the ability to set a default layout upon user loading into the theia idea for the first time(setting left and right widget dimensions, opening certain widgets, etc) and when the user refreshes the page, the layout will not be set up again and instead based on how the user left it before the page is refreshed.

Currently, I am setting up the layout on state initialized_layout w

[2019-02-15 06:25] invincibleJai commented on #4323
Thanks @slemeur . I see it's been already implemented https://github.com/theia-ide/theia/pull/3128 by @vparfonov but am experiencing above.

[2019-02-15 07:25] kittaakos opened #4352 "[languages] Fix incorrect regexp when trying to guess LS startup cause"
https://github.com/theia-ide/theia/pull/4220#pullrequestreview-203894568

[2019-02-15 08:09] kittaakos commented on #4316
Please reopen if required.

[2019-02-15 08:09] #4316 closed

[2019-02-15 08:39] tsmaeder commented on #1078
See also #4050. To fix this for pure Theia language server extensions, thought, I guess it would have to be addressed in monaco-languageclient.

[2019-02-15 08:58] tsmaeder opened #4355 "Don't use Monaco Concepts in Main/Ext Interface"
Right now, we are using Monaco conventions in the Main/Ext interface in the plugin-ext package. What I mean by this is that the shapes of interfaces used (See Range in model.ts, for example) are the same as in Monaco and positions are 1-based (instead of 0-based as in the Theia and VS Code plugin APIs).

I propose to move to a main/ext interface based on vscode-languageserver-types ("VLT"). Any co

[2019-02-15 12:11] aaqaishtyaq opened #4356 "Render readonly files differently in sidebar widget"
Hey,  I'm trying to deploy Theia 0.3.19 with Che 6.17.

Is there any way that readonly files can be rendered differently or they contain a tag which says [readonly].

[2019-02-15 12:41] kittaakos commented on #4356
The [`FileStat`](https://github.com/theia-ide/theia/blob/1730624aeabc09ed291c0ddb2614eed2a5a49c9e/packages/filesystem/src/common/filesystem.ts#L225-253) does not contain this information. If you want to implement something like this, I propose using a [`TreeDecorator`](https://github.com/theia-ide/theia/blob/1730624aeabc09ed291c0ddb2614eed2a5a49c9e/packages/core/src/browser/tree/tree-decorator.ts#

[2019-02-15 12:46] kittaakos commented on #4306
@marcdumais-work, are we going to release `0.3.20` or `0.4.0`? If the latter, I am going to break APIs. Thanks!

// cc @svenefftinge

[2019-02-15 14:33] #4352 closed

[2019-02-15 15:42] vince-fugnitto commented on #4314
fixed thanks to https://github.com/theia-ide/theia/pull/4341

[2019-02-15 15:42] #4314 closed

[2019-02-15 15:44] vince-fugnitto commented on #3517
fixed thanks to #3877

[2019-02-15 15:44] #3517 closed

[2019-02-15 15:56] vince-fugnitto commented on #2876
@simark it seems to be an issue with all complex type preferences (ex: Object).

Theia does not seem to properly handle updates to these types, for example the `files.exclude` has the following:

[code]

Each time a user attempts to `Add Value` through the preferences widget, whatever custom preference that exists will be overwritten each time by the **default**.

[2019-02-15 16:01] marechal-p commented on #4349
Glad to know that I am not the only one having issues with that.

Yes, because when debugging, Theia is started in single process mode (`--no-cluster`). My guess was that it had to do with the way we managed the processes and windows somehow, but I never could debug this issue.

If you are in the same situation as me, the crash doesn't even output any errors, it just shutdowns for not apparent rea

[2019-02-15 17:02] marechal-p commented on #4322
Maybe it is a bit extreme, but with the current layout options that Theia offers, I don't see a way of mapping the column based layout from VS Code to Theia.

See the following screenshot, where I have 6 editors in the main panel:

![image](https://user-images.githubusercontent.com/14182238/52871969-48647f80-3119-11e9-97f8-d24933a72017.png)

Disclaimer: I don't think I would ever have such a works

[2019-02-15 18:52] thegecko commented on #4349
Exactly what I see. This is quite a concerning issue for us as we keep the window while switching workspace.
I have a fix for reloading workspaces with a space in the path, but it didn't fix this.

I agree it's to do with clustering. It seems all workers stop during the reload so the app exits.

Having to debug using console.log :)

[2019-02-15 20:42] adrienrenaud commented on #4308
@kittaakos if editorconfig is not working how can I set the indent style for all files? Is it still possible? Can I set indentation style by type file? Thanks a lot.

[2019-02-15 20:48] marechal-p commented on #4299
https://en.wikipedia.org/wiki/Mosh_(software) mosh looks like a good idea, no idea how it feels when we actually use it.

If you wanted, you could look into adding the support for that in Theia. If it is just a matter of communicating to mosh just like we would with a process/pty then it should be fairly doable.

[2019-02-15 22:00] marechal-p commented on #4288
When on Electron, some environment variable `THEIA_ELECTRON_VERSION` is set, which is propagated to any child process.

So when we start the browser example, we aren't running an electron environment, but the environment variable is still set.

Then we do some test:
https://github.com/theia-ide/theia/blob/master/packages/core/src/node/backend-application.ts#L41

Which triggers the following code,

[2019-02-15 22:13] rohan-dave opened #4359 "How to set up the debugger?"
I am currently using the docker-full docker image (https://github.com/theia-ide/theia-apps/tree/master/theia-full-docker), however the debugger is not working (nothing happens when you click on the menu option). Are there any external configurations needed for this to be set up?

[2019-02-16 09:57] duemaster commented on #4185
@akosyakov
I cant seem to find where hover responses are returned to the client in the `JavaClientContribution`.

Also, would it be easier if I create a custom LS to return custom hover response only for selected codes?

[2019-02-17 15:33] idoprz opened #4361 "Running hosted Theia with --port parameter failing"
Running the host Theia with --port XXXX then running hosted Theia fails to parse the port.
For example run Theia:
yarn start --port 3000
then run a hosted plugin fails with this error:

Starting the master backend process without a timeout.
Starting server worker...
Server worker has been started. [ID: 1 | PID: 3392]
Server worker is ready to accept messages. [ID: 1 | PID: 3392]
root ERROR Failed

[2019-02-17 15:36] idoprz opened #4362 "Hosted Theia environment variables are not passed from host"
Running a host with the env THEIA_PLUGINS runs my plugin.
Running another plugin in hosted mode, has an empty THEIA_PLUGINS env.

[2019-02-17 15:39] idoprz opened #4363 "Incorrect hosted Theia URL"
The hosted Theia URL is taken from the --hostname paramter. Using --hostname 0.0.0.0 will open the hosted Theia tab in http://0.0.0.0:3000 which will not work.
This is also problem in a dockerized environment in which the host or port is mapped.

[2019-02-17 18:26] 502647092 commented on #2363
@MarkZ3 how to add lombok support
I need this, too.
Thanks

[2019-02-17 21:02] thegecko commented on #4349
I've spent most of today trying to get to the bottom of this issue with no joy.

I've managed to debug the cluster fork, but can't see why the worker just decides to disconnect randomly during a reload. Some help would be appreciated.

[2019-02-18 03:11] MarkZ3 commented on #2363
@502647092
I remember making it work locally by changing the Theia code but I don't quite remember what I did. I think I hardcoded "-javaagent:/path/to/lombok.jar" in java-contribution.ts or something like that.

[2019-02-18 07:30] 502647092 commented on #2363
@MarkZ3
https://github.com/theia-ide/theia/blob/2d090d3836753ad21252147dfc6a5bb173b46ab6/packages/java/src/node/java-contribution.ts#L128-L132
add `'-javaagent:/home/theia/lib/lombok.jar` in here ?

[2019-02-18 08:26] 502647092 opened #4364 "how to add custom config in java language server"
i need add lombok
https://github.com/theia-ide/theia/blob/2d090d3836753ad21252147dfc6a5bb173b46ab6/packages/java/src/node/java-contribution.ts#L118-L122
`-javaagent:/home/theia/lib/lombok.jar`

[2019-02-18 12:48] kittaakos opened #4365 "[git] Typo when pulling from/pushing to remote"
https://github.com/theia-ide/theia/blob/2d090d3836753ad21252147dfc6a5bb173b46ab6/packages/git/src/browser/git-quick-open-service.ts#L135

https://github.com/theia-ide/theia/blob/2d090d3836753ad21252147dfc6a5bb173b46ab6/packages/git/src/browser/git-quick-open-service.ts#L138

Should be `Successfully`.

[2019-02-18 15:14] kittaakos commented on #4349
Possible related: https://github.com/theia-ide/theia/issues/3242

[2019-02-18 16:03] kittaakos commented on #3169
@adrienrenaud, this functionality is now available from the *Command Palette*:
 - Open the *Command Palette* with <kbd>Ctrl/Cmd</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd>.
 - Type `Open URL` and hit *Enter*.
 - Type the URL.

From here: https://github.com/theia-ide/theia/pull/4357#discussion_r257585428

[2019-02-18 17:11] jankeromnes commented on #3557
@EricRabil It's really cool that you've already looked into this! Could you please share some info on your local Theia modifications? (E.g. uploading some diff or braindump somewhere would be perfect.)

I'd love to see if I can help improve Theia on touch devices too (I do a lot of dev work on my smartphone and sometimes on my iPad). Maybe we can team up on this?

[2019-02-18 17:39] thegecko commented on #4349
Yes, that's the same issue, but it also happens during a reload. Should we close this one?

My latest avenue of investigation for this was finding that closing the IPC connection will disconnect the worker process, which in turn stops the worker and the cluster;

https://nodejs.org/api/process.html#process_event_disconnect

https://github.com/nodejs/node/blob/62942e9ad7a59b76e9255ea2560bad2245709e

[2019-02-19 05:46] jgbradley1 commented on #4229
I am also experiencing this problem. The initial terminal window is not open when first running the image and I encounter this error message when trying to open a new terminal. This creates an endless cycle of trying to open a new terminal that always fails to initialize.

There should be some kind of fail-safe option hard-coded in that kills the terminal when an error occurs and spawns a new term

[2019-02-19 05:56] duemaster commented on #4351
After some digging through the code, I realized that instead of using callbacks like
[code]

doing something like

[code]

Is better as the second sample code will only be ran when there is no layout present, meaning the setup code wont be called on a page refresh.

[2019-02-19 05:57] #4351 closed

[2019-02-19 07:53] kittaakos opened #4366 "[ts] `ERROR TypeScript: (node:19781) UnhandledPromiseRejectionWarning: Error: geterr timeout`"
Steps to reproduce:
 - Start an empty WS and clone https://github.com/arunoda/learnnextjs-demo/
 - Switch to the `data-fetching` branch.
 - Run `npm i && npm run dev`.

[code]

[2019-02-19 08:01] kittaakos opened #4367 "[ui/ux] Do no expand the widgets on the side-bars for the context menu"
This is a minor issue but still feels odd. When I want to close a widget on the sidebars with the context menu, first the widget expands, I close it, but the other widget remains expanded. See the attached screencast.

As a user, I would expect that the widget on the side-bar does not expand for the context menu. Or at least, I do not have to manually collapse the other widget.

![screencast 2019-

[2019-02-19 08:29] kittaakos opened #4368 "[mini-browser] Cannot set the focus to the mini-browser widget"
With 2d090d38 from the `master`.

Steps to reproduce.
 - Create an `index.html` with `<h1>FOOO</h1>` content.
 - Select > `Open With` > `Previw`.

[code]

[2019-02-19 08:56] sr229 commented on #3557
FWIW I think it's best we upstream any changes we can make for Monaco so everyone can benefit (including VSCode)

[2019-02-19 09:19] invincibleJai commented on #4323
Guys, any update on this thread. Thanks!!

[2019-02-19 10:18] torbgy commented on #4150
Hey, I'm struggling with something that might be similar to this...
When trying to run the browser example it provides an error:
`$ export THEIA_DEFAULT_PLUGINS=local-dir:../../plugins && theia start
'export' is not recognized as an internal or external command, operable program or batch file.
error Command failed with exit code 1.`

Windows: 8.1
yarn: 1.7.0
Python: 2.7.3
node: 8.11.4

[2019-02-19 11:29] kittaakos commented on #4150
`export` won't work on Windows.

[2019-02-19 11:30] kittaakos commented on #4150
@torbgy, can you please tell me what are you trying to do? Maybe we can apply a local workaround for this issue.

[2019-02-19 11:35] torbgy commented on #4150
I'm trying to run the browser example provided by this [page](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#building-on-windows) .
The error occurs when trying to run `yarn run start`

[2019-02-19 12:19] vparfonov commented on #4323
@invincibleJai I will take a look

[2019-02-19 12:28] kittaakos opened #4371 "[ci][travis] Test failures on the `master`"
From here: https://github.com/theia-ide/theia/pull/4360#issuecomment-465054852

`fatal: unknown value for config 'protocol.version': 2` must be related to the Git version.

[source](https://opensource.googleblog.com/2018/05/introducing-git-protocol-version-2.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+GoogleOpenSourceBlog+%28Google+Open+Source+Blog%29&utm_content=Google+Interna

[2019-02-19 12:36] RomanNikitenko opened #4372 "[plug-in] [tasks] Add 'tasks.taskExecutions' API"
Add [`tasks.taskExecutions`](https://github.com/Microsoft/vscode/blob/5a4eab812bd485942061f71af39f3eabc52a1035/src/vs/vscode.d.ts#L5074) API to allow a plugin to get currently active task executions.

[2019-02-19 13:14] #4257 closed

[2019-02-19 13:51] vzhukovskii commented on #4043
As I understand, we need macros mechanism in general and macro for current project path is particular type of macro as an example.

[2019-02-19 14:40] kittaakos commented on #4150
PR: https://github.com/theia-ide/theia/pull/4376

[2019-02-19 14:47] RomanNikitenko commented on #4043
@vzhukovskii we have ability to [register variable](https://github.com/eclipse/che-theia/blob/master/extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts#L51) from plugin side. But I don't know the way how to get current selection in the explorer view on plugin side. We could resolve the variables for Che tasks replacing `current.project.path` by path of current selection

[2019-02-19 15:01] dneary commented on #4364
Thanks for your question. @tsmaeder do you have any ideas?

[2019-02-19 15:25] thegecko commented on #4349
cc @svenefftinge

In the dev call today we discussed removal of cluster mode from Theia. If this is going to be the case, are you happy for me to create a PR now to turn off cluster mode by default?

[2019-02-19 18:47] kittaakos commented on #4371
[Here](https://travis-ci.community/t/git-protocol-version-2/2378) is the follow-up. It [was a recent change](https://github.com/travis-ci/travis-build/pull/1659) in Travis.

[2019-02-19 20:21] kittaakos commented on #4371
It is still not complete.

[2019-02-19 22:49] caseyflynn-google opened #4382 "[editor] cmd-shift-Z causes undo on mac"
When using MacOS, sending Command-Shift-Z in the Theia editor results in an Undo command being issued instead of Redo command.

[2019-02-20 01:43] jgbradley1 commented on #4330
Possible duplicate of [this](https://github.com/theia-ide/theia/issues/4330) issue.

[2019-02-20 03:48] frankLife opened #4384 "how to get the example run with customized pathname ?"
I found the front of example app only can be visited with root `/` pathname. when use pathname like `/theia` , it would spin all the time without any error.

![image](https://user-images.githubusercontent.com/5081884/53065108-462d6700-3505-11e9-9214-9fdb011937c5.png)

may I need more config ?

@akosyakov

[2019-02-20 06:13] #4371 closed

[2019-02-20 08:19] kittaakos commented on #4330
Which one? You have referenced *this* :)

[2019-02-20 08:26] kittaakos commented on #4364
Currently, it is not possible to achieve it without modifying the code. You can do at least two things:
 - You can subclass the `JavaContribution`, and more or less copy-paste the `start` method, adjust the JDT LS parameters in your code, and `rebind` the `JavaContribution` to your customized class.
 - You can make this configurable in Theia with a PR.

[2019-02-20 08:30] kittaakos commented on #4384
@frankLife, what did you do? Did you build it from the source? Are you developing your own extension? Did it happen with Docker? Some additional input might help to solve your problem.

Can you please check again both the backend logs and the browser's console.

[2019-02-20 08:34] duemaster opened #4385 "Is it possible to include other widgets inside custom widget?"
I would like to use some of the already existing widgets such as file explorer tree widget into the widget (React-based)  that I am trying to build.

Is that possible?

I tried importing some of them and calling them in the `render()` but it didn't seem to work.

[2019-02-20 08:51] #4136 closed

[2019-02-20 08:58] olexii4 opened #4386 "View Container widget improvements"
We should improve the TreeView widget:
- [ ] Restore the previous widget state after reloading.
- [ ] Add each view container into the 'View' menu.
- [x] Remove all unnecessary timers from the widget implementation. Add code clean up.

[2019-02-20 09:00] Leletir commented on #3809
Is it possible to desactivate the display of hidden files by default ?

[2019-02-20 09:31] kittaakos commented on #4382
@caseyflynn-google, this seems to work in Gitpod. I am on macOS.

Can you please give us additional info about the defect?

![redo-undo-on-macos](https://user-images.githubusercontent.com/1405703/53081155-8c30fd80-34fa-11e9-9185-6f4be60a6092.gif)

[2019-02-20 09:45] frankLife commented on #4384
@kittaakos I just build own theia version without docker.  I  debug and found the

[code]

the `then` will not reach when use customized pathname

@kittaakos can you give us some more information about this

[2019-02-20 09:50] kittaakos commented on #4385
@jbicker, can you help with this? Do you know an example for this use-case?
@duemaster, can you share your code?

[2019-02-20 10:11] #4051 closed

[2019-02-20 10:53] jbicker commented on #4385
Hi, yes, it is possible. We did that in the search-in-workspace package. See [here](https://github.com/theia-ide/theia/blob/master/packages/search-in-workspace/src/browser/search-in-workspace-widget.tsx#L186). So, you have to create an content node in your parent widget, inject the child widget and use Widget.attach.
I hope it helped.

[2019-02-20 10:59] kittaakos opened #4387 "[preferences][keybinding] `Alt` + `Shift` + `W` (Close All) does not work when the preferences JSON editor has the focus"
It works when the left-hand-side tree viewer has the focus but when the focus is in the JSON editor, it does not work.

[2019-02-20 11:05] duemaster commented on #4385
Does it also work if I am trying to add a non-react based widget into a react widget?

[2019-02-20 12:10] frankLife commented on #4384
my fault , sorry

[2019-02-20 12:10] #4384 closed

[2019-02-20 12:17] jbicker commented on #4385
That should also work. The Widget is a class in Phosphor which is not React-Based. Try it.

[2019-02-20 12:18] vince-fugnitto commented on #3809
@Leletir the flag to show / hide ignored files is found here https://github.com/theia-ide/theia/blob/45f8993d5843d01b534518d390814c1083c044c4/packages/file-search/src/browser/quick-file-open.ts#L64

Perhaps if you'd like more control you can add a new preference where user's can decide for themselves the default behaviour of either showing / hiding ignored files when using the quick-open.

From my

[2019-02-20 12:39] Leletir commented on #3809
@vince-fugnitto thank you for the answer !

That's weird because by default theia show all the hidden files.
Is there a configuration file where I can set the value of `hideIgnoredFiles` ?

Complety agree with you

[2019-02-20 13:26] elaihau commented on #3809
Patterns defined in .gitignore should not show up, however it is broken (reported in https://github.com/theia-ide/theia/issues/1588).

[2019-02-20 13:32] Leletir commented on #3809
If I understand when theia open a workspace, it looks for a .gitignore file and it should not dispay the files ignored in the .gitignore, is it right ?

[2019-02-20 13:36] elaihau commented on #3809
you are absolutely right.

i looked into this issue a couple of months ago, but i forgot what stopped me. If interested, you are welcomed to open a pull request to make it better. Thank you !

[2019-02-20 13:38] Leletir commented on #3809
@elaihau Thank you very much.

I was thinking about, by default not displaying the files starting by .*

[2019-02-20 13:41] elaihau commented on #3809
sorry i don't get it - why "not displaying files starting by .*" helps in case? not all files under `node_modules` have names that start with a dot. and potentially you could have any patterns (not just patterns starting with a dot) in .gitignore.

[2019-02-20 13:47] Leletir commented on #3809
Yes, I was thinking to my use case, but yes `node_modules` and a lot of patterns could be added

[2019-02-20 13:51] nachshv commented on #1327
Any progress done with i18n lately?

[2019-02-20 14:01] jankeromnes commented on #4102
Note, this is what the loading animation looks like on retina screens:

<img width="516" alt="screenshot 2019-02-20 at 14 57 51" src="https://user-images.githubusercontent.com/599268/53096651-f019ed00-351f-11e9-81a7-85f21eaae2ed.png">

Maybe we could find a prettier / more satisfying animation?

[2019-02-20 15:48] #4209 closed

[2019-02-20 16:14] vince-fugnitto opened #4388 "[file-search] editor is added to 'recently opened' only once it has focus / activated"
There is a discrepancy with our behaviour and that of `vscode` when registering an
editor as **recently opened**.

In `vscode` as soon as an editor is opened (preview or not) it is immediately listed as **recently opened**.
In `theia` it takes much more effort and isn't as reliable.

[2019-02-20 16:18] vince-fugnitto opened #4389 "[file-search] add 'Clear Editor History' command"
A useful command present in `vscode` is the ability to **Clear Editor History**.

The command can be used in the following use case:
- Once a user's **Recently Opened** list becomes quite large over time it may contain outdated / irrelevant information. The command can easily be used to clear the data by clearing the `locationStack`.

[2019-02-20 16:42] #4348 closed

[2019-02-20 17:15] jgbradley1 commented on #4330
Oops, [here](https://github.com/theia-ide/theia/issues/4229) is the correct duplicate issue.

[2019-02-20 17:20] dehru commented on #4199
I'm looking for suggestions for how to I might hook into a theia lifecycle events, to allow me to get around some issues I'm having with eager activation of vscode extensions.

In my project, I need to show or hide certain commands in the CommandPalette, or in the right click context menus, depending on what the context is.

Is there a way that I can use events/context to show / hide things in the

[2019-02-20 17:27] duemaster opened #4390 "Werid Scroll To Bottom behavior"
I am using [react-scroll-to-bottom](https://www.npmjs.com/package/react-scroll-to-bottom) to enable auto scrolling of list items in a widget. The widget receives updates through events, which adds items to a list and auto scrolls down.

However, I am noticing some werid scrolling behavior.

This is how I replicate it:
1. Widget is in a collapsed state (Label shown, but widget is not open)
2. Updat

[2019-02-20 17:28] duemaster commented on #4385
Ok. I shall try it. Thanks

[2019-02-20 17:31] duemaster commented on #4385
@jbicker
Do I also use `Widget.attach()` approach when the parent widget is a `ReactWidget` ?

[2019-02-20 18:22] vince-fugnitto opened #4391 "[git] no matching bindings found for serviceIdentifier: Symbol(GitInit)"
After #4210, the following error is thrown:
`No matching bindings found for serviceIdentifier: Symbol(GitInit)`

It is most likely a cleanup issue.

[2019-02-20 18:57] #4391 closed

[2019-02-20 18:58] caseyflynn-google commented on #4382
I am able to consistently reproduce for Theia 0.3.19 using the following package.json:
[code]

It seems like the issue is resolved in next, is there a release coming soon?

[2019-02-20 19:54] svenefftinge commented on #4382
It has been fixed recently.

[2019-02-20 19:57] #4382 closed

[2019-02-20 20:45] Rolige opened #4393 "Three little doubts"
Hi,

1. In the own IDE, how I can change the default command of `yarn theia start`?, and being a little more specific, I'm interested in use the custom command of `yarn theia start /my-workspace --hostname 0.0.0.0 --port 8080`, eg. if I execute `yarn theia start` I want to get the result of the command `yarn theia start /my-workspace --hostname 0.0.0.0 --port 8080`, I can't find the source code to

[2019-02-20 23:10] marechal-p commented on #4393
https://github.com/theia-ide/theia/blob/master/packages/core/src/node/backend-application.ts#L41-L42

Basically defaults in case you don't specify the command line arguments.

On the other hand, `yarn theia start` is a bit magical, as it comes from `yarn`, trying to find a script named `theia` in `package.json`, but fails, then looks into `node_modules/.bin` and finds it and executes it.

I usuall

[2019-02-21 03:26] Rolige commented on #4393
@marechal-p thanks a lot, I have now some ideas.

Regards!

[2019-02-21 03:26] #4393 closed

[2019-02-21 04:10] duemaster opened #4394 "Werid error encountered when using MonacoWorkspace"
![screenshot from 2019-02-21 12-08-37](https://user-images.githubusercontent.com/8973687/53143097-88bc7580-35d1-11e9-9c65-e1fbcf246114.png)

I am using it like this:
[code]

Am I using it correctly?

[2019-02-21 04:55] duemaster commented on #4394
It might be due to my own application code.

[2019-02-21 04:55] #4394 closed

[2019-02-21 08:51] AlexTugarev opened #4395 "[ci][git][travis] Browser tests fail on Linux"
see

[code]

from https://api.travis-ci.org/v3/job/496059660/log.txt

it looks like git is not found on the PATH. `git version 2.15.1` should be available, according to system info from logs.

[2019-02-21 08:54] vzhukovskii commented on #4052
Merged: https://github.com/theia-ide/theia/pull/4315

[2019-02-21 09:01] vzhukovskii commented on #4043
For resolving actual variable `${current.project.path}` we need to implement interface [variable.ts#L24](https://github.com/theia-ide/theia/blob/master/packages/variable-resolver/src/browser/variable.ts#L24) on the plugin side and add additional method to obtain current selected paths (in [theia.d.ts](https://github.com/theia-ide/theia/blob/master/packages/plugin/src/theia.d.ts)) which can be retr

[2019-02-21 09:17] #4251 closed

[2019-02-21 09:18] #4009 closed

[2019-02-21 09:19] AndrienkoAleksandr commented on #3669
Fixed in the frame of the issue https://github.com/theia-ide/theia/issues/4009

[2019-02-21 09:19] #3669 closed

[2019-02-21 09:47] jbicker opened #4397 "[git] Add Stash/Apply stash/Pop stash commands"
We need such commands added to git menu as in VSCode.

- [x] Stash
- [x] Apply Stash ...
- [x] Apply latest Stash
- [x] Pop Stash ...
- [x] Pop latest Stash

[2019-02-21 09:48] jbicker commented on #4397
Realted: https://github.com/theia-ide/theia/issues/1143

[2019-02-21 09:54] duemaster opened #4398 "MonacoWorkspace onDidSaveTextDocument called twice"
`onDidSaveTextDocument` is being called twice for a single edit to a single file

[2019-02-21 09:58] #4398 closed

[2019-02-21 10:20] RomanNikitenko commented on #4043
@vzhukovskii we have not problem with [registering variable](https://github.com/eclipse/che-theia/blob/master/extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts#L51), so we don't need to implement interface [variable.ts#L24](https://github.com/theia-ide/theia/blob/master/packages/variable-resolver/src/browser/variable.ts#L24), we can just [register variable].
The problem is - we can not obt

[2019-02-21 10:44] duemaster commented on #4385
@jbicker

I tried the following in a `ReactWidget`. I wanted to add a `FileNavigatorWidget`.

In the constructor, I create a `customWigetContentNode` like so
[code]

and in `onAfterAttach()`
[code]

Finally in `render()`,
[code]

However, this gives me the following error:
![screenshot from 2019-02-21 18-43-40](https://user-images.githubusercontent.com/8973687/53163273-af49d300-3608-11e9-9abd-d2a9

[2019-02-21 10:52] #4372 closed

[2019-02-21 12:05] marcdumais-work commented on #4395
The same or very similar is also happening for Linux: https://travis-ci.org/theia-ide/theia/jobs/496441098#L3095

[2019-02-21 12:08] marcdumais-work commented on #4395
This error comes-up a few times:
`@theia/example-browser: root ERROR Cannot use Git from the PATH when the LOCAL_GIT_DIRECTORY or the GIT_EXEC_PATH environment variables are set.`

https://travis-ci.org/theia-ide/theia/jobs/496441098#L3013

[2019-02-21 12:11] marcdumais-work commented on #4395
Something [else](https://travis-ci.org/theia-ide/theia/jobs/496441098#L1607) potentially suspicious:
[code]

[2019-02-21 12:25] jbicker commented on #4385
Ok, that won't work since you can't add HTMLElements like this to a React Component.
We didn't do that yet like you want. So here is a quick thought (but not yet tried by myself): you should use a component here which wraps your `customWidgetContentNode` and use the Ref in the attach method. `Widget.attach(this.fileWidget)`.
Read about [Refs and the DOM](https://reactjs.org/docs/refs-and-the-dom.h

[2019-02-21 13:05] kittaakos commented on #4395
Source: https://git-scm.com/docs/git-config#_description

I will look into this later... The build was green by the time I have merged it, I have no idea what causes it.

![screen shot 2019-02-21 at 14 03 52](https://user-images.githubusercontent.com/1405703/53170935-a265b900-35e1-11e9-93b1-76907bbf46f2.jpg)

![screen shot 2019-02-21 at 14 04 02](https://user-images.githubusercontent.com/1405703/5

[2019-02-21 13:08] kittaakos commented on #4395
No, it is happening on Linux. Check the log reported by @AlexTugarev, it says:

I have updated the title to reflect it.

[2019-02-21 14:32] duemaster commented on #4385
@jbicker
Do you also happen to know if it is possible to create a custom widget that has many [FileNavigator](https://github.com/theia-ide/theia/blob/master/packages/navigator/src/browser/navigator-widget.tsx#L42) Widgets , each showing the files to different folders?

For example, I can have 2 `FileNavigator` widgets appearing in my custom widget with one display files in folder A and the other d

[2019-02-21 16:11] kittaakos commented on #4391
@vince-fugnitto, where is the fix? I am trying to figure out what is causing #4395?

[2019-02-21 16:14] vince-fugnitto commented on #4391
@kittaakos I got this issue because I hadn't cleaned my repo when I pulled your changes, after performing a git clean and pull the problem went away so I closed my issue, it was a mistake on my part initially.

[2019-02-21 16:19] kittaakos commented on #4391
Thanks for your prompt reply!

[2019-02-21 16:42] kittaakos commented on #4371
Revert task: #4395

[2019-02-21 16:44] kittaakos commented on #4395
Nice, according to [this](https://travis-ci.community/t/got-to-fail-carthage-outdated-command-because-of-git-protocol-version/2359/8), the git `protocol.version` change has been reverted by the Travis guys.

[2019-02-21 18:43] kittaakos opened #4401 "[proposal][git] Remove the `dugite` dependency"
- We do not ship the executables anyway.

   - Yes, one can argue that the Git executable download script could be useful. I would recommend setting up Git once correctly on the environment, instead of downloading it per Theia backends. We should disable the Git UI is Git is not on the `PATH`.

 - No i18n support for the Git error parsing.

   - We cannot pars the `liegt außerhalb des Repositories

[2019-02-21 20:54] vince-fugnitto commented on #4390
I'm not sure if this is the best place to ask the question, perhaps it'd be more appropriate to ask
on our general chat forum https://spectrum.chat/.

I'm no react expert but if you have the code hosted somewhere (github or otherwise) or are able to start a `gitpod` instance and share it, I can take a closer look at it for you, but based on your description nothing immediately comes to mind as to

[2019-02-22 00:45] duemaster commented on #4390
@vince-fugnitto
I have replicated the issue [here](https://github.com/duemaster/theia-widget-scrolling-issue).
I tried making it work on gitpod but couldn't get the terminal to start.

[2019-02-22 07:54] bj-white opened #4402 "When modifying the file, the console reported an error. The error message is as follows"
logger-protocol.ts:112 root ERROR Error: Request 'setContent' failed
    at Proxy.<anonymous> (http://192.168.153.138:3000/bundle.js:52:133973)
    at e.<anonymous> (http://192.168.153.138:3000/bundle.js:30:148557)
    at http://192.168.153.138:3000/bundle.js:30:146446
    at Object.next (http://192.168.153.138:3000/bundle.js:30:146551)
    at a (http://192.168.153.138:3000/bundle.js:30:145297)

[2019-02-22 07:56] bj-white opened #4403 "When creating a file, the console reports an error. The error message is as follows"
messages.js:46 Uncaught (in promise) Error: Request createFile failed with message: EACCES: permission denied, open '/home/project/Untitled.txt'
    at Proxy.<anonymous> (proxy-factory.ts:232)
    at workspace-commands.ts:181

[2019-02-22 09:45] #4395 closed

[2019-02-22 10:43] kittaakos commented on #4402
Same as #4403.

[2019-02-22 10:43] #4402 closed

[2019-02-22 10:43] kittaakos commented on #4403
From https://github.com/theia-ide/theia/issues/4402#issue-413284179:

at Proxy. (http://192.168.153.138:3000/bundle.js:52:133973)
at e. (http://192.168.153.138:3000/bundle.js:30:148557)
at http://192.168.153.138:3000/bundle.js:30:146446
at Object.next (http://192.168.153.138:3000/bundle.js:30:146551)
at a (http://192.168.153.138:3000/bundle.js:30:145297)

[2019-02-22 10:44] kittaakos commented on #4403
@bj-white, you do not have write access in your Theia workspace. What are you trying to do?

[2019-02-22 11:20] #4389 closed

[2019-02-22 11:44] vince-fugnitto commented on #4390
@duemaster I also noticed that if you have theia opened in a tab, browse a different tab for a while and return to theia, the same behaviour you described above is observed which leads me to believe `react` optimises it's updates by only updating if you are currently in the **viewport**. I'll investigate further :)

[2019-02-22 12:51] kittaakos commented on #4388
@vince-fugnitto, nice, I was unable to reproduce the defect consistently, I am glad you experienced the same oddity.

----

I want to hijack this thread for a moment and add a tiny remark: I do not like that the "diff-editors" show up among the recently opened items just because we register an editor history entry for them.

![screen shot 2019-02-22 at 13 47 15](https://user-images.githubuserconte

[2019-02-22 12:58] vince-fugnitto commented on #4388
@kittaakos I also noticed the issue regarding the `diff-editors` registering in our `recently opened`.
Personally I don't like it being there, also vscode does not display it so it's even more reason to
fix the issue :)

[2019-02-22 13:00] kittaakos opened #4404 "[file-search] Do not show diff editors among the `recently opened` items"
Originally from https://github.com/theia-ide/theia/issues/4388#issuecomment-466386260:

I want to hijack this thread for a moment and add a tiny remark: I do not like that the "diff-editors" show up among the recently opened items just because we register an editor history entry for them.

![screen shot 2019-02-22 at 13 47 15](https://user-images.githubusercontent.com/1405703/53243521-6a757900-36a

[2019-02-22 14:08] kittaakos commented on #4288
This issue will be obsolete once we get rid of extension-manager (and the clusters) and switch to the plug-ins.

[2019-02-22 15:06] #4324 closed

[2019-02-22 18:27] parsley42 commented on #3796
Same issue for me on ChromeOS; I installed Linux Firefox in crostini, and that works fine - so it's a Chrome/ChromeOS thing. I'm also currently stuck with Chrome71, when my chromebook updates I'll test and try to remember to report back.

[2019-02-22 19:42] vince-fugnitto opened #4408 "[ui/ux] command palette scrollbar becomes black when in selected state (scroll)"
Minor issue for dark themes, the scrollbar present in the `command palette` or `quick open` becomes completely black when it is used for scrolling and in a selected state. I'd expect the scrollbar to be more visible, similar to vscode.

[2019-02-22 19:45] vince-fugnitto opened #4409 "[ui/ux] command palette scrollbar should always be visible when applicable"
The scrollbar in the `command palette` or `quick open` isn't discoverable / visible enough as to compared to vscode which always displays the bar. For large searches, finding the scrollbar is quite difficult.

I'd expect a behavior like this which is far more user friendly.

<div align='center'>

![screenshot from 2019-02-22 14-44-45](https://user-images.githubusercontent.com/40359487/53267073-7f5

[2019-02-23 02:27] 113xiaoji opened #4411 "Does theia support python remote debug，how to configure?"
I know vscode support python remote debug based on ptvsd , does theia support python remote debug?How to do that?Thank you @akosyakov @svenefftinge @benoitf

[2019-02-23 04:22] duemaster commented on #4390
@vince-fugnitto
Hmm, that's interesting. I checked the [react-scroll-to-bottom](https://www.npmjs.com/package/react-scroll-to-bottom) library description and it states:

React container that will auto scroll to bottom or top if new content is added and **viewport** is at the bottom, similar to tail -f. Otherwise, a "jump to bottom" button will be shown to allow user to quickly jump to bottom.

Cou

[2019-02-23 07:21] duemaster opened #4412 "FileTreeWidget not displaying"
I am using trying to create a custom widget extending `FileTreeWidget`. However, it seems that the root of the `TreeModel` is always null, hence, there nothing rendered on the widget.

[code]

This is how I am doing my bindings.

[code]

This is a widget appearing inside another widget, hence the lack of a WIDGET_ID.
I tried looking at how the [FileNavigatorWidget](https://github.com/theia-ide/the

[2019-02-23 13:19] vince-fugnitto commented on #4390
@duemaster that is certainly a possible hypothesis, perhaps it may be worthwhile to open an issue on the `react-scroll-to-bottom` GitHub page and ask for clarifications / help :) I believe it has to do with the viewport, since in both cases (widget hidden and a different tab) scrolling only reoccurs when the widget is back in the viewport.

[2019-02-25 01:54] bj-white commented on #4403
Hello, how can I write permissions?

[2019-02-25 07:40] kittaakos commented on #4403
You need to open a workspace inside a folder where the current OS user has write access. What did you do?

[2019-02-25 08:02] kittaakos opened #4416 "[siw] Search in workspace is not deterministic when the results exceed the threshold"
I got back different hit counts for the same query term. See attached screencast.
I set the inclusion pattern, after hitting `Esc` I got back different result numbers. It is clear, we limit the search to 2k result items by default, but as a user, I expect to have the same result for the same search.

![screencast 2019-02-25 08-55-31](https://user-images.githubusercontent.com/1405703/53322458-c1af5

[2019-02-25 08:04] kittaakos commented on #4416
[minor] Also, I would like to see the inclusion pattern even if the warning is there. Currently, the validation message overlays it.

[2019-02-25 08:12] kittaakos opened #4417 "[siw] SIW does not handle the inclusion pattern correctly"
I might be missing something, but the current behavior is odd. When I search for `theia` with the `**/examples/**/package.json` _files to include_ pattern, I get back the results from the `examples/electron` folder, but not from the `examples/browser`. I think it is a bug.

![screen shot 2019-02-25 at 09 12 08](https://user-images.githubusercontent.com/1405703/53323061-6f6f3e00-38dd-11e9-8944-8922

[2019-02-25 08:49] kittaakos commented on #4412
Sharing your entire code would help a lot, so I am just guessing now:
 - Why do you unbind the model when you rebind it again? Do you have a customized model? I think you can get rid of the
[code]
 - I do not think you have to rebind the `FileTree`. You have to rebind the `FileTree` if you have customized it. Can you try to remove
[code]

[2019-02-25 10:39] duemaster commented on #4412
@kittaakos

I tried removing
[code]
and I got this error:
![screenshot from 2019-02-25 18-37-13](https://user-images.githubusercontent.com/8973687/53331693-7d987b00-392c-11e9-97bb-2ac6c7ad60da.png)

Removing both of them:
[code]
Gives me this error

![screenshot from 2019-02-25 18-33-04](https://user-images.githubusercontent.com/8973687/53331751-9a34b300-392c-11e9-85e3-76de42fc8d60.png)

[2019-02-25 10:42] kittaakos commented on #4412
If you share code, I try to help to resolve your issue.

[2019-02-25 10:42] duemaster commented on #4412
@kittaakos

This is my parent widget code.
[code]

[code]

[2019-02-25 10:45] duemaster commented on #4412
Basically, I am trying to create "child-widgets" which are modifications of a Navigator Widget where instead of showing the directory of the Workspace Root, instead show the directory of a customized location (Subset of workspace).

I will then display these "child-widgets" inside of a "parent-widget".

[2019-02-25 10:55] duemaster commented on #4390
@vince-fugnitto
I will do that. Thanks for the help!

[2019-02-25 10:56] #4100 closed

[2019-02-25 13:26] vince-fugnitto commented on #4416
The message behaviour is also present in `vscode` when the search input has focus, the message will overlay but disappears when focus is lost.

[2019-02-25 13:26] vince-fugnitto commented on #4416
Also is it a dup of https://github.com/theia-ide/theia/issues/4113?

[2019-02-25 13:41] kittaakos commented on #4113
Moved from https://github.com/theia-ide/theia/issues/4416#issue-413977996:

I got back different hit counts for the same query term. See attached screencast.
I set the inclusion pattern, after hitting `Esc` I got back different result numbers. It is clear, we limit the search to 2k result items by default, but as a user, I expect to have the same result for the same search.

![screencast 2019-02-2

[2019-02-25 13:41] kittaakos commented on #4416
Duplicate of #4113.

[2019-02-25 13:41] #4416 closed

[2019-02-25 14:09] #4408 closed

[2019-02-25 14:09] #4409 closed

[2019-02-25 14:11] vince-fugnitto commented on #4390
@duemaster No problem! I'll close the issue for the moment but please feel free to re-open it if the issue persists or you have more questions :)

[2019-02-25 14:11] #4390 closed

[2019-02-25 14:25] vince-fugnitto commented on #4417
I confirmed it is a bug @kittaakos :(
For comparison, here's `vscode`.

<div align='center'>

<img width="563" alt="screen shot 2019-02-25 at 8 50 12 am" src="https://user-images.githubusercontent.com/40359487/53343834-494a9d80-38df-11e9-97e1-8af90003f8ac.png">

</div>

[2019-02-25 16:36] jbicker commented on #4385
Hi, sorry for this late response.
I am not really sure, but I think FileNavigator is injected as Singleton. So you have to subclass it and create own Symbols. The folders should be set via the respective models.
I hope this answer wasn't too vague ;-)

[2019-02-25 20:21] elaihau commented on #1588
filed https://github.com/roblourens/vscode-ripgrep/issues/23

[2019-02-26 02:19] vince-fugnitto commented on #3482
@lmcbout can you confirm if this is still an issue? In `vscode` the behaviour seems to have aligned to us, they do not display the `hover`, or even `goto` commands from the left hand-side.

[2019-02-26 02:20] gorkem opened #4422 "incorrect json schema mapping"
`JSON schema for Azure IoT Edge Deployment version 1.0` is incorrectly associated with all .json.
It is defined on the schemastore as follows but for some reason theia maps it to `*.json` instead of `.json`
[code]

[2019-02-26 02:29] gorkem commented on #4401
What exactly is the proposal here?

[2019-02-26 08:47] duemaster commented on #4412
@kittaakos
I found out that the tree model's root is not null after updating. However, the file tree is still not being displayed inside the widget.

I have created a repository [here](https://github.com/duemaster/theia-custom-file-viewer) that replicates the issue if it helps.

[2019-02-26 08:49] kittaakos commented on #4412
Thanks for the link, I will find some time to look into it today. Bear with me.

[2019-02-26 08:51] duemaster commented on #4412
Thanks!

[2019-02-26 09:04] invincibleJai opened #4424 "[Plug-in] Dynamic commands getting undefined"
I was trying to test https://marketplace.visualstudio.com/items?itemName=redhat.fabric8-analytics in theia and I observed one of the commands being defined in LS [1] and works fine in VSCode for applying QuickFixes gets undefined here. As in below screenshots.

<img width="829" alt="screenshot 2019-02-26 at 2 27 23 pm" src="https://user-images.githubusercontent.com/5129024/53400302-8f812900-39d3-1

[2019-02-26 09:07] benoitf commented on #4424
hello @invincibleJai could you specify on which version of theia you've this issue as well ?

[2019-02-26 09:10] invincibleJai commented on #4424
@benoitf am using image `theiaide/theia-full:next`

https://github.com/redhat-developer/vscode-openshift-tools/wiki/Testing

[2019-02-26 12:21] elaihau commented on #695
not applicable any more, as the workspace service has been redesigned.

[2019-02-26 12:21] #695 closed

[2019-02-26 12:27] #4084 closed

[2019-02-26 12:52] svenefftinge commented on #4401
to remove the dugite library completely.

[2019-02-26 12:54] #4150 closed

[2019-02-26 12:56] tsmaeder commented on #4364
the redhat.java extension already supports setting vm arguments in the preferences.

[2019-02-26 13:07] #4388 closed

[2019-02-26 13:07] #4404 closed

[2019-02-26 14:33] vince-fugnitto opened #4429 "Improve tab-bars styling"
We should consider improving the look & feel of theia's **tab-bars**.

Possible improvements:
1. Improve readability (adjust padding / margins).
2. Improve icon selection (font-awesome alternative [comment #1](https://github.com/theia-ide/theia/pull/4420#issuecomment-467427047) [comment #2](https://github.com/theia-ide/theia/pull/4420#issuecomment-467440736))
3. Improve active editor tab styling (

[2019-02-26 14:38] vince-fugnitto commented on #4429
POC `Font Awesome` close icon:

<div align='left'>

![screenshot from 2019-02-26 08-03-49](https://user-images.githubusercontent.com/40359487/53420712-45378200-39aa-11e9-8b21-44eef8c08301.png)

</div>

[2019-02-26 14:49] svenefftinge commented on #3724
See https://github.com/Microsoft/vscode/blob/622b3d62dd92ea1bcdc7d250e0a7565b018edcee/src/vs/workbench/contrib/terminal/electron-browser/terminalLinkHandler.ts

[2019-02-26 14:57] sunix commented on #4401
Just dugite or the entire the Theia git extension ? (to be replaced with the VSCode extension)

[2019-02-26 14:59] svenefftinge commented on #4401
This issue is just about removing the dugite library

[2019-02-26 15:06] sunix commented on #4401
We would need to replace it with something else right ?

[2019-02-26 15:13] kittaakos commented on #1862
It is a not supported HW platform. See: https://github.com/electron/electron/issues/12789#issuecomment-417927283

[2019-02-26 15:13] #1862 closed

[2019-02-26 15:15] #3841 closed

[2019-02-26 15:34] parsley42 commented on #3796
![image](https://user-images.githubusercontent.com/5324707/53424931-20470d00-39b2-11e9-95b4-335df63d3ce6.png)

Still an issue w/ Chrome 72.0.3626.117 on Chromebook. Note that if I just move the cursor around on the line, it seems fine; once I edit the line, the text shrinks a little and the cursor position is way off. It's very touchy; the text size seems to vary slightly.

[2019-02-26 16:58] #2034 closed

[2019-02-26 18:59] andlo commented on #3724
Looks interesting, but I cant figure ut what that means. :)

[2019-02-26 19:47] marechal-p commented on #4411
I am not really sure what the state of Python debugging is at, but you can take a look at the following thread, it seems like progress is being made:
https://spectrum.chat/theia/general/python-debuging~28800106-340a-468d-93a6-28700aaaa80d

[2019-02-26 19:56] vince-fugnitto commented on #2081
The `clangd is not installed` popup correctly displays as of  d874539.
I'll re-open the issue if the problem ever returns.

[2019-02-26 19:56] #2081 closed

[2019-02-26 20:11] delislesim opened #4430 "Left margin is added for all buttons"
I was adding a button to my extension when I came across an undesirable behavior in my opinion. A left margin is added to every button in Theia, not only for _.theia-button_. I think the styling should be left to the extenders. Currently, every button have the same style as _.theia-button_ and you need to override every undesirable properties to make your own button style.

In theia/packages/core/

[2019-02-26 21:40] gorkem commented on #4401
@svenefftinge Is there a second proposal to add something else that I am missing?

[2019-02-26 22:13] rhildred commented on #411
I did this @ilstarno. Ended up shooting myself in the foot because I used a Docker volume to substitute in my own server.js. When the generated server.js changed I had a debugging problem that I failed for a long time at because I didn't remember that I had messed with it.

@hexa00 I don't see how to register a BackendApplicationContribution. Is it as simple as adding my own module to the package.

[2019-02-27 01:43] 113xiaoji commented on #4411
@marechal-p Thank for your answer, I introduce my state. I want to load [python extension](https://marketplace.visualstudio.com/items?itemName=ms-python.python)  in theia docker images, i put
python-2019.1.0.vsix in /default-theia-plugins but it show an error
![image](https://user-images.githubusercontent.com/31875988/53459099-86e02f80-3a73-11e9-85f4-d4db6ac7cf97.png)
I saw the issue https://githu

[2019-02-27 02:36] bj-white opened #4431 "terminal exit problem"
Hello,
I edited a text in terminal, but I couldn't exit through ":wq".
How do I save it?
Thanks.

[2019-02-27 06:34] vinayb21 commented on #4365
PR for fix
https://github.com/theia-ide/theia/pull/4432

[2019-02-27 08:09] svenefftinge commented on #4431
You mean you used vim? It usually works like that when you are not in editing mode.
Could you be more specific?

[2019-02-27 08:09] kittaakos commented on #4412
I could not get this running although the model looks good. Can you please try to customize the `FileTree` instead of the `FileNavigatorTree`? We might have an issue with the navigator or I have overlooked something. Please look into the [`FileDialog`](https://github.com/theia-ide/theia/blob/d874539bdca1f3d91a3169712cf71e9488269acb/packages/filesystem/src/browser/file-dialog/file-dialog.ts#L109).

[2019-02-27 08:18] bj-white commented on #4431
no, not vim, "vim: command not found".
Only "vi" can be used.
But,When I use vi, I can't save and quit.
How do you edit a file with vi?

[2019-02-27 08:18] kittaakos opened #4433 "[json] Language client is not ready yet when refreshing the browser with opened JSON editors"
Steps to reproduce:
 - Open Theia in your workspace.
 - Open `./tsconfig.json` in the editor.
 - Refresh the browser.

[code]

[2019-02-27 08:31] kittaakos opened #4434 "[text-mate] Memory issues"
We seem to have an issue with the `MonacoTextMateService`. I am not sure about the real cause yet.

Steps to reproduce:
 - Clone from the `master`.
 - Open the `README.MD` in the editor.
 - Refresh the browser a few times and create a heap dump.

In the end, you will get
[code]

[2019-02-27 09:18] AndrienkoAleksandr commented on #4431
@bj-white When vim is opened, I can click on `Insert` to activate edit mode. When I applied changes in the editor, I press `Shift + :`, then type vim command `wq` - it's mean write(save) and quite(exit).

[2019-02-27 09:20] #3907 closed

[2019-02-27 10:25] bj-white commented on #4431
@AndrienkoAleksandr Yes, it's in the shell. However, in theia-ide, it is not possible. You can try "theia-ide".

[2019-02-27 10:49] tsmaeder commented on #4181
From reading the log, it seems that "deploy plugin by id" always unzips to the same dir. Also, I suspect that we reinitialize all plugins in that folder (thus initializing the camel plugin twice)

[2019-02-27 11:11] AndrienkoAleksandr commented on #4431
@bj-white , OK in the `insert mode` of the vi  ->  click `Esc` key on the keyboard(to exit from insert mode), and then 'Shift + :' => should appear command input in the bottom of the editor, type `wq + Enter`.

[2019-02-27 11:37] AlexTugarev opened #4436 "[git] High CPU load with lots of changes and multiple clients"
1. `git status` operations are scheduled per connected frontend client. if possible, no new `git status` should be scheduled, if one is pending.

2. the auto scheduling of `git status` should take the average duration of last calls into account. otherwise there is no real pause in between.

[2019-02-27 11:44] AlexTugarev commented on #4436
CPU time burned with eager `git status` call in a Gitpod workspace:

with 2 connected frontend clients:
![2019-02-27 12 16 25](https://user-images.githubusercontent.com/914497/53487926-2c53cd00-3a8d-11e9-8185-789ab8f6af68.gif)

with 3 connected frontend clients:
![2019-02-27 12 24 05](https://user-images.githubusercontent.com/914497/53487927-2c53cd00-3a8d-11e9-8070-911901a18554.gif)

[2019-02-27 13:26] ilstarno commented on #411
@rhildred, first try to build the image normally, later on try to access at your docker container and inside the server.js file replace the start function with this
`function start(port, host, argv) {
if (argv === undefined) {
argv = process.argv;
}

[code]
// -----------------------------------------------------------------------
// authentication middleware

const auth = {login: 'username_here',

[2019-02-27 13:51] tsmaeder commented on #3771
It seems there already is a python grammar registered in the current python extension for theia. We could just migrate that to the "textmate-grammars" package.

[2019-02-27 15:18] duemaster commented on #4412
@kittaakos
Do you mean to extend `FileTreeModel` instead of `FileNavigatorModel`?

[2019-02-27 15:54] kittaakos commented on #4412
Yes, and for the tree container binding, this should be sufficient:
[code]

[2019-02-27 18:44] kittaakos commented on #4365
Closed via https://github.com/theia-ide/theia/commit/84284959a3c579f874831b5450e5858670aeee07

[2019-02-27 18:44] #4365 closed

[2019-02-27 18:46] kittaakos commented on #4366
Similar if not the same: https://github.com/theia-ide/theia/issues/3455

[2019-02-28 01:57] bj-white commented on #4431
@AndrienkoAleksandr I'm an Operations and Maintenance Personnel, and I'm very familiar with these commands, but they don't work in theia-ide.

[2019-02-28 02:25] bj-white commented on #4431
@AndrienkoAleksandr Oh, I see. Not good for Google, but good for Firefox.

It's a browser compatibility problem.

Can you try it on Google? Tell me the result?
Thanks.

[2019-02-28 02:38] zixuemeng opened #4439 "file watch failed on Ubuntu"
### Description
1.New a file or folder with the name starting with **non-english character**(such as Chinese).
2.The file can't be shown in file tree automatically

### Reproduction Steps
1.New a file or folder with the name starting with non-english character(such as Chinese).
2.The file can't be shown in file tree automatically

**OS and Theia version:**
os: **Unbuntu**(it works correctly on mac

[2019-02-28 04:51] shahar-h opened #4440 "Vulnerability in cryptiles package"
application-manager package has a deep dependency on cryptiles@2.0.5, which has [CVE-2018-1000620](https://nvd.nist.gov/vuln/detail/CVE-2018-1000620) security vulnerability.
dependency path is: application-manager -> less@2.7.3 -> request@2.81.0 -> hawk@3.1.3 -> cryptiles@2.0.5.

Upgrading less version to ^3.0.3 should resolve this issue.

[2019-02-28 06:03] akosyakov commented on #4440
@shahar-h PR as welcomed!

[2019-02-28 06:06] akosyakov commented on #4439
@zixuemeng Could you check please the browser and backend logs for errors? We should figure out which part causing it.

You could also try to write down a script to reproduce it with https://github.com/Axosoft/nsfw. If it is not reproducible then it is something in fs or fs watcher.

[2019-02-28 06:12] akosyakov commented on #4366
@kittaakos Does it cause any unexpected user behaviour, like missing ts support? There is a known issue for TS language server to remove timeouts and implement cancellation properly: https://github.com/theia-ide/typescript-language-server/issues/53

[2019-02-28 06:14] akosyakov commented on #4431
@bj-white Do you mean Chrome? I cannot reproduce it with latest Chrome which version do you use?

[2019-02-28 06:17] akosyakov commented on #3771
@tsmaeder sounds good for now, eventually we don't want to support our textmate-grammars but consume them from source (VS Code)

[2019-02-28 06:20] akosyakov commented on #411
@ilstarno There is `BackendApplicationContribution.configure` callback to install additional express handers instead of modifying generated code.

[2019-02-28 06:23] akosyakov commented on #4436
@svenefftinge critical? should someone look into it?

[2019-02-28 06:27] akosyakov commented on #4181
For electron-based products all plugins should be installed in the same folder, like `userhome/.myprodcut/plugins`. It would be nice if plugin system syncs plugins only when it is needed. @tsmaeder @svenefftinge Reasonable?

[2019-02-28 06:29] akosyakov commented on #4434
@kittaakos is it the same on stable connection? @svenefftinge it sounds quite bad

[2019-02-28 06:32] akosyakov commented on #4411
@113xiaoji Have not looked at it in a while. Please check logs if there are some issues for which we don't have bugs yet please file. Looking into them also very welcomed! 🙃

[2019-02-28 06:35] akosyakov commented on #4430
A comma looks like a bug to me. Please try to remove and open a PR.

[2019-02-28 06:48] akosyakov commented on #3482
It probably depends whether you compare against local file or from some git revision. I doubt that there is some language support for files from git revision. Could you verify and close the issue if it is a case?

[2019-02-28 06:53] akosyakov commented on #2692
@marcdumais-work @simark Maybe you can help?

[2019-02-28 07:04] akosyakov commented on #4052
@vparfonov @vzhukovskii Can be closed?

[2019-02-28 07:08] akosyakov commented on #1327
i am not aware that anyone is looking into it.

@svenefftinge I wonder can we us [vscode-nls](internalization) and [vscode-nls-dev](https://github.com/Microsoft/vscode-nls-dev). They are used to internalize VS Code extensions and should be pretty stable API wise.

Maybe SAP team can look into it :) @nachshv

[2019-02-28 07:16] akosyakov commented on #2363
One can pass language server start parameters from the frontend (preferences). See how it is done for TS: https://github.com/theia-ide/theia/blob/84284959a3c579f874831b5450e5858670aeee07/packages/typescript/src/node/typescript-contribution.ts#L56

[2019-02-28 07:17] akosyakov commented on #4364
@502647092 a dup of https://github.com/theia-ide/theia/issues/2363 @502647092 Could you have a look into it?

[2019-02-28 07:19] akosyakov commented on #4363
Right now the plug-in system read the address from the process which is internal thing. The real address on which Theia is exposed only available on the frontend via `Endpoint`.

[2019-02-28 07:21] akosyakov commented on #4362
@benoitf @evidolob could you help?

[2019-02-28 07:25] akosyakov commented on #3251
You can create a node debug launch configuration: https://github.com/theia-ide/theia/issues/4224#issuecomment-459752557

In order to debug just press `F5`.

[2019-02-28 07:26] akosyakov commented on #4011
it's a dup of https://github.com/theia-ide/theia/issues/4363

[2019-02-28 07:26] #4011 closed

[2019-02-28 07:28] akosyakov commented on #4361
part of https://github.com/theia-ide/theia/issues/4213

@idoprz Could you have a look please? the starting point: https://github.com/theia-ide/theia/issues/4213#issuecomment-460532325

[2019-02-28 07:28] kittaakos commented on #4366
I did not experience any malfunction although I have seen the error.

[2019-02-28 07:31] kittaakos commented on #4364
I am closing this. It is tracked under #2363.

[2019-02-28 07:31] #4364 closed

[2019-02-28 07:37] akosyakov commented on #4185
I am referring to https://github.com/TypeFox/vscode-languageserver-node/blob/fb80c5e2db4c714032c28d6f482e770642ae9e23/client/src/client.ts#L393

The middleware can be configured only at the instantiation time, i.e. in `
JavaLanguageClientContribution.createOptions`.

You can do it, but if it is based on java, it would be quite heavy to run java LS twice.

[2019-02-28 07:39] akosyakov commented on #4308
@adrienrenaud you can configure indentation per a language in Theia settings, for instance: https://github.com/theia-ide/theia/blob/master/.theia/settings.json Use content assist to discover more settings.

[2019-02-28 07:43] kittaakos commented on #4308
If this should be configured in the `settings.json` why do we have the `.editorconfig`?

[2019-02-28 07:43] akosyakov commented on #4322
It won't be supported in Theia core, but plug-in extension should analyze the structure of current layout and translate VS Code `ViewColumn` to proper Theia position.

[2019-02-28 08:08] akosyakov commented on #4321
@dunnry you should try and report whatever issues you stumble upon: https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions

[2019-02-28 08:10] akosyakov commented on #4334
I would start with providing API for it that it could be done programmatically. There can be a default client for such API which reads default preferences from application `package.json`.

cc @svenefftinge

[2019-02-28 08:15] akosyakov commented on #4187
@frankLife Have you seen already https://github.com/theia-ide/theia-apps?

What particularly are you looking for? How to create a custom app with multiple custom extensions?

[2019-02-28 08:21] akosyakov commented on #3956
@benoitf We already have an approach to plug/unplug features: extensions. We don't want to load UI code at runtime for sure, and don't want to come up with a new approach to disable features. Separating runtime and UI to different extensions would setup clear API boundaries between them, won't allow any UI code to leak at runtime and does not need any new code. Also it would be possibility to alig

[2019-02-28 08:22] akosyakov commented on #3956
@tsmaeder this issues is not about Che. i am fine if you publish each VS Code extension as you want for Che.

[2019-02-28 08:25] akosyakov commented on #4308
`.editorconfig` for editor agnostic settings, i.e. if someone does not use Theia or VS Code for development

There seems to be a bug indeed in Theia editoconfig extension that it is not capable to pick up language specific settings.

[2019-02-28 08:26] bj-white commented on #4431
@akosyakov Yes, you can't use Google either?
My Google version is 68.0.3440.106

[2019-02-28 08:31] akosyakov opened #4442 "switch to eslint"
tslint got deprecated: https://medium.com/palantir/tslint-in-2019-1a144c2317a9
typescript is going to support eslint natively: https://github.com/Microsoft/TypeScript/issues/29288

We should explore whether it is already possible to replace existing tslint rules with eslint.

[2019-02-28 08:32] akosyakov commented on #2077
Right now project references don't help much because tslint is bottleneck.

We should consider to run tslint once instead for each package to speed it up + [migrate to eslint](https://github.com/theia-ide/theia/issues/4442) (according to ts team it is inherently faster).

[2019-02-28 08:32] akosyakov commented on #4431
My is Version 72.0.3626.119 (Official Build) (64-bit). Could you update to latest and try again?

[2019-02-28 08:49] AndrienkoAleksandr commented on #4431
I have Chrome Version 72.0.3626.119 (Official Build) (64-bit) too. And vi works fine

[2019-02-28 09:16] tsmaeder commented on #3956
@akosyakov I think it's uncontroversial that the language configuration extensions should be included: it doesn't hurt, even if a particular installation does not use them.
However, if we cannot exclude extensions like python, we won't be able to consume the Theia extension you've created and we'll have to duplicate the work, which would be a pity.

[2019-02-28 09:21] zixuemeng commented on #4439
@akosyakov There has no log both on browser and backend.
I use nsfw(https://github.com/Axosoft/nsfw) to watch a directory, this problem is reproduced on linux(Ubuntu). The nsfw watcher can't receive any event when I add or delete a file whose name starts with Chinese character.

[2019-02-28 09:23] #4052 closed

[2019-02-28 10:03] duemaster commented on #4412
@kittaakos
I tried changing to `FileTreeModel` and still receives the same result.

Then I tried changing the code for `createRoot()` for the `navigator-model.ts` (in theia master branch) to the one I showed you in the link.

The previous `createRoot()` looks like this:
[code]

when I changed it to
[code]

The default `FileNavigator` widget still works but now directed at my home directory, so it

[2019-02-28 10:17] akosyakov commented on #4439
@zixuemeng please open an issue against nsfw, i don't think we can do anything about it in Theia

[2019-02-28 10:28] svenefftinge opened #4443 "[editor] escape is broken"
Escape doesn't work for many cases: E.g. hover, signature help, blame annotations

[2019-02-28 10:28] tsmaeder commented on #4340
Somehow I doubt this is Java related ;-)

[2019-02-28 10:31] #4397 closed

[2019-02-28 12:42] marcdumais-work commented on #4434
At first for a little while it seemed I was able to reproduce this. Resident and virtual memory (as reported by `htop`) for a few chrome processes, were increasing significantly with each reload, until the browser I think ran our of memory:

[code]

While I was able to reproduce, it seemed that closing all editors but keeping the workspace set, the problem was still happening and getting worse eac

[2019-02-28 12:45] #4422 closed

[2019-02-28 12:48] #4440 closed

[2019-02-28 12:55] kittaakos commented on #4434
I am positive. Comment out https://github.com/theia-ide/theia/blob/b1ef055e2edcaaf29d22797a3d416ba710ce9f9d/packages/monaco/src/browser/textmate/monaco-textmate-frontend-bindings.ts#L61

and the memory leak is gone. Of course, the syntax highlighting will be off too.

[2019-02-28 13:01] AlexTugarev commented on #4434
@kittaakos, it looks like this happens only in Chrome, it's fine FF. And it also looks like it's a general WebAssembly issue, as it's same for other WebAssembly [examples](https://forum.golangbridge.org/t/chrome-for-ms-windows-cannot-load-wasm-code-after-refresh-4-times/10421/16).

[2019-02-28 13:03] simark commented on #2692
It depends by what OP means by "the console of the task stays busy".  I think it's normal that the terminal stays open, but it should say "terminated" or something like that in the tab.  It's expected that once the task has finished running, it doesn't drop you to an interactive shell.

If what you see doesn't match this behavior, could you please provide a reproducer?

[2019-02-28 13:18] delislesim commented on #4430
Thanks for the quick reply, I'll make a PR soon to fix the bug

[2019-02-28 13:19] #4323 closed

[2019-02-28 13:25] AlexTugarev commented on #4434
@kittaakos, please retest this having the DevTools *not* opened.

It's a [DevTools bug](https://bugs.chromium.org/p/chromium/issues/detail?id=912153).

[2019-02-28 13:50] kittaakos commented on #4434
I have verified it. it is a Chrome issue.

[2019-02-28 13:50] #4434 closed

[2019-02-28 13:53] 113xiaoji commented on #4411
@akosyakov I download the python extension source code, add some logs, and compile it.I put .vsix file to theia docker container.When i start the theia image I figured out the error is "t**his.debugService.onDidReceiveDebugSessionCustomEvent is not a function**", i suppose the theia do not support this api?
I read the python extension source code, the error is at this place
`this.disposables.push(

[2019-02-28 13:58] akosyakov opened #4446 "implement vscode env API"
https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L5917-L5961

[2019-02-28 14:06] lucas-koehler commented on #2692
Unfortunately, I do not have a current reproducer anymore. However, back then I assumed that the shell should be interactive after the task finished. Because this is not the case on purpose, I believe this issue can be closed.

[2019-02-28 14:11] simark commented on #2692
Ok.  Sorry about the delay, I had not seen this issue previously in the sea of issues.  Thanks @gorkem for doing some cleanup/sorting/labelling.

[2019-02-28 14:11] #2692 closed

[2019-02-28 14:13] akosyakov opened #4448 "vscode.languages.setTextDocumentLanguage is not a function"
needed for https://github.com/theia-ide/theia/issues/4224

[2019-02-28 14:13] tsmaeder commented on #4181
@akosyakov hmh...what's the connection to this issue? I mean we're talking about a straightforward bug here, right?

[2019-02-28 14:17] 113xiaoji opened #4449 "python vs code extension bug "this.debugService.onDidReceiveDebugSessionCustomEvent is not a function""
### Description
@akosyakov I download the python extension source code, add some logs, and compile it.I put .vsix file to theia docker container.When i start the theia image I figured out the error is "t**his.debugService.onDidReceiveDebugSessionCustomEvent is not a function**", i suppose the theia do not support this api?
I read the python extension source code, the error is at this place
`this.d

[2019-02-28 14:19] 113xiaoji commented on #4449
@tolusha do you have any ideas? thank you！

[2019-02-28 14:31] marcdumais-work commented on #4431
@bj-white Which language and keyboard layout are you using? Do I guess correctly that you are running one of our Docker images from [here](https://hub.docker.com/u/theiaide), rather than building from the sources of this repo here? If so which one?

[2019-02-28 14:38] tolusha commented on #4449
@113xiaoji
It seems Theia image is outdated.

[2019-02-28 14:52] 113xiaoji commented on #4449
@tolusha i use eclipse/che-theia: 0.3.18-6.17.1, is it out of data? i will use the latest images and try it again thank you

[2019-02-28 15:23] 113xiaoji commented on #4449
@tolusha I try to use theiaide/theia:next image bug it seams do not have plugins and debug, why? thank you very much, did i miss some configure or how to configure it, can you give me some doc or blog。Thanks again.
![image](https://user-images.githubusercontent.com/31875988/53576886-9fedfb00-3baf-11e9-8bf6-20ce2c9d1e45.png)

[2019-02-28 15:34] 113xiaoji commented on #4449
@tolusha @akosyakov thank you, i want to use python extension to debug remotely, can i join you? The docs are seemed not rich enough, i met some issue cannot figure out, so i asked you to use the right way to solve this problem.

[2019-02-28 15:42] rhildred commented on #411
@akosyakov sorry to be dense about this. Perhaps it is all inversify magic. Do I just add a npm module of my own in the package.json that implements a `BackendApplicationContribution` interface with the `.configure` callback defined? Is there an example that I can follow.

[2019-02-28 15:44] rhildred commented on #411
@akosyakov I also need to integrate StreetSide software's code spell-checker vscode extension somehow. Can I follow the same pattern for that?

[2019-02-28 16:29] 113xiaoji commented on #4449
@tolusha @akosyakov I execute python extension create termminal it shows
![image](https://user-images.githubusercontent.com/31875988/53581638-e98f1380-3bb8-11e9-9224-235a21425c10.png)
did you met before
use the theiaide/theia-full

![image](https://user-images.githubusercontent.com/31875988/53581593-d2e8bc80-3bb8-11e9-92d7-689d57832f43.png)

[2019-02-28 17:03] thegecko commented on #4334
Ack

[2019-02-28 18:35] #4443 closed

[2019-02-28 18:35] #4430 closed

[2019-02-28 20:00] rhildred commented on #411
I think that it finally dawned on me. I do need to write a node package since, "A Theia extension is a node package declaring theiaExtensions property in package.json:"

[code]
Then in `myextension-backend-module` I need to have the following:

[code]

Am I correct @akosyakov ?

[2019-03-01 02:09] zixuemeng commented on #4439
nsfw issue: https://github.com/Axosoft/nsfw/issues/69.

[2019-03-01 03:21] simark commented on #4282
@akosyakov, since commit bfb235a0d7b7c9efd5f3995205b5c864f4afa536, calling restart on the language client does not cause Theia to instantiate a new language client, we keep re-using the same object.  Therefore, the language client's createOptions method is not called again.  The cpp package was counting on this getting called again to send new parameters to clangd when changing the active build co

[2019-03-01 04:16] idoprz commented on #4363
The suggested solution here and on #4011 will not work for us, as we are using path based routing. For example Theia will run under {myhost}/theia and the hosted Theia will be under {myhost}/port3030
So I think maybe there is a need for some configuration here.
@akosyakov  what do you think is the right way to handle this?

[2019-03-01 04:37] invincibleJai commented on #4323
@vparfonov thanks and for testing
am using image `theiaide/theia-full:next`

https://github.com/redhat-developer/vscode-openshift-tools/wiki/Testing

Will the changes be available there?

[2019-03-01 06:34] akosyakov commented on #4449
@113xiaoji you will need to wait till the plugin system is ready to support it

in the meantime you can try https://github.com/vilkazz/theia-python-debug Theia extension @vilkazz probably can support on it?

[2019-03-01 06:40] akosyakov commented on #4363
You need a proxy server for such configurations. It is not in the scope of Theia.

[2019-03-01 06:47] akosyakov commented on #411
@rhildred there is documentation on developing Theia extensions: https://www.theia-ide.org/doc/Authoring_Extensions.html It should cover your questions.

[2019-03-01 06:51] benoitf commented on #4363
hello @idoprz in Che we're overriding this exposed route so it's using the correct external endpoint. No need to have proxy server (but need to provide custom extension)

[2019-03-01 06:52] akosyakov commented on #4181
@tsmaeder ok, probably misunderstood, thought you meant some kind of plugin synching while deploying, if not just ignore it

[2019-03-01 06:59] vilkazz commented on #4449
@113xiaoji you are more than welcome to configure my extension for remote debug. I only tested the local debug, so I am very interested to know if the remote debug support is working!

I have most of the relevant configuration params dumped in the readme file in the repo, you can refer to the vs-python extension to see the full list of configurable parameters. Cheers!

[2019-03-01 07:00] akosyakov commented on #4282
Unfortunately the language client is not designed to have more than one instance. It starts leaking them.

`initializationOptions` can be a function instead of a value, which is called whenever initialization happens.

[2019-03-01 07:12] idoprz opened #4453 "Running the **vscode-mock-debug** failing"
### Description
Running the **vscode-mock-debug** failing because it's not opening the input box for resolving the ${command:AskForProgramName}

### Reproduction Steps
git clone https://github.com/Microsoft/vscode-mock-debug.git
generate the mock launch config
run the generated configuration

**Diagnostics:**
root ERROR [hosted-plugin: 18883] (node:19221) UnhandledPromiseRejectionWarning: Error: E

[2019-03-01 07:19] benoitf commented on #4453
hello, please write on which theia version you're performing the test

[2019-03-01 08:47] bj-white commented on #4431
@akosyakov @AndrienkoAleksandr @marcdumais Updated, it can be used. Thank you.

[2019-03-01 08:51] bj-white opened #4454 "When I build my own ide, I report errors."
When I build my own ide, run "yarn theia build", the shell gets stuck.

[2019-03-01 09:25] bj-white commented on #4454
[root@white my-app]# yarn theia build
yarn run v1.13.0
$ /root/my-app/node_modules/.bin/theia build

[2019-03-01 10:12] idoprz commented on #4453
I tested it from master

[2019-03-01 10:17] idoprz commented on #4363
I have a router component which route to it, so the route to the hosted Theia works. But it is path based. The only problem is that the opened tab in the browser is incorrect.
Do you suggest i will create a custom extension for opening the hosted Theia? shouldn't it be just a configuration to the existing extension?

[2019-03-01 10:27] benoitf commented on #4363
@idoprz
maybe https://github.com/eclipse/che-theia-hosted-plugin-manager-extension/blob/master/src/node/che-workspace-hosted-plugin-uri-post-processor.ts#L38 is more helpful as answer.

[2019-03-01 10:44] akosyakov opened #4455 "TypeError: selection.command is not a function from vscode.window.showInformationMessage.then.selection"
Reproducible with https://marketplace.visualstudio.com/items?itemName=ms-vscode.Go
[code]

[2019-03-01 11:24] devnewton opened #4457 "How to debug spring boot application?"
### Description

When I try to debug my application ( https://github.com/devnewton/jb3 ), I got the following error in Theia (no problem with a local IDE):

[code]

Maybe Theia is using environment variable that overrides Spring Boot configuration?

### Reproduction Steps

Launch https://gitpod.io/#https://github.com/devnewton/jb3 then debug.

[2019-03-01 12:59] geropl commented on #4248
With bad internet I see quite a delay in Chrome between "Click Download" and the actual download starting (in Chrome UI).

Also, Download does not work in Firefox (no log output in either frontend nor backend).

[2019-03-01 13:11] akosyakov opened #4459 "Error: Unknown decoration type key from text-editor-main.js.TextEditorMain.setDecorationsFast"
Reproducible with https://marketplace.visualstudio.com/items?itemName=ms-vscode.Go
And https://github.com/demo-apps/go-gin-app repo
[code]

[2019-03-01 13:20] kittaakos opened #4461 "Cannot start the electron example"
Failed on both Windows and macOS.

[code]

[2019-03-01 13:22] simark commented on #4282
Ok, this sounds like a proper solution, but would require changes at multiple levels.  For now, I'll fix it locally in cpp by overriding `initializationOptions` in the existing client when we want to change it.

[2019-03-01 13:27] vince-fugnitto commented on #4459
@lmcbout I believe it's the same errors you noticed when testing the `go` vscode extension?

[2019-03-01 13:28] akosyakov commented on #4459
I'm testing go extension :) Do you have an issue already? Is it a dup?

[2019-03-01 13:29] akosyakov commented on #3956
@tsmaeder ok, we could add publishing each built-in VS Code extension as an independent npm package as well

[2019-03-01 13:38] vince-fugnitto commented on #4459
No no :) I know @lmcbout was trying the `go` extension to see how well it worked.
It'd be nice to know your findings as well while you test.

[2019-03-01 13:40] benoitf commented on #4459
@tolusha you don't have these errors ?

[2019-03-01 13:47] tolusha commented on #4459
I didn't have any errors.
I've just put GO extension [1] in the `plugins` folder and checked.

[1] https://marketplace.visualstudio.com/items?itemName=ms-vscode.Go

[2019-03-01 14:11] akosyakov opened #4463 "[plugin] onWillSave callback never resolves"
Saving exp is very slow with https://marketplace.visualstudio.com/items?itemName=ms-vscode.Go and https://github.com/demo-apps/go-gin-app repo

Also auto formatting on save does not work always, but fails with
[code]

[2019-03-01 14:14] lmcbout commented on #4459
Hi,
I tried to install the same  vscode go  extension. It seems to work. However, there is no textmate. To add the coloring, I created a local copy for
- GoContribution: in packages/textmate-grammars/src
- go.tmLanguage.json: in packages/textmate-grammars/data  // Copied it from vscode
-textmate-grammars-frontend-module.ts : add handling for the GoContribution
then I reloaded the application and I

[2019-03-01 14:19] lmcbout commented on #4463
I also see the same loop timeout when saving a file  with the extension ".go" . I am testing on ubuntu.

[2019-03-01 14:20] vince-fugnitto commented on #4459
From the `go` extension documentation there is not mention of providing the textmate-grammar (coloring) so I don't believe the extension attempts to provide it. In addition, I can see coloring in `vscode` for `go` files without the extension even installed.

[2019-03-01 14:21] akosyakov commented on #4463
@lmcbout please file issues for any quirky behaviour :)

[2019-03-01 14:22] akosyakov commented on #4459
I've installed built-in go extension to enable coloring, you can get it from https://github.com/theia-ide/vscode-builtin-extensions

[2019-03-01 14:34] lmcbout opened #4464 "Using Vscode GO extension generate an error when putting focus on a "*.go" file"
### Description
I am using the VSCODE-GO version 0.9.2 plugins
When putting focus on a GO file, I get the following error on the console:

root ERROR [hosted-plugin: 7489] { Error: Unknown decoration type key: TextEditorDecorationType1
    at MonacoEditorService.CodeEditorServiceImpl.resolveDecorationOptions (http://localhost:3000/vs/editor/editor.main.js:85341:23)
    at StandaloneEditor.CodeEdit

[2019-03-01 14:52] vince-fugnitto commented on #4464
@lmcbout do you still have `bookmarks` plugin installed ?
I think it's coming from the `bookmarks` plugin since it's attempting to add an image
 to the `gutter-path`.

[2019-03-01 14:55] vince-fugnitto commented on #4464
If you still have `bookmarks` included can you test without it?
 I have the `go` extension working correctly on my end and do not notice the issue you mentioned.

[2019-03-01 14:58] marechal-p commented on #4454
You could try to debug the script and see where it gets stuck.

Using the following line, you should be able to hook a node remote debugger on the build script process:

[code]

[2019-03-01 14:58] akosyakov commented on #4463
in VS Code saving is slow as well, about 3s but formatting is applied

[2019-03-01 15:05] lmcbout commented on #4464
@vince-fugnitto  you are right, I just remove the "Bookmarks" vscode extension and the error is gone.
Thanks

[2019-03-01 15:05] #4464 closed

[2019-03-01 15:18] akosyakov commented on #4001
The same for go extension if you try to enable language server.

[2019-03-01 15:25] #4282 closed

[2019-03-01 15:35] rhildred commented on #411
@akosyakov Would you please have a quick look and tell me what I am missing? I am expecting to see a line in my `/src-gen/server.js` created by `yarn theia build` that references my `authentication.js`. I am also expecting to see `ok` when I surf to the `/test/ping/` route defined in my `authentication.js`:

[code]

Dockerfile:

[code]

package.json:

[code]

tsconfig.json:

[code]

/src-gen/serve

[2019-03-01 15:56] benoitf commented on #4459
FYI about grammar, (and the move from theia go extension to textmate-grammars)I it was part of https://github.com/theia-ide/theia/pull/4070
but due to being blocked by https://dev.eclipse.org/ipzilla/show_bug.cgi?id=18775 it was being opt-out of the PR
it is postponed until CQ is accepted

[2019-03-01 16:03] marcdumais-work commented on #4461
I can reproduce on Linux too. I tried to go back a few commits, to see if the 0.4.0 release had something to do with this, but I got the same result.

[2019-03-01 16:19] marcdumais-work commented on #4463
@akosyakov

Maybe related: ~1 year ago Simon made some performance-enhancing change to our fork of `go-language-server`, that's used in the Theia go extension:
https://github.com/theia-ide/go-language-server/pull/20

IIUC the MS version of this LS would include multiple unwarranted references to the source file in (some) LS responses, that would get expanded to the full content of the file being e

[2019-03-01 16:41] simark opened #4465 "Preference editor focus problem when adding new build configuration"
When I choose to create a new C++ build configuration (click on the status bar item, then choose create new), it opens the preferences editor, then switches directly to the "Workspace" tab of the preferences editor, which is fine.  However, it looks like the editor focus is still in the "User" tab:  when I type, nothing appears, it actually inserts content in the "User" tab, even though the "Works

[2019-03-01 16:49] kittaakos commented on #4461
It works with 45f8993d which is one commit before we introduced the [`electron-store`](https://github.com/theia-ide/theia/pull/4370).

**Note**: it does not necessarily mean that the `electron-store` is the breaking change.

[2019-03-01 16:50] vince-fugnitto commented on #4465
@elaihau didn't we notice this issue previously for the `preferences` widget in general ? I could not find the corresponding issue.

[2019-03-01 17:29] vince-fugnitto commented on #4465
@simark is it a dup of https://github.com/theia-ide/theia/issues/3184 ?

[2019-03-01 18:40] vince-fugnitto commented on #106
@akosyakov correct me if I'm wrong but I believe the issue is fixed ?
When we call `getOpeners` we use `prioritize` to prioritize the list, and we only ever
display true handlers.

[2019-03-01 18:57] simark commented on #4465
Maybe, I can't tell for sure.

[2019-03-01 19:35] vince-fugnitto commented on #4237
The editor behaves correctly for me, perhaps it's a more general issue regarding keyboard layout or dead keys ?

[2019-03-01 19:44] marcdumais-work commented on #4211
Hi @tolusha

Sorry, I missed this exchange. I hope you did not postpone because of it. I am fine with you working on this, else we will come around to it eventually.

[2019-03-01 20:47] marechal-p commented on #4237
No idea to be honest. But my keyboard layout sure cause problems.

[2019-03-02 12:40] kittaakos opened #4468 "[question][file-search] Unexpected `recently opened` items in the file search"
As a user I would expect the following behavior:
 - I press <kbd>Ctrl/Cmd</kbd>+<kbd>P</kbd>.
 - The input field is empty; hence I see the recent items only.
 - I type `task` and I don't see recent items that don't match the query term.

Q: is this a bug or the desired behavior?

The `file results` are correct.

![screen shot 2019-03-02 at 13 30 25](https://user-images.githubusercontent.com/140570

[2019-03-02 12:46] #4431 closed

[2019-03-02 12:55] kittaakos commented on #4337
It seems to be a [@theia/plugin-packager](https://github.com/eclipse/theia-plugin-packager) issue. Can you please ask there?

[2019-03-02 18:54] vince-fugnitto commented on #4468
@kittaakos it looks odd to me too, we seem to pick up recent matches that don't really belong based on the query term.

[2019-03-03 18:50] 4oo4 opened #4469 "theia next (30298afd) - invisible terminal text in Firefox"
### Description

Apologies if this is a duplicate, when I build theia with the `next` tag, everything works as expected in Chrome, but in Firefox all of the terminal text is invisible. If I look in devtools or cut and paste from the terminal, I can see that the terminal text I typed. I tried poking around in the styles but didn't get very far. I think this popped up when I started building off the

[2019-03-03 23:26] westbury commented on #3851
Changes that address this issue have been pushed here:
https://github.com/westbury/theia/tree/3851-amend

A few odd more things to do before this is ready for a PR.

[2019-03-04 00:08] vince-fugnitto commented on #4468
@kittaakos I tested the `recently opened` by trying to have the same items as you. I don't notice the same behavior you had mentioned in the issue.

My recently opened list:

<div align='center'>

<img width="600" alt="screen shot 2019-03-03 at 7 05 54 pm" src="https://user-images.githubusercontent.com/40359487/53704120-7fa88100-3de7-11e9-99be-22b18b4f8912.png">

</div>

When searching for **task*

[2019-03-04 01:13] jgbradley1 commented on #4330
Leaving a note here mainly for myself but it might help someone else. I was experiencing this same issue when building theia in an alpine docker image. Bash was not installed and I was setting the shell environment var to `/bin/bash` anyway. After installing bash, this problem went away.

[2019-03-04 02:00] yeonggyulim opened #4470 "Go to definition and outline doesn't work in cpp code"
### Description

Go to definition and outline work in java, but they don't in cpp code even if I installed cpp and textmate packages. Anyone knows why?

### Reproduction Steps

![image](https://user-images.githubusercontent.com/36085009/53706200-6ac20100-3e6c-11e9-80c5-c2da6a2fbd82.png)
![image](https://user-images.githubusercontent.com/36085009/53706235-87f6cf80-3e6c-11e9-9d44-28c95f725c6a.png)

[2019-03-04 02:51] bj-white commented on #4454
@marechal-p [root@white my-app]# node --inspect-brk /root/my-app/node_modules/.bin/theia build
Debugger listening on ws://127.0.0.1:9229/a8e4935b-2063-43d4-955d-8ad0ac4feaf9
For help see https://nodejs.org/en/docs/inspector
why?Thank you.

[2019-03-04 03:34] vince-fugnitto commented on #4470
Do you have the cpp language server installed ? You can find information in the `@theia/cpp` readme.
Theia uses `clangd` to enable LSP features for cpp.

[2019-03-04 04:18] marechal-p commented on #4454
Because unfortunately I have no idea what to tell you to try, other than identifying yourself the cause of the process hanging and then report back.

See the following page on how to use VS Code in order to attach to a running Node.js program:
https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_attaching-to-nodejs

Just make sure to open Theia's sources you are trying to build when attachi

[2019-03-04 05:55] bj-white commented on #4454
@marechal-p I can't.
Can I download the packages I use and upload them to linux using ftp?
Do you have the address of the package?

[2019-03-04 06:03] yeonggyulim commented on #4470
I installed `clangd`  through LLVM and make the path in `C:\Program Fiels\LLVM\bin`.
However, I still see this error and LSP features don't work. Do you know why?

![image](https://user-images.githubusercontent.com/36085009/53713525-86d69a00-3e8e-11e9-8ccc-957ed3f5cec1.png)

[2019-03-04 06:48] bdeleonardis1 opened #4471 "API to capture file modifications for plugins/extensions?"
### Description
I am trying to build a plugin or an extension for Theia that needs to get file modifications. Is there a way to write an event listener so that for every update to the document I can run a function? For example, if the user inserts the letter 'a' at the beginning of the document, my function:

`documentUpdate(operation='insert', character='a', position=0)` will get called.

[2019-03-04 07:03] akosyakov commented on #4471
You can subscribe to any document change with https://github.com/theia-ide/theia/blob/30298afd51ca8e61075c5879d9b2c1c57669d583/packages/monaco/src/browser/monaco-workspace.ts#L65

You will to derive semantic of operation (insert, remove) though from range and text changes.

[2019-03-04 07:05] akosyakov commented on #4471
The previous comment is for Theia extensions, for plugins: https://github.com/Microsoft/vscode/blob/e96ab81392ec49effa0369f4f086be8c128e5e2f/src/vs/vscode.d.ts#L7614

[2019-03-04 08:01] #4461 closed

[2019-03-04 08:13] geropl commented on #4457
Hi devnewton,

looks like this is more of a Gitpod issue. Could you move the ticket to https://github.com/gitpod-io/gitpod/issues? I'll look into it.
Thanks!

[2019-03-04 09:01] tolusha commented on #3771
Now it is possible to use VS Code python extension [1]

![screenshot from 2019-03-04 10-59-59](https://user-images.githubusercontent.com/1640675/53721813-cf7d5b80-3e6c-11e9-965f-ff9830abace7.png)
![screenshot from 2019-03-04 10-59-26](https://user-images.githubusercontent.com/1640675/53721814-cf7d5b80-3e6c-11e9-812a-60ff77e9f97b.png)

[1] https://marketplace.visualstudio.com/items?itemName=ms-pyth

[2019-03-04 09:02] tolusha commented on #3771
Still have some errors in console

[code]

[2019-03-04 09:35] vince-fugnitto commented on #4470
You can try specifying the location of your `clangd` using the following preference:
https://github.com/theia-ide/theia/blob/e1b5a60f0841f8edf1d8d60d99012e996fc145bc/packages/cpp/src/browser/cpp-preferences.ts#L56

[2019-03-04 10:30] mmorhun commented on #4218
Cannot reproduce the described problem.
But during testing found that there is some focus related differences with VSCode: Theia triggers a new `onDidChangeActiveTextEditor` event when focus was taken and then returned back.

[2019-03-04 10:57] tsmaeder opened #4472 "Plug-ins leaking CodeLens, etc."
In packages/plugin-ext/src/plugin/languages/lens.ts, we maintain a cache of CodeLens objects we send to the main Theia process. This is required because the VS Code languageserver-node client library relies on the same object being passed to the "resolveCodeLens" call in order to pass back the "data" field to a language server.
However, this cache is never cleaned up, so we're keeping all CodeLens

[2019-03-04 11:00] tsmaeder commented on #4472
For completions, there is a "dispose" method being called when the completion widget is closed, so we are able to clean up the cache when that happens. A cursory inspection has not yielded similar a similar lifecycle event for code lenses. Detecting that a code lens is no longer needed might be a difficult problem.

[2019-03-04 11:10] akosyakov commented on #4463
@marechal-p I remember that we introduce timeout for the whole save operation, i don't see such in VS Code, I can find only `formatOnSaveTimeout` timeout. Do I miss something? I want to align it, otherwise go never manages to fit in our timeout.

[2019-03-04 11:11] akosyakov commented on #4463
@marcdumais-work go VS Code extension does not use LS, but relies on some binaries which can be slow

[2019-03-04 11:58] 502647092 opened #4473 "Add keymapsjson to WorkSpace Config"
### Description
Add keymapsjson to WorkSpace Config

[2019-03-04 12:24] vparfonov commented on #4323
@invincibleJai Yes, if you run in with next it should be available

[2019-03-04 12:55] 113xiaoji opened #4474 "Failed to fetch workspace definition:getaddinfo EAI_AGAIN www.internalrequests.org:80"
### Description

@akosyakov @tolusha I want to integrate che and theia with a new theia version , so i use dockerfiles to build new eclipse/che-theia images based on theia 0.4.0. I figure out it runs well aliyun. and pull the images from intranet proxy server and run again . It shows
![image](https://user-images.githubusercontent.com/31875988/53717711-fb600780-3e93-11e9-8810-2d72bdd98787.png)
and

[2019-03-04 12:58] pablodonayre commented on #2390
I'm using [Theia Full Docker](https://github.com/theia-ide/theia-apps/tree/master/theia-full-docker). How can i enable or add EMMET extension (if any)?

[2019-03-04 13:10] avelino commented on #1717
Almost 1 year was accepted the [PR](https://github.com/Microsoft/monaco-languages/pull/36), was updated the **monaco-editor** in Theia-IDE?

[2019-03-04 13:20] vince-fugnitto commented on #4473
@502647092 can you clarify what you mean by this issue?

[2019-03-04 13:34] akosyakov opened #4475 "`tasks` and `launch` should be exposed via workspace/workspace folder configurations"
See https://code.visualstudio.com/api/references/vscode-api#WorkspaceConfiguration

[2019-03-04 13:35] akosyakov commented on #4473
Thought it is related to https://github.com/theia-ide/theia/issues/4475, but i don't see that VS code exposes it via workspace configs.

[2019-03-04 13:37] #4455 closed

[2019-03-04 13:40] akosyakov commented on #2390
You should put the emmet extension into some folder in your image and configure Theia to load extension from this directory, for example via env variable `THEIA_DEFAULT_PLUGINS=local-dir:path_to_plugin_dir`

[2019-03-04 13:50] akosyakov commented on #4463
@marechal-p I will remove the general timeout and introduce a timeout per a save participant similar to VS Code:
- 750 ms for formatOnSav
- 1750 ms for ext host process

[2019-03-04 14:21] pablodonayre commented on #2390
What EMMET Extension have you used ? I have found [vscode-emmet-helper](https://github.com/Microsoft/vscode-emmet-helper)

[2019-03-04 14:42] #4043 closed

[2019-03-04 15:01] marechal-p commented on #4463
@akosyakov sounds good to me.

[2019-03-04 15:03] akosyakov commented on #4016
One can setup node debug configuration for time being, it is quite straightforward, see https://github.com/theia-ide/theia/issues/3251#issuecomment-468166533

[2019-03-04 15:18] akosyakov commented on #4463
The error actually is not related to go, but general issue with `onWillSave` event in the plugin system. It just does not seem to resolve ever.

Go works properly, it should auto format only on the manual save.

[2019-03-04 15:20] akosyakov commented on #2390
It's built-in vscode extension. You can get it from https://github.com/theia-ide/vscode-builtin-extensions. I should fine time to publish them to npm already 🙈

[2019-03-04 15:22] akosyakov commented on #1717
We don't use monaco-languages, but textmate grammars. There is already textmate grammar for clojure: https://github.com/theia-ide/theia/blob/master/packages/textmate-grammars/src/browser/clojure.ts It should work out of the box.

[2019-03-04 16:00] 502647092 commented on #4473
i deploy theia on docker when i update app the keymap need relpace
maybe i should mount volume /home/theia/.theia on host machine?

[2019-03-04 21:00] parsley42 commented on #3796
I found a fix for this with my Chromebook, wondering if it works for others. I found that for some reason my Chromebook had display scaling turned on for the internal display; "Display Size" was set to 110%. When I set it instead to 100%, the issue disappeared and I couldn't reproduce it.

[2019-03-04 23:03] #1098 closed

[2019-03-05 01:50] frankLife commented on #4187
@akosyakov yes, I had seen the [theia-app](https://github.com/theia-ide/theia-apps) , but I found the repository is more related to specific language such as java and go. I just want to learn more about custom extension or plugin built with theia like you say to help us to fit our business case. 😄

[2019-03-05 04:52] virtualgraham commented on #3796
From my experience it can be worked around using the in-browser scaling by
finding the scale sweet spot which is around 110% as David Parsley said.
This may very well be an issue with chrome os and not with Theia. However,
i feel Theia's ability to work on Chrome OS is one of its core strengths.

On Tue, Mar 5, 2019 at 5:00 AM David Parsley <notifications@github.com>
wrote:

[2019-03-05 05:10] 502647092 opened #4478 "ERROR error: option `porcelain' takes no value"
### Description
latest next build git error

### Reproduction Steps

**OS and Theia version:**

[code]

**Diagnostics:**
[code]

[2019-03-05 05:36] yeonggyulim commented on #4470
Is this what you mean?
![image](https://user-images.githubusercontent.com/36085009/53782896-c9fa4100-3f52-11e9-84d6-f1b88bce52bc.png)

but, how can I compile this to bundle?
there's no tsconfig.json file and it goes away whenever I build with yarn.

![image](https://user-images.githubusercontent.com/36085009/53783163-ddf27280-3f53-11e9-845d-433e2ad7b6b0.png)
I installed @thiea/cpp package and clan

[2019-03-05 05:37] jonghuyn opened #4479 "Communication via JSON-RPC doesn't work in my extension"
### Description
I tried to make server side extension to do communicate via JSON-RPC between server and client
But It doesn't work let me know why It doesn't work

### Reproduction Steps
Backand Container Module
![image](https://user-images.githubusercontent.com/14925542/53783391-bb148e00-3f54-11e9-99a1-e08f7ada053d.png)
FrontEnd Container Module
![image](https://user-images.githubusercontent.com/

[2019-03-05 05:48] akosyakov commented on #4479
It's unrelated to JSON-RPC. You never bind `TopBuildCommandHandler` symbol, but reference it in [toService](https://github.com/inversify/InversifyJS/blob/master/wiki/transitive_bindings.md)

[2019-03-05 07:06] akosyakov commented on #4187
And you seen already docs on plugin/extensions development:
- Theia extension - https://www.theia-ide.org/doc/Authoring_Extensions.html
- Theia plugin - https://www.theia-ide.org/doc/Authoring_Plugins.html
- VS Code extension - https://code.visualstudio.com/api/get-started/your-first-extension + https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions

[2019-03-05 07:35] akosyakov commented on #4473
yes, if you want to share user settings you need to mount them into user home directory of your docker container.

[2019-03-05 07:43] AlexTugarev commented on #4478
@502647092, is this the same as https://github.com/theia-ide/theia/issues/1162? Please check the version of git.

[2019-03-05 07:56] jonghuyn commented on #4479
thank you

[2019-03-05 07:56] #4479 closed

[2019-03-05 08:01] 502647092 commented on #4478
[code]
Thanks

[2019-03-05 08:01] #4478 closed

[2019-03-05 08:04] jonghuyn opened #4481 "How to run excutable jar file in theia extension???"
### Description

I tried to run excutable jar file in theia extension like on node.js server but I couldn't do Anyone know how???

### Reproduction Steps

**OS and Theia version:**
Windows 10
all of theia extension's version is latest
**Diagnostics:**

[2019-03-05 08:15] bj-white opened #4482 "Can I hide some options from the toolbar？"
Can I hide some options from the toolbar? For example, file, git, search. What shall I do?
I started it through docker.

[2019-03-05 08:15] 502647092 commented on #4473
Thanks

[2019-03-05 08:15] #4473 closed

[2019-03-05 09:18] tsmaeder commented on #4472
There problem here is tracking when the code lenses are not used anymore in the main Theia process. In the absence of lifecycle events, maybe we can detect liveness by putting them in a WeakMap and regularly checking whether they are collected? Since we are talking about only  few objects, we could do so relatively seldom (every 10 secs?)

[2019-03-05 11:25] vince-fugnitto commented on #4482
Do you mean to hide the widgets themselves? Or remove them from your application?

[2019-03-05 11:29] marcdumais-work commented on #4211
@tolusha Unless you plan to work on this issue in the very near future, we would like to take-it over and @elaihau would start working on it. Please let us know if you have objections.

[2019-03-05 11:50] vince-fugnitto commented on #4470
@yeonggyulim with clangd installed and the path referenced through the preference, were you able to benefit from cpp language support? (go to definition, hover...)

I'm not quite sure what you mean, can you clarify what are you looking to accomplish?

[2019-03-05 13:01] tolusha commented on #4211
@marcdumais-work I don't have any objections

[2019-03-05 13:07] akosyakov commented on #3956
All built-in VS Code extension are republished under `@theia/vscode-builtin-` prefix into npmjs: https://github.com/theia-ide/vscode-builtin-extensions/commit/9886f609c931ac7209cb10774a7a460ba9d42e4b#diff-1b65ea7e7a9dd6aa50436ecdd461f0aaR1

https://github.com/theia-ide/vscode-builtin-extensions is still not published since some extensions (git, markdown, npm, theming, etc.) cannot be run nicely ye

[2019-03-05 13:13] benoitf commented on #3956
hello @akosyakov, why https://github.com/theia-ide/vscode-builtin-extensions is not an eclipse repository ?

[2019-03-05 14:41] 113xiaoji commented on #4449
@vilkazz HOW to use your npm package. 你是中国人吗？

[2019-03-05 14:47] akosyakov commented on #4481
You should use [child_process](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options) node.js module. Google for how run java from node.js.

[2019-03-05 15:11] parsley42 commented on #3796
Ugh - this bug is really touchy. Turns out, I had to have set my font size to 16; the default (14 I think) still exhibited the bug for me. So, Display size = 100%, Font size = 16 -> works for me.

[2019-03-05 15:16] akosyakov commented on #3956
@benoitf I did it to get started without any frictions with CQs. Does it somehow stop you from consuming in Eclipse Che?

I've noticed also that format of npm archives is different from vsix, so they cannot be loaded out of the box. I will open a PR to support VS Code extensions out of npm archive too.

[2019-03-05 15:54] #4463 closed

[2019-03-05 17:52] vilkazz commented on #4449
i have written a short guide on how to use the ext in the spectrum app,
that you can find here:
https://spectrum.chat/theia/general/python-debuging~28800106-340a-468d-93a6-28700aaaa80d?m=MTU1MTQyMzA5MDU5OA==

you can also find my wechat id in my github profile and i can help you set
it up in more detail.

我不是中国人， 可是现在在中国工作。

On Tue, Mar 5, 2019, 10:41 PM 113xiaoji <notifications@github.com> wrote:

[2019-03-05 19:41] Tyriar commented on #4319
Should release 3.12.0 soon which will have an important fix for https://github.com/xtermjs/xterm.js/issues/1926 in it.

[2019-03-06 02:21] yeonggyulim commented on #4470
No, I edited preference like this, but still see the same error.
![image](https://user-images.githubusercontent.com/36085009/53851362-d2f61b80-4001-11e9-82af-ea79beaf929b.png)

I was confused. never mind with this question.

How should I handle this process Error?
![image](https://user-images.githubusercontent.com/36085009/53851426-020c8d00-4002-11e9-8df1-068c72bd0109.png)

Do you have any idea?

[2019-03-06 05:59] yeonggyulim commented on #4470
I found the problem.

It works after downloading `clangd`.
The problem I was suffering is it works on windows command prompt, but it doesn't with terminal on visual studio code.

Thank you for your help.

[2019-03-06 05:59] #4470 closed

[2019-03-06 06:20] bj-white commented on #4482
yes

[2019-03-06 06:22] akosyakov commented on #4482
You are either don't install extensions contributing these views, or you create a new custom extension and override defaults.

[2019-03-06 06:27] akosyakov opened #4487 "PluginPathsServiceImpl passes paths to FileSystem not uris"
Actually, i don't think `PluginPathsServiceImpl` should use `FileSystem`. `FileSystem` represents a user accessible filesystem, plugins can be deployed in another context and using `FileSystem` will fail generally.

[2019-03-06 06:28] bj-white commented on #4482
Are dockers redesigned on the original basis? Or the original docker?

[2019-03-06 06:32] akosyakov opened #4488 "plugin system breaks user storage abstraction"
[UserStorageService](https://github.com/theia-ide/theia/blob/ad9e62bd78bf4da3ce829b25de64f9aa3fc8aaeb/packages/userstorage/src/browser/user-storage-service.ts#L21) encapsulates where user data are stored, by default under `.theia` in user home.

Plugin system leaks it with own implementation: https://github.com/theia-ide/theia/blob/ad9e62bd78bf4da3ce829b25de64f9aa3fc8aaeb/packages/plugin-ext/src/m

[2019-03-06 06:33] akosyakov commented on #4482
You will need to build your own docker image for such use case.

[2019-03-06 06:39] akosyakov commented on #4487
The same issue with `PluginsKeyValueStorage`.

[2019-03-06 06:53] #4481 closed

[2019-03-06 08:13] bj-white commented on #4482
Thank You.

[2019-03-06 10:49] tolusha commented on #3771
https://github.com/theia-ide/theia/pull/4493

[2019-03-06 11:29] olexii4 commented on #4155
Cannot reproduce.  Tested the last version of https://github.com/theia-ide/theia (master branch)

[2019-03-06 11:30] #4155 closed

[2019-03-06 14:17] #4035 closed

[2019-03-06 15:15] akosyakov commented on #2566
@elaihau just to confirm your suggestion is to resolve a symlink to a real path and if it is different then report an event for a real path as well?

[2019-03-06 15:37] elaihau commented on #2566
yes exactly.

[2019-03-06 15:48] sudoec opened #4494 "[terminal] On ubuntu 18.04 docker fonts looks bad"
**branch is tag v0.4.0**
![_20190306234457](https://user-images.githubusercontent.com/43877154/53893912-1a17f700-406a-11e9-8c46-3744cef975b8.png)

[2019-03-06 16:23] jankeromnes opened #4495 "Image files are wrongly opened as text files"
### Description
When I open image files (e.g. `.png` or `.jpg`), I expect Theia to show a preview of that file. Instead, it now tries to open them as text.

### Reproduction Steps
1. Run Theia
2. Try to open an image file (e.g. `Cmd`+`P`+'png')
3. Instead of showing the image, as it did before, it now tries to open the binary image as text:

<img width="1552" alt="screenshot 2019-03-06 at 17 19 52

[2019-03-06 18:13] jankeromnes commented on #4495
`git bisect` says this was introduced in c559850cb3b04d413dbee6c1da3ce515d0a5ad54.

[2019-03-06 18:26] jankeromnes commented on #4495
More specifically by:

[code]

Reverting that seems to fix the image file preview. I'll make a pull request.

[2019-03-06 19:05] jonnyhork opened #4497 "Can you publish WebdriverIO PageObjects to NPM?"
### Description
I am adding Theia extensions to my project and looking to setting up testing with WebdriverIO. I noticed that you have added some great PageObjects for Theia that would really help in my testing. I was wondering if you would be willing to publish those to make it easier to stay up to date and import via npm?

I was asked to open an issue for this by @akosyakov on Spectrum: https://

[2019-03-06 21:20] #4495 closed

[2019-03-06 22:10] amiramw commented on #4270
@DoroNahari after changing your package.json to call the packager with [this windows opened PR](https://github.com/eclipse/theia-plugin-packager/pull/7) the flow seems to work for me.

[2019-03-06 22:31] amiramw commented on #4362
This cleanup seems intentional:
https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/src/hosted/node/hosted-instance-manager.ts#L135-L136
However the THEIA_DEFAULT_PLUGINS env variable is preserved on host run.

[2019-03-06 23:12] amiramw commented on #3296
Seems to work now on windows.

[2019-03-06 23:12] #3296 closed

[2019-03-07 01:51] frankLife commented on #4187
@akosyakov thanks a lot ! Is there also any more custom apps we can learn ?

[2019-03-07 05:08] svenefftinge commented on #4187
Here's another: https://github.com/theia-ide/yangster

[2019-03-07 06:40] benoitf commented on #4362
yes THEIA_PLUGINS are only for the instance , THEIA_DEFAULT_PLUGINS being for all instances

[2019-03-07 08:12] 113xiaoji commented on #4474
This issue is related by proxy

[2019-03-07 08:20] tolusha commented on #3771
Related PRs merged.
VS Code extension works. [1]

[1] https://github.com/theia-ide/theia/issues/3771#issuecomment-469171523

- [x] https://github.com/theia-ide/theia/pull/4458
- [x] https://github.com/theia-ide/theia/pull/4493
- [x] https://github.com/theia-ide/theia/pull/4480

[2019-03-07 08:21] #3771 closed

[2019-03-07 09:07] invincibleJai commented on #4323
thanks @vparfonov, I tried on `next` and still i get same experience as in issue.

[2019-03-07 09:21] vparfonov commented on #4323
@invincibleJai Can, you, please build it from source and check again. Also can you share plugin what you try? Thanks

[2019-03-07 09:26] invincibleJai commented on #4323
@vparfonov am trying on https://marketplace.visualstudio.com/items?itemName=redhat.fabric8-analytics

Can you pls help with some doc to build from src, i tried some time back but couldn't

PS: it's using `preview-html` so am making changes to files in `/tmp/vscode-unpacked/vscode_extension_redhat_fabric8_analytics.vsix/extension/` for debugging testing extension

[2019-03-07 09:34] kittaakos commented on #4487
[minor]: Please fix the typo too. The method is `private`:
https://github.com/theia-ide/theia/blob/b8fe799dace5d5053d71d7c165472aa48a0fba01/packages/plugin-ext/src/main/node/paths/plugin-paths-service.ts#L126

[2019-03-07 09:40] invincibleJai opened #4499 "[Plug-in] window.withProgress shows up multiple times in window footer"
### Description
I was trying to test https://marketplace.visualstudio.com/items?itemName=redhat.fabric8-analytics in theia and I observed status messages are shown multiple time, instead of updating messages in same window loaction as happens in VSCode

### Reproduction Steps
- Install https://marketplace.visualstudio.com/items?itemName=redhat.fabric8-analytics with `plugin by ID`
- open `package.

[2019-03-07 09:46] djpbessems opened #4500 "[featurerequest] A way to disable the creation of Trash folder upon deleting files"
### Description
*Featurerequest:*

I'm looking for a way to disable the creation of the 'Trash' folder when deleting files; it seems superfluous to have this Trash-folder show up; my workspace folder is already hosted on storage that allows filerecovery ánd git also allows recovery of files if they are deleted from a repository.

Currently this does not seem possible to configure.

I've brought th

[2019-03-07 09:46] djpbessems opened #4524 "[featurerequest] A way to disable the creation of Trash folder upon deleting files"
### Description
*Featurerequest:*

I'm looking for a way to disable the creation of the 'Trash' folder when deleting files; it seems superfluous to have this Trash-folder show up; my workspace folder is already hosted on storage that allows filerecovery ánd git also allows recovery of files if they are deleted from a repository.

Currently this does not seem possible to configure.

I've brought th

[2019-03-07 09:48] djpbessems commented on #4500
For reference, this was brought up before in #1968; but that issue was closed.

[2019-03-07 09:57] kittaakos commented on #4500
FYI: It's from Docker.

Please use the proposed workaround in your extension.

Alternatively:
 - you can look into how to disable the `.Trash` folder for the Docker image and provider a PR, or
 - use `moveToTrash: false` in your custom FS implementation. See [here](https://github.com/theia-ide/theia/blob/b8fe799dace5d5053d71d7c165472aa48a0fba01/packages/filesystem/src/node/node-filesystem.ts#L42),

[2019-03-07 10:08] #707 closed

[2019-03-07 10:14] kittaakos commented on #4500
@djpbessems, please open a [follow up issue under the `theia-ide/theia-apps`](https://github.com/theia-ide/theia-apps/issues).

[2019-03-07 10:30] arekzaluski opened #4501 "[cpp] compile_commands.json outside of program source"
### Description
C/C++ intellisense doesn't work correctly when compile_commands.json is located outside of program source code.

Following scenario `(1)` works correctly:
compile_commands.json is located inside program

workspace1:
- Program1
    - compile_commands.json
    - {source code}
- Program2
    - compile_commands.json
    - {source code}

This scenario `(2)` doesn't work:
compile_command

[2019-03-07 10:50] mmorhun opened #4502 "Set focus to another editor if current one is closed"
### Description
When current text editor gets closed, focus isn't set into another one.

This is related to VSCode compatibility in Theia plug-in API.

### Reproduction Steps

1. Open a few editors
2. Set focus into one
3. Close active editor tab

Another editor is shown but focus is not there. When typing text, nothing happens.

[2019-03-07 12:56] i501378 opened #4504 "There is no error when run VS code extensionthat use extensionDependencies that doesn't loaded"
We use APIs from VS code extension1 at  VS code extension2.
We add VS code extension1 as extensionDependencies at VS code extension2 package.json.
We run  VS code extension2 without loading at the plugins VS code extension1 and we don't get any error.

output when we load VS code extension1
![image](https://user-images.githubusercontent.com/46641136/53958137-eb8d3100-40e8-11e9-943a-eea8433173a5.pn

[2019-03-07 13:52] kittaakos commented on #815
I do not see this anymore. I have verified it on my Windows 10 image with various Xtext based language servers.

I can confirm, the LS (`java`) process termination was successful. However, the process termination is not instantaneous on Windows. It is because the child processes do not die automatically on Windows when the parent process stops. We have to poll from the LS.

I am closing this.

[2019-03-07 13:52] #815 closed

[2019-03-07 15:35] #4361 closed

[2019-03-07 15:41] marechal-p commented on #4501
If you set the verbosity level for clangd in your application, what kind of trace can you see on the backend? Usually clangd will tell you if it doesn't find a compilation database.

[2019-03-07 15:54] arekzaluski commented on #4501
That is correct. As soon as I move `compile_commands.json` outside of program I have an inconsistent behaviour. Sometimes it can't simply find a json file and sometimes it finds it correctly but any changes to C/C++ build configuration are not respected and clangd is still using a `compile_commands.json` found before. It looks like the code that should restart `clangd` is not working correctly. @m

[2019-03-07 16:00] marechal-p commented on #4501
Yes, as I place the `compile_commands.json` in my build folders, not in the source's. But I am on Linux so I don't know if this makes a difference.

On my end when I create a new invalid build config in Theia this is the output I get:

[code]

And when I use a valid config I don't see any errors.

I am a bit confused by your issue.

[2019-03-07 16:04] arekzaluski commented on #4501
Can you try to do the same but have 2 projects and 2 compilation databases in one workspace?  Try also try to move compilation database completely outside of the workspace. I also do not see this issue when `compile_commands.json` is project or any of its children folders.

[2019-03-07 16:05] arekzaluski commented on #4501
I will also try to run it on Linux to see if behaviour there is the same as the one I see on Mac and Windows.

[2019-03-07 18:08] marechal-p commented on #4501
[theia-cpp-test.zip](https://github.com/theia-ide/theia/files/2942669/theia-cpp-test.zip)

I tried to setup a small workspace that would mimic your 2nd scenario, and everything works fine on my end. But maybe it is that the project is too simple, I don't know.

[2019-03-07 18:46] arekzaluski commented on #4501
@marechal-p Thank you for setting up a small example. It is much easy to discuss when we use the same example. I'm able to reproduce the same issue on my Mac using your example. I modify only the bash script slightly as `readlink` works differently on mac.

## My settings:
I have compile_commands.json located in path : `/Users/arkzal01/build/theia-cpp-test/program{number}`
![screen shot 2019-03-07

[2019-03-07 18:52] ShivaniBali opened #4505 "Request for suggestion on dynamic element colour spectrum."
I have built the visualization of xtext grammar using Theia-IDE/Sprotty.
I have few queries on how to implement dynamicity in colour acceptance for different elements as follows:

Requirements:
To add a colour spectrum in which I would like SModelElements to handle colour change dynamically and not through a static CSS file.
The value is calculated from the backend (algorithm) and it varies from [

[2019-03-07 19:29] marechal-p commented on #4501
So far so good :)

I will wait on you reporting back with this, if it is platform related it could come from the way the language server is restarted? At least it would narrow things down a bit.

[2019-03-07 19:36] marechal-p commented on #4501
On the other hands, here's a few things you could try:
- Run `htop` or something similar and monitor `clangd`'s PID to see if it correctly gets restarted.
- Maybe place a breakpoint in the LS initializing code to check the value of the compile db passed.

Just to see that the correct data flows to the right places.

[2019-03-07 20:52] pzmarzly opened #4506 "Hitting Escape when IntelliSense (suggestions/completion widget) is open causes editor to lose focus"
Tested on Gitpod.

**To Reproduce**

- open editor
- start typing
- run IntelliSense with Ctrl+Space or just wait for it to pop up naturally
- hit Escape key
- try typing anything - editor doesn't have focus anymore!

**Expected behavior**

After hitting Escape, editor text area should have cursor again, you should be able to type.

[2019-03-07 23:30] bdeleonardis1 commented on #4471
Thanks for the help, I figured out how to get it working.

[2019-03-07 23:30] #4471 closed

[2019-03-07 23:44] bdeleonardis1 opened #4507 "Make edits to a file from an extension?"
We're trying to make edits to a file in our extension based on certain events, but we can't figure out how to actually apply the edits. We found: [model.ts](https://github.com/theia-ide/theia/blob/979b0f8a911966ed954809032a1f3f62e6e52b97/packages/plugin-ext/src/api/model.ts) but we haven't been able to get it to work. If this is the correct API, can you please provide an example for how to use it.

[2019-03-08 06:25] akosyakov commented on #4507
For Theia extensions:
https://github.com/theia-ide/theia/blob/ab28d1f4f4c6ff6875f57d46c173ca2bbb08a31b/packages/monaco/src/browser/monaco-workspace.ts#L258

For Theia plugins/VS Code extensions:
https://github.com/Microsoft/vscode/blob/b263184273c3753e84291caf0e5ee9a6752cf141/src/vs/vscode.d.ts#L7534

[2019-03-08 06:28] akosyakov commented on #4506
I cannot reproduce it on master or in Gitpod. What browser do you use?

[2019-03-08 06:30] akosyakov commented on #4505
cc @JanKoehnlein @spoenemann

[2019-03-08 06:37] akosyakov commented on #4502
Sounds like it should be generally done on the shell level. If a focused widget is closed in the tab group then new visible widget in the same tab group should be focused. Not sure what should happen if the focused widget was the last, probably a visible widget from next (or first if a tab group was last) tab group should be focused.

[2019-03-08 06:42] akosyakov commented on #4499
Has not it been already fixed: https://github.com/theia-ide/theia/pull/4480

I cannot reproduce it on latest master.

[2019-03-08 06:44] akosyakov commented on #4474
@113xiaoji please ask che related issue on che repo

[2019-03-08 06:44] invincibleJai commented on #4499
@akosyakov thanks for updating ,  am using image `theiaide/theia-full:next`

Can you pls help with some doc to build from src, I tried some time back but couldn't

[2019-03-08 06:50] akosyakov commented on #4497
@marcdumais-work I remember you had an issue of reusable UI testing npm package which we can use in theia-apps as well.

[2019-03-08 06:52] akosyakov commented on #4499
@invincibleJai It is build nightly, should be there, maybe some caching

[2019-03-08 06:53] invincibleJai commented on #4499
thanks , let me try again

[2019-03-08 06:53] akosyakov commented on #4499
Have you seen https://github.com/theia-ide/theia/blob/master/doc/Developing.md#quick-start?

[2019-03-08 06:56] akosyakov commented on #4487
Not sure about it anymore. It provides data storage path for plugins, it's kind of a user information.

[2019-03-08 07:34] JanKoehnlein commented on #4505
What triggers the color change? Is it a change in the textual DSL model or some other event beyond of what is stored in the DSL?
Is it an automatic transition, i.e. should it vary automatically over time?

BTW, `theia-ide/sprotty` is continued as `eclipse/sprotty`. There have been a lot of changes since the move.

[2019-03-08 07:36] akosyakov opened #4508 "git merge should ask for confirmation to merge"
I've merged 2 PRs by mistake because of it.

[2019-03-08 07:45] akosyakov commented on #4508
Maybe it should be fixed differently, the pattern seems to be that:
- i type a command name in the palette and press enter
- enter seems to be applied to some intermediate command (Merge), not to the final result

[2019-03-08 09:29] ensorrow opened #4509 "[plugin] support multiple remote connection of plugins"
### Is there any plan to fix this problem recently?

![image](https://user-images.githubusercontent.com/13199771/54019904-60369d00-41c7-11e9-9ff2-047063a8c63e.png)

Plugins will be quite useless without this feature...

[2019-03-08 11:03] tsmaeder commented on #4355
After investing a couple of days in this, I have been able to convert a lot of the main/ext protocol to use lsp types. However, I am not quite sure it makes sense to proceed anymore:

1. Using types from a third-party project to transfer data over the wire is not really safe: just like with the classes from the theia API implementation (types-impl.ts), they may use accessors and as such may not ma

[2019-03-08 11:18] akosyakov commented on #4509
@ensorrow Could you have a look?

[2019-03-08 11:29] akosyakov commented on #4509
So does it mean that plugins only work for last page? @benoitf

[2019-03-08 11:50] marcdumais-work commented on #4497
@akosyakov Yes, or almost; as a first step I copied the test files over to the `theia-apps` repo. It would be one extra enhancement to publish the interesting/re-usable bits of our `wdio` test suite and re-use them for our Docker image tests, instead.

One impediment: Someone from Red Hat was working on replacing this test suite to use another framework (which name I do not remember right now). @b

[2019-03-08 11:51] ensorrow commented on #4509
Yes, that's the problem. Only the last client can receive the message from server.

[2019-03-08 11:55] akosyakov commented on #4355
I don't think we need to stick purely to LSP types, but getting rid of Monaco dependencies from the plugin host process would be good.

[2019-03-08 12:04] akosyakov commented on #4355
A bit off-topic: for Gitpod, we (TypeFox) would like to spawn the plugin host process in a user side-container, i.e where user filesystem, processes, terminals and tools live, and ssh into it. Obviously we don't want to install the whole Theia because of it in this container. It would be good to extract the code for the plugin host process in its own npm package. It should be self-contained and no

[2019-03-08 12:07] akosyakov commented on #4509
Yes, just verified that it is broken.

[2019-03-08 12:16] akosyakov opened #4510 "Investigate how vscode.FileSystemProvider used in VS Code"
And hook it similarly in Theia there its appropriate.

[2019-03-08 12:18] akosyakov opened #4511 "[vscode] complete FSResource implementation"
https://github.com/theia-ide/theia/blob/cd07b5cecff42332ac3f64a4be9a5476f1306440/packages/plugin-ext/src/main/browser/file-system-main.ts#L110

Implementation of `saveContentChanges` and `onDidChangeContents` are missing.

[2019-03-08 13:07] akosyakov commented on #4509
Right now the backend always run one plugin host process. It won't work for multiple clients since each client should have own context (opened dirty editors and so on). It's quite mind boggling to refactor to give each client its own plugin host process (especially on Friday evening), will see what can be done next week :)

[2019-03-08 13:08] tsmaeder commented on #4355
I've pushed my current state to https://github.com/tsmaeder/theia/tree/4355_use_lsp_types

[2019-03-08 13:12] tsmaeder commented on #4355
So separate the ext side of the main/ext interface. Yes, I like it. To be precise, the ext side of the interface right now does _not_ technically depend on monaco implementation, but it uses interfaces that are mostly compatible with monaco objects.

[2019-03-08 13:23] benoitf commented on #4509
yes, I think there is an open issue but I'm not finding it :-/

[2019-03-08 13:24] arekzaluski commented on #4501
@marechal-p I tried to reproduce the same problem on Linux and I couldn't. It works like a charm on this platform:
platform: Ubuntu 18.04
Theia: latest master
clangd: 8.0.0

It means that this issue is platform specific and it explains why you couldn't reproduce it on Linux. I will try to debug it on my Mac based on your suggestion. I think that it may be connected with `-compile-commands-dir` not

[2019-03-08 13:37] tsmaeder commented on #4355
For the completions, for example, the fact that we're using Monaco-compatible types, allows us to tunnel and "ident" attribute through the provide/resolve cycle: we rely on the fact that when we provide e.g. a code lens, to monaco, we will get the same object back when we are asked to resolve it. If we do some conversion, we would have explicitly remember the ident field when converting.

[2019-03-08 14:11] tsmaeder opened #4512 "Plug-ins Should be Visible across Plug-in Hosts"
Currently, only plugin-ins that are managed by the same plug-in hosted instance manager can see each other (via the plugin API) and communicate among themselves.
I believe it would be better if the "location" of a plugin (which plugin manager, which sidecar or otherwise remote machine) would be completely transparent to the plugin. This would simplify the programming model for API consumers and gi

[2019-03-08 14:13] tsmaeder commented on #4512
This is related to https://github.com/eclipse/che/issues/12395

[2019-03-08 14:17] benoitf commented on #4512
AFAIK it can't be transparent, one plug-in can export (javascript export) a function (or anything) to another plug-in
so if it's not in the same host, I'm not sure how it can really works

[2019-03-08 15:02] pzmarzly commented on #4506
Huh, indeed I can only reproduce it on Vivaldi (stable release). I don't have any shortcut bound to Esc though, and it also happens in incognito mode (no extensions loaded). [Video](https://youtu.be/w1TyJZH6liY)

Console output seems normal:

![screenshot from 2019-03-08 16-02-05](https://user-images.githubusercontent.com/8074163/54036289-92420200-41bb-11e9-94dd-2367728bed3c.png)

[2019-03-08 15:28] sh7dm opened #4513 "Idea: Vue support"
### Description
Support Vue.

### Reproduction Steps
1. Open any `.vue` file
2. ![default](https://user-images.githubusercontent.com/19504461/54037672-c2939b80-41cf-11e9-976e-2ee26ef58aa1.png)

**OS and Theia version:**
Theia v0.4.0, Ubuntu 18.04

**Diagnostics:**
None

[2019-03-08 18:06] vince-fugnitto commented on #4513
@sh7dm you can perhaps try the following extension and raise any issues you may find :)
https://github.com/Devpodio/theia-vue-extension

[2019-03-08 18:26] timkpaine commented on #4269
A few updates:
- I can get it to load by calling node directly with the `node_modules/.bin/theia` script and `LD_PRELOAD`.
- This flag needs to be propagated to [subprocesses](https://github.com/theia-ide/theia/blob/master/packages/process/src/node/raw-process.ts#L97) as well

[2019-03-09 01:16] ShivaniBali commented on #4505
Hi,
Good morning!

Thank you for looking into my request.

— What triggers the color change?

Yes, it’s the change in the textual DSL model and which can be referred as an automatic transition, results of which depends upon an algorithm(Independent Class) and the values are passed in for the visualization as SLabel. For each value calculated the color of SNode must change automatically.(However, c

[2019-03-09 04:27] foresthu2006 commented on #4507
How would one get a `WorkspaceEdit` object?

[2019-03-09 05:39] akosyakov commented on #4507
For Theia extensions:
[code]
for VS Code extensions:
[code]

[2019-03-09 15:51] amiga23 opened #4515 "Can not open files since version 0.4.0"
### Description
Since version 0.4.0 I can not open any files. If I click on any file in the file tab on the left I do get the error message "TypeError: this.contextKeyService is undefined" monaco-editor-provider.js:209
Version 0.3.19 works fine.

### Reproduction Steps
docker run -d --name theia-full -it -p 3000:3000 -v /home/amiga/git:/home/project:cached theiaide/theia-full:0.4.0
Open any file e

[2019-03-09 18:09] akosyakov commented on #4515
@svenefftinge @marcdumais-work It would be good to fix and make 0.4.1 bugfix release from a branch.

[2019-03-09 19:02] amiga23 commented on #4515
Version "next" with image id 36fd112b66cf works fine. Thank you.

[2019-03-09 21:36] marcdumais-work commented on #4515
Hi @akosyakov

I think it should be fixed in master, since the `next` images work.

Ok for me. Please open an issue requesting a bugfix release and include what content you want in it (is it ok to branch-off current `master` or else from which commit, or ...). I volunteer to do the release then.

[2019-03-09 21:40] jgbradley1 opened #4516 "Add a menu entry to "Run Selected Text...""
When running interactive programming sessions in the terminal (i.e. python), it would be nice to be able to highlight/select chunks of code and pass them to the session in the terminal rather than executing the entire file.

Adding a menu item that says something like "Run Selected Text/Line(s)..." and sends code direct to the terminal would increase productivity for many devs working with interpr

[2019-03-10 07:38] foresthu2006 commented on #4507
In order to get `applyEdit` to work, I had to use
[code]

[2019-03-10 14:02] marechal-p opened #4517 "[editor] Closing a tab with middle click paste my clipboard data into the current editor"
### Description
Closing a tab with middle click paste my clipboard data into the current editor.

### Reproduction Steps
Close tabs using middle mouse click

### OS and Theia version
Ubuntu 16.04
Theia master (https://github.com/theia-ide/theia/commit/d287ff44c816c58ce05c9ae833c48a95f707e624)

**Diagnostics:**
Windows doesn't paste things when using middle mouse click, and I don't know about OSX.

[2019-03-11 00:26] ensorrow commented on #4509
Hope you can close the issue this week😉.That’s the only problem we are facing now on developing a Theia based IDE.Theia is awesome.

[2019-03-11 02:18] zixuemeng commented on #3801
This issue has been fixed in 0.4.0 version

[2019-03-11 02:18] #3801 closed

[2019-03-11 02:26] zixuemeng commented on #3800
This issue still exists in version 0.4.0

[2019-03-11 04:05] timkpaine commented on #4240
This also doesnt work: `vscode.commands.executeCommand('workbench.files.action.refreshFilesExplorer');`

[2019-03-11 05:55] akosyakov commented on #3800
@zixuemeng Could you provide a PR?

[2019-03-11 07:48] JanKoehnlein commented on #4505
The protocol between the client and the server is mainly the SModel, so you have to set the value there.

I would
- create my own subclass of SNode on both, client and server, that has an additional poperty for the value
- set this value in the Xtext generator
- implement my own SNodeView on the client side that picks up this value from the model and either turns it into a css class or a fixed col

[2019-03-11 08:04] mmorhun commented on #4218
Also VSCode fires the `onDidChangeActiveTextEditor` with undefined after an editor tab closing.

[2019-03-11 08:23] benoitf commented on #4355
@tsmaeder what is remaining before opening PR from your branch ?

[2019-03-11 09:07] svenefftinge opened #4520 "[Tree] Reduce indentation"
Our trees use a lot of horizontal space, forcing users to scroll too much.
Compare to VS Code, which has super little indentation.

[2019-03-11 09:25] azatsarynnyy commented on #2861
`workspace.registerFileSystemProvider` API has been added by the PR https://github.com/theia-ide/theia/pull/4484.

For now, the contributed providers are taken into account when opening a document by URI with `workspace.openTextDocument` API. See the sample plugin https://github.com/eclipse/che-theia-samples/pull/31.

To complete support of `FileSystemProvider` API, a couple of follow-up issues ha

[2019-03-11 09:25] #2861 closed

[2019-03-11 10:27] akosyakov commented on #4515
hm, i cannot reproduce it with 0.4.0 branch :( something wrong with how image build, not with release

[2019-03-11 10:30] AndrienkoAleksandr commented on #1360
It would be really nice to align notification message ui with VSCode.

[2019-03-11 10:34] akosyakov commented on #4199
Hit it again trying to debug LS process of vetur VS Code extensions. It's really hard since debug configuration rely on lazy loading of extensions :(

[2019-03-11 10:41] vince-fugnitto commented on #4513
@sh7dm just wondering, were you able to get the `Vue` support you were looking for ? :)

[2019-03-11 10:49] sh7dm commented on #4513
@vince-fugnitto will try!

[2019-03-11 12:11] AndrienkoAleksandr opened #4523 "Task widget should has Task title, not terminal."
### Description
Task widget should has Task title, not terminal.

### Reproduction Steps
1. Create new task
2. Launch this task: Terminal => Run Task => Select created task from the list and type enter
3. Take a look on the widget title.

Screen-cast:
![TaskTitle](https://user-images.githubusercontent.com/6873095/54123119-906c7e80-4407-11e9-8598-93674cfe86cb.gif)

**OS and Theia version:**
0.4.0.

[2019-03-11 12:37] sh7dm commented on #4513
@vince-fugnitto Yes! Now I've got nice syntax highlight! Thanks
![изображение](https://user-images.githubusercontent.com/19504461/54124502-a08a5b00-4413-11e9-8027-1c2222718429.png)

[2019-03-11 12:39] #4218 closed

[2019-03-11 12:40] mmorhun commented on #4218
Mentioned above incompatibilities are fixed in the PR above.

[2019-03-11 12:41] vince-fugnitto commented on #4513
@sh7dm great! I'm glad to hear, is it fine if I close the issue? :)

[2019-03-11 13:12] AlexTugarev commented on #1360
@AndrienkoAleksandr, indeed. I’m preparing a PR.

[2019-03-11 13:23] marcdumais-work commented on #4515
+1, I also can't reproduce with the main Theia repo. But I was able to reproduce when building the `full image's` (latest.package.json) Theia app outside of docker. By trial-and-error, I determined that removing `yang-theia-extension` makes the problem go away, so that would be a good place to investigate.

Shall we transfer this issue to `https://github.com/theia-ide/yangster` ?

[2019-03-11 13:30] akosyakov commented on #4515
yes, i think there or try to create an app locally in dev mode and debug why it cannot find `ContextKeyService`

[2019-03-11 13:55] #4513 closed

[2019-03-11 14:40] #4520 closed

[2019-03-11 15:28] marcdumais-work commented on #4524
@kittaakos thanks for the details. I agree there is a Docker aspect to this issue. I found another interesting detail...

I understand a bit better what's happening. Normally on Ubuntu, the `Trash` folder resides in the user's home, under `.local/share/Trash`. But there is a corner-case that we hit in our various Docker images, when they are used in the way that we [suggest](https://github.com/the

[2019-03-11 16:11] jonnyhork commented on #4497
@akosyakov Another thing I noticed is that the way the page objects are written don't seem to work with webdriverIO v5. That might cause some issues for people looking to import the published package that are using version 5, including myself. I'm not sure if there is any interest in updating those but that would be great!

[2019-03-11 18:24] marechal-p commented on #4512
@benoitf are you talking about this? https://code.visualstudio.com/api/references/vscode-api#extensions

[2019-03-11 19:02] kittaakos opened #4526 "[electron][windows] Cannot start the electron application"
Steps to reproduce:
 - Clone Theia.
 - `yarn && yarn run rebuild:electron`
 - `yarn --cwd ./examples/electron start`

Happened with f59ecdeb.

[code]

[2019-03-11 21:41] #4167 closed

[2019-03-12 03:14] ouyangxizi opened #4529 "supporting on vscode plugin in menus setting is not stable"
### Description
I write a vscode plugin to support a function that could add two commands when right click different  types files. It works very well in vscode, but not work in theia extension. The question is in vscode I set different "when" labels to add the different types of buttons, but the "when" labels work disorderly,it confused. By the way, the event I set is to click the button I add to

[2019-03-12 04:07] ensorrow commented on #4509
Awesome!!!

[2019-03-12 06:07] akosyakov commented on #4529
@ouyangxizi Could you provide a VS Code extension to reproduce?

[2019-03-12 06:26] ouyangxizi commented on #4529
The main codes I add in package.json are below:
`"menus":{
    "explorer/context":[
    {
        "when":"resourceExtname == .bpm",
        "command":"extension.bpm"
    },
   {
        "when":"resourceExtname == .yaml",
        "command":"extension.yaml"
   }
]
}
`
I'd like to right click bpm file and there will be added a button, and right click yaml file and there will be added a button differe

[2019-03-12 06:46] akosyakov commented on #4529
@ouyangxizi it should be stable, maybe a bug. Which version of Theia do you use?

[2019-03-12 06:51] ouyangxizi commented on #4529
@akosyakov
I use the newest master branch theia, compile the source code and make a image in docker.

[2019-03-12 07:33] kittaakos opened #4530 "[quality] Switch back to `node-pty`."
Currently, we are using a fork of the `node-pty` lib: https://github.com/theia-ide/node-pty. We consume the forked `node-pty` in `@theia/process`.

1. We are already behind a few commits.
2. ~#4526 might be related.~

[2019-03-12 08:19] akosyakov commented on #4529
Could you provide an implementation please?

[2019-03-12 08:31] ouyangxizi commented on #4529
@akosyakov
The codes below is the main function I write to open a uri in default browser.
`export const openDefault = (path: any): void =>{
    let uri = "http://xx.xxxx.com/xxx/xxx.html";
    const browser = standardizedBrowserName(defaultBrowser());
    open(uri, browser);
};`
Thanks for your quick response~

[2019-03-12 08:33] kittaakos opened #4532 "[dev-experience][windows] Investigate whether we can enable parallel execution with Lerna"
Due to deadlock issues, we have explicitly disabled the parallel (`lerna`) execution on Windows.

https://github.com/theia-ide/theia/blob/f5cec4444315651c1c583f740adcfeb6bef5a33f/scripts/lerna.js#L24

This is a pain for Windows users. Check whether we can re-enable the parallel execution. It might require bumping up the `lerna` version.

[2019-03-12 08:49] akosyakov commented on #4529
And you running Theia in electron right? For browser I doubt it can work, extensions are running on the backend.

[2019-03-12 09:06] ouyangxizi commented on #4529
@akosyakov
Do you mean that the way to add .vsix in plugins directory  only could run in the backend? If it is, I will consider another way to implement the OpenInDefaultBrowser function.

[2019-03-12 09:17] benoitf commented on #4497
@marcdumais-work yes this is still ongoing work (to use cypress framework)
And in that case, pageobjects should be reused as well IMHO

[2019-03-12 09:23] benoitf commented on #4529
@ouyangxizi
You can open url by doing
[code]

with new ongoing API it should be possible to do
[code]

[2019-03-12 09:28] akosyakov commented on #4529
VS Code extensions needs access to backend tools like nodejs. You can try to use vscode.open command instread and pass http url.

[2019-03-12 10:24] #4526 closed

[2019-03-12 10:24] kittaakos commented on #4530
Fixed via https://github.com/theia-ide/theia/pull/4527

[2019-03-12 12:12] akosyakov commented on #4497
Ok, so sounds like we can proceed with creating a new dev package and later upgrade it to wio 5 or cypress. It should go under [dev-packages](https://github.com/theia-ide/theia/tree/master/dev-packages) and named `@theia/ui-tests` or something similar.

I don't think TypeFox can do it. cc @svenefftinge

Could Salesforce or Ericsson do it? @jonnyhork @marcdumais-work

[2019-03-12 12:49] vince-fugnitto commented on #3600
I was able to test and add a custom `favicon` to the main application by updating
the `frontend-generator.ts`. Where we generate the `<head></head>` portion, I included the following link tag.

[code]

The only issue I had was getting the image served by the server. When using an external image (such as one hosted already) the icon was displayed correctly.

<div align='center'>

![Screenshot from

[2019-03-12 13:47] arekzaluski commented on #4501
@marechal-p I'm afraid that I will need your help to solve this issue. I confirmed that issue is in Theia code.

On Linux when I change the C/C++ config correct value of `compilationDatabasePath` is send to the clangd server:
https://github.com/theia-ide/theia/blob/master/packages/languages/src/node/language-server-contribution.ts#L70

On my Mac however `compilationDatabasePath` always have the sa

[2019-03-12 14:00] djelenc opened #4534 "Using Theia to build an entire system on the public server"
This is a question on how to approach a project that uses Theia at its core, not a bug report.

I’m working on a project that will contain an online IDE and I’m considering to use Theia.

Users in my case should be able to create (rather simple) NPM projects (think React, Vue and similar, or even plain JS, HTML and CSS projects) and should see their preview in the pane next to IDE window. Somethin

[2019-03-12 14:09] marechal-p commented on #4501
Yes, and for that we use filesystem watchers, maybe an issue there?

It is a bit of chain of events, but it comes from the watchers notifying the `CppBuildConfigurationManager` which in turn triggers listeners such as:

https://github.com/theia-ide/theia/blob/da771757c27df6eabe8c6e5f0c2bdc69f1439b2a/packages/cpp/src/browser/cpp-language-client-contribution.ts#L71

And then it should restart the LS

[2019-03-12 14:26] arekzaluski commented on #4501
Your comment finally showed me the problem. This issue was fixed recently in this commit: https://github.com/theia-ide/theia/commit/da771757c27df6eabe8c6e5f0c2bdc69f1439b2a#diff-fc822bfc513331646305f42dbbe661f0 . On my Mac I was testing on version of Theia that didn't have this change. I confirm now that it works in current master on all 3 platforms. Thank you so much @marechal-p. I'm closing this

[2019-03-12 14:26] #4501 closed

[2019-03-12 14:31] marechal-p commented on #4501
Thank @simark for the fix ;)

[2019-03-12 14:45] simark commented on #4501
@arekzaluski, I am wondering about your second scenario, where you have two projects, built in two different build directories, with a compile_commands.json in each build directory.

AFAIK, it is not possible with Theia and clangd today to point to both build directories: we support having a single active build configuration at the time, and each build configuration points to a single build direct

[2019-03-12 14:58] svenefftinge commented on #4509
Reopening as it is not merged, yet.

[2019-03-12 15:55] jankeromnes commented on #4534
Hi @djelenc, the way we've done that in [gitpod.io](https://www.gitpod.io) (which uses Theia at its core) is to implement a [configuration file](https://docs.gitpod.io/41_Config_Gitpod_File.html) that allows doing things like:

[code]

Maybe this approach can serve as inspiration, but note that Gitpod already supports your use cases well, and for free. 🙂

I'm happy to answer any more questions on

[2019-03-12 16:16] AlexTugarev opened #4537 "[open file][find command] Unexpected search results"
If the search string is matched, I'd expect there would be no substring search results included.

![2019-03-12 17 07 28](https://user-images.githubusercontent.com/914497/54216260-a05c8f00-44e9-11e9-8a93-724d678004e7.gif)

![2019-03-12 17 06 40](https://user-images.githubusercontent.com/914497/54216296-ad797e00-44e9-11e9-9e41-5449a713e421.gif)

/cc. @akosyakov

[2019-03-12 16:19] akosyakov commented on #4537
Maybe related https://github.com/theia-ide/theia/issues/4508

[2019-03-12 16:36] jonnyhork commented on #4497
Do have any sense sense the timeline for switching Cypress officially? I'm if there are significant advantages to using Cypress with respect to Theia, other than and "All-in-one testing framework" as they say?

@akosyakov @marcdumais-work

[2019-03-12 16:44] JanKoehnlein opened #4538 "[workspace] add support for VersionedTextDocumentIdentifier"
`MonacoWorkspace#applyEdit()` should take versioned text documents into account, and not apply them when they differ in version.

This is especially valuable for non-monaco editors, e.g. diagrams, that are modified using LSP. Currently, we can have all kinds of races between the calculation of a change (e.g. rename or code action) and other user input. When applying the changes, the document may h

[2019-03-12 16:54] dehru opened #4539 "Theia explorer context menu missing resource context for vscode extension"
### Description
I've got a vscode extension that generates menu items from a "right-click" on the file explorer.  And depending on the context of the right click ( if it's a specifically named folder or a file ), it behaves differently.  In theia, the context items that it keys off of are always undefined.

I have a vsix that shows this behavior, linked below.

### Reproduction Steps
1. Download a

[2019-03-12 17:06] marcdumais-work commented on #4497
@akosyakov I do not think we have the bandwidth to take this-on soon. Perhaps this could be part of the switch to Cypress?

@benoitf , WDYT?

[2019-03-12 19:00] jonnyhork commented on #4497
Hey @marcdumais-work, when you say

Does that refer to publishing to NPM or the converting to WDIO 5.0, or both? Thanks for clarifying.

On a side note, after I switched to `"webdriverio": "4.9.2"`, from 5.0, I was able to use the PageObjects as is, imported via `yarn link`.

[2019-03-12 23:40] marcdumais-work commented on #4497
Hi @jonnyhork

Both. We (Ericsson contributors) have put all non-essential work on this suite on hold for now, until the move to Cypress or decision to remain with WDIO.

[2019-03-13 02:00] HighCommander4 opened #4540 "[Type Hierarchy] Support servers that want to compute the type hierarchy eagerly"
The current implementation of Type Hierarchy appears to always ask for one level of the hierarchy at a time, and ignore additional levels even if the server chooses to send them.

I think it would be good to support language servers that want to compute the type hierarchy eagerly. Specifically, if the server sends more levels than requested, Theia should make use of the levels that were actually s

[2019-03-13 04:18] jgbradley1 opened #4541 "[proposal] Make executables available for download"
Can executable versions of Theia be made available with each new release for easier packaging and distribution in docker images? This would result in smaller image size and not require so many dependencies just to run Theia.

I may be misunderstanding the build process, but is it necessary to keep the node_modules folder around when there are options like [nexe](https://github.com/nexe/nexe) and [

[2019-03-13 05:32] #4529 closed

[2019-03-13 05:32] #4539 closed

[2019-03-13 05:32] akosyakov commented on #4539
@dehru thanks for the reporting 👍

[2019-03-13 05:34] akosyakov commented on #4541
I think it should be a part of docker build to use nexe or pkg. You don't want to use all extensions from this repo in all docker images, and one can add custom Theia/VS Code extensions.

[2019-03-13 05:46] akosyakov commented on #4497
The main reason is that web driver based tests are flaky. Cypress tests run within Chrome and should be stable and faster. One has to verify it.

With yarn link, you have to always check out sources. It would be nice just to add dev dependency.

[2019-03-13 06:30] akosyakov opened #4542 "plugin view did not focus on activation"
[code]

[2019-03-13 06:42] akosyakov commented on #2390
Emmet extension is published: https://www.npmjs.com/package/@theia/vscode-builtin-emmet

One can include it in Theia at build time as here: https://github.com/theia-ide/theia-apps/pull/146/files#diff-964302cf25c6f37acd4ebdf6d686a1d3

[2019-03-13 06:42] #2390 closed

[2019-03-13 07:01] kittaakos commented on #4540
Nice to see other LSs implementing the `textDocument/typeHierarchy` feature👍.

@HighCommander4, please note, the current implementation in Theia, complies the LSP proposal specified here: https://github.com/Microsoft/vscode-languageserver-node/pull/426
And the lazy resolution was a requirement, see [here](
https://github.com/Microsoft/vscode-languageserver-node/pull/346#issuecomment-440283344). Lo

[2019-03-13 07:14] funcsatish opened #4543 "Swift Language Support using Sourcekit-LSP"
### Description
Sourcekit-LSP : [https://github.com/apple/sourcekit-lsp](https://github.com/apple/sourcekit-lsp)

How do i convert Sourcekit-LSP VSCode Extension to **Theia Swift Extension**

Example code extension
[code]

[2019-03-13 07:38] vinokurig opened #4544 "Support change details in the editor"
Change details from VsCode:
![Screenshot from 2019-03-13 09-35-17](https://user-images.githubusercontent.com/7668752/54261167-b878f080-4573-11e9-9cfc-2c7f38fd59a1.png)

+ support `scm/change/title` menu contribution

[2019-03-13 07:41] vinokurig commented on #4171
`scm/change/title` needs to have editor change details: (https://github.com/theia-ide/theia/issues/4544)

[2019-03-13 07:44] akosyakov commented on #4537
We enable separate substring matching by default. Looking at clients it is not really good default. I would like to make it configurable and disable by default. Objections?

[2019-03-13 07:47] akosyakov commented on #4543
You don't do it, but just deploy VS Code extension: https://github.com/theia-ide/theia/wiki/Testing-VS-Code-extensions and let us know if something does not work

[2019-03-13 07:54] akosyakov commented on #4537
And there is apparently a race in quick file, looking into it as well.

[2019-03-13 08:00] kadircet commented on #4540
Similar concerns are actually raised in spec, see:
https://github.com/Microsoft/vscode-languageserver-node/pull/426#discussion_r255414744
https://github.com/Microsoft/vscode-languageserver-node/pull/426#discussion_r255416980

[2019-03-13 08:09] akosyakov commented on #4537
The file search also returns unrelated results:
<img width="652" alt="Screen Shot 2019-03-13 at 09 08 17" src="https://user-images.githubusercontent.com/3082655/54262839-97ae9c00-456f-11e9-84a8-7596dbf5ecf5.png">

[2019-03-13 08:21] ouyangxizi commented on #4529
Appreciate for your advice,it's worked for me.

[2019-03-13 08:45] 502647092 opened #4545 "multi git repo switch error"
### Description

multi git repo can't switch
![image](https://user-images.githubusercontent.com/10203793/54264917-27276f80-45af-11e9-93a1-2316dfdce3fd.png)

### Reproduction Steps
update to latest next version
0.5.0-next.fc1edf11

**Diagnostics:**
[code]

[2019-03-13 09:00] satishbabariya commented on #4543
Yeah, you can found it here [https://github.com/apple/sourcekit-lsp/tree/master/Editors/vscode](https://github.com/apple/sourcekit-lsp/tree/master/Editors/vscode)
Though the extension is not available in VS Code Marketplace currently.

[2019-03-13 09:17] adrienrenaud opened #4546 "Request for Spell Checker"
A spell checker would be useful for markdown files.

[2019-03-13 09:21] adrienrenaud commented on #3780
For me it was `"@theia/typehierarchy": "^0.4.0"` causing the problem. Removing this line from `package.json` fixed it.

[2019-03-13 09:24] 502647092 commented on #4545
Maybe it's a strange mistake.
[code]

[2019-03-13 09:30] akosyakov commented on #4543
Loading from source supported as well, just put VS Cod extension under `plugins`. If does not work let me know.

[2019-03-13 09:41] akosyakov opened #4548 "file search does not highlight properly"
Results are correct, but highlighting not.
<img width="632" alt="Screen Shot 2019-03-13 at 10 37 39" src="https://user-images.githubusercontent.com/3082655/54268764-3fca6200-457c-11e9-91b3-451bcd311c10.png">

The root cause that we rely on Monaco fuzzy match to highlight label and description part and it cannot. Instead of we should compute highlights ourself on backend and split it for label and

[2019-03-13 09:49] akosyakov commented on #4548
It's a follow-up of https://github.com/theia-ide/theia/pull/4549

[2019-03-13 10:09] akosyakov opened #4550 "textmate highlighting is missing"
I've noticed that sometimes textmate highlighting is missing for new window. It is always there for a first window. Don't know how to reproduce yet.

[2019-03-13 10:14] akosyakov commented on #4515
@marcdumais-work just had a thought, that there were breaking changes, and yang extension was updated to them, but maybe was not published as latest, only next?

[2019-03-13 10:19] spoenemann opened #4551 "[electron] Exception in main process when resizing window"
### Description
I get the following dialog when moving or resizing the window of the Electron example.

![screenshot01](https://user-images.githubusercontent.com/4067210/54271443-cd5c8080-4581-11e9-9ed5-db1c6749e7e7.png)

**OS version:**

Windows 7 Enterprise

[2019-03-13 11:03] azatsarynnyy commented on #3970
There's the same issue with the [Kubernetes Tooling Plugin](https://github.com/eclipse/che-plugin-registry/blob/master/plugins/ms-kubernetes-tools.vscode-kubernetes-tools/0.1.17/meta.yaml).
Running it against Che Theia with Anatoliy's [patch](https://github.com/theia-ide/theia/pull/4008) fixes the problem.

[2019-03-13 11:44] invincibleJai commented on #4323
@vparfonov need your help, have tried with latest `theia-full:next` and earlier when I filed the issue basic search without glob used to work as in

`vscode.workspace.findFiles('target/npmlist.json')`

but now even for this am getting an empty list. It'll be really nice if you can verify once.

[2019-03-13 11:47] invincibleJai commented on #4499
@akosyakov thanks, it's working am not seeing duplication now. Closing it.

[2019-03-13 11:47] #4499 closed

[2019-03-13 12:25] marcdumais-work commented on #4515
We had an [issue](https://github.com/theia-ide/theia-apps/issues/126) with similar symptoms in January and @JanKoehnlein [published](https://github.com/theia-ide/theia-apps/issues/126#issuecomment-458478628) a fix for both `latest` and `next` at that time. After that all worked.

### In `theia-full:latest` (has the issue):
The only thing I noticed that's strange is that two versions `sprotty` end-

[2019-03-13 12:53] JanKoehnlein commented on #4515
It absolutely sounds like yangster is the culprit. We haven't done a latest build for it, and it seems to run into the same old problems again. Unfortunatly, the yangster build no longer works, as all its dependencies, Theia, sprotty and theia-sprotty, have moved quite a lot.

I propose to remove YANG from this distribution until we find the time to migrate YANG to the eclipse sprotty and the late

[2019-03-13 13:00] #4551 closed

[2019-03-13 13:04] marcdumais-work commented on #4515
Thanks @JanKoehnlein, I will do as you suggest.

[2019-03-13 13:35] jarmediagmbh commented on #2842
Realtime collaboration is a feature quite hard to implement, though very nice to have!
However, for a first shot, it would be great to just have a notification, when editing a file that changed on the disk. This would prevent two pleople from overwriting each others file contents.

[2019-03-13 13:56] vince-fugnitto opened #4554 "[preferences] preference tree alignment issues"
With the introduction of the `theia/typehierarchy` extension, a new css property was added which affects all of Theia's `theia-caption-suffix` classes.

https://github.com/theia-ide/theia/blob/785e74a3f54682e9bfc30d14fa3c00fb17fdae58/packages/typehierarchy/src/browser/style/index.css#L23

The proper fix would be to only update the `theia-caption-suffix` for only the typehierarchy and not Theia as

[2019-03-13 14:23] vince-fugnitto commented on #4546
I've had success in vscode using [Code Spell Checker](https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker), perhaps it'd be enough for your needs?
We are currently strengthening our plugin system to achieve compatibility with vscode extensions, and it'd be good to test the extension in Theia to notice any issues :)

[2019-03-13 14:36] satishbabariya commented on #4543
okay sure.

[2019-03-13 15:09] adrienrenaud commented on #4546
Thanks @vince-fugnitto ! Does that mean that it is possible today to install vscode extensions in theia? Could you point me on an guide on how to do that?

[2019-03-13 15:30] invincibleJai commented on #4323
@vparfonov it's working even with `vscode.RelativePattern`, one thing why i got confused initially is if we pass `vscode.workspace.findFiles('target/npmlist.json')` it returns empty list and we change `vscode.workspace.findFiles('**/target/npmlist.json')` it's able to search.

[2019-03-13 15:32] #4515 closed

[2019-03-13 15:33] adrienrenaud commented on #4546
Thanks a lot for this information, it looks amazing! I'm will try the [Code Spell Checker](https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker) in the coming days - as well as other extensions!

[2019-03-13 15:42] jonnyhork commented on #4497
@akosyakov

Yeah I agree, I just wanted to quickly verify they can be consumed as a package successfully.

[2019-03-13 16:02] #4554 closed

[2019-03-13 19:19] kittaakos commented on #4546
This. The one and only VS Code extension I am using. It works perfectly for markdown and code as well.

[2019-03-13 19:27] vince-fugnitto commented on #4546
did you get the chance to try in Theia @kittaakos ? 😄

[2019-03-13 19:49] vince-fugnitto commented on #4546
@kittaakos I got the chance to try the `code spell checker` in Theia and got errors, so the compatibility is still not yet reached. One example error is the following:

[code]

[2019-03-14 01:35] HighCommander4 commented on #4540
What is the downside of accepting extra levels, if the server has already sent them? The client is literally throwing away work that's already done.

[2019-03-14 05:50] akosyakov opened #4557 "auto dispose objects in the connection scope"
[The connection scope](https://github.com/theia-ide/theia/blob/9fe8aa63bb2b2568abbd5f7e49b36b57c49e2a49/packages/core/src/node/messaging/connection-container-module.ts#L35) allows to create instances existing only within the user session, such instances can access each other as well as frontend services.

They also get garbage collected when the session is gone, but if an instance implements  `Dis

[2019-03-14 05:50] #4509 closed

[2019-03-14 05:51] akosyakov commented on #4546
@vince-fugnitto please file an issue, we need to track and fix them

[2019-03-14 07:27] ouyangxizi commented on #4529
@benoitf
I test it in vscode, it's worked for me. But back up as a .vsix in theia, The function jumping to the url doesn't happen in theia. I wonder where should I put these codes?
How can I add a event that could click a button and jump to another tab in theia?
Thanks for your help!

[2019-03-14 07:49] kittaakos opened #4558 "[typehierarchy][keybinding] Fix the keybinding collision"
[code]

Pick any other reasonable, unused keybinding for the view.

[2019-03-14 08:03] #1923 closed

[2019-03-14 08:46] kittaakos opened #4560 "[quality] The default resource resolver should reject with an error instead of a string"
https://github.com/theia-ide/theia/blob/01a983076976a3c18f54ad507abaf2df174ccd43/packages/core/src/common/resource.ts#L115

[2019-03-14 09:45] funcsatish commented on #4543
![Screen Shot 2019-03-14 at 3 12 45 PM](https://user-images.githubusercontent.com/39147630/54346791-b5f9c200-466b-11e9-84be-950012354e1d.png)
Is it possible to configure Plugins like this, or I need to edit extension which doesn't use any user-defined configs?
![Screen Shot 2019-03-14 at 3 14 37 PM](https://user-images.githubusercontent.com/39147630/54346919-eb9eab00-466b-11e9-8e75-a79dc62b492c.pn

[2019-03-14 10:59] mmorhun opened #4561 "Wrong error diagnostic in typescript code"
### Steps to reproduce

1. Open a Theia workspace and generate frontend plug-in (let's call it `test-plugin`). So the folder structure should look like:

[code]

2. Open `test-plugin-frontend.ts` and paste following content:

[code]

3. Compile the code with `yarn` command

4. Uncomment the snippet and use autocompletion. Then comment it again (`Ctrl + /`). Wrong diagnostic is still present in doc

[2019-03-14 11:20] akosyakov commented on #4543
Do you mean there Theia support user/workspace settings? Sorry, i did not really get the question.

[2019-03-14 11:45] funcsatish commented on #4543
In Sourcekit-LSP VSCode Extension currently, two configurations required,
![Screen Shot 2019-03-14 at 5 05 34 PM](https://user-images.githubusercontent.com/39147630/54354175-ff520d80-467b-11e9-81f1-7954e446a16f.png)

1. Server Path
2. Swift Toolchain Path

Can we configure Plugins in theia?

for testing purpose, i did set up both parameters static values and tested vscode extension with theia, usi

[2019-03-14 12:33] #1078 closed

[2019-03-14 12:56] akosyakov opened #4563 "recently opened files are not filtered in quick file"
see https://github.com/theia-ide/theia/pull/4549#issuecomment-472804656

[2019-03-14 12:59] akosyakov commented on #4543
<img width="552" alt="Screen Shot 2019-03-14 at 13 58 25" src="https://user-images.githubusercontent.com/3082655/54358726-572f4b00-4661-11e9-8edb-a601108273c8.png">
Did you check preferences? They should be there.

[2019-03-14 13:08] akosyakov opened #4564 "error: Preference name collision detected in the schema for property: [go]"
Reproducible with go vscode extension.

[2019-03-14 13:31] akosyakov opened #4565 "[vscode][go] rename refactoring does not work"
[code]

[2019-03-14 13:49] akosyakov commented on #4543
@funcsatish do you have swift open-source project which you expect to work with this extension? that we can test as well

[2019-03-14 13:50] #1999 closed

[2019-03-14 13:58] akosyakov opened #4566 "[vscode][go] toggle test file does not work"
Uncaught (in promise) Error: The command 'editor.action.openLink' cannot be executed. There are no active handlers available for the command. (args: ["file:///workspace/src/github.com/demo-apps/go-gin-app/models.article_test.go"])

[2019-03-14 14:12] akosyakov opened #4567 "[vscode][go] enabling language server does not reload a page"
There is a notification to reload a page triggering `workbench.action.reloadWindow`, but nothing happens.

[2019-03-14 14:18] akosyakov commented on #4561
The same in VS Code:
<img width="1615" alt="Screen Shot 2019-03-14 at 15 18 04" src="https://user-images.githubusercontent.com/3082655/54364022-65cf2f80-466c-11e9-848a-7dbe27960a7b.png">

Please report on typescript repo.

[2019-03-14 14:23] akosyakov opened #4568 "[vscode][go] if GOPATH is not set settings are not revealed"
`vscode-go` tries to reveal settings with `workbench.action.openGlobalSettings` and `workbench.action.openWorkspaceSettings` if GOPATH is not set, but nothing happens in Theia.

[2019-03-14 14:25] akosyakov opened #4569 "[vscode][go] Show All Commands expose not implemented commands"
Namely:
`editor.action.goToDeclaration` - we need new Monaco for it
`editor.action.goToImplementation`
`workbench.action.gotoSymbol`
`workbench.action.showAllSymbols`

[2019-03-14 14:44] akosyakov commented on #4240
Linking: https://github.com/theia-ide/theia/issues/4565

`updateWorkspaceFolders` as well needed for vscode-go extension

[2019-03-14 14:47] kittaakos opened #4570 "[enhancement][tree] All tree widgets automatically select either the root or its first child if any"
Here is the related code: https://github.com/theia-ide/theia/blob/67bc2d4e9ebb0dd169005f80fdeb41074f61463a/packages/core/src/browser/tree/tree-widget.tsx#L247-L257

Subclasses cannot customize it conveniently. (At least I am not aware of it, if you know, let me know)

Extract the logic to a `protected` method, so that subclasses can adjust the behavior.

🎖 Bonus: introduce an optional property on

[2019-03-14 15:49] spoenemann commented on #4079
A very useful explanation on how keyboard handling has evolved in VS Code:

https://github.com/Microsoft/vscode/issues/17521

[2019-03-14 16:46] vince-fugnitto commented on #3278
closed thanks to #4278

[2019-03-14 16:46] #3278 closed

[2019-03-14 19:24] simark commented on #4308
I think I just got bitten by this bug.  I also noticed that my .editorconfig file was not taken into account to set the editor whitespace settings.

The properties for a file are supposed to be applied to a given editor by `EditorconfigDocumentManager.applyProperties`.  However, there are no calls to that method outside of tests, so it's not surprising it doesn't work.

@svenefftinge, commit 260d7

[2019-03-15 02:36] zixuemeng opened #4573 "[terminal][git]Can't exit 'edit' mode after pressing Esc in terminal"
### Description

### Reproduction Steps
1.Exec 'git commit' in terminal
2.Press 'i' to enter 'edit' mode
3.Press Esc

**OS and Theia version:**
os: mac
theia version: 0.4.0
**Diagnostics:**

[2019-03-15 04:01] HighCommander4 commented on #4540
To be clear, the extent of the changes I'm proposing is this: https://github.com/theia-ide/theia/pull/4574

[2019-03-15 04:55] funcsatish commented on #4543
okay thanks, I'll check.

[2019-03-15 04:57] funcsatish commented on #4543
https://github.com/theia-ide/theia/issues/4543#issuecomment-472862566 currently sourcekit-lsp is in developement mode , and not use in production. so after release of sourcekit you can use any  open-source project avaiable on github.

[2019-03-15 05:00] funcsatish commented on #4543
also you have any example of dockerfile having plugins ?

[2019-03-15 06:26] jonghuyn opened #4575 "Is there any reason why theia app can't run in Internet Explorer"
### Description
I am developing theia ide application using theia framework, but it couldn't run in i.e. so I am wondering why it couldn't. I thought the reason why i.e doesn't support some web technology what chrome support already.
### Reproduction Steps

**OS and Theia version:**
Windows 10
**Diagnostics:**

[2019-03-15 06:42] akosyakov commented on #4575
Which version do you mean? IE11? Older versions of IE are already out and IE11 is on the way out: https://www.microsoft.com/en-us/windowsforbusiness/end-of-ie-support As far as I understood MS would prefer you to use Edge.  For us it would be an additional effort to rewrite codebase with only IE11 (which does not have future) compatible APIs.

What does not work concretely by the way?

[2019-03-15 06:44] akosyakov commented on #4543
Copy vsix files in some image folder and then use `THEIA_DEFAULT_PLUGINS=local-dir:path` ENV variable to point to it like here: https://github.com/theia-ide/theia-apps/pull/146/files#diff-ffce79e1eb9166eb9dfd79628eb80ca0R72

[2019-03-15 06:45] akosyakov commented on #4543
yeah, i am just not an expert, thought maybe you have some good demo example

[2019-03-15 06:54] akosyakov commented on #4573
Which browser and version?

[2019-03-15 07:00] kittaakos commented on #4560
There are other flawed rejects in the code. Therefore, the acceptance criteria of this issue is:
 - search for:
   - `.reject('`
   - `.reject("`
   - <code>.reject(`</code>
 - and replacec the strings with an `Error`.

[2019-03-15 07:00] #4537 closed

[2019-03-15 07:02] akosyakov commented on #4508
I tend to close it, with https://github.com/theia-ide/theia/issues/4537 it should not happen often

[2019-03-15 07:22] jonghuyn commented on #4575
Thank you for your answer. I just tried to open browser i.e11. but anything dosen't show up.

![image](https://user-images.githubusercontent.com/14925542/54415076-8ff12200-473e-11e9-9efc-4c08735a3b22.png)

[2019-03-15 07:40] akosyakov commented on #4575
Are there any errors logs?

[2019-03-15 07:54] akosyakov commented on #4524
@svenefftinge suggested to add a cli option for a default value. VS Code has `true` as default value. It works nicely on electron, but in cloud, workspaces usually auto backed up and `false` would make more sense + allow perf improvements like https://github.com/theia-ide/theia/pull/4572

[2019-03-15 07:59] zixuemeng commented on #4573
Chrome version is 72.0.3626.121(64bit).

[2019-03-15 08:22] akosyakov commented on #4524
Actually VS Code does not move to trash by default and only apply preference for `Delete` command. I think we can just align with it. @svenefftinge

[2019-03-15 08:57] mmorhun commented on #4561
Reported into typescript repository: https://github.com/Microsoft/TypeScript/issues/30422

[2019-03-15 09:09] jonghuyn commented on #4575
No there aren't
![image](https://user-images.githubusercontent.com/14925542/54416602-37705380-4743-11e9-9bd3-5de400bad225.png)

[2019-03-15 09:37] vinokurig opened #4576 "Add possibility to register Argument processor for Commands Plugin Api"
### Description

Argument processor in VsCode: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostCommands.ts#L81-L83

Is needed for https://github.com/theia-ide/theia/issues/4266

[2019-03-15 10:26] vince-fugnitto commented on #4558
For new contributors, this occurs when we have two `keybinding` which collide with each-other (attempt to use the same keybinding for different actions)

An example implementation would be to check the codebase for any unused keyboard shortcuts, and/or use the `keyboard shortcuts` widget directly in Theia to search. What's important to note is also we should not add shortcut which may be reserved

[2019-03-15 11:03] sunix commented on #2842
FYI, we have plans to work on it (as part of Eclipse Che) for the next GSoC. You are very welcome to join the effort :)

https://wiki.eclipse.org/Google_Summer_of_Code_2019_Ideas#Topic_1:_Co_Editing

[2019-03-15 11:47] spoenemann commented on #4079
I submitted an issue to the keyboard-map API draft to discuss what we need in Theia:

https://github.com/WICG/keyboard-map/issues/26

We should work on a solution that we can use now, but it would be great if the web APIs could better support our scenario in the future, even if it takes years to get there.

[2019-03-15 11:50] vince-fugnitto commented on #4575
I confirmed that on `IE 11` the application does not start, while `Edge` works.
I am getting an error from the console when starting, namely:

[code]

which refers to the following line:

[code]

Line @akosyakov mentioned, `IE 11` is at its end of life which means that any effort to support it would not be worthwhile at the moment.

[2019-03-15 12:07] vrubezhny opened #4578 "The intelephense PHP extension requires VS Code support to be at least of v.1.31.0"
### Description
It is impossible to install `intelephense` extension as Theia extension plugin because it requires VS Code v. >= `1.31.0`, while we declare it to be `1.27.2` in `plugin-ext-vscode. (I'm not sure on all the consequences, but the `intelephense` extension was satisfied when I applied the following simple fix that just changes the declared VS Code version to be `1.31.0`:
[code]

Refere

[2019-03-15 12:12] lmcbout opened #4579 "[cpp] Handle a new C/C++ linter with "clang-tidy" parameter"
### Description
Newer version of clangd (version 9) introduces handling  a new parameter "clang-tidy" . This is a new linter for C/C++.
Code adjusted and some preferences to be added to handle this new parameter.
ref: https://clang.llvm.org/extra/clang-tidy/
Note: if using clangd (Version 8), it remains as it was before, no changes.

### Reproduction Steps
Install a new version of clangd (version

[2019-03-15 12:28] #4221 closed

[2019-03-15 12:28] mmorhun commented on #4221
Fixed

[2019-03-15 12:39] vrubezhny opened #4581 "[plug-in] Need to implement "files.associations" configuration property"
https://code.visualstudio.com/docs/languages/identifiers

Configuration example:

[code]

https://github.com/Microsoft/vscode/blob/master/src/vs/platform/files/common/files.ts#L681

[code]
It is impossible to install intelephense extension as Theia extension plugin because it requires a defined object (even an empty one is valid) to be returned when it requests for the `associations` preference in

[2019-03-15 13:31] vrubezhny opened #4582 "[plugin] Add PHP grammar contributions"
PHP grammar contributions are must be added to Theia for PHP Language

The CQ [1], [2] needs to be resolved before merging a fix for this issue
Need to remove the similar contribution from PHP extension [3]

[1] https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19282
[2] https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19509
[3] https://github.com/theia-ide/theia-php-extension

Reference issues:
http

[2019-03-15 14:38] funcsatish commented on #4543
you can use any of the one example here https://github.com/raywenderlich/swift-algorithm-club
also i'm currently working on implementing theia-swift-docker, when it's complete and tested, i'll do pr on it.

[2019-03-15 18:11] akosyakov commented on #4582
I would really recommend to consider using builtin vscode extensions instead of textmate-grammars extension. They contain snippets, some default language specific editor settings and so on.

[2019-03-15 18:34] kittaakos opened #4585 "[tree] The tree selection state can go out of sync when reconciling the tree"
We must not store the nodes within the selection state but the IDs only. Otherwise, the tree can get out of sync when reconciling its state.

Here is the fix. I need to add some tests for it.

[code]

[2019-03-15 18:47] kittaakos commented on #4540
I won't hold your proposal back, it is in proposal state anyway.

Why do not you cache it on the server?

[2019-03-15 18:57] HighCommander4 commented on #4540
Thank you :)

A couple of reasons:

 * It's not immediately clear what an appropriate key would be for the cache lookup.
    * The location (file/line/column) can change between requests due to editing.
    * The type name may not be unique across the workspace, even if it's fully-qualified. For example, you may have two different projects in the workspace, each building a separate executable, and

[2019-03-15 19:03] kadircet commented on #4540
In addition to the reasons @HighCommander4 provided, one thing that comes to my mind is:
Caching implies you'll have stale data, and to get rid of that staleness you will need to introduce additional logic.

[2019-03-15 21:08] benoitf commented on #3970
should be fixed now with latest fix https://github.com/theia-ide/theia/pull/4583

[2019-03-16 03:35] jgbradley1 commented on #3829
This issue should be closed since the work is complete.

[2019-03-16 06:31] #3829 closed

[2019-03-16 13:23] tom-shan opened #4587 "language service of c/c++ vscode plugin is not working"
### Description
When I start theia with [c/c++ vs code plugin,](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools) the language service is not working.
The Auto-Completion, Go to Definition/Declaration and Quick Info (Hover) are not working at all.
### Reproduction Steps
1. git clone https://github.com/theia-ide/theia.git
2. cd theia
3. remove @theia/cpp dependency in examples

[2019-03-16 13:26] vrubezhny commented on #4582
@akosyakov The grammars & snippets referenced in CQ (and those I'm going to propose for inclusion to Theia) are taken directly from  VS Code: https://github.com/Microsoft/vscode/tree/master/extensions/php - are they what do you mean?

[2019-03-16 14:35] lodup29 opened #4588 "[cpp] Provide a way to specify directory of build configurations relative to the root of the workspace instead of full system path"
### Description
I tried different things but it looks like the only way to point Clangd to the build directory containing compile_commands.json is to specify the full path from the system's root which is not very portable. Being able to specify the directory from the workspace's root would be better. Of all the things I tried only the first one works:
[code]
### Reproduction Steps
- Run the theiai

[2019-03-17 12:59] amiramw opened #4590 "Vscode Go debugger freeze on web-socket disconnect"
### Description
ms-vscode.Go extension debugger (could be general issue with vscode extension debug) do not handle well server restart or brief web-socket disconnect.

There is a difference between node.js debug and go debug (based on vs-code-ext):
- Node.js: when web-socket disconnects, the debug session resets, the debuggee stops. This behavior seems normal.
- Go: when web-socket disconnects, th

[2019-03-17 13:06] amiramw opened #4591 "Debug session should be resilient to brief web-socket disconnects"
### Rationale
Long living tcp connections, especially over internet are expected to experience disconnects Theia should be resilient to such disconnects also during debug session.

### Suggested behavior

If the disconnect period is shorter than a predefined threshold the debug session resumes after the reconnect. After the timeout threshold, the behavior should be as today for node.js - session r

[2019-03-17 13:45] sr229 opened #4592 "Workbox integration"
### Description

I think we can further improve more the performance of theia by making it a PWA, this can be done by Workbox and cache the static files to improve load times.

[2019-03-17 18:25] jgbradley1 commented on #4541
It [looks](https://www.npmtrends.com/enclose-vs-nexe-vs-pkg) like pkg is the preferred package to use for the past couple years. I can play around with this issue and see if I get anything to work on Theia.

Instead of adding a separate build mode for this
``` yarn theia build --mode binary ```
It would make more sense to just add to the build command when not in development mode.

Is anyone aware

[2019-03-18 00:00] 4oo4 commented on #4469
After doing some testing, I'm wondering if this may actually be something to do with canvas permissions..

[2019-03-18 03:08] ouyangxizi commented on #4529
@akosyakov
Hi~One more question waiting for your help!
I found mini-browser in theia, that's exactly what I want in theia to open a url. How can I call the mini-browser API in vscode extension? I have read a lot of documents and discusses in Spectrum, still cannot solve this problem.
Using the codes below, cannot open url in theia:
```vscode.commands.executeCommand('vscode.open', vscode.Uri.parse(

[2019-03-18 03:23] ouyangxizi opened #4593 "open uri in vscode extension cannot take effect in theia"
### Description
open uri in vscode extension cannot take effect in theia.

### Reproduction Steps
1.register command in vscode
2.add code below
```vscode.commands.executeCommand('vscode.open', vscode.Uri.parse('https://theia-ide.org'));```
3.cannot open the url in theia

**OS and Theia version:**
OS:Linux
Theia newest master code

**Diagnostics:**
I have found mini-browser in theia, wonder how to

[2019-03-18 05:38] yeonggyulim opened #4594 "Syntax highlighting and smart features without WebAssembly"
### Description

I am building my own IDE as following the [manual](https://www.theia-ide.org/doc/TextMate.html) in order to use it on a web browser which doesn't support Wasm.
The problem is that Textmate support deactivates and highlighting and smart features isn't available because WebAssembly is not detected.

Is there any chance to eanble syntax highlighting and smart features on browsers whi

[2019-03-18 06:37] zixuemeng opened #4595 "'Reveal in Files' error"
### Description
1.Click 'Reveal in Files' in ContextMenu
2.'Files' tab is focused, but the selectedNode is rootNode rather than the revealed node

**OS and Theia version:**
OS: mac
Theia version: 0.4.0

**Diagnostics:**
<img width="1235" alt="20190318142934" src="https://user-images.githubusercontent.com/7857086/54510943-4b59c680-498a-11e9-95bf-9fa96aba9d8a.png">

[2019-03-18 06:38] zixuemeng commented on #4595
It may be caused by https://github.com/theia-ide/theia/commit/ffbb7dcff84e085fe27661b99b6ade312e9bc29e

[2019-03-18 07:32] akosyakov commented on #4582
textmate-grammars Theia extension does not have anything except textmate grammars as far as i know. VS Code built-in extensions are more than that.

[2019-03-18 07:35] akosyakov commented on #4594
You can use [monaco-languages](https://github.com/Microsoft/monaco-languages) instead with a custom extension instead of textmate-grammars extension. As soon as languages are registered smart features should be enabled.

[2019-03-18 07:36] akosyakov commented on #4593
specific uri in theia？

From Theia or VS Code extension?

[2019-03-18 07:38] akosyakov commented on #4469
`porcelain` seems to be Git issue: https://github.com/theia-ide/theia/issues/1162

[2019-03-18 07:44] akosyakov commented on #4591
There was an idea to pull debug sessions completely to backend that any user using the same backend can access all running debug sessions. It would enable shared debugging and fix reconnection issues.

[2019-03-18 07:47] ouyangxizi commented on #4593
VS Code extension.

[2019-03-18 07:48] akosyakov commented on #4541
Can Theia be agnostic to them, that an end user can pick one of them or any new packaging lib in the future? I would imaging that an example of docker image doing packaging would be enough. Or there are any issues that it has to be backed in Theia?

[2019-03-18 08:58] akosyakov commented on #4593
[code]

[2019-03-18 09:07] #4565 closed

[2019-03-18 09:27] ouyangxizi commented on #4593
Thanks a lot. These codes worked!

[2019-03-18 09:32] spoenemann commented on #4079
I created a Google document to collect links and insights:

https://docs.google.com/document/d/1p17IBbYGsZivLIMhKZOaCJFAJFokbPfKrkB37fOPXSM/edit?usp=sharing

[2019-03-18 09:38] AlexTugarev commented on #4061
Just opened references in a preview editor and navigation works nicely.

@akosyakov, is this still an issue?

[2019-03-18 09:39] AlexTugarev commented on #3712
Just verified, this is still the case.

[2019-03-18 10:41] akosyakov commented on #4538
fixed by https://github.com/theia-ide/theia/pull/4553

[2019-03-18 10:41] #4538 closed

[2019-03-18 10:54] spoenemann commented on #4079
I'll work on a draft to handle this topic this week.

[2019-03-18 12:49] azatsarynnyy commented on #3970
@benoitf I've tested it with the K8s Plugin. Works well. Thank you!

[2019-03-18 12:52] #3970 closed

[2019-03-18 13:57] svor opened #4599 "[workspace] workspace.findFiles does not work correct"
### Description
As a result of `workspace.findFiles('**​/*.js', '**​/node_modules/**', 10)` I expect to get only `.js` files from the workspace. But files like `file1.jsblabla`, `file2.js.bla` also match to this pattern.

[2019-03-18 14:28] akosyakov commented on #4599
yeah, I've noticed it as well, we append/prepend include glob patterns with `*` for some reasons. Have not touched it, @elaihau do you have an idea it is implemented like that?

[2019-03-18 14:29] akosyakov commented on #4599
@svor vscode APIs right? in Theia extension APIs the first argument is not include glob pattern.

[2019-03-18 14:35] elaihau commented on #4599
a glob of `**​/*.js` is treated as `**​/*.js*` in the service.
I implemented like that because it **was** directly used by the file-quick-open (I don't want users to get different results by searching with `**/package` and `package`).
Since Anton made glob search an option and not used by file-quick-open, I don't think `**​/*.js` should be converted to `**​/*.js*` any more.

[2019-03-18 14:50] svor commented on #4599
@akosyakov You are right! Here it is https://github.com/theia-ide/theia/blob/master/packages/plugin/src/theia.d.ts#L4085

[2019-03-18 14:55] vitaliy-guliy commented on #3523
@akosyakov  It looks we don't have the leakage anymore.Having spent some time on debugging and profiling the backend, I haven't found it.
Let you see at following snapshots.
The first one I got before opening browser tabs, second displays state with 4 tabs and the last one I take after closing the browser.

![snapshot 1](https://user-images.githubusercontent.com/1655894/54539259-7b12c980-499e-11e9

[2019-03-18 16:03] akosyakov commented on #3523
sounds good, thanks for checking!

probably resolved by https://github.com/theia-ide/theia/pull/4521, since a hosted plugin process should be garbage collected now when a connection is closed

[2019-03-18 16:03] #3523 closed

[2019-03-18 19:42] jgbradley1 commented on #4541
An example docker image would probably be the easiest solution for now. An end user must know quite a bit about Node package development in order to generate a lean binary though. For example, [removing the source files](https://github.com/theia-ide/theia-apps/blob/master/theia-docker/Dockerfile#L11) via `yarn clean` works but is not something I would expect to be immediately known by someone lear

[2019-03-18 21:24] theBadT commented on #448
I'm currently working on implementing the tests. Since I'm coming from Java, .NET I'm rather new to typescript. Is it possible to check whether or not a particular call has been executed by a mock?

[2019-03-19 00:18] zeigerpuppy opened #4604 "[feature request] Opening a specific file from workspace via URL"
### Description

When using a flat file CMS, [Hugo](https://gohugo.io) for instance, it is possible to embed an edit link into a page which returns a specific URL.
Then the user can click on that link to open the relevant file in the web IDE.  This idea is sometimes called "deep-linking".  It is very useful for users to be able to access a file within a file tree directly and is supported in a som

[2019-03-19 07:03] akosyakov commented on #448
Such tests should be written against  [TreeModel](https://github.com/theia-ide/theia/blob/master/packages/core/src/browser/tree/tree-model.ts) API, not checking implementation, i.e. mutate something and then use getter to check state.

[2019-03-19 07:11] akosyakov commented on #4541
Could we start with it if it becomes a standard way we can include it in theia-cli? I don't want to be rush and enforce one or another way of packaging on everybody. At the end Theia is a framework. Agree though that it should be easier to consume for open-source users interested in self-hosting.

for `yarn clean` it makes sense to include in theia cli: https://github.com/theia-ide/theia/issues/33

[2019-03-19 07:44] #4585 closed

[2019-03-19 08:37] akosyakov opened #4605 "[vscode] TreeView.onDidChangeVisibility is not a function"
Reproducible with https://github.com/Microsoft/vscode-references-view
[code]

[2019-03-19 10:40] akosyakov opened #4606 "align plugin view styles with rest of views"
For instance here `Results` header in `References` is styled differently from headers in Git and Debug view.
<img width="1054" alt="Screen Shot 2019-03-19 at 11 37 22" src="https://user-images.githubusercontent.com/3082655/54599696-6fc1ab80-4a3b-11e9-8d8d-540c671289ac.png">

Ideally, we should also one view container implementation in core and use it not only in the plugin system.

[2019-03-19 11:00] amiramw opened #4608 "Format Document command is always enabled"
### Description
The context menu command "Format Document" is always available. Also when there is no formatting capability.

### Reproduction Steps

- Create text document called aaa.bbb
- Right click the editor
- "Format Document" is enabled but doesn't do anything

**OS and Theia version:**
OS: Debian GNU/Linux
Thiea: 0.4.0

[2019-03-19 12:35] tsmaeder commented on #4578
See also https://github.com/theia-ide/theia/issues/4124

[2019-03-19 12:37] tsmaeder commented on #4578
@vrubezhny is there an older version of the plugin that would work with 1.27.2?

[2019-03-19 15:00] tsmaeder commented on #4355
I'd like to discuss if it even makes sense to proceed with this at the current time.

[2019-03-19 21:07] theBadT commented on #4558
ctrlcmd+shift+h, where h stands for hierarchy, does the trick?

[2019-03-19 21:54] arekzaluski commented on #4501
@simark My apologies. I forgot to answer you. Both scenarios I described are using separate compile_commands.json (one per project). The only difference in scenarios is the location of those files.
That being said we are also thinking about investigating a solution to support C/C++ intellisense for all programs in the workspace without switching configurations. The solution I was thinking about is

[2019-03-19 23:50] marechal-p commented on #4501
Not so bad of an idea to bridge the gap made by clangd not currently taking multiple compile dbs.

On the other hand, how would you generate such a global `compile_commands.json`?
I was wondering if by the nature of the format, one could just merge each program's compile commands and use that big aggregation.

But I still think that each individual programs might possess multiple ways to be built

[2019-03-20 01:20] dmarhas commented on #1251
Let's suppose I create a standalone application with React ; how would I go about integrating that with Theia? As a plugin or as an extension? Also, how would I access the Theia APIs from this application? Let's say I want to create a wizard with React that intializes some files in the workspace.

[2019-03-20 05:31] frankLife commented on #4187
@svenefftinge excellent!

[2019-03-20 05:31] #4187 closed

[2019-03-20 06:08] akosyakov commented on #1251
With VS Code extensions (Theia plugins) you cannot access Theia extension APIs, only what is available in https://code.visualstudio.com/api/references/vscode-api.

With Theia extensions, you create a subclass of [ReactWidget](https://github.com/theia-ide/theia/blob/dc3d0e0787618d863dc6c86e0cd26377a2fa31dc/packages/core/src/browser/widgets/react-widget.tsx#L24), override [render](https://github.com

[2019-03-20 07:19] akosyakov commented on #3395
One can provide custom icons via an underlying commands already.

[2019-03-20 07:19] #3395 closed

[2019-03-20 07:55] #4540 closed

[2019-03-20 08:57] #3864 closed

[2019-03-20 08:57] #716 closed

[2019-03-20 09:09] #4240 closed

[2019-03-20 09:12] akosyakov commented on #4271
It also makes the bundling with webpack slower since it needs to load more unnecessary files. We have to sort it out.

[2019-03-20 10:22] jbicker opened #4616 "Default Icons for sidepanel tabs"
If one drags a widget which hasn't any TabBar Icon to the sidepanel, we only get this ugly white squared background (which is normally used in combination with a svg as mask).
<img width="320" alt="Screen Shot 2019-03-20 at 11 18 02" src="https://user-images.githubusercontent.com/28291421/54676993-461f8780-4b02-11e9-803d-fd170f6258b0.png">

[2019-03-20 10:36] tsmaeder commented on #4581
"files.associations" is documented as a VS Code preference here: https://code.visualstudio.com/docs/getstarted/settings

[2019-03-20 11:25] arekzaluski commented on #4501
I completely agree that `clangd` supporting multiple `compile_commands.json` is a better solution to this problem. Unfortunately until it is added, a single `compile_commands.json` for all projects sounds like an only possible solution.
At the moment we are using our custom way of generating `compile_commands.json` (works only with mbed projects at the moment. It is a python script.). It gives us

[2019-03-20 12:33] #3456 closed

[2019-03-20 12:45] tsmaeder commented on #4581
I see two problems here:
1. There is no default preference "files.associations" in Theia, so I guess we should add it.
2. What preference in Theia is used instead to associate files with languages? We need to do some adaptation in order to make this work.

[2019-03-20 12:46] #4595 closed

[2019-03-20 12:54] #2788 closed

[2019-03-20 13:07] kittaakos opened #4619 "[git][ui/ux] Adjust the ahead/behind arrows"
Follow-up of: #4617

It used to be the up/down arrow characters, just like in VS Code. Now, it is the fontawesome icon. I propose switching back to the characters. See: https://github.com/theia-ide/theia/pull/3624

Also, VS Code does not show the ahead/behinds when there are no ahead/behinds

Theia
![Screen Shot 2019-03-20 at 14 00 43](https://user-images.githubusercontent.com/1405703/54686100-ca7

[2019-03-20 13:07] tsmaeder opened #4620 "Separate Plugin Host Process"
This is from a comment in https://github.com/theia-ide/theia/issues/4355 by @akosyakov :

It would be good to extract the code for the plugin host process in its own npm package. It should be self-contained and not use code from any Theia extensions, so by doing it dependencies to Monaco should be eliminated. @theia/plugin-ext can use it.

[2019-03-20 13:16] tsmaeder commented on #4048
@akosyakov are you working on this?

[2019-03-20 13:22] akosyakov opened #4621 "[vscode] PreferenceSchemaProvider.setSchema: Cannot convert undefined or null to object"
Reproducible with https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-view-sample
[code]

[2019-03-20 13:37] jbicker opened #4622 "Align sidepanel widget contents with header title"
Left side of contents in sidepanel widgets need to be aligned with the header title.

[2019-03-20 13:56] benoitf commented on #4620
Today I have bigger concern that @theia/core has a direct dependency to electron.
https://github.com/theia-ide/theia/issues/2758
It also brings tons of unwanted files for host process.

[2019-03-20 14:09] vzhukovskii opened #4623 "[views] Provide into Application Shell correct active widget in complex views"
### Description
There is a problem, when we have a complex contribution view with several widgets, for example with trees. There are situations, when we need to check current active widget in Application Shell to setup correct selection in Selection Service. So there is a need to place into Application Shell not a `ViewsContainerWidget` but active tree widget.

<img width="1149" alt="theia — Theia

[2019-03-20 14:19] #3037 closed

[2019-03-20 14:34] akosyakov commented on #4623
@vzhukovskii For now, you can also try to use `document.activeElement` to check focus, i.e. `this.node.contains(document.activeElement)`.

[2019-03-20 14:40] akosyakov commented on #4620
#2758

Agreed that it should be optional.

I wonder how. It should be loaded at build or runtime only for electron target. We don't reference it outside of electron src folders.

[2019-03-20 14:52] kittaakos opened #4625 "[siw][enhancement] Populate the SIW input from the currently selected text from the active editor"
When I have a text selection in the active editor and I press Ctrl/Cmd+Shift+F, I would like to see the SIW input field populated with the currently selected text. This is supported by both VS Code and Eclipse.

[2019-03-20 15:05] benoitf commented on #4620
it's in `node_modules` folder