[2019-12-17 11:24] kittaakos commented on #6740
Follow-up: https://github.com/eclipse-theia/theia/issues/6761

[2019-12-17 11:59] akosyakov commented on #6761
Yes, for now, it would be safer to use es5.

[2019-12-17 12:14] a1994846931931 opened #6762 "Should DebugSession.customRequest return body of the response?"
### Description
In VSCode, `DebugSession.customRequst` returns `response.body` when `response.success` is true:
https://github.com/microsoft/vscode/blob/a6e81fb6863470e7b35f598cab1670ff6c080f15/src/vs/workbench/api/browser/mainThreadDebugService.ts#L248

In theia, `DebugSession.customRequst` returns raw `response`.

### Reproduction Steps
I encountered the problem when I was developing a VSCode ex

[2019-12-17 12:17] akosyakov commented on #6762
If it is expectations of VS Code APIs then it should be aligned. cc @tolusha

[2019-12-17 12:20] akosyakov commented on #520
@gbodeen please open a new issue to get help, please provide what commands you run, make sure that you did `rebuild:electron`. Nothing about building for electron was changed in last 3 years, usually it is misconfiguration of dev environments or some missing command.

[2019-12-17 12:59] tolusha commented on #6762
agree

[2019-12-17 13:00] a1994846931931 opened #6763 "uri parameter of `vscode.window.showTextDocument` is losing its fragment in theia."
### Description
It is possible to register a `TextDocumentContentProvider` on theia, just like VSCode. But I recently found that the `Uri` parameter passed to the overridden `provideTextDocumentContent` is losing its fragment.

For example, if an extension tried to do
[code]
where uri is `test-provider://this-is-path#this-is-fragment`, the uri passed to the `TextDocumentContentProvider` becomes  `

[2019-12-17 13:11] vince-fugnitto commented on #6760
Perhaps you can help @lmcbout since you got it working recently :)

[2019-12-17 13:17] akosyakov commented on #6763
It is, otherwise we will open 2 different editors for the same URI. A fragment semantic usually is to reveal something inside the URI. It does not mean completely other uri, i.e. think html header element references for a page.

Could you point me where this URI gets used and how?

[2019-12-17 13:21] akosyakov opened #6764 "align settings commands and menus with VS Code"
Right now it does not match, i.e. we should align categories, labels of commands and menu actions with VS Code.

It should be done after [the theming PR](https://github.com/eclipse-theia/theia/pull/6475) is landed.

[2019-12-17 13:36] a1994846931931 commented on #6763
@akosyakov In a plugin called `Native Debug`, the Uri is used to open a text document for memory view.
https://github.com/WebFreak001/code-debug/blob/95fa94b954ca78ee34ad95f3aa49c191a0436253/src/frontend/extension.ts#L75
The plugin has some problems running in theia, so you can try the test plugin I uploaded above.

[2019-12-17 14:00] akosyakov commented on #6763
@a1994846931931 I think they should have used `query` not `fragment` to resolve content, `fragment` should be used later to reveal something within fetched content.

Just imagine that calling `file:///foo/bar.txt#L2` and `file:///foo/bar.txt#L5` will return different content.

[2019-12-17 14:01] akosyakov commented on #6763
But we should fix it somehow in the plugin system without affecting the rest of Theia...

[2019-12-17 14:19] akosyakov commented on #6763
Maybe we can extract the default logic of `serializeUri` to a separate class, then rebind it in the plugin system that it checks whether `TextContentResourceResolver` has scheme for such URI and if it has then serialize URI as is, otherwise use the default logic. Not sure whether it can break other VS Code extensions.

[2019-12-17 14:24] lmcbout commented on #6760
From the trace, it looks like you don't read the plugin folder
You define the environment variable : THEIA_DEFAULT_PLUGINS   OK

In your package.json, do you include the following packages to build:
        "@theia/plugin": "latest",
        "@theia/plugin-ext": "latest",
        "@theia/plugin-ext-vscode": "latest",

[2019-12-17 16:10] offer8 commented on #6565
@akosyakov after investigation, there seems to be 2 options to proceed:
1. "UntitledResourceResolver" - add support to create files in file systems
2. Direct 'untitled' schema typed files to be resolved by the "FileResourceResolver" somehow.
We tried and currently it cannot find files because it is concatenating 'untitiled' to file url, as seen here:

[code]

Do you a proposal how to continue?

[2019-12-17 19:10] akosyakov commented on #6361
@tsmaeder Do you remember which version of vscode-java was it?

[2019-12-17 19:25] akosyakov commented on #6023
It's a dup of https://github.com/eclipse-theia/theia/issues/6361. The same errors in logs.

[2019-12-17 19:25] akosyakov commented on #5840
I think it is a dup of https://github.com/eclipse-theia/theia/issues/6361

[2019-12-17 19:46] akosyakov commented on #6361
I can reproduce it with redhat.java@0.47.0 and vscode-java-debug@0.21.0.

But not with latest versions, i.e. redhat.java@0.54.2 and vscode-java-debug@0.23.0.

[2019-12-17 20:38] vince-fugnitto opened #6765 "[scm] inconsistent tooltip for reference checkout statusbar item"
**Description**

The tooltip present from the `SCM` extension to perform a reference checkout is inconsistent with VS Code.

At the moment, the following is present in Theia:

[code]

---

While in VS Code, the pattern is as follows:

[code]

For example, for `master` with _unstaged changes_:

[code]

and for _staged changes_:

[code]

**Additional Information**

https://github.com/eclipse-theia/t

[2019-12-18 01:25] NitinKhandelwal1947 commented on #6760
@lmcbout Even after adding following packages , its failing with same error as mentioned above.
"@theia/plugin": "latest",
"@theia/plugin-ext": "latest",
"@theia/plugin-ext-vscode": "latest",

package.json:-
[code]

[2019-12-18 02:52] a1994846931931 opened #6767 "Integrated terminal should not be resused if a process is running in it"
### Description
If a process is running in an integrated terminal, then a new integrated terminal should be provided for `runInTerminal` request. Otherwise, it could be problematic, even dangerous.

### Reproduction Steps
![integrated-terminal](https://user-images.githubusercontent.com/17487291/71049658-10d1c400-217e-11ea-8769-8879c7bd192f.gif)
In the demo above, if the terminal is already running

[2019-12-18 07:32] dhananjayharel opened #6768 "allow to change menu order"
### Description

Is there any way to change the order of the top menus?
eg: change
File  Edit Selection View
to
File MyMenu Edit Selection View

### Reproduction Steps
If I add a new menu then it gets added after 'View' menu
How can I force it to add it to the initial place?
I did it with DOM manipulation ([insertBefore](https://developer.mozilla.org/en-US/docs/Web/API/Node/insertBefore)) but on h

[2019-12-18 08:16] akosyakov commented on #6767
@a1994846931931 PRs are welcomed.

[2019-12-18 08:27] akosyakov commented on #6768
I think you will need to unregsiter and register them again with different order attribute.

[2019-12-18 08:37] akosyakov commented on #6565
@offer8 Can it be implemented by delegating to `FileResourceResolver`? i.e. whenever `saveContents` a user is prompted to save a file and then an instance of `FileResource` is created, to which `UntitledResource` delegates all calls

[2019-12-18 08:38] dhananjayharel commented on #6768
Thanks for the reply!
I think there is no direct API to unregister the subMenu
https://github.com/eclipse-theia/theia/issues/4252

[2019-12-18 11:43] akosyakov commented on #6768
Looking at the code it does not seem to be possible. Menus are always sorted by an id, i.e. the last segment of a menu path.

[2019-12-18 11:46] akosyakov commented on #4252
@duemaster to unregister submenu:
[code]
for instance:
[code]

[2019-12-18 12:13] vince-fugnitto commented on #6761
Where would be the best place(s) to advertise which target to compile to for extension developers?

[2019-12-18 12:32] lmcbout commented on #6760
@NitinKhandelwal1947
I took you package.json to test :
    yarn
     yarn package:preview
      export THEIA_DEFAULT_PLUGINS="local-dir:$HOME/theia/pluginsJB"  // Where I put some plugins
Start the electron application with:
    yarn start   --> can see my plugins  OR
    cd  dist/linux-unpacked  && ./@theiaexample-electron  --> electron started and I see all my plugins

I am on LINUX environment

[2019-12-18 13:40] akosyakov commented on #6761
Honestly, i thought that everyone is using theia extension generator to get started or copy configs from existing extensions. In both cases it should be es5. Such thing can happen only if someone intentionally switched to es6 without giving a thought to it.

[2019-12-18 15:19] akosyakov opened #6772 "not all decorations are fetched"
Right now decorations are fetched only when a decoration provider fires did change event. Git decoration provider for example never does it for ignore files. We should explicitly collect decorations for files in the navigator.

[2019-12-18 15:20] akosyakov commented on #1564
@vince-fugnitto debugged it a bit, indeed the plugin system does not implement decorator contract properly :( filed an issue here: https://github.com/eclipse-theia/theia/issues/6772

[2019-12-18 16:27] akosyakov commented on #6772
It would be expensive to trigger for everything. I suggest we only request decorators for rendered nodes. They will be a delay before nodes get highlighted as ignored though.

[2019-12-18 17:18] ShimonBenYair commented on #6669
@I051950

What is the exception text ?
Can you attach a screenshot ?

[2019-12-18 18:27] #5517 closed

[2019-12-18 18:27] #6534 closed

[2019-12-19 08:18] a1994846931931 commented on #6763
@akosyakov
I agree that they should move the `fragment` part to `query`, though we still should have it fixed.

Nevertheless, however, I found it interesting that VSCode actually opens different text documents for URIs that differ in fragments.

Try this in VSCode:
[custom-text-document-provider-0.0.2.zip](https://github.com/eclipse-theia/theia/files/3982348/custom-text-document-provider-0.0.2.zip

[2019-12-19 09:10] akosyakov commented on #6763
@a1994846931931 We can allow fragments if there is `TextDocumentContentProvider` is registered for such schema as I've described here: https://github.com/eclipse-theia/theia/issues/6763#issuecomment-566560366

[2019-12-19 09:39] akosyakov commented on #6763
@a1994846931931 I've asked:
- for VS Code https://github.com/microsoft/vscode/issues/87332
- and code-debug https://github.com/WebFreak001/code-debug/issues/199

Maybe I read the spec wrong, will see. Anyway since there are extension doing it let's work on allowing it in the plugin system.

[2019-12-19 10:52] akosyakov commented on #6300
VS Code icons with One Pro Dark color theme:
<img width="1552" alt="Screen Shot 2019-12-19 at 11 51 08" src="https://user-images.githubusercontent.com/3082655/71167912-e94e2a80-2255-11ea-8192-99fb12cf9100.png">

[2019-12-19 11:53] DoroNahari opened #6773 "Pressing `Esc` not closing input box when focus is out"
### Description
In vscode, when some input box is opened and you press `esc` the input box is closing(Regardless of focus).
In Theia, `esc` close the input box only when the focus is in the input box.

### Reproduction Steps
[hello-0.0.1.vsix.zip](https://github.com/eclipse-theia/theia/files/3983406/hello-0.0.1.vsix.zip)
Activate the vsix above (remove the `.zip`) in Theia.
Activate the command "h

[2019-12-19 12:49] akosyakov commented on #6773
Input box do you mean modal dialogs? As far as I know the plugin system does not use Theia dialogs for some reasons, but has own implementation. We should fix it and have one implementation of dialogs.

[2019-12-19 13:57] DoroNahari commented on #6773
By input box i mean https://code.visualstudio.com/api/references/vscode-api#window.showInputBox
![image](https://user-images.githubusercontent.com/24614792/71179092-29bea000-2278-11ea-9e09-6f4f3ef80873.png)

[2019-12-19 14:16] akosyakov commented on #6773
@DoroNahari ok, thanks for following up

[2019-12-19 16:25] #4266 closed

[2019-12-19 16:26] #5218 closed

[2019-12-19 16:49] JesterOrNot commented on #6300
Can you show an example repo @akosyakov

[2019-12-19 19:06] akosyakov commented on #6300
@JesterOrNot Do you mean for Gitpod? Unfortunately it is only PR for Theia for now, first it has to be landed here, then Gitpod needs an upgrade to use a new version of Theia. It will happen in January.

[2019-12-19 19:14] JesterOrNot commented on #6300
Ok @akosyakov my bad!

[2019-12-19 20:29] azatsarynnyy commented on #6755
AFAIK, there's no way to override the reserved hot-keys in Chrome.
See this veeeery old issue https://bugs.chromium.org/p/chromium/issues/detail?id=119881#c84

[2019-12-19 20:53] akosyakov commented on #6755
@azatsarynnyy that's true, i was thinking about having alternative keybindings for browsers. VS Online should have the same issue. It would be good to start a discussion on VS Code repo to have it in package.json keybindings. Maybe as well on vim extension repo, simply explain that we are trying to run it in Theia, that keybindings don't work in browser and suggest to add alternative  attribute to

[2019-12-20 03:09] RDIL opened #6776 "file-icons vscode extension does not work"
https://marketplace.visualstudio.com/items?itemName=file-icons.file-icons doesn't work

[2019-12-20 07:53] akosyakov commented on #6776
We have a PR for it already: https://github.com/eclipse-theia/theia/pull/6475

[2019-12-20 07:58] akosyakov commented on #6776
Checked against the PR, it works nicely:
<img width="1552" alt="Screen Shot 2019-12-20 at 08 57 20" src="https://user-images.githubusercontent.com/3082655/71239451-df383480-2306-11ea-8cf8-16ae7f66a201.png">

The only issue that theme name is `File Icons`, and it is the same name which we use for the default Theia file icons theme. I will rename the default theme to something else.

[2019-12-20 08:27] akosyakov commented on #6361
https://github.com/microsoft/vscode-java-debug/issues/728#issuecomment-567757572 - so it is probably not Theia issue

[2019-12-20 09:37] akosyakov opened #6777 "deploying a never version of extension should reload already installed extension"
Steps to reproduce:
- deploy vscode-java 0.47 from plugins
- then use deploy command to install the latest version
- vscode-java should be redeployed and reactivated

[2019-12-20 11:11] akosyakov commented on #6361
Please use `redhat.java@0.49.0` or never.

[2019-12-20 11:11] #6361 closed

[2019-12-20 11:11] akosyakov commented on #6023
Please use `redhat.java@0.49.0` or never.

[2019-12-20 11:11] #6023 closed

[2019-12-20 11:11] akosyakov commented on #5840
Please use `redhat.java@0.49.0` or never.

[2019-12-20 11:11] #5840 closed

[2019-12-20 11:14] akosyakov opened #6778 "code lens should support octicons"
Originally reported here: https://github.com/gitpod-io/gitpod/issues/1018#issuecomment-567865925

<img width="1552" alt="Screen Shot 2019-12-20 at 10 52 18" src="https://user-images.githubusercontent.com/3082655/71251275-297adf00-2322-11ea-910f-17b1944bb1fe.png">

[2019-12-20 13:47] #5052 closed

[2019-12-20 16:05] azatsarynnyy commented on #1696
I wonder, why Theia has to support `Cmd+Shift+P` hotkey for Command Palette?
It's used in VSCode electron version only.
VSCode online uses Alt+X to avoid issues with the browser reserved hotkeys.
Theia uses F1.
So, I would say having `Cmd+Shift+P` supported by Theia in Chrome it's more like minor compatibility with VSCode electron version. But not a bug.
WDYT?

[2019-12-20 17:00] vince-fugnitto opened #6781 "[theming] input area not visible on light themes when in the main area"
**Description**

The `--theia-input-background` color used for input areas is not visible on light themes when widgets are present in the main area. The color works well for the sidebars but is hardly visible otherwise.

For example (the `keyboard shortcuts` widget):
Notice the input area with the **add** search term.

_Main Area_

<div align='center'>

<img width="1196" alt="Screen Shot 2019-12-2

[2019-12-20 17:21] tomboxyz opened #6782 "Tinder profile coded"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2019-12-20 17:28] vince-fugnitto commented on #6782
Closing as the title and description is not informative.
Please re-open the issue if you have a question, bug report or a feature request.

[2019-12-20 17:28] #6782 closed

[2019-12-20 19:12] akosyakov commented on #6781
Background seems to be fine, it is the same in VS Code:
<img width="1552" alt="Screen Shot 2019-12-20 at 20 10 30" src="https://user-images.githubusercontent.com/3082655/71285203-e857ee80-2364-11ea-8f6b-8f14ca79f7f0.png">

But input borders are missing. We should check which colors are used in VS Code for the keybinidng widget and apply them as well.

[2019-12-20 19:42] vince-fugnitto opened #6783 "[getting-started] add widget icon to 'getting-started' widget"
**Description**

When the default file icons have been changed (#6475), the `getting-started` widget (which does not have a widget icon), gets a blank square.

_Master_:

<div align='center'>

<img width="1148" alt="Screen Shot 2019-12-20 at 2 37 59 PM" src="https://user-images.githubusercontent.com/40359487/71287516-94ceac00-2336-11ea-8486-4792a84bc733.png">

</div>

_PR_: (#6475 with file-icon c

[2019-12-20 19:42] vince-fugnitto commented on #6783
It is likely that any widget that does not have a widget icon will experience a similar issue.

[2019-12-20 20:09] azatsarynnyy commented on #2339
as I see, it's already implemented
https://github.com/eclipse-theia/theia/blob/2b13d55c7e62282b62d7ce212dba66f4c149031c/packages/plugin/src/theia.d.ts#L4168

Feel free to reopen

[2019-12-20 20:09] #2339 closed

[2019-12-20 20:11] azatsarynnyy commented on #2335
I guess it's outdated.
Feel free to reopen.

[2019-12-20 20:11] #2335 closed

[2019-12-21 07:35] celebration02 commented on #894
**How to make Christmas Xmas 2019 and Merry Christmas finally resorted
[](https://www.celebrationishere.com/2019/12/Cr.html)**

[2019-12-21 07:35] celebration02 commented on #894
[https://www.celebrationishere.com/2019/12/Cr.html](url)

[2019-12-22 06:22] Kreyren commented on #6754
Any info on this?

[2019-12-22 15:30] RDIL commented on #6390
This is also happening on every windows machine I try it on.  Please fix it!

[2019-12-23 11:35] #6765 closed

[2019-12-23 11:59] kpge commented on #5804
@vince-fugnitto sorry for the late reply too
I pulled the code and checked this issue, and found that this bug had been fixed!

[2019-12-23 11:59] #5804 closed

[2019-12-23 11:59] vince-fugnitto commented on #5804
Great, and no worries! :smiley:

[2019-12-23 12:33] shahar-h opened #6784 "[navigator] race condition between click and dblClick handlers"
### Description
When opening a file with a double click, both [handleClickEvent](https://github.com/eclipse-theia/theia/blob/25d0e2b3d38bb80e875cda93974ba6a2a7b9015d/packages/navigator/src/browser/navigator-widget.tsx#L233). and [handleDblClickEvent](https://github.com/eclipse-theia/theia/blob/25d0e2b3d38bb80e875cda93974ba6a2a7b9015d/packages/core/src/browser/tree/tree-widget.tsx#L1063) on navigat

[2019-12-23 13:13] vince-fugnitto opened #6785 "[theming] color theme should update quick-open fuzzy highlighting"
**Description**

The **fuzzy highlighting** when using the quick-open should be updatable by color themes.
At the moment, they are always blue.

For example: (using the `red` VS Code theme)

| VS Code | Theia |
|:---:|:---:|
| ![image](https://user-images.githubusercontent.com/40359487/71359770-b52b8000-255b-11ea-99bc-9a8d94eec862.png) | ![image](https://user-images.githubusercontent.com/40359487/

[2019-12-23 13:27] vince-fugnitto opened #6786 "[theming] changing themes quickly results in a dialog"
**Description**

Using #6475, if a user changes themes quickly, a dialog is displayed that there is inconsistency in the global `settings.json` in the editor and on the filesystem  (auto-save is off)

![image](https://user-images.githubusercontent.com/40359487/71360379-b067cb80-255d-11ea-9cbc-923d32a2e8c4.png)

**Steps to Reproduce**
1. using #6475, attempt to change the color theme quickly.
2. a

[2019-12-23 13:31] vince-fugnitto commented on #6785
For reference, the `keybindings-widget` correctly handles the coloring for fuzzy matches.
It should be easy to update the quick-open to do the same:

![image](https://user-images.githubusercontent.com/40359487/71360661-8d89e700-255e-11ea-9e40-14c6a548bb19.png)

[2019-12-23 13:46] vince-fugnitto opened #6787 "[theming] remove scrollbar rail background color on dark themes"
**Description**

There is a regression regarding the scrollbar on dark themes with #6475.
There should not be a white scrollbar rail background color.

For example:

_Master:_

![before](https://user-images.githubusercontent.com/40359487/71361303-967bb800-2560-11ea-9632-581b3a74e77d.gif)

_VS Code:_

![vscode](https://user-images.githubusercontent.com/40359487/71361311-9da2c600-2560-11ea-8347-1a9b

[2019-12-23 14:01] vince-fugnitto opened #6788 "[theming] file-icon incorrectly displays extension icon without extension type"
#### Description

The **file-icon** is incorrectly displayed for files without an extension.
For instance, the icon for the following file `LICENSE` is not properly displayed:

_Theia_

![image](https://user-images.githubusercontent.com/40359487/71361935-849b1480-2562-11ea-8894-b84d141a138e.png)

_VS Code_

![image](https://user-images.githubusercontent.com/40359487/71361890-5d444780-2562-11ea-801

[2019-12-23 18:11] vince-fugnitto commented on #4157
Hi @soerendomroes, do you mind explaining your scenario in more detail?
Which generic language server will be responsible for notifying the application?

[2019-12-23 18:19] vince-fugnitto commented on #3998
@lab4quant it is an interesting idea but unfortunately it is not a priority for the main team to support additional targets as it requires substantial implementation effort, testing, and overall maintenance to achieve. There are several Theia-based `electron` applications already and no real-world requests to support additional targets at the moment.

Pull requests are however always appreciated a

[2019-12-23 19:41] lmcbout opened #6791 "Java project does not run anymore when using redhat.java"
### Description
Cannot run Theia using redhat.java. Replace the @theia/java and @theia/java-debug in package.json with the java version below. Used to work up to  mid last week. When starting a workspace for a JAVA project compiled with/without maven We have now the following message:
"The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."

#

[2019-12-23 19:53] vince-fugnitto commented on #6791
I believe when you added the command line argument to start it still did not work, correct?

[code]

[2019-12-23 20:00] lmcbout commented on #6791
You are correct @vince-fugnitto . Even with the option on the command line when starting : yarn start ...

[2019-12-24 02:09] 502647092 opened #6792 "[nsfw] node_modules/nsfw/build/Release/nsfw.node: _ZN2v820EscapableHandleScope6EscapeEPPNS_8internal6ObjectE: symbol not found"
### Description

can't start theia at alpine

### Reproduction Steps
**OS and Theia version:**
docker alpine

**Diagnostics:**
[code]

[2019-12-24 02:35] 502647092 commented on #6792
I create issue at https://github.com/Axosoft/nsfw/issues/97

[2019-12-24 05:23] #6792 closed

[2019-12-24 06:52] 502647092 commented on #6758
add resolutions at package.json can fix this problem
[code]

[2019-12-25 05:49] I051950 commented on #6669
The issue does not happen by run vscode.debug.startDebugging() with specified workspace folder as a first argument.
Close the issue.

[2019-12-25 05:49] #6669 closed

[2019-12-25 06:31] 1637410810 opened #6793 "centos error in build"
- node:10.15.3

- python:2.7.5

- yarn:1.7.0

Red Hat-based: sudo yum install libX11-devel.x86_64 libxkbfile-devel.x86_64 # or .i686

I failed to execute lerna bootstrap in the directory
`native-keymap: Command failed`

[2019-12-26 03:43] akosyakov commented on #6793
@1637410810 Which command do you execute? Could you provide the entire log please?

[2019-12-26 03:45] akosyakov commented on #6793
@apupier @marechal-p Maybe you have an idea what goes wrong? I don't have an experience with CentOS.

[2019-12-26 03:46] 1637410810 commented on #6793
This issue is resolved, g ++ is missing on centos

[2019-12-26 03:46] 1637410810 commented on #6793
But the dependency always cannot be downloaded sometimes

[2019-12-26 03:47] 1637410810 commented on #6793
@akosyakov This issue is resolved, g ++ is missing on centos。But the dependency always cannot be downloaded sometimes

[2019-12-26 04:54] akosyakov commented on #6781
It's turned out to be hardcoded in css styles for VS Code: https://github.com/microsoft/vscode/blob/ff5f581425da6230b6f9216ecf19abf6c9d285a6/src/vs/workbench/contrib/preferences/browser/media/preferences.css#L127

will do the same

[2019-12-26 07:17] akosyakov commented on #6783
It's a bug, icon element should not rendered if an icon is not set.

[2019-12-26 08:48] akosyakov commented on #6786
I don't think it can happen often, does it? I had hard time to reproduce it.

[2019-12-26 11:07] akosyakov commented on #6787
fixed in https://github.com/eclipse-theia/theia/pull/6475

[2019-12-26 11:07] #6787 closed

[2019-12-27 02:53] akosyakov commented on #6793
@1637410810 Should we update [prerequisites](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites)? If not please please feel free to close the issue. Otherwise PRs are welcome! 😊

[2019-12-27 03:15] 1637410810 commented on #6793
Centos lacks gcc or low version, the latest dynamic library of gcc is not found after update. The dynamic library of gcc needs to be updated

[2019-12-27 03:16] 1637410810 commented on #6793
@akosyakov Centos lacks gcc or low version, the latest dynamic library of gcc is not found after update. The dynamic library of gcc needs to be updated

[2019-12-27 03:16] 1637410810 commented on #6793
@akosyakov Error: /lib64/libstdc++.so.6: version `CXXABI_1.3.9' not found (required by /theia/node_modules/nsfw/build/Release/nsfw.node)

[2019-12-27 03:17] 1637410810 commented on #6793
I think should update

[2019-12-27 03:31] 1637410810 commented on #6793
@akosyakov
The solution I found:
Install Anaconda3-2019.10-Linux-x86_64.sh
`source ~ / .bashrc`

`LD_LIBRARY_PATH = / root / anaconda3 / lib: $ LD_LIBRARY_PATH` (add the anaconda3 library file path to the system's library file path)
`export LD_LIBRARY_PATH`

[2019-12-27 10:57] akosyakov opened #6794 "use debug icon vscoode colors"
See https://code.visualstudio.com/api/references/theme-color#debug-icons

We have to switch to codicon first, see https://microsoft.github.io/vscode-codicons/dist/codicon.html

[2019-12-27 18:56] #1486 closed

[2019-12-27 18:56] #4831 closed

[2019-12-27 18:56] #6300 closed

[2019-12-27 18:56] #6747 closed

[2019-12-27 18:56] #6776 closed

[2019-12-27 18:56] #6781 closed

[2019-12-27 18:56] #6783 closed

[2019-12-27 18:56] #6785 closed

[2019-12-27 18:56] #6788 closed

[2019-12-27 19:10] akosyakov opened #6795 "manage inline breakpoints with the editor gutter context menu"
Right now (after https://github.com/eclipse-theia/theia/pull/5774) one can add inline breakpoints from the main menu, from the command palette or using `shift + f9` short-cut. It would be nice if one would be able to use the context menu in the editor gutter to add/remove/enable/disable a breakpoint at the specific column in the line.

[2019-12-28 12:04] ghuntley commented on #4831
HUGE <3

[2019-12-28 15:07] svenefftinge opened #6796 "[search] opened diff editors don't have a name"
### Description

Opening an editor from a replace search result doesn't show proper tab.

### Reproduction Steps

search for 'foo', expand the replace input field.
Open an editor from a search result.

<img width="519" alt="Screenshot 2019-12-28 at 16 04 40" src="https://user-images.githubusercontent.com/372735/71545510-12746680-298c-11ea-8095-fa9e97d168ec.png">

**OS and Theia version:**

master

[2019-12-28 17:46] ordinaryparksee commented on #411
I published `theia-middleware` package https://www.npmjs.com/package/theia-middleware
Referenced @ilstarno post

[2019-12-29 07:32] tomer-epstein commented on #4050
Is there a plan to imlement 'vscode.openFolder' soon?
* [ ]  vscode.openFolder - Open a folder or workspace in the current window or new window depending on the newWindow argument.

[2019-12-29 13:36] godlin-gh opened #6797 "Plugin api window.activeTerminal can't get the right active terminal"
### Description

I've written a vscode extension(also a theia plugin) which use the api window.activeTerminal. It works well on vscode but not on theia.

I've debugged the theia source code and found the bug here:
https://github.com/eclipse-theia/theia/blob/c99cc1d574864d3ef4049775645313032b36b66d/packages/terminal/src/browser/terminal-frontend-contribution.ts#L116-L120

The `onDidChangeCurrentTer

[2019-12-29 16:15] svenefftinge commented on #6796
This is caused by the example-api extension in `/examples/api-sample`.

[2019-12-29 17:49] akosyakov commented on #6797
@Godlinbupt please feel free to send a PR

[2019-12-29 17:52] akosyakov commented on #4050
@tomer-epstein PRs are welcomed, it should not be hard to implement, there is `WorkspaceService .open` API which accepts an URI of a folder to open and a second options with an argument whether a window should be preserved. One has to add a new command in [PluginVscodeCommandsContribution](https://github.com/eclipse-theia/theia/blob/15af8552a7223922fa59db4a2177d8b570d158fa/packages/plugin-ext-vsco

[2019-12-30 00:37] Godlinbupt commented on #6797
OK，I will send a PR later.

[2019-12-30 05:17] karimaijala commented on #1954
I have the same issue on Ubuntu 18.04 LTS, Chrome 78.0.3904.108, Theia@f255f5a8.
The vertical scrollbar of the terminal window alternates between invisible, partially visible or completely visible depending on the width of the browser window.

Screen shots:
![terminal-scrollbar-invisible](https://user-images.githubusercontent.com/5416703/71568968-4e1a4800-2ad4-11ea-8a8f-d03e23d28a68.png)

![termin

[2019-12-30 05:27] #6797 closed

[2019-12-30 06:25] godlin-gh opened #6800 "plugin api window.showTextDocument was't implemented correctly"
### Description

definition here:
https://github.com/eclipse-theia/theia/blob/a99b5854361b2e1c94d92efd430fd38287541684/packages/plugin/src/theia.d.ts#L3169

implementation here:
https://github.com/eclipse-theia/theia/blob/a99b5854361b2e1c94d92efd430fd38287541684/packages/plugin-ext/src/plugin/plugin-context.ts#L266-L278

the second arg can be ViewColumn type, but the implementation ignore that typ

[2019-12-30 06:27] godlin-gh commented on #6800
I can send a PR if needed.

[2019-12-30 07:04] godlin-gh opened #6801 "DocumentsMainImpl.toEditorOpenerOptions should convert ViewColumn to zero-based index"
### Description

when i call plugin api window.showTextDocument, the call hierarchy looks like:
DocumentsMainImpl.$tryShowDocument -> DocumentsMainImpl.toEditorOpenerOptions

https://github.com/eclipse-theia/theia/blob/a99b5854361b2e1c94d92efd430fd38287541684/packages/plugin-ext/src/main/browser/documents-main.ts#L176-L188

https://github.com/eclipse-theia/theia/blob/a99b5854361b2e1c94d92efd430fd3

[2019-12-30 07:10] godlin-gh commented on #6801
I found there are two other reference of `toEditorOpenerOptions` method at [plugin-vscode-commands-contribution.ts](https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext-vscode/src/browser/plugin-vscode-commands-contribution.ts)

one of that convert the viewColumn to zero-based index using `fromViewColumn` method outside `toEditorOpenerOptions` like below:
https://github.com/eclip

[2019-12-30 11:57] dhananjayharel opened #6802 "dispose all terminals"
### Description
Is there a way to close all opened terminals programmatically?

### Reproduction Steps
I didn't find any API to close the terminals which are opened in the editor.

**OS and Theia version:**

**Diagnostics:**

[2019-12-30 13:24] dhananjayharel commented on #6802
Actually I got the way to do it by simply calling the  API
https://github.com/eclipse-theia/theia/blob/fc49b2c3b8a690ba5b94e1fd48cf17469b51057d/packages/core/src/browser/shell/application-shell.ts#L1169

shell.collapsePanel('bottom')

[2019-12-30 15:35] akosyakov commented on #6802
You can also access all terminals from `WidgetManager` by a terminal factory id and then iterate and close them.

[2019-12-30 15:35] #6802 closed

[2019-12-30 15:56] akosyakov commented on #6800
@godlin-gh sure, PRs are always welcomed

[2019-12-30 15:59] akosyakov commented on #6801
@godlin-gh it sounds reasonable, feel free to work on it.

[2019-12-30 16:45] akosyakov commented on #3686
PRs are welcomed if someone wants to have a look into it.

[2019-12-30 17:44] akosyakov commented on #6786
but it breaks tests from time to time, i.e. https://github.com/eclipse-theia/theia/pull/5774 failing because of it

[2020-01-01 18:25] akosyakov commented on #6565
@amiramw @TomHermanSAP @offer8 Could you test https://github.com/eclipse-theia/theia/pull/6803 please?

[2020-01-01 18:48] akosyakov commented on #6786
Oh, basically we need to reimplement logic from the monaco editor model to handle concurrent updates for resource. I think we are better to rewrite `AbstractResourcePreferenceProvider` with the monaco editor model instead of using the resource directly as @vince-fugnitto were suggesting in another PR. In such implementation if there is no opened editors for such resource we will trigger auto save,

[2020-01-01 19:34] #5768 closed

[2020-01-01 19:34] #5769 closed

[2020-01-01 19:34] #5767 closed

[2020-01-01 19:34] #5788 closed

[2020-01-01 19:40] akosyakov commented on #1954
I had the same another day:
<img width="445" alt="Screen Shot 2020-01-02 at 00 39 37" src="https://user-images.githubusercontent.com/3082655/71645321-6d91ba80-2cf8-11ea-972e-942b7abf8862.png">

[2020-01-01 20:12] akosyakov commented on #6786
That's tricky:
- the editor model cannot be acquired if editor preferences are not ready, so there is a cycle
- it breaks preference tests, since it requires Monaco

I think we can do it after https://github.com/eclipse-theia/theia/issues/6409 that we can port tests to run within the app.

[2020-01-02 02:47] GavinRay97 commented on #4403
@perguth Thank you!

[2020-01-02 05:17] akosyakov opened #6804 "support LSP 6.0.0"
VS Code language server client was migrated to VS Code 1.40 API to make use of the selection range providers, proposed progress and call hierarchy APIs: https://github.com/microsoft/vscode-languageserver-node#3150-protocol-600-client--600-server

Some VS Code extensions start migrating to use it, for instance: https://github.com/gitpod-io/gitpod/issues/1041#issuecomment-570090444

We should be abl

[2020-01-02 05:39] NitinKhandelwal1947 commented on #6760
In MAC machine i am able to fix this issue by applying changes as suggested in below link.
https://github.com/eclipse-theia/theia/commit/e99735181e78d46ab6169eb9b74a7921989b24c9#diff-bba9137b90f183d0b3d5325d2547406a

Now a want add plugins in Windows machine where it again start throwing error when trying to start theia which was build with electron-builder in windows machine.
```root ERROR No plu

[2020-01-02 05:59] akosyakov commented on #6760
You are missing `local-dir:` prefix in THEIA_DEFAULT_PLUGINS.

[2020-01-02 06:18] NitinKhandelwal1947 commented on #6760
@akosyakov If i try to set  THEIA_DEFAULT_PLUGINS with ```local-dir``` prefix it throws below error in Windows machine
```root WARN The directory referenced by local-dir:\\C:\theia\examples\electron\dist\win-ia32-unpacked\resources\app\plugins" does not exist.```

I have used below command to set THEIA_DEFAULT_PLUGINS variable
```setx THEIA_DEFAULT_PLUGINS "local-dir:\\C:\theia\examples\electron\d

[2020-01-02 06:24] akosyakov commented on #6760
Should not it be `local-dir:C:\theia\examples\electron\dist\win-ia32-unpacked\resources\app\plugins`, i.e. without double backslashes?

[2020-01-02 06:54] NitinKhandelwal1947 commented on #6760
If i tried without double backslashes, it throws same error.

```root WARN The directory referenced by local-dir:C:\theia\examples\electron\dist\win-ia32-unpacked\resources\app\plugins" does not exist.```

[2020-01-02 07:35] akosyakov commented on #6791
Probably depends on https://github.com/eclipse-theia/theia/issues/6804?

[2020-01-02 09:28] svenefftinge opened #6805 "[Theming] View Icons seem a little dark"
### Description
In the default dark mode the view icons seem a little too dark.

<img width="76" alt="Screenshot 2020-01-02 at 09 04 43" src="https://user-images.githubusercontent.com/372735/71660223-a5295280-2d4a-11ea-853c-2ff097593194.png">

vs

<img width="98" alt="Screenshot 2020-01-02 at 08 48 44" src="https://user-images.githubusercontent.com/372735/71660225-a5295280-2d4a-11ea-8da6-ac3f7553f

[2020-01-02 09:39] akosyakov opened #6806 "secondary buttons are not distinguishable from primary"
Before:
<img width="522" alt="Screen Shot 2020-01-02 at 14 37 35" src="https://user-images.githubusercontent.com/3082655/71660689-b0da4080-2d6d-11ea-9a84-cc90ac965091.png">

Now:
<img width="525" alt="Screen Shot 2020-01-02 at 14 36 08" src="https://user-images.githubusercontent.com/3082655/71660690-b172d700-2d6d-11ea-8fb4-6b4d9e88274a.png">

[2020-01-02 10:16] akosyakov commented on #6805
With the approach there is a color variable for an inactive tab, but we still apply opacity on top of it making color even darker.

[2020-01-02 12:02] federicobozzini opened #6807 "[core] there seems to be a potential race condition on contribution initialization"
### Description

When creating a new `FrontendApplicationContribution` there seems to be a chance to create some race condition if the `configure` method takes too long.

### Reproduction Steps

To reproduce the error, just create a `FrontendApplicationContribution` that in the `configure` method waits for 1 second. An error in the console appears:

**OS and Theia version:**
Theia version: 0.12
OS

[2020-01-02 16:37] vince-fugnitto opened #6808 "[theming] sidebar icons move when switching between widgets"
**Description**

Switching between widgets in the sidebar (activity bar) causes the active widget's icon to move.
This results in an animation which looks off and is not fluid. There is a discrepancy between the active widget and all other widgets present in the sidebar.

![2](https://user-images.githubusercontent.com/40359487/71678833-1cafaf80-2d54-11ea-9db4-c13f1313f7f1.gif)

**Steps to Reproduc

[2020-01-02 16:54] vince-fugnitto commented on #6806
At the moment, it looks like secondary button backgrounds are calculated from primary buttons but also lightening or darkening. Perhaps it'd be enough to also calculate a grayscale value? (unless secondary colors should also be similar to primary buttons but different shades)

[2020-01-02 18:02] vince-fugnitto commented on #6649
@jankeromnes please try out the vscode extension, and if there are any problems, please open corresponding issues so we can track and complete plugin support.

I do not believe the support should be added directly to the platform but rather be contributed through an already well tested, and feature rich plugin like in vscode as previously mentioned.

Including it directly would mean maintaining it

[2020-01-02 18:02] #6649 closed

[2020-01-02 21:19] vince-fugnitto opened #6810 "[theming] dirty editor tab decoration not properly displayed"
**Description**

The dirty editor decoration is not displayed for tabbars.

<img width="354" alt="Screen Shot 2020-01-02 at 4 13 48 PM" src="https://user-images.githubusercontent.com/40359487/71693688-17199000-2d7b-11ea-8b6c-41dccc2655b3.png">

**Steps to Reproduce**
1. ensure that `editor.autosave` is off
2. make changes in an editor (so that it is dirty)
3. notice the decoration (circle) is not

[2020-01-03 04:03] akosyakov commented on #6806
Unfortunately we can simple change color values only for our themes, but variables should be always derived from VS Code variables: https://github.com/eclipse-theia/theia/wiki/Coding-Guidelines#theming-derive-colors-from-vscode We could try to pick another variable as a base which is grayish.

[2020-01-03 05:10] akosyakov opened #6815 "textBlockQuote colors are not applied properly"
<img width="647" alt="Screen Shot 2020-01-03 at 10 09 01" src="https://user-images.githubusercontent.com/3082655/71708184-21866900-2e11-11ea-852e-f1cdbce0b62a.png">

Background color is used as a foreground color. We should review other base text colors as well.

[2020-01-03 07:49] akosyakov commented on #6807
Yes, it looks like `updateAddRemoveFolderActions` is called too eagerly.

[2020-01-03 11:40] JanKoehnlein commented on #6588
Here is what happens:
- The master state works as is thanks to the `yarn.lock` file (you can easily verify this with Gitpod)
- You cannot just add arbitrary Theia extensions with the bare `next` version qualifier. It will pull the most current `next-xxx` which is different from the one that's nailed down for the existing extensions in the `yarn.lock` file. `yarn` will then try some best effort to

[2020-01-03 11:47] JanKoehnlein commented on #6588
Continued in yangster

[2020-01-03 11:47] #6588 closed

[2020-01-03 13:11] #6808 closed

[2020-01-03 14:05] #6805 closed

[2020-01-03 14:05] #6806 closed

[2020-01-03 14:05] #6810 closed

[2020-01-03 14:05] #6815 closed

[2020-01-03 18:51] akosyakov commented on #3815
Closing it since we have a way to consume built-in extensions by now and most of API and contribution points to support them are implemented. Please open individual issues if some incompatibilities arise.

[2020-01-03 18:51] #3815 closed

[2020-01-03 19:05] vince-fugnitto commented on #6461
Closed thanks to #6798

[2020-01-03 19:05] #6461 closed

[2020-01-03 19:16] vince-fugnitto opened #6818 "[vscode] builtin git 'open changes' toolbar does not work correctly"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-01-03 19:16] #6818 closed

[2020-01-03 21:21] vince-fugnitto opened #6819 "[theming] search result's color in overview ruler is hardcoded"
**Description**

The search result decoration in the `overviewRuler` is currently hardcoded, and at the moment it looks like there are either errors in the file, or there are deletions:

https://github.com/eclipse-theia/theia/blob/ec2a8663ee51a0bcb67c93db918cd2932b4bfc3e/packages/search-in-workspace/src/browser/search-in-workspace-result-tree-widget.tsx#L761-L763

<img width="194" alt="Screen Shot

[2020-01-04 13:32] RomanNikitenko opened #6821 "Align task items"
### Description
Items for tasks related menus look different.
Please see the video: https://youtu.be/2Fi908GFelk

You can see that for `Run Task` and `Restart Running Task` the `detected` tasks look like:
- `tsc : watch - tsconfig.json theia`
- `tsc : watch - tsconfig.json vscode-builtin-extensions`

but for `Terminate Task` and `Show Running Tasks` the same tasks look like:
- `watch - tsconfig.js

[2020-01-04 14:09] RomanNikitenko opened #6822 "Improve the behavior for task tab"
### Description
For some cases tab of a task displays `label details`.
Please see the video: https://youtu.be/bL1aIkB2ens

If I understand correctly `label details` is used for editor tab when two tabs are open with the same title and `label details` contains the path to the corresponding file.
But for a task tab it looks like a double title.
![task-tab](https://user-images.githubusercontent.com/5

[2020-01-05 02:22] NitinKhandelwal1947 opened #6823 "How to add plugins in Windows 10 machine"
### Description
How to add theia plugins in Windows 10 machine. i am trying to add a sample plugins in theia electron which is bundle with electron-builder.
It throws below error when i start the application
```root ERROR No plugin resolver found for the entry C:\theia\examples\electron\dist\win-ia32-unpacked\resources\app\plugins```

### Reproduction Steps
If I set ```THEIA_DEFAULT_PLUGINS``` as

[2020-01-05 08:29] akosyakov commented on #6409
An approach in #5654 although give nice development exp, but does not scale to real products:
- It requires the special build. Consider docker images for example, to apply tests we will need to include them into the build image increasing the size of image and including unnecessary code into the production. It would be better if tests are not coupled with the build but added later, as it is now wi

[2020-01-05 08:32] akosyakov commented on #6409
@amiramw actually i've just seen https://github.com/eclipse-theia/theia/issues/2919#issuecomment-454547044, but you don't have any statically typed support with such approach, do you?

[2020-01-05 09:24] amiramw commented on #6409
I didn't investigate further than query by class names.

Only one API is tested like that. This code injection framework is pretty fragile as it is not in part of theia core and any change in webpack config can break it. Also it doesn't work in production build of webpack. I guess that it can also be solved if the framework is part of theia build. Also it is a limitation we can leave with.

So we

[2020-01-05 09:29] amiramw commented on #6409
Ideally we would like it to be separate so that each team contributing functionality to the IDE can run such tests.

However, I think there is value to such framework even in the theia build scope (for example if it can only run with some dev build flag).

[2020-01-05 12:57] akosyakov commented on #6409
(I'm not sure if this is the smoothest way to debug browser code in puppeteer out there.

It would work in the local scenario, but won't work for remote development. It would be nice if opening a page (even remotely) triggers tests and one could rerun the individual test somehow. I'm still thinking about running mocha and tests within the browser using puppeteer to inject chai, mocha and test suit

[2020-01-05 14:16] akosyakov commented on #6409
@amiramw I've experimented a bit with your approach a bit and hit very fast a need to reference other classes, like URI, constant strings and so on. I think I still have to go with a special function allowing to import modules from bundled code. It also will be more performant and correct, since we will use a proper constructor instead of trying to guess a binding based on class. I've learned thou

[2020-01-06 04:26] #6800 closed

[2020-01-06 04:26] #6801 closed

[2020-01-06 12:20] #5330 closed

[2020-01-06 12:21] #6819 closed

[2020-01-06 12:22] akosyakov opened #6826 "navigation back does not work anymore"
It's a regression:
<img width="1173" alt="Screen Shot 2020-01-06 at 17 18 58" src="https://user-images.githubusercontent.com/3082655/71817759-c4a4e000-30a8-11ea-823e-4d183fd50ae5.png">
<img width="556" alt="Screen Shot 2020-01-06 at 17 18 45" src="https://user-images.githubusercontent.com/3082655/71817760-c53d7680-30a8-11ea-85c3-1776c9869a2c.png">

I think it is caused by https://github.com/eclips

[2020-01-06 12:27] akosyakov opened #6827 "wrong colors for matched symbol in the editor pick widget"
Theia:
<img width="599" alt="Screen Shot 2020-01-06 at 17 26 26" src="https://user-images.githubusercontent.com/3082655/71818083-c4591480-30a9-11ea-881e-ed5aa8811e57.png">

VS Code:
<img width="796" alt="Screen Shot 2020-01-06 at 17 27 30" src="https://user-images.githubusercontent.com/3082655/71818101-d5098a80-30a9-11ea-8cd6-618c92918b98.png">

[2020-01-06 13:22] vince-fugnitto opened #6828 "[electron | explorer] incorrect ordering of folders in the explorer"
**Description**

When running in **Electron**, the folders present in the explorer are incorrectly ordered.
(the **Browser** version works correctly)

_Electron:_

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/71820596-90f09880-305d-11ea-9389-f721e6f16208.png)

</div>

_Browser:_

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/

[2020-01-06 14:34] jeluard opened #6830 "Improve download action"
### Description

It would be handy to improve the `download` action in the following ways:

* support `.tgz`
* allow to filter out some folders (e.g. `node_modules`)

[2020-01-06 14:36] vince-fugnitto opened #6831 "[theming] adjust selected node foreground color (description, decorators)"
**Description**

The foreground color for secondary data present in tree nodes should be updated so they are easily visible when they have selection, for instance, the following occurs in the `preferences-tree-widget`:

![image](https://user-images.githubusercontent.com/40359487/71824552-d1551400-3067-11ea-8551-f0780adf3a01.png)

And in the `explorer` for decorations:

![image](https://user-images

[2020-01-06 14:38] akosyakov commented on #6831
Are you sure that it is not the same for explorer in vs code?

[2020-01-06 14:43] vince-fugnitto commented on #6831
Yes, it is more clearly displayed, I believe with selection, the entire row has the same foreground color for visibility:

![image](https://user-images.githubusercontent.com/40359487/71825039-f8f8ac00-3068-11ea-8fd4-9ab63024df2a.png)

![image](https://user-images.githubusercontent.com/40359487/71825068-0a41b880-3069-11ea-89b9-d5e5a4ff4a5a.png)

[2020-01-06 14:47] #6826 closed

[2020-01-06 15:24] meysholdt opened #6832 "Test View hides when I want it to focus"
### Description
The [test icon](https://github.com/eclipse-theia/theia/blob/c99cc1d574864d3ef4049775645313032b36b66d/packages/plugin-ext/src/main/browser/style/test.svg) disappears when I actually want to open the test view.

### Reproduction Steps
1. Ensure test icon is present next to the icons of File Explorer, Search, etc.
2. Focus the File Explorer.
3. Click on Main Menu -> View -> Test.

Obs

[2020-01-06 15:25] meysholdt commented on #6832
The Explorer and the Search view do not have this issue.

[2020-01-06 15:27] vince-fugnitto commented on #6828
I noticed the issue comes from:

https://github.com/eclipse-theia/theia/blob/12dd1befc74f3186e1f895b353c24814009ffa11/packages/filesystem/src/browser/file-tree/file-tree.ts#L119-L121

More specifically the method: `uriCompare(node, node2)`

[2020-01-06 15:54] vince-fugnitto opened #6834 "[theming] unable to successfully display custom file icons in electron"
**Description**

As part of #6475, it is now possible to change the application's file icon theme.
However, when running in Electron the icons are not properly displayed:

_Default Icon (Theia)_:

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/71829330-60672980-3072-11ea-8c10-28e8c3a045d1.png)

</div>

_Seti Icon (Theia)_:

<div align='center'>

![image](https://

[2020-01-06 15:58] vince-fugnitto commented on #6832
The widgets are toggle at the moment, something we discussed updating in the past https://github.com/eclipse-theia/theia/issues/6187

All the widgets have the same issue unfortunately but it was previously by design.
Closing as it is a duplicate of https://github.com/eclipse-theia/theia/issues/6187 which is more general.

[2020-01-06 15:58] #6832 closed

[2020-01-06 18:58] #6807 closed

[2020-01-06 19:41] vince-fugnitto commented on #6494
Closing the issue as there does not seem to be any urgency or need in updating the default behavior.

Essentially:
- the behaviour is ultimately controlled by end-users through the preference
- the default value can always be set by applications if they wish to do so
- the default value aligns with VS Code
- there is no activity in the issue (others have not expressed to update the default value)

[2020-01-06 19:41] #6494 closed

[2020-01-06 19:43] #6570 closed

[2020-01-07 11:22] #6827 closed

[2020-01-07 11:34] hugleo opened #6838 "Open new terminal using the selected folder as path"
When I open a terminal the work path generally is:

/workspace/theia

Maybe would be interesting if when I select for example the doc folder in the file tree a new terminal would be opened with the path:

/workspace/theia/doc

[2020-01-07 11:44] akosyakov commented on #6838
You can use `Open in Terminal` in the context menu for any folder. This command is always available in the quick command palette when a folder is selected in the navigator.

[2020-01-07 11:56] #6828 closed

[2020-01-07 12:21] hugleo commented on #6838
I didn't notice the option in the context menu. I recheck and now i figure out.

[2020-01-07 12:21] #6838 closed

[2020-01-07 12:43] vince-fugnitto opened #6839 "[theming] minimap is incorrectly decorated for scm updates (additions, modifications)"
**Description**

The minimap is incorrectly decorated for modified, and added lines (always red).
The minimap should be correctly decorated similarly to the `diff-editor`.

_Single Editor:_

<div align='center'>

![editor](https://user-images.githubusercontent.com/40359487/71896202-18eba680-3121-11ea-9d1b-0e49bed71693.png)

</div>

_Diff Editor:_

<div align='center'>

![good](https://user-images.

[2020-01-07 12:53] vince-fugnitto commented on #6839
It looks like all minimap color decorations do not work at the moment, even during testing of adding pre-existing colors to other decorators (ex: `search-in-workspace`) did not work successfully.

[2020-01-07 13:18] vince-fugnitto commented on #5395
The following looks to be fixed in `master`, please reopen if its not the case:

![image](https://user-images.githubusercontent.com/40359487/71898000-2ce5d700-3126-11ea-805c-fb3ea9956a55.png)

![image](https://user-images.githubusercontent.com/40359487/71898038-471fb500-3126-11ea-8b98-0e8e12442a35.png)

[2020-01-07 13:18] #5395 closed

[2020-01-07 13:49] lxn179208 opened #6840 "ide status often turned offline"
### Description
I am using theia with k8s ingress controller, it shows the problem bellow:
![image](https://user-images.githubusercontent.com/811605/71899057-e16b1180-3195-11ea-8e5b-9c5d5ee8bdb9.png)
![image](https://user-images.githubusercontent.com/811605/71899070-ecbe3d00-3195-11ea-8772-16eb1ddc8aec.png)

### Reproduction Steps
// the issue happens occasionally, so below steps may not work

0、b

[2020-01-07 13:58] soerendomroes commented on #4157
I use a language server that supports many hierarchical languages.
The syntax of each language might change. Therefore I added an Xtext fragment to the languages that automatically generates a list of keywords for each language. Via a service interface I am able to send this list to the Theia client on startup. I want to do the same for the languages.

The language server should send a list of sup

[2020-01-07 15:40] akosyakov commented on #6840
it is the issue with your infrastructure configuration, I cannot reproduce it locally or with Gitpod.

[2020-01-07 15:50] vince-fugnitto commented on #6793
@1637410810 what's left or required to resolve the issue?

[2020-01-07 21:34] dannaf commented on #3186
Any recent progress with this?  Looks like @adrienrenaud and others have a nice start, thanks!

Also, is this relevant here? https://github.com/nteract/hydrogen/

[2020-01-08 01:43] 1637410810 commented on #6793
No more

[2020-01-08 01:43] #6793 closed

[2020-01-08 04:01] lxn179208 commented on #6840
I just add monitor cron cmd, curl http://127.0.0.1:3000 inside the pods, no response within 1 mins, the logs show:

ERROR:root:HTTPConnectionPool(host='127.0.0.1', port=3000): Read timed out. (read timeout=1)
ERROR:root:HTTPConnectionPool(host='127.0.0.1', port=3000): Read timed out. (read timeout=1)
ERROR:root:HTTPConnectionPool(host='127.0.0.1', port=3000): Read timed out. (read timeout=1)
INFO:

[2020-01-08 07:25] akosyakov commented on #6409
To run puppeteer with Electron we need Electron 5 at least: https://github.com/puppeteer/puppeteer/issues/4283#issuecomment-496325603

[2020-01-08 08:12] ll9 opened #6844 "Show theia only inside IFrame"
I am running theia as a docker container and embed it into my own website as an IFrame. My current setup looks like this:

dockerUrl: http://localhost:8080
Website Url: http://localhost:5000 and http://localhost:5000/theia (embeds http://localhost:8080 as an IFrame).

I want theia to be available on http://localhost:5000/theia as an embedded IFrame only. I do not want users to be able to visit the

[2020-01-08 09:08] marechal-p commented on #6409
Is it not possible to have one production image, and one test image based on the production one?

This way the test build wouldn't pollute the production image, but still test the production code?

[2020-01-08 09:23] akosyakov commented on #6409
@marechal-p How would you do it in theia-apps without including tests in the image or avoiding building another image, not actually one which will be used by end users? How would you inject tests in Gitpod Theia without rebuilding it for each test repo? We want to avoid testing not production artifacts.

You can follow the new approach on https://github.com/eclipse-theia/theia/tree/ak/integration_

[2020-01-08 09:31] akosyakov commented on #6844
You will need a proxy to deploy theia on context path or some custom extension which use express.js middleware to change the base path.

[2020-01-08 09:45] ll9 commented on #6844
Could you elaborate a bit more? Unfortunately I don't really understand how changing the base path in express would help me hide theia if it isn't in an IFrame.

[2020-01-08 14:05] crawr opened #6845 "Update of preferences from VSCode plugin triggers multiple overwrite popup confirmation"
### Description
It seems there is an inconsistency between the vscode.workspace.getConfiguration().update API in VSCode and Theia.
Even though there are no changes in the configuration, the update is triggered and is trying to overwrite the contents in the settings.json file.

Is there a way to turn off the overwrite confirmation?
Is this a bug in the FileSystem watcher?

### Reproduction Steps
Ex

[2020-01-08 14:17] vince-fugnitto commented on #6845
Related https://github.com/eclipse-theia/theia/issues/6786

[2020-01-08 14:30] westbury opened #6846 "Self-hosting does not work on Windows in Electron mode"
### Description

Plugin self-hosting does not work in the Electron version on Windows.  https://github.com/eclipse-theia/theia/pull/6316 fixes it on Windows for the browser version but does not address the separate issue on Electron.

### Reproduction Steps

Clone https://github.com/tom-shan/theia-plugin-hello-world.
Build (yarn) theia-plugin-hello-world.
Open Theia on theia-plugin-hello-world.
Ho

[2020-01-08 14:38] lmcbout opened #6847 "Command palette overlaps the pull-down menus"
### Description
WE should close the opened pull-down menu when activating the command palette, so they do not overlap.

### Reproduction Steps
-Open any pull-down menu  (File, Debug, View ...
- Open the command palette from the command line :CTRL+SHIFT+P
--> Both popup are open simultaneously
-> After #6843, the pulldown menu does not get refresh after selecting some toggling options.

**OS and Th

[2020-01-08 16:50] vince-fugnitto commented on #6667
Closing since there is no activity, please re-open the issue if you still have problems on installing/building the application.

[2020-01-08 16:50] #6667 closed

[2020-01-08 17:02] lopesc opened #6849 "Some VSCode theme colours missing in Webviews"
### Description
Some of the vscode colour variables are not injected into the webview. Example: Neither`--vscode-input-border` and `--theia-input-border` are available:
<img width="518" alt="Screen Shot 2020-01-08 at 16 58 01" src="https://user-images.githubusercontent.com/7646447/71998743-1891ff00-3238-11ea-9095-cf909c9ad0e3.png">

This example (input-border) is available in VSCode:
https://code.

[2020-01-08 17:31] akosyakov commented on #6845
@vince-fugnitto yes, I think the fix should have both cases

[2020-01-08 17:35] akosyakov commented on #6849
If value of a variable is undefined for some theme then css variable won’t be available. To truly check whether variable is missing one should check whether its identifier does not belong to `ColorRegistry.getColors`. Generally VS code themes use transparent borders and play with background contrast except high contrast theme which reverse the logic, i.e. the same background but 2 different colors

[2020-01-08 19:27] lopesc commented on #6849
Hi @akosyakov, Thanks for your reply.

I don't think that is the case in VSCode. If you do not define a variable in your theme, then it should fallback to the light or dark default (depending on your theme type). To demonstrate, I have created an example theme where the only colour defined in the theme is `"input.background": "#0000ff"` : https://github.com/lopesc/input-blue-theme.

Here is the re

[2020-01-09 01:36] akosyakov commented on #6849
It is the same in Theia, I meant when even the base light or dark theme does not have default value.

[2020-01-09 01:51] akosyakov commented on #6849
But color is there in main window, so something wrong with webviews. I will send a PR.

[2020-01-09 02:03] akosyakov commented on #6849
I could not find what is broken, as I suspected `input.border` is only have value for base HC theme: https://github.com/microsoft/vscode/blob/d3cda21f0e7e3187d53b4db9c52465f1cc660d74/src/vs/platform/theme/common/colorRegistry.ts#L206

All other variables are there in Theia and VS Code.

[2020-01-09 08:52] lopesc commented on #6849
It is given a value the light themes as well, even when the theme does not define it. See my example:
![Screen Shot 2020-01-08 at 19 19 54](https://user-images.githubusercontent.com/7646447/72008750-729cbf80-324c-11ea-8ea5-f149bc1eef37.png)

[2020-01-09 08:53] lopesc commented on #6849
Take look at his theme in vscode and you will see that input border is given a value:
https://github.com/lopesc/input-blue-theme

[2020-01-09 10:04] akosyakov commented on #6849
@lopesc There is no `--vscode-input-border` on the picture. Could you try to look exactly for this variable?

How do you look up styles in VS Code? For which element?

[2020-01-09 11:18] #3960 closed

[2020-01-09 11:18] #6831 closed

[2020-01-09 11:38] westbury commented on #5488
This has been fixed by https://github.com/eclipse-theia/theia/pull/6316, merged yesterday.

[2020-01-09 11:55] vince-fugnitto opened #6853 "[electron] support plugins defined from the user's home directory"
**Description**

As a prerequisite for #3956 (migration and deprecation of Theia extensions to their VS Code counterparts), the plugin system should be able to pick up plugins from the user's home directory, especially useful in the case of Electron.

For example, plugins can be loaded from `${user-home}/.theia/extensions`, where the directory `.theia` is configurable. This will permit existing ap

[2020-01-09 12:03] akosyakov commented on #6853
Maybe it should not be specific to electron, but we always should look into such folder? Right now it breaks with the browser target as well, install new extension dynamically, restart the server, extension is gone.

[2020-01-09 12:07] westbury commented on #2731
I've just tested this.  The tab title and and linking all seem to work fine with files opened from the search results.  I'm therefore closing it.

[2020-01-09 12:07] #2731 closed

[2020-01-09 12:34] vince-fugnitto commented on #6853
I was thinking that perhaps we should fallback to this approach if ever the environment variable is not explicitly set? Looking at the user's home would be the default case, similarly to how we have `settings.json` in the user's home.

[2020-01-09 12:55] #2433 closed

[2020-01-09 13:44] RomanNikitenko commented on #6601
I faced with the same issue today when tried to use my old test plugin.
I tried to generate a new plugin according to https://theia-ide.org/docs/authoring_plugins and got the same error.
Maybe it makes sense to edit docs or do not generate frontend hello world plugin.

[2020-01-09 14:18] lxn179208 commented on #6840
nodejs capture libuv info when theia is offline may be important:

![image](https://user-images.githubusercontent.com/811605/72074928-c3d0b000-332d-11ea-8e36-8990c5501b85.png)

[2020-01-09 15:18] vince-fugnitto commented on #5387
@kaiyue0329 would you like to handle the following issue?

[2020-01-09 18:28] vince-fugnitto commented on #6531
@kaiyue0329 this is a fairly simple change if you'd like to fix it :)

[2020-01-09 18:29] vince-fugnitto commented on #6117
@kaiyue0329 another potential improvement would be to adjust the `keybindings-widget` table from the extension `@theia/keymaps`. It seems that on Firefox, the initial column which is used to display actions is too large.

[2020-01-09 18:31] vince-fugnitto commented on #5831
@kaiyue0329 I think this might be an interesting issue to take a look at, if you require any assistance (ex: how to reproduce) please let me know :)

[2020-01-09 19:35] jeluard opened #6857 "Improve DirectoryArchiver#archive options support"
### Description

[DiretoryArchiver#archive](https://github.com/eclipse-theia/theia/blob/master/packages/filesystem/src/node/download/directory-archiver.ts#L31) doesn't expose all options of the underlying `pack` method. It would be useful to expose all those.

As it's probably used in the wild by some extensions, are we open to deprecating it and implementing a new more open version?

[2020-01-09 19:55] #6529 closed

[2020-01-09 21:15] #5387 closed

[2020-01-10 03:09] akosyakov commented on #6857
cc @kittaakos

[2020-01-10 11:14] toonvd opened #6860 "Plugins keep reloading"
### Description
Plugins keep reloading due to  Language client not being ready

### Reproduction Steps
- Install Theia 0.14.0 with node v11.15.0 and npm v6.7.0 on Debian Stretch
- start developing

**OS and Theia version:**
Debian Stretch, 0.14.0

**Diagnostics:**
[code]

[code]

[code]

[code]

[2020-01-10 13:10] carl-parrish opened #6861 "Can't Activate the Neo Vim plugin."
### Description
Tried installing the neoVim plugin https://marketplace.visualstudio.com/items?itemName=asvetliakov.vscode-neovim. Install seemed to go well. I set the path to nvim then I got a message saying that Activating the extension failed.

### Reproduction Steps

**OS and Theia version:**
ChromeOS - Version 79.0.3945.86 (Official Build) (64-bit)
The latest version of GitPod.

**Diagnostics:

[2020-01-10 13:20] ordinaryparksee commented on #411
@akosyakov i made theia-middleware for authentication but its working only latest version doesn't work with next. how can i adapt to next version? do you know any documentation about next version?

[2020-01-10 13:29] ordinaryparksee commented on #411
i think this `app.use` is not called

    @injectable()
    export class AuthorizationContribution implements BackendApplicationContribution  {

        configure(app: Application): void {
            app.use((req, res) => {

[2020-01-10 13:40] JanKoehnlein commented on #6733
Also reproducible on macOS

[2020-01-10 14:00] vince-fugnitto commented on #6861
@carl-parrish I assume you've also installed https://github.com/neovim/neovim/wiki/Installing-Neovim version 0.4.2 or greater? It is described as a pre-requisite in the extension's [README](https://marketplace.visualstudio.com/items?itemName=asvetliakov.vscode-neovim).

[2020-01-10 14:03] vince-fugnitto commented on #6860
@toonvd can you describe in further details the reproduction steps? For example, which plugin(s) were currently deployed, which language server was throwing errors, etc. It's hard at the moment to pinpoint what is happening.

[2020-01-10 14:43] carl-parrish commented on #6861
nvim -v
NVIM v0.3.4
Build type: Release
LuaJIT 2.1.0-beta3

I'll see if I can upgrade the version.

[2020-01-10 15:05] JanKoehnlein commented on #6733
I confirm: The outline tree model is persisted and on widget restore just loaded. `codeUri`s in the nodes are just objects, not URIs.

I see two possible fixes here:
- not persist the outline's model at all. It refers to the open editor anyway.
- properly restore the model

[2020-01-10 15:18] toonvd commented on #6860
Hi

Thank you for the feedback.
I am using the standard package.json from theia applications with no additional plugins.

[code]

[2020-01-10 15:23] vince-fugnitto commented on #6860
@toonvd sorry I was confused as the title mentioned `plugins`. What is the issue?

[2020-01-10 15:24] toonvd commented on #6860
Hi

Together with these messages, my Vscode plugins got reloaded.
When I disabled them, the behaviour stays te same. Under network, at this moment, I see a new services websocket opened.

[2020-01-10 15:27] vince-fugnitto commented on #6860
Which VS Code plugins are you using? I'm sorry but it is unclear and hard to determine what is failing at the moment based on the information provided.

[2020-01-10 15:31] toonvd commented on #6860
Hi

Sorry for being unclear.

I took a step back to analyse the problem more properly.
I am now running a clean install of 0.14.0 and have the same issue.
It seems like the editor completely disconnects for a second.

I cannot type and my terminal gets reloaded.

This goes together with a reopen of the /services endpoint and the js error and warning I mentioned before. (they all have the exact sam

[2020-01-10 15:38] toonvd commented on #6860
Hi

Looking at this more properly, it looks like a timeout.
Reconnecting-websocket-mjs.js:483 is making a request to /services every 30 seconds.
This is indeed when the reload happens. I think the Google Loadbalancer in front of the server might have something to do with this. Shall I close the issue and investigate further?

[2020-01-10 15:39] vince-fugnitto commented on #6860
Sure sounds good! Thank you for continuing to investigate further.

[2020-01-10 15:39] #6860 closed

[2020-01-10 15:46] toonvd commented on #6860
Hi

The Google docs made this more clear. Usualy, a timeout only happens on inactive websockets, but Google LBs also enforce it over active connections.

You can just configure a higher timeout in the backend settings of the loadbalancer.
I hope maybe my comment can help others with this issue.

[2020-01-10 15:49] vince-fugnitto commented on #2427
I don't believe this is necessary any longer?

The `About` dialog should be one of the first elements an application would customize as the base dialog does not display any relevant information for end-users for an app. Also, since we have the `plugin` view and eventually replace it by the more useful and informative `registry view`, displaying the list of plugins in the `About` dialog is unnecess

[2020-01-10 15:49] #2427 closed

[2020-01-10 15:55] rhildred commented on #411
I think that you are right. I had my authorization pattern working since my previous post (March 21, 2019). The next version no longer works in my environment either.

[2020-01-10 16:46] carl-parrish opened #6862 "Can't install the WakaTime Extention"
### Description
https://marketplace.visualstudio.com/items?itemName=WakaTime.WakaTime

### Reproduction Steps
Install the WakaTime extension at the above URL Try to run it get the error message below.

**OS and Theia version:**

**Diagnostics:**
A valid extension cannot be found in WakaTime.vsix.

[2020-01-10 17:10] vince-fugnitto commented on #6862
The extension [WakaTime](https://marketplace.visualstudio.com/items?itemName=WakaTime.WakaTime) is a **Visual Studio** extension and not a **VS Code** one.
**Visual Studio** extensions are not supported.

Please use the following instead:
https://marketplace.visualstudio.com/items?itemName=WakaTime.vscode-wakatime

[2020-01-10 17:10] #6862 closed

[2020-01-10 17:15] vince-fugnitto commented on #6861
Please re-open the issue if the problem persists with the correct pre-requisite versions.

[2020-01-10 17:15] #6861 closed

[2020-01-10 18:04] vince-fugnitto commented on #3784
Closing for this exact reason 😄

[2020-01-10 18:04] #3784 closed

[2020-01-10 20:06] vince-fugnitto opened #6864 "[explorer] add support for the 'explorer.decorations.colors' preference"
**Description**

Add support for the VS Code **preference** `explorer.decorations.colors`, which is used to enable/disable the display of decoration colors present in the explorer from different providers.

**Motivation**

This preference will permit users the ability to easily control how they want their decorations to be presented in the explorer no matter the provider(s).
- https://github.com/e

[2020-01-10 20:07] vince-fugnitto commented on #6610
Fixed as part of https://github.com/theia-ide/theia-apps/pull/272 🍾

[2020-01-10 20:07] #6610 closed

[2020-01-10 20:25] carl-parrish commented on #6862
Thank you I wasn't aware that there was a difference in extensions. This one worked fine.

[2020-01-10 20:28] vince-fugnitto commented on #6862
No problem, they are two completely different products:
- Visual Studio: https://visualstudio.microsoft.com/vs/
- Visual Studio Code: https://code.visualstudio.com/?wt.mc_id=DX_841432

The application supports [Visual Studio Code](https://code.visualstudio.com/?wt.mc_id=DX_841432) extensions as plugins :)

[2020-01-10 21:22] kaiyue0329 commented on #5831
@vince-fugnitto I re-formatted the file name so that only the only the last part of the path (ex. 'settings.json') is displayed in the title. I was wondering if you can help me to reproduce the issue. Thanks.

[2020-01-11 20:15] dannaf commented on #6408
Any help on this would be appreciated.

Tried it again now this time through a docker container of `theiaide/theia-full` and it still fails in the same way.  (Docker is running on Ubuntu 18.04 and I'm accessing theia via Chrome on a fresh Windows 10 install).

When deploying the container it warns the following.  (I loaded the plugin via `vscode:extension/James-Yu.latex-workshop` in `Deploy plugin

[2020-01-11 20:48] dannaf opened #6865 "LaTeX Preview vscode extension/plugin fails"
### Description
Deploying the vscode [LaTeX Preview](https://marketplace.visualstudio.com/items?itemName=ajshort.latex-preview) plugin does not work

(Especially limiting since other LaTeX plugins are also failing, see https://github.com/eclipse-theia/theia/issues/6408 / https://github.com/eclipse-theia/theia/issues/5794)

### Reproduction Steps
`Deploy plugin by id` with `vscode:extension/ajshort

[2020-01-12 00:16] vince-fugnitto commented on #6865
@dannaf the [extension](https://github.com/ajshort/vscode-latex-preview) you referenced is quite old, and unmaintained (latest release was over 3 years ago). I tested the extension in VS Code and it also did no work with the same error displayed in Theia, mainly:

[code]

If an extension is not maintained and is not updated regularly (against new APIs and breaking changes) I'm not sure there is mu

[2020-01-12 00:23] vince-fugnitto commented on #6865
Ideally, when testing for plugin support and before opening issues, it's important to first determine:
- If the extension properly works in VS Code.
- If there are known issues regarding the plugin (browsing the issues in the extensions repository).

[2020-01-12 00:23] #6865 closed

[2020-01-12 17:47] ira-gordin-sap opened #6866 "Add configurable clean for .theia/logs folder."
### Description
.theia/logs folder is not cleaned.

### Reproduction Steps
Create VS code extension which writes logs to context.logPath received in activate() method.
In my VS Code extension I have:
export function activate(context: vscode.ExtensionContext).
The value of context.logPath on my environment is .theia/logs/20200109T092254/host/<my-ext-pablisher>.<my-ext-name>. I use this folder to cr

[2020-01-12 18:23] vince-fugnitto commented on #5831
Unfortunately, I was unable to successfully reproduce the issue:
- I turned the preference `auto safe` off
- I made unsaved changes to a file
- I made updates on the filesystem for the same file
- I attempted to save the file, and while the save failed the dialog did not appear

Perhaps @AlexTugarev can help steps to reproduce.

[2020-01-12 18:50] vince-fugnitto commented on #6866
@ira-gordin-sap
Thanks for the issue, do you know the current behavior in VS Code?
When are log files cleaned? At which interval? I assume log files are generally cleaned when an extension is deactivated/uninstalled.

[2020-01-13 08:05] ira-gordin-sap commented on #6866
I don't know the current behavior in VS Code.
I am not sure it should happen when an extension is deactivated/uninstalled. I am not sure when deactivate happens on theia.
I thought about automatic clean once a configurable time.

[2020-01-13 08:42] RomanNikitenko commented on #5412
I investigated the issue and found that the [octiconLabel.mock](https://github.com/TypeFox/vscode/blob/b0650697162f9e0ad03e55c869b7faa89a9eaea7/src/vs/base/browser/ui/octiconLabel/octiconLabel.mock.ts#L8-L9) is used for rendering icons instead of the real [implementation](https://github.com/TypeFox/vscode/blob/b0650697162f9e0ad03e55c869b7faa89a9eaea7/src/vs/base/browser/ui/octiconLabel/octiconLabe

[2020-01-13 09:47] spoenemann opened #6867 "[search-in-workspace] opening files outside the workspace root are not included in the search results"
### Description
When using the Search view, no results are shown for files that are opened in an editor, but are not contained in the workspace root. I would expect such files to be included in the search.
Related: #6641

### Reproduction Steps
 * Open a file that is not in the workspace root directory
 * Open the Search view and enter a string that should be found in that file

[2020-01-13 11:08] spoenemann opened #6868 "Remove 'Collapse All Side Panels' menu entry"
See arduino/arduino-pro-ide#39. The 'Collapse All Side Panels' command seems to be misleading for some users. We could replace its menu entry with the 'Toggle Maximized' command, which has a similar effect, but better.

[2020-01-13 11:20] vince-fugnitto commented on #6868
I don't think the command should be removed, perhaps renamed so it's clearer? Something like `Collapse All Panels` if from the `View` menu.

Also, the command `Toggle Maxmized` is quite different since as a user I will potentially no longer see my current widgets collapsed in the sidepanels, as well as the statusbar unless I un-maximize.

[2020-01-13 11:22] vince-fugnitto commented on #6867
The issue is the `search-in-workspace` and not the `file-search` correct?

[2020-01-13 11:24] spoenemann commented on #6867
It's in the _Search_ view. I don't know how it's called internally.

[2020-01-13 11:26] vince-fugnitto commented on #6867
The `search-in-workspace` extension :) That's why I was confused by `file-search` which is in fact simply being able to quickly open files by <kbd>ctrlcmd</kbd>+<kbd>p</kbd>.

[2020-01-13 11:34] jankeromnes commented on #6320
Update: I'm able to detect Terminal `touchstart` and `touchend` events by adding listeners next to the existing `touchmove` listener here:

https://github.com/eclipse-theia/theia/blob/10d526f4f02a192803b85ce8be19abcc54082873/packages/core/src/browser/frontend-application.ts#L196

Unfortunately, `touchevents` listeners only seem to work when attached to the `document`, not the Terminal element, and

[2020-01-13 11:50] vince-fugnitto commented on #6531
Closed by #6858

[2020-01-13 11:50] #6531 closed

[2020-01-13 16:41] spoenemann opened #6872 "[keybindings] Digits are mapped to their alternative meaning on the numpad"
### Description

When Theia is used with Electron on Windows, pressing `3` or `9` in the editor does not produce the respective digits, but rather invokes keybindings associated with `PageDown` / `PageUp`. See arduino/arduino-pro-ide#129 for more details.

### Reproduction Steps

Make sure that you have more than one keyboard layout set up in your system preferences. The problem seems not to occur

[2020-01-13 17:07] vince-fugnitto opened #6874 "[terminal] improve the display of 'new terminal' for multiple roots"
**Description**

The display for `New Terminal` entries should be improved to display the `root names`, and the `uri` as descriptions so they are more readable. At the moment, the `uri` is displayed completely which makes it hard to read especially for longer paths.

In the following example, the roots are `theia` and `theia-copy` but it is difficult to visually grep.
It becomes worse when there a

[2020-01-13 18:22] vince-fugnitto commented on #5831
I managed to reproduce it following the same issue as #6786
Basically the idea is to add `themes` as plugins into the application, trigger the `color theme` command, and quickly change themes and eventually the problem occurs:

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/72280799-2d3f1000-3607-11ea-8d1d-5f858d6b6f7d.png)

</div>

Steps:
1. create a `plugins` f

[2020-01-13 18:39] shahar-h opened #6877 "Theia fails to load with webview and preferences opened"
### Description

When refreshing browser while some Webview widget is opened in the **first** tab, and `preferences` in the **second** tab, Theia fails to load without any error in browser console:
![image](https://user-images.githubusercontent.com/16555289/72280260-9ee78000-3640-11ea-978f-b626c51bdfe2.png)
After clearing `layout` value from browser local storage Theia is able to load again.

###

[2020-01-14 01:20] akosyakov commented on #6877
Which Theia and VS Code extensions you have installed?

[2020-01-14 01:25] akosyakov commented on #5412
Maybe we just should upgrade to latest Monaco and it will come with octicons already? Could you check in the monaco playground?

[2020-01-14 01:30] akosyakov commented on #411
It sounds strange, we did not change anything about backend application lifecycle. Could someone share a GitHub repo to reproduce from sources?

[2020-01-14 01:32] akosyakov commented on #6408
It looks like a command is not registered with `type` id. Someone can have a look what it supposed to do in VS Code and implement accordingly in the plugin system.

[2020-01-14 01:34] akosyakov opened #6878 "not possible to change Monaco keybindings"
Monaco keybinding service reacts on default keybindings, even if we change in Theia. So a user don't have a way to change such keybindings. We should replace this service with no-op implementation.

Originally reported in Gitpod: https://github.com/gitpod-io/gitpod/issues/1060

[2020-01-14 02:26] dannaf commented on #6408
@vince-fugnitto can you please comment if you had the Enter key working when you tested it [here](https://github.com/eclipse-theia/theia/issues/5794#issuecomment-515235227), and if so please provide a reproducible setup

[2020-01-14 04:24] akosyakov opened #6879 "keybindings file format is not compatible with VS Code format"
`key` property should be used not `keybinding`

[2020-01-14 04:27] akosyakov commented on #6786
`KeymapsService` suffers from the same problems

[2020-01-14 05:48] shahar-h commented on #6877
I built Theia from master branch and loaded [GitLens](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens) vscode extension, but I could reproduce this issue with any webview.

[2020-01-14 06:23] ordinaryparksee commented on #411
@akosyakov hi repository is
https://bitbucket.org/vaxy/theta-middleware/src/master/

[2020-01-14 06:52] akosyakov commented on #411
@ordinaryparksee Is there a way to export it to GitHub or GitLab. We are using Gitpod for development and it does not support bit butcket yet.

[2020-01-14 08:28] ordinaryparksee commented on #411
@akosyakov okay cool here imported
https://github.com/ordinaryparksee/theia-middleware
thank you

[2020-01-14 08:44] akosyakov commented on #411
I've updated to latest next and cannot reproduce your issue:
<img width="1552" alt="Screen Shot 2020-01-14 at 13 43 14" src="https://user-images.githubusercontent.com/3082655/72327984-eb2fd000-36d3-11ea-9f5a-cc83b8de2701.png">

a pr for your repo which i used: https://github.com/ordinaryparksee/theia-middleware/pull/1

[2020-01-14 08:54] ordinaryparksee commented on #411
Oh.. i see
then, maybe there is a conflict with some extensions
i'll posting soon when i found it

[2020-01-14 09:01] RomanNikitenko commented on #5412
I checked for 0.19.2 version of Monaco, `codicons` work well for command palette: https://youtu.be/Y1PRBSYKtLM

![codIcons_monaco](https://user-images.githubusercontent.com/5676062/72329346-3d192b80-36bd-11ea-8c0a-a704622e3981.gif)

[2020-01-14 09:06] akosyakov commented on #5412
We have to migrate then. It is a bit involving, see https://github.com/eclipse-theia/theia/wiki/LSP-and-Monaco-integration#migration-guidelines and last migration PR:  https://github.com/eclipse-theia/theia/pull/5901.

The plan was to land https://github.com/eclipse-theia/theia/pull/6852, switch to VS Code extensions instead of Theia extensions (cc @vince-fugnitto @marcdumais-work ) and automate t

[2020-01-14 09:16] ordinaryparksee commented on #411
I misunderstood you updated `package.json`!
Thank you for check

[2020-01-14 10:15] azatsarynnyy commented on #5412
@akosyakov PR: #5901 - am I understand it right that all amount of work in this PR is related to upgrading to a newer version of monaco?

@akosyakov do you mean that upgrading monaco work shouldn't be started before completing the mentioned plan?

[2020-01-14 13:12] #6874 closed

[2020-01-14 13:35] vince-fugnitto commented on #6866
@ira-gordin-sap when testing, which plugins were you using?
I'm trying to determine if it is the responsibility of the plugins to cleanup their log files, or the application itself at some point (and which point/interval).

[2020-01-14 14:21] #5636 closed

[2020-01-14 14:58] ira-gordin-sap commented on #6866
@vince-fugnitto I am implementing log in my VS code extension.
My colleague have found here: https://github.com/microsoft/vscode/issues/75539 that VS Code retains logs of last 10 sessions. (I verified it on my environment.)
The relevant code is here: https://github.com/Microsoft/vscode/blob/613447d6b3f458ef7fee227e3876303bf5184580/src/vs/code/electron-browser/sharedProcess/contrib/logsDataCleaner.

[2020-01-14 15:39] vince-fugnitto commented on #6866
Thank you for investigating further and following up.
Is it something you'd like to handle? PRs are always welcome and you can copy the code from VS Code directly so long as a [Contribution Questionnaire (CQ)](https://github.com/eclipse-theia/theia/wiki/Registering-CQs) is registered.

[2020-01-14 17:15] bd82 commented on #6866
Are these APIs available directly in Theia or should alternatives be used?
[code]

[2020-01-14 18:26] vince-fugnitto commented on #6866
Looking at the code previously referenced, there does not seem to be anything preventing getting the feature to work properly. There are definitely internal Theia methods and APIs that can be used to compliment the feature. Please note that if a straight copy+paste cannot be used, you can always inspire yourself from their implementation.

[2020-01-14 20:00] tetchel opened #6886 "InputBox cursor sometimes misbehaves when typing"
### Description

Sometimes typing in an InputBox misbehaves. If you type faster, it gets worse and worse.
You can see [a recording here](https://github.com/eclipse/codewind/files/3936522/Screen.Recording.2019-12-08.at.11.09.16.AM.mov.zip) from this issue: https://github.com/eclipse/codewind/issues/1424

I **only** see this issue with InputBoxes created using `window.createInputBox`. That is, if yo

[2020-01-14 20:24] kaiyue0329 commented on #6278
I made changes to the index.css inside @theia/debug. It fixes both issues.

[2020-01-14 20:25] kaiyue0329 commented on #6278
I made changes to the `index.css` inside `@theia/debug`. It fixes both issues.

[2020-01-15 01:21] akosyakov commented on #6886
Master state of Theia is 0.15. Did you try with it as well?

[2020-01-15 04:07] bobharley opened #6888 "Add an option to render custom icon templates for menus"
### Description
Right now, the only way to set an icon for a menu is to set `icon` property and that only sets the classname. Currently, It's not possible to provide a custom html template for it.

[2020-01-15 04:19] akosyakov commented on #6888
It is possible to implement only for browser target, since in Electron we rely on native menus.

[2020-01-15 04:20] akosyakov commented on #6888
[DynamicMenuWidget](https://github.com/eclipse-theia/theia/blob/master/packages/core/src/browser/menu/browser-menu-plugin.ts#L152) can accept renderer as options. We could put default renderer in DI context that concrete product could customize it.

[2020-01-15 05:29] akosyakov commented on #5412
It is more. First https://github.com/TypeFox/monaco-languageclient have to be migrated, after that we should update and test Theia. Testing usually is the biggest effort. If you want to start working on monaco-languageclient, I can make you maintainers that you can move faster, see https://github.com/TypeFox/monaco-languageclient/issues/164

Upgrading monaco-languageclient is irrelevant to it. Gen

[2020-01-15 09:10] akosyakov commented on #2077
@marechal-p I've assigned you. It would be super cool if you can finish it.

[2020-01-15 09:10] akosyakov commented on #4442
@marechal-p I've assigned you. It would be super cool if you can finish it.

[2020-01-15 11:27] #6872 closed

[2020-01-15 11:27] #6308 closed

[2020-01-15 13:35] #2300 closed

[2020-01-15 13:49] ira-gordin-sap commented on #6866
I would very much like to handle. Waiting for approval from my product owner.

[2020-01-15 13:50] vince-fugnitto commented on #6866
Sounds great!

[2020-01-15 14:47] RDIL opened #6890 "Automatically render `Pipfile`s as TOML"
`Pipfile` files are TOML and should be highlighted as such.

[2020-01-15 15:12] vince-fugnitto commented on #6890
@RDIL thanks for the issue, can you perhaps describe the problem in further detail?
I assume that you do not see syntax highlighting for pipfiles?

This will likely be covered by the [VS Code Python extension](https://marketplace.visualstudio.com/items?itemName=ms-python.python)

Related issue:
- https://github.com/Microsoft/vscode-python/issues/995

[2020-01-15 15:14] RDIL commented on #6890
Yup, theia thinks that it's just plain text.

The issue had a merged PR attached: https://github.com/microsoft/vscode-python/pull/1975

[2020-01-15 15:20] vince-fugnitto commented on #6890
The idea is to use [vscode-python](https://marketplace.visualstudio.com/items?itemName=ms-python.python) over the soon-to-be-deprecated `@theia/python` extension. As a platform, we are trying to keep language specific extensions out of the framework in favor of them being contributed through external plugins (by applications), therefore there is no update to be made on the Theia side.

[2020-01-15 15:21] vince-fugnitto commented on #6890
If there is an issue using the [vscode-python](https://marketplace.visualstudio.com/items?itemName=ms-python.python) extension within Theia (including syntax highlighting for `pipfiles`), then issues should be opened so that we can track and fix them.

[2020-01-15 15:45] #6890 closed

[2020-01-15 18:39] vince-fugnitto commented on #6445
The question has been previously answered, feel free to re-open the issue if you have any subsequent questions/issues :)

[2020-01-15 18:39] #6445 closed

[2020-01-15 19:16] vince-fugnitto commented on #6408
I've verified it and I notice that the issue <kbd>ENTER</kbd> key does not work (to create newlines).
It did work however when executing <kbd>CMD</kbd>+<kbd>ENTER</kbd>.

[2020-01-16 02:09] Hanksha opened #6891 "Submenu icon"
Add possibility to set an icon for a submenu. Current `MenuModelRegistry.registerSubmenu` only accept a label.

For example:
![Screen Shot 2020-01-16 at 9 13 35 AM](https://user-images.githubusercontent.com/6960133/72487245-5f8b8000-3848-11ea-880f-a2902942920d.png)
I'd like the `Add` submenu to have a `+` green icon.

[2020-01-16 02:18] akosyakov commented on #6891
@Hanksha I don't think active committers will work on it any time soon. An idea will be to add another argument to `registerSubmenu`, something like `SubmenuOptions`, which should be optional and it can have different properties in it. Feel free to work on it and send a PR.

[2020-01-16 02:49] Hanksha commented on #6891
@akosyakov Alright, I will do when I get some free time.

[2020-01-16 03:32] akosyakov opened #6892 "api tests coverage"
It's a follow-up: https://github.com/eclipse-theia/theia/pull/6852

There are several issues to get proper coverage:
- mapping to source maps is hard
- lcov reporter does not work with coverage generated from the puppeteer
- coverage is provided only for frontend code, not backend or language server, debug adapters and so on

The last point was there always and make the coverage report useless, i.

[2020-01-16 07:09] akosyakov commented on #317
I will keep it as a follow-up of https://github.com/eclipse-theia/theia/pull/6852 We can run the same tests with puppeteer against Electron, but we need latest version.

[2020-01-16 11:11] voicis opened #6895 "Inconsistent vscode.workspace.onDidChangeTextDocument behaviour"
### Description
I'm developing VSCode (intended to work also in Theia) extension for XML files. One of the features is to insert `><>` when user types `<` in a XML file. I use `workspace.onDidChangeTextDocument` event for that, but there are some inconsistencies in how the handler function is called in Theia and VSCode. If you serialize the range of the change from arguments, you can see that it i

[2020-01-16 12:01] #6278 closed

[2020-01-16 12:24] vseager opened #6896 "Find in Folder - no results"
### Description
When using the "Find in Folder" option, no results are returned. The files can be found is searching all files, just not when searching specific directories.

### Reproduction Steps
* Copy text from file
* Right click on a parent folder and click "Find in Folder"
* Paste text and search

![screencast-che-che dev edge-servers com-2020 01 16-12_14_57](https://user-images.githubuserco

[2020-01-16 15:33] Anasshahidd21 commented on #6548
I tried testing it, and it works on my machine. I wanted to know if this is still a issue that we should be looking at?

[2020-01-16 15:57] jankeromnes commented on #6320
Actually, with iOS 1.13, <kbd>Cmd</kbd> + <kbd>click</kbd> now works now on iPad if you have an external keyboard.

[2020-01-16 16:13] marechal-p commented on #6724
@Anasshahidd21 tried using VS Code builtin extensions:

- [markdown-basics](https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/markdown-1.39.1-prel.vsix)
- [markdown-language-features](https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/markdown-language-features-1.39.1-prel.vsix)

It works in the way that links are clickable lik

[2020-01-16 16:27] vince-fugnitto commented on #6724
Great! That's what I reported in https://github.com/eclipse-theia/theia/issues/6730

[2020-01-16 17:20] #6320 closed

[2020-01-16 20:00] marcdumais-work commented on #6190
@Anasshahidd21 do you want to have a look?

[2020-01-16 20:40] IPvSean commented on #2005
@donalod did you ever figure out how to open a default directory view and keep the terminal open?

[2020-01-16 22:05] elliott-wen opened #6898 "NSFW is leaking memory in single thread mode"
### Description
When using the no-cluster (i.e., single-thread mode), NSFW is no releasing memory properly.

### Reproduction Steps
Using the master (^0.14.0) version, yarn start --no-cluster, and go to localhost:3000/#/.
(Using the root directory as workspace, because there are a lot of files over there).

For each new chrome tab of localhost:3000/#/, you can see the nodejs backend is consuming a

[2020-01-16 22:22] vince-fugnitto opened #6899 "[core] fix typos present in '@theia/core'"
**Description**

The following typos were discovered in `@theia/core` and should be properly fixed:

`offlline` > `offline`

https://github.com/eclipse-theia/theia/blob/8dcd4319b36f3acb9aa238b39cca10511a62251c/packages/core/src/browser/common-frontend-contribution.ts#L1567

https://github.com/eclipse-theia/theia/blob/8dcd4319b36f3acb9aa238b39cca10511a62251c/packages/core/src/browser/common-fronten

[2020-01-16 22:26] vince-fugnitto commented on #222
I think the feature should be handled by an external VS Code extension, namely [Bookmarks](https://marketplace.visualstudio.com/items?itemName=alefragnani.Bookmarks) which is quite popular.

If it's not the case please re-open the issue :)

[2020-01-16 22:26] #222 closed

[2020-01-16 22:29] #443 closed

[2020-01-16 22:31] vince-fugnitto commented on #343
At the moment I don't think there are any plans to add `SonarQube` in order to get metrics.
I will place the the issue on-hold for the moment and re-open it if the status ever changes.

[2020-01-16 22:31] #343 closed

[2020-01-16 22:41] vince-fugnitto commented on #1153
The issue is now outdated since the example `Dockerfile` has recently been removed from the repository since it was unmaintained/unused: https://github.com/eclipse-theia/theia/pull/6585

[2020-01-16 22:41] #1153 closed

[2020-01-16 22:46] vince-fugnitto commented on #1463
Closed thanks to #6475

[2020-01-16 22:46] #1463 closed

[2020-01-16 22:57] vince-fugnitto commented on #1602
The `explorer` behavior has been updated to be aligned with the behavior present in vscode in which we display the workspace root as the widget's title. Only in the case of a multi-root workspace are the workspace folders visible.

<div align='center'>

<img width="610" alt="Screen Shot 2020-01-16 at 5 57 29 PM" src="https://user-images.githubusercontent.com/40359487/72569986-ae0d3e80-3889-11ea-85

[2020-01-16 22:57] #1602 closed

[2020-01-16 23:06] vince-fugnitto commented on #1792
@jbicker do you mind sharing additional details regarding the feature?
Does it still apply once we migrate to `git` and `git-ui` builtins?

[2020-01-16 23:26] vince-fugnitto commented on #1717
Clojure syntax highlighting is now contributed by [`vscode-builtin-clojure`](https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/clojure-1.39.1-prel.vsix) (related PR #6883).

[2020-01-16 23:30] vince-fugnitto commented on #1826
@dvc94ch I undertand the issue is quite old, but I am having trouble trying to understand the feature request. Are you looking for a UI to view commands, keybindings, and be able to edit them?
If so, the corresponding widget is the `keybindings-widget`.

[2020-01-16 23:35] vince-fugnitto commented on #2025
Closing since the `@theia/extensions-manager` has been deprecated/removed #6884

[2020-01-16 23:35] #2025 closed

[2020-01-16 23:39] vince-fugnitto commented on #1974
Closed thanks to https://github.com/eclipse-theia/theia/pull/6008 🍾

[2020-01-16 23:39] #1974 closed

[2020-01-16 23:51] #3955 closed

[2020-01-17 00:01] tetchel commented on #6886
Yes, I can.
[theia-textfield.mp4.zip](https://github.com/eclipse-theia/theia/files/4074343/theia-textfield.mp4.zip)

Interestingly, I tried reproducing it first with the [VS Code quickinput sample](https://github.com/microsoft/vscode-extension-samples/blob/master/quickinput-sample/src/multiStepInput.ts), and I didn't see the bug there.

[2020-01-17 08:30] azatsarynnyy opened #6900 "Upgrade to the latest Monaco"
VS Code has replaced Octicons with Codicons https://github.com/microsoft/vscode/pull/82729
We have to upgrade to the latest Moncao in order to get this support. See https://github.com/eclipse-theia/theia/issues/5412#issuecomment-574072885

closes #5412

##### Sub tasks:
- [x] upgrade [vscode-ws-jsonrpc](https://github.com/TypeFox/vscode-ws-jsonrpc) to the `5.0.0` version of `vscode-jsonrpc` https:

[2020-01-17 08:36] NitinKhandelwal1947 opened #6901 "On Windows, when Theia electron is closed from the UI, its process is not killed"
### Description
On Windows, when Theia electron is closed from the UI, its process is not killed

### Reproduction Steps
Packaged theia with electron builder and then started the theia electron as .exe
When closing the theia electron by clicking ```X``` button , its process not killed.

**OS and Theia version:**
yarn version:- 1.7.0
node version:- 10.15.3
npm version:- 4.6.1
Windows 10 System
Thei

[2020-01-17 08:37] azatsarynnyy commented on #6900
@akosyakov as you usually do that upgrade and you have the experience, please direct us if there is anything more we need to consider except the Migration Guidelines.
We would be very grateful.

[2020-01-17 08:42] NitinKhandelwal1947 commented on #6760
The issue is resolved by setting THEIA_DEFAULT_PLUGINS as below
``` setx THEIA_DEFAULT_PLUGINS "local-dir:C:\\theia\\examples\\electron\\dist\\win-ia32-unpacked\\resources\\app\\plugins" ```

[2020-01-17 08:42] #6760 closed

[2020-01-17 08:45] NitinKhandelwal1947 commented on #6823
@akosyakov  The issue is resolved by setting THEIA_DEFAULT_PLUGINS as below
```setx THEIA_DEFAULT_PLUGINS "local-dir:C:\\theia\\examples\\electron\\dist\\win-ia32-unpacked\\resources\\app\\plugins"```

[2020-01-17 09:15] dhananjayharel opened #6902 "hello world extension getting error"
### Description

### Reproduction Steps
Here are the logs when I execute yarn command after 'yo theia-extension'

./node_modules/@theia/core/lib/browser/diff-uris.d.ts(31,5): error TS2416: **Property 'getConstituentUris' in type 'DiffUriLabelProviderContribution' is not assignable to the same property in base type 'LabelProviderContribution'.**
  Type '(uri: URI) => URI[]' is not assignable to typ

[2020-01-17 09:15] akosyakov commented on #6900
@azatsarynnyy The start will be to create a PR in monaco-languageclient which upgrades it to latest Monaco and LSP version. There also could be some PRs which has to be applied first. Would it be fine if I invite you and @RomanNikitenko as maintainers to this project that you can merge existing PRs if you need them?

[2020-01-17 09:18] benoitf commented on #6900
BTW should we move monaco language client to `eclipse-theia` or `theia-ide` org ?

[2020-01-17 09:29] dhananjayharel commented on #6902
Was able to remove this error by replacing `_"strict":true_`  to `_"skipLibCheck":true_`
in tsconfig.json file.

[2020-01-17 09:39] azatsarynnyy commented on #6900
@akosyakov sure

[2020-01-17 09:58] akosyakov commented on #6900
I don't know @svenefftinge ? generally, monaco-languageclient cares only to monaco and lsp, Theia just one of its consumer, there are other projects who don't care

[2020-01-17 10:03] akosyakov commented on #6900
@azatsarynnyy @RomanNikitenko I've invited you with admin privileges. The only thing which you cannot do is to publish official release, but whenever you merge something to master `next` version will be published.

Regarding to moving under theia-org, I'm not opposed if it makes it easier to contribute. But @svenefftinge should decided. It's pure TypeFox project.

[2020-01-17 10:06] akosyakov commented on #6900
We should for sure do the custom build of monaco from fork under theia-ide org this time, not from TypeFox. But that's later.

[2020-01-17 11:09] vince-fugnitto commented on #6902
Closing since the proper repository is https://github.com/theia-ide/generator-theia-extension, please feel free to open an issue there.

`skipLibChek` has been added as far as I know:

https://github.com/theia-ide/generator-theia-extension/pull/30/files#diff-0bdb67dbc524e1064bdf7aa65e73d6e4R3

[2020-01-17 11:09] #6902 closed

[2020-01-17 11:12] vince-fugnitto commented on #6901
There is a similar issue for Linux (https://github.com/eclipse-theia/theia/issues/5644).
There are two comments you can try:
- https://github.com/eclipse-theia/theia/issues/5644#issuecomment-508770723
- https://github.com/eclipse-theia/theia/issues/5644#issuecomment-508771982

[2020-01-17 11:38] azatsarynnyy opened #6904 "Align Git state markers in the Navigator with VS Code"
To align Git state markers in the Navigator with VS Code we can:
- replace the letters on folders with the dot/circle sign indicating that files inside are modified. It looks more clear and less noisy in VS Code
- if it's possible, apply the different color styles to the file names depending on the Git status

**Theia**
![image](https://user-images.githubusercontent.com/1636395/72609215-0f3a1e00-3

[2020-01-17 11:42] azatsarynnyy commented on #6904
**Theia**
![image](https://user-images.githubusercontent.com/1636395/72609215-0f3a1e00-392d-11ea-8fd2-f99ba7dc7090.png)

**VS Code**
![image](https://user-images.githubusercontent.com/1636395/72609195-05181f80-392d-11ea-87b6-7b3f3045ad1d.png)

[2020-01-17 11:56] vince-fugnitto commented on #6904
Moving forward, it should work when using `git` and `git-ui` builtins.
The changes are actually from `scm`.

[2020-01-17 12:06] donalod commented on #2005
@IPvSean negative, I sank too much time and was not familiar enough with it, so I bailed unfortunately. Sorry I don't have better news.

[2020-01-17 12:16] vince-fugnitto opened #6905 "[dialogs] improve display of dialogs"
**Description**

Currently, **dialogs** which have a lot of content are not properly displayed (width-wise).

In order to fix their entire content, the dialog will take up as much width as possible which gives off a poor UX. Instead of placing the responsibility on developers to place carriage returns, the application should define proper `max-width` rules to enforce a consistent layout.

Develope

[2020-01-17 12:29] vince-fugnitto commented on #6905
We can add a new optional parameter to `DialogProps` for which we control the desired width of the dialog. This will mean that existing dialogs will not be broken by the change, but we can adjust internal dialogs with the new parameter.

https://github.com/eclipse-theia/theia/blob/8dcd4319b36f3acb9aa238b39cca10511a62251c/packages/core/src/browser/dialogs.ts#L24-L26

[2020-01-17 12:31] #6878 closed

[2020-01-17 12:41] vince-fugnitto commented on #5713
I don't believe this is a bug since the `replace-diff` editor does not in fact have a `file://` scheme in which clangd knows about but it is just a representation of a file. In any case if it's really an issue is should now be moved to [theia-cpp-extensions](https://github.com/eclipse-theia/theia-cpp-extensions) repo.

[2020-01-17 12:41] #5713 closed

[2020-01-17 12:47] vince-fugnitto commented on #6877
I think its related to https://github.com/eclipse-theia/theia/issues/6287 also.

[2020-01-17 12:52] vince-fugnitto commented on #6540
The syntax highlighting should now be provided by [vscode-builtin-yaml](https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/yaml-1.39.1-prel.vsix) once `@theia/textmate-grammars` is deprecated.

[2020-01-17 14:42] vseager commented on #6896
@akosyakov I'm sorry I'm an end user and not sure what you mean by this. I've already explained the issue the best I can and included a screencast so hopefully this helps you find a resolution.

[2020-01-17 14:55] benoitf commented on #6896
@vseager it would be nice if you can provide the link to the source code (like a github repository if it's public) and the string that you're searching with text format in the issue.

[2020-01-17 14:59] vseager commented on #6896
@benoitf The repository is private but the project is a Magento project (https://github.com/magento/magento2/) . You could replicate the issue by searching for any term, for example if you were trying to find the string "class DefaultConfigProvider" in the file https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Checkout/Model/DefaultConfigProvider.php by searching within one of

[2020-01-17 16:01] marcdumais-work opened #6906 "Java language server not starting"
### Description
Original report: https://github.com/theia-ide/theia-apps/issues/285

The Java LS is no longer starting correctly. I have reproduced the issue using the example application.

### Reproduction Steps
Build the browser example and open a `.java` file. After a few seconds, an error message appears: "Failed to start Java language server: Message could not be parsed."

**OS and Theia vers

[2020-01-17 17:50] vince-fugnitto commented on #1099
It may come soon as it's a VS Code Insiders feature: https://github.com/microsoft/vscode/issues/60043#issuecomment-572932936
@marcdumais-work the visionary! :+1:

[2020-01-17 18:48] corneliusludmann opened #6907 "[theme][Markdown] Text of shell code blocks with light theme are rendered in the same color as the background in Markdown files in text editor"
### Description
The text of shell code blocks in Markdown files are rendered white (same as background) in light theme in the text editor (NOT the Markdown preview).

### Reproduction Steps
Create a Markdown file (e.g. README.md) and add the following content:

    Build:
[code]
In the dark theme is looks like this:
![image](https://user-images.githubusercontent.com/24960040/72637441-a1f4b000-3961

[2020-01-17 23:58] monaka opened #6909 "Uncaught (in promise) Error: Request 'resize' failed"
### Description

Sometimes I got the error like this.

[code]

Actually my environment is Che-Theia. But this will be caused by Theia component.

### Reproduction Steps

I've not prepared reproduction steps yet.

**OS and Theia version:**

`Che-Theia@e148767 using Theia@10d526f`

**Diagnostics:**

[2020-01-18 00:31] vince-fugnitto commented on #6909
It'd be nice to have proper reproduction steps before opening the issue so it can be properly investigated/validated. From the error logs it looks like it comes from a Che specific component `RemoteTerminalWidget` which extends Theia's `TerminalWidgetImpl`.

https://github.com/eclipse/che-theia/blob/master/extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts#

[2020-01-18 01:54] akosyakov commented on #6909
Please transfer to che theia. There is no such component in Theia.

[2020-01-18 02:45] monaka commented on #6909
@akosyakov The direct trigger is in Theia.
https://github.com/eclipse-theia/theia/blob/6f1651655d879a2a00a30d6aa46eeb86f7834b13/packages/core/src/common/messaging/proxy-factory.ts#L232
I'm inspecting it and I agree it should be added an error handler to Che-Theia.
At the same, IMO, it have a room for improving API in Theia.

[2020-01-18 03:14] vince-fugnitto commented on #6909
It is a pretty generic error, something that should be handled properly by clients.
Please take the time to find reproduction steps if you truly believe the problem resides in Theia.

I'm closing the issue for the moment.

[2020-01-18 03:14] #6909 closed

[2020-01-18 07:33] geropl opened #6910 "[debug][ui] Inline breakpoint markers on 0 column"
### Description
![image](https://user-images.githubusercontent.com/32448529/72660320-8b377300-39cc-11ea-9fdb-dc41bf4d4dd3.png)

### Reproduction Steps
 1. Set breakpoints in test
 1. Run test case with mocha and `--inspect-brk`
 1. Connect via `Debug` -> `Attach to Process`, continue to breakpoint
 1. Reload frontend
Observe: Sometimes, _some_ of the breakpoints (?) are now in column 0.

**OS and

[2020-01-18 11:10] akosyakov commented on #6540
@vince-fugnitto don’t think that it will change anything in regards to this issue. Coloring itself is still implemented with vscode-textmate.

[2020-01-18 11:19] akosyakov commented on #6909
@monaka if such error is indeed reproducible in Theia without RemoteTerminalWidget, please reopen with steps how to reproduce. but first authors of this widget should look for root cause of the error

[2020-01-18 20:08] justinang1 commented on #6899
What is the protocol for updating CHANGELOG.md? I read through the code guidelines and didn't find anything about it. Should entries be alphabetical and include a reference to the issue?

[2020-01-18 20:21] vince-fugnitto commented on #6899
In general changelog updates are done for a given release where items are sorted alphabetically and a reference to the corresponding pull request is added. In any case, before a release the changelog is revisited to format the document + add any missing entries.

[2020-01-19 05:07] tom-shan opened #6911 "can't debug current python file which is opened in preview mode"
### Description
After opening a python file in preview mode(single-clicked) and click start debugging or press F5,
then a notification of `File does not exist. "${file}"` showed in the bottom right corner.

![image](https://user-images.githubusercontent.com/7686800/72675219-fad85b80-3abb-11ea-9555-0f2ceef779f2.png)

### Reproduction Steps

1 download python extension(https://marketplace.visualstud

[2020-01-19 06:56] tom-shan commented on #6911
how about add `this.editor.focus();` in https://github.com/eclipse-theia/theia/blob/6f1651655d879a2a00a30d6aa46eeb86f7834b13/packages/editor/src/browser/editor-widget.ts#L59-L64 and https://github.com/eclipse-theia/theia/blob/6f1651655d879a2a00a30d6aa46eeb86f7834b13/packages/editor/src/browser/editor-widget.ts#L66-L69

[2020-01-19 06:58] lxn179208 commented on #6840
When I set process.env.UV_THREADPOOL_SIZE = 16;(default is 4), offline has not happened for  a few days

[2020-01-19 08:13] akosyakov commented on #6911
It won't be incorrect. What if someone wants to open a file without focus? Clients should decide when something is focused by calling `shell.activateWidget`.

[2020-01-19 08:14] akosyakov commented on #6911
To fix the issue we should change how `file` variable is resolved if there is no current editor, i.e. no editor was ever focused.

[2020-01-19 11:31] #4532 closed

[2020-01-19 11:31] #1614 closed

[2020-01-19 16:15] JesterOrNot opened #6913 "[Feature-Request] No toggle view for terminal"
### Description
Originally posted at https://github.com/gitpod-io/gitpod/issues/1120
There currently is no toggle view for teminal

[2020-01-19 17:03] akosyakov commented on #6913
Which terminal do you want to toggle? Terminals can be rearranged and put in other areas, not only in bottom. For the bottom panel there should be already a command to do it. You can also do it from the status bar, the most right element.

[2020-01-19 17:14] JesterOrNot commented on #6913
@ccssmnn Can you explain?

[2020-01-19 18:42] ccssmnn commented on #6913
When you open the command palette (cmd-shift-p on mac and iPad) you can type **toggle** to toggle the visibility of certain view elements, e.g. Outline, Explorer ... . There is a rich list when typing **toggle view** into the command palette.

Terminal is missing in this list, which makes it difficult to hide via command palette or keyboard shortcut.

[2020-01-19 20:59] JesterOrNot commented on #6905
Can I work on this?

[2020-01-19 21:55] JesterOrNot commented on #6115
When would something like this come to pass?

[2020-01-19 23:38] vince-fugnitto commented on #6905
Sure! 👍

[2020-01-19 23:52] JesterOrNot commented on #6905
I've created the instance variable how do I implement the maxWidth part?

[2020-01-20 00:50] vince-fugnitto commented on #6905
I was thinking of adding a new optional property to the `DialogProps`, and based on the value we'd update the styling of the dialog (`maxWidth`, `wordWrap`). Perhaps some changes will be need to be made to the `AbstractDialog` in order to be able to customize the outer container.

Then we can do something like the following in the constructor of a dialog:

[code]

Callers could do the following:

[2020-01-20 01:16] vince-fugnitto commented on #6913
The terminal is quite different than other views as many terminals can be opened and place in different areas of the IDE at once. In such a case, what would toggle terminal do?

[2020-01-20 01:18] vince-fugnitto commented on #6913
The same issue has been previously opened in the past and closed with a similar explanation https://github.com/eclipse-theia/theia/issues/2611

[2020-01-20 01:31] akosyakov commented on #6913
@ccssmnn Please use `Toggle Bottom Panel`. It will completely collapse the area. You can do it from the status bar as well:
<img width="1552" alt="Screen Shot 2020-01-14 at 14 31 30" src="https://user-images.githubusercontent.com/3082655/72692549-581ced00-3b4e-11ea-9823-e27f91193d44.png">

There can not be toggle terminal command, since there is no a single view or panel for it.

[2020-01-20 01:31] akosyakov commented on #6913
Although, we can add `Toggle Bottom Panel` to `View` menu to make it easy to discover.

[2020-01-20 01:34] akosyakov commented on #6115
@JesterOrNot there was not yet plans to work on it. Does anyone ask about it for Gitpod?

[2020-01-20 02:37] akosyakov opened #6914 "define tests for vscode built-in extensions"
After https://github.com/eclipse-theia/theia/pull/6883 and https://github.com/eclipse-theia/theia/pull/6852, we should be able to add some tests for vscode built-in extensions. They should help us to test newer versions.

Need to check how it overlaps with https://github.com/eclipse-theia/theia/issues/5893. Monaco testing against typescript built-in extension overlaps for example.

[2020-01-20 02:38] akosyakov commented on #6914
Monaco testing can be done as part of https://github.com/eclipse-theia/theia/issues/6900.

[2020-01-20 02:42] akosyakov commented on #6906
@marcdumais-work Do we need to look into or rather switching an image to VS Code extension? It works much better.

[2020-01-20 02:49] JesterOrNot commented on #6913
We should add a good first issue label to this

[2020-01-20 02:52] JesterOrNot commented on #6115
No but I think it would be pretty cool 😅

[2020-01-20 03:01] akosyakov commented on #6913
Turned out it is already there:
<img width="1552" alt="Screen Shot 2020-01-20 at 08 00 32" src="https://user-images.githubusercontent.com/3082655/72695612-f7e07800-3b5a-11ea-8121-afe12524eb05.png">

[2020-01-20 03:01] #6913 closed

[2020-01-20 07:00] akosyakov opened #6915 "support scm/resourceFolder/context menu contribution"

[2020-01-20 07:00] akosyakov commented on #4902
Linking relevant issues:
- https://github.com/eclipse-theia/theia/issues/5407
- https://github.com/eclipse-theia/theia/issues/4544
- https://github.com/eclipse-theia/theia/issues/4161
- https://github.com/eclipse-theia/theia/issues/6915
- https://github.com/eclipse-theia/theia/issues/6772

[2020-01-20 07:09] akosyakov opened #6916 "cannot clean terminal with keybindings anymore"
<img width="1552" alt="Screen Shot 2020-01-20 at 12 03 04" src="https://user-images.githubusercontent.com/3082655/72705417-35ee9380-3b7d-11ea-99fa-fc5e37086f7b.png">

Keybinding service waits for next chord. Caused by changes in this line: https://github.com/eclipse-theia/theia/commit/582ae9dd88a58f3053e9445199ee54e42179923f#diff-0291e1b92ff01c13c0dc1c98263ac426R631

cc @vinokurig

[2020-01-20 07:09] akosyakov commented on #6916
That's possibly critical if none of terminal keybinding are working anymore. I suggest we revert this file and someone else will need to look into support of emacs vscode extension without breaking terminals again.

[2020-01-20 07:37] lxn179208 opened #6917 "what is amazonaws request for?"
### Description
Some times, I found a tcp connection to amazonaws.com, can somebody tell me what is this?

node    429 root   32u     IPv4         2589619845      0t0        TCP xxxxx:port->ec2-54-186-65-123.us-west-2.compute.amazonaws.com:https (ESTABLISHED)

### Reproduction Steps
lsof -p {theia worker process id}

**OS and Theia version:**
linux  theia version is 0.14.0

[code]

**Diagnostics:*

[2020-01-20 07:52] akosyakov commented on #6917
Hi @lxn179208 Could you elaborate which commands you run? in which environments? how do you track down this request?

[2020-01-20 07:54] akosyakov commented on #6504
What do you mean by fail? Nothing happens?

[2020-01-20 08:07] lxn179208 commented on #6917
Hi @akosyakov ,
First I type the startup commands "yarn theia start ./ --hostname=0.0.0.0 ",
Second, I open the editor url with chrome and new a terminal
Third, in the terminal, I will find the amazonaws.com request sometimes.

[2020-01-20 08:21] akosyakov opened #6918 "vscode_1.env.onDidChangeLogLevel is not a function"
[vscode git extension v1.39](https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/git-1.39.1-prel.vsix) does not start

[2020-01-20 08:22] akosyakov commented on #6917
@lexcorp16 probably a command which you run in terminal does it?

[2020-01-20 08:25] lxn179208 commented on #6917
@akosyakov no, I did not exec any commands.

[2020-01-20 08:28] akosyakov commented on #6918
@marcdumais-work could you help me to figure out from which vscode commit 1.39.1-prel is built? If i tag `release/1.39` it does not work.

[2020-01-20 08:30] RomanNikitenko commented on #6909
@monaka
thank you very much for reporting the issue, I created [the corresponding issue](https://github.com/eclipse/che/issues/15746) for `che` project.

[2020-01-20 08:48] akosyakov commented on #6918
I'm going to stub these apis. It does not seem that they are going to make it to vscode.d.ts: https://github.com/microsoft/vscode/issues/85992#issuecomment-566205811

[2020-01-20 08:48] kittaakos opened #6919 "[ui/ux] The tree highlighting differs from VS Code"
### Description

Theia uses different styles in the tree than VS Code. Something is odd with the `mark` style.

VS Code:
![Screen Shot 2020-01-20 at 09 36 53](https://user-images.githubusercontent.com/1405703/72711576-9247b800-3b69-11ea-901a-5bce70a559dd.jpg)

Theia Tree:
![Screen Shot 2020-01-20 at 09 40 06](https://user-images.githubusercontent.com/1405703/72711560-8bb94080-3b69-11ea-9334-52cbeb

[2020-01-20 08:53] kittaakos commented on #6548
Thanks for taking care of it! 👍

I can confirm. fd2d38434

Good point, let's close it now, we can reopen if the problem pops up again.

[2020-01-20 08:53] #6548 closed

[2020-01-20 09:08] kittaakos commented on #6857
PRs are always welcome.

[2020-01-20 09:22] akosyakov opened #6920 "support command protocol in editor hover links"
gitlens extension insert links in editor hover, which right now do nothing, we should intercept such links and call a corresponding command

<img width="1552" alt="Screen Shot 2020-01-20 at 14 20 36" src="https://user-images.githubusercontent.com/3082655/72714233-33496980-3b90-11ea-9a47-b2770623a1d0.png">

[2020-01-20 09:24] vinokurig commented on #6916
I am working on it.

[2020-01-20 09:48] akosyakov commented on #6730
@vince-fugnitto Maybe https://github.com/eclipse-theia/theia/pull/6921/commits/401f143706278c7367eff027bd04dd0a4de4fa62 was a reason?

[2020-01-20 09:51] akosyakov commented on #6504
@vince-fugnitto Maybe https://github.com/eclipse-theia/theia/pull/6921/commits/401f143706278c7367eff027bd04dd0a4de4fa62 was a reason?

[2020-01-20 11:20] vince-fugnitto commented on #6504
I will retry my extension against the latest changes.

[2020-01-20 11:57] marcdumais-work commented on #6906
Either way works for me. We can keep this issue until @vince-fugnitto removes Java support from this repo or the current Java LS problem is fixed.

[2020-01-20 12:10] vince-fugnitto commented on #6504
It seems to work now, thank you! :+1:

[2020-01-20 12:10] #6504 closed

[2020-01-20 12:33] marcdumais-work commented on #6918
Hi @akosyakov ,

The tag is `1.39.1`, commit `88f15d17dca836346e787762685a40bb5cce75a8`. In the [release commit](https://github.com/theia-ide/vscode-builtin-extensions/commit/89ddd51a1a064fed4f410b7fb7a59f0cc47608ea), I moved the vscode submodule to match that tag.

[2020-01-20 13:09] kittaakos opened #6923 "[electron][macOS] Attempting to call a function in a renderer window that has been closed or released"
### Description

I can see the following warning quite often in the server log after opening multiple workspace roots from the electron application:
[code]

`29.bundle.js:464:48`:
[code]

Apparently, `electron.remote.getCurrentWindow()` is incorrect. One can reproduce it by having one or two windows with the electron example, close them so you have a single one, add and remove the focus on the win

[2020-01-20 16:22] vince-fugnitto opened #6926 "[licenses] productify license check for plugins (builtins + external extensions)"
**Description**

In order to verify the license checks for the `builtin` extensions, some extra steps were required to do so since such plugins are not hoisted to the repository's `node_modules`. The steps were to walk through the available extensions under `vscode/extensions` in order to obtain the list of `package.json` and collect their `dependencies`. These dependencies were then added to a `p

[2020-01-21 01:17] #6767 closed

[2020-01-21 02:59] akosyakov commented on #6115
It seems that Monaco comes with icons already, ideally it would be good to use it from monaco distribution then that editor and IDE icons are aligned. It's a tricky and for the meantime just updating icon files could be enough.

[2020-01-21 03:01] akosyakov commented on #6916
@vinokurig ok, do you have estimation when it can be fixed?

[2020-01-21 08:10] akosyakov opened #6929 "window.showQuickPick is never resolve if closed with esc"
It should resolve with undefined

[2020-01-21 08:12] benoitf commented on #6929
report is quite obvious but maybe you could reference existing VS Code extension that is reproducing the error ?

[2020-01-21 08:20] vinokurig commented on #6916
@akosyakov I am going to open a PR today

[2020-01-21 08:26] akosyakov opened #6930 "debugging of vscode-gitlens extension does not work"
This extension is bundled with webpack, so source maps don't point to actual files, but use  `webpack` scheme. VS Code is capable to resolve such links and Theia does not.

I think it is related to `LoadedSources` event somehow: https://microsoft.github.io/debug-adapter-protocol/specification#Events_LoadedSource About which Theia does not care right now.

[2020-01-21 08:28] akosyakov commented on #6929
I got it with vscode-gitlens, it never unset context keys which should happen after `showQuickPick` exits: https://github.com/eamodio/vscode-gitlens/blob/30e1d290e8f337d56596a030ff097eeabdd98eb7/src/quickpicks/commitQuickPick.ts#L220-L241

[2020-01-21 09:08] akosyakov commented on #5764
Indeed, we never pass a token to the main thread, so a quick pick is not hidden if a client cancels the token.

[2020-01-21 09:51] akosyakov opened #6931 "Status bar content too large"
From https://github.com/gitpod-io/gitpod/issues/987

[2020-01-21 10:45] tsmaeder opened #6932 "Opening any File Makes it Dirty Immediately"
### Description
When I open any file, it is marked immediately dirty

### Reproduction Steps
1. start the electron example
2. Open the theia source code folder
3. Open any file (I tried .gitpod.yml, package.json and README.md
4. Observe: all editors are marked dirty immediately, even though I did not change anything

**OS and Theia version:**
Windows 10, Theia master as of Jan. 21.

**Diagnostics:

[2020-01-21 10:53] akosyakov commented on #6932
Could you check what is the difference? Maybe you have some extension installed which auto formats the file? editor-config like to add whitespace at the end of the file or remove, not sure what is our policy there

[2020-01-21 10:56] tsmaeder commented on #6932
No, I pulled the latest changes to master and built them unchanged. There is something odd, though: while the bug reproduces 100% when opening the theia source code, I cannot reproduce it with a smaller, contrived example.

[2020-01-21 11:22] vince-fugnitto commented on #6931
I believe it is a duplicate of https://github.com/eclipse-theia/theia/issues/5925 or at least related.

[2020-01-21 11:23] #6931 closed

[2020-01-21 11:40] akosyakov commented on #6916
@vinokurig how are you going to fix it? I was thinking try to check whether there is at least one partial keybinding which is active, i.e. its context/when closure evaluates to true, instead of checking only for existence.

[2020-01-21 12:16] vinokurig commented on #6916
@akosyakov The PR is ready

[2020-01-21 12:39] lmcbout opened #6935 "Opening the Plugins view using the key bindings does not work initially"
### Description
Using keybindings to open the plugins view does not work initially
Note: Only use the keybindings, **not** the view context menu

### Reproduction Steps

- Start Theia,  open a Java project + a java file
DO NOT USE ANY OTHER KEYBINDINGS before using "CTRL + SHIFT + L"
- "CTRL + SHIFT + L" --> should open the Plugins view, **but is NOT opening**
- Use "CTRL + SHIFT + M" to open the

[2020-01-21 12:57] vince-fugnitto commented on #6935
@lmcbout

I would not place this issue as a must fix since the `plugins-view` as we know it is soon to be deprecated by the `registry-view` (#6655)

Also, I do not think it is a bug since, there are two keybindings which use
<kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>l</kbd> (in the first case the view was not opened since the editor had focus):

![image](https://user-images.githubusercontent.com/40359

[2020-01-21 13:14] vince-fugnitto commented on #6917
@lxn179208 I'm thinking they are perhaps caused by the `agentx` and `commanderx` dependencies?
There are no requests made to amazonaws from the platform.

[2020-01-21 14:32] vince-fugnitto commented on #6935
I tested and the keybinding to toggle the `plugins-view` is triggered whenever an editor **does not have focus** as described in it's `context/when`.

Closing the issue as there is nothing to do.

[2020-01-21 14:32] #6935 closed

[2020-01-21 14:56] marechal-p opened #6936 "navigator: collapse all should not emit selected event for each folder"
### Description

Right now, using the navigator's collapse all command will fire a selection event for each composite tree node, which is not helpful.

### Reproduction Steps

Open a single root workspace with a bunch of top-level folders, register a "selectionChanged" listener and watch events emitted when triggering the "collapse all" command.

**OS and Theia version:** Ubuntu 16.04 Theia 0.14

[2020-01-21 14:57] marechal-p commented on #6936
@kaiyue0329 @vince-fugnitto

[2020-01-21 15:20] IPvSean commented on #2005
hahaha that is where I am @donalod , exact same problem and I wasted too much time on this already

[2020-01-21 16:04] vince-fugnitto commented on #6936
The following looks incorrect to me but I might be mistaken:

https://github.com/eclipse-theia/theia/blob/e9449a0e924e19cede1acf52552bd271b418fad1/packages/core/src/browser/tree/tree-model.ts#L258-L267

I think the responsibility of `collapseAll` should only be to collapse and not perform a selection.
For instance, if we perform a `collapseAll` recursively across all directories in the explorer, I

[2020-01-21 20:26] Anasshahidd21 commented on #6896
I tried reproducing using the steps provided, I used Eclipse Theia to reproduce it, and the issue seems to be resolved already. The "Find in Folder" works perfectly fine in theia.
![Screenshot from 2020-01-21 15-25-42](https://user-images.githubusercontent.com/43870550/72840510-65c39700-3c62-11ea-9a55-457fcc8f0a88.png)

[2020-01-22 03:51] akosyakov commented on #2005
@donalod Could you post a question on the community page (https://spectrum.chat/theia?tab=posts) and provide a github repo with what you were able to achieve? Positing on a closed issue does not help, no one will see it.

[2020-01-22 05:10] akosyakov commented on #6900
@azatsarynnyy Could you add as a sub-task to revert https://github.com/eclipse-theia/theia/pull/6673 and check whether IME support was fixed in newer Monaco please?

[2020-01-22 05:46] akosyakov commented on #6900
I've added a first monaco api test here for resolveKeybinding api which was exposed in Jan: https://github.com/eclipse-theia/theia/blob/99209e4d62067e3f5e303efa317188302953a232/examples/api-tests/src/monaco-api.spec.js#L45 I would like to have more such tests ideally to cover all internally exposed api. It still won't be enough though we will need some tests from user perspective, i.e. that focus

[2020-01-22 06:33] akosyakov opened #6940 "terminal is not reues"
### Description

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-01-22 06:33] #6940 closed

[2020-01-22 06:36] akosyakov opened #6941 "task terminal is not reused"
It's reproducible with theia repo:
- start from sources
- from npm scripts view run `textmage-grammars` test
- run again when task is finished
- a new terminal is created

Also if you don't wait for termination but try to run again, click return in notificaiont then it fails alltogether with error notification.

Here you see 2 terminals for very same taks and an error notification:
<img width="155

[2020-01-22 08:28] frank-dspeed opened #6942 "Proposal: /packages/core should add cordova build target"
Tablets and Other Devices getting more and more standard lets offer cordova as build target with same patterns as electron is done at present what do you think?

[2020-01-22 09:45] #6916 closed

[2020-01-22 14:21] vince-fugnitto commented on #6942
Thank you for the interesting proposal @frank-dspeed !

Unfortunately, adding new targets to the framework is not a high priority for the main committers of the project, similarly to https://github.com/eclipse-theia/theia/issues/3998. Adding additional targets to the platform increases the project's overall complexity and requires significant additional maintenance and testing effort. It is also u

[2020-01-22 16:12] bd82 commented on #6866
Hello.

I have a fix here:
- https://github.com/bd82/theia/commit/5e4abe350d660d1c9d5a51af474ffc3dd5554e32

However I have reservations regarding the Eclipse Foundation Licensing.
- https://www.eclipse.org/legal/ECA.php
- Particularly as the filling the ECA seems to require a providing a **physical postal address**.
- Combined with waving the rights related to personal information (GDPR)

Does pro

[2020-01-22 16:24] bd82 commented on #6866
Could my Employer's (who I am making the contribution on behalf of) address be provided?
Even more generally an address of my Employer in a different country than the one I reside in?

[2020-01-22 16:28] vince-fugnitto commented on #6866
@marcdumais-work perhaps you can help regarding the Eclipse ECA questions?
@bd82 when I signed up, I did not provide any address information as I believe it is unnecessary (although I'm not sure if this policy has changed).

[2020-01-22 16:34] corneliusludmann commented on #6907
It's also in TypeScript:

![image](https://user-images.githubusercontent.com/24960040/72913343-55ccb580-3d3d-11ea-8b89-b415c18967d4.png)

![image](https://user-images.githubusercontent.com/24960040/72913402-62e9a480-3d3d-11ea-8edb-7477277b8d81.png)

(The dot before `size` is missing in the light theme.)

[2020-01-22 17:41] marcdumais-work commented on #6866
Hi @bd82,

First I do not speak for the Eclipse Foundation and IINAL. If you feel the need, we can involve someone from the foundation to get a more definitive answer.

Looking at my own ECA, I provided the address of my employer, so I think that's fine if you contribute in the context of your work. As far as I know, the country of your employer being different from your own would not matter - you

[2020-01-22 17:49] akosyakov commented on #6942
Could not it be done by 3rd party extension? A wrapper around `@theia/cli` and `@theia/application-manager`? Code in core also separated by targets so such extension could reuse code from browser target and add cordova specific apis?

[2020-01-22 17:57] bd82 commented on #6866
O.k. sounds good enough. I will continue creating the PR tomorrow.

Cheers.

[2020-01-22 19:19] #6409 closed

[2020-01-22 19:44] frank-dspeed commented on #6942
no problem i will add it i do also agree that many code can be shared between the platforms thats why i think its a good thing to do. It will simply add Abilitys to use Mobile API's

[2020-01-22 20:29] #4217 closed

[2020-01-22 20:42] vince-fugnitto commented on #6941
I believe it is a known issue that terminals created from tasks cannot be re-used?
- https://github.com/eclipse-theia/theia/issues/5825
- https://github.com/eclipse-theia/theia/issues/5269#issuecomment-496800867

[2020-01-23 01:49] akosyakov commented on #6941
@vince-fugnitto I see i thought it was already addressed. :(

[2020-01-23 01:49] #6941 closed

[2020-01-23 02:08] akosyakov opened #6946 "provide migration steps to builtins for Electron distributions"
See discussions started here: https://github.com/theia-ide/theia-apps/pull/287#issuecomment-577167107

[2020-01-23 02:10] akosyakov opened #6947 "update theia docs to use built-ins instead of deprecated extensions"
See https://github.com/eclipse-theia/theia/pull/6933#issuecomment-576992922

[2020-01-23 02:43] akosyakov commented on #6372
please reopen if it is still an issue

[2020-01-23 02:43] #6372 closed

[2020-01-23 02:44] akosyakov commented on #6294
It worked for me last time when I tried

[2020-01-23 02:44] #6294 closed

[2020-01-23 07:10] justinang1 commented on #6899
I'm having trouble figuring out merging/branches so I'm going to look into that and re-create the changes properly. Sorry!

[2020-01-23 08:12] akosyakov opened #6948 "preference proxies don't handle preferences from subtypes"
It's reproducible with Gitlens extension. The explorer should have different menu items contributed but it has none. It happens because when closure expression like `gitlens.menus.explore.compare` always evaluate to undefined. The underlying issue that we care only about properties of top-level preference definition in this case [gitlens.menus](https://github.com/eamodio/vscode-gitlens/blob/30e1d2

[2020-01-23 08:17] akosyakov opened #6949 "make Theia docs interactive"
Theis allows to inject command links in markdown files like `(Run)[command:terminal.new?SomeArgsInSerializedJSON]. It would be cool to improve Theia commands with additional arguments to make it more useful. For instance new terminal command could accept cwd and command to be executed in the terminal. We could start by analyzing our own docs and see what kind of commands could be useful.

[2020-01-23 08:29] akosyakov opened #6950 "consider to use playwright instead of puppeteer"
https://github.com/microsoft/playwright seems to be API compatible with puppeteer, but supports WebKit (Safari) and Firefox as well, so we could run our tests against them as well.

[2020-01-23 08:33] spoenemann commented on #2018
The Electron example app shows the following in the developer tools console:

[code]

[2020-01-23 08:46] akosyakov opened #6951 "ms-dos editor theme does not look right in Theia"
How it looks:
<img width="1552" alt="Screen Shot 2020-01-23 at 13 45 29" src="https://user-images.githubusercontent.com/3082655/72969124-b663fd00-3de6-11ea-843b-2c3d8d20b385.png">

How it should look:
https://pbs.twimg.com/media/EO04lvIXsAAAH27?format=jpg&name=4096x4096

An extension: https://marketplace.visualstudio.com/items?itemName=ionicabizau.ms-dos-editor-theme

[2020-01-23 09:08] tsmaeder opened #6952 "Add Support for "Ougoing Calls" to Callhierachy"
Right now our call hierarchy only supports incoming calls. We should add support for outgoing calls, as well. It's supported in VS Code API: https://code.visualstudio.com/api/references/vscode-api#languages

[2020-01-23 09:10] tsmaeder opened #6953 "Add Support for Cancellation in Call Hierarchy"
Right now the the resolution of children cannot be cancelled in the call hierarchy. Since this can be a very costly operation, you can effectively lock your UI for a long time this way. We should come up with a way to cancel (and then recommence) the computation of children in the call hierarchy.

[2020-01-23 10:05] Kreyren opened #6954 "bug: vscode-rust extension outputs errors on gitpod"
Referencing https://github.com/gitpod-io/gitpod/issues/1098

After exporting https://marketplace.visualstudio.com/items?itemName=kalitaalexey.vscode-rust in gitpod through downloading from https://marketplace.visualstudio.com/_apis/public/gallery/publishers/kalitaalexey/vsextensions/vscode-rust/0.4.2/vspackage and then drag and dropping in gitpod the following message appears:

![image](https://us

[2020-01-23 12:15] tomer-epstein opened #6955 "workbench.action.closeActiveEditor command doesn't close a WebviewWidget"
### Description
workbench.action.closeActiveEditor command doesn't close a WebviewWidget

### Reproduction Steps
Open the  'Getting Started' (Help -> 'Getting Started')
execute workbench.action.closeActiveEditor command.

**Diagnostics:**
it seems that the reason is that WebviewWidget doesn't implement Navigatable interface.

[2020-01-23 12:24] amiramw commented on #6955
@tomer-epstein does it work in VS Code?

[2020-01-23 12:34] tomer-epstein commented on #6955
Yes.

[2020-01-23 12:47] vince-fugnitto commented on #6955
Are you referring to the `Getting Started` from Theia?

[2020-01-23 12:53] tomer-epstein commented on #6955
Yes. it's an example for WebviewWidget.
another vscode extension wich opens WebviewWidget is https://github.com/SAP/yeoman-ui

[2020-01-23 12:54] vince-fugnitto commented on #6955
@tomer-epstein
I don't think our `Getting Started` is a WebviewWidget,  what makes you believe it is?
https://github.com/eclipse-theia/theia/blob/master/packages/getting-started/src/browser/getting-started-widget.tsx

[2020-01-23 12:58] bd82 commented on #6866
o.k. I used my employer's physical address.

A PR was created: https://github.com/eclipse-theia/theia/pull/6956

This could be used as a stepping stone to include also **configurable** options: e.g:
- Instead of hard-coded 10 last sessions, keep **X** last sessions.

Cheers.
Shahar.

[2020-01-23 13:02] tomer-epstein commented on #6955
debuging plugin-vscode-commands-contribution

![image](https://user-images.githubusercontent.com/57438361/72986666-650d3b00-3df1-11ea-92bb-62cf78cdeca6.png)

[2020-01-23 13:08] marcdumais-work commented on #6866
The ECA check on your PR passed, so you're all set

[2020-01-23 13:46] akosyakov commented on #6955
In VS Code there is a difference between editor and code editor. Editor is any widget opened in the editor area (main area in Theia). Code editor is Monaco-based widget. So yes, webview is an editor in VS Code sense and closeActiveEditor should close the webview as well. https://github.com/eclipse-theia/theia/blob/9fb6351621583f4a3e51954debbea9ed1e080168/packages/plugin-ext/src/main/browser/menus/

[2020-01-23 16:24] vince-fugnitto commented on #6947
I created the issue under `theia-website` since both the website and our docs in the main repo should be updated to properly reflect the new updates.

[2020-01-23 18:07] akosyakov commented on #6954
Someone has to debug if it is reproducible with the vanilla Theia. I’m not sure that it is not misconfiguration of Gitpod workpace.

[2020-01-23 19:02] RDIL opened #6959 "Performance Problem"
I'm running theia in gitpod, and just found out the source of a very slow point in the code.  I'm not sure exactly what is triggering it, but a lot of CPU/Memory are being spent on
`theia/packages/core/src/node/messaging/ipc-bootstrap.ts`.

[2020-01-23 19:38] Kreyren commented on #6954
I set up a test repository on https://gitpod.io/#https://github.com/Kreyren/rustlang-ping

but i am unable to reproduce the issue where the extension fails to initiate on my end (different issue?)

---

Note that pebcak might be a posibility i don't understand the message and i don't know how to diagnose these kind of issues

[2020-01-23 22:47] vince-fugnitto commented on #6959
Thank you for reporting the issue @RDIL, do you perhaps have any additional information?
How did you determine that time was spent on `ipc-bootstrap.ts`?

[2020-01-23 23:29] RDIL commented on #6959
Running `htop` reveals that the processes at the top of the list (most resource intensive), is `node path/to/ipc-bootstrap.ts`.

[2020-01-24 00:25] sinamoeini opened #6960 "Theia does not start"
### Description

### Reproduction Steps

followed the instruction [https://theia-ide.org/docs/composing_applications/](here). The server starts fine. But when the browser is opened it gets stuck. I have the exact same program that I installed on Jan 16 it works fine so it must be some recent update

**OS and Theia version:**
I ran the server on Mac OS and RHEL-7 and tested the program on Firefox f

[2020-01-24 00:50] akosyakov commented on #6960
Hi, do you use latest or next version?

[2020-01-24 00:52] sinamoeini commented on #6960
This is  my package.json

{
  "private": true,
  "dependencies": {
    "typescript": "latest",
    "@theia/typescript": "next",
    "@theia/navigator": "next",
    "@theia/terminal": "next",
    "@theia/outline-view": "next",
    "@theia/preferences": "next",
    "@theia/messages": "next",
    "@theia/git": "next",
    "@theia/file-search": "next",
    "@theia/markers": "next",
    "@theia/preview

[2020-01-24 00:55] akosyakov commented on #6959
It is a wrapper script to start sub processes like file watching or git repository detection. On big workspaces it's expected that such processes can take sometime on start up, i.e. they need to traverse the filesystem to detect nested git repositories for instance. Could you diagnose with which arguments such processes has been started? From that we can understand what it does. Also share a repo

[2020-01-24 00:58] sinamoeini commented on #6960
It might be related to a dependency of theia.
I attached the output of `yarn list --depth 0 `

One from the version that works and the one that doesn't

[Archive.zip](https://github.com/eclipse-theia/theia/files/4106380/Archive.zip)

[2020-01-24 01:00] akosyakov commented on #6960
yes, it is next ) Next is nighlty build, the last one failed to publish all packages because of the npm registry instability. So you pull currently the mix of different versions of Theia which does not seem to be compatible. I've restarted the deployment job (https://travis-ci.com/eclipse-theia/theia/jobs/279125953) if it is successful then you will need to delete node_modules, yarn.lock and run y

[2020-01-24 01:03] sinamoeini commented on #6960
Excellent! Thank you so much for all of your contributions. Theia project is amazing. Hopefully it will become more popular.

[2020-01-24 01:14] akosyakov commented on #6960
Ah, one package is missing access config and fail the build, I will create a PR.

[2020-01-24 01:14] sinamoeini commented on #6960
thanks

[2020-01-24 01:23] akosyakov commented on #6960
a fix is here: https://github.com/eclipse-theia/theia/pull/6962

[2020-01-24 02:34] vince-fugnitto commented on #6960
Closeable by #6962?

[2020-01-24 03:14] akosyakov commented on #6960
No, only when a build is successful, now it fails with another error, cannot install yarn, will restart again :(

[2020-01-24 05:00] akosyakov commented on #6960
should be alright now, if not please open a new issue

[2020-01-24 05:00] #6960 closed

[2020-01-24 12:51] RDIL commented on #6959
It happened to me in https://gitpod.io/#https://github.com/hyperiumjailbreak/client

[2020-01-24 14:29] #6711 closed

[2020-01-24 22:53] vince-fugnitto commented on #56
We are currently using `typedoc` to generate the documentation for every extension:
https://eclipse-theia.github.io/theia/docs/next/index.html

I think the main idea would be to better document within the code but the overall documentation framework and generation is complete.

[2020-01-24 22:53] #56 closed

[2020-01-27 02:01] #5208 closed

[2020-01-27 03:28] akosyakov commented on #6907
I can reproduce markdown issue, but not with typescript.

[2020-01-27 05:46] akosyakov commented on #6907
It happens because shell script is registered after markdown language, so markdown tokenizer does not recognize it as an embedded language and does not apply proper coloring. We need to compute id of an embedded language lazily or something like that.

[2020-01-27 10:11] azatsarynnyy commented on #6900
@akosyakov added

[2020-01-27 11:40] #6899 closed

[2020-01-27 12:36] kittaakos commented on #6932
Yeah, it's a Windows thing. As far as I remember, the same with the browser-example.

[2020-01-27 13:09] vince-fugnitto opened #6968 "[mini-browser] '.xhtml' files should be supported by preview"
**Description**

Originally: https://github.com/gitpod-io/gitpod/issues/1146
The `mini-browser` should support `.xhtml` files for previewing (`open preview to the side`).

**How to test**
1. open a workspace
2. open a `.html` file (previewing should be visible and work correctly)
3. open a `.xhtml` file (previewing is not enabled (no toolbar item))

[2020-01-27 14:35] kaiyue0329 commented on #5580
I think this issue is already fixed.

[2020-01-27 14:37] vince-fugnitto commented on #5580
Unfortunately it is still an issue :(
See how the filenames are not aligned (this happens due to the alignment of icons)

![image](https://user-images.githubusercontent.com/40359487/73183343-a6029980-40e8-11ea-9313-32a4dc02826a.png)

[2020-01-27 14:47] #2077 closed

[2020-01-27 14:47] #4442 closed

[2020-01-27 15:26] tsmaeder commented on #6932
@kittaakos so do you know what the problem is?

[2020-01-27 16:17] kittaakos commented on #6932
No, I don't 😕

[2020-01-27 19:44] lmcbout opened #6974 "Selecting the arrow in editor do not show the deleted line in Theia"
### Description
Selecting the "RED"arrow on the deleted line do not show what was deleted. Tested with VSCode and it shows the deleted line when clicking on the red arrow. Missing functionality in Theia.

### Reproduction Steps
Open a file in Theia Editor
Delete a line
--> Red arrow shows
Click on the red arrow --> nothing happen, we cannot see the deleted line with the arrow

**OS and Theia versi

[2020-01-27 19:46] vince-fugnitto commented on #6974
@lmcbout have you tried with the builtins `git` and `git-ui`?

[2020-01-27 19:53] lmcbout commented on #6974
@vince-fugnitto worse, the deleted line does not even trigger the red arrow indicator

[2020-01-27 19:54] vince-fugnitto commented on #6974
@lmcbout it is likely we need to do some catch-up in the `scm` extension.

[2020-01-27 19:55] lmcbout commented on #6974
@vince-fugnitto YES

[2020-01-27 19:57] vince-fugnitto commented on #6974
I've marked it as an enhancement for the moment, it'd be good if you investigated what the missing APIs or functionality are so that we can support such a feature. I hope it won't require an upgrade to monaco itself.

[2020-01-27 23:01] marechal-p opened #6975 "eslint: use vscode extension compatible with Theia"
### Description

We switched from TSLint to ESLint, but we don't currently provide any kind of support for the latter within Theia applications. We should see at making the VS Code extension work.

### Reproduction Steps

Navigate Theia's code base and remove any `eslint-disable` comment to see that errors are not reported from a Theia application. It works on VS Code using the ESLint extension.

[2020-01-28 00:49] caseyflynn-google opened #6976 "[browser dialogs] XSS venerability in file dialog"
### Description

There is an XSS venerability in the Create File / Folder dialog.

### Reproduction Steps

1. Click File -> New File to open the New File dialog
2. In the text box enter <style onload=alert(0)>

The alert is triggered on the page.

![theia_file_dialog_xss](https://user-images.githubusercontent.com/23463108/73226439-e8e26280-4124-11ea-845e-07b81a58e90f.png)

**OS and Theia version:*

[2020-01-28 08:13] corneliusludmann opened #6979 "“Close All” and “Close Others” context menu does not work"
### Description

Nothing happens when clicking the `Close All` or the `Close Others` context menu item:

![Peek 2020-01-28 09-00](https://user-images.githubusercontent.com/24960040/73245632-f6dbc600-41ac-11ea-98c3-dcdfb1e8ee20.gif)

- `F1` → `View: Close other tabs` does **not** work as well
- `F1` → `View: Close all tabs` **does** work as expected
- Other context menu entries **do** work as expec

[2020-01-28 11:27] #5580 closed

[2020-01-28 13:24] akosyakov commented on #6975
https://github.com/microsoft/vscode-eslint/commit/8586a674f681b017b096f1769fe585aa520c905c this commit is last compatible with Theia, it could be good to package it, publish to Github and add to theia plugins

[2020-01-28 13:29] vince-fugnitto opened #6984 "[builtin] possibly remove 'vscode-builtin-markdown-language-features'"
**Description**

At the moment, in our example applications we have both `@theia/preview` and `vscode-builtin-markdown-language-features` which causes some duplication of functionality.

What is the best approach? Should we remove `@theia/preview` or should we go ahead and remove the builtin for the moment?

_Example: 'Open Preview to the Side'_

![image](https://user-images.githubusercontent.com/

[2020-01-28 14:37] lucas-koehler opened #6985 "Possible contribution for a new preference editor"
Hello Theia community,

would you be interested in a contribution for a tree-master-detail based preference editor?
The tree shows the preference categories on the left side. The detail renders the selected category's preferences on the right side.
Thus, the main difference to the current editor is that the preferences are edited via suitable controls
in the detail view instead of showing the raw

[2020-01-28 14:51] Beetix commented on #4263
@ektek Could you share the code of your extension please? I am looking for a way to share layouts between browsers. Thanks

[2020-01-28 15:40] vince-fugnitto commented on #6636
Adding a link to the proposed API (at the time of writing this comment it looks to be planned for their February 2020 release): https://github.com/microsoft/vscode/issues/77131#issuecomment-567743066

I'm wondering if we should stub the API for the moment, until the proposed API has been approved.

[2020-01-28 15:44] eli88p commented on #4961
@akosyakov hii, i tired to load Browser Preview in new version that have support to webview and i got...
also if i tried to load my custom html code that written in extension of vs code, in theia i have a same issue.

![Capture](https://user-images.githubusercontent.com/11608934/73279265-886f2600-41f5-11ea-9d02-69dd6272a844.PNG)

[2020-01-28 15:47] akosyakov commented on #6985
It would be good to have the same UI as in VS Code.

[2020-01-28 16:09] Anasshahidd21 commented on #6502
@vince-fugnitto I tried reproducing the issue, but I think its already fixed.

[2020-01-28 16:13] vince-fugnitto commented on #6502
Sounds good, we can close the issue and re-open it if it persists.
I was unable to reproduce the problem following the reproduction steps.

[2020-01-28 16:18] vince-fugnitto commented on #6502
I was unable to reproduce the problem @akosyakov but what I do notice is that we have two files (potentially more if we split further) decorated as active at the same time, is it the intended behavior?

Example: (both files are active (blue))

![image](https://user-images.githubusercontent.com/40359487/73282623-e8e37080-41bf-11ea-8c23-0efb1029b594.png)

[2020-01-28 16:40] vince-fugnitto commented on #6886
I verified with the [quickinput multiStep sample](https://github.com/microsoft/vscode-extension-samples/tree/master/quickinput-sample) you mentioned and could not reproduce the issue (I even removed the parallel validation logic). It may simply be how you are validating your string too eagerly.

Would it possible to provide a reproducible example so we can confirm the issue and provide a fix?

[2020-01-28 16:56] kaiyue0329 commented on #4712
@vince-fugnitto I think all the icons are centered in the sidebars.
![image](https://user-images.githubusercontent.com/23107734/73286222-331b2080-41c5-11ea-9232-d38d504fd406.png)

[2020-01-28 16:58] vince-fugnitto commented on #4712
@kaiyue0329 the problem occurs when we move editors (ex: `settings.json`) and dock them in the sidepanels.

[2020-01-28 17:10] akosyakov commented on #6502
No, only focused should be active

[2020-01-28 17:12] akosyakov commented on #4961
Which browser? Firefox has issues with considering sub domains of localhost as secure.

[2020-01-28 17:13] akosyakov commented on #6636
@vince-fugnitto would it make an extension work? I doubt

[2020-01-28 17:24] vince-fugnitto commented on #6636
I doubt it too, I was wondering if we should stub only so that we can add such `builtins` (latest) without the worry it may have some side-effects.

[2020-01-28 17:49] akosyakov commented on #6976
Resolved by https://github.com/eclipse-theia/theia/pull/6977

[2020-01-28 17:49] #6976 closed

[2020-01-28 18:39] caseyflynn-google opened #6987 "[browser] XSS vulnerability in browser sidebar"
### Description

There is an XSS vulnerability in the side-panel-toolbar

### Reproduction Steps

1. Create a folder outside of Theia named "<style onload=alert(0)>"
  1.a Example: `mkdir \<style\ onload=alert\(0\)\>`
2. In Theia click FIle -> Open Workspace
3. Select the directory named <style onload=alert(0)>
4. Open the file explorer

Outcome: Theia executes the XSS
Side effect: Theia will cont

[2020-01-28 19:50] tetchel commented on #6886
Yes, I am validating it in the `onDidChangeValue` callback. But the flickering issue does not occur in VS Code.

I will try and find the difference between my plugin and the quickinput sample so I can give you a better example for reproduction.

[2020-01-28 19:55] vince-fugnitto commented on #6886
Thank you, I appreciate it! :)

[2020-01-28 20:07] vince-fugnitto commented on #6975
@kaiyue0329 @Anasshahidd21

I published a [`.vsix`](https://github.com/theia-ide/vscode-eslint/releases/download/release%2F2.0.15/vscode-eslint-2.0.15.vsix) for us to consume.

We'd need to properly test to see if it provides the appropriate information.
One can follow how builtin plugins are added to the examples and add this entry as well.

[2020-01-28 22:30] marechal-p commented on #6975
@vince-fugnitto hmm, the plugin you distributed outputs the following:

[2020-01-28 22:37] ghewadesumit commented on #4252
In which file should I write the above code to disable or hide the sub menu.

[2020-01-29 00:06] vince-fugnitto commented on #6975
I noticed that when initially tried out the plugin following #6897

Great, hopefully it's just a sanity check performed by plugins, I wonder when we should actually bump our version. I also wonder if we should look for a version that is compatible with ours at the moment. I would not want devs to have to pass the API version through the cli when starting the app.

https://github.com/eclipse-theia/

[2020-01-29 00:26] vince-fugnitto opened #6990 "[firefox] incorrect display of workspace settings file icon"
**Description**

The **workspace** `settings.json` file displayed in the tab when using the `preferences view` is incorrectly displayed (the file icon is too large) when using the application on **Firefox**.

<div align='center'>

<img width="536" alt="Screen Shot 2020-01-28 at 7 24 59 PM" src="https://user-images.githubusercontent.com/40359487/73317406-eacf2300-4203-11ea-92ab-c13b1262e9d1.png">

[2020-01-29 00:49] #106 closed

[2020-01-29 01:20] akosyakov commented on #6636
@vince-fugnitto not sure what you mean by side effects, if a built-in does not work we should not add it without fixing

[2020-01-29 01:29] akosyakov commented on #6975
@marechal-p @vince-fugnitto bumping up VSCODE_API_VERSION is fine as well

[2020-01-29 01:44] akosyakov opened #6991 "textmate coloring for some vscode themes is bogus"
for instance for `Tomorrow Night Blue` some text in README.md colored differently than in VS Code

[2020-01-29 02:11] vince-fugnitto commented on #6636
I may just be overthinking it but I was thinking that perhaps a builtin might work partially (everything besides `WebviewEditor` functionality) and may be useful to add (external extensions may use or refer to such builtins). I thought maybe stubbing those areas until the proposed API is approved might be a workaround.

[2020-01-29 02:51] akosyakov opened #6992 "expose monaco themes indexed db"
That end products can manipulate it and store themes somewhere else to share between different origins.

[2020-01-29 03:01] marechal-p commented on #6975
It might be best to simply add a commit on our fork and update the plugin's package.json to declare using `^1.38.0` since it seems to work...

[2020-01-29 03:32] #6987 closed

[2020-01-29 03:47] caseyflynn-google opened #6996 "[accessibility] TOGGLE_MAXIMIZED overrides monaco tab capture"
### Description

The TOGGLE_MAXIMIZE keybinding overrides Monaco's toggleTabFocusMode which is required for a11y. Would it be alright if we modify the keybinding for TOGGLE_MAXIMIZE (maybe ctrl+shift+m or alt+m)?

### Reproduction Steps

1. Open chrome developer tools.
2. Load Theia

Observe warning in console:
root WARN Collided keybinding is ignored;  {"command":"editor.action.toggleTabFocusMode

[2020-01-29 04:08] m-vignesh commented on #6518
@akosyakov  ,
I have a couple of queries:
1. When (appx.)  will the stable version be released along with the full documentation?
2. Is there any temporary version of the full documentation? (Fine even if it is subject to change)

[2020-01-29 04:48] akosyakov commented on #6975
https://github.com/eclipse-theia/theia/pull/6924 bumps up vscode api version already

[2020-01-29 04:50] akosyakov commented on #6975
api check is done by vscode-languageclient: https://github.com/microsoft/vscode-languageserver-node/blob/4c0963d6fdfd657044092c5d4db61a87b54471ef/client/src/main.ts#L195

[2020-01-29 04:52] akosyakov commented on #6518
@m-vignesh currently we don't have capacity to identify stable APIs, for 1.0 only theia plugin will be considered as stable, but we for sure won't break apis which are used a lot regardless of 1.0 (it was like that always)

@vince-fugnitto @benoitf could you please share a link to github pages with full API docs, i could not find it, thank you!

[2020-01-29 04:55] akosyakov commented on #6636
We should try for sure and see, but i don't want to port each bug and experiment from VS Code to Theia just to support 1-2 extensions each month. Don't think it is an effort well spent.

But generally yes we should try which latest builtins works and migrate to them and if not collect bugs and reevaluate after each release whether we should take actions on already on them.

[2020-01-29 04:56] akosyakov commented on #4252
You should implement https://github.com/eclipse-theia/theia/blob/a6d565ef1e83aa4fb85bbd1ca3ac7d355fe978a8/packages/core/src/common/command.ts#L114

[2020-01-29 04:57] akosyakov commented on #6996
yes, it should be fine

[2020-01-29 06:19] #6979 closed

[2020-01-29 07:39] #6992 closed

[2020-01-29 08:36] tomer-epstein opened #6997 "workbench.action.closeEditorsInGroup doesn't close it self (the current Widget)"
Description
workbench.action.closeEditorsInGroup command doesn't close it self (the current Widget)

Reproduction Steps
Open couple of files in agroup
execute workbench.action.closeEditorsInGroup command.
Can also be tested with this vscode ext -  https://github.com/tomer-epstein/vscode-close-editor.git

Diagnostics:
plugin-vscode-commands-contribution.ts
 ({ owner }) => CodeEditorWidget.is(owner)

[2020-01-29 08:38] amiramw commented on #6997
@tomer-epstein add your vscode that makes it easy to reproduce.

[2020-01-29 08:43] eli88p commented on #4961
@akosyakov Thank it's work from chromium

[2020-01-29 09:58] eli88p commented on #4961
@akosyakov Anton i have another issue with run from my host IP instead of localhost
Browser: chromium.
Logs:
root ERROR Failed to enable webview caching:  ReferenceError: caches is not defined
    at WebviewResourceCache.<anonymous> (http://10.206.41.134:8080/52.bundle.js:15962:46)
    at step (http://10.206.41.134:8080/52.bundle.js:15938:23)
    at Object.next (http://10.206.41.134:8080/52.bundle

[2020-01-29 10:12] akosyakov opened #6999 "a race between theme startup and loading"
Monaco theme are restored async from indexed db, in the meantime theming can start and will miss previous theme leading to flickering from default (dark) theme to a proper monaco theme.

[2020-01-29 10:40] akosyakov commented on #6999
ah, it even worse, startup happens even before monaco extension code is loaded, so there is no chance to recover. We could try to move theme db to core then that theming can wait for it, or start theming later after all extensions are loaded.

@svenefftinge what do you think will be least invasive?

[2020-01-29 10:44] akosyakov commented on #4961
@eli88p webview work only in secure context, localhost or https

[2020-01-29 11:23] akosyakov commented on #6999
Discussed with @svenefftinge that we will make all theming declarative (not only color variables as now) that it can be stored/restored without relying on loading downstream extensions by the core extension. After that theming db will be moved from monaco to core as well. We won't do it for current release, maybe next month.

[2020-01-29 12:41] najaarv opened #7001 "Prevent dragging bottom panel widgets to leftSideBar/ rightSideBar/ mainPanelTabBar"
I believe most of the IDEs out there don't allow moving widgets like terminal out of the bottom panel where it's supposed to be. But I could move around terminal widgets generated in the bottom panel anywhere within the layout which my users think is not ideal behavior. I understand theia team might have different opinion/ thought process to have enabled that. But in my product, I want to restrict

[2020-01-29 13:14] akosyakov commented on #7001
You will need to customize the application shell that it rejects widgets for certain areas as well as disable animation.

[2020-01-29 13:30] kittaakos opened #7002 "Cannot build the `api-samples`"
### Description

I cannot build and run the `api-samples`. I did

[code]

See: https://github.com/eclipse-theia/theia/commit/1ca3ec37c079a6b316278cf292609653e57b8151#commitcomment-37020190

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-01-29 13:34] kittaakos commented on #7002
Also, the NPM `prepare` script is missing, hence nothing will happen with the `api-sample` if I run `yarn` from the root. Did I understand the changes correctly?

[2020-01-29 13:50] kittaakos commented on #7002
Works now, I must have missed a build step 😕

[2020-01-29 13:50] #7002 closed

[2020-01-29 13:52] vince-fugnitto commented on #6636
Sounds good! I was likely just thinking out loud 🙈

[2020-01-29 13:54] vince-fugnitto commented on #6518
Its [here](https://eclipse-theia.github.io/theia/docs/next/index.html) :) I think a link directly from the **readme** might be worthwhile so it is more discoverable.

[2020-01-29 14:11] venkatzhub commented on #6845
@akosyakov - The above mentioned error message is happening very frequently. Our end users/customers of Zowe Explorer are experiencing this a lot and are complaining about it. Wondering if there is a workaround of some sort to at least minimize the frequency of the pop up, while you are working on the fix?

[2020-01-29 14:15] vince-fugnitto commented on #6845
I think if you don't want to display the dialog any longer until there is a proper fix, you can unbind the following:

https://github.com/eclipse-theia/theia/blob/554f99edf3f0c98a87986686aa8aa9bfcfcba4f2/packages/filesystem/src/browser/filesystem-frontend-module.ts#L44-L53

[2020-01-29 14:17] venkatzhub commented on #6845
@vince-fugnitto - Thank you, we will try that.

[2020-01-29 14:37] marechal-p commented on #7002
Since `theiaext` is an npm bin contributed by `dev-packages/ext-scripts` you have to install that first.

[2020-01-29 15:03] vince-fugnitto commented on #6975
It's been bumped already :)
https://github.com/eclipse-theia/theia/pull/6924/files#diff-66cd2825aa616ad9a26b1f62e1b21e5bR22

[2020-01-29 15:25] vince-fugnitto opened #7005 "[eslint] bogus enable rules comments"
**Description**

Following #6897

It is possible to perform `enable/disable` rules for a block of code with `eslint`.
However, in our current codebase, such **enable** are bogus.

For example:

The following should re-enable `no-any` but it does not work

<img width="265" alt="Screen Shot 2020-01-29 at 10 20 40 AM" src="https://user-images.githubusercontent.com/40359487/73369861-4ab7df00-4281-11ea

[2020-01-29 16:12] kittaakos opened #7008 "[shell] Widget activation causes a resource leak"
### Description

In a downstream project, I have updated to recent Theia and it started to fail with a resource leak. I added an example to reproduce it. Note: `yourViewContribution.openView({ activate: true })` causes the leak, `yourViewContribution..openView({ reveal: true })` does not. I think the bug is here

https://github.com/eclipse-theia/theia/blob/914e9e2ec39e55a61981eb8150198d6524a85827/

[2020-01-29 16:32] marechal-p commented on #6955
PR was merged.

[2020-01-29 16:32] #6955 closed

[2020-01-29 16:38] vince-fugnitto opened #7010 "[file-icon] 'preferences widget' settings tab displays incorrect icon"
**Description**

The `preferences widget` settings tab (user) displays the incorrect icon when updating the applications `file icon` theme.

<img width="336" alt="Screen Shot 2020-01-29 at 11 32 18 AM" src="https://user-images.githubusercontent.com/40359487/73376557-9d969400-428b-11ea-8dfe-ba1f58f652ef.png">

**Steps to Reproduce**:
1. start the application using Theia as a workspace and open the

[2020-01-29 17:18] akosyakov commented on #7008
Not sure what you mean, If someone passes activate as true then a widget should become focused, otherwise that’s a bug. A user don’t have to focus anything manually.

[2020-01-29 17:45] #6975 closed

[2020-01-29 18:50] sinamoeini opened #7013 "Question regarding plugins-ext"
### Description

Is it possible to add another folder to `--plugins`? like a secondary folder? something like?

`yarn theia start --plugins=local-dir:../../plugins:../../../another-plugins-folder`

[2020-01-29 19:38] vince-fugnitto commented on #7013
From what I can tell from the source code only a single directory can be referenced using the `cli` option. If so, I think it might be a useful improvement to lookup from a list of directories instead.

Perhaps @eclipse-theia/plugin-system may have some more information.

[2020-01-29 19:55] #6866 closed

[2020-01-29 20:29] #6117 closed

[2020-01-30 00:58] justinang1 commented on #6919
Going to take a look at this issue.

[2020-01-30 02:32] akosyakov commented on #7013
We could improve to allow either to pass --plugins option multiple times or comma separated values.

You also can use an env variable instead right now which supports comma separated values: https://github.com/eclipse-theia/theia/blob/049fb524480292274131c0f888e82a9fbaa7878f/packages/plugin-ext/src/main/node/plugin-deployer-impl.ts#L92-L105

[2020-01-30 03:28] akosyakov opened #7015 "remove dependencies to plugin ext host code from other processes"
See https://github.com/eclipse-theia/theia/pull/6980#discussion_r372183178

[2020-01-30 03:43] akosyakov commented on #7008
A leak is a follow-up of a bogus output implementation. I don't think anything in the core, if someone implemented activation bogusly they should not expect it to work. In this case seeing multiple warnings that shell is trying to find active widget is good thing, since it tells a developer something is wrong.

[2020-01-30 04:58] progrium commented on #6562
I'm into this. Tell me how I can help.

[2020-01-30 07:38] #6991 closed

[2020-01-30 11:17] akosyakov commented on #6951
fixed by  https://github.com/eclipse-theia/theia/pull/7016

[2020-01-30 11:17] #6951 closed

[2020-01-30 11:39] vseager commented on #6896
@Anasshahidd21 It is still an issue for me. Which version of Theia are you testing it in?

[2020-01-30 13:53] #6997 closed

[2020-01-30 14:14] #7005 closed

[2020-01-30 14:15] sinamoeini commented on #7013
I didn't now that there was a global variable. Now it make sense, a global plugins dir set through `THEIA_DEFAULT_PLUGINS` or `THEIA_PLUGINS` and a local specific to project in `--plugins`

[2020-01-30 14:27] sinamoeini opened #7019 "vscode emmet extension does not work"
### Description

The plugin `vscode-builtin-emmet` that comes by default with theia, does exist in plugins directory and every other plugin works

### Reproduction Steps
create an index.html

!+tab will not produce anything

**OS and Theia version:**
Ubuntu, and  0.14.0

[2020-01-30 14:53] vince-fugnitto commented on #7019
Thank you for opening the issue @sinamoeini!
Looking at the [package.json](https://github.com/microsoft/vscode/blob/88f15d17dca836346e787762685a40bb5cce75a8/extensions/emmet/package.json) of the `vscode-builtin-emmet` extension, I do not see the extension actually contributing any **snippets**. I wonder where the actual snippets are coming from:

[2020-01-30 15:25] vince-fugnitto commented on #7019
It looks like they might contribute their snippets programmatically so this issue is in fact valid.

[2020-01-30 15:37] kaiyue0329 commented on #6905
@vince-fugnitto  Would using `flex-wrap: wrap`; on the dialog be an alternative solution?

[2020-01-30 16:57] lucas-koehler commented on #6985
Thanks for the fast feedback! Great that there is interest in such a preference editor.
We'll go ahead and prepare a draft PR for further discussion then.
I had a look at the code of VSCode's preference editor and it doesn't seem to be a component that can easily be reused.
However, we'll try to align the UI and make it compatible from a styling point of view.

[2020-01-30 18:08] vince-fugnitto commented on #2623
Sorry for the late reply, I verified using `git diff` and it worked correctly in the terminal (no control characters were rendered as mentioned). If the issue persists please provide a reproducible example and re-open the issue :+1:

[2020-01-30 18:08] #2623 closed

[2020-01-30 18:10] carl-parrish commented on #6861
I see this has already been closed but wanted to follow up and say that it seems to work find with the upgraded version of neovim.

[2020-01-30 18:13] vince-fugnitto commented on #2555
We now have the `csharp` builtin providing syntax highlighting and `textmate-grammars` will be deprecated as of #6933. I'll close this issue once it is merged.

[2020-01-30 18:15] vince-fugnitto commented on #2537
The issue is closed by #5442 :champagne:

[2020-01-30 18:15] #2537 closed

[2020-01-30 18:19] vince-fugnitto commented on #2709
While there were no plans to support **R** within the framework itself, support can be provided by the already well established [r tools vscode extension](https://marketplace.visualstudio.com/items?itemName=Mikhail-Arkhipov.r) among other R extensions. It should be possible to use this extension in Theia. If there are any problems regarding support for such extension(s) please feel free to open co

[2020-01-30 18:19] #2709 closed

[2020-01-30 18:21] vince-fugnitto commented on #2834
Closing since it is a duplicate of the generic https://github.com/eclipse-theia/theia/issues/2834

[2020-01-30 18:21] #2834 closed

[2020-01-30 18:31] vince-fugnitto commented on #2643
The line wrap marker is handled by the preference `"editor.rulers": []`
Example:

[code]

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/73478796-bfb01500-4364-11ea-8fb0-970e74c9fb07.png)

</div>

[2020-01-30 18:31] #2643 closed

[2020-01-30 18:35] vince-fugnitto commented on #2950
I don't believe the error is specific to the application.
Since there has not been any activity for a while I will close the issue for the moment, please feel free to re-open the issue if you still have a problem.

[2020-01-30 18:35] #2950 closed

[2020-01-30 18:38] vince-fugnitto commented on #2919
Closed in #6852 :)

[2020-01-30 18:38] #2919 closed

[2020-01-30 18:41] vince-fugnitto commented on #2913
The `editorconfig` vscode plugin added to our examples satisfies this condition:
https://github.com/eclipse-theia/theia/blob/e88b7f3c265025a4d97ebb178d164f84bdb11fab/package.json#L142

<div align=center>

![image](https://user-images.githubusercontent.com/40359487/73479522-2681fe00-4366-11ea-8789-e0b36427a183.png)

</div>

[2020-01-30 18:41] #2913 closed

[2020-01-30 18:46] vince-fugnitto commented on #3003
It is possible to run unit tests but it is provided by external extensions.
If you are looking into running **junit** tests specifically you can include the following [vscode java test runner](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-test) extension as a plugin.

[2020-01-30 18:46] #3003 closed

[2020-01-30 18:50] vince-fugnitto commented on #3295
I think the issue can be closed as it is quite old and there hasn't been a response on the last comment.
If there are still problems please feel free to re-open this issue or open new ones describing in detail your problem.

[2020-01-30 18:50] #3295 closed

[2020-01-30 19:02] vince-fugnitto commented on #3947
Will be closeable by https://github.com/eclipse-theia/theia/pull/5471

[2020-01-30 19:18] marechal-p commented on #4454
Please reopen if you are still having issues.

[2020-01-30 19:18] #4454 closed

[2020-01-30 21:28] kaiyue0329 commented on #4712
@vince-fugnitto I verified all file types and all the icons are centered except for .LOG file and .png file. They are only off by a little bit.

I don't think there is a css variable available for -2px.

[2020-01-31 02:55] justinang1 opened #7026 "Highlight is misspelled"
**Description**

Highlight is misspelled in spec.ts, tree-widget.tsx and widget-decoration.ts.

`highligh` > `highlight`

https://github.com/eclipse-theia/theia/blob/8dcd4319b36f3acb9aa238b39cca10511a62251c/packages/core/src/browser/tree/tree-decorator.spec.ts#L155-L159

https://github.com/eclipse-theia/theia/blob/8dcd4319b36f3acb9aa238b39cca10511a62251c/packages/core/src/browser/tree/tree-widget.

[2020-01-31 03:37] akosyakov opened #7027 "Promise rejection not handled in one second: undefined , reason: undefined"
I see such errors from the plugin host process from time to time. We should check that we did not swallow some errors and figure out why undefined happens.

It could be reproduced with typescript language support.

[2020-01-31 04:44] akosyakov opened #7028 "allow passing page to integration test by end products"
End products can have custom authentication and have to be able to hook into test script for it.

[2020-01-31 07:56] #7028 closed

[2020-01-31 08:41] kittaakos opened #7030 "[ui/ux] Discard the active modal dialog with `Esc`"
### Description

I want to discard the current modal dialog, such as `Open Workspace`, with `Esc`.

### Reproduction Steps

**OS and Theia version:**

**Diagnostics:**

[2020-01-31 08:52] #6919 closed

[2020-01-31 09:14] tsmaeder commented on #7013
@akosyakov env variables make a lot of sense in container, where you don't have more than one installation of Theia. For me locally, I typically have multiple ones (dev tool and target). What I'm trying to say is I am +1 on adding multi-folder to the cli.

[2020-01-31 10:18] JonasHelming opened #7032 "Amending without previous commit fails silently"
### Description
If you amend a comit to a repository, which does not have any previous commits, the operation silently fails (errors are logged on the console)

### Reproduction Steps
Init a git repo, amend a change

**OS and Theia version: latest**

I will provide a fix...

[2020-01-31 10:22] JonasHelming commented on #7032
https://github.com/eclipse-theia/theia/pull/7033

[2020-01-31 11:32] vince-fugnitto opened #7034 "[scm] fix alignment of file-icons"
**Description**

The alignment of **file-icons** in the `scm` widget are off.
The icons should be properly aligned and centered.

Ex:

![image](https://user-images.githubusercontent.com/40359487/73536156-588d7180-43f3-11ea-9ea3-aed419f9279b.png)

**Steps to Reproduce**
1. open a workspace under git source control (ex: theia)
2. perform arbitrary changes on any number of files
3. open the `scm` vie

[2020-01-31 11:39] vince-fugnitto opened #7035 "[scm] incorrect colors for icons on hover"
**Description**

The action icons (ex: 'stage changes', 'discard changes') are incorrect and are not updated when a theme changes. I expect they should be the same color as the general toobar icon colors similarly to vscode.

Ex:

![image](https://user-images.githubusercontent.com/40359487/73536497-0567ee80-43f4-11ea-8582-9c4cc8237dcc.png)

Steps to Reproduce

1. open a workspace under git source

[2020-01-31 11:58] Alexandru-Dumitru opened #7036 "Active editor doesn't detect when content on disk is newer"
### Description
There is an inconsistency between Theia and VS Code, in that in doesn't detect if content of a file is newer when modified outside of Theia.

This happens also when you programmatically try to change the content of the active editor. Please see:
https://github.com/zowe/vscode-extension-for-zowe/blob/c7cd5c8a021ebe24b040d9c98c1d06dc99e3a3e7/src/extension.ts#L1700-L1738
In here, the

[2020-01-31 12:08] vince-fugnitto opened #7037 "[tree-view] hiding a tree view is re-opened on reload"
**Description**

There is currently a bug with hiding `tree-views` (ex: `npm scripts`) where it is re-opened on reload despite a user hiding it.

**Steps to Reproduce**
1. start the application using `theia` as a workspace
2. verify that the `tree-view` 'npm scripts' is opened
3. right click 'npm scripts' header and un-select it or 'hide'
4. the `tree-view` should be properly hidden
5. reload the

[2020-01-31 12:23] vince-fugnitto opened #7038 "[shell] how should we handle 'none' icons in sidebars"
**Description**

At the moment, if a user selects `none` as their file-icon theme and docks editors in the sidepanels, the following occurs:

![image](https://user-images.githubusercontent.com/40359487/73538957-4a8f1f00-43fa-11ea-815d-9feb9c2cddac.png)

How should the application handle such a case?

Should we perhaps fallback to a regular file-icon (`minimal`)?

![image](https://user-images.githu

[2020-01-31 12:46] vince-fugnitto commented on #7037
Corresponding related issue in vscode: https://github.com/microsoft/vscode/issues/35462

[2020-01-31 13:04] lmcbout commented on #7038
On the same track, how should we handle icons on the side bar for plugins view (i.e. gitlens) ?
To test, install gitlens plugins and select View-> Gitlens
You will see the views, but no icon on the sidebar.
Tested with electron on Ubuntu 16.04 and plugin:gitlens-10.2.0.vsix

[2020-01-31 13:09] vince-fugnitto commented on #7038
@lmcbout gitlens does add an icon, what is the bug you see?

![image](https://user-images.githubusercontent.com/40359487/73541656-02272f80-4401-11ea-8e94-226bb7d5d3bd.png)

[2020-01-31 13:18] lmcbout commented on #7038
Look at the picture below, This is electron on Ubuntu 16.04, you will see the views from gitlens, but no icon on the side bar except the location where it should be (Right after the "Test:Java icon)

![image](https://user-images.githubusercontent.com/419051/73542019-cd67a800-4401-11ea-9e69-2f28d1273b96.png)

[2020-01-31 13:22] vince-fugnitto commented on #7038
Can you open an issue for Electron? (I think it should be tracked separately)
Possibly related to https://github.com/eclipse-theia/theia/issues/6834

[2020-01-31 13:30] tsmaeder opened #7039 "Scrolling in Editor is Slow in Firefox"
When I scroll with the mouse wheel in the editor in Firefox, the scroll rate (the amount the editor content moves) is much lower in Firefox than in Chromium. The renders scrolling with the mouse-wheel useless.

### Reproduction Steps
1. Run the browser example
2. Open any large file
3. Use the mouse scroll wheel to scroll
4. Observe: the content moves only a tiny amount, even when frantically scro

[2020-01-31 13:33] tsmaeder commented on #7039
https://youtu.be/DKJ8fUkslhM

[2020-01-31 14:10] sinamoeini commented on #7013
I have another suggestion can separate the folders with ":" instead ","? To be consistent with PATH variable?

[2020-01-31 14:14] benoitf commented on #7013
hi, I don't think it might work for `:` as value can contain protocol/link like
`local-dir:///tmp`

if split is around `:` it will break

[2020-01-31 14:14] tsmaeder commented on #7013
Should be system path separator, not fixed ':'

[2020-01-31 14:16] sinamoeini commented on #7013
yes you are right. Forgot about local-dir

[2020-01-31 14:26] vince-fugnitto commented on #7039
Depends on https://github.com/eclipse-theia/theia/issues/6223

It has been previously mentioned and it looks to be fixed in the newest monaco update.
Some additional information:
- https://github.com/eclipse-theia/theia/issues/6223#issue-496100290
- https://github.com/eclipse-theia/theia/pull/5901#issuecomment-533146298
- https://github.com/eclipse-theia/theia/pull/5901#issuecomment-528397513

[2020-01-31 14:27] lmcbout opened #7040 "[Electron] Plugins icons not showed on Electron"
### Description
On Electron, some icons are not shown when the plugins is installed.
May be related to https://github.com/eclipse-theia/theia/issues/6834

### Reproduction Steps
To test, install gitlens plugins and select View-> Gitlens
You will see the views, but no icon on the sidebar. (Look on the left side panel)
Tested with electron on Ubuntu 16.04 and plugin:gitlens-10.2.0.vsix
Note: If you

[2020-01-31 14:27] marcdumais-work commented on #7036
update: In the related discussion on [Spectrum](https://spectrum.chat/theia/dev/not-able-to-generate-a-merge-conflict-in-theia-v0-11-0~d7183e16-9d94-4086-a722-fdd587d0c56d), @Alexandru-Dumitru confirmed that the scenario is executed natively on Windows (i.e. not using the Windows Subsystem for Linux).

[2020-01-31 14:52] marcdumais-work commented on #7036
I am able to reproduce this problem on Linux (Ubuntu) using the latest master:

![Peek 2020-01-31 09-47](https://user-images.githubusercontent.com/25749063/73548464-d4e17e00-440e-11ea-82c6-70c66c328f64.gif)

Contrary to my first guess, it looks like the file watchers are working correctly: when the file opened in the Theia editor is clean, changing it from outside a Theia editor is detected and th

[2020-01-31 15:03] tsmaeder commented on #7039
Thanks, @vince-fugnitto I didn't find that searching for existing issues.

[2020-01-31 16:01] vince-fugnitto commented on #7037
@akosyakov I looked at the pull-request https://github.com/eclipse-theia/theia/pull/5855 and while explicitly hiding a view should work, it does not work in this case anymore.

[2020-01-31 16:26] JesterOrNot opened #7043 "More VSCode like debugging"
### Description
Update debuggiing to be more like vscode
![image](https://user-images.githubusercontent.com/50386709/73555975-26d8d280-4414-11ea-9e3a-6cddfb5a82c4.png)

[2020-01-31 16:44] vince-fugnitto commented on #7043
I think the only thing really missing is the toolbar overlay but we decided to include it directly in the `debug` view itself. It is useful once the `debug view` is hidden.

[2020-01-31 17:21] #6996 closed

[2020-01-31 17:46] danieltomasku commented on #6985
Hi @lucas-koehler , just wanted to mention that my team has developed a Preferences UI for Theia that has a very similar UI as VSCode. It includes fuzzy searching and the ability to jump to sections from the side navigation. We have been using it internally and find it very nice. We were planning on upstreaming after we received approval to do so internally. I wanted to see if you were interested

[2020-01-31 22:22] akosyakov commented on #6985
@danieltomasku wow, I would like to see a PR )

[2020-01-31 22:24] akosyakov commented on #7037
I will need to debug it. If it is a regression then we should add a new api test for it to catch in the future. I have not thought yet how to test page reload and reconnections.

[2020-01-31 22:47] akosyakov opened #7046 "integration testing of special cases"
Each developer should test his apps for 3 special cases:
- page reloads
- reconnections
- multiple windows

Currently integration test framework allow only create a page and run all tests together in it. Each test should make sure that the app is in proper state. Such simple approach is not appropriate for special testing.

[2020-01-31 22:49] akosyakov commented on #7043
@JesterOrNot could you elaborate what should be changed? Decision to always dock the debug toolbar was deliberate. We did not like it floating over editors or menu bar.

[2020-01-31 22:51] akosyakov commented on #7038
Let’s pick some default icon and use it as a placeholder in such cases.

[2020-02-01 00:59] JesterOrNot commented on #7043
Allow for the option to have the floating debug thing

[2020-02-01 11:55] chrisjj opened #7047 "Is a Theia-created IDE supposed to be keyboard-operable?"
I ask because I'm having some difficulties. E.g. In Theia Browser Example, I can't find a key to open the File menu. On Help About I can't find a key to scroll the list. On Keyboard Shortcuts, I can't find a key to select the item edit (ENTER edits the first on the list despite that it is not visibly selected).

[2020-02-01 11:57] chrisjj commented on #7047
PS I'd like to label this Question, but this requires a githib checkbox https://help.github.com/en/github/managing-your-work-on-github/applying-labels-to-issues-and-pull-requests that I cannot find

[2020-02-01 12:14] chrisjj opened #7048 "Where can I find built Theia Desktop for Windows?"
(Anyone able to label this as a question, please do.)

Please?

https://github.com/theia-ide/theia-apps says

[code]

but no info is given for Theia Desktop.

[2020-02-01 13:52] vince-fugnitto commented on #7048
Hi @chrisjj, the desktop version uses `electron` and an example application can be found here:

https://github.com/theia-ide/theia-apps/tree/master/theia-electron

[2020-02-01 13:56] vince-fugnitto commented on #7047
Just an an FYI, you can open the `keyboard shortcuts` view the platforms list of commands and their respective keybindings.  The view can be opened from the file menu + settings, or by using the command palette (<kbd>F1</kbd>) and searching for keyboard shortcuts.

[2020-02-01 14:24] chrisjj commented on #7048
Thanks, but there's no built .exe there AFAICS.

[2020-02-01 14:31] chrisjj commented on #7047
Thanks, but I don't see any of those key commands under Keyboard Shortcuts - as expected, since they'd normally be standard key commands rather than shortcuts.

By the way, Keyboard Shortcuts is a misnomer for that dialog. Those key commands bindings are rarely shortcuts. Key Bindings would be correct.

[2020-02-01 14:56] vince-fugnitto commented on #7047
I believe we simply adopted the naming present in VS Code and did not find enough of a reason to misalign. VS Code also refers to the same view as `Keyboard Shortcuts`.

[2020-02-01 14:58] vince-fugnitto commented on #7048
You must follow the steps in the `readme` to build and package the application (the installer for the application). There is no build present for any of the OS (windows, linux distro, mac).

[2020-02-01 15:01] vince-fugnitto commented on #7048
There is a recommendation to provide such vanilla theia electron applications so they are easier to consume, but the examples in `theia-apps` are simply examples. https://github.com/theia-ide/theia-apps/issues/280

If one wants to create an electron theia-based IDE, they can follow the example provided in that same repo. For instance, we also have a `C/C++` IDE example as well: https://github.com/

[2020-02-01 15:03] chrisjj commented on #7048
I would do that if I was intending to build it.

Ah. Thanks.

[2020-02-01 15:05] chrisjj commented on #7047
Being wrong is not good enough reason?

[2020-02-01 15:14] vince-fugnitto commented on #7047
Sorry, but I don't see what is wrong about calling a `keyboard shortcuts` view as `keyboard shortcuts`. The view describes all available commands and keybindings, and allows you to update them/revert them to their default values. I think it's more a matter of your own opinion since you also believe a well established editor such as VS Code is wrong as well.

[2020-02-01 15:19] vince-fugnitto commented on #7048
It is an example of how one can prepare and package their own desktop theia-based IDE.
For this example, you will need to build and package it following the steps in the `readme`.

[2020-02-01 15:38] chrisjj commented on #7047
Nothing. But it is not a keyboard shortcuts view. Most of the entries aren't keyboard shortcuts. They are simply command-to-key bindings.

Indeed it does.

Microsoft's too.

"Keyboard shortcuts are keys or combinations of keys that provide another way to do something that you’d typically do with a mouse." https://support.microsoft.com/en-gb/help/13805/windows-keyboard-shortcuts-in-apps

[2020-02-01 15:41] chrisjj commented on #7048
Indeed. Whereas the request was for something else.

[2020-02-01 15:50] vince-fugnitto commented on #7048
You mentioned `theia-apps` initially so I referenced the desktop example present in the repo. One must remember that Theia is a framework to build IDE-like applications. What was your specific request?

[2020-02-01 16:20] chrisjj commented on #7048
Sorry if my request was unclear. My"Where can I find built Theia Desktop for Windows" was asking for built distributions. not the sources.

I did remember thanks. That's why I was on the applications page. It ays "Theia applications - docker images and desktop distributions", but has no applications' desktop distributions AFAICT.

[2020-02-01 16:26] marechal-p commented on #7047
AFAIK all of the menus entries are commands. So if you can map keybindings to commands, you effectively can create any "shortcut" you want, since you won't need to use your mouse ever. You can also hit F1 and get an exhaustive list. In practice I don't know if everything is really covered by commands, but I'd say you can do a lot already. PRs are welcome if anything is missing or bogus.

[2020-02-01 17:05] chrisjj commented on #7047
But not all commands are menu entries. Or accessible except by bound key.

That's why "keyboard shortcuts" isn't a list of keyboard _short_cuts. [<< Space is workaround for GitHub formatting fail].

[2020-02-01 17:26] chrisjj opened #7049 "How can I improve the legibility of the Keyboard Shortcuts (sic) list?"
(Anyone who knows how to label this "question", please do. The necessary checkbox is missing here.)

For me, the text is too small to read comfortably e.g. lower case characters only 4 pixels tall.

![image](https://user-images.githubusercontent.com/6157073/73596169-e5315000-4517-11ea-8df1-ff10a67ce709.png)

[2020-02-01 17:28] chrisjj commented on #7049
Oops. Github shrunk the image. Click it to see in correct size and legibility.

[2020-02-01 18:29] marechal-p commented on #7047
Ok, I did not get that you were talking about the title of the widget. Feel free to rename it.

[2020-02-01 18:39] chrisjj commented on #7047
For avoidance of doubt, it is this:

![image](https://user-images.githubusercontent.com/6157073/73597284-2b8bac80-4522-11ea-867c-df0e448fbe53.png)

[2020-02-01 20:14] joazvsoares commented on #6330
Hey, I'm interested in telemetry support too.

@solsu01 have you made any progress about it?

[2020-02-01 22:06] vince-fugnitto commented on #7047
While it’s true that any dev team can make mistakes it is still a matter of your own opinion. If you truly believe there should be an update to make to the default naming of the view then feel free to open a new issue describing why it should be updated and get feedback. Else, it is entirely possible to customize the name of the view in your own application as such things are updatable.

[2020-02-01 22:08] vince-fugnitto commented on #7048
If you are in fact looking for a desktop distribution and do not want to create our own or build and use the example, then you can look for others who have done so who have used Theia to build their own custom IDEs.

[2020-02-01 22:21] vince-fugnitto commented on #7049
You can either do the following:
- zoom in/out the page (this will zoom other contents as well) provided you are using the browser target or use the `zoom in` electron command
- extend the base widget from the `@theia/keymaps` extension to be able to customize the layout to your liking.

[2020-02-01 22:30] vince-fugnitto commented on #7048
If the following does not satisfy your request, please note that there has been past discussion on potentially providing users with a desktop installer for vanilla theia (basically the `example-electron` provided in this repository) https://github.com/eclipse-theia/theia/issues/5481

[2020-02-02 18:48] garethwhittaker commented on #7026
I'm happy to pick this up as a way of familiarising myself with the Theia contribution process.

[2020-02-02 21:44] chrisjj commented on #7049
Thanks. I'll report this issue.

[2020-02-02 22:00] chrisjj commented on #5481
Any progress on this?

[2020-02-02 22:01] chrisjj commented on #7048
There was nothing following.

Thanks. No progress there for the last three months, I see.

[2020-02-02 22:05] chrisjj opened #7051 ""Keyboard shortcuts" (sic) text is too small"
E.g. on the Browser Example in latest Google Chrome, some of the characters are only 4 pixels tall:

https://user-images.githubusercontent.com/6157073/73596169-e5315000-4517-11ea-8df1-ff10a67ce709.png
![image](https://user-images.githubusercontent.com/6157073/73616166-ef327c00-4607-11ea-9ea7-fb2156f275f0.png)

The legibility is so poor and the small size so unnecessary that I assume this is a bug.

[2020-02-02 22:46] vince-fugnitto commented on #7048
The main contributors have been busy with other priorities (ex: vscode extension support), but please feel free to open a pull-request :)

[2020-02-02 22:47] #7049 closed

[2020-02-03 02:04] elaihau commented on #6990
i can also reproduce it in latest Chrome

[2020-02-03 06:13] alimoncul opened #7052 "How can i use my code snippets inside theia project?"
### Description
I would like to use my custom snippets for my projects inside theia like vscode

**OS and Theia version:**
Theia: 0.14
OS: Alpine Linux (default docker for theia)

[2020-02-03 07:19] geropl opened #7053 "[scm] Diff editor shows outdated diff on re-open"
### Description
When having an old diff-editor for staged changes open, adding new changes and trying to diff those resolves to "focus on old editor", without it's contents being updated (see gif).

### Reproduction Steps
![scm-diff](https://user-images.githubusercontent.com/32448529/73632974-b1604280-465d-11ea-978a-80810710fbc9.gif)

**OS and Theia version:**
 - Theia: 0.16.0-next.83101c3d

**Dia

[2020-02-03 09:19] akosyakov commented on #7053
We need to check whether it is relevant with vscode built-in extension and if it is then open a corresponding issue in VS Code.

[2020-02-03 09:21] akosyakov commented on #7052
It's not possible right now. PRs are welcomed, please see https://github.com/eclipse-theia/theia/issues/3686#issuecomment-530761985

Duplicate of https://github.com/eclipse-theia/theia/issues/3686

[2020-02-03 09:21] #7052 closed

[2020-02-03 09:28] tsmaeder commented on #7047
@chrisjj @vince-fugnitto I got a bit confused by the discussion about terminology, so could you answer me this: can Theia be operated using only the keyboard? Because if not, that would be an accessibility issue.

[2020-02-03 09:40] thegecko commented on #5481
No progress as yet, many options have been suggested (Azure, Travis), but as I only have experience building and signing using Jenkins servers more help will be needed if we take a different approach.

As I see it, there are 3 options:

- Setup up Jenkins servers taking advantage of the eclipse foundation build systems. This approach builds on a known release strategy we use for Mbed Studio, but r

[2020-02-03 10:23] akosyakov commented on #7047
Ideally it should be, if not please open individual issues.

[2020-02-03 10:26] akosyakov opened #7054 "Rename class copies class and renames the wrong one"
Originally opened in Gitpod: https://github.com/gitpod-io/gitpod/issues/1133

We should check whether it is an issue with VS Code, if not we have to fix it in Theia. It could issue with file changes detection in Theia.

[2020-02-03 11:13] akosyakov commented on #5481
I somehow like to reuse eclipse build systems. I think it is fine that it is a separate CI, bundling from monorepo does not work anyway, correct? It would be also close to what others have to do. Could scripts be open sourced?

[2020-02-03 11:15] lucas-koehler commented on #6985
Hi @danieltomasku, thanks for letting me know. I indeed would like to see the draft PR as your implementation already sounds quite mature and avoiding duplicate work is always good :)