[2018-03-03 10:24] mmorhun commented on #1433
@svenefftinge have you started work on that issue? If no, I could take it after current one.

[2018-03-03 10:24] #57 closed

[2018-03-03 10:30] svenefftinge commented on #99
@akosyakov I think this can be closed, please reopen if I missed something.

[2018-03-03 10:30] #99 closed

[2018-03-03 15:23] akosyakov commented on #966
We should try webpack 4 as well: https://medium.com/webpack/webpack-4-released-today-6cdb994702d4

[2018-03-03 16:01] svenefftinge commented on #1433
I have started working on the JSON Schema support, only (i.e. #1434)

[2018-03-03 16:02] svenefftinge commented on #966
Why?

[2018-03-03 16:03] svenefftinge commented on #966
Ah, they are much faster :-)

[2018-03-03 16:27] akosyakov commented on #966
They also do better tree shaking and improve defaults, so smaller output and less config and additional dependencies for loaders.

[2018-03-04 07:45] kittaakos commented on #1386
No, unfortunately, I do not know. I'll try to reproduce it again.

[2018-03-04 07:46] #1403 closed

[2018-03-04 13:10] kittaakos commented on #1410
Did not work for me either. I have opened a follow-up [here](https://github.com/bnielsen1965/wska/issues/1).

Maybe, we should try to implement our own ping/pong mechanism either built on the top of [`ws`](https://github.com/websockets/ws/issues/977) or [`pladaria/reconnecting-websocket`](https://github.com/pladaria/reconnecting-websocket).

[2018-03-04 13:50] Zate commented on #1410
ws has the functions for ping/pong existing in it, I just couldn't find the right place to put them.  It feels like we'd need a setInterval() loop on socket creation to send a ping from the server every 30s (or what ever we decide).  I was also not sure if vscode-ws-jsonrpc was getting in the way in some way.  Sorry I understand what needs to happen but not enough about js/ts to implement it.

we

[2018-03-04 14:10] akosyakov commented on #1410
Why don't do https://github.com/websockets/ws#how-to-detect-and-close-broken-connections here: https://github.com/theia-ide/theia/blob/592c54b90ebcf1357f1e6bbf7ac395f062ea50ba/packages/core/src/node/messaging/connection.ts#L43

[2018-03-04 15:19] Zate commented on #1410
I had tried that before and couldn't get it to work.  It wasn't erroring, it just wasnt emitting pings.  I will give it another shot and paste back what I come up with so someone can see if I am making some kind of silly mistake.

[2018-03-04 22:19] Zate commented on #1410
So a couple of updates.  I got ping/pong working for all the websockets, even terminal.  I just need to clean up the code a little and I can submit a PR.  On the other hand, I worked out my specific issue is Cloudflare.  They have a hard limit on websocket connections of 100 seconds.  It disconnects and then the reconnecting-websockets reconnects.  The terminal socket doesn't reconnect.

There are

[2018-03-05 01:00] #1356 closed

[2018-03-05 08:52] akosyakov opened #1436 "[git diff] Backwards navigation does not work for the first file and change."
It should be possible to navigate backward with keyboard from the first file and the first change.

[2018-03-05 08:54] jbicker commented on #1374
One issue left: https://github.com/theia-ide/theia/pull/1429#issuecomment-370348247

[2018-03-05 08:55] #1241 closed

[2018-03-05 09:02] #1426 closed

[2018-03-05 09:02] spoenemann commented on #1246
Fixed in #1362 and #1413.

[2018-03-05 09:02] #1246 closed

[2018-03-05 12:20] kittaakos commented on #20
Unfortunately, this item is outdated.

[2018-03-05 12:33] AlexTugarev commented on #1119
Spaces around ellipsis should be the same as inside. No space before `...`, if it's not following a comma, cf. apple main menu.

[2018-03-05 15:15] #1381 closed

[2018-03-05 15:15] #1436 closed

[2018-03-05 20:09] svenefftinge commented on #1119
Yes, no space.

[2018-03-05 21:24] svenefftinge opened #1439 "[shell] Editor's overlay widgets are hidden"
Editor overlay widgets, such as the suggestions pop up no longer overlay the other widgets.
Seems like this is since the recent shell refactorings. @spoenemann could have a look?

<img width="237" alt="screen shot 2018-03-05 at 22 22 14" src="https://user-images.githubusercontent.com/372735/37000445-b6b87df4-20c3-11e8-9524-0ff4dd72efe5.png">

[2018-03-06 07:02] akosyakov commented on #620
It would be nice to have it in the more drop down as in VS Code:
<img width="208" alt="screen shot 2018-03-06 at 08 01 59" src="https://user-images.githubusercontent.com/3082655/37018448-b3d95968-2114-11e8-9a37-d6e7dab925fc.png">

[2018-03-06 10:43] akosyakov opened #1440 "It is not possible to open an editor for deleted files from the git widget"
I get the following error:
`Request show failed with message: fatal: Path 'packages/git/src/browser/git-command.ts' does not exist (neither on disk nor in the index).`

It works in VS Code.

[2018-03-06 13:53] kittaakos commented on #1037
As a workaround: one can do that in a terminal.

[2018-03-06 13:57] kittaakos opened #1442 "Tree iterator returns `done:false` although the value is `undefined`"
Create an iterator and pass in a leaf node. Iterate on that. `next` returns `done: false` but the `value` is `undefined`. It should return `done: true`.

[2018-03-06 13:59] svenefftinge opened #1443 "[dialog] Consider doing `reject`on `close`"
`AbstractDialog.open()` returns a promise that gets resolved on `accept()`.
It should `reject` that promise on `close()`.

[2018-03-06 14:00] kittaakos opened #1444 "Tree iterator ignores the first node"
Create an iterator with the tree root. When iterating on it, it does not visit the root node itself.

[2018-03-06 14:10] spoenemann commented on #1408
Alternative solution: Show a default icon if the widget's title has none.

[2018-03-06 14:12] kittaakos commented on #1444
@akosyakov, could you please comment on this and #1443 whether these are real defects and we have to fix it, or that is the expected behavior. It would be strange if that is the expected, but anyway, I would need some help confirming it. Thanks!

[2018-03-06 14:35] spoenemann commented on #1439
See commit 7c11840f209a1e5b670d5dceaad4ba8633db5775

[2018-03-06 14:35] #1374 closed

[2018-03-06 16:13] #1205 closed

[2018-03-06 16:17] simark commented on #1410
In our case we're using the traefik proxy too and suspect it to drop the inactive websocket connections.  Please keep us updated with what you find!

[2018-03-06 16:44] kittaakos opened #1448 "Tree iterator terminates too early."
Assuming the following tree:
[code]
When I create an iterator it traverses the `1.1` and `1.1.1` and terminates. Note, `1` is not visited due to #1444.

[2018-03-06 18:10] epatpol commented on #1203
FYI I'm not working on this anymore at the moment, but I had some stuff in my branch https://github.com/epatpol/theia-1/tree/threads for this. Not much, but just in case. Mainly related to webpack config and custom worker types.

[2018-03-06 19:15] kittaakos opened #1450 "Fix the tree iterator issues"
TODOs:
 - [ ] [Tree iterator returns `done:false` although the value is `undefined`](https://github.com/theia-ide/theia/issues/1442)
 - [ ] [Tree iterator ignores the first node](https://github.com/theia-ide/theia/issues/1444)
 - [ ] [Tree iterator terminates too early. ](https://github.com/theia-ide/theia/issues/1448)

Will be fixed as part of #20.

[2018-03-06 19:16] kittaakos commented on #1442
Merged into #1450.

[2018-03-06 19:16] #1442 closed

[2018-03-06 19:16] kittaakos commented on #1444
Merged into #1450.

[2018-03-06 19:16] #1444 closed

[2018-03-06 19:16] kittaakos commented on #1448
Merged into #1450.

[2018-03-06 19:16] #1448 closed

[2018-03-06 20:00] lmcbout commented on #1081
The existence of actions is the first criteria. The notification timeout should depends on actions. When no actions are requiring using intervention, we set a timeout to auto-dismiss the notification. It could be set when calling the MessageService like ( this.messageService.error(`Error launching task`, { timeout: 3000 }); ) or could be set in preferences (In <workspace>/.theia/settings.json like

[2018-03-06 20:22] elaihau opened #1451 "Handle inappropriate `theiaext` usage gracefully"
`elaihau@elxa4wqvvz1:~/dev/theia/packages/core$ ./node_modules/.bin/theiaext
(node:746) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: please specify the script that runs with theiaext command.
(node:746) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.

[2018-03-06 21:43] epatpol commented on #1084
What other infos do you think could be useful in that about dialog? Extensions and their versions seem to be the obvious ones but looking at VScode they seem to show things like commit hash of that version, node version etc. If needed I could fetch some more information from the backend.

[2018-03-07 07:24] akosyakov commented on #1444
Yes, I think it is a bug.

[2018-03-07 07:58] kittaakos commented on #1444
Thanks for checking!

[2018-03-07 08:57] kittaakos commented on #1451
@elaihau, could you please add some context to this issue? For instance, what did you do, what OS are you using? Something that we could use to track down, reproduce and fix the problem. Thanks!

[2018-03-07 09:00] kittaakos opened #1455 "[git] Regression in the Git status bar contribution"
AC:
 - [ ] The currently active repository should not be visible when only one repository is available in the WS.
 - [ ] It should not throw an error when clicking on it. Currently:
[code]

[2018-03-07 09:06] kittaakos commented on #1433
Can this go to a separate extension?

[2018-03-07 10:36] AlexTugarev opened #1456 "[preview] Add option to prefer the preview over the editor"
One may prefer to open the preview instead of the editor via double-click in the navigator, e.g. for markdown files. A double-click into the rendered preview already opens the editor.

cc. @svenefftinge

[2018-03-07 11:19] akosyakov opened #1457 "The context menu in a diff editor does not contain Theia menu items"

[2018-03-07 13:10] #1177 closed

[2018-03-07 13:32] #1432 closed

[2018-03-07 13:49] kittaakos commented on #1428
@jopit, is there anything else left we have to discuss here? If no, I would like to close this issue. Thanks!

[2018-03-07 14:07] elaihau commented on #1451
yes @kittaakos , I was trying to use **theiaext** to build one of the packages, e.g., core. And the command should look like the following:
`elaihau@elxa4wqvvz1:~/dev/theia$ ./node_modules/.bin/theiaext build core`

As a newbie to this project, I wasn't aware of how **theiaext** should be used, and therefore I did the following command:
`elaihau@elxa4wqvvz1:~/dev/theia$ ./node_modules/.bin/theiaex

[2018-03-07 14:08] jopit commented on #1428
We are good for now, so closing this.

[2018-03-07 14:08] #1428 closed

[2018-03-07 14:36] akosyakov commented on #1451
Please read the documentation: https://github.com/theia-ide/theia/blob/master/doc/Developing.md#build-extension-packages-individually

You should not user theiaext directly.

[2018-03-07 14:44] kittaakos commented on #1386
No matter how hard I have tried to reproduce it, the defect did not occur again. I close this. One can reopen it again or open a follow-up with the exact steps.

[2018-03-07 14:44] #1386 closed

[2018-03-07 15:24] akosyakov commented on #1423
I think clients should do a type check to downcast to a proper type. If they expect `UriSelction` they should explicit to check for it otherwise it can be undefined or not URI selection and I've seen it happened in practice already couple times.

[2018-03-07 16:54] elaihau commented on #1421
Investigation done. This is a styling bug.

[2018-03-07 16:58] #1254 closed

[2018-03-07 17:33] akosyakov opened #1460 "'Open Workspace Symbol' command throws errors if no file is opened"

[2018-03-07 19:49] #1451 closed

[2018-03-07 19:54] elaihau commented on #1460
Hi @akosyakov , could you please provide a little more details on the context and steps to reproduce this bug?

Also, is it programming language specific? I tried with the Typescript & Javascript files, and couldn't see errors from the logs or front-end.

Thanks.

[2018-03-07 20:33] elaihau opened #1462 "CSS naming conventions"
In this code base, some CSS class names are camel cased

![screenshot from 2018-03-07 15-26-13](https://user-images.githubusercontent.com/37082801/37116494-7d08cf5a-221c-11e8-98e2-a53c74dff44f.png)

And we probably should go with the dash-separated names, with the following reasons:

https://csswizardry.com/2010/12/css-camel-case-seriously-sucks/

https://medium.freecodecamp.org/css-naming-convent

[2018-03-07 20:45] elaihau opened #1463 "Consider using Sass/SCSS"
CSS is hard to work with, and Sass preprocessor does not make CSS better.

However, mixins, `@extends`, and other syntax sugars that Sass provides could help with the CSS reuse, and (hopefully) help maintain the consistent look-and-feel of theia, when more and more developers start contributing to the product.

[2018-03-07 21:12] #1421 closed

[2018-03-08 05:34] akosyakov commented on #1463
If it does not make build slower.

[2018-03-08 05:37] akosyakov commented on #1460
You should not open any file.

[2018-03-08 05:46] akosyakov commented on #1462
Could you point which technical issue does it solve?

- We won't be able to do it generally since underlying packages like phosphor does not follow this convention.
- So far nobody cared and it was not an issue.
- It should be automatically enforced at the same time it should not affect the build time significantly. Otherwise, they won't be followed, PR reviews will get longer or the build.

[2018-03-08 05:55] akosyakov commented on #1463
Could you also explain which issue particularly you are going to solve with it?

[2018-03-08 08:21] kittaakos opened #1465 "Revisit the inversify's `toDynamicValue` usage"
Replace it with `toService` where applicable.

See:
 - https://github.com/theia-ide/theia/pull/1273#discussion_r168219297
 - https://github.com/theia-ide/theia/pull/1294#pullrequestreview-97462580
 - https://github.com/theia-ide/theia/pull/1345#discussion_r170682422
 - https://github.com/theia-ide/theia/pull/1438#discussion_r173071605
 - etc...

[2018-03-08 09:10] akosyakov commented on #1134
https://github.com/runkitdev/magic-ws could be worth to investigate

[2018-03-08 11:10] marcdumais-work commented on #1460
@akosyakov trying to reproduce, I do not see any error with a workspace open and no file open. With no workspace open, I see:

[code]
Is that the error ?

[2018-03-08 11:17] akosyakov commented on #1460
@marcdumais-work just tried again, it does not happen anymore, feel free to close, i will open a new issue if find steps to reproduce

[2018-03-08 11:28] marcdumais-work commented on #1460
ok, thanks.

[2018-03-08 11:28] #1460 closed

[2018-03-08 13:32] akosyakov commented on #806
- Webpack should not install the hot module replacement in the production mode.
- The production mode should be a default to disable it `NODE_ENV` should be set to `development`.

[2018-03-08 14:12] #1439 closed

[2018-03-08 14:42] jopit opened #1466 "Possible memory leak?"
I pulled and ran the theiaide/theia image from Docker Hub, and left it overnight with a client connected.  Using `docker stats` to monitor the memory usage, when it started it was using 120MB, but after 18 hours of being up but doing nothing, memory was at 215MB.

[2018-03-08 15:19] marcdumais-work commented on #1466
Hi John,

It's possible that it's related to #1284. In that issue, we concentrated mostly on the spectacular virtual memory leak, but there was also an apparent but more modest increase in the resident memory used (that one seemed to stop growing after a few hundred megs).

If you still have your instance running, you might look at the virtual memory being used.

Another potential thing to try is

[2018-03-08 15:33] svenefftinge commented on #1465
Also, in many cases it could be a simple to-binding, as the right hand side is never injected anywhere else.

[2018-03-08 16:41] kittaakos opened #1467 "[generator] Check whether we can get rid of the UMD module related workarounds"
This task is the follow-up of #1232.

From slack:

_It seems they have fixed the webpack-UMD issue in one of the vscode dependencies we are using. At least [this] commit seems to be related. We should check if they changed anything in other problematic dependencies so that we can get rid of our workarounds._

[this]: https://github.com/Microsoft/vscode-css-languageservice/commit/9cd3abece95c192f84

[2018-03-08 19:24] jopit commented on #1466
It does look like it's leaking virtual memory:

[code]

[2018-03-08 19:35] marcdumais-work commented on #1466
Another symptom of this leak is that it clears when the front-end is reloaded.

If that happens too in your case, then this is probably a duplicate of #1284. I think it would be interesting for you to add to that issue, what you reported above, since I think we have not yet documented the leak in resident memory.

We have insulated the problem to the file watcher library we use, called "nsfw", and

[2018-03-08 19:44] jopit commented on #1466
Yes, reloading the front end frees up both the virtual and resident memory

[code]

[2018-03-08 19:48] jopit commented on #1284
From issue #1466

I pulled and ran the theiaide/theia image from Docker Hub, and left it overnight with a client connected. Using docker stats to monitor the memory usage, when it started it was using 120MB, but after 18 hours of being up but doing nothing, memory was at 215MB.

It's leaking a lot of virtual memory, and a lesser amount of resident memory, running `ps aux` gives

[code]
Reloading t

[2018-03-08 19:50] marcdumais-work commented on #1466
closing as duplicate of #1284

[2018-03-08 19:50] #1466 closed

[2018-03-08 20:00] epatpol commented on #1462
I think we should at least try to be consistent in the naming of the CSS classes defined inside Theia, unrelated to those from Phosphors. I.e we already have [coding guidelines](https://github.com/theia-ide/theia/wiki/Coding-Guidelines) for .ts files but recently when I had to add a class to CSS I wasn't sure which case to use.

An example is `.theia-TreeNodeSegmentGrow` and `.theia-app-sides` or

[2018-03-09 04:55] elaihau commented on #1462
I believe "being inconsistent with naming CSS classes" makes the code more difficult to read and maintain, and I believe that's also the reason why we want to follow naming conventions when we name the classes, functions, and variables in our Typescript / Javascript code.

Since we are already using tslint to pinpoint the readability and maintainability issues, I guess using something like css / s

[2018-03-09 06:02] elaihau commented on #1463
In my opinion, using Sass/SCSS could help

- Promote the **CSS reuse**:
*******
.p-MenuBar-item {
  padding: 0px 8px;
  border-left: var(--theia-border-width) solid transparent;
  border-right: var(--theia-border-width) solid transparent;
  line-height: var(--theia-private-menubar-height);
}
.p-MenuBar.p-mod-active .p-MenuBar-item.p-mod-active {
  z-index: 10001;
  background: var(--theia-layout-c

[2018-03-09 06:24] akosyakov commented on #1462
@elaihau I pointed my concerns. You should try to introduce it and see whether:
- it is possible to auto-lint in VS Code and during the build without false positive
- it affects the build performance

[2018-03-09 09:24] svenefftinge opened #1470 "Improve handling of large files"
Currently, we keep the document buffers on the client and send the full file contents back and forth on save and some other operations (LSP). This is, of course, a bit naive and needs improvements.

I propose that we move the resources and documents to the backend, such that the communication between the monaco model and the backend documents will go through text edits and versioned documents. The

[2018-03-09 09:25] svenefftinge commented on #1470
This also should be a good step towards collaborative editing and a sandboxed extension system like VS Code's.

[2018-03-09 09:38] svenefftinge commented on #1470
Before we go down that road, which will change some important parts in the architecture, we would like to try improving the protocol in the fs, to work with incremental changes.

The idea is that we
 - fetch the contents on open once (through GET)
 - use hashes to communicate and compare document contents in file changes
 - send text edits instead of full contents on change

[2018-03-09 11:34] AlexTugarev opened #1471 "Avoid `split` of document content"
Split lines is quite expensive as it's done in `merge-conflicts` and `git/dirty-diff`, cf.

<img width="797" alt="screen shot 2018-03-09 at 12 31 27" src="https://user-images.githubusercontent.com/914497/37205699-042679fe-2396-11e8-8489-4c905c6d5de9.png">

cc. @akosyakov

[2018-03-09 12:09] akosyakov commented on #1471
@AlexTugarev please profile as well there were other hot spots

[2018-03-09 12:11] AlexTugarev commented on #1471
the `merge-conflicts` hot spot can be easily improved by using new iterator-based [`split`](https://github.com/theia-ide/theia/blob/536f38d3fd2d7491c87318f0765f1ba575b52d57/packages/core/src/common/strings.ts).

<img width="763" alt="screen shot 2018-03-09 at 13 11 22" src="https://user-images.githubusercontent.com/914497/37207041-663aabb0-239b-11e8-860e-cce9ab1c8cfc.png">

[2018-03-09 14:11] kittaakos opened #1473 "A collapse all action/command would be useful in the navigator"
Fortunately, as a workaround, one can refresh the browser window until we have [this](https://github.com/theia-ide/theia/issues/1316) bug.

Before starting to implement anything for this task, make sure it is clear how and where to put this action/command. For instance, do we need a toolbar for the widget and so on.

Edit: fixed the link to the other bug.

[2018-03-09 14:52] svenefftinge opened #1474 "[shell] terminal shown before loading overlay is removed"
Best explained by showing :
![terminal_loader](https://user-images.githubusercontent.com/372735/37213274-d6c5342a-23b1-11e8-9cfa-c26e8a6fbe2c.gif)

[2018-03-09 15:05] epatpol commented on #1473
I'm okay with adding a toolbar to the widget like vscode. I guess it could also accept contributions from other extensions also, kinda like the status bar?

[2018-03-09 15:16] kittaakos opened #1475 "[git][diff][question] Dirty diff manager throws an error"
when either `right` or `left` is not under version control.

It does not cause a problem, but can we handle it on the frontend? So do not execute `git show` when something is not under version control.

Alternatively, git backend can handle this and return either `undefined` or something else.

I have assigned to you, @AlexTugarev. If you believe, it should be handled on the git backend, just reas

[2018-03-09 15:19] kittaakos commented on #1473
Thanks for pinging, @epatpol. As I wrote, the toolbar/whatever requirements have to be discussed before you start to implement anything. Maybe, we just simply drop the idea and add a keybinding for that.

CC: @akosyakov @svenefftinge

[2018-03-09 15:25] epatpol commented on #1473
I wasn't planning to work on this right away no worries :)

Indeed maybe a simple keybinding/command contribution could be good for now, and then once the ui requirements are set in stone there can be something that just calls the command that was there before.

[2018-03-09 16:06] kittaakos opened #1476 "[fs] Implement smart multi-file deletion"
Once #20 will be merged to the master one can select multiple files in the navigator, and can delete multiple files at the same time.

Make the multi-file deletion smarter than just delete each file one by one.
For instance:
 - When a folder and any of its contained files are deleted => delete just the folder.
 - When deleting all the files from a directory => delete the directory instead.

The co

[2018-03-10 02:14] hexa00 commented on #1246
Nice thx :)

[2018-03-10 10:59] rcjsuen commented on #1407
I think the close button isn't rendered because the widget's `title`'s `closable` property hasn't been set to `true`. You also can't close it with the middle mouse button.

[2018-03-10 14:33] kittaakos commented on #1407
Yes, I can confirm that, thanks! My question was rather why did we decide to have a non-closeable widget, unlike the `Problems` view.

[2018-03-10 15:28] svenefftinge commented on #1407
Because it opens in the left side-bar. It also doesn't have an icon.

[2018-03-10 15:29] #454 closed

[2018-03-10 15:30] svenefftinge commented on #1407
See also https://github.com/theia-ide/theia/issues/1408

Adding the close icon everywhere, makes the UI a bit busy. We should experiment with things like only showing it on hover or so.

[2018-03-10 17:56] kittaakos commented on #1183
It should show `+!` when there are conflicts and merged things too.
<img width="84" alt="screen shot 2018-03-10 at 18 55 00" src="https://user-images.githubusercontent.com/1405703/37245185-bfba13c0-2494-11e8-8594-355936897662.png">

[2018-03-11 17:45] gindik opened #1478 "Focus issue in Firefox"
This issue occurs only in Firefox, when embedding Theia through an IFrame. Steps to reproduce:

 - Open a file in Theia
 - Focus out of the IFrame (into any control of the host page)
 - Focus back into the Theia editor

Expected result: the editor should be back in focus (tab with filename should be underlined) and the content of the text should be editable.

Actual result: the editor remains out

[2018-03-12 08:48] kittaakos opened #1479 "[tree][navigator]Tree search"
Must:
 - [x] It should be possible to quickly navigate to an expanded node using fuzzy text search.
 - [x] Occurrences in matching and already expanded nodes should be highlighted.
 - [x] It should be activated whenever a user starts typing in a focused tree widget.
 - [x] It should not take invisible nodes into account.

Also:
 - [x] Investigate other IDEs. WebStorm, Eclipse, etc.
 - [x] Maybe, a

[2018-03-12 08:51] kittaakos commented on #1478
@gindik, do you happen to have a git repository we can just use and clone to reproduce the defect? That would be helpful. Thanks!

[2018-03-12 11:09] marcdumais-work opened #1481 "[typescript] improve error message when LS doesn't start correctly"
It can happen that the TypeScript compiler [is missing](https://github.com/theia-ide/theia-apps/issues/29), when running Theia outside the development environment (e.g. docker images from theia-apps). This causes the TS LS to not start correctly.

The message then given to the user is generic and doesn't help much : ```"Failed to start language server 'TypeScript'"```

We should have a message sim

[2018-03-12 12:33] kittaakos commented on #1481
See: https://github.com/theia-ide/typescript-language-server/issues/28

[2018-03-12 13:29] #1474 closed

[2018-03-12 14:44] kittaakos commented on #1462
I think it is a great idea. I wanted to file an issue when I had to debug the styles. It was a nightmare. Finally, I ended up adding more and more CamelCase classes because that was the convention in the tree.

I think we can do this without any sophisticated linters. Following a guideline is more than nothing, I agree with @epatpol and @elaihau. We should write up something, change the existing c

[2018-03-12 15:15] benoitf opened #1482 "Plug-in System"
_This is a follow up on the previous issue https://github.com/theia-ide/theia/issues/1347_

# Provide plug-in API
There is a current extension model in Theia powered by inversify allowing to use/extend any extension point available but the current model is conflicting with some Eclipse Che goals.
While this model fit nicely the ISV goals, it may not fit for 'cloud IDE developer'

## Eclipse Che Go

[2018-03-12 15:16] benoitf commented on #1347
closing it by opening a more specific issue https://github.com/theia-ide/theia/issues/1482 as discussed in the last weekly call

[2018-03-12 15:57] AlexTugarev commented on #1482
Just asking, how would the rendering part of plugins fit into this picture? At some point those plugins want to render something, right?

[2018-03-12 16:17] svenefftinge commented on #1482
It would be nice to evaluate whether we could just support the VS Code extension API.

[2018-03-12 16:24] benoitf commented on #1482
@AlexTugarev sure it's a question that come quite often. it's flexibility over control. It's where you put the cursor between customization and maintenance.
It's not because there is an API that you can not render anything. If the core API is providing a rendering of image in editor, then the extension can reuse that rendering as well.
But if you're thinking about adding some html popups anywhere

[2018-03-12 16:31] benoitf commented on #1482
@svenefftinge funny that you add that comment as we were also thinking at a time to have an abstract layer on top vscode extension API allowing vscode plugins to be easily migrated as well. (it may work out of the box for many plugins as well without changes in vscode plugins)

Based on the previous comment, vscode is clearly preventing any UI rendering from extension while theia API could authori

[2018-03-12 16:54] akosyakov commented on #1471
Noticed that it happens even with `"git.editor.decorations.enabled": false`.

[2018-03-12 17:29] akosyakov commented on #1482
I don't think we can/should run VS Code extensions in web workers:
- they allow any Node.js based dependencies. Extension developers can use any dependencies from Node.js.
- accessing the filesystem, git and so on from the browser is expensive because of the network overhead. I assume that extensions can perform more effectively on the backend and send minimal increments to the frontend to reduce

[2018-03-12 17:35] benoitf commented on #1482
@akosyakov about the first point, extension can be run on the server side (with threads instead of worker or with libs like https://www.npmjs.com/package/tiny-worker) as we're still sending messages we can use any node dependencies in that case.

But yes obviously it means that we send more messages between client and the server.

[2018-03-12 18:10] svenefftinge commented on #1482
I would say we either support vscode extension through this or not. It doesn't make sense to have two different sandboxed / high-level extension mechanism, does it?

[2018-03-12 18:30] svenefftinge opened #1484 "[problems] styling issue in problems view"
The label is wrapped in the icon element and gets `fontawesome`font family.
<img width="176" alt="screen shot 2018-03-12 at 19 28 59" src="https://user-images.githubusercontent.com/372735/37302431-cc08028e-262b-11e8-82d2-7a1db3eea8ba.png">

[2018-03-12 18:42] epatpol commented on #182
Can we close this? Or

We don't really have that? We would need a custom view with a maybe right-click -> reset key binding just like vscode.

[2018-03-12 18:44] epatpol commented on #110
We have this now with the status bar changing color no? Although I'm not exactly sure about the error handling part.

[2018-03-12 18:46] epatpol commented on #443
We just require PRs to have signed-off commits now so maybe this issue can be closed?

[2018-03-12 18:58] marcdumais-work commented on #443
This might be moot in any case - when we move to the Eclipse Foundation, they have their own standards about how to accept contributions.

[2018-03-12 19:57] epatpol commented on #617
I think that doesn't make sense anymore as the backend is kinda stateless now? @svenefftinge

[2018-03-12 21:39] epatpol commented on #1119
The problem is, as @svenefftinge mentionned I think? If we change something to like `Git: History` it will look good in the command palette but weird in the menu. We could add an optional label to the `Command` interface like `menuLabel` or something?

[2018-03-12 22:18] marechal-p opened #1485 "Broken shortcuts Firefox/Chrome"
This issue can certainly be broken down into multiple sub-issues, but they share a common problem:

Some key shortcuts are not caught and are triggering the browser functions:

- `ctrl+shift+u` should toggle the `Output` view, works on Firefox but not on Chrome.
- `ctrl+shift+o` should toggle the `Outline` view, but:
  - works on Chrome but conflicts with Monaco's outliner search bar when focus is

[2018-03-13 05:57] akosyakov commented on #1462
ok, please go ahead and write up something

Changing all existing class names at once sounds like a big testing effort to me, but as a guideline for new classes is fine. We can iteratively refactor the old code as we work on relevant parts.

[2018-03-13 06:01] akosyakov opened #1486 "fine-grained CSS variables"
We use CSS variables for theming. Right now most of the variables are generic and changing them can break some parts of UI. It would be nice to introduce semantic specific CSS variables to have more fine-grained control.

[2018-03-13 06:18] akosyakov commented on #1463
We use CSS variables for theming if you are interested in improving existing CSS it would be worth to look at this issue: https://github.com/theia-ide/theia/issues/1486

[2018-03-13 06:31] #1347 closed

[2018-03-13 07:38] svenefftinge commented on #1486
I don't think they should be extension specific, but they should be semantic. I.e. naming common UI elements, like we started doing with the scrollbar, buttons and dialogs already.

[2018-03-13 08:23] AlexTugarev opened #1487 "Consider outsourcing dirty diff computation to git"
Currently dirty diff is calculated in browser, similar to the solution of vscode, but it performs badly (#1471). Though there is space to improve the implementation of that, we can offload the computation to the backend, which would make even more sense once #1483 has landed. I've learned recently from atom that git can be used to compute the diff lines, too.

While the `git diff` documentation is

[2018-03-13 08:26] kittaakos commented on #1479
Eclipse:
 - Jumps to the next node that matches the pattern.
 - No highlighting.
 - No way to navigate back to previous matches.

WebStorm does the following:
 - After a successful search (and some delay), they jump to the first match.
 - They hide the search widget when one starts navigating with the cursor keys.
 - Cursor navigation => jumps only to selected nodes.
 - Where there are no matches,

[2018-03-13 08:35] akosyakov commented on #1479
How do they navigate between matches?

[2018-03-13 08:36] kittaakos commented on #1479
With the Up and Down cursor keys.

[2018-03-13 08:49] AlexTugarev commented on #1475
@kittaakos I finally understand the underlying issue here!

you are completely right, it should not produce any errors (in log). the implementation does not check for uri schemes, which is a bogus.

e.g. in comparing a tree to some other branch let's open `gitrev` uris, which cannot be handled as `file` uris. I'll add a guard for uris to be handled.

[2018-03-13 10:23] akosyakov opened #1489 "[ts] Theia is not responsive with a lot of ts errors and opened Problems view"
Try to copy and open this file https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts

It seems that we are trying to fetch about 10000 diagnostics and render all of them in the main thread.

[2018-03-13 10:27] akosyakov opened #1490 "alive check is spamming network tab in the dev tools"
We could consider using ws ping/pong instead.

[2018-03-13 11:16] AlexTugarev commented on #1475
@kittaakos please reopen, if there will be any other situations related to this issue.

[2018-03-13 12:13] kittaakos commented on #1104
@jbicker ping. Is this still valid? As far as I know, you used this functionality in the Git history.

[2018-03-13 12:23] jbicker commented on #1104
@kittaakos pong. No. Works fine for weeks ;-) I'll close it.

[2018-03-13 12:23] #1104 closed

[2018-03-13 13:52] marechal-p commented on #928
I really like the one linked on StackOverflow:

[code]

Also it seems like only the FS test suite is actually using chai-as-promised, other tests setup the `.should()` but seem to never use it.

Getting rid of chai-as-promised seems to be relevant, but because we could still test for async exceptions in other files I wonder where to write the `expectThrowsAsync` ?

Do we place it in such a way tha

[2018-03-13 13:57] kittaakos commented on #928
👍

That was the actual goal of this task. Thanks for checking.

What about creating a new module for it under the: `/theia/packages/core/src/common/test/expect.ts` location?

[2018-03-13 15:54] epatpol commented on #1119
I'd like to do it as I remember not being sure what label to add to new commands. I suggest we do not add that prefix to Monaco/Editor and Core commands, maybe Workspace too? Maybe `Editor: Copy` is a bit overkill ? Although I'm always okay with things being more verbose than not. Looking at vscode's command palette it seems Git and other extensions/packages that provide several commands have that

[2018-03-13 16:52] kittaakos commented on #1119
:) or `Terminal: Open New`?

[2018-03-13 18:35] marechal-p commented on #928
Turns out I was looking for the use of `.should`, but when looking for `chaiAsPromised` usage it came up in the following packages:
- `process`
- `task`
- `terminal`

They mostly use the `.to.be.eventually.fulfilled` notation.

The only requirement is to write `chais.use(chaiAsPromise)`, do you reckon getting rid of this too ?

This is a trivial issue but understanding the logic here may help me u

[2018-03-13 18:43] kittaakos commented on #928
I do not know this off the top of my head but isn't `expect(yourAsyncCall).to.be.eventually.fulfilled` equal to `await yourAsyncCall` in this case? In other words, if you just want to check something is not rejected, you can do an `await` if it was rejected an error will be thrown anyway. Does this clear or shall we discuss it further?

[2018-03-13 19:16] kittaakos opened #1493 "[tree] The font decoration is completely broken in the tree"
If one contributes a tree decoration extension to a tree widget and sets the font data, then it breaks all the other decorations. InlineElementStyles are incorrectly used all over the place.

I will take care of this as part of #1479 .

[2018-03-13 20:09] marechal-p commented on #928
It didn't cross my mind at all. But you are totally right. Going with this :)

[2018-03-13 20:16] marechal-p commented on #1485
I reverted this commit and it removed the problem where the key is not caught outside of the context of the editor: https://github.com/theia-ide/theia/commit/574236ee83e8bb1a6c31011ac7fc73876cc81a0c

@AlexTugarev what was the scope/goal of this modification ? Do you see why it causes some keystrokes to not work from the new context they spawned ?

[2018-03-13 20:22] kittaakos commented on #1095
Meanwhile, it turned it, it was a bad idea.

 - From the UI, we never planned to support it.
 - From a terminal, inside Theia it is possible.
 - From the tests, and the was the **main goal** of this task, it does not make any sense. No historical information, no branches, or revisions, nothing can be retrieved from a shallow clone. It does not help the testing (speed) at all.

Closing.

[2018-03-13 20:22] #1095 closed

[2018-03-13 20:27] epatpol commented on #1142
@JanKoehnlein This seems to work now no? Should we close it?

[2018-03-13 20:47] svenefftinge commented on #1119
This needs more fine tuning or needs to be softened. Some general requirements are
 - If a label is shown in a certain context (i.e. context menu of a widget), it can be shorted (omitting that obvious context information)
 - If it is shown in a global place (command palette, main menu) it needs to be clear what it does.
 - This is not about 'extension' names but about telling the user what a comma

[2018-03-13 20:51] svenefftinge commented on #1479
+1 it feels nice and simple.

[2018-03-13 22:23] ShivaniBali opened #1495 "Xtext LSP integration with Theia"
Hi there,

I have built a language server for my DSL, but I am not able to integrate it with Theia IDE.
I followed up: https://github.com/theia-ide/theia-xtext, it's working very well for it's own dsl.

But I am having trouble in getting the point of integrating my own DSL(xtext) to Theia IDE.
Kindly let me know if I have to follow any other pointer or any reference.

Appreciate your inputs!
Thank

[2018-03-14 07:12] svenefftinge commented on #1495
What kind of trouble?

[2018-03-14 07:45] kittaakos commented on #1493
Merged into #1479.

[2018-03-14 07:45] #1493 closed

[2018-03-14 07:47] kittaakos commented on #1479
I just do not know yet, where to overlay the widget for the search term. Any suggestions?

[2018-03-14 08:00] kittaakos commented on #1487
Additionally, `dugite-extra` has its own [`diff-parser`](https://github.com/theia-ide/dugite-extra/blob/master/src/parser/diff-parser.ts) module, I do not know whether we could use it as is.

[2018-03-14 08:02] AlexTugarev commented on #1487
Great! `DiffLine` abstraction of the results is pretty much what is needed. Thanks!

[2018-03-14 08:04] kittaakos commented on #1487
This is originally from the [GitHub Desktop](https://github.com/desktop/desktop) guys, we haven't yet used it before.

[2018-03-14 08:11] geropl opened #1496 "[navigator] After drag and Drop (+ Ctrl) for one file from folder A to folder B both files are gone"
- The navigator don't show the file, neither in A nor B
  - Refresh (collapse and open) does not help
- The Git view does not show **any** changes
- `git status` in the terminal says file `a` has status `typechange`, `b` has status `deleted`

[2018-03-14 08:20] kittaakos commented on #1479
Depends on #1450. I cannot traverse the tree unless I can use the fixed tree iterators.

[2018-03-14 09:12] kittaakos commented on #1475
I do not know why we are trying to call `git show` but it could be a diff manager problem. Steps to reproduce:
 - Create a file in the currently active repository (for the sake of simplicity, let's have one repository in the WS).
 - Write something to the editor.
 - Delete file from the navigator. (The file remains open in the editor but the content will be deleted, know issue). Make sure it alrea

[2018-03-14 09:16] geropl commented on #1496
Does not occur after pull and clean re-build from source.

[2018-03-14 09:30] akosyakov commented on #1119
Maybe, we need an explicit concept as a command category:
- in the global places, we can always prefix `${category}: {label}`, although I can imagine that `Editor` prefix can be skipped in the command palette if a current widget is an editor and `Git` prefix can be skipped for `Git` submenu
- for context menus, we can use one variant or another. I would find it nicer than taking a substring as now

[2018-03-14 10:22] #20 closed

[2018-03-14 10:22] #1450 closed

[2018-03-14 10:32] AlexTugarev commented on #1475
thoughts on this:

* there is no change emitted when an untracked file is deleted.
* `git show` is requested for unaffected models in diff manager.

Considered changes:

- [ ] untracked files should not be handled at all!
- [ ] create model on staging of untracked files
- [ ] removes model when a file becomes untracked
- [ ] update model's previous revision content when `staged` state changes

[2018-03-14 10:35] kittaakos commented on #1475
Did you mean, you are not receiving a `GitStatusChangeEvent` when an untracked file has been deleted?

[2018-03-14 10:37] AlexTugarev commented on #1487
Discussed this with @akosyakov. It looks like, it doesn't make sense to change it as long as the document buffer is not available on backend. The network pressure of sending large files will equalize the performance gain of computing the diff with git.

[2018-03-14 10:49] AlexTugarev commented on #1475
Correct. No change is reported for deletion of a file `U`.

[2018-03-14 10:51] AlexTugarev commented on #1475
I think it's git's (de)fault. I did not consider that, and it requires to be handled explicitly.

[2018-03-14 10:51] kittaakos commented on #1475
Smells like a bug. If that's the case, that would mean, if the user deletes an untracked file, the removal does not show up in the Git widget.

[2018-03-14 10:56] kittaakos commented on #1475
I receive the event in the [Git widget](https://github.com/theia-ide/theia/blob/18a24ac1f11bc45f56c64a9d058387af9a5a7ba2/packages/git/src/browser/git-widget.ts#L97) when I delete an untracked file.

<img width="512" alt="screen shot 2018-03-14 at 11 55 50" src="https://user-images.githubusercontent.com/1405703/37398401-b087ede0-277e-11e8-9f7f-d7a2225fd713.png">

I am not currently not on the `mast

[2018-03-14 10:58] AlexTugarev commented on #1475
The git widget shows the projection of git status results, and it shows the content correctly.

https://github.com/theia-ide/theia/blob/master/packages/git/src/browser/git-widget.ts#L105-L145

[2018-03-14 10:59] AlexTugarev commented on #1475
@kittaakos I see, I can compute the deletion of file! `untracted -> not present` would mean it's deleted.

[2018-03-14 12:27] #1496 closed

[2018-03-14 12:32] akosyakov opened #1499 "Refactor the git diff widget to add template methods"
It is not possible to subclass and override rendering of particular elements as for now, only by copying.

[2018-03-14 12:35] geropl opened #1500 "[filesystem] Symlinks in the filesystem cause errors"
Operations on symlinks cause issues:
- Replace symlink with file of same name:
  - are shown as `deleted` in `Git View` and `Navigator` (decorator) instead of `updated`
- drag and drop one file (symlink) from folder `A` to folder `B`:
  - The navigator don't show the file, neither in A nor B
    - Refresh (collapse and open) does not help
  - The Git view does not show any changes
  - `git status`

[2018-03-14 12:39] geropl commented on #1500
Original issue: #1496

[2018-03-14 13:27] mmorhun commented on #227
Done

[2018-03-14 13:27] #227 closed

[2018-03-14 13:50] svenefftinge opened #1503 "[theming] Allow setting application default theme"
Currently `dark` is hard-coded to be the default theme. We need to allow third party extensions to change that.

[2018-03-14 14:10] spoenemann opened #1504 "Reorder CSS layout variables"
Currently we have the following CSS variables for the dark theme:
[code]
and the bright theme:
[code]

There is no logical ordering in these variables although they are numbered from 0 to 7. This makes it quite hard to use them, and probably also to create new themes.

We should reorder them such that by comparing the index of two variables one can deduce whether they have higher or lower contrast

[2018-03-14 14:25] #1499 closed

[2018-03-14 14:53] kittaakos commented on #1504
Here as well:
`dark`:
[code]

`bright`:
[code]

[2018-03-14 15:48] kittaakos commented on #1390
This issue blocks my work for #1479. I'll take care of it.

[2018-03-14 15:55] kittaakos opened #1507 "[git][navigator][decorator] Adjust the Git decorator colors"
The untracked and the copied tree nodes are almost invisible when it is selected with the dark theme.

![screencast 2018-03-14 16-52-06](https://user-images.githubusercontent.com/1405703/37413988-7a8a70f8-27a8-11e8-8b05-657633a0e812.gif)

[2018-03-14 16:07] #1084 closed

[2018-03-14 16:18] svenefftinge commented on #1482
As you already started prototyping on this (https://github.com/theia-ide/theia/tree/isolated-extension-api), I'd like to get the discussion going on why we just can't support the VS Code extension system instead. It seems to fulfill all the requirements you listed above?

The advantages are:
- ~6000 existing extensions
- many developers familiar with that
- lots of articles and documentation
- too

[2018-03-14 16:29] benoitf commented on #1482
I think that some arguments were given by Anton. VScode assume that extension is running close to the client (Desktop IDE). So while you're talking on a big advantage, you may also have a lot of network usage when client and server are separated.
So it may be nice think (BTW you mentioned only advantages and no drawbacks) but philosophy is quite different for cloud IDE where you might want to opti

[2018-03-14 17:19] kittaakos commented on #1479
CC: @AlexTugarev

I am open to any ideas about the search box and its position. We have this so far, but this can be improved for sure:
![gh-1479](https://user-images.githubusercontent.com/1405703/37419083-fd9761d0-27b3-11e8-9903-e780b4bb40e1.gif)

[2018-03-14 17:27] #182 closed

[2018-03-14 18:41] svenefftinge commented on #1482
Could you be more concrete about your concerns? Which information don't you want to send over the network and why could we never support the API fully?

I think the benefits are compelling so we should have very good reasons to invent our own thing instead.

[2018-03-14 18:47] jopit commented on #1478
Something similar (but worse) is happening when using Edge on Windows 10, even when Theia is not embedded in an iframe.

On a Windows 10 machine with Docker installed, I pulled and ran the latest Theia docker image from theiaide/theia on Docker Hub.  When I open Theia in Edge, and edit a file, as soon as I click anywhere in the text of the file, the edit window loses keyboard focus and I can't mak

[2018-03-14 19:38] akosyakov commented on #1482
Is not it our case that we have a powerful scalable backend and potentially limited on resources frontend?

I imagine a worst case as someone who has a budget laptop and wants to use remote workspaces with Theia. Would she be happy to find out that extensions are doing some heavy networking and computations in multiple web workers? How could it be prevented with web workers? How could we control c

[2018-03-14 19:51] AlexTugarev commented on #1479
What about increasing the contrast of this overlay? Maybe add a drop shadow to indicate overlay, as I assume it should stay fixed while scrolling.

Another option could be to place is half outside the top border, which would keep the functionality of the main menu. The position on the left hand side would keep the "Search for:" prefix at a fixed position. Shifting that prefix back and forth seems

[2018-03-14 19:56] lmcbout commented on #1479
AS Alex mentioned, I find it noisy when you type and see the text moving to the left. I think having it on the right side and half way as Alex mentioned seems a good place to be

[2018-03-14 20:31] kittaakos commented on #1479
@AlexTugarev, @lmcbout, thanks for the feedback.

Sorry for the confusion, I would go with a minimum width, then it could grow. The probability you would like to search for more than 8-10 characters is quite low.

I like this.

That is good unless you move the navigator to the right, or to the bottom, etc. I have no objections against moving this outside but +1 for keeping this inside. Otherwise,

[2018-03-14 20:43] AlexTugarev commented on #1479
sounds good, if it starts with a width which doesn't need to be increased for ~10 chars.

one more option:
![2018-03-14 21 41 21](https://user-images.githubusercontent.com/914497/37429765-95c2c5aa-27d0-11e8-83a6-d2b1a1c3f60a.gif)

[2018-03-14 22:06] epatpol commented on #230
I'd like to tackle this one, so looking at #582 and the old comments I'm still not sure what we want here. Would how vscode do things be okay? i.e

* Rename is made from within Theia
    * If associated editor has unsaved content
        * Rename the editor but keep the unsaved content
    * Else
        * Rename the editor
* Rename is made from outside Theia (Filesystem)
    * If associated edito

[2018-03-14 23:52] ShivaniBali commented on #1495
Hi there,
Thank you for coming back on this..

I followed : http://www.theia-ide.org/doc/authoring_extensions
For generating xtext-dsl extension for theia ide. But in “theiaExtensions” I could not see backend, which is required to link to my dsl language server.

And when I execute it in browser, apparently it opens up but not taking in my dsl language.  Hence, I am not able to generate language w

[2018-03-15 07:44] kittaakos commented on #1479
That is nice; I am not sure if we want to show the hit count.

[2018-03-15 07:46] AlexTugarev commented on #1479
It was more about the drop down effect.

[2018-03-15 07:50] kittaakos commented on #1479
Yeah, I got it. There is one problem with drop-down effect; when you do this in the browser (I assume, you got the idea from there), you trigger the search with <kbd>Ctrl/Cmd</kbd>+<kbd>F</kbd>. In our case it should instantly filter whenever you type something, so we cannot have that delay. It should be way faster.

[2018-03-15 08:23] spoenemann commented on #1486
@akosyakov how is this related to #1504? Do you propose to replace the existing variables using new names, or to add new variables in addition to the existing ones?

[2018-03-15 08:32] akosyakov commented on #1486
No, it is not related, it is about adding new variables.

[2018-03-15 08:42] kittaakos commented on #1462
It would be great to prefix Theia classes with a `t-` instead of `theia-`. Something like `t-tree-row`, or `t-search-box` would be sufficient, I think. It is specific enough to avoid collisions, still not verbose, so you can debug it more comfortable.

[2018-03-15 08:52] marcdumais-work commented on #1075
We have user reports that they still sometimes get an incomplete workbench (e.g. missing file navigator) when starting Theia. Triggering the "Reset Workspace Layout" commands clears the issue.

[2018-03-15 09:54] marcdumais-work opened #1508 "Support opening file in the Theia editor from the terminal"
It would be nice to supporting this.

[2018-03-15 10:04] marcdumais-work opened #1509 "Have an integration for Gerrit"
In Eclipse we had the [EGerrit](https://www.eclipse.org/egerrit/) plugin, that enabled to do code reviews from the IDE. There might be interest to have something similar for Theia

[2018-03-15 10:04] AlexTugarev commented on #1508
like, if you enter
`> open README.md`
this would be opened in editor?

[2018-03-15 10:18] marcdumais-work commented on #1508
yes, something like that.

[2018-03-15 12:36] lmcbout commented on #230
Just an observation here, what would happen if the "auto-save is on" , and the file is moved to a new location from outside Theia,:
- would it update the file at the new location?
- would it create a new file at the old location even if the initial file is moved elsewhere? --> now we would have two different files at two locations.
Same apply to the rename, we would have old + new file under the s

[2018-03-15 12:42] akosyakov opened #1510 "On the activation, the first visible tree node should be selected if there is no selection."
Right now it is a root and some trees don't show the root.

[2018-03-15 13:43] epatpol commented on #230
@lmcbout I think the same thing would happen as defined in the workflow I wrote just above. In your case, if autosave kicks in before any rename, you would enter the `Else` branch above, where the editor is closed/renamed depending on if it was an external or internal event. However, if autosave kicks in *after* a rename, then you would enter the first `if` condition above, which means it would ei

[2018-03-15 13:57] lmcbout commented on #230
@epatpol That was just some observation we should consider. One thing, when a user is editing "File1" and under the hood the file is rename "File B", I think the user would be surprise to see  editing in a file and the save occurs under another file !!!

[2018-03-15 14:08] epatpol commented on #230
It only saves under another filename if he had unsaved content, and then the title of the editor would clearly say it's *deleted from disk*, otherwise it saves to the same file. VScode does it this way and I believe that should suit most users.

[2018-03-15 14:48] marcdumais-work commented on #174
During internal discussions, a new argument in favor of using Electron as a front-end to connect to a remote workspace: one potential concern using a normal web browser as front-end is that there could be malicious browser plugins installed that could capture or even modify information passing through Theia, such as source code, without the user knowing.

[2018-03-15 15:01] mmorhun opened #1513 "Terminal content isn't visible after browser tab switching"
### Steps to reproduce
1. Open terminal
2. Make some output (for example type `ls -la`)
3. Switch to another browser tab, click or type o few symbols.
4. Return back to Theia tab.

**Expected behaviour:** Terminal output is displayed as before tab switching
**Actual behaviour:** Almost always only the last line is visible. Other content appears after any scroll.

![theia-terminal-tab-switch-bug](h

[2018-03-15 15:42] kittaakos commented on #1510
It only applies to the Navigator. As far as I know, call hierarchy, outline, and problems view has its logic to select the root node if there is one. Furthermore, this task contradicts with #1390 which I am currently working on. I would like to close this task unless you have a good reason to keep this open.

[2018-03-15 15:49] kittaakos opened #1514 "[editor] Error when doing an undo with Ctrl/Cmd+Z in a JSON editor"
This happens on the branch GH-1479. My WS root is `theia`. Open the `lerna.json` in the WS root, edit it, undo it with <kbd>Ctrl/Cmd</kbd>+<kbd>Z</kbd>:

[code]

Interestingly, this happens only, when you are trying to undo at least **two characters** long modification. The undo succeeds, by the way.

[2018-03-15 16:37] kittaakos commented on #1508
Are you guys talking about the electron-based application? If no, please explain how do you imagine this.

[2018-03-15 16:38] kittaakos commented on #1508
Now I am confused, opening a file in an editor from the Theia terminal, or opening Theia and the file in an editor from your platform-specific terminal?

[2018-03-15 16:41] kittaakos commented on #1510
I think this should be among the `TreeProps`. And by default, the tree widget should take care of it.

[2018-03-15 16:42] akosyakov commented on #1510
At least we should improve API by allowing to pass a node in `selectNextNode`, `selectPrevNode` as a first argument.

[2018-03-15 16:43] kittaakos commented on #1479
We have this so far; I have overlayed the root node:
![screencast 2018-03-15 17-32-40](https://user-images.githubusercontent.com/1405703/37477569-43c66b50-2878-11e8-8f96-6a1c8842b110.gif)

[2018-03-15 16:48] kittaakos commented on #1510
OK, thanks! Then just ignore my comments from above.

[2018-03-15 17:04] lmcbout commented on #1479
Another suggestion,
If you do a search (CTRL+ F ) in Firefox, it open a dialog over the status bar at the bottom with some extra search options, (Highligh All, Match Case, Whole Worlds) , should we implement something similar !

[2018-03-15 17:25] kittaakos commented on #1479
Not in the context of this task. Please reference the [`Must`](https://github.com/theia-ide/theia/issues/1479#issue-304283077) list in the task description. But feel free to open a follow-up.

[2018-03-15 17:43] epatpol opened #1515 "Starting the theia app from a directory other than where the `package.json` will mess up the ApplicationPackage"
If you start the backend from somewhere else like said [here](https://github.com/theia-ide/theia/issues/734) the `ApplicationPackage` won't be aware of the extensions and application infos. Things like the extension manager and the about dialog will break because they're missing informations about the app.

Like @akosyakov mentionned on Gitter it should probably be fixed by improving `ApplicationP

[2018-03-15 18:58] elaihau commented on #1402
@AlexTugarev
OK I tested the scenario where there is no git repo in the workspace ... looks like the button in the status bar does not even show up. So I guess my question above is not valid any more :)

[2018-03-15 19:25] elaihau commented on #1407
Hi @svenefftinge , to make sure that I am not misunderstanding you

Could you please explain what you meant by "busy" ? Is it a visual issue (i.e., having too many close buttons is distracting / makes users feel uncomfortable), or a performance issue (i.e., it slows down the UI / backend) ?

Thanks !

[2018-03-15 19:47] kittaakos opened #1517 "[tree] Support specific tree model change events"
Currently, one cannot distinguish between the selection/expansion/parentage -related tree model change events.

In other words, if we would like listen on only the tree expansion state and parentage-related changes, but not on selection ones, we cannot do it directly through the tree model API.

I will take care of this.

[2018-03-15 19:48] kittaakos commented on #1479
Depends on https://github.com/theia-ide/theia/issues/1517.

[2018-03-15 19:53] kittaakos commented on #1517
Of course, it is possible, I was just expecting something like `model.on('selection', selection => ...)`

Instead, one has to do this `model.onSelectionChanged(selection => ...)` which is equally great. I was just blind.

[2018-03-15 19:53] #1517 closed

[2018-03-15 21:07] simark opened #1518 "Theia should respect the XDG Base Directory Specification"
The [XDG Base Directory Specification](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html) is the closest thing Linux has to a standard of where to put files.  We should try to respect it as much as possible.  Currently, we just put things in `$HOME/.theia`.  For example, the user should be able to override where the local config is with the `XDG_CONFIG_HOME` env var.  If it i

[2018-03-15 21:08] kittaakos opened #1519 "[git] Chronologically order the Git branches"
Chronologically order the Git branches, instead of alphabetically. At least give a preference that could be used to configure this. I do not know whether they have a preference for that or not, but VSCode orders them by the last access time too. Which is not a bad idea.

Theia:
<img width="541" alt="screen shot 2018-03-15 at 22 06 30" src="https://user-images.githubusercontent.com/1405703/37491172

[2018-03-15 21:11] kittaakos commented on #1519
That is another mystery, why comes `a` after `G`:
<img width="596" alt="screen shot 2018-03-15 at 22 09 50" src="https://user-images.githubusercontent.com/1405703/37491321-b7040134-289d-11e8-870d-d0a04a376b1e.png">

[2018-03-15 21:23] epatpol commented on #1119
Agreed, and because the editor commands only appear when there is an editor opened, there's not much to change here.

So we define labels inside commands with the prefix, but when we're about to render them we check if that label is prefixed by the menu category. If yes, render the end of it otherwise use the whole label. Is that it? Or you would define another label in the interface? Sorry if I c

[2018-03-16 02:05] ishitatsuyuki commented on #1490
Another thing is that alive checking takes nontrivial amount of network resources. The period should be reduced to 10 seconds, or even 1 minute.

[2018-03-16 07:10] AlexTugarev commented on #1402
Sounds good. I'll test your PR.

[2018-03-16 07:17] AlexTugarev commented on #1081
PR #1491 was merged.

[2018-03-16 07:17] #1081 closed

[2018-03-16 07:23] AlexTugarev opened #1522 "[dirty diff] `git show` error logged for git-ignored files"
try opening a git-ingored file (e.g. `yarn-error.log`) in the editor. `dirty diff` module tries to fetch previous revision from git, which fails.

[2018-03-16 07:24] AlexTugarev commented on #1522
@kittaakos any idea, how to detect ignored files either on frontend, or on backend?

[2018-03-16 07:30] kittaakos commented on #1522
I would handle that differently. Let's add an expected error code to the Git backend, and simply return with `undefined` if something is not under version control.

Yes, we could check it upfront, whether the resource is under version control or not, before running `git show`,  but that would be an additional Git command. I think it is "cheaper" to expect an error and handle that gracefully.

Let

[2018-03-16 08:41] AlexTugarev opened #1523 "Circular dependency between `tree-selection` and `tree-selection-state`"
run `> yarn`, see

[code]

[2018-03-16 08:43] AlexTugarev commented on #1523
could be solved by extracting `[TreeSelectionServiceImpl](https://github.com/theia-ide/theia/blob/18a24ac1f11bc45f56c64a9d058387af9a5a7ba2/packages/core/src/browser/tree/tree-selection.ts#L135)`, right?

cc. @kittaakos

[2018-03-16 08:49] kittaakos commented on #1523
Can be solved, yes. I do not think it causes any problems, does it? It is `webpack` thing that does not create any issues at runtime.

[2018-03-16 08:51] AlexTugarev commented on #1523
I haven't seen any issues.

[2018-03-16 08:51] kittaakos commented on #1484
@svenefftinge, could you share a link to your sandbox DSL, so that I can reproduce the issue?

[2018-03-16 08:55] kittaakos commented on #1457
I would go further, it has the monaco context menu and not the phosphor one from Theia.
<img width="313" alt="screen shot 2018-03-16 at 09 54 37" src="https://user-images.githubusercontent.com/1405703/37511729-32707b42-2900-11e8-8450-752e926d8ee0.png">

[2018-03-16 09:25] kittaakos commented on #662
It does not happen anymore. I am closing this.

[2018-03-16 09:25] #662 closed

[2018-03-16 09:57] kittaakos commented on #1523
@AlexTugarev, can we get rid of the `bug` label? I can look into this and split up the modules if it bothers you, but I do not think this is a bug.

[2018-03-16 09:59] AlexTugarev commented on #1523
sure, I'd expect you just remove that tag.

[2018-03-16 10:02] kittaakos commented on #1523
I did not dare to ;)

[2018-03-16 10:42] kittaakos opened #1527 "[linter] Make sure linter errors make the build fail"
For instance, one can use `let` instead of `const` without a build failure.
See https://github.com/theia-ide/theia/pull/1521#discussion_r175043384

[2018-03-16 10:47] akosyakov opened #1528 "Bogus tree selection after the page refresh"
![selection_refresh](https://user-images.githubusercontent.com/3082655/37516786-9bd4671a-290f-11e8-8d26-ca38eef9f79a.gif)

I select one file before the refresh and try to select another after. It selects the first file in addition anyway and does not let me deselect it anymore.

[2018-03-16 11:40] akosyakov commented on #1479
I like it without icons and outside otherwise the navigator looks stuffy and one cannot see all files. IntelliJ also allows drag and drop views to sidebars and they keep the search just above always. I know that it will overlay the menu in our case, but it should be fine since one wants to find something in the navigator not to use menus. Could we try it like that?

[2018-03-16 11:44] akosyakov commented on #1479
Regarding style cannot it be aligned with the quick search widget?

[2018-03-16 12:12] kittaakos commented on #1479
Let's try that.

Exactly one file is overlayed.

I do not like that approach but we can try. If it is easy you can decide which one to have. +1 to have it inside.

[2018-03-16 12:12] #1457 closed

[2018-03-16 12:14] kittaakos commented on #1528
I need to get rid of the focus styling. That is the fix. I take care of it.

[2018-03-16 12:17] kittaakos commented on #1479
Or we can go back to the initial idea and have it after the root node with a min length of 10. So it will not overlay tree nodes still remains inside.

[2018-03-16 12:21] marcdumais-work opened #1529 "Help-> about menu content is "fragile""
From gitter discussion, it came out that the help->menu extension information is sensitive to where Theia is started; I think there is an expectation that Theia is started in the same directory in which the application's package.json is located. If Theia is started from elsewhere, the menu end-up being almost empty, with no useful version information.

This happens in a few cases, like starting th

[2018-03-16 12:29] lmcbout commented on #1529
just be careful,
The command @akosyakov suggested, we need to adjust the last ”, we need to change it to "  (Th quotes are pointing left and the good one is pointing down.

command:  "cwd": "${workspaceRoot}/examples/browser"

Also, I though we were implementing this command in the file ( .vscode/launch.json), so everyone could benefit from it !
Another question, do we need to implement it also fo

[2018-03-16 12:42] kittaakos commented on #1479
@akosyakov What styles you mean? I cannot find anything special.

[2018-03-16 12:52] #1101 closed

[2018-03-16 12:53] marcdumais-work commented on #1075
Hi @svenefftinge

Would it be ok to re-assign this issue to someone on our side?

[2018-03-16 13:03] jbicker opened #1530 "Can't add a new file to folder anymore."
New file gets added in root only.
![newfileerror](https://user-images.githubusercontent.com/28291421/37521973-c94db774-2922-11e8-919b-817c1a3dcf6b.gif)

Update:
 - [ ] [Bogus tree selection after the page refresh](https://github.com/theia-ide/theia/issues/1528)

[2018-03-16 13:13] kittaakos commented on #1479
If you meant setting the font weight to bold, that is so bad. I have not even noticed it so far :)

[2018-03-16 13:32] jbicker opened #1532 "No notification if one commits without commit message. Last message will be used."
If I reload the theia page and commit something without a commit message, I get a notification.
But if I already committed something before, the last typed message will be committed again next time.
![nocommitmsg](https://user-images.githubusercontent.com/28291421/37523299-ce9dc7a6-2926-11e8-920a-309f00f7df57.gif)

[2018-03-16 13:52] epatpol commented on #1532
Shouldn't the button be disabled if no commit message is entered? Unless this is supposed to be an amend... In that case it still shouldn't do a second commit.

[2018-03-16 13:53] epatpol commented on #1529
Not only is the Help -> about menu "fragile", but the extension manager isn't going to work at all either in this case.

[2018-03-16 14:37] kittaakos commented on #1532
Are you sure it is true and it is not a problem in the history? Just asking though. Could you please verify it in the terminal too?

[2018-03-16 14:40] kittaakos commented on #1532
Ohh, I think you are right. We store the state of the commit message in the widget.

https://github.com/theia-ide/theia/blob/ec2d98bcdf2c99209fa255029be9e09b23ed2ad3/packages/git/src/browser/git-widget.ts#L44

Is that OK?

[2018-03-16 14:45] jbicker commented on #1532
Yes. And we forgot to reset it here:https://github.com/theia-ide/theia/blob/ec2d98bcdf2c99209fa255029be9e09b23ed2ad3/packages/git/src/browser/git-widget.ts#L172

[2018-03-16 15:07] akosyakov commented on #1479
I meant if a search box is the overlay widget similar to the quick command widget it would be nice if they look alike. I did not mean any concrete styles.

[2018-03-16 15:32] #1203 closed

[2018-03-16 18:52] Zate commented on #1410
New PR for this : #1534

[2018-03-16 19:17] marechal-p opened #1535 "Suggestion: Use more specific Errors"
Right now every single error thrown is of type `Error`, and tests try to filter the exception based on the exact message string...

Error messages are meant for humans.

TypeScript supports `Error` type subclassing, so wouldn't it be better to implement a default `CustomError` with the small boiler plate required to make it a proper object, and then inherit our errors from it ?

Most typed languag

[2018-03-17 01:46] ishitatsuyuki opened #1537 "cli: Add option to build production bundle"
Currently the bundle doesn't get minimized and is not suitable for deployment. We should add a production config.

Side tip: webpack 4 may make configuration production settings easier.

[2018-03-17 07:02] akosyakov commented on #1537
It is a dup of https://github.com/theia-ide/theia/issues/806.

I think it should be another way around, the production should be a default mode. For the development one will need to set `NODE_ENV` to `development`.

Switching to webpack 4 is a separate issue.

[2018-03-18 08:54] akosyakov opened #1539 "Test against latest monaco and monaco-languageclient"
I've published next version `0.5.0-0` for the monaco-languageclient which support Monaco `0.11`. It would be good try to migrate and check that lang features are working properly for different servers while MS guys in the mood to have patch fixes. Last time it took 5 months.

[2018-03-18 10:15] akosyakov commented on #1535
Can we use `code` property for it and introduce standard error codes? We cannot pass arbitrary error types between frontend/backend without tweaking JSON-RPC code each time. This approach is used in Node.js: https://nodejs.org/api/errors.html#errors_node_js_error_codes.

Generally, I find a suggestion to distinguish errors not based on a message is useful. For example, `vscode-jsonrpc` cannot pres

[2018-03-19 05:34] santoshray02 opened #1541 "Welcome Page"
Hi,
Is there any way to show welcome page on theia-ide startup. As Visual code is displaying the welcome page

![screenshot from 2018-03-19 11-04-03](https://user-images.githubusercontent.com/12428112/37579622-4942e8f2-2b65-11e8-9b49-64668416c371.png)

[2018-03-19 05:42] ishitatsuyuki opened #1542 "Use ESM versions of Monaco"
https://github.com/Microsoft/monaco-editor/issues/18 has been resolved; we may benefit from ESM by bundling them into one bundle, instead of doing XHR for various code files.

[2018-03-19 06:28] akosyakov commented on #1542
It depends of https://github.com/theia-ide/theia/issues/1542 if not a dub.

[2018-03-19 08:02] kittaakos commented on #1537
Could you give a good reason, why is it better?

[2018-03-19 08:54] #1530 closed

[2018-03-19 08:55] kittaakos commented on #1484
Nevermind, I managed to mock this from code:
<img width="310" alt="screen shot 2018-03-19 at 09 53 47" src="https://user-images.githubusercontent.com/1405703/37586096-8fc29642-2b5b-11e8-9755-3a7ef2af71b4.png">

[2018-03-19 12:17] JanKoehnlein commented on #1142
@epatpol it has been locally fixed for call hierarchy, but not for trees in general, e.g. the navigator.

[2018-03-19 13:11] svenefftinge commented on #1535
I agree. But let's not base it on subclassing `Error` due to the serializing issues, @akosyakov  mentioned.
So let's have a `type: string` property.

[2018-03-19 13:25] #1479 closed

[2018-03-19 13:29] kittaakos commented on #1390
Closed via #1479.

[2018-03-19 13:29] #1390 closed

[2018-03-19 13:34] #1484 closed

[2018-03-19 13:39] kittaakos commented on #1495
@ShivaniBali, you can add a backend extension like this:
[code]

I would recommend checking out our Xtext based Theia extension for the YANG language [here](https://github.com/theia-ide/yangster/tree/master/theia-yang-extension).

Let me know if you need further assistance.

[2018-03-19 14:25] jopit opened #1546 "Way to specify default view?"
The very first time a browser accesses Theia, views like _Files_ or _Git_ are available on the left side, but none are actually open.

![image](https://user-images.githubusercontent.com/29612372/37601127-a72fdab6-2b5f-11e8-8e50-0548658d7c6d.png)

Is there a way to specify that by default, the _Files_ view should be open in this situation?

[2018-03-19 14:44] epatpol opened #1547 "Improve Help->About Dialog"
I think it could be useful to show on the frontend what architecture the backend is running on and with what node.js version. VS code does it also.

[2018-03-19 14:57] marechal-p opened #1548 "Importing current package from itself throws a build error"
Say we are in `@theia/core`, we need to use relative imports in order to access others parts or else there will be a build error.

[2018-03-19 14:59] marechal-p commented on #1548
@simark proposed to create a tslint custom rule for this.

I currently tried to add a `custome-tslint-rules` directory under `dev-packages`.
So far, the package is correctly included into the `yarn install` sequence (it tries to build it)

Problem is: Because its a tslint rule, it tries to use itself to then lint-check itself.
[code]

Is there a way to ignore the lint rules just for this package ?

[2018-03-19 15:01] marechal-p commented on #1535
But wouldn't adding a property require subclassing ?

[2018-03-19 15:15] elaihau opened #1549 "[git] git repo added from the command line is not available from the quick open menu"
GIT repo added from the command line prompt does not show up in the quick open menu on clicking the  "switch git repo" button (from the status bar).

![peek 2018-03-19 11-10](https://user-images.githubusercontent.com/37082801/37604098-9582e1da-2b66-11e8-85f9-b7c477480cf9.gif)

[2018-03-19 15:18] akosyakov commented on #1548
An alternative to the custom rule will be to use absolute imports always and remap lib to src paths into `compile.tsconfig` to each package for itself. It would also play nicely with VS code. cc @svenefftinge

[2018-03-19 15:21] kittaakos commented on #1549
If that is the case, it is another regression compared to the previous Git discovery behavior.

[2018-03-19 15:26] akosyakov commented on #1537
It depends on use cases. If you want to deploy with `theia-cli` which we expect to be the most popular case then you prefer production mode. If you want to develop then you prefer development mode. It also a default in webpack 4.

Other way or another someone should add `--mode production` or `--mode development` to `theia build`. We can let users who deploy type less and for developers generate `

[2018-03-19 15:31] kittaakos commented on #1537
So ideally, I will not face any drawbacks during the development, did I get it right? I hope so. That means, I do not need to explicitly set environment variables in each shell when building, watching, and running tests, right?

[2018-03-19 15:35] akosyakov commented on #1537
Right, they will be set once in npm scripts.

[2018-03-19 15:43] kittaakos commented on #1537
Awesome, thanks!

[2018-03-19 16:23] kittaakos commented on #1549
I believe this works as expected. One can refresh the state of the repository provider from the Git View.

![screencast 2018-03-19 17-18-36](https://user-images.githubusercontent.com/1405703/37608131-0f50b144-2b9a-11e8-89c7-fc4bfba554aa.gif)

@elaihau, could you please try the same I have done? If it works for you too, we can close this issue.

[2018-03-19 16:28] elaihau commented on #1549
You are right @kittaakos , the refresh button does the magic. I will close this one.

[2018-03-19 16:28] #1549 closed

[2018-03-19 16:57] #1402 closed

[2018-03-19 16:57] #1455 closed

[2018-03-19 17:07] elaihau commented on #1519
maybe it is because ascii code of the lower cased `a` is greater than that of the upper cased `G` :)

[2018-03-19 18:00] jopit opened #1550 "Specify credentials for git push?"
The Git view provides the ability to do a _Push_; is there a way to specify credentials like a github personal access token to be used with the push?

[2018-03-19 18:02] elaihau commented on #1532
Hi @jbicker  are you working on the fix ? If not I will reset the the message every time a commit is made, and populate an error message if the message is empty.

[2018-03-19 18:05] epatpol commented on #1546
Similar to #830?

[2018-03-19 18:06] epatpol commented on #1548
Absolute imports would be very nice if possible indeed.

[2018-03-19 18:22] ShivaniBali commented on #1495
Hi there,
sure, Thank you!

I will try it out and will get back to you.

[2018-03-19 19:37] epatpol commented on #1225
@lmcbout can you still reproduce this issue?

[2018-03-19 19:56] marechal-p commented on #1535
I may be missing some serialization tests, I don't really know where to look in order to test the errors with the rpc system used in theia, do you have any advice ?

[2018-03-19 20:08] marechal-p commented on #1535
I think it is still missing some serialization tests, am currently looking around `vscode-jsonrpc`

[2018-03-19 21:06] marechal-p commented on #1535
So now using stringify the error is serialized as:
[code]
I will wait for feedback on this model and its current implementation.

[2018-03-20 05:43] svenefftinge commented on #1535
We don’t need the ‚kind‘ property

[2018-03-20 06:48] akosyakov commented on #1225
It should be fixed by https://github.com/theia-ide/theia/issues/1225

[2018-03-20 06:52] #1168 closed

[2018-03-20 07:04] #1264 closed

[2018-03-20 08:06] ishitatsuyuki opened #1552 "CLI: directly call webpack"
Directly calling webpack allows us to:

- skip generating, and instead just passing the config
- use progress and control sequences

[2018-03-20 08:15] kittaakos commented on #1550
@jopit, currently, there is only one way to achieve it; you should be able to open a new terminal from Theia, there you can do the necessary authentication steps. Let me know if you have further questions on this topic.

Also: https://github.com/theia-ide/theia/issues/1037

[2018-03-20 08:22] kittaakos commented on #1547
As a user, I can use two different Node.js versions in two separate terminals with [`nvm`](https://github.com/creationix/nvm). Where did you find this feature in VSCode?

[2018-03-20 08:49] akosyakov commented on #1552
You can do it now with: `npx webpack`.

[2018-03-20 08:49] ishitatsuyuki commented on #1552
Wrong. I mean calling as a library inside the process.

[2018-03-20 09:21] akosyakov commented on #1552
Thank you for the input, we will consider it. Generation it'ss a prerequisite to building as for now. We can introduce another command as `bundle` which is called by `build` to avoid breaking it.

[2018-03-20 12:07] lmcbout commented on #1225
After the file is loaded initially in front-end, here the message flow
1- Edit the file
2- Save it (CTRL + s)
--> In the front end

**SEND -------------RECEIVE**
updateContent
---------------------->result: (filestat)
exist
getFilestat
---------------------->true
---------------------->result: (filestat)
exist
getFilestat
---------------------->true
---------------------->result: (filestat)

This

[2018-03-20 12:15] marechal-p commented on #1535
Error structure:
[code]

In order to be able to define the error type/code, I propose we use `XxxErrorCode` enumerations -or something similar- to regroup package specific errors, so that we can import it anywhere else and use the auto-completion to list the error codes and being able to process them.

Would this be easier ?

[Examples](https://github.com/marechal-p/theia/blob/937329fd275cd88ab298

[2018-03-20 12:56] svenefftinge opened #1553 "Navigation in the diff view is broken"
Try to navigate with arrows, it puts the focus in the editor instead of preserving it.

[2018-03-20 13:08] lmcbout opened #1554 "[theia][performance]Message lenght VS file size (payload) should not be significant for a large file"
Why does the message length send over the web-socket reports 1.5 time of the size of the file?
As an example, I open a file of 1 Millions bytes. If I look at he message length with chrome devtools/network/ws/filesystem, the length is 1500180 bytes ?
See on the picture below:
![filelength1_5size](https://user-images.githubusercontent.com/419051/37656214-cdbfdda2-2c1d-11e8-9eee-fc4e8a886597.png)

Ev

[2018-03-20 13:17] AlexTugarev commented on #1554
Well that data needs to be encoded into a string in order to be sent as JSON value, right?

[2018-03-20 13:19] lmcbout commented on #1554
Ok, but to be 1.5 times the size of the payload, is it normal !!!

[2018-03-20 13:33] akosyakov commented on #1553
I think it was addressed by https://github.com/theia-ide/theia/pull/1498.

[2018-03-20 13:42] kittaakos commented on #1553
From the `master`:
![gh-1553](https://user-images.githubusercontent.com/1405703/37658031-d4385ec8-2c4c-11e8-8670-d7d8ceacc77c.gif)

[2018-03-20 14:33] epatpol commented on #1547
@kittaakos I just looked at what vscode does currently with the Help->About and I though the running node version shown could also be useful. See below:

![screenshot from 2018-03-20 10-30-26](https://user-images.githubusercontent.com/2881761/37660979-141b56bc-2c2a-11e8-94ad-0108ae9043fc.png)

In our case that would be the version of node the backend is running on, not the one I'm developing somet

[2018-03-20 14:50] svenefftinge commented on #1553
Ok, great. I thought I was able to reproduce it over the weekend.

[2018-03-20 14:50] #1553 closed

[2018-03-20 14:55] kittaakos commented on #1547
OK, go ahead then. I do see why this would be useful but most likely it's just me.

By the way, there is no Help > About on OS X. It is under Code > About ... and it does not show the Node.js version.

<img width="285" alt="screen shot 2018-03-20 at 15 53 50" src="https://user-images.githubusercontent.com/1405703/37662239-ecfe4328-2c56-11e8-9211-470dca0edae6.png">

[2018-03-20 14:56] epatpol commented on #1547
Ah I see, well just having the mac os version is good info as well so thank you for that.

[2018-03-20 14:58] kittaakos commented on #1547
Please, do not get me wrong, go ahead if you think it is useful. I just do not know what could a user do with the Node.js version that runs the backend.

[2018-03-20 15:05] kittaakos opened #1555 "Error when starting the application"
The WS root is the `theia` Git repository itself:

[code]

[2018-03-20 15:36] jopit commented on #1550
OK, thanks.

[2018-03-20 15:36] #1550 closed

[2018-03-20 17:14] elaihau commented on #1555
I see the same error in my local environment.

Here is how to reproduce it:
1) have a theia instance running on my localhost:3000 `~/dev/theia/examples/browser$ yarn run start`
2) rebuild the product `~/dev/theia$ yarn`
3) stop the theia instance started in step 1 by ctrl-c, and rerun `~/dev/theia/examples/browser$ yarn run start`
4) see the same errors that kittaakos reported

The errors do not s

[2018-03-20 18:26] #1532 closed

[2018-03-20 18:44] jopit opened #1558 "Java Language Server doesn't build newly added project"
Using browser based Theia, I have a workspace that contains a Java project, the Java LS populates it with it's metadata files (.project and .classpath) and builds it ok.  I then add a second folder, containing a different Java project.  When I edit a file in the new project, no metadata files are created and  I get a message from the language server that the classpath is incomplete and only syntax

[2018-03-20 19:41] elaihau opened #1559 "Error thrown on reloading diff editor"
![peek 2018-03-20 15-38](https://user-images.githubusercontent.com/37082801/37678608-ecea57a2-2c54-11e8-8e04-a8ec4987280e.gif)

[2018-03-20 19:44] elaihau commented on #1559
Did one more test - looks like the same error is thrown even if we do not revert the diffs.

[2018-03-21 00:59] ShivaniBali commented on #1495
Hi there,
I have made the changes to add the backend, but now on host load it says "failed to start language server: DSL"

<img width="1222" alt="screen shot 2018-03-20 at 8 51 46 pm" src="https://user-images.githubusercontent.com/35276146/37690346-ba4972b6-2c80-11e8-9992-d5c9a093e4cd.png">

kindly have a look and let me know if you require any file to be shared.
Appreciate your help!

[2018-03-21 04:43] svenefftinge commented on #1495
That can mean a lot of things. What it is tryig to do is to start a java process using the shadow-jar that was created. So please make sure you have
 - java (8)
 - produced a jar file from your xtext project, that includes all the dependencies.

[2018-03-21 08:54] kittaakos commented on #1514
It seems to happen only if we are undoing some (2-* characters) deletion.

[2018-03-21 09:04] kittaakos commented on #1514
It also happens in the CSS editor, but for instance, not in a JS editor.

[2018-03-21 09:08] kittaakos opened #1560 "[JS][editor][monaco] Error when working with a broken AST in a JS editor"
Steps to reproduce:
 - Create a new JS file.
 - Write `export function f<|>`.
 - Insert the parentheses after `f` to have `export function f()`.

[code]

[2018-03-21 09:34] azatsarynnyy opened #1561 "Support variable substitution inside strings"
In this issue, I propose to add support of [variable substitution](https://code.visualstudio.com/docs/editor/tasks#_variable-substitution) mechanism inside strings in Theia.
It can be used within different configurations (e.g. tasks.json, future launch.json) to reference some info based on the current state of Theia app e.g. file in the active editor, current line number, text selection or workspa

[2018-03-21 09:54] kittaakos commented on #1514
It does not happen in the HTML editor. (Unlike the CSS and the JSON editor, the HTML one does not provide code completion and CA though.)

[2018-03-21 10:01] kittaakos commented on #1514
I hit another error when I was trying to figure out the cause of the original issue:
[code]

I am not sure if that is a real issue or the expected way to handle cancelations, but it would be nice not to show this in the console.

[2018-03-21 10:52] kittaakos commented on #1514
I have tried to reproduce this issue outside of Theia by cloning the examples from [here](https://github.com/Microsoft/monaco-editor-samples), I have set the `monaco-editor` version to `0.10.1` and the languages to `json`, just like in Theia. The error does not happen.

[2018-03-21 10:53] azatsarynnyy commented on #1561
Possible design of Macro API

[code]

[code]

[code]

[code]

[2018-03-21 11:45] azatsarynnyy commented on #1561
For expanding macros in the different configuration files (tasks.json, launch.json) there may be `ConfigurationMacroService` that uses `MacroService`.
[code]

[2018-03-21 12:23] kittaakos commented on #1514
I can confirm, it happens when `autoSave` is `off`. We need to revisit this issue once the `monaco-editor` and `monaco-languages` have been updated.

[2018-03-21 12:23] kittaakos commented on #1514
Ref: #1539.

[2018-03-21 12:25] kittaakos commented on #1475
I will work on this. I will add a guard to the Git backend so that `git show` will not throw an error if the file is not under version control. Do you have any objections @AlexTugarev?

[2018-03-21 12:26] kittaakos commented on #1522
Similar to #1475.

[2018-03-21 12:28] AlexTugarev commented on #1475
Go ahead @kittaakos! 👍

[2018-03-21 12:32] AlexTugarev commented on #1475
I already tackled one case of the browser part in #1526, cf. https://github.com/theia-ide/theia/pull/1526/files#diff-22b4c0c5283e2f27abbd130887b77fc6R217, which means handling of either `undefined` or any kind of error.

[2018-03-21 12:54] svenefftinge commented on #1561
Important feature indeed.
I like the term `variable` much better than `macro` because its more often used in that context (environment variables, Eclipse, vs code).

For the replace service, wouldn't it be `(string)=>string` ? Why `T`?

[2018-03-21 12:55] svenefftinge commented on #1561
Sorry, I was referring to `ConfigurationMacroService` and overlooked `MacroService`.
So what is the purpose of `ConfigurationMacroService`?

[2018-03-21 13:15] azatsarynnyy commented on #1561
@svenefftinge

I don't mind )

It iterates through all the properties of the gives object and substitutes the known variables in all found strings.
Though, it can one of the methods of `MacroService`.

[2018-03-21 13:19] azatsarynnyy commented on #1561
[code]

[2018-03-21 13:26] azatsarynnyy commented on #1561
We can use the same names as VSCode: `variable` and `resolve variables`

[2018-03-21 13:42] azatsarynnyy commented on #1561
Should it be part of Theia core or separate built-in extension within Theia?

[2018-03-21 14:20] kittaakos commented on #1555
I will check what's the problem with this.

[2018-03-21 14:48] simark opened #1563 "Allow user to search .gitignored files easily"
When searching files with ctrl-p (searching by filename not file content), it ignores files specified in gitignore.  It's a good general default, but sometimes it's useful to search through them too.  It would be good to have a way to quickly allow searching through them as well.

We should have a preference that toggles what the default setting is, but also a way to change it just for one search.

[2018-03-21 15:40] travis1111 commented on #1397
I am trying to write an extension for this... but first show stopper is, how to import workspaceservices?

I added this to my extension's package.json:

[code]

and have this in my extension code:

[code]

but it did not work:

[code]

How can I correctly import it?

[2018-03-21 15:50] akosyakov commented on #1397
@travis1111 Hi, have you run `yarn` to download new packages?

[2018-03-21 16:05] travis1111 commented on #1397
Yes I did.  this is from log

[code]

[2018-03-21 16:11] akosyakov commented on #1397
Could you share your project on GH?

[2018-03-21 16:37] kittaakos opened #1564 "[git] "Decorate" files ignored by Git"
This is supported by VSCode, Eclipse and probably other tools and IDEs as well.
Use `git check-ignore -v *`.

[2018-03-21 16:53] kittaakos opened #1565 "[proposal] Change Resource#readContents API"
Currently, `readContents` resolves to a `string` and we take it for granted. Never get rejected, everything is fine.

For instance, when we try to load historical revisions from Git, we use `git show` to get the content of a file for a particular commitish. As the state of the master we just reject if the file is not in the Git repository, not under version control, incorrect commitsh and so on. #

[2018-03-21 17:05] travis1111 commented on #1397
ok let me do it

[2018-03-21 17:11] travis1111 commented on #1397
here you go

https://github.com/travis1111/theia-extension/tree/master/demo-extension

[2018-03-21 18:33] epatpol commented on #1397
[here](https://github.com/travis1111/theia-extension/blob/master/demo-extension/src/browser/demo-contribution.ts#L2) It should be

`import { WorkspaceService } from '@theia/workspace/lib/browser/workspace-service';` instead of
`import { WorkspaceService } from '@theia/workspace/browser/lib/workspace-service';`

Small typo I think :)

[2018-03-21 18:50] jopit opened #1566 "Failed to start language server 'JavaScript'."
We're seeing this message when we edit a JavaScript file in our Theia application.  Our package.json file does pull in `@theia/typescript`, which in turn pulls in `typescript-language-server`, which says it supports both JavaScript and TypeScript.
[code]
There are no related messages written to the console by the running Theia app. Is there some other dependency that we are missing?

[2018-03-21 19:22] travis1111 commented on #1397
Thanks!  now I can close the editor now :-)

any suggestion on what is the next step?  how to pass in parameters (path to open) to extension, I guess if I receive the path, it's a matter of construct a URI and use workspace.open(uri)?

[2018-03-21 19:28] kittaakos commented on #1566
You could try to install `typescript` to the global or make it available from the workspace root.
See: https://github.com/theia-ide/theia/issues/1392#issuecomment-369144196

[2018-03-21 19:30] kittaakos commented on #1566
For some reason, GH does not link the proper comment. I meant this one:

[2018-03-22 06:17] akosyakov commented on #1565
I was wondering the same while changing the file resource. I am fine to let `readContents` to reject. We allow it for saving methods already. Clients have to deal with it if they want or it will be logged at the top level.

[2018-03-22 06:31] akosyakov commented on #1561
I would prefer to go with a separate extension. The core is mostly the application framework. If it is needed later we can move the API part in the core.

[2018-03-22 06:43] santoshray02 opened #1567 "Terminal (Shell) is overlapping after few characters"
I am trying to type long syntax in shell but it is restarting from 0 after few characters .

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/12428112/37755174-58de4a7e-2dca-11e8-99a8-abf16d2e2a4c.gif)

[2018-03-22 08:58] marcdumais-work commented on #1567
hi @santoshray02 ,

I just tried the terninal on master, but I do not see this problem. Can you give more details? Steps to reproduce?

[2018-03-22 10:07] kittaakos commented on #1565
We leave the return value as is; Promise<string> and we might reject.

In case of a Git resource; the rejection could be due to different reasons: you have messed up your `git show` command parameters, or the file is not under version control. Clients should handle these differently if they want to.

I am closing this.

[2018-03-22 10:07] #1565 closed

[2018-03-22 10:54] santoshray02 commented on #1567
Thanks @marcdumais-work
Run the Project(theia-ide)  `yarn run start`

Open [http://localhost:3000](http://localhost:3000) in new browser

[2018-03-22 11:21] marcdumais-work commented on #1567
@santoshray02 Where did you get the Theia you are using? Built yourself from latest source code? Built from published npm modules? From a docker image (if so which one)?

[2018-03-22 11:44] santoshray02 commented on #1567
Build from source code

[2018-03-22 11:51] marcdumais-work commented on #1567
ok, thank you @santoshray02 for the feedback. I am unable to reproduce at this time. Maybe others can give this a try and report here?

[2018-03-22 11:57] lmcbout commented on #1567
@santoshray02  @marcdumais-work
Hi, I just compile the latest Theia . I Opened a new Chrome and open Theia. I only open the terminal and started typing. I couldn't reproduce this issue either. I am running on Ubuntu 16.04.
Which operating system are you using?
Which browser are you using? (Chrome, Firefox, Opera,...)

[2018-03-22 11:58] santoshray02 commented on #1567
Thanks @marcdumais-work  @lmcbout
I am running it on Ubuntu 16.04 , Chrome

[2018-03-22 12:08] lmcbout commented on #1567
@santoshray02
Can we try something, may be there is some cache in your browser
Close Chrome
Can you try on an incognito Chrome browser (When opening Chrome, select the option "New Incognito.."
Enter localhost:3000 (to connect to your workspace)
Open the terminal
Type some chars and see if it still occurs.

[2018-03-22 13:26] jopit commented on #1566
OK, installing `typescript` to the global scope worked, thanks.

Is there a mailing list or blog or someplace where changes like the removal of `typescript` from the dependencies of `typescript-language-server` are announced?

Btw, I also noticed that the theia docker image https://hub.docker.com/r/theiaide/theia/ doesn't have `typescript` installed and so has the same problem.

[2018-03-22 13:31] marcdumais-work commented on #1566
@jopit FYI, about the docker images having this issue: https://github.com/theia-ide/theia-apps/issues/29

[2018-03-22 14:09] kittaakos commented on #1566
I am not aware of such a channel, unfortunately.

[2018-03-22 14:28] benoitf commented on #1482
I will not on this comment on which API model to stick but more on the global picture. All model can be plugged as it's quite a high level view that I'm showing.

That said, for some case, we require to have plugin running on the client side, for some other cases we can use server side. so instead of choosing for users, they could have the choice. (we may say one is the default like using any node

[2018-03-22 14:47] epatpol commented on #1244
It seems to work in both FF and Chrome now, I believe this was fixed a while back but I can't test on mac OS here. @kittaakos if you have time could you just test and close this if it works now?

[2018-03-22 14:58] travis1111 commented on #1397
@epatpol  do you know how to get query parameter in my extension?  then how to let theia to open that folder by default?

[2018-03-22 14:59] akosyakov commented on #1566
thanks for mentioning it, I will check it.

[2018-03-22 15:02] elaihau commented on #1567
I am not able to reproduce this problem either.

[2018-03-22 15:03] kittaakos commented on #1244
I have already tested on Windows and OS X in multiple browsers; it worked.

It was confirmed. (Implicitly :)) It was broken on Linux in both FF and Chrome. https://github.com/theia-ide/theia/issues/1244#issuecomment-367746908

[2018-03-22 15:05] kittaakos commented on #1566
I am closing this now. @jopit, please reopen, or create a follow-up if you have further questions/problems with this.

[2018-03-22 15:05] #1566 closed

[2018-03-22 15:17] epatpol commented on #1397
@travis1111 I don't really know how all the routing currently works in the application, but I think you could maybe start looking into `BackendApplicationContribution`. For instance, the @theia/metrics extension adds a route to `host/metrics` which fetches node information.

In your case maybe you could add a contribution that checks for any route (I don't know how to do it in Express sorry), get

[2018-03-22 15:21] travis1111 commented on #1397
yes, it helps :-) let me take a look of that extension.  Thank you

[2018-03-22 15:24] epatpol commented on #1397
No problem! I've edited my message as somehow the `@theia/metrics` wasn't rendered properly

[2018-03-22 15:25] travis1111 commented on #1397
thanks!!

[2018-03-22 15:32] #806 closed

[2018-03-22 15:32] #1537 closed

[2018-03-22 16:14] akosyakov opened #1568 "The application package is not capable to resolve extensions if electron is removed."
I get the following error with [theiaide/theia image](https://github.com/theia-ide/theia-apps/blob/master/theia-docker/Dockerfile):
[code]

[2018-03-22 19:54] elaihau opened #1570 "currentEditor & activeEditor in EditorManager are not initialised when theia is loaded"
EditorManager.currentEditor and EditorManager.activeEditor are both `undefined` when theia is loaded, even if there is an editor rendered in the main panel.

[2018-03-22 20:03] epatpol opened #1571 "Key bindings accelerators are shown in all caps for things other than simple letters"
If I bind a key binding to `ctrl+del` for instance, it will be rendered as `Ctrl+DELETE`.

I think it's okay to capitalize letters like `a, b, c` so that it becomes `A, B, C` in the accelerator part, but things other than simple letters and function keys, it should just be the first letter that is capitalized like `Ctrl` `Alt` `Shift`.

[2018-03-22 20:44] travis1111 commented on #1397
So l looked at the code (metrics extension), I think this is one way to do it...

similar to metrics extension, expose a GET endpoint, query param contains the workspace root, so in the extension code, I set the server root to be the specified root, then from frontend code do a refresh of current browser window... am I on the right track?

I tried to see how metrics extension works, but /metrics r

[2018-03-23 03:58] epatpol commented on #1397
@travis1111 I would say that yes you're definitely on the right track :)

As for the metrics extension not working, I can have a look tomorrow if you want.

[2018-03-23 04:01] epatpol commented on #1567
First time what if I may ask? Opening the terminal in a new frontend session or the first time you start the backend etc.

We might need more details than that to be able to reproduce it on our end.

[2018-03-23 08:01] svenefftinge commented on #1558
@gorkem Is that something that should be handled by the JDT LS?

[2018-03-23 08:04] kittaakos commented on #1570
Do you have a stack trace of the error? Could you explain what did you do or wanted to do?

[2018-03-23 08:19] akosyakov commented on #1570
@kittaakos When one refreshes the page, editors are restored by the shell but the state in the editor manager is not, either because the shell does not fire events or the editor manager misses them. It is bogus and leads to follow up errors, like triggering the command from the status bar cannot find an active editor in https://github.com/theia-ide/theia/pull/1512, although a user sees one.

[2018-03-23 10:02] kittaakos commented on #1555
I will not have time to work on this now. Please grab the task if you want.

[2018-03-23 10:31] travis1111 commented on #1397
sure please :-)

I am very new to Theia, so could be something wrong from my side :)

thanks a lot!!!

[2018-03-23 10:49] akosyakov commented on #1552
Theia CLI passes all arguments to webpack. One can report progress and pass another config with: `theia build --progress --config myconfig.webpack.js`. Is there another reason to call webpack directly?

The generation is a mandatory step of the build to ensure that frontend and backend entry points load all extension listed in package.json. We can introduce an additional `bundle` command if there

[2018-03-23 11:53] tolusha opened #1573 "Implement vscode debug protocol"
**Goal**
 * Implement vscode debug protocol
 * Provide contribution point for debug adapters supporting vscode debug protocol.

Basically if debug adapter works with vscode it has to work with Theia ide too.

Implementation lives [here](https://github.com/theia-ide/theia/tree/vscode-debug-protocol)

**Architecture**
`DebugService` is used to initialize a new debug session.  This service provides f

[2018-03-23 12:08] gorkem commented on #1558
I was looking at jdt.ls integration and I think there is some sort initialization issue that causes jdt.ls to work on a limited capacity. I will send some patches for it.

[2018-03-23 14:13] kittaakos opened #1574 "Error when deleting a file which is opened in the editor."
When deleting a file:
[code]

Steps to reproduce:
- Create a file.
- Delete it.

Since the stack trace is absolutely useless, [here is a hint](https://github.com/theia-ide/theia/blob/c145b1533c69fb2e560099b85bc5b12c18bd94b8/packages/filesystem/src/browser/file-resource.ts#L81) to the source of the problem.

[2018-03-23 14:24] #1522 closed

[2018-03-23 14:35] epatpol commented on #1574
This only happens when you create a new file and keep the editor opened right?

If no associated editor is opened there's no file-resource associated with that file I believe. I think the `FileResource` gets a change event from the fs (delete event) and then tries to check if it's in sync. The easy fix is to not do the sync when a delete event is received. But there is still the issue of an editor

[2018-03-23 15:03] epatpol commented on #1563
As @MarkZ3 mentionned on gitter, I think it would be nice if the user could ignore something other than what's from the .gitignore. I think we could have a default pref like `search.ignoreFiles` which could be 'Git' meaning you ignore the same files from git, or an array of patterns that could be excluded. We could then keep the idea of having ctrl-p once to use that ignore pattern (git or custom

[2018-03-23 15:37] benoitf commented on #1482
@akosyakov @svenefftinge do you have comments on my previous comment ? does it fit well for you on global picture ?

[2018-03-23 15:47] svenefftinge commented on #1482
Hey @benoitf,
Could you outline the requirements that lead to the need to have frontend extensions?
I still think it would be best to directly go for the vs code model unless we have concrete reasons not to do it. Maybe we could set up a meeting to talk through the requirements and options?

[2018-03-23 16:18] benoitf commented on #1482
yes we could discuss that in a meeting. BTW I don't see why we could not let the user to write code that could run on frontend. (developer may have the choice even if default is server side where you can use all nodejs API)
Even on cloud, it's not because it can scale a lot that you want to run it remotely and that you're granted infinite resources.

Let say I want to implement a `monitor or check

[2018-03-23 17:11] epatpol commented on #1397
@travis1111 It seems to still work for me fetching `localhost:3000/metrics` when running the browser example with the metrics extension, are you sure you added the `@theia/metrics` extension to your application's `package.json` ?

[2018-03-23 17:40] #1471 closed

[2018-03-23 17:58] akosyakov opened #1575 "[lsp] Support workspace configurations"
It also seems that we bogusly communicate that Theia supports configurations and `didChangeConfiguration` event. It could be that changes should be done in `vscode-base-languageclient` to fix a bug: https://github.com/TypeFox/vscode-languageserver-node/blob/e0c1f194dabede0409f0d8f4e4e2eeccc65e1535/client/src/base.ts#L965

[2018-03-23 19:10] simark commented on #1575
This is what is sent to clangd when Theia launches clangd: https://pastebin.com/raw/7GaDT0aD

As far as I know, we don't claim that we support the `workspace/configuration` request, and there is no such thing as communicating that we support `workspace/didChangeConfiguration`.  It's possible however, to communicate to the server that we support dynamic registration for `workspace/didChangeConfigur

[2018-03-23 19:34] elaihau commented on #1570
Hi @akosyakov , I did some investigation and I am not sure if there is an easy way to fix it.

From what I can tell from the code, the following describes how the EditorManager finds the current & active editor:

`FocusTracker ---(emit activeChanged / currentChanged)---> ApplicationShell ---(emit activeChanged / currentChanged)--->  EditorManager ---(update the active / current editor)`

Therefore

[2018-03-23 21:40] elaihau commented on #1559
I sync-ed to the latest version. And it does not happen any more.

I will keep an eye on it. If it does not happen in a week or two i will close it.

[2018-03-23 22:08] elaihau commented on #1358
I cannot reproduce this problem with the latest version of theia. Could you please take a look at it one more time?

[2018-03-23 22:51] gorkem opened #1576 "CompletionItem#additionalTextEdits are ignored"
When the completion item provided as below the additionalTextEdits are ignored. jdt.ls uses additionalEdits for auto-imports which seems to be broken right now.

[code]

[2018-03-23 23:18] gorkem opened #1577 "Formatting breaks codeLenses"
When the formatting from and LSP is applied the code lenses are not updated and the locations of the code lenses becomes incorrect. I have also noticed the same behavior with 'organize imports' command on jdt.ls

![formattingbroken](https://user-images.githubusercontent.com/82738/37857090-bb3e48cc-2ece-11e8-83de-35027abb2f92.gif)

[2018-03-24 00:33] elaihau commented on #1519
The command
`elaihau@elxa4wqvvz1:~/dev/theia$ git branch --sort=-committerdate`
lists all branches by the last commit timestamp, sorted by desc order.

Correct me if i am wrong: In order to support listing by Chronologically order, we will need to make changes to the dugite-extra:
https://github.com/theia-ide/dugite-extra/blob/master/src/command/branch.ts

[2018-03-25 01:08] gorkem commented on #1332
Some part of the missing diagnostics is due the the missing configuration support on Theia. jdt.ls depends on `didChangeConfiguration` notification to correctly initialize. I think jdt.ls needs to move the initialization logic as well https://github.com/eclipse/eclipse.jdt.ls/issues/601

[2018-03-25 01:11] gorkem commented on #1068
This is due to initialization issue as described on https://github.com/eclipse/eclipse.jdt.ls/issues/601. It is also affected #1577

[2018-03-25 07:06] svenefftinge commented on #1563
The double `ctrl+p` suggestion is similar to the quick outline in Eclipse, where you can press `ctrl+o`a second time, to see the inherited members.

[2018-03-25 07:57] akosyakov commented on #1576
It is fixed in the latest Monaco and monaco-languageclient. It depends on https://github.com/theia-ide/theia/issues/1539.

[2018-03-25 13:24] svenefftinge opened #1578 "[messaging] Move to separate npm package"
It would be nice to have the RPC proxy stuff and so on in a separated Theia-independent npm package, so one can use it in other applications, too.

[2018-03-25 17:11] gorkem commented on #1539
What are the instructions for testing this version? Updating the dependency to 0.5.0 did not work for me and caused the build to fail.

[2018-03-26 06:08] akosyakov commented on #1570
The active/current editor should be derived from the active/current widget. It is strange that the shell does not preserve this information as a part of the layout data. I am not sure why. @svenefftinge @spoenemann

[2018-03-26 06:12] akosyakov commented on #1539
It should be `0.5.0-0` for monaco-languageclient.

What was the issue?

[2018-03-26 06:13] AlexTugarev commented on #1539
It's not published yet, right?

[2018-03-26 06:15] akosyakov commented on #1539
It is published as next, you can use `0.5.0-0`.

[2018-03-26 07:34] kittaakos commented on #1519
Thank you, @elaihau! I have opened a followup and will take care of it.

https://github.com/theia-ide/dugite-extra/issues/14

We could make the ordering in Theia as well, but you are right, let's order it with Git.

[2018-03-26 09:41] kittaakos opened #1580 "[terminal][Windows] Error when using GitBash as the desired terminal"
One can set the environment from VSCode to:
[code]

Then the layout restorer fails when starting a new terminal:
[code]

[2018-03-26 10:14] kittaakos commented on #1580
Alternatively, one can achieve the same by starting the application from GitBash or CMD.exe with the following ways;

GitBash:
[code]

CMD:
[code]

[2018-03-26 11:23] geropl commented on #1037
**Proposal: One unix-user per frontend user**

This is an example that should show the basic ideas:
1. the local repository files have a group set that is shared by all users
2. Each user has her own credentials in `~/.git-credentials` and user name/email in `.git/config`
3. Theia would need to be run with a user that is member of the same group
4. Everyone can work with the files and use git with

[2018-03-26 12:31] santoshray02 commented on #1567
Thanks guys,

Issue Resolved .

[2018-03-26 12:31] #1567 closed

[2018-03-26 13:15] lmcbout commented on #1358
@elaihau I just downloaded the latest master this morning
( commit 1235a62fde86d1f300738616d22bbbfa42f19ac7 ) and the problem is still valid. Follow the step describe above.

[2018-03-26 13:56] elaihau commented on #1570
@akosyakov IMO even if we have active/current widget info from the layout string, it is still possible that the current/active editor cannot be derived. Because the current/active widget is not necessarily an editor widget.

[2018-03-26 14:08] travis1111 commented on #1397
Thanks!  Yeah I forgot to add it.  So I added `@theia/metrics` in the json, and it worked, I can GET the endpoint,

So my extension was created based on it, but if I include my extension in the build, the build is ok, but editor won't launch (failed to connect). here is my extension

https://github.com/travis1111/theia-extension/tree/master/

Do you mind take a look?

Thanks

[2018-03-26 14:14] kittaakos commented on #1037
Alternatively, here is a complete guide to support multiple GitHub accounts with a single Theia backend. It was tested and verified on Windows. It requires having `Git Bash` installed on the Theia backend.

### Discard the current state (if any)
Unsets the credential helper, so Git forgets about any previously authenticated users.

    git config --global --unset credential.helper
    git config -

[2018-03-26 14:21] epatpol commented on #1397
@travis1111 Did you forget to commit some changes to https://github.com/travis1111/theia-extension/blob/master/switch-ws-extension/src/node/switchws-backend-contribution.ts in master? I can't test it right now as it is as there are compilation errors (undefined rootUri for instance).

[2018-03-26 14:33] elaihau commented on #1570
@akosyakov  sorry please ignore my comment made half an hour ago. I am investigating this and find something interesting.

[2018-03-26 14:46] travis1111 commented on #1397
Thanks, that was for testing, I just updated the code to use `"/home"`.

[2018-03-26 14:53] epatpol commented on #1397
I think you need to bind `SwitchWSBackendContribution` to something, in this case to itself no?

https://github.com/travis1111/theia-extension/blob/master/switch-ws-extension/src/node/switchws-backend-module.ts#L8

`bind(SwitchWSBackendContribution).toSelf().inSingletonScope();`

[2018-03-26 14:58] #1408 closed

[2018-03-26 15:02] travis1111 commented on #1397
I changed to this

`bind(SwitchWSBackendContribution).toSelf().inSingletonScope();`

but still not working.

Sorry I am really new to this so don't know why I need to or why I don't need to, I just copied metrics extension, and removed code I do not need and added code I need :-)

Metrics extension did not bind to itself and it is working :-(

[2018-03-26 15:15] epatpol commented on #1397
You're right you shouldn't have to do this my bad. How are you developing your extension relative to the theia project. Cloning your project I can't seem to be able to compile your contributions. You have a sample app (sample `package.json` ) using your extension?

[2018-03-26 15:48] spoenemann commented on #1171
DockLayout seems not to keep the exact relative split sizes when the overall size changes.

[2018-03-26 16:12] elaihau commented on #1570
OK, the layout string does have information regarding which editor is rendered at the top, and we could iterate through all visible editors widgets from the application shell. But we got to determine which editor is the `active editor` in case that there are multiple visible editors in theia.

Could you @akosyakov please advise?

Thank you !

[2018-03-26 16:40] azatsarynnyy commented on #1561
I've opened the PR #1581

[2018-03-26 17:56] travis1111 commented on #1397
We build it in a Docker container, this is snippet of the Docker:

[code]

and the sample app:

[code]

[2018-03-26 18:15] Zate commented on #1410
This has been completed and merged.

[2018-03-26 18:32] #1410 closed

[2018-03-26 19:43] kittaakos opened #1582 "[electron] Update the electron `1.7.11` dependency to `1.8.2-beta5`. (if possible)"
GitHub reported a known security vulnerability.

See [here (`CVE-2018-1000136`)](https://nvd.nist.gov/vuln/detail/CVE-2018-1000136) and [here (`CVE-2018-1000118`)](https://nvd.nist.gov/vuln/detail/CVE-2018-1000118).

AC:
 - Tests should pass.
 - One has to manually verify whether the electron application works on all supported platforms.
    - [x] Windows
    - [x] OS X
    - [ ] Linux

[2018-03-26 21:14] travis1111 commented on #1397
I made some progress :-) I guess the extension was never correctly build so theia failed to start. I fixed the build script and I can switch the workspace via a rest call.  Now I want to check if the folder exists, here is the code:

[code]

but compilation failed:

[code]

Any suggestions?

Also, I think filesystem.exist and filesystem.getFileStat return Promise, I guess the way I am calling both

[2018-03-27 06:24] akosyakov commented on #1397
@travis1111 there are async functions, you can use async/await syntax to call them: https://medium.com/@bluepnume/learn-about-promises-before-you-start-using-async-await-eb148164a9c8

[2018-03-27 06:35] kittaakos commented on #1582
I take care of this task. Hopefully, it works out of the box.

[2018-03-27 06:55] kittaakos opened #1584 "[windows] Workspace search is broken"
<kbd>Ctrl</kbd>+<kbd>P</kbd> does not return anything in Theia.

[code]

[2018-03-27 07:05] kittaakos commented on #1584
It should be `rg.exe` on Windows.

<img width="282" alt="screen shot 2018-03-27 at 09 04 53" src="https://user-images.githubusercontent.com/1405703/37951805-0391f296-319e-11e8-8d64-416f9c8fea92.png">

[2018-03-27 07:34] kittaakos commented on #1584
I have looked into it, changed the command path to `.exe` on Windows. If I execute the following, the suffixed command path exists.
[code]

But when spawning the process it fails because cannot locate the executable. Could it be related to the `rootPath`?
Currently, the `rootPath` is `"/c:/Users/kittaakos/dev/theia"` on my image and look at this:

[code]

Do you have any hints on the `path`, @akos

[2018-03-27 07:38] kittaakos commented on #1584
These are the two places where we have to change the path
 - https://github.com/theia-ide/theia/blob/e41a77e57de7f5948e3c61cfe5f5f724b6e2fac1/packages/search-in-workspace/src/node/ripgrep-search-in-workspace-server.ts#L55
 - https://github.com/theia-ide/theia/blob/e41a77e57de7f5948e3c61cfe5f5f724b6e2fac1/packages/file-search/src/node/file-search-service-impl.ts#L40

And it should be fixed here: ht

[2018-03-27 07:39] spoenemann commented on #1570
By definition of Phosphor, the _active_ widget is the one that has focus. If no widget has focus, there is no active widget. The same should apply to the concept of the active editor.

The _current_ widget is the last one that had focus.

[2018-03-27 07:44] kittaakos commented on #1584
I think it would be much better to change the `rootPath` to `rootUri` and pass the URI as a string to the backend and the backend can resolve it with `FsUri.fsPath(rootUri)` just as we do in other places: FS, Git.

[2018-03-27 08:02] akosyakov commented on #1570
@elaihau Could you try to refactor editor based status bar contributions as:
[code]

It should ensure that on the start the status bar gets updated properly.

[2018-03-27 08:06] spoenemann commented on #1570
#1586 Solves the general part of this, but still the problem remains when the last active widget is not an editor.

[2018-03-27 08:35] kittaakos opened #1588 "[file-search] File search does not respect nested `.gitignore` files."
Depends on #1584.

See the pending tests here: https://github.com/theia-ide/theia/blob/479ac6c77944f0234059777ed71053d754ee5262/packages/file-search/src/node/file-search-service-impl.spec.ts#L40

[2018-03-27 11:11] marcdumais-work commented on #1582
I did some quick manual tests with this PR, and the Electron example with seems to work well on Linux.

[2018-03-27 11:12] kittaakos commented on #1582
Awesome, thank you!

[2018-03-27 11:13] #1582 closed

[2018-03-27 11:18] lmcbout commented on #1588
Instead of commenting out every line of execution within the test, why not using "it.skip". Later, we will see there is a test, but not completed yet and it will be easier to comeback to that specific test and fix it

[2018-03-27 11:20] kittaakos commented on #1588
It results in exactly the same `pending` state. Feel free to update.

[2018-03-27 11:28] kittaakos commented on #1588
Are you talking about this?
[code]

[2018-03-27 11:35] lmcbout commented on #1588
Yes

[2018-03-27 11:36] kittaakos commented on #1588
Good, that's the current state. But you could still update if you want.

[2018-03-27 11:38] lmcbout commented on #1588
Fine with me, it just to be able to track which tests are not fully executing at the end.

[2018-03-27 13:34] elaihau commented on #1570
@spoenemann  Thank you for your explanation of `active vs current`. Really helpful !

@akosyakov  I am thinking of adding some code to the application-shell, so that it is able to `arbitrarily` determine which visible editor is the "current editor":
1) The first visible editor in the main panel
2) The first visible editor in the bottom panel
3) The first visible on the left panel
4) The first visi

[2018-03-27 14:11] AlexTugarev commented on #1570
could we do the same as JupyterLab? they store current for all widget containers. after reloading the app, the current state is same as before.

<img width="590" alt="screen shot 2018-03-27 at 16 06 00" src="https://user-images.githubusercontent.com/914497/37972650-15725e84-31d9-11e8-910e-dabac92f6fae.png">

[2018-03-27 14:15] travis1111 commented on #1397
@JanKoehnlein thanks! I got it partially working.  However the switch does not work if the editor is loaded before.  Let's say the editor is at `http://localhost:1234`, if I call `http://localhost:1234/switch?root=folder` before I call `http://localhost:1234`, then I can see the new workspace root.  If I call `http://localhost:1234` first, then call `http://localhost:1234/switch?root=folder`, then

[2018-03-27 14:36] spoenemann commented on #1504
I just found this comment in the theme files:

[code]

This is a bit problematic because now we have three interpretations of the variable indices:

 * Importance (primary, secondary, etc.)
 * Matching between groups (`theia-border-color1` with `theia-layout-color1`)
 * Contrast (proposed by myself, see above)

The first two interpretations / criteria raise the question what to do with groups that

[2018-03-27 14:45] epatpol commented on #1397
@travis1111 I'm not sure I understand the problem above. When you refresh with an opened editor it goes back to an old workspace? Maybe it's an issue with the layout restorer?

[2018-03-27 14:48] akosyakov commented on #1570
@elaihau There is always only one current widget `ApplicationShell.currentWidget`. There should not be another. The current editor is the last current widget which was an editor: `ApplicationShell.currentEditor`. It should not be changed.

I think with Miro's change and https://github.com/theia-ide/theia/issues/1570#issuecomment-376433213 the issue should be resolved.

@AlexTugarev in JLab they tr

[2018-03-27 14:49] svenefftinge commented on #1504
The notion of primary and secondary is a bit problematic, as it usually refers to different colors of a theme. The numbers here are color scheme numbers, i.e. meaning the same color in different brightnesses.

I think we should
 - have generic colors with numbers, order by brightness (dark and bright in opposed orders)
 - use them within other semantic variables, that are then used in the applicat

[2018-03-27 14:55] travis1111 commented on #1397
@epatpol yes, that is correct, it only works if I set the path first.  If I opened the editor before then set the path, it doesn't work.

[2018-03-27 15:09] spoenemann commented on #1504
👍

We already have more focused variables for buttons, dialogs etc., and #1486 addresses adding more variables.

[2018-03-27 18:39] epatpol commented on #1397
Can you debug `workspaceServer.setRoot`? I assume in this case yours is called first and then something else (triggered by opening an editor) triggers it after thus loading the first workspace?

[2018-03-27 18:41] lmcbout commented on #1574
After a small investigaton, the error reported comes from node-filesystem.getFileStat()
If we don't return an error, but a FileStat
ex : ( const statFake: FileStat = { uri: uri, lastModification: 0, isDirectory: false };
         return statFake; )
The error is gone.

Some comment to take into consideration:
But we still have a file open in the editor whth no reference into the filesystem anymore.

[2018-03-27 18:53] travis1111 commented on #1397
Thanks, how to debug? I am running it in a docker container... maybe this makes this more difficulty ...

[2018-03-27 19:15] epatpol commented on #1397
@travis1111 I believe it would be simpler for you to launch it from a debug-capable ide locally (outside) of docker to test it before running it inside docker.

If you want give us a ping on [gitter](https://gitter.im/theia-ide/theia) and it'll be easier for us to help you setup the debug environment.

[2018-03-27 21:18] elaihau commented on #1075
Thanks to @marcdumais-work , I am able to reproduce the problem as many times as I want from my local environment.

As far as I can tell, in our current code base, the messed up layout on re-startup is caused by 2 things:

1) The factory id of the file navigator widget was changed from `navigator` to `files`, which causes the widgetManager being unable to re-create the file navigator.

2) All prop

[2018-03-28 06:30] kittaakos opened #1591 "[file-search] The file search looks different on Windows and OS X"
Depends on #1584.

Once the file search works on Windows and OS X, one has to check why the UI looks different on Windows than OS X. Originally from [here](https://github.com/theia-ide/theia/pull/1587#issuecomment-376598057)

AC:
 - [ ] The quick file search should look the same on all platforms.
 - [ ] It should not show encoded URI segments: `%40phosphor` instead of `@phosphor`.

Hint: one has t

[2018-03-28 06:42] kittaakos opened #1592 "[navigator][editor][dnd] Dragging a file to the main area, shall open/reveal the respective editor"

[2018-03-28 07:00] JanKoehnlein opened #1593 "[navigator] disturbing scroll behavior on selection"
In some situations (after expanding / collapsing / scrolling a larger tree for a while) selection scrolls the selected element away. This makes it almost impossible to open an unselected element.

![screencast 2018-03-28 08-54-44](https://user-images.githubusercontent.com/377752/38013651-2f5930c4-3266-11e8-9537-a2765bae842a.gif)

[2018-03-28 07:00] JanKoehnlein commented on #1593
Reloading the page might also be involved to reproduce

[2018-03-28 07:38] sr229 opened #1594 "Terminal Panel overlaps Monaco Editor"
Seems that the Terminal panel has a higher order than the Editor, which causes the panel to overlap the Monaco completion dialogue

![image](https://user-images.githubusercontent.com/14976516/38015330-0739c350-329e-11e8-81f8-720102dbdf40.png)

[2018-03-28 07:39] sr229 commented on #1594
Behavior in VS Code for comparison: The above Dialogue overlaps any panel.

[2018-03-28 09:24] #1561 closed

[2018-03-28 09:34] azatsarynnyy opened #1596 "Support variables in Tasks"
Since Theia [already supports](https://github.com/theia-ide/theia/pull/1581) variable substitution inside strings, Task extension can be improved to support variables in `tasks.json`.
The current format of the tasks.json:
[code]
Variables could be used in the following properties of a task:
- `cwd`
- `processOptions.command`
- `processOptions.args`
- `windowsProcessOptions.command`
- `windowsProce

[2018-03-28 09:37] kittaakos opened #1597 "[keybindings] The accelerator for `ctrl+shift+Something` keybinding is not shown in the menu items"
It is visible when one writes `ctrl+Something` but it isn't when using `ctrl+shift+Something`.

Obviously, `Something` is a valid easy-key string.

[code]

<img width="171" alt="screen shot 2018-03-28 at 11 38 16" src="https://user-images.githubusercontent.com/1405703/38021241-a16bfd52-327c-11e8-9909-198035277819.png">

Update: Added a snippet and a screenshot.

[2018-03-28 09:41] kittaakos commented on #1597
No, it works perfectly. I have messed up the command ID for the keybinding.

Correct snippet:
[code]

Result:
<img width="181" alt="screen shot 2018-03-28 at 11 41 02" src="https://user-images.githubusercontent.com/1405703/38021367-eaab92c0-327c-11e8-8e20-d6f58f5f824c.png">

[2018-03-28 09:41] #1597 closed

[2018-03-28 09:57] azatsarynnyy opened #1598 "Add set of 'built-in' variables"
Theia should provide some set of 'built-in' variables which would be extremely useful after adding support for variables in Tasks - https://github.com/theia-ide/theia/issues/1596.
I believe the Theia's variables set have to be the same as [VSCode predefined variables](https://code.visualstudio.com/docs/editor/variables-reference#_predefined-variables).

[2018-03-28 10:13] marcdumais-work commented on #174
@Zate Maybe you have some input about the perceived security concern above, of using a web browser to access a Theia workspace vs using Electron as front-end (i.e. its built-in chromium) to access the same workspace? Let's say in the case where Theia is used as an IDE to develop access-controlled, proprietary code, that resides on a remote server.

To me it sounds like a valid concern, that a mali

[2018-03-28 10:17] azatsarynnyy commented on #1598
Once Theia provides the `${workspaceFolder}` variable, then [the `$workspace` symbolic value](https://github.com/theia-ide/theia/blob/master/packages/task/src/browser/task-service.ts#L132) can be removed from the `task-service`.

[2018-03-28 13:34] spoenemann commented on #479
Now the ApplicationShell can be customized with dependency injection. If you want to change the layout, simply override `createLayout`.

How should it behave when side bars are disabled? E.g. if an extension contributes a widget and wants to add it to the left panel:

 * The widget is added to the main area instead?
 * The widget is not added? (silently? throwing an error?)

[2018-03-28 13:43] epatpol commented on #1594
@sr229 Can you provide an easy way to reproduce it, it seems to work for me here

![screenshot from 2018-03-28 09-40-43](https://user-images.githubusercontent.com/2881761/38032703-4a49d536-326c-11e8-9da9-8b3c966989a6.png)

Although I'm not sure it's the same completion dialog. Can you reproduce it with a simple `.js` file and trying the same thing as me above?

Which OS/Browser combination are you

[2018-03-28 13:52] spoenemann commented on #725
Done with #1028.

[2018-03-28 13:52] #725 closed

[2018-03-28 14:02] spoenemann commented on #1045
Now there is a way to do it without iframe: Create a subclass of FrontendApplication, register it via dependency injection, and override `getHost` to return some HTML element. The default returns `document.body`.

[2018-03-28 14:04] tritao commented on #1045
Thanks, we will check it out when we get a chance.

[2018-03-28 14:05] #1045 closed

[2018-03-28 14:08] spoenemann commented on #1075
We could introduce explicit version numbers in the layout data and implement conversions.

Or simply never change the data format again 😂

[2018-03-28 14:31] spoenemann commented on #1366
Is this a duplicate of #1191?

[2018-03-28 14:33] spoenemann commented on #1191
Related issue: #230

[2018-03-28 14:37] kittaakos commented on #1366
Yes.

[2018-03-28 14:37] kittaakos commented on #1366
Duplicate of #1191.

[2018-03-28 14:37] #1366 closed

[2018-03-28 14:43] marcdumais-work commented on #1075
@elaihau agreed

I do not think it's necessary to be able to perfectly restore a workbench that was saved under and old version of the format. But it would be very good to detect those cases and reset the workbench to default. Do you think it's possible to catch those cases you found above in a generic way?

Else @spoenemann 's suggestion of introducing a version number might be the way to go. The

[2018-03-28 14:49] svenefftinge commented on #1482
We had a meeting and agreed on the following approach:
 - use term 'plug-in' (since 'extension' is already taken)
 - go forward in smaller steps inspired by the VS code API
 - Eventually fully support the VS Code API
 - @evidolob will create a new branch, and create a PR with his current work against it, so feedback/discussions on the code level can happen more easily and transparently.

Regarding

[2018-03-28 14:50] spoenemann commented on #1546
I'd like to generalize this: Currently extensions can contribute widgets and specify how these should be part of the initial layout by implementing FrontendApplicationContribution. How can one customize the initial layout?

The only way I can see at the moment is to create a subclass of ShellLayoutRestorer and override `initializeLayout`. We could support this approach by splitting the two parts o

[2018-03-28 14:53] spoenemann commented on #1541
Implement a widget with the desired content and add it to the main shell area on startup.

[2018-03-28 14:53] simark opened #1600 "Setting different log levels per logger"
As we add more "debug" logs, the usefulness of enabling `--debug` will decrease, as there will be just too much noise.  Since we can create multiple loggers, it would be useful to change the log level per logger, to only enable the debug output of a particular area.

Initially, I wanted to add a `--list-loggers` switch that would print the existing loggers and exit. Then, I wanted to do such that

[2018-03-28 14:57] #110 closed

[2018-03-28 15:09] spoenemann commented on #652
I don't see any problem there. Is it fixed in the meantime, or does it still occur for certain browsers?

[2018-03-28 15:20] epatpol commented on #1518
I just tested and it seems to work fine with Windows, even changing `XDG_CONFIG_HOME` outputs the correct new location. Now we just need someone on mac OS to test the library. @MarkZ3 if you have a bit of time?

[code]

Launch node shell with `node` or put the following in a `test.js` file and call `node test.js`
[code]

and then do the same with changing the env variable `XDG_CONFIG_HOME` just be

[2018-03-28 15:34] elaihau commented on #1075
I mentioned 2 problems with the current code.
Introducing a version number is helpful to the problem #2 (layout interface change), while we still need to catch and handle the error from the problem #1 (factory id change).

2 options if the widgetManager is unable to re-create a widget from the layout string:
Option 1: reset the workbench
Option 2: ignore that widget, and only create the widgets th

[2018-03-28 15:44] simark commented on #1563
As a temporary fix, I changed the current default behavior to search gitignored files (#1569).  When this suggestion is implemented and we have a way to toggle searching gitignored files, the default behavior should go back to not search them.

[2018-03-28 15:57] epatpol commented on #1236
@geropl It seems to work now no? I just tested under Linux and firefox with the exact steps you mentionned above. Can you try it again against master?

[2018-03-28 16:00] lmcbout commented on #652
@spoenemann  Just tested as well with the latest code on master, the horizontal scroll is visible.
We should close this PR now.

One question: Why do we show the vertical scroll bar when the code in the file is shorter than he view area. The vertical scroll let us scroll to show only the last line. Should we allow that or the vertical scroll should be "as-needed", meaning only visible when the cod

[2018-03-28 16:12] spoenemann commented on #652
That's a standard behavior of Monaco. It's the same in VS Code.

[2018-03-28 16:42] lmcbout commented on #652
Works finein Firefox and Chrome, oso lets close this issue.

[2018-03-28 16:42] #652 closed

[2018-03-28 17:28] travis1111 commented on #1397
@epatpol Thanks.  Before I go ahead try to setup the workspace, is there any other place I can look into?  in `default-workspace-server.ts`, I saw this method:

[code]

But I don't see a folder '.theia' in home dire ('/home').

also which piece of code gets the root dir and displays it?

E.g when the browser send a GET to `http://localhost:theiaport/` what happens next?

Thanks

[2018-03-28 17:31] travis1111 opened #1602 "Is there a way to hide root?"
So in left files navigation view, the top element is set to the workspace root, for example, if my workspace root is `/home/myroot`, and underneath it has two folders, `a` and `b`.  By default, the files navigation view shows `myroot` as the top element.  Is there a way to hide `myroot` so in the files navigation view, we do not see `myroot`, instead, we see `a` and `b`?

thanks

[2018-03-28 18:20] travis1111 commented on #1397
Also wondering if it is the case that theia did not detect the change of workspace root, so decided to serve the editor from cache?

I am asking this is because, the following does not work:

1. use rest api to change workspace root to `a`
2. open editor in browser `http://localhost:1234`, workspace root is `a`
3. call rest api again to set workspace root to `b`
4. refresh editor page, workspace r

[2018-03-28 20:55] #1119 closed

[2018-03-28 21:54] epatpol commented on #1397
So what you're saying is that you don't have a `recentworkspace.json` file in your `home/.theia` ?

[2018-03-29 07:00] sr229 commented on #1594
@epatpol This was done on Firefox 58 on Ubuntu 16.04.3, and yes I was able to reliably reproduce it

![image](https://user-images.githubusercontent.com/14976516/38074610-e15b3d20-3361-11e8-884f-f51d761dd561.png)

[2018-03-29 09:31] spoenemann commented on #1315
`common-frontend-contribution.ts` defines commands _Switch to Next Tab_ and _Switch to Previous Tab_. However, the current keybindings `ctrlcmd+tab` and `ctrlcmd+shift+tab` don't work on Mac because they are already used by the OS to switch applications. We should change them to `ctrl+tab` and `ctrl+shift+tab`.

These commands do not allow to switch to another widget group. We would need to change

[2018-03-29 12:24] spoenemann commented on #1546
I created a proposal in #1605.

[2018-03-29 12:29] spoenemann commented on #1570
@AlexTugarev

In that context _current_  refers to which widget is visible in each tab bar. We do the same.

[2018-03-29 12:44] #1419 closed

[2018-03-29 12:47] akosyakov commented on #1570
@elaihau Could you fix updating of the status bar in `EditorContribution` similar to what you did for the indentation? After that the issue could be closed.

[2018-03-29 13:10] travis1111 commented on #1397
@epatpol Yes, I don't even have '.theia' folder at all.  Is this related to the problem I am having?

[2018-03-29 13:23] lmcbout opened #1607 "[theia] Connection status trace level should be lower than debug"
Adjust the debug level to a lower trace level for the schedule tick for the connection status.
Currently, it is using logger.debug. We should use logger.trace so, it will not print a trace every second except if you try to get a trace of everything .

[2018-03-29 13:43] epatpol commented on #1602
I thought there was already an issue opened about this somewhere, but I can't find it. But yes I agree it would be better not to show the root (like VS code).

[2018-03-29 13:46] kittaakos opened #1609 "Move the `file:open` command and its handle from `@theia/workspace` to `@theia/core`"
Why?
 - To be able to open any arbitrary file through the `CommandService` without depending the `@theia/workspace`.
 - The open command (implemented with the `OpenerService`) is workspace agnostic.
 - Yes, we could use the `OpenerService` directly, but that would imply duplicating the logic which is done by the command handler anyway.

Idea:
 - We could have a generic opener command with its hand

[2018-03-29 14:01] epatpol commented on #1397
I'm not quite sure, you're running it inside docker right? So unless you mount your home inside the running container you should check inside it (with the user running theia) instead (maybe that's what you did though). I thought this folder was generated when a workspace was opened so maybe there's a problem with that in your environment at the moment. I can't really tell but it would be worth inv

[2018-03-29 14:07] elaihau commented on #1570
As you could see from the attached image, we have a few buttons and labels in the status bar
![screenshot from 2018-03-29 09-57-50](https://user-images.githubusercontent.com/37082801/38093164-236e01fe-3338-11e8-830d-73f4b417f551.png)

and only the "indentation config" relies on having a "current editor".

The cursor-location label (e.g., "Ln 2, Col 5"), and the language-type label (e.g., "Typescri

[2018-03-29 14:11] jopit commented on #1397
There is a .theia folder inside the home directory in the docker container.

[2018-03-29 14:15] elaihau opened #1610 ""Cursor Position status" label in the status bar shows wrong info when having useSpaces=false in editor preference"
We added useSpaces to the editor preferences recently. And I noticed that "Cursor Position status" label in the status bar always considers a multi-space tab as one character, even if useSpaces is set false.

While vsCode is smart enough to calculate which col the cursor is really at in case that users switch between "indent with spaces" and "indent with tabs". I guess we might want to do the same

[2018-03-29 14:19] epatpol commented on #1594
Weird, I'm also on Ubuntu 16.04 and testing on Firefox (59.0.1 however) and it seems to work perfectly fine here. Can you test on another browser and see if it's reproducible? Are you on the latest theia master?

[2018-03-29 14:40] elaihau opened #1611 "highlighting feature in the monaco-quick-open-service doesn't always work"
![peek 2018-03-29 10-38](https://user-images.githubusercontent.com/37082801/38095016-5d4d2472-333d-11e8-8132-b0f8f919f833.gif)

Also see the discussion in https://github.com/theia-ide/theia/pull/1512#discussion_r178042342

I did some debugging, it turned out that the code ended up sending the same data into QuickOpenWidget.setInput() function
https://github.com/theia-ide/theia/blob/master/packages

[2018-03-29 14:49] travis1111 commented on #1397
@jopit and @epatpol  in deed the home is `/root`, not `/home`, so I do see that file, and it was updated correctly as well.

I switched the root to `aaa` (it was `bbb`) and before switch it was:

[code]

and after switch it is:

[code]

So what else to check now :-)

[2018-03-29 15:22] #1075 closed

[2018-03-29 16:40] kittaakos commented on #73
Could we generalize this functionality, so that some parts of the API and the implementation could be merged with `Navigatable`? I do not yet have a good idea how, but it seems to be very similar?
 - In the context of this task, we have to reveal editors as opposed to revealing something ( tree node in the navigator) from an editor.
 - Additionally, we have to select a (partial) range. (Which is d

[2018-03-29 17:41] travis1111 opened #1613 "Is there a way to control theia from a parent frame?"
So we run theia in iframe.

We want to switch workspace root from outside of theia iframe, and after we do this action, we are hoping theia's files view is automatically switched to the new workspace root.

Is this possible?

I create an backend extension so that I can set theia's workspace root.  (Still has bug, see #1397), we also know that theia send an alive call to backend probably every seco

[2018-03-29 17:56] epatpol commented on #1613
Would it be possible to post to a restful endpoint of Theia where it would be `host/setWorkspace` with the appropriate information from outside of the iframe? Then Theia would reload with the new workspace. So instead of doing a GET like you did [here](https://github.com/theia-ide/theia/issues/1397) you could POST or something else to an endpoint where the callback would be to switch the server's

[2018-03-29 18:14] epatpol commented on #1613
I understand a little better, I thought setting the root from the backend actually triggered the reload at the moment, so my bad. It's actually the workspace service that, once the root is set, opens/reloads the window. So yes in that case you could make an extension that has both a frontend/backend part, the backend would receive the information about the new workspace with a GET/POST/ETC, then s

[2018-03-29 18:41] travis1111 commented on #1613
Thanks!

So backend extension to receive the new root, then the backend extension send the new root to frontend, then frontend extension call workspaces service to switch the root?

Any example on how to send information to front end? :-)

[2018-03-29 19:37] epatpol opened #1614 "Possible improvements in the Windows building documentation"
I just tried to build Theia in a windows 10 developer vbox image and following the steps [here](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#building-on-windows) to build it several steps failed.

`choco install yarn --version 1.2.1 -y` Failed because we already installed a later version (1.5.0) at the time of this writing beforehand. But I also wondered if you couldn't install

[2018-03-29 19:52] travis1111 commented on #1613
Calling a js from a different port is not possible, by my colleague mentioned post message:

https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage

Now I need an example of building a front end extension that can receive the message and do the switch?

Go back to the REST -> backend -> frontend -> backend discussion, I think the original solution didn't work was because of this `Usua

[2018-03-29 19:54] jopit opened #1615 "[@theia/application-package: 0.3.7] Building 0.3.7 based Theia application is failing"
I'm trying to build our Theia application based on 0.3.7, but it's failing with the following error:
[code]
I'm guessing this has something to do with the release of 0.3.8 yesterday.   Any help would be greatly appreciated.

[2018-03-29 20:19] kittaakos commented on #1614
That is unfortunate. Documentation could get quickly out of sync.

I do not understand this implication, but it could happen, we need to adjust the version numbers. I do not know the default `yarn` version on the AppVeyor image we are currently using, but I am positive, we still have `yarn` `1.2.1`for both the [Linux and the OS X builds](https://github.com/theia-ide/theia/blob/cd757dbd10059d65e4ff

[2018-03-29 20:32] MarkZ3 commented on #1518
The output I get is:
[code]
However, I have almost nothing in .local/share and .config, it seems "~/Library/Application Support" is a more common place.
There's some info here:
https://developer.apple.com/library/content/documentation/General/Conceptual/MOSXAppProgrammingGuide/AppRuntime/AppRuntime.html#//apple_ref/doc/uid/TP40010543-CH2-SW9

[2018-03-29 23:14] jopit commented on #1615
Changing devDependencies `@thei/cli` version to `"^0.3.7" gets me somewhat further.  It then fails because some of the Theia dependencies of the explicitly specified Theia dependencies get pulled in at the 0.3.8 level, and they are not compatible.

So I then explicitly specified all required Theia packages in our package.json, but now I'm running into an out of memory condition on the build
[code]

[2018-03-30 01:12] marcdumais-work commented on #1615
@jopit Not sure why this is not working. I can reproduce the issue using your package.json above. In principle I think using version 0.3.7 of these Theia extensions should have continued to work after we release 0.3.8.  But I am a bit over my head in this area.

It's not usually a good idea to mix extensions that are based on a different Theia release. Even if it compiles it will probably not run

[2018-03-30 05:39] sr229 commented on #1594
@epatpol tested on Theia@latest NPM packages via a custom-built Docker image based from `theiaide/theia:latest`

[2018-03-30 06:18] kittaakos commented on #1615
@jopit, what are you trying to build and on which platform? I hit a similar problem when I have tried to build an [electron-based Theia application](https://github.com/theia-ide/theia-apps/blob/GH-3/theia-electron/package.json). Note, in my case the problem occurred at runtime. I am not sure whether our issues are related or not.

Yes.

[2018-03-30 06:30] kittaakos opened #1617 "Check whether we need the `@types/perfect-scrollbar` dependency or not"
`yarn` says; no. And logs a warning:

[code]

[2018-03-30 06:34] kittaakos commented on #1615
Probably not. I was able to build Theia based on your `package.json`, @jopit. Please tell us more what did you do.

[code]

[2018-03-30 06:38] kittaakos commented on #1602
No, unfortunately, it is not yet supported. I could assist you if you would like to contribute.

[2018-03-30 09:01] sr229 opened #1619 "Editor does not automatically close when file opened in it is deleted."
Tested using a custom image based from `theiaide/theia:latest`. To be tested on Theia Next image.
[URL for test instance](http://theia-gh-test-chinodesuuu-che.8a09.starter-us-east-2.openshiftapps.com/)

**steps to reproduce**:

1:) throttle your network
2:) Delete a file
3:) Notice how the tab that contains the old file doesn't close but presents a empty editor content instead.

[2018-03-30 10:16] AlexTugarev commented on #1619
I think this is a duplicate of #560. Please reopen, if that’s not the case.

[2018-03-30 10:16] #1619 closed

[2018-03-30 10:24] marcdumais-work commented on #1615
@kittaakos On Linux I get the same result as you (with slightly different versions of tools and minus the nifty icons):
[code]

At that point it looks like the dependencies have been revolved, but no actual application has been built?
[code]

Taking inspiration from how we build in our [docker images](https://github.com/theia-ide/theia-apps/blob/master/theia-docker/Dockerfile#L7), I then tried ```

[2018-03-30 11:04] sr229 commented on #1619
it is @AlexTugarev, thanks for informing

[2018-03-30 11:25] jopit commented on #1615
We are building in a docker image, using `yarn theia build`

[2018-03-30 12:12] marcdumais-work commented on #1615
I noticed that I get the same error calling directly the ```theia``` script from ```@theia/cli``` , for version 0.3.7. So maybe not even build related as such?

[code]

Trying the same with ```@theia/cli``` version 0.3.8 works as expected:
[code]

[2018-03-30 12:28] kittaakos commented on #1615
Confirmed.

[2018-03-30 13:27] marcdumais-work commented on #1615
I have checked-out the commit made for release ```0.3.7``` (07907c6472cc3a996d5e275215391b519363b8e2), cleaned and rebuilt.

When we invoke ```yarn theia```, ```theia.js``` from ```@theia/cli``` is executed in the end. The version of that file I built is identical to the one published on npm for ```0.3.7```.

However there is a difference in the ```@theia/application-package``` dependency:
In the

[2018-03-30 13:55] lmcbout commented on #560
Should we close the file or not from the editor when we delete the file from the back-end?
AS @hexa00  mentioned, it could be good to keep it open in editor. I agree with him since there is no confirmation like "Are you sure you want to delete" when deleting a file. It could be  by accident  removing a file.  Also I agree with @marcdumais-work  when he mentioned that there should be an indicatiion

[2018-03-30 14:19] marcdumais-work commented on #1615
hummm...  I was wrong about assuming the "missing" files were not part of the published npm package:

[code]

On a hunch I added an explicit dev dependency for ```"@theia/application-package": "0.3.7"``` to @jopit ;s package.json from above. This seems to take of the missing files, which then are present. But very puzzling to me,  I still get the exact same error when I try ```yarn theia build```.

[2018-03-30 16:59] gorkem commented on #1332
This is also affected from the fix made on https://github.com/TypeFox/vscode-languageserver-node/commit/e0c1f194dabede0409f0d8f4e4e2eeccc65e1535

[2018-03-31 02:24] marcdumais-work commented on #1615
TL;DR: see at the bottom of this post for a work-around to make the ```package.json``` reported in this issue work.

I think I understand a bit more now. Using ```npm ls```, I see that despite all Theia extensions specified in ```package.json``` being version ```0.3.7```, a bunch of ```0.3.8``` extensions (transitive dependencies) are  installed by ```yarn```.

I think this is because our extensio

[2018-03-31 07:27] rajendra2 opened #1621 "[@theia/browser:0.3.8] Building 0.38 based Theia application is failing"
@theia/editor: error Command failed with exit code 1.
lerna ERR! execute callback with error
lerna ERR! Error: Command failed: yarn run prepare
lerna ERR! error Command failed with exit code 1.
lerna ERR! error Command failed with exit code 1.
lerna ERR!
lerna ERR! $ yarn run clean && yarn run build
lerna ERR! $ theiaext clean
lerna ERR! $ theiaext build
lerna ERR! [lint] theiaext lint exited with

[2018-03-31 07:29] rajendra2 commented on #1621
I am able to resolve it with following change.

diff --git a/packages/editor/src/browser/editor-decorations-service.ts b/packages/editor/src/browser/editor-decorations-service.ts
index a54f0e7f..ac131e21 100644
--- a/packages/editor/src/browser/editor-decorations-service.ts
+++ b/packages/editor/src/browser/editor-decorations-service.ts
@@ -209,7 +209,7 @@ export namespace EditorDecorationStyle {

[2018-03-31 11:45] marcdumais-work commented on #1621
Hi @rajendra2 ,

I just recompiled the latest Theia master branch and I do not see this compilation error (your suggested fix might still be valid).

Can you confirm it happens for you on the latest master?  Which version of ```tsc``` are you using? i.e. ```tsc --version```

[2018-03-31 11:52] marcdumais-work commented on #1621
Also, which platform are you on running this build on?

[2018-04-01 07:32] rajendra2 commented on #1621
yes. I am on the latest master. I forked it some time back and synced with master yesterday.

I am building on MacOS.

 ./node_modules/.bin/tsc --version
Version 2.8.1

node - v8.11.1
npm 5.6.0

[2018-04-01 11:16] #1584 closed

[2018-04-02 00:52] jgroom33 opened #1622 "multiple Theia"
I'd like to use a different base uri. (currently, only / appears supported without an extension)
Use case:
Assume the scenario where 2 instances of Theia are running on a docker host.
Container 1:
* root.uri=/foo
* docker port mapping= x:3000

Container 2
* root.uri=/bar
* docker port mapping= y:3000

Allowing a cli config parameter for root.uri would simplify host routing in some scenarios.

[2018-04-02 12:21] travis1111 commented on #1613
@epatpol thank you ! will take a look today!

[2018-04-02 13:27] elaihau opened #1623 "White bar in the output widget looks suspicious"
I am not sure if the white L-shaped bar in the output widget are put there on purpose.
Also, there is a minor issue regarding the text - selectBox overlapping when the browser resizes.

Demo:
![peek 2018-04-02 09-22](https://user-images.githubusercontent.com/37082801/38197740-c8131394-3657-11e8-9a8c-ded48711d062.gif)

[2018-04-02 13:36] elaihau commented on #1623
Tested one more time in chrome, and found the key to reproduce this problem:

1) have the "output" widget open
2) also open the terminal widget
3) switch between the output widget and the terminal widget
4) the white bar shows up

[2018-04-02 19:23] travis1111 commented on #1613
Thanks @epatpol

I can receive the post message from parent window in the theia (in iframe).  But I received millions of setImmediate as well... this is the message" `setImmediate$0.04896350016180917$793`

this is my code

[code]

Why I am getting these ``setImmediate`` messages?

[2018-04-02 19:27] epatpol commented on #1594
@sr229 That's really weird I wish I could reproduce it...

[2018-04-02 20:10] marechal-p commented on #1622
@marcdumais-work marking you because I was wondering how this would play out ?
How would the host know in which container to dispatch the HTTP request ?

Because this URI routing looks like something along URL Rewrite, where each running instance is still running with `/` as its root, but if requested URI on the docket host is `/foo` then remap to container 1.

(from the example, the two Theias ar

[2018-04-02 20:25] epatpol commented on #1613
@travis1111 I really have no idea, as I never really worked with cross-origin communication. But looking at https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage maybe you have to filter the messages you receive before doing anything with them? i.e Make sure they come from the containing page (although I don't know where the others could be coming from...)

[2018-04-02 20:35] travis1111 commented on #1613
thanks, but the setImmediate message comes from http://localhost, same as theia ide...

[2018-04-02 20:49] epatpol commented on #1613
So maybe they're used in a lib we use so we already have messages from within theia (just a guess). I think it would be a good first step to investigate where exactly those are coming from. In the case it's normal to have them you probably would need to filter down the message even more to make sure it's really the one coming from outside.

[2018-04-02 21:32] epatpol commented on #1613
@travis1111 I don't see the rest of the code but I assume you inject the implementation of a `WorkspaceService` in the constructor of that class or as a property?

`constructor(@inject(WorkspaceService) protected readonly workspaceService: WorkspaceService, ...)`

 If so you should be able to access it with the `this` object like so `this.workspaceService.open(...)`

[2018-04-03 06:30] geropl commented on #1236
Awesome, thx!

[2018-04-03 06:30] #1236 closed

[2018-04-03 07:15] AlexTugarev commented on #17
They are switching from sidebar to panel.

<img width="1635" alt="screen shot 2018-04-03 at 09 12 13" src="https://user-images.githubusercontent.com/914497/38234851-61f9614e-371f-11e8-89ac-c59a8f974b53.png">

[2018-04-03 07:33] #981 closed

[2018-04-03 08:12] spoenemann opened #1631 "[Pop-up blocker] Opening another workspace does not work"
File &rarr; Open &rarr; choose a workspace folder. With Safari browser the window is reloaded (see #981), but then the old workspace folder is still shown.

[2018-04-03 09:08] santoshray02 opened #1633 "How can I make theia-ide (browser) portable"
How can I make theia-ide (browser) portable?

[2018-04-03 11:51] marcdumais-work opened #1634 "[tasks] output to terminal is broken"
When a task runs, that uses a terminal process, ```"processType": "terminal"``` in its configuration, a terminal used to be created, in which the output of the task was displayed. This no longer happens in master - must have broken at some point and went unnoticed.

[2018-04-03 12:10] marechal-p commented on #1622
Looking at it a bit longer to understand the issue, it seems like the best thing to do is to setup a reverse proxy making the dispatch between the containers.

- [one StackOverflow take on the question](https://stackoverflow.com/a/30960011)
- [nginx remote proxying](https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/)

But there might be other technologies that achieve the same resu

[2018-04-03 12:50] azatsarynnyy commented on #1634
I guess it's because of widget factory was used to create a TerminalWidget and attach it to the app shell. But after the #1480, widget factory just creates a TerminalWidget w/o attaching it the shell.

[2018-04-03 13:07] azatsarynnyy commented on #1634
I've proposed a fix in #1635

[2018-04-03 13:08] marcdumais-work commented on #1634
Cool, I will try your PR.

[2018-04-03 13:10] #1596 closed

[2018-04-03 13:20] travis1111 commented on #1613
@epatpol yes I did here is the code:

[code]
But compile failed:

``
$ tsc
src/browser/demo-contribution.ts(50,18): error TS2339: Property 'workspaceService' does not exist on type 'Window'.
[code]

[2018-04-03 13:26] #1634 closed

[2018-04-03 14:06] marechal-p commented on #1609
Just tried to refactor along your suggestions, this is a first pass.

For the idea of opening any URI, isn't it already possible to register some handler that returns `true` when asked if it can handle the input ?

[2018-04-03 14:29] elaihau opened #1637 "Minor issue: text - selectbox overlapping in output widget"
In the output widget, there is a minor issue regarding the text - selectBox overlapping when the browser resizes.
The widget should be smart enough to wrap the last word in case that the widget does not have enough width.

Demo:
![peek 2018-04-03 10-23](https://user-images.githubusercontent.com/37082801/38255423-bf2c0722-3729-11e8-9f23-d0647257558e.gif)

[2018-04-03 14:48] epatpol commented on #1613
@travis1111 What about doing something similar to the [frontend-application](https://github.com/theia-ide/theia/blob/e0222f81ddb35a2cdd862f8de81078bfe5b8ce4e/packages/core/src/browser/frontend-application.ts#L97).

I'm not sure what's different in your case, but the `this` seems to refer to window instead of the class.

[2018-04-03 14:54] kittaakos commented on #1609
You do not have to do much with the opener part, it is already implemented:

[code]

[2018-04-03 17:15] travis1111 commented on #1613
Almost there!

this is my code

[code]

Current issue is, I can see the confirmation dialog, after I click OK, the iframe refreshes itself but shows `` you have not yet opened a workspace``, if I send the postMessage again, then I can see the new workspace.

What could be the issue here?

[2018-04-03 17:54] travis1111 opened #1639 "How to close and set new workspace root and NOT open a new window?"
What i would like to do is allow customers to open a new workspace root in one action.

I have this code:

[code]

it is not working, theia editor refreshed itself once, then shows

[code]

but if I call that method again, (since workspace is already closed), then I can see the new workspace.  So I guess the ``workspace.close()`` will cause a browser refresh, in that case, the ``open`` command nev

[2018-04-03 18:14] MarkZ3 opened #1640 "Undo should remove the "dirty" state of the editor"
If I start typing in an editor, the editor is marked as "dirty" with the small circle in the tab. If I undo the change, it is still dirty. Then if I try to close the tab, it pops-up to ask to save. This can be annoying because it happens very often that I start typing and change my mind, or I type accidentally.

Edit: this is with auto-save OFF

[2018-04-03 18:25] epatpol commented on #1613
Looking at `WorkspaceService` it seems calling `this.workspaceService.close();` also reloads the window. So maybe this causes an issue where you reload the window and the `this.workspaceService.open(...` never gets called?

I'm not sure, maybe try debugging this code in the frontend? Or what exactly are the steps you would like here. This is what I understand:

* Send a new workspace from outside

[2018-04-03 18:54] elaihau commented on #1559
Not reproducible any more. I am going to close this one.

[2018-04-03 18:54] #1559 closed

[2018-04-03 18:54] marechal-p commented on #1609
I don't really understand...

Right now I moved `file.open` command and its handler from `@theia/worspace` to `@theia/core`.
Also renamed the `file.open` to `core.open` (in the case we expand the opening process to take HTTP URI and everything/anything).
It felt better indeed.

But I don't see what you want to do regarding the `open(this.openerService, uri, options)`.

Right now it looks like this

[2018-04-03 18:56] epatpol commented on #1639
Actually, looking at `WorkspaceService.open` :

`    open(uri: URI, options?: WorkspaceInput): void {`

We see that there's some WorkspaceInput optional argument. Looking at it :

[code]

Can you try calling `workspaceService.open(..., {preserveWindow: false});` ?

[2018-04-03 19:06] epatpol opened #1641 "Different electron issues when opening several workspaces"
Here's how I reproduce it:

* Launch the electron version and open a new workspace (or keep the current opened workspace if existing)
*  File -> Open -> Another workspace
* This opens a new electron window

Go to File -> Close Workspace in the *first* electron window

`Close Workspace` dialog is then opened in the *second* electron window.

Expected behaviour is to see the window opened in the fir

[2018-04-03 19:45] gorkem commented on #1558
@jopit How do you add the second folder? Using `Open..` menu item or some other way?

[2018-04-03 19:53] travis1111 commented on #1613
Yes it opens a new window

[2018-04-03 19:54] travis1111 commented on #1639
Thanks @epatpol
not I tried with ``true`` and ``false``, it always open a new window

this is the new code

[code]

[2018-04-03 20:05] gorkem opened #1642 "Filtering for outline view"
It should be possible to filter the outline view.

[2018-04-03 20:11] travis1111 commented on #1639
Look at this line:

https://github.com/theia-ide/theia/blob/ceec46c93c316fe87903c2a1b2c454fc0e726dcb/packages/workspace/src/browser/workspace-service.ts#L93

I think that one set the preserveWindow to false
so no matter what I pass in, it is always false, thus always open a new window

[2018-04-03 20:11] epatpol commented on #1639
@travis1111 I was commenting exactly that just now from the debugging I did.

Indeed this is a bug and should be fixed I think.

[2018-04-03 20:12] epatpol opened #1643 "preserveWindow option is ignored in the WorkspaceService.open API"
As seen in https://github.com/theia-ide/theia/issues/1639

[2018-04-03 20:14] travis1111 commented on #1639
cool, so there is something open new window too see #1631

[2018-04-03 20:25] epatpol commented on #1639
#1644 was opened, if you can, it would be nice to try that patch with your application and see if it solves your issue.

[2018-04-03 20:33] travis1111 commented on #1639
Thanks saw it... we build theia in a container... I will take a look of the build process and see how we build it :) but yes I want to test the change!! thanks for fixing it!

[2018-04-03 22:25] jgroom33 commented on #1622
Agree, the proxy could handle the routing:
host                docker
x.x.x.x/foo -> x.x.x.x:y
x.x.x.x/bar -> x.x.x.x:z

It would be beneficial to also allow setting the root path of each container.  This would simplify the nginx config (only port mapping would be necessary):
host                docker
x.x.x.x/foo -> x.x.x.x:y/foo
x.x.x.x/bar -> x.x.x.x:z/bar

[2018-04-03 22:33] marechal-p commented on #1622
[code]

[2018-04-04 05:01] santoshray02 commented on #1633
I compiled and build it in one directory and try to run the build in another directory . (I have copied and pasted all the build to another directory )
![screenshot 1](https://user-images.githubusercontent.com/12428112/38289344-4fe8c89e-37f3-11e8-93dc-59ab0be02343.png)

[2018-04-04 06:00] kittaakos commented on #1609
Great!

OK.

[Nothing](https://github.com/theia-ide/theia/issues/1609#issuecomment-378278964), it is already there.

[2018-04-04 11:34] marcdumais-work opened #1646 "[terminal] intermitent line wrap issue for 1st terminal"
I have momentarily reproduced this on latest master, but can't anymore. It does seem to reproduce consistently in a docker image I have, based on master from a couple of days ago: (@theia/core 0.4.0-next.ceec46c9).

In that image, with a freshly restarted client, the first terminal I start, it wraps before reaching the full width of the widget and remains on the same line after, until I hit "enter

[2018-04-04 15:06] epatpol commented on #1643
I'll ask somebody to review and hopefully approve it by today. I just want to make sure it's not breaking anything (even though the change is so small).

[2018-04-04 15:11] travis1111 commented on #1643
Thank you so much!!!

[2018-04-04 15:30] kittaakos commented on #1640
Are you sure it does not work? I know it is annoyingly slow, but could you please verify it again? I did it on OS X in Chrom. Thanks!

![gh-1640](https://user-images.githubusercontent.com/1405703/38317639-cfb048e2-382d-11e8-9fd4-ab41aaf9bad0.gif)

[2018-04-04 15:38] MarkZ3 commented on #1640
It looks like you have auto-save on? Sorry my case was when using auto-save off, which means in the whole process there was no save and it should detect that it is back to the unmodified state. It looks like the dirty state is only cleared by saving right now, not undoing.

[2018-04-04 16:11] kittaakos commented on #1640
I see; it makes sense. Thanks for explaining.

[2018-04-04 16:19] kittaakos commented on #1621
@rajendra2, could you please link your fork here? I must be blind and did not find it among the [forks](https://github.com/theia-ide/theia/network/members). I would like to reproduce the defect.

I am on `2.7.1`. Do you have the same problem when you use the same version as I do? Thanks!

[2018-04-04 16:25] kittaakos commented on #1574
👍

[2018-04-04 16:26] kittaakos commented on #1564
https://github.com/desktop/dugite/issues/178

[2018-04-04 16:31] lmcbout commented on #1574
Yes. This happen when the file is open in the editor

[2018-04-04 18:42] #1643 closed

[2018-04-04 18:43] epatpol commented on #1639
You can try it again with the latest master and report back if it works for you.

[2018-04-04 18:54] marcdumais-work commented on #1639
@travis1111 you did not mention, but If you build Theia from npm modules (vs from source), you'll have to wait a few minutes for the new "next" version to be published. And of course use "next" instead of "latest".

[2018-04-04 20:25] travis1111 commented on #1643
Thanks @epatpol

With preserveWomdow set to true, it won't open a new window, this is goof :-) thanks!

But unfortunately, if the workspace is not closed, not matter what I do, the switch just doesn't work.  Still stays with the old workspace root.  Unless I close it...

now what to try now?

[2018-04-04 22:31] simark opened #1654 "Exceptions should be handled better in DefaultResourceProvider.get"
Context:
https://github.com/theia-ide/theia/blob/master/packages/core/src/common/resource.ts#L89

Right now, resource providers are expected to reject the promise if they can't handled the given uri.  The problem is that if there's an actual problem/bug in the handler that is supposed to handle that URI, it will just silently fail, the exception will be swallowed, and the resource won't be opened,

[2018-04-05 00:34] JamesDrummond opened #1655 "Openshift"
I would like to run Theia in Openshift. However, there are certain guidelines for docker images that can run in Openshift https://docs.openshift.com/container-platform/3.3/creating_images/guidelines.html#openshift-container-platform-specific-guidelines . I would like to propose in creating an new Dockerfile for Openshift whos parent image is 'theiaide/theia'. Maybe call this image 'theiaide/theia-

[2018-04-05 05:33] svenefftinge commented on #1655
We maintain Docker files over in https://github.com/theia-ide/theia-apps.
There are discussions regarding this in https://github.com/theia-ide/theia-apps/pull/35 and https://github.com/theia-ide/theia-apps/pull/10.
Having dedicated images for open-shift sounds good to me.

[2018-04-05 05:38] svenefftinge commented on #1633
You can't. Theia uses yarn workspaces which hoists all npm packages to a common parent `node_modules` folder plus adds symbolic links to the developed npm packages there.

[2018-04-05 05:38] #1633 closed

[2018-04-05 05:41] svenefftinge commented on #1622
I don't think that is true. Can we close it?

[2018-04-05 05:43] svenefftinge commented on #1621
We are on 2.7.2 atm : https://github.com/theia-ide/theia/blob/master/package.json#L36

[2018-04-05 05:43] #1621 closed

[2018-04-05 05:44] #1615 closed

[2018-04-05 05:48] svenefftinge commented on #1594
This was fixed with https://github.com/theia-ide/theia/pull/1447

[2018-04-05 05:48] #1594 closed

[2018-04-05 09:20] marcdumais-work opened #1657 "Client "offline" mode falsely reported"
I have recently noticed that my client reports being "offline" when it's actually not. It's not just kicking-in momentarily, but rather seems to stay in that mode indefinitely, once it triggers.

Looking at the backend logs, it seems that the "alive request" is responded-to as expected:
[code]

[2018-04-05 09:51] travis1111 commented on #1639
@marcdumais-work Tried with next build, no new window :-) but still old workspace :-(

https://github.com/theia-ide/theia/issues/1643

[2018-04-05 09:55] marcdumais-work commented on #1639
@travis1111 there is still a bug getting in the way: https://github.com/theia-ide/theia/pull/1656

[2018-04-05 10:04] travis1111 commented on #1639
@marcdumais-work Thanks!!! I am ready to test it as soon as it is in npm! :-)

Thank you!!!! and @epatpol !!!! you guys are great!!!!

[2018-04-05 10:08] travis1111 commented on #1643
@epatpol thanks for fixing it, I will give it a try as soon as it is in npm. :-) . thanks!

[2018-04-05 12:03] marechal-p commented on #1622
@svenefftinge if it isn't true you should just point to a way to do it, because I was taking a look around, and I didn't find how to do it without altering the sources... I am also unable to find a good use case for changing Theia's root URI, as the previous one mentionned kind of adds a step that we could not take (just redirect to `/`).

[2018-04-05 14:27] MarkZ3 opened #1660 "Multi-root workspaces"
It would be great to be able to open many different folders in the same workspace, regardless of where they are located on the file system. Then the workspace settings could be located separately of the root folders (and not pollute the Git repos for example). There is already such support for this in VSCode and the LSP, see
https://code.visualstudio.com/docs/editor/multi-root-workspaces
https://g

[2018-04-05 14:31] JamesDrummond commented on #1655
@svenefftinge Funny I was trying to find that post #10 I made when I started this ;) . I will create a pull request over there. You should update your dockerhub page https://hub.docker.com/r/theiaide/theia/ to include where the dockerfiles are located on github.

[2018-04-05 15:13] JamesDrummond commented on #1655
@svenefftinge How do you guys do your docs? I am planning writing an article only how to get Theia working on Openshift with a front end proxy(openshift/oauth-proxy:latest) that provides authentication through Openshift backend. I could write markdown for it. Not sure how gitbooks works that you use at http://www.theia-ide.org/doc/.

The proxy front end is nice for people using Openshift Origin li

[2018-04-05 15:27] epatpol commented on #1657
I have also noticed that sometimes, and the client still works perfectly even though it says offline mode.

[2018-04-05 15:37] epatpol commented on #1655
@JamesDrummond Right now there's documentation for developing theia in [this repo](https://github.com/theia-ide/theia/tree/master/doc). But there's also some on the [website](http://www.theia-ide.org/doc/index.html) which is generated from the [website repo](https://github.com/theia-ide/theia-website). I don't know where I would put the documentation for running theia on openshift however. I think

[2018-04-05 17:17] sr229 commented on #1594
@svenefftinge is this on the next packages right now?

[2018-04-05 19:03] MarkZ3 opened #1661 "Toggle Source/Header works only once until selection is changed"
In a workspace with Foo.cpp and Foo.h,
1. Open Foo.cpp
2. Atl-O to switch to header, it works
3. Alt-O again to switch back to source file, it doesn't work.
If you change the selection in the editor, then it works again.

[2018-04-05 19:07] MarkZ3 commented on #1661
The command uses this.selectionService.selection.uri, but this can be undefined. It seems like a bug because the editor is active and there is a selection. I added some printouts and saw that it gets set than it is being undefined after. There are just a few places there the selection is set
1. The editor when it is activated (onActivateRequest): this is how it works the very first time
2. The edi

[2018-04-05 19:59] travis1111 commented on #1639
Thanks!!! @epatpol  @marcdumais-work  it works now!!! I can switch the workspaces now!! :-) with #1656

[2018-04-05 19:59] #1639 closed

[2018-04-05 20:00] travis1111 commented on #1613
it is working now, see https://github.com/theia-ide/theia/issues/1639

[2018-04-05 20:00] #1613 closed

[2018-04-05 20:03] epatpol commented on #1397
Don't hesitate if you find other bugs/issues :)

[2018-04-05 20:03] #1397 closed

[2018-04-06 02:55] jgroom33 commented on #1622
I'm not opposed to closing this. As I agree, there are other ways to solve the problem.
At the same time, it is fairly common for services to allow changing their root.

[2018-04-06 14:20] jopit opened #1666 "Where is Theia storing problems view items?"
Theia remembers the items in the problems view between sessions.  How are these being stored?  How can we clear them?

[2018-04-06 14:29] kittaakos opened #1667 "Disable the `Merge Conflicts` commands when nothing to merge."
Otherwise, it throws an error if no editors nothing is opened:
[code]

<img width="621" alt="screen shot 2018-04-06 at 16 27 14" src="https://user-images.githubusercontent.com/1405703/38426672-9517c5a8-39b7-11e8-9c55-719aca1f4e36.png">

[2018-04-06 14:36] kittaakos commented on #1666
From here: https://github.com/theia-ide/theia/blob/942e03603b7c35d5650616329e0f68ad1d92acd3/packages/markers/src/browser/marker-manager.ts#L131

The browser implementation uses the `window.localStorage`.

Although I did not try it, one can delete the local storage in Chrome: https://superuser.com/questions/519628/clear-html5-local-storage-on-a-specific-page

Let me know how it works.

PS: from cod

[2018-04-06 14:38] kittaakos commented on #1666
Related: https://github.com/theia-ide/theia/issues/1352

[2018-04-06 14:46] AlexTugarev commented on #1667
They shouldn't appear here at all.

[2018-04-06 14:48] kittaakos commented on #1667
AFAIK, if a command has a label, it appears. But I am not sure about it, that was my experience. At least, when I did not specify a `labe`l for the command, it did not appear.

[2018-04-06 14:53] kittaakos opened #1668 "Theia reports `'Promise' only refers to a type, but is being used as a value here.` in JS files"
Steps to reproduce:
 - Open `theia/examples/browser/src-gen/frontend/index.js` in Theia.

<img width="720" alt="screen shot 2018-04-06 at 16 50 50" src="https://user-images.githubusercontent.com/1405703/38427983-fcb14880-39ba-11e8-82ff-670101228399.png">

[2018-04-06 15:01] jopit commented on #1666
Deleting the local storage in Chrome does work, thanks.

[2018-04-06 15:08] #1666 closed

[2018-04-06 17:15] simark opened #1669 "The Electron application should have a system icon"
The icon shown for the Electron application (for example when you alt-tab) is a generic one.  It should be the Theia logo.

[2018-04-06 19:56] kittaakos commented on #1669
It cannot be unless you brand and bundle your application. See here: https://github.com/theia-ide/theia-apps/compare/GH-3. If you have no objections, I would like to close this issue.

[2018-04-06 19:57] kittaakos commented on #1669
Also; https://github.com/theia-ide/yangster-electron/releases.

[2018-04-06 20:13] simark commented on #1669
Ah ok sorry for the noise.

[2018-04-06 20:13] #1669 closed

[2018-04-08 07:51] akosyakov commented on #1570
`clickable` or not is not important. The status bar data should match the active editor, without changes in `EditorContribution`. It still could be a case that they don't match.

[2018-04-08 08:01] akosyakov commented on #1654
We cannot use `undefined`.  It does not mean that the resource provider was not able to open, think about opening the external page, there won't be a widget. Swallowing real exceptions is for sure bad. We can introduce a special error code and filter out based on it whether we should log an error or ignore.

[2018-04-09 01:45] marcdumais-work commented on #185
Thanks @AlexTugarev . I think this is completed. Else please re-open

[2018-04-09 01:45] #185 closed

[2018-04-09 07:50] kittaakos commented on #1667
@akosyakov, do you know whether showing all the commands with the `label` property among the quick item is a bug (regression) or the desired behavior? Thanks!

[2018-04-09 08:01] AlexTugarev commented on #1667
@kittaakos I've checked quickly, it's not necessary to register command with labels for code lenses, only the id's are required. This can easily be fixed.

[2018-04-09 08:03] AlexTugarev commented on #1667
this lines needs to be changed, so that only label-less commands are registered:
https://github.com/theia-ide/theia/blob/6af80f4a096b80d6e803fa107b36fe69905bc6ab/packages/merge-conflicts/src/browser/merge-conflicts-frontend-contribution.ts#L48-L50

[2018-04-09 08:07] kittaakos commented on #1667
Cool, thanks for checking; still I would like to know whether this is the desired behavior or not. So that, it will not cause confusion next time.

[2018-04-09 08:11] AlexTugarev commented on #1667
I think this is indeed the desired behavior. I also ask that question once, and the looked it up:
https://github.com/theia-ide/theia/blob/5c23bd8c0b29e3b14f56ba7ccc1415cb3740bb93/packages/core/src/browser/quick-open/quick-command-service.ts#L28-L30

[2018-04-09 09:04] jbicker commented on #1593
Can't reproduce.

[2018-04-09 11:37] akosyakov opened #1671 "Serialization lifecycle hooks"
Right now we have such hooks only to manage the layout information, in other cases it is responsibility of the extension to implement it. It would be good to have it generally for any state which should be persisted between refreshes and resorted at the proper moment.

[2018-04-09 12:07] akosyakov opened #1672 "Optimize usage of web sockets"
Right now we have a connection per a service. As we implement more and more services we need more and more connections. Most of services are stateless and used sometimes, so they are just occupying a client connection. Browsers have limits on it.

We should explore whether it is possible to multiplex all services over a single web socket connection.

Things to consider:
- stateful services like fs

[2018-04-09 13:30] #1610 closed

[2018-04-09 13:32] elaihau commented on #1570
Got it. I will change the editor contribution.

[2018-04-09 14:08] MarkZ3 commented on #1661
Fixed with GH-1663

[2018-04-09 14:09] #1661 closed

[2018-04-09 14:09] akosyakov commented on #1546
An extension can also get access to other widgets and initialize them as required without overriding the frontend application.

[2018-04-09 14:11] kittaakos opened #1673 "Implement Path.relative(to)"
We already use this internally for Git, when getting the [repository relative path](https://github.com/theia-ide/theia/blob/91cb3123cdaed1794b49b576a8e5ab1354c56082/packages/git/src/browser/git-repository-tracker.ts#L88) for a file.

[code]

Also see: [`path.relative(from, to)`](https://nodejs.org/api/path.html#path_path_relative_from_to). In our case `from` would be `this`.

Add tests for Windows

[2018-04-09 19:00] kittaakos commented on #1609
Closed via https://github.com/theia-ide/theia/pull/1647.

[2018-04-09 19:00] #1609 closed

[2018-04-10 04:25] akosyakov opened #1674 "LSP tracing configuration"
One already can see a language server output in the output view per a language. If tracing is enabled then the output contains JSON-RPC messages as well.

Right the only way to enable tracing is via changing a client language contribution. It would be nice to have other means, for example via the cli options, e.g. `--trace-java` option. What do you think?

cc @simark @svenefftinge

Also should be

[2018-04-10 07:05] kittaakos opened #1675 "Rename the `ILogger` interface to `Logger`"
Rename the `ILogger` interface to `Logger`, so that it is aligned with our [`Coding Guidelines`](https://github.com/theia-ide/theia/wiki/Coding-Guidelines#interfaces). Nothing more.

[2018-04-10 08:01] LucaGabi opened #1677 "Support for mixt languages"
Hi,

   I tried the stable version and it seemed to me that there is no support for css and javascript in HTML files. Am I missing something?

Thanks, I think this is an incredible project.

[2018-04-10 08:44] spoenemann commented on #1546
But you cannot remove the contribution of another widget if it already has some initialization code.

Yes, you shouldn't do this in a normal extension, but when creating a custom application it's totally fine to override the FrontendApplication.

[2018-04-10 09:16] #514 closed

[2018-04-10 09:16] #1061 closed

[2018-04-10 09:34] kittaakos opened #1678 "[fs][fs-watcher] Check why `fs.existsSync` throw error when watching not (yet) existing files"
Originally from here: https://github.com/theia-ide/theia/pull/1477#issuecomment-372100111

A few more comments:
 - If one starts the backend in debug mode and stops on each uncaught exceptions, it is not possible to debug the code due to this problem.
 - Also, why does `fs.existsSync` throw?

[2018-04-10 10:29] AlexTugarev opened #1679 "Consider updating `xterm.js` (3.3.0) to support multi-line links in terminal"
Milestone 3.3.0 is almost complete, see https://github.com/xtermjs/xterm.js/milestone/24?closed=1.

Especially the [multi-line link matching](https://github.com/xtermjs/xterm.js/pull/1303) is worth looking into an upgrade once it's released.

BTW the `vscode-xterm` package is basically the master state of xterm.

[2018-04-10 11:17] lmcbout commented on #1675
According to issue #624, should it be LoggerImpl ?

[2018-04-10 13:53] azatsarynnyy opened #1680 "QuickOpen API enhancements"
I'd like to propose to extend QuickOpen API to allow to use the `QuickOpenService` in two modes:
1. When it's opened with a list of custom elements like it currently works.
2. When it's opened with a list of the registered `QuickOpenHandler`s (see the screencast from VScode).

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1636395/38560858-492756a6-3cdf-11e8-9a69-bd849751994d.

[2018-04-10 14:03] azatsarynnyy commented on #1680
Also, there should be a contribution point that will allow the extensions to contribute its own `QuickOpenHandler`s.
And one `QuickOpenHandler` can be registered as a default handler i.e. that handler should be called automatically when no ID is specified in QuickOpen. Obviously, it should be a handler that calls Go to File QuickOpen.

[2018-04-10 14:37] azatsarynnyy commented on #1680
Would you be interested in such enhancement?

[2018-04-10 15:17] simark commented on #1674
I think it would be nice if it was configured the same way as other loggers, for consistency.

[2018-04-10 17:06] marcdumais-work opened #1683 "[Ericsson team] Items for April"
Here are the items we plan to work-on for April (some are already started).

One theme that emerged is that we want to address some shortcomings that impede us using Theia to  develop Theia. A secondary theme is to make Theia applications easier to troubleshoot at runtime.

- Make TSLint work in Theia: https://github.com/theia-ide/theia/pull/1662
- Create improved Theia HelloWorld extension
- Perf

[2018-04-10 23:16] azatsarynnyy commented on #1680
I've updated the description.
@svenefftinge would you be interested in such feature?

[2018-04-11 00:24] gorkem opened #1684 "LSPs can cause multiple command registration error"
A language server needs to register a command if it wants to use it as part of the menus and assign a shortcut. This is done with a `CommandContribution` and the command is registered at the start. If the LSP registers the same command via registerCapability for use with `workspace/executeCommand` calls an [Error is generated](https://github.com/theia-ide/theia/blob/187c6cec353894bb4d0f6a4f0c34bee

[2018-04-11 06:56] svenefftinge commented on #1680
In VS Code I personally don't use it because it is more key strokes than just directly trigger the right command. It is nice for discoverability, though, but the command palette does that well, too.

I would say other things are more important atm. But I am not strictly against it in the hope it wouldn't affect the existing QuickOpenHandler API too much.

[2018-04-11 07:09] #1592 closed

[2018-04-11 07:27] #1546 closed

[2018-04-11 07:57] azatsarynnyy commented on #1680
As I see it won't affect the existing QuickOpen API clients.
Thanks.

[2018-04-11 12:11] svenefftinge commented on #1683
It doesn't necessarily need to be 'semantic'. Vs Code (and so does TS Server) not provide any semantic coloring, but instead the lexical coloring uses a more complex grammar, that identifies certain tokens to be used as type name, variable, etc. But that is purely syntactically. Also, it is not always correct, but it doesn't seem to bother anyone :-).

[2018-04-11 12:31] ishitatsuyuki opened #1685 "Moving Java language server binary out of tree"
The Java LS jar should be downloaded with a postinstall script, not by bundling inside the package.

The current approach has two downsides:

- Blob in git repository makes clone very slow.
- Blob in npm package bloats npm/yarn cache directory.

[2018-04-11 13:13] akosyakov commented on #1674
Yes, it sounds good.

[2018-04-11 15:09] epatpol opened #1687 "Have a way (maybe default) to save the logs to specific files"
VS code saves (under linux) the different log files `exthost.log`, `main.log`, `renderer.log`, `sharedprocess.log` under `~/.config/Code/logs/YYYYMMDDT?????`. I still haven't figured out the exact format they use, but I think it would be nice if we did something similar. It could be a CLI argument to enable it and specify a path. It's not really useful when developping Theia as you can usually jus

[2018-04-11 15:10] spoenemann commented on #1486
Could be of help here:
https://code.visualstudio.com/docs/getstarted/theme-color-reference

[2018-04-11 15:23] #73 closed, assigned to kittaakos

[2018-04-11 18:54] gorkem commented on #1685
I do not think having binaries on the repo is a good idea. I would also like to see a way to give a specific version of the jdt.ls rather than "latest"

[2018-04-11 22:07] simark commented on #1103
I just noticed this bug :)

[2018-04-12 06:13] #1667 closed

[2018-04-12 06:56] svenefftinge opened #1688 "[monaco] ESC doesn't close completion widget"
The ESC key no longer closes the suggestion popups and hovers.

[2018-04-12 07:13] kittaakos opened #1689 "[editor-naviagtion] Support go to last edit location"
It is a useful Eclipse feature. VSCode supports it via an extension: [`goto-last-edit-location`](https://marketplace.visualstudio.com/items?itemName=krizzdewizz.goto-last-edit-location). It is easy to support in Theia too.

Originally from here: https://gitter.im/theia-ide/theia?at=5ace98cd5f188ccc1556663f

[2018-04-12 07:45] akosyakov commented on #1687
Could we consider to have flexible bunyan configuration file. So it will allow to specify default logger settings, like level and which stream should be used, as well override them for child loggers.

[2018-04-12 12:27] marechal-p commented on #1641
There is still the problem of the web worker being shutdown for some reason when we close one window but not all, still looking into it.

[2018-04-12 13:12] epatpol commented on #1687
Nice, if it was directly supported in bunyan that would indeed save us some trouble of having to manage that configuration file ourself. The JS file exporting the options isn't a bad idea either.

[2018-04-12 13:59] marechal-p commented on #1672
What you ask is websocket multiplexing, and as are things right now, websockets run on TCP, while TCP runs on IP. Basically even having mutliple websockets will not make them parallel, because each TCP bound socket is already a channel from the IP protocol. All this to say that it will had some processing but it should be very minimal.

TCP: http://www.inetdaemon.com/tutorials/internet/tcp/multipl

[2018-04-12 14:05] Zate commented on #1672
You could address this issue by just having a single socket that transfers multiple message types and code on either side that routes the messages to the right place.  The reason we have multiple sockets (and they are mostly all speaking json-rpc) is just that each need has implemented a separate socket rather than implementing a separate message type to be transferred over a single connection.  I

[2018-04-12 14:53] Zate commented on #1672
That looks pretty good.  Pub Sub and channels seems in the right direction.

[2018-04-12 15:28] svenefftinge commented on #1672
That project is built for sockjs. We use native websockets.

[2018-04-12 15:38] svenefftinge commented on #1672
Maybe with something like this : https://www.npmjs.com/package/websocket-multiplex-client

[2018-04-12 15:47] svenefftinge commented on #1672
Yes, but the limit could bite us eventually as we are adding new socket connections on a weekly basis. Currently, we already have over 15 + language servers. So if you open enough tabs one could reach the limit. I agree it is not imminent now, but we should keep an eye on it.

[2018-04-12 17:34] marechal-p commented on #1672
I was just wondering if there was really a limitation, based on the current websocket count we have in Theia. But multiplexing the connections would be the way to go to prevent any problem indeed.

From your link:
[code]

Maybe we will have to implement our own little mutiplex/routing mechanism, if you want to avoid SockJS...

[2018-04-12 21:31] Zate commented on #1672
I think it supports websocket/ws also

https://github.com/manuelstofer/websocket-multiplexer/tree/master/examples/ws

[2018-04-13 08:44] svenefftinge opened #1692 "[Workspace open] Cursor navigation broken"
In the open... dialog the cursor navigation no longer works.

[2018-04-13 08:48] akosyakov opened #1693 "Support tslint language server"
Right now we force to change tsconfig to enable tslinting. It would be nice to implement an extension with [tslint-server](https://github.com/Microsoft/vscode-tslint/tree/master/tslint-server) to avoid it.

(off-topic) There is also eslint server: https://github.com/Microsoft/vscode-eslint/tree/master/server. It could be interesting to support it as well for JS projects.

[2018-04-13 09:25] benoitf commented on #1685
I had same issue cloning
I saw that two entries that is using the whole size where almost
[code]

at one time we used https://git-lfs.github.com/ (there is pro/cons as well) which allow to store binaries as part of git repository.

[2018-04-13 09:32] ishitatsuyuki commented on #1685
We don't have to. We can use the legacy scheme, which downloads the official artefact directly. If you're worried about availability, you can cache it in the CI and/or pin multiple mirror URLs instead.

The tagged releases are available at http://download.eclipse.org/jdtls/milestones/.

[2018-04-13 09:44] akosyakov commented on #1685
Please take local builds in the consideration as well. The issue was that developers were blocked, since local builds failed because eclipse was not reachable. It was annoying since the most of the work does not happen on the java extension.

BTW i am not saying that we should not do it. We should, but previous experience should be taken in the consideration.

[2018-04-13 09:56] benoitf commented on #1685
@ishitatsuyuki I agree with you, as it seems the main issue was that repository was down sometimes, as Eclipse has mirrors the script could check a various list of mirrors (or get the closest one)

for example even if main repo is down, you may still get from one mirror like
https://ftp.gnome.org/mirror/eclipse.org/jdtls/

@akosyakov I think that with mirrors, we should have always have at least o

[2018-04-13 10:07] vitaliy-guliy opened #1694 "Support for EditorConfig"
Add an extension supporting [EditorConfig](http://editorconfig.org/) to define coding styles.

Working on extension is in branch
https://github.com/theia-ide/theia/tree/editorconfig

[2018-04-13 10:17] akosyakov commented on #1694
How is it going to be integrated with the current preferences?

[VS code extension](https://github.com/editorconfig/editorconfig-vscode) overrides configurations user/workspace editor settings. Would not it make sense in our case as well?

[2018-04-13 10:25] jeanlucburot opened #1695 "Error due to Theia trying to access non-existing folder"
When running Theia with yarn && cd browser-app && yarn run startTheia runs neatly, but I also get the following error in the command line:

`[2018-04-13T09:07:27.266Z] ERROR: Theia/27692 on mylaptop: Request getFileStat failed with error: Cannot find file under the given URI. URI: file:///home/myuser/Schreibtisch/TESTORDNER. [ 'Error: Cannot find file under the given URI. URI: file:///home/myuser/

[2018-04-13 12:16] vitaliy-guliy commented on #1694
We also override editor configuration. Editorconfig has bigger priority than editor preferences.

[2018-04-13 12:18] kittaakos opened #1696 "[keybinding] The command palette cannot be opened with Cmd+Shift+P in FF"
It opens a new window in private browsing mode instead.
This is a minor issue. Workaround: use `F1`.
This happened on OS X.

[2018-04-13 12:40] azatsarynnyy opened #1698 "Proposal for Task API"
Currently, the Task extension provides the means to execute scripts or executables on the Theia backend. A Task can be described using a proposed predefined format.

I'd like to enhance the Task extension with several APIs that would offer the following features:
- allow an extension to provide its own Task format in order to add some specific properties or not to force a user to edit too complex

[2018-04-13 12:42] azatsarynnyy commented on #1698
Below are some thoughts about implementation

## TaskType contribution point
Defines the possible properties for a Task.

## TaskResolver contribution point
Knows how to make a Task ready to run from a description in tasks.json:
- resolves the variables in some properties of a Task;
- add the missing properties.

For example, with TaskResolver it will be possible to omit the actual command line in

[2018-04-13 12:49] akosyakov commented on #1694
I meant we should consider whether we want to make sure that the preferences API return the consistent result with what users see in editors. If so then we should hook it up in the preferences machinery.

cc @svenefftinge

[2018-04-13 13:11] akosyakov opened #1699 "[application-package] Error: Request getExtensionsInfos failed with message:"
In Docker images we remove electron to reduce the size: https://github.com/theia-ide/theia-apps/blob/9865ec23ad00f07302241903dd3b0485a5cc73c4/theia-docker/Dockerfile#L8.

It's started to break since we had introduced a dependency from `application-package` to `core`.
[code]

It is not nice to remove package.json after installations, but since it happens it would be nice to teach `application-packa

[2018-04-13 14:17] epatpol commented on #1695
Can you tell us what's written under `~/.theia/recentworkspace.json` ?

Maybe the backend saved your most recent workspace, and then you deleted it, and when it reloads it opens that file and tries to reload the most recent workspace, if that's the case it is a bug. Could be something else also but let's start with checking whether or not that is the case.

[2018-04-13 14:34] lmcbout commented on #1695
@epatpol Same here, I just created an empty workspace and I get the "Request getFileStat failed with error...."