[2017-02-25 09:40] svenefftinge opened #1 "Initial Project Setup"
An initial project setup should support the following parts:
 - a node module for the ui (dom).
 - a node module for the backend (node).

Development should allow for short turnarounds for both running tests and running the application.
Things like
 - webpack
 - typescript compilation (incl. sourcemaps)
 - karma

should be configured.

[2017-03-01 10:03] svenefftinge opened #2 "[testing] Research test framework"
For writing unit tests we should decide for a testing framework to use.
My requirements would be:
 - short turnarounds / incremental test runs
 - readability / little boiler-plate
 - nice: native support in webstorm for debugging

[2017-03-01 10:06] svenefftinge opened #3 "File Navigator"
A widget that adds itself to the left area of a shell and connects to the file system.
It should allow browsing the served file system and opening an editor on double-click.

[2017-03-01 10:07] svenefftinge opened #4 "Shell"
In a `shell-dom`package we create and expose the shell, which is the root element for the UI.

[2017-03-01 10:08] svenefftinge opened #5 "Editor Services"
A general file open service should be exposed and internally open the given text file in a new widget using monaco.

[2017-03-01 10:11] svenefftinge opened #6 "File System Service"
A file system service should allow to navigate and operate on a served file system.
- For electron it needs to use electron's IPC communication to connect to the main process
- For node/electron it needs to use a websocket.

Let's look at BrowserFS (https://github.com/jvilk/BrowserFS)

[2017-03-01 10:12] svenefftinge opened #7 "[Example] Node/Browser Example"
We should have an example application for the Node/Browser architecture.
It will be a node process serving the browser application through http.

[2017-03-01 10:13] svenefftinge opened #8 "[Example] Electron Example"

[2017-03-01 14:22] svenefftinge opened #10 "[releng] Add Travis CI"
We should setup travis ci to automatically build and test

[2017-03-03 21:59] #4 closed, assigned to nobody

[2017-03-03 22:03] svenefftinge opened #11 "[communication] Json RPC connection"
Both the frontend and the backend need to have access to a communication endpoint to send and receive JSON RPC messages and notifications
For now we could go through a websocket connection on both electron and web/node.

[2017-03-07 13:56] #2 closed, assigned to nobody

[2017-03-10 23:22] svenefftinge opened #12 "[preferences] Preferences"
We should go with json-schema based user preferences.

A plugin should be able to contribute a schema and read the actual preferences.
Different scopes would be good, too.

In addition to good textual support like in vscode, we could provide a graphical editor (similar to atom) as well. For that we could use http://jeremydorn.com/json-editor/

[2017-03-24 10:37] svenefftinge opened #14 "[extensions] Leverage VsCode's extension mechanism"
VSCode runs 3rd party extensions in a separate node process. The provided extension API communicates with the main process through an IPC-based protocol.

We should look into supporting the protocol directly, so Theia users could install and run all extensions listed here:
https://marketplace.visualstudio.com/VSCode

Some references:
 - https://github.com/Microsoft/vscode/tree/master/src/vs/workbe

[2017-03-24 10:43] #8 closed, assigned to nobody

[2017-03-24 11:51] svenefftinge opened #15 "Selection Service"
A global selection service, should allow providers to emit selection events, listeners to register for such events and clients in general to ask for the current selection.

The form of a selection can vary so the type would be `any`.

[2017-03-31 11:48] svenefftinge opened #16 "Context Menus"
In Electron we want to use native menus, while in browser we want to use the Phosphor ones.
We need to figure out how we can change the context menu in monaco (either disable or hook in through `IEditorOverrideServices` / `IContextMenuService`).
Also there needs to be a service that shows the menu according to a mennu-id, it should be used e.g. by the navigator, as well as on the tabs of editors/w

[2017-03-31 11:48] #15 closed, assigned to svenefftinge

[2017-03-31 11:49] #14 closed, assigned to nobody

[2017-03-31 11:50] #7 closed, assigned to nobody

[2017-03-31 11:50] #1 closed, assigned to nobody

[2017-03-31 11:51] #6 closed, assigned to nobody

[2017-03-31 11:57] svenefftinge opened #17 "Search within workspace files: Action / widget"
Users need to search the workspace. A "Find In Path" Action should open a search widget in which I can type in text and hit search. The list of matches should be shown below in a tree like fashion.
-  Top level - files
-  Second level - matches within files
Double click on an item should open and reveal the match.

The view should later allow to do replace as well and should offer some common opti

[2017-04-03 06:54] svenefftinge opened #18 "Terminal Plugin"
We need a plugin that allows users to access the backend system through a terminal.
Xterm looks good for this https://github.com/sourcelair/xterm.js

[2017-04-03 09:02] svenefftinge opened #19 "[navigator] hook up context menu"
The navigator should have a context menu, on which the following actions should be implemented.
 - [x] Delete
 - [x] Cut, Copy, Paste
 - [x] New File
 - [x] New Folder
 - [x] Rename

For rename, new file and new folder the label of an item should turn into an editable text field. The name should be applied on enter. On ESC the initial name should be used.

[2017-04-03 09:31] svenefftinge opened #20 "[navigator] Support multi-selections"
To support commands that can deal with multiple files

[2017-04-03 09:35] svenefftinge opened #21 "[filesystem] Enhance the protocol to use stats"
Instead of just pathes, we should return more meta data about file items, so we ca reduce the amount of requests.

[2017-04-03 12:30] svenefftinge opened #22 "[monaco] Integrate with menus / commands"
- [x] The actions provided by monaco should be registered with our CommandRegistry.
 - [x] A context menu for monaco editors should be registered with MenuModelRegistry.
 - [x] monaco context menu should be deactivated and replaced with ours

[2017-04-04 09:36] svenefftinge opened #23 "Command Palette"
A quick access to available commands and other things should be provided.
I like how it can do more then just executing commands in VSCode.

[2017-04-04 11:09] svenefftinge opened #24 "UI Test Infrastructure"
We want to be able to write UI integration tests using Selenium.

[2017-04-04 11:52] svenefftinge opened #25 "Streamline scrollbars"
Monaco comes with its own scrollbar. Native scrollbars should be styled similarily.

[2017-04-04 12:17] #16 closed, assigned to nobody

[2017-04-04 13:34] svenefftinge opened #26 "Problems View"
A view that can display issues in a list, allowing to double click an item in order to open and reveal the element.

[2017-04-05 07:26] svenefftinge opened #28 "Extension Mechanism"
Theia should be extendable in the following ways.
 - [x] Both the frontend and the backend should be extendable
 - [x] To allow maximum flexibility we will allow extensions to run in the main processes and access everything. Defining APIs and their lifecycle is a separate topic.
 - [x] a user should be able to install and uninstall an extension at runtime

At the core of Theia we use dependency in

[2017-04-05 11:00] akosyakov opened #29 "Abstract Editor API"

[2017-04-05 12:11] svenefftinge opened #30 "DockLayout broken after phosphor upgrade"
Since https://github.com/TypeFox/Theia/commit/467d3dd077b1baf874e0ba882773b03d12832864 the tabs height is not computed correctly anymore.

[2017-04-06 09:02] svenefftinge opened #31 "Clipboard Service"
A common service to access the clipboard.
Related : https://github.com/electron/electron/blob/master/docs/api/clipboard.md

[2017-04-10 13:57] svenefftinge opened #34 "Make command handler contributions lazy"

[2017-04-12 09:40] Alspaladin opened #36 "[file system] notify client about changes"
add support to update navigator with changes in file system

[2017-04-12 11:44] svenefftinge opened #37 "Keybinding Service"
It should be possible to register keybindings to trigger command handlers, similarly to how the menu service does it.

[2017-04-13 07:21] #22 closed, assigned to nobody

[2017-04-18 07:23] akosyakov opened #39 "[filesystem] FS protocol"
- [x] don't use workspace root relative paths
- [x] use file stats where it is possible instead of paths
- [x] keep API minimal, functions which can be programmed by usage of the fs API should not belong to fs API but another service on the top of the fs API, like `createName`
- [x] instead of just paths, we should return more metadata about file items, so we ca reduce the number of requests.

[2017-04-18 09:57] #21 closed, assigned to nobody

[2017-04-18 13:32] kittaakos opened #40 "Editor model is disposed error when programmatically closing the active editor"
Happens when closing the active editor from code:
[code]

Although the editor closes I can see this error in the console:
[code]

[2017-04-19 08:10] #19 closed, assigned to nobody

[2017-04-19 08:16] svenefftinge opened #41 "Support storing frontend state"
We should provide a storage mechanism that allows any components to load and save their state UI.
HTML5 Local Storage seems appropriate.

[2017-04-20 08:47] svenefftinge opened #42 "Dialog Issues"
For our popup dialog service we need to solve the following issues
 - [ ] the dialog should be modal, i.e. not allowing other interaction.
 - [x] the dialog should be always on top
 - [x] we don't want to have a visible, empty container widget added to the main area

[2017-04-20 08:49] svenefftinge opened #43 "Renaming file should focus"
When renaming a file, the existing name should be set in the pop up dialog and be selected and focussed.

[2017-04-20 08:50] svenefftinge opened #44 "New file action creates files without confirmation"

[2017-04-20 11:45] akosyakov opened #45 "Clean up LS integration"
- [x] feature complete Workspace, first https://github.com/TypeFox/Theia/issues/39 should be done
- [x] @svenefftinge's comments on https://github.com/TypeFox/Theia/pull/33

[2017-04-21 07:33] akosyakov opened #48 "Status Bar"
It can be used to display status and open some widgets as terminals and the debug consoles.

[2017-04-21 07:35] akosyakov opened #49 "Process Output Window / Console View"
For long running processes as language servers, it would be nice to have a separate output window, similar to VS Code.

[2017-04-25 06:36] #37 closed, assigned to nobody

[2017-04-25 12:21] #34 closed, assigned to svenefftinge

[2017-04-28 06:03] #3 closed, assigned to nobody

[2017-04-28 06:03] #11 closed, assigned to nobody

[2017-04-28 07:35] #45 closed, assigned to akosyakov

[2017-04-28 08:07] akosyakov opened #51 "[messaging] Support connection to different servers"

[2017-04-29 08:44] #44 closed, assigned to svenefftinge

[2017-04-29 08:44] #43 closed, assigned to svenefftinge

[2017-04-29 11:00] #39 closed, assigned to svenefftinge

[2017-04-29 13:14] #42 closed, assigned to svenefftinge

[2017-04-29 13:47] #5 closed, assigned to nobody

[2017-05-01 10:26] akosyakov opened #54 "Allow client side language contributions"
Anything not provided by language servers, like lexical syntax coloring, folding, snippets, etc.

[2017-05-01 10:27] akosyakov opened #55 "[java] Provide JavaResource to handle jdt schema"
I depends on https://github.com/TypeFox/Theia/pull/53 and https://github.com/TypeFox/Theia/issues/54. See for impl details: https://github.com/redhat-developer/vscode-java/blob/master/src/extension.ts#L243.

[2017-05-01 18:17] simark opened #56 "API Documentation"
I would like to start thinking about how documentation will look like. The communication between the frontend and the backend will need to be documented, as well as (at the very least) the APIs that extensions will use.

To reduce overhead, at least in the beginning, I think that this doc should be embedded in the code.  It should be possible to generate an HTML version of it for easier browsing.

[2017-05-02 07:11] svenefftinge opened #57 "Opener Handler improvements"
The OpenerHandler should be enhanced in the following ways:
 - [ ] OpenerOptions should provide information about where to open in the shell (main area, left, right, bottom dock)
 - [x] should provide and ID and a label, for 'open with'
 - [x] should have a `canHandle`method

[2017-05-02 07:26] akosyakov opened #58 "Review runtime dependencies"
We should try to enforce as less as possible runtime dependencies:
- to keep installation process easy
- to allow extension developers a choice

[2017-05-02 08:17] akosyakov opened #59 "Restructure the repository to use separate extensions"
Because `npm link` only creates a symlink instead of prepublishing and copying content, as `npm install` does, it is recommended to use file dependencies for local development: http://stackoverflow.com/questions/14381898/local-dependency-in-package-json

In addition we should make sure that theia `prepublish` script includes other resources as styles and example consumes them from `lib` folder not

[2017-05-02 08:37] #29 closed, assigned to akosyakov

[2017-05-02 08:38] #40 closed, assigned to nobody

[2017-05-03 07:30] kittaakos opened #60 "Change copy/delete/move on the FS API to accept `FileStat` instead of a resource URI"
This task is a follow-up of #39.

We need to pass a `FileStat` instance instead of the resource URI (string) to be able to verify that the resource is in sync with the server state. Just like we do for [`setContent`].

[`setContent`]: https://github.com/TypeFox/Theia/blob/master/src/filesystem/common/filesystem.ts#L34

[2017-05-03 09:15] svenefftinge opened #61 "[editor] hovers stop working after context menu was shown first time"
open an editor verify that hover messages work.
Right-click to open the context menu.
Afterwards no hovers are shown anymore

[2017-05-03 09:20] svenefftinge opened #62 "[editor] peek definition / find references don't work through keybinding"
In editor try pressing 'SHIFT+F12' for find referenced or 'ALT+F12' for peek definition.
It doesn't work. The latter seems to open the widget for a short moment, but it gets closed again immediately.

[2017-05-03 09:26] kittaakos opened #63 "New file dialog proposes the new file name with escaped characters"
Steps to reproduce:
 - Create a new file and accept the default `Untitled.txt` file.
 - Create yet another new file. Dialog proposes `Untitled%201.txt` but it should either `Untitled1.txt` or `Untitled 1.txt`.

[2017-05-03 12:37] #25 closed, assigned to nobody

[2017-05-03 14:59] #60 closed, assigned to kittaakos

[2017-05-04 07:34] #36 closed, assigned to nobody

[2017-05-04 09:06] #63 closed, assigned to svenefftinge

[2017-05-04 16:06] simark opened #67 "Developer documentation and issues"
As we spoke during the meeting, we should document (and improve if possible) the preferred development workflow.  I'm sure there are a lot of tricks to be more efficient that you guys use.

Right now I just run `cold:web:start` after doing changes to the backend.  Is there a more streamlined process for backend changes?

A major pain point is the strictness of the linting during development.  If I

[2017-05-05 11:19] kittaakos opened #69 "As a developer I would like to load CSS files for the example application from `lib` instead of `src`"
Currently, the CSS files are loaded from [`src`] while the modules are loaded from `lib`.
Changing the CSS locations to `lib` ends up in compile time errors:

[`src`]: https://github.com/TypeFox/Theia/blob/master/examples/src/main.ts#L16

[code]

[2017-05-05 14:45] #18 closed, assigned to svenefftinge

[2017-05-05 14:45] #62 closed, assigned to nobody

[2017-05-06 05:39] svenefftinge opened #71 "OpenerService Should Support 'Open With'"
Our OpenerService infrastructure needs to allow multiple handlers for the same files.
This includes an open default.

[2017-05-06 05:40] svenefftinge opened #72 "Preview Widget"
A Preview Widget that is capable of opening files like
 - images
 - html
 - markdown

and render the outcome.
The preview widget should rerender on file changes, which should allow for a nice editing experience in splitted mode.
We might want to allow extending it by registering renderers.

[2017-05-06 05:44] svenefftinge opened #73 "History Service"
We should provide commands to go back and forward in the "editor selection history".
I think we could just listen on selection events and store the information, then on back we reveal the previous selection, vice versa for forward.

[2017-05-06 05:47] svenefftinge opened #74 "[editors] Auto Refresh"
We should listen on file content changes of the active editor and auto refresh the contents if the editor is not dirty, otherwise a dialog should pop up and ask the user if he wants to keep the local state or the FS one.

[2017-05-06 06:45] akosyakov opened #75 "inversify-devtools widget"
Investigate whether [inversify-devtools](https://github.com/inversify/inversify-devtools) is useful to catch injection issues and consider to add a dev time widget.

[2017-05-06 08:42] akosyakov opened #76 "Implement `languages.Commands` for Monaco"
To support `java.showReference` command for example.

[2017-05-07 12:21] akosyakov opened #78 "Monaco Extension"
It should:
- load monaco, currently it is done in the example
- activate all monaco contributions, currently it is done in the example also

Loading should be configurable for different environments (browser, electron).
A monaco contribution can be modeled after: https://github.com/Microsoft/monaco-languages/blob/master/src/monaco.contribution.ts

[2017-05-08 06:28] #54 closed, assigned to akosyakov

[2017-05-08 06:39] #55 closed, assigned to akosyakov

[2017-05-08 08:58] svenefftinge opened #79 "Electron App doesn't work"
When starting the electron app I get the following error dialog.
<img width="418" alt="screen shot 2017-05-08 at 10 57 27" src="https://cloud.githubusercontent.com/assets/372735/25797378/45752940-33dd-11e7-8afc-439bb70f44aa.png">

[2017-05-08 12:42] svenefftinge opened #80 "Only One Browser Receives File Changes"
Open two browsers to the same server and so changes to the file system.
See how only the last refreshed browser gets the notifications.

[2017-05-08 13:38] #80 closed, assigned to svenefftinge

[2017-05-09 11:27] svenefftinge opened #81 "[navigator] Bind 'Enter' and 'BackSpace' to open and delete"
In the navigator with a selection, I would like to
 - press <kbd>Enter</kbd> to open the file
 - press <kbd>cmd</kbd>+<kbd><-</kbd> (OSX) resp. <kbd>delete</kbd> (win/lin) to delete the file

[2017-05-09 13:03] svenefftinge opened #83 "Close commands"
We should have
- [ ] : Close
- [ ] : Close All
- [ ] : Close Others

in the main menu under file (last section) and in a context menu on the tabs.

[2017-05-09 13:06] svenefftinge opened #84 "Selection Menu"
Not entirely sure, but since our main menu is so empty and vscode does it, too:
<img width="258" alt="screen shot 2017-05-09 at 15 05 25" src="https://cloud.githubusercontent.com/assets/372735/25852269/12c7e112-34c9-11e7-9833-5be9387b1515.png">

The command should all be there already.

[2017-05-09 15:10] MarkZ3 opened #85 "Error opening Terminal: URL scheme "file" is not supported."
Using latest master (10b0abbdc2604a4066ae1d414734b66a90360518)
macOS 10.12.4
node v7.8.0, npm 4.5.0 (I also tried to delete node_modules folder under Theia)

When I open a new Terminal in the Electron app I get these errors and I cannot type in it.

terminal-widget.ts:72 Fetch API cannot load file:///terminals?cols=NaN&rows=NaN. URL scheme "file" is not supported.
TerminalWidget.startNewTerminal @

[2017-05-09 15:37] MarkZ3 opened #87 "Enable keyboard shortcut to open DevTools"
If I start the Electron app and close de DevTools, there is no way to open it again. Normally (on Mac) the keyboard shortcut should be CMD+OPT+I but it currently doesn't do anything. Probably this doesn't work because Theia has its own contribution system that overrides this.

[2017-05-09 18:29] hexa00 opened #89 "install:theia linking to /usr/lib/node_modules/theia why?"
Trying to install theia without root I got:

npm ERR! Error: EACCES: permission denied, symlink '/home/xxx/src/Theia' -> '/usr/lib/node_modules/theia'
npm ERR!  { Error: EACCES: permission denied, symlink '/home/xxx/src/Theia' -> '/usr/lib/node_modules/theia'

Why is this necessary ?

It should be documented in the readme if we expect root access to install

[2017-05-09 18:54] hexa00 opened #90 "Not enough fs watches should be handled"
From a fresh git clone

Running the install steps in the readme when I get to:
npm run cold:start:electron

I get a seemingly infinite number of exceptions like these:
[code]

[2017-05-09 19:02] hexa00 opened #91 "Terminal is not starting"
In the electron app:

I get an exception:

Fetch API cannot load file:///terminals?cols=NaN&rows=NaN. URL scheme "file" is not supported.

[2017-05-10 11:25] akosyakov opened #93 "Investigate warnings on `npm install`"
npm WARN deprecated @types/promises-a-plus@0.0.27: Use '--lib es6' to get Promise types.
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support

[2017-05-10 13:26] #91 closed, assigned to svenefftinge

[2017-05-10 13:26] #85 closed, assigned to nobody

[2017-05-10 18:24] MarkZ3 opened #95 "Problems related to LSP/Monaco integration"
I have looked a bit at the LSP/Monaco integration. Here are my observations so far. I tested with the Java and C/C++ servers.

- Semantic Syntax Coloring: This was mentioned before but AFAIK this is not in the protocol. Is this really meant to be added at this moment? Perhaps via a protocol extension connecting to a different server? If so, how can I test?
- Code Completion: I see duplicated entri

[2017-05-11 08:22] akosyakov opened #98 "Allow to modify a text editor's document"
Add following capabilities:
[code]

[2017-05-11 08:24] akosyakov opened #99 "Review `Workspace` and `Languages` APIs"
Right now they are mostly fit to the language client usages, but not to Theia developers, e.g. there is no way to get all registered languages or trigger saving of a document which is agnostic to Monaco.

[2017-05-11 11:26] #89 closed, assigned to nobody

[2017-05-11 16:20] akosyakov opened #103 "Menu items in the menu bar is not rerendered"
I guess they should be rendered each time when a menu opens.

[2017-05-11 18:37] hexa00 opened #104 "Open files from the menu or command"
As a user I would like to be able to open files anywhere in the FS from the command palette or menu.

[2017-05-12 10:00] akosyakov opened #105 "Improve and simplify commands/menus/keybindings contributions"
- [ ] ~~remove 1-n between command and handlers, by simply let put all the functions of CommandHAndler into Command~~
- [ ] ~~remove keybinding context stuff and totally rely on command’s isEnabled()~~
- [x] allow passing args to commands, as varargs
- [ ] use `T | Promise<T>` for `execute`, `isEnabled` and so on - https://github.com/theia-ide/theia/issues/435
- [ ] move `isVisible` to a menu item

[2017-05-12 10:04] akosyakov opened #106 "Order menu items in `Open With` according openers order not a command id"
Depends on: https://github.com/TypeFox/Theia/issues/105. Needs promises in Command's methods.

[2017-05-12 13:24] marcdumais-work opened #107 "[tests] make the UI tests contribute to coverage report"
The pull request to add test coverage reporting (https://github.com/TypeFox/Theia/pull/97) is reporting the coverage of the Mocha unit tests. I wonder if we cold make the Selenium tests also contribute to the coverage report.

[2017-05-12 17:06] #71 closed, assigned to nobody

[2017-05-13 01:58] simark opened #110 "Better connection failure handling"
Currently, if the backend becomes inaccessible, some errors are printed in the JS console.  We will eventually need a more friendly handling of these errors.  We will also need to notify the user that the backend can't be reached and handle reconnection.

[2017-05-13 17:18] akosyakov commented on #12
I've put more thoughts into it and thinking about such design:
- `CommonPreferenceService` is a common preference API, very minimal and abstract over format, that provides basic capabilities, as was discussed in the PR.
- `PreferenceService` is a convenient preference API that implements `CommonPreferenceService` by delegating to its instance and provides an extension to the common API similar to

[2017-05-14 06:59] akosyakov commented on #12
Could we also consider to work with a preference path, not a name, where a path is a set of strings, so `CommonPreferenceService` will look like:

[code]

It should provide a better editing experience, e.g:

[code]

can be restructured to show a hierarchical nature

[code]

There following paths: `editor`, `editor.foo`,  `editor.foo.bar` and `editor.baz`.
If a value of bar is added, changed or rem

[2017-05-14 07:02] akosyakov commented on #12
It also would be nice to have `Path` type net to `URI`, with functions similar to `node`, since it could be useful in contexts outside of `URI`.

For example a path can be used to look up `PreferenceService` like in the following example:
[code]

PS

[2017-05-14 17:42] svenefftinge commented on #12
_re: paths_  it would complicate the overriding logic a bit, also in most cases you don't override multiple properties of one kind (at least if I look at my settings). So I would not benefit from this feature. I would prefer a simple map for the different preference scopes, where the key is a string with the convention to use dot-separated identifiers (i.e. qualified names). So basically how it is

[2017-05-14 17:53] svenefftinge commented on #12
To me a preference is a string-value pair, where the value can be a JSON object, JSON array or a primitive. We have three scopes (default, user, workspace).

- The `default preferences` are initialized on start, by calling all preference initializers. They are not changed afterwards.
- The `user preferences` shadow `default preferences`. They are loaded from a file in the user directory, that is w

[2017-05-14 21:46] epatpol commented on #12
@akosyakov @svenefftinge thanks for the detailed comments! I see you've put quite a bit of thought in this, now I think I get what you meant by "minimal" and "convenient" in the comments.

As for the strings as paths, I'm not sure they're ideal/really needed. I understand it might be more modular but I'm not sure the use cases can justify adding that complexity.

I agree with the different scopes.

[2017-05-15 04:43] akosyakov commented on #12
re: in vs code they use paths, you can actually restructure

[2017-05-15 05:07] akosyakov commented on #12
From programming perspective paths are kind of queries. One can fetch the value of a very deep property with them, without first getting JSONObject and then analyzing it down, so instead of:
[code]
one does:
[code]
but at the same time one can do something like:
[code]
just to check whether there are any editor properties.

But thinking about it again, it should be possible to add it later on the

[2017-05-15 05:20] akosyakov commented on #12
Another question: How editors will get aware about new properties and their possible values?

Should I as an extension developer just register new content assist providers and report diagnostics for editors? It is already possible btw.

Or there should be preference metadata contributors which would be used by the browser part of the preference extension to integrate with editors?

[2017-05-15 07:01] svenefftinge commented on #12
We had some more discussion about this offline.
There doesn't seem to be much value in having the `path`concept instead of using plain strings, so let's go with simply strings.

On initialization of preferences for a preference we should have at least the following information:
[code]
Later we might want to add JSON schema validation information to constrain the values.

We might need to use promi

[2017-05-15 07:45] akosyakov opened #114 "Find a way to keep the dev server config aligned with the express server config"
The express server should be configured explicitly which files are exposed statically, it does not seem to be a case for the dev server. Because of a difference, if the app works with the dev server does not necessary mean that the express server is configured properly.

[2017-05-15 12:04] hexa00 commented on #104
I wish it wasn't a popup, more like an inline file navigation in the command palette but for now a popup would do.

It's just that now you can't open something outside of the navigator and it seems like a basic functionality someone would want.

[2017-05-15 12:29] hexa00 opened #119 "web app not starting possibly due to recent renaming ?"
On a fresh git clone with commit: e4cb110777ffd278abf1a65304b9abfc5c98d605
This looks like it's due to #115 ?

Following the readme steps up to: npm run cold:start:browser

I get this as a resutl:
[code]

[2017-05-15 12:30] kittaakos commented on #119
#118 contains the fix for this issue.

[2017-05-15 12:40] hexa00 commented on #104
Yes , open->File  | open->Directory

In vscode however open directory switches the directory
But in atom open directory opens a new atom with the new directory

I like atom's approach since it allows to open multiple projects easily and still let you close if you want the last one, this also avoid issues like save all files before switching etc...

WDYT ?

[2017-05-15 13:46] hexa00 commented on #104
Just to give an idea of what I'm looking for ultimately, I would very much like something like the file open IDO mode provides in emacs like this gif:
![ido-file-open](https://cloud.githubusercontent.com/assets/698076/26060461/21bee7b8-3953-11e7-827f-55e9e7b6f3d2.gif)

The nice thing about this is that IDO remembers the last opened files so the first candidates are often good.

But first things fi

[2017-05-15 13:53] hexa00 commented on #119
Confirmed fixed

[2017-05-15 13:53] #119 closed

[2017-05-15 14:10] svenefftinge commented on #104
Considering a backend sitting on one workspace folder, I don't think we can spawn multiple frontends on different directories easily

[2017-05-15 14:33] hexa00 commented on #104
Couldn't we start a new instance of the frontend + backend ?

[2017-05-15 19:26] hexa00 commented on #28
Just to document a discussion we had with @svenefftinge we could have a first step where the extensions are specified in a config file and the app is manually recompiled.

This would make the development of extensions possible with the packaging we ultimately want with less of an effort than the full registry solution.

[2017-05-16 07:16] kittaakos commented on #10
PR: #121

[2017-05-16 08:07] svenefftinge opened #122 "menu commands inactive"
The new file and new folder actions are always inactive in the main menu.

[2017-05-16 08:09] svenefftinge commented on #122
duplicate of #103

[2017-05-16 08:09] #122 closed

[2017-05-16 09:27] #10 closed

[2017-05-16 11:15] akosyakov commented on #95
- [ ] duplicate providers: code lens, content assist, because java language is registered twice
- [ ] a selection is not revealed or revealed bogusly for go to declaration/reference
- [ ] quick fixes does not work

[2017-05-16 11:48] akosyakov commented on #95
It's by design behavior.

[2017-05-16 12:37] #103 closed

[2017-05-16 12:44] akosyakov commented on #95
I've filed an issue for bogus hover ranges: https://github.com/Microsoft/vscode/issues/26747

[2017-05-16 13:12] hexa00 opened #125 "npm watch breaks webpack ?"
With the following steps:

git clone https://github.com/theia-ide/theia \\
  && cd theia \\
  && npm install \\
  && npm run build \\
  && cd examples/browser \\
  && npm install \\
  && npm run build

Then
  cd examples/browser
  npm start

Then:
   cd theia
   npm run watch

I get:
[code]

[2017-05-16 13:25] hexa00 opened #126 "electron example not picking up framework changes"
Steps to reproduce

In theia directory run:

npm run watch

In examples/electron run:

npm start

Then change something in the framework , I try the terminial-backend-module.ts to change the terminal to a non existing one...

Ctrl-c the app

npm start

The changes are not picked up (still runs bash)

Doing npm install doesn't help either...

[2017-05-16 13:28] hexa00 commented on #126
My bad editing the wrong file hehe

[2017-05-16 13:30] hexa00 commented on #126
Nope wit h

[2017-05-16 13:35] kittaakos commented on #126
I will take care of this.

[2017-05-16 13:38] kittaakos commented on #125
Could you reproduce it if you start the `npm run watch` first, then you strat the example?

[2017-05-16 13:53] hexa00 commented on #125
No if I do npm watch before it work...

Note that I tested more and:

npm watch before npm start : Works
npm watch after  npm start but no code changes: Works but copies a lot of files
kill npm watch, modify a file , run npm watch then run npm start -> Problem appears

[2017-05-16 14:48] hexa00 commented on #126
The only way I was able to get a change picked up is:

In examples/electron
rm -rf node_modules/theia
npm install

[2017-05-16 14:54] kittaakos commented on #126
That is exactly the expected behavior based on the current state. The `file-dependency-updater` is not yet configured for the Electron-based example, but we could easily add support to it.

[2017-05-16 15:01] hexa00 commented on #126
OK sounds like a good idea

[2017-05-16 15:34] akosyakov commented on #110
Are you referring to `failed: Error in connection establishment: net:ERR_CONNECTION_REFUSED`?
I did not find a way to catch it programmatically. It seems to be just logged to the console from `WebSocket` implementation by the browser.

[2017-05-16 15:36] akosyakov commented on #110
See http://stackoverflow.com/questions/43012334/silence-neterr-connection-refused

[2017-05-16 15:44] hexa00 opened #131 "Fix debugging workflow for theia and examples"
While trying to debug the browser example I get this situation:

Fixing the launch.json to be:
 "program": "${workspaceRoot}/examples/browser/lib/backend/main.js",

And trying to run it, it can't trigger breakpoints inside let's say theia/terminal/node/terminal-backend.ts

This is because the source map is generated with the path of theia inside the examples node_modules directory as such: "source

[2017-05-16 16:08] akosyakov commented on #131
Source maps are correct from the perspective of an extension developer. If you put the breakpoint into `myextension/node_modules/theia/src/terminal/node/terminal-backend-module.ts", it hits.

But true, it is not convenient for us. You can uncomment "sourceRoot" property in `tsconfig.json`, then source maps will use an absolute path on your disk. Please don't commit it uncommented though.

[2017-05-16 16:29] hexa00 commented on #131
Yes I understand, maybe it would make sense to have a script replace these paths.

I don't like to leave uncommited stuff lying around

I'll make a pull request just to change the program's path meanwhile

[2017-05-16 16:32] akosyakov commented on #131
Yes, you are right. We've discussed it and decided to keep it like that till it is only one place. In the long run we should have different tsconfigs and call them depending on the env variables.

[2017-05-16 16:38] hexa00 commented on #131
Not sure I understand the different tsconfigs and env vars ?

[2017-05-16 16:54] akosyakov commented on #131
tsconfig files support inheritance with overloads, so we could define one default `tsconfig.json` and one `dev.tsconfig.json` there we add `sourceRoot` property.

For example, we could have `compile.js` script checking the presence of `buildServer` variable in the env vars and depend on it calls tsc with different tsconfig files, like `tsc -p dev.tsconfig.json`. Locally `buildServer` won't be pres

[2017-05-16 16:59] hexa00 commented on #131
OK thanks for the explanations!

[2017-05-16 17:51] kittaakos commented on #125
So I could add this to the documentation, and mention, that this is the proper way to watch and update changes from the core Theia code in a downstream project. This watcher makes sense only with the file-based npm dependencies anyway.

What do you think @svenefftinge, @akosyakov, @hexa00

[2017-05-16 19:24] hexa00 opened #133 "New Terminal is available in menu before the contribution inits"
It seems if your start the browser example and try to start a terminal quickly the widget will be created but since the service has not started yet you wont see the terminal.

Waiting a bit to see like
[code]

Then the terminal starts...

Maybe the menu should not be there or disabled ?
Or there should be some message to the user that things are still starting...

[2017-05-16 23:23] hexa00 commented on #125
Unfortuantely we can't rely on doing npm watch before since part of the workflow is to stop npm start to to able to reload changes to the backend for example.

So if I C-c npm start and do it again I get back into the situation where I have a watch after a start.

I think we should investigate the source of the issue.

[2017-05-16 23:25] hexa00 commented on #104
We had a talk about this and realised we can't use a native dialog since this won't be tied to the backend FS service.

So I guess having a file open in the command palette would be better as a first step than a popup/dialog ?

[2017-05-17 11:24] hexa00 opened #134 "browser example accepts multiple connections to localhost:8080"
Do npm start on the browser example then try to connect using multiple tabs to localhost:8080

All the connections will work, this should not happen as there should be only one frontend/backend

[2017-05-17 11:50] hexa00 commented on #134
this is supported

[2017-05-17 11:50] #134 closed

[2017-05-17 12:30] kittaakos opened #135 "Fix windows build issues."
PR: #137

[2017-05-17 15:19] svenefftinge commented on #133
Generally, frontend parts that rely on backend services need to deal with them being offline.
I think in this particular case the terminal widget should show some indicator, that it is trying to connect.

[2017-05-17 15:22] svenefftinge commented on #135
We discussed that instead of adding some platform-specific logic to our URI we should make sure that proper URIs are created in the first place and that they are translated back to the filesystem-specific paths within our FileSystemNode implementation.

[2017-05-17 15:23] svenefftinge commented on #133
Related to #110 (the notify user part of it)

[2017-05-17 16:18] simark commented on #125
I also get this error.  Here's what i found.  If I start these two at the same time:

- `tsc --watch` on `theia-core`
- `node ../../config/file-dependency-updater/index.js` on `browser-example`

The first command regenerates all the output files at startup, so the second command outputs a long list of:

[code]

Once it has stabilized I just run "webpack" in the browser example directory to try to

[2017-05-17 16:28] simark commented on #125
It seems to be related to this:

https://github.com/paulmillr/chokidar/issues/365

Perhaps using the `awaitWriteFinish` option would help, like it did for babel.  I still find it strange that we do not get a new change event when the file gets written to.  We would just trigger a copy again, it would be much cleaner.

[2017-05-17 16:50] simark commented on #125
For a particular file, tsc does this;

[code]

So it opens the file in writing mode with the O_TRUNC flag, which truncates the file.  It then writes the content in id.  It couldn't be simpler.  Using inotifywait to understand to see what events are generated at the inotify level, we get this:

[code]

So we do get two MODIFY events there, which makes sense: one for the truncate and one for the wri

[2017-05-17 16:56] simark commented on #125
@hexa00 and @kittaakos, can you take a look and try #138 ?

[2017-05-17 18:22] svenefftinge commented on #104
We have HTML rendered dialogs, though. They show up when creating resp. deleting a file or folder

[2017-05-17 21:20] simark commented on #125
I think we only see one event coming out of chokidar because it's throttling the change events:

https://github.com/paulmillr/chokidar/blob/c716ffd3d01ceab2622c5d916e227afca3231d5a/index.js#L221

I didn't find anything related to this in the doc.  I also found that we could use the `raw` event to get all the events from inotify/fsevents.  But awaitWriteFinish seems good enough.  I'll reduce the de

[2017-05-18 11:22] hexa00 commented on #125
#138 Works like a charm!! Thanks!!

[2017-05-18 11:23] hexa00 commented on #125
Note for reference about hot-reloading

It works for the frontend code but not the backend which kinda makes sense anyway but we should document a workflow for backend and frontend in the doc

[2017-05-18 11:32] hexa00 commented on #133
Yes that sounds like the right way to fix it

[2017-05-18 11:40] hexa00 commented on #104
It's arguable to have a dialog or a command palette powered file open.

I think we may have both but maybe it's faster to start with a command palette powered one like VSCode's without the '>' ?

Or maybe it's just me not being comfortable with the UI code yet, whatever seems easier works for me, as a first step

[2017-05-18 11:44] svenefftinge commented on #104
I think a dialog would be easier, especially because we don't have the command palette, yet.

[2017-05-18 15:31] hexa00 commented on #104
We talked about this again recently and there was consensus that it would be nice to have the native dialogs if you're on electron and your backend is local.

[2017-05-18 15:39] #125 closed

[2017-05-19 12:33] akosyakov commented on #76
Fixed with https://github.com/theia-ide/theia/issues/139

[2017-05-19 12:33] #76 closed

[2017-05-19 13:49] kittaakos opened #142 "[Windows] Change the address of the example application"
It cannot open the example on `0.0.0.0:8080` (in Edge & Chrome). `127.0.0.1:8080` works fine.

I am using VirtualBox (Win10)

[2017-05-19 13:54] svenefftinge commented on #142
ok, please change it then. `0.0.0.0`generally doesn't work on windows at it seems.

[2017-05-19 13:55] kittaakos commented on #142
Thanks! The changes will be merged as part of #135.

[2017-05-19 15:55] hexa00 commented on #90
It's now in the doc

[2017-05-19 15:55] #90 closed

[2017-05-19 19:28] hexa00 opened #144 "Implement a logger for debug logs"
The goal of this issue is to document the implementation of a logger we can use for debug log or other kind of logs (info etc...) And thus replace all console.log calls.

My initial plan is to use [winston](https://github.com/winstonjs/winston)

For the frontend I would make a custom transport to that logs through JSON-RPC to the backend , that way this would only be called when the debug level ac

[2017-05-20 11:46] kittaakos opened #146 "Enable `Signed-off-by` check on github."
This should be part of the PR checks.

[2017-05-20 11:47] kittaakos opened #147 "Enable Windows CI"
Once #135 is resolved, figure out a way how to run CI on Windows.

Depends on #135.

[2017-05-21 05:56] svenefftinge commented on #144
It doesn't seem to run in our frontends https://github.com/winstonjs/winston/issues/287

[2017-05-21 06:03] svenefftinge commented on #144
Bunyan seems to work with webpack https://github.com/trentm/node-bunyan#webpack

[2017-05-21 18:00] akosyakov opened #150 "file-dependency-updater does not work on OS X"
With https://github.com/theia-ide/theia/pull/138 file-dependency-updater on OS X does not manage
 to copy all files or copy some of them with empty content.

[2017-05-21 18:01] akosyakov commented on #150
Since #138 was not an issue on OS X to fix this issue I've rollbacked changes for OS X with https://github.com/theia-ide/theia/pull/149.

[2017-05-22 06:53] akosyakov commented on #150
Fixed with #149

[2017-05-22 07:32] akosyakov commented on #58
`detect-character-encoding` has been removed already

[2017-05-22 07:32] #58 closed

[2017-05-22 07:44] akosyakov opened #151 "Get rid of central handling of language servers"
I want to remove the language server registry with central launching and let each language server decide when it should be activated, with which initial properties, whether it wants to support sprotty or not. It will be a bit more code to write for extenders but give them more control. Actually right now if they don’t like defaults they should write even more code.

[2017-05-22 08:37] kittaakos opened #152 "Review `chokidar` watcher options in the FS implementation"
This is a follow-up of #125 and #150.

If we had problems with `chokidar` during the development, I would expect problems during runtime too. We need to check and verify. Having failing tests on `Linux` first would be awesome. I have mentioned the `Linux` because we had issues (#125) on that OS initially.

[2017-05-22 12:53] kittaakos commented on #142
149c7bd7ce932b7da475c319fa5b9eb202186ac9

[2017-05-22 14:01] kittaakos commented on #135
Closed via #137

[2017-05-22 14:01] #135 closed

[2017-05-22 14:01] kittaakos commented on #142
Closed via #137

[2017-05-22 14:01] #142 closed

[2017-05-22 15:06] akosyakov opened #154 "Generalize EditorManager and EditorRegistry to WidgetManager and WidgetRegistry"
They are turned out to be useful to create openers for other kinds of widgets.

[2017-05-23 08:53] #151 closed

[2017-05-23 11:19] hexa00 commented on #144
Indeed, I'll set it up with Bunyan then, it seems like a nice library too

I like the filtering support etc.. I will have to make Stream over JSON-RPC for this one, should be ok.

[2017-05-23 12:05] svenefftinge commented on #104
Could you explain why?

[2017-05-23 14:43] akosyakov commented on #150
https://www.npmjs.com/package/cpx seems to do what we want with `file-dependency-updater`

[2017-05-24 09:01] akosyakov commented on #150
Seems to work reliably with #155

[2017-05-24 09:01] #150 closed

[2017-05-24 12:49] hexa00 commented on #104
@MarkZ3 do you want to comment this one ?

[2017-05-24 13:13] MarkZ3 commented on #104
I think some users will expect to see the native file chooser dialog as it is both familiar and has deeper integration with the operating-system/desktop-environment. It can be done later though, since there needs to be something in place that supports a remote backend anyway which should work with local too. I also think that the native file chooser dialog will likely be nicer to use (features, ap

[2017-05-24 14:09] akosyakov commented on #28
Some npm packages that can be useful:
- [nodemon](https://github.com/remy/nodemon) is often used for the auto server restarting
- [pm2](https://github.com/Unitech/pm2) seems to be very popular for all auto restarting, clustering, logging, monitoring and so on

[2017-05-25 08:35] JanKoehnlein opened #158 "BaseLanguageClientContribution#onReady is always called with undefined arg"
This is because `BaseLanguageClient#onReady()` returns a `Promise<void>` while the code in `BaseLanguageClientContribution#onWillStart()` assumes a `Promise<ILanguageClient>`

[2017-05-25 09:01] akosyakov commented on #146
+ 1 to it, it is really easy to overlook.

[2017-05-25 09:03] akosyakov commented on #158
Fixed with https://github.com/theia-ide/theia/commit/60cb9ec045f651a5ac35d7c3384000f8984a3eb8

[2017-05-25 09:03] #158 closed

[2017-05-26 13:24] hexa00 opened #161 "@types/electron conflicts with types provided by electron natively"
Electron starting 1.6.9 ships with native types as electron.d.ts that conflict with the @types/electron we had.

This broke the build with errors like:
[code]
We should switch to these native types but doing so yeilds errors at the moment like: ```src/application/electron-browser/menu/menu-plugin.ts(39,44): error TS2694: Namespace 'Electron' has no exported member 'MenuItemOptions'. src/applicatio

[2017-05-26 14:22] hexa00 opened #163 "file-dependency-updater is not working properly"
I get errors like:

[code]
Looks like it's coping half written files.

Also just running the updater with no changes between runs makes a lot of copy etc...

Things needs to be improved there...

[2017-05-26 14:41] akosyakov commented on #163
I've added `cleanSync` on the purpose to be sure that the state at the beginning in sync.

[2017-05-30 14:31] akosyakov opened #164 "the editor widget does not update the global selection when the editor selection is changed"
It happens only on the editor activation right now.

[2017-05-31 06:44] svenefftinge opened #165 "Basic Git Extension"
A git extension shall allow the user to interact with a git repository of the file system. The user should be able to perform the following git commands through a graphical user interface:

- fetch
- pull
- merge
- commit
- push

A dedicated git view will list all changed files in sections depending on whether they are staged or un-staged. Double-clicking a file entry will open a diff editor showi

[2017-05-31 11:06] hexa00 commented on #79
This is still an issue with latest master c956af8a49dc0d4cbdf9e8951b34b362d3d54863

[code]

[2017-05-31 11:14] hexa00 commented on #79
Also how is that passing travis CI ?

Deleting node_modules and the postinstall target in the example works as a workaround

[2017-05-31 13:59] JanKoehnlein opened #168 "[startup] allow to specify relative workspace root"
Currently, `--root-dir` requires an absolute path.
We should allow a path relative to the current working directory to ship examples more comfortably.

[2017-05-31 15:02] hexa00 commented on #165
Some suggestions about this, It would be nice to:

- Support rebasing by editing the rebase file from the editor (like if you would use EDITOR=theia with git CLI
- Support git annotate (blame) by showing the results in the editor

Also is it possible to use theia as an EDITOR ? so that git cli would open theia ?

[2017-05-31 15:04] hexa00 commented on #168
Typo in title ? s/stratup/startup ?

[2017-05-31 17:30] hexa00 commented on #79
In fact this is still not working because:
The backend uses nodejs 7.x with ABI 51
The frontend uses electron with ABI 53

So actually not only should we need to separate the node_modules directory from the browser and electron example but we would need to separate it from backend and frontend in the electron example...

I tried to sync the versions of node and electron's version of node but I can

[2017-05-31 18:49] hexa00 commented on #163
See #156 about this

[2017-05-31 18:51] hexa00 commented on #144
See PR #167

[2017-05-31 19:48] hexa00 commented on #79
In the end this was caused by confusion with the npm commands,

There should not be a start:backend in electron's example since the backend is started from the frontend.

I'll submit a PR to fix that confusion...

Note however that we should decouple that, and use:
https://electron.atom.io/docs/api/environment-variables/#electron_run_as_node
See also #102

[2017-06-01 13:19] hexa00 opened #172 "Fix watch workflow with ldm"
See: #156 and #163

[2017-06-01 13:19] hexa00 commented on #163
Closing that, created new issue for the new issues with ldm see #172

[2017-06-01 13:19] #163 closed

[2017-06-01 13:22] hexa00 commented on #126
Fixed by #170

[2017-06-01 13:22] #126 closed

[2017-06-01 13:24] hexa00 commented on #79
Fixed in #170

[2017-06-01 13:26] hexa00 commented on #59
Is this still true after LDM ? Can we close this ?
@akosyakov ^^

[2017-06-01 13:27] akosyakov commented on #59
It is still valid. We should try to decompose theia-core on separate extensions as @svenefftinge described.

[2017-06-01 13:29] akosyakov commented on #59
It will be nice to structure in such way that we can open core, extensions, and examples in separate instances of VS code. Since there will be a lot of duplicate dependencies in node_modules and VS code will just go bananas watching them.

[2017-06-01 13:29] hexa00 commented on #59
OK I just changed the title to reflect that

[2017-06-01 16:45] hexa00 opened #173 "Manage dependencies versions for reproducible builds etc..."
Using https://greenkeeper.io/  has been suggested to pin dependencies and auto-update them

 https://docs.npmjs.com/cli/shrinkwrap was also mentionned

[2017-06-02 10:14] kittaakos commented on #168
Closed via 1db933155c51a6cf998994dae2239c244de71d49

[2017-06-02 10:14] #168 closed

[2017-06-02 12:29] hexa00 opened #174 "Support a remote backend in the electron app"
At the moment the electron app starts a backend server when its window loads.

This ties the electron app to a local backend.

We would need to implement a way to specify a backend url for the electron app to connect to.

Maybe start with a cmd line option.

[2017-06-06 07:56] akosyakov commented on #172
@hexa00 is it still relevant?

[2017-06-06 08:00] akosyakov commented on #154
Ther should be:
- events widgets changed, closed, opened
- read access methods for widgets (including an active and a current) by a URI, a type or both
- write access methods to add widgets for by a URI, a type or both
- shortcuts for promises on when a widget is closed/opened for by a URI, a type or both

Probably it should be a part of the shell.

[2017-06-06 08:02] akosyakov commented on #152
Let's use [glob-watcher](https://github.com/gulpjs/glob-watcher) that's a wrapper around chokidar that seems to handle chokidar issues, e.g. it works fine for [ldm](https://github.com/theia-ide/theia/blob/master/config/local-dependency-manager/src/package.ts#L259).

[2017-06-06 08:03] akosyakov commented on #152
@epatpol Can you comment issues which you have with fs here? I will add tests for them.

[2017-06-06 09:36] hexa00 commented on #172
Fixed in #175

[2017-06-06 09:36] #172 closed

[2017-06-06 09:51] kittaakos opened #177 "Consolidate development scripts"
A subset of the scripts start with `$` in the `Developing.md` which seems to be alien in the npm world. Get rid of them.

To be a bit more specific, clean up the scripts that were introduced via: https://github.com/theia-ide/theia/commit/5c8834c6c2f053f6c8eba2f2da890dfb0c55c321#diff-4b4665bbdb3a58548d1a99002d045088

[2017-06-06 10:36] akosyakov opened #178 "Set up nightly builds"

[2017-06-06 10:43] akosyakov commented on #178
`gulp` seems just to use a branch for next release: https://github.com/gulpjs/gulp/tree/4.0
One can do `npm install gulpjs/gulp#4.0` to install it.
We could have a job that builds the master branch and if the build is successful then merge it to `theia-ide/theia#1.0` branch.

[2017-06-06 11:15] hexa00 commented on #178
I sounds weird to me that we would like to auto merge master into 1.0...

Usually we would branch out, then cherry-pick bug fixes into the release branch.. ?

I don't see the direct link between master and a version

[2017-06-06 11:16] hexa00 commented on #177
I'm not sure what you mean ?

Like build / watch should become what?

[2017-06-06 11:19] kittaakos commented on #177
I hope [this] clarifies.

[this]: https://github.com/theia-ide/theia/commit/5c8834c6c2f053f6c8eba2f2da890dfb0c55c321#commitcomment-22412625

[2017-06-06 11:36] akosyakov commented on #178
We can use another branch name. We usually use a `SNAPSHOT` suffix for next version with maven, in js world is more common to use `next`, so it could be `next` as a branch name.

Also, I see that typescript project actually publishes nightly builds to npm with `next` tag. We can do the same, it will mean more hassle with version incrementing, but easy to discover for other.

[2017-06-06 11:47] hexa00 commented on #178
Couldn't we just name the nightly build date-shortcommit ? And not create a branch ?

To me a branch is useful if we plan to have a development track on it, but it seems in this case it's just to create a build at a known point ?

And when we release a version then we would create a branch and update it as needed...

[2017-06-06 11:49] hexa00 commented on #177
Haa ok I missread as 'scripts that start with $,, '

I'm fine with that

[2017-06-06 13:17] epatpol commented on #152
@akosyakov if I remember correctly, what I tried first when was I injected the first preference prototype (the one that was not over JSON-RPC yet), I never entered the function [here](https://github.com/theia-ide/theia/pull/140/commits/e8e333d3b7a03c6b45ee5eb0430f24394d059b1d#diff-a01042c6a739bfb371ab07a36dbde8ebR49) when modifying files on the workspace. However creating, deleting or moving files

[2017-06-06 13:22] lmcgupe commented on #152
Using the below test class, when changing a file content, or actually creating a new file, the callback never gets called..

/*
 * Copyright (C) 2017 Ericsson and others.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
 */

imp

[2017-06-06 13:33] lmcgupe commented on #152
The callback being notifyDifferentPrefs in class preference-server.ts.

[2017-06-06 13:49] svenefftinge commented on #174
I would prefer to have a real case here. I don't think a user would want to provide a URL manually.
Maybe connecting to a workspace server (e.g. Eclipse Che) and provide the available workspaces would be nice, but it needs a real context. In theory I do not see any issues with connecting to a remote backend rather than starting one.

[2017-06-06 18:02] hexa00 commented on #174
Well the real case is a user wanting to use the electron app with a remove backend, I thought that was one major use case ?

But yes it should not be an issue, the issue is more about how to present that to the user...

[2017-06-07 16:39] epatpol commented on #152
Upon further testing with having the watcher in the backend, creating/deleting/moving files create events and onFileChanges callbacks are called (and this works everytime). However modifying the content of a file doesn't seem to call the callback.

[2017-06-08 14:40] kittaakos opened #179 "Document npm4 requirement in the dev doc"
Actual: both backend and frontend have errors.
Expected: it works.

[2017-06-08 17:16] hexa00 commented on #179
I just ran:
[code]
And it worked ... could provide more info ? error log etc?

[2017-06-09 07:09] kittaakos commented on #179
See attached [log](https://github.com/theia-ide/theia/files/1063217/GH-179_Theia.log.txt).

[2017-06-09 07:12] kittaakos commented on #179
As I see; `npm i` is being executed five times. Is that correct or I am simply blind?

[2017-06-09 07:19] akosyakov commented on #179
Looks OK:
1. first to download dependencies for theia
2. second for ldm
3. install ldm on the path of the browser example
4. install theia-core as a local dependency for the browser example
5. install non local dependencies for the browser example

[2017-06-09 07:20] akosyakov commented on #179
which npm version do you use? build does not seem to be executed for you after install

[2017-06-09 07:30] kittaakos commented on #179
I have tried with both `v6.10.3` and `v8.0.0`.

[2017-06-09 07:32] kittaakos commented on #179
And I do __not__ have `tsc` in the global node modules. If that helps anything at all.

[2017-06-09 07:33] akosyakov commented on #179
scripts are written to work with npm@4.x.x, npm@5.x.x has breaking changes, maybes also regarding scripts

[2017-06-09 07:34] akosyakov commented on #179
Could you try with npm4?

[2017-06-09 07:36] kittaakos commented on #179
Really? On travis, we have a build with Node6 (and npm3) that passes. So I think it is not true.

[2017-06-09 07:37] akosyakov commented on #179
I've changed travis scripts to use npm4

[2017-06-09 07:37] kittaakos commented on #179
Are you sure? https://travis-ci.org/theia-ide/theia/jobs/241057581#L283

[2017-06-09 07:38] akosyakov commented on #179
yes: https://travis-ci.org/theia-ide/theia/jobs/241057581#L286

[2017-06-09 07:38] kittaakos commented on #179
I see. That makes sense.

[2017-06-09 07:44] kittaakos commented on #179
Why do we have a node6 build then? I just would like to understand its benefit.

[2017-06-09 07:45] akosyakov commented on #179
i don't know, i am talking only about npm versions

[2017-06-09 07:47] akosyakov commented on #179
i think once we discussed it and node 8 is not considered to be stable and it is recommended to use node 6.

[2017-06-09 07:51] kittaakos commented on #179
But node6 comes with npm3, right?

[2017-06-09 07:53] kittaakos commented on #179
Build worked fine with node7 and npm4. I am fine with locking ourselves to node7 and npm4 this point but then please clearly state it in the documentation.

[2017-06-09 08:05] kittaakos commented on #179
One more thing on this thread; as I see node7 does not have a long term maintenance support.
See: https://github.com/nodejs/LTS#lts-schedule1

[2017-06-09 08:09] akosyakov commented on #179
I am not sure why you need node7, my local set up is node v6.10.3 and npm v4.6.1

[2017-06-09 08:10] akosyakov commented on #179
[code]

[2017-06-09 08:41] kittaakos commented on #179
I clearly do not want to install npm4 into the global.

[2017-06-09 10:25] kittaakos commented on #152
See: https://github.com/theia-ide/theia/pull/140#issuecomment-307353564
I hope that helps.

[2017-06-09 10:27] kittaakos commented on #152
In general, you need to attach the file system client from the watcher to the file system. That was one problem. The other one: you need to test that file system in your suites what you have initializes in the `before` phase. I would say, your problem is unrelated to this ticket.

[2017-06-09 11:03] hexa00 commented on #179
Could we close this once it's documented in developing.md ?

[2017-06-09 11:04] hexa00 commented on #179
I'll change the title to reflect that

[2017-06-09 11:04] kittaakos commented on #179
Good point, but I would still consider npm4 as the main problem.

[2017-06-09 11:05] hexa00 commented on #179
You mean we should adapt the scripts or change npm version ?

[2017-06-09 11:13] hexa00 commented on #173
Personally I like the greenkeeper.io approach better...

[2017-06-09 13:04] epatpol commented on #152
@kittaakos Yea I was also thinking that there was something missing in our setup for the file watcher, thanks a lot for investigating!

[2017-06-09 18:27] marcdumais-work opened #180 "Internationalization"
User facing strings shall be able to be translated

Add support for internationalization in Theia, and translate strings used in the UI in at least one other language as an example.

Two potential candidate libraries to help with this:

https://github.com/globalizejs/globalize
https://github.com/messageformat/Jed

[2017-06-09 18:29] marcdumais-work opened #181 "key"
User facing strings shall be able to be translated

Add support for internationalization in Theia, and translate strings used in the UI in at least one other language as an example.

Two potential candidate libraries to help with this:

https://github.com/globalizejs/globalize
https://github.com/messageformat/Jed

[2017-06-09 18:30] #181 closed

[2017-06-09 18:35] marcdumais-work opened #182 "User-Configured Key Bindings"
- As an IDE user I want Theia to provide sane defaults bindings for the usual IDE commands, a way to remap them persistently and have the option to reset them to the default values.
- As an extension developer I want a mechanism that enables my extensions to contribute key bindings.

[2017-06-09 18:36] hexa00 commented on #144
Closed in #167

[2017-06-09 18:36] #144 closed

[2017-06-09 18:37] marcdumais-work opened #183 "Build component"
As an IDE user:
- I want to be able to build the source code of my project (for whatever supported programming language), and obtain an executable file or package, that can later be run in a proper runtime environment.
- I want to be able to build multiple “targets”, build the last target with a keyboard shortcut (or possibly be able to define a keyboard shortcut for each target)
- I want to be no

[2017-06-09 18:39] marcdumais-work opened #184 "Launch/Run/Debug configurations"
As an IDE user
- I want to be able to launch the program that I am developing, with a certain launch configuration, that determines what the launch does
- I want to be able to create multiple launch configurations
- I want the launch errors  to be shown in the Problems View

As an extension developer
- I want to be able to create a run contribution, so that I can extend Theia to support other runt

[2017-06-09 18:39] marcdumais-work opened #185 "messages / user notifications"
Messages are user notifications that can be triggered by Theia or its extensions.
The way they are showed to the user is configurable such that:
- A overlaying pop-up, that can display any HTML is shown with the following options :
  - A button to dismiss the information,
  - An optional button for executing some action shall be provided.

- A messages are sent to a message view. This would be a b

[2017-06-09 18:43] marcdumais-work opened #186 "Documentation system"
How the documentation is created and it’s lifecycle managed.
- Framework is documented with:
 - API automatic documentation

 - Examples for extension writers (examples should be directly in code in the form of tests so that they don’t get outdated)
 - Overview of architecture
 -  Contribution guide
- IDE  is documented with:
  - Installation guide (as a user)
  - Getting started guide (as a user)

[2017-06-12 07:51] UdoW opened #188 "Problems building Theia under Windows 10"
I tried to build Theia under Window 10 with following setup:

- Node 8.0.0
- npm 4.5.0
- tsc 2.3.2
- GIT Bash : 2.10.0.windows.1

I pulled the newest version of Theia some minutes ago (2017-06-12).

I followed the steps in doc/Developing.md:

Everything worked fine until trying the examples:

First I tried example Browser:
Step npm run bootstrap worked fine.
Step npm start ended in missing depende

[2017-06-12 08:02] kittaakos commented on #188
@UdoW,  first off, thanks for trying it out!

Currently, one [needs npm4] to be able to install and run the examples. I can see that you are using npm4 and node8. Please correct me if I am wrong, but node8 goes with npm5 by default, right? Are you sure you have npm4? Could you please try to run it with node7 and npm4? I can confirm, that combination worked fine.

Meanwhile, I try it out on a Win10

[2017-06-12 08:13] UdoW commented on #188
How can I restrict it to Node7?

[2017-06-12 08:19] kittaakos commented on #188
I am just trying to reproduce your problem on Win10. I'll update this thread soon. Bear with me.

[2017-06-12 08:31] kittaakos commented on #188
@UdoW, I can confirm, it fails for me on Win10 virtual box too. I have a completely different issue. I used Node 7.9.0 and npm 4.2.0.

Could you please share your entire command line output with us as a `txt` file? If so, just attach it to this thread. Thanks in advance for your cooperation!

[2017-06-12 08:57] UdoW commented on #188
Logging file from ´npm run cold:start´ in folder examples/electron

[2017-06-12T08_52_44_788Z-debug.txt](https://github.com/theia-ide/theia/files/1067562/2017-06-12T08_52_44_788Z-debug.txt)

[2017-06-12 09:04] UdoW commented on #188
I just upgraded to npm 5.0.3. Same error message.

[2017-06-12 09:07] kittaakos commented on #188
By attaching the entire log; I meant something like [this](https://github.com/theia-ide/theia/files/1067597/gh_188_theia_install_win10_virtual_box.txt).

[2017-06-12 09:08] UdoW commented on #188
Then I downgraded to npm 4.2.0. Now everything crashes, I mean also the npm command crashes in itself.... :(

I first have to fix my installation. Then I'll send you the full log file.

[2017-06-12 09:17] kittaakos commented on #188
Cool, thanks! We definitely have issues on Windows, no questions at all.
It seems, `concurrently` is not installed with the local dependency manager on Windows.
CCing @akosyakov

[2017-06-12 09:38] UdoW commented on #188
Running browser example.

[example_browser_console_log.txt](https://github.com/theia-ide/theia/files/1067663/example_browser_console_log.txt)

Then trying to run "npm run cold:start"

[example_browser_cold_start_console_log.txt](https://github.com/theia-ide/theia/files/1067682/example_browser_cold_start_console_log.txt)

[2017-06-12 09:49] kittaakos commented on #188
I have managed to run it on Win10 but our steps are clearly broken for Windows. I will write down the steps in short. As I see you had the same problem as I did.

[2017-06-12 11:32] kittaakos commented on #188
- Make sure you have node v7.x.x with npm 4.x.x on you machine. Download node v7.9.0 for Windows from [here](https://nodejs.org/dist/v7.9.0/node-v7.9.0-x64.msi).
 - Verify the versions: `node -v && npm -v`. If you see for instance `v7.9.0 4.2.0`, then you are fine.
 - Also, make sure you have the required C++ compiler and Python 2.7 for building the native node modules. Run `npm install --global w

[2017-06-12 12:24] kittaakos opened #189 "Theia backend does not run without at least one explicit LS contribution"
[code]

[2017-06-12 13:15] UdoW commented on #188
I install the versions you gave me.

I had to install the modules undertaker and typescript.

Now the build "npm install" in the examples/browser folder hangs. It does not find "ldm".
I installed it with "npm -g install ldm" but it still cannot be found.

[2017-06-12 13:19] kittaakos commented on #188
Why was it necessary?

Instead of installing `ldm` to the global, could you just execute the steps from above? It worked for me.

[2017-06-12 13:22] UdoW commented on #188
Hmm, for me the steps did not work.  The 3rd "npm install" did not finish successfully.

[2017-06-12 13:23] UdoW commented on #188
tsc is still missing.

[2017-06-12 13:27] kittaakos commented on #188
Does it hang or does it complain about `tsc`? What exactly the problem in the third `npm i` step? By the way, that additional step fixed the problem for me.

Do you have `tsc` in the global? It is not required and could be the cause of the problem. (But I am still just guessing...)

[2017-06-12 13:36] UdoW commented on #188
Hmm, I installed node 8.1.0 again and tried again and I still have the same log output:

Der Befehl "ldm" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! browser-example@0.0.1-alpha.1 build:localdeps: `ldm run build && ldm sync`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the browser-example@0.0.1-alpha.1 build:localdeps

[2017-06-12 14:00] UdoW commented on #188
I will try it tomorrow again.

[2017-06-12 14:26] MarkZ3 opened #190 "Cannot type C, X or V"
Running Electron example on Linux. If I type C in the editor, it doesn't to anything. It actually does "copy" as if Ctrl was pressed. Similarly, X does cut and V does paste.

[2017-06-12 14:51] MarkZ3 commented on #190
Note: This bug is not present when running on macOS, it is only seen so far on Linux.

[2017-06-12 17:21] kittaakos opened #191 "The hover is broken in Safari - The popup is empty"
The popup is empty when hovering over a symbol, a method, etc.
Works fine in Chrome and in FF.

[2017-06-13 08:34] kittaakos opened #193 "Investigate `ldm install -dev` on Windows"
It seems that the `devDependencies` are not installed into the downstream projects correctly on Windows.

See #188
One needs to start the investigation [here](https://github.com/theia-ide/theia/blob/master/config/local-dependency-manager/src/package.ts#L209).

[2017-06-13 08:38] kittaakos opened #194 "Verify the vs `alias` in the webpack configuration."
Currently, the alias resolves into a non-existing location. Do we need it at all?
The `alias` configuration can be found [here](https://github.com/theia-ide/theia/blob/master/config/webpack/webpack.config.js#L38).

[2017-06-13 08:41] kittaakos opened #195 "Clean up webpack configuration for the examples"
Clean up proxy configurations [here](https://github.com/theia-ide/theia/blob/master/examples/browser/webpack.config.js#L7).
And move the `empty` [webpack file](https://github.com/theia-ide/theia/blob/master/examples/browser/webpack.config.js#L40) next to the other configurations.

[2017-06-13 08:45] kittaakos opened #196 "As a Theia extension developer I would like to avoid copy-pasting the boilerplate core modules setup code"
In the examples, one needs to load all the code modules (such as file system, messaging, logging, etc...) each time with the actual Theia extension.

It would be great if Theia would be shipped with a base class or a function that does that boilerplate part. So one can concentrate only the extension.

[2017-06-13 09:20] kittaakos commented on #177
Please review @hexa00. PR: https://github.com/theia-ide/theia/pull/197. Thanks!

[2017-06-13 09:30] kittaakos commented on #193
I have added error logging to the place mentioned above, nothing happened. But still, dev dependencies are missing from the example's `node_modules` folder. For instance; `concurrently`.

[2017-06-13 10:35] UdoW commented on #188
I tried it again with node 7.9.0 and npm 4.2.0 from your installer:

I still get the same error as when I use version 8.1.0 and 5.0.3.

Which shell did you use? I tried it in MINGW64 and Cygwin64 Terminal. In MINGW64it hangs at some point and in Cygwin64 it gives the same error as with version 8.1.0/5.0.3.

[2017-06-13 11:04] akosyakov commented on #193
What if you do `npm install` after?

[2017-06-13 11:15] kittaakos commented on #193
That works. See here: https://github.com/theia-ide/theia/issues/188#issuecomment-307763803
By the way, I think I have managed to figure out the problem. I am just running the verification builds.

[2017-06-13 11:41] kittaakos commented on #193
Although I still have the feeling we unnecessarily run either build or install steps multiple times, the Windows-based example build works fine with my changes. See attached full [log](https://github.com/theia-ide/theia/files/1071234/gh_193_theia_example_full_console_output.txt) for more details.

[2017-06-13 11:43] kittaakos commented on #193
PR: #198

[2017-06-13 11:49] akosyakov opened #199 "Handle readonly files"
- [ ] `FileStat` should have access flags. There should be utility methods to check flags on read, write and execute access
- [ ] `FileTreeModel` should mark file stat nodes without read access as invisible
- [ ] `Resource` should have an explicit optional `isReadonly` property with default based on the presence of `Resource.save` method. There should be a utility function to check it.
- [ ] `File

[2017-06-13 11:52] akosyakov opened #200 "Display drives in `FileDialog`"
in the case with one drive, the drives section could be omitted

[2017-06-13 11:55] #177 closed

[2017-06-13 11:57] hexa00 commented on #147
I found this: https://www.appveyor.com/

It is used by electron see: https://github.com/electron/electron/pull/565

[2017-06-13 12:02] kittaakos opened #201 "Check why example build takes so long"
This task should also take care of the Travis-CI integration. One single build takes ~20 minutes.

[2017-06-13 12:06] hexa00 opened #202 "Enable macOS CI"
See https://docs.travis-ci.com/user/multi-os/

[2017-06-13 12:09] #193 closed

[2017-06-13 12:09] hexa00 commented on #200
What is a driver in that context ? Like using custom web vs native ?

[2017-06-13 12:12] hexa00 commented on #199
I disagree that some files should be invisible you have the right to see them... but an error should be thrown when you try to open ?

[2017-06-13 12:15] kittaakos commented on #188
Upfront, I have to verify I am not a Windows power user. I used the GitBash integrated into the `cmd.exe`. Besides it, I have installed exactly the same node installer I have referenced somewhere above; so I have node `7.9.0` and npm `4.2.0` on my path. And I run the [TL;DR](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#tldr) script.

[2017-06-13 12:15] akosyakov commented on #200
'C:', 'D:' on Windows, on Mac when you insert a USB stick you can see new devices

[2017-06-13 12:16] kittaakos commented on #188
By the way, we have identified and fixed an issue with `ldm`. See details here: #193.

[2017-06-13 12:17] akosyakov commented on #199
I meant if the user doesn't have rights to see them he should not see them.

[2017-06-13 12:24] hexa00 commented on #199
Then it's the directory that does not have read access and thus you won't be able to get to the file at all...

Otherwise I can see a no permission file with ls without any problems:
----------  1 x x        0 Jun 13 08:22 testfi

[2017-06-13 12:26] hexa00 commented on #200
Haaa OK :) typo there I guess

[2017-06-13 12:30] kittaakos commented on #61
#191

[2017-06-13 12:32] kittaakos commented on #202
I doubt that we need it in the near future. Almost all of us uses OS X on daily basis.

[2017-06-13 12:36] kittaakos opened #203 "Open the new file in editor"
Open the file after its creation in an editor.

[2017-06-13 12:44] hexa00 commented on #202
Well I don't , I'd rather have CI tell me that it breaks and one of you guys at some later point...
It's useful to easily identify where the issue was introduced too
It seems easy enough to do also...

[2017-06-13 12:49] hexa00 commented on #203
I'm sorry I just don't understand what that means ? :)

Could you please elaborate ?

[2017-06-13 12:49] kittaakos commented on #203
When creating a new file, the file should be opened in the editor.

[2017-06-13 12:51] hexa00 commented on #203
OK so when creating a file using theia the file should show up in the editor ?

Does theia have a new file command already?

[2017-06-13 12:55] kittaakos commented on #203
One can create a new file from the navigator via the context menu option.

[2017-06-13 12:56] hexa00 commented on #203
OK thx for the clarifications

[2017-06-13 14:09] UdoW commented on #188
I am still stuck on the "npm install" of the browser examples: It cannot find ldm.

How do I have to install ldm so it can be found on my machine?

[2017-06-13 14:13] kittaakos commented on #188
I think you do not need to explicitly install it. At least I've never done that before and it still works for me both on Windows and OS X. @akosyakov, could you please give advice?

[2017-06-13 14:15] akosyakov commented on #188
@UdoW Have you run `npm run bootstrap` from the browser example?

If you want `ldm` globally:
- go to `config/local-dependency-manager`
- `npm install` to install ldm dependencies
- `npm install -g .` to install ldm globally

[2017-06-13 14:17] kittaakos commented on #188
But it is not necessary to have `ldm` globally, right? It should work without it too. At least that was my experience so far.

[2017-06-13 14:19] akosyakov commented on #188
right, if you do `npm run bootstrap`

[2017-06-13 14:24] kittaakos commented on #188
@UdoW, please do the followings:  perform a `git pull` so you have the latest changes (with the fix for #193). Then execute the tldr script. If it still fails for you, please share with the full log from the terminal. Also, please do a `node -v && npm -v` before you execute the script, so we can have all the information.

[2017-06-13 14:25] kittaakos commented on #188
Another thing came to my mind; we had problems with `ldm` on Windows. So make sure you uninstall it from the global. You can re-install it later if you need that.

[2017-06-13 14:43] kittaakos commented on #188
Excellent. We need to verify whether it works with the given steps or not.

For the rest with the terminal; please open a separete issue and I look into that.

[2017-06-14 07:25] JanKoehnlein opened #205 "Cannot set the selection in the monaco editor programmatically"
In the theia-sprotty example we use the following code to open an element in the the monaco editor

[code]

While cursor is set and the range revealed properly, the selection is not applied.
Is that  the wrong way of setting the selection, or is it a bug?

[2017-06-14 11:32] hexa00 opened #207 "Rename Emitter Event() to Subscribe and Event<T> to Listener<T>"
When trying to understand how the events worked in Theia I was very confused about the wording used in the Emitter class.

Namely:
[code]

What this property actually does is registering listeners on the emitter.

It's confusing that it is called event and is a property since it leads to beleive that this is an actual Event Object ( what you were to pass as fire(event) )...

In fact this function

[2017-06-14 12:06] kittaakos commented on #188
@UdoW, did you manage to reproduce your build problem or it is already solved with #193? Thanks!

[2017-06-14 12:23] svenefftinge commented on #207
I agree that the current names are missleading

[2017-06-14 17:35] hexa00 commented on #207
OK I'll refactor this soon

[2017-06-14 17:59] akosyakov commented on #207
It should be something like `EventSource` and `source` then.

[2017-06-14 18:23] akosyakov commented on #207
It was taken from vscode: https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-nameeventaspan-classcodeitem-id421eventlttgtspan. Also it used with vscode-jsonrpc, so we won't be able to get rid of it in implementations of language server contributions.

[2017-06-14 18:30] hexa00 commented on #207
I see, I did not know that, maybe it's better left as is then

[2017-06-14 18:33] hexa00 commented on #207
Let's leave it, the way the vscode doc explains it kinda make sense and I don't want to have 2 implementations of it, closing this.

[2017-06-14 18:33] #207 closed

[2017-06-15 06:33] svenefftinge opened #209 "[editors] Support Manual Save"
Currently, the editor always saves automatically. This should be an optional feature. In addition, an explicit save command should be provided to save changed editors. We need to implement
- [x] a save command, that takes the current editor contents and sends it to the backend for saving it to the FileSystem service
- [x] a keybinding in the context of an active editor to trigger that command
- [x

[2017-06-15 06:34] svenefftinge opened #210 "Additional Keybindings and Menu Items"
We should register keybindings and menu items for
- [ ] undo/redo
Will be tested by opening an editor, applying a change, then undo the change and verify the document’s state. Afterwards ‘redo’ shall reapply the change.
- [ ] find/replace (in editor)
Will be tested by searching a text phrase in a document.
- [ ] copy/paste (menu only in electron)
The copy and paste menu actions, will be added to t

[2017-06-15 06:36] svenefftinge opened #211 "[Editor] Preferences"
Based on the preferences registry (#12), we should allow users to configure whether they want to
- [x] see line numbers
If this is turned on (defaults to on), the rule on the left of an opened text editor will show line numbers. If it is turned off, no line numbers will be shown.
- [x] have word wrap activated
If this is turned on (defaults to off), any text that exceeds the horizontal width of an

[2017-06-15 06:41] svenefftinge opened #212 "Quick Access Widget"
We need a widget that allows users to quickly search for things like commands, files, symbols, etc.
It should be a pop-up, with a text field and a list of results below. The top element should be selected and chosen on enter, but cursor keys should allow to change it.

Also, the default search strategy should allow fuzzy search. Something like http://fusejs.io/ seems appropriate.

[2017-06-15 06:43] svenefftinge opened #213 "Command Palette"
Based on #212 a command palette shall be opened. The user shall be able to search through any of the registered and at that time enabled commands and execute one of them.

<img width="863" alt="screen shot 2017-06-15 at 08 43 12" src="https://user-images.githubusercontent.com/372735/27168607-b5c105ac-51a6-11e7-9964-f5da6b3d6e09.png">

For instance, to execute the ‘Open File’ command, the user can

[2017-06-15 06:45] svenefftinge opened #214 "Open File Dialog"
When the user presses <kbd>CMD</kbd>/<kbd>CTRL</kbd>+<kbd>P</kbd> a select list should be shown, allowing the user to open a file from the currently opened workspace. The actual search shall be executed asynchronously on the backend.

[2017-06-15 06:47] svenefftinge opened #215 "Open Workspace Symbol"
A new command that is bound to a certain keybinding and menu entry will show a list of all global symbols in the widget from #212. Selecting an entry will open the editor and reveal the position of the symbol declaration.

[2017-06-15 06:48] svenefftinge opened #216 "Open Local Symbol"
Based on #212 the symbols of the currently opened editor should be searchable.
Selecting an entry will select and reveal the position in the editor.

[2017-06-15 06:49] svenefftinge opened #217 "Go To Line"
The go to line command shall use the widget from #212.

[2017-06-15 06:50] svenefftinge opened #218 "Status Bar"
The application shell shall show a status bar at the bottom, that presents different information about the current context. There will be two sections, left aligned and right aligned. A section consists of status bar items, which have
- a label (should allow inlining icons),
- a tooltip and
- an optional command (and optional arguments) to execute when clicked.

A service will allow extensions to

[2017-06-15 06:53] svenefftinge opened #219 "Marker Service"
A marker contains meta data associated to a file by URI. A marker will be removed when the file under the URI gets deleted.

Any marker contributing clients are responsible for disposing the markers again.

[2017-06-15 06:53] svenefftinge commented on #26
It shall be based on #219

[2017-06-15 06:54] svenefftinge opened #220 "Connect Language Server Protocol and Monaco Editor to Marker Service"
The LSP sends diagnostics to the client. We will turn them into markers, and make sure that the editors use marker information to display errors and warnings in the editor. Depends on #219.

[2017-06-15 06:58] svenefftinge opened #221 "Generic Marker Widget"
A generic widget shall be provided for extension authors to build widgets that display markers of a certain kind. A context menu shall allow to register actions on selected items.
This list view shall form the foundation for the Problems View (#26)  and the Bookmarks View(#222).

[2017-06-15 06:58] svenefftinge opened #222 "Bookmarks"
Based on markers (#219) we want to support bookmarks.

Editors shall have command triggered from the context menu, that allows to create a bookmark marker for the current selection. On creation a pop up will ask the user to provide a description for the bookmark.

All bookmark markers shall be displayed in a Bookmarks View (based on #221). It shows the message, the file and the location. Double-cl

[2017-06-15 10:59] hexa00 opened #224 "Make the debug logger more configurable"
We can do this by injecting an optional dependency with the logger config

[2017-06-15 12:00] kittaakos commented on #190
Closed via #223

[2017-06-15 12:00] #190 closed

[2017-06-15 13:54] MarkZ3 commented on #190
Thanks a lot!

[2017-06-15 14:36] kittaakos opened #225 "Investigate possible automated dependency management approaches for npm"
Such as [`npm shrinkwrap `](https://www.npmjs.com/package/npm-shrinkwrap) and/or [Greenkeeper](https://greenkeeper.io).

This task is just a placeholder, and it does not mean that we have to pick any of solutions mentioned above. Other ideas are welcome too.

[2017-06-15 14:40] hexa00 commented on #225
This is a duplicate of #173
Closing

Note @lmcgupe is taking care of this

[2017-06-15 14:40] #225 closed

[2017-06-16 08:56] akosyakov commented on #203
Will be fixed by https://github.com/theia-ide/theia/pull/166

[2017-06-16 09:16] akosyakov opened #227 "[navigator] add a toggle to sync the editor and navigator selections"

[2017-06-16 09:20] akosyakov commented on #227
For the beginning, we could always reveal a file selected in the editor in the navigator as it is done in VS code. But personally, it is annoying me a lot. I like how it is done in Intellij more: the toggle is hidden under the navigator settings menu and the navigator tool panel has a button to select the source.

[2017-06-16 09:36] akosyakov opened #228 "[dialogs] style dialogs"
Right now dialogs look clumsy, especially the title panel and in the error mode. Look at Intellij dialogs as a role model.

[2017-06-16 09:36] akosyakov commented on #228
Wait till https://github.com/theia-ide/theia/pull/166 is merged since dialogs got refactored there.

[2017-06-16 09:38] akosyakov opened #229 "[console] add commands with keybindings"
Add commands like `clean` (Ctrl + K), `copy all` (Ctrl + A) and so on, look at other tools.

[2017-06-16 09:40] akosyakov opened #230 "[editor] Renaming a file should rename a corresponding editor"
Consider also what to do with an underlying file resource and monaco model.

[2017-06-16 10:07] hexa00 commented on #229
Let's avoid rebinding readline's keybinding in a console however I use those all the time.

C-k is kill line
C-a is move the the start of the line

See a complete list here (output of `bind -p | grep -F "\C"` in bash)
[code]

[2017-06-16 11:31] kittaakos opened #231 "Fix build failure due to typing changes in `express-serve-static-core`"
Details are [here](https://gitter.im/DefinitelyTyped/DefinitelyTyped?at=594392546462d8493c19f7fd) and [here](https://github.com/DefinitelyTyped/DefinitelyTyped/commit/755c104c947a476af0fd68569c52c43ccb2ce1a5#diff-96f51971a2afccdbcefeaff5150f609c).

[2017-06-16 11:56] kittaakos commented on #231
Fixed via #232

[2017-06-16 11:56] #231 closed

[2017-06-16 12:07] akosyakov opened #233 "Get rid of hardcoded 3000 port"
It is impossible to start apps on different ports right now.

[2017-06-16 12:24] hexa00 commented on #173
#234 takes care of the shrinkwarp

[2017-06-16 12:37] hexa00 commented on #173
See also #231 One this is fixed the shrinkwrap should be updated

[2017-06-19 12:56] snorthov opened #236 "Theia doesn't build and run on Mac (theia-core not build/installed?)"
I'm doing this:

git clone https://github.com/theia-ide/theia \
&& cd theia \
&& npm install \
&& cd config/local-dependency-manager \
&& npm install \
&& cd ../../examples/browser \
&& npm run bootstrap \
&& npm run start

I get this:

... stuff deleted ...
[webpack-server]    [84] (webpack)/hot/log-apply-result.js 1.02 kB {0} [built]
[webpack-server]    [85] ./src/frontend/main.ts 255 bytes {0}

[2017-06-19 13:04] marcdumais-work commented on #236
Hi!
Which version of nodeJS are you using? Seems that version 7.x works best, following recent changes in Theia (6.x used to work for me until recently).

[2017-06-19 13:05] snorthov commented on #236
steves-mbp-2:git snorthov$ node --version
v6.10.1

[2017-06-19 13:07] marcdumais-work commented on #236
I just confirmed it works for me, on v7.10.0. Can you give that a try?

[2017-06-19 13:23] snorthov commented on #236
I will.  FYI: Node 8 doesn't work.

[2017-06-19 13:26] snorthov commented on #236
Works in 7.10

[2017-06-19 13:26] #236 closed

[2017-06-19 15:54] Nebiroth commented on #233
I can generate any port number that doesn't require root privilege every time the app is launched, but does that port number have to be passed to endpoint.ts to be able to stay connected with the backend?

[2017-06-19 18:41] hexa00 commented on #233
From endpoint.ts:
[code]
So yes... I guess it also needs to be handled  by examples/browser/webpack.config.js  or it's prod equivalent...

[2017-06-19 19:07] lmcbout commented on #180
After investigation, It looks like the version that we  will implement is Globalize. It seems easier and a complete solution to internationalize the string in Theia. It has also some code to handle the date and number format. This solution seems a better fit.

[2017-06-20 09:07] kittaakos opened #237 "Extend the troubleshooting section for Windows"

[2017-06-20 09:10] kittaakos commented on #237
PR: #238

[2017-06-20 16:51] MarkZ3 opened #239 "Many ENOSPC errors in large workspace"
I have a large workspace with the LLVM codebase and I get tons of this kind of exception:

[code]

A few things that might have something to do with this bug:
- The llvm folder I have checked out (including built files) has 109937 files.
- The path /home/emalape/git/theia/examples/electron/llvm is actually a symlink to /home/emalape/git/llvm

I also checked that I have space left on the drive and

[2017-06-20 17:32] MarkZ3 opened #240 "[navigator] Expanding an item without selecting it scrolls up to the highligthed/selected item"
I have a fairly large tree in the navigator. If I select the first item and I expand an item without selecting it further down, it scrolls up to the highlighted/selected item.

1. Item near the top is selected
![step1](https://user-images.githubusercontent.com/311730/27345498-e786b46e-55b7-11e7-9827-faba516ecb0d.png)
2. I scrolled down to an item lower in the tree
![step2](https://user-images.gith

[2017-06-21 05:28] akosyakov commented on #233
`location.host` takes care about the browser, but in electron there is no location API

[2017-06-21 13:39] hexa00 commented on #239
I have this problem the moment I launch theia see Troubleshooting Linux in https://github.com/theia-ide/theia/blob/master/doc/Developing.md

Maybe theia could detect it and propose to increase the inotify max ?

[2017-06-21 13:40] hexa00 commented on #239
See #90 as realated too

[2017-06-21 13:49] MarkZ3 commented on #239
How come other tools like VSCode don't have this problem though? Is it really necessary to watch all the files? I would think it's only necessary to watch the folders and also just the files that are open in editors. But I know nothing about inotify so that could be wrong :) I'd like to see if there's a way to have it work without changing the max, at least for most situations.

[2017-06-21 14:14] hexa00 commented on #239
Yes I'm wondering about that too.. ( why VSCode is working fine)

I think like you said we should watch less that's a better solution

[2017-06-22 09:08] akosyakov commented on #239
VS code has the same issue and to avoid it they:
- allow a user to provide exclude patterns via settings, see `files.watcherExclude` setting
- run a watcher in the separate process and restart it if it fails

[2017-06-22 10:52] #237 closed

[2017-06-22 10:53] kittaakos commented on #188
I close this issue. If one still has problem installing, building or running Theia, please reopen.

[2017-06-22 10:53] #188 closed

[2017-06-22 10:54] hexa00 commented on #239
@akosyakov I understand the exclude pattern but not the watcher in a separate process, if you get ENOSPC errors restarting won't help ? Unless you restart without what it was watching?

[2017-06-24 08:50] akosyakov commented on #239
@MarkZ3 are you on Linux?

[2017-06-24 08:55] akosyakov commented on #239
@hexa00 you are right, the separate process won't help with this issue

I guess they watch in the separate because it harms the performance of the main process, as well as another way around.

[2017-06-26 07:14] kittaakos commented on #229
On OS X these are with the Control instead of Cmd, and I also use them all the time. Probably we need to check what is done by VSCode and we might need platform specific bindings. Also, we have to make sure if any of the bindings conflict with a browser default.

[2017-06-26 08:23] #203 closed

[2017-06-26 08:39] akosyakov opened #246 "Split JsonRpcProxyFactory"
Right now `JsonRpcProxyFactory` has 2 responsibilities:
- send requests/notifications through a proxy object
- handle received requests/notifications with a target object

It leads to complication of the usage-side since to get a proxy one should provide a target, but very often a target relies on a proxy, so one has to introduce a third concept to decouple them.

It would be nice to decouple on `

[2017-06-26 08:40] akosyakov opened #247 "If `--root-dir` is relative files watching does not work"

[2017-06-26 08:41] akosyakov opened #248 "Consider to use imports relative to `src` instead of the current dir"
See an answer here: https://stackoverflow.com/questions/42123382/import-module-from-root-path-in-typescript

[2017-06-26 08:47] akosyakov opened #249 "Clarify usages of `Logger.child`"
Currently, it is not clear when and how to use `Logger.child`. On the server-side, it is backed up by bunyan expecting node js streams as options, because of it on the client-side it is useless.

Maybe we just should remove it from the logging protocol and configure bunyan on the server-side to use different loggers depending on parameters for example.

[2017-06-26 09:28] akosyakov opened #250 "Remove a cycle between application and messaging extensions"
- the application extension provides and uses `Logger`
- `Logger` needs the messaging extension for JSON-RPC bindings
- the messaging extension uses `Event` and `Disposable` from the application extension

One option would be to move the messaging extension under the application extension.

[2017-06-26 09:34] akosyakov opened #251 "Make sure that examples work without the internet connection"
- [ ] remove remote links from index.html
- [ ] provide removed things via npm packages

[2017-06-26 11:12] hexa00 commented on #249
It is meant to be used as this bunyan signature
[code]

and not :
[code]

See the use here: https://github.com/trentm/node-bunyan#logchild

So there should be no node js streams there, it is useful in the client-side to add a name to the logger and to set a custom log level for it.

[2017-06-26 11:23] hexa00 commented on #246
I get the 2 responsibilities but I'm not sure I understand what you mean by " but very often a target relies on a proxy, so one has to introduce a third concept to decouple them."  ??

Do you mean that often a target relies on a proxy being there to be able to notify ?

But it seems like a good idea, it was a bit confusing to use the JsonRpcProxyFactory at first

[2017-06-26 11:26] akosyakov commented on #246
If `Logger` implements `ILoggerClient` interface then there is a cycle because `Logger` needs `ILoggerServer` proxy, but to create a proxy one needs an instance of `Logger`, to overcome it we have `LoggerWatcher`.

[2017-06-26 11:26] hexa00 commented on #229
Maybe @akosyakov wanted to say Cmd instead of Ctrl in his description then ? If so that's fine with me...

But yes I guess we would need to create a map of those default bindings in the wiki or something or reference to them

[2017-06-26 11:27] akosyakov commented on #246
I suggest that we don't need a target to create a proxy, then there is no need for `LoggerWatcher`, `PreferenceWatcher`, `WorkspaceWatcher` and so on.

[2017-06-26 11:35] akosyakov commented on #249
Thx, now it is clear to me. I thought for child loggers one can provide other streams, like for different components log to different files.

So an idea would be to override `BunyanLoggerServer.child` if one wants to write to another stream for some options?

[code]

[2017-06-26 11:38] hexa00 commented on #246
Right I actually started by having Logger implement ILoggerClient, it seemed natural, then hit that cycle and did the Watcher.

So yes a big +1 to that :)

Thanks for explaining a bit more

[2017-06-26 11:47] hexa00 commented on #249
If the extension dev really needs streams I guess he can do that yes.

But if the main use case is to write to some other file then using ```logger.child ({ compotent='name',   path: '/var/tmp/myapp-error.log' }) ``` would be way easier and currently supported

[2017-06-26 11:52] #249 closed

[2017-06-26 12:03] hexa00 opened #252 "File not found for a font in the electron example"
I talked about it in the PR but tested with master and this is still an issue:

Doing file->open in the electron example yield:

[code]

See PR #166

[2017-06-26 23:03] psuzzi opened #254 "ENOENT and ELIFECYCLE errors when running the browser example"
ENOENT and ELIFECYCLE errors when running the browser example under macOS

**Steps to reproduce:**
- open the [Developing.md#tldr](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#tldr) link, and copy the code under "To build and run the browser example:"
- execute the code, and you will see the error reported below:

[code]

Attached, you can see the two log files mentioned in the

[2017-06-27 01:04] MarkZ3 commented on #239
@akosyakov Yes on Linux. In VSCode, I do not get the error and the refreshing works, without changing the inotify maximum. Perhaps the errors are just swallowed or perhaps they do watch less things which sounds like a very good thing to me. I think it's worth looking into in order to provide a better out-of-the-box experience when possible. I think it makes sense to only watch folders and files th

[2017-06-27 05:15] akosyakov commented on #254
You should use npm4, we have not migrated to npm5 yet.

[2017-06-27 05:40] akosyakov commented on #239
it won't work for all clients, e.g. language servers are expecting events about some files

[2017-06-27 05:44] akosyakov commented on #239
@epatpol let's test the preference service with `files.watcherExclude`, look for default values in VS Code

[2017-06-27 06:48] psuzzi commented on #254
A similar error persists after downgrading to npm 4 (`npm install npm@4 -g`) and re-running the script.

[code]

See the two logfiles attached

[2017-06-27T06_40_53_637Z-debug.log.txt](https://github.com/theia-ide/theia/files/1104376/2017-06-27T06_40_53_637Z-debug.log.txt)
[2017-06-27T06_40_53_664Z-debug.log.txt](https://github.com/theia-ide/theia/files/1104377/2017-06-27T06_40_53_664Z-debug.log.t

[2017-06-27 11:45] akosyakov commented on #254
`node\r` looks weird

[2017-06-27 12:56] epatpol commented on #239
@akosyakov Ok I'll start looking into that

[2017-06-27 13:08] MarkZ3 commented on #239
Makes sense!

Come to think of it, it must be the excludes that makes it work for me in VS Code because I have a huge SVN repo with .svn which contains a lot of files. I bet they are excluded.

[2017-06-28 05:52] svenefftinge commented on #104
I consider this fixed with #166.

[2017-06-28 05:52] #104 closed

[2017-06-28 06:41] svenefftinge commented on #183
I think compilers and build scripts are usually processes that have to be managed. Some keep running for longer watching for file changes, others run one-off.
Could we not do this through #184?

For the notifications and the error, I suggest to allow extensions to contribute console log parsers. They get the full output stream from the process and could do what every they want (e.g. send notificat

[2017-06-28 06:42] svenefftinge commented on #184
I would like to have a keybinding for `running most recently executed launch config`.

[2017-06-28 07:18] psuzzi commented on #254
Additional info:
I installed node with `brew install node`, as a result it installed node 8 with npm 5.
After that, I downgraded to npm 4 with  `npm install npm@4 -g`
As [npm 4 is installed with node 7](https://nodejs.org/en/download/releases/), my feeling is that node 8 won't work well with npm 4.
Plus, it [seems that node 7 is not available with homebrew](https://github.com/Homebrew/homebrew-cor

[2017-06-28 07:22] kittaakos commented on #254
@psuzzi, you should rather use `nvm`. Then `nvm install && nvm use 7` should work out of the box.

[2017-06-28 07:24] kittaakos commented on #254
You can get `nvm` from [here](https://github.com/creationix/nvm#install-script).

[2017-06-28 07:25] svenefftinge commented on #59
We should reconsider using 'lerna' with dependency hoisting. If we can
 - have a linter that tells us when we use dependencies not listed in package.json
 - configure tsc to resolve against typescript modules from `src` instead of `lib` (cross package).

[2017-06-28 07:40] psuzzi commented on #254
I tried installing as you suggested, but I still get an error similar to the initial one:

[code]
I searched about the error `env: node\r: No such file or directory` , and I found [this github issue](https://github.com/nwjs-community/nw-builder/issues/75), which I think it could help.

[2017-06-28 07:50] akosyakov commented on #254
You should look into `config/local-dependency-manager/bin/ldm`. It looks like there is `\r` character and ldm is trying to run `node\r` instead of `node`.

[2017-06-28 07:58] svenefftinge commented on #59
Related https://github.com/Microsoft/TypeScript/issues/16792

[2017-06-28 09:32] simark opened #255 "Fix ldm to use no-shrinkwrap only to install local dependencies"
I don't really understand this, ask @akosyakov for more details :)

[2017-06-28 09:39] simark opened #256 "Backend should listen on localhost by default"
I noticed that the backend listens on all interfaces by default:

    tcp        0      0 :::3000                     :::*                        LISTEN      20184/node

That would allow by default anybody on the network to access this backend, it's not a very safe default.  I suggest listening on 127.0.0.1 by default, but allow overriding this with a command line parameter.

[2017-06-28 09:58] simark opened #257 "Max number of watches reached (ENOSPC), no root access to increase max_user_watches"
My terminal is flooded with these messages:
[code]

I don't have root access on that machine so I can't modify max_user_watches.  I think in an enterprise context this may be a quite common scenario, so I think it should be gracefully handled.

- It seems like we are watching all files in the root directory. Why is it necessary?
- After the first error, is it possible to stop so that the terminal

[2017-06-28 10:00] akosyakov commented on #257
a dup of https://github.com/theia-ide/theia/issues/239?

[2017-06-28 10:02] simark commented on #257
Right, it's close enough.  I'll comment there instead.

[2017-06-28 10:02] #257 closed

[2017-06-28 10:06] simark commented on #239
I agree with @MarkZ3, watching only what we need would be nice, and much more resource-efficient. The default limit on the machine I use is 8192 and I can't change it (I don't have root).  We will work with projects that have > 8192 files, even when excluding .svn/.git/etc.

I'd really like if we could avoid the problem by being more efficient in what we watch, rather than by requiring the user to

[2017-06-28 11:30] simark opened #259 "Allow changing tab character size"
It should be possible to change the tab size.  I suppose at one point we will want to be able to override that value per language, but to start, a single preference would be enough.

[2017-06-28 12:02] simark opened #260 "Enter on the numpad can't be used to open files"
It is possible to open files in the file explorer by selecting them and pressing enter, but not the numpad enter.

[2017-06-28 12:36] #255 closed

[2017-06-29 03:37] MarkZ3 commented on #259
At first when reading the title I though "Why per language?" but you mean the tab "character" not the widget/browser-style tab :)

[2017-06-29 06:23] simark commented on #259
Haha, indeed.

[2017-06-29 12:18] svenefftinge commented on #59
I manage to end up in *.ts when navigating by putting this into the example's tsconfig:

[code]

We could list all our extensions in a commonly extended tsconfig, so tsc will reslve against the real src. Together with lerna and hoisted dependencies, we should also be able to use symbolic links again.

[2017-06-29 13:46] epatpol commented on #211
As @simark pointed out on gitter, I think tabSize would be a nice improvement too.

[2017-06-29 15:23] akosyakov commented on #196
@kittaakos considered fixed with theia generator?

[2017-06-29 15:24] akosyakov commented on #189
It should be fixed already.

[2017-06-29 15:28] akosyakov commented on #69
We keep them in src.

[2017-06-29 15:28] #69 closed

[2017-06-29 17:13] akosyakov opened #262 "Improve Command Line Argument Handling"
We should look how different extensions can contribute to CLI arguments.

[2017-06-29 17:22] hexa00 commented on #131
Fixed by #166

[2017-06-29 17:22] #131 closed

[2017-06-29 17:27] hexa00 commented on #67
Closing this one.

We now have Developing.md and Internals.md

Specific issues can be dealt with with their own issue.

[2017-06-29 17:27] #67 closed

[2017-06-29 17:53] hexa00 commented on #211
Just a comment on the line warp,, it would be nice to have some indicating that it does wrap at the end of the line, I found that very annoying in vscode that you have to use line numbers to know if it's wrapped

[2017-06-29 18:00] MarkZ3 opened #264 "Go to last editor location command"
One thing I use a lot in Eclipse is the "Last Edit Location" command. When I type code, sometimes I navigate through a few files to understand what I should use, then I want to go back where I was typing. It is bound to Ctrl+Q in Eclipse (same on mac)

[2017-06-29 19:04] MarkZ3 opened #265 "Reopen previous editors from last session"
It would be good is the open editors would be saved and reopened when starting Theia later. It will help with continuing where one left off. Also useful for testing the editors!

[2017-06-30 13:54] akosyakov commented on #246
For the preference service I am trying to do the following:
- allow setting a target on a proxy with `setClient` method: https://github.com/theia-ide/theia/pull/140/commits/fc5f3bac7e4c9b971f7eacc874bcef8083501a7b#diff-1374a64f486c980dead22d8e618ca36c
- after that the preference service can set a client on a proxy in the constructor: https://github.com/theia-ide/theia/pull/140/commits/a213d266f1eb

[2017-06-30 13:56] IcyDoor opened #266 "Problems running ldm"
I am trying to run the theia browser example in a docker container but running ldm fails.

The Docker container has:
Ubuntu:17.04
git
nodejs 7.10
npm 4.2
typescript

1. I run the npm install in the theia folder
2. npm install and npm install -g . in the folder theia/config/local-dependency-manager
i can now run ldm globally.
3. When i run ldm it requires a file from a relative path ../lib/ldm.js
T

[2017-06-30 20:42] epatpol commented on #179
I added a section on that in Developing.md, but I'll try investigating and see why it doesn't work with node8/npm5.

[2017-06-30 22:09] psuzzi commented on #254
`config/local-dependency-manager/bin/ldm` looked ok. So, my feeling was the error was caused by line ending encoding. Indeed, I verified with `git config -l` that `core.autocrlf` was set to `true`, while, according to the [github page "dealing with line ending"](https://help.github.com/articles/dealing-with-line-endings/), on mac, `core.autocrlf` should be set to `input`.

I _resolved by_ setting

[2017-07-02 01:55] daxiansheng opened #268 "Bug in yo theia:browser on windows 10 with git bash"
`
cd theia/examples/browser && yo theia:browser
`
./src-gen/frontend/index.js is auto-created with the following lines:
[code]

The chracters "\\" in the "return import" lines will cause compilation errors.

In order to make the compiler happy, I had to manually replace all "\\"  with  "/"

[2017-07-02 02:09] daxiansheng commented on #268
The same issues exists int ./src-gen/backend/main.js

[2017-07-02 04:13] daxiansheng opened #269 "[File -> Open... ] Bug"
In windows 10, git bash
git clone theia to somewhere c:\xxx\xxx\xxx\xxx\theia
build theia.
And then cd to  c:/xxx/xxx/xxx/xxx/theia/examples/browser

$npm run start

open http://127.0.0.1:8080 in chrome
click File -> Open ...

Nothing happened, no dialog opened, but the chrome developer console report: no permission read hiberfil.sys

[2017-07-03 06:46] akosyakov commented on #269
It should be in the scope of https://github.com/theia-ide/theia/issues/199

[2017-07-03 19:55] kittaakos opened #270 "Build script can be executed iff one navigates into the container directory"
The title could be misleading but let me try to clarify. One has to explicitly change the directory to the `theia/config/scripts` to be able to execute the travis-ci build script. I am positive that it worked before.

`Does not work:`
[code]

`Works:`
[code]

Expected: Both are supported

With the former one, one gets this:
[code]

[2017-07-03 20:04] kittaakos commented on #270
Eventually, I am not that sure anymore. Anyway, it seems odd that the build script can be executed only from `${THEIA_ROOT}`, otherwise it fails.

[2017-07-03 20:10] kittaakos opened #271 "Our placeholder electron spec test throws exception on execution but reported as a green one"
Execute the build script locally as described at #270. Got this:

[code]

[2017-07-04 13:12] bd82 commented on #107
If you instrument code with istanbul it will save the coverage information in the
[**window.__coverage__**](https://github.com/gotwarlost/istanbul/blob/89e338fcb1c8a7dea3b9e8f851aa55de2bc3abee/test/browser/support/index.html#L44) global variable.

So if you ensure the selenium tests run on **instrumented client** source code,
you can extract this coverage information from the browser after each te

[2017-07-05 14:40] akosyakov commented on #239
@MarkZ3 @simark Could you try again? We've introduced `files.watcherExclude` option that ignores `node_modules` by default. You can change it in `.theia/settings.json` from your home dir or the workspace dir.

[2017-07-05 21:19] kittaakos commented on #266
@IcyDoor, could you please share the full console log? We might need all the information, not just the exception, to be able to resolve the issue. For instance, [here](https://github.com/theia-ide/theia/files/1126063/theia_install_full_console_log.txt), you can reference my full console log.

Thanks in advance for your cooperation!

[2017-07-05 21:22] kittaakos commented on #266
Also, please try the [tl;dr](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#tldr) script, and do *not* install `ldm` into the global if feasible. At least, I have never done that so far, and it worked before.

[2017-07-06 06:56] svenefftinge commented on #266
I double checked executing the script that is listed under 'tl;dr' (https://github.com/theia-ide/theia/blob/master/doc/Developing.md#tldr) in a docker image. It worked without problems.
I have:
[code]

[2017-07-06 07:02] simark commented on #266
@svenefftinge, can you give either the exact commands you use, or even better, a Dockerfile to reproduce it?

[2017-07-06 08:01] kittaakos commented on #264
I use this in VSCode too.

[2017-07-06 08:17] svenefftinge commented on #266
I figured the reason is user permissions. When running `npm install` for local-dependency-manager it silently fails to run the additional scripts and just reports a warning (`cannot run in wd`).

The solution is described here : https://stackoverflow.com/questions/18136746/npm-install-failed-with-cannot-run-in-wd
We will create a docker image and publish it, to make it easier for people to try The

[2017-07-06 08:47] simark commented on #266
Shouldn't we just say that you shouldn't run that as root?

[2017-07-06 08:50] svenefftinge commented on #266
Yes, if that fixes the issue, too.

[2017-07-06 08:51] IcyDoor commented on #266
Thanks everyone for the help!
@svenefftinge Thanks alot, that solved it :)
Ran this:
git clone https://github.com/theia-ide/theia \
&& cd theia \
&& npm install --unsafe-perm \
&& cd config/local-dependency-manager \
&& npm install --unsafe-perm \
&& cd ../../examples/browser \
&& npm run bootstrap \
&& npm run start

@simark I downloaded node 7.10.0 and npm 4.2.0 on Ubuntu 17:04 like this:
curl -

[2017-07-06 08:53] simark commented on #266
@IcyDoor: ok, well the 7.x setup isn't advertised anymore since 8.x is out, but it's good to know it still works. An alternative is to use [nvm](https://github.com/creationix/nvm).

[2017-07-06 09:16] svenefftinge commented on #266
Here is the docker file that works for us
[code]

[2017-07-06 09:17] #266 closed

[2017-07-06 09:18] svenefftinge commented on #264
Is that different to #73 in that it skips all locations where I didn't change something?

[2017-07-06 09:36] kittaakos commented on #264
No, it is exactly what you have described. Still, I would keep this open to having a dedicated binding for that.

[2017-07-07 22:15] epatpol commented on #211
#281 checks the first two options. They were pretty easy to add as monaco already had some options for those. As for the whitespaces, I think (unless I missed it somewhere in the api), we need to implement our own coloring function or something along those lines.

[2017-07-08 04:05] MarkZ3 commented on #260
We can add a new Key for NumpadEnter and and add a key listener for it in the tree, but I think it's too cumbersome to have to add two listeners every time both Enter and NumpadEnter need to do the same thing (i.e. always??). Should key strokes be considered equal if their KeyboardEvent.code (number) is the same? Or would there be cases where we want to differentiate Enter vs NumpadEnter? I can pu

[2017-07-08 08:33] simark commented on #260
If they have the same keyCode, what makes them different?

I don't see a scenario where we'll want to have different behaviors for both, so I think a fix that treats them the same way at the core is good.

[2017-07-09 15:28] akosyakov commented on #211
@epatpol you should use `renderWhitespace: 'all'` for Monaco

[2017-07-12 12:49] akosyakov commented on #250
It will be fixed in the scope of https://github.com/theia-ide/theia/issues/59

[2017-07-12 14:38] akosyakov opened #288 "Report name clashes"

[2017-07-12 14:46] epatpol opened #289 "Use default value when bogus value is entered"

[2017-07-13 15:09] epatpol opened #292 "Make the compound preference server smarter"
The compound preference server should be aware of the different json preference servers priority (i.e if it receives a change from user settings for "lineNumbers" but there is already a setting in the workspace preference server for that, filter out the event?)

[2017-07-13 15:10] epatpol opened #293 "Make the preference service synchronous"
Maybe the get methods should wrap the promises and return them synchronously so that pref service users don't have to use promises when using the preference values.

[2017-07-13 15:11] epatpol commented on #211
I'll close this one for now, although the preferences system can still be improved, issues are going to be opened/discussed in other threads.

[2017-07-13 15:11] #211 closed

[2017-07-13 15:15] hexa00 opened #294 "Terminal initial size is incorrect"
If I start the terminal in a large window, I will see something like this:
![terminal-resize](https://user-images.githubusercontent.com/698076/28173340-23b2f5a4-67bc-11e7-88a2-fa02485d4cee.png)

The terminal is starting up with a smaller size then the window allows and wrapping the lines based on that. So you see the weird wrapping.

Then it figures out the correct size and update the terminal so

[2017-07-13 15:40] lmcgupe commented on #161
https://github.com/lmcgupe/theia/commit/9bb572065c54d08b7b9031650fee6809e8864620

[2017-07-13 15:40] #161 closed

[2017-07-13 17:51] hexa00 commented on #252
As of 15ecf667c0ee3f9213f0dca5983372598af901fb I can't reproduce this anymore.

Closing

[2017-07-13 17:51] #252 closed

[2017-07-13 17:51] lmcgupe commented on #252
I tested with current build made July 13th and could not reproduce. I am closing the issue.

[2017-07-14 10:43] sr229 opened #298 "Support coloring themes"
We have a Cloud IDE project that uses your framework and I was wondering if we can custom style the entirety of the Application because there's no docs for it

[2017-07-14 10:48] akosyakov commented on #298
Right now only by changing them in theia-core.

[2017-07-14 10:49] svenefftinge commented on #298
We use CSS variables for common things. Currently there are two different definitions
 - [bright theme](https://github.com/theia-ide/theia/blob/master/src/application/browser/style/variables-bright.css)
 - [dark theme](https://github.com/theia-ide/theia/blob/master/src/application/browser/style/variables-dark.css)

We currently include the dark one, but will for sure allow some sort of theming in

[2017-07-14 10:50] svenefftinge commented on #298
@akosyakov we should think about the contributing css per theme name in the extension system.

[2017-07-14 15:32] svenefftinge opened #300 "[Preferences] editor.tabSize is initialized with `0`"
Since the latest editor preferences commits (#281) my editors are initialized with tabSize=0 which breaks the tab key.

[2017-07-14 17:53] lmcgupe commented on #200
Sorry, i don't have a MAC environment to reproduce this.

[2017-07-15 07:57] akosyakov commented on #200
@lmcgupe it is not about MacOs, but was actually motivated mostly by Win support, since the user should be able to switch between different drives like `C:` and `D:`

[2017-07-15 08:01] svenefftinge opened #302 "[webpack] debugging problems"
Somehow there are multiple copies of a module loaded (they get different suffixes). E.g.:

<img width="558" alt="screen shot 2017-07-15 at 10 00 23" src="https://user-images.githubusercontent.com/372735/28237641-7edf7338-6944-11e7-8e77-b9440517580c.png">

If you want to debug by setting a breakpoint you need to set it in the right file, to have it hit.

@akosyakov could that be related to the rece

[2017-07-15 08:03] #300 closed

[2017-07-17 09:41] simark commented on #259
@epatpol, is this resolved now? I think you added a preference for that?

[2017-07-17 09:49] simark opened #303 "Support GNU-style indentation"
When working on GNU projects (e.g. GDB), we have to use a particular indent style.  Each indentation level is two spaces, so when you press tab or shift-tab, it should increase or reduce the indentation of by two spaces.  However, when you reach 8 consecutive spaces, that should be replaced by a tab.

Here's an example of properly indented code:

[code]
Here's the same code with spaces replaced wi

[2017-07-17 10:41] simark commented on #303
That would require have more preferences than "tabSize".  In vim, for example, you have these:

[code]

This is my interpretation, you can find the real doc by doing `:help tabstop` for example.

[2017-07-17 11:07] hexa00 commented on #303
Note I tried to use that indent in VSCode and Atom and they both do not support it at all.
Nor is there any extensions that do :(

So I'm pretty sure monaco doesn't.

I think the best thing would be to support auto indentation based on indent. (indent supports pretty much any indentation style).  That way we could define the indentation in indent terms.

IMO TAB should default to autoindent the li

[2017-07-17 11:17] simark commented on #303
The behavior of the tab key could be configurable, but I think we should always have a basic mode where tab just indents manually.  We won't always know the language being edited and know how to indent it, so we need to have a solid way for the user to do whatever they want. After that, we can get more fancy for some languages we want to have better support for.

[2017-07-17 11:21] simark commented on #303
Should we file an issue with the monaco project to show that there is interest in supporting this kind of behavior?

[2017-07-17 12:16] hexa00 commented on #303
I'm not sure this should go into the editor directly ?
If you know the tabsWidth or the number of spaces you can know the indent level of a line in an extension then rewrite a number of spaces to tabs etc...
I've seen some extensions do things like that.

[2017-07-17 13:51] epatpol commented on #259
@simark yes it's fixed now thanks for bumping this issue. You can check "editor.tabSize" in the code for the default value as of now.

[2017-07-17 13:51] #259 closed

[2017-07-17 15:41] marcdumais-work commented on #183
Hi @svenefftinge - Agreed, launch/debug configurations can be handled separately from build.

[2017-07-17 15:57] JanKoehnlein opened #304 "KeybindingRegistry looks up keys in wrong map"
Keybindings are currently never found, as they are looked up in the wrong map in `KeybindingRegistry#getKeybindingForKeyCode()`.

[2017-07-17 16:07] JanKoehnlein commented on #304
https://github.com/theia-ide/theia/pull/305

[2017-07-17 17:41] hexa00 commented on #201
I tried to cache node_modules and examples/electron/node_modules and download and it did not help. I think this is going as fast as it can.

And it takes 10 minutes per node version so 20 minutes is version 7 + version 6

Closing this based on that.

[2017-07-17 17:41] #201 closed

[2017-07-17 18:19] #304 closed

[2017-07-18 05:26] akosyakov commented on #201
BTW After restructuring, it is about 6 mins: https://travis-ci.org/theia-ide/theia/builds/254237999?utm_source=github_status&utm_medium=notification

[2017-07-18 10:59] akosyakov opened #306 "Migrate to monaco 0.9 and monaco-languageclient 0.1"

[2017-07-18 10:59] akosyakov commented on #306
See https://github.com/theia-ide/theia/pull/299/commits/7543ec244341c3bb8ad7814c5865fb5e97e431af

[2017-07-18 12:16] #250 closed

[2017-07-18 12:17] akosyakov commented on #59
Done with #299

[2017-07-18 12:17] #59 closed

[2017-07-18 13:39] hexa00 commented on #201
The examples are not there anymore so it does take less time for sure

Also btw I see many
[code]
Looks weird

[2017-07-18 13:41] akosyakov commented on #201
Examples are there: https://travis-ci.org/theia-ide/theia/jobs/254238000#L1538 only UI tests are switched off for now

[2017-07-18 13:42] akosyakov commented on #201
`echo 'Error: no test specified'` - lerna invokes test script on all packages and it says that the package does not have tests right now

[2017-07-18 13:57] hexa00 commented on #306
This is kinda weird the title says update to 9 but the commit revers to 8 ?
So I'm confused... was it 9 before and we wanted to make it work with 9 but decided to rollback instead?

[2017-07-18 15:05] MarkZ3 opened #307 "npm install doesn't seem to work on Windows"
Using latest master
node v7.10.0
npm  v4.2.0
Windows 8.1

[code]

Then when I try to go to examples/electron:
[code]

[2017-07-18 15:35] akosyakov commented on #307
Could you go to `packages/core` and try `yo theia:extension --force? You should do `npm install -g yo` before.

[2017-07-18 15:47] MarkZ3 commented on #307
Looks similar I think

[code]

I checked that "yo" is on PATH and I can execute it in the same terminal. I wonder why it would do a ENOENT. Is the environment being overridden somehow along the way? Hmm

[2017-07-18 16:13] MarkZ3 opened #308 "ERR_CONNECTION_REFUSED starting Electron example"
npm 4.2.0
node 7.10.0
macOS 10.12.5 and similar on Ubuntu 16.04
Latest master (I did a git clean -fdx)

I did npm run start in examples/electron. When it starts, I get a lot of errors in the DevTools log and the Files navigator doesn't work.

(Both macOS and Ubuntu)
[code]

In the Terminal (macOS), I can also see this:

[code]

On Ubuntu:

[code]

[2017-07-18 16:15] MarkZ3 commented on #303
formatting is part of the LSP and is already in Clangd although I don't think its possible to configure it well. It might be better to experiment with clang-format and document what's missing there.

[2017-07-18 17:37] hexa00 commented on #303
IIRC clang-format supports the gnu ident style, but not the actual formatting of GDB code.

I wonder if it could do indent only

[2017-07-18 18:33] simark commented on #303
The current issue is not related to any language support.  It should be possible to set some preferences such that I create a new .txt file and press tab a few times, it will follow the rules outlined above.  So let's say I press tab a few times in an empty plain text file, it would successively contain this:

Press tab once:

    <space><space>

and again:

    <space><space><space><space>

and a

[2017-07-19 07:17] #196 closed

[2017-07-19 07:18] akosyakov commented on #306
I've tried to use 0.9 but it was not straightforward, so I've reverted it and put a link to the commit as a reminder.

[2017-07-19 07:19] kittaakos commented on #196
See https://github.com/theia-ide/theia/pull/299

[2017-07-19 07:21] akosyakov commented on #246
One can call `setClient` on a remote proxy to set a local target object instead of providing it via the constructor.

[2017-07-19 07:21] #246 closed

[2017-07-19 09:11] kittaakos opened #309 "Assert NPM version"
The [script](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#tldr) obviously contains an incorrect path for the examples.

If I start the script with the correct path, it complains about the missing `start` script:

[code]

[2017-07-19 10:09] akosyakov commented on #309
@kittaakos could you try with #310?

[2017-07-19 10:10] akosyakov commented on #308
@MarkZ3 Could you try with #310?

[2017-07-19 10:10] akosyakov commented on #307
@MarkZ3 Could you try with #310?

[2017-07-19 10:11] akosyakov commented on #268
@daxiansheng Could you try with #310?

[2017-07-19 10:12] akosyakov commented on #256
@simark with #310 `localhost` is used by default, the host can be changed for the web with yo config

[2017-07-19 10:19] kittaakos commented on #309
Sure.

[2017-07-19 10:24] kittaakos commented on #309
It is still broken. Please reference [attached log](https://github.com/theia-ide/theia/files/1158782/GH_309_full_console_log_01.txt).

[2017-07-19 10:27] akosyakov commented on #309
Please try to use npm@4, it seems that you are using npm@3.

[2017-07-19 10:38] kittaakos commented on #309
Although it is still running, it looks better. I keep you posted.

Can we assert the npm version: https://www.npmjs.com/package/assert-npm-version

[2017-07-19 10:40] kittaakos commented on #309
Great, it works with your changes.

[2017-07-19 10:42] akosyakov commented on #309
Yes, asserting would be great, `npm` suggests using `engines` for it: https://docs.npmjs.com/files/package.json#engines

[2017-07-19 10:43] kittaakos commented on #309
I would be happy with any libraries if it works as expected.

[2017-07-19 12:39] MarkZ3 commented on #307
It looks similar I think.

[code]

[2017-07-19 12:48] akosyakov commented on #307
@MarkZ3 Could you try again? :)

[2017-07-19 13:01] hexa00 opened #311 "Remove --unsafe-perm from TLDR"
This looks very werid and may not be derisable by default.

I think we should move this to the troubleshooting section and have the user add it only if necessary

[2017-07-19 13:03] kittaakos commented on #311
See: https://github.com/theia-ide/theia/issues/266#issuecomment-313328699

[2017-07-19 13:23] MarkZ3 commented on #307
It gets further now! Then it outputs this error:

[code]

[2017-07-19 13:28] akosyakov commented on #307
@MarkZ3 it seems that yo tries to write to `C:\Users\Marc-Andre\.config` and don't have permissions, I guess permissions should be changed or maybe this folder is readonly

[2017-07-19 13:31] MarkZ3 commented on #308
It seems to work much better now, no ERR_CONNECTION_REFUSED and the Navigator works. I have this in the DevTools console thought, not sure how bad it is. This is on macOS

[code]

Oddly enough, on this branch on Ubuntu, now when I do "npm run start" in examples/electron, I get:
[code]

[2017-07-19 13:33] MarkZ3 commented on #307
@akosyakov No it's not read-only. Perhaps the file handle is still opened on insight-yo.json.3289871766 ?

[2017-07-19 13:41] akosyakov commented on #308
Could you try to add `'--no-insight'` as args in scripts/generate.js and run again:
`const args = ['theia:' + target, '--force', '--no-insight']`

[2017-07-19 13:41] akosyakov commented on #307
@MarkZ3 Could you try to add `'--no-insight'` as args in scripts/generate.js and run again:
`const args = ['theia:' + target, '--force', '--no-insight']`

[2017-07-19 13:43] akosyakov commented on #308
I will try to reproduce and fix this issue: Uncaught TypeError: Cannot assign to read only property 'exports' of object '#<Object>'

Ubuntu: never seen such error.

[2017-07-19 15:55] MarkZ3 commented on #307
Same result. But looking at the yo/cli.js code, the insight object gets instantiated regardless of the --no-insight
[code]

What's more odd about the error is that the file *does* end up being renamed because I can see the insight-yo.json in folder. Or maybe it fails because it tries to rename to something that already exists??

[code]

[2017-07-19 16:49] hexa00 opened #312 "Launch/Terminal Design"
# Launch/Terminal Design Goals

The goals of this design is to provide an extensible way to:
 - launch processes
 - launch processes with a terminal attached
 - attach linters to the output of a process or terminal
 - manage processes in a central location
 - allow the ui to show the terminal for a process

# Process

The core of this design is the process class, this class could be described as f

[2017-07-19 16:50] hexa00 commented on #312
# FrontEnd/BackEnd API

Each ProcessType that needs Backend/FrontEnd communication shall provide:

 - A TypeFrontendClient/Protocol This will be able to receive notificatons from the TypeBackdendService.
 - A TypeBackendService: This exposes a Type specific backend API over JSON-RPC.

 Note Type here means like Debug, Shell, Build, etc..

One generic TerminalService shall be provided.

## Terminal

[2017-07-20 05:10] #233 closed

[2017-07-20 05:11] akosyakov commented on #268
Should be fixed by https://github.com/theia-ide/theia/pull/310

[2017-07-20 05:11] #268 closed

[2017-07-20 05:11] akosyakov commented on #256
Should be fixed by #310

[2017-07-20 05:11] #256 closed

[2017-07-20 05:25] akosyakov commented on #307
Looks like we hit these issues with running yo in parallel for different folders: https://github.com/yeoman/yo/issues/459

[2017-07-20 11:04] hexa00 commented on #308
I can reproduce that too, maybe be linked with this : https://github.com/webpack/webpack/issues/4039

[2017-07-20 11:43] ainslec opened #316 "Build problem (NODE v7.10.0, NPM v4.2.0)"
Hello.

I have been attempting to build Theia on Windows 7, and I am seeing the following issue (also attached log file - renamed with .TXT suffix as github requires it):

This is via a command window, I already set up the THEIA system command variable, the command windows had admin permissions:

[2017-07-20T11_31_25_095Z-debug.log.txt](https://github.com/theia-ide/theia/files/1162129/2017-07-20T1

[2017-07-20 11:48] akosyakov commented on #316
What was the command? `npm install` ?

[2017-07-20 12:07] ainslec commented on #316
Yes.
On 20 Jul 2017 12:48 p.m., "Anton Kosyakov" <notifications@github.com>
wrote:

[2017-07-20 12:14] akosyakov commented on #316
@ainslec the log is missing output from commands called by npm including errors

Also it is started with:
[code]
i thought maybe you run `npm run bootstrap` instead of `npm install`

Could you get the whole output? It should look like in https://github.com/theia-ide/theia/issues/307

[2017-07-20 12:31] marcdumais-work opened #317 "[tests] Improve electron example tests"
The Electron example tests need some improvements.

"wdio does not seem to be used at all
especs are working around of electron-main to start the server, also only checking that the window appears, regardless where it is showing something
Could we clean it up? Removed unused wdio configs, rename especs -> specs, write proper tests. With another PR for sure."

see comment in this PR: https://github

[2017-07-20 12:33] akosyakov commented on #302
yes, you are right, i will remove code splitting, it introduces a lot of duplications in such way

[2017-07-20 12:42] ainslec commented on #316
OK, the instruction I run is:

npm  install

But this then runs a bunch of sub-commands including:

ATTACHED are the full two logfiles from the execution :

[2017-07-20T11_31_25_095Z-debug.log.txt](https://github.com/theia-ide/theia/files/1162272/2017-07-20T11_31_25_095Z-debug.log.txt)
[2017-07-20T11_31_25_486Z-debug.log.txt](https://github.com/theia-ide/theia/files/1162273/2017-07-20T11_31_25_486

[2017-07-20 12:55] marcdumais-work commented on #317
@epatpol Patrick, can you please have a look and comment on this issue?

[2017-07-20 14:22] MarkZ3 commented on #307
Unfortunately, I get the same error with 4.6.1.

[2017-07-20 14:23] akosyakov opened #318 "[lint] enable prefer const tslint rule"
https://palantir.github.io/tslint/rules/prefer-const/

And fix existing issues.

[2017-07-20 14:28] akosyakov commented on #308
@MarkZ3 @hexa00 Could you check with https://github.com/theia-ide/theia/pull/319. There an error is gone. The thing is that if one uses es6 imports then he should use exports, `module.exports =` works only with es5.

[2017-07-20 14:38] marcdumais-work commented on #318
+1

[2017-07-20 15:18] MarkZ3 commented on #308
@akosyakov with #319 I don't see the error anymore. I think this one can be closed.

[2017-07-20 16:14] hexa00 commented on #318
I wonder if there's a rule for enforcing ending a line with ';' too ?
It's easy to forget

[2017-07-21 02:42] akosyakov commented on #302
Fixed with #319

[2017-07-21 02:42] akosyakov commented on #308
The last error is fixed with #319

[2017-07-21 02:42] #308 closed

[2017-07-21 02:45] akosyakov commented on #318
there is: https://palantir.github.io/tslint/rules/semicolon/
but I would use as `"semicolon": [true, "always", "ignore-bound-class-methods", "ignore-interfaces"]`, it is relative only for statements

[2017-07-21 04:01] akosyakov commented on #307
@MarkZ3 please try with https://github.com/theia-ide/theia/pull/320 it runs yo sequential on windows

[2017-07-21 08:32] kittaakos opened #323 "It should be configurable at build time whether the minified or the dev monaco code is being by webpack"
Currently, it is always the minified one and it is hard to debug in the browser. Probably a `--production` flag should do the trick.

[2017-07-21 12:33] kittaakos opened #324 "As an extension developer I would like to customize the default editor options for monaco"
A longer term solution could be via preferences; an extension can define additional monaco preferences that override the default ones. For instance in the preferences file for the extension:

[code]

A shorter term solution is in the [`monaco-editor-provider`](https://github.com/theia-ide/theia/blob/master/packages/monaco/src/browser/monaco-editor-provider.ts#L49). One should be able to subclass i

[2017-07-21 12:34] kittaakos commented on #324
@akosyakov What if my extension uses a third party extension that already customizes the editor provider? Do you have any comments on that? Thanks!

[2017-07-21 12:41] akosyakov commented on #324
Subclass the editor provider of a third party extension? I don't know, it will depend on how third party extension works.

[2017-07-21 12:52] marcdumais-work opened #326 "[tests] tests hanging"
running "npm test" in the theia root directory does not seem to work well with the latest master. The test suite seems to hang after having reported that the filesystem test pass.

When I checkout the version from a day ago, the same thing happens. With the version from 2 days ago (commit: a54259c17c4c844bb6cd4e0b496085e8ddbeba6a), the test pass.

[2017-07-21 13:05] #324 closed

[2017-07-21 13:06] akosyakov commented on #326
It includes UI tests for the browser. I've also noticed that if they fail then sometimes they are hanging.

[2017-07-21 13:13] akosyakov commented on #309
it is obsolete with yarn

[2017-07-21 13:13] #309 closed

[2017-07-21 13:28] hexa00 commented on #294
We should be able to query the dom element for it's size and send that as the terminal initial size

[2017-07-21 13:32] hexa00 commented on #270
This script is no longer there after  #299

[2017-07-21 13:32] #270 closed

[2017-07-21 13:42] hexa00 commented on #195
I think this was addressed by #299 @kittaakos ? I'm closing please reopen if it's still revelant

[2017-07-21 13:42] #195 closed

[2017-07-21 13:44] hexa00 commented on #194
@kittaakos  Is this still try after #299 ? the link now is 404

[2017-07-21 13:46] hexa00 commented on #173
Closing as we're switching to yarn and the new package restructuring would not work with greenkeeper

[2017-07-21 13:46] #173 closed

[2017-07-21 13:48] kittaakos commented on #309
@akosyakov, what about #179?

[2017-07-21 13:49] hexa00 commented on #93
I think those warnings about the license are back since the restructuring

[2017-07-21 13:51] hexa00 commented on #75
The chrome extension for that is not ready yet... we'll have to wait

[2017-07-21 13:56] hexa00 commented on #93
There's no warnings anymore now it seems but the license is not in package.json anymore after #299 ?

[2017-07-21 14:24] akosyakov commented on #179
It is not relevant anymore since we use yarn

[2017-07-21 14:24] #179 closed

[2017-07-21 14:30] svenefftinge commented on #316
Hi Chris, we've switched to yarn.
Could you try again and create a fresh ticket, if it doesn't work?

[2017-07-21 15:24] ainslec opened #328 "Build Problem (yarn)"
Related to issue #316 , raising this new issue for build problem with Yarn (version 0.27.5).

![image](https://user-images.githubusercontent.com/201870/28470238-0d00b03c-6e31-11e7-87ad-97b64fa6a87e.png)

I attach two logs, one is the command line log, the other is a log from an NPM process that seems to have been spawned by YARN (added .txt suffix otherwise github does not allow me to attach it).

[2017-07-21 15:25] svenefftinge commented on #93
yes, I think that warning should be ignored as private packages are not published.
Can we close this one? no npm anymore :)

[2017-07-21 16:36] hexa00 commented on #93
yarn install v0.19.1
warning generator-theia@0.0.1-alpha.1: No license field
It's there for the generator however now

[2017-07-21 16:58] hexa00 opened #329 "not all mocha tests are running in some situations"
If I take PR #278  and run from theia's root directory:

[code]

I get:
[code]

However if I run:
[code]
I get:

[code]

Note that in the same directory doing
[code]

I get only 1 test also...  This wasn't the case in my previous testing but for some reason it is now... strange

Note for this to work properly you need to  install GDB on your path, (apt-get install gdb)

@kittaakos  ts-node could b

[2017-07-21 17:26] marcdumais-work commented on #326
Renamed issue for accuracy, since the problem might not be with the UI tests

[2017-07-21 17:36] marcdumais-work commented on #326
I just retried with yarn (latest master) and it still hangs, but seem to give a better clue where it's happening. It does indeed seem to freeze in the browser UI tests :
[code]

[2017-07-21 18:51] marcdumais-work commented on #326
Update: the problem was apparently a weird proxy issue. I had a proxy setup through environment variables in my .bashrc . Once I remove these environment vars and kill the still running selenium server, the tests start to work again.

[2017-07-21 18:51] #326 closed

[2017-07-21 18:57] marcdumais-work opened #330 "[test coverage] source files not tested not reflected in coverage report"
This is not ideal since it's equivalent to ignoring files that have zero test coverage, artificially making the coverage report seem better than it actually is.

possible fix mentioned in this thread:
https://github.com/gotwarlost/istanbul/issues/112

[2017-07-21 18:59] MarkZ3 commented on #307
I tried again, now it gets much further! But it hangs forever at

[code]

It looks like https://github.com/lerna/lerna/issues/582
But I verified that it uses Lerna 2.0.0 so I'm not sure.

[2017-07-21 19:09] MarkZ3 commented on #307
I does finish the *second* time I execute "yarn". Odd! But the next step for Electron has an error.

$ yarn run rebuild:electron
yarn run v0.27.5
error Command "rebuild:electron" not found.

[2017-07-21 19:11] marcdumais-work commented on #330
to reproduce:
in theia home, run
[code]

check the reported coverage for the "core package":
[code]
in firefox, navigate to the coverage report for sub directory "browser"

compare the reported coverage to the files under theia/packages/core/src/browser : there's 11 .ts files in there, but only a single one has unit tests, "opener-service.ts". Only that file has coverage reported. The reported cov

[2017-07-22 12:34] hexa00 commented on #330
Why did you close it ?

[2017-07-22 13:29] marcdumais-work commented on #330
oops, closed by mistake. Thanks Antoine

[2017-07-24 03:37] akosyakov commented on #330
Because some extensions don't have the test script? I've removed it because without tests mocha always exists with 1 and it breaks the build. We can empty spec files to such extensions. Would it work?

[2017-07-24 06:28] #93 closed

[2017-07-24 14:25] marcdumais-work commented on #330
@akosyakov I think that's one cause. Without the test script in the generated package.json, an extension will not attempt to run the tests, and we get no coverage info for that package (instead of 0% coverage). But adding back the test script does not seem to be enough; ATM individual source files under a package are not considered in the coverage report unless they are covered by some test, it se

[2017-07-25 07:09] kittaakos opened #335 "As an extension developer, I would like to customize the default editor options for monaco 2"
This task is a follow-up of #324.

Instead of subclassing the editor provider and overriding the editor options method, we need to have providers that could contribute into the settings, based on the underlying editor model (URI). With this solution, if one modifies the editor configuration for language `A`, that will not affect the default editor configuration for language `B` unless `B` has som

[2017-07-25 11:03] marcdumais-work opened #337 "[UI tests] browser tests fail"
[code]

It looks-like it's attempting to download version 0.16.1 of geckodriver. When I try the URL in chrome, it triggers a security warning, about the site being potentially used for phishing:

![image](https://user-images.githubusercontent.com/25749063/28569216-fa15acce-7106-11e7-9a34-56e255a4a6de.png)

[2017-07-25 11:13] marcdumais-work commented on #337
Already reported for selenium-standalone: https://github.com/vvo/selenium-standalone/issues/291

[2017-07-25 12:01] UdoW commented on #316
Under Windows you should not use PowerShell or CMD. Instead please use the GIT Bash or Cygwin.

npm itself runs without problems under PowerShell or CMD but the npm script which is used in Theia calls "Linux" commands.

[2017-07-25 12:06] UdoW opened #339 "Build problem with Yarn (Windows 10)"
I used the yarn build tool in a GIT bash under Windows 10 with Node version 8.2.1 (yes I know I should use the older version 7.x.x).

Yarn built everything fine. But I cannot run "yarn run start" because the goal "start" is missing in my configuration.  I can see "rebuild:browser" etc. but no "start".

Here are my commands:

Project commands
   - bootstrap
      node scripts/generate.js && lerna b

[2017-07-25 12:12] akosyakov commented on #339
The doc says you should do `cd examples/electron` first or `cd examples/browser`.

[2017-07-25 12:15] UdoW commented on #339
Ohh, I missed that part. You are right. I changed to the browser directory and it works now. Thanks. You can close this issue as "Works as expected".

[2017-07-25 12:17] #339 closed

[2017-07-25 13:09] marcdumais-work commented on #330
addressed in https://github.com/theia-ide/theia/pull/338

[2017-07-25 13:09] #330 closed

[2017-07-26 09:40] kittaakos opened #340 "Building the example fails when the JDT LS cannot be accessed"
When the http://download.eclipse.org/jdtls/snapshots/jdt-language-server-latest.tar.gz link is not available, the Java extension build fails, hence the whole build process fails.

[code]

[2017-07-26 09:42] kittaakos commented on #340
Eventually, the http://download.eclipse.org seems to be down.

[2017-07-26 10:14] marcdumais-work commented on #337
This seems to work now.

[2017-07-26 10:14] #337 closed

[2017-07-26 11:40] ainslec commented on #316
OK, so have pulled the most recent version, executing from git base, I cd into the theia folder (the folder containing "README.md" and ".travis.yml".

I enter the command "yarn", and it hangs. This is the console window after 7 hours:

![image](https://user-images.githubusercontent.com/201870/28619301-94fbd198-71ff-11e7-90ea-633f35511e39.png)

[2017-07-26 11:42] ainslec commented on #328
NOTE : Also referenced this in (CLOSED) issue #316

OK, so have pulled the most recent version, executing from git base, I cd into the theia folder (the folder containing "README.md" and ".travis.yml".

I enter the command "yarn", and it hangs. This is the console window after 7 hours:

![image](https://user-images.githubusercontent.com/201870/28619301-94fbd198-71ff-11e7-90ea-633f35511e39.png)

[2017-07-26 11:50] kittaakos commented on #329
@hexa00, I have tried it out on the `master` branch and works as expected. Please note, I was running test in `theia/core`. I have attached the [console output](https://github.com/theia-ide/theia/files/1176447/GH_329_mocha_test_console_output.txt) which I got when I executed the tests from VSCode. Could you please check your test setup on your branch? It might have the problem, or I messed up some

[2017-07-26 11:54] kittaakos commented on #316
@ainslec, I have just started to reproduce your issue based on #328. I can confirm, it hangs for me too. At least, nothing happens in the last 20-30 minutes.

I was using Win10 in a VirtualBox.

[2017-07-26 11:55] kittaakos commented on #316
Since it seems to be broken without npm too, I reopen this ticket.

[2017-07-26 11:56] kittaakos commented on #316
I will look into this issue.

[2017-07-26 12:12] marcdumais-work commented on #340
I saw this error intermittently today (locally and on travis). It seems to work now.

[2017-07-26 12:14] kittaakos commented on #340
Yes, it works now. I can confirm that. We will figure out something not to depend on eclipse.org when building the application.

[2017-07-26 12:18] akosyakov commented on #340
I am going to push the downloaded archive for now. We will need to redownload it locally to upgrade.

[2017-07-26 12:58] akosyakov commented on #293
@epatpol is it done? please close

[2017-07-26 12:59] epatpol commented on #293
Yep my bad!

[2017-07-26 12:59] #293 closed

[2017-07-26 13:08] akosyakov opened #341 "Enhance an editor for preference files with a preferences schema"
We should merge all preferences schemas in one and use it for editing preference files.

See: https://github.com/Microsoft/monaco-editor/issues/191#issuecomment-248034168

[2017-07-26 13:09] akosyakov commented on #288
Clashes should be identified and reported during preparing the preferences schema. Related to: https://github.com/theia-ide/theia/issues/341

[2017-07-26 13:31] akosyakov commented on #178
Done by https://github.com/theia-ide/theia/pull/336

[2017-07-26 13:31] #178 closed

[2017-07-26 14:04] kittaakos commented on #316
I will collect my findings regarding the windows build issue here, later we can move it to the documentation.

It seems `yarn` needs the `—non-interactive` flag, otherwise it just silently fails and hangs. In my case `tsc` is missing from the `node_modules`. I do not know yet why.

[2017-07-26 14:17] svenefftinge opened #342 "Outline Tree View"
An outline view should show the hierarchical tree structure of the currently opened editor.
It should be based on `DocumentSymbolProvider#provideDocumentSymbols`.
A hierarchy should be computed based on locations and containerName

[2017-07-26 14:18] svenefftinge commented on #342
We should implement this in an extension of its own, such that it is an optional feature.

[2017-07-26 15:30] marcdumais-work opened #343 "[quality] use SonarQube on Theia, so that we get a report on code quality"
At the moment, we control the ts linter through a file in our repo: packages/tslint.json . When we build Theia, all rules in that file have to be respected, or the build will fail.

Using SonarQube, we could apply a wider set of TSLint rules to Theia's source code, and have a report generated, that reflects how well we respect those rules. This means that we could include TSLint rules that are "ni

[2017-07-26 20:30] #24 closed

[2017-07-27 01:01] hexa00 commented on #329
@kittaakos yes master is ok, the problem has something to do with where the tests are placed in the directory structure and on master somehow it's ok...

You need ot test with my branch to reproduce it

[2017-07-27 06:09] #189 closed

[2017-07-27 07:10] kittaakos commented on #329
@hexa00, all right, I give it a try on your branch.

[2017-07-27 07:39] kittaakos commented on #329
I did the followings but it failed:
[code]

I had the below error:
[code]

Did I mess up something or your branch is not up to date. If the latter one, please update, ping me, and I try it out once more. Thanks!

[2017-07-27 07:45] akosyakov commented on #329
Should be `yarn`?

[2017-07-27 07:48] kittaakos commented on #329
Good point, but if it is yarn, that would mean your documentation related changes are already in that branch too, right? Let's wait for the update from @hexa00.

[2017-07-27 09:37] UdoW commented on #316
Do you use a proxy?

[2017-07-27 09:42] akosyakov opened #345 "Support transitive extensions"

[2017-07-27 09:44] akosyakov opened #346 "Provide a script to package the electron example"
As a part of the task, the express server should be started in the separate process. One should investigate what kind of process it should be. Look at what vscode does.

[2017-07-27 09:44] UdoW opened #347 "How to change servername and port?"
How can I change the servername and port of the Theia examples?

At the moment everything is started from localhost and port 8080.

I need to change the server side to a dedicated server name and port.

[2017-07-27 09:46] akosyakov commented on #347
For the webpack dev server or for the express server?

[2017-07-27 09:47] akosyakov commented on #347
For the former you should change environment variables, look at `webpack.conf`. For the latter you should update the yo config and rerun `yo theia:browser --force`.

[2017-07-27 10:00] UdoW commented on #347
How to call yo?

[2017-07-27 10:01] akosyakov commented on #347
from the cli: https://www.npmjs.com/package/generator-theia#getting-started

[2017-07-27 10:14] UdoW commented on #347
yo still does not work.

[2017-07-27 10:14] akosyakov commented on #347
`npm install -g yo`

[2017-07-27 10:16] akosyakov opened #348 "Remove `jsonc-parser` dependency from the parent package"
See https://github.com/theia-ide/theia/blob/master/package.json#L6

It should be moved to `extension.package.json` of `preferences` package.

[2017-07-27 10:47] UdoW commented on #347
I did this under Debain 8 and my user has no sudo rights so I had to install it with my admin user. But my normal user cannot see the yo command.

I will try it under my Windows machine.

[2017-07-27 11:11] UdoW commented on #347
Under Windows the yo installation worked and I could change the host name.

But from another machine in the same network their is still no access to my local theia instance. The browser on the other machine tells me:

ERR_CONNECTION_REFUSED

[2017-07-27 12:42] UdoW opened #349 "How to set the root-dir option?"
I try to start the browser example in another root dir.

I saw the "missing" option --root-dir an tried to set a new one with:

yarn run start -- --root-dir="absolute path"

But it does not recognize my option. How do I add the option --root-dir to the yarn call?

[2017-07-27 12:55] kittaakos commented on #349
Thanks for asking @UdoW, it seems to be broken.

When I start the application with `yarn run start -- --root-dir=/Users/something`, then the `arg` variable in the `default-workspace-server` is `undefined` so it falls back to the `cwd`.

If I log the `process.argv` to the console I can see the following:
[code]

None of them is my path for sure. I think it is not even passed into the node process.

[2017-07-27 14:09] akosyakov commented on #318
@marcdumais-work I like an idea to enable it only for VS Code till we almost don't have this error in the repo instead of fixing 400 places at once.

[2017-07-27 14:27] svenefftinge opened #351 ""Upload/Copy Files into Workspace" Command"
Users should be able to copy local files and folders into the development workspace.

[2017-07-27 15:01] #348 closed

[2017-07-27 15:29] marcdumais-work commented on #343
I got the following answer from sonarcloud.io support:

"We don't yet provide a support for TypeScript but this support should come in September with the release of our upcoming SonarTS code analyzer https://github.com/SonarSource/sonarts."

So we can wait a bit before trying to use this SonarQube service to get the reports. We can still in the meantime see about providing an alternative,  wider-r

[2017-07-27 16:40] marcdumais-work commented on #351
I did a quick search and found the following tutorial that might be interesting:
https://www.thepolyglotdeveloper.com/2016/02/upload-files-to-node-js-using-angular-2/
https://scotch.io/tutorials/express-file-uploads-with-multer

[2017-07-27 16:53] ainslec commented on #316
No, I don't use a proxy. Direct internet connection.

This yarn program failing silently seems to be a bit of a design flaw.

[2017-07-27 23:37] hexa00 commented on #329
The branch was rebased on the 21 of July so yarn is there... not sure about all the doc

[2017-07-27 23:38] hexa00 commented on #329
@kittaakos I just noticed you cloned but did not switch branch...
You need to use branch: gdb-console

[2017-07-28 00:17] hexa00 commented on #351
Seems to me it would be better to have a dedicated service for that outside of theia... like ssh, samba, ssh-fs ... whatever...
And maybe an easy way to have the user use these services ?

[2017-07-28 06:57] svenefftinge commented on #351
Which security concerns?
Please note that we should find a way that works locally (electron) and remotely.
I'd prefer a drag 'n drop feature, so I could drag local files onto the navigator, like I can do in google drive.

[2017-07-28 07:34] kittaakos commented on #329
@hexa00, could you double check [here](https://github.com/theia-ide/theia/issues/329#issuecomment-318284529)? I must be blind.

[2017-07-28 08:33] UdoW opened #354 "Link missing in Architecture.md file"
In the doc file https://github.com/theia-ide/theia/blob/master/doc/Architecture.md#contribution-points the mentioned link does not exist.

Missing link:
https://github.com/theia-ide/theia/blob/master/src/application/browser/opener-service.ts

[2017-07-28 12:09] #347 closed

[2017-07-28 12:24] IcyDoor commented on #328
I'm getting the same access errors aswell. I'm getting it on a linux system so i think that its not just a windows issue.
Attached logfile:
[logfile.txt](https://github.com/theia-ide/theia/files/1182992/logfile.txt)

[2017-07-28 13:15] marcdumais-work commented on #328
Hi @IcyDoor ,

From the log, it seems that the build is trying to access things under the /root folder, which non-root users normally do not have permissions:
[code]
Looking on my machine , I do not have that file under /root, but instead under my own user.

Is your nodejs installed globally for the system? i.e. through an OS package (rpm, .deb)? If so you might try nvm (https://github.com/creatio

[2017-07-28 13:47] hexa00 commented on #329
@kittaakos use yarn

[2017-07-28 16:33] marcdumais-work opened #356 "[quality] consider adding more rules to dev.tslint.json"
In PR https://github.com/theia-ide/theia/pull/353, we introduced a second tslint config file, that extends the one we use for compilation. The new config is used by vscode to highlight broken rules in the editor, encouraging contributors to respect the contained rules, going forward.

Now might be a good opportunity to go crazy and try all the dev rules we think are, on balance, more useful than t

[2017-07-28 23:14] hexa00 commented on #351
It may look bogus as security but some would like to avoid having a direct http link to the files for example to download the workspace outside of theia.
I thought maybe the interface for upload would allow that too...

And the feature may be more complex then it looks, how to handle big files, incomplete transfers, progress...

I mean maybe all of that doesn't have to be baked-in to theia directl

[2017-07-28 23:20] ainslec commented on #328
Perhaps someone could build an dev windows version? And if so, they could report the version of their tooling. I'm using git bash mintty 2.6.2, node v7.10.0, npm v4.2.0, yarm 0.27.5.

[2017-07-29 08:27] #318 closed

[2017-07-29 12:46] #307 closed

[2017-07-31 04:29] UdoW opened #359 "How can I add an extension to the e.g. browser example?"
I want to add an extension to Theia and do not find any documentation on how to do it.

There are some questions to this:

- Where and how should I start?
- How is the directory layout to be used?
- How can I develop locally?
- What development tools do I need if any?
- How to packetize my extension?
- How to deploy my extension in another Theia installation?

[2017-07-31 06:48] akosyakov commented on #359
Please have a look at doc directory, it contains architecture and development documentation plus at README in generator-theia. It should cover first 4 questions.

Last 2 questions are work in progress. An idea that you will publish a node package to npm with a special keyword, by default `theia-extension`, and special property `theiaExtensions` pointing to entry modules. Such package can be instal

[2017-07-31 07:01] akosyakov commented on #359
Also have a look at yangster: https://github.com/yang-tools/yangster?files=1. It adds [a new extension](https://github.com/yang-tools/yangster/blob/master/theia-yang-extension/package.json) and use it in [a browser app](https://github.com/yang-tools/yangster/blob/master/yangster-app/theia.package.json) together with other theia extensions. For local node resolution you should provide a yo config a

[2017-07-31 07:29] UdoW commented on #359
Hmm, I am a beginner in everything here and I do not understand how the files in the doc folder could help me to get started. Sorry, the doc files are for real experts only.

[2017-07-31 08:55] akosyakov commented on #359
You should follow [Developing docs](https://github.com/theia-ide/theia/blob/master/doc/Developing.md) to get started. Please ask concrete questions about individual steps in this document if something is not clear.

The repo has multiple packages:
- generator-theia is [yo generator](http://yeoman.io/) for theia based apps
- `packages` folder contains core package and extensions to it
- `examples`

[2017-07-31 09:38] akosyakov opened #361 "Rearrange apps' scripts to allow passing port and host as arguments via yarn"

[2017-07-31 09:43] IcyDoor commented on #328
@marcdumais-work Yeah, i thought so too. But the docker build is running as root. I even tried manually changing the permissions for the file acces and re-ran yarn manually as root. Still got the same access error for the same file :/
Will give nvm a shot though. Thanks for the response :)

[2017-07-31 13:06] ainslec opened #363 "Build not working with win32 or win64 platform (Git Bash)"
Following instructions from the README.md:

![h5](https://user-images.githubusercontent.com/201870/28778898-2805b006-75f9-11e7-8918-21524ec6bcda.png)

The following occurs:

![h6](https://user-images.githubusercontent.com/201870/28778905-2e558b16-75f9-11e7-864e-05cccf8f5342.png)

This remains separate to yarn hanging via the "yarn" command in the same folder in issue #328 which remains unresolved.

[2017-07-31 14:30] marcdumais-work commented on #356
After discussions in the PR #356, there are valid concerns that we are introducing too many rules, generating too many linter warnings, that would distract from feature development.

An alternate approach is to introduce a third tslint config file that contains all potentially useful rules. That new config file would not be used by vscode by default, but could be for users who want-to. This way it

[2017-07-31 15:26] akosyakov commented on #28
I am going to use [npms](https://api-docs.npms.io/) to look up packages instead of `npm search` and http://npmsearch.com/. `npm search` fails to provide up to date information and `npmsearch.com` returns everything that matches at least one of search criteria.

[2017-07-31 21:38] MarkZ3 commented on #363
I only see warnings, no errors? Or I am reading this wrong?

[2017-08-01 06:04] akosyakov commented on #28
Confirmed by npmjs support that there is a delay about 24h in search API + advises how to index ourself: https://github.com/npm/registry/issues/198#issuecomment-319213770

I will still go with npms since it looks like they already do indexing but in the long run we can look into suggested indexing alternatives.

[2017-08-01 09:08] kittaakos commented on #316
During my investigation, I have managed to shrink down the issue into this command which hangs on Windows:
[code]

@UdoW , @ainslec Could you please try out the command from above. Does it terminate for you? Thanks in advance for your help!

[2017-08-01 09:11] kittaakos commented on #316
I was using Win10 in a VirtualBox, and I had run `npm install --global --production windows-build-tools` and added Python27 to the path manually.

[2017-08-01 09:48] kittaakos commented on #316
See: https://github.com/yarnpkg/yarn/issues/3041

[2017-08-01 11:08] marcdumais-work commented on #356
Here's a short list of TSLint rules that I propse we add to dev.tslint.json.

**The following rules enforce items defined in Theia's [coding guidelines](https://github.com/theia-ide/theia/wiki/Coding-Guidelines) :**

enforce having parenthesis around arguments of arrow functions, except if we have a single argument
https://palantir.github.io/tslint/rules/arrow-parens/
"arrow-parens": [
      true,

[2017-08-01 11:18] akosyakov commented on #356
Sounds good, let's give it a try.

[2017-08-01 11:31] marcdumais-work commented on #356
https://github.com/theia-ide/theia/pull/366

[2017-08-01 11:39] akosyakov commented on #356
It would be interesting to play with https://palantir.github.io/tslint/rules/no-inferrable-types/ and https://palantir.github.io/tslint/rules/typedef/. In such way that inferred types are recommended for variables inside method bodies, explicit types are advised for method signatures and for properties anything can be used.

[2017-08-01 11:50] marcdumais-work commented on #356
The following rules we added at the suggesstion of @akosyakov :
Prefer an interface declaration over a type literal (type T = { ... })
https://palantir.github.io/tslint/rules/interface-over-type-literal/
"interface-over-type-literal": true

Suggests to convert () => { return x; } to () => x.
https://palantir.github.io/tslint/rules/arrow-return-shorthand/
"arrow-return-shorthand": [true, "multiline

[2017-08-01 12:03] marcdumais-work commented on #356
See below for an interesting discussion about the use of  "typedef" and "no-inferrable-types" rules together. It seems that no conclusion has been reached yet. One suggestion that looks promising is to deprecate "no-inferrable-types" and add the equivalent as an option of "typedef".

https://github.com/palantir/tslint/issues/711

[2017-08-01 12:16] marcdumais-work commented on #356
Seems like GH doesn't understand the "partially fixes" keyword :)  Re-opening this issue so that we can continue discussing about rules we want to add/tweak.

[2017-08-01 12:18] akosyakov commented on #356
@marcdumais-work https://help.github.com/articles/closing-issues-using-keywords/

[2017-08-01 12:26] marcdumais-work commented on #356
@akosyakov thanks. What if I want to reference an issue but not close it upon merging the PR? Would a reference without one of the "closing" keyword work. i.e. "see #356" in the commit message?

[2017-08-01 12:27] akosyakov commented on #356
yes, should work

[2017-08-01 14:19] kittaakos commented on #316
Finally, I have managed to find a setup which I could use for building and run Theia on Windows. I have reinstalled `yarn` via `choco`. One can check the versions in the full console output here. Please verify the steps.

[code]

[2017-08-01 14:20] kittaakos commented on #328
See: https://github.com/theia-ide/theia/issues/316#issuecomment-319384017

[2017-08-01 14:22] akosyakov commented on #356
`https://palantir.github.io/tslint/rules/no-magic-numbers/` is annoying for testing and well known http codes

[2017-08-01 14:23] kittaakos commented on #363
These are just warnings. `fsevents` is an optional native module only for OS X. Closing issue.

I can. Please see: https://github.com/theia-ide/theia/issues/316#issuecomment-319384017.

[2017-08-01 14:23] #363 closed

[2017-08-01 14:26] ainslec commented on #316
Hello,

It still hangs.

My steps:

1. Bring up git bash shell

![image](https://user-images.githubusercontent.com/201870/28830083-ade12bd6-76cd-11e7-90f8-decc487e2d7a.png)

2. Cd into theia project folder and type in "mkdir tmp && cd tmp && yarn init -y && yarn add fibers && yarn"

![image](https://user-images.githubusercontent.com/201870/28830115-c12cb6f6-76cd-11e7-8f93-710380dcf611.png)

[2017-08-01 14:33] kittaakos commented on #316
@ainslec, thank you for checking that! That is eventually a great news; we can confirm, it is a generic issue with yarn and node-gyp. Here is my proposal: I write it down what I have done to be able to build Theia on Windows. And you could try that out. Does that make sense?

[2017-08-01 14:57] kittaakos commented on #316
Run cmd.exe as an administrator and install `choco` by copy-pasting the command to your console:
[code]

Install `yarn` via `choco`. The `yarn` installation ensures that you will have Node.js and npm too:
[code]

Install Windows build tools. Run PowerShell as administrator and copy-paste the below command:
[code]

Check you versions:
[code]
 I had `v8.2.1`, `5.3.0`, `0.27.5`, `2.0.0`, and `Python

[2017-08-01 15:10] marcdumais-work commented on #356
@akosyakov We could remote that rule. There is also a possible compromise, for rules that are generally good but that we want to have the liberty to break in some specific cases, we have the option disabling that rule selectively, using comments in the code. It's very easy to do so in vscode, using a "fixit".

e.g. in this case add something like "// tslint:disable-xext-line:no-magic-numbers" on t

[2017-08-01 15:16] akosyakov commented on #356
whenever you compare with a number in tests you will need to add this line

[2017-08-01 15:20] akosyakov commented on #356
well there is a way to disable some rules for the whole file: https://palantir.github.io/tslint/usage/rule-flags/

[2017-08-02 13:17] kittaakos commented on #147
I have started to work on this task. (Just to avoid doing the same job twice.)

[2017-08-02 14:36] akosyakov commented on #147
It would be nice to have the badge for windows builds on the main page + enable builds for PRs.

[2017-08-02 14:50] kittaakos opened #368 "FS tests are failing on Windows"
[code]

[2017-08-03 11:17] akosyakov opened #369 "Support transitive extension packages"
Transitive extension packages should be loaded and loading should be done in the topological order. - see https://github.com/theia-ide/theia/pull/430#discussion_r136753538

The generator should list all transitive extension explicitly as dependencies. Transitive extensions should be installed explicitly and uninstall should fail if there are depending extensions.

[2017-08-03 11:29] kittaakos opened #370 "Electron rebuild is broken on Windows"
[code]

[2017-08-03 12:10] kittaakos commented on #356
Can someone please explain to me why I have tons of warnings in the `node-filesystem.spec.ts`? For instance: ```[tslint] unused expression, expected an assignment or function call (no-unused-expression)```. Cheers!

[2017-08-03 12:21] marcdumais-work commented on #356
Looks like this case: https://github.com/palantir/tslint/issues/2614

[2017-08-03 12:41] kittaakos commented on #368
Move test randomly fails on Windows:

[code]

[2017-08-04 05:31] nehashri opened #372 "Unable to theia browser app with external extension"
I am try to write an language extension with theia. I have created a extension package with extension.package.json.
And a example browser module with theia.package.json. The browser module uses the new extension as a local dependency and all other theia modules use npm package (0.1.1 version). The app is building fine but when I start off the example, I am getting an exception in the UI, `Missing

[2017-08-04 05:52] akosyakov commented on #372
It could be related to how we import `reflect-metadata` for `frontend` but I would need to check.

In `src-gen/frontend/index.js`, you can try to move `const { Container } = require('inversify');` down under `const { FrontendApplication } = require('@theia/core/lib/browser');` that `reflect-metadata` is imported before `inversify`.

[2017-08-04 07:41] nehashri commented on #372
@akosyakov I tried pulling down `const { Container } = require('inversify');`.  I am still getting the same error.

[2017-08-04 07:59] kittaakos commented on #372
@nehashri, you can reference a full-blown Theia extension [here]. We have created it for the YANG language. I hope it helps to resolve your issue.

[here]: https://github.com/yang-tools/yangster

[2017-08-04 08:03] akosyakov commented on #372
@nehashri ok, we will need to try out to build an app mixing published extensions with local to reproduce an issue.

[2017-08-04 08:32] nehashri commented on #372
@kittaakos in the yang extension, theia is built as a submodule. That will is not what I am looking for, as I will not be able to use the theia's published extensions. We would like to use theia's published extensions instead of building it from source every time.
@akosyakov that's good. Hope this is resolved soon.

[2017-08-04 18:43] #354 closed

[2017-08-04 18:43] epatpol commented on #354
Thank you for reporting the issue, I've just updated the doc :)

[2017-08-04 18:48] epatpol commented on #359
@UdoW as theia is still in its early stages a lot of documentation is still to be written (add that to the fact that everything is moving/updating quickly), so looking at the existing code is the best way to contribute something yourself. The current documentation should help you but I don't think it's currently in a state where it's the best entry point for getting into theia.

If you need help/h

[2017-08-04 18:55] epatpol opened #373 "Add a link to the gitter channel directly in the readme.md"
I could do it myself directly but I wasn't sure if everybody agreed to have that there. It might be easier then for developers looking into theia to find easy information without having to open an issue. Something like

# Discussion
"For any questions related to theia (development, architecture, bugs), there is a  [gitter](https://gitter.im/theia-ide/theia) channel. Feel free to also open issues o

[2017-08-04 19:27] epatpol commented on #340
As we now have it downloaded locally in the git repo, can we consider this issue "fixed"?

[2017-08-05 00:45] marcdumais-work opened #374 "[coverage] Take advantage of generated lcov.info file in each package"
We already generate line coverage information when we run the unit test suite. There's a nice vscode extension, [VSCode LCOV](https://github.com/alexandrudima/vscode-lcov), that permits taking advantage of these to highlight source code as covered (green) or uncovered (red). The feature can be enabled or disabled easily by accessing the _LCOV Menu_ command (Shift-Ctrl-P, "LCOV Menu" -> (Enable|Dis

[2017-08-05 06:23] rcjsuen opened #376 "Provide a Dockerfile for testing theia"
Is the Theia team planning to provide a Dockerfile for testing Theia?

I hit some bumps while testing on [PWD](http://labs.play-with-docker.com/) but eventually got a Dockerfile that seems to get things up and running for me. You can use Vim to create the Dockerfile in your PWD node.

[code]
[code]
Once the application has started, you can use the `3000` link at the top of PWD to open up Theia in

[2017-08-05 06:26] rcjsuen commented on #328
@IcyDoor I faced the same permission problem when trying to build with Docker. I ended up creating a new user and "starting from scratch" that way. Please see #376 if you are interested in my Dockerfile.

[2017-08-05 06:30] svenefftinge commented on #373
We have the gitter badge already on top of the readme.

[2017-08-05 13:11] epatpol commented on #373
You're right, wow I guess I really should check those badges more often. Thanks!

[2017-08-05 13:11] #373 closed

[2017-08-05 18:16] epatpol commented on #376
I don't know if it was planned or not, but I definitely think it's a good idea to have one working so thanks for that! I think it could be really useful to have a clean environment for the multiple tests theia has.

[2017-08-05 21:45] marcdumais-work commented on #376
@rcjsuen awesome. I tried it and it worked nicely.

I think the way forward is for you to submit this as a pull request. If not already done, please read file CONTRIBUTING.md in Theia's root.

[2017-08-06 03:59] rcjsuen commented on #376
@marcdumais-work I'm not sure that it makes sense for this particular file to exist in the repository because the code has already been cloned and then you're cloning it again when Docker actually builds the image. However, I suppose there's no way around cloning the code since it's just testing the browser example and whatever bits you end up publishing to npm is probably not going to include the

[2017-08-06 04:12] epatpol commented on #376
I agree, it's usually in another repo for that reason :)

[2017-08-07 08:25] IcyDoor commented on #328
@rcjsuen Fantastic! My re-build was successful when using your method. Thanks alot :)

[2017-08-07 08:51] nehashri opened #377 "Register a new menu action in order"
I would like a feature where I can register a new menu action. Also for the menu action to take precedence over all other menu actions specified in the group.
For example, currently in the 'New File Menu' group we have
[code]
I would like to add a new menu action `My Menu Action`. At present, when added this will appear in the following order in 'New File Menu' group
[code]
But I would like this a

[2017-08-07 09:18] akosyakov commented on #377
Menu items are sorted in the alphabetical order using the following properties `order`, `label`, `command.label` or `command.id`. If `order` is undefined then `label` used and so on.

You should provide a label or an order attribute which is greater in the alphabetical order than `New File`, something like:
[code]

[2017-08-07 09:33] svenefftinge commented on #351
What do you mean with baked-in? Of course is it should not be in `core`or mandatory at all, but I'm pretty sure it is an important feature to get your local files into a workspace.

[2017-08-07 09:39] svenefftinge opened #378 "[widget tabs] Name doesn't fit"
We need to deal with long widget names, that don't fit the default size of a tab.
Also when opening many widgets in the same dock panel, the tab's size is evenly shared, making it hard to tell what widgets you have.

<img width="804" alt="screen shot 2017-08-07 at 11 38 22" src="https://user-images.githubusercontent.com/372735/29021206-04ea4764-7b65-11e7-9245-9a05a0d1b611.png">

[2017-08-07 10:52] marcdumais-work commented on #376
@rcjsuen It's possible to use wget to download a file from GitHub, without cloning the whole repo. e.g. :
[code]
We can keep the door open to future refactorings and re-organizations (like moving Docker files to a separate repo). But as a first step I think we need to have your work officially submitted to the project in a traceable way.

[2017-08-07 11:12] nehashri commented on #377
@akosyakov, that works. Thanks a lot :)

[2017-08-07 11:29] #377 closed

[2017-08-07 11:41] hexa00 commented on #351
Yes it is important.

I just mean we should use http or whatever under the hood, and not go through a theia api for file upload. I guess that went without saying..

And if we do use http make sure we get permissions/max file size stuff right...

[2017-08-07 11:54] hexa00 commented on #340
@epatpol The real solution would be to fail more gracefully but I don't see that happening until we get an extension system that enables runtime extensions.

And the examples are examples only...

So I'm closing this one for now. Reopen if it's still a problem.

[2017-08-07 11:54] #340 closed

[2017-08-07 13:40] kittaakos commented on #329
I have tried it out again, but the tests are failing:
[code]

[2017-08-07 13:40] kittaakos commented on #329
I have installed it with `yarn`, it worked fine. Then I called `yarn run test` in the root.

[2017-08-07 13:47] kittaakos commented on #329
Although that single test is failing, for me only one single test is being executed:
[code]

[2017-08-07 13:58] kittaakos commented on #147
PR: #380

[2017-08-07 14:46] jdhananjaya opened #382 "Fails to run yarn on yeoman-generator"
I cloned a new repo, installed the pre-reqs and ran yarn.
Node version : 7.10.0
yarn version : 0.27.5
npm version : 4.2.0
nvm --version : 0.33.2

[error_log.txt](https://github.com/theia-ide/theia/files/1205145/error_log.txt)

[2017-08-07 14:57] kittaakos commented on #382
I will try it out on Ubuntu 16.04 VirtualBox image.

[2017-08-07 15:20] hexa00 commented on #329
Yes that is the problem you will see there's other *spec.ts in the gdb directory...

These tests should run but do not.
[code]

[2017-08-07 15:36] kittaakos commented on #382
@jdhananjaya, I was unable to reproduce your issue. It worked for me.
 - I have installed yarn from [here](https://yarnpkg.com/lang/en/docs/install/#linux-tab).
 - I have also installed Node.js 8 from [here](https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions).
 - Finally, I ran the tldr script from [here](https://github.com/theia-ide/theia/blob/master/doc/D

[2017-08-07 15:42] kittaakos commented on #329
OK, got it finally. Let me check.

[2017-08-08 07:57] akosyakov commented on #345
Duplicate of https://github.com/theia-ide/theia/issues/345

[2017-08-08 07:57] #345 closed

[2017-08-08 08:51] kittaakos commented on #382
@jdhananjaya, based on [your comment](https://gitter.im/theia-ide/theia?at=5988d063614889d47528d06f) from Gitter; can we close this issue? Thanks!

[2017-08-08 08:55] #147 closed

[2017-08-08 08:57] kittaakos commented on #370
Closed va #381.

[2017-08-08 08:57] #370 closed

[2017-08-08 08:57] kittaakos commented on #368
Closed via #381.

[2017-08-08 08:57] #368 closed

[2017-08-08 09:22] kittaakos commented on #329
It's a bug. I will take care of it.

[2017-08-08 10:52] kittaakos commented on #329
PR: #383.

[2017-08-08 10:54] kittaakos commented on #316
@UdoW, @ainslec Have you eventually managed to build Theia on Windows? We have enabled the Windows CI for the project, could you please look into the configuration and check the versions if you still have problems?

[2017-08-08 11:26] kittaakos commented on #165
Great idea! Please submit a new, separate issue for all the cool enhancements for the Git integration. We can collect your and other's ideas as well there, and we can spare this ticket for the basic support. Thank you!

[2017-08-08 11:43] kittaakos commented on #152
@akosyakov, @epatpol Can we close this ticket? It seems to be obsolete.

[2017-08-08 11:45] akosyakov commented on #152
Tests were fixed long time ago :)

[2017-08-08 11:45] #152 closed

[2017-08-08 15:29] hexa00 opened #384 "Document tests directory structure"
As discussed on gitter the test directory structure should look like:
src/node/foo.ts: code
src/node/foo.spec.ts : Test code
src/node/test/help-me-test.ts: Helper to test code
src/node/foo.slow-spec.ts: Integration (slow running test (integration))
src/node/foo.ui-spec.ts: ui tests
test-ressources/ : Static ressources like config files or scripts

[2017-08-08 15:42] hexa00 commented on #384
From @akosyakov
[code]

[2017-08-08 15:44] #329 closed

[2017-08-08 16:59] hexa00 commented on #384
See PR #385

[2017-08-09 05:28] nehashri commented on #372
Any updates on this issue?

[2017-08-09 19:04] #374 closed

[2017-08-10 15:11] hexa00 commented on #384
PR is merged

[2017-08-10 15:11] #384 closed

[2017-08-11 13:32] jdhananjaya commented on #382
@kittaakos yes. This can be closed.

[2017-08-11 13:42] #382 closed

[2017-08-15 13:23] svenefftinge commented on #376
+1 for having it within this repo.

[2017-08-15 13:47] svenefftinge commented on #361
It doesn't work, because we start multiple processes at the same time and `yarn`doesn't know for which process the argument is meant to be. Hard coding within the script works well.

If someone need to have it, you need to remove all other commands (e.g. `bunyan`), then it works.

[2017-08-15 13:47] #361 closed

[2017-08-15 15:23] svenefftinge opened #394 "Simplify application scripts"
I'd like to simplify the scripts for our applications and with that remove the dev-server integration.
I think we could go with something as simple as this:
[code]

Compare with the currently generated one:
[code]

[2017-08-16 08:52] svenefftinge commented on #182
We have the second part already ([see](https://github.com/theia-ide/theia/blob/master/packages/editor/src/browser/editor-keybinding.ts))

This ticket should be about, allowing a user to override those keybindings in a configuration file (keymapping).
In Theia a [keybinding](https://github.com/theia-ide/theia/blob/master/packages/core/src/common/keybinding.ts#L15) consists of a `keycode` a `command

[2017-08-16 08:55] svenefftinge commented on #95
The outstanding bug has been fixed by the vs code team.

[2017-08-16 08:55] #95 closed

[2017-08-16 09:11] svenefftinge commented on #105
We should keep the KeybindingContext (and registry). It nicely allows to contribute contextual keybindings, especially for users through keymaps.

[2017-08-16 09:12] svenefftinge commented on #378
We should enable hovers.

[2017-08-16 14:15] kittaakos commented on #79
It is broken again. Steps to reproduce:

Run the tldr electron script.
[code]

It works, then do `cd ../browser && yarn run start`. The application does not start anymore.

[code]

[2017-08-16 15:07] hexa00 opened #398 "yarn.lock is ignored"
Because of https://github.com/lerna/lerna/issues/852 yarn.lock is ignored and thus the dependencys are not managed properly

[2017-08-16 15:08] hexa00 commented on #79
This is expected

You need to do: `cd ../browser && yarn rebuild:web && yarn start`

[2017-08-16 15:09] hexa00 commented on #79
Since we have hoisted dependencies now with lerna we can only have 1 version of the native modules at a time so you need to rebuild when switching between the two.

[2017-08-16 15:11] kittaakos commented on #79
The example scripts seem to be inconsistent; the electron part has the rebuild step, the web one does not.

[2017-08-16 15:12] hexa00 commented on #79
Right it since they are built for the web 1st it assumes it's already like that.
Might be best to add the rebuild just in case anyway

[2017-08-16 15:24] kittaakos commented on #79
This seems to be incorrect, but still a very good hint. So I did the following:
`cd ../.. && yarn run rebuild:browser && yarn run rebuild:electron && cd examples/electron/ && yarn run start` but I can still see the error. So what should be exactly the solution?

[2017-08-16 15:27] kittaakos commented on #79
The rebuild does not seem to work, I can see something is happening when either invoking `yarn run rebuild:browser` or `yarn run rebuild:electron` but I have the same error in both cases.

[2017-08-16 16:27] hexa00 commented on #79
Oops yes it's yarn run rebuild:browser , not web sorry

When you do `yarn run rebuild:browser` does it say ?:
[code]
native node modules are already rebuilt for browser

[2017-08-16 16:28] hexa00 commented on #79
I happened to me once that the modules were saying that but it wasn't true for some reason, I did a git clean -fdx && yarn && yarn run rebuild:whatever started to work again...

There might be an intermittent issue there...

[2017-08-17 12:18] hexa00 commented on #398
Actually I'm not so sure about that now...

I don't know what triggers a yarn.lock update, but it doesn't seem to trigger all the time.

Also maybe we should use  --npm-client=yarn

[2017-08-17 12:44] #394 closed

[2017-08-19 17:49] rcjsuen commented on #376
Where should this Dockerfile live? In `/` or `/examples/browser/`?

[2017-08-21 15:57] epatpol commented on #376
I guess it makes sense, as it's basically wrapping the browser example.

[2017-08-21 17:08] marcdumais-work commented on #376
Adding it under examples/browser sounds good to me. I think it would be nice to also add the build/run instructions, from the original post above, to help users use the dockerFile. I am not sure if it's customary to add such instructions in the dockerFile itself (as comments) or to have a separate file for that.

Thanks @rcjsuen !

[2017-08-21 18:16] hexa00 opened #404 "[electron] Can't do New File or New Folder"
In the electron example New file and New folder from the main menu are grayed out.

However I can right click in the directory and do New file/folder.
In the browser example is is fine too.

[2017-08-21 19:12] rcjsuen commented on #404
I see this in the browser example when running in Docker. It goes away after I click the 'Files' side pane because then a folder gets selected and the menu items have presumably responded to that selection.

[2017-08-21 19:16] hexa00 commented on #404
Yes, that's true.

However in electron even clicking the folder doesn't help.

[2017-08-21 19:21] rcjsuen commented on #404
Oh, I thought you meant it was fine in the browser example. I guess I misunderstood something here.

[2017-08-21 19:29] hexa00 opened #405 "New File or Folder should always be availabe from the menu"
At the moment in the browser example you have to click on the Files side pane to be able to click on the New file or New folder menu item.

This should always be available.

Also as described in #404 in electron it just doesn't work whatever you do.

[2017-08-21 19:37] rcjsuen commented on #376
I opened #406 to add the Dockerfile to the `/examples/browser/` folder.

[2017-08-22 07:40] kittaakos commented on #316
Meanwhile, we have managed to build and run Theia on Windows, and besides that, we have also enabled the build on the Windows CI.

Due to no interests, I am closing this ticket now. Please, reopen or submit a new ticket if you still have issues on Windows. But first, please check the documentation [here](https://github.com/theia-ide/theia/blob/master/doc/Developing.md#building-on-windows).

[2017-08-22 07:40] #316 closed

[2017-08-22 09:52] kittaakos opened #407 "Discuss and declare the way how we handle transitive dependencies in Theia extension"
Currently, for instance, the `monaco` Theia extension does not declare transitive dependency to the `inversify` library but uses it. Right now, it does not do any harm and works as expected due to the dependency hoisting (in Lerna) but in the future removing dependencies from the core part might break client extensions.

Discuss how to deal with these. Explicitly declaring dependencies in the exte

[2017-08-22 10:49] #376 closed

[2017-08-22 13:17] marcdumais-work commented on #183
Hi @svenefftinge

I think I originally misinterpreted your comment above. When you said "Could we not do this through #184?", did you mean to suggest that we could/should generalize build processes, to also handle other types of processes, like launching?

We have had some recent discussions about doing something like that, taking inspiration from vscode. We are thinking that we could have a "Task

[2017-08-22 13:34] aaronbartell opened #408 "Shortcut Keys"
It would be great to have shortcut keys for things like the following:

- Opening a new terminal tab
- Next Tab, Previous Tab

[2017-08-22 13:42] hexa00 opened #410 "net.Server is limited to 10 listeners"
Since starting a websocket server adds a listener on the 'upgrade' event of the
http server we need to increase the default 10 listener limit on  net.Server.

It gives erros like:

[code]

[2017-08-22 13:43] hexa00 commented on #410
Fixed by #409

[2017-08-22 14:36] aaronbartell opened #411 "Authentication"
It would be great if there were mechanisms to automate authentication of the browser-based Theia so it can be accessed in a secured fashion via API.

My scenario for using Theia is in a bigger web application that has a need for a file explorer, code editor, and terminal.  In my web application a user will click a button to open Theia to their specific container.  At that point I will check to see

[2017-08-22 18:25] hexa00 commented on #411
We wanted to leave this out of Theia and for example this technique: https://github.com/auth0/nginx-jwt

Leaving the auth part to the webserver / reverse proxy.

Does that look like a possible path to you ?

[2017-08-22 18:54] aaronbartell commented on #411
In my scenario I will have a single machine with many of instances of Theia Node.js server running. Each Theia server could belong to a different user and would need different credentials.

I briefly read through `nginx-jwt` and I believe I would need a separate Nginx server for each instance of Theia for my scenario.  I'd prefer to not add Nginx to the stack of each container.

If you would like

[2017-08-23 00:57] hexa00 commented on #411
We have not considered authentification much yet.
So anything is possible but we would like to keep it out of the Theia code as much as possible.

Your idea sounds possible it would need to be investigated more. We're open to proposals...

Note also that I used nginx-jwt only as an example, I thought for a production deployment one would use another server than express anyway in a reverse proxy co

[2017-08-23 05:46] svenefftinge commented on #183
yes, I wanted to suggest something in that direction.

[2017-08-23 10:39] kittaakos opened #412 "Fix typos in placeholder test cases"
[code]

Fix `wihout` and `genarated`.

[2017-08-23 11:05] kittaakos opened #413 "VSCode's formatter and the TS linter rules are not in sync"
It happens with the destructuring assignments.

`Unformatted code:`
[code]

`Formatted code:`
[code]

After formatting the code once can see a warning at `[head,]` from the linter.

[2017-08-23 12:52] aaronbartell commented on #411
I will have hundreds of users on a single instance of the operating system, each operating in their own container(n1).  Each container has a browser-based IDE/terminal that the user can navigate to from their dashboard.  When they click on the dashboard link I start up the IDE/terminal and only allow the user in if they have the correct HTTP Basic Authentication credentials.  Each container needs

[2017-08-23 13:49] svenefftinge commented on #411
Could you explain why IoC should not be used here?

[2017-08-23 14:18] aaronbartell commented on #411
I probably shouldn't have opened that can of worms given my limited understanding of Theia's implementation of IoC.

**My perspective (which may be incorrect):** To have IoC you usually need an interface that declares what an eventual implementation of an interface (OO interface) needs to look like.  For example, Theia currently has the [Clipboard Service](https://github.com/theia-ide/theia/blob/5

[2017-08-23 14:34] svenefftinge commented on #411
That's fine, we can think and explore together. I just wanted to understand your concerns regarding IoC.
In fact we have something called a [`BackendApplicationContribution`](https://github.com/theia-ide/theia/blob/master/packages/core/src/node/backend-application.ts#L14) that gives you a callback to configure express. Wouldn't that be sufficient?

[2017-08-23 14:35] svenefftinge commented on #407
I vote for explicitly adding dependencies that are directly used.

[2017-08-23 15:00] #87 closed

[2017-08-23 15:26] aaronbartell commented on #411
Could you confirm whether my understanding of BackendApplicationContributions is correct... when Theia starts it will iterate through the `./packages` directory to load extensions**; for example, it will load `./packages/terminal`.  If that's correct then the challenge I have is inserting Websocket authentication into the _existing_ terminal communication; same with the editor, though I can't seem

[2017-08-23 17:22] hexa00 commented on #411
A contribution is one implementation of an interface that is to be called in a certain context.
Multiple contributions for a particular context can be called such that all registred contributions are called for a specific contribution context.

For example: BackendApplicationContribution is defined in `backend-applications.ts`.

On creation of the BackendApplication (on app startup) all the Backen

[2017-08-23 17:23] hexa00 commented on #411
Note however that an extension could use a path other than services...
Maybe we would need a registry of such routes

[2017-08-23 17:26] hexa00 commented on #410
This is now merged.

[2017-08-23 17:26] #410 closed

[2017-08-23 17:28] hexa00 commented on #407
I'm not sure how to enforce that however.. ideas?

[2017-08-23 18:40] aaronbartell commented on #411
Great explanation (one for the wiki) and thanks for giving me a place to start.

[2017-08-23 20:13] epatpol commented on #182
Thanks for the comments @svenefftinge,

I saw that the second part is already implemented. I was thinking about adding a keybindingprefservice (name subject to change) that would listen to the keybindings.json located in one's home directory (reusing what was done in the preferences). The format would be
[code]
There's just something that I'm not sure how to do right now, I noticed that the keybin

[2017-08-23 21:03] svenefftinge commented on #182
Yes, something like that.
In addition, also the keybinding context id should be included in the json file.

[2017-08-23 21:04] svenefftinge commented on #182
See https://github.com/theia-ide/theia/blob/master/packages/core/src/common/keybinding.ts#L35

[2017-08-24 13:21] hexa00 commented on #107
Indeed I think what we want more is to have Units test that can run in the browser context.

At the moment we only have those for node.

I'm looking at https://github.com/testem/testem with https://github.com/testem/testem/tree/master/examples/coverage_istanbul and possibly jasmine + https://github.com/jasmine/gulp-jasmine-browser

The idea would be to have  test suite that can:
 - Run node unit t

[2017-08-24 13:25] hexa00 opened #415 "Redesign our test suite tooling"
The idea would be to have test suite that can:

-   Run node unit tests
-   Run browsers unit tests in chrome and possibly others
-   Support LCOV output code coverage for node and browser tests

I'm looking at https://github.com/testem/testem with https://github.com/testem/testem/tree/master/examples/coverage_istanbul and possibly jasmine + https://github.com/jasmine/gulp-jasmine-browser

Note al

[2017-08-24 13:26] hexa00 commented on #415
See also #107

[2017-08-24 13:27] hexa00 commented on #415
Notes from my research:

 - We can now use chrome headless rather then PhamtomJS so let's use that
 - We can continue to use istanbul for code coverage I think
 - I'm not sure we we need to switch from mocha to jasmine but jasmine chrome headless seems better

[2017-08-24 13:34] akosyakov commented on #407
I don't see an issue here. `@theia/monaco` depends on `inversify` transitively via `@theia/core`. It should work even without Lerna.

[2017-08-24 13:46] hexa00 commented on #407
I think he means it what if some extension has a transitive dependency to something via `@theia/core` and we remove for some reason that dependency in core.

Of course it's not a problem with inversify but.. something else might be an issue?

[2017-08-24 13:51] akosyakov commented on #407
I think it should be resolved when it happens for some dependency not generally.

Otherwise consider a dependency to `@phosphor/widgets` from `@theia/core` that transitively imports 10 other phosphor packages, with explicit declaration we should duplicate all of them in all extensions and make sure that all versions in sync. Right now it is just one dependency in `@theia/core`.

[2017-08-24 13:55] akosyakov commented on #415
I have not looked at jasmine, but please have the following concern in mind: We had an experience with karma in another project. Karma tests require the presence of DOM. It turned out that it is really hard to run and debug such tests, e.g. I don't have an idea how to debug an individual DOM-based test from VS code.

So instead of testing UI components with the real DOM and using karma, PhamtomJS

[2017-08-24 13:55] hexa00 commented on #407
The idea would be to have only direct dependencies explicit (anything your code does import on directly) ... so if your code uses phosphor you only include phosphor not it's dependencies...

I do agree that the versioning might be an issue.